﻿@model  IGFoodProject.ViewModel.ViewOthersMrr
@{
    ViewBag.Title = "Edit Mrr";
}
<style>
    #manuallist {
        padding: 10px;
    }

    .form-control {
        height: calc(1.7rem + 2px);
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">

                        <div class="row">

                            <div class="col-md-6">
                                @if (ViewBag.IsApprove == 0)
                                {
                                    <h3>
                                        Edit (
                                        <span id="txtMrrNo"></span> )
                                    </h3>
                                }
                                else
                                {
                                    <h3>
                                        Approve (
                                        <span id="txtMrrNo"></span> )
                                    </h3>
                                }


                            </div>
                            <div class="col-md-6 text-right ">
                                <a class="btn btn-outline-warning" href="@Url.Action("MRRListindex", "OthersMrr", new { fromdate = (DateTime?)null, todate =(DateTime?)null, mrrNo =0, supplierId =0, itemId =0})">

                                    <span class="fa fa-list"></span>Mrr List

                                </a>
                            </div>

                        </div>



                    </div>
                    <br />

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">


                                <div class="form-group" id="divSupplier">

                                    <label for="txtSupplier" class="control-label col-md-4">Supplier:</label>
                                    <div class="col-md-8">
                                        <span id="txtSupplier"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divPONo">
                                    <label for="txtPurchaseOrderNo" class="control-label col-md-4">PO No:</label>
                                    <div class="col-md-8">
                                        <span id="txtPurchaseOrderNo"></span>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divMrrDate">
                                    <label for="txtMrrDate">Mrr Date:</label>
                                    <input type="text" id="txtMrrDate" class="form-control" />
                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divVehicleNo">
                                    <label for="txtVehicleNo">Vehicle No:</label>
                                    <input type="text" id="txtVehicleNo" class="form-control" />
                                </div>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-md-3">
                                <div class="form-group" id="divSupplierRef">
                                    <label for="txtSupplierRef" class="control-label col-md-4">Supplier Ref:</label>
                                    <div class="col-md-8">
                                        <span id="txtSupplierRef"></span>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divPODate">
                                    <label for="txtPODate" class="control-label col-md-4">PO Date:</label>
                                    <div class="col-md-8">
                                        <span id="txtPODate"></span>
                                    </div>

                                </div>


                            </div>
                            <div class="col-md-3">


                                <div class="form-group" id="divChallanNo">
                                    <label for="txtChallanNo">Challan No:</label>
                                    <input type="text" id="txtChallanNo" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divVehicleInWeight">
                                    <label for="txtVehicleInWeight">Vehicle In Weight:</label>
                                    <input type="text" id="txtVehicleInWeight" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-3">
                                <div class="form-group" id="divLocation">
                                    <label for="txtLocationName" class="control-label col-md-4">Del. Location:</label>
                                    <div class="col-md-8">
                                        <span id="txtLocationName"></span>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divAddress">
                                    <label for="txtDeliveryTo" class="control-label col-md-4">Del. Address:</label>
                                    <div class="col-md-8">
                                        <span id="txtDeliveryTo"></span>
                                    </div>


                                </div>


                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divChallanDate">
                                    <label for="txtChallanDate">Challan Date:</label>
                                    <input type="text" id="txtChallanDate" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divVehicleOutWeight">
                                    <label for="txtVehicleOutWeight">Vehicle Out Weight:</label>
                                    <input type="text" id="txtVehicleOutWeight" class="form-control" />
                                </div>
                                <div class="form-group" id="divLabResult">
                                    <label for="txtLabResult">Lab Result:</label>
                                    <input type="text" id="txtLabResult" class="form-control" />
                                </div>
                            </div>



                        </div>

                    
                    </div>
                    <br />

                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body">
                                @*<h4 class="text-center" style="width: 100%;background-color: #007bff;color:black"> Items To Receive</h4>*@
                                <div class="table-responsive">
                                    <div class="col-md-12">
                                        <table id="myTable" class="table table-bordered table-striped table-hover">
                                            <thead>
                                                <tr>

                                                
                                                    <th class="text-center" style="width:20%">Item Description</th>
                                                    <th>PO Qty</th>
                                                    <th>Unit</th>
                                                    <th>Received Qty</th>
                                                    <th>Rest Qty</th>
                                                    <th style="width:10%">Challan Qty</th>
                                                    <th style="width:10%">This Delivery</th>
                                                 
                                                    <th>MFG Date</th>
                                                    <th>Expairy Date</th>

                                                    <th class="text-right" style="width: 5%;display: none">Price</th>
                                                    <th class="text-right" style="width: 5%;display: none">Total</th>

                                                </tr>
                                            </thead>
                                            <tbody id="manuallist"></tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                    <div class="row" style="padding-top: 10px;display: none">
                        <div class="col-md-8">
                        </div>
                        <div class="col-md-4">

                            <div class="form-group row">
                                <div class="col-sm-4">
                                </div>
                                <label for="lblSubTotalAmount" class="col-sm-3 control-label">Sub Total :</label>
                                <div class="col-sm-4">
                                    <input type="number" class="form-control" id="lblSubTotalAmount" readonly>

                                </div>
                                <div class="col-sm-1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top:10px">
                        <div class="col-md-8">
                        </div>
                        <div class="col-md-4">

                            <div class="form-group row">
                                <div class="col-sm-4">
                                </div>
                                <label for="txtTransportCost" class="col-sm-3 control-label">Transport Cost:</label>
                                <div class="col-sm-4">
                                    <input type="number" class="form-control" id="txtTransportCost" aria-describedby="basic-addon3" oninput="limitDecimals(this);CalculateAll()">
                                </div>
                                <div class="col-sm-1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top:10px">
                        <div class="col-md-8">
                        </div>
                        <div class="col-md-4">

                            <div class="form-group row">
                                <div class="col-sm-4">
                                </div>
                                <label for="txtLaborCost" class="col-sm-3 control-label">Labour Cost:</label>
                                <div class="col-sm-4">
                                    <input type="number" class="form-control" id="txtLaborCost" aria-describedby="basic-addon3" oninput="limitDecimals(this);CalculateAll()">
                                </div>
                                <div class="col-sm-1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 10px;display: none">
                        <div class="col-md-8">
                        </div>
                        <div class="col-md-4">

                            <div class="form-group row">
                                <div class="col-sm-4">
                                </div>
                                <label for="lblTotal" class="col-sm-3 control-label">Grand Total:</label>
                                <div class="col-sm-4">
                                    <input type="number" class="form-control" id="lblTotal" readonly>
                                </div>
                                <div class="col-sm-1">
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="row" style="padding-top:10px">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label for="txtSpecialins" class="col-sm-4 control-label">Special Instructions :</label>
                                <div class="col-sm-3" id="divNarration">
                                    <textarea id="txtSpecialins" rows="4" cols="50" style="text-align:left"></textarea>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6 pull-left offset-6">
                            @if (ViewBag.IsApprove == 0)
                            {
                                <button style="margin-left: 27px;" class="btn btn-primary" onclick="Save()">Save Edit </button>
                            }
                            else
                            {
                                <button style="margin-left: 27px;" class="btn btn-primary" onclick="Save()">Approve  </button>
                            }
                           
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- /.row -->
    
        <input id="mrrMasterId" type="number" style="display: none;" value="@ViewBag.MasterId">
        <input id="poMasteId" type="number" style="display: none;" value="@ViewBag.PoMasterId">
        <input id="IsApprove" type="number" style="display: none;" value="@ViewBag.IsApprove">
        <input id="txtSupplierId" type="number" style="display: none;">
    </div><!-- /.container-fluid -->


</section>

@section Scripts
{
    <script>
        $(document).ready(function () {

           LoadDate('#txtChallanDate');
            LoadDate_C('#txtMrrDate');



            var poMasteId = $('#poMasteId').val();
            var mrrMasterId = $('#mrrMasterId').val();
            GetMasterData(mrrMasterId);





        });

        function Save() {

            if (SaveValidation() == true) {
                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveFinal();

                });
            }
        }
        function SaveFinal() {
            debugger;
            var jsonData = {};
            var app = false;
            var isApprove = $('#IsApprove').val();
            if (isApprove == 1) {
                app = true;
            }
            jsonData["MRRrOtherID"] = $('#mrrMasterId').val();
            jsonData["PurchaseOrderOtherID"] = $('#poMasteId').val();

            jsonData["MrrDate"] = $('#txtMrrDate').val();
            jsonData["ChallanDate"] = $('#txtChallanDate').val();
            jsonData["SupplierID"] = $('#txtSupplierId').val();

            jsonData["ChallanNo"] = $('#txtChallanNo').val();
            jsonData["LabResult"] = $('#txtLabResult').val();
            jsonData["SpecialInstruction"] = $('#txtSpecialins').val();
            jsonData["VehicleNo"] = $('#txtVehicleNo').val();
            jsonData["VehicleInWeight"] = $('#txtVehicleInWeight').val();
            jsonData["VehicleOutWeight"] = $('#txtVehicleOutWeight').val();
            jsonData["TransportCost"] = $('#txtTransportCost').val();
            jsonData["LaborCost"] = $('#txtLaborCost').val();
            jsonData["IsApprove"] = app;




            var jsonObjs = [];


            $('#manuallist tr').each(function () {
                var theObj = {};
               debugger;
                var idr = $(this).attr('id');
                var id = idr.substring(6);

                var detailsId = isNaN(parseFloat($('#MRRDetailID_' + id).val())) ? 0 : parseFloat($('#MRRDetailID_' + id).val());
                var itemid = isNaN(parseFloat($('#itemId_' + id).val())) ? 0 : parseFloat($('#itemId_' + id).val());
                var PoQty = isNaN(parseFloat($('#PoQty_' + id).text())) ? 0.00 : parseFloat($('#PoQty_' + id).text());
                var challanQty = isNaN(parseFloat($('#txtChallanQty_' + id).val())) ? 0.00 : parseFloat($('#txtChallanQty_' + id).val());
                var MrrQty = isNaN(parseFloat($('#txtThisMrrqty_' + id).val())) ? 0.00 : parseFloat($('#txtThisMrrqty_' + id).val());
                var unitPrice = isNaN(parseFloat($('#UnitPrice_' + id).text())) ? 0 : parseFloat($('#UnitPrice_' + id).text());

                var packSize = isNaN(parseInt($('#ddlPack_' + id).val())) ? 0 : parseInt($('#ddlPack_' + id).val());
                var packNo = isNaN(parseInt($('#txtNoOfpack_' + id).val())) ? 0 : parseInt($('#txtNoOfpack_' + id).val());
                var mfg = $('#txtMfgDate_' + id).val() || new Date();
                var expairy = $('#txtExpiryDate_' + id).val() || new Date();









                theObj["MRRDetailID"] = detailsId;
                theObj["ItemId"] = itemid;
                theObj["PurchaseQty"] = PoQty;
                theObj["ChallanQty"] = challanQty;
                theObj["MrrQty"] = MrrQty;
                theObj["UnitPrice"] = unitPrice;

                theObj["PackSizeId"] = packSize;
                theObj["NoOfPack"] = packNo;
                theObj["MFGDate"] = mfg;
                theObj["ExpireyDate"] = expairy;





                jsonObjs.push(theObj);

            });



            jsonData["ViewOthersMrrDetailsList"] = jsonObjs;

            var urlpath = '@Url.Action("SaveOtherMrr", "OthersMrr")';
            $.ajax({
                contentType: "application/json",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "POST"
            })
                .success(function (result) {

                    if (result.pk > 0) {

                        swal({
                            title: " Saved Successfull",
                            text: '',
                            type: "success",
                            showCancelButton: false,
                            cancelButtonClass: 'btn-secondary waves-effect',
                            confirmButtonClass: 'btn-success waves-effect waves-light',
                            confirmButtonText: 'Print!',
                            closeOnConfirm: false
                        }, function () {
                          //  LoadReportFinal(result.pk);
                            var isApprove = $('#IsApprove').val();
                            if (isApprove == 1) {
                                window.location.href = '@Url.Action("MRRApprovalList", "OthersMrr", new { fromdate = (DateTime?)null, todate =(DateTime?)null, mrrNo =0, supplierId =0, itemId =0})';
                            } else {
                                window.location.href = '@Url.Action("MRRListindex", "OthersMrr", new { fromdate = (DateTime?)null, todate =(DateTime?)null, mrrNo =0, supplierId =0, itemId =0})';
                            }



                        });


                    }
                });


        }
        function SaveValidation() {
          //  debugger;

            var isValid = true;
            var message = "Some Values Required";

            if ($('#txtChallanNo').val() == 0 || $('#txtChallanNo').val() == '') {
                ValidationColorChangeNew("ddlChallanNo", "divChallanNo", "Challan No  Required", true);
                isValid = false;
            }
            if ($('#txtMrrDate').val() == '' || $('#txtMrrDate').val() == null) {
                ValidationColorChangeNew("txtMrrDate", "divMrrDate", "MRR Date Required", false);
                isValid = false;
            }
            if ($('#txtChallanDate').val() == '' || $('#txtChallanDate').val() == null) {
                ValidationColorChangeNew("txtChallanDate", "divChallanDate", "Challan Date Required", false);
                isValid = false;
            }
          //  if ($('#txtVehicleNo').val() == '' || $('#txtVehicleNo').val() == null) {
          //      ValidationColorChangeNew("txtVehicleNo", "divVehicleNo", "Vehicle No Required", false);
          //    isValid = false;
          //}
            //if ($('#txtLaborCost').val() == '' || $('#txtLaborCost').val() == null) {
            //    ValidationColorChangeNew("txtLaborCost", "divLaborCost", "Labor Cost Required", false);
            //    isValid = false;
            //}
            //if ($('#txtTransportCost').val() == '' || $('#txtTransportCost').val() == null) {
            //    ValidationColorChangeNew("txtTransportCost", "divTransportCost", "Transport Cost Required", false);
            //    isValid = false;
            //}

            var poId = $('#poMasteId').val();
            $('#manuallist tr').each(function () {

              debugger;
                var idr = $(this).attr('id');
                var id = idr.substring(6);

                var itemid = isNaN(parseFloat($('#itemId_' + id).val())) ? 0 : parseFloat($('#itemId_' + id).val());


                var PoQty = isNaN(parseFloat($('#PoQty_' + id).text())) ? 0.00 : parseFloat($('#PoQty_' + id).text());
                var RestQty_ = isNaN(parseFloat($('#RestQty_' + id).text())) ? 0.00 : parseFloat($('#RestQty_' + id).text());
                var challanQty = isNaN(parseFloat($('#txtChallanQty_' + id).val())) ? 0.00 : parseFloat($('#txtChallanQty_' + id).val());
                var MrrQty = isNaN(parseFloat($('#txtThisMrrqty_' + id).val())) ? 0.00 : parseFloat($('#txtThisMrrqty_' + id).val());
                var expairy = $('#txtExpiryDate_' + id).val() ;
                //var updatemrrQty = RestQty_ + MrrQty;
                //var updateChallanQty = RestQty_ + challanQty;
                // if (challanQty === 0 || challanQty > PoQty) {
                //if (RestQty_ === 0 && challanQty > PoQty) {
                //    isValid = false;
                //    message = "Challan Quantity  must be Less than Rest Quantity";
                //    $('#txtChallanQty_' + id).css('border-bottom', '2px solid red');
                //    return;
                //}
                if (poId>0 && challanQty > PoQty) {
                    isValid = false;
                    message = "Challan Quantity  must be Less than Rest Quantity";
                    $('#txtChallanQty_' + id).css('border-bottom', '2px solid red');
                    return;
                }
                if (poId>0 && MrrQty > PoQty) {
                    isValid = false;
                    message = "MRR Quantity  must be Less than Rest Quantity";
                    $('#txtThisMrrqty_' + id).css('border-bottom', '2px solid red');
                    return;
                }
                //if (RestQty_ > 0 && MrrQty > RestQty_) {
                //    isValid = false;
                //    message = "MRR Quantity  must be Less than Rest Quantity";
                //    $('#txtThisMrrqty_' + id).css('border-bottom', '2px solid red');
                //    return;
                //}
                //if (MrrQty > 0 & expairy===0) {
                //    isValid = false;
                //    message = "Select Expairy Date";
                //    $('#txtExpiryDate_' + id).css('border-bottom', '2px solid red');
                //    return;
                //}

            });
            if (isValid == false) {
                ShowMessage(message);

            }
            return isValid;


        }
        function LoadReportFinal(id) {
            debugger;
            var urlpath = '@Url.Action("MrrPrintReports", "Report")';


            var reportValue = "MrrPrint";

            var mrrId = id;

            //  alert( id);

            var jsonData = {};


            jsonData["ReportValue"] = reportValue;
            jsonData["MRRrOtherID"] = mrrId;



            debugger;
            $.ajax({
                url: urlpath,
                data: jsonData,
                dataType: 'json',
                type: "Get",
                success: function (data) {
                    if (data.isSuccess) {



                        //OpenPopUp('BasicReportViewer.aspx');
                        window.open("../CrystalViewer/CrystalViewer.aspx", "_blank", "WIDTH=1024,HEIGHT=768,scrollbars=no, menubar=no,resizable=yes,directories=no,location=no");
                    }
                }
            });
        }


        //function LoadPackSize(elementId) {

        //    $.ajax({
        //        url: "/OthersMrr/LoadPackSize",

        //        dataType: 'json',
        //        type: "Get",
        //        data: {},
        //        async: false,
        //        success: function (data) {


        //            $('#' + elementId + '').empty();
        //            $('#' + elementId + '').append("<option value='0'>--Select PO--</option>");
        //            for (var i = 0; i < data.length; i++) {

        //                $('#' + elementId + '').append($("<option></option>").val(data[i].PackSizeId).html(data[i].PackSizeName));
        //            }
        //        }
        //    });
        //}


        function GetMasterData(id) {

            var urlpath = '@Url.Action("GetMrrDetails", "OthersMrr")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { id: id },
                async: false,
                success: function (data) {



                    $('#txtSupplier').html(data.SupplierName);
                    $('#txtMrrNo').html(data.MrrNo);
                    $('#txtSupplierId').val(data.SupplierID);
                    //$('#txtPODate').html(ToJavaScriptDate(data.OrderDate));
                    $('#txtComments').html(data.Comments);
                    $('#txtSupplierRef').html(data.SupplierRef);
                    $('#txtDeliveryTo').html(data.DeliveryTo);
                    $('#txtLocationName').html(data.LocationName);
                    $('#txtPurchaseOrderNo').html(data.PurchaseOrderNo);

                    $('#txtChallanNo').val(data.ChallanNo);
                    $('#txtChallanDate').val(ToJavaScriptDate(data.ChallanDate));
                    $('#txtPODate').html(ToJavaScriptDate(data.OrderDate));
                    $('#txtMrrDate').val(ToJavaScriptDate(data.MrrDate));
                    $('#txtVehicleNo').val(data.VehicleNo);
                    $('#txtVehicleInWeight').val(data.VehicleInWeight);
                    $('#txtVehicleOutWeight').val(data.VehicleOutWeight);
                    $('#txtLabResult').val(data.LabResult);
                    $('#txtSpecialins').val(data.SpecialInstruction);
                    $('#txtLaborCost').val(data.LaborCost);
                    $('#txtTransportCost').val(data.TransportCost);
                    $('#lblSubTotalAmount').val(data.OrderTotalAmt);
                    $('#lblTotal').val(data.OrderTotalAmt + (data.TransportCost + data.LaborCost));



                   // debugger;


                    var row = "";
                    var count = 1;
                    $("#manuallist").html("");
                    for (var i = 0; i < data.ViewOthersMrrDetailsList.length; i++) {
                       // debugger;
                       // LoadPackSize();

                      //  if (data.ViewOthersMrrDetailsList[i].MRRRemainingQty>0){

                        row += "<tr id='trmain" + count + "'>";
                        //calculation(count, data.ViewOthersMrrDetailsList[i].UnitPrice);

                        row += "<td style='display: none;'><input type='text'  style='display: none;'  id='itemId_" + count + "' value = '" + data.ViewOthersMrrDetailsList[i].ItemId + "'  /></td>";
                        row += "<td style='display: none;'><input type='text'  style='display: none;'  id='MRRDetailID_" + count + "' value = '" + data.ViewOthersMrrDetailsList[i].MRRDetailID + "'  /></td>";
                     //   row += "<td style='text-align:center'>" + data.ViewOthersMrrDetailsList[i].ItemCode + "</td>";
                        row += "<td style='text-align:center;width:20%;'>" + data.ViewOthersMrrDetailsList[i].ItemName + "</td>";
                        row += "<td style='text-align:center;'><label  id='PoQty_" + count + "'>" + data.ViewOthersMrrDetailsList[i].PurchaseQty + " </label></td>";

                        row += "<td style='text-align:center'>" + data.ViewOthersMrrDetailsList[i].UOMName + "</td>";
                        row += "<td style='text-align:center'>" + data.ViewOthersMrrDetailsList[i].ReceivedQty + "</td>";
                        row += "<td style='text-align:center;'><label id='RestQty_" + count + "'>" + data.ViewOthersMrrDetailsList[i].MRRRemainingQty + " </label></td>";



                        row += "<td style='text-align:center;width:10%'><input type='number' min='0' id='txtChallanQty_" + count + "' class='form-control' value='"+ data.ViewOthersMrrDetailsList[i].ChallanQty+"' /></td>";

                      row += "<td style='text-align:center;width:10%'><input type='number' min='0'   oninput='calculation(" + count + "," + data.ViewOthersMrrDetailsList[i].UnitPrice + ")' id='txtThisMrrqty_" + count + "' class='form-control' value='" + data.ViewOthersMrrDetailsList[i].MrrQty + "' /></td>";

                        //row += "<td style='text-align:center;width:10%'><input type='number' min='0'   oninput='calculation(" + count + "," + data.ViewOthersMrrDetailsList[i].UnitPrice + ")' id='txtThisMrrqty_" + count + "' class='form-control' disabled='disabled' value = '" + data.ViewOthersMrrDetailsList[i].MrrQty + + "'/></td>";

                        row += "<td style='text-align:center;width:10%'> <input type='text' id='txtMfgDate_" + count + "' class='form-control' value='" + ToJavaScriptDate(data.ViewOthersMrrDetailsList[i].MFGDate) + "' /></td>";
                        row += "<td style='text-align:center;width:10%'> <input type='text' id='txtExpiryDate_" + count + "' class='form-control' value='" + ToJavaScriptDate(data.ViewOthersMrrDetailsList[i].ExpireyDate) + "'/></td>";

                        row += "<td style='text-align:center;display: none'><label id='UnitPrice_" + count + "'>" + data.ViewOthersMrrDetailsList[i].UnitPrice + " </label></td>";

                       // row += "<td style='text-align:center;'><label id='Total_" + count + "' ></label></td>";

                     //   row += "<td style='text-align:center;width:5%'><input type='number' style='text-align:center'  id='UnitPrice_" + count + "' value = '" + data.ViewOthersMrrDetailsList[i].UnitPrice + "'   disabled='disabled'/></td>";
                        row += "<td style='text-align:right;width:5%;display: none'><input type='number' style='text-align:right;'  id='Total_" + count + "'  onchange='CalculateAll()'  disabled='disabled' value = '" + data.ViewOthersMrrDetailsList[i].TotalPrice + "'/></td>";



                        row += "</tr>";


                        count++;

                      //  }
                    }
                    $("#manuallist").html(row);



                }
            });

            $('#manuallist tr').each(function () {
                //debugger;
                var idr = $(this).attr('id');

                var id = idr.substring(6);


                var itemid = isNaN(parseFloat($('#itemId_' + id).val())) ? 0 : parseFloat($('#itemId_' + id).val());
              //  LoadPackSize("ddlPack_" + id);
                $('#ddlPack_' + id).select2();

                LoadDate('#txtMfgDate_'+id);
                LoadDate('#txtExpiryDate_' + id);

            });


        }

        function calculation(id, price) {
            var total = 0;
          debugger;
          var mrrqty = isNaN(parseFloat($('#txtThisMrrqty_' + id).val())) ? 0.00 : parseFloat($('#txtThisMrrqty_' + id).val());


            total = mrrqty * price;
            $('#Total_' + id).val(total.toFixed(2));
            CalculateAll();

        }
        function CalculateAll() {
            var subTotal = 0;
            var grandTotal = 0;

            $('#manuallist tr').each(function () {

              //    debugger;
                var idr = $(this).attr('id');
                var id = idr.substring(6);


                var amount = isNaN(parseFloat($('#Total_' + id).val())) ? 0.00 : parseFloat($('#Total_' + id).val());
                subTotal += amount;


            });
            $('#lblSubTotalAmount').val(subTotal);
            var transport = isNaN(parseFloat($('#txtTransportCost').val())) ? 0.00 : parseFloat($('#txtTransportCost' ).val());
            var labour = isNaN(parseFloat($('#txtLaborCost').val())) ? 0.00 : parseFloat($('#txtLaborCost').val());
         //  var transport = $('#txtTransportCost').val() ||0;

          // var labour= $('#txtLaborCost').val()||0;
            grandTotal =(subTotal + transport + labour);


           $('#lblTotal').val(grandTotal);

            //var difference = (grandTotal - grandTotalCr) || 0;

            ////  $('#lblTotalAmountDifference').html(Math.ceil(difference.toFixed(2)));
            //$('#lblTotalAmountDifference').html(difference);
        };
        function limitDecimals(el) {
            var value = el.value;
            var parts = value.split(".");
            if (parts.length > 1 && parts[1].length > 4) {
                parts[1] = parts[1].slice(0, 4);
                el.value = parts[0] + "." + parts[1];
            }
        }
    </script>
}