﻿
@using System.Data
@model  IEnumerable<IGFoodProject.ViewModel.ViewOthersMrr>

@{
    ViewBag.Title = "MRR List For Return ";

}
<style>
    #manuallist {
        padding: 10px;
    }

    .form-control {
        height: calc(1.7rem + 2px);
    }

    .modal-dialog {
        width: 100%;
        height: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }


    .modal-contents {
        background-color: white;
    }

    .ModalHead {
        background-color: #3C8DBC;
        padding: 15px;
        color: white;
    }

        .ModalHead > h4 {
            color: white;
            padding-left: 10px;
        }

    a#tabA {
        text-decoration: underline;
    }

        a#tabA:hover {
            text-decoration: underline;
            font-size: 17px;
            font-weight: bolder;
            color: green;
        }
</style>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">

                        <div class="row">

                            <div class="col-md-6">
                                <h3>MRR List For Return </h3>
                            </div>
                            <div class="col-md-6 text-right ">
                                @*<a class="btn btn-outline-warning" href="@Url.Action("Index", "OthersMrr", new { fromdate = (DateTime?)null, todate =(DateTime?)null, poNo =0, supplierId =0, itemId =0})">

                                    <span class="fa fa-plus"></span> Go to  PO List

                                </a>*@
                            </div>

                        </div>



                    </div>
                    <br />

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group" id="divMrrNo">
                                    <label for="ddlMrr">MRR No:</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlMrr"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divSupplier">
                                    <label for="ddlSupplier">Supplier:</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlSupplier"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divItem">
                                    <label for="ddlItem">Item:</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlItem"></select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" id="divFromDate">
                                    <label for="txtFromDate">From Date</label>
                                    <input type="text" id="txtFromDate" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" id="divToDate">
                                    <label for="txtToDate">To Date</label>
                                    <input type="text" id="txtToDate" class="form-control" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-2 pull-right offset-10">
                            <button style="margin-left: 27px;" class="btn btn-primary" onclick="ShowReport()">Search </button>
                        </div>
                    </div>
                    <br />
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body">
                                <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th class="text-center">MRR No</th>
                                            <th class="text-center">MRR Date</th>
                                            <th class="text-center">PO Date</th>
                                            <th class="text-center">Supplier</th>
                                            <th class="text-center">Location/Wearhouse</th>

                                            <th class="text-right">Received Qty.</th>
                                            <th class="text-right">Total Amount</th>
                                            <th class="text-center">Action</th>

                                        </tr>
                                    </thead>
                                    <tbody id="manuallist">
                                        @{ int count = 1;}
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@count</td>
                                                <td style="text-align: center"><a id="tabA" onclick="PopUpDetails(@item.MRRrOtherID)">@item.MrrNo</a></td>

                                                <td>@Convert.ToDateTime(item.MrrDate).ToString("dd-MMM-yyyy")</td>
                                                <td>@Convert.ToDateTime(item.OrderDate).ToString("dd-MMM-yyyy")</td>
                                                <td>@item.SupplierName</td>
                                                <td>@item.LocationName / @item.WareHouseName</td>



                                                <td class="text-right">@item.MRRQty.ToString()</td>
                                                <td class="text-right">@item.TotalAmountRcv</td>
                                                <td>
                                                    @Html.ActionLink("Return", "ReturnMrr", "OthersMrr", new { id = item.MRRrOtherID }, new { @class = "btn btn-sm btn-warning" })

                                                </td>






                                            </tr>
                                            count++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>



                    </div>


                </div>

            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->


</section>

<div class="row">

    <div class="modal fade in" id="myModal" role="dialog">
        <div class="modal-dialog listDialog modal-lg">
           

            <!-- Modal content-->
            <div class="modal-contents">


                <div class="ModalHead">

                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">MRR Item Details</h4>


                </div>
                <br />
                <div class="container-fluid" id="tabledata">

                        <div class="col-xs-12 col-md-12">



                           
                                <div class="box-body table-responsive" id="MainGradeDiv2" style="width: 100%;">
                                    <br />

                                    <table id="modalTable" class="table table-striped table-bordered">
                                        <thead id="popTab">
                                            <tr>
                                                <th style="text-align: center; color: black; width: 3%; background-color: turquoise; padding-bottom: 2.5%">SL</th>
                                                <th style="text-align: center; color: black; background-color: turquoise; width: 40%">Item Name</th>
                                                <th style="text-align: center; color: black; background-color: turquoise; width: 20%">MRR Qty</th>
                                                <th style="text-align: center; color: black; background-color: turquoise ;width: 30%">Unit Price </th>
                                                <th style="text-align: center; color: black; background-color: turquoise ;width: 30%">Total Price </th>
                                                <th style="text-align: center; color: black; background-color: turquoise ;width: 40%">MFG Date </th>
                                                <th style="text-align: center; color: black; background-color: turquoise ;width: 40%">Expairy Date </th>


                                            </tr>



                                        </thead>
                                        <tbody id="itemDetailsTabBody"></tbody>
                                    </table>
                                </div>
                          

                        </div>

                 

                </div>

                <br />




                <div class="modal-footer">

                    <button type="button" class="btn btn-default" data-dismiss="modal" id="closebtn">Close</button>
                </div>
            </div>
        </div>





    </div>

</div>


@section Scripts
{
    <script>
        $(document).ready(function () {
            LoadDate_Pr('#txtFromDate');
            LoadDate_C('#txtToDate');


            LoadSupplier();
            LoadItemDescription();
            LoadMrrNo();

        });
        function LoadDate_Pr(controlName) {
            jQuery(controlName).datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd-M-yyyy'

            }).datepicker("setDate", "-7d");
        }
        function LoadSupplier() {
            var urlpath = '@Url.Action("LoadSupplier", "PurchaseOrder")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: {},
                async: false,
                success: function (data) {

                    $('#ddlSupplier').empty();
                    $('#ddlSupplier').append("<option value='0'>--Select Supplier--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#ddlSupplier').append($("<option></option>").val(data[i].SupplierID).html(data[i].SupplierName));
                    }

                }
            });
        }
        function LoadItemDescription() {

            $.ajax({
                url: "/Utility/LoadItemDescription",

                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {


                    $('#ddlItem').empty();
                    $('#ddlItem').append("<option value='0'>--Select Item--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#ddlItem').append($("<option></option>").val(data[i].ItemId).html(data[i].ItemName));
                    }
                }
            });
        }
        function LoadMrrNo() {

            $.ajax({
                url: "/OthersMrr/LoadMrrNo",

                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {


                    $('#ddlMrr').empty();
                    $('#ddlMrr').append("<option value='0'>--Select MRR--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#ddlMrr').append($("<option></option>").val(data[i].MRRrOtherID).html(data[i].MrrNo));
                    }
                }
            });
        }
    </script>

    <script>

     


        function ShowReport() {
            debugger;
            var fromdate;
            var todate;
            var poNo = 0;
            var supplierId = 0;
            var itemId = 0;


            if ($('#txtFromDate').val() == "") {
                swal("Please input from  date");
                return;
            }
            else {
                fromdate = $('#txtFromDate').val();
            }
            if ($('#txtToDate').val() == "") {
                swal("Please input to  date");
                return;
            }
            else {
                todate = $('#txtToDate').val();
            }

            if ($('#ddlMrr').val() == "0") {
                poNo = '0';
            }
            else {
                poNo = $('#ddlMrr').val();
            }
            if ($('#ddlSupplier').val() == "0") {
                supplierId = '0';
            }
            else {
                supplierId = $('#ddlSupplier').val();
            }
            if ($('#ddlItem').val() == "0") {
                itemId = '0';
            }
            else {
                itemId = $('#ddlItem').val();
            }

            var urlpath = '@Url.Action("SearchListForMrrReturn", "OthersMrr")';
            $.ajax({
                url: urlpath,
                dataType: 'html',
                type: "Get",
                data: { fromdate: fromdate, todate: todate, mrrNo: poNo, supplierId: supplierId, itemId: itemId },
                async: false,
                success: function (data) {

                    data = JSON.parse(data);
                    $("#manuallist").html("");
                    if (data.length > 0) {



                        var row = "";
                        var count = 1;
                        $("#manuallist").html("");

                        var count=1;
                        for (var i = 0; i < data.length; i++) {



                            row += "<tr>";
                            row += "<td style='text-align:center'>" + count + "</td>";
                            row += "<td style='text-align:center'><a id='tabA' type='button' onclick='PopUpDetails(" + data[i].MRRrOtherID + ")'>" + data[i].MrrNo + "</a></td>";

                            row += "<td style='text-align:center'>" + ToJavaScriptDate(data[i].MrrDate) + "</td>";
                            row += "<td style='text-align:center'>" + ToJavaScriptDate(data[i].OrderDate) + "</td>";
                            row += "<td style='text-align:center'>" + data[i].SupplierName + "</td>";
                            row += "<td style='text-align:center'>" + data[i].LocationName + '/' + data[i].WareHouseName + "</td>";



                            row += "<td style='text-align:right'>" + data[i].MRRQty + "</td>";
                            row += "<td style='text-align:right'>" + data[i].TotalAmountRcv + "</td>";
                            row += "<td style='text-align:center'><a class='btn btn-sm btn-warning' type='button' onclick='GoToDo(" + data[i].MRRrOtherID + ")'>Return</a></td>";

                            //  row += "<td style='text-align:center'><a class='btn btn-sm btn-warning' type='button' onclick='GoToDo(" + data[i].MRRrOtherID + ")'>Print</a></td>";






                            row += "</tr>";
                            count = count + 1;

                        }
                        $("#manuallist").html(row);
                    }
                }
            });
        }


        function GoToDo(soId) {
            window.location = "@Url.Action("ReturnMrr", "OthersMrr")" + "?id=" + soId;
        }

    </script>


    <script>
        function PopUpDetails(id) {
            ModalPopUp();

            GetDetails(id);

        }
        function GetDetails(id) {
            var urlpath = '@Url.Action("GetMRR_forModalPopUpDetailsById", "OthersMrr")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { id: id },
                async: false,

                success: function (result) {


                    //   $('#rateOf').text(ToJavaScriptDate(result.RateOf));


                    var row = "";
                    $("#itemDetailsTabBody").html("");
                    for (var i = 0; i < result.length; i++) {

                        row += "<tr>";
                        row += "<td style='text-align : center'>" + (i + 1) + "</td>";
                        row += "<td style='text-align : center'>" + result[i].ItemName + "</td>";
                        row += "<td style='text-align : center'>" + result[i].MrrQty + "</td>";
                        row += "<td style='text-align : center'>" + result[i].UnitPrice + "</td>";
                        row += "<td style='text-align : center'>" + result[i].TotalPrice + "</td>";
                        row += "<td style='text-align : center'>" + ToJavaScriptDate(result[i].MFGDate) + "</td>";
                        row += "<td style='text-align : center'>" + ToJavaScriptDate(result[i].ExpireyDate) + "</td>";





                        row += "</tr>";



                    }


                    $("#modalTable #itemDetailsTabBody").html(row);


                }
            });

        }

        function ModalPopUp() {
            $("#myModal").modal();
        }
        function exportExcel() {

            var a = document.createElement('a');
            //getting data from our div that contains the HTML table
            var data_type = 'data:application/vnd.ms-excel';
            var table_div = document.getElementById('tabledata');
            var table_html = table_div.outerHTML.replace(/ /g, '%20');
            a.href = data_type + ', ' + table_html;
            //setting the file name
            a.download = 'download.xls';
            //triggering the function
            a.click();
            //just in case, prevent default behaviour
            e.preventDefault();
        }
    </script>
}