﻿
@{
    ViewBag.Title = "MRR Details Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-3">
                                <h3 class="card-title"><span class="fa fa-list"></span> MRR Details Report
                                </h3>
                            </div>

                        </div>
                    </div>

                    <div class="card-body">
                        <!-- /.card-header -->
                        <!-- form start -->
                        <div class="row">
                            <div class="col-md-3" id="divFromDate">

                                <div class="form-group" id="">
                                    <label for="fromDate">From Date</label>
                                    <input type="text" class="form-control datepicker" id="fromDate" autocomplete="off"/>
                                </div>

                            </div>
                            <div class="col-md-3" id="divToDate">

                                <div class="form-group" id="">
                                    <label for="toDate">To Date</label>
                                    <input type="text" class="form-control datepicker" id="toDate" autocomplete="off" />
                                </div>

                            </div>
                            <div class="col-md-3" id="mainDivSupplier">

                                <div class="form-group" id="divSupplier">
                                    <label for="ddlSupplier">Supplier</label>
                                    <select class="form-control select2" id="ddlSupplier" style="width: 100%;" ></select>
                                </div>

                            </div>


                        </div>


                    </div>
                    <div>

                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button class="btn btn-primary " onclick="LoadReport()">Submit</button>
                            <button type="button" class="btn btn-primary" onclick="exportExcel()">Export To Excel</button>
                        </div>
                    </div>

                </div>

                <div class="card divclass" id="salesReportDiv">
                    <div class="card-header with-border">
                        <div id="">
                            <h3 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="companyHeader"></h3>
                            <h4 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="reportHeader"></h4>
                            <div class="row">
                                <div class="col-md-12">

                                   
                                    <label class="float-right" id="reportDate"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="salesReport">
                        <div class="table-responsive">
                            <table id="SummaryTable" class="table table-bordered table-striped table-hover ">
                                <thead id="hSummary">
                                    <tr>
                                        <th style="text-align: center;">Sl No</th>
                                        <th style="text-align: center;">Supplier</th>
                                        <th style="text-align: center;">Mrr No</th>
                                        <th style="text-align: center;">Mrr Date</th>
                                        <th style="text-align: center;">Item</th>
                                        <th style="text-align: center;">UOM</th>
                                        <th style="text-align: center;">Unit Price</th>
                                        <th style="text-align: center;">Mrr QTY</th>
                                        <th style="text-align: center;">Total Price</th>
                                    </tr>
                                </thead>
                                <tbody id="summarybody"></tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>


@section Scripts{
    <script>
        //var AllCustomerList = {};
        $(function () {

            LoadSupplier();
           // $("#SummaryTable").hide();

        });


        function LoadSupplier() {
            var urlpath = '@Url.Action("LoadSupplier", "PurchaseOrder")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: {},
                async: false,
                success: function (data) {

                    $('#ddlSupplier').empty();
                    $('#ddlSupplier').append("<option value='0'>--Select Supplier--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#ddlSupplier').append($("<option></option>").val(data[i].SupplierID).html(data[i].SupplierName));
                    }

                }
            });
        }



        //function OpenReportPopup() {
        //    LoadReport();
        //}

        function RptValidation() {
            var message = "Some Values Required";

            var isValid = true;


                if ($('#fromDate').val() == "" || $('#toDate').val() == '') {
                    isValid = false;
                    message = 'From Date and To Date Required';
                }



            if (isValid == false) {
                ShowMessage(message);
            }
            return isValid;
        }



        function LoadReport() {

            if (RptValidation() == true) {
                LoadReportFinal();
            }


        }


        function LoadReportFinal() {
           var  urlpath = '@Url.Action("GetSupplierMrrDetails", "OthersMrr")';


            var fromDate = $("#fromDate").val();
            var toDate = $("#toDate").val();

            var supplierId = $('#ddlSupplier').val();

            debugger;
            $.ajax({
                url: urlpath,
                data: { fromDate: fromDate, toDate: toDate, supplierId: supplierId },
                dataType: 'json',
                type: "Get",
                success: function (data) {
                    var row = "";
                        var json = $.parseJSON(data);
                        var count = 1;
                        for (var i = 0; i < json.length; i++) {
                            row += '<tr>';
                            row += '<td style="text-align:center;">' + count + '</td>';
                            row += '<td style="text-align:center;">' + json[i].SupplierName + '</td>';
                            row += '<td style="text-align:center;">' + json[i].MrrNo + '</td>';
                            row += '<td style="text-align:center;">' + json[i].MRRDate + '</td>';
                            //row += '<td style="text-align:center;">' + ToJavaScriptDate(json[i].MRRDate) + '</td>';
                            row += '<td style="text-align:center;">' + json[i].ItemName + '</td>';
                            row += '<td style="text-align:center;">' + json[i].UOMName + '</td>';
                            row += '<td style="text-align:center;">' + json[i].UnitPrice + '</td>';
                            row += '<td style="text-align:center;">' + json[i].MRRQty + '</td>';
                            row += '<td style="text-align:center;">' + json[i].TotalPrice + '</td>';
                            row += '</tr>';
                            count++;
                        }
                        $("#summarybody").html(row);

                },
                complete: function () {
                    //$("#SummaryTable").show();

                    $('#companyHeader').html("IG Foods Limited");

                    $('#reportHeader').html('Supplier Mrr Details Report');

                    $('#reportDate').html('Report Date: ' + $("#fromDate").val() + ' To ' + $("#toDate").val());

                }
            });
        }
        function exportExcel(e) {
            if ($('#SummaryTable tbody tr').length == 0) {
                swal("No Data to Export");
            } else {
                var file = new Blob([$('#salesReportDiv').html()], { type: "application/vnd.ms-excel" });
                var url = URL.createObjectURL(file);
                var a = $("<a />", {
                    href: url,
                    download: "SupplierMrrDetailsReport.xls"

                }).appendTo("body").get(0).click();
            }
        }


    </script>
}
