﻿
@{
    ViewBag.Title = "Returned Mrr List ";
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">

                        <h3 class="card-title"><span class="fa fa-eye"></span>Returned Mrr List  Report</h3>

                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-md-offset-1">
                                <div class="form-group" id="divSupplier">
                                    <label for="ddlSupplier">Supplier:</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlSupplier"></select>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <div class="form-group" id="divWareHouse">
                                    <label for="ddlWareHouse">Warehouse</label>
                                    <select class="form-control" style="width: 100%;" id="ddlWareHouse"></select>
                                </div>



                            </div>

                        </div>
                        <div class="row">




                            <div class="col-md-3 col-sm-6 col-md-offset-1">
                                <div class="form-group" id="divFromDate">
                                    <label for="txtFromDate">From  Date</label>
                                    <input type="text" class="form-control" style="width: 100%;" value="@DateTime.Now.ToString("dd-MMM-yyyy")" id="txtFromDate" autocomplete="off" />
                                </div>


                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="form-group" id="divToDate">
                                    <label for="txtToDate">To  Date</label>
                                    <input type="text" class="form-control" style="width: 100%;" value="@DateTime.Now.ToString("dd-MMM-yyyy")" id="txtToDate" autocomplete="off" />
                                </div>
                            </div>





                        </div>
                        <br />

                        <div class="row">
                            <!-- /.card-body -->
                            <div class="col-md-3 col-sm-6 col-md-offset-1">
                                <button class="btn btn-primary" onclick="ShowReport()">Show Report</button>
                                <button class="btn btn-outline-danger" onclick="location.reload()">Cancel</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->

</section>


@section Scripts{
    <script>
        var AllItemList = {};
        $(function () {

            var comId = 0;
            var locId = 0;
            var wareId = 0;
           LoadReceiveWarehouse();
            LoadCompany('ddlCompany');
            $("#ddlCompany").val("7");
            LoadLocation('ddlLocation', $("#ddlCompany").val());

            $('#ddlCompany').change(function () {
                comId = $(this).val();
                LoadLocation('ddlLocation', comId);
            });


          //  LoadWareHouse('ddlWareHouse', 0, 0);

            LoadDate('#txtFromDate');
            LoadDate('#txtToDate');
            LoadSupplier();

        });
        function LoadSupplier() {
            var urlpath = '@Url.Action("LoadSupplier", "PurchaseOrder")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: {},
                async: false,
                success: function (data) {

                    $('#ddlSupplier').empty();
                    $('#ddlSupplier').append("<option value='0'>--Select Supplier--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#ddlSupplier').append($("<option></option>").val(data[i].SupplierID).html(data[i].SupplierName));
                    }

                }
            });
        }
        function LoadReceiveWarehouse() {
            //var typeid = $('#ddlWarehouseType').val();
            var warehouseTypeid = 7;
            var urlpath = '@Url.Action("GetDeliveryWarehouse", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { warehouseTypeid: warehouseTypeid },
                async: false,
                success: function (data) {

                    $('#ddlWareHouse ').empty();
                    $('#ddlWareHouse').append("<option value='0'>--Select  Warehouse --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#ddlWareHouse ').append($("<option></option>").val(data[i].WareHouseId).html(data[i].WareHouseName));
                    }
                }
            });
        }

        function ShowReport() {
            if ($('#txtFromDate').val() == '') {
                ShowMessage("Please Input From  Date !!!");
                return;
            }
            if ($('#txtToDate').val() == '') {
                ShowMessage("Please Input To  Date !!!");
                return;
            }

            var supplier=0;
            var warehouse=0;
            var fromdate;
            var todate;


            if ( $('#ddlSupplier').val() != null) {
                if ($('#ddlSupplier').val() != '0')
                {
                    supplier = $('#ddlSupplier').val();
                }

            }
            if ( $('#ddlWareHouse').val() != null) {
                if ($('#ddlWareHouse').val() != '0')
                {
                    warehouse = $('#ddlWareHouse').val();
                }

            }

            fromdate=$('#txtFromDate').val();
            todate=$('#txtToDate').val();


                var urlpath = '@Url.Action("MrrReturnReport", "OthersMrr")';
                $.ajax({
                    url: urlpath,
                    dataType: 'json',
                    type: "Get",
                    data: { supplierId: supplier, warehouse: warehouse, fromdate: fromdate, todate: todate,},
                    async: true,
                    success: function (data) {
                        if (data.isSuccess) {

                            window.open("../CrystalViewer/CrystalViewer.aspx", "_blank", "WIDTH=1024,HEIGHT=768,scrollbars=no, menubar=no,resizable=yes,directories=no,location=no");

                        }
                    }
                });
            }



    </script>
}