﻿@model  IGFoodProject.ViewModel.ViewOthersMrr
@{
    ViewBag.Title = "Rerturn Mrr";
}
<style>
    #manuallist {
        padding: 10px;
    }

    .form-control {
        height: calc(1.7rem + 2px);
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">

                        <div class="row">

                            <div class="col-md-6">
                                <h3>Return MRR  </h3>
                            </div>
                            <div class="col-md-6 text-right ">
                                <a class="btn btn-outline-warning" href="@Url.Action("ListForMrrReturn", "OthersMrr")">

                                    <span class="fa fa-list"></span>  List For Mrr Return

                                </a>
                            </div>

                        </div>



                    </div>
                    <br />

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">


                                <div class="form-group" id="divSupplier">

                                    <label for="txtSupplier" class="control-label col-md-4">Supplier:</label>
                                    <div class="col-md-8">
                                        <label id="txtSupplier"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divMrrNo">
                                    <label for="txtMrrNo" class="control-label col-md-4">Mrr No:</label>
                                    <div class="col-md-8">
                                        <label id="txtMrrNo"></label>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divMrrDate">
                                    <label for="txtMrrDate" class="control-label col-md-4">Mrr Date:</label>
                                    <div class="col-md-8">
                                        <label id="txtMrrDate"></label>
                                    </div>

                                </div>
                          

                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divVehicleNo">
                                    <label for="txtVehicleNo" class="control-label col-md-4">Vehicle No:</label>
                                    <div class="col-md-8">
                                        <label id="txtVehicleNo"></label>
                                    </div>

                                </div>
                           
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-md-3">
                                <div class="form-group" id="divSupplierRef">
                                    <label for="txtSupplierRef" class="control-label col-md-4">Supplier Ref:</label>
                                    <div class="col-md-8">
                                        <label id="txtSupplierRef"></label>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-3">
                             
                                <div class="form-group" id="divAddress">
                                    <label for="txtDeliveryTo" class="control-label col-md-4">Del. Address:</label>
                                    <div class="col-md-8">
                                        <label id="txtDeliveryTo"></label>
                                    </div>


                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divChallanNo">
                                    <label for="txtChallanNo" class="control-label col-md-4">Challan No:</label>
                                    <div class="col-md-8">
                                        <label id="txtChallanNo"></label>
                                    </div>

                                </div>

                           
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divChaldivVehicleInWeightlanNo">
                                    <label for="txtVehicleInWeight" class="control-label col-md-4">V. In Weight:</label>
                                    <div class="col-md-8">
                                        <label id="txtVehicleInWeight"></label>
                                    </div>

                                </div>
                            
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-3">
                                <div class="form-group" id="divLocation">
                                    <label for="txtLocationName" class="control-label col-md-4">Warehouse:</label>
                                    <div class="col-md-8">
                                        <label id="txtLocationName"></label>
                                        <label id="txtWarehouse"></label>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divinstruction">
                                    <label for="txtinstruction" class="control-label col-md-4">S. Instruction:</label>
                                    <div class="col-md-8">
                                        <label id="txtinstruction"></label>
                                    </div>

                                </div>
                            


                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divLabResult">
                                    <label for="txtLabResult" class="control-label col-md-4">Lab Result:</label>
                                    <div class="col-md-8">
                                        <label id="txtLabResult"></label>
                                    </div>


                                </div>
                           
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divVehicleOutWeight">
                                    <label for="txtVehicleOutWeight" class="control-label col-md-4">V. Out Weight:</label>
                                    <div class="col-md-8">
                                        <label id="txtVehicleOutWeight"></label>
                                    </div>


                                </div>
                           
                            </div>



                        </div>

                     
                    </div>
                    <br />

                    <!-- /.card-header -->
                    <!-- form start -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-body">
                            @*<h4 class="text-center" style="width: 100%;background-color: #007bff;color:black"> Items To Receive</h4>*@
                            <div class="table-responsive">
                                <table id="myTable" class="table table-bordered table-striped table-hover">
                                    <thead>
                                    <hr />
                                    <tr>

                                        <th class="text-center" style="width: 20%">Item Description</th>

                                    
                                        <th class="text-center" >Unit</th>
                                        <th class="text-center" >Expairy Data</th>
                                        <th class="text-center">Mrr Qty</th>
                                        <th class="text-center">Privously Returned Qty</th>
                                        <th class="text-center">Rest Qty</th>
                                        <th class="text-center" style="width: 5%">Return</th>

                                        <th class="text-right" style="width: 5%;display: none">Price</th>
                                        <th class="text-right" style="width: 5%;display: none">Total</th>

                                    </tr>
                                    </thead>
                                    <tbody id="manuallist"></tbody>
                                </table>


                            </div>
                        </div>
                    </div>



                </div>

                    <div class="row" style="padding-top: 10px;display: none">
                        <div class="col-md-7">
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="lblSubTotalAmount" class="control-label col-md-7 text-right"> Total:</label>
                                <div class="col-md-5 text-right" style="padding-right: 30px">
                                    <label id="lblSubTotalAmount" class="text-right">0</label>
                                </div>
                            </div>
                            @*<div class="form-group" id="divTransportCost">
                                <label for="txtTransportCost" class="control-label col-md-8 text-right">Transport Cost:</label>
                                <div class="col-md-4">
                              
                                    <input type="number" id="txtTransportCost" onchange="CalculateAll()" class="form-control text-right" readonly="readonly"/>
                                
                                </div>

                            </div>*@
                        
                            @*<div class="form-group" id="divLaborCost">
                                <label for="txtLaborCost" class="control-label col-md-8 text-right">Labor Cost:</label>
                                <div class="col-md-4">
                                 
                                    <input type="number" id="txtLaborCost" onchange="CalculateAll()" class="form-control text-right" readonly="readonly"/>
                                </div>

                            </div>*@

                            @*<div class="form-group">
                                <label for="lblTotal" class="control-label col-md-8 text-right">Grand Total:</label>
                                <div class="col-md-4 text-right" style="padding-right: 30px">
                                    <label id="lblTotal" class="text-right">0</label>
                                </div>
                            </div>*@
                        </div>
                    </div>

                    <div class="row" style="padding-top:10px">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label for="txtRemarks" class="col-sm-4 control-label">Remarks :</label>
                                <div class="col-sm-3" id="divNarration">
                                    <textarea id="txtRemarks" rows="4" cols="50" style="text-align:left"></textarea>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6 pull-left offset-6">
                            <button style="margin-left: 27px;" class="btn btn-primary" onclick="Save()">Save Return </button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- /.row -->
        <input id="mrrMasteId" type="number" style="display: none;" value="@ViewBag.MasterId">
        <input id="txtSupplierId" type="number" style="display: none;">
        <input id="txtDelLocationId" type="number" style="display: none;">
        <input id="txtDelWareHouseID" type="number" style="display: none;">
    </div><!-- /.container-fluid -->


</section>

@section Scripts
{
    <script>
        $(document).ready(function () {

           // LoadDate('#txtMrrDate');



            var mrrMasteId = $('#mrrMasteId').val();
            GetMasterData(mrrMasteId);

         //  CalculateAll();


        });

        function Save() {

            if (SaveValidation() == true) {
                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveFinal();

                });
            }
        }
        function SaveFinal() {
            debugger;
            var jsonData = {};

            jsonData["MrrId"] = $('#mrrMasteId').val();
            jsonData["SupplierID"] = $('#txtSupplierId').val();
            jsonData["DelLocationId"] = $('#txtDelLocationId').val();
            jsonData["DelWareHouseID"] = $('#txtDelWareHouseID').val();
            jsonData["Remarks"] = $('#txtRemarks').val();

            var jsonObjs = [];


            $('#manuallist tr').each(function () {
                var theObj = {};
               debugger;
                var idr = $(this).attr('id');
                var id = idr.substring(6);

                var itemid = isNaN(parseFloat($('#itemId_' + id).val())) ? 0 : parseFloat($('#itemId_' + id).val());
                var MrrQty = isNaN(parseFloat($('#MrrQty_' + id).text())) ? 0.00 : parseFloat($('#MrrQty_' + id).text());
                var returnQty = isNaN(parseFloat($('#txtReturnqty_' + id).val())) ? 0.00 : parseFloat($('#txtReturnqty_' + id).val());

                var unitPrice = isNaN(parseFloat($('#UnitPrice_' + id).text())) ? 0 : parseFloat($('#UnitPrice_' + id).text());

              
                theObj["ItemId"] = itemid;
                theObj["MRRQty"] = MrrQty;
                theObj["ReturnQty"] = returnQty;
                theObj["UnitPrice"] = unitPrice;
                theObj["TotalPrice"] = returnQty*unitPrice;

                jsonObjs.push(theObj);

            });



            jsonData["ReturnDetails"] = jsonObjs;

            var urlpath = '@Url.Action("SaveMrrReturn", "OthersMrr")';
            $.ajax({
                contentType: "application/json",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "POST"
            })
                .success(function (result) {

                    if (result.pk > 0) {

                        swal({
                            title: " Saved Successfull",
                            text: '',
                            type: "success",
                            showCancelButton: false,
                            cancelButtonClass: 'btn-secondary waves-effect',
                            confirmButtonClass: 'btn-success waves-effect waves-light',
                            confirmButtonText: 'Ok',
                            closeOnConfirm: false
                        }, function () {
                            //LoadReportFinal(result.pk);



                            window.location.href = '@Url.Action("ReturnedMrrList", "OthersMrr", new { fromdate = (DateTime?)null, todate =(DateTime?)null,  supplierId =0, itemId =0})';

                        });


                    }
                });


        }
        function SaveValidation() {
          //  debugger;

            var isValid = true;
            var message = "Some Values Required";
            if ($('#txtRemarks').val() == 0 || $('#txtRemarks').val() == '') {
                ValidationColorChangeNew("txtRemarks", "divNarration", "Remark  Required", true);
              isValid = false;
          }

            $('#manuallist tr').each(function () {

             //   debugger;
                var idr = $(this).attr('id');
                var id = idr.substring(6);

                var itemid = isNaN(parseFloat($('#itemId_' + id).val())) ? 0 : parseFloat($('#itemId_' + id).val());

              

             var remainingQty = isNaN(parseFloat($('#RemainingQty_' + id).text())) ? 0.00 : parseFloat($('#RemainingQty_' + id).text());
             var MrrQty = isNaN(parseFloat($('#MrrQty_' + id).text())) ? 0.00 : parseFloat($('#MrrQty_' + id).text());
             var returnQty = isNaN(parseFloat($('#txtReturnqty_' + id).val())) ? 0.00 : parseFloat($('#txtReturnqty_' + id).val());
              

            
             if (remainingQty == 0 && returnQty > remainingQty) {
                    isValid = false;
                    message = "Return Quantity  must be Less than Rest Quantity";
                    $('#txtReturnqty_' + id).css('border-bottom', '2px solid red');
                    return;
             }
             if (remainingQty > 0 && returnQty > remainingQty) {
                     isValid = false;
                    message = "Return Quantity  must be Less than Rest Quantity";
                    $('#txtReturnqty_' + id).css('border-bottom', '2px solid red');
                    return;
                }
                

            });
            if (isValid == false) {
                ShowMessage(message);

            }
            return isValid;


        }
   
    


        function GetMasterData(id) {

            var urlpath = '@Url.Action("GetDetailsForMrrReturn", "OthersMrr")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { id: id },
                async: false,
                success: function (data) {



                    $('#txtSupplier').html(data.SupplierName);
                    $('#txtSupplierId').val(data.SupplierID);
                    $('#txtDelLocationId').val(data.DelLocationId);
                    $('#txtDelWareHouseID').val(data.DelWareHouseID);
                    $('#txtMrrDate').html(ToJavaScriptDate(data.MrrDate));
                    //$('#txtComments').html(data.Comments);
                    $('#txtSupplierRef').html(data.SupplierRef);
                    $('#txtDeliveryTo').html(data.DeliveryTo);
                    $('#txtLocationName').html(data.LocationName);
                    $('#txtWarehouse').html(data.WareHouseName);
                    $('#txtMrrNo').html(data.MrrNo);
                    $('#txtChallanNo').html(data.ChallanNo);
                    $('#txtLabResult').html(data.LabResult);
                    $('#txtVehicleNo').html(data.VehicleNo);
                    $('#txtVehicleInWeight').html(data.VehicleInWeight);
                    $('#txtVehicleOutWeight').html(data.VehicleOutWeight);
                   // $('#txtLaborCost').html(data.LaborCost);
                  // $('#txtTransportCost').html(data.TransportCost);
                 $('#txtinstruction').html(data.SpecialInstruction);
                    $('#txtTransportCost').val(data.TransportCost);
                     $('#txtLaborCost').val(data.LaborCost);
                  

                    //$('#lblTotalAmountAmount').html(grandTotal);


                   // debugger;


                    var row = "";
                    var count = 1;
                    $("#manuallist").html("");
                    for (var i = 0; i < data.ViewOthersMrrDetailsList.length; i++) {
                       // debugger;
                  
                        if (data.ViewOthersMrrDetailsList[i].RemainingQuanity>0) {
            
       

                        row += "<tr id='trmain" + count + "'>";


                       row += "<td style='display: none;'><input type='text'  style='display: none;'  id='itemId_" + count + "' value = '" + data.ViewOthersMrrDetailsList[i].ItemId + "'  /></td>";

                        row += "<td style='text-align:center;width:20%;'>" + data.ViewOthersMrrDetailsList[i].ItemName + "</td>";
                     
                    
                   

                        row += "<td style='text-align:center'>" + data.ViewOthersMrrDetailsList[i].UOMName + "</td>";
                       row += "<td style='text-align:center;'><label  id='txtExpiryDate_" + count + "'>" + ToJavaScriptDate(data.ViewOthersMrrDetailsList[i].ExpireyDate) + " </label></td>";
                      

                       row += "<td style='text-align:center;'><label  id='MrrQty_" + count + "'>" + data.ViewOthersMrrDetailsList[i].MrrQty + " </label></td>";
                       row += "<td style='text-align:center;'><label  id='AlreadyReturnedQty_" + count + "'>" + data.ViewOthersMrrDetailsList[i].ReturnQty + " </label></td>";
                       row += "<td style='text-align:center;'><label  id='RemainingQty_" + count + "'>" + data.ViewOthersMrrDetailsList[i].RemainingQuanity + " </label></td>";


                        row += "<td style='text-align:center;width:10%'><input type='number' min='0'   oninput='calculation(" + count + "," + data.ViewOthersMrrDetailsList[i].UnitPrice +")' id='txtReturnqty_" + count + "' class='form-control text-center' /></td>";



                        row += "<td style='text-align:center;display: none'><label id='UnitPrice_" + count + "'>" + data.ViewOthersMrrDetailsList[i].UnitPrice + " </label></td>";
                        row += "<td style='text-align:center;display: none'><label id='Total_" + count + "'  > </label></td>";
               
                        //row += "<td style='text-align:right;width:5%'><le type='number' style='text-align:right;'  id='Total_" + count + "'  onchange='CalculateAll()'  disabled='disabled'/></td>";

                            calculation(count, data.ViewOthersMrrDetailsList[i].UnitPrice);

                        row += "</tr>";


                        count++;

                        }
                    }
                    $("#manuallist").html(row);



                }
            });

            $('#manuallist tr').each(function () {
                //debugger;
                var idr = $(this).attr('id');

                var id = idr.substring(6);


                var itemid = isNaN(parseFloat($('#itemId_' + id).val())) ? 0 : parseFloat($('#itemId_' + id).val());
            
              

            });


        }

        function calculation(id, price) {
            var total = 0;
         debugger;
            var mrrqty = $('#txtReturnqty_' + id).val();// isNaN(parseFloat($('#txtReturnqty_' + id).val())) ? 0.00 : parseFloat($('#txtReturnqty_' + id).val());


            total = mrrqty * price;
            $('#Total_' + id).html(total);
         CalculateAll();

        }
        function CalculateAll() {
            var subTotal = 0;
            var grandTotal = 0;

            $('#manuallist tr').each(function () {

debugger;
                var idr = $(this).attr('id');
                var id = idr.substring(6);


                var amount = isNaN(parseFloat($('#Total_' + id).text())) ? 0.00 : parseFloat($('#Total_' + id).text());
                subTotal += amount;


            });
            $('#lblSubTotalAmount').html(subTotal);
      
           // var transport = isNaN(parseFloat($('#txtTransportCost').val())) ? 0.00 : parseFloat($('#txtTransportCost').val());
           // var labour = isNaN(parseFloat($('#txtLaborCost').val())) ? 0.00 : parseFloat($('#txtLaborCost').val());

           // if (subTotal > 0) {
           //     grandTotal = (subTotal + transport + labour);
           // } else {
           //     grandTotal = ( transport + labour);
           // }


           // grandTotal =(subTotal + transport + labour);


           //$('#lblTotal').html(grandTotal);

            //var difference = (grandTotal - grandTotalCr) || 0;

            ////  $('#lblTotalAmountDifference').html(Math.ceil(difference.toFixed(2)));
            //$('#lblTotalAmountDifference').html(difference);
        }
    </script>
}