﻿

@{
    int sl = Convert.ToInt32(TempData["trSl"]);
}

<tr id="tr_@sl">

    <td>@sl</td>
    <td>
        <select class="form-control select2" id="pro_@sl" onchange="GetProductDetails(@sl)" ></select>
        
    </td>
    <td style="display: none">
        <input type="text" class="form-control" disabled="disabled" id="cat_@sl" />
    </td>
    @*<td>
        <input type="text" class="form-control" disabled="disabled" id="stQty_@sl" />
    </td>*@

    <td>
            <input type="number" class="form-control" disabled="disabled" id="stKg_@sl" />
        </td>
   

    
    <td>
        <input type="number" class="form-control" id="saleRate_@sl" oninput="Total(@sl)" />
    </td>
    <td>
        <input type="number" class="form-control" id="saleQty_@sl" oninput="Total(@sl)" />
    </td>
    <td>
        <input type="number" class="form-control" id="total_@sl" />
    </td>
    <td>
        <input type="number" class="form-control" id="disPer_@sl" value="0" oninput="Total(@sl)" />
    </td>
    <td>
        <input type="number" class="form-control" id="disNum_@sl"  oninput="CalculateSalePriceAmt(@sl)" />
    </td>
    <td>
        <input type="number" class="form-control" id="proTax_@sl" disabled="disabled" />
    </td>

    <td>
        <input type="number" class="form-control" disabled="disabled" id="totalG_@sl" />
    </td>
    <td class="hideAction">
        <button class="btn btn-xs btn-success " onclick="AddRow()"><b>+</b></button>
        <button class="btn btn-xs btn-danger" onclick="RemoveRow(@sl)"><b>x</b></button>
        <input type="number" value="0" style="display: none" id="details_@sl" />
    </td>
    



</tr>
