﻿

@model IGFoodProject.ViewModel.ViewCustomerInfo
<div class="card-body">
    <div class="row">
        <label> Name: @Model.CustomerName</label>

    </div>
    <div class="row">
        <label> Code: @Model.CustomerCode</label>
    </div>
    <div class="row">
        <label id="customerAddress"> Address: @Model.PersonalAddress</label>
    </div>
    <div class="row">
        <label> Division: @Model.DivisionName</label>
    </div>
    <div class="row">
        <label> Area: @Model.AreaName</label>
    </div>
    <div class="row">
        <label> Territory: @Model.TerritoryName</label>
    </div>
    <div class="row" style="display:none;">
        <label id="lblCusType"> @Model.CustomerTypeID</label>
    </div>

</div>
