﻿
@{
    ViewBag.Title = "Approve Sales Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-3">
                                <h4>Approve Sales Order</h4>
                            </div>
                            <div class="col-md-4">
                                <h3 id="salesOrderNo"></h3>
                            </div>
                        </div>

                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divCompany">
                                    <label for="ddlCompany">Company</label>
                                    <select class="form-control" style="width: 100%;" id="ddlCompany"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divCustomerType">
                                    <label for="ddlCustomerType">Customer Type</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlCustomerType" onchange="LoadCustomer('ddlCustomer')"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divCustomer">
                                    <label for="ddlCustomer">Customer</label>
                                    <select class="form-control" style="width: 100%;" id="ddlCustomer" onchange="GetCustomerDetails()"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divOrderDate">
                                    <label for="txtOrderDate">Order Date</label>
                                    <input type="text" id="txtOrderDate" class="form-control" />
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card-body">
                                <div id="customerDetails"></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divDeliveryDate">
                                    <label for="txtDeliveryDate">Delivery Date</label>
                                    <input type="text" id="txtDeliveryDate" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="card-body">
                                <input type="checkbox" class="form-check-input" id="chkEmployee" style="margin-left: 3px; margin-top: 20px;" />
                                <label class="form-check-label" for="chkEmployee" style="margin-left: 24px;margin-top: 17px;">Is Employee</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card-body">
                                <div class="form-group" id="divSalesPerson">
                                    <label for="txtSalesPerson">Sales Person</label>
                                    <input type="text" id="txtSalesPerson" class="form-control" onchange="GetSalesPersonPhone()" />
                                    <input type="number" style="display: none" id="employeeSelect" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="dovSalesPersonNo">
                                    <label for="txtSalesPersonNo">Sales Person Contact</label>
                                    <input type="text" id="txtSalesPersonNo" class="form-control" />

                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divDestination">
                                    <label for="txtDestination">Destination</label>
                                    <input type="text" id="txtDestination" class="form-control" />

                                </div>
                            </div>
                        </div>



                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divRemarks">
                                    <label for="txtRemarks">Remarks</label>
                                    <input type="text" class="form-control" id="txtRemarks" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body">
                                <table class="table table-bordered table-striped" id="salesOrder">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th width="400">Product</th>
                                            @*<th width="200">Product Category</th>*@
                                            <th>Stock Qty</th>
                                            <th>Stock Kg</th>

                                            <th>Sale Price</th>
                                            <th>Sale Qty</th>
                                            <th>Sale KG</th>
                                            <th>Discount %</th>
                                            <th>Discount Amy.</th>
                                            <th>Amount</th>
                                            <th>Total Amount</th>
                                            <th class="actionHide">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <div class="row">
                                    <div class="form-group" id="divPaymentType">
                                        <label for="ddlPamentType">Payment Type</label>
                                        <select id="ddlPamentType" class="form-control"></select>

                                    </div>
                                </div>
                                <div class="row">
                                    <label>Order Total Amount in KG:</label>
                                    <label id="totalKg">0</label>
                                </div>
                                <div class="row">
                                    <label>TAX & VAT:</label>
                                    <label id="taxVat">2</label>
                                    <label> %</label>
                                </div>
                                <div class="row">
                                    <label>Total Taka Including TAX & VAT:</label>
                                    <label id="totalIncTacVat">0</label>
                                </div>
                                <div class="row">
                                    <label>Total Taka Excludeing TAX & VAT:</label>
                                    <label id="totalExTaxVat">0</label>
                                </div>
                                <div class="row">
                                    <label class="text-success">Collected Amt.: </label>
                                    <label class="text-success" id="collectMoney">0</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button class="btn btn-primary appButton" onclick="ApproveOrder(1)">Approve</button>
                            <button class="btn btn-danger appButton" onclick="ApproveOrder(2)">Reject</button>

                            <a class="btn btn-outline-danger" href="@Url.Action("SalesOrderApproveList","SalesOrderProcess")">Cancel</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
    <input id="salesOrderId" type="number" style="display: none;" value="@ViewBag.SalesOrder">
</section>
@section Scripts
{


    <script>
        var PrlductList = {};
        var DeleteProduct = [];
        $(document).ready(function () {
            LoadCompany('ddlCompany');
            LoadCustomerType('ddlCustomerType');

            GetOrderMaster();


        });
        function LoadCustomerType(elementId) {

            var urlpath = '@Url.Action("GetCustomerType", "SalesOrderFurtherProcess")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",

                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Customer Type --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].CustomerTypeID).html(data[i].CoustomerTypeName));
                    }
                }
            });
        }
        function ApproveOrder(status) {
            if (SaveValidation() == true) {
                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveApproveOdrerFinal(status);

                });
            }


        }
        function SaveApproveOdrerFinal(status) {

            var jsonData = {};

            jsonData["CompanyId"] = $('#ddlCompany').val();
            jsonData["CustomerId"] = $('#ddlCustomer').val();
            jsonData["SalesOrderProcessedMasterId"] = $('#salesOrderId').val();
            jsonData["OrderType"] = 1;
            jsonData["SalesPerson"] = $('#txtSalesPerson').val();
            jsonData["SalesPersonContact"] = $('#txtSalesPersonNo').val();
            jsonData["OrderDate"] = $('#txtOrderDate').val();
            jsonData["DeliveryDate"] = $('#txtDeliveryDate').val();
            jsonData["DeliveryDestination"] = $('#txtDestination').val();
            jsonData["GroupId"] = 5;
            jsonData["PaymentType"] = $('#ddlPamentType').val();

            jsonData["CompanyId"] = $('#ddlCompany').val();
            jsonData["TotatalOrderAmtKg"] = parseFloat($('#totalKg').html());
            jsonData["TotalIncTaxVat"] = parseFloat($('#totalIncTacVat').html());
            jsonData["TotalExTaxVat"] = parseFloat($('#totalExTaxVat').html());
            jsonData["TaxVat"] = parseFloat($('#taxVat').html());
            jsonData["Remarks"] = $('#txtRemarks').val();
            jsonData["CollectionType"] = $('#ddlCollection').val();
            jsonData["CollectionAmount"] = $('#txtCollection').val();
            jsonData["IsEmployee"] = $("#chkEmployee").prop("checked");
            jsonData["CustomerTypeId"] = $('#ddlCustomerType').val();
            jsonData["RefNo"] = $('#txtRefNo').val();
            jsonData["RefDate"] = $('#txtRefDate').val();
            jsonData["IsApprove"] = status;
            var jsonObjs = [];
            $('#salesOrder tbody tr').each(function () {

                var theObj = {};
                var idr = $(this).attr('id');
                var id = idr.substring(3);
                var productId = isNaN(parseFloat($('#pro_' + id).val())) ? 0 : parseFloat($('#pro_' + id).val());
                var saleQty = isNaN(parseFloat($('#saleQty_' + id).val())) ? 0 : parseFloat($('#saleQty_' + id).val());
                var stockRate = isNaN(parseFloat($('#stRate_' + id).val())) ? 0 : parseFloat($('#stRate_' + id).val());
                var saleRate = isNaN(parseFloat($('#saleRate_' + id).val())) ? 0 : parseFloat($('#saleRate_' + id).val());

                var saleKg = isNaN(parseFloat($('#saleKG_' + id).val())) ? 0 : parseFloat($('#saleKG_' + id).val());

                var disPer = isNaN(parseFloat($('#disPer_' + id).val())) ? 0 : parseFloat($('#disPer_' + id).val());
                var disAmt = isNaN(parseFloat($('#disNum_' + id).val())) ? 0 : parseFloat($('#disNum_' + id).val());
                var total = isNaN(parseFloat($('#totalG_' + id).val())) ? 0 : parseFloat($('#totalG_' + id).val());
                var detailsId = isNaN(parseFloat($('#details_' + id).val())) ? 0 : parseFloat($('#details_' + id).val());
               
                theObj["OperationIdAdd"] = detailsId == 0 ? 2 : 0;
                theObj["ProductId"] = productId;
                theObj["SalesOrderProcessDetailsId"] = detailsId;
                theObj["ProductQty"] = saleQty;
                theObj["StockRate"] = stockRate;
                theObj["SaleRate"] = saleRate;
                theObj["ProductKg"] = saleKg;
                theObj["DiscountAmount"] = disAmt;
                theObj["DiscountPercent"] = disPer;
                theObj["TotalPrice"] = total;
                
                jsonObjs.push(theObj);
            });
             
            if (isNaN(parseInt($('#salesOrderId').val())) ? 0 : parseInt($('#salesOrderId').val()) > 0) {
                var deleteLength = DeleteProduct.length;
                for (var ind = 0; ind < DeleteProduct.length; ind++) {
                    jsonObjs.push(DeleteProduct[ind]);
                }
            }


            jsonData["SalesDetails"] = jsonObjs;

            var urlpath = '@Url.Action("SaveOrderPrecessed", "SalesOrderProcess")';
            $.ajax({
                contentType: "application/json",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "POST"
            })
                .success(function (result) {

                    if (result.pk > 0) {

                        // var mrrNo = GetMrrNo(result.pk);

                        swal({
                            title: " Saved Successfull",
                            text: '',
                            type: "success",
                            showCancelButton: false,
                            cancelButtonClass: 'btn-secondary waves-effect',
                            confirmButtonClass: 'btn-success waves-effect waves-light',
                            confirmButtonText: 'Yes!',
                            closeOnConfirm: false
                        }, function () {
                            window.location.href = '@Url.Action("SalesOrderApproveList", "SalesOrderProcess")';

                        });


                    }
                });


        }
        function SaveValidation() {
            var isValid = true;
            var message = "Some Values Required";
            if ($('#ddlCompany').val() == 0 || $('#ddlCompany').val() == '') {
                ValidationColorChangeNew("ddlCompany", "divCompany", "Company Required", true);
                isValid = false;
            }
            if ($('#ddlCustomerType').val() == 0 || $('#ddlCustomerType').val() == '') {
                ValidationColorChangeNew("ddlCustomerType", "divCustomerType", "Customer Type Required", true);
                isValid = false;
            }
            if ($('#ddlCustomer').val() == 0 || $('#ddlCustomer').val() == '') {
                ValidationColorChangeNew("ddlCustomer", "divCustomer", "Customer Required", true);
                isValid = false;
            } if ($('#txtOrderDate').val() == '' || $('#ddlCustomer').val() == null) {
                ValidationColorChangeNew("txtOrderDate", "divOrderDate", "Order Date Required", false);
                isValid = false;
            } if ($('#txtDeliveryDate').val() == '' || $('#txtDeliveryDate').val() == null) {
                ValidationColorChangeNew("txtDeliveryDate", "divDeliveryDate", "Delivery Date Required", false);
                isValid = false;
            }
            if ($('#txtDestination').val() == '' || $('#txtDestination').val() == null) {
                ValidationColorChangeNew("txtDestination", "divDestination", "Delivery Place Required", false);
                isValid = false;
            }

            if ($('#txtSalesPersonNo').val() == '' || $('#txtSalesPersonNo').val() == null) {
                ValidationColorChangeNew("txtSalesPersonNo", "dovSalesPersonNo", "Contact No Required", false);
                isValid = false;
            }


            var chk = $("#chkEmployee").prop("checked");
            if (chk == true) {
                if ($('#txtSalesPerson').val() == '' || $('#txtSalesPerson').val() == null || $('#employeeSelect').val() == 0) {
                    ValidationColorChangeNew("txtSalesPerson", "divSalesPerson", "Sales Person Required", false);
                    isValid = false;
                }
            }
            else {
                if ($('#txtSalesPerson').val() == '' || $('#txtSalesPerson').val() == null) {
                    ValidationColorChangeNew("txtSalesPerson", "divSalesPerson", "Sales Person Required", false);
                    isValid = false;
                }
            }



            if ($('#ddlPamentType').val() == '' || $('#ddlPamentType').val() == null || $('#ddlPamentType').val() == 0) {
                ValidationColorChangeNew("ddlPamentType", "divPaymentType", "Payment Type Required", true);
                isValid = false;
            }
            var colection = isNaN(parseFloat($('#txtCollection').val())) ? 0 : parseFloat($('#txtCollection').val());
            if (colection > 0) {
                if ($('#ddlCollection').val() == '' || $('#ddlCollection').val() == null || $('#ddlCollection').val() == 0) {
                    ValidationColorChangeNew("ddlCollection", "divCollection", "Collection Type Required", true);
                    isValid = false;
                }
                if ($('#ddlCollection').val() != 2) {
                    if ($('#txtRefNo').val() == 0 || $('#txtRefNo').val() == '') {
                        ValidationColorChangeNew('txtRefNo', 'divRefNo', 'Write Ref No Or cheque No', true);
                        isValid = false;
                    }
                    if ($('#txtRefDate').val() == 0 || $('#txtRefDate').val() == '') {
                        ValidationColorChangeNew('txtRefDate', 'divRefDate', 'Write Ref Date', true);
                        isValid = false;
                    }
                }
            }

            if ($('#salesOrder tbody tr').length == 0 || $('#salesOrder tbody tr').length == '') {
                isValid = false;
                message = "Products Required";
            }



            $('#salesOrder tbody tr').each(function () {


                var idr = $(this).attr('id');
                var id = idr.substring(3);
                var saleQty = isNaN(parseFloat($('#saleQty_' + id).val())) ? 0 : parseFloat($('#saleQty_' + id).val());
                var salePrice = isNaN(parseFloat($('#saleRate_' + id).val())) ? 0 : parseFloat($('#saleRate_' + id).val());
                var saleKg = isNaN(parseFloat($('#saleKG_' + id).val())) ? 0 : parseFloat($('#saleKG_' + id).val());
                var total = isNaN(parseFloat($('#totalG_' + id).val())) ? 0 : parseFloat($('#totalG_' + id).val());
                if (salePrice === 0) {
                    isValid = false;
                    message = "Sale Price Cannot be 0 ";
                    return;
                }
                if (saleQty === 0) {
                    isValid = false;
                    message = "Sale Qty Cannot be 0 ";
                    return;
                }
                if (saleKg === 0) {
                    isValid = false;
                    message = "Sale KG Cannot be 0 ";
                    return;
                }

                if (total === 0) {
                    isValid = false;
                    message = "Total Price Cannot be 0 ";
                    return;
                }
            });
            if (isValid == false) {
                ShowMessage(message);

            }
            return isValid;


        }
        function LoadPaymentType(elementId) {

            var urlpath = '@Url.Action("GetPaymentType", "Utility")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",

                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Payment --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].PaymentTypeId).html(data[i].PaymentType));
                    }
                }
            });
        }

        function GetOrderMaster() {
            var id = $('#salesOrderId').val();
            var urlpath = '@Url.Action("GetSalesOrderMaster", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { id: id },
                async: false,
                success: function (data) {
                    LoadCustomerType('ddlCustomerType');
                    $("#ddlCustomerType").val(data.CustomerTypeId).trigger('change');
                    LoadCustomer('ddlCustomer');
                    $("#ddlCustomer").val(data.CustomerId).trigger('change');
                    GetCustomerDetails();
                    $("#ddlCompany").val(data.CompanyId).trigger('change');
                    $("#txtSalesPersonNo").val(data.SalesPersonContact);

                    if (data.IsEmployee == true) {
                        $('#chkEmployee').prop('checked', true);
                        $("#txtSalesPerson").val(GetEmployeeName(data.SalesPerson));
                        GetEmpNoFromId($("#txtSalesPerson").val());
                    } else {
                        $('#chkEmployee').prop('checked', false);
                        $("#txtSalesPerson").val(data.SalesPerson);
                    }


                    $('#txtOrderDate').val(ToJavaScriptDate(data.OrderDate));
                    $('#txtDeliveryDate').val(ToJavaScriptDate(data.DeliveryDate));
                    $('#txtDestination').val(data.DeliveryDestination);







                    $('#txtRemarks').val(data.Remarks);
                    LoadPaymentType('ddlPamentType');
                    $("#ddlPamentType").val(data.PaymentType).trigger('change');
                    $('#salesOrderNo').html(data.SalesOrderNo);
                    $('#collectMoney').html(data.TotalPaid);
                    GetProducts();
                    for (var i = 0; i < data.SalesDetails.length; i++) {

                        var tr = $('#salesOrder tbody tr').length +1;
                        AddRow();
                        $("#pro_" + tr).val(data.SalesDetails[i].ProductId).trigger('change');

                        $('#saleQty_' + tr).val(data.SalesDetails[i].ProductQty);
                        $('#saleKG_' + tr).val(data.SalesDetails[i].ProductKg);
                        $('#disPer_' + tr).val(data.SalesDetails[i].DiscountPercent);
                        $('#disNum_' + tr).val(data.SalesDetails[i].DiscountAmount);
                        $('#saleRate_' + tr).val(data.SalesDetails[i].SaleRate);

                        $('#total_' + tr).val(data.SalesDetails[i].TotalPrice + data.SalesDetails[i].DiscountAmount);
                        $('#totalG_' + tr).val(data.SalesDetails[i].TotalPrice);
                        $('#details_' + tr).val(data.SalesDetails[i].SalesOrderProcessDetailsId);
                    }

                    CalculateAll();


                    //$('#totalKg').html(data.TotatalOrderAmtKg);
                    //$('#totalIncTacVat').html(data.TotalIncTaxVat);
                    //$('#totalExTaxVat').html(data.TotalExTaxVat);
                    //$('.actionHide').hide();
                    //$(":input").prop("disabled", true);
                    //$(".appButton").prop("disabled", false);


                }
            });
        }

        function GetEmpNoFromId(data) {

            var a = data;
            var empId = data.substring(0, 5);

            var urlpath = '@Url.Action("GetEmpNo", "Utility")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { empId: empId },
                async: false,
                success: function (data) {
                    $('#employeeSelect').val(data);
                }
            });

        }
        function GetEmployeeName(empId) {
            var EmpName = "";
            var urlpath = '@Url.Action("GetEmployeeName", "Utility")';
            $.ajax({
                url: urlpath,
                data:{empId:empId},
                dataType: 'json',
                type: "Get",

                async: false,
                success: function (data) {
                    EmpName = data;

                }
            });
            return EmpName;
        }
        function GetProductDetails(prodId) {



            var productId = $('#pro_' + prodId).val();
            var wareHouseId = $('#ddlWareHouse').val();
            var urlpath = '@Url.Action("GetProductDetails", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'json',
                data: { productId: productId, wareHouseId: wareHouseId },
                async: false,
                success: function (data) {


                    $("#stQty_" + prodId).val(data.StockQty);
                    $("#stKg_" + prodId).val(data.StockKg);
                    $("#stRate_" + prodId).val(data.StockPrice.toFixed(2));
                    $('#saleRate_' + prodId).val(data.StockPrice.toFixed(2));



                }
            });
        }
        function CalculateSalePrice(id) {

            var saleRate = isNaN(parseFloat($('#saleRate_' + id).val())) ? 0 : parseFloat($('#saleRate_' + id).val());
            var saleQty = isNaN(parseFloat($('#saleQty_' + id).val())) ? 0 : parseFloat($('#saleQty_' + id).val());
            var disCounPer = isNaN(parseFloat($('#disPer_' + id).val())) ? 0 : parseFloat($('#disPer_' + id).val());
            var total = saleRate * saleQty;
            var distountTotal = total * (disCounPer / 100);

            var totalPrice = total - distountTotal;
            $('#total_' + id).val(total.toFixed(2));
            $('#disNum_' + id).val(distountTotal.toFixed(2));
            $('#totalG_' + id).val(totalPrice.toFixed(2));
            CalculateAll();
        }
        function CalculateKg() {
            CalculateAll();
        }
        function CalculateSalePriceAmt(id) {

            var saleRate = isNaN(parseFloat($('#saleRate_' + id).val())) ? 0 : parseFloat($('#saleRate_' + id).val());
            var saleQty = isNaN(parseFloat($('#saleQty_' + id).val())) ? 0 : parseFloat($('#saleQty_' + id).val());
            var discountAmt = isNaN(parseFloat($('#disNum_' + id).val())) ? 0 : parseFloat($('#disNum_' + id).val());

            var total = saleRate * saleQty;
            var discountRate = (discountAmt / total) * 100;
            var totalPrice = total - discountAmt;
            $('#total_' + id).val(total.toFixed(2));
            $('#disPer_' + id).val(discountRate.toFixed(2));
            $('#totalG_' + id).val(totalPrice.toFixed(2));
            CalculateAll();
        }


         function AddRow() {
            CalculateAll();
            var tr = $('#salesOrder tbody tr').length + 1;
            var values = $("#salesOrder tbody tr")
              .map(function () { return parseInt($(this).attr('id').substring(3)); }).get();
            var index = values.indexOf(tr);
            if (index >= 0) {
                tr = Math.max.apply(Math, values) + 1;
            }
            var urlpath = '@Url.Action("AddRowForOrder", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'html',
                data: { tr: tr },
                async: false,
                success: function (data) {

                    $('#salesOrder tbody').append(data);
                    LoadProductInRow("pro_" + tr);


                }
            });
            $('#pro_' + tr).select2();
            SerialTable();
        }
        function LoadProductInRow(elementId) {

            var array = [];
            var rowCount = $('#salesOrder tbody tr').length;
            for (let count = 0; count < rowCount; count++) {
                array.push(parseInt($("#pro_" + count).val()));
            };
            $('#' + elementId + '').append("<option value='0'>--Select Product--</option>");

            for (var i = 0; i < PrlductList.length; i++) {
                if (jQuery.inArray(PrlductList[i].ProductId, array) == -1) {
                    $('#' + elementId + '').append($("<option></option>").val(PrlductList[i].ProductId).html(PrlductList[i].ProductNo + ":" + PrlductList[i].ProductName));
                }

            }
            //$('#' + elementId + '').select2();
        }
        function SerialTable() {
            $('#salesOrder tbody tr').each(function (index,element) {

                var idr = $(this).attr('id');
                var id = idr.substring(3);
                $('#ts_' + id).html(index + 1);


            });
        }
        function RemoveRow(id) {


            var trLength = $('#salesOrder tbody tr').length;
            if (trLength > 1) {

                var detailsId = $('#details_' + id).val();
                if (detailsId > 0) {
                    var productId = isNaN(parseFloat($('#pro_' + id).val())) ? 0 : parseFloat($('#pro_' + id).val());
                    var saleQty = isNaN(parseFloat($('#saleQty_' + id).val())) ? 0 : parseFloat($('#saleQty_' + id).val());
                    var stockRate = isNaN(parseFloat($('#stRate_' + id).val())) ? 0 : parseFloat($('#stRate_' + id).val());
                    var saleRate = isNaN(parseFloat($('#saleRate_' + id).val())) ? 0 : parseFloat($('#saleRate_' + id).val());

                    var saleKg = isNaN(parseFloat($('#saleKG_' + id).val())) ? 0 : parseFloat($('#saleKG_' + id).val());

                    var disPer = isNaN(parseFloat($('#disPer_' + id).val())) ? 0 : parseFloat($('#disPer_' + id).val());
                    var disAmt = isNaN(parseFloat($('#disNum_' + id).val())) ? 0 : parseFloat($('#disNum_' + id).val());
                    var total = isNaN(parseFloat($('#totalG_' + id).val())) ? 0 : parseFloat($('#totalG_' + id).val());
                    var delObj = {};
                    delObj["ProductId"] = productId;
                    delObj["SalesOrderProcessDetailsId"] = detailsId;
                    delObj["ProductQty"] = saleQty;
                    delObj["StockRate"] = stockRate;
                    delObj["SaleRate"] = saleRate;
                    delObj["ProductKg"] = saleKg;
                    delObj["DiscountAmount"] = disAmt;
                    delObj["DiscountPercent"] = disPer;
                    delObj["TotalPrice"] = total;
                    delObj["IsDelete"] = true;
                    delObj["OperationIdDelete"]  =2 ;





                    DeleteProduct.push(delObj);

                }
                $('#tr_' + id).remove();
                // var aProd = new object();
                SerialTable();
                CalculateAll();
            } else {
                return;
            }

        }
        function CalculateAll() {


            var grandTotal = 0;
            var totalIncTax = 0;
            var totalExTax = 0;
            var totalKg = 0;
            var totalTax = 0;
            $('#salesOrder tbody tr').each(function () {


                var idr = $(this).attr('id');
                var id = idr.substring(3);

                var productId = isNaN(parseFloat($('#pro_' + id).val())) ? 0 : parseFloat($('#pro_' + id).val());
                var saleQty = isNaN(parseFloat($('#saleQty_' + id).val())) ? 0 : parseFloat($('#saleQty_' + id).val());
                var stockRate = isNaN(parseFloat($('#stRate_' + id).val())) ? 0 : parseFloat($('#stRate_' + id).val());
                var saleRate = isNaN(parseFloat($('#saleRate' + id).val())) ? 0 : parseFloat($('#saleRate' + id).val());

                var saleKg = isNaN(parseFloat($('#saleKG_' + id).val())) ? 0 : parseFloat($('#saleKG_' + id).val());

                var disPer = isNaN(parseFloat($('#disPer_' + id).val())) ? 0 : parseFloat($('#disPer_' + id).val());
                var disAmt = isNaN(parseFloat($('#disNum_' + id).val())) ? 0 : parseFloat($('#disNum_' + id).val());
                var total = isNaN(parseFloat($('#totalG_' + id).val())) ? 0 : parseFloat($('#totalG_' + id).val());
                grandTotal += total;
                totalKg += saleKg;

            });
            $('#taxVat').html(GetTaxInfo(5, grandTotal));

            var tax = parseFloat($('#taxVat').html());
            var colection = isNaN(parseFloat($('#txtCollection').val())) ? 0 : parseFloat($('#txtCollection').val());

            var taxCal = grandTotal * (tax / 100);
            totalIncTax = grandTotal + taxCal;
            totalExTax = grandTotal;
            $('#totalKg').html(totalKg.toFixed(2));
            $('#totalIncTacVat').html(totalIncTax.toFixed(2));
            $('#totalExTaxVat').html(grandTotal.toFixed(2));

            var restamount = totalIncTax - colection;
            $('#lblRestAmount').html(restamount);
        }

        function GetTaxInfo(productGroupId, amount) {
            var tax = 2;
            var urlpath = '@Url.Action("GetTaxInfo", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'json',
                data: { productGroupId: productGroupId, amount: amount },
                async: false,
                success: function (data) {
                    tax = data.TaxPercent;

                }
            });
            return tax;
        }
        function LoadProductInTable(elementId) {

            $('#' + elementId + '').append("<option value='0'>--Select Product--</option>");

            for (var i = 0; i < PrlductList.length; i++) {

                $('#' + elementId + '').append($("<option></option>").val(PrlductList[i].ProductId).html(PrlductList[i].ProductNo + ":" + PrlductList[i].ProductName));
            }

        }
        function GetProducts() {


            var urlpath = '@Url.Action("GetProductByGroup", "Utility")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { groupId: 5 },
                async: false,
                success: function (data) {

                    PrlductList = data;

                }
            });
        }
        function GetCustomerDetails() {


            var customerId = $('#ddlCustomer').val();

            var urlpath = '@Url.Action("GetCustomerDetails", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'html',
                type: "Get",
                data: { id: customerId },
                async: false,
                success: function (data) {
                    $('#customerDetails').empty();
                    $('#customerDetails').html(data);

                }
            });



            LoadDate('#txtOrderDate');

            $('#txtDestination').val($('#customerAddress').html());

        }

        function LoadWareHouse(elementId) {

            var location = $('#ddlLocation').val();
            var urlpath = '@Url.Action("LoadWareHouse", "ItemRequisition")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { location: parseInt(location) },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Warehouse--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].WareHouseId).html(data[i].WareHouseName));
                    }

                }
            });
        }

        function GetLocationId(warehouse) {

            var locationId = 0;
            var urlpath = '@Url.Action("GetLocationIdByWarehouse", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: {id:warehouse},
                async: false,
                success: function (data) {

                    locationId = data;
                }
            });
            return locationId;
        }


        function LoadCustomer(elementId) {
            var typeid = $('#ddlCustomerType').val();
            var urlpath = '@Url.Action("GetCustomer", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { typeid: typeid },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Customer --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].CustomerID).html(data[i].CustomerCode + ":" + data[i].CustomerName));
                    }
                }
            });
        }
    </script>
}
