﻿@model IEnumerable<IGFoodProject.ViewModel.ViewSalesOrderProcessedMaster>
@{
    ViewBag.Title = "ByProductSalesOrderApproveList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <a class="btn btn-primary" href="@Url.Action("Index", "SalesOrderByProduct", new {id = 0})">

                            <span class="fa fa-plus"></span> New SO

                        </a>
                        <a class="btn btn-outline-warning float-right" href="@Url.Action("ByProductSalesOrderList", "SalesOrderByProduct")">
                            <h3 class="card-title">
                                <span class="fa fa-list"></span> Order List
                            </h3>
                        </a>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body">

                                <table id="table1" class="table table-bordered table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Sales Order No.</th>
                                            <th>Customer Type</th>
                                            <th>Customer</th>
                                            <th>Destination</th>
                                            <th>Sales Person</th>
                                            <th>Person Contact</th>
                                            <th>Order Date</th>
                                            <th>Delivery Date</th>
                                            <th>Total Price Inc. Vat</th>
                                            <th>Total Price Ex. Vat</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ int count = 1;}
                                        @foreach (var item in Model)
                                        {
                                            <tr class="rowTr" id="@item.SalesOrderProcessedMasterId">

                                                <td>@count</td>
                                                <td>@item.SalesOrderNo</td>
                                                <td>@item.CustomerType</td>
                                                <td>@item.CustomerName</td>
                                                <td>@item.DeliveryDestination</td>
                                                <td>@item.SalesPerson</td>
                                                <td>@item.SalesPersonContact</td>
                                                <td>@Convert.ToDateTime(item.OrderDate).ToString("dd-MMM-yyyy")</td>
                                                <td>@Convert.ToDateTime(item.DeliveryDate).ToString("dd-MMM-yyyy")</td>
                                                <td>@item.TotalIncTaxVat</td>
                                                <td>@item.TotalExTaxVat</td>

                                                @if (item.IsApprove == 0)
                                                {
                                                    <td>Pending</td>
                                                        <td>
                                                            @Html.ActionLink("Approve", "Index", "SalesOrderByProduct", new { salesOrderProcessMasterId = @item.SalesOrderProcessedMasterId, approveFlag = 1 }, null)
                                                        </td>
                                                }
                                                else if (item.IsApprove == 1)
                                                {
                                                    <td>Approved</td>
                                                        <td> Approved</td>
                                                }
                                                else
                                                {
                                                    <td>Rejected</td>
                                                        <td>Rejected</td>
                                                }
                                            </tr>
                                            count++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
