﻿@model IEnumerable<IGFoodProject.Models.BankBranch>

@{
    ViewBag.Title = "Index";
}
<section class="content">
    <div class="container-fluid">


        <div class="card-primary">
            <div class="card-header">
                <h3 class="card-title">
                    <span class="fa fa-eye"></span> Branch List
                </h3>
                <div class="float-right btn btn-outline-warning">
                    @Html.ActionLink("Create New", "Create")
                </div>
            </div>
            <div class="card-body">
                <table class="table dataTable table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>
                            Bank Name
                        </th>
                        <th>
                            Branch Name
                        </th>
                        <th>
                            Address
                        </th>
                        <th>
                            Contact Person
                        </th>
                        <th>
                            Contact Number
                        </th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BankMaster.BankName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BranchName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ContactPerson)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ContactNumber)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.BranchId })
                                    @*@Html.ActionLink("Details", "Details", new { id=item.BranchId }) |*@
                                    @*@Html.ActionLink("Delete", "Delete", new { id=item.BranchId })*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <Script>


    </Script>
}