﻿@using CrystalDecisions.ReportAppServer.ReportDefModel
@using IGFoodProject.Utility
@model IEnumerable<IGFoodProject.ViewModel.ViewSalesOrderProcessedMaster>

@{
    ViewBag.Title = "SalesOrderList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var LoginEmp = Session[SessionCollection.LoginUserEmpId].ToString();
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">

                        <div class="row">

                            <div class="col-md-6">
                                <h3>Retail Sales List Page</h3>
                            </div>
                            <div class="col-md-6 text-right ">
                                <a class="btn btn-outline-warning" href="@Url.Action("Index", "RetailSales")">

                                    <span class="fa fa-plus"></span> Go To New Retail Sales Order Entry

                                </a>
                            </div>

                        </div>



                    </div>
                    <div class="row">
                        <div class="card-body">
                            <div class="col-md-3">
                                <div class="form-group" id="divRetailCustomer_Search">
                                    <label for="ddlRetailCustomer_Search">Retail Customer</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlRetailCustomer_Search"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divSalesPerson">
                                    <label for="txtSalesPerson">Sales Person</label>
                                    <input type="text" id="txtSalesPerson" class="form-control" />
                                    <input type="number" id="employeeSelect" style="display: none" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divFromDate">
                                    <label for="txtFromDate">From Order Date</label>
                                    <input type="text" id="txtFromDate" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divToDate">
                                    <label for="txtToDate">To Order Date</label>
                                    <input type="text" id="txtToDate" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divDeliveryWarehouseSearch">
                                    <label for="ddlDeliveryWarehouseSearch">Delivery Warehouse</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlDeliveryWarehouseSearch"></select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <button style="margin-left: 27px;" class="btn btn-primary" onclick="ShowReport()">Search Order</button>
                            @*<button class="btn btn-primary" onclick="SaveOrder()">Submit</button>*@
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body">
                                <table class="table table-bordered table-striped table-hover table-responsive">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Sales Order No.</th>
                                            <th>Customer Type</th>
                                            <th>Customer</th>
                                            <th>Retail Contact</th>
                                            <th> Customer</th>
                                            <th>Destination</th>
                                            <th>Sales Person</th>
                                            <th>Order Date</th>
                                            <th>Delivery Date</th>
                                            <th>Delivery Warehouse</th>
                                            <th>Total Price Inc. Vat</th>
                                            <th>Total Price Ex. Vat</th>
                                            <th>Total Due</th>
                                            <th>Status</th>
                                            <th colspan="2">Action</th>

                                        </tr>
                                    </thead>
                                    <tbody id="manuallist">
                                        @{ int count = 1;}
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@count</td>
                                                <td>@item.SalesOrderNo</td>
                                                <td>@item.CustomerType</td>
                                                <td>@item.CustomerName</td>
                                                <td>@item.RetailPhoneNo</td>
                                                <td>@item.RetailName</td>
                                                <td>@item.DeliveryDestination</td>
                                                <td>@item.SalesPerson</td>
                                                <td>@Convert.ToDateTime(item.OrderDate).ToString("dd-MMM-yyyy")</td>
                                                <td>@Convert.ToDateTime(item.DeliveryDate).ToString("dd-MMM-yyyy")</td>
                                                <td>@item.DeliveryWarehouse</td>
                                                <td>@item.TotalIncTaxVat.ToString("##,###,0.00")</td>
                                                <td>@item.TotalExTaxVat.ToString("##,###,0.00")</td>
                                                <td>@((item.TotalDue - item.TotalPaid).ToString("##,###,0.00"))</td>

                                                    @if (item.IsApprove == 0)
                                                    {
                                                        <td>Pending</td>
                                                        <td>
                                                            <button class="btn btn-sm btn-primary showBtn" onclick="ShowData(@item.SalesOrderProcessedMasterId)">View</button>
                                                            @Html.ActionLink("Edit", "Index", "SalesOrderProcess", new { soId = item.SalesOrderProcessedMasterId }, new { @class = "btn btn-sm btn-warning" })
                                                            <button class="btn btn-sm btn-danger showBtn" onclick="SoDelete(@item.SalesOrderProcessedMasterId)">Delete</button>


                                                        </td>
                                                    }
                                                    else if (item.IsApprove == 1)
                                                    {
                                                        <td>Approved</td>
                                                            <td>
                                                                <button class="btn btn-sm btn-primary showBtn" onclick="ShowData(@item.SalesOrderProcessedMasterId)">View</button>
                                                               

                                                            </td>

                                                    }
                                                    else
                                                    {
                                                        <td>Rejected</td>
                                                        <td>
                                                            <button class="btn btn-sm btn-primary showBtn" onclick="ShowData(@item.SalesOrderProcessedMasterId)">View</button>
                                                            @Html.ActionLink("Edit", "Index", "SalesOrderProcess", new { soId = item.SalesOrderProcessedMasterId }, new { @class = "btn btn-sm btn-warning" })
                                                        </td>
                                                    }

                                                <td>
                                                    <button class="btn btn-sm btn-danger showBtn" onclick="SOVoid(@item.SalesOrderProcessedMasterId)">Void</button>
                                                </td>


                                            </tr>
                                            count++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>



                    </div>


                </div>

            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->

</section>

<div class="modal fadeInUp" id="viewModal" role="dialog">
    <div class="modal-dialog modal-lg" style="max-width: 100% !important">
        <div class="modal-content">
            <div class="modal-header">

            </div>
            <div class="modal-body" id="containerDetails">

            </div>
            <div class="modal-footer">
                <input type="text" style="display:none;" id="eid" />
                @*<button type="button" class="btn btn-danger" id="clsButton" data-dismiss="modal">Close</button>*@
                <button type="button" class="btn btn-primary" id="clsEdit" onclick="PrintRetailOrder($('#eid').val())">Print</button>
            </div>
        </div>
    </div>
</div>



@section Scripts
{
    <script type="text/javascript">


        $(document).ready(function () {
            //LoadDate_P('#txtFromDate');
            LoadDate_C('#txtFromDate');
            LoadDate_C('#txtToDate');

            LoadRetailCustomer_Search('ddlRetailCustomer_Search');
            EmpAutoCom('txtSalesPerson', 'employeeSelect');
            LoadDeliveryWarehouseSearch();
        });

        function ShowReport() {
            debugger;
            var fromdate;
            var todate;
            var retailCustomerid = '0';
            var deliveryWarehouseId = '0';
            var salespersonid = 'null';
            if ($('#txtFromDate').val() == "") {
                swal("Please input from order date");
                return;
            }
            else {
                fromdate = $('#txtFromDate').val();
            }
            if ($('#txtToDate').val() == "") {
                swal("Please input to order date");
                return;
            }
            else {
                todate = $('#txtToDate').val();
            }
            if ($('#txtSalesPerson').val() == "") {
                salespersonid = '0';
            }
            else {
                salespersonid = $('#txtSalesPerson').val();
            }

            if ($('#ddlRetailCustomer_Search').val() == "0") {
                retailCustomerid = '0';
            }
            else {
                retailCustomerid = $('#ddlRetailCustomer_Search').val();
            }
            if ($('#ddlDeliveryWarehouseSearch').val() == "0") {
                deliveryWarehouseId = '0';
            }
            else {
                deliveryWarehouseId = $('#ddlDeliveryWarehouseSearch').val();
            }

            var urlpath = '@Url.Action("RetailSalesList_Search", "RetailSales")';
            $.ajax({
                url: urlpath,
                dataType: 'html',
                type: "Get",
                data: { fromdate: fromdate, todate: todate, salespersonid: salespersonid, retailCustomerid: retailCustomerid, deliveryWarehouseId: deliveryWarehouseId },
                async: false,
                success: function (data) {

                    data = JSON.parse(data);
                    $("#manuallist").html("");
                    if (data.length > 0) {



                        var row = "";
                        //var count = 1;


                        var count = 1;
                        $.each(data, function (index, item) {



                            row += "<tr>";
                            row += "<td style='text-align:center'>" + count + "</td>";
                            row += "<td style='text-align:center'>" + item.SalesOrderNo + "</td>";
                            row += "<td style='text-align:center'>" + item.CustomerType + "</td>";
                            row += "<td style='text-align:center'>" + item.CustomerName + "</td>";
                            row += "<td style='text-align:center'>" + item.RetailPhoneNo + "</td>";
                            row += "<td style='text-align:center'>" + item.RetailName + "</td>";
                            row += "<td style='text-align:center'>" + item.DeliveryDestination + "</td>";
                            row += "<td style='text-align:center'>" + item.SalesPerson + "</td>";
                        
                            row += "<td style='text-align:center'>" + ToJavaScriptDate(item.OrderDate) + "</td>";
                            row += "<td style='text-align:center'>" + ToJavaScriptDate(item.DeliveryDate) + "</td>";
                            row += "<td style='text-align:center'>" + item.DeliveryWarehouse + "</td>";
                            row += "<td style='text-align:center'>" + item.TotalIncTaxVat + "</td>";
                            row += "<td style='text-align:center'>" + item.TotalExTaxVat + "</td>";
                            row += "<td style='text-align:center'>" + (item.TotalDue - item.TotalPaid) + "</td>";

                                if (item.IsApprove == 0) {
                                    row += "<td style='text-align:center'>Pending</td>";
                                    row += "<td style='text-align:center'><button class='btn btn-sm btn-primary showBtn' onclick='ShowData(" + item.SalesOrderProcessedMasterId + ")'>View</button><a class='btn btn-sm btn-warning' type='button' onclick='GoToDo(" + item.SalesOrderProcessedMasterId + ")'>Edit</a><a class='btn btn-sm btn-danger' type='button' onclick='SoDelete(" + item.SalesOrderProcessedMasterId + ")'>Delete</a></td>";
                                }
                                else if (item.IsApprove == 1) {
                                    row += "<td style='text-align:center'>Approved</td>";
                                    row += "<td style='text-align:center'><button class='btn btn-sm btn-primary showBtn' onclick='ShowData(" + item.SalesOrderProcessedMasterId + ")'>View</button></td>";

                                }
                                else {
                                    row += "<td style='text-align:center'>Rejected</td>";
                                    row += "<td style='text-align:center'><button class='btn btn-sm btn-primary showBtn' onclick='ShowData(" + item.SalesOrderProcessedMasterId + ")'>View</button><a class='btn btn-sm btn-warning' type='button' onclick='GoToDo(" + item.SalesOrderProcessedMasterId + ")'>Edit</a></td>";

                                }
                           
                                row += "<td style='text-align:center'> <a class='btn btn-sm btn-danger' type='button' onclick='SOVoid(" + item.SalesOrderProcessedMasterId + ")'>Void</a></td>";
                            row += "</tr>";
                            count = count + 1;

                        });
                        $("#manuallist").html(row);
                    }
                }
            });
        }


        @*function GoToDo(soId) {
            window.location = "@Url.Action("Index", "RetailSales")" + "?soId=" + soId;
        }*@

        function PrintRetailOrder(soId) {
            var urlpath = '@Url.Action("RetailSalesOrderReports", "RetailSales")';
            var reportValue = "RetailOrder";
            var jsonData = {};

            jsonData["ReportValue"] = reportValue;
            jsonData["soId"] = soId;

            $.ajax({
                url: urlpath,
                data: jsonData,
                dataType: 'json',
                type: "Get",
                success: function (data) {
                    if (data.isSuccess) {
                        //OpenPopUp('BasicReportViewer.aspx');
                        window.open("../CrystalViewer/CrystalViewer.aspx", "_blank", "WIDTH=1024,HEIGHT=768,scrollbars=no, menubar=no,resizable=yes,directories=no,location=no");
                    }
                }
            });
        }

        function SOVoid(soId) {

            swal({
                title: "Are you sure?",
                text: "",
                type: "success",
                showCancelButton: true,
                cancelButtonClass: 'btn-secondary waves-effect',
                confirmButtonClass: 'btn-success waves-effect waves-light',
                confirmButtonText: 'Yes!',
                closeOnConfirm: false

            }, function () {
                $('.confirm').prop("disabled", true);
                $('.cancel').prop("disabled", true);

                var urlpath = '@Url.Action("SOVoid", "RetailSales")';
                $.ajax({
                    url: urlpath,
                    data: { soId: soId },
                    dataType: 'json',
                    type: "Get",

                    async: false,
                    success: function (data) {

                        if (data.isSuccess) {
                            window.location.href = '@Url.Action("RetailSalesList", "RetailSales")';
                        }
                    }
                });

            });

        }



        function ShowData(id) {
            $('#viewModal').modal();


            ViewOrder(id);
            $("#eid").val(id);
            LoadCompany('ddlCompany');
            //LoadCustomer('ddlCustomer');
            LoadCustomerType('ddlCustomerType');
            GetOrderMaster(id);
        }

        function LoadCustomerType(elementId) {

            var urlpath = '@Url.Action("GetCustomerType", "SalesOrderFurtherProcess")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",

                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Customer Type --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].CustomerTypeID).html(data[i].CoustomerTypeName));
                    }
                }
            });
        }

        function LoadSr(elementId, customerId) {
            var urlpath = '@Url.Action("GetSRByCustomerId", "SalesRepresentative")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { customerid: customerId },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select DSR --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].SrId).html(data[i].SrName + ":" + data[i].SrMobileNumber));
                    }
                }
            });
        }
        function ViewOrder(id) {
            var urlpath = '@Url.Action("ViewOrder", "RetailSales")';
            $.ajax({
                url: urlpath,

                dataType: 'html',
                data: { id: id },
                type: "Get",

                async: false,
                success: function (data) {

                    $('#containerDetails').html(data);

                }
            });
        }

    </script>



    <script>
        var PrlductList = {};


        function ApproveOrder(status) {

            swal({
                title: "Are you sure?",
                text: "",
                type: "success",
                showCancelButton: true,
                cancelButtonClass: 'btn-secondary waves-effect',
                confirmButtonClass: 'btn-success waves-effect waves-light',
                confirmButtonText: 'Yes!',
                closeOnConfirm: false

            }, function () {
                $('.confirm').prop("disabled", true);
                $('.cancel').prop("disabled", true);
                var id = $('#mSalesOrderId').val();
                var urlpath = '@Url.Action("ApproveSalesProcesed", "SalesOrderProcess")';
                $.ajax({
                    url: urlpath,
                    data: { id: id, status: status },
                    dataType: 'json',
                    type: "Get",

                    async: false,
                    success: function (data) {
                        if (data.isSuccess) {
                            window.location.href = '@Url.Action("SalesOrderList", "SalesOrderProcess")';
                        }
                    }
                });

            });

        }
        function LoadPaymentType(elementId) {

            var urlpath = '@Url.Action("GetPaymentType", "Utility")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",

                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Payment --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].PaymentTypeId).html(data[i].PaymentType));
                    }
                }
            });
        }

        function GetOrderMaster(id) {

            var urlpath = '@Url.Action("GetSalesOrderMaster", "RetailSales")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { id: id },
                async: false,
                success: function (data) {

                    LoadCustomerType('ddlCustomerType');
                    $("#ddlCustomerType").val(data.CustomerTypeId).trigger('change');
                    LoadCustomer('ddlCustomer');
                    $("#ddlCustomer").val(data.CustomerId).trigger('change');
                    debugger;
                    LoadDeliveryWarehouse();
                    $("#ddlDeliveryWarehouse").val(data.DeliveryWarehouseId).trigger('change');
                   // GetCustomerDetails();
                    $("#sr").removeClass('d-none');
                    if (data.CustomerTypeId == 5) {
                        debugger;
                        LoadSr("ddlSr", $("#ddlCustomer").val());
                        $("#ddlSr").val(data.SrId).trigger('change');
                        $("#ddlSr").show();
                    } else {
                        LoadSr("ddlSr", $("#ddlCustomer").val());
                        $("#ddlSr").val('0').trigger('change');
                        $("#ddlSr").hide();
                    }

                    $("#ddlCompany").val(data.CompanyId).trigger('change');
                    $("#txtSalesPersonNo").val(data.SalesPersonContact);
                    if (data.IsEmployee == true) {
                        $('#chkEmployee').prop('checked', true);
                        $("#txtSalesPerson").val(GetEmployeeName(data.SalesPerson));
                    } else {
                        $('#chkEmployee').prop('checked', false);
                        $("#txtSalesPerson").val(data.SalesPerson);
                    }
                    $('#txtOrderDate').val(ToJavaScriptDate(data.OrderDate));
                    $('#txtDeliveryDate').val(ToJavaScriptDate(data.DeliveryDate));

                    $('#txtRetailCustomerName').val(data.RetailName);
                    $('#txtRetailCustomerPhoneNo').val(data.Phone);
                    $('#txtDestination').val(data.DeliveryDestination);

                    $("#ddlWareHouse").val(data.WarehouseId).trigger('change');
                    $('#txtRemarks').val(data.Remarks);
                    LoadPaymentType('ddlPamentType'); 
                    LoadPaymentType('ddlCollection'); 
                    $("#ddlPamentType").val(data.PaymentType).trigger('change');
                    $("#ddlCollection").val(data.CollectionType).trigger('change');
                    $('#salesOrderNo').html(data.SalesOrderNo);
                    GetProducts();
                    for (var i = 0; i < data.SalesDetails.length; i++) {

                        var tr = $('#salesOrder tbody tr').length + 1;
                        AddRow();
                        $("#pro_" + tr).val(data.SalesDetails[i].ProductId).trigger('change');
                        $('#saleQty_' + tr).val(data.SalesDetails[i].ProductQty);
                        $('#saleKG_' + tr).val(data.SalesDetails[i].ProductKg);
                        $('#disPer_' + tr).val(data.SalesDetails[i].DiscountPercent);
                        $('#disNum_' + tr).val(data.SalesDetails[i].DiscountAmount);
                        $('#saleRate_' + tr).val(data.SalesDetails[i].SaleRate);
                        $('#baseRate_' + tr).val(data.SalesDetails[i].BaseRate);
                        //$('#weightLoss_' + tr).val((data.SalesDetails[i].BaseRate - data.SalesDetails[i].SaleRate).toFixed(2));

                        $('#total_' + tr).val(data.SalesDetails[i].TotalPrice + data.SalesDetails[i].DiscountAmount - data.SalesDetails[i].ProductTax);
                        $('#totalG_' + tr).val(data.SalesDetails[i].TotalPrice);
                        $('#btotal_' + tr).val(data.SalesDetails[i].BTotalPrice);
                        $('#proTax_' + tr).val(data.SalesDetails[i].ProductTax);
                    }




                    $('#totalKg').html(data.TotatalOrderAmtKg);
                    $('#totalIncTacVat').html(data.TotalIncTaxVat);
                    $('#totalExTaxVat').html(data.TotalExTaxVat);
                    $('#txtCollection').val(data.TotalExTaxVat);
                    

                    $(":input").prop("disabled", true);

                    $(".appButton").prop("disabled", true);
                    $(".appButton").hide();
                    $('.actionHide').hide();
                    $('.action').hide();
                    $("#clsButton").prop("disabled", false);
                    $(".showBtn").prop("disabled", false);
                    $("#clsEdit").prop("disabled", false);
                    


                }
            });
        }


        function GetEmployeeName(empId) {
            var EmpName = "";
            var urlpath = '@Url.Action("GetEmployeeName", "Utility")';
            $.ajax({
                url: urlpath,
                data: { empId: empId },
                dataType: 'json',
                type: "Get",

                async: false,
                success: function (data) {
                    EmpName = data;

                }
            });
            return EmpName;
        }
        function GetProductDetails(prodId) {



            var productId = $('#pro_' + prodId).val();
            var wareHouseId = $('#ddlWareHouse').val();
            var urlpath = '@Url.Action("GetProductDetails", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'json',
                data: { productId: productId, wareHouseId: wareHouseId },
                async: false,
                success: function (data) {

                    $("#cat_" + prodId).val(data.CategoryName);
                    $("#stQty_" + prodId).val(data.StockQty);
                    $("#stKg_" + prodId).val(data.StockKg);
                    $("#stRate_" + prodId).val(data.StockPrice.toFixed(2));
                    var salePrice = GetSalePrice(productId, data.StockPrice);

                    $('#saleRate_' + prodId).val(salePrice);

                }
            });
        }

        function GetSalePrice(productId, price) {
            var theprice = 0;
            var urlpath = '@Url.Action("GetProcessedSalePrice", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'json',
                data: { productId: productId, price: price },
                async: false,
                success: function (data) {

                    theprice = data;


                }
            });

            return theprice;
        }
        function AddRow() {

            var tr = $('#salesOrder tbody tr').length + 1;
            var urlpath = '@Url.Action("AddRowForOrder", "RetailSales")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'html',
                data: { tr: tr },
                async: false,
                success: function (data) {

                    $('#salesOrder tbody').append(data);

                    LoadProductInTable("pro_" + tr);

                }
            });
            //CalculateAll();
            //  $('#pro_' + tr).select2();
        }

        function CalculateAll() {


            var grandTotal = 0;
            var totalIncTax = 0;
            var totalExTax = 0;
            var totalKg = 0;
            var totalTax = 0;
            var proCout = $('#salesOrder tbody tr').length;
            $('#salesOrder tbody tr').each(function () {


                var idr = $(this).attr('id');
                var id = idr.substring(3);

                var productId = isNaN(parseFloat($('#pro_' + id).val())) ? 0 : parseFloat($('#pro_' + id).val());
                var saleQty = isNaN(parseFloat($('#saleQty_' + id).val())) ? 0 : parseFloat($('#saleQty_' + id).val());
                var stockRate = isNaN(parseFloat($('#stRate_' + id).val())) ? 0 : parseFloat($('#stRate_' + id).val());
                var saleRate = isNaN(parseFloat($('#saleRate' + id).val())) ? 0 : parseFloat($('#saleRate' + id).val());

                var saleKg = isNaN(parseFloat($('#saleKG_' + id).val())) ? 0 : parseFloat($('#saleKG_' + id).val());

                var disPer = isNaN(parseFloat($('#disPer_' + id).val())) ? 0 : parseFloat($('#disPer_' + id).val());
                var disAmt = isNaN(parseFloat($('#disNum_' + id).val())) ? 0 : parseFloat($('#disNum_' + id).val());
                var total = isNaN(parseFloat($('#totalG_' + id).val())) ? 0 : parseFloat($('#totalG_' + id).val());
                grandTotal += total;
                totalKg += saleKg;

            });
            $('#taxVat').html(GetTaxInfo(5, grandTotal));

            var tax = parseFloat($('#taxVat').html());
            var colection = isNaN(parseFloat($('#txtCollection').val())) ? 0 : parseFloat($('#txtCollection').val());

            var taxCal = grandTotal * (tax / 100);

            var proTax = (taxCal / proCout);
            SetItemTax(proTax);
            totalIncTax = grandTotal + taxCal;
            totalExTax = grandTotal;
            $('#totalKg').html(totalKg.toFixed(2));
            $('#totalIncTacVat').html(totalIncTax.toFixed(2));
            $('#totalExTaxVat').html(grandTotal.toFixed(2));

            var restamount = totalIncTax - colection;
            $('#lblRestAmount').html(restamount.toFixed(2));
        }

        function SetItemTax(proTax) {
            $('#salesOrder tbody tr').each(function () {


                var idr = $(this).attr('id');
                var id = idr.substring(3);
                var total = isNaN(parseFloat($('#totalG_' + id).val())) ? 0 : parseFloat($('#totalG_' + id).val());
                $('#proTax_' + id).val(proTax.toFixed(2));

                $('#totalG_' + id).val((total + proTax).toFixed(2));

            });
        }
        function LoadProductInTable(elementId) {

            $('#' + elementId + '').append("<option value='0'>--Select Product--</option>");

            for (var i = 0; i < PrlductList.length; i++) {

                $('#' + elementId + '').append($("<option></option>").val(PrlductList[i].ProductId).html(PrlductList[i].ProductNo + ":" + PrlductList[i].ProductName));
            }

        }
        function GetProducts() {


            var urlpath = '@Url.Action("GetProductByGroup", "Utility")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { groupId: 5 },
                async: false,
                success: function (data) {

                    PrlductList = data;

                }
            });
        }
        function GetCustomerDetails() {


            var customerId = $('#ddlCustomer').val();

            var urlpath = '@Url.Action("GetCustomerDetails", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'html',
                type: "Get",
                data: { id: customerId },
                async: false,
                success: function (data) {
                    $('#customerDetails').empty();
                    $('#customerDetails').html(data);

                }
            });



            LoadDate('#txtOrderDate');

            $('#txtDestination').val($('#customerAddress').html());

        }

        function LoadWareHouse(elementId) {

            var location = $('#ddlLocation').val();
            var urlpath = '@Url.Action("LoadWareHouse", "ItemRequisition")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { location: parseInt(location) },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Warehouse--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].WareHouseId).html(data[i].WareHouseName));
                    }

                }
            });
        }

        @*function GetLocationId(warehouse) {

            var locationId = 0;
            var urlpath = '@Url.Action("GetLocationIdByWarehouse", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: {id:warehouse},
                async: false,
                success: function (data) {

                    locationId = data;
                }
            });
            return locationId;
        }*@


        function LoadCustomer(elementId) {
            var typeid = $('#ddlCustomerType').val();
            var urlpath = '@Url.Action("GetCustomer", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { typeid: typeid },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Customer --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].CustomerID).html(data[i].CustomerCode + ":" + data[i].CustomerName));
                    }
                }
            });
        }
        function LoadRetailCustomer_Search(elementId) {
            var urlpath = '@Url.Action("GetRetailCustomer", "RetailSales")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                //data: { typeid: typeid },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Retail Customer --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].RetailCustomerID).html(data[i].RetailName));
                    }
                }
            });
        }


        function LoadDeliveryWarehouseSearch() {
            var customerId = 0;
            var warehouseTypeid = 3;
            var urlpath = '@Url.Action("GetDeliveryWarehouse", "RetailSales")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { warehouseTypeid: warehouseTypeid, customerId: customerId },
                async: false,
                success: function (data) {

                    $('#ddlDeliveryWarehouseSearch').empty();
                    $('#ddlDeliveryWarehouseSearch').append("<option value='0'>--Select Delivery Warehouse --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#ddlDeliveryWarehouseSearch').append($("<option></option>").val(data[i].WareHouseId).html(data[i].WareHouseName));
                    }
                }
            });
        }

        function LoadDeliveryWarehouse() {
            var customerId = $('#ddlCustomer').val();
            var warehouseTypeid = 3;
            var urlpath = '@Url.Action("GetDeliveryWarehouse", "RetailSales")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { warehouseTypeid: warehouseTypeid, customerId: customerId },
                async: false,
                success: function (data) {

                    $('#ddlDeliveryWarehouse').empty();
                    //$('#ddlDeliveryWarehouse').append("<option value='0'>--Select Delivery Warehouse --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#ddlDeliveryWarehouse').append($("<option></option>").val(data[i].WareHouseId).html(data[i].WareHouseName));
                    }
                }
            });
        }
    </script>
}
