﻿@using System.Data
@model System.Data.DataTable

<table class="table table-bordered table-striped" id="issueDetails">
    <thead>
        <tr>
            <td>SL</td>
            <td>Warehouse Name</td>
            <td>Qc Date</td>
            <td>Product Kg</td>
            <td>weight Loss Kg</td>
            
        </tr>
    </thead>
    <tbody id="tbodyid">
        @{ int count = 1;}
        @foreach (DataRow item in Model.Rows)
        {
            <tr id="@count">
                <td>@count</td>
                <td>@item.ItemArray[0]</td>
                <td id="challanDate_@count">@Convert.ToDateTime(item.ItemArray[1]).ToString("dd MMM yyyy")</td>
                <td id="issueQty_@count">@item.ItemArray[2]</td>
                <td id="prevKg_@count">@item.ItemArray[3]</td>
            </tr>
            count++;
        }
    </tbody>
</table>

