﻿@using System.Data
@model System.Data.DataTable
<div class="row conta">
    <div class="col-md-12 table table-responsive table-hover table-striped">
        <table id="deliveryDetails" class="table table-bordered">
            <thead>

                <tr>
                    <th style="background-color: #00BFA5;"></th>
                    <th colspan="7" style="background-color: #00BFA5; text-align: center">Sales</th>
                    <th colspan="10" style="background-color: #D1C4E9; text-align: center">Challan</th>
                    <th colspan="3" style="background-color: mediumpurple; text-align: center">Delivery</th>
                    <th colspan="3" style="background-color: thistle; text-align: center">Return</th>
                    <th colspan="3" style="background-color: ghostwhite; text-align: center">Weight Loss</th>
                    <th colspan="2" style="background-color: #F8BBD0; text-align: center"> Weight Gain</th>
                    <th colspan="1" style="background-color: #4DB6AC; text-align: center"> Sales Person</th>
                </tr>

                <tr>
                    <th style="background-color: #00BFA5">SL</th>

                    <!--Sales-->
                    <th style="background-color: #00BFA5">Order No</th>
                    <th style="background-color: #00BFA5">Order Date</th>
                    <th style="background-color: #00BFA5">Customer Name</th>
                    <th style="background-color: #00BFA5">Customer Code</th>
                    <th style="background-color: #00BFA5">Customer Type Name</th>
                    <th style="background-color: #00BFA5">Qty</th>
                    <th style="background-color: #00BFA5">Kg</th>
                    <!---->
                    <!--Challan-->
                    <th style="background-color: #D1C4E9">Challan No</th>
                    <th style="background-color: #D1C4E9">Challan Date</th>
                    <th style="background-color: #D1C4E9">Product Name</th>
                    <th style="background-color: #D1C4E9">Group Name</th>
                    <th style="background-color: #D1C4E9">Type Name</th>
                    <th style="background-color: #D1C4E9">Category Name</th>
                    <th style="background-color: #D1C4E9">Rate</th>
                    <th style="background-color: #D1C4E9">Qty</th>
                    <th style="background-color: #D1C4E9">Kg</th>
                    <th style="background-color: #D1C4E9">Amount</th>
                    <!---->
                    <!--Delivery-->
                    <th style="background-color: mediumpurple">Qty</th>
                    <th style="background-color: mediumpurple">Kg</th>
                    <th style="background-color: mediumpurple">Amount</th>
                    <!---->
                    <!--Return-->
                    <th style="background-color: thistle">Qty</th>
                    <th style="background-color: thistle">Kg</th>
                    <th style="background-color: thistle">Amount</th>
                    <!---->
                    <!--Weight Loss-->
                    <th style="background-color: ghostwhite">Qty</th>
                    <th style="background-color: ghostwhite">Kg</th>
                    <th style="background-color: ghostwhite">Amount</th>
                    <!---->
                    <!--Weight Gain-->
                    <th style="background-color: #F8BBD0">Kg</th>
                    <th style="background-color: #F8BBD0">Amount</th>
                    <!---->
                    <!--Sales Person-->
                    <th style="background-color: #4DB6AC"></th>
                    <!---->

                </tr>
            </thead>
            <tbody id="tbodyid">
                @{
                    int count = 1;
                    Dictionary<string, decimal> subtotals = new Dictionary<string, decimal>();
                    string previousGroupKey = ""; // Declare previousGroupKey variable outside the loop
                    decimal totalChallanAmoun = 0;
                    int totalChallanQty = 0;
                    decimal delQty = 0;
                    decimal delKg = 0;
                    decimal returnQty = 0;
                    decimal returnKg = 0;
                    decimal returnTaka = 0;
                    decimal WeightLossQty = 0;
                    decimal WeightLossKg = 0;
                    decimal WeightLossTaka = 0;
                    decimal WeightGainKg = 0;
                    decimal WeightGainTaka = 0;

                    decimal grandTotalChallanKg = 0;
                    decimal grandTotalChallanQty = 0;
                    decimal grandTotalChallanAmount = 0;
                    decimal grandTotalDeliveryKg = 0;
                    decimal grandTotalDeliveryQty = 0;
                    decimal grandTotalReturnKg = 0;
                    decimal grandTotalReturnQty = 0;
                    decimal grandTotalReturnAmount = 0;
                    decimal grandTotalWeightLossKg = 0;
                    decimal grandTotalWeightLossQty = 0;
                    decimal grandTotalWeightLossAmount = 0;

                    decimal grandTotalWeightGainKg = 0;
                    decimal grandTotalWeightGainAmount = 0;

                    decimal subTotalChallanAmount = 0;
                    decimal grandTotalChallanAmountTaka = 0;

                }
                @foreach (DataRow item in Model.Rows)
                {
                    string groupKey = item.ItemArray[9].ToString(); //SalesOrderChallanNo
                    decimal amount = Convert.IsDBNull(item.ItemArray[17]) ? 0 : Convert.ToDecimal(item.ItemArray[17]); //IssueKG

                    decimal challanAmoun = Convert.IsDBNull(item.ItemArray[28]) ? 0 : Convert.ToDecimal(item.ItemArray[28]); // DeliveryAmount
                    int challanQty = Convert.ToInt32(item.ItemArray[16]); //IssueQty
                    decimal dQty = Convert.IsDBNull(item.ItemArray[18]) ? 0 : Convert.ToDecimal(item.ItemArray[18]); //DeliveryQty
                    decimal dKg = Convert.IsDBNull(item.ItemArray[19]) ? 0 : Convert.ToDecimal(item.ItemArray[19]); //DeliveryKG

                    decimal retQty = Convert.IsDBNull(item.ItemArray[20]) ? 0 : Convert.ToDecimal(item.ItemArray[20]); //ReturnQty
                    decimal retKg = Convert.IsDBNull(item.ItemArray[21]) ? 0 : Convert.ToDecimal(item.ItemArray[21]); //ReturnKG
                    decimal retTaka = Convert.IsDBNull(item.ItemArray[31]) ? 0 : Convert.ToDecimal(item.ItemArray[31]); //ReturnAmount

                    decimal wlQty = Convert.IsDBNull(item.ItemArray[22]) ? 0 : Convert.ToDecimal(item.ItemArray[22]); //WeightLossQty
                    decimal wlKg = Convert.IsDBNull(item.ItemArray[23]) ? 0 : Convert.ToDecimal(item.ItemArray[23]); //WeightLossKG
                    decimal wlTaka = Convert.IsDBNull(item.ItemArray[32]) ? 0 : Convert.ToDecimal(item.ItemArray[32]); //WeightLossAmount

                    decimal wgKg = Convert.IsDBNull(item.ItemArray[24]) ? 0 : Convert.ToDecimal(item.ItemArray[24]); //WeightGainKG
                    decimal wgTaka = Convert.IsDBNull(item.ItemArray[33]) ? 0 : Convert.ToDecimal(item.ItemArray[33]); //WeightGainAmount


                    decimal challanAmountTaka = Convert.IsDBNull(item.ItemArray[34]) ? 0 : Convert.ToDecimal(item.ItemArray[34]); //ChallanAmount

                    if (!subtotals.ContainsKey(groupKey))
                    {
                        subtotals[groupKey] = 0; // Initialize subtotal for the group
                    }

                    if (previousGroupKey != "" && previousGroupKey != groupKey)
                    {
                        // Add the subtotal row after each group
                        <tr style="font-size: 13px">
                            <td colspan="13"></td>
                            <td colspan="2" style="text-align: right;"><strong>Subtotal:</strong></td>
                            <td style="text-align: right;" colspan="1"><strong>@totalChallanQty</strong></td>
                            <td style="text-align: right;" colspan="1"><strong>@subtotals[previousGroupKey]</strong></td>
                            <td style="text-align: right;" colspan="1"><strong>@Math.Round(subTotalChallanAmount, 3) </strong></td>
                            <td style="text-align: right;" colspan="1"><strong>@delQty</strong></td>
                            <td style="text-align: right;" colspan="1"><strong>@delKg</strong></td>
                            <td style="text-align: right;" colspan="1"><strong>@totalChallanAmoun</strong></td>
                            <td style="text-align: right;" colspan="1"><strong>@returnQty</strong></td>
                            <td style="text-align: right;" colspan="1"><strong>@returnKg</strong></td>
                            <td style="text-align: right;" colspan="1"><strong>@Math.Round(returnTaka, 3) </strong></td>
                            <td style="text-align: right;" colspan="1"><strong>@WeightLossQty</strong></td>
                            <td style="text-align: right;" colspan="1"><strong>@WeightLossKg</strong></td>
                            <td style="text-align: right;" colspan="1"><strong>@Math.Round(WeightLossTaka, 3) </strong></td>
                            <td style="text-align: right;" colspan="1"><strong>@WeightGainKg</strong></td>
                            <td style="text-align: right;" colspan="1"><strong>@Math.Round(WeightGainTaka, 3) </strong></td>
                            <td colspan="1"></td>
                        </tr>

                        totalChallanAmoun = 0;
                        totalChallanQty = 0;
                        delQty = 0;
                        delKg = 0;
                        returnQty = 0;
                        returnKg = 0;
                        returnTaka = 0;
                        WeightLossQty = 0;
                        WeightLossKg = 0;
                        WeightLossTaka = 0;
                        WeightGainKg = 0;
                        WeightGainTaka = 0;
                        subTotalChallanAmount = 0;
                    }
                    subTotalChallanAmount += challanAmountTaka;
                    grandTotalChallanAmountTaka += challanAmountTaka;
                    grandTotalChallanQty += challanQty;
                    grandTotalChallanKg += amount;
                    grandTotalChallanAmount += challanAmoun;
                    grandTotalDeliveryKg += dKg;
                    grandTotalDeliveryQty += dQty;
                    grandTotalReturnKg += retKg;
                    grandTotalReturnQty += retQty;
                    grandTotalReturnAmount += retTaka;
                    grandTotalWeightLossKg += wlKg;
                    grandTotalWeightLossQty += wlQty;
                    grandTotalWeightLossAmount += wlTaka;
                    grandTotalWeightGainKg += wgKg;
                    grandTotalWeightGainAmount += wgTaka;
                    WeightGainKg += wgKg;
                    WeightGainTaka += wgTaka;
                    WeightLossQty += wlQty;
                    WeightLossKg += wlKg;
                    WeightLossTaka += wlTaka;
                    returnQty += retQty;
                    returnKg += retKg;
                    returnTaka += retTaka;
                    delQty += dQty;
                    delKg += dKg;
                    totalChallanAmoun += challanAmoun;
                    totalChallanQty += challanQty;
                    subtotals[groupKey] += amount;

                    <tr id="@count">
                        @*style="background-color: aliceblue"*@
                        <td>@count</td>

                        <!--Sales-->
                        <td>@item.ItemArray[0]</td> <!--SalesOrderNo-->
                        <td>@Convert.ToDateTime(item.ItemArray[1]).ToString("dd-MMM-yyyy")</td> <!--OrderDate-->
                        <td>@item.ItemArray[3]</td> <!--CustomerName-->
                        <td>@item.ItemArray[4]</td> <!--CustomerCode-->
                        <td>@item.ItemArray[5]</td> <!--CustomerTypeName-->
                        <td>@item.ItemArray[6]</td> <!--ApprovedQty-->
                        <td>@item.ItemArray[7]</td> <!--ApprovedKG-->
                        <!---->
                        <!--Challan-->
                        <td style="text-align: center"><a id="tabA" onclick="PrintChallanReport(@item.ItemArray[8])">@item.ItemArray[9]</a></td> <!--SalesOrderChallanMasterID & SalesOrderChallanNo-->
                        <td>@Convert.ToDateTime(item.ItemArray[10]).ToString("dd-MMM-yyyy")</td> <!--ChallanDate-->
                        <td>@item.ItemArray[15]</td> <!--ProductName-->
                        <td>@item.ItemArray[11]</td> <!--GroupName-->
                        <td>@item.ItemArray[12]</td> <!--TypeName-->
                        <td>@item.ItemArray[13]</td> <!--CategoryName-->
                        <td>@Math.Round(Convert.IsDBNull(item.ItemArray[35]) ? 0 : Convert.ToDecimal(item.ItemArray[35]), 3) </td> <!--SaleRate-->
                        <td>@item.ItemArray[16]</td> <!--IssueQty-->
                        <td style="text-align: center"><a id="tabA" onclick="PrintReturnChallan(@item.ItemArray[8], 'Sales Challan Generated-AR')"> @item.ItemArray[17]</a></td> <!--SalesOrderChallanMasterID & IssueKg-->
                        <td>@Math.Round(Convert.IsDBNull(item.ItemArray[34]) ? 0 : Convert.ToDecimal(item.ItemArray[34]), 3)</td> <!--ChallanAmount-->
                        <!---->
                        <!--Delivery-->
                        <td>@item.ItemArray[18]</td> <!--DeliveryQty-->
                        <td>@item.ItemArray[19]</td> <!--DeliveryKG-->
                        <td>@challanAmoun</td>
                        <!---->
                        <!--Return-->
                        <td>@item.ItemArray[20]</td> <!--ReturnQty-->
                        <td style="text-align: center"><a id="tabA" onclick="PrintReturnChallan(@item.ItemArray[8], 'Return')"> @item.ItemArray[21]</a></td> <!--SalesOrderChallanMasterID & ReturnKG-->
                        <td>@Math.Round(Convert.ToDecimal(item.ItemArray[31]), 3) </td> <!--ReturnAmount-->
                        <!---->
                        <!--Weight Loss-->
                        <td>@item.ItemArray[22]</td> <!--WeightLossQty-->
                        <td style="text-align: center"><a id="tabA" onclick="PrintReturnChallan(@item.ItemArray[8], 'Weight loss')"> @item.ItemArray[23]</a></td> <!--SalesOrderChallanMasterID & WeightLossKG-->
                        <td>@Math.Round(Convert.ToDecimal(item.ItemArray[32]), 3) </td> <!--WeightLossAmount-->
                        <!---->
                        <!--Weight Gain-->
                        <td style="text-align: center"><a id="tabA" onclick="PrintReturnChallan(@item.ItemArray[8], 'Weight Gain')"> @item.ItemArray[24]</a></td> <!--SalesOrderChallanMasterID & WeightGainKG-->
                        <td>@Math.Round(Convert.ToDecimal(item.ItemArray[33]), 3) </td> <!--WeightGainAmount-->
                        <!---->
                        <!--Sales Person-->
                        <td>@item.ItemArray[30]</td> <!--SalesOfficer-->
                        <!---->

                    </tr>

                    previousGroupKey = groupKey; // Update previousGroupKey for the next iteration

                    count++;
                }
                @*// Add the subtotal row for the last group*@
              @if (previousGroupKey != "")
                    {
                <tr style="font-size: 13px">
                    <td colspan="13"></td>
                    <td colspan="2" style="text-align: right;"><strong>Subtotal:</strong></td>
                    <td style="text-align: right;" colspan="1"><strong>@totalChallanQty</strong></td>
                    <td style="text-align: right;" colspan="1"><strong>@subtotals[previousGroupKey]</strong></td>                


                    <td style="text-align: right;" colspan="1"><strong>@Math.Round(subTotalChallanAmount, 3) </strong></td>
                    <td style="text-align: right;" colspan="1"><strong>@delQty</strong></td>
                    <td style="text-align: right;" colspan="1"><strong>@delKg</strong></td>
                    <td style="text-align: right;" colspan="1"><strong>@totalChallanAmoun</strong></td>
                    <td style="text-align: right;" colspan="1"><strong>@returnQty</strong></td>
                    <td style="text-align: right;" colspan="1"><strong>@returnKg</strong></td>
                    <td style="text-align: right;" colspan="1"><strong>@Math.Round(returnTaka, 3) </strong></td>
                    <td style="text-align: right;" colspan="1"><strong>@WeightLossQty</strong></td>
                    <td style="text-align: right;" colspan="1"><strong>@WeightLossKg</strong></td>
                    <td style="text-align: right;" colspan="1"><strong>@Math.Round(WeightLossTaka, 3) </strong></td>
                    <td style="text-align: right;" colspan="1"><strong>@WeightGainKg</strong></td>
                    <td style="text-align: right;" colspan="1"><strong>@Math.Round(WeightGainTaka, 3) </strong></td>
                    <td colspan="1"></td>
                </tr>
               }
                @*// Add the grand total row after finishing the foreach loop*@
                <tr style="font-size: 14px">
                    <td colspan="13"></td>
                    <td colspan="2" style="text-align: right;"><strong>Grand Total:</strong></td>
                    <td style="text-align: right;" colspan="1"><strong>@grandTotalChallanQty</strong></td>
                    <td style="text-align: right;" colspan="1"><strong>@grandTotalChallanKg</strong></td>
                    <td style="text-align: right;" colspan="1"><strong>@Math.Round(grandTotalChallanAmountTaka, 3) </strong></td>
                    <td style="text-align: right;" colspan="1"><strong>@grandTotalDeliveryQty</strong></td>
                    <td style="text-align: right;" colspan="1"><strong>@grandTotalDeliveryKg</strong></td>
                    <td style="text-align: right;" colspan="1"><strong>@grandTotalChallanAmount</strong></td>
                    <td style="text-align: right;" colspan="1"><strong>@grandTotalReturnQty</strong></td>
                    <td style="text-align: right;" colspan="1"><strong>@grandTotalReturnKg</strong></td>
                    <td style="text-align: right;" colspan="1"><strong>@Math.Round(grandTotalReturnAmount, 3) </strong></td>

                    <td style="text-align: right;" colspan="1"><strong>@grandTotalWeightLossQty</strong></td>
                    <td style="text-align: right;" colspan="1"><strong>@grandTotalWeightLossKg</strong></td>
                    <td style="text-align: right;" colspan="1"><strong>@Math.Round(grandTotalWeightLossAmount, 3) </strong></td>

                    <td style="text-align: right;" colspan="1"><strong>@grandTotalWeightGainKg</strong></td>
                    <td style="text-align: right;" colspan="1"><strong>@Math.Round(grandTotalWeightGainAmount, 3) </strong></td>
                    <td colspan="1"></td>

                </tr>
            </tbody>

        </table>
    </div>
</div>
