﻿@using System.Data
@model System.Data.DataTable
<div class="row">
    <div class="col-md-12 table table-responsive table-hover table-striped">
        <table id="issueDetails" class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th colspan="5" style="background-color: honeydew; text-align: center">Sales</th>
                    <th colspan="5" style="background-color: khaki; text-align: center">Challan</th>
                    <th colspan="2" style="background-color: mediumpurple; text-align: center">Delivery</th>
                    <th colspan="2" style="background-color: thistle; text-align: center">Return</th>
                    <th colspan="2" style="background-color: ghostwhite; text-align: center">WeightLoss</th>
                    <th colspan="11" style="background-color: lightcyan; text-align: center"> QC</th>
                </tr>
                <tr style="background-color: lavender">
                    <th>SL</th>
                    <th>Order No</th>
                    <th>Order Date</th>
                    <th>CustomerName</th>
                    <th>Qty</th>
                    <th>Kg</th>
                    <th>Challan No</th>
                    <th>Challan Date</th>
                    <th>Product Name</th>
                    <th>Qty</th>
                    <th>Kg</th>
                    <th>Qty</th>
                    <th>Kg</th>
                    <th>Qty</th>
                    <th>Kg</th>
                    <th>Qty</th>
                    <th>Kg</th>
                    <th>Is Trade</th>
                    <th>Qc Date</th>
                    <th>Qc Comments</th>
                    <th>WareHouse Name</th>
                    <th>Challan Date</th>
                    <th>Product Name</th>
                    <th>Product Qty</th>
                    <th>Product Kg</th>
                    <th>Weightloss Qty</th>
                    <th>Weightloss Kg</th>
                    <th>IsTrade </th>


                </tr>
            </thead>
            <tbody id="tbodyid">
                @{ int count = 1;}
                @foreach (DataRow item in Model.Rows)
                {
                    if (count % 2 == 0)
                    {
                        <tr id="@count" style="background-color: seashell">
                            <td>@count</td>
                            <td>@item.ItemArray[0]</td>
                            <td>@Convert.ToDateTime(item.ItemArray[1]).ToString("dd-MMM-yyyy")</td>
                            <td>@item.ItemArray[3]</td>
                            <td>@item.ItemArray[4]</td>
                            <td>@item.ItemArray[5]</td>
                            <td>@item.ItemArray[7]</td>
                            @if (Convert.ToDateTime(item.ItemArray[8]).ToString("dd-MMM-yyyy") == "01-Jan-1900")
                    {
                                <td></td>
                            }
                            else
                            {
                                <td>@Convert.ToDateTime(item.ItemArray[8]).ToString("dd-MMM-yyyy")</td>
                            }
                            <td>@item.ItemArray[10]</td>
                            <td>@item.ItemArray[11]</td>
                            <td>@item.ItemArray[12]</td>
                            <td>@item.ItemArray[13]</td>
                            <td>@item.ItemArray[14]</td>
                            <td>@item.ItemArray[15]</td>
                            <td>@item.ItemArray[16]</td>
                            <td>@item.ItemArray[17]</td>
                            <td>@item.ItemArray[18]</td>
                            @if (Convert.ToInt32(item.ItemArray[19]) == 0)
                    {
                                <td>False</td>
                            }
                            else
                            {
                                <td>True</td>
                            }
                            @if (Convert.ToDateTime(item.ItemArray[20]).ToString("dd-MMM-yyyy") == "01-Jan-1900")
                    {
                                <td></td>
                            }
                            else
                            {
                                <td>@Convert.ToDateTime(item.ItemArray[20]).ToString("dd-MMM-yyyy") </td>
                            }

                            <td>@item.ItemArray[21]</td>
                            <td>@item.ItemArray[23]</td>
                            @if (Convert.ToDateTime(item.ItemArray[24]).ToString("dd-MMM-yyyy") == "01-Jan-1900")
                    {
                                <td></td>
                            }
                            else
                            {
                                <td>@Convert.ToDateTime(item.ItemArray[24]).ToString("dd-MMM-yyyy") </td>
                            }
                            <td>@item.ItemArray[27]</td>
                            <td>@item.ItemArray[28]</td>
                            <td>@item.ItemArray[29]</td>
                            <td>@item.ItemArray[30]</td>
                            <td>@item.ItemArray[31]</td>
                            <td>@item.ItemArray[33]</td>

                        </tr>

                    }
                    else
                    {
                        <tr id="@count" style="background-color: aliceblue">
                            <td>@count</td>
                            <td>@item.ItemArray[0]</td>
                            <td>@Convert.ToDateTime(item.ItemArray[1]).ToString("dd-MMM-yyyy")</td>
                            <td>@item.ItemArray[3]</td>
                            <td>@item.ItemArray[4]</td>
                            <td>@item.ItemArray[5]</td>
                            <td>@item.ItemArray[7]</td>
                            <td>@Convert.ToDateTime(item.ItemArray[8]).ToString("dd-MMM-yyyy")</td>
                            <td>@item.ItemArray[10]</td>
                            <td>@item.ItemArray[11]</td>
                            <td>@item.ItemArray[12]</td>
                            <td>@item.ItemArray[13]</td>
                            <td>@item.ItemArray[14]</td>
                            <td>@item.ItemArray[15]</td>
                            <td>@item.ItemArray[16]</td>
                            <td>@item.ItemArray[17]</td>
                            <td>@item.ItemArray[18]</td>
                            @if (Convert.ToInt32(item.ItemArray[19]) == 0)
                    {
                                <td>False</td>
                            }
                            else
                            {
                                <td>True</td>
                            }
                            @if (Convert.ToDateTime(item.ItemArray[20]).ToString("dd-MMM-yyyy") == "01-Jan-1900")
                    {
                                <td></td>
                            }
                            else
                            {
                                <td>@Convert.ToDateTime(item.ItemArray[20]).ToString("dd-MMM-yyyy") </td>
                            }

                            <td>@item.ItemArray[21]</td>
                            <td>@item.ItemArray[23]</td>
                            @if (Convert.ToDateTime(item.ItemArray[24]).ToString("dd-MMM-yyyy") == "01-Jan-1900")
                    {
                                <td></td>
                            }
                            else
                            {
                                <td>@Convert.ToDateTime(item.ItemArray[24]).ToString("dd-MMM-yyyy") </td>
                            }

                            <td>@item.ItemArray[27]</td>
                            <td>@item.ItemArray[28]</td>
                            <td>@item.ItemArray[29]</td>
                            <td>@item.ItemArray[30]</td>
                            <td>@item.ItemArray[31]</td>
                            <td>@item.ItemArray[33]</td>

                        </tr>

                    }

                    count++;
                }
            </tbody>
        </table>
    </div>
</div>
