﻿
@using System.Data
@model System.Data.DataTable
<p>

</p>
<table class="table table-bordered table-striped" id="issueDetails">
    <thead>
        <tr>
            <td><input type="checkbox" class="icheck-primary d-inline ml-2 form-control-input chackall" id="chk_All" onchange="SelectAllCheckboxFunc()" />Check All</td>
            <td>Challan No</td>
            <td>Challan Date</td>
            <td>Customer Code</td>
            <td>Customer Name</td>
            <td>Order No</td>
            <td>Order Date</td>
            <td>Confirm Date</td>
            <td>Product Code</td>
            <td>Product Name</td>
            <td>Return Qty</td>
            <td>Return Kg</td>
            <td>Expire Date</td>
        </tr>
    </thead>
    <tbody id="tbodyid">
        @{ int count = 1;}
        @foreach (DataRow item in Model.Rows)
        {
            <tr id="@count">
                <td> <input type="checkbox" class="icheck-primary d-inline ml-2 form-control-input checkid" id="chk_@count" value="@count" onclick="Checkp(@count)" /></td>
                <td>@item.ItemArray[4]</td>
                <td id="challanDate_@count">@Convert.ToDateTime(item.ItemArray[5]).ToString("dd MMM yyyy")</td>
                <td id="issueQty_@count">@item.ItemArray[6]</td>
                <td id="prevKg_@count">@item.ItemArray[7]</td>
                <td id="prevQty_@count">@item.ItemArray[8]</td>
                <td id="prevQty_@count">@Convert.ToDateTime(item.ItemArray[9]).ToString("dd MMM yyyy")</td>
                <td id="prevQty_@count">@item.ItemArray[10]</td>
                <td id="prevQty_@count">@item.ItemArray[11]</td>
                <td id="prevQty_@count">@item.ItemArray[12]</td>
                <td id="returnQty_@count">@item.ItemArray[13]</td>
                <td id="returnKg_@count">@item.ItemArray[14]</td>
                <td id="challandetail_@count" style="display:none">@item.ItemArray[1]</td>
                <td id="challanmaster_@count" style="display:none">@item.ItemArray[0]</td>
                <td id="productId_@count"style="display:none">@item.ItemArray[3]</td>
                <td id="isTrade_@count"style="display:none">@item.ItemArray[15]</td>
                <td id="expireDate_@count">@(item.ItemArray[16] != DBNull.Value ? Convert.ToDateTime(item.ItemArray[16]).ToString("dd MMM yyyy") : "") </td>
             
            </tr>
            count++;
        }
    </tbody>
</table>
