﻿@using IGFoodProject.Utility
@{
    ViewBag.Title = "Index";

}

<style>
    
    a#tabA {
        text-decoration: underline;
        color: blue;
    }

        a#tabA:hover {
            text-decoration: underline;
            font-size: 12px;
            font-weight: bolder;
            color: blue;
        }
</style>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">
                            <span class="fa fa-eye"></span>Delivery Report
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="row">

                            <div class="col-md-3">
                                <div class="form-group" id="divfromDate">
                                    <label for="divfromDate">Challan From Date<span style="color: red; font-weight: bold"> *</span></label>
                                    <input id="challanFromDate" class="form-control datepicker" autocomplete="off" type="text" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divtoDate">
                                    <label for="divtoDate">Challan To Date<span style="color: red; font-weight: bold"> *</span></label>
                                    <input id="challanToDate" class="form-control datepicker" autocomplete="off" type="text" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divCustomer">
                                    <label for="ddlCustomer">Customer</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlCustomer" onchange="GetChallan('challanNo')"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divchallanNo">
                                    <label for="deliveryDate">Challan No</label>
                                    <select class="form-control select2" id="challanNo"></select>
                                </div>
                            </div>


                        </div>
                        <div class="row">

                            <div class="col-md-3">
                                <div class="form-group" id="divWareHouse">
                                    <label for="ddlWareHouse">Stock/Plant House</label>
                                    <select class="form-control select2" id="ddlWareHouse"></select>
                                </div>
                            </div>


                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary" onclick="exportExcel()">Export To Excel</button>
                            <button class="btn btn-primary float-right" onclick="SearchData()">Search</button>
                        </div>
                        <div class="row">


                        </div>
                    </div>
                </div>


                <div class="card card-primary">
                    <div class="card-header">
                        @*<h3 class="card-title">
                                <span class="fa fa-eye"></span> QC Operation For Return Product
                            </h3>*@
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body" id="detailsData">
                    </div>
                    <div id="detailsData1" class="table-responsive" style="margin-top: 50px">
                    </div>
                </div>

            </div>
            <div id="ajaxLoaderDiv" style="position: fixed; top: 40%; left: 45%; z-index: 1234;">
                <img src="@Url.Content("~/AssetStatic/Images/Double Ring.gif")" alt="Loading..." class="ajax-loader" />
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->

    </div><!-- /.container-fluid -->

</section>
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

            LoadCustomer('ddlCustomer');
            LoadWareHouseMultipleType('ddlWareHouse', 4, '3,4');
            $('#ajaxLoaderDiv').hide();
            $('#detailsData1').hide();


        });

        function LoadCustomer(elementId) {
            var typeid = isNaN($('#ddlCustomerType').val()) ? '0' : $('#ddlCustomerType').val();
            var urlpath = '@Url.Action("GetCustomer", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { typeid: typeid },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Customer --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].CustomerID).html(data[i].CustomerCode + ":" + data[i].CustomerName + ": " + data[i].CoustomerTypeName));
                    }
                }
            });
        }

        function GetChallan(elementId) {
            var urlpath = '@Url.Action("GetChallanFReturn", "QCRequested")';

            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { customerId: $('#ddlCustomer').val(), fromDate: $('#challanFromDate').val(), toDate: $('#challanToDate').val() },
                async: false,
                success: function (data) {
                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Challan No--</option>");


                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].SalesOrderChallanMasterId).html(data[i].SalesOrderChallanNo));

                    }
                }
            });
        }

        function SearchData() {
            var fromdate = $('#challanFromDate').val();
            var todate = $('#challanToDate').val();
            var customerId = isNaN($('#ddlCustomer').val()) ? '0' : $('#ddlCustomer').val();
            var challanNo = isNaN($('#challanNo').val()) ? '0' : $('#challanNo').val();
            var cNo = challanNo == null ? '0' : challanNo;
            var warehouse = isNaN($('#ddlWareHouse').val()) ? '0' : $('#ddlWareHouse').val();
            debugger;
            var input = $("#challanNo option:selected").text();
            var fields = input.split(':');
            var isTrade = isNaN(fields[2]) ? '0' : fields[2];
            var urlpath = '@Url.Action("GetDeliveryList", "QCRequested")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'html',
                data: { customerId: customerId, challlanFromDate: fromdate, challlanToDate: todate, warehouseId: warehouse, challanId: cNo, isTrade: isTrade },
                async: false,
                beforeSend: function () {
                    $('#ajaxLoaderDiv').show();
                },
                success: function (data) {
                    debugger;
                    $('#detailsData').empty();
                    $('#detailsData').html(data);
                    $('#detailsData1').html(data);

                },
                complete: function () {
                    debugger;
                    $('#ajaxLoaderDiv').hide();

                    //$("#deliveryDetails").DataTable({
                    //    "responsive": true,
                    //    "autoWidth": true
                    //});
                    $('#deliveryDetails').rowspanizer({
                       vertical_align: 'middle',
                       columns: [1, 8,9]
                    });

                }
            });
        }

        function exportExcel(e) {
            if ($('#deliveryDetails tbody tr').length == 0) {
                swal("No Data to Export");
            } else {
                var file = new Blob([$('#detailsData1').html()], { type: "application/vnd.ms-excel" });
                var url = URL.createObjectURL(file);
                var a = $("<a />", {
                    href: url,
                    download: "ProductDeliveryReport.xls"

                }).appendTo("body").get(0).click();
            }
        }


        function PrintChallanReport(salesOrderChallanMasterId) {
           var urlpath = '@Url.Action("SalesOrderReports", "Report")';
             var jsonData = {};

                jsonData["ReportValue"] = "DeliveryReport_ChallanPrint";
                jsonData["ChallanMasterId"] = salesOrderChallanMasterId;

                $.ajax({
                url: urlpath,
                data: jsonData,
                dataType: 'json',
                type: "Get",
                success: function (data) {
                    if (data.isSuccess) {
                        window.open("../CrystalViewer/CrystalViewer.aspx", "_blank", "WIDTH=1024,HEIGHT=768,scrollbars=no, menubar=no,resizable=yes,directories=no,location=no");
                    }
                }
            });

        }

        function PrintReturnChallan(salesOrderChallanMasterId, category) {
        var urlpath = '@Url.Action("VoucherPrintReports", "Report")';

            var jsonData = {};

            jsonData["ReportValue"] = "DeliveryReport_ReturnChallan";
            jsonData["SalesOrderChallanMasterId"] = salesOrderChallanMasterId;
            jsonData["Category"] = category;

            $.ajax({
                url: urlpath,
                data: jsonData,
                dataType: 'json',
                type: "Get",
                success: function (data) {
                    if (data.isSuccess) {
                        window.open("../CrystalViewer/CrystalViewer.aspx", "_blank", "WIDTH=1024,HEIGHT=768,scrollbars=no, menubar=no,resizable=yes,directories=no,location=no");
                    }
                }
            });
        }


    </script>
}
