﻿@using IGFoodProject.Utility

@{
    ViewBag.Title = "Index";

}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">
                            <span class="fa fa-eye"></span> QC Operation For Return Product
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group" id="divCompany">
                                    <label for="ddlCompany">Company</label>
                                    @*<input type="text" class="form-control" id="txtCompany" disabled="disabled" />*@
                                    <select class="form-control select2" style="width: 100%;" id="ddlCompany"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divWareHouse">
                                    <label for="ddlWareHouse">Stock/Plant House</label>
                                    <select class="form-control select2" id="ddlWareHouse"></select>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group" id="divDeliveryDate">
                                    <label for="deliveryDate">Challan Date</label>
                                    <input id="deliveryDate" class="form-control" autocomplete="off" type="text" onchange="GetChallan('challanNo')" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divchallanNo">
                                    <label for="deliveryDate">Challan No</label>
                                    <select class="form-control select2" id="challanNo" onchange="SearchData()"></select>
                                </div>
                            </div>
                            @*<div class="col-md-3">
                                    <button style="margin-top: 14px" class="btn btn-success" onclick="SearchData()"> <span class="fa fa-search">&nbsp;</span> Search</button>
                                </div>*@
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group" id="divSalesPerson">
                                    <label for="txtSalesPerson">Qc By <span class="text-danger"> *</span></label>
                                    <input type="text" id="txtSalesPerson" class="form-control" value="@Session[SessionCollection.UserInfo].ToString()" onchange="GetSalesPersonPhone()" />
                                    <input type="hidden" id="employeeSelect" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divqcDate">
                                    <label for="deliveryDate">Qc Date <span class="text-danger"> *</span></label>
                                    <input id="qcDate" class="form-control datepicker" type="text" value="@Convert.ToDateTime(DateTime.Now).ToString("dd MMM yyyy")" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divRemarks">
                                    <label for="txtRemarks">Comments <span class="text-danger"> *</span> </label>
                                    <textarea type="text" class="form-control" id="txtRemarks"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="detailsData" class="table-responsive" style="margin-top: 50px">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group" id="divWareHouse1">
                                    <label for="ddlWareHouse">Stock/Plant House <span class="text-danger"> *</span></label>
                                    <select class="form-control select2" id="ddlWareHouse1"></select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button class="btn btn-primary float-right" onclick="SavePickingRequest()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fadeInUp" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg" style="max-width: 80% !important">
                <div class="modal-content">
                    <div class="modal-header">

                    </div>
                    <div class="modal-body" id="QcOperationProduct">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" id="clsButton" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
    @*<input id="txtOrderId" type="number" style="display:none;" value="@ViewBag.reqid">
        <input id="txtflag" type="text" style="display:none;" value="@ViewBag.flagid">*@
</section>

@section Scripts
{

    <script type="text/javascript">


        $(document).ready(function () {
            LoadCompany('ddlCompany');
            $("#ddlCompany").val(7);
            //LoadWareHouse('ddlWareHouse', 4, 0);
            //LoadWareHouse('ddlWareHouse1', 4, 0);
            LoadWareHouse('ddlWareHouse', 0, 4);
            $("#ddlWareHouse").val(21);
            LoadWareHouseMultipleType('ddlWareHouse1', 4, '3,4');
            LoadVehicle('Vehicle');
            LoadDate('#deliveryDate');
            EmpAutoCom('txtSalesPerson', 'employeeSelect');
        });
        chkbox = () => {
            //if ($('.checkid').is(':checked')) {
            //    $("#chk_All").prop('checked', true);
            //} else {
            //    $("#chk_All").prop('checked', false);
            //}
        }

        function SelectAllCheckboxFunc() {
            if ($("#chk_All").is(":checked")) {
                $(".checkid").prop("checked", true);
                $("input.AllQty").prop('disabled', false);
                $("input.AllKg").prop('disabled', false);
            } else {
                $(".checkid").prop("checked", false);
                $("input.AllQty").prop('disabled', true);
                $("input.AllKg").prop('disabled', true);
            }
        }

        function Checkp(SLNO) {
            debugger;
            //uncheck "select all", if one of the listed checkbox item is unchecked
            var checkp = $("#chk_" + SLNO).prop("checked");
            if (checkp == false) { //if this item is unchecked
                $("#chk_All").prop('checked', false); //change "select all" checked status to false

                $("input#currentQty_" + SLNO).prop('disabled', true);
                $("input#currentKg_" + SLNO).prop('disabled', true);
                $("input#lossQty_" + SLNO).prop('disabled', true);
                $("input#lossKg_" + SLNO).prop('disabled', true);
                $("input#unitprice_" + SLNO).prop('disabled', true);
            }
            //check "select all" if all checkbox items are checked
            if ($('.checkid:checked').length == $('.checkid').length) {
                $("#chk_All").prop('checked', true);
            }
            if (checkp == true) {
                $("input#currentQty_" + SLNO).prop('disabled', false);
                $("input#currentKg_" + SLNO).prop('disabled', false);
                $("input#lossQty_" + SLNO).prop('disabled', false);
                $("input#lossKg_" + SLNO).prop('disabled', false);
                $("input#unitprice_" + SLNO).prop('disabled', false);
            }
        }

        function SearchData() {
            var warehouse = $('#ddlWareHouse').val();
            var date = $('#deliveryDate').val();
            var challanNo = $('#challanNo').val();
            debugger;
            var input = $("#challanNo option:selected").text();
            var fields = input.split(':');
            var isTrade = fields[2];
            var urlpath = '@Url.Action("QcOperationProductList", "QCRequested")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'html',
                data: { warehouseId: warehouse, challanId: challanNo, challanDate: date, isTrade: isTrade },
                async: false,
                success: function (data) {
                    debugger;
                    $('#detailsData').empty();
                    $('#detailsData').html(data);
                },
                complete: function () {
                    if ($('#issueDetails tbody tr').length === 0) {
                        swal("This Challan Already Passed QC Or Some Error Occured");
                    }
                }
            });

            $('#issueDetails tbody tr').each(function (key, value) {
                debugger;
                var rowId = $(this).prop("id");
                var productId = $('#product_' + rowId).val();
                var groupId = $('#group_' + rowId).val();
                var challanDate = $('#deliveryDate').val();
                var urlpath = '@Url.Action("ProductUnitCost", "QCRequested")';
                $.ajax({
                    contentType: "application/json; charset=utf-8",
                    data: { productId: productId, groupId: groupId, challanDate: challanDate },
                    dataType: 'json',
                    url: urlpath,
                    type: "GET",
                    success: function (result) {
                        debugger;
                        $('#unitprice_' + rowId).val(result);
                    }
                });
            });
        }

        function SavePickingRequest() {
            if (Validation()) {
                debugger;
                var id = $('#txtSalesPerson').val();
                var salseId = [];
                salseId = id.split(":");
                var input = $("#challanNo option:selected").text();
                var fields = input.split(':');
                var isTrade = fields[2];
                var jsonData = {};
                jsonData["QcDate"] = $('#qcDate').val();
                jsonData["ChallanDate"] = $('#deliveryDate').val();
                jsonData["QcComments"] = $('#txtRemarks').val();
                jsonData["CreateBy"] = salseId[0];
                jsonData["ForwordedWarehouseId"] = $('#ddlWareHouse1').val();
                jsonData["SalesOrderChallanMasterId"] = $('#challanNo').val();
                jsonData["IsTrade"] = isTrade;
                var jsonObjs = [];
                $('#issueDetails tbody tr').each(function (key, value) {
                    soId = $(this).prop("id");
                    var pickingDetails = {};
                    if ($('#chk_' + soId).is(":checked")) {
                        debugger;
                        var data = isNaN(parseFloat($('#lossKg_' + soId).val())) ? 0 : parseFloat($('#lossKg_' + soId).val());

                        pickingDetails["ProductId"] = parseInt($('#product_' + soId).val());
                        pickingDetails["ProductQty"] = $('#currentQty_' + soId).val();
                        pickingDetails["ProductKg"] = $('#currentKg_' + soId).val();
                        pickingDetails["WeightlossQty"] = isNaN(parseFloat($('#lossQty_' + soId).val())) ? 0 : parseFloat($('#lossQty_' + soId).val());
                        pickingDetails["WeightlossKg"] = isNaN(parseFloat($('#lossKg_' + soId).val())) ? 0 : parseFloat($('#lossKg_' + soId).val());
                        pickingDetails["StockInDetailID"] = parseInt($('#stDetails_' + soId).val());
                        pickingDetails["SalesOrderChallanDetailsId"] = parseInt($('#challanDetails_' + soId).val());
                        pickingDetails["UnitCost"] = parseFloat($('#unitprice_' + soId).val());
                        pickingDetails["IsTrade"] = parseInt($('#isTrade_' + soId).val());
                        jsonObjs.push(pickingDetails);
                    }
                });
                jsonData["QcOperationDetailses"] = jsonObjs;
                var urlpath = '@Url.Action("SaveQcOperation", "QCRequested")';
                $.ajax({
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(jsonData),
                    dataType: 'json',
                    url: urlpath,
                    type: "POST",
                    success: function (result) {
                        if (result.isSuccess) {
                            $('.confirm').prop("disabled", false);
                            $('.cancel').prop("disabled", false);
                            swal({
                                title: 'Saved Successfully',
                                type: 'success',
                                closeOnCancel: true
                            },
                                function () {
                                    window.location.href = '@Url.Action("QcOperation", "QCRequested")';
                                });
                        } else {
                            ShowMessage('Session is out. Please reload the page and try again!!!');
                        }
                    },
                    error: function () {
                        swal("Network error occured.Please reload the page and try again");
                    }
                });

            }
        }

        function Validation() {
            var isValid = true;
            var message = "Check at least one checkbox";

            if ($('#ddlWareHouse1').val() == '' || $('#ddlWareHouse1').val() == 0) {
                ValidationColorChangeNew("ddlWareHouse1", "divWareHouse1", "Warehouse Required", false);
                isValid = false;
            }
            if ($('#txtRemarks').val() == '' || $('#txtRemarks').val() == 0) {
                ValidationColorChangeNew("txtRemarks", "divRemarks", "Comments Required", false);
                isValid = false;
            }
            debugger;
            if ($('input.checkid:checked').length <= 0) {
                isValid = false;
                ShowMessage(message);
            }
            $('#issueDetails tbody tr').each(function (key, value) {
                soId = $(this).prop("id");
                //if ($('.checkid').is(":not(:checked)")) {
                //    isValid = false;
                //    ShowMessage(message);
                //}
                $('#issueDetails tbody tr').each(function (key, value) {
                    debugger;
                    var id = $(this).prop("id");
                    if ($('#chk_' + id).is(":checked")) {
                        if ($('group_' + id).val() == 6) {
                            if ($('#currentQty_' + id).val() <= 0 || $('#currentQty_' + id).val() == '') {

                                isValid = false;
                                swal("Please provide the valid input");
                            }

                        }
                        if ($('group_' + id).val() == 6 || $('group_' + id).val() == 7) {
                            if ($('#currentKg_' + id).val() <= 0 || $('#currentKg_' + id).val() == '') {

                                isValid = false;
                                swal("Please provide the valid input");
                            }
                        }


                    }

                });


            });


            return isValid;


        }
        function GetChallan(elementId) {
            var urlpath = '@Url.Action("GetChallan", "QCRequested")';

            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { challanDate: $('#deliveryDate').val() },
                async: false,
                success: function (data) {
                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Challan No--</option>");


                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].SalesOrderChallanMasterId).html(data[i].SalesOrderChallanNo));

                    }
                }
            });
        }

        function CheckQty(id) {
            debugger;
            var currentqty = isNaN(parseFloat($('#currentQty_' + id).val())) ? 0 : parseFloat($('#currentQty_' + id).val());
            var totalQty = isNaN(parseFloat($('#totalQty_' + id).text())) ? 0 : parseFloat($('#totalQty_' + id).text());
            var lossQty = isNaN(parseFloat($('#lossQty_' + id).val())) ? 0 : parseFloat($('#lossQty_' + id).val());
            if ((currentqty + lossQty) > totalQty) {
                $('#currentQty_' + id).val('');
            }

        }
        function LossQty(id) {
            debugger;
            var currentqty = isNaN(parseFloat($('#currentQty_' + id).val())) ? 0 : parseFloat($('#currentQty_' + id).val());
            var totalQty = isNaN(parseFloat($('#totalQty_' + id).text())) ? 0 : parseFloat($('#totalQty_' + id).text());
            var lossQty = isNaN(parseFloat($('#lossQty_' + id).val())) ? 0 : parseFloat($('#lossQty_' + id).val());
            if (totalQty < (currentqty + lossQty)) {
                $('#lossQty_' + id).val('');
            }

        }
        function CheckKg(id) {
            debugger;
            var currentKg = isNaN(parseFloat($('#currentKg_' + id).val())) ? 0 : parseFloat($('#currentKg_' + id).val());
            var totalKg = isNaN(parseFloat($('#totalKg_' + id).text())) ? 0 : parseFloat($('#totalKg_' + id).text());
            var lossKg = isNaN(parseFloat($('#lossKg_' + id).val())) ? 0 : parseFloat($('#lossKg_' + id).val());
            if (totalKg < (currentKg + lossKg)) {
                $('#currentKg_' + id).val('');
            }

        }
        function LossKg(id) {
            debugger;
            var currentKg = isNaN(parseFloat($('#currentKg_' + id).val())) ? 0 : parseFloat($('#currentKg_' + id).val());
            var totalKg = isNaN(parseFloat($('#totalKg_' + id).text())) ? 0 : parseFloat($('#totalKg_' + id).text());
            var lossKg = isNaN(parseFloat($('#lossKg_' + id).val())) ? 0 : parseFloat($('#lossKg_' + id).val());
            if (totalKg < (currentKg + lossKg)) {
                $('#lossKg_' + id).val('');
            }

        }
        ViewDetailsQty = (challanId, productId) => {
            $('#myModal').modal();
            var urlpath = '@Url.Action("GetQcProductHistoryOfQty", "QCRequested")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'html',
                async: false,
                data: { challanId: challanId, productId: productId },
                success: function (data) {
                    $('#QcOperationProduct').empty();

                    $('#QcOperationProduct').html(data);
                }
            });
        }

        ViewDetailsKg = (challanId, productId) => {
            $('#myModal').modal();
            var urlpath = '@Url.Action("GetQcProductHistoryOfKg", "QCRequested")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'html',
                async: false,
                data: { challanId: challanId, productId: productId },
                success: function (data) {
                    $('#QcOperationProduct').empty();

                    $('#QcOperationProduct').html(data);
                }
            });
        }

    </script>
}
