﻿@using IGFoodProject.Utility
@{
    ViewBag.Title = "Create PO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .form-control {
        height: calc(1.7rem + 2px);
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                @*  <a href="@Url.Action("Create", "PurchaseOrderOther", new {id = 0})">*@
                                <h3 class="card-title">
                                    @if (ViewBag.PurchaseId == 0)
                                    {
                                        <span class=""> New Purchase Order</span>
                                        <span id="txtRequisition"></span>

                                    }
                                    else
                                    {
                                        <span class=""> Edit Purchase Order</span>
                                        <span id="txtPo"></span>

                                    }
                                </h3>
                                @*</a>*@
                            </div>
@if (ViewBag.PurchaseId == 0)
{
    <div class="col-md-6 text-right">
        <a class="btn btn-outline-warning" href="@Url.Action("PendingPoRequisition", "PurchaseOrderOther")">
            <span class="fa fa-list"></span> Pending Purchase Requisition List

        </a>
    </div>
}
else
{
    <div class="col-md-6 text-right">
        <a class="btn btn-outline-warning" href="@Url.Action("PurchaseOrderOtherApprovalList", "PurchaseOrderOther")">
            <span class="fa fa-list"></span> Pending Purchase Approval List

        </a>
    </div>
}

                        </div>

                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group" id="divCompany">
                                    <label for="ddlCompany">Company</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlCompany"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divOrderType">
                                    <label for="ddlOrderType">Order Type</label>
                                    <select id="ddlOrderType" class='form-control' style="width: 100%;">
                                        <option value="1">Normal</option>
                                        <option value="2">Urgent</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divOrderDate">
                                    <label for="txtOrderDate">Order Date <span id="txtExpectedPoDate"></span></label>

                                    <input type="text" id="txtOrderDate" class="form-control datepicker" onchange="CheckCurrentdate()" value="@DateTime.Now.ToString("dd-MMM-yyyy")"/>
                                    @*value="@DateTime.Now.ToString("dd-MMM-yyyy")"*@
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divDeliveryDate">
                                    @*<label for="txtDeliveryDate">Expected Delivery Date</label>*@
                                    <label for="" style="" id="lblDeliveryDate">Expected Delivery Date</label>
                                    <input type="text" id="txtDeliveryDate" class="form-control" autocomplete="off" onchange="requiredDateValidate()" />
                                </div>
                            </div>



                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                @*<div class="form-group" id="divSupplierorLocal">
                                    <label>Supplier Type</label>
                                    <input type="radio" class="form-check-input" id="rdIsSupplier" name="supradio" value="Regular" checked onchange="LoadSupplier('ddlSupplier')" style="margin-left: 3px;"/>
                                    <label class="form-check-label" for="rdIsSupplier" style="margin-left: 24px;">Supplier</label>
                                    <input type="radio" class="form-check-input" id="rdIsLocal" name="supradio" value="Local" onchange="LoadSupplier('ddlSupplier')"
                                            style="margin-left: 3px;"/>
                                    <label class="form-check-label" for="rdIsLocal" style="margin-left: 24px;">Local</label>
                                </div>*@

                                <div class="form-group" id="divSupplier">
                                    <label for="ddlSupplier">Supplier
                                        <input type="radio" class="form-check-input" id="rdIsSupplier" name="supradio" value="Regular" checked onchange="LoadSupplier('ddlSupplier')" style="margin-left: 3px;" />
                                        <label class="form-check-label" for="rdIsSupplier" style="margin-left: 24px;">Supplier</label>
                                        <input type="radio" class="form-check-input" id="rdIsLocal" name="supradio" value="Local" onchange="LoadSupplier('ddlSupplier')"
                                               style="margin-left: 3px;" />
                                        <label class="form-check-label" for="rdIsLocal" style="margin-left: 24px;">Local</label>

                                    
                                    </label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlSupplier"></select>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group" id="divSupplierCredit">
                                    <label for="txtSupplierCredit">Supplier Credit</label>
                                    <input type="text" id="txtSupplierCredit" class="form-control" disabled="disabled" />
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group" id="divSupplierReference">
                                    <label for="txtSupplierReference">Supplier Reference</label>
                                    <input type="text" id="txtSupplierReference" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divReceiveWarehouse">
                                    <label for="ddlReceiveWarehouse">Receive Warehouse</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlReceiveWarehouse"></select>
                                </div>
                            </div>




                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group" id="divDeliveryTo">
                                    <label for="txtDeliveryTo">Delivery To</label>
                                    <input type="text" id="txtDeliveryTo" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divContactInfo">
                                    <label for="txtContactInfo">Contact Info</label>
                                    <input type="text" id="txtContactInfo" class="form-control" />
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group" id="divCurrency">
                                    <label for="ddlCurrency">Currency</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlCurrency"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divCurrencyRate">
                                    <label for="txtCurrencyRate">Currency Rate</label>
                                    <input type="text" id="txtCurrencyRate" class="form-control" value="1" />
                                </div>
                            </div>



                        </div>
                        <div class="row" style="display:none">
                            <div class="col-md-3">
                                <label for="cashRadio">Payment Type</label>
                                <div class="form-group clearfix">
                                    <div class="icheck-success d-inline col-md-6">
                                        <input type="radio" id="bankRadio" name="paymentType" value="1" checked="" onchange="BankWishEffect()">
                                        <label for="bankRadio">Bank</label>
                                    </div>
                                    <div class="icheck-success d-inline col-md-6">
                                        <input type="radio" id="cashRadio" name="paymentType" value="2" onchange="CashWishEffect()">
                                        <label for="cashRadio">Cash</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divFromAccount">
                                    <label for="ddlFromAccount">From Account</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlFromAccount" onchange="LoadBankBranchInfo()"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divBank">
                                    <label for="ddlBank">Bank</label>
                                    <select id="ddlBank" class="form-control"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divBranch">
                                    <label for="ddlBranch">Branch</label>
                                    <select id="ddlBranch" class="form-control"></select>
                                </div>
                            </div>

                        </div>
                  
                          <div class="row" style="display:none;">
                        <div class="col-md-3">
                            <div class="form-group" id="divChequeNo">
                                <label for="txtChequeNo">Cheque No</label>
                                <input type="text" id="txtChequeNo" value="" class="form-control" autocomplete="off"/>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group" id="divChequeDate">
                                <label for="txtChequeDate">Cheque Date</label>
                                <input type="text" id="txtChequeDate" value="" class="form-control" autocomplete="off"/>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group" id="divRefNo">
                                <label for="txtRefNo">Reference No</label>
                                <input type="text" id="txtRefNo" value="" class="form-control" autocomplete="off"/>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group" id="divRefDate">
                                <label for="txtRefDate">Reference Date</label>
                                <input type="text" id="txtRefDate" value="" class="form-control" autocomplete="off"/>
                            </div>
                        </div>
                        @*<div class="col-md-3">
                                <div class="form-group" id="divAdjustment">
                                    <label for="txtAdjustment">Adjustment</label>
                                    <input type="number" id="txtAdjustment" value="" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divIOUHead">
                                    <label for="ddlIOUHead">IOU Head</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlIOUHead"></select>
                                </div>
                            </div>*@

                    </div>


                    <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" id="divComments">
                                    <label for="txtComments">Remarks</label>
                                    <textarea id="txtComments" rows="2" cols="80" style="text-align: left" class="form-control"></textarea>
                                </div>
                                </div>
                                @*<div class="col-md-3">
                                    <div class="form-group" id="divTolarance">
                                        <label for="ddlTolerance">Tolarance %</label>
                                        <input type="number" id="ddlTolerance"  class="form-control" disabled="disabled" />
                                    </div>
                                </div>*@
                        </div>

                        <div class="row table-responsive" style="padding-top:10px">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <table class="table table-bordered table-striped table-hover" id="debitVoucher">
                                        <thead>
                                        <tr>
                                            <th style="text-align:center;">Check</th>
                                            <th>#</th>
                                            <th style="width: 250px">Item</th>
                                            @*<th style="width: 300px">Item Description</th>*@
                                            <th>Requisition Qty</th>
                                            <th>Rest Qty</th>
                                            <th>Quantity</th>
                                            <th style="width: 100px">Unit</th>
                                            <th>Rate</th>
                                            <th>Discount</th>
                                            <th>Amount</th>
                                            <th class="action">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top:10px">
                            <div class="col-md-8">
                            </div>
                            <div class="col-md-4">

                                <div class="form-group row">
                                    <div class="col-sm-3">
                                    </div>
                                    <label for="lblSubTotal" class="col-sm-2 control-label">Sub Total :</label>
                                    <div class="col-sm-3">
                                        <label id="lblSubTotal">0</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-3">
                                    </div>
                                    <label for="lblDiscount" class="col-sm-2 control-label">Discount Rate:</label>
                                    <div class="col-sm-3">
                                        <label id="lblDiscount">0</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top:10px; display:none;">
                            <div class="col-md-8">
                            </div>
                            <div class="col-md-4">

                                <div class="form-group row">
                                    <div class="col-sm-3">
                                    </div>
                                    <label for="lblAdvance" class="col-sm-2 control-label">Advance :</label>
                                    <div class="col-sm-3">
                                        <input type="hidden" id="txtTotalQty"  value="0"/>
                                        <input type="number" id="txtAdvance" value="0" onkeyup="limitDecimals(this);AdvancedValue();"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top:10px">
                            <div class="col-md-8">
                            </div>
                            <div class="col-md-4">

                                <div class="form-group row">
                                    <div class="col-sm-3">
                                    </div>
                                    <label for="lblTotalAmount" class="col-sm-2 control-label">Total Amount :</label>
                                    <div class="col-sm-3">
                                        <label id="lblTotalAmount">0</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top:10px">
                            <div class="col-md-10 offset-1">
                                <div class="form-group row">
                                    <label for="lblTermsOfDelivery" class="col-sm-2 control-label">Terms of Delivery :</label>
                                    <div class="col-sm-10" id="divTermsOfDelivery">
                                        <input type="hidden" id="txtTermsAndConditionId" value="0"/>
                                        <textarea id="txtaTermsOfDelivery" rows="2" cols="100" style="text-align:left"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top:10px">
                            <div class="col-md-10 offset-1">
                                <div class="form-group row">
                                    <label for="lblTermsOfPackaging" class="col-sm-2 control-label">Terms of Packaging :</label>
                                    <div class="col-sm-10" id="divTermsOfPackaging">
                                        <textarea id="txtaTermsOfPackaging" rows="2" cols="100" style="text-align:left"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top:10px">
                            <div class="col-md-10 offset-1">
                                <div class="form-group row">
                                    <label for="lblTermsOfPayments" class="col-sm-2 control-label">Terms of Payments :</label>
                                    <div class="col-sm-10" id="divTermsOfPayments">
                                        <textarea id="txtaTermsOfPayments" rows="2" cols="100" style="text-align:left"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top:10px">
                            <div class="col-md-10 offset-1">
                                <div class="form-group row">
                                    <label for="lblTermsOfBilling" class="col-sm-2 control-label">Terms of Billing :</label>
                                    <div class="col-sm-10" id="divTermsOfBilling">
                                        <textarea id="txtaTermsOfBilling" rows="2" cols="100" style="text-align:left"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top:10px">
                            <div class="col-md-10 offset-1">
                                <div class="form-group row">
                                    <label for="lblOtherTerms" class="col-sm-2 control-label">Other Terms :</label>
                                    <div class="col-sm-10" id="divOtherTerms">
                                        <textarea id="txtaOtherTerms" rows="2" cols="100" style="text-align:left"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top:10px">
                            <div class="col-md-10 offset-1">
                                <div class="form-group row">
                                    <label for="lblSpecialInstruction" class="col-sm-2 control-label">Special Instruction :</label>
                                    <div class="col-sm-10" id="divSpecialInstruction">
                                        <textarea id="txtaSpecialInstruction" rows="2" cols="100" style="text-align:left"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="card-footer">
                    @if (@ViewBag.eflag == "ap")
                    {
                        <button class="btn btn-primary" onclick="SavePurchaseOrderOther()">Approve</button>
                    }
                    else
                    {
                        <button class="btn btn-primary" onclick="SavePurchaseOrderOther()">Submit</button>
                    }

                    <a class="btn btn-outline-danger float-right" href="@Url.Action("PendingPoRequisition", "PurchaseOrderOther")">Cancel</a>
                </div>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    <input id="purchaseId" type="number" style="display: none;" value="@ViewBag.PurchaseId">
        <input id="requisitionId" type="number" style="display: none;" value="@ViewBag.RequisitionId">

    <input id="eflag" type="text" style="display: none;" value="@ViewBag.eflag">
        <input id="UserId" style="display: none;" value="@ViewBag.UserId">
    </div>
</section>
@section Scripts
{

    <script>
        var ItemList = {};
        var UOMList = {};
        var DeleteItemDetails = [];
        $(document).ready(function() {
            LoadCompany('ddlCompany');
            $("#ddlCompany").val("7");
            LoadSupplier('ddlSupplier');
            LoadReceiveWarehouse();
            GetIOUGL();
            LoadCurrency();
            $("#ddlCurrency").val("1");
            $('#txtOrderDate').datepicker({
                endDate: new Date(),

                autoclose: true,
                todayHighlight: true,
                format: 'dd-M-yyyy'
            });


            LoadDate('#txtChequeDate');
            LoadDate('#txtRefDate');
            LoadDate('#txtDeliveryDate');
            GetItem();
            GetUOM();
            LoadBankName('ddlBank');
            BankWishEffect();


            var requisitionId = $('#requisitionId').val();
            var purchaseId = $('#purchaseId').val();
            if (purchaseId > 0) {
                GetPurchaseOrderOtherMaster(purchaseId);
            } else {
                GetTermsAndConditionDefault();
                GetRequisitionMaster(requisitionId);
                //AddRow();
            }
        });

        function requiredDateValidate() {

            var requiredDate = new Date($('#txtDeliveryDate').val());
            var requsitionDate = new Date($('#txtOrderDate').val());

            if (requiredDate < requsitionDate) {
                $("#lblDeliveryDate").html("Expected Delivery  Date  Cannot be Backdate").css("color", "red");
                $('#txtDeliveryDate').val('');
            }
        if (requiredDate > requsitionDate) {
                $("#lblDeliveryDate").html("Expected Delivery Date").css("color", "Black");
               // $('#txtDeliveryDate').val('');
            }
        }

        function GetRequisitionMaster(id) {

            var urlpath = '@Url.Action("GetRequisitionByMasterId", "OtherPoRequisition")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { id: id },
                async: false,
                success: function(data) {



                    $('#txtRequsitionDate').val(ToJavaScriptDate(data.RequisitionDate));
                    $('#txtPoDate').val(ToJavaScriptDate(data.ExpectedPoDate));

                    $("#ddlReceiveWarehouse").val(data.WarehouseId).trigger('change');

                    $("#ddlRequisitionBy").val(data.RequisitionBy).trigger('change');
                    $("#txtaSpecialInstruction").val(data.Remarks);
                    $("#ddlTolerance").val(data.TolerancePercent);
                    $("#txtRequisition").html("(Requisition No : " + data.RequisitionNo + ")");
                    $("#txtExpectedPoDate").html("(Expected PO Date : " + ToJavaScriptDate(data.ExpectedPoDate) + ")");


                    for (var i = 0; i < data.PoRequisitionDetailses.length; i++) {

                        if (data.PoRequisitionDetailses[i].RemainingPoQty > 0) {
                            var tr = $('#debitVoucher tbody tr').length + 1;

                            AddRow();
                            $("#itemId_" + tr).val(data.PoRequisitionDetailses[i].ItemId).trigger('change');
                            $('#itemId_' + tr).prop("disabled", true);

                            //$('#itemName_' + tr).val(data.PoRequisitionDetailses[i].ItemDescription);

                            $('#RqtyOriginal_' + tr).val(data.PoRequisitionDetailses[i].ApprovedQty);
                            $('#Rqty_' + tr).val(data.PoRequisitionDetailses[i].RemainingPoQty);
                            $('#Restqty_' + tr).val(data.PoRequisitionDetailses[i].RemainingPoQty);
                            $('#qty_' + tr).val(data.PoRequisitionDetailses[i].RemainingPoQty);

                            $("#unit_" + tr).val(data.PoRequisitionDetailses[i].UOMId).trigger('change');


                            $('#remarks_' + tr).val(data.PoRequisitionDetailses[i].Remarks);
                        }
                    }


                }
            });
        }

        function GetTermsAndConditionDefault() {

            var urlpath = '@Url.Action("GetTermsAndConditionDefault", "PurchaseOrderOther")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function(data) {
                    //$('#txtTermsAndConditionId').val(data.TermsAndConditionId);
                    $('#txtaTermsOfDelivery').val(data.TermsOfDelivery);
                    $('#txtaTermsOfPackaging').val(data.TermsOfPackaging);
                    $('#txtaTermsOfPayments').val(data.TermsOfPayments);
                    $('#txtaTermsOfBilling').val(data.TermsOfBilling_Doc);
                    $('#txtaOtherTerms').val(data.OtherTerms);
                }

            });
        }

        function BankWishEffect() {

            if ($('#bankRadio').is(':checked')) {
                $("#ddlBank").prop("disabled", true);
                $("#ddlBranch").prop("disabled", true);
                $("#txtChequeNo").prop("disabled", false);
                $("#txtChequeDate").prop("disabled", false);
                $("#txtRefNo").prop("disabled", true);
                $("#txtRefDate").prop("disabled", true);

                $("#txtRefNo").val('');
                $("#txtRefDate").val('');


                $.ajax({
                    url: "/Utility/GetGLBankAccounts",
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    type: "Get",
                    data: {},
                    async: false,
                    success: function(data) {

                        $('#ddlFromAccount').empty();
                        $('#ddlFromAccount').append("<option value='0'>--Select From Account--</option>");

                        for (var i = 0; i < data.length; i++) {

                            $('#ddlFromAccount').append($("<option></option>").val(data[i].CALayerSevenId).html(data[i].AccountNo));
                        }
                    }
                });
            }
        }

        function CashWishEffect() {

            if ($('#cashRadio').is(':checked')) {
                $("#ddlBank").prop("disabled", true);
                $("#ddlBranch").prop("disabled", true);
                $("#txtChequeNo").prop("disabled", true);
                $("#txtChequeDate").prop("disabled", true);
                $("#txtRefNo").prop("disabled", false);
                $("#txtRefDate").prop("disabled", false);

                $("#ddlBank").val(0);
                $("#ddlBranch").val(0);
                $("#txtChequeNo").val('');
                $("#txtChequeDate").val('');


                $.ajax({
                    url: "/Utility/GetGLCashAccounts",
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    type: "Get",
                    data: {},
                    async: false,
                    success: function(data) {
                        $('#ddlFromAccount').empty();
                        $('#ddlFromAccount').append("<option value='0'>--Select From Account--</option>");
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlFromAccount').append($("<option></option>").val(data[i].CALayerSevenId).html(data[i].AccountName));
                        }
                    }
                });
            }
        }

        function LoadBankBranchInfo() {
            var CALayerSevenId = $("#ddlFromAccount").val();
            var urlpath = '@Url.Action("GetBankBranch", "DebitVoucher")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'json',
                data: { CALayerSevenId: CALayerSevenId },
                async: false,
                success: function(data) {

                    if ($('#bankRadio').is(':checked')) {
                        $('#ddlBank').val(data.BankId);
                        LoadBankBranch('ddlBranch', data.BankId);
                        $('#ddlBranch').val(data.BranchId);
                    } else {
                        $('#ddlBank').val(0);
                        $('#ddlBranch').val(0);
                    }

                }
            });

        }


        function LoadBusinessUnit() {
            var companyId = $("#ddlCompany").val();
            $.ajax({
                url: "/Utility/LoadBusinessUnit",
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",
                data: { companyId: companyId },
                async: false,
                success: function(data) {

                    $('#ddlBusinessUnit').empty();
                    $('#ddlBusinessUnit').append("<option value='0'>--Select Business Unit--</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#ddlBusinessUnit').append($("<option></option>").val(data[i].BUId).html(data[i].Name));
                    }
                }
            });
        }

        function LoadFinancialYear() {
            $.ajax({
                url: "/Utility/GetFinancialYear",
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function(data) {

                    $('#ddlFiscalYear').empty();
                    //$('#ddlFiscalYear').append("<option value='0'>--Select Business Unit--</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#ddlFiscalYear').append($("<option></option>").val(data[i].FinancialYearId).html(data[i].FYear));
                    }
                }
            });
        }

        function LoadCurrency() {
            $.ajax({
                url: "/Utility/GetCurrency",
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function(data) {

                    $('#ddlCurrency').empty();
                    $('#ddlCurrency').append("<option value='0'>--Select Currency--</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#ddlCurrency').append($("<option></option>").val(data[i].CurrencyId).html(data[i].CurrencyCode));
                    }
                }
            });
        }

        function GetPurchaseOrderOtherMaster(id) {

            var urlpath = '@Url.Action("GetPurchaseOrderOtherByMasterId", "PurchaseOrderOther")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { id: id },
                async: false,
                success: function(data) {

                    $("#ddlCompany").val(data.CompanyId).trigger('change');
                    $("#ddlOrderType").val(data.OrderType).trigger('change');
                    //$("#ddlOrderType").prop("disabled", true);
                    $('#txtOrderDate').val(ToJavaScriptDate(data.OrderDate));
                    $('#txtDeliveryDate').val(ToJavaScriptDate(data.ExpectedDeliveryDate));
                    //$("#txtOrderDate").prop("disabled", true);
                    //LoadSupplier('ddlSupplier');
                    if (data.IsLocal == true) {
                        $('#rdIsLocal').prop('checked', true);

                    }
                    else if (data.IsLocal == false) {
                        $('#rdIsSupplier').prop('checked', true);
                     //   $("#ddlSupplier").val(data.SupplierID).trigger('change');
                    }
                    LoadSupplier('ddlSupplier');
                    $("#ddlSupplier").val(data.SupplierID).trigger('change');
                    //$("#ddlSupplier").val(data.SupplierID).trigger('change');
                    //$("#ddlSupplier").prop("disabled", true);
                    $("#ddlReceiveWarehouse").val(data.DelWareHouseID).trigger('change');
                    //$("#ddlReceiveWarehouse").prop("disabled", true);
                    $('#txtDeliveryTo').val(data.DeliveryTo);
                    $('#txtContactInfo').val(data.ContactInfo);
                    $('#txtSupplierReference').val(data.SupplierRef);
                    $('#txtAdjustment').val(data.Adjustment);
                    $('#txtAdvance').val(data.Advance);
                    $('#ddlIOUHead').val(data.IOUHead).trigger('change');
                    $("#ddlCurrency").val(data.CurrencyId).trigger('change');
                    //$("#ddlCurrency").prop("disabled", true);
                    $('#txtCurrencyRate').val(data.ConversionRate);
                    $('#txtComments').val(data.Comments);
                    $('#ddlTolerance').val(data.Tolarance);
                    $("#txtPo").html("(Purchase Order No : " + data.PurchaseOrderNo + ")");
                    //$("#txtCurrencyRate").prop("disabled", true);

                    if (data.AccountType == 1) {
                        $('#bankRadio').prop('checked', true);
                    }
                    if (data.AccountType == 2) {
                        $('#cashRadio').prop('checked', true);
                    }
                    //$("#bankRadio").prop("disabled", true);
                    //$("#cashRadio").prop("disabled", true);

                    //$("#ddlFromAccount").prop("disabled", true);

                    LoadBankName('ddlBank');
                    $('#ddlBank').val(data.BankId);
                    $("#ddlBank").prop("disabled", true);
                    LoadBankBranch('ddlBranch', data.BankId);
                    $('#ddlBranch').val(data.BranchId);
                    $("#ddlBranch").prop("disabled", true);
                    $('#txtChequeNo').val(data.ChequeNo);
                    if (data.ChequeDate != "" && data.ChequeDate != null) {
                        $('#txtChequeDate').val(ToJavaScriptDate(data.ChequeDate));
                    }

                    $('#txtRefNo').val(data.RefNo);
                    if (data.RefDate != "" && data.RefDate != null) {
                        $('#txtRefDate').val(ToJavaScriptDate(data.RefDate));
                    }

                    $('#lblSubTotal').html(data.TotalAmount);
                    $('#lblDiscount').html(data.DiscountAmt);
                    var adv = isNaN(parseFloat($('#txtAdvance').val())) ? 0 : parseFloat($('#txtAdvance').val());
                    $('#lblTotalAmount').html(data.TotalAmount - adv);
                    BankWishEffect();
                    CashWishEffect();
                    $('#txtaSpecialInstruction').val(data.SpecialInstruction);
                    $('#ddlFromAccount').val(data.FromAccount).trigger('change');

                    //GetProducts();
                    //var typeid = $("#ddlCustomerType").val();

                    for (var i = 0; i < data.POOtherDetails.length; i++) {
                        debugger;
                        var tr = $('#debitVoucher tbody tr').length + 1;
                        AddRow();


                        $('#chk_' + tr).prop('checked', true);


                        $("#itemId_" + tr).val(data.POOtherDetails[i].ItemId).trigger('change');
                        $('#itemId_' + tr).prop("disabled", true);
                        //$('#itemName_' + tr).val(data.POOtherDetails[i].ItemDescription);
                        $('#qty_' + tr).val(data.POOtherDetails[i].PurchaseQty);
                        $('#Rqty_' + tr).val(data.POOtherDetails[i].RequisitionQty);

                        $('#RqtyOriginal_' + tr).val(data.POOtherDetails[i].approvedRequisitionQty);
                        $('#Rqtyhidden_' + tr).val(data.POOtherDetails[i].PurchaseQty);
                        $('#Restqty_' + tr).val(data.POOtherDetails[i].RemainingPoQty);
                        $("#unit_" + tr).val(data.POOtherDetails[i].UOMId).trigger('change');
                        $('#rate_' + tr).val(data.POOtherDetails[i].UnitPrice);
                        $('#Discount_' + tr).val(data.POOtherDetails[i].DiscountRate);
                        $('#amount_' + tr).val(data.POOtherDetails[i].TotalPrice.toFixed(4));
                        $('#details_' + tr).val(data.POOtherDetails[i].PurchaseOrderDetailID);


                        var check = $('#chk_' + tr).is(":checked");
                        if (check == true) {
                            $("#rate_" + tr).prop('disabled', false);
                            $("#Discount_" + tr).prop('disabled', false);

                        } else {
                            $("#rate_" + tr).prop('disabled', true);
                            $("#Discount_" + tr).prop('disabled', true);

                        }
                    }


                    $('#txtTermsAndConditionId').val(data.TermsAndconditions.TermsAndConditionId);
                    $('#txtaTermsOfDelivery').val(data.TermsAndconditions.TermsOfDelivery);
                    $('#txtaTermsOfPackaging').val(data.TermsAndconditions.TermsOfPackaging);
                    $('#txtaTermsOfPayments').val(data.TermsAndconditions.TermsOfPayments);
                    $('#txtaTermsOfBilling').val(data.TermsAndconditions.TermsOfBilling_Doc);
                    $('#txtaOtherTerms').val(data.TermsAndconditions.OtherTerms);
                    //$('#txtaSpecialInstruction').val(data.TermsAndconditions.SpecialInstruction);

                }
            });
        }


        function SavePurchaseOrderOther() {

            if (SaveValidation() == true) {
                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function() {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SavePOOtherFinal();

                });
            }
        }

        function SavePOOtherFinal() {

            var jsonData = {};

            jsonData["PurchaseOrderOtherID"] = $('#purchaseId').val();
            jsonData["RequisitionId"] = $('#requisitionId').val();
            jsonData["CompanyId"] = $('#ddlCompany').val();
            jsonData["BUId"] = 1;
            jsonData["OrderType"] = $('#ddlOrderType').val();
            jsonData["OrderDate"] = $('#txtOrderDate').val();
            jsonData["ExpectedDeliveryDate"] = $('#txtDeliveryDate').val();
            jsonData["SupplierID"] = $('#ddlSupplier').val();
            jsonData["DelWareHouseID"] = $('#ddlReceiveWarehouse').val();
            jsonData["DeliveryTo"] = $('#txtDeliveryTo').val();
            jsonData["ContactInfo"] = $('#txtContactInfo').val();

            jsonData["SupplierRef"] = $('#txtSupplierReference').val();
            jsonData["Adjustment"] = $('#txtAdjustment').val();
            jsonData["IOUHead"] = $('#ddlIOUHead').val();
            jsonData["Advance"] = $('#txtAdvance').val();

            jsonData["CurrencyId"] = $('#ddlCurrency').val();
            jsonData["ConversionRate"] = $('#txtCurrencyRate').val();
            jsonData["Comments"] = $('#txtComments').val();
            jsonData["Tolarance"] = $('#ddlTolerance').val();
            var Suppliertype = $('input[name="supradio"]:checked').val();

            if (Suppliertype == 'Regular') {
                jsonData["IsLocal"] = 0;
            } else {
                jsonData["IsLocal"] = 1;
            }

            //var voucherType = 0;
            //if ($('#bankRadio').is(':checked')) {
            //    voucherType = 3;
            //}
            //if ($('#cashRadio').is(':checked')) {
            //    voucherType = 4;
            //}
            //jsonData["VoucherType"] = voucherType;
            if ($('#txtAdvance').val() > 0) {
                jsonData["FromAccount"] = $('#ddlFromAccount').val();


                jsonData["BankId"] = $('#ddlBank').val();
                jsonData["BranchId"] = $('#ddlBranch').val();
                jsonData["ChequeNo"] = $('#txtChequeNo').val();
                jsonData["ChequeDate"] = $('#txtChequeDate').val();

                jsonData["RefNo"] = $('#txtRefNo').val();
                jsonData["RefDate"] = $('#txtRefDate').val();
            } else {
                jsonData["FromAccount"] = 0;
                //jsonData["CurrencyId"] = 0;
                //jsonData["ConversionRate"] = '';

                jsonData["BankId"] = 0;
                jsonData["BranchId"] = 0;
                jsonData["ChequeNo"] = '';
                jsonData["ChequeDate"] = null;

                jsonData["RefNo"] = '';
                jsonData["RefDate"] = null;
            }


            jsonData["IsApprove"] = false;
            jsonData["TotalQty"] = $('#txtTotalQty').val();
            jsonData["TotalAmount"] = parseFloat($('#lblSubTotal').html());
            jsonData["DiscountAmt"] = parseFloat($('#lblDiscount').html());
            jsonData["eflag"] = $('#eflag').val();
            jsonData["SpecialInstruction"] = $('#txtaSpecialInstruction').val().trim();
            jsonData["ApproveBy"] = $('#UserId').val();


            var jsonObjs = [];

            $('#debitVoucher tbody tr').each(function() {

                var theObj = {};
                var idr = $(this).attr('id');
                var id = idr.substring(3);

                var detailsId = isNaN($('#details_' + id).val()) ? 0 : $('#details_' + id).val();

                var itemId = isNaN(parseFloat($('#itemId_' + id).val())) ? 0 : parseFloat($('#itemId_' + id).val());
                var Rqty = isNaN(parseFloat($('#Rqty_' + id).val())) ? 0 : parseFloat($('#Rqty_' + id).val());
                var qty = isNaN(parseFloat($('#qty_' + id).val())) ? 0 : parseFloat($('#qty_' + id).val());
                var unit = isNaN(parseFloat($('#unit_' + id).val())) ? 0 : parseFloat($('#unit_' + id).val());
                var rate = isNaN(parseFloat($('#rate_' + id).val())) ? 0 : parseFloat($('#rate_' + id).val());
                var discount = isNaN(parseFloat($('#Discount_' + id).val())) ? 0 : parseFloat($('#Discount_' + id).val());
                var amount = isNaN(parseFloat($('#amount_' + id).val())) ? 0 : parseFloat($('#amount_' + id).val());


                var check = $('#chk_' + id).is(":checked");

                if (check == true) {


                    theObj["PurchaseOrderDetailID"] = detailsId;
                    theObj["ItemId"] = itemId;
                    theObj["RequisitionQty"] = Rqty;
                    theObj["PurchaseQty"] = qty;
                    theObj["UOMId"] = unit;
                    theObj["UnitPrice"] = rate;
                    theObj["DiscountRate"] = discount;
                    theObj["TotalPrice"] = amount;
                    theObj["eflag"] = $('#eflag').val();

                    jsonObjs.push(theObj);
                } else {

                    var delObj = {};
                    delObj["PurchaseOrderDetailID"] = detailsId;
                    delObj["PurchaseOrderID"] =  $('#purchaseId').val();
                    delObj["ItemId"] = itemId;
                    delObj["PurchaseQty"] = qty;
                    delObj["UOMId"] = unit;
                    delObj["UnitPrice"] = rate;
                    delObj["DiscountRate"] = discount;
                    delObj["TotalPrice"] = amount;
                    delObj["IsDelete"] = true;
                    delObj["eflag"] = $('#eflag').val();
                    DeleteItemDetails.push(delObj);
                }
            });

            if (isNaN(parseInt($('#purchaseId').val())) ? 0 : parseInt($('#purchaseId').val()) > 0) {
                for (var ind = 0; ind < DeleteItemDetails.length; ind++) {
                    jsonObjs.push(DeleteItemDetails[ind]);
                }
            }


            jsonData["POOtherDetails"] = jsonObjs;

            var tremsObj = {};

            tremsObj["TermsAndConditionId"] = isNaN(parseInt($('#txtTermsAndConditionId').val())) ? 0 : parseInt($('#txtTermsAndConditionId').val())
            tremsObj["TermsOfDelivery"] = $('#txtaTermsOfDelivery').val().trim();
            tremsObj["TermsOfPackaging"] = $('#txtaTermsOfPackaging').val().trim();
            tremsObj["TermsOfPayments"] = $('#txtaTermsOfPayments').val().trim();
            tremsObj["TermsOfBilling_Doc"] = $('#txtaTermsOfBilling').val().trim();
            tremsObj["OtherTerms"] = $('#txtaOtherTerms').val().trim();
            //tremsObj["SpecialInstruction"] = $('#txtaSpecialInstruction').val().trim();

            jsonData["TermsAndconditions"] = tremsObj;


            var urlpath = '@Url.Action("SavePurchaseOrderOther", "PurchaseOrderOther")';
            $.ajax({
                    contentType: "application/json",
                    data: JSON.stringify(jsonData),
                    dataType: 'json',
                    url: urlpath,
                    type: "POST"
                })
                .success(function(result) {

                    if (result.pk > 0) {
                        swal({
                            title: " Saved Successfull",
                            text: '',
                            type: "success",
                            showCancelButton: false,
                            cancelButtonClass: 'btn-secondary waves-effect',
                            confirmButtonClass: 'btn-success waves-effect waves-light',
                            confirmButtonText: 'Yes!',
                            closeOnConfirm: false
                        }, function() {
                            var eflag = $('#eflag').val();
                            if (eflag == "ed") {
                                window.location.href = '@Url.Action("Index", "PurchaseOrderOther")';
                            } else {
                                window.location.href = '@Url.Action("PurchaseOrderOtherApprovalList", "PurchaseOrderOther")';
                            }


                        });


                    }
                });


        }

        function SaveValidation() {


            var isValid = true;
            var message = "Some Values Required";
            if ($('#ddlCompany').val() == 0 || $('#ddlCompany').val() == '') {
                ValidationColorChangeNew("ddlCompany", "divCompany", "Company Required", true);
                isValid = false;
            }
            if ($('#ddlOrderType').val() == 0 || $('#ddlOrderType').val() == '') {
                ValidationColorChangeNew("ddlOrderType", "divOrderType", "Order Type Required", true);
                isValid = false;
            }
            if ($('#txtOrderDate').val() == '' || $('#txtOrderDate').val() == null) {
                ValidationColorChangeNew("txtOrderDate", "divOrderDate", "Order Date Required", false);
                isValid = false;
            }
            if ($('#txtDeliveryDate').val() == '' || $('#txtDeliveryDate').val() == null) {
                ValidationColorChangeNew("txtDeliveryDate", "divDeliveryDate", "Delivery Date Required", false);
                isValid = false;
            }
            if ($('#ddlSupplier').val() == 0 || $('#ddlSupplier').val() == '') {
                ValidationColorChangeNew("ddlSupplier", "divSupplier", "Supplier Required", true);
                isValid = false;
            }
            if ($('#ddlReceiveWarehouse').val() == 0 || $('#ddlReceiveWarehouse').val() == '') {
                ValidationColorChangeNew("ddlReceiveWarehouse", "divReceiveWarehouse", "Receive Warehouse Required", true);
                isValid = false;
            }


            if ($('#txtDeliveryTo').val() == '' || $('#txtDeliveryTo').val() == null) {
                ValidationColorChangeNew("txtDeliveryTo", "divDeliveryTo", "Delivery To Required", false);
                isValid = false;
            }
            if ($('#txtContactInfo').val() == '' || $('#txtContactInfo').val() == null) {
                ValidationColorChangeNew("txtContactInfo", "divContactInfo", "Contact info Required", false);
                isValid = false;
            }


           //         if ($('#txtAdvance').val() > 0) {
//                if ($('#ddlFromAccount').val() == 0 || $('#ddlFromAccount').val() == '') {
//                    ValidationColorChangeNew("ddlFromAccount", "divFromAccount", "Account Required", false);
//        isValid = false;
//                }

//                if ($('#bankRadio').is(':checked')) {

//                    if ($('#ddlBank').val() == 0 || $('#ddlBank').val() == '') {
//                        ValidationColorChangeNew("ddlBank", "divBank", "Bank Required", false);
//    isValid = false;
//                    }
//                    if ($('#ddlBranch').val() == 0 || $('#ddlBranch').val() == '') {
//                        ValidationColorChangeNew("ddlBranch", "divBranch", "Branch Required", false);
//isValid = false;
//                    }
//                    if ($('#txtChequeNo').val() == '' || $('#txtChequeNo').val() == null) {
//                        ValidationColorChangeNew("txtChequeNo", "divChequeNo", "Cheque No Required", false);
//isValid = false;
//                    }
//                    if ($('#txtChequeDate').val() == '' || $('#txtChequeDate').val() == null) {
//                        ValidationColorChangeNew("txtChequeDate", "divChequeDate", "Cheque Date Required", false);
//isValid = false;
//                    }
//                }

//                //if ($('#cashRadio').is(':checked')) {

//                //    if ($('#txtRefNo').val() == '' || $('#txtRefNo').val() == null) {
//                //        ValidationColorChangeNew("txtRefNo", "divRefNo", "Reference No Required", false);
//                //        isValid = false;
//                //    }
//                //    if ($('#txtRefDate').val() == '' || $('#txtRefDate').val() == null) {
//                //        ValidationColorChangeNew("txtRefDate", "divRefDate", "Reference Date Required", false);
//                //        isValid = false;
//                //    }

//                //}
//            }


            if ($('#txtaTermsOfDelivery').val().trim() == '' || $('#txtaTermsOfDelivery').val().trim() == null) {
                ValidationColorChangeNew("txtaTermsOfDelivery", "divTermsOfDelivery", "Terms Of Delivery Required", false);
                isValid = false;
            }

            if ($('#txtaTermsOfPackaging').val().trim() == '' || $('#txtaTermsOfPackaging').val().trim() == null) {
                ValidationColorChangeNew("txtaTermsOfPackaging", "divTermsOfPackaging", "Terms Of Packaging Required", false);
                isValid = false;
            }

            if ($('#txtaTermsOfPayments').val().trim() == '' || $('#txtaTermsOfPayments').val().trim() == null) {
                ValidationColorChangeNew("txtaTermsOfPayments", "divTermsOfPayments", "Terms Of Payments Required", false);
                isValid = false;
            }
            if ($('#txtaTermsOfBilling').val().trim() == '' || $('#txtaTermsOfBilling').val().trim() == null) {
                ValidationColorChangeNew("txtaTermsOfBilling", "divTermsOfBilling", "Terms Of Billing Required", false);
                isValid = false;
            }


            if ($('#debitVoucher tbody tr').length == 0 || $('#debitVoucher tbody tr').length == '') {
                isValid = false;
                message = "GL Required";
            }
            var count = 0;
            count = $('input:checkbox.chkp:checked').length;
            if (count == 0) {
                isValid = false;
                message = ("Check atleast one checkbox");
            }

            $('#debitVoucher tbody tr').each(function() {


                var idr = $(this).attr('id');
                var id = idr.substring(3);
                var check = $('#chk_' + id).is(":checked");

                var itemId = isNaN(parseFloat($('#itemId_' + id).val())) ? 0 : parseFloat($('#itemId_' + id).val());
                var reqty = isNaN(parseFloat($('#Rqty_' + id).val())) ? 0 : parseFloat($('#Rqty_' + id).val());
                var restreqty = isNaN(parseFloat($('#Restqty_' + id).val())) ? 0 : parseFloat($('#Restqty_' + id).val());
                var hiddenreqty = isNaN(parseFloat($('#Rqtyhidden_' + id).val())) ? 0 : parseFloat($('#Rqtyhidden_' + id).val());
                var _qty = isNaN(parseFloat($('#qty_' + id).val())) ? 0 : parseFloat($('#qty_' + id).val());
                var _unit = $('#unit_' + id).val()
                var _rate = isNaN(parseFloat($('#rate_' + id).val())) ? 0 : parseFloat($('#rate_' + id).val());
                var _discount = isNaN(parseFloat($('#Discount_' + id).val())) ? 0 : parseFloat($('#Discount_' + id).val());


                //var tolarance = $('#ddlTolerance').val() || 0;
                //var tQty = (tolarance * reqty) / 100;
                //var tolaranceQty = tQty + reqty;

                //if (_qty > tolaranceQty) {
                //    isValid = false;
                //     message = "Qty Cannot be Greater Than Tolarance Level ";
                //    $('#qty_' + id).css('border-bottom', '2px solid red');
                //    return;
                //}
                //if (check == 1 && _qty > reqty) {
                if (check == 1 && _qty > (restreqty + hiddenreqty)) {
                    isValid = false;
                    message = "Qty Cannot be Greater Than Requisition Qty ";
                    $('#qty_' + id).css('border-bottom', '2px solid red');
                    return;
                }


                if (itemId === 0) {
                    isValid = false;
                    message = "Please select Item";
                    $('#itemId_' + id).css('border-bottom', '2px solid red');
                    return;
                }

                //if (_qty === 0) {
                //    isValid = false;
                //    message = "Qty Cannot be 0 ";
                //    $('#qty_' + id).css('border-bottom', '2px solid red');
                //    return;
                //}
                if (_unit === 0) {
                    isValid = false;
                    message = "Please select Unit";
                    $('#unit_' + id).css('border-bottom', '2px solid red');
                    return;
                }

                if (check == 1 &&  _qty > 0 && _rate === 0) {
                    isValid = false;
                    message = "Rate Cannot be 0 ";
                    $('#rate_' + id).css('border-bottom', '2px solid red');
                   // $('#Discount_' + id).css('border-bottom', '2px solid red');
                    return;
                }


            });
            //var paymentAmount = isNaN(parseFloat($('#txtPaymentAmount').val())) ? 0 : parseFloat($('#txtPaymentAmount').val());
            //var discount = isNaN(parseFloat($('#txtDiscount').val())) ? 0 : parseFloat($('#txtDiscount').val());
            //var tax = isNaN(parseFloat($('#txtTax').val())) ? 0 : parseFloat($('#txtTax').val());
            //var totalCr = paymentAmount + discount + tax;
            //var totalDr = parseFloat($('#lblTotalAmountAmount').html());
            //var differenc = totalCr - totalDr;
            //if (differenc > 0 || differenc < 0)
            //{
            //    isValid = false;
            //    message = " Debit and Credit value difference should be 0.";
            //}

            if (isValid == false) {
                ShowMessage(message);

            }
            return isValid;


        }


        function AdvancedValue() {
            var grandTotal = 0;
            var proCout = 0;
            $('#debitVoucher tbody tr').each(function() {


                var idr = $(this).attr('id');
                var id = idr.substring(3);

                var itemId = isNaN(parseFloat($('#itemId_' + id).val())) ? 0 : parseFloat($('#itemId_' + id).val());
                var amount = isNaN(parseFloat($('#amount_' + id).val())) ? 0 : parseFloat($('#amount_' + id).val());

                grandTotal += amount;
                if (itemId > 0) {
                    proCout = proCout + 1;
                }

            });
            $('#lblSubTotal').html(grandTotal.toFixed(4));
            var advanced = isNaN(parseFloat($('#txtAdvance').val())) ? 0 : parseFloat($('#txtAdvance').val());
            if (advanced > grandTotal) {
                advanced = grandTotal;
            }
            var TAmount = 0;
            TAmount = grandTotal - advanced;
            $('#lblTotalAmount').html(TAmount.toFixed(4));
        }

        function CalculateLineTotal(slId) {



            var lineAmount = 0;
            var qty = isNaN(parseFloat($('#qty_' + slId).val())) ? 0 : parseFloat($('#qty_' + slId).val());
            var rate = isNaN(parseFloat($('#rate_' + slId).val())) ? 0 : parseFloat($('#rate_' + slId).val());
            var discount = isNaN(parseFloat($('#Discount_' + slId).val())) ? 0 : parseFloat($('#Discount_' + slId).val());
        if (rate > 0 && rate>=discount) {
              lineAmount = qty * (rate-discount);
        }



            $("#amount_" + slId).val(lineAmount.toFixed(4));


            var grandQty = 0;
            var grandTotal = 0;
            var DiscountRate = 0;
            var proCout = 0;
            $('#debitVoucher tbody tr').each(function() {
                debugger;

                var idr = $(this).attr('id');
                var id = idr.substring(3);


                var check = $('#chk_' + id).is(":checked");

                var itemId = isNaN(parseFloat($('#itemId_' + id).val())) ? 0 : parseFloat($('#itemId_' + id).val());
                var reqty = isNaN(parseFloat($('#Rqty_' + id).val())) ? 0 : parseFloat($('#Rqty_' + id).val());
                var restreqty = isNaN(parseFloat($('#Restqty_' + id).val())) ? 0 : parseFloat($('#Restqty_' + id).val());
                var hiddenreqty = isNaN(parseFloat($('#Rqtyhidden_' + id).val())) ? 0 : parseFloat($('#Rqtyhidden_' + id).val());
                var _qty = isNaN(parseFloat($('#qty_' + id).val())) ? 0 : parseFloat($('#qty_' + id).val());
                var _unit = $('#unit_' + id).val();
                var _rate = isNaN(parseFloat($('#rate_' + id).val())) ? 0 : parseFloat($('#rate_' + id).val());
                var discount = isNaN(parseFloat($('#Discount_' + id).val())) ? 0 : parseFloat($('#Discount_' + id).val());
                var amount = isNaN(parseFloat($('#amount_' + id).val())) ? 0 : parseFloat($('#amount_' + id).val());


                //tolarance validation

                //var tolarance = $('#ddlTolerance').val() || 0;
                //var tQty = (tolarance * reqty) / 100;
                //var tolaranceQty = tQty + reqty;


                if (check == 1 && _qty > (restreqty + hiddenreqty)) {

                    var message = "Qty Cannot be Greater Than Remaining Qty ";
                    $('#qty_' + id).css('border-bottom', '2px solid red');
                    ShowMessage(message);
                }


                grandTotal += amount;
              DiscountRate+= _qty*discount;
                grandQty += _qty;
                if (itemId > 0) {
                    proCout = proCout + 1;
                }

            });

            $('#txtTotalQty').val(grandQty.toFixed(4));
            $('#lblSubTotal').html(grandTotal.toFixed(4));
            $('#lblDiscount').html(DiscountRate.toFixed(4));
            var advanced = isNaN(parseFloat($('#txtAdvance').val())) ? 0 : parseFloat($('#txtAdvance').val());
            var TAmount = 0;
            TAmount = grandTotal - advanced;
            $('#lblTotalAmount').html(TAmount.toFixed(4));

        }

        function GetItemDetails(slId) {

            var itemId = $('#itemId_' + slId).val();

            var urlpath = '@Url.Action("GetItemDetails", "PurchaseOrderOther")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'json',
                data: { itemId: itemId },
                async: false,
                success: function(data) {

                    $("#itemName_" + slId).val('');
                    $("#itemName_" + slId).val(data.Item_Description);
                    $("#unit_" + slId).val(data.UOMId).trigger('change');
                }
            });
        }

        function RemoveRow(id) {

            var trLength = $('#debitVoucher tbody tr:visible').length;
            var purchaseId = $('#purchaseId').val();
            if (trLength == 1 && purchaseId == 0) {
                $('#itemId_' + id).val(0).trigger('change');
                $('#itemName_' + id).val('');
                $('#qty_' + id).val(0);
                $('#unit_' + id).val(0).trigger('change');
                $('#rate_' + id).val(0);
                $('#Discount_' + id).val(0);
                $('#amount_' + id).val(0);
                $('#txtAdvance').val(0);
                AdvancedValue();
            }

            if (trLength > 1) {

                var detailsId = $('#details_' + id).val();
                if (detailsId > 0) {
                    var itemId = isNaN(parseFloat($('#itemId_' + id).val())) ? 0 : parseFloat($('#itemId_' + id).val());
                    var amount = isNaN(parseFloat($('#amount_' + id).val())) ? 0 : parseFloat($('#amount_' + id).val());
                    var qty = isNaN(parseFloat($('#qty_' + id).val())) ? 0 : parseFloat($('#qty_' + id).val());
                    var unit = isNaN(parseFloat($('#unit_' + id).val())) ? 0 : parseFloat($('#unit_' + id).val());
                    var rate = isNaN(parseFloat($('#rate_' + id).val())) ? 0 : parseFloat($('#rate_' + id).val());
                    var discount = isNaN(parseFloat($('#Discount_' + id).val())) ? 0 : parseFloat($('#Discount_' + id).val());


                    var delObj = {};
                    delObj["PurchaseOrderDetailID"] = detailsId;
                    delObj["PurchaseOrderID"] = purchaseId;
                    delObj["ItemId"] = itemId;
                    delObj["PurchaseQty"] = qty;
                    delObj["UOMId"] = unit;
                    delObj["UnitPrice"] = rate;
                    delObj["TotalPrice"] = amount;
                    delObj["IsDelete"] = true;
                    delObj["eflag"] = $('#eflag').val();
                    DeleteItemDetails.push(delObj);

                }
                $('#tr_' + id).remove();
                SerialTable();
                AdvancedValue();
            } else {
                return;
            }

        }

        function checkBoxEvent(id) {


            // var check = $("#chk_" + id).is(":checked");
            var check = $("#chk_" + id).is(":checked");

            if (check == true) {
                $("#rate_" + id).prop('disabled', false);
                $("#Discount_" + id).prop('disabled', false);

            } else {
                $("#rate_" + id).prop('disabled', true);
                $("#Discount_" + id).prop('disabled', true);

            }
        }

        function AddRow() {

            var tr = $('#debitVoucher tbody tr').length + 1;
            var values = $("#debitVoucher tbody tr")
                .map(function() { return parseInt($(this).attr('id').substring(3)); }).get();
            var index = values.indexOf(tr);
            if (index >= 0) {
                tr = Math.max.apply(Math, values) + 1;
            }
            var urlpath = '@Url.Action("AddRowForPurchase", "PurchaseOrderOther")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'html',
                data: { tr: tr },
                async: false,
                success: function(data) {

                    $('#debitVoucher tbody').append(data);
                    LoadItemInRow("itemId_" + tr);
                    LoadUOMInRow("unit_" + tr);


                }
            });
            $('#itemId_' + tr).select2();
            $('#unit_' + tr).select2();
            SerialTable();

            var eflag = $('#eflag').val();
            if (eflag == "ed") {

                $('.aHide').hide();
            } else {

                $('.aHide').show();


            }
            //CalculateAll();
        }

        function SerialTable() {
            $('#debitVoucher tbody tr').each(function(index, element) {
                var idr = $(this).attr('id');
                var id = idr.substring(3);
                $('#ts_' + id).html(index + 1);


            });
        }

        function limitDecimals(el) {
            var value = el.value;
            var parts = value.split(".");
            if (parts.length > 1 && parts[1].length > 4) {
                parts[1] = parts[1].slice(0, 4);
                el.value = parts[0] + "." + parts[1];
            }
        }

        //var validate = function (e) {
        //    debugger;
        //    var t = e.value;
        //    e.value = (t.indexOf(".") >= 0) ? (t.substr(0, t.indexOf(".")) + t.substr(t.indexOf("."), 5)) : t;
        //}




        function LoadItemInRow(elementId) {

            $('#' + elementId + '').append("<option value='0'>--Select Item --</option>");
            for (var i = 0; i < ItemList.length; i++) {

                $('#' + elementId + '').append($("<option></option>").val(ItemList[i].ItemId).html(ItemList[i].ItemName));
            }
        }

        function LoadUOMInRow(elementId) {

            $('#' + elementId + '').append("<option value='0'>--Unit--</option>");
            for (var i = 0; i < UOMList.length; i++) {

                $('#' + elementId + '').append($("<option></option>").val(UOMList[i].UOMId).html(UOMList[i].UOMName));
            }
        }

        function GetItem() {
            var urlpath = '@Url.Action("GetItem", "PurchaseOrderOther")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: {},
                async: false,
                success: function(data) {
                    ItemList = data;
                }
            });
        }

        function GetUOM() {
            var urlpath = '@Url.Action("LoadUOM", "PurchaseOrderOther")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: {},
                async: false,
                success: function(data) {
                    UOMList = data;
                }
            });
        }


        function GetIOUGL() {


            var urlpath = '@Url.Action("GetGLForJournal", "Utility")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: {},
                async: false,
                success: function(data) {

                    $('#ddlIOUHead ').empty();
                    $('#ddlIOUHead').append("<option value='0'>--Select IOU Head--</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#ddlIOUHead ').append($("<option></option>").val(data[i].CALayerSevenId).html(data[i].CALayerSevenName));
                    }
                }
            });
        }


        @*function LoadSupplier(elementId) {
            var urlpath = '@Url.Action("LoadSupplier", "PurchaseOrderOther")';
            $.ajax({
                url: urlpath,
                //contentType: "application/json; charset=utf-8",
                //dataType: 'json',
                type: "Get",

                async: false,
                success: function(data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Supplier--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].SupplierID).html(data[i].SupplierName));
                    }
                }
            });
        }*@
        function LoadSupplier(elementId) {
            var type = $('input[name="supradio"]:checked').val();
            var urlpath = '@Url.Action("LoadSupplierByType", "PurchaseOrderOther")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",
                data: { type: type },
                async: false,
                success: function(data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Supplier--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].SupplierID).html(data[i].SupplierName));
                    }
                }
            });
        }

        function LoadReceiveWarehouse() {
            //var typeid = $('#ddlWarehouseType').val();
            var locid = 0;
            var wareHouseTypeid = 0;
            var urlpath = '@Url.Action("LoadWareHouse", "Utility")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { locid: locid, wareHouseTypeid: wareHouseTypeid },
                async: false,
                success: function(data) {

                    $('#ddlReceiveWarehouse ').empty();
                    $('#ddlReceiveWarehouse').append("<option value='0'>--Select Receive Warehouse --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#ddlReceiveWarehouse ').append($("<option></option>").val(data[i].WareHouseId).html(data[i].WareHouseName));
                    }
                }
            });
        }

        function CheckCurrentdate() {

            if ($('#txtDeliveryDate').val() != '' || $('#txtDeliveryDate').val() != null) {
                var ddate = new Date($('#txtDeliveryDate').val());
                var odate = new Date($('#txtOrderDate').val());
                if (ddate < odate) {
                    $('#txtDeliveryDate').val($('#txtOrderDate').val());
                }
            }

        }
    </script>
}
