﻿
@using CrystalDecisions.ReportAppServer.ReportDefModel
@model IEnumerable< IGFoodProject.Models.PurchaseOrderOtherMaster>

@{
    ViewBag.Title = "Purchase Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #manuallist {
        padding: 10px;
    }

    .form-control {
        height: calc(1.7rem + 2px);
    }
</style>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">

                        <div class="row">

                            <div class="col-md-6">
                                <h3>Purchase Order List Page</h3>
                            </div>
                            <div class="col-md-6 text-right ">
                                <a class="btn btn-outline-warning" href="@Url.Action("PendingPoRequisition", "PurchaseOrderOther")">

                                    <span class="fa fa-plus"></span> Pending Purchase Requisition List

                                </a>
                            </div>

                        </div>



                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group" id="divSupplier">
                                    <label for="ddlSupplierSearch">Supplier</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlSupplierSearch"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divWarehouse">
                                    <label for="ddlReceiveWarehouseSearch">Receive Warehouse</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlReceiveWarehouseSearch"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divFromDate">
                                    <label for="txtFromDate">From Date</label>
                                    <input type="text" id="txtFromDate" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divToDate">
                                    <label for="txtToDate">To Date</label>
                                    <input type="text" id="txtToDate" class="form-control" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <button style="margin-left: 27px;" class="btn btn-primary" onclick="ShowReport()">Search PO</button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body">
                                <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th class="text-center">PO No</th>
                                            <th colspan="2" class="text-center">Order Date</th>
                                            <th class="text-center">Order Type</th>
                                            <th class="text-center">Expected Delivery Date</th>
                                            <th class="text-center">Supplier</th>
                                            <th class="text-center">Supplier Type</th>

                                            <th class="text-center">R. Warehouse</th>
                                            <th class="text-center">Receive Address</th>
                                            <th class="text-center">Contact</th>
                                            <th class="text-center">Amount</th>
                                         
                                            <th class="text-center">Mrr Status</th>
                                            <th class="text-center">Status</th>
                                            <th colspan="2">Action</th>

                                        </tr>
                                    </thead>
                                    <tbody id="manuallist">
                                        @{ int count = 1;}
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@count</td>
                                                <td>@item.PurchaseOrderNo</td>
                                                <td>@Convert.ToDateTime(item.OrderDate).ToString("dd-MMM-yyyy")</td>
                                                <td>
                                                    @item.CreateDate.ToString("h:mm:ss tt")
                                                </td>
                                                <td>@item.OrderTypeName</td>
                                                <td>@Convert.ToDateTime(item.ExpectedDeliveryDate).ToString("dd-MMM-yyyy")</td>
                                                <td>@item.SupplierName</td>
                                                <td>@item.PurchaseType</td>
                                                <td>@item.WareHouseName</td>

                                                <td>@item.DeliveryTo</td>
                                                <td>@item.ContactInfo</td>
                                                <td>@item.TotalAmount.ToString("##,###,0.00")</td>
                                                <td>@item.ReceivedStatus</td>
                                              
                                                @if (item.IsApprove == false)
                                                    {
                                                        <td>Pending</td>
                                                        <td>
                                                            <button class="btn btn-sm btn-primary showBtn" onclick="ShowData(@item.PurchaseOrderOtherID)">View</button>


                                                        </td>
                                                        <td>
                                                            @Html.ActionLink("Edit", "Create", "PurchaseOrderOther", new { PurchaseId = item.PurchaseOrderOtherID }, new { @class = "btn btn-sm btn-warning" })
                                                            @*<button class="btn btn-sm btn-danger showBtn" onclick="SoDelete(@item.PurchaseOrderOtherID)">Delete</button>*@

                                                        </td>
                                                }
                                                else if 
                                                (item.IsApprove == true)
                                                {
                                                    <td>Approved</td>
                                                    <td>
                                                        <button class="btn btn-sm btn-primary showBtn" onclick="ShowData(@item.PurchaseOrderOtherID)">View</button>


                                                    </td>
                                                    <td>
                                                        <button class="btn btn-sm btn-primary showBtn" onclick="LoadReportFinal(@item.PurchaseOrderOtherID)">Print</button>
                                                    </td>
                                                }
                                                @*else
                                                    {
                                                        <td>Rejected</td>
                                                        <td>
                                                            <button class="btn btn-sm btn-primary showBtn" onclick="ShowData(@item.SalesOrderProcessedMasterId)">View</button>
                                                            @Html.ActionLink("Edit", "Index", "SalesOrderProcess", new { soId = item.SalesOrderProcessedMasterId }, new { @class = "btn btn-sm btn-warning" })
                                                        </td>
                                                    }*@


                                            </tr>
                                            count++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>



                    </div>


                </div>

            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->

</section>

<div class="modal fadeInUp" id="viewModal" role="dialog">
    <div class="modal-dialog modal-lg" style="max-width: 100% !important">
        <div class="modal-content">
            <div class="modal-header">

            </div>
            <div class="modal-body" id="containerDetails">

            </div>
            <div class="modal-footer">
                <input type="text" style="display:none;" id="eid" />
                <button type="button" class="btn btn-danger" id="clsButton" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary" id="clsEdit" onclick="GoToDo($('#eid').val())">Edit</button>*@
            </div>
        </div>
    </div>
</div>



@section Scripts
{
    <script type="text/javascript">


        $(document).ready(function () {
            //LoadDate_P('#txtFromDate');
            //LoadDate_C('#txtToDate');

            //LoadSupplier('ddlSupplierSearch');
            //LoadReceiveWarehouse();
        });

        var ItemList = {};
        var UOMList = {};
        var DeleteItemDetails = [];
        $(document).ready(function () {
            LoadDate_P('#txtFromDate');
            LoadDate_C('#txtToDate');

            LoadSupplier('ddlSupplierSearch');
            LoadReceiveWarehouseSearch();


            LoadSupplier('ddlSupplier');
            LoadReceiveWarehouse();
            GetIOUGL();
            LoadCurrency();
            $("#ddlCurrency").val("1");
            $('#txtOrderDate').datepicker({
                endDate: new Date(),
                autoclose: true,
                todayHighlight: true,
                format: 'dd-M-yyyy'
            });
            LoadDate('#txtChequeDate');
            LoadDate('#txtRefDate');
            GetItem();
            GetUOM();
            LoadBankName('ddlBank');
            BankWishEffect();




            var purchaseId = $('#purchaseId').val();
            if (purchaseId > 0) {
                GetPurchaseOrderOtherMaster(purchaseId);
            } else {
                GetTermsAndConditionDefault();
                AddRow();
            }
        });


        function LoadSupplier(elementId) {
            var urlpath = '@Url.Action("LoadSupplier", "PurchaseOrderOther")';
            $.ajax({
                url: urlpath,
                //contentType: "application/json; charset=utf-8",
                //dataType: 'json',
                type: "Get",

                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Supplier--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].SupplierID).html(data[i].SupplierName));
                    }
                }
            });
        }

        function LoadReceiveWarehouseSearch() {
            var locid = 0;
            var wareHouseTypeid = 7;
            var urlpath = '@Url.Action("LoadWareHouse", "Utility")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { locid: locid, wareHouseTypeid: wareHouseTypeid },
                async: false,
                success: function (data) {

                    $('#ddlReceiveWarehouseSearch').empty();
                    $('#ddlReceiveWarehouseSearch').append("<option value='0'>--Select Receive Warehouse --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#ddlReceiveWarehouseSearch').append($("<option></option>").val(data[i].WareHouseId).html(data[i].WareHouseName));
                    }
                }
            });
        }



      function ShowReport() {
            debugger;
            var fromdate;
            var todate;
            var supplierId = '0';
            var rWarehouseId = '0';

            if ($('#txtFromDate').val() == "") {
                swal("Please input from order date");
                return;
            }
            else {
                fromdate = $('#txtFromDate').val();
            }
            if ($('#txtToDate').val() == "") {
                swal("Please input to order date");
                return;
            }
            else {
                todate = $('#txtToDate').val();
            }

            if ($('#ddlSupplierSearch').val() == "0") {
                supplierId = '0';
            }
            else {
                supplierId = $('#ddlSupplierSearch').val();
            }
            if ($('#ddlReceiveWarehouseSearch').val() == "0") {
                rWarehouseId = '0';
            }
            else {
                rWarehouseId = $('#ddlReceiveWarehouseSearch').val();
            }

            var urlpath = '@Url.Action("PurchaseOrderListData", "PurchaseOrderOther")';
            $.ajax({
                url: urlpath,
                dataType: 'html',
                type: "Get",
                data: { fromdate: fromdate, todate: todate, SupplierId: supplierId, DelWareHouseId: rWarehouseId },
                async: false,
                success: function (data) {

                    data = JSON.parse(data);
                    $("#manuallist").html("");
                    if (data.length > 0) {



                        var row = "";
                        var count = 1;
                        $("#manuallist").html("");

                        var count=1;
                        for (var i = 0; i < data.length; i++) {



                            row += "<tr>";
                            row += "<td style='text-align:center'>" + count + "</td>";
                            row += "<td style='text-align:center'>" + data[i].PurchaseOrderNo + "</td>";
                            row += "<td style='text-align:center'>" + ToJavaScriptDate(data[i].OrderDate) + "</td>";
                            row += "<td style='text-align:center'>" + moment((data[i].CreateDate)).format('LTS') + "</td>";
                            row += "<td style='text-align:center'>" + data[i].OrderTypeName + "</td>";
                            row += "<td style='text-align:center'>" + ToJavaScriptDate(data[i].ExpectedDeliveryDate) + "</td>";
                            row += "<td style='text-align:center'>" + data[i].SupplierName + "</td>";
                            row += "<td style='text-align:center'>" + data[i].PurchaseType + "</td>";
                            row += "<td style='text-align:center'>" + data[i].WareHouseName + "</td>";

                            row += "<td style='text-align:center'>" + data[i].DeliveryTo + "</td>";
                            row += "<td style='text-align:center'>" + data[i].ContactInfo + "</td>";
                            row += "<td style='text-align:right'>" + data[i].TotalAmount + "</td>";
                            row += "<td style='text-align:right'>" + data[i].ReceivedStatus + "</td>";
                      
                            if (data[i].IsApprove == 0)
                            {
                                row += "<td style='text-align:center'>Pending</td>";
                                row += "<td style='text-align:center'><a class='btn btn-sm btn-warning' type='button' onclick='ShowData(" + data[i].PurchaseOrderOtherID  + ")'>View</a></td>";
                                row += "<td style='text-align:center'><a class='btn btn-sm btn-warning' type='button' onclick='GoToDo(" + data[i].PurchaseOrderOtherID  + ")'>Edit</a></td>";

                                //row += "<td style='text-align:center'><button class='btn btn-sm btn-primary showBtn' onclick='LoadReportFinal(" + data[i].VoucherMasterId + ")'>Print</button></td>";
                            }

                            if (data[i].IsApprove == 1)
                            {
                                row += "<td style='text-align:center'>Approved</td>";
                                row += "<td style='text-align:center'><a class='btn btn-sm btn-warning' type='button' onclick='ShowData(" + data[i].PurchaseOrderOtherID + ")'>View</a></td>";

                                row += "<td style='text-align:center'><button class='btn btn-sm btn-primary showBtn' onclick='LoadReportFinal(" + data[i].PurchaseOrderOtherID + ")'>Print</button></td>";
                            }


                            //  row += "<td style='text-align:center'>" + ToJavaScriptDate(data[i].VoucherDate) + "</td>";
                            //row += "<td style='text-align:center'>" + ToJavaScriptDate(data[i].EntryDate) + "</td>";



                            row += "</tr>";
                            count = count + 1;

                        }
                        $("#manuallist").html(row);
                    }
                }
            });
        }


        function GoToDo(soId) {
            window.location = "@Url.Action("Create", "PurchaseOrderOther")" + "?PurchaseId=" + soId;
        }


        function SoDelete(soId) {

            swal({
                title: "Are you sure?",
                text: "",
                type: "success",
                showCancelButton: true,
                cancelButtonClass: 'btn-secondary waves-effect',
                confirmButtonClass: 'btn-success waves-effect waves-light',
                confirmButtonText: 'Yes!',
                closeOnConfirm: false

            }, function () {
                $('.confirm').prop("disabled", true);
                $('.cancel').prop("disabled", true);

                var urlpath = '@Url.Action("SODelete", "SalesOrderProcess")';
                $.ajax({
                    url: urlpath,
                    data: { soId: soId },
                    dataType: 'json',
                    type: "Get",

                    async: false,
                    success: function (data) {

                        if (data.isSuccess) {
                            window.location.href = '@Url.Action("SalesOrderList", "SalesOrderProcess")';
                        }
                    }
                });

            });

        }



        function ShowData(id) {
            $('#viewModal').modal();


            ViewOrder(id);
            $("#eid").val(id);
            LoadCompany('ddlCompany');
            $("#ddlCompany").val("7");
            LoadSupplier('ddlSupplier');
            LoadReceiveWarehouse();
            GetIOUGL();
            LoadCurrency();
            $("#ddlCurrency").val("1");
            GetPurchaseOrderOtherMaster(id);
        }

        function ViewOrder(id) {
            var urlpath = '@Url.Action("ViewPurchaseOrder", "PurchaseOrderOther")';
            $.ajax({
                url: urlpath,

                dataType: 'html',
                data: {id:id},
                type: "Get",

                async: false,
                success: function (data) {

                    $('#containerDetails').html(data);

                }
            });
        }


        function LoadReportFinal(id) {
            var urlpath = '@Url.Action("PurchaseOrderOtherReports", "Report")';


            var reportValue = "PurchaseOrderOther";

            var POMasterId = id;


            var jsonData = {};


            jsonData["ReportValue"] = reportValue;
            jsonData["POMasterId"] = POMasterId;



            debugger;
            $.ajax({
                url: urlpath,
                data: jsonData,
                dataType: 'json',
                type: "Get",
                success: function (data) {
                    if (data.isSuccess) {



                        //OpenPopUp('BasicReportViewer.aspx');
                        window.open("../CrystalViewer/CrystalViewer.aspx", "_blank", "WIDTH=1024,HEIGHT=768,scrollbars=no, menubar=no,resizable=yes,directories=no,location=no");
                    }
                }
            });
        }
    </script>
<script>

        function GetTermsAndConditionDefault() {

            var urlpath = '@Url.Action("GetTermsAndConditionDefault", "PurchaseOrderOther")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {
                    //$('#txtTermsAndConditionId').val(data.TermsAndConditionId);
                    $('#txtaTermsOfDelivery').val(data.TermsOfDelivery);
                    $('#txtaTermsOfPackaging').val(data.TermsOfPackaging);
                    $('#txtaTermsOfPayments').val(data.TermsOfPayments);
                    $('#txtaTermsOfBilling').val(data.TermsOfBilling_Doc);
                    $('#txtaOtherTerms').val(data.OtherTerms);
                }

            });
        }

        function BankWishEffect() {
            debugger;
            if ($('#bankRadio').is(':checked')) {
                $("#ddlBank").prop("disabled", true);
                $("#ddlBranch").prop("disabled", true);
                $("#txtChequeNo").prop("disabled", false);
                $("#txtChequeDate").prop("disabled", false);
                $("#txtRefNo").prop("disabled", true);
                $("#txtRefDate").prop("disabled", true);

                $("#txtRefNo").val('');
                $("#txtRefDate").val('');


                $.ajax({
                    url: "/Utility/GetGLBankAccounts",
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    type: "Get",
                    data: {},
                    async: false,
                    success: function (data) {

                        $('#ddlFromAccount').empty();
                        $('#ddlFromAccount').append("<option value='0'>--Select From Account--</option>");

                        for (var i = 0; i < data.length; i++) {

                            $('#ddlFromAccount').append($("<option></option>").val(data[i].CALayerSevenId).html(data[i].AccountNo));
                        }
                    }
                });
            }
        }

        function CashWishEffect() {
            debugger;
            if ($('#cashRadio').is(':checked')) {
                $("#ddlBank").prop("disabled", true);
                $("#ddlBranch").prop("disabled", true);
                $("#txtChequeNo").prop("disabled", true);
                $("#txtChequeDate").prop("disabled", true);
                $("#txtRefNo").prop("disabled", false);
                $("#txtRefDate").prop("disabled", false);

                $("#ddlBank").val(0);
                $("#ddlBranch").val(0);
                $("#txtChequeNo").val('');
                $("#txtChequeDate").val('');


                $.ajax({
                    url: "/Utility/GetGLCashAccounts",
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    type: "Get",
                    data: {},
                    async: false,
                    success: function (data) {
                        $('#ddlFromAccount').empty();
                        $('#ddlFromAccount').append("<option value='0'>--Select From Account--</option>");
                        for (var i = 0; i < data.length; i++) {
                            $('#ddlFromAccount').append($("<option></option>").val(data[i].CALayerSevenId).html(data[i].AccountName));
                        }
                    }
                });
            }
        }

        function LoadBankBranchInfo() {
            var CALayerSevenId = $("#ddlFromAccount").val();
            var urlpath = '@Url.Action("GetBankBranch", "DebitVoucher")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'json',
                data: { CALayerSevenId: CALayerSevenId },
                async: false,
                success: function (data) {
                    debugger;
                    if ($('#bankRadio').is(':checked')) {
                        $('#ddlBank').val(data.BankId);
                        LoadBankBranch('ddlBranch', data.BankId);
                        $('#ddlBranch').val(data.BranchId);
                    } else {
                        $('#ddlBank').val(0);
                        $('#ddlBranch').val(0);
                    }

                }
            });

        }


        function LoadBusinessUnit() {
            var companyId = $("#ddlCompany").val();
            $.ajax({
                url: "/Utility/LoadBusinessUnit",
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",
                data: { companyId: companyId },
                async: false,
                success: function (data) {

                    $('#ddlBusinessUnit').empty();
                    $('#ddlBusinessUnit').append("<option value='0'>--Select Business Unit--</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#ddlBusinessUnit').append($("<option></option>").val(data[i].BUId).html(data[i].Name));
                    }
                }
            });
        }
        function LoadFinancialYear() {
            $.ajax({
                url: "/Utility/GetFinancialYear",
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {

                    $('#ddlFiscalYear').empty();
                    //$('#ddlFiscalYear').append("<option value='0'>--Select Business Unit--</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#ddlFiscalYear').append($("<option></option>").val(data[i].FinancialYearId).html(data[i].FYear));
                    }
                }
            });
        }
        function LoadCurrency() {
            $.ajax({
                url: "/Utility/GetCurrency",
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {

                    $('#ddlCurrency').empty();
                    $('#ddlCurrency').append("<option value='0'>--Select Currency--</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#ddlCurrency').append($("<option></option>").val(data[i].CurrencyId).html(data[i].CurrencyCode));
                    }
                }
            });
        }

        function GetPurchaseOrderOtherMaster(id) {

            var urlpath = '@Url.Action("GetPurchaseOrderOtherByMasterId", "PurchaseOrderOther")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { id: id },
                async: false,
                success: function (data) {
                    $('#purchaseOrderNo').html(data.PurchaseOrderNo);
                    debugger;
                    $("#ddlCompany").val(data.CompanyId).trigger('change');
                    $("#ddlCompany").prop("disabled", true);
                    $("#ddlOrderType").val(data.OrderType).trigger('change');
                    $("#ddlOrderType").prop("disabled", true);
                    $('#txtOrderDate').val(ToJavaScriptDate(data.OrderDate));
                    $("#txtOrderDate").prop("disabled", true);
                    $('#txtDeliveryDate').val(ToJavaScriptDate(data.ExpectedDeliveryDate));
                    $("#txtDeliveryDate").prop("disabled", true);
                    //LoadSupplier('ddlSupplier');
                    $("#ddlSupplier").val(data.SupplierID).trigger('change');
                    $("#ddlSupplier").prop("disabled", true);
                    $("#ddlReceiveWarehouse").val(data.DelWareHouseID).trigger('change');
                    $("#ddlReceiveWarehouse").prop("disabled", true);
                    $('#txtDeliveryTo').val(data.DeliveryTo);
                    $('#txtContactInfo').val(data.ContactInfo);
                    $('#txtSupplierReference').val(data.SupplierRef);
                    $('#txtAdjustment').val(data.Adjustment);
                    $('#txtAdvance').val(data.Advance);
                    $("#txtAdvance").prop("disabled", true);
                    $('#ddlIOUHead').val(data.IOUHead).trigger('change');
                    $("#ddlCurrency").val(data.CurrencyId).trigger('change');
                    $("#ddlCurrency").prop("disabled", true);
                    $('#txtCurrencyRate').val(data.ConversionRate);
                    $("#txtCurrencyRate").prop("disabled", true);
                    $('#txtComments').val(data.Comments);
                    $("#txtComments").prop("disabled", true);

                    if (data.AccountType == 1)
                    {
                        $('#bankRadio').prop('checked', true);
                    }
                    if (data.AccountType == 2) {
                        $('#cashRadio').prop('checked', true);
                    }
                    $("#bankRadio").prop("disabled", true);
                    $("#cashRadio").prop("disabled", true);

                    $("#ddlFromAccount").prop("disabled", true);

                    LoadBankName('ddlBank');
                    $('#ddlBank').val(data.BankId);
                    $("#ddlBank").prop("disabled", true);
                    LoadBankBranch('ddlBranch', data.BankId);
                    $('#ddlBranch').val(data.BranchId);
                    $("#ddlBranch").prop("disabled", true);
                    $('#txtChequeNo').val(data.ChequeNo);
                    if (data.ChequeDate != "" && data.ChequeDate != null)
                    {
                        $('#txtChequeDate').val(ToJavaScriptDate(data.ChequeDate));
                    }

                    $('#txtRefNo').val(data.RefNo);
                    if (data.RefDate != "" && data.RefDate != null)
                    {
                        $('#txtRefDate').val(ToJavaScriptDate(data.RefDate));
                    }

                    $('#lblSubTotal').html(data.TotalAmount);
                    var adv=isNaN(parseFloat($('#txtAdvance').val())) ? 0 : parseFloat($('#txtAdvance').val());
                    $('#lblTotalAmount').html(data.TotalAmount - adv);
                    BankWishEffect();
                    CashWishEffect();
                    $('#txtaSpecialInstruction').val(data.SpecialInstruction);
                    $("#txtaSpecialInstruction").prop("disabled", true);
                    $('#ddlFromAccount').val(data.FromAccount).trigger('change');
                    debugger;
                    //GetProducts();
                    //var typeid = $("#ddlCustomerType").val();


                    for (var i = 0; i < data.POOtherDetails.length; i++) {
                        debugger;
                        var tr = $('#debitVoucher tbody tr').length + 1;
                        AddRow();
                        $("#itemId_" + tr).val(data.POOtherDetails[i].ItemId).trigger('change');
                        $('#itemId_' + tr).prop("disabled", true);
                        //$('#itemName_' + tr).val(data.POOtherDetails[i].ItemDescription);
                        //$('#itemName_' + tr).prop("disabled", true);
                        $('#qty_' + tr).val(data.POOtherDetails[i].PurchaseQty);
                        $('#qty_' + tr).prop("disabled", true);
                        $("#unit_" + tr).val(data.POOtherDetails[i].UOMId).trigger('change');
                        $('#unit_' + tr).prop("disabled", true);
                        $('#rate_' + tr).val(data.POOtherDetails[i].UnitPrice);
                        $('#rate_' + tr).prop("disabled", true);
                        $('#amount_' + tr).val(data.POOtherDetails[i].TotalPrice.toFixed(2));
                        $('#amount_' + tr).prop("disabled", true);
                        $('#details_' + tr).val(data.POOtherDetails[i].PurchaseOrderDetailID);

                        $('#btnAdd_' + tr).hide();
                        $('#btnRemove_' + tr).hide();
                    }


                    $('#txtTermsAndConditionId').val(data.TermsAndconditions.TermsAndConditionId);
                    $('#txtaTermsOfDelivery').val(data.TermsAndconditions.TermsOfDelivery);
                    $("#txtaTermsOfDelivery").prop("disabled", true);
                    $('#txtaTermsOfPackaging').val(data.TermsAndconditions.TermsOfPackaging);
                    $("#txtaTermsOfPackaging").prop("disabled", true);
                    $('#txtaTermsOfPayments').val(data.TermsAndconditions.TermsOfPayments);
                    $("#txtaTermsOfPayments").prop("disabled", true);
                    $('#txtaTermsOfBilling').val(data.TermsAndconditions.TermsOfBilling_Doc);
                    $("#txtaTermsOfBilling").prop("disabled", true);
                    $('#txtaOtherTerms').val(data.TermsAndconditions.OtherTerms);
                    $("#txtaOtherTerms").prop("disabled", true);
                    //$('#txtaSpecialInstruction').val(data.TermsAndconditions.SpecialInstruction);

                }
            });
        }







        function SavePurchaseOrderOther() {

            if (SaveValidation() == true) {
                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SavePOOtherFinal();

                });
            }
        }

        function SavePOOtherFinal() {
            debugger;
            var jsonData = {};

            jsonData["PurchaseOrderOtherID"] = $('#purchaseId').val();
            jsonData["OrderType"] = $('#ddlOrderType').val();
            jsonData["OrderDate"] = $('#txtOrderDate').val();
            jsonData["SupplierID"] = $('#ddlSupplier').val();
            jsonData["DelWareHouseID"] = $('#ddlReceiveWarehouse').val();
            jsonData["DeliveryTo"] = $('#txtDeliveryTo').val();
            jsonData["ContactInfo"] = $('#txtContactInfo').val();

            jsonData["SupplierRef"] = $('#txtSupplierReference').val();
            jsonData["Adjustment"] = $('#txtAdjustment').val();
            jsonData["IOUHead"] = $('#ddlIOUHead').val();
            jsonData["Advance"] = $('#txtAdvance').val();

            //var voucherType = 0;
            //if ($('#bankRadio').is(':checked')) {
            //    voucherType = 3;
            //}
            //if ($('#cashRadio').is(':checked')) {
            //    voucherType = 4;
            //}
            //jsonData["VoucherType"] = voucherType;

            jsonData["FromAccount"] =  $('#ddlFromAccount').val();
            jsonData["CurrencyId"] = $('#ddlCurrency').val();
            jsonData["ConversionRate"] = $('#txtCurrencyRate').val();

            jsonData["BankId"] = $('#ddlBank').val();
            jsonData["BranchId"] = $('#ddlBranch').val();
            jsonData["ChequeNo"] = $('#txtChequeNo').val();
            jsonData["ChequeDate"] = $('#txtChequeDate').val();

            jsonData["RefNo"] = $('#txtRefNo').val();
            jsonData["RefDate"] = $('#txtRefDate').val();

            jsonData["IsApprove"] = false;
            jsonData["TotalQty"] = $('#txtTotalQty').val();
            jsonData["TotalAmount"] = parseFloat($('#lblSubTotal').html());
            jsonData["eflag"] = $('#eflag').val();
            jsonData["SpecialInstruction"] = $('#txtaSpecialInstruction').val().trim();




            var jsonObjs = [];

            $('#debitVoucher tbody tr').each(function () {

                var theObj = {};
                var idr = $(this).attr('id');
                var id = idr.substring(3);

                var detailsId = isNaN($('#details_' + id).val()) ? 0 : $('#details_' + id).val();

                var itemId = isNaN(parseFloat($('#itemId_' + id).val())) ? 0 : parseFloat($('#itemId_' + id).val());
                var qty = isNaN(parseFloat($('#qty_' + id).val())) ? 0 : parseFloat($('#qty_' + id).val());
                var unit = isNaN(parseFloat($('#unit_' + id).val())) ? 0 : parseFloat($('#unit_' + id).val());
                var rate = isNaN(parseFloat($('#rate_' + id).val())) ? 0 : parseFloat($('#rate_' + id).val());
                var amount = isNaN(parseFloat($('#amount_' + id).val())) ? 0 : parseFloat($('#amount_' + id).val());
                debugger;

                theObj["PurchaseOrderDetailID"] = detailsId;
                theObj["ItemId"] = itemId;
                theObj["PurchaseQty"] = qty;
                theObj["UOMId"] = unit;
                theObj["UnitPrice"] = rate;
                theObj["TotalPrice"] = amount;
                theObj["eflag"] = $('#eflag').val();

                jsonObjs.push(theObj);

            });

            if (isNaN(parseInt($('#purchaseId').val())) ? 0 : parseInt($('#purchaseId').val()) > 0) {
                for (var ind = 0; ind < DeleteItemDetails.length; ind++) {
                    jsonObjs.push(DeleteItemDetails[ind]);
                }
            }
            debugger;

            jsonData["POOtherDetails"] = jsonObjs;

            var tremsObj = {};

            tremsObj["TermsAndConditionId"] = isNaN(parseInt($('#txtTermsAndConditionId').val())) ? 0 : parseInt($('#txtTermsAndConditionId').val())
            tremsObj["TermsOfDelivery"] = $('#txtaTermsOfDelivery').val().trim();
            tremsObj["TermsOfPackaging"] = $('#txtaTermsOfPackaging').val().trim();
            tremsObj["TermsOfPayments"] = $('#txtaTermsOfPayments').val().trim();
            tremsObj["TermsOfBilling_Doc"] = $('#txtaTermsOfBilling').val().trim();
            tremsObj["OtherTerms"] = $('#txtaOtherTerms').val().trim();
            //tremsObj["SpecialInstruction"] = $('#txtaSpecialInstruction').val().trim();

            jsonData["TermsAndconditions"] = tremsObj;


            var urlpath = '@Url.Action("SavePurchaseOrderOther", "PurchaseOrderOther")';
            $.ajax({
                contentType: "application/json",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "POST"
            })
                .success(function (result) {

                    if (result.pk > 0) {
                        swal({
                            title: " Saved Successfull",
                            text: '',
                            type: "success",
                            showCancelButton: false,
                            cancelButtonClass: 'btn-secondary waves-effect',
                            confirmButtonClass: 'btn-success waves-effect waves-light',
                            confirmButtonText: 'Yes!',
                            closeOnConfirm: false
                        }, function () {
                            var eflag = $('#eflag').val();
                            if (eflag == "ed") {
                                window.location.href = '@Url.Action("Index", "PurchaseOrderOther")';
                            } else {
                                window.location.href = '@Url.Action("PurchaseOrderOtherApprovalList", "PurchaseOrderOther")';
                            }


                        });


                    }
                });


        }

        function SaveValidation() {


            var isValid = true;
            var message = "Some Values Required";
            if ($('#ddlOrderType').val() == 0 || $('#ddlOrderType').val() == '') {
                ValidationColorChangeNew("ddlOrderType", "divOrderType", "Order Type Required", true);
                isValid = false;
            }
            if ($('#txtOrderDate').val() == '' || $('#txtOrderDate').val() == null) {
                ValidationColorChangeNew("txtOrderDate", "divOrderDate", "Order Date Required", false);
                isValid = false;
            }
            if ($('#ddlSupplier').val() == 0 || $('#ddlSupplier').val() == '') {
                ValidationColorChangeNew("ddlSupplier", "divSupplier", "Supplier Required", true);
                isValid = false;
            }
            if ($('#ddlReceiveWarehouse').val() == 0 || $('#ddlReceiveWarehouse').val() == '') {
                ValidationColorChangeNew("ddlReceiveWarehouse", "divReceiveWarehouse", "Receive Warehouse Required", true);
                isValid = false;
            }


            if ($('#txtDeliveryTo').val() == '' || $('#txtDeliveryTo').val() == null) {
                ValidationColorChangeNew("txtDeliveryTo", "divDeliveryTo", "Delivery To Required", false);
                isValid = false;
            }
            if ($('#txtContactInfo').val() == '' || $('#txtContactInfo').val() == null) {
                ValidationColorChangeNew("txtContactInfo", "divContactInfo", "Currency Rate Required", false);
                isValid = false;
            }



            if ($('#txtAdvance').val() > 0)
            {
                if ($('#ddlFromAccount').val() == 0 || $('#ddlFromAccount').val() == '') {
                    ValidationColorChangeNew("ddlFromAccount", "divFromAccount", "Account Required", false);
                    isValid = false;
                }

                if ($('#bankRadio').is(':checked')) {

                    if ($('#ddlBank').val() == 0 || $('#ddlBank').val() == '') {
                        ValidationColorChangeNew("ddlBank", "divBank", "Bank Required", false);
                        isValid = false;
                    }
                    if ($('#ddlBranch').val() == 0 || $('#ddlBranch').val() == '') {
                        ValidationColorChangeNew("ddlBranch", "divBranch", "Branch Required", false);
                        isValid = false;
                    }
                    if ($('#txtChequeNo').val() == '' || $('#txtChequeNo').val() == null) {
                        ValidationColorChangeNew("txtChequeNo", "divChequeNo", "Cheque No Required", false);
                        isValid = false;
                    }
                    if ($('#txtChequeDate').val() == '' || $('#txtChequeDate').val() == null) {
                        ValidationColorChangeNew("txtChequeDate", "divChequeDate", "Cheque Date Required", false);
                        isValid = false;
                    }
                }

                //if ($('#cashRadio').is(':checked')) {

                //    if ($('#txtRefNo').val() == '' || $('#txtRefNo').val() == null) {
                //        ValidationColorChangeNew("txtRefNo", "divRefNo", "Reference No Required", false);
                //        isValid = false;
                //    }
                //    if ($('#txtRefDate').val() == '' || $('#txtRefDate').val() == null) {
                //        ValidationColorChangeNew("txtRefDate", "divRefDate", "Reference Date Required", false);
                //        isValid = false;
                //    }

                //}
            }


            if ($('#txtaTermsOfDelivery').val().trim() == '' || $('#txtaTermsOfDelivery').val().trim() == null) {
                ValidationColorChangeNew("txtaTermsOfDelivery", "divTermsOfDelivery", "Terms Of Delivery Required", false);
                isValid = false;
            }

            if ($('#txtaTermsOfPackaging').val().trim() == '' || $('#txtaTermsOfPackaging').val().trim() == null) {
                ValidationColorChangeNew("txtaTermsOfPackaging", "divTermsOfPackaging", "Terms Of Packaging Required", false);
                isValid = false;
            }

            if ($('#txtaTermsOfPayments').val().trim() == '' || $('#txtaTermsOfPayments').val().trim() == null) {
                ValidationColorChangeNew("txtaTermsOfPayments", "divTermsOfPayments", "Terms Of Payments Required", false);
                isValid = false;
            }
            if ($('#txtaTermsOfBilling').val().trim() == '' || $('#txtaTermsOfBilling').val().trim() == null) {
                ValidationColorChangeNew("txtaTermsOfBilling", "divTermsOfBilling", "Terms Of Billing Required", false);
                isValid = false;
            }



            if ($('#debitVoucher tbody tr').length == 0 || $('#debitVoucher tbody tr').length == '') {
                isValid = false;
                message = "GL Required";
            }


            $('#debitVoucher tbody tr').each(function () {


                var idr = $(this).attr('id');
                var id = idr.substring(3);

                var itemId = isNaN(parseFloat($('#itemId_' + id).val())) ? 0 : parseFloat($('#itemId_' + id).val());
                var _qty = isNaN(parseFloat($('#qty_' + id).val())) ? 0 : parseFloat($('#qty_' + id).val());
                var _unit = $('#unit_' + id).val()
                var _rate = isNaN(parseFloat($('#rate_' + id).val())) ? 0 : parseFloat($('#rate_' + id).val());

                if (itemId === 0) {
                        isValid = false;
                        message = "Please select Item";
                        $('#itemId_' + id).css('border-bottom', '2px solid red');
                        return;
                    }

                if (_qty === 0) {
                        isValid = false;
                        message = "Qty Cannot be 0 ";
                        $('#qty_' + id).css('border-bottom', '2px solid red');
                        return;
                }
                if (_unit === 0) {
                    isValid = false;
                    message = "Please select Unit";
                    $('#unit_' + id).css('border-bottom', '2px solid red');
                    return;
                }

                if (_rate === 0) {
                    isValid = false;
                    message = "Rate Cannot be 0 ";
                    $('#rate_' + id).css('border-bottom', '2px solid red');
                    return;
                }


            });
            //var paymentAmount = isNaN(parseFloat($('#txtPaymentAmount').val())) ? 0 : parseFloat($('#txtPaymentAmount').val());
            //var discount = isNaN(parseFloat($('#txtDiscount').val())) ? 0 : parseFloat($('#txtDiscount').val());
            //var tax = isNaN(parseFloat($('#txtTax').val())) ? 0 : parseFloat($('#txtTax').val());
            //var totalCr = paymentAmount + discount + tax;
            //var totalDr = parseFloat($('#lblTotalAmountAmount').html());
            //var differenc = totalCr - totalDr;
            //if (differenc > 0 || differenc < 0)
            //{
            //    isValid = false;
            //    message = " Debit and Credit value difference should be 0.";
            //}

            if (isValid == false) {
                ShowMessage(message);

            }
            return isValid;


        }


        function AdvancedValue()
        {
            var grandTotal = 0;
            var proCout = 0;
            $('#debitVoucher tbody tr').each(function () {


                var idr = $(this).attr('id');
                var id = idr.substring(3);

                var itemId = isNaN(parseFloat($('#itemId_' + id).val())) ? 0 : parseFloat($('#itemId_' + id).val());
                var amount = isNaN(parseFloat($('#amount_' + id).val())) ? 0 : parseFloat($('#amount_' + id).val());

                grandTotal += amount;
                if (itemId > 0) {
                    proCout = proCout + 1;
                }

            });
            $('#lblSubTotal').html(grandTotal.toFixed(2));
            var advanced = isNaN(parseFloat($('#txtAdvance').val())) ? 0 : parseFloat($('#txtAdvance').val());
            var TAmount = 0;
            TAmount = grandTotal - advanced;
            $('#lblTotalAmount').html(TAmount.toFixed(2));
        }

        function CalculateLineTotal(slId)
        {
            var lineAmount = 0;
            var qty = isNaN(parseFloat($('#qty_' + slId).val())) ? 0 : parseFloat($('#qty_' + slId).val());
            var rate = isNaN(parseFloat($('#rate_' + slId).val())) ? 0 : parseFloat($('#rate_' + slId).val());
            lineAmount = qty * rate;
            $("#amount_" + slId).val(lineAmount);


            var grandQty = 0;
            var grandTotal = 0;
            var proCout = 0;
            $('#debitVoucher tbody tr').each(function () {


                var idr = $(this).attr('id');
                var id = idr.substring(3);

                var itemId = isNaN(parseFloat($('#itemId_' + id).val())) ? 0 : parseFloat($('#itemId_' + id).val());
                var _qty = isNaN(parseFloat($('#qty_' + id).val())) ? 0 : parseFloat($('#qty_' + id).val());
                var amount = isNaN(parseFloat($('#amount_' + id).val())) ? 0 : parseFloat($('#amount_' + id).val());

                grandTotal += amount;
                grandQty += _qty;
                if (itemId > 0) {
                    proCout = proCout + 1;
                }

            });

            $('#txtTotalQty').val(grandQty.toFixed(2));
            $('#lblSubTotal').html(grandTotal.toFixed(2));
            var advanced = isNaN(parseFloat($('#txtAdvance').val())) ? 0 : parseFloat($('#txtAdvance').val());
            var TAmount = 0;
            TAmount = grandTotal - advanced;
            $('#lblTotalAmount').html(TAmount.toFixed(2));

        }

        function GetItemDetails(slId) {
            debugger;
            var itemId = $('#itemId_' + slId).val();

            var urlpath = '@Url.Action("GetItemDetails", "PurchaseOrderOther")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'json',
                data: { itemId: itemId },
                async: false,
                success: function(data) {
                    debugger;
                    $("#itemName_" + slId).val('');
                    $("#itemName_" + slId).val(data.ItemName);
                    $("#unit_" + slId).val(data.UOMId).trigger('change');
                }
            });
        }

        function RemoveRow(id) {
            debugger;
            var trLength = $('#debitVoucher tbody tr:visible').length;
            var purchaseId = $('#purchaseId').val();
            if (trLength == 1 && purchaseId == 0) {
                $('#itemId_' + id).val(0).trigger('change');
                $('#itemName_' + id).val('');
                $('#qty_' + id).val(0);
                $('#unit_' + id).val(0).trigger('change');
                $('#rate_' + id).val(0);
                $('#amount_' + id).val(0);
                $('#txtAdvance').val(0);
                AdvancedValue();
            }

            if (trLength > 1) {

                var detailsId = $('#details_' + id).val();
                if (detailsId > 0) {
                    var itemId = isNaN(parseFloat($('#itemId_' + id).val())) ? 0 : parseFloat($('#itemId_' + id).val());
                    var amount = isNaN(parseFloat($('#amount_' + id).val())) ? 0 : parseFloat($('#amount_' + id).val());
                    var remarks = $('#remarks_' + id).val();
                    var drcr = $('#DrCr_' + id).val();

                        var delObj = {};
                        delObj["PurchaseOrderDetailID"] = detailsId;
                        delObj["PurchaseOrderID"] = purchaseId;
                        delObj["ItemId"] = itemId;
                        delObj["IsDelete"] = true;
                        delObj["eflag"] = $('#eflag').val();
                        DeleteItemDetails.push(delObj);

                }
                $('#tr_' + id).remove();
                SerialTable();
                AdvancedValue();
            } else {
                return;
            }

        }

        function AddRow() {

            var tr = $('#debitVoucher tbody tr').length + 1;
            var values = $("#debitVoucher tbody tr")
                .map(function () { return parseInt($(this).attr('id').substring(3)); }).get();
            var index = values.indexOf(tr);
            if (index >= 0) {
                tr = Math.max.apply(Math, values) + 1;
            }
            var urlpath = '@Url.Action("AddRowForPurchaseView", "PurchaseOrderOther")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'html',
                data: { tr: tr },
                async: false,
                success: function (data) {

                    $('#debitVoucher tbody').append(data);
                    LoadItemInRow("itemId_" + tr);
                    LoadUOMInRow("unit_" + tr);


                }
            });
            $('#itemId_' + tr).select2();
            $('#unit_' + tr).select2();
            SerialTable();
            debugger;
            var eflag = $('#eflag').val();
            if (eflag == "ed") {

                $('.aHide').hide();
            } else {

                $('.aHide').show();


            }
            //CalculateAll();
        }

        function SerialTable() {
            $('#debitVoucher tbody tr').each(function (index, element) {
                var idr = $(this).attr('id');
                var id = idr.substring(3);
                $('#ts_' + id).html(index + 1);


            });
        }

        function LoadItemInRow(elementId) {

            $('#' + elementId + '').append("<option value='0'>--Select Iten Code--</option>");
            for (var i = 0; i < ItemList.length; i++) {

                $('#' + elementId + '').append($("<option></option>").val(ItemList[i].ItemId).html(ItemList[i].ItemCode));
            }
        }

        function LoadUOMInRow(elementId) {

            $('#' + elementId + '').append("<option value='0'>--Unit--</option>");
            for (var i = 0; i < UOMList.length; i++) {

                $('#' + elementId + '').append($("<option></option>").val(UOMList[i].UOMId).html(UOMList[i].UOMName));
            }
        }

        function GetItem() {
            var urlpath = '@Url.Action("GetItem", "PurchaseOrderOther")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: {},
                async: false,
                success: function (data) {
                    ItemList = data;
                }
            });
        }
        function GetUOM() {
            var urlpath = '@Url.Action("LoadUOM", "PurchaseOrderOther")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: {},
                async: false,
                success: function (data) {
                    UOMList = data;
                }
            });
        }




        function GetIOUGL() {


            var urlpath = '@Url.Action("GetGLForJournal", "Utility")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: {},
                async: false,
                success: function(data) {

                    $('#ddlIOUHead ').empty();
                    $('#ddlIOUHead').append("<option value='0'>--Select IOU Head--</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#ddlIOUHead ').append($("<option></option>").val(data[i].CALayerSevenId).html(data[i].CALayerSevenName));
                    }
                }
            });
        }


        function LoadSupplier(elementId) {
            var urlpath = '@Url.Action("LoadSupplier", "PurchaseOrderOther")';
            $.ajax({
                url: urlpath,
                //contentType: "application/json; charset=utf-8",
                //dataType: 'json',
                type: "Get",

                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Supplier--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].SupplierID).html(data[i].SupplierName));
                    }
                }
            });
        }

        function LoadReceiveWarehouse() {
            var locid = 0;
            var wareHouseTypeid = 7;
            var urlpath = '@Url.Action("LoadWareHouse", "Utility")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { locid: locid, wareHouseTypeid: wareHouseTypeid },
                async: false,
                success: function (data) {

                    $('#ddlReceiveWarehouse ').empty();
                    $('#ddlReceiveWarehouse').append("<option value='0'>--Select Receive Warehouse --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#ddlReceiveWarehouse ').append($("<option></option>").val(data[i].WareHouseId).html(data[i].WareHouseName));
                    }
                }
            });
        }
</script>
}


