﻿
@using CrystalDecisions.ReportAppServer.ReportDefModel
@model IEnumerable<IGFoodProject.Models.PurchaseOrderOtherMaster>

@{
    ViewBag.Title = "Purchase Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #manuallist {
        padding: 10px;
    }

    .form-control {
        height: calc(1.7rem + 2px);
    }
</style>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">

                        <div class="row">

                            <div class="col-md-6">
                                <h3>Print Multiple Purchase Order</h3>
                            </div>
                            <div class="col-md-6 text-right ">
                                @*<a class="btn btn-outline-warning" href="@Url.Action("Create", "PurchaseOrderOther", new {id = 0})">

                                    <span class="fa fa-plus"></span> Go To New Purchase Order Entry

                                </a>*@
                            </div>

                        </div>



                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group" id="divSupplier">
                                    <label for="ddlSupplier">Supplier</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlSupplier"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divWarehouse">
                                    <label for="ddlReceiveWarehouse">Receive Warehouse</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlReceiveWarehouse"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divFromDate">
                                    <label for="txtFromDate">From Date</label>
                                    <input type="text" id="txtFromDate" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divToDate">
                                    <label for="txtToDate">To Date</label>
                                    <input type="text" id="txtToDate" class="form-control" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button class='btn btn-info' style="margin-left: 27px;" id="mprint" type='button' onclick="PrintMultipleInvoice()">Print Multiple PO</button>&nbsp;
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-2">

                            <button style="margin-right: 5px" class="btn btn-primary" onclick="ShowReport()">Search PO</button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body">
                                <table id="table1" class="table table-bordered table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th><input type='checkbox' class='iradio_minimal-blue' id='checkAll' onclick='SelectAllCheckboxFunc()' /></th>
                                            <th>#</th>
                                            <th>PO No</th>
                                            <th colspan="2" class="text-center">Order Date</th>
                                            <th>Order Type</th>
                                            <th>Expected Delivery Date</th>
                                            <th>Supplier</th>

                                            <th>R. Warehouse</th>
                                            <th>Receive Address</th>
                                            <th>Contact</th>
                                            <th>Amount</th>
                                            <th>Status</th>
                                            <th>Action</th>

                                        </tr>
                                    </thead>
                                    <tbody id="manuallist">
                                        @{ int count = 1;}
                                        @foreach (var item in Model)
                                        {
                                            <tr class="rowTr" id="@item.PurchaseOrderOtherID">
                                                <td><input type='checkbox' class='iradio_minimal-blue checkp' id='check_@count' onclick='Checkp(@count)' /></td>
                                                <td>@count</td>
                                                <td>@item.PurchaseOrderNo</td>
                                                <td>@Convert.ToDateTime(item.OrderDate).ToString("dd-MMM-yyyy")</td>
                                                <td>
                                                    @item.CreateDate.ToString("h:mm:ss tt")
                                                </td>
                                                <td>@item.OrderTypeName</td>
                                                <td>@Convert.ToDateTime(item.ExpectedDeliveryDate).ToString("dd-MMM-yyyy")</td>
                                                <td>@item.SupplierName</td>
                                                <td>@item.WareHouseName</td>

                                                <td>@item.DeliveryTo</td>
                                                <td>@item.ContactInfo</td>
                                                <td>@item.TotalAmount.ToString("##,###,0.00")</td>
                                                <td>Approve</td>
                                                <td>
                                                    <button class="btn btn-sm btn-primary showBtn" onclick="LoadReportFinal(@item.PurchaseOrderOtherID)">Print</button>
                                                </td>
                                                @*<td>
                                                        @Html.ActionLink("Approve", "Create", "PurchaseOrderOther", new { PurchaseId = item.PurchaseOrderOtherID, eflag = "ap" }, new { @class = "btn btn-sm btn-warning" })

                                                    </td>*@
                                                @*@if (item.IsApprove == false)
                                                    {
                                                        <td>Pending</td>
                                                            <td>
                                                                <button class="btn btn-sm btn-primary showBtn" onclick="ShowData(@item.PurchaseOrderOtherID)">View</button>


                                                            </td>
                                                            <td>
                                                                @Html.ActionLink("Edit", "Create", "PurchaseOrderOther", new { PurchaseId = item.PurchaseOrderOtherID, eflag = "ap" }, new { @class = "btn btn-sm btn-warning" })

                                                            </td>
                                                    }*@
                                                @*else if
                                                    (item.IsApprove == true)
                                                    {
                                                        <td>Approved</td>
                                                        <td>
                                                            <button class="btn btn-sm btn-primary showBtn" onclick="ShowData(@item.PurchaseOrderOtherID)">View</button>


                                                        </td>
                                                        <td>
                                                            <button class="btn btn-sm btn-primary showBtn" onclick="LoadReportFinal(@item.PurchaseOrderOtherID)">Print</button>
                                                        </td>
                                                    }*@
                                                @*else
                                                    {
                                                        <td>Rejected</td>
                                                        <td>
                                                            <button class="btn btn-sm btn-primary showBtn" onclick="ShowData(@item.SalesOrderProcessedMasterId)">View</button>
                                                            @Html.ActionLink("Edit", "Index", "SalesOrderProcess", new { soId = item.SalesOrderProcessedMasterId }, new { @class = "btn btn-sm btn-warning" })
                                                        </td>
                                                    }*@


                                            </tr>
                                            count++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>



                    </div>


                </div>

            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->

</section>

<div class="modal fadeInUp" id="viewModal" role="dialog">
    <div class="modal-dialog modal-lg" style="max-width: 100% !important">
        <div class="modal-content">
            <div class="modal-header">

            </div>
            <div class="modal-body" id="containerDetails">

            </div>
            <div class="modal-footer">
                <input type="text" style="display:none;" id="eid" />
                <button type="button" class="btn btn-danger" id="clsButton" data-dismiss="modal">Close</button><button type="button" class="btn btn-primary" id="clsEdit" onclick="GoToDo($('#eid').val())">Edit</button>
            </div>
        </div>
    </div>
</div>



@section Scripts
{
    <script type="text/javascript">


        $(document).ready(function () {
            LoadDate_P('#txtFromDate');
            LoadDate_C('#txtToDate');

            LoadSupplier('ddlSupplier');
            LoadReceiveWarehouse();
            //$("#mprint").hide();
        });
        function LoadSupplier(elementId) {
            var urlpath = '@Url.Action("LoadSupplier", "PurchaseOrderOther")';
            $.ajax({
                url: urlpath,
                //contentType: "application/json; charset=utf-8",
                //dataType: 'json',
                type: "Get",

                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Supplier--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].SupplierID).html(data[i].SupplierName));
                    }
                }
            });
        }

        function LoadReceiveWarehouse() {
            var locid = 0;
            var wareHouseTypeid = 7;
            var urlpath = '@Url.Action("LoadWareHouse", "Utility")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { locid: locid, wareHouseTypeid: wareHouseTypeid },
                async: false,
                success: function (data) {

                    $('#ddlReceiveWarehouse ').empty();
                    $('#ddlReceiveWarehouse').append("<option value='0'>--Select Receive Warehouse --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#ddlReceiveWarehouse ').append($("<option></option>").val(data[i].WareHouseId).html(data[i].WareHouseName));
                    }
                }
            });
        }



      function ShowReport() {
            debugger;
            var fromdate;
            var todate;
            var supplierId = '0';
            var rWarehouseId = '0';

            if ($('#txtFromDate').val() == "") {
                swal("Please input from order date");
                return;
            }
            else {
                fromdate = $('#txtFromDate').val();
            }
            if ($('#txtToDate').val() == "") {
                swal("Please input to order date");
                return;
            }
            else {
                todate = $('#txtToDate').val();
            }

            if ($('#ddlSupplier').val() == "0") {
                supplierId = '0';
            }
            else {
                supplierId = $('#ddlSupplier').val();
            }
            if ($('#ddlReceiveWarehouse').val() == "0") {
                rWarehouseId = '0';
            }
            else {
                rWarehouseId = $('#ddlReceiveWarehouse').val();
            }

            var urlpath = '@Url.Action("PurchaseOrderListForApproveData", "PurchaseOrderOther")';
            $.ajax({
                url: urlpath,
                dataType: 'html',
                type: "Get",
                data: { fromdate: fromdate, todate: todate, SupplierId: supplierId, DelWareHouseId: rWarehouseId },
                async: false,
                success: function (data) {

                    data = JSON.parse(data);
                    $("#manuallist").html("");
                    if (data.length > 0) {



                        var row = "";
                        var count = 1;
                        $("#manuallist").html("");

                        var count=1;
                        for (var i = 0; i < data.length; i++) {
                            row += "<tr class='rowTr' id="+ data[i].PurchaseOrderOtherID +">";
                            @*<td><input type='checkbox' class='iradio_minimal-blue checkp' id='check_@count' onclick='Checkp(@count)' /></td>*@
                            row += "<td style='text-align:center'><input type='checkbox' class='iradio_minimal-blue checkp' id='check_"+count+"' onclick='Checkp("+count+")' /></td>";
                            row += "<td style='text-align:center'>" + count + "</td>";
                            row += "<td style='text-align:center'>" + data[i].PurchaseOrderNo + "</td>";
                            row += "<td style='text-align:center'>" + ToJavaScriptDate(data[i].OrderDate) + "</td>";
                            row += "<td style='text-align:center'>" + moment((data[i].CreateDate)).format('LTS') + "</td>";
                            row += "<td style='text-align:center'>" + data[i].OrderTypeName + "</td>";
                            row += "<td style='text-align:center'>" + ToJavaScriptDate(data[i].ExpectedDeliveryDate) + "</td>";
                            row += "<td style='text-align:center'>" + data[i].SupplierName + "</td>";
                            row += "<td style='text-align:center'>" + data[i].WareHouseName + "</td>";

                            row += "<td style='text-align:center'>" + data[i].DeliveryTo + "</td>";
                            row += "<td style='text-align:center'>" + data[i].ContactInfo + "</td>";
                            row += "<td style='text-align:right'>" + data[i].TotalAmount + "</td>";
                            row += "<td style='text-align:center'>Approve</td>";
                            row += "<td style='text-align:center'><button class='btn btn-sm btn-primary showBtn' onclick='LoadReportFinal(" + data[i].PurchaseOrderOtherID + ")'>Print</button></td>";
                            row += "</tr>";
                            count = count + 1;

                        }
                        $("#manuallist").html(row);
                    }
                }
            });
        }


        function GoToDo(soId) {
            window.location = "@Url.Action("Create", "PurchaseOrderOther")" + "?PurchaseId=" + soId + "&eflag=" + "ap";
        }



        function LoadReportFinal(id) {
            var urlpath = '@Url.Action("PurchaseOrderOtherReports", "Report")';


            var reportValue = "PurchaseOrderOther";

            var POMasterId = id;


            var jsonData = {};


            jsonData["ReportValue"] = reportValue;
            jsonData["POMasterId"] = POMasterId;



            debugger;
            $.ajax({
                url: urlpath,
                data: jsonData,
                dataType: 'json',
                type: "Get",
                success: function (data) {
                    if (data.isSuccess) {



                        //OpenPopUp('BasicReportViewer.aspx');
                        window.open("../CrystalViewer/CrystalViewer.aspx", "_blank", "WIDTH=1024,HEIGHT=768,scrollbars=no, menubar=no,resizable=yes,directories=no,location=no");
                    }
                }
            });
        }


        function SelectAllCheckboxFunc() {
            if ($("#checkAll").is(":checked")) {
                $(".checkp").prop("checked", true);
            } else {
                $(".checkp").prop("checked", false);
            }
        }
        function Checkp(SLNO) {
            //uncheck "select all", if one of the listed checkbox item is unchecked
            var checkp = $("#check_" + SLNO).prop("checked");
            if (checkp == false) { //if this item is unchecked
                $("#checkAll").prop('checked', false); //change "select all" checked status to false
            }
            //check "select all" if all checkbox items are checked
            if ($('.checkp:checked').length == $('.checkp').length) {
                $("#checkAll").prop('checked', true);
            }
        }
        function PrintMultipleInvoice() {
            var DeliveryOrderID = "";
            var stringSoId = "";
            $('#table1 tr.rowTr').each(function (key, value) {

                soId = $(this).prop("id");
                if ($('#check_' + (parseInt(key) + 1)).is(":checked")) {
                    if (stringSoId != '')
                        stringSoId = stringSoId + "," + soId;
                    else {
                        stringSoId = soId;
                    }
                }
            });
            PrintInvoice(stringSoId);
        }
        function PrintInvoice(soId) {
            var urlpath = '@Url.Action("PurchaseOrderOtherReports", "Report")';
            var reportValue = "PurchaseOrderOtherMultiple";
            var jsonData = {};
                jsonData["ReportValue"] = reportValue;
                jsonData["PurchaseOrderMasterId"] = soId;

            $.ajax({
                url: urlpath,
                data: jsonData,
                dataType: 'json',
                type: "Get",
                success: function (data) {
                    if (data.isSuccess) {
                        //OpenPopUp('BasicReportViewer.aspx');
                        window.open("../CrystalViewer/CrystalViewer.aspx", "_blank", "WIDTH=1024,HEIGHT=768,scrollbars=no, menubar=no,resizable=yes,directories=no,location=no");
                    }
                }
            });
        }
    </script>

}


