﻿
@using System.Data
@model System.Data.DataTable
@{ int count = 0;}
<table id="productTable" border="1" class="table dataTable table-bordered table-striped table-hover">
    <thead>
        <tr style="background-color: aliceblue">
            <th></th>
            <th style="text-align: center">ID</th>
            <th style="text-align: center">Stock In Date</th>
            <th style="text-align: center">Stock In Qty</th>
            <th style="text-align: center">Stock In KG</th>
            <th style="text-align: center">Stock Out Qty</th>
            <th style="text-align: center">Stock Out KG</th>
            <th style="text-align: center">Rest Qty</th>
            <th style="text-align: center">Rest KG</th>
            <th style="text-align: center">Current Out Qty</th>
            <th style="text-align: center">Current Out KG</th>
        </tr>

    </thead>

    <tbody class="Traylist">

        @foreach (DataRow row in Model.Rows)
        {



            <tr>
                <td>
                    <input type="checkbox" id='check_@count' class="checkp" onclick='checkBoxEvent(@count);' />
                   
                </td>
                <td style="text-align: center">@row.ItemArray[0]<input hidden id="refStockInDetailsId_@count" class="form-control" value="@row.ItemArray[0]" /></td>
                <td style="text-align: center">@row.ItemArray[1]</td>
                <td style="text-align: center">@row.ItemArray[2]<input hidden id="stockQty_@count" class="form-control" value="@row.ItemArray[2]" /></td>
                <td style="text-align: center">@row.ItemArray[3]<input hidden id="stockKg_@count" class="form-control" value="@row.ItemArray[3]" /></td>
                <td style="text-align: center">@row.ItemArray[4]</td>
                <td style="text-align: center">@row.ItemArray[5]</td>
                <td style="text-align: center">@row.ItemArray[6]<input hidden id="restQty_@count" class="form-control" value="@row.ItemArray[6]" /></td>
                <td style="text-align: center">@row.ItemArray[7]<input hidden id="restKg_@count" class="form-control" value="@row.ItemArray[7]" /></td>
                <td style="text-align: center"><input id="stockOutQty_@count" class="form-control"  oninput="ValueCalculation(@count)" /> </td>
                <td style="text-align: center"><input id="stockOutKg_@count" class="form-control"/></td>
                @*oninput="ValueCalculation(@count)"*@
            </tr>
            count++;
        }
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td style="text-align: center"></td>
            <td style="text-align: center"></td>
            <td style="text-align: center"></td>
            <td style="text-align: center"></td>
            <td style="text-align: center"></td>
            <td style="text-align: center"></td>
            <td style="text-align: center"></td>
            <td style="text-align: center"><b>Total :</b></td>
            <td style="text-align: center" id="totalStockOutQty"></td>
            <td style="text-align: center" id="totalStockOutKg"></td>
        </tr>
    </tfoot>

</table>

