﻿
@{
    ViewBag.Title = "DirectStockOutEntry_LiveBird";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "LiveBirdDirectStockOutEntry";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">

                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="card-title"><span class="fa fa-list"></span>Live Bird Stock out adjustment</h3>
                            </div>
                            @*<div class="col-md-6 text-right">
                                    <a class="btn btn-outline-warning" href="@Url.Action("PickingList", "PickingProcess")"><span class="fa fa-list"></span>Picking Req List</a>
                                </div>*@
                        </div>
                    </div>
                    <div class="card-body">


                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group" id="divCompany">
                                        <label for="ddlCompany">Company<span class="text-danger"> *</span></label>
                                        <select class="form-control select2" style="width: 100%;" id="ddlCompany"></select>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group" id="divLocation">
                                        <label for="ddlLocation">Location<span class="text-danger"> *</span></label>
                                        <select class="form-control select2" style="width: 100%;" id="ddlLocation"></select>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group" id="divWareHouse">
                                        <label for="ddlWareHouse">Warehouse<span class="text-danger"> *</span></label>
                                        <select class="form-control select2" style="width: 100%;" id="ddlWareHouse"></select>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group" id="divAdjustmentDate">
                                        <label for="adjustmentDate">Stock Out Date<span class="text-danger"> *</span></label>
                                        <input type="text" class="form-control datepicker" style="width: 100%;" id="adjustmentDate" />
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group" id="divProduct">
                                        <label for="ddlProduct">Item<span class="text-danger"> *</span></label>
                                        <select class="form-control select2" id="ddlProduct" style="width: 100%;"></select>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group" id="divReason">
                                        <label for="reason">Stock Out Reason<span class="text-danger"> *</span></label>
                                        <input type="text" class="form-control" style="width: 100%;" id="reason" />
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="col-md-12" id="productList">

                        </div>
                    </div>

                    <div class="card-footer">
                        <button class="btn btn-primary float-right" onclick="StockOut()">Stock Out</button>
                    </div>
                </div>


            </div>
        </div>

    </div><!-- /.container-fluid -->
</section>

@section Scripts{

    <script>


    $(function () {

            LoadCompany('ddlCompany');
            $("#ddlCompany").val(7).trigger("change");
            LoadLocation('ddlLocation');
            $("#ddlLocation").val(4).trigger("change");
            LoadWareHouse('ddlWareHouse',$("#ddlLocation").val(),1);
            $("#ddlWareHouse").val(1).trigger("change");
            LoadDate_C('#stockoutDate');
            $('#ddlLocation').change(function(){
              LoadWareHouse('ddlWareHouse',$("#ddlLocation").val(),3);
            });

            LoadItemDescription();

            $('#ddlProduct').change(function() {
                Search();
            });

    });

    function LoadItemDescription() {

        $.ajax({
            url: "/Utility/LoadItemDescription",

            dataType: 'json',
            type: "Get",
            data: {},
            async: false,
            success: function (data) {

                $('#ddlProduct').append("<option value='0'>--Select Item--</option>");

                for (var i = 0; i < data.length; i++) {

                    $('#ddlProduct').append($("<option></option>").val(data[i].ItemId).html(data[i].ItemName));
                }

                
            }
        });
    }

  

          function Search() {




            var urlpath = '@Url.Action("GetProductStockDetailsbyStockInDate_LiveBird", "StockAdjustment")';

              $.ajax({
                  contentType: "application/json; charset=utf-8",
                  url: urlpath,
                  data: { productId: $('#ddlProduct').val() },
                dataType: 'html',
                type: "Get",
                success: function (data) {
                    $("#productList").html(data);


                }
            });
        }


         function StockOut()
        {
            if (Validation()) {

                var stockAdjustMaster = {};
                var stockAdjustDetailsList = [];


                stockAdjustMaster["WarehouseId"] = $('#ddlWareHouse').val();
                stockAdjustMaster["ProductId"] = $('#ddlProduct').val();
                stockAdjustMaster["AdjustmentDate"] =  $('#adjustmentDate').val();
                stockAdjustMaster["Reason"] = $('#reason').val();


                debugger;
             $('#productTable tbody tr').each(function (key, value)
             {
                       debugger;
                        var stockAdjustDetails = {};
                        if ($('#check_' + key).is(":checked")) {

                            if ($('#stockOutQty_' +key).val() > 0 || $('#stockOutKg_' +key).val() > 0) {

                                stockAdjustDetails["RefStockInDetailsId"] = $('#refStockInDetailsId_' + key).val();
                                //  stockAdjustDetails["ProductId"] = $('#product_' + soId + '_' + i).val();
                                stockAdjustDetails["StockOutQty"] = $('#stockOutQty_' + key).val();
                                stockAdjustDetails["StockOutKg"] = $('#stockOutKg_' + key).val();

                                stockAdjustDetailsList.push(stockAdjustDetails);
                            }
                        }

                });

                stockAdjustMaster["AdjustmentDetails"] = stockAdjustDetailsList;

                var urlpath = '@Url.Action("SaveDirectStockOut_LiveBird", "StockAdjustment")';
                $.ajax({
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(stockAdjustMaster),
                    dataType: 'json',
                    url: urlpath,
                    type: "POST",
                    success:function(result) {
                        if (result.isSuccess) {
                            $('.confirm').prop("disabled", false);
                            $('.cancel').prop("disabled", false);
                            swal({
                                title: 'Product Stocked Out Successfully',
                                type: 'success',
                                closeOnCancel: true
                            },
                                function() {
                                    window.location.href = '@Url.Action("DirectStockOutEntry_LiveBird", "StockAdjustment")';
                                });
                        } else {
                            ShowMessage('Session is out. Please reload the page and try again!!!');
                        }
                    },
                    error: function () {
                        swal("Network error occured.Please reload the page and try again");
                    }
                });

            }


        }

          function Validation() {
            var isValid = true;
            var message = "Check at least one checkbox";
            if ($('#ddlCompany').val() == 0 || $('#ddlCompany').val() == '') {
                ValidationColorChangeNew("ddlCompany", "divCompany", "Company Required", true);
                isValid = false;
                return;
            }
            if ($('#ddlLocation').val() == '' || $('#ddlLocation').val() == 0) {
                ValidationColorChangeNew("ddlLocation", "divLocation", "Location Required", false);
                isValid = false;
                return;
            }
            if ($('#ddlWareHouse').val() == '' || $('#ddlWareHouse').val() == 0) {
                ValidationColorChangeNew("ddlWareHouse", "divWareHouse", "Warehouse Required", false);
                isValid = false;
                return;
            }

            if ($('#adjustmentDate').val() == '' || $('#adjustmentDate').val() == 0) {
                ValidationColorChangeNew("adjustmentDate", "divAdjustmentDate", "Date is Required", false);
                isValid = false;
                return;
            }
            if ($('#ddlProduct').val() == '' || $('#ddlProduct').val() == 0) {
                ValidationColorChangeNew("ddlProduct", "divProduct", "Product is Required", false);
                isValid = false;
                return;
              }

            if ($('#reason').val() == 0 || $('#reason').val() == '') {
                ValidationColorChangeNew("reason", "divReason", "Stock out reason is Required", false);
                isValid = false;
                return;
            }


            $('#productTable tbody tr').each(function (key,value)
            {
                if ($('#check_' + key).is(":not(:checked)")) {
                    isValid = false;

                }
                else {
                    isValid = true;
                    return false;
                }

            });

            if (isValid == false) {
                ShowMessage(message);
            }

            return isValid;


        }

           function ValueCalculation(slNo) {
            debugger;
            var prdId = isNaN(parseInt($('#ddlProduct').val())) ? 0 : parseInt($('#ddlProduct').val());
            
               var restQty = isNaN(parseFloat($('#restQty_' + slNo).val())) ? 0 : parseFloat($('#restQty_' + slNo).val());
               var restKg = isNaN(parseFloat($('#restKg_' + slNo).val())) ? 0 : parseFloat($('#restKg_' + slNo).val());
               var stockOutQty = isNaN(parseFloat($('#stockOutQty_' + slNo).val())) ? 0 : parseFloat($('#stockOutQty_' + slNo).val());
               var stockOutKg = isNaN(parseFloat($('#stockOutKg_' + slNo).val())) ? 0 : parseFloat($('#stockOutKg_' + slNo).val());

               var stockQty = isNaN(parseFloat($('#stockQty_' + slNo).val())) ? 0 : parseFloat($('#stockQty_' + slNo).val());
               var stockKg = isNaN(parseFloat($('#stockKg_' + slNo).val())) ? 0 : parseFloat($('#stockKg_' + slNo).val());

               debugger;
                if (stockOutQty > restQty) {
                    $('#stockOutQty_' + slNo).val(restQty);

                }
                var skg = stockKg / stockQty;
               var outqty= $('#stockOutQty_' + slNo).val();
               var totalkg = skg * outqty;
               $('#stockOutKg_' + slNo).val(totalkg.toFixed(2));

        
           

            totalCalculation();

        }

        function totalCalculation() {


               var totalStockOutKg = 0;
               var totalStockOutQty = 0;
               $("#productTable tbody tr ").each(function (key, value) {


                var stockOutKg = isNaN(parseFloat($("#stockOutKg_" + key).val()), 0) ? 0 : parseFloat($("#stockOutKg_" + key).val());
                var stockOutQty = isNaN(parseFloat($("#stockOutQty_" + key).val()), 0) ? 0 : parseFloat($("#stockOutQty_" + key).val());

                totalStockOutKg += stockOutKg;
                totalStockOutQty += stockOutQty;


            });
            $("#totalStockOutQty").html(totalStockOutQty);
            $("#totalStockOutKg").html(totalStockOutKg);

        }

         function checkBoxEvent(slNo) {

             

           if ($('#check_' + slNo).is(":checked")) {

                   

                        $('#stockOutQty_' + slNo).prop('disabled', false);



                        //$('#stockOutKg_' + slNo).prop('disabled', false);

                 

           } else {
               $('#stockOutQty_' + slNo).prop('disabled', true);
               $('#stockOutKg_' + slNo).prop('disabled', true);
               $('#stockOutQty_' + slNo).val('');
               $('#stockOutKg_' + slNo).val('');

               totalCalculation();

            }

        }


         function GetQtyForKG(pid) {
            var qty = 0;
            var urlpath = '@Url.Action("QtyForKG", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                data: { pid: pid },
                dataType: 'json',
                type: "Get",

                async: false,
                success: function (data) {
                    qty = data;

                }
            });
            return qty;
        }

         function GetPackWeight(pid) {
            var weight = 0;
            var urlpath = '@Url.Action("PackWeight", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                data: { pid: pid },
                dataType: 'json',
                type: "Get",

                async: false,
                success: function (data) {
                    weight = data;

                }
            });
            return weight;
        }
    </script>
}





