﻿@model IEnumerable<IGFoodProject.ViewModel.ViewUserWarehouse>

<div class="row">
    <div class="card-body">
        <div class="col-md-2" id="allwhDiv">
            @*<input type="checkbox" id="allWh" onclick="CheckAllWh()" />
            <label for="allWh">All</label>*@
        </div>
        <div class="col-md-11">
            <div class="card"style="height: 655px; overflow: scroll">
                <div class="card-header">
                     
                        <div class="card-title icheck-primary d-inline ml-2">
                            <input type="checkbox" id="allWh" onclick="CheckAllWh()" />
                            <label for="allWh">All  Warehouse</label>
                        </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <ul class="todo-list" id="whList">
                        @foreach (var item in Model)
                        {
                        <li id="@item.WareHouseId">
                            <!-- drag handle -->
                            <!-- checkbox -->
                            <div class="icheck-primary d-inline ml-2">
                                @if (item.IsActive == true)
                                {
                                    <input type="checkbox" checked="checked" class="chwh" id="checkWh_@item.WareHouseId" />
                                }
                                else
                                {
                                    <input type="checkbox" class="chwh" id="checkWh_@item.WareHouseId" onclick="CheckWhWise(@item.WareHouseId)" />
                                }
                                <label for="checkWh_@item.WareHouseId"> @item.WareHouseName (@item.LocationName)</label>
                            </div>
                            <!-- todo text -->
                           
                            <!-- Emphasis label -->
                            <!-- General tools such as edit or delete-->
                        </li>
                        }
                    </ul>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>
</div>
@*<ul id="whListUsers" >
    @foreach (var item in Model)
    {
        <li id="@item.WareHouseId">
           @if (item.IsActive == true)
           {
            <input type="checkbox" checked="checked" class="chwh" id="checkWh_@item.WareHouseId"  />
           }
           else
           {
            <input type="checkbox" class="chwh" id="checkWh_@item.WareHouseId"  onclick="CheckWhWise(@item.WareHouseId)"  />
           }
            <label for="checkWh_@item.WareHouseId"> @item.WareHouseName (@item.LocationName)</label>
        </li>
    }
</ul>*@

<script>
    function CheckAllWh() {
        if ($('#allWh').is(':checked')) {
            $('.chwh').prop('checked', true);
        } else {
            $('.chwh').prop('checked', false);
        }
    }
</script>