﻿@using Antlr.Runtime
@model IEnumerable<IGFoodProject.ViewModel.ViewUserWarehouse>


<div class="container-fluid">

    <div class="row">
        <div class="card-body">
            @*<div class="col-md-2">
                <input type="checkbox" id="alluser" onclick="CheckAllUser()"/>
                <label for="alluser">All</label>
            </div>*@
            <div class="col-md-11">
                <div class="card"style="height: 655px; overflow: scroll">
                    <div class="card-header">

                        <div class="card-title icheck-primary d-inline ml-2">
                            <input type="checkbox" id="alluser" onclick="CheckAllUser()" />
                            <label for="alluser">All User</label>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <ul class="todo-list" id="userList">
                            @foreach (var item in Model)
                            {
                                <li id="@item.WareHouseId">
                                    <!-- drag handle -->
                                    <!-- checkbox -->
                                    <div class="icheck-primary d-inline ml-2">
                                        @if (item.IsActive == true)
                                        {
                                            <input type="checkbox" class="chclass" checked="checked" id="check_@item.LoginUserId" onclick="UserCheck(@item.LoginUserId)" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" class="chclass" id="check_@item.LoginUserId" onclick="UserCheck(@item.LoginUserId)" />
                                        }
                                        <label for="check_@item.LoginUserId"> @item.LoginUserName @item.EmpName @item.Designation</label>
                                    </div>
                                    <!-- todo text -->
                                    <!-- Emphasis label -->
                                    <!-- General tools such as edit or delete-->
                                </li>
                            }
                        </ul>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>
    
</div>
@*<ul id="userUl"  >
    @foreach (var item in Model)
    {
        <li id="@item.LoginUserId">
            @if (item.IsActive == true)
            {
                <input type="checkbox" class="chclass" checked="checked" id="check_@item.LoginUserId" onclick="UserCheck(@item.LoginUserId)"/>
            }
            else
            {
                <input type="checkbox" class="chclass" id="check_@item.LoginUserId" onclick="UserCheck(@item.LoginUserId)" />
            }
            <label for="check_@item.LoginUserId"> @item.LoginUserName @item.EmpName @item.Designation</label>
        </li>
    }
</ul>*@


<script>


</script>