﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-3">
                                <h3 class="card-title">
                                    <span class="fa fa-eye"></span> Warehouse Permission
                                </h3>
                            </div>
                          
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="col-md-12 icheck-primary">
                            <div class="form-group clearfix">
                                <div class="icheck-success d-inline col-md-2">
                                    <input type="radio" id="userWise" name="permission" onclick="CheckType()" /> <label for="userWise">User wise</label>
                                </div>
                                <div class="icheck-success d-inline col-md-2">
                                    <input type="radio" id="whWise" name="permission" onclick="CheckType()" /> <label for="whWise">Warehouse wise</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" id="igUsers">

                            </div>
                            <div class="col-md-6" id="userWh">

                            </div>
                        </div>

                    </div>
                    <div class="card-footer">
                        <input type="hidden" id="userLoginUserId" />
                        <input type="hidden" id="warehouseId" />
                        <button class="btn btn-danger" onclick="location.reload()">Cancel</button>
                        <button class="btn btn-success float-right" onclick="SaveUserWisePermission()">Save Permission</button>
                    </div>

                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {



        });


        function CheckType() {
            if ($('#userWise').is(':checked')) {
                LoadIgUsers();
                $('#alluser').attr('disabled', true);

                $('#allWh').attr('disabled', false);
                $('#whListUsers').empty();
            }

            if ($('#whWise').is(':checked')) {
                
                LoadAllWh();
                $('#allWh').attr('disabled', true);
                $('#alluser').attr('disabled', false);

            }
        }
        function CheckAllWh() {
            if ($('#userWise').is(':checked')) {

            }
        }


        function CheckWhWise(id) {

            if ($('#whWise').is(':checked')) {

                LoadWhWiseUser(id);
                $('.chwh').prop('checked', false);
                $('#checkWh_' + id).prop('checked', true);
                $('#allWh').hide();
                $('#alluser').show();
                $('#warehouseId').val(id);
            }
        }

        function CheckAllUser() {
            if ($('#whWise').is(':checked')) {


                if ($('#alluser').is(':checked')) {
                    $('.chclass').prop('checked', true);
                } else {

                }

            }
        }
        function LoadWhWiseUser(id) {
            var urlpath = '@Url.Action("GetWhWiseUser", "WarehousePermission")';
            $.ajax({
                url: urlpath,
                dataType: "html",
                type: "get",
                data: { id: id },
                async: false,
                success: function (data) {

                    $('#igUsers').empty();
                    $('#igUsers').html(data);
                    //$('#userLoginUserId').val(id);

                }
            });
        }
        function SaveUserWisePermission() {
            if (UserSaveValidation()) {
                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveUserWiseFinal();

                });
            }
        }

        function SaveUserWiseFinal() {

            var jsonObj = [];

            if ($('#userWise').is(':checked')) {
                $('#whList li ').each(function () {
                    
                    var jsonData = {};
                    var idr = $(this).attr('id');

                    jsonData['LoginUserId'] = $('#userLoginUserId').val();
                    jsonData['WareHouseId'] = idr;
                    if ($('#checkWh_' + idr).is(':checked')) {


                        jsonData['IsActive'] = true;
                    } else {
                        jsonData['IsActive'] = false;
                    }
                    jsonObj.push(jsonData);
                });
            }


            if ($('#whWise').is(':checked')) {
                $('#userList li ').each(function () {
                    
                    var jsonData = {};
                    var idr = $(this).attr('id');

                    jsonData['LoginUserId'] = idr;
                    jsonData['WareHouseId'] = $('#warehouseId').val();
                    if ($('#check_' + idr).is(':checked')) {


                        jsonData['IsActive'] = true;
                    } else {
                        jsonData['IsActive'] = false;
                    }
                    jsonObj.push(jsonData);
                });
            }

            var urlpath = '@Url.Action("SaveUserWisePermission", "WarehousePermission")';
            $.ajax({

                contentType: "application/json",
                data: JSON.stringify(jsonObj),
                dataType: 'json',
                url: urlpath,
                type: "POST"
            })
                .success(function (result) {

                    if (result.isSuccess) {

                        swal("Permission Applied");
                        window.location.href = '@Url.Action("Index", "WarehousePermission")';
                    }
                });
        }



        function UserCheck(id) {

            if ($('#userWise').is(':checked')) {
                LoadUserWiseWH(id);
                if ($('#check_' + id).is(':checked')) {
                    $('.chclass').prop('checked', false);
                    $('#check_' + id).prop('checked', true);
                } else {
                    $('.chclass').prop('checked', false);
                    $('#check_' + id).prop('checked', false);
                }
            }

            

        }

        function LoadUserWiseWH(id) {
            var urlpath = '@Url.Action("GetUserWiseWarehouse", "WarehousePermission")';
            $.ajax({
                url: urlpath,
                dataType: "html",
                type: "get",
                data: { id: id },
                async: false,
                success: function (data) {

                    $('#userWh').empty();
                    $('#userWh').html(data);
                    $('#userLoginUserId').val(id);

                }
            });
        }

        function LoadAllWh() {
            var urlpath = '@Url.Action("GetUserWiseWarehouse", "WarehousePermission")';
            $.ajax({
                url: urlpath,
                dataType: "html",
                type: "get",
                data: { id: 0 },
                async: false,
                success: function (data) {

                    $('#userWh').empty();
                    $('#userWh').html(data);


                }
            });
        }


        function UserSaveValidation() {
            var count = $('input.chclass:checked').length;
            var isValid = true;
            if (count == 0) {
                isValid = false;
            }
            if (isValid == false) {
                ShowMessage("Please Select a User");
            }
            return isValid;
        }
        function LoadIgUsers() {
            
            var urlpath = '@Url.Action("GetAllIGUsers", "WarehousePermission")';
            $.ajax({
                url: urlpath,
                dataType: "html",
                type: "get",
                //data: { comid: comid },
                async: false,
                success: function (data) {

                    $('#igUsers').empty();
                    $('#igUsers').html(data);

                }
            });
        }


    </script>
}