﻿@using System.Data
@model System.Data.DataTable
@{
    int count = 1;
}
@{ var data = Model.AsEnumerable(); }
 
<div class="col-md-12">
   @* <label class="float-right"> Opening Qty @Model.Rows[0].ItemArray[10];  Opening Kg @Model.Rows[0].ItemArray[11];</label>*@
</div>
<table id="ProductMoveTable" border="1" class="table dataTable table-bordered table-striped table-hover">
    <thead>
        <tr style="background-color: aliceblue">
            <th style="text-align: center">SL</th>
            <th style="text-align: center">Trade Purchase NO</th>
            <th style="text-align: center">Purchase Date</th>
            <th style="text-align: center">Approved Date</th>
            <th style="text-align: center">Product Name</th>
            <th style="text-align: center">Purchase Req. Qty</th>
            <th style="text-align: center">Purchase Req. Kg</th>
            <th style="text-align: center">Purchase Unit Price</th>
            <th style="text-align: center">purchase Total Price</th>
            <th style="text-align: center">Approved Qty</th>
            <th style="text-align: center">Approved Kg</th>
            <th style="text-align: center">Approved Unit Price</th>
            <th style="text-align: center">Approved Total Price</th>
            <th style="text-align: center">Supplier Name</th>
            <th style="text-align: center">Location</th>
            <th style="text-align: center">Warehouse</th>
            <th style="text-align: center">Order By</th>
            <th style="text-align: center">Approved By</th>
            <th style="text-align: center">Approved Status</th>
        </tr>
    </thead>
    <tbody class="Traylist">
        @foreach (DataRow row in Model.Rows)
        {
            
                <tr>
                    <td>@count</td>
                    <td style="text-align: center">@row.ItemArray[0]</td>
                    <td style="text-align: center">@Convert.ToDateTime(row.ItemArray[1]).ToString("dd MMM yyyy")</td>
                    <td style="text-align: center">@Convert.ToDateTime(row.ItemArray[2]).ToString("dd MMM yyyy")</td>
                    <td style="text-align: center">@row.ItemArray[3]</td>
                    <td style="text-align: center">@row.ItemArray[4]</td>
                    <td style="text-align: center">@row.ItemArray[5]</td>
                    <td style="text-align: center">@row.ItemArray[8]</td>
                    <td style="text-align: center">@row.ItemArray[9]</td>
                    <td style="text-align: center">@row.ItemArray[6]</td>
                    <td style="text-align: center">@row.ItemArray[7]</td>
                    <td style="text-align: center">@row.ItemArray[10]</td>
                    <td style="text-align: center">@row.ItemArray[11]</td>
                    <td style="text-align: center">@row.ItemArray[12]</td>
                    <td style="text-align: center">@row.ItemArray[13]</td>
                    <td style="text-align: center">@row.ItemArray[14]</td>
                    <td style="text-align: center">@row.ItemArray[15]</td>
                    <td style="text-align: center">@row.ItemArray[16]</td>
                    <td style="text-align: center">@row.ItemArray[17]</td>

                </tr>
            count++;
        }
    </tbody>
    <tfoot>
        <tr>
            <th colspan="5"> Total Summation</th>
            <th>@Model.Compute("Sum(ProductQty)", "")</th>
            <th>@Model.Compute("Sum(ProductKg)", "")</th>
            <th></th>
            <th>@Model.Compute("Sum(TotalPrice)", "")</th>
            <th>@Model.Compute("Sum(ApproveQty)", "")</th>
            <th>@Model.Compute("Sum(ApproveKg)", "")</th>
            <th></th>
            <th>@Model.Compute("Sum(ApproveTotalAmount)", "")</th>
        </tr>
    </tfoot>
</table>
