﻿
@{
    ViewBag.Title = "Index";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title"><span class="fa fa-eye"></span>Bird Requisition Report</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-md-offset-1">
                                <div class="form-group" id="divCompany">
                                    <label for="ddlCompany">Company</label>
                                    <select class="form-control" style="width: 100%;" id="ddlCompany"></select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="form-group" id="divLocation">
                                    <label for="ddlLocation">Location<span class="text-danger"> *</span></label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlLocation"></select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="form-group" id="divWareHouse">
                                    <label for="ddlWareHouse">Warehouse</label>
                                    <select class="form-control" style="width: 100%;" id="ddlWareHouse"></select>
                                </div>

                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="form-group" id="divSupplier">
                                    <label for="ddlSupplier">Supplier</label>
                                    <select class="form-control" style="width: 100%;" id="ddlSupplier"></select>
                                </div>

                            </div>
                        </div>
                        <div class="row">

                            @*<div class="card-body">*@

                            <div class="col-md-3 col-sm-6 col-md-offset-1">
                                <div class="form-group" id="divFromDate">
                                    <label for="txtFromDate">From Order Date</label>
                                    <input type="text" class="form-control" style="width: 100%;" id="txtFromDate" />
                                </div>


                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="form-group" id="divToDate">
                                    <label for="txtToDate">To Order Date</label>
                                    <input type="text" class="form-control" style="width: 100%;" id="txtToDate" />
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <div class="form-group" id="divStatus">
                                    <label for="ddlStatus">Select Report</label>
                                    <select class="form-control" style="width: 100%;" id="ddlStatus">
                                        <option value="3">All</option>
                                        <option value="0">Pending</option>
                                        <option value="1">Approve</option>
                                        <option value="2">Reject</option>
                                    </select>
                                </div>
                            </div>

                            @*</div>*@



                        </div>
                        <br />

                        <div class="row">
                            <!-- /.card-body -->
                            <div class="col-md-3 col-sm-6">
                                <button class="btn btn-primary" onclick="ShowReport()">Show Report</button>
                                <button class="btn btn-outline-danger" onclick="location.reload()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->

</section>

@section Scripts
{
    <script >


        $(document).ready(function() {

            LoadDate('#txtFromDate');
            LoadDate('#txtToDate');
            LoadSupplier('ddlSupplier');
            var comId = 0;
            var locId = 0;
            var wareId = 0;

            LoadCompany('ddlCompany');
            $("#ddlCompany").val("7");
            LoadLocation('ddlLocation', $("#ddlCompany").val());

            $('#ddlCompany').change(function () {
                comId = $(this).val();
                LoadLocation('ddlLocation', comId);
            });
            $('#ddlLocation').change(function () {

                locId = parseInt($(this).val());
                var wareHouseTypeId = parseInt(1);
                LoadWareHouse('ddlWareHouse', locId, wareHouseTypeId);
            });

        });

        function LoadSupplier(elementId) {
            var urlpath = '@Url.Action("LoadSupplier", "PurchaseOrder")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: {},
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Supplier--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].SupplierID).html(data[i].SupplierName));
                    }

                }
            });
        }

        function ShowReport() {
            if ($('#txtFromDate').val() == '') {
                ShowMessage("Please Input From Requisition Date !!!");
                return;
            }
            if ($('#txtToDate').val() == '') {
                ShowMessage("Please Input To Requisition Date !!!");
                return;
            }
            var company = 0;
            var location = 0;
            var warehouse = 0;
            var fromdate;
            var todate;
            var rstatus = 3;
            var supplierId = 0;
            if ($('#ddlCompany').val() != null) {
                if ($('#ddlCompany').val() != '0') {
                    company = $('#ddlCompany').val();
                }

            }
            if ($('#ddlLocation').val() != null) {
                if ($('#ddlLocation').val() != '0') {
                    location = $('#ddlLocation').val();
                }

            }
            if ($('#ddlWareHouse').val() != null) {
                if ($('#ddlWareHouse').val() != '0') {
                    warehouse = $('#ddlWareHouse').val();
                }

            }
            if ($('#ddlStatus').val() != null) {
                
                    rstatus = $('#ddlStatus').val();
              

            }
            if ($('#ddlSupplier').val() != null) {
                if ($('#ddlSupplier').val() != '0') {
                    supplierId = $('#ddlSupplier').val();
                }

            }

            fromdate = $('#txtFromDate').val();
            todate = $('#txtToDate').val();


            var urlpath = '@Url.Action("GetPurchaseReport", "PurchaseOrderReport")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { company: company, location: location, warehouse: warehouse, supplierId: supplierId, fromdate: fromdate, todate: todate, rstatus: rstatus },
                async: true,
                success: function (data) {
                    if (data.isSuccess) {

                        window.open("../CrystalViewer/CrystalViewer.aspx", "_blank", "WIDTH=1024,HEIGHT=768,scrollbars=no, menubar=no,resizable=yes,directories=no,location=no");

                    }
                }
            });
        }
    </script>
}
