﻿
@{
    ViewBag.Title = "Index";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title"><span class="fa fa-eye"></span>Trade Purchase Report
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-md-offset-1">
                                <div class="form-group" id="divCompany">
                                    <label for="ddlCompany">Company</label>
                                    <select class="form-control" style="width: 100%;" id="ddlCompany"></select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="form-group" id="divLocation">
                                    <label for="ddlLocation">Location<span class="text-danger"> *</span></label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlLocation"></select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="form-group" id="divWareHouse">
                                    <label for="ddlWareHouse">Warehouse</label>
                                    <select class="form-control" style="width: 100%;" id="ddlWareHouse"></select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="form-group" id="divSupplier">
                                    <label for="ddlSupplier">Supplier</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlSupplier"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            @*<div class="card-body">*@
                            <div class="col-md-3 col-sm-6 col-md-offset-1">
                                <div class="form-group" id="divFromDate">
                                    <label for="txtFromDate">From Order Date</label>
                                    <input type="text" class="form-control" autocomplete="off" style="width: 100%;" id="txtFromDate"/>
                                </div>

                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="form-group" id="divToDate">
                                    <label for="txtToDate">To Order Date</label>
                                    <input type="text" class="form-control" autocomplete="off" style="width: 100%;" id="txtToDate"/>
                                </div>
                            </div>
                            @*<div class="col-md-3 col-sm-6">
                                <div class="form-group" id="divStatus">
                                    <label for="ddlStatus">Select Report</label>
                                    <select class="form-control" style="width: 100%;" id="ddlStatus">
                                        <option value="3">All</option>
                                        <option value="0">Pending</option>
                                        <option value="1">Approve</option>
                                        <option value="2">Reject</option>
                                    </select>
                                </div>
                            </div>*@
                            @*</div>*@

                        </div>
                        <br/>
                        <div class="row">
                            <!-- /.card-body -->
                            <div class="col-md-12 col-sm-12">
                                <button class="btn btn-primary" onclick="ShowReport()">Show Report</button>
                                <button class="btn btn-outline-danger" onclick="location.reload()">Cancel</button>
                                <button class="btn btn-dark float-right" onclick="exportExcel()">Export</button>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="card divclass" id="salesReportDiv">
                    <div class="card-header with-border">
                        <div id="">
                            <h3 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="companyHeader"></h3>
                            <h4 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="reportHeader"></h4>
                            <div class="row">
                                <div class="col-md-12">

                                    <label class="float-left" id="productName"></label>
                                    <label class="offset-3" id="Warehouse"></label>
                                    <label class="float-right" id="reportDate"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="salesReport">
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
@section Scripts
{
    <script>


        $(document).ready(function() {

            LoadDate('#txtFromDate');
            LoadDate('#txtToDate');
            LoadSupplier('ddlSupplier');
            var comId = 0;
            var locId = 0;
            var wareId = 0;

            LoadCompany('ddlCompany');
            $("#ddlCompany").val("7");
            LoadLocation('ddlLocation', $("#ddlCompany").val());

            $('#ddlCompany').change(function () {
                comId = $(this).val();
                LoadLocation('ddlLocation', comId);
            });
            $('#ddlLocation').change(function () {

                locId = parseInt($(this).val());
                var wareHouseTypeId ="3,4";
                LoadWareHouseMultipleType('ddlWareHouse', locId, wareHouseTypeId);
            });

        });

        function LoadSupplier(elementId) {
            var urlpath = '@Url.Action("LoadSupplier", "PurchaseOrder")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: {},
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Supplier--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].SupplierID).html(data[i].SupplierName));
                    }

                }
            });
        }

        function ShowReport() {
            if ($('#txtFromDate').val() == '') {
                ShowMessage("Please Input From Purchase Date !!!");
                return;
            }
            if ($('#txtToDate').val() == '') {
                ShowMessage("Please Input To Purchase Date !!!");
                return;
            }
            var company = 0;
            var location = 0;
            var warehouse = 0;
            var fromdate;
            var todate;
            var supplierId = 0;
            if ($('#ddlCompany').val() != null) {
                if ($('#ddlCompany').val() != '0') {
                    company = $('#ddlCompany').val();
                }

            }
            if ($('#ddlLocation').val() != null) {
                if ($('#ddlLocation').val() != '0') {
                    location = $('#ddlLocation').val();
                }

            }
            if ($('#ddlWareHouse').val() != null) {
                if ($('#ddlWareHouse').val() != '0') {
                    warehouse = $('#ddlWareHouse').val();
                }

            }
            if ($('#ddlStatus').val() != null) {

                    rstatus = $('#ddlStatus').val();


            }
            if ($('#ddlSupplier').val() != null) {
                if ($('#ddlSupplier').val() != '0') {
                    supplierId = $('#ddlSupplier').val();
                }

            }

            fromdate = $('#txtFromDate').val();
            todate = $('#txtToDate').val();


            var urlpath = '@Url.Action("GetTradePurchaseReport", "PurchaseOrderReport")';
            $.ajax({
                url: urlpath,
                dataType: 'html',
                type: "Get",
                data: { company: company, location: location, warehouse: warehouse, supplierId: supplierId, fromdate: fromdate, todate: todate},
                async: true,
                success: function (data) {
                    $("#salesReport").html(data);
                },
                complete: function () {


                    $('#companyHeader').html("IG Foods Limited");
                    $('#reportHeader').html("Trade Purchase");
                    //$('#productName').html('Product Name : ' + $("#ddlLProduct option:selected").text());
                    //$('#Warehouse').html('Warehouse Name : ' + $("#ddlWareHouse option:selected").text());
                    $('#reportDate').html('Report Date: ' + $("#txtFromDate").val() + ' To ' + $("#txtToDate").val());
                    
                }
            });
        }
        function exportExcel(e) {
            if ($('#ProductMoveTable tbody tr').length == 0) {
                swal("No Data to Export");
            } else {
                var file = new Blob([$('#salesReportDiv').html()], { type: "application/vnd.ms-excel" });
                var url = URL.createObjectURL(file);
                var a = $("<a />", {
                    href: url,
                    download: "TradePurchaseReport.xls"

                }).appendTo("body").get(0).click();
            }
        }
    </script>
}
