﻿@model IEnumerable<IGFoodProject.Models.StockTransferIssueMaster>  
<div class="col-md-offset-1  col-md-4">
    <button class='btn btn-info' type='button' onclick="PrintMultipleChallan()">Print Multiple Challan</button>&nbsp;
</div>
<table id="table1" class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
        <th><input type='checkbox' class='iradio_minimal-blue' id='checkAll' onclick='SelectAllCheckboxFunc()'/></th>
        <th>Issue No.</th>
        <th>Delivery Date</th>
        <th>From Warehouse</th>
        <th>To Warehouse</th>
        <th>From Location</th>
        <th>To Location</th>
        <th>Vehicle</th>
        <th>Driver Name</th>
        <th>Driver Mobile</th>
        <th>Action</th>

    </tr>
    </thead>
    <tbody>
    @{ int count = 1;}
    @foreach (var item in Model)
    {
        <tr class="rowTr" id="@item.StockTransferIssueMasterId">
            <td><input type='checkbox' class='iradio_minimal-blue checkp' id='check_@count' onclick='Checkp(@count)'/></td>
            <td>@item.IssueNo</td>
            <td>@Convert.ToDateTime(item.DeliveryDate).ToString("dd-MMM-yyyy")</td>
            <td>@item.fromWarehouse</td>
            <td>@item.ToWarehouse</td>
            <td>@item.FromLocation</td>
            <td>@item.ToLocation</td>

            <td>@item.VehicleRegNo</td>
            <td>@item.DriverName</td>
            <td>@item.DriverMobile</td>
            <td>
                <button class="btn btn-outline-dark" onclick="PrintChallan(@item.StockTransferIssueMasterId)">Print</button> 
            </td>
        </tr>
        count++;
    }
    </tbody>
</table>




<script>
        function SelectAllCheckboxFunc()
        {
            if ($("#checkAll").is(":checked")) {
                $(".checkp").prop("checked", true);
            } else {
                $(".checkp").prop("checked", false);
            }
        }
        function Checkp(SLNO)
        {
            //uncheck "select all", if one of the listed checkbox item is unchecked
            var checkp = $("#check_" + SLNO).prop("checked");
            if (checkp == false) { //if this item is unchecked
                $("#checkAll").prop('checked', false); //change "select all" checked status to false
            }
            //check "select all" if all checkbox items are checked
            if ($('.checkp:checked').length == $('.checkp').length) {
                $("#checkAll").prop('checked', true);
            }
        }

        function PrintMultipleChallan()
        {
                var DeliveryOrderID = "";
                var stringSoId = "";
                $('#table1 tr.rowTr').each(function (key,value)
                {
                    
                    soId = $(this).prop("id");
                    if ($('#check_' +(parseInt(key)+1)).is(":checked")) {
                        if (stringSoId != '')
                            stringSoId = stringSoId + "," + soId;
                        else {
                            stringSoId = soId;
                        }
                    }
                });
                PrintChallan(stringSoId);
        }


        function PrintChallan(soId)
        {
            var urlpath = '@Url.Action("StockTransferChallanReports", "StockTransfer")';   
            var reportValue = "StockTransferIssueChallan";
            var jsonData = {};
         
                jsonData["ReportValue"] = reportValue;
                jsonData["StockTreansferIssueId"] = soId; 
        
            $.ajax({
                url: urlpath,
                data: jsonData,
                dataType: 'json',
                type: "Get",
                success: function (data) {
                    if (data.isSuccess) {
                        //OpenPopUp('BasicReportViewer.aspx');
                        window.open("../CrystalViewer/CrystalViewer.aspx", "_blank", "WIDTH=1024,HEIGHT=768,scrollbars=no, menubar=no,resizable=yes,directories=no,location=no");
                    }
                }
            });
        }



</script>

