﻿
@model IGFoodProject.Models.StockTransferReqDetails
@{

    int sl = (int)TempData["trSl"];
}
    <tr id="tr_@sl">
        <td width="5px">
            @sl
        </td>
        <td width="60px">

            <select class="form-control productDDl select2" style="width: 100%;" id="dllProduct_@sl" onchange="SetStockQuantity(@sl,$('#ddlProductGroup').val(),$('#dllProduct_@sl').val())">
            </select>

        </td>
        <td width="10px">

            <input type="number" min=0 class="form-control" disabled id="txtStockQty_@sl"  />

        </td>
        <td width="10px">

            <input type="number" min=0 class="form-control" disabled id="txtStockKg_@sl" />
            <input type="number" min=0 style="display:none;" class="form-control" id="txtPerKgStdQty_@sl" />


        </td>
        <td width="10px">

            <input type="number" min=0 class="form-control reqQty"  id="txtProductQty_@sl"  oninput="CheckStockQuantity(@sl,$('#ddlProductGroup').val(),$('#dllProduct_@sl').val()); TotalQuantityAndKg();" />
            <input type="number" min=0 style="display:none;" class="form-control reqQtyh" id="txtProductQtyh_@sl"  />

        </td>
        <td width="10px">

            <input type="number" min=0 class="form-control reqKg" id="txtProductKg_@sl" oninput="CheckStockQuantity(@sl,$('#ddlProductGroup').val(),$('#dllProduct_@sl').val()); TotalQuantityAndKg();" />
            <input type="number" min=0 style="display:none;" class="form-control reqKgh" id="txtProductKgh_@sl" />

        </td>

        <td width="10px">

            <input type="text" class="form-control" id="txtRemarks_@sl" />

        </td>
        <td width="5px">
            <div class="form-group">
                <button class="btn btn-primary btn-sm" onclick="AddRow()"><span class="fa fa-plus"></span></button>
                <button class="btn btn-danger btn-sm" onclick="RemoveRow(@sl)"><span class="fa fa-trash"></span></button>
                <input type="number" value="0" style="display: none" id="details_@sl" />
            </div>
        </td>
    </tr>

@section Scripts{
    <script>
        $(function () {
            $('#dllProduct_@sl').val('@Model.ProductId');
        });

    </script>
}