﻿

@model IGFoodProject.Models.StockTransferReqDetails
@{

    int sl = (int)TempData["trSl"];
}
<tr id="tr_@sl">
    <td>
        <input type='checkbox' class='form-check-input chkp' id='chk_@sl' />
    </td>
    <td>
        @sl
    </td>
    <td>

        <select class="form-control productDDl select2" style="width: 100%;" id="dllProduct_@sl" disabled onchange="SetStockQuantity(@sl)"></select>

    </td>
    <td>

        <input type="number" min=0 class="form-control" disabled id="txtStockQty_@sl"/>

    </td>
    <td>

        <input type="number" min=0 class="form-control" disabled id="txtStockKg_@sl"/>

    </td>
    <td>

        <input type="number" min=0 class="form-control tQty" disabled id="txtProductQty_@sl"/>


    </td>
    <td>

        <input type="number" min=0 class="form-control tKg" disabled id="txtProductKg_@sl"/>


    </td>

    <td>

        <input type="number" min=0 class="form-control aQty" disabled id="txtAIssueQty_@sl"/>


    </td>
    <td>

        <input type="number" min=0 class="form-control aKg" disabled id="txtAIssueKg_@sl"/>


    </td>

    <td>

        <input type="number" min=0 class="form-control reqQty" id="txtIssueQty_@sl" oninput="CheckStockQuantity(@sl,$('#dllProduct_@sl').val()); TotalQuantityAndKg();"/>
        <input type="number" min=0 style="display: none;" class="form-control" id="txtIssueQtyh_@sl"/>

    </td>
    <td>

        <input type="number" min=0 class="form-control reqKg" id="txtIssueKg_@sl" oninput="CheckStockQuantity(@sl,$('#dllProduct_@sl').val()); TotalQuantityAndKg();"/>
        <input type="number" min=0 style="display: none;" class="form-control " id="txtIssueKgh_@sl"/>


    </td>

    <td>
        <input type="number" min=0 style="display: none;" class="form-control" id="txtComPercent_@sl"/>
        <input type="number" min=0 style="display: none;" class="form-control" id="txtMRP_@sl"/>
        <input type="number" min=0 style="display: none;" class="form-control" id="txtGroupId_@sl"/>
        <input type="text" class="form-control" id="txtRemarks_@sl"/>
        <input type="number" value="0" style="display: none" id="details_@sl"/>

    </td>

</tr>

@section Scripts{
    <script>
        $(function () {
            $('#dllProduct_@sl').val('@Model.ProductId');
        });

    </script>
}