﻿@model IGFoodProject.Models.StockTransferReqMaster
@{ int count = 1;}
<table id="salesTable" border="1" class="table dataTable table-bordered table-striped table-hover">
    <thead>
        <tr style="background-color: aliceblue">
            <th style="text-align: center">SL</th>
            <th style="text-align: center">Customer Name</th>
            <th style="text-align: center">Product Name</th>
            <th style="text-align: center">Qty</th>
            <th style="text-align: center">Kg</th>
        </tr>

    </thead>

    <tbody class="Traylist">
        @foreach (var row in Model.StockTransferReqDetails)
        {
        <tr>
            <td>@count</td>
            <td style="text-align: center">@Model.ToWarehouse</td>
            <td style="text-align: center">@row.ProductName</td>
            <td style="text-align: center">@row.RequisitionQuantity</td>
            <td style="text-align: center">@row.RequisitionKg</td>
        </tr>
            count++;
        }
    </tbody>


</table>



