﻿@using IGFoodProject.Models
@model Tuple<IEnumerable<CompanyInformation>, IEnumerable<Location>, IEnumerable<InternalTransferComments>, IEnumerable<tbl_ProductGroup>>
@{
    ViewBag.Title = "Internal Stock Transfer Entry";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="row">

                            <div class="col-md-6">
                                <a href="@Url.Action("InternalStockTransferEntry", "StockTransfer", new {id = 0})">
                                    <h3 class="card-title">
                                        @if (ViewBag.id == 0)
                                        {
                                            <span class="">Internal  Stock Transfer (IST)</span>

                                        }
                                        @*else
                                        {
                                            <span class=""> Edit Stock Transfer Order (STO)</span>
                                        }*@
                                    </h3>
                                </a>
                            </div>
                            <div class="col-md-6" style="text-align:right;">
                                <a href="@Url.Action("InternalStockTransferList", "StockTransfer", new { requisitionDate = (DateTime?)null })"><h3 class="btn btn-danger">Internal Stock Transfer List</h3></a>
                            </div>
                        </div>




                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="row">

                            <div class="form-group col-md-3" id="divCompany">
                                @*style="margin-left: 30px;"*@
                                <label>Company <span class="text-danger"> * </span></label>
                                <select class="form-control select2" id="ddlCompany" style="width: 100%;" disabled="disabled">
                                    <option value="0">--Select Company--</option>
                                    @foreach (CompanyInformation item in Model.Item1)
                                    {
                                        <option value="@item.CompanyId">@item.CompanyName</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-3" id="divDdlLocationFrom">
                                <label>From Location <span class="text-danger"> * </span></label>
                                <select class="form-control select2" id="ddlLocationFrom" style="width: 100%;" disabled="disabled">
                                    <option value="0">--Select Location--</option>
                                    @foreach (Location item in Model.Item2)
                                    {
                                        <option value="@item.LocationId">@item.LocationName</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-3" id="divDdlWarehouseFrom">
                                <label>From WareHouse<span class="text-danger"> * </span></label>
                                <select class="form-control select2" id="ddlWarehouseFrom" style="width: 100%;"></select>
                            </div>
                            <div class="form-group col-md-3" id="divDdlWarehouseTo">
                                <label>To WareHouse<span class="text-danger"> * </span></label>
                                <select class="form-control select2" id="ddlWarehouseTo" style="width: 100%;" onchange="WarehouseValidation()"></select>
                            </div>

                        </div>
                        <div class="row">
                            <div class="form-group col-md-3" id="divExpTransferDate">
                                <label for="deliveryDate">Transfer Date <span class="text-danger"> * </span></label>
                                <input type="text" class="form-control datepicker" id="deliveryDate" autocomplete="off" />
                            </div>


                            <div class="form-group col-md-3" id="divIssueBy">
                                <label for="issueBy">Transfer By <span class="text-danger"> * </span></label>
                                <input type="text" class="form-control " id="issueBy"/>
                                <input type="number" class="form-control" id="empId" style="display: none;"/>
                            </div>

                            @*<div class="form-group col-md-3" id="divInternalComment">
                                <label>Internal STO Comment<span class="text-danger"> * </span></label>
                                <select class="form-control select2" id="divInternalComment" style="width: 100%;"></select>
                            </div>*@
                            <div class="form-group col-md-3" id="divInternalComment">
                                <label>Internal STO Comment <span class="text-danger"> * </span></label>
                                <select class="form-control select2" id="ddlInternalComment" style="width: 100%;">
                                    <option value="0">--Select Internal STO Comment--</option>
                                    @foreach (InternalTransferComments item in Model.Item3)
                                    {
                                        <option value="@item.InternalTransferCommentId">@item.Comment</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <div class="form-group" id="divRemarks">
                                    <label for="forRemarks ">Remarks</label>
                                    <input type="text" class="form-control" id="txtRemarks" />
                                </div>
                            </div>

                        </div>

                        <br />
                        <div class="row">

                            <div class="col-md-12">
                                <table id="myTable" class="table table-bordered">
                                    <thead>
                                        <tr style="background-color: aliceblue">
                                            <th width="5px">#SL</th>
                                            <th width="50px">Item Description</th>
                                            <th width="10px">Stock Qty</th>
                                            <th width="10px">Stock Kg</th>
                                            <th width="10px">Transfer Qty</th>
                                            <th width="10px">Transfer Kg</th>
                                            <th width="10px">Remarks</th>
                                            <th width="5px">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                    <tfoot>
                                        <tr style="background-color: aliceblue;">
                                            <th colspan="4" style="text-align:right;">Total:</th>
                                            <th id="grandTotalQty"></th>
                                            <th id="grandTotalKg"></th>
                                            <th colspan="2"></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>

                        </div>

                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary  float-right" onclick="SaveFinal()">Submit</button>
                        <button class="btn btn-outline-danger " onclick="location.reload()">Cancel</button>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </div>
    <input id="TransferId" type="number" style="display: none;" value="@ViewBag.id">
</section>
@section Scripts{
    <script>

        var AllProductList = {};
        $(function () {
            $("#ddlCompany").val(7);
            EmpAutoCom('issueBy', 'empId');
            //$("#ddlLocationFrom").on("change",
            //    function () {
            //        LoadWareHouse('ddlWarehouseFrom', 4);
            //        LoadWareHouse('ddlWarehouseTo', 4);
            //    });
            $("#ddlLocationFrom").val(4);
            LoadWareHouse('ddlWarehouseFrom', 4);
            LoadWareHouse('ddlWarehouseTo', 4);
            //$("#ddlLocationTo").on("change",
            //    function () {
            //        LoadWareHouse('ddlWarehouseTo', $(this).val());
            //    });
            $('#deliveryDate').datepicker({
                startDate: '+0m',
                endDate: '+0m',
                todayHighlight: true,
                format: 'dd-M-yyyy',
                minDate: 0,
                autoclose: true
            });
            //LoadVehicle('ddlVehicleNo');


            //**************************change by shahadat
            //$("#ddlProductGroup").on("change",
            //    function () {
            //        if ($('#ddlWarehouseFrom option').length == 0 || $('#ddlWarehouseFrom').val() == 0 || $('#ddlWarehouseFrom').val() == '') {
            //            ValidationColorChangeNew('ddlWarehouseFrom', 'divDdlWarehouseFrom', 'Select Warehouse from transfer', true);
            //            swal("Please Select WareHouse first");
            //            $("#ddlProductGroup").val("0");
            //            return;

            //        }

            //        LoadItemDescription();

            //        if ($('#myTable tbody tr').length == 0) {
            //            AddRow();
            //            $("#ddlProductGroup").prop('disabled', true);
            //        }


            //    });
            $("#ddlWarehouseFrom").on("change",
                function () {
                LoadItemDescription();

                    if ($('#myTable tbody tr').length == 0) {
                        AddRow();
                     
                    }


                });

    
            //****************************
            var transferId = $('#TransferId').val();


            if (transferId > 0) {
                GetTransferMaster(transferId);
            }
        });

        function WarehouseValidation() {
            if ($('#ddlWarehouseFrom').val() == $('#ddlWarehouseTo').val()) {
                debugger;
                $("#ddlWarehouseTo").val(0);
                ValidationColorChangeNew('ddlWarehouseTo', 'divDdlWarehouseTo', 'Select Right Warehouse of receive', true);
            } else {
                ValidationColorChangeNew('ddlWarehouseTo', 'divDdlWarehouseTo', '', false);
            }
           
        }

        function GetTransferMaster(id) {

            var urlpath = '@Url.Action("GetStockTransferMaster", "StockTransfer")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { id: id },
                async: false,
                success: function (data) {

                    $("#ddlCompany").val(data.CompanyId);
                    $("#issueBy").val(data.RequisitionBy);
                    $("#reqIssueDate").val(ToJavaScriptDate(data.RequisitionDate));

                    $("#deliveryDate").val(ToJavaScriptDate(data.ExpectedDeliveryDate));

                    $("#ddlVehicleNo").val(data.VehicleId);
                    $("#txtDriverName").val(data.DriverName);
                    $("#txtMobile").val(data.DriverMobile);
                    $("#txtRemarks").val(data.Remarks);
                    $("#ddlLocationFrom").val(data.FromLocationId).trigger('change');
                    LoadWareHouse('ddlWarehouseFrom', $("#ddlLocationFrom").val());
                    $("#ddlWarehouseFrom").val(data.FromWarehouseId);


                    $("#ddlLocationTo").val(data.ToLocationId).trigger('change');
                    LoadWareHouse('ddlWarehouseTo', $("#ddlLocationTo").val());
                    $("#ddlWarehouseTo").val(data.ToWarehouseId);
                    $("#ddlProductGroup").val(data.GroupId);
                    //.trigger('change');





                    LoadItemDescription();
                    //var typeid = $("#ddlCustomerType").val();
                    for (var i = 0; i < data.StockTransferReqDetails.length; i++) {
                        debugger;
                        var tr = $('#myTable tbody tr').length + 1;
                        AddRow();

                        $("#dllProduct_" + tr).val(data.StockTransferReqDetails[i].ProductId).trigger('change');
                        $('#txtProductQty_' + tr).val(data.StockTransferReqDetails[i].RequisitionQuantity.toFixed(2));
                        $('#txtProductKg_' + tr).val(data.StockTransferReqDetails[i].RequisitionKg.toFixed(2));
                        $('#txtRemarks_' + tr).val(data.StockTransferReqDetails[i].Remarks);

                        $('#details_' + tr).val(data.StockTransferReqDetails[i].StockTransferReqDetailsId);

                        $('#txtProductQtyh_' + tr).val(data.StockTransferReqDetails[i].RequisitionQuantity.toFixed(2));
                        $('#txtProductKgh_' + tr).val(data.StockTransferReqDetails[i].RequisitionKg.toFixed(2));

                    }




                    TotalQuantityAndKg();

                }
            });
        }

        function SetStockQuantity(slNo, groupid,pid) {
            var id = $("#dllProduct_" + slNo).val();
            debugger;
            $("#txtStockQty_" + slNo).val(AllProductList[id]['StockQuantity']);
            $("#txtPerKgStdQty_" + slNo).val(AllProductList[id]['PerKgStdQty']);

            var urlpath = '@Url.Action("GetGroupByProduct", "StockTransfer")';
            $.ajax({
                url: urlpath,
                data: { id: pid },
                dataType: 'json',
                type: "Get",

                async: false,
                success: function (data) {
                    var groupid = data.GroupId;

                    if (groupid == 6) {
                        var saleQty = isNaN(parseFloat($('#txtStockQty_' + slNo).val())) ? 0 : parseFloat($('#txtStockQty_' + slNo).val());
                        var pweight = GetPackWeight(id);
                        var skg = pweight * saleQty;

                        $("#txtStockKg_" + slNo).val(skg.toFixed(2))
                    }
                    else {
                        $("#txtStockKg_" + slNo).val(AllProductList[id]['StockKg'])
                    }

                }
            });


            //if (groupid == 6) {
            //    var saleQty = isNaN(parseFloat($('#txtStockQty_' + slNo).val())) ? 0 : parseFloat($('#txtStockQty_' + slNo).val());
            //    var pweight = GetPackWeight(id);
            //    var skg = pweight * saleQty;

            //    $("#txtStockKg_" + slNo).val(skg.toFixed(2))
            //}
            //else {
            //    $("#txtStockKg_" + slNo).val(AllProductList[id]['StockKg'])
            //}


        }
        function GetPackWeight(pid) {
            var weight = 0;
            var urlpath = '@Url.Action("PackWeight", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                data: { pid: pid },
                dataType: 'json',
                type: "Get",

                async: false,
                success: function (data) {
                    weight = data;

                }
            });
            return weight;
        }
        function CheckStockQuantity(slNo, groupid, pid) {
            var tId = $('#TransferId').val();


            var urlpath = '@Url.Action("GetGroupByProduct", "StockTransfer")';
            $.ajax({
                url: urlpath,
                data: { id: pid },
                dataType: 'json',
                type: "Get",

                async: false,
                success: function (data) {
                    var groupid = data.GroupId;
                    if (groupid == 6) {

                        if (parseFloat($("#txtProductQty_" + slNo).val()) > parseFloat($("#txtStockQty_" + slNo).val())) {
                            swal("Transfer Quantity Not More Than Total Stock Quantity");
                            if (tId > 0) {
                                $("#txtProductQty_" + slNo).val($("#txtProductQtyh_" + slNo).val());
                            }
                            else {
                                $("#txtProductQty_" + slNo).val("");
                            }
                        }
                        var transQty = isNaN(parseFloat($('#txtProductQty_' + slNo).val())) ? 0 : parseFloat($('#txtProductQty_' + slNo).val());
                        var pweight = GetPackWeight(pid);
                        var skg = pweight * transQty;
                        $('#txtProductKg_' + slNo).val(skg.toFixed(2));
                    }
                    if (groupid == 5) {

                        if (parseFloat($("#txtProductKg_" + slNo).val()) > parseFloat($("#txtStockKg_" + slNo).val())) {
                            swal("Transfer Kg Not More Than Total Stock Kg");
                            if (tId > 0) {
                                $("#txtProductKg_" + slNo).val($("#txtProductKgh_" + slNo).val());
                            }
                            else {
                                $("#txtProductKg_" + slNo).val("");
                            }
                        }
                        var transKg = isNaN(parseFloat($('#txtProductKg_' + slNo).val())) ? 0 : parseFloat($('#txtProductKg_' + slNo).val());
                        var stdQty = isNaN($('#txtPerKgStdQty_' + slNo).val()) ? 0 : $('#txtPerKgStdQty_' + slNo).val();
                        var sQty = stdQty * transKg;
                        $('#txtProductQty_' + slNo).val(sQty.toFixed(2));
                    }
                }
            });













            //if (groupid == 6) {

            //    if (parseFloat($("#txtProductQty_" + slNo).val()) > parseFloat($("#txtStockQty_" + slNo).val())) {
            //        swal("Transfer Quantity Not More Than Total Stock Quantity");
            //        if (tId > 0) {
            //            $("#txtProductQty_" + slNo).val($("#txtProductQtyh_" + slNo).val());
            //        }
            //        else {
            //            $("#txtProductQty_" + slNo).val("");
            //        }
            //    }
            //    var transQty = isNaN(parseFloat($('#txtProductQty_' + slNo).val())) ? 0 : parseFloat($('#txtProductQty_' + slNo).val());
            //    var pweight = GetPackWeight(pid);
            //    var skg = pweight * transQty;
            //    $('#txtProductKg_' + slNo).val(skg.toFixed(2));
            //}
            //if (groupid == 5) {

            //    if (parseFloat($("#txtProductKg_" + slNo).val()) > parseFloat($("#txtStockKg_" + slNo).val())) {
            //        swal("Transfer Kg Not More Than Total Stock Kg");
            //        if (tId > 0) {
            //            $("#txtProductKg_" + slNo).val($("#txtProductKgh_" + slNo).val());
            //        }
            //        else {
            //            $("#txtProductKg_" + slNo).val("");
            //        }
            //    }
            //    var transKg = isNaN(parseFloat($('#txtProductKg_' + slNo).val())) ? 0 : parseFloat($('#txtProductKg_' + slNo).val());
            //    var stdQty = isNaN($('#txtPerKgStdQty_' + slNo).val()) ? 0 : $('#txtPerKgStdQty_' + slNo).val();
            //    var sQty = stdQty * transKg;
            //    $('#txtProductQty_' + slNo).val(sQty.toFixed(2));
            //}



        }

        function TotalQuantityAndKg() {

            var grandTotalQty = 0;
            var grandTotalKg = 0;

            $('#myTable tbody tr').each(function (key, value) {

                var totalQty = $(this).find('.reqQty').val();
                grandTotalQty = parseFloat(grandTotalQty) + parseFloat(totalQty);

                var totalKg = $(this).find('.reqKg').val();
                grandTotalKg = parseFloat(grandTotalKg) + parseFloat(totalKg)

            });
            $('#grandTotalQty').text(isNaN(grandTotalQty) ? "" : grandTotalQty);
            $('#grandTotalKg').text(isNaN(grandTotalKg) ? "" : grandTotalKg);
        }

        function LoadItemDescription() {


            @*var urlpath = '@Url.Action("GetStockedProductByWarehouseAndGroup", "StockTransfer")';*@
            var urlpath = '@Url.Action("GetStockedProductByWarehouseAndGroup5_6", "StockTransfer")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                //data: { warehouseId: $("#ddlWarehouseFrom").val(), groupId: $("#ddlProductGroup").val() },
                data: { warehouseId: $("#ddlWarehouseFrom").val() },
                async: false,
                success: function (data) {

                    debugger;
                    $.each(data, function (key, value) {

                        if ($.inArray(value.ProductId, AllProductList) == -1) {


                            AllProductList[value.ProductId] = value;

                        }

                    });
                    // AllProductList = data;
                }
            });
        }

        function AddRow() {

            var tr = $('#myTable tbody tr').length + 1;
            var ddlName = 'dllProduct_' + tr;
            var urlpath = '@Url.Action("GetAddRow", "StockTransfer")';
            $.ajax({
                url: urlpath,
                dataType: 'HTML',
                type: "Get",
                data: { tr: tr },
                async: false,
                success: function (data) {

                    $('#myTable tbody').append(data);
                    LoadProductList(ddlName);


                }
            });
        }

        function RemoveRow(trId) {
            if (($('#myTable tbody tr').length) > 1) {
                $('#tr_' + trId + '').remove();
            }
            TotalQuantityAndKg();
        }

        function LoadProductList(elementId) {
            debugger;

            var array = [];
            var rowCount = $('#myTable tbody tr').length;
            for (let count = 1; count < rowCount; count++) {
                array.push(parseInt($("#dllProduct_" + count).val()));
            };

            $('#' + elementId + '').append("<option value='0'>--Select Iitem--</option>");


            $.each(AllProductList, function (key, value) {
                if ($.inArray(AllProductList[key].ProductId, array) == -1) {
                    debugger;

                    $('#' + elementId + '').append($("<option></option>").val(AllProductList[key].ProductId).html(AllProductList[key].ProductName));

                }
            });
            $('#' + elementId + '').select2();
        }

        function SaveFinal() {

            if (SaveValidation()) {
                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveTransferRequisition();

                });
            }



        }


        function SaveTransferRequisition() {

            var input = $('#issueBy').val();
            var fields = input.split(':');
            var empId = fields[0];


            var jsonData = {};
            jsonData["StockTransferReqMasterId"] = parseInt($('#TransferId').val());
            jsonData["CompanyId"] = parseInt($('#ddlCompany').val());
            jsonData["FromWarehouseId"] = parseInt($('#ddlWarehouseFrom').val());
            jsonData["ToWarehouseId"] = parseInt($('#ddlWarehouseTo').val());
            jsonData["FromLocationId"] = parseInt($('#ddlLocationFrom').val());
            jsonData["ToLocationId"] = parseInt($('#ddlLocationFrom').val());
            jsonData["RequisitionBy"] = empId;
            jsonData["RequisitionDate"] = $('#deliveryDate').val();
            jsonData["ExpectedDeliveryDate"] = $('#deliveryDate').val();
            jsonData["Remarks"] = $('#txtRemarks').val();
            jsonData["VehicleId"] = 6;
            jsonData["InternalTransferCommentId"] = parseInt($('#ddlInternalComment').val());
            jsonData["IsInterSTO"] = true;
            //jsonData["VehicleId"] = $('#ddlVehicleNo').val();
            //jsonData["DriverName"] = $('#txtDriverName').val();
            //jsonData["DriverMobile"] = $('#txtMobile').val();
            //jsonData["GroupId"] = parseInt($('#ddlProductGroup').val());
            //changed by shahadat- remove group select
            jsonData["GroupId"] = 0;
            var jsonList = [];
            var rowCount = $('#myTable tbody tr').length;

            for (var i = 1; i <= rowCount; i++) {


                var jsonobj = {};

                jsonobj["StockTransferReqDetailsId"] = parseInt($("#details_" + i + "").val());
                jsonobj["ProductId"] = parseInt($("#dllProduct_" + i + "").val());
                jsonobj["RequisitionQuantity"] = parseFloat($("#txtProductQty_" + i + "").val());
                jsonobj["RequisitionKg"] = parseFloat($("#txtProductKg_" + i + "").val());
                jsonobj["Remarks"] = $("#txtRemarks_" + i + "").val();
                jsonList.push(jsonobj);
            }
            jsonData["StockTransferReqDetails"] = jsonList;


            var urlpath = '@Url.Action("SaveInternalStockTransfer", "StockTransfer")';

            $.ajax({

                contentType: "application/json",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "POST"
            })
                .success(function (result) {

                    if (result.isSuccess == true) {

                        swal("SucessFull");

                        swal({
                            title: 'Transfered Successfully',
                            type: 'success',
                            closeOnCancel: true

                        },
                            function () {
                                window.location.href = '@Url.Action("InternalStockTransferList", "StockTransfer")';


                            });


                    }
                });
        }




        function SaveValidation() {
            var isValid = true;

            if ($('#ddlCompany').val() == 0 || $('#ddlCompany').val() == '') {
                ValidationColorChangeNew('ddlCompany', 'divCompany', 'Select Company', true);
                isValid = false;
            }


            if ($('#issueBy').val() == 0 || $('#issueBy').val() == '') {
                ValidationColorChangeNew('issueBy', 'divIssueBy', 'input requisition by ?', true);
                isValid = false;
            }

            if ($('#ddlLocationFrom').val() == 0 || $('#ddlLocationFrom').val() == '') {
                ValidationColorChangeNew('ddlLocationFrom', 'divDdlLocationFrom', 'Select location Of transfer', true);
                isValid = false;
            }
            //if ($('#ddlLocationTo').val() == 0 || $('#ddlLocationTo').val() == '') {
            //    ValidationColorChangeNew('ddlLocationTo', 'divDdlLocationTo', 'Select location Of Receive', true);
            //    isValid = false;
            //}

            if ($('#ddlWarehouseFrom').val() == 0 || $('#ddlWarehouseFrom').val() == '') {
                ValidationColorChangeNew('ddlWarehouseFrom', 'divDdlWarehouseFrom', 'Select Warehouse from transfer', true);
                isValid = false;
            }
            if ($('#ddlWarehouseTo').val() == 0 || $('#ddlWarehouseTo').val() == '') {
                ValidationColorChangeNew('ddlWarehouseTo', 'divDdlWarehouseTo', 'Select Warehouse of receive', true);
                isValid = false;
            }
            //if ($('#reqIssueDate').val() == 0 || $('#reqIssueDate').val() == '') {
            //    ValidationColorChangeNew('reqIssueDate', 'divReqIssueDate', 'Input Requisition Date', true);
            //    isValid = false;
            //}

            if ($('#deliveryDate').val() == 0 || $('#deliveryDate').val() == '') {
                ValidationColorChangeNew('deliveryDate', 'divExpTransferDate', 'Input Expected Transfer Date', true);
                isValid = false;
            }
            if ($('#ddlWarehouseFrom').val() == $('#ddlWarehouseTo').val()) {
                ValidationColorChangeNew('ddlWarehouseTo', 'divDdlWarehouseTo', 'Select Right Warehouse of receive', true);
                isValid = false;
            }
            if ($('#ddlInternalComment').val() == 0 || $('#ddlInternalComment').val() == '') {
                ValidationColorChangeNew('ddlInternalComment', 'divInternalComment', 'Select Internal STO Comments', true);
                isValid = false;
            }

            if ($('#txtRemarks').val() == null || $('#txtRemarks').val() == '') {
                ValidationColorChangeNew('txtRemarks', 'divRemarks', 'Remarks Required', true);
                isValid = false;
            }

            //if ($('#txtDriverName').val() == 0 || $('#txtDriverName').val() == '') {
            //    ValidationColorChangeNew('txtDriverName', 'divDriver', 'Input Driver Name', true);
            //    isValid = false;
            //}
            //if ($('#txtMobile').val() == 0 || $('#txtMobile').val() == '') {
            //    ValidationColorChangeNew('txtMobile', 'divDriverMobile', 'Input Mobile', true);
            //    isValid = false;
            //}

            //if ($('#ddlProductGroup').val() == null || $('#ddlProductGroup').val() == '') {
            //    ValidationColorChangeNew('ddlProductGroup', 'divDdlProductGroup', 'Product Group Required', true);
            //    isValid = false;
            //}
            var rowCount = $('#myTable tbody tr').length;

            for (var i = 0; i < rowCount; i++) {

                var item = i + 1;
                if ($("#dllProduct_" + item).val() == 0 || $("#dllProduct_" + item).val() == '') {
                    isValid = false;
                    message = "Select a Product";
                    $('#dllProduct_' + item).css('border-bottom', '2px solid red');
                    //return;
                }
                if ($("#txtProductQty_" + item).val() == 0 || $("#txtProductQty_" + item).val() == '' && $("#ddlProductGroup").val() != 7) {
                    isValid = false;
                    message = "Input the Transfer Quantity";
                    $('#txtProductQty_' + item).css('border-bottom', '2px solid red');
                    //return;

                }
                if ($("#txtProductKg_" + item).val() == 0 || $("#txtProductKg_" + item).val() == '') {
                    isValid = false;
                    message = "Input the Transfer Kg";
                    $('#txtProductKg_' + item).css('border-bottom', '2px solid red');
                    //return;



                }

            }

            if (isValid == false) {
                ShowMessage("Some Values Required");
            }
            return isValid;

        }




    </script>
}

