﻿@using System.Web.Configuration
@using CrystalDecisions.ReportAppServer.ReportDefModel
@model IEnumerable<IGFoodProject.Models.StockTransferReqMaster>

@{
    ViewBag.Title = "Internal Stock Transfer List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <div class="container-fluid">
  
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">

                      

                        <h3 class="card-title">
                            <span class="fa fa-list"></span> Internal Stock Transfer List
                        </h3>
                        <div class="float-right btn btn-outline-warning">
                            <a  href="@Url.Action("InternalStockTransferEntry", "StockTransfer", new {id = 0})">

                                <span class="fa fa-plus"></span> Internal Stock Transfer

                            </a>
                        </div>

                    </div>
                   
                    <div class="card-body">
                        <div class="row">
                            @*<div class="col-md-3">
                                <div class="form-group" id="divFromDate">
                                    <label for="txtFromDate">Requisition Date</label>
                                    <input type="text" id="txtFromDate" class="form-control"  autocomplete="off"/>
                                </div>
                            </div>*@
                            <div class="col-md-3">
                                <div class="form-group" id="divFromDate">
                                    <label for="fromDate">From Date<span class="text-danger"> *</span></label>
                                    <input type="text" class="form-control datepicker" style="width: 100%;" id="fromDate" onchange="NextDate()" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divToDate">
                                    <label for="toDate">To Date<span class="text-danger"> *</span></label>
                                    <input type="text" class="form-control datepicker" style="width: 100%;" id="toDate" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                
                                    <button style="margin-left: 27px; margin-top: 12px;" class="btn btn-primary" onclick="ShowReport()">Search</button>
                                
                            </div>

                        </div>

                    </div>
                    
                    <!-- form start -->
                 
                       
                        <div class="card-body">
                            <div class="row">
                                <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Requisition No.</th>
                                            <th>Requisition Date</th>
                                            <th>Expected Delivery Date</th>
                                           
                                            @*<th>Company</th>
                                            <th>Location</th>*@
                                            <th>From Warehouse</th>
                                            <th>To Warehouse</th>
                                            <th>Total Requisition Quantity</th>
                                            <th>Total Requisition Kg </th>
                                            <th>Comments</th>
                                            <th>Requisition By</th>
                                            @*<th>Action</th>*@

                                        </tr>
                                    </thead>
                                    <tbody id="manuallist">
                                        @{ int count = 1;}
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@count</td>
                                                <td>@item.RequisitionNo</td>
                                                <td>@Convert.ToDateTime(item.RequisitionDate).ToString("dd-MMM-yyyy")</td>
                                                <td>@Convert.ToDateTime(item.ExpectedDeliveryDate).ToString("dd-MMM-yyyy")</td>
                                              
                                                @*<td>@item.CompanyName</td>
                                                <td>@item.FromLocation</td>*@
                                                <td>@item.fromWarehouse</td>
                                                <td>@item.ToWarehouse</td>
                                                <td>@item.TotalRequisitionQuantity.ToString("##,###,0.00")</td>
                                                <td>@item.TotalRequisitionKg.ToString("##,###,0.00")</td>
                                                <td>@item.Comment</td>
                                                @*@if (@item.FullPicked == 1)
                                                    {
                                                        <td> Full Picked</td>
                                                       

                                                    }*@
                                                <td>@item.RequisitionBy</td>
                                            </tr>
                                            count++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                </div>

           
    </div><!-- /.container-fluid -->

</section>

<div class="modal fade" id="viewModal" role="dialog">
    <div class="modal-dialog modal-lg" style="max-width: 100% !important">
        <div class="modal-content">
            <div class="modal-header">

            </div>
            <div class="modal-body" id="containerDetails">

            </div>
            <div class="modal-footer">
                <input type="text" style="display:none;" id="eid" />
                <button type="button" class="btn btn-danger" id="clsButton" data-dismiss="modal">Close</button><button type="button" class="btn btn-primary" id="clsEdit" onclick="GoToDo($('#eid').val())">Edit</button>
            </div>
        </div>
    </div>
</div>



@section Scripts
{
    <script type="text/javascript">


        $(document).ready(function () {
            //LoadDate_C('#txtFromDate');
           

        });


        NextDate = () => {
            debugger;
            var currentDate = $("#fromDate").val();
            var a = Date.parse(currentDate).addDays(1).toString("dd-MMM-yyyy");
            $("#toDate").val(a);
        }

        function ShowReport() {
            //var requisitionDate='';
            
            //if ($('#txtFromDate').val() == "") {
            //    swal("Please input Requisition date");
            //    return;
            //}
            //else {
            //    requisitionDate = $('#txtFromDate').val();
            //}

            if (($('#fromDate').val() == 0 || $('#fromDate').val() == '')) {
                ValidationColorChangeNew('fromDate', 'divDelivaryDate', 'Please Select From Date', true);
                return;
            }

            if ($('#toDate').val() == 0 || $('#toDate').val() == '') {
                ValidationColorChangeNew('toDate', 'divToDate', 'Please Select To Date', true);
                return;
            }
            var fromDate = $("#fromDate").val();
            var toDate = $("#toDate").val();

            var urlpath = '@Url.Action("InternalStockTransferList_Search", "StockTransfer")';
            $.ajax({
                url: urlpath,
                dataType: 'html',
                type: "Get",
                data: { fromDate: fromDate, toDate: toDate },
                async: false,
                success: function (data) {

                    data = JSON.parse(data);
                    if (data.length > 0) {



                        var row = "";
                        var count = 1;
                        $("#manuallist").html("");

                        var count=1;
                        $.each(data, function (index, item) {



                            row += "<tr>";
                            row += "<td style='text-align:center'>" + count + "</td>";
                            row += "<td style='text-align:center'>" + item.RequisitionNo + "</td>";
                            row += "<td style='text-align:center'>" + ToJavaScriptDate(item.RequisitionDate) + "</td>";
                            row += "<td style='text-align:center'>" + ToJavaScriptDate(item.ExpectedDeliveryDate) + "</td>";
                        
                            //row += "<td style='text-align:center'>" + item.CompanyName + "</td>";
                            //row += "<td style='text-align:center'>" + item.FromLocation + "</td>";
                            row += "<td style='text-align:center'>" + item.fromWarehouse + "</td>";
                            row += "<td style='text-align:center'>" + item.ToWarehouse + "</td>";
                            row += "<td style='text-align:center'>" + item.TotalRequisitionQuantity + "</td>";
                            row += "<td style='text-align:center'>" + item.TotalRequisitionKg + "</td>";
                            row += "<td style='text-align:center'>" + item.Comment + "</td>";
                            row += "<td style='text-align:center'>" + item.RequisitionBy + "</td>";
                           //if(item.FullPicked==1){
                           //    row += "<td>Full Picked</td>";
                           // }
                           // else{
                                       
                           //    // row += "<td style='text-align:center'><a class='btn btn-sm btn-warning' type='button' onclick='GoToDo(" + item.StockTransferReqMasterId + ")'>Edit</a></td>";

                           // }

                            row += "</tr>";
                            count = count + 1;

                        });
                        $("#manuallist").html(row);
                    }
                }
            });
                        }


                        function GoToDo(soId) {
                            window.location = "@Url.Action("StockTransferEntry", "StockTransfer")" + "?id=" + soId ;
                        }



      



       

        
        

    </script>



    
}
