﻿
@{
    ViewBag.Title = "StockTransferIssueEntry";
}

@using IGFoodProject.Models
@model Tuple<IEnumerable<CompanyInformation>, IEnumerable<Location>, IEnumerable<tbl_ProductGroup>>
@{
    ViewBag.Title = "StockTransferEntry";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="row">

                            <div class="col-md-6">

                                <h3 class="card-title">

                                    <span class="">  Stock Transfer Order (STO) Issue</span>

                                </h3>

                            </div>

                            <div class="col-md-6 text-right">
                                <a class="btn btn-outline-warning" href="@Url.Action("StockTransferListForIssue", "StockTransfer", new {id = 0})">
                                    <span class="fa fa-list"></span> Stock Transfer Issue List
                                </a>

                            </div>
                        </div>




                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-md-3" id="divCompany">
                                <label>Company <span class="text-danger"> * </span></label>
                                <select class="form-control select2" id="ddlCompany" disabled style="width: 100%;">
                                    <option value="0">--Select Company--</option>
                                    @foreach (CompanyInformation item in Model.Item1)
                                    {
                                        <option value="@item.CompanyId">@item.CompanyName</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-3" id="divVehicleNo">
                                <label for="ddlVehicleNo">Vehicle No</label>
                                <select class="form-control" id="ddlVehicleNo" disabled></select>
                            </div>
                            <div class="form-group col-md-3" id="divDriver">
                                <label for="txtDriverName">Driver Name</label>
                                <input class="form-control" id="txtDriverName" disabled type="text" />
                            </div>
                            <div class="form-group col-md-3" id="divDriverMobile">
                                <label for="txtMobile">Driver Mobile</label>
                                <input class="form-control" id="txtMobile" disabled type="text" />
                            </div>

                            <div class="form-group col-md-3" id="divDdlLocationFrom">
                                <label>From Location <span class="text-danger"> * </span></label>
                                <select class="form-control select2" id="ddlLocationFrom" disabled style="width: 100%;">
                                    <option value="0">--Select Location--</option>
                                    @foreach (Location item in Model.Item2)
                                    {
                                        <option value="@item.LocationId">@item.LocationName</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-3" id="divDdlWarehouseFrom">
                                <label>From WareHouse<span class="text-danger"> * </span></label>
                                <select class="form-control select2" id="ddlWarehouseFrom" disabled style="width: 100%;"></select>
                            </div>
                            <div class="form-group col-md-3" id="divDdlLocationTo">
                                <label>To Location<span class="text-danger"> * </span></label>
                                <select class="form-control select2" id="ddlLocationTo" disabled style="width: 100%;">
                                    <option value="0">--Select Location--</option>
                                    @foreach (Location item in Model.Item2)
                                    {
                                        <option value="@item.LocationId">@item.LocationName</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-3" id="divDdlWarehouseTo">
                                <label>To WareHouse<span class="text-danger"> * </span></label>
                                <select class="form-control select2" id="ddlWarehouseTo" disabled style="width: 100%;"></select>
                            </div>
                            <div class="form-group col-md-3" id="divReqIssueDate">
                                <label for="reqIssueDate">Requisition Date <span class="text-danger"> * </span></label>
                                <input type="text" class="form-control datepicker" disabled id="reqIssueDate" />
                            </div>
                            <div class="form-group col-md-3" id="divExpTransferDate">
                                <label for="deliveryDate">Delivery Date</label>
                                <input type="text" class="form-control datepicker" id="deliveryDate" />
                            </div>

                            <div class="form-group col-md-3" id="divIssueBy">
                                <label for="issueBy">Issue By <span class="text-danger"> * </span></label>
                                <input type="text" class="form-control " id="issueBy" />
                                <input type="number" class="form-control" id="empId" style="display:none;" />
                            </div>
                            <div class="form-group col-md-3">
                                <div class="form-group" id="divRemarks">
                                    <label for="txtRemarks ">Comments </label>
                                    <input type="text" class="form-control" id="txtRemarks" />
                                </div>
                            </div>
                            <div class="form-group col-md-3" id="divDdlProductGroup">
                                @*<label>Product Group <span class="text-danger"> * </span></label>
                                    <select class="form-control select2" id="ddlProductGroup" disabled style="width: 100%;">
                                        <option value="0">--Select Producr Group--</option>
                                        @foreach (tbl_ProductGroup item in Model.Item3)
                                        {
                                            <option value="@item.GroupId">@item.GroupName</option>
                                        }
                                    </select>*@
                            </div>
                        </div>


                        <br />
                        <div class="row">

                            <div class="col-md-12">
                                <table id="myTable" class="table table-bordered">
                                    <thead>
                                        <tr style="background-color: aliceblue">
                                            <th>Check</th>
                                            <th>#SL</th>
                                            <th>Item Description</th>
                                            <th>Stock Qty</th>
                                            <th>Stock Kg</th>
                                            <th>Transfer Qty</th>
                                            <th>Transfer Kg</th>
                                            <th>Already Issue Qty</th>
                                            <th>Already issue Kg</th>
                                            <th>Issue Qty</th>
                                            <th>Issue Kg</th>
                                            <th>Remarks</th>
                                            @*<th>Action</th>*@
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                    <tfoot>
                                        <tr style="background-color: aliceblue;">
                                            <th colspan="4" style="text-align:right;">Total:</th>
                                            <th id="tgrandTotalQty"></th>
                                            <th id="tgrandTotalKg"></th>
                                            <th id="agrandTotalQty"></th>
                                            <th id="agrandTotalKg"></th>
                                            <th id="grandTotalQty"></th>
                                            <th id="grandTotalKg"></th>
                                            <th colspan="2"></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>

                        </div>

                    </div>
                    <div class="card-footer">
                        <button class="btn btn-outline-danger  " onclick="location.reload()">Cancel</button>
                        <button type="button" class="btn btn-primary float-right" onclick="SaveFinal()">Submit</button>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </div>
    <input id="TransferId" type="number" style="display: none;" value="@ViewBag.id">
</section>
@section Scripts{
    <script>

        var AllProductList = {};
        $(function() {
            $("#ddlCompany").val("7");
            EmpAutoCom('issueBy', 'empId');
            $("#ddlLocationFrom").on("change",
                function() {
                    var b = $(this).val();
                    //  LoadWareHouse('ddlWarehouseFrom', $(this).val(),3);
                    LoadWareHouse('ddlWarehouseFrom', $(this).val());
                });
            $("#ddlLocationTo").on("change",
                function() {
                    var a = $(this).val();
                    // LoadWareHouse('ddlWarehouseTo', $(this).val(),3);
                    LoadWareHouse('ddlWarehouseTo', $(this).val());
                });
            LoadVehicle('ddlVehicleNo');


            var transferId = $('#TransferId').val();


            if (transferId > 0) {
                GetTransferMaster(transferId);
            }
        });

        function LoadWareHouse(elementId, locid = 0) {


            var urlpath = "/Utility/LoadWareHouseWithMto";
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { locid: locid },
                async: false,
                success: function(data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Warehouse--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].WareHouseId).html(data[i].WareHouseName));
                    }

                }
            });
        }

            function GetTransferMaster(id) {

                var urlpath = '@Url.Action("GetStockTransferMasterForIssue", "StockTransfer")';
                $.ajax({
                    url: urlpath,
                    dataType: 'json',
                    type: "Get",
                    data: { id: id },
                    async: false,
                    success: function(data) {


                        $("#ddlCompany").val(data.CompanyId);
                        $("#issueBy").val(data.RequisitionBy);
                        $("#reqIssueDate").val(ToJavaScriptDate(data.RequisitionDate));

                        $("#deliveryDate").val(ToJavaScriptDate(data.ExpectedDeliveryDate));

                        $("#ddlVehicleNo").val(data.VehicleId);
                        $("#txtDriverName").val(data.DriverName);
                        $("#txtMobile").val(data.DriverMobile);
                        $("#txtRemarks").val(data.Remarks);
                        $("#ddlLocationFrom").val(data.FromLocationId).trigger('change');
                        LoadWareHouse('ddlWarehouseFrom', $("#ddlLocationFrom").val());
                        // LoadWareHouse('ddlWarehouseFrom', $("#ddlLocationFrom").val(), 3);
                        $("#ddlWarehouseFrom").val(data.FromWarehouseId);


                        $("#ddlLocationTo").val(data.ToLocationId).trigger('change');
                        //LoadWareHouse('ddlWarehouseTo', $("#ddlLocationTo").val(), 3);
                        LoadWareHouse('ddlWarehouseTo', $("#ddlLocationTo").val());

                        $("#ddlWarehouseTo").val(data.ToWarehouseId);
                        //$("#ddlProductGroup").val(data.GroupId);

                        LoadItemDescription(id);
                        debugger;
                        for (var i = 0; i < data.StockTransferReqDetails.length; i++) {

                            var tr = $('#myTable tbody tr').length + 1;
                            AddRow();

                            $("#dllProduct_" + tr).val(data.StockTransferReqDetails[i].ProductId).trigger('change');
                            $('#txtProductQty_' + tr).val(data.StockTransferReqDetails[i].RequisitionQuantity.toFixed(2));
                            $('#txtProductKg_' + tr).val(data.StockTransferReqDetails[i].RequisitionKg.toFixed(2));
                            $('#txtRemarks_' + tr).val(data.StockTransferReqDetails[i].Remarks);

                            $('#details_' + tr).val(data.StockTransferReqDetails[i].StockTransferReqDetailsId);

                            $('#txtAIssueQty_' + tr).val(data.StockTransferReqDetails[i].AIssueQty.toFixed(2));
                            $('#txtAIssueKg_' + tr).val(data.StockTransferReqDetails[i].AIssueKg.toFixed(2));

                            $('#txtIssueQty_' + tr).val(data.StockTransferReqDetails[i].IssueQty.toFixed(2));
                            $('#txtIssueKg_' + tr).val(data.StockTransferReqDetails[i].IssueKg.toFixed(2));


                            $('#txtIssueQtyh_' + tr).val(data.StockTransferReqDetails[i].IssueQty.toFixed(2));
                            $('#txtIssueKgh_' + tr).val(data.StockTransferReqDetails[i].IssueKg.toFixed(2));

                            $('#txtComPercent_' + tr).val(data.StockTransferReqDetails[i].ComPercent.toFixed(2));
                            $('#txtMRP_' + tr).val(data.StockTransferReqDetails[i].MRP.toFixed(2));
                            $("#txtGroupId_" + tr).val(data.StockTransferReqDetails[i].GroupId);


                            if (data.StockTransferReqDetails[i].GroupId == 5) {
                                $('#txtIssueKg_' + tr).prop('disabled', false);
                                $('#txtIssueQty_' + tr).prop('disabled', true);
                            }
                            if (data.StockTransferReqDetails[i].GroupId == 6) {
                                $('#txtIssueKg_' + tr).prop('disabled', true);
                                $('#txtIssueQty_' + tr).prop('disabled', false);
                            }


                        }


                        TotalQuantityAndKg();

                    }
                });
            }

            function SetStockQuantity(slNo) {
                var id = $("#dllProduct_" + slNo).val();

                $("#txtStockQty_" + slNo).val(AllProductList[id]['StockQuantity']);
                $("#txtStockKg_" + slNo).val(AllProductList[id]['StockKg'])
            }

            function CheckStockQuantity(slNo, pid) {

                var tId = $('#ddlProductGroup').val();

                var issueqty = parseFloat(isNaN($("#txtAIssueQty_" + slNo).val()) ? "0" : $("#txtAIssueQty_" + slNo).val()) + parseFloat(isNaN($("#txtIssueQty_" + slNo).val()) ? "0" : $("#txtIssueQty_" + slNo).val());
                var issueqtyh = (isNaN($("#txtIssueQtyh_" + slNo).val()) ? "0" : $("#txtIssueQtyh_" + slNo).val());

                var issueKg = parseFloat(isNaN($("#txtAIssueKg_" + slNo).val()) ? "0" : $("#txtAIssueKg_" + slNo).val()) + parseFloat(isNaN($("#txtIssueKg_" + slNo).val()) ? "0" : $("#txtIssueKg_" + slNo).val());
                var issueKgh = (isNaN($("#txtIssueKgh_" + slNo).val()) ? "0" : $("#txtIssueKgh_" + slNo).val());

                var urlpath = '@Url.Action("GetGroupByProduct", "StockTransfer")';
                $.ajax({
                    url: urlpath,
                    data: { id: pid },
                    dataType: 'json',
                    type: "Get",

                    async: false,
                    success: function(data) {
                        var tId = data.GroupId;

                        if (tId == 5) {
                            if (parseFloat(issueqty) > parseFloat($("#txtProductQty_" + slNo).val())) {
                                swal("Issue Quantity Not More Than Transfer Quantity");
                                $("#txtIssueQty_" + slNo).val(issueqtyh);

                                return;
                            }
                            if (parseFloat(issueqty) > parseFloat($("#txtStockQty_" + slNo).val())) {
                                swal("Issue Quantity Not More Than Stock Quantity");
                                $("#txtIssueQty_" + slNo).val(issueqtyh);

                                return;
                            }

                            if (parseFloat(issueKg) > parseFloat($("#txtProductKg_" + slNo).val())) {
                                swal("Issue Kg Not More Than Transfer Kg");
                                $("#txtIssueKg_" + slNo).val(issueKgh);
                                return;
                            }
                            if (parseFloat(issueKg) > parseFloat($("#txtStockKg_" + slNo).val())) {
                                swal("Issue Kg Not More Than Stock Kg");
                                $("#txtIssueKg_" + slNo).val(issueKgh);
                                return;
                            }
                        } else if (tId == 7) {
                            if (parseFloat(issueKg) > parseFloat($("#txtProductKg_" + slNo).val())) {
                                swal("Issue Kg Not More Than Transfer Kg");
                                $("#txtIssueKg_" + slNo).val(issueKgh);
                                return;
                            }
                            if (parseFloat(issueKg) > parseFloat($("#txtStockKg_" + slNo).val())) {
                                swal("Issue Kg Not More Than Stock Kg");
                                $("#txtIssueKg_" + slNo).val(issueKgh);
                                return;
                            }
                        } else {
                            if (parseFloat(issueqty) > parseFloat($("#txtProductQty_" + slNo).val())) {
                                swal("Issue Quantity Not More Than Transfer Quantity");
                                $("#txtIssueQty_" + slNo).val(issueqtyh);
                                $("#txtIssueKg_" + slNo).val(issueKgh);

                                return;
                            } else {
                                var pid = $('#dllProduct_' + slNo).val();
                                var saleQty = isNaN(parseFloat($("#txtIssueQty_" + slNo).val())) ? 0 : parseFloat($("#txtIssueQty_" + slNo).val());
                                var pweight = GetPackWeight(pid);
                                var skg = pweight * saleQty;
                                $('#txtIssueKg_' + slNo).val(skg.toFixed(2));

                            }
                            if (parseFloat(issueqty) > parseFloat($("#txtStockQty_" + slNo).val())) {
                                swal("Issue Quantity Not More Than Stock Quantity");
                                $("#txtIssueQty_" + slNo).val(issueqtyh);

                                return;
                            }

                            if (parseFloat(issueKg) > parseFloat($("#txtProductKg_" + slNo).val())) {
                                swal("Issue Kg Not More Than Transfer Kg");
                                $("#txtIssueKg_" + slNo).val(issueKgh);
                                return;
                            }
                            if (parseFloat(issueKg) > parseFloat($("#txtStockKg_" + slNo).val())) {
                                swal("Issue Kg Not More Than Stock Kg");
                                $("#txtIssueKg_" + slNo).val(issueKgh);
                                return;
                            }

                        }

                    }
                });

                //if (tId == 5)
                //{
                //    if (parseFloat(issueqty) > parseFloat($("#txtProductQty_" + slNo).val())) {
                //        swal("Issue Quantity Not More Than Transfer Quantity");
                //        $("#txtIssueQty_" + slNo).val(issueqtyh);

                //        return;
                //    }
                //    if (parseFloat(issueqty) > parseFloat($("#txtStockQty_" + slNo).val())) {
                //        swal("Issue Quantity Not More Than Stock Quantity");
                //        $("#txtIssueQty_" + slNo).val(issueqtyh);

                //        return;
                //    }

                //    if (parseFloat(issueKg) > parseFloat($("#txtProductKg_" + slNo).val())) {
                //        swal("Issue Kg Not More Than Transfer Kg");
                //        $("#txtIssueKg_" + slNo).val(issueKgh);
                //        return;
                //    }
                //    if (parseFloat(issueKg) > parseFloat($("#txtStockKg_" + slNo).val())) {
                //        swal("Issue Kg Not More Than Stock Kg");
                //        $("#txtIssueKg_" + slNo).val(issueKgh);
                //        return;
                //    }
                //}
                //else if (tId == 7)
                //{
                //    if (parseFloat(issueKg) > parseFloat($("#txtProductKg_" + slNo).val())) {
                //        swal("Issue Kg Not More Than Transfer Kg");
                //        $("#txtIssueKg_" + slNo).val(issueKgh);
                //        return;
                //    }
                //    if (parseFloat(issueKg) > parseFloat($("#txtStockKg_" + slNo).val())) {
                //        swal("Issue Kg Not More Than Stock Kg");
                //        $("#txtIssueKg_" + slNo).val(issueKgh);
                //        return;
                //    }
                //}
                //else {
                //    if (parseFloat(issueqty) > parseFloat($("#txtProductQty_" + slNo).val())) {
                //        swal("Issue Quantity Not More Than Transfer Quantity");
                //        $("#txtIssueQty_" + slNo).val(issueqtyh);
                //        $("#txtIssueKg_" + slNo).val(issueKgh);

                //        return;
                //    }
                //    else {
                //        var pid = $('#dllProduct_' + slNo).val();
                //        var saleQty = isNaN(parseFloat($("#txtIssueQty_" + slNo).val())) ? 0 : parseFloat($("#txtIssueQty_" + slNo).val());
                //        var pweight = GetPackWeight(pid);
                //        var skg = pweight * saleQty;
                //        $('#txtIssueKg_' + slNo).val(skg.toFixed(2));

                //    }
                //    if (parseFloat(issueqty) > parseFloat($("#txtStockQty_" + slNo).val())) {
                //        swal("Issue Quantity Not More Than Stock Quantity");
                //        $("#txtIssueQty_" + slNo).val(issueqtyh);

                //        return;
                //    }

                //    if (parseFloat(issueKg) > parseFloat($("#txtProductKg_" + slNo).val())) {
                //        swal("Issue Kg Not More Than Transfer Kg");
                //        $("#txtIssueKg_" + slNo).val(issueKgh);
                //        return;
                //    }
                //    if (parseFloat(issueKg) > parseFloat($("#txtStockKg_" + slNo).val())) {
                //        swal("Issue Kg Not More Than Stock Kg");
                //        $("#txtIssueKg_" + slNo).val(issueKgh);
                //        return;
                //    }

                //}


            }

            function GetPackWeight(pid) {
                var weight = 0;
                var urlpath = '@Url.Action("PackWeight", "SalesOrderProcess")';
                $.ajax({
                    url: urlpath,
                    data: { pid: pid },
                    dataType: 'json',
                    type: "Get",

                    async: false,
                    success: function(data) {
                        weight = data;

                    }
                });
                return weight;
            }

            function TotalQuantityAndKg() {

                var grandTotalQty = 0;
                var grandTotalKg = 0;


                var grandTotalQty_t = 0;
                var grandTotalKg_t = 0;


                var grandTotalQty_a = 0;
                var grandTotalKg_a = 0;

                $('#myTable tbody tr').each(function(key, value) {

                    var totalQty = $(this).find('.reqQty').val();
                    grandTotalQty = parseFloat(grandTotalQty) + parseFloat(totalQty);

                    var totalKg = $(this).find('.reqKg').val();

                    grandTotalKg = parseFloat(grandTotalKg) + parseFloat(totalKg);


                    var totalQty_t = $(this).find('.tQty').val();
                    grandTotalQty_t = parseFloat(grandTotalQty_t) + parseFloat(totalQty_t);

                    var totalKg_t = $(this).find('.tKg').val();
                    grandTotalKg_t = parseFloat(grandTotalKg_t) + parseFloat(totalKg_t);


                    var totalQty_a = $(this).find('.aQty').val();
                    grandTotalQty_a = parseFloat(grandTotalQty_a) + parseFloat(totalQty_a);

                    var totalKg_a = $(this).find('.aKg').val();
                    grandTotalKg_a = parseFloat(grandTotalKg_a) + parseFloat(totalKg_a);

                });

                $('#grandTotalQty').text(isNaN(grandTotalQty) ? "" : grandTotalQty);
                $('#grandTotalKg').text((isNaN(grandTotalKg) ? "" : grandTotalKg).toFixed(2));


                $('#tgrandTotalQty').text(isNaN(grandTotalQty_t) ? "" : grandTotalQty_t);
                $('#tgrandTotalKg').text(isNaN(grandTotalKg_t) ? "" : grandTotalKg_t);


                $('#agrandTotalQty').text(isNaN(grandTotalQty_a) ? "" : grandTotalQty_a);
                $('#agrandTotalKg').text(isNaN(grandTotalKg_a) ? "" : grandTotalKg_a);
            }

            function LoadItemDescription(stockTransferReqMasterId) {


                var urlpath = '@Url.Action("GetStockedProductById", "StockTransfer")';
                $.ajax({
                    url: urlpath,

                    dataType: 'json',
                    type: "Get",
                    data: { stockTransferReqMasterId: stockTransferReqMasterId },
                    async: false,
                    success: function(data) {

                        $.each(data, function(key, value) {
                            AllProductList[value.ProductId] = value;
                        });

                    }
                });
            }

            function AddRow() {

                var tr = $('#myTable tbody tr').length + 1;
                var ddlName = 'dllProduct_' + tr;
                var urlpath = '@Url.Action("GetAddRow_issue", "StockTransfer")';
                $.ajax({
                    url: urlpath,
                    dataType: 'HTML',
                    type: "Get",
                    data: { tr: tr },
                    async: false,
                    success: function(data) {

                        $('#myTable tbody').append(data);
                        LoadProductList(ddlName);


                    }
                });
            }

            function RemoveRow(trId) {
                if (($('#myTable tbody tr').length) > 1) {
                    $('#tr_' + trId + '').remove();
                }
                TotalQuantityAndKg();
            }

            function LoadProductList(elementId) {


                var array = [];
                var rowCount = $('#myTable tbody tr').length;
                for (let count = 1; count < rowCount; count++) {
                    array.push(parseInt($("#dllProduct_" + count).val()));
                };

                $('#' + elementId + '').append("<option value='0'>--Select Iitem--</option>");


                $.each(AllProductList, function(key, value) {
                    if ($.inArray(AllProductList[key].ProductId, array) == -1) {


                        $('#' + elementId + '').append($("<option></option>").val(AllProductList[key].ProductId).html(AllProductList[key].ProductName));

                    }
                });

            }

            function SaveFinal() {

                if (SaveValidation()) {
                    swal({
                        title: "Are you sure?",
                        text: "",
                        type: "success",
                        showCancelButton: true,
                        cancelButtonClass: 'btn-secondary waves-effect',
                        confirmButtonClass: 'btn-success waves-effect waves-light',
                        confirmButtonText: 'Yes!',
                        closeOnConfirm: false

                    }, function() {
                        $('.confirm').prop("disabled", true);
                        $('.cancel').prop("disabled", true);
                        SaveTransferRequisition();

                    });
                }


            }


            function SaveTransferRequisition() {
                debugger;
                var input = $('#issueBy').val();
                var fields = input.split(':');
                var empId = fields[0];


                var jsonData = {};
                jsonData["StockTransferIssueMasterId"] = 0;
                jsonData["StockTransferReqMasterId"] = parseInt($('#TransferId').val());
                jsonData["CompanyId"] = parseInt($('#ddlCompany').val());
                jsonData["FromWarehouseId"] = parseInt($('#ddlWarehouseFrom').val());
                jsonData["ToWarehouseId"] = parseInt($('#ddlWarehouseTo').val());
                jsonData["FromLocationId"] = parseInt($('#ddlLocationFrom').val());
                jsonData["ToLocationId"] = parseInt($('#ddlLocationTo').val());
                jsonData["IssueBy"] = empId;
                jsonData["DeliveryDate"] = $('#deliveryDate').val();

                jsonData["Remarks"] = $('#txtRemarks').val();

                jsonData["VehicleId"] = $('#ddlVehicleNo').val();
                jsonData["DriverName"] = $('#txtDriverName').val();
                jsonData["DriverMobile"] = $('#txtMobile').val();
                //  jsonData["GroupId"] = parseInt($('#ddlProductGroup').val());
                jsonData["GroupId"] = 0;
                var jsonList = [];
                var rowCount = $('#myTable tbody tr').length;

                for (var i = 1; i <= rowCount; i++) {
                    debugger;
                    var check = $('#chk_' + i).is(":checked");
                    if (check == true) {

                        var jsonobj = {};
                        jsonobj["StockTransferIssueDetailsId"] = 0;
                        jsonobj["StockTransferReqDetailsId"] = parseInt($("#details_" + i + "").val());
                        jsonobj["StockTransferReqMasterId"] = parseInt($('#TransferId').val());
                        jsonobj["ProductId"] = parseInt($("#dllProduct_" + i + "").val());
                        jsonobj["RequisitionQuantity"] = parseFloat($("#txtProductQty_" + i + "").val());
                        jsonobj["RequisitionKg"] = parseFloat($("#txtProductKg_" + i + "").val());

                        jsonobj["IssueQty"] = parseFloat($("#txtIssueQty_" + i + "").val());
                        jsonobj["IssueKg"] = parseFloat($("#txtIssueKg_" + i + "").val());
                        jsonobj["Remarks"] = $("#txtRemarks_" + i + "").val();

                        var issueQty = isNaN(parseFloat($("#txtIssueQty_" + i + "").val())) ? 0 : parseFloat($("#txtIssueQty_" + i + "").val());
                        var issueKG = isNaN(parseFloat($("#txtIssueKg_" + i + "").val())) ? 0 : parseFloat($("#txtIssueKg_" + i + "").val());
                        var mrp = isNaN(parseFloat($("#txtMRP_" + i + "").val())) ? 0 : parseFloat($("#txtMRP_" + i + "").val());
                        var com = isNaN(parseFloat($("#txtComPercent_" + i + "").val())) ? 0 : parseFloat($("#txtComPercent_" + i + "").val());
                        var groupId = isNaN(parseFloat($("#txtGroupId_" + i + "").val())) ? 0 : parseFloat($("#txtGroupId_" + i + "").val());


                        var comAmo = 0;
                        var issueAmount = 0;
                        var comissionAmount = 0;
                        if (com > 0) {
                            comAmo = (com * mrp) / 100;

                        }
                        if (groupId == 5) {
                            issueAmount = issueKG * mrp;
                            comissionAmount = issueKG * comAmo;
                        }
                        if (groupId == 6) {
                            issueAmount = issueQty * mrp;
                            comissionAmount = issueQty * comAmo;
                        }

                        jsonobj["SalesPriceTransfer"] = mrp;
                        jsonobj["IssueAmount"] = issueAmount;
                        jsonobj["Comission"] = com;
                        jsonobj["ComissionAmount"] = comissionAmount;
                        jsonobj["NetAmount"] = issueAmount - comissionAmount;

                        jsonList.push(jsonobj);
                    }

                }

                jsonData["StockTransferReqDetails"] = jsonList;


                var urlpath = '@Url.Action("SaveStockTransferIssue", "StockTransfer")';

                $.ajax({
                    contentType: "application/json",
                    data: JSON.stringify(jsonData),
                    dataType: 'json',
                    url: urlpath,
                    type: "POST"
                })
                    .success(function(result) {

                        if (result.isSuccess == true) {

                            swal("SucessFull");

                            swal({
                                title: 'Issue Successfully',
                                type: 'success',
                                closeOnCancel: true

                            },
                                function() {
                                    window.location.href = '@Url.Action("StockTransferListForIssue", "StockTransfer")';


                                });


                        }
                    });
            }


            function SaveValidation() {
                var isValid = true;
                var message = "";

                if ($('#ddlCompany').val() == 0 || $('#ddlCompany').val() == '') {
                    ValidationColorChangeNew('ddlCompany', 'divCompany', 'Select Company', true);
                    isValid = false;
                }


                if ($('#issueBy').val() == 0 || $('#issueBy').val() == '') {
                    ValidationColorChangeNew('issueBy', 'divIssueBy', 'input requisition by ?', true);
                    isValid = false;
                }

                if ($('#ddlLocationFrom').val() == 0 || $('#ddlLocationFrom').val() == '') {
                    ValidationColorChangeNew('ddlLocationFrom', 'divDdlLocationFrom', 'Select location Of transfer', true);
                    isValid = false;
                }
                if ($('#ddlLocationTo').val() == 0 || $('#ddlLocationTo').val() == '') {
                    ValidationColorChangeNew('ddlLocationTo', 'divDdlLocationTo', 'Select location Of Receive', true);
                    isValid = false;
                }

                if ($('#ddlWarehouseFrom').val() == 0 || $('#ddlWarehouseFrom').val() == '') {
                    ValidationColorChangeNew('ddlWarehouseFrom', 'divDdlWarehouseFrom', 'Select Warehouse from transfer', true);
                    isValid = false;
                }
                if ($('#ddlWarehouseTo').val() == 0 || $('#ddlWarehouseTo').val() == '') {
                    ValidationColorChangeNew('ddlWarehouseTo', 'divDdlWarehouseTo', 'Select Warehouse of receive', true);
                    isValid = false;
                }
                if ($('#reqIssueDate').val() == 0 || $('#reqIssueDate').val() == '') {
                    ValidationColorChangeNew('reqIssueDate', 'divReqIssueDate', 'Input Requisition Date', true);
                    isValid = false;
                }

                if ($('#deliveryDate').val() == 0 || $('#deliveryDate').val() == '') {
                    ValidationColorChangeNew('deliveryDate', 'divExpTransferDate', 'Input Expected Transfer Date', true);
                    isValid = false;
                }
                if ($('#ddlVehicleNo').val() == 0 || $('#ddlVehicleNo').val() == '') {
                    ValidationColorChangeNew('ddlVehicleNo', 'divVehicleNo', 'Select Vehicle', true);
                    isValid = false;
                }

                if ($('#txtDriverName').val() == 0 || $('#txtDriverName').val() == '') {
                    ValidationColorChangeNew('txtDriverName', 'divDriver', 'Input Driver Name', true);
                    isValid = false;
                }
                if ($('#txtMobile').val() == 0 || $('#txtMobile').val() == '') {
                    ValidationColorChangeNew('txtMobile', 'divDriverMobile', 'Input Mobile', true);
                    isValid = false;
                }

                //if ($('#ddlProductGroup').val() == null || $('#ddlProductGroup').val() == '') {
                //    ValidationColorChangeNew('ddlProductGroup', 'divDdlProductGroup', 'Product Group Required', true);
                //    isValid = false;
                //}

                // var tId = $('#ddlProductGroup').val();

                var count = 0;
                count = $('input:checkbox.chkp:checked').length;
                if (count == 0) {
                    isValid = false;
                    message = ("Check atleast one checkbox");
                }

                var rowCount = $('#myTable tbody tr').length;

                for (var i = 0; i < rowCount; i++) {
                    
                    var item = i + 1;
                    var tId = $("#txtGroupId_" + item).val();

                    if ($("#dllProduct_" + item).val() == 0 || $("#dllProduct_" + item).val() == '') {
                        isValid = false;
                        message = "Select a Product";
                        $('#dllProduct_' + item).css('border-bottom', '2px solid red');

                    }


                    if (tId == 6 || tId == 5) {
                        if ($("#txtStockQty_" + item).val() == 0 || $("#txtStockQty_" + item).val() == '') {
                            isValid = false;
                            message = "Stock Quantity can not be 0";
                            $('#txtStockQty_' + item).css('border-bottom', '2px solid red');

                        }
                        if ($("#txtIssueQty_" + item).val() == 0 || $("#txtIssueQty_" + item).val() == '') {
                            isValid = false;
                            message = "Input the Issue Quantity";
                            $('#txtIssueQty_' + item).css('border-bottom', '2px solid red');


                        }
                    }

                    if ($("#txtStockKg_" + item).val() == 0 || $("#txtStockKg_" + item).val() == '') {
                        isValid = false;
                        message = "Stock Kg can not be 0";
                        $('#txtStockKg_' + item).css('border-bottom', '2px solid red');


                    }

                    if ($("#txtIssueKg_" + item).val() == 0 || $("#txtIssueKg_" + item).val() == '') {
                        isValid = false;
                        message = "Input the Transfer Kg";
                        $('#txtIssueKg_' + item).css('border-bottom', '2px solid red');


                    }

                }

                if (isValid == false) {
                    ShowMessage(message);
                }
                return isValid;

            }

            function checkBoxEvent(id) {

                var check = $('#chk_' + id).is(":checked");

                //if (check == true) {
                //    $("#OpeningBalance_" + id).prop('disabled', false);
                //}else
                //{
                //    $("#OpeningBalance_" + id).prop('disabled', true);
                //}

                //var count = 0;
                //count = $('input:checkbox.chkp:checked').length;
                //if (count == 0) {
                //    isValid = false;
                //    message = ("Check atleast one checkbox");
                //}

            }



    </script>
}


