﻿@model IEnumerable<IGFoodProject.Models.StockTransferReqMaster>
@{
    ViewBag.Title = "StockTransferListForIssue";
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">
                        <h3>Stock Transfer List For Isuue</h3>
                    </div>

                    <div class="card-body">
                        <div class="row">

                            <div class="col-md-3">
                                <div class="form-group" id="divFromDate">
                                    <label for="txtFromDate">Delivery Date</label>
                                    <input type="text" id="txtFromDate" class="form-control" autocomplete="off" />
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group" id="divCompany">
                                    <label for="ddlCompany">Company</label>
                                    <select id="ddlCompany" class="form-control select2"></select>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group" id="divVehicle">
                                    <label for="ddlVehicle">Vehicle </label>
                                    <select id="ddlVehicle" class="form-control select2"></select>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group" id="divFromLocation">
                                    <label for="ddlFromLocation">From Location</label>
                                    <select id="ddlFromLocation" class="form-control select2"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divFromWarehouse">
                                    <label for="ddlFromWarehouse">From Warehouse</label>
                                    <select id="ddlFromWarehouse" class="form-control select2"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divToLocation">
                                    <label for="ddlToLocation">To Location</label>
                                    <select id="ddlToLocation" class="form-control select2"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divToWarehouse">
                                    <label for="ddlToWarehouse">To Warehouse</label>
                                    <select id="ddlToWarehouse" class="form-control select2"></select>
                                </div>
                            </div>
                        </div>
                       
                       
                     
                        


                    </div>


                    <div class="card-footer">
                         <button style="margin-left: 27px;" class="btn btn-primary" onclick="ShowReport()"><span class="fa fa-search"></span>Search</button>
                    </div>
                 
                </div>

                <div class="card card-primary">
                    <div class="card-body">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Requisition No.</th>
                                    <th>Requisition Date</th>
                                    <th>Expected Delivery Date</th>


                                    <th>Requisition By</th>
                                    <th>Company</th>
                                    <th>From Location</th>
                                    <th>From Warehouse</th>
                                    <th>To Location</th>
                                    <th>To Warehouse</th>
                                    <th>Total Requisition Quantity</th>
                                    <th>Total Requisition Kg </th>
                                    <th>Total Issue Quantity</th>
                                    <th>Total Issue Kg </th>
                                    <th>Action</th>

                                </tr>
                            </thead>
                            <tbody id="manuallist">
                                @{ int count = 1;}
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>@item.RequisitionNo</td>
                                        <td>@Convert.ToDateTime(item.RequisitionDate).ToString("dd-MMM-yyyy")</td>
                                        <td>@Convert.ToDateTime(item.ExpectedDeliveryDate).ToString("dd-MMM-yyyy")</td>
                                        <td>@item.RequisitionBy</td>
                                        <td>@item.CompanyName</td>
                                        <td>@item.FromLocation</td>

                                        <td>@item.fromWarehouse</td>
                                        <td>@item.ToLocation</td>
                                        <td>@item.ToWarehouse</td>
                                        <td>@item.TotalRequisitionQuantity.ToString("##,###,0.00")</td>
                                        <td>@item.TotalRequisitionKg.ToString("##,###,0.00")</td>

                                        <td>@item.TotalIssueQuantity.ToString("##,###,0.00")</td>
                                        <td>@item.TotalIssueKg.ToString("##,###,0.00")</td>



                                        @if(item.TotalRequisitionQuantity == item.TotalIssueQuantity && item.TotalRequisitionKg == item.TotalIssueKg)
                                        {
                                        <td>
                                            @Html.ActionLink("Issue", "StockTransferIssueEntry", "StockTransfer", new { id = item.StockTransferReqMasterId }, new { @class = "btn btn-sm btn-warning disabled" })
                                        </td>
                                        }
                                        else
                                        {
                                            <td>
                                                @Html.ActionLink("Issue", "StockTransferIssueEntry", "StockTransfer", new { id = item.StockTransferReqMasterId }, new { @class = "btn btn-sm btn-warning" })
                                            </td>
                                        }





                                    </tr>
                                    count++;
                                }
                            </tbody>
                        </table>
                        <span id="nodata" style="display:none;">No Data Found</span>
                    </div>

                </div>

            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->

</section>

<div class="modal fade" id="viewModal" role="dialog">
    <div class="modal-dialog modal-lg" style="max-width: 100% !important">
        <div class="modal-content">
            <div class="modal-header">

            </div>
            <div class="modal-body" id="containerDetails">

            </div>
            <div class="modal-footer">
                <input type="text" style="display:none;" id="eid" />
                <button type="button" class="btn btn-danger" id="clsButton" data-dismiss="modal">Close</button><button type="button" class="btn btn-primary" id="clsEdit" onclick="GoToDo($('#eid').val())">Edit</button>
            </div>
        </div>
    </div>
</div>



@section Scripts
{
    <script type="text/javascript">


        $(document).ready(function () {
            LoadDate_C('#txtFromDate');
            LoadVehicle('ddlVehicle', $('#txtFromDate').val());
            LoadCompany('ddlCompany');
            $("#ddlCompany").val("7");


            LoadLocation('ddlFromLocation', $("#ddlCompany").val());
           
            $("#ddlFromLocation").on("change",
               function () {
                   LoadWareHouse('ddlFromWarehouse', $(this).val());
               });
            $("#ddlToLocation").on("change",
                function () {
                    LoadWareHouse('ddlToWarehouse', $(this).val());
                });
             $("#txtFromDate").on("change",
                 function () {
                     debugger;
                     LoadVehicle('ddlVehicle', $('#txtFromDate').val());
                });


            LoadLocation('ddlToLocation', $("#ddlCompany").val());
            $('#txtFromDate').change(function () {
                var deliveryDate = $(this).val();

                LoadVehicle('ddlVehicle', deliveryDate)
            });
                    

        });


        function LoadVehicle(elementId, deliveryDate) {
            var urlpath = '@Url.Action("LoadVehicle", "StockTransfer")';
            
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { deliveryDate: deliveryDate },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Vehicle No--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].VehicleInfoId).html(data[i].VehicleRegNo));
                    }

                }
            });
        }

        function ShowReport() {
            var issueDate;
            var companyId = 0;
            var fromLocation = 0;
            var fromWarhouse = 0;
            var toLocation = 0;
            var toWarehouse = 0;
            var vehicleId = 0;
            if ($('#txtFromDate').val() == "") {
                swal("Please input delivery date");
                return;
            }
            else {
                issueDate = $('#txtFromDate').val();
            }
            if ($("#ddlCompany").val() == null || $("#ddlCompany").val() == '0')
            {
                companyId = 0;
            }
            else
            {
                companyId = $("#ddlCompany").val();
            }

            if ($("#ddlFromLocation").val() == null || $("#ddlFromLocation").val() == '0') {
                fromLocation = 0;
            }
            else {
                fromLocation = $("#ddlFromLocation").val();
            }


            if ($("#ddlFromWarehouse").val() == null || $("#ddlFromWarehouse").val() == '0') {
                fromWarhouse = 0;
            }
            else {
                fromWarhouse = $("#ddlFromWarehouse").val();
            }

            if ($("#ddlToLocation").val() == null || $("#ddlToLocation").val() == '0') {
                toLocation = 0;
            }
            else {
                toLocation = $("#ddlToLocation").val();
            }

            if ($("#ddlToWarehouse").val() == null || $("#ddlToWarehouse").val() == '0') {
                toWarehouse = 0;
            }
            else {
                toWarehouse = $("#ddlToWarehouse").val();
            }

            if ($("#ddlVehicle").val() == null || $("#ddlVehicle").val() == '0') {
                vehicleId = 0;
            }
            else {
                vehicleId = $("#ddlVehicle").val();
            }


            var urlpath = '@Url.Action("StockTransferListForIssue_Search", "StockTransfer")';
            $.ajax({
                url: urlpath,
                dataType: 'html',
                type: "Get",
                data: { issueDate: issueDate, companyId: companyId, fromLocation: fromLocation, fromWarhouse: fromWarhouse, toLocation: toLocation, toWarehouse: toWarehouse, vehicleId: vehicleId },
                async: false,
                success: function (data) {

                    data = JSON.parse(data);
                    if (data.length > 0) {

                        $("#nodata").hide();

                        var row = "";
                        var count = 1;
                        $("#manuallist").html("");

                        var count=1;
                        $.each(data, function (index, item) {

                           
                            row += "<tr>";
                            row += "<td style='text-align:center'>" + count + "</td>";
                            row += "<td style='text-align:center'>" + item.RequisitionNo + "</td>";
                            row += "<td style='text-align:center'>" + ToJavaScriptDate(item.RequisitionDate) + "</td>";
                            row += "<td style='text-align:center'>" + ToJavaScriptDate(item.ExpectedDeliveryDate) + "</td>";
                            row += "<td style='text-align:center'>" + item.RequisitionBy + "</td>";
                            row += "<td style='text-align:center'>" + item.CompanyName + "</td>";
                            row += "<td style='text-align:center'>" + item.FromLocation + "</td>";
                            row += "<td style='text-align:center'>" + item.fromWarehouse + "</td>";
                            row += "<td style='text-align:center'>" + item.ToLocation + "</td>";
                            row += "<td style='text-align:center'>" + item.ToWarehouse + "</td>";
                            row += "<td style='text-align:center'>" + item.TotalRequisitionQuantity + "</td>";
                            row += "<td style='text-align:center'>" + item.TotalRequisitionKg + "</td>";

                            row += "<td style='text-align:center'>" + item.TotalIssueQuantity + "</td>";
                            row += "<td style='text-align:center'>" + item.TotalIssueKg + "</td>";

                            if (item.TotalRequisitionQuantity == item.TotalIssueQuantity && item.TotalRequisitionKg == item.TotalIssueKg)
                            {
                                row += "<td style='text-align:center'><button class='btn btn-sm btn-warning' type='button'  disabled='disabled' onclick='GoToDo(" + item.StockTransferReqMasterId + ")'>Issue</button></td>";
                            } else {
                                row += "<td style='text-align:center'><button class='btn btn-sm btn-warning' type='button' onclick='GoToDo(" + item.StockTransferReqMasterId + ")'>Issue</button></td>";
                            }


                            row += "</tr>";
                            count = count + 1;

                        });
                        $("#manuallist").html(row);
                    }
                    else
                    {
                        $("#manuallist").html("");
                        $("#nodata").show();
                        
                    }
                   
                }
            });
                        }


                        function GoToDo(soId) {
                            window.location = "@Url.Action("StockTransferIssueEntry", "StockTransfer")" + "?id=" + soId ;
                        }












    </script>




}


