﻿@{
    ViewBag.Title = "StockTransferIssue";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Stock Transfer (Warehouse to Warehouse) Requisition Issue</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-md-3" id="">
                                <label for="reqDate">Requisition  Date</label>
                                <input type="text" class="form-control datepicker" id="reqDate" />
                            </div>
                            <div class="form-group col-md-3">
                                <label>Requisition List</label>
                                <select class="form-control select2" id="ddlRequisitionList" style="width: 100%;"></select>
                            </div>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script>
         $(function () {
             LoadDate_C('#reqDate');
             LoadStockTransferReq('ddlRequisitionList',  $("#reqDate").val());
             $("#reqDate").on("change", function () {
                  
                    LoadStockTransferReq('ddlRequisitionList', $(this).val());
                });
            });
        function LoadStockTransferReq(elementId, date)
            {
                var urlpath = "/StockTransfer/GetStockTransferRequestByDate"; 
                $.ajax({
                    url: urlpath,
                    type: "Get",
                    data: { reqDate: date },
                    async: false,
                    success: function (data)
                    {
                        $('#' + elementId + '').empty();
                        $('#' + elementId + '').append("<option value='0'>--Select Transfer Requisition--</option>");
                        for (var i = 0; i < data.length; i++) {
                            $('#' + elementId + '').append($("<option></option>").val(data[i].StockTransferReqMasterId).html(data[i].RequisitionNo));
                        }
                    }
                });
            }
    </script>
    }
