﻿
@{
    ViewBag.Title = "StockTransferChallan";
}



<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3>Stock Transfer List For Challan</h3>
                    </div>

                    <div class="card-body">
                        <div class="row">

                            <div class="col-md-3">
                                <div class="form-group" id="divFromDate">
                                    <label for="txtFromDate">From Date</label>
                                    <input type="text" id="txtFromDate" class="form-control" autocomplete="off" />
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group" id="divToDate">
                                    <label for="txtFromDate">To Date</label>
                                    <input type="text" id="txtToDate" class="form-control" autocomplete="off" />
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group" id="divFromLocation">
                                    <label for="ddlFromLocation">From Location</label>
                                    <select id="ddlFromLocation" class="form-control select2"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divToLocation">
                                    <label for="ddlToLocation">To Location</label>
                                    <select id="ddlToLocation" class="form-control select2"></select>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group" id="divFromWarehouse">
                                    <label for="ddlFromWarehouse">From Warehouse</label>
                                    <select id="ddlFromWarehouse" class="form-control select2"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divToWarehouse">
                                    <label for="ddlToWarehouse">To Warehouse</label>
                                    <select id="ddlToWarehouse" class="form-control select2"></select>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-3" style="margin-top: 13px">
                                <button class="btn btn-info" onclick="ShowReport()"> Search <span class="fa fa-search"></span></button>
                            </div>
                        </div>



                        <div class="row">
                            <div id="challanList" class="table-responsive">

                            </div>
                        </div>

                    </div>





                </div>
            </div>
        </div>







    </div>


</section>


@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            LoadDate_C('#txtFromDate');
            LoadDate_C('#txtToDate');

            LoadLocation('ddlFromLocation', 7);

            $("#ddlFromLocation").on("change",
               function () {
                   LoadWareHouse('ddlFromWarehouse', $(this).val());
               });

            LoadLocation('ddlToLocation', 7);

            $("#ddlToLocation").on("change",
                function () {
                    LoadWareHouse('ddlToWarehouse', $(this).val());
                });
        });



        function ShowReport() {
            var fromDate = $('#txtFromDate').val();
            var toDate = $('#txtToDate').val();
            var fromWarehouse = $('#ddlFromWarehouse').val();
            var fromLocation = $('#ddlFromLocation').val();
            var toWarehouse = $('#ddlToWarehouse').val();
            var toLocation = $('#ddlToLocation').val();
            if (fromDate == '') {
                ValidationColorChangeNew('txtFromDate', 'divFromDate', 'From Date Required', false);
                return;
            }
            if (toDate == '') {
                ValidationColorChangeNew('txtToDate', 'divToDate', 'To Date Required', false);
                return;
            }
            var urlpath = '@Url.Action("StockTransferChallanListForPrint", "StockTransfer")';  
            $.ajax({
                url: urlpath,
                dataType: 'HTML',
                type: "GET",
                data: { fromDate: fromDate, toDate: toDate, fromWarehouse: fromWarehouse, fromLocation: fromLocation, toWarehouse: toWarehouse, toLocation: toLocation },
                async: false,
                success: function (data) {
                    $("#challanList").empty();
                    $("#challanList").html(data);
                }
            });
        }







    </script>
}