﻿@{
    int sl = Convert.ToInt32(TempData["trSl"]);
}
<tr id="tr_@sl">
    <td id="tdc_@sl">@sl</td>
    @*<td>
        <input type="checkbox" class="checkClass" id="chk_@sl" onclick="CheckDetails(@sl)" />
    </td>*@
    <td>
        <select class="form-control select2" id="pro_@sl" onchange="GetProductDetails(@sl)"></select>
    </td>

    <td>
        <input type="text" class="form-control" id="stQty_@sl" />
    </td>
    <td>
        <input type="number" class="form-control" id="stKg_@sl" />
    </td>
    <td class="priceHide">
        <input type="number" class="form-control" id="stRate_@sl" />
    </td>
    <td class="priceHide">
        <input type="number" class="form-control" id="saleRate_@sl" oninput="CalculateSalePrice(@sl)" />
    </td>
    <td>
        <input type="number" class="form-control" id="saleQty_@sl" oninput="CalculateSalePrice(@sl)" />
    </td>
    <td class="issue">
        <input type="number" class="form-control" id="issueQty_@sl" oninput="IssueQtyChallan(@sl)" />
        <input type="number" style="display:none;" class="form-control" id="hissueQty_@sl" />
    </td>
    
    <td>
        <input type="number" class="form-control" id="saleKG_@sl" oninput="CalculateSalePrice(@sl)" />
    </td>
    <td class="issue">
        <input type="number" class="form-control" id="issueKG_@sl" oninput="IssueKgChallan(@sl)"/>
        <input type="number" style="display: none;" class="form-control" id="hissueKG_@sl"/>
    </td>
    <td>
        <input type="text" class="form-control" id="DetaislRemarks_@sl" />
    </td>
    
    @*<td class="picked">
        <input type="checkbox" id="picked_@sl" />
    </td>*@
    <td class="request" style="display:none;">

        <input type="text" class="form-control" disabled="disabled" id="request_@sl" />
    </td>
    <td class="priceHide">
        <input type="number" class="form-control" id="disPer_@sl" oninput="CalculateSalePrice(@sl)" />
    </td>
    <td class="priceHide">
        <input type="number" class="form-control" id="disNum_@sl" oninput="CalculateSalePriceAmt(@sl)" />
    </td>
    <td class="priceHide">
        <input type="number" class="form-control" disabled="disabled" id="total_@sl" />
    </td>
    <td class="priceHide">
        <input type="number" class="form-control" disabled="disabled" id="proTax_@sl" />
    </td>
    @*priceHide*@
    <td class="priceHide">
        <input type="number" style="display:none" class="form-control" disabled="disabled" id="totalG_@sl" />
        <input type="number" style="display:none" value="0" class="form-control" disabled="disabled" id="detailsId_@sl" />
        <input type="number" style="display:none" id="proId_@sl" value="0" />
        <input type="number" style="display:none" id="chItemPrice_@sl" value="0" />
        <input type="number" style="display:none" value="" id="group_@sl" />
    </td>
    <td class="actionHide" style="display: none">
        <button class="btn btn-danger btn-sm" id="rmvBtn_@sl" onclick="RemoveRow(@sl)">X</button>
    </td>


</tr>

