﻿@using System.Collections
@using System.Data
@model System.Data.DataTable

<table class="table table-bordered table-striped table-hover dataTable">
    <thead>
        <tr>
            <th>#</th>
            <th>Trade Sales Challan No.</th>
            <th>Customer</th>

            <th>Challan Date</th>
            <th>Delivery Date</th>
            <th>Total Delivery Qty</th>
            <th>Total Delivery Kg</th>
            <th>Total Delivery Amount</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{ int count = 1;}
        @foreach (DataRow item in Model.Rows)
        {
            <tr>
                <td>@count</td>
                <td>@item.ItemArray[1]</td>
                <td>@item.ItemArray[2]</td>
                <td>@item.ItemArray[3]</td>
                <td>@item.ItemArray[4]</td>
                <td>@item.ItemArray[5]</td>
                <td>@item.ItemArray[6]</td>
                <td>@item.ItemArray[7]</td>
                <td> @Html.ActionLink("Product Return", "TradeChallanReturn", "TradeSalesChallan", new { challanId = @item.ItemArray[0] }, new { @class = "btn btn-outline-success btn-sm" })</td>
            </tr>
            count++;
        }
    </tbody>
</table>