﻿@using System.Data
@model System.Data.DataTable

<table class="table table-bordered table-striped" id="issueDetails">
    <thead>
        <tr>
            <td><input type="checkbox" class="icheck-primary d-inline ml-2 form-control-input chackall" id="chk_All" onchange="SelectAllCheckboxFunc()" />Check All</td>
            <td>Product No</td>
            <td>Product Name</td>
            <td>Unit Value (Costing)</td>
            <td>Total Qty</td>
            <td>Total Kg</td>
            <td>Already Moved Qty</td>
            <td>Already Moved Kg</td>
            <td>Rest Qty</td>
            <td>Rest Kg</td>
            <td>Current Qty</td>
            <td>Current Kg</td>
            <td>weight loss Qty</td>
            <td>weight loss Kg</td>
        </tr>
    </thead>
    <tbody id="tbodyid">
        @{ int count = 1;}
        @foreach (DataRow item in Model.Rows)
        {
            <tr id="@count">
                <td> <input type="checkbox" class="icheck-primary d-inline ml-2 form-control-input checkid" id="chk_@count" value="@count" onclick="Checkp(@count)" /></td>
                <td>@item.ItemArray[1]</td>
                <td id="challanDate_@count">@item.ItemArray[2]</td>
                <td id="unit_@count"><input type="number" class="form-control AllQty" id="unitprice_@count" disabled /></td>
                <td id="mainQty_@count">@item.ItemArray[9]</td>
                <td id="mainKg_@count">@item.ItemArray[10]</td>
                <td id="prevQty_@count"><a href="#" onclick="ViewDetailsQty(@item.ItemArray[11],@item.ItemArray[0],@item.ItemArray[12])">@item.ItemArray[7]</a></td>
                <td id="prevKg_@count"><a href="#" onclick="ViewDetailsKg(@item.ItemArray[11],@item.ItemArray[0],@item.ItemArray[12])">@item.ItemArray[8]</a></td>
                <td id="totalQty_@count">@item.ItemArray[3]</td>
                <td id="totalKg_@count">@item.ItemArray[4]</td>
                <td id="current_@count"><input type="number" class="form-control AllQty" id="currentQty_@count" oninput="CheckQty(@count)" disabled /></td>
                <td id="current_@count"><input type="number" class="form-control AllKg" id="currentKg_@count" oninput="CheckKg(@count)" disabled /></td>
                <td id="current_@count"><input type="number" class="form-control AllQty" id="lossQty_@count" oninput="LossQty(@count)" disabled /></td>
                <td id="current_@count"><input type="number" class="form-control AllKg" id="lossKg_@count" oninput="LossKg(@count)" disabled /></td>
                <td id="pro_@count" hidden><input type="number" class="form-control" id="product_@count" value="@item.ItemArray[0]" /></td>
                <td id="gru_@count" hidden><input type="number" class="form-control" id="stDetails_@count" value="@item.ItemArray[6]" /></td>
                <td id="gru_@count" hidden><input type="number" class="form-control" id="challanDetails_@count" value="@item.ItemArray[12]" /></td>



            </tr>
            count++;
        }
    </tbody>
</table>
