﻿@using System.Data
@model System.Data.DataTable
@{
    int count = 1;
}
@{ var data = Model.AsEnumerable(); }

<div class="col-md-12">
    @* <label class="float-right"> Opening Qty @Model.Rows[0].ItemArray[10];  Opening Kg @Model.Rows[0].ItemArray[11];</label>*@
</div>
<table id="ProductMoveTable" border="1" class="table dataTable table-bordered table-striped table-hover">
    <thead>
        <tr style="background-color: aliceblue">
            <th style="text-align: center">SL</th>
            <th style="text-align: center">Sales Order No</th>
            <th style="text-align: center">Order Date</th>
            <th style="text-align: center">Trade Challan No</th>
            <th style="text-align: center">Challan Date</th>
            <th style="text-align: center">Location</th>
            <th style="text-align: center">WareHouse</th>
            <th style="text-align: center">Produet</th>
            <th style="text-align: center">Order Qty</th>
            <th style="text-align: center">Order Kg</th>
            <th style="text-align: center">Delivery qty</th>
            <th style="text-align: center">Delivery Kg</th>
            <th style="text-align: center">Undeliver Qty</th>
            <th style="text-align: center">Undelver Kg</th>
            <th style="text-align: center">Sales Person</th>
        </tr>
    </thead>
    <tbody class="Traylist">
        @foreach (DataRow row in Model.Rows)
        {

            <tr>
                <td>@count</td>
                <td style="text-align: center">@row.ItemArray[0]</td>
                <td style="text-align: center">@Convert.ToDateTime(row.ItemArray[1]).ToString("dd MMM yyyy")</td>
                <td style="text-align: center">@row.ItemArray[2]</td>
                <td style="text-align: center">@Convert.ToDateTime(row.ItemArray[3]).ToString("dd MMM yyyy")</td>
                <td style="text-align: center">@row.ItemArray[4]</td>
                <td style="text-align: center">@row.ItemArray[5]</td>
                <td style="text-align: center">@row.ItemArray[6]</td>
                <td style="text-align: center">@row.ItemArray[7]</td>
                <td style="text-align: center">@row.ItemArray[8]</td>
                <td style="text-align: center">@row.ItemArray[9]</td>
                <td style="text-align: center">@row.ItemArray[10]</td>
                <td style="text-align: center">@row.ItemArray[13]</td>
                <td style="text-align: center">@row.ItemArray[14]</td>
                <td style="text-align: center">@row.ItemArray[15]</td>

            </tr>
            count++;
        }
    </tbody>
    <tfoot>
        @*<tr>
            <th colspan="5"> Total Summation</th>
            <th>@Model.Compute("Sum(ProductQty)", "")</th>
            <th>@Model.Compute("Sum(ProductKg)", "")</th>
            <th></th>
            <th>@Model.Compute("Sum(TotalPrice)", "")</th>
            <th>@Model.Compute("Sum(ApproveQty)", "")</th>
            <th>@Model.Compute("Sum(ApproveKg)", "")</th>
            <th></th>
            <th>@Model.Compute("Sum(ApproveTotalAmount)", "")</th>
        </tr>*@
    </tfoot>
</table>


