﻿@using System.Data
@model System.Data.DataTable
@{
    ViewBag.Title = "ProcessedChallan";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-3">
                                <h4><span class="fa fa-eye"></span> Trade Return Request Page</h4>
                            </div>
                            <div class="col-md-4">
                                <h3 id="salesOrderNo"></h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="ProductMoveTable" class="table">
                            <thead>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Company Name: IG Foods</th>
                                    <th>Customer Name: @Model.Rows[0]["CustomerName"]</th>
                                    <th>Customer Address: @Model.Rows[0]["PersonalAddress"]</th>
                                </tr>
                                <tr>
                                    <th>Location: @Model.Rows[0]["LocationName"]</th>
                                    <th>Warehouse: @Model.Rows[0]["WareHouseName"]</th>
                                    <th>Delivery Date: @Convert.ToDateTime(Model.Rows[0]["DeliveryDate"]).ToString("dd MMM yyyy")</th>
                                </tr>
                            </tbody>
                        </table>
                        <table id="TradeReturn" border="1" class="table  table-bordered table-striped table-hover">
                            <thead>
                                <tr style="background-color: aliceblue">
                                    <th style="text-align: center">SL</th>
                                    <th style="text-align: center"><input type='checkbox' class='iradio_minimal-blue' id='checkAll' onclick='SelectAllCheckboxFunc()' /></th>
                                    <th style="text-align: center">ProductName</th>
                                    <th style="text-align: center">Challan Qty</th>
                                    <th style="text-align: center">Challlan Kg</th>
                                    <th style="text-align: center">Delivery Qty</th>
                                    <th style="text-align: center">Delivery Kg</th>
                                    <th style="text-align: center">UnDelivery Qty</th>
                                    <th style="text-align: center">Undelivery Kg</th>
                                    <th style="text-align: center">Previous Return Qty</th>
                                    <th style="text-align: center">Previous Return Kg</th>
                                    <th style="text-align: center">Previous Weight Loss Qty</th>
                                    <th style="text-align: center">Previous Weight Loss Kg</th>
                                    <th style="text-align: center">Return Qty</th>
                                    <th style="text-align: center">Return Kg</th>
                                    <th style="text-align: center">WeightLoss Qty/Broken</th>
                                    <th style="text-align: center">WeightLoss Kg/Broken</th>
                                </tr>
                            </thead>
                            <tbody class="Traylist">
                                @{var count = 1;}
                                @foreach (DataRow row in Model.Rows)
                                {
                                    <tr id="@count">
                                        <td>@count</td>
                                        <td><input type='checkbox' class='iradio_minimal-blue checkp' id='check_@count' onclick='Checkp(@count)' /></td>
                                        <td style="text-align: center">@row.ItemArray[9]</td>
                                        <td style="text-align: center">@row.ItemArray[10]</td>
                                        <td style="text-align: center">@row.ItemArray[11]</td>
                                        <td style="text-align: center"><input type="number" class="form-control " autocomplete="off" style="width: 100%;" id="deliveryQty_@count" value="@row.ItemArray[12]" disabled="disabled" /></td>
                                        <td style="text-align: center"><input type="number" class="form-control " autocomplete="off" style="width: 100%;" id="deliveryKg_@count" value="@row.ItemArray[13]" disabled="disabled" /></td>
                                        <td style="text-align: center">@row.ItemArray[14]</td>
                                        <td style="text-align: center">@row.ItemArray[15]</td>
                                        <td style="text-align: center"><input type="number" class="form-control " autocomplete="off" style="width: 100%;" id="previousqty_@count"  disabled="disabled" /></td>
                                        <td style="text-align: center"><input type="number" class="form-control " autocomplete="off" style="width: 100%;" id="previouskg_@count"  disabled="disabled" /></td>
                                        
                                        <td style="text-align: center"><input type="number" class="form-control " autocomplete="off" style="width: 100%;" id="previousweightqty_@count"  disabled="disabled" /></td>
                                        <td style="text-align: center"><input type="number" class="form-control " autocomplete="off" style="width: 100%;" id="previousweightkg_@count"  disabled="disabled" /></td>
                                        <td style="text-align: center">
                                            <input type="number" class="form-control checkAllt" autocomplete="off" style="width: 100%;" id="returnQty_@count" oninput="checkValidDataFQty(@count)" disabled="disabled" />
                                            <input type="hidden" class="form-control checkAllt" autocomplete="off" style="width: 100%;" id="challanDetails_@count" value="@row.ItemArray[7]" />
                                            <input type="hidden" class="form-control checkAllt" autocomplete="off" style="width: 100%;" id="ProductId_@count" value="@row.ItemArray[8]" />
                                        </td>
                                        <td style="text-align: center"><input type="number" class="form-control checkAllt" autocomplete="off" style="width: 100%;" id="returnKg_@count" oninput="checkValidDataFKg(@count)" disabled="disabled" /></td>
                                        <td style="text-align: center">
                                            <input type="number" class="form-control checkAllt" autocomplete="off" style="width: 100%;" id="weightlossQty_@count" oninput="checkValidDataFQty(@count)" disabled="disabled" />
                                        </td>
                                        <td style="text-align: center"><input type="number" class="form-control checkAllt" autocomplete="off" style="width: 100%;" id="weightlossKg_@count" oninput="checkValidDataFKg(@count)" disabled="disabled" /></td>
                                    </tr>
                                    count++;
                                }
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group" id="divWareHouse1">
                                        <label for="ddlWareHouse">Stock/Plant House</label>
                                        <select class="form-control select2" id="ddlWareHouse1" disabled="disabled"></select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group" id="divqcDate">
                                        <label for="deliveryDate">Qc Date <span class="text-danger"> *</span></label>
                                        <input id="qcDate" class="form-control datepicker" type="text" value="@Convert.ToDateTime(DateTime.Now).ToString("dd MMM yyyy")" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-primary float-right" id="saveBtn" onclick="SaveReturn()">Save Return</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
    <input id="mSalesOrderId" type="number" style="display: none;" value="@ViewBag.SalesOrderId">
    <input id="ecom" type="text" style="display: none;">
</section>
@section Scripts
{
    <script>
        var PrlductList = {};
        var DeleteProduct = [];
        $(document).ready(function() {
            LoadWareHouseMultipleType('ddlWareHouse1', 4, '3,4');
            $("#ddlWareHouse1").val("21");


            $('#TradeReturn tbody tr').each(function(key, value) {
                debugger;
                soId = $(this).prop("id");
                var detailsid = $('#challanDetails_' + soId).val();
                var urlpath = '@Url.Action("PreviousReturn", "TradeSalesChallan")';
                $.ajax({
                        data: { challanDetailsId: detailsid },
                        dataType: 'json',
                        url: urlpath,
                        type: "Get"
                    })
                    .success(function(result) {
                        $('#previousqty_' + soId).val(result.ReturnQty);
                        $('#previouskg_' + soId).val(result.ReturnKg);
                        $('#previousweightqty_' + soId).val(result.WeightLossQty);
                        $('#previousweightkg_' + soId).val(result.WeightLossKg);
                    });
            });


        });

        function checkValidDataFQty(id) {
            debugger;
            var deliveryQty = parseFloat($('#deliveryQty_' + id).val());
            var preReturnQty = parseFloat($('#previousqty_' + id).val());
            var preWeightQty = parseFloat($('#previousweightqty_' + id).val());
            var returnQty = isNaN(parseFloat($('#returnQty_' + id).val())) ? 0 : parseFloat($('#returnQty_' + id).val());
            var weightLossQty = isNaN(parseFloat($('#weightlossQty_' + id).val())) ? 0 : parseFloat($('#weightlossQty_' + id).val());
            if (returnQty + weightLossQty > parseFloat(deliveryQty)-(parseFloat(preReturnQty)+parseFloat(preWeightQty))) {
                $('#returnQty_' + id).val(0);
                $('#weightlossQty_' + id).val(0);
                swal("Invalid Data");
            }
        }

        function checkValidDataFKg(id) {
            debugger;
            var deliveryKg = parseFloat($('#deliveryKg_' + id).val());
            var preReturnKg = parseFloat($('#previouskg_' + id).val());
            var preWeightKg = parseFloat($('#previousweightkg_' + id).val());
            var returnKg = isNaN(parseFloat($('#returnKg_' + id).val())) ? 0 : parseFloat($('#returnKg_' + id).val());
            var weightLossKg = isNaN(parseFloat($('#weightlossKg_' + id).val())) ? 0 : parseFloat($('#weightlossKg_' + id).val());
            if (returnKg + weightLossKg > deliveryKg-(preReturnKg+preWeightKg)) {
                $('#returnKg_' + id).val(0);
                $('#weightlossKg_' + id).val(0);
                swal("Invalid Data");
            }
        }

        function CheckDetails(id) {
            if ($("#chk_" + id).is(':checked')) {
                $("#chk_" + id).prop('checked', true);
                $('#issueQty_' + id).attr('disabled', false);
                $('#issueKG_' + id).attr('disabled', false);
                CalculateChallan();
            } else {
                $("#chk_" + id).prop('checked', false);
                $('#issueQty_' + id).attr('disabled', true);
                $('#issueKG_' + id).attr('disabled', true);
                CalculateChallan();
            }
        }

        function SelectAllCheckboxFunc() {
            if ($("#checkAll").is(":checked")) {
                $(".checkp").prop("checked", true);
                $('.checkAllt').attr('disabled', false);
            } else {
                $(".checkp").prop("checked", false);
                $('.checkAllt').attr('disabled', true);
            }
        }

        function Checkp(SLNO) {
            var checkp = $("#check_" + SLNO).prop("checked");
            if (checkp == false) {
                $("#checkAll").prop('checked', false);
                $('#returnQty_' + SLNO).attr('disabled', true);
                $('#returnKg_' + SLNO).attr('disabled', true);
                $('#weightlossQty_' + SLNO).attr('disabled', true);
                $('#weightlossKg_' + SLNO).attr('disabled', true);
            } else {
                $('#returnQty_' + SLNO).attr('disabled', false);
                $('#returnKg_' + SLNO).attr('disabled', false);
                $('#weightlossQty_' + SLNO).attr('disabled', false);
                $('#weightlossKg_' + SLNO).attr('disabled', false);
            }
            if ($('.checkp:checked').length == $('.checkp').length) {
                $("#checkAll").prop('checked', true);
                $('.checkAllt').attr('disabled', false);
            }
        }

        function SaveReturn() {
            if (Validation()) {
                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false
                }, function() {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveChallan();
                });
            }
        }

        function SaveChallan() {
            var jsonData = {};
            $('#TradeReturn tbody tr').each(function(key, value) {
                debugger;
                soId = $(this).prop("id");
                var pickingDetails = {};
                if ($('#check_' + soId).is(":checked")) {
                    debugger;
                    jsonData["TradeChallanMasterId"] = @Model.Rows[0]["TradeChallanMasterId"];
                    jsonData["TradeChallanDetailsId"] = $('#challanDetails_' + soId).val();
                    jsonData["ProductId"] = $('#ProductId_' + soId).val();
                    jsonData["ReturnQty"] = $('#returnQty_' + soId).val();
                    jsonData["ReturnKg"] = $('#returnKg_' + soId).val();
                    jsonData["WeightLossQty"] = $('#weightlossQty_' + soId).val();
                    jsonData["WeightLossKg"] = $('#weightlossKg_' + soId).val();
                    jsonData["ReturnDate"] = $('#qcDate').val();
                    jsonData["RequestedWarehouse"] = $('#ddlWareHouse1').val();
                    var urlpath = '@Url.Action("SaveTradeReturn", "TradeSalesChallan")';
                    $.ajax({
                            contentType: "application/json",
                            data: JSON.stringify(jsonData),
                            dataType: 'json',
                            url: urlpath,
                            type: "POST"
                        })
                        .success(function(result) {
                            if (result.isSuccess == true) {
                                // var mrrNo = GetMrrNo(result.pk);
                                swal({
                                    title: " Saved Successfull",
                                    text: '',
                                    type: "success",
                                    showCancelButton: false,
                                    cancelButtonClass: 'btn-secondary waves-effect',
                                    confirmButtonClass: 'btn-success waves-effect waves-light',
                                    confirmButtonText: 'Yes!',
                                    closeOnConfirm: false
                                }, function() {
                                    window.location.href = '@Url.Action("TradeSalesChallanReturn", "TradeSalesChallan")';
                                });
                            }
                        });
                }
            });
        }

        function Validation() {
            var isValid = true;
            var message = "Check at least one checkbox";
            if ($('#ddlWareHouse1').val() == '' || $('#ddlWareHouse1').val() == 0) {
                ValidationColorChangeNew("ddlWareHouse1", "divWareHouse1", "Warehouse Required", false);
                isValid = false;
            }
            if ($('#qcDate').val() == '' || $('#qcDate').val() == 0) {
                ValidationColorChangeNew("qcDate", "divqcDate", "Date Required", false);
                isValid = false;
            }
            debugger;
            if ($('input.checkp:checked').length <= 0) {
                isValid = false;
                ShowMessage(message);
            }

            $('#TradeReturn tbody tr').each(function(key, value) {
                debugger;
                var id = $(this).prop("id");
                if ($('#check_' + id).is(":checked")) {
                    if ($('#returnQty_' + id).val() <= 0 || $('#returnQty_' + id).val() == '') {
                        isValid = false;
                        swal("Please provide the valid input");
                    }
                    if ($('#returnKg_' + id).val() <= 0 || $('#returnKg_' + id).val() == '') {
                        isValid = false;
                        swal("Please provide the valid input");
                    }
                }
            });
            return isValid;
        }
    </script>
}
