﻿
@{
    ViewBag.Title = "ProcessedChallan";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-3">
                                <h4><span class="fa fa-eye"></span> Generate Challan Page</h4>
                            </div>
                            <div class="col-md-4">
                                <h3 id="salesOrderNo"></h3>
                            </div>
                        </div>
                    </div>
                    <div class="formDiv">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divCompany">
                                        <label for="ddlCompany">Company</label>
                                        <select class="form-control" style="width: 100%;" id="ddlCompany"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divCustomerType">
                                        <label for="ddlCustomerType">Customer Type</label>
                                        <select class="form-control select2" style="width: 100%;" id="ddlCustomerType" onchange="LoadCustomer('ddlCustomer')"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divCustomer">
                                        <label for="ddlCustomer">Customer</label>
                                        <select class="form-control" style="width: 100%;" id="ddlCustomer" onchange="GetCustomerDetails()"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divOrderDate">
                                        <label for="txtOrderDate">Order Date</label>
                                        <input type="text" id="txtOrderDate" class="form-control" />
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div style="margin-left: 3%" id="customerDetails"></div>
                            </div>
                            <div class="col-md-9">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group" id="divDeliveryDate">
                                                <label for="txtDeliveryDate">Delivery Date</label>
                                                <input type="text" id="txtDeliveryDate" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-md-1 form-group" style="display: none">
                                            <input type="checkbox" class="form-check-input" id="chkEmployee" style="margin-left: 3px; margin-top: 20px;" />
                                            <label class="form-check-label" for="chkEmployee" style="margin-left: 24px; margin-top: 17px;">Is Employee</label>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="" id="divSalesPerson">
                                                <label for="txtSalesPerson">Sales Person</label>
                                                <input type="text" id="txtSalesPerson" class="form-control" onchange="GetSalesPersonPhone()" />
                                                <input type="number" id="employeeSelect" class="form-control" style="display: none;" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group" id="dovSalesPersonNo">
                                                <label for="txtSalesPersonNo">Sales Person Contact</label>
                                                <input type="text" id="txtSalesPersonNo" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group" id="divDestination">
                                                <label for="txtDestination">Destination</label>
                                                <input type="text" id="txtDestination" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group" id="divLocation">
                                                <label for="ddlLocation">Location</label>
                                                <select class="form-control select2" id="ddlLocation" style="width: 100%;" onchange="LoadWHByLocation('ddlWareHouse')"></select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group" id="divWareHouse">
                                                <label for="ddlWareHouse">Warehouse</label>
                                                <select id="ddlWareHouse" class="form-control select2" onchange="ChallanDateActivity()"></select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group" id="divVehicle">
                                                <label for="Vehicle">Vehicle</label>
                                                <select id="Vehicle" class="form-control select2"></select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group" id="divRemarks">
                                                <label for="txtRemarks">Remarks</label>
                                                <input type="text" class="form-control" id="txtRemarks" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group" id="divChallanDate">
                                                <label for="challanDate">Challand Date</label>
                                                <input id="challanDate" class="form-control" onchange="ChallanDateActivity()" type="text" value="@Convert.ToDateTime(DateTime.Now).ToString("dd MMM yyyy")" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group" id="divDriverName">
                                                <label for="driverName">Driver Name</label>
                                                <input id="driverName" class="form-control" type="text" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group" id="divDriverContact">
                                                <label for="driverContact">Delivery Man</label>
                                                <input id="driverContact" class="form-control" type="text" />
                                                <input type="number" id="employeeSelect" style="display: none" class="form-control" />
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-body">
                                        <button style="display: none" class="btn btn-info float-right" onclick="AddSoRow()"> Add New </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row table-responsive">
                                <div class="col-md-12">
                                    <table class="table table-bordered table-striped" id="salesOrder">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                @*<th>Check</th>*@
                                                <th width="350">Product</th>
                                                @*<th width="150">Product Category</th>*@
                                                <th>Stock Qty</th>
                                                <th>Stock Kg</th>
                                                <th class="priceHide">Unit Price</th>
                                                <th class="priceHide">Sale Price</th>
                                                <th>Sale Qty</th>
                                                <th class="issue">Issue Qty</th>
                                                <th>Sale KG</th>
                                                <th class="issue">Issue KG</th>
                                                <th class="issue">Sales Remarks</th>
                                                @*<th class="issue">Full Challan</th>*@
                                                <th class="request" style="display:none;">Request Status</th>
                                                <th class="priceHide">Discount %</th>
                                                <th class="priceHide">Discount Rate</th>
                                                <th class="priceHide">Price</th>
                                                <th class="priceHide">Tax</th>
                                                <th class="priceHide">Total Price</th>
                                                <th style="display: none">Remove</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                        <tfoot>
                                            <tr id="totalChallanRow">
                                                <td></td>
                                                <td colspan="4">Total</td>
                                                <td> <label id="totalChallanQty">0</label> </td>
                                                <td colspan="1"></td>
                                                <td> <label id="totalChallanKg">0</label> </td>
                                            </tr>
                                            <tr>
                                                <td class="priceHide"></td>
                                                <td colspan="13" class=""></td>
                                                <td class="priceHide">
                                                    <button class="btn btn-success" id="salesUpdate" onclick="SaveSalesOrder()">Update </button>
                                                </td>
                                                <td class="priceHide"></td>
                                                <td class="priceHide"></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body formDiv">
                                        @*<div class="row">
                                            <div class="form-group" id="divPaymentType">
                                                <label for="ddlPamentType">Payment Type</label>
                                                <select id="ddlPamentType" class="form-control"></select>
                                            </div>
                                        </div>*@
                                        <div class="row">
                                            <label>Order Total Amount in KG:</label>
                                            <label id="totalKg">0</label>
                                        </div>

                                        <div class="row">
                                            <label>Order Total Amount in Qty:</label>
                                            <label id="totalQty">0</label>
                                        </div>

                                        <div class="row">
                                            <label>Total Order Discount:</label>
                                            <label id="totalIncTacVat">0</label>
                                        </div>
                                        <div class="row">
                                            <label>Total Order Amount:</label>
                                            <label id="totalExTaxVat">0</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-6">
                                        <label>Challan Amount: </label>
                                        <label class="text-success" id="challanAmt">0.00 </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button class="btn btn-primary" id="saveBtn" onclick="GenerateChallan()">Create Challan</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
    <input id="mSalesOrderId" type="number" style="display: none;" value="@ViewBag.SalesOrderId">
    <input id="ecom" type="text" style="display: none;">
</section>
@section Scripts
{


    <script>
        var PrlductList = {};
        var DeleteProduct = [];
        $(document).ready(function () {
            $('#salesUpdate').hide();
            LoadCustomerType('ddlCustomerType');
            LoadCompany('ddlCompany');
            GetProducts();
            GetOrderMaster();
            LoadLocation('ddlLocation', 7);

            //$('#challanDate').datepicker({
            //    endDate: new Date(),
            //    autoclose: true,
            //    todayHighlight: true,
            //    format: 'dd-M-yyyy'
            //});

            $('#challanDate').datepicker({
                startDate: '+0m',
                endDate: '+0m',
                todayHighlight: true,
                format: 'dd-M-yyyy',
                minDate: 0,
                autoclose: true
            });

            LoadVehicle('Vehicle');
            var picMasterId = $('#pickingMasterId').val();


            $('#driverName').attr('disabled', false);
            $('#challanDate').attr('disabled', false);
            $('#driverContact').attr('disabled', false);
            DeliveryAutoCom('driverContact', 'employeeSelect');
        });

        function DeliveryAutoCom(autoElement, noElement) {


            $('#' + autoElement + '').autocomplete({
                source: "/Utility/GetDeliveryManAutoComAll",
                select: function (event, ui) {
                    // console.log(ui);

                    var a = ui.item.value;
                    $('#' + autoElement + '').val(ui.item.value);

                    var theUser = $('#' + autoElement + '').val();


                }

            });


            $('#' + autoElement + '').autocomplete("widget").addClass("fixedHeightAuto");
            $('#' + autoElement + '').autocomplete("widget").addClass("overLap");

        }


        function ChallanDateActivity() {


            $('#salesOrder tbody tr').each(function () {

                var idr = $(this).attr('id');
                var id = idr.substring(3);

                var productId = isNaN(parseFloat($('#pro_' + id).val())) ? 0 : parseFloat($('#pro_' + id).val());


                GetProductDetails(id);


            });


        }

        function GetPackWeight(pid) {
            var weight = 0;
            var urlpath = '@Url.Action("PackWeight", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                data: { pid: pid },
                dataType: 'json',
                type: "Get",

                async: false,
                success: function (data) {
                    weight = data;

                }
            });
            return weight;
        }

        @*function GetPickingMaster(id) {
            var urlpath = '@Url.Action("GetPickigMasterById", "ChallanProcessed")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { id: id },
                async: false,
                success: function (data) {

                    $('#ddlLocation').val(data.LocationId).trigger('change');

                    LoadWHByLocation(data.LocationId);
                    $('#ddlWareHouse').val(data.WareHouseId).trigger('change');
                    $('#Vehicle').val(data.VehicleId).trigger('change');

                    $('#ddlLocation').attr('disabled', true);
                    $('#ddlWareHouse').attr('disabled', true);
                    $('#Vehicle').attr('disabled', true);
                    GetPickingDetails(id);
                }
            });
        }*@



        function AddSoRow() {
            AddRow();
            $('.priceHide').show();
            $('.issue').hide();
            $('#salesUpdate').show();
            $('#saveBtn').hide();

        }

        function IssueQtyChallan(id) {

            debugger;
            var issueQty = isNaN(parseFloat($('#issueQty_' + id).val())) ? 0 : parseFloat($('#issueQty_' + id).val());
            //var hissueQty = isNaN(parseFloat($('#hissueQty_' + id).val())) ? 0 : parseFloat($('#hissueQty_' + id).val());
            //var prvIssueQty = isNaN(parseFloat($('#prevIssueQty_' + id).val())) ? 0 : parseFloat($('#prevIssueQty_' + id).val());
            //var issueKg = isNaN(parseFloat($('#issueKG_' + id).val())) ? 0 : parseFloat($('#issueKG_' + id).val());
            //var hissueKg = isNaN(parseFloat($('#hissueKG_' + id).val())) ? 0 : parseFloat($('#hissueKG_' + id).val());
            //var prvIssueKg = isNaN(parseFloat($('#prevIssueKG_' + id).val())) ? 0 : parseFloat($('#prevIssueKG_' + id).val());
            var saleQty = isNaN(parseFloat($('#saleQty_' + id).val())) ? 0 : parseFloat($('#saleQty_' + id).val());
            var stockQty = isNaN(parseFloat($('#stQty_' + id).val())) ? 0 : parseFloat($('#stQty_' + id).val());


            var prdId = isNaN(parseInt($('#pro_' + id).val())) ? 0 : parseInt($('#pro_' + id).val());
            var groupId = isNaN(parseFloat($('#group_' + id).val())) ? 0 : parseFloat($('#group_' + id).val());


            if (groupId == 8) {
                if (issueQty > stockQty) {
                    $('#issueQty_' + id).val(stockQty);
                    $('#issueKG_' + id).val(0);
                } else {
                    $('#issueKG_' + id).val(0);
                }
            }
            if (groupId == 9 || groupId == 10) {
                if (stockQty == 0) {
                    $('#issueQty_' + id).val(0);
                }
                else if (!saleQty > 0) {
                    $('#issueQty_' + id).val(0);
                }
                else if ($('#issueQty_' + id).val() > stockQty) {
                    $('#issueQty_' + id).val(stockQty);
                }
            }

            CalculateChallan();
        }


        function IssueKgChallan(id) {
            debugger;
            var issueKg = isNaN(parseFloat($('#issueKG_' + id).val())) ? 0 : parseFloat($('#issueKG_' + id).val());

            var hissueKg = isNaN(parseFloat($('#hissueKG_' + id).val())) ? 0 : parseFloat($('#hissueKG_' + id).val());

            //var prvIssueKg = isNaN(parseFloat($('#prevIssueKG_' + id).val())) ? 0 : parseFloat($('#prevIssueKG_' + id).val());
            var saleKg = isNaN(parseFloat($('#saleKG_' + id).val())) ? 0 : parseFloat($('#saleKG_' + id).val());

            var saleQty = isNaN(parseFloat($('#saleQty_' + id).val())) ? 0 : parseFloat($('#saleQty_' + id).val());
            var stockKg = isNaN(parseFloat($('#stKg_' + id).val())) ? 0 : parseFloat($('#stKg_' + id).val());

            var groupId = isNaN(parseFloat($('#group_' + id).val())) ? 0 : parseFloat($('#group_' + id).val());
            if (groupId == 8) {
                $('#issueKG_' + id).val(0);
            }
            if (groupId == 9 || groupId == 10) {
                if ((issueKg > stockKg)) {
                    $('#issueKG_' + id).val(stockKg);
                    $('#issueQty_' + id).val(0);
                }
                else {
                    $('#issueQty_' + id).val(0);
                }
            }
            CalculateChallan();


        }

        function RemoveRow(id) {
            swal({
                title: "Are you sure?",
                text: "Remove Challan Item !!!",
                type: "error",
                showCancelButton: true,
                cancelButtonClass: 'btn-secondary waves-effect',
                confirmButtonClass: 'btn-success waves-effect waves-light',
                confirmButtonText: 'Yes!',
                closeOnConfirm: false

            }, function () {
                $('.confirm').prop("disabled", true);
                $('.cancel').prop("disabled", true);
                RemoveChallanRow(id);

            });
        }

        function RemoveChallanRow(id) {
            swal.close();
            $('.priceHide').show();
            $('.issue').hide();
            $('#salesUpdate').show();
            $('#saveBtn').hide();


            var trLength = $('#salesOrder tbody tr').length;
            if (trLength > 1) {

                var detailsId = $('#detailsId_' + id).val();
                if (detailsId > 0) {
                    var productId = isNaN(parseFloat($('#pro_' + id).val())) ? 0 : parseFloat($('#pro_' + id).val());
                    var saleQty = isNaN(parseFloat($('#saleQty_' + id).val())) ? 0 : parseFloat($('#saleQty_' + id).val());
                    var stockRate = isNaN(parseFloat($('#stRate_' + id).val())) ? 0 : parseFloat($('#stRate_' + id).val());
                    var saleRate = isNaN(parseFloat($('#saleRate_' + id).val())) ? 0 : parseFloat($('#saleRate_' + id).val());

                    var saleKg = isNaN(parseFloat($('#saleKG_' + id).val())) ? 0 : parseFloat($('#saleKG_' + id).val());

                    var disPer = isNaN(parseFloat($('#disPer_' + id).val())) ? 0 : parseFloat($('#disPer_' + id).val());
                    var disAmt = isNaN(parseFloat($('#disNum_' + id).val())) ? 0 : parseFloat($('#disNum_' + id).val());
                    var total = isNaN(parseFloat($('#totalG_' + id).val())) ? 0 : parseFloat($('#totalG_' + id).val());
                    var delObj = {};
                    delObj["ProductId"] = productId;
                    delObj["SalesOrderProcessDetailsId"] = detailsId;
                    delObj["ProductQty"] = saleQty;
                    delObj["StockRate"] = stockRate;
                    delObj["SaleRate"] = saleRate;
                    delObj["ProductKg"] = saleKg;
                    delObj["DiscountAmount"] = disAmt;
                    delObj["DiscountPercent"] = disPer;
                    delObj["TotalPrice"] = total;
                    delObj["IsDelete"] = true;
                    delObj["OperationIdDelete"] = 3;
                    DeleteProduct.push(delObj);

                }
                $('#tr_' + id).remove();
                // var aProd = new object();
                SerialTable();
                CalculateAll();
                swal.close();
            } else {

                return;
            }


        }

        function SerialTable() {
            $('#salesOrder tbody tr').each(function (index, element) {

                var idr = $(this).attr('id');
                var id = idr.substring(3);
                $('#tdc_' + id).html(index + 1);


            });
        }

        function SaveSalesOrder() {

            if (ValidateSalesOrder() == true) {
                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveSalesOrderInChallan();

                });
            }


        }


        function ValidateSalesOrder() {


            var isValid = true;
            var message = "Some Values Required";
            if ($('#ddlCompany').val() == 0 || $('#ddlCompany').val() == '') {
                ValidationColorChangeNew("ddlCompany", "divCompany", "Company Required", true);
                isValid = false;
            }
            if ($('#ddlCustomerType').val() == 0 || $('#ddlCustomerType').val() == '') {
                ValidationColorChangeNew("ddlCustomerType", "divCustomerType", "Customer Type Required", true);
                isValid = false;
            }
            if ($('#ddlCustomer').val() == 0 || $('#ddlCustomer').val() == '') {
                ValidationColorChangeNew("ddlCustomer", "divCustomer", "Customer Required", true);
                isValid = false;
            }
            if ($('#txtOrderDate').val() == '' || $('#ddlCustomer').val() == null) {
                ValidationColorChangeNew("txtOrderDate", "divOrderDate", "Order Date Required", false);
                isValid = false;
            }
            if ($('#txtDeliveryDate').val() == '' || $('#txtDeliveryDate').val() == null) {
                ValidationColorChangeNew("txtDeliveryDate", "divDeliveryDate", "Delivery Date Required", false);
                isValid = false;
            }
            if ($('#txtDestination').val() == '' || $('#txtDestination').val() == null) {
                ValidationColorChangeNew("txtDestination", "divDestination", "Delivery Place Required", false);
                isValid = false;
            }

            if ($('#txtSalesPersonNo').val() == '' || $('#txtSalesPersonNo').val() == null) {
                ValidationColorChangeNew("txtSalesPersonNo", "dovSalesPersonNo", "Contact No Required", false);
                isValid = false;
            }


            var chk = $("#chkEmployee").prop("checked");
            if (chk == true) {
                if ($('#txtSalesPerson').val() == '' || $('#txtSalesPerson').val() == null || $('#employeeSelect').val() == 0) {
                    ValidationColorChangeNew("txtSalesPerson", "divSalesPerson", "Sales Person Required", false);
                    isValid = false;
                }
            } else {
                if ($('#txtSalesPerson').val() == '' || $('#txtSalesPerson').val() == null) {
                    ValidationColorChangeNew("txtSalesPerson", "divSalesPerson", "Sales Person Required", false);
                    isValid = false;
                }
            }


            if ($('#ddlPamentType').val() == '' || $('#ddlPamentType').val() == null || $('#ddlPamentType').val() == 0) {
                ValidationColorChangeNew("ddlPamentType", "divPaymentType", "Payment Type Required", true);
                isValid = false;
            }


            if ($('#salesOrder tbody tr').length == 0 || $('#salesOrder tbody tr').length == '') {
                isValid = false;
                message = "Products Required";
            }


            $('#salesOrder tbody tr').each(function () {


                var idr = $(this).attr('id');
                var id = idr.substring(3);
                var saleQty = isNaN(parseFloat($('#saleQty_' + id).val())) ? 0 : parseFloat($('#saleQty_' + id).val());
                var detailsId = isNaN(parseInt($('#detailsId_' + id).val())) ? 0 : parseInt($('#detailsId_' + id).val());
                var salePrice = isNaN(parseFloat($('#saleRate_' + id).val())) ? 0 : parseFloat($('#saleRate_' + id).val());
                var saleKg = isNaN(parseFloat($('#saleKG_' + id).val())) ? 0 : parseFloat($('#saleKG_' + id).val());
                var total = isNaN(parseFloat($('#totalG_' + id).val())) ? 0 : parseFloat($('#totalG_' + id).val());
                if (detailsId == 0) {
                    if (salePrice === 0) {
                        isValid = false;
                        message = "Sale Price Cannot be 0 ";
                        return;
                    }
                    if (saleQty === 0) {
                        isValid = false;
                        message = "Sale Qty Cannot be 0 ";
                        return;
                    }
                    if (saleKg === 0) {
                        isValid = false;
                        message = "Sale KG Cannot be 0 ";
                        return;
                    }

                    if (total === 0) {
                        isValid = false;
                        message = "Total Price Cannot be 0 ";
                        return;
                    }
                }
            });
            if (isValid == false) {
                ShowMessage(message);

            }
            return isValid;

        }

        function SaveSalesOrderInChallan() {

            var asd = DeleteProduct;
            var jsonData = {};
            jsonData["CompanyId"] = $('#ddlCompany').val();
            jsonData["CustomerId"] = $('#ddlCustomer').val();
            jsonData["SalesOrderProcessedMasterId"] = $('#mSalesOrderId').val();
            jsonData["OrderType"] = 1;
            jsonData["SalesPerson"] = $('#txtSalesPerson').val();
            jsonData["SalesPersonContact"] = $('#txtSalesPersonNo').val();
            jsonData["OrderDate"] = $('#txtOrderDate').val();
            jsonData["DeliveryDate"] = $('#txtDeliveryDate').val();
            jsonData["DeliveryDestination"] = $('#txtDestination').val();
            jsonData["GroupId"] = 5;
            jsonData["PaymentType"] = $('#ddlPamentType').val();

            jsonData["CompanyId"] = $('#ddlCompany').val();
            jsonData["TotatalOrderAmtKg"] = parseFloat($('#totalKg').html());
            jsonData["TotalIncTaxVat"] = parseFloat($('#totalIncTacVat').html());
            jsonData["TotalExTaxVat"] = parseFloat($('#totalExTaxVat').html());
            jsonData["TaxVat"] = parseFloat($('#taxVat').html());
            jsonData["Remarks"] = $('#txtRemarks').val();
            jsonData["CollectionType"] = $('#ddlCollection').val();
            jsonData["CollectionAmount"] = $('#txtCollection').val();
            jsonData["IsEmployee"] = $("#chkEmployee").prop("checked");
            jsonData["CustomerTypeId"] = $('#ddlCustomerType').val();
            jsonData["RefNo"] = $('#txtRefNo').val();
            jsonData["RefDate"] = $('#txtRefDate').val();
            var jsonObjs = [];
            $('#salesOrder tbody tr').each(function () {
                debugger;
                var theObj = {};
                var idr = $(this).attr('id');
                var id = idr.substring(3);
                var productId = isNaN(parseFloat($('#pro_' + id).val())) ? 0 : parseFloat($('#pro_' + id).val());
                var saleQty = isNaN(parseFloat($('#saleQty_' + id).val())) ? 0 : parseFloat($('#saleQty_' + id).val());
                var stockRate = isNaN(parseFloat($('#stRate_' + id).val())) ? 0 : parseFloat($('#stRate_' + id).val());
                var saleRate = isNaN(parseFloat($('#saleRate_' + id).val())) ? 0 : parseFloat($('#saleRate_' + id).val());

                var saleKg = isNaN(parseFloat($('#saleKG_' + id).val())) ? 0 : parseFloat($('#saleKG_' + id).val());

                var disPer = isNaN(parseFloat($('#disPer_' + id).val())) ? 0 : parseFloat($('#disPer_' + id).val());
                var disAmt = isNaN(parseFloat($('#disNum_' + id).val())) ? 0 : parseFloat($('#disNum_' + id).val());
                var total = isNaN(parseFloat($('#totalG_' + id).val())) ? 0 : parseFloat($('#totalG_' + id).val());
                var proTax = isNaN(parseFloat($('#proTax_' + id).val())) ? 0 : parseFloat($('#proTax_' + id).val());
                var detailsId = $('#detailsId_' + id).val();
                {
                    theObj["ProductId"] = productId;
                    theObj["SalesOrderProcessDetailsId"] = detailsId;
                    theObj["ProductQty"] = saleQty;
                    theObj["StockRate"] = stockRate;
                    theObj["SaleRate"] = saleRate;
                    theObj["ProductKg"] = saleKg;
                    theObj["DiscountAmount"] = disAmt;
                    theObj["DiscountPercent"] = disPer;
                    theObj["TotalPrice"] = total;
                    theObj["ProductTax"] = proTax;

                    theObj["OperationIdAdd"] = detailsId == 0 ? 3 : 0;
                    jsonObjs.push(theObj);
                }

            });


            if (isNaN(parseInt($('#mSalesOrderId').val())) ? 0 : parseInt($('#mSalesOrderId').val()) > 0) {
                var deleteLength = DeleteProduct.length;
                for (var ind = 0; ind < DeleteProduct.length; ind++) {
                    jsonObjs.push(DeleteProduct[ind]);
                }
            }
            jsonData["SalesDetails"] = jsonObjs;

            var urlpath = '@Url.Action("SaveOrderPrecessed", "SalesOrderProcess")';
            $.ajax({
                contentType: "application/json",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "POST"
            })
                .success(function (result) {

                    if (result.pk > 0) {

                        // var mrrNo = GetMrrNo(result.pk);

                        swal({
                            title: " Saved Successfull",
                            text: '',
                            type: "success",
                            showCancelButton: false,
                            cancelButtonClass: 'btn-secondary waves-effect',
                            confirmButtonClass: 'btn-success waves-effect waves-light',
                            confirmButtonText: 'Yes!',
                            closeOnConfirm: false
                        }, function () {
                            window.location.href = '/ChallanProcessed/ProcessedChallan?id=' + $('#mSalesOrderId').val() + '';
                        });


                    }
                });
        }


        function LoadProductInRow(elementId) {


            $('#' + elementId + '').append("<option value='0'>--Select Product--</option>");

            for (var i = 0; i < PrlductList.length; i++) {
                $('#' + elementId + '').append($("<option></option>").val(PrlductList[i].ProductId).html(PrlductList[i].ProductNo + ":" + PrlductList[i].ProductName));

            }

        }


        function GetProducts() {


            var urlpath = '@Url.Action("GetProductFTrade", "TradeSalesOrder")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { groupId: 5 },
                async: false,
                success: function (data) {

                    PrlductList = data;

                }
            });
        }

        function CheckDetails(id) {


            if ($("#chk_" + id).is(':checked')) {
                $("#chk_" + id).prop('checked', true);


                $('#issueQty_' + id).attr('disabled', false);
                $('#issueKG_' + id).attr('disabled', false);
                CalculateChallan();
            } else {
                $("#chk_" + id).prop('checked', false);

                $('#issueQty_' + id).attr('disabled', true);
                $('#issueKG_' + id).attr('disabled', true);
                CalculateChallan();
            }


        }

        function LoadProductDetails() {
            $('#salesOrder tbody').empty();
            GetOrderMaster();
            var wh = $('#ddlWareHouse').val();
            var orderdate = $("#txtOrderDate").val();
            $('#salesOrder tbody tr').each(function () {


                var idr = $(this).attr('id');
                var trid = idr.substring(3);
                var pid = $('#proId_' + trid).val();

                var details = LoadProductDetailsBywh(wh, orderdate, $('#proId_' + trid).val());
                // $("#proId_" + tr).val()
                $('#pro_' + trid).val(pid).trigger('change');
                //var asdasdasd
                //if()
                //$("#stQty_" + trid).val(details.StockQty);
                //$("#stKg_" + trid).val(details.StockKg);
                //$('#stRate_' + trid).val(details.StockPrice);

            });
        }


        function LoadProductDetailsBywh(wh, orderdate, pId) {
            var productDetails = {};
            var urlpath = '@Url.Action("LoadProductDetails", "ChallanProcessed")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { warehouse: wh, orderdate: orderdate, productId: pId },
                async: false,
                success: function (data) {

                    productDetails = data;
                }
            });
            return productDetails;
        }

        function LoadWHByLocation(type) {
            var loc = $('#ddlLocation').val();
            LoadWareHouse('ddlWareHouse', loc, type);
        }

        function LoadCustomerType(elementId) {

            var urlpath = '@Url.Action("GetCustomerType", "SalesOrderFurtherProcess")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",

                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Customer Type --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].CustomerTypeID).html(data[i].CoustomerTypeName));
                    }
                }
            });
        }


        function CalculateChallan() {

            var challanAmt = 0;

            var totalChallanQty = 0;
            var totalChallnKg = 0;
            $('#salesOrder tbody tr').each(function () {

                var idr = $(this).attr('id');
                var id = idr.substring(3);
                //if ($('#chk_' + id).is(':checked')) {


                var totalPrice = isNaN(parseFloat($('#totalG_' + id).val())) ? 0 : parseFloat($('#totalG_' + id).val());
                var saleQty = isNaN(parseFloat($('#saleQty_' + id).val())) ? 0 : parseFloat($('#saleQty_' + id).val());
                var saleKG = isNaN(parseFloat($('#saleKG_' + id).val())) ? 0 : parseFloat($('#saleKG_' + id).val());
                var issueQty = isNaN(parseFloat($('#issueQty_' + id).val())) ? 0 : parseFloat($('#issueQty_' + id).val());
                var issuekg = isNaN(parseFloat($('#issueKG_' + id).val())) ? 0 : parseFloat($('#issueKG_' + id).val());

                var prvIssueQty = isNaN(parseFloat($('#prevIssueQty_' + id).val())) ? 0 : parseFloat($('#prevIssueQty_' + id).val());
                var prvIssueKg = isNaN(parseFloat($('#prevIssueKG_' + id).val())) ? 0 : parseFloat($('#prevIssueKG_' + id).val());
                var stQty = isNaN(parseFloat($('#stQty_' + id).val())) ? 0 : parseFloat($('#stQty_' + id).val());
                var stkg = isNaN(parseFloat($('#stKg_' + id).val())) ? 0 : parseFloat($('#stKg_' + id).val());
                var groupId = isNaN(parseInt($('#group_' + id).val())) ? 0 : parseInt($('#group_' + id).val());

                var ecom = $('#ecom').val();
                var customertype = $('#ddlCustomerType').val();

                var chItemPrice = 0;

                if (groupId == 8) {
                    debugger;
                    chItemPrice = (totalPrice / saleQty) * issueQty;
                    challanAmt = challanAmt + chItemPrice;


                }


                if (groupId == 9) {
                    debugger;
                    chItemPrice = (totalPrice / saleKG) * issuekg;
                    challanAmt = challanAmt + chItemPrice;
                }


                if (groupId == 10) {

                    chItemPrice = (totalPrice / saleKG) * issuekg;
                    challanAmt = challanAmt + chItemPrice;
                }


                $('#chItemPrice_' + id).val(chItemPrice.toFixed(2));

                totalChallanQty = totalChallanQty + issueQty;
                totalChallnKg = totalChallnKg + issuekg;

                //// full picked checked


                //}
            });

            $('#totalChallanQty').html(totalChallanQty);
            $('#totalChallanKg').html(totalChallnKg);

            $('#challanAmt').html(challanAmt.toFixed(2));
            $('#totalKg').html(totalChallnKg);


        }

        function GetTaxInfo(productGroupId, amount) {
            var tax = 2;
            var urlpath = '@Url.Action("GetTaxInfo", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'json',
                data: { productGroupId: productGroupId, amount: amount },
                async: false,
                success: function (data) {
                    tax = data.TaxPercent;

                }
            });
            return tax;
        }


        function GetPreviousIssue(orderId, productId) {
            var result;
            var urlpath = '@Url.Action("GetPreviousChallan", "ChallanProcessed")';
            $.ajax({
                url: urlpath,
                data: { orderId: orderId, productId: productId },
                dataType: 'json',
                type: "Get",

                async: false,
                success: function (data) {
                    result = data;
                }
            });
            return result;
        }

        function GenerateChallan() {
            if (SaveValidation() == true) {
                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveChallan();

                });
            }
        }

        function SaveValidation() {
            var isValid = true;
            var message = "Some Values Required";
            //  var checkCount = $('input.checkClass:checked').length;

            var whId = isNaN(parseFloat($('#ddlWareHouse').val())) ? 0 : parseFloat($('#ddlWareHouse').val());
            var pType = isNaN(parseFloat($('#ddlPamentType').val())) ? 0 : parseFloat($('#ddlPamentType').val());
            if (whId == 0) {
                message = "Warehouse Required";
                isValid = false;
            }
            //if (pType == 0) {
            //    message = "Payment Type is Required";
            //    isValid = false;
            //}
            //if (checkCount <= 0) {
            //    isValid = false;

            //    message = "No Product For DO";
            //}


            if ($('#challanDate').val() == '' || $('#challanDate').val() == '') {
                message = "Challan Date Required";
                isValid = false;
                ValidationColorChangeNew('challanDate', 'divChallanDate', "Challan Date Required", false);
            } else {
                var CurrentDate = new Date();
                var cdate = new Date($('#challanDate').val());
                if (cdate > CurrentDate) {
                    isValid = false;
                    message = "Challan Date not grater then current date";
                    $('#challanDate').val("");
                }

            }

            if ($('#txtDeliveryDate').val() == '' || $('#txtDeliveryDate').val() == '') {
                message = "Delivery Date Required";
                isValid = false;
                ValidationColorChangeNew('txtDeliveryDate', 'divDeliveryDate', "Delivery Date Required", false);
                //} else {
                //    var cdate = new Date($('#challanDate').val());
                //    var ddate = new Date($('#txtDeliveryDate').val());
                //    if (cdate < ddate) {
                //        isValid = false;
                //        message = "Challan Date not smaller then delivery date";
                //    }


                //var cdate = $('#challanDate').val();
                //     if (cdate < $('#txtDeliveryDate').val()) {
                //         isValid = false;
                //         message = "Challan Date not smaller then delivery date";
                //     }

            }
            if ($('#driverName').val() == '' || $('#driverName').val() == '') {
                message = "Driver Name Required";
                isValid = false;
                ValidationColorChangeNew('driverName', 'divDriverName', "Driver Name Required", false);
            }


            if ($('#Vehicle').val() == '0' || $('#Vehicle').val() == '6') {
                message = "Vehicle Required";
                isValid = false;
                ValidationColorChangeNew('Vehicle', 'divVehicle', "Vehicle Required", false);
            }

            if ($('#driverContact').val() == '' || $('#driverContact').val() == '') {
                message = "Delivery Man Required";
                isValid = false;
                ValidationColorChangeNew('driverContact', 'divDriverContact', "Delivery Man Required", false);
            }
            $('#salesOrder tbody tr').each(function () {
                debugger;

                var idr = $(this).attr('id');
                var id = idr.substring(3);
                //if ($('#chk_' + id).is(':checked')) {

                    var groupId = isNaN(parseFloat($('#group_' + id).val())) ? 0 : parseFloat($('#group_' + id).val());

                    var issue = isNaN(parseFloat($('#issueQty_' + id).val())) ? 0 : parseFloat($('#issueQty_' + id).val());
                    var issueKg = isNaN(parseFloat($('#issueKG_' + id).val())) ? 0 : parseFloat($('#issueKG_' + id).val());
                    var stockQty = isNaN(parseFloat($('#stQty_' + id).val())) ? 0 : parseFloat($('#stQty_' + id).val());
                    var stKg_ = isNaN(parseFloat($('#stKg_' + id).val())) ? 0 : parseFloat($('#stKg_' + id).val());


                    if (groupId == 9) {
                        //if (stockQty == 0) {
                        //    message = "Stock Qty Required";
                        //    $('#stQty_' + id).css('border-bottom', '2px solid red');
                        //    isValid = false;
                        //    return;
                        //}
                        if (stKg_ == 0) {
                            message = "Stock KG Required";
                            $('#stKg_' + id).css('border-bottom', '2px solid red');
                            isValid = false;
                            return;
                        }
                    }
                    if (groupId == 8) {
                        if (stockQty == 0) {
                            message = "Stock Quantity Required";
                            $('#stKg_' + id).css('border-bottom', '2px solid red');
                            isValid = false;
                            return;
                        }
                    }

                    if (groupId == 10) {
                        if (stKg_ == 0) {
                            message = "Stock KG Required";
                            $('#stKg_' + id).css('border-bottom', '2px solid red');
                            isValid = false;
                            return;
                        }
                    }


                    if (groupId == 9) {
                        //if (issue == 0) {
                        //    message = "Issue Quantity Required";
                        //    $('#issueQty_' + id).css('border-bottom', '2px solid red');
                        //    isValid = false;
                        //    return;
                        //}
                        if (issueKg == 0) {
                            message = "Issue KG Required";
                            $('#issueKG_' + id).css('border-bottom', '2px solid red');
                            isValid = false;
                            return;
                        }
                    }
                    if (groupId == 8) {
                        if (issue == 0) {
                            message = "Issue Quantity Required";
                            $('#issueQty_' + id).css('border-bottom', '2px solid red');
                            isValid = false;
                            return;
                        }
                    }

                    if (groupId == 10) {

                        if (issueKg == 0) {
                            message = "Issue KG Required";
                            $('#issueKG_' + id).css('border-bottom', '2px solid red');
                            isValid = false;
                            return;
                        }
                    }


                //}

            });

            var picmaster = $('#pickingMasterId').val();

            var salesmaster = $('#mSalesOrderId').val();
            var valu = ValidateSONo(salesmaster, picmaster);
            if (parseInt(valu) > 0) {
                isValid = false;
                message = "Already  created challan";
            }

            if (isValid == false) {

                ShowMessage(message);
            }

            return isValid;
        }

        function ValidateSONo(so_id, pick_id) {

            var result = 0;
            var urlpath = '@Url.Action("challanchaeck", "ChallanProcessed")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { so_id: so_id, pick_id: pick_id },
                async: false,
                success: function (data) {
                    result = data;
                }
            });
            return result;
        }
        function SaveChallan() {

            var jsonData = {};
            jsonData["CompanyId"] = $('#ddlCompany').val();
            jsonData["VehicleId"] = $('#Vehicle').val();
            jsonData["Remarks"] = $('#txtRemarks').val();
            jsonData["TradeSalesOrderMasterId"] = $('#mSalesOrderId').val();
            jsonData["TotalChallanAmount"] = parseFloat($('#challanAmt').html());
            jsonData["WarehouseId"] = parseInt($('#ddlWareHouse').val());
            jsonData["PaymentType"] = parseInt($('#ddlPamentType').val());
            jsonData["ChallanDate"] = $('#challanDate').val();
            jsonData["DriverName"] = $('#driverName').val();
            jsonData["DeliveryBy"] = $('#driverContact').val();
            jsonData["DeliveryDate"] = $('#txtDeliveryDate').val();
            jsonData["DriverContact"] = $('#driverContact').val();
            jsonData["TotalChallanQty"] = isNaN(parseFloat($('#totalChallanQty').html())) ? 0 : parseFloat($('#totalChallanQty').html());
            jsonData["TotalChallanKg"] = isNaN(parseFloat($('#totalChallanKg').html())) ? 0 : parseFloat($('#totalChallanKg').html());
            var jsonObjs = [];

            if ($('#salesOrder tbody tr').length > 0) {
                $('#salesOrder tbody tr').each(function () {


                    var idr = $(this).attr('id');
                    var id = idr.substring(3);
                    debugger;
                    var productId = isNaN(parseFloat($('#pro_' + id).val())) ? 0 : parseFloat($('#pro_' + id).val());
                    var issueQty = isNaN(parseFloat($('#issueQty_' + id).val())) ? 0 : parseFloat($('#issueQty_' + id).val());
                    var issueKg = isNaN(parseFloat($('#issueKG_' + id).val())) ? 0 : parseFloat($('#issueKG_' + id).val());
                    var soDetailsId = isNaN(parseFloat($('#detailsId_' + id).val())) ? 0 : parseFloat($('#detailsId_' + id).val());
                    var itemPrice = isNaN(parseFloat($('#chItemPrice_' + id).val())) ? 0 : parseFloat($('#chItemPrice_' + id).val());
                    var groupId = isNaN(parseFloat($('#group_' + id).val())) ? 0 : parseFloat($('#group_' + id).val());

                    var soDetailsId1 = parseInt($('#detailsId_' + id).val());
                    var theObj = {};
                    theObj["ProductId"] = productId;
                    theObj["GroupId"] = groupId;
                    theObj["IssueQty"] = issueQty;
                    theObj["IssueKg"] = issueKg;
                    theObj["TradeSalesOrderDetailsId"] = soDetailsId1;
                    theObj["IssuePrice"] = itemPrice;
                    theObj["WarehouseId"] = parseInt($('#ddlWareHouse').val());
                    jsonObjs.push(theObj);


                });
                jsonData["ATradeChallanDetails"] = jsonObjs;
            }


           var urlpath = '@Url.Action("SaveTradedChallan", "TradeSalesChallan")';
            $.ajax({
                contentType: "application/json",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "POST"
            })
                .success(function (result) {

                    if (result.isSuccess == true) {

                        // var mrrNo = GetMrrNo(result.pk);

                        swal({
                            title: " Saved Successfull",
                            text: '',
                            type: "success",
                            showCancelButton: false,
                            cancelButtonClass: 'btn-secondary waves-effect',
                            confirmButtonClass: 'btn-success waves-effect waves-light',
                            confirmButtonText: 'Yes!',
                            closeOnConfirm: false
                        }, function () {
                            window.location.href = '@Url.Action("Index", "TradeSalesChallan")';

                        });


                    }
                });
        }
     

        function LoadPaymentTypee(elementId) {

            var urlpath = '@Url.Action("GetPaymentType", "Utility")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",

                async: false,
                success: function (data) {
                    debugger;
                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Payment --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].PaymentTypeId).html(data[i].PaymentType));
                    }
                }
            });
        }

        function GetOrderMaster() {
            var id = $('#mSalesOrderId').val();
            var urlpath = '@Url.Action("GetSalesOrderMasterFChallan", "TradeSalesChallan")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { id: id },
                async: false,
                success: function (data) {
                    $("#ddlCustomerType").val(data.CustomerTypeId).trigger('change');
                    $("#ddlCustomer").val(data.CustomerId).trigger('change');
                    GetCustomerDetails();
                    $("#ddlCompany").val(data.CompanyId).trigger('change');
                    $('#txtDestination').val(data.DeliveryDestination);
                    $("#txtSalesPersonNo").val(data.SalesPersonContact);

                    if (data.IsEmployee == true) {
                        $('#chkEmployee').prop('checked', true);
                        $("#txtSalesPerson").val(GetEmployeeName(data.SalesPerson));
                        GetEmpNoFromId($("#txtSalesPerson").val());
                    } else {
                        $('#chkEmployee').prop('checked', false);
                        $("#txtSalesPerson").val(data.SalesPerson);
                    }
                    $('#txtOrderDate').val(ToJavaScriptDate(data.OrderDate));
                    $('#txtDeliveryDate').val(ToJavaScriptDate(data.DeliveryDate));


                    $('#salesOrderNo').html(data.SalesOrderNo);


                    $('#txtRemarks').val(data.Remarks);
                    LoadPaymentTypee('ddlPamentType');
                    // $("#ddlPamentType").val(data.PaymentType).trigger('change');
                    debugger;
                    $("#ecom").val(data.IsEcommerce);

                    GetProducts();

                    for (var i = 0; i < data.SalesDetailsTrade.length; i++) {
                        debugger;
                        var tr = $('#salesOrder tbody tr').length + 1;
                        AddRow();
                        $("#pro_" + tr).val(data.SalesDetailsTrade[i].ProductId);
                        $("#proId_" + tr).val(data.SalesDetailsTrade[i].ProductId);
                        $('#saleQty_' + tr).val(data.SalesDetailsTrade[i].ProductQty);
                        $('#saleKG_' + tr).val(data.SalesDetailsTrade[i].ProductKg);
                        $('#saleRate_' + tr).val(data.SalesDetailsTrade[i].SaleRate);
                        $('#disPer_' + tr).val(data.SalesDetailsTrade[i].DiscountPercent);
                        $('#disNum_' + tr).val(data.SalesDetailsTrade[i].DiscountAmount);
                        $('#total_' + tr).val(data.SalesDetailsTrade[i].TotalPrice);
                        $('#totalG_' + tr).val(data.SalesDetailsTrade[i].TotalPrice);
                        $('#detailsId_' + tr).val(data.SalesDetailsTrade[i].TradeSalesOrderDetailsId);
                        $('#proTax_' + tr).val(data.SalesDetailsTrade[i].ProductTax);
                        $('#group_' + tr).val(data.SalesDetailsTrade[i].GroupId);
                        $('#request_' + tr).val(data.SalesDetailsTrade[i].RequestStatus);
                        $('#DetaislRemarks_' + tr).val(data.SalesDetailsTrade[i].DetailsRemarks);

                        $('.priceHide').hide();
                        $('#pro_' + tr).attr('disabled', true);
                        $('#stQty_' + tr).attr('disabled', true);
                        $('#stKg_' + tr).attr('disabled', true);
                        $('#stRate_' + tr).attr('disabled', true);
                        $('#saleQty_' + tr).attr('disabled', true);
                        $('#saleKG_' + tr).attr('disabled', true);
                        //$('#issueQty_' + tr).attr('disabled', true);
                        //$('#issueKG_' + tr).attr('disabled', true);
                        $('#issueQty_' + tr).attr('disabled', false);
                        $('#issueKG_' + tr).attr('disabled', false);
                        $('#DetaislRemarks_' + tr).attr('disabled', true);
                        //$('#disPer_' + tr).attr('disabled', true);
                        //$('#disNum_' + tr).attr('disabled', true);
                    }


                    $('#totalKg').html(data.TotatalOrderAmtKg);
                    $('#totalQty').html(data.TotatalOrderAmtQty);
                    $('#totalIncTacVat').html(data.TotalDiscount);
                    $('#totalExTaxVat').html(data.TotalAmount);

                    //  CalculateAll();

                }
            });
        }

        function GetEmpNoFromId(data) {

            var a = data;
            var empId = data.substring(0, 5);

            var urlpath = '@Url.Action("GetEmpNo", "Utility")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { empId: empId },
                async: false,
                success: function (data) {
                    $('#employeeSelect').val(data);
                }
            });

        }

        function CalculateSalePrice(id) {

            var saleRate = isNaN(parseFloat($('#saleRate_' + id).val())) ? 0 : parseFloat($('#saleRate_' + id).val());
            var saleQty = isNaN(parseFloat($('#saleQty_' + id).val())) ? 0 : parseFloat($('#saleQty_' + id).val());
            var disCounPer = isNaN(parseFloat($('#disPer_' + id).val())) ? 0 : parseFloat($('#disPer_' + id).val());
            var saleKg = isNaN(parseFloat($('#saleKG_' + id).val())) ? 0 : parseFloat($('#saleKG_' + id).val());
            var total = saleRate * saleKg;
            var distountTotal = total * (disCounPer / 100);


            var vatPerItem = isNaN(parseFloat($('#proTax_' + id).val())) ? 0 : parseFloat($('#proTax_' + id).val());
            var totalPrice = total + vatPerItem - distountTotal;

            $('#total_' + id).val(total.toFixed(2));
            $('#disNum_' + id).val(distountTotal.toFixed(2));
            $('#totalG_' + id).val(totalPrice.toFixed(2));
            CalculateAll();
        }


        function CalculateSalePriceAmt(id) {

            var saleRate = isNaN(parseFloat($('#saleRate_' + id).val())) ? 0 : parseFloat($('#saleRate_' + id).val());
            var saleQty = isNaN(parseFloat($('#saleQty_' + id).val())) ? 0 : parseFloat($('#saleQty_' + id).val());
            var discountAmt = isNaN(parseFloat($('#disNum_' + id).val())) ? 0 : parseFloat($('#disNum_' + id).val());
            var saleKg = isNaN(parseFloat($('#saleKG_' + id).val())) ? 0 : parseFloat($('#saleKG_' + id).val());
            var total = saleRate * saleKg;
            var discountRate = (discountAmt / total) * 100;
            var totalPrice = total - discountAmt;
            $('#total_' + id).val(total.toFixed(2));
            $('#disPer_' + id).val(discountRate.toFixed(2));
            $('#totalG_' + id).val(totalPrice.toFixed(2));
            CalculateAll();
        }

        function CalculateAll() {


            var grandTotal = 0;
            var totalIncTax = 0;
            var totalExTax = 0;
            var totalKg = 0;
            var totalTax = 0;
            var proCout = 0;
            $('#salesOrder tbody tr').each(function () {


                var idr = $(this).attr('id');
                var id = idr.substring(3);

                var productId = isNaN(parseFloat($('#pro_' + id).val())) ? 0 : parseFloat($('#pro_' + id).val());
                var saleQty = isNaN(parseFloat($('#saleQty_' + id).val())) ? 0 : parseFloat($('#saleQty_' + id).val());
                var stockRate = isNaN(parseFloat($('#stRate_' + id).val())) ? 0 : parseFloat($('#stRate_' + id).val());
                var saleRate = isNaN(parseFloat($('#saleRate' + id).val())) ? 0 : parseFloat($('#saleRate' + id).val());

                var saleKg = isNaN(parseFloat($('#saleKG_' + id).val())) ? 0 : parseFloat($('#saleKG_' + id).val());

                var disPer = isNaN(parseFloat($('#disPer_' + id).val())) ? 0 : parseFloat($('#disPer_' + id).val());
                var disAmt = isNaN(parseFloat($('#disNum_' + id).val())) ? 0 : parseFloat($('#disNum_' + id).val());
                var total = isNaN(parseFloat($('#total_' + id).val())) ? 0 : parseFloat($('#total_' + id).val());
                grandTotal += (total - disAmt);
                totalKg += saleKg;
                if (productId > 0) {
                    proCout = proCout + 1;
                }

            });
            $('#totalKg').html(totalKg.toFixed(2));
            $('#totalIncTacVat').html(totalIncTax.toFixed(2));
            $('#totalExTaxVat').html(grandTotal.toFixed(2));

        }

        function SetItemTax(proTax) {
            $('#salesOrder tbody tr').each(function () {


                var idr = $(this).attr('id');
                var id = idr.substring(3);
                var total = isNaN(parseFloat($('#total_' + id).val())) ? 0 : parseFloat($('#total_' + id).val());
                var disnum = isNaN(parseFloat($('#disNum_' + id).val())) ? 0 : parseFloat($('#disNum_' + id).val());


                $('#proTax_' + id).val(proTax.toFixed(2));

                $('#totalG_' + id).val((total - disnum + proTax).toFixed(2));

            });
        }


        function GetTaxInfo(productGroupId, amount) {
            var tax = 2;
            var urlpath = '@Url.Action("GetTaxInfo", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'json',
                data: { productGroupId: productGroupId, amount: amount },
                async: false,
                success: function (data) {
                    tax = data.TaxPercent;

                }
            });
            return tax;
        }

        function GetEmployeeName(empId) {
            var EmpName = "";
            var urlpath = '@Url.Action("GetEmployeeName", "Utility")';
            $.ajax({
                url: urlpath,
                data: { empId: empId },
                dataType: 'json',
                type: "Get",

                async: false,
                success: function (data) {
                    EmpName = data;

                }
            });
            return EmpName;
        }

        function GetProductDetails(prodId) {


            var productId = $('#pro_' + prodId).val();
            var wareHouseId = $('#ddlWareHouse').val();
            var orderDate = $('#txtOrderDate').val();
            var challanDate = $('#challanDate').val();
            var customerType = $('#ddlCustomerType').val();
            var urlpath = '@Url.Action("GetProductDetails", "TradeSalesChallan")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'json',
                data: { productId: productId, wareHouseId: wareHouseId, challanDate:challanDate },
                async: false,
                success: function (data) {

                    $("#cat_" + prodId).val(data.CategoryName);
                    $("#stQty_" + prodId).val(data.StockQty);
                    $("#stKg_" + prodId).val(data.StockKg);
                    $("#stRate_" + prodId).val(data.StockPrice.toFixed(2));
                    var salePrice = GetSalePrice(productId, data.StockPrice);

                    $('#saleRate_' + prodId).val(salePrice);

                }
            });
        }

        function GetSalePrice(productId, price) {
            var theprice = 0;
            var urlpath = '@Url.Action("GetProcessedSalePrice", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'json',
                data: { productId: productId, price: price },
                async: false,
                success: function (data) {

                    theprice = data;


                }
            });

            return theprice;
        }

        function AddRow() {

            var tr = $('#salesOrder tbody tr').length + 1;
            var urlpath = '@Url.Action("AddRowForOrder", "TradeSalesChallan")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'html',
                data: { tr: tr },
                async: false,
                success: function (data) {

                    $('#salesOrder tbody').append(data);

                    LoadProductInTable("pro_" + tr);

                }
            });
            //CalculateAll();
            $('#pro_' + tr).select2();
        }


        function LoadProductInTable(elementId) {

            $('#' + elementId + '').append("<option value='0'>--Select Product--</option>");

            for (var i = 0; i < PrlductList.length; i++) {

                $('#' + elementId + '').append($("<option></option>").val(PrlductList[i].ProductId).html(PrlductList[i].ProductName));
            }

        }

        function GetProducts() {


            var urlpath = '@Url.Action("GetProductFTrade", "TradeSalesOrder")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { groupId: 5 },
                async: false,
                success: function (data) {

                    PrlductList = data;

                }
            });
        }

        function GetCustomerDetails() {


            var customerId = $('#ddlCustomer').val();

            var urlpath = '@Url.Action("GetCustomerDetails", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'html',
                type: "Get",
                data: { id: customerId },
                async: false,
                success: function (data) {
                    $('#customerDetails').empty();
                    $('#customerDetails').html(data);

                }
            });


            LoadDate('#txtOrderDate');

            $('#txtDestination').val($('#customerAddress').html());

        }


        function GetLocationId(warehouse) {

            var locationId = 0;
            var urlpath = '@Url.Action("GetLocationIdByWarehouse", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { id: warehouse },
                async: false,
                success: function (data) {

                    locationId = data;
                }
            });
            return locationId;
        }


        function LoadCustomer(elementId) {
            var typeid = $('#ddlCustomerType').val();
            var urlpath = '@Url.Action("GetCustomer", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { typeid: typeid },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Customer --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].CustomerID).html(data[i].CustomerCode + ":" + data[i].CustomerName + ": " + data[i].CoustomerTypeName));
                    }
                }
            });
        }
    </script>
}


