﻿﻿
@{
    ViewBag.Title = "TradeChallanReturn";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Trade Product Return </h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        @*<div class="row">
                            <div class="form-group col-md-3" id="divDivision">
                                <label>company</label>
                                <select class="form-control select2" id="ddlCompany" style="width: 100%;"></select>
                            </div>
                            <div class="form-group col-md-3" id="divArea">
                                <label>Location</label>
                                <select class="form-control select2" id="ddlLocation" style="width: 100%;"> </select>
                            </div>
                            <div class="form-group col-md-3" id="divTerritory">
                                <label>Warehouse</label>
                                <select class="form-control select2" id="ddlWarehouse" style="width: 100%;"> </select>
                            </div>
                        </div>*@
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label for="dressDateId ">From Challan Date<span style="color: red"> *</span></label>
                                <input type="text" class="form-control datepicker" autocomplete="off" id="fromDate">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="dressDateId ">To Challan Date<span style="color: red"> *</span></label>
                                <input type="text" class="form-control datepicker" autocomplete="off" id="toDate">
                            </div>
                            @*<div class="form-group col-md-3" id="divMarket">
                                <label>Vehicle No<span style="color: red"> *</span></label>
                                <select class="form-control select2" id="ddlVehicle" style="width: 100%;"> </select>
                            </div>
                            <div class="form-group col-md-4 icheck-primary">
                                <label>Type<span style="color: red"> *</span></label>
                                <div class="form-group clearfix">
                                    <div class="icheck-success d-inline col-md-2">
                                        <input type="radio" id="allRadio" name="reqType" value="1" checked>
                                        <label for="allRadio">All</label>
                                    </div>
                                    <div class="icheck-success d-inline col-md-2">
                                        <input type="radio" id="doRadio" name="reqType" value="2">
                                        <label for="doRadio">Picking</label>
                                    </div>
                                    <div class="icheck-success d-inline col-md-2">
                                        <input type="radio" id="stoRadio" name="reqType" value="3">
                                        <label for="stoRadio">STO</label>
                                    </div>
                                </div>
                            </div>*@
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary float-right" onclick="LoadReport()"><span class="fa fa-search"></span>Search</button>
                    </div>
                </div>
                <!-- /.card -->
                <div class="card divclass" id="salesReportDiv">
                    <div class="card-header with-border">
                        <div id="">
                            <h3 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="companyHeader"></h3>
                            <h4 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="reportHeader"></h4>
                            <div class="row">
                                <div class="offset-md-9 col-md-3">
                                    <label id="reportDate"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="salesReport">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script>
        $(function() {
            //LoadCompany('ddlCompany');
            //LoadLocation('ddlLocation');
            //LoadWareHouse('ddlWarehouse');
            //LoadVehicle('ddlVehicle');
        });
        function LoadReport() {
            //if (RptValidation() == true) {
            debugger;
                var fromDate = $('#fromDate').val();
                var toDate = $('#toDate').val();
                var urlpath = '@Url.Action("GetTradeChallanReturn", "TradeSalesChallan")';
                $.ajax({
                    url: urlpath,
                    data: { fromDate: fromDate, toDate: toDate },
                    dataType: 'html',
                    type: "Get",
                    success: function(data) {
                        $("#salesReport").html(data);
                    },
                    complete: function() {
                        $('#companyHeader').text('IG Foods Limited');
                        $('#reportHeader').text('Trade Return List');
                    }
                });
            //}
        }
    </script>
}