﻿
@using IGFoodProject.Models;
@model IEnumerable<CustomerCredit>
@{
    int count = 1;
    decimal isZero = 0;
    decimal totalUnused = 0;
}
<table id="CustomerTable" border="1" class="table dataTable table-bordered table-striped table-hover">
    <thead>
        <tr style="background-color: aliceblue">
            <th style="text-align: center;">
                <input type='checkbox' class='form-check-input' id='chk_all' name="chk_all" onclick='allCheckUnckeck();' />
                @*<label for="chk_all"> Check/Uncheck</label>*@<br>
            </th>
            <th style="text-align: center">SL</th>
            <th style="text-align: center;width: 10%;">Customer</th>
            <th style="text-align: center;width: 60px;"></th>
            <th style="text-align: center">Jan</th>
            <th style="text-align: center">Feb</th>
            <th style="text-align: center">Mar</th>
            <th style="text-align: center">Apr</th>
            <th style="text-align: center">May</th>
            <th style="text-align: center">Jun</th>
            <th style="text-align: center">Jul</th>
            <th style="text-align: center">Aug</th>
            <th style="text-align: center">Sep</th>
            <th style="text-align: center">Oct</th>
            <th style="text-align: center">Nov</th>
            <th style="text-align: center">Dec</th>
            <th style="text-align: center">Total</th>

        </tr>
    </thead>
    <tbody class="Traylist">
        @foreach (var item in Model)
        {
            <tr>

                @{
                    isZero = item.Jan + item.Feb + item.Mar + item.Apr + item.May + item.Jun + item.Jul + item.Aug + item.Sep + item.Oct + item.Nov + item.Dec;
                    totalUnused = item.JanUnUse + item.FebUnUse + item.MarUnUse + item.AprUnUse + item.MayUnUse + item.JunUnUse + item.JulUnUse + item.AugUnUse + item.SepUnUse + item.OctUnUse + item.NovUnUse + item.DecUnUse;
                }

                <td style="text-align: center;">
                    @if (isZero > 0)
                    {
                        <input type='checkbox' class='form-check-input chkp' id='chk_@count' onclick='checkBoxEvent(@count)' checked />
                    }
                    else
                    {
                        <input type='checkbox' class='form-check-input chkp' id='chk_@count' onclick='checkBoxEvent(@count)' />
                    }

                </td>
                <td style="text-align: center;">
                    @count
                    <input type="hidden" id="customerId_@count" value="@item.CustomerID" />
                </td>
                <td style="text-align: center;width: 10%;" id="customerName_@count">
                    @item.CustomerName
                </td>
                <td style="text-align: center;width: 60px;">
                    <input type='number' class='form-control overHeadCst' style='text-align: center;' placeholder="Credit" disabled />
                    <input type='number' class='form-control overHeadCst' style='text-align: center;' placeholder="Un-Used" disabled />
                </td>
                <td style="text-align: center;">
                    <input type='number' class='form-control overHeadCst' style='text-align: center;' id='jan_@item.CustomerID' value="@item.Jan" oninput="ValueCheck('jan_','janUnUse_',@item.CustomerID,@item.Jan)" />
                    <input type='number' class='form-control overHeadCst' style='text-align: center;' id='janUnUse_@item.CustomerID' value="@item.JanUnUse" disabled />
                </td>
                <td style="text-align: center;">
                    <input type='number' class='form-control overHeadCst' style='text-align: center;' id='feb_@item.CustomerID' value="@item.Feb" oninput="ValueCheck('feb_','febUnUse_',@item.CustomerID,@item.Feb)" />
                    <input type='number' class='form-control overHeadCst' style='text-align: center;' id='febUnUse_@item.CustomerID' value="@item.FebUnUse" disabled />
                </td>
                <td style="text-align: center;">
                    <input type='number' class='form-control overHeadCst' style='text-align: center;' id='mar_@item.CustomerID' value="@item.Mar" oninput="ValueCheck('mar_','marUnUse_',@item.CustomerID,@item.Mar)" />
                    <input type='number' class='form-control overHeadCst' style='text-align: center;' id='marUnUse_@item.CustomerID' value="@item.MarUnUse" disabled />
                </td>
                <td style="text-align: center;">
                    <input type='number' class='form-control overHeadCst' style='text-align: center;' id='apr_@item.CustomerID' value="@item.Apr" oninput="ValueCheck('apr_','aprUnUse_',@item.CustomerID,@item.Apr)" />
                    <input type='number' class='form-control overHeadCst' style='text-align: center;' id='aprUnUse_@item.CustomerID' value="@item.AprUnUse" disabled />
                </td>
                <td style="text-align: center;">
                    <input type='number' class='form-control overHeadCst' style='text-align: center;' id='may_@item.CustomerID' value="@item.May" oninput="ValueCheck('may_','mayUnUse_',@item.CustomerID,@item.May)" />
                    <input type='number' class='form-control overHeadCst' style='text-align: center;' id='mayUnUse_@item.CustomerID' value="@item.MayUnUse" disabled />
                </td>
                <td style="text-align: center;">
                    <input type='number' class='form-control overHeadCst' style='text-align: center;' id='jun_@item.CustomerID' value="@item.Jun" oninput="ValueCheck('jun_','junUnUse_',@item.CustomerID,@item.Jun)" />
                    <input type='number' class='form-control overHeadCst' style='text-align: center;' id='junUnUse_@item.CustomerID' value="@item.JunUnUse" disabled />
                </td>
                <td style="text-align: center;">
                    <input type='number' class='form-control overHeadCst' style='text-align: center;' id='jul_@item.CustomerID' value="@item.Jul" oninput="ValueCheck('jul_','julUnUse_',@item.CustomerID,@item.Jul)" />
                    <input type='number' class='form-control overHeadCst' style='text-align: center;' id='julUnUse_@item.CustomerID' value="@item.JulUnUse" disabled />
                </td>
                <td style="text-align: center;">
                    <input type='number' class='form-control overHeadCst' style='text-align: center;' id='aug_@item.CustomerID' value="@item.Aug" oninput="ValueCheck('aug_','augUnUse_',@item.CustomerID,@item.Aug)" />
                    <input type='number' class='form-control overHeadCst' style='text-align: center;' id='augUnUse_@item.CustomerID' value="@item.AugUnUse" disabled />
                </td>
                <td style="text-align: center;">
                    <input type='number' class='form-control overHeadCst' style='text-align: center;' id='sep_@item.CustomerID' value="@item.Sep" oninput="ValueCheck('sep_','sepUnUse_',@item.CustomerID,@item.Sep)" />
                    <input type='number' class='form-control overHeadCst' style='text-align: center;' id='sepUnUse_@item.CustomerID' value="@item.SepUnUse" disabled />
                </td>
                <td style="text-align: center;">
                    <input type='number' class='form-control overHeadCst' style='text-align: center;' id='oct_@item.CustomerID' value="@item.Oct" oninput="ValueCheck('oct_','octUnUse_',@item.CustomerID,@item.Oct)" />
                    <input type='number' class='form-control overHeadCst' style='text-align: center;' id='octUnUse_@item.CustomerID' value="@item.OctUnUse" disabled />
                </td>
                <td style="text-align: center;">
                    <input type='number' class='form-control overHeadCst' style='text-align: center;' id='nov_@item.CustomerID' value="@item.Nov" oninput="ValueCheck('nov_','novUnUse_',@item.CustomerID,@item.Nov)" />
                    <input type='number' class='form-control overHeadCst' style='text-align: center;' id='novUnUse_@item.CustomerID' value="@item.NovUnUse" disabled />
                </td>
                <td style="text-align: center;">
                    <input type='number' class='form-control overHeadCst' style='text-align: center;' id='dec_@item.CustomerID' value="@item.Dec" oninput="ValueCheck('dec_','decUnUse_',@item.CustomerID,@item.Dec)" />
                    <input type='number' class='form-control overHeadCst' style='text-align: center;' id='decUnUse_@item.CustomerID' value="@item.DecUnUse" disabled />
                </td>

                <td style="text-align: center;">
                    <input type='number' class='form-control overHeadCst' style='text-align: center;'  value="@isZero" disabled />
                    <input type='number' class='form-control overHeadCst' style='text-align: center;'  value="@totalUnused" disabled />
                </td>

            </tr>

                        count++;
                    }
    </tbody>
</table>

