﻿@using System.Data
@model System.Data.DataTable

<table class="table table-bordered table-striped" id="tblIssueQC">
    <thead  style="background-color:#cceeff;font-weight:bold;">
        <tr>
            <td><input type="checkbox" class="icheck-primary d-inline ml-2 form-control-input chackall" id="chk_All" onchange="SelectAllCheckboxFunc()" />&nbsp; Check All</td>
            <td>Item Name</td>
            <td>UOM</td>
            <td>Unit Value (Costing)</td>
            <td>QC Qty</td>  
            <td>Approve Qty</td>  
            <td>Qc Comments</td>       
            <td>Qc Date</td>          
            <td>Return Date</td>   
            <td>Ware House</td>

        </tr>
    </thead>
    <tbody id="tbodyid">
        @{ int count = 1;}
        @foreach (DataRow item in Model.Rows)
        {
            <tr id="@count">
                <td> <input type="checkbox" class="icheck-primary d-inline ml-2 form-control-input checkid" id="chk_@count" value="@count" onclick="Checkp(@count)" /></td>
                <td>@item.ItemArray[2]</td>
                <td >@item.ItemArray[3]</td>
                <td id="UnitValue_@count" >@item.ItemArray[4]</td>
                <td id="Qty_@count">@item.ItemArray[5]</td>
                <td id="current_@count"><input type="number" class="form-control AllQty" id="currentQty_@count" oninput="CheckQty(@count)" value="@item.ItemArray[5]" disabled /></td>

                <td id="Comments_@count">@item.ItemArray[8]</td>     
                <td > @Convert.ToDateTime(item.ItemArray[7]).ToString("dd-MMM-yyyy")</td>
                <td> @Convert.ToDateTime(item.ItemArray[6]).ToString("dd-MMM-yyyy")</td>
                <td>@item.ItemArray[9]</td>              

                <td id="DetailsId_@count" hidden><input type="number" class="form-control" id="IssueQcOperationDetailsId_@count" value="@item.ItemArray[0]" /></td>

                <td id="MasterId_@count" hidden><input type="number" class="form-control" id="IssueQcOperationMasterId_@count" value="@item.ItemArray[1]" /></td> 
                <td id="Warehouse_@count" hidden><input type="number" class="form-control" id="WarehouseId_@count" value="@item.ItemArray[10]" /></td> 
                <td id="Location_@count" hidden><input type="number" class="form-control" id="LocationId_@count" value="@item.ItemArray[11]" /></td>
                <td id="Item_@count" hidden><input type="number" class="form-control" id="ItemId_@count" value="@item.ItemArray[12]" /></td>
                <td id="Cost_@count" hidden><input type="number" class="form-control" id="CostValue_@count" value="@item.ItemArray[13]" /></td>

            </tr>
      count++;
        }
    </tbody>
</table>
