﻿@using System.Data
@model System.Data.DataTable

<table class="table table-bordered table-striped" id="tblIssueQC">
    <thead  style="background-color:#cceeff;font-weight:bold;">
        <tr>
            <td><input type="checkbox" class="icheck-primary d-inline ml-2 form-control-input chackall" id="chk_All" onchange="SelectAllCheckboxFunc()" />&nbsp; Check All</td>
            <td>Item Name</td>
            <td>UOM</td>
            <td>Unit Value (Costing)</td>
            <td>Total Qty</td>           
            <td>Already Moved Qty</td>            
            <td>Rest Qty</td>          
            <td>Current Qty</td>
        </tr>
    </thead>
    <tbody id="tbodyid">
        @{ int count = 1;}
        @foreach (DataRow item in Model.Rows)
        {
            <tr id="@count">
                <td> <input type="checkbox" class="icheck-primary d-inline ml-2 form-control-input checkid" id="chk_@count" value="@count" onclick="Checkp(@count)" /></td>
                <td>@item.ItemArray[1]</td>
                <td >@item.ItemArray[2]</td>
                <td id="unit_@count"><input type="number" style="text-align:center;" class="form-control AllQty" id="unitprice_@count" value="@item.ItemArray[3]" disabled/></td>
                <td id="mainQty_@count">@item.ItemArray[4]</td>
                <td id="movedQty_@count"><a href="#" onclick="ViewDetailsQty(@item.ItemArray[5],@item.ItemArray[0])">@item.ItemArray[7]</a></td>     
                <td id="restQty_@count">@item.ItemArray[8]</td>

                <td id="current_@count"><input type="number" class="form-control AllQty" style="text-align:center;"  id="currentQty_@count" oninput="CheckQty(@count)" disabled /></td>


                <td id="item_@count" hidden><input type="number" class="form-control" id="ItemID_@count" value="@item.ItemArray[0]" /></td>

                <td id="StockIn_@count" hidden><input type="number" class="form-control" id="StockInDetailsId_@count" value="@item.ItemArray[6]" /></td>

                <td id="IssueReturn_@count" hidden><input type="number" class="form-control" id="IssueReturnDetailID_@count" value="@item.ItemArray[5]" /></td>        
                <td id="QcRequestDetails_@count" hidden><input type="number" class="form-control" id="QcRequestDetailsID_@count" value="@item.ItemArray[9]" /></td>        

            </tr>
            count++;
        }
    </tbody>
</table>
