﻿
@using System.Data
@model System.Data.DataTable

<table class="table table-bordered table-striped" id="issueDetails">
    <thead style="background-color:#cceeff;font-weight:bold;">
        <tr>
            <td>SL<td>
            <td>Return No</td>
            <td>Return Date</td>
            <td>Remarks</td>
            <td>Ware House</td>
            <td>Item Name</td>
            <td>UOM</td>
            <td>Issue Qty</td>
            <td>Already Returnd</td>
            <td>Return Qty</td>
           

        </tr>
    </thead>
    <tbody id="tbodyid">
        @{ int count = 1;}
        @foreach (DataRow item in Model.Rows)
        {
            <tr >
                <td>@count</td>
                <td></td>
                <td>@item.ItemArray[5]</td>
                <td >@Convert.ToDateTime(item.ItemArray[1]).ToString("dd MMM yyyy")</td>
                <td >@item.ItemArray[6]</td>
                <td >@item.ItemArray[0]</td>
                <td >@item.ItemArray[2]</td>
                <td >@item.ItemArray[7]</td>
                <td >@item.ItemArray[3]</td>
                <td>@item.ItemArray[8]</td>   
                <td >@item.ItemArray[4]</td>         
                   
              
            </tr>
            count++;
        }
    </tbody>
</table>

