﻿
@{
    ViewBag.Title = "QC Request";

}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">
                            <span class="fa fa-eye"></span> QC Requested Item For Return
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group" id="divCompany">
                                    <label for="ddlCompany">Company</label>
                                    @*<input type="text" class="form-control" id="txtCompany" disabled="disabled" />*@
                                    <select class="form-control select2" style="width: 100%;" id="ddlCompany"></select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" id="divWareHouse">
                                    <label for="ddlWareHouse">Ware House</label>
                                    <select class="form-control select2" id="ddlWareHouse"></select>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group" id="divDeliveryDate">
                                    <label for="deliveryDate">Return Date</label>
                                    <input id="txtReturnDate" class="form-control" type="text" value="@Convert.ToDateTime(DateTime.Now).ToString("dd MMM yyyy")" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button style="margin-top: 14px" class="btn btn-success" onclick="SearchData()"> <span class="fa fa-search">&nbsp;</span> Search</button>
                            </div>
                        </div>

                        <div class="row">
                            <div id="detailsData" class="table-responsive" style="margin-top: 50px">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group" id="divWareHouse1">
                                    <label for="ddlWareHouse">Ware House <span class="text-danger"> *</span></label>
                                    <select class="form-control select2" id="ddlWareHouse1"></select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            @*<button class="btn btn-danger float-right" onclick="RejectRequest()">Reject</button>*@
                            <button class="btn btn-primary float-left" onclick="SavePickingRequest()">Accept Request</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
    @*<input id="txtOrderId" type="number" style="display:none;" value="@ViewBag.reqid">
        <input id="txtflag" type="text" style="display:none;" value="@ViewBag.flagid">*@
</section>

@section Scripts
{

    <script type="text/javascript">


        $(document).ready(function() {
            LoadCompany('ddlCompany');
            $("#ddlCompany").val(7);
            LoadDate('#txtReturnDate');
            LoadReceiveWarehouse();
           // LoadWareHouse('ddlWareHouse1', 4, 0);
            LoadWareHouseMultipleType('ddlWareHouse1', 4, '4,7');
           // LoadReceiveWarehouse2()
        });
        chkbox = () => {
            //if ($('.checkid').is(':checked')) {
            //    $("#chk_All").prop('checked', true);
            //} else {
            //    $("#chk_All").prop('checked', false);
            //}
        }
        function SelectAllCheckboxFunc() {
            if ($("#chk_All").is(":checked")) {
                $(".checkid").prop("checked", true);
            } else {
                $(".checkid").prop("checked", false);
            }
        }
        function Checkp(SLNO) {
            debugger;
            //uncheck "select all", if one of the listed checkbox item is unchecked
            var checkp = $("#chk_" + SLNO).prop("checked");
            if (checkp == false) { //if this item is unchecked
                $("#chk_All").prop('checked', false); //change "select all" checked status to false
            }
            //check "select all" if all checkbox items are checked
            if ($('.checkid:checked').length == $('.checkid').length) {
                $("#chk_All").prop('checked', true);
            }
        }

        function SearchData() {
            var warehouse = $('#ddlWareHouse').val();
            var date = $('#txtReturnDate').val();

            var urlpath = '@Url.Action("ReturnItemList", "IssueQC")'; 
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'html',
                data: { warehouseId: warehouse, returnDate: date },
                async: false,
                success: function(data) {
                    $('#detailsData').empty();
                    $('#detailsData').html(data);


                }
            });
        }

        function SavePickingRequest() {
            if (Validation()) {
            debugger;
            var jsonData = {};
            jsonData["WarehouseId"] = $('#ddlWareHouse1').val();
            jsonData["ReturnDate"] = $('#txtReturnDate').val();
            var jsonObjs = [];
            $('#issueDetails tbody tr').each(function(key, value) {
                soId = $(this).prop("id");
                var pickingDetails = {};
                if ($('#chk_' + soId).is(":checked")) {
                    debugger;
                    pickingDetails["IssueQty"] = parseFloat($('#issueQty_' + soId).text().trim());
                    pickingDetails["ReturnQty"] = parseFloat($('#returnQty_' + soId).text().trim());
                    pickingDetails["IssueReturnID"] = parseInt($('#IssueReturnID_' + soId).text().trim());
                    pickingDetails["IssueReturnDetailID"] = $('#IssueReturnDetailID_' + soId).text().trim();
                    pickingDetails["StockInDetailsId"] = $('#StockInDetailsId_' + soId).text().trim();
                    pickingDetails["ItemId"] = $('#ItemId_' + soId).text().trim();
                    jsonObjs.push(pickingDetails);
                }
            });
            jsonData["StockIssueDetails"] = jsonObjs;
            debugger;
            var urlpath = '@Url.Action("SaveIssueRequest", "IssueQC")';
            $.ajax({
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "POST",
                success: function(result) {
                    if (result.isSuccess) {
                        $('.confirm').prop("disabled", false);
                        $('.cancel').prop("disabled", false);
                        swal({
                                title: 'Saved Successfully',
                                type: 'success',
                                closeOnCancel: true
                            },
                            function() {
                                window.location.href = '@Url.Action("QCRequestedItemList", "IssueQC")';
                            });
                    } else {
                        ShowMessage('Session is out. Please reload the page and try again!!!');
                    }
                },
                error: function() {
                    swal("Network error occured.Please reload the page and try again");
                }
            });

            }
        }
        function Validation() {
            var isValid = true;
            var message = "Check at least one checkbox";
            
            if ($('#ddlWareHouse1').val() == '' || $('#ddlWareHouse1').val() == 0) {
                ValidationColorChangeNew("ddlWareHouse1", "divWareHouse1", "Warehouse Required", false);
                isValid = false;
            }
         
            debugger

            var checked = $('#tbodyid input:checked').length > 0;
            if (!checked) {
                isValid = false;
                ShowMessage(message);
            }

            //$('#issueDetails tbody tr').each(function (key, value) {
            //    soId = $(this).prop("id");
            //    if ($('.checkid').is(":not(:checked)")) {
            //        isValid = false;
            //        ShowMessage(message);
            //    }
                
            //});

           

            return isValid;


        }

        function RejectValidation() {
            var isValid = true;
            var message = "Check at least one checkbox";         

            var checked = $('#tbodyid input:checked').length > 0;
            if (!checked) {
                isValid = false;
                ShowMessage(message);
            }
            return isValid;
        }


        function RejectRequest() {
            if (RejectValidation()) {
                debugger;
                
                var jsonObjs = [];
                $('#issueDetails tbody tr').each(function (key, value) {
                    soId = $(this).prop("id");
                    var pickingDetails = {};
                    if ($('#chk_' + soId).is(":checked")) {
                        debugger;
                        pickingDetails["IssueReturnID"] = parseInt($('#IssueReturnID_' + soId).text().trim());
                        pickingDetails["IssueReturnDetailID"] = $('#IssueReturnDetailID_' + soId).text().trim();                        
                        jsonObjs.push(pickingDetails);
                    }
                });
               
                debugger;
                var urlpath = '@Url.Action("RejectRequest", "IssueQC")';
                $.ajax({
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(jsonObjs),
                    dataType: 'json',
                    url: urlpath,
                    type: "POST",
                    success: function (result) {
                        if (result.isSuccess) {
                            $('.confirm').prop("disabled", false);
                            $('.cancel').prop("disabled", false);
                            swal({
                                title: 'Reject Successfully',
                                type: 'success',
                                closeOnCancel: true
                            },
                                function () {
                                    window.location.href = '@Url.Action("Index", "IssueQC")';
                                });
                        } else {
                            ShowMessage('Session is out. Please reload the page and try again!!!');
                        }
                    },
                    error: function () {
                        swal("Network error occured.Please reload the page and try again");
                    }
                });

            }
        }




        function LoadReceiveWarehouse() {
            //var typeid = $('#ddlWarehouseType').val();
            var warehouseTypeid = 7;
            var urlpath = '@Url.Action("GetDeliveryWarehouse", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { warehouseTypeid: warehouseTypeid },
                async: false,
                success: function (data) {

                    $('#ddlWareHouse').empty();
                    $('#ddlWareHouse').append("<option value='0'>--Select  Warehouse --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#ddlWareHouse ').append($("<option></option>").val(data[i].WareHouseId).html(data[i].WareHouseName));
                    }
                }
            });
        }


        function LoadReceiveWarehouse2() {
            //var typeid = $('#ddlWarehouseType').val();
            var warehouseTypeid = 7;
            var urlpath = '@Url.Action("GetDeliveryWarehouse", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { warehouseTypeid: warehouseTypeid },
                async: false,
                success: function (data) {

                    $('#ddlWareHouse1').empty();
                    $('#ddlWareHouse1').append("<option value='0'>--Select  Warehouse --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#ddlWareHouse1 ').append($("<option></option>").val(data[i].WareHouseId).html(data[i].WareHouseName));
                    }
                }
            });
        }


    </script>
}
