﻿@using IGFoodProject.Utility

@{
    ViewBag.Title = "Approve QC Items";

}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">
                            <span class="fa fa-eye"></span>Item QC Operation Approval
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group" id="divCompany">
                                    <label for="ddlCompany">Company</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlCompany"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divWareHouse">
                                    <label for="ddlWareHouse">Stock/Plant House </label>
                                    <select class="form-control select2" id="ddlWareHouse"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divReturnDate">
                                    <label for="txtQCDate">Return Date<span class="text-danger"> *</span></label>
                                    <input id="txtQCDate" class="form-control" autocomplete="off" type="text" onchange="GetReturnNo('ReturnNo')" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divReturnNo">
                                    <label>Return No <span class="text-danger"> *</span></label>
                                    <select class="form-control select2" id="ReturnNo" onchange="SearchData()"></select>
                                </div>
                            </div>
                            @*<div class="col-md-3">
                                <div class="form-group" id="divQCDate">
                                    <label for="txtQCDate">QC Date</label>
                                    <input id="txtQCDate" class="form-control" autocomplete="off" type="text" />
                                </div>
                            </div>*@
                            @*<div class="col-md-3">
                                    <div class="form-group" id="divReturnNo">
                                        <label>Return No</label>
                                        <select class="form-control select2" id="ReturnNo" onchange="SearchData()"></select>
                                    </div>
                                </div>*@
                           
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group" id="divSalesPerson">
                                    <label for="txtSalesPerson">Approve By <span class="text-danger"> *</span></label>
                                    <input type="text" id="txtSalesPerson" class="form-control" value="@Session[SessionCollection.UserInfo].ToString()" onchange="GetSalesPersonPhone()" />
                                    <input type="hidden" id="employeeSelect" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divqcDate">
                                    <label for="deliveryDate">Approval Date <span class="text-danger"> *</span></label>
                                    <input id="qcDate" class="form-control datepicker" type="text" value="@Convert.ToDateTime(DateTime.Now).ToString("dd MMM yyyy")" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divRemarks">
                                    <label for="txtRemarks">Comments <span class="text-danger"> *</span> </label>
                                    <textarea type="text" class="form-control" id="txtRemarks"></textarea>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button style="margin-top: 14px" class="btn btn-success" onclick="SearchData()"> <span class="fa fa-search">&nbsp;</span> Search</button>
                            </div>
                        </div>
                        <div class="row">
                            <div id="divApprovalData" class="table-responsive" style="margin-top: 50px">
                            </div>
                        </div>


                    </div>
                    <div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button class="btn btn-primary float-left" onclick="SavePickingRequest()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</section>

@section Scripts
{

    <script type="text/javascript">


        $(document).ready(function () {
            LoadCompany('ddlCompany');
            $("#ddlCompany").val(7);

            LoadWareHouseMultipleType('ddlWareHouse', 4, '7');
            $("#ddlWareHouse").val(33);
            LoadDate('#txtQCDate');
            EmpAutoCom('txtSalesPerson', 'employeeSelect');
        });
        chkbox = () => {
            //if ($('.checkid').is(':checked')) {
            //    $("#chk_All").prop('checked', true);
            //} else {
            //    $("#chk_All").prop('checked', false);
            //}
        }

        function SelectAllCheckboxFunc() {
            if ($("#chk_All").is(":checked")) {
                $(".checkid").prop("checked", true);

            } else {
                $(".checkid").prop("checked", false);
            }
        }

        function Checkp(SLNO) {
            debugger;
            //uncheck "select all", if one of the listed checkbox item is unchecked
            var checkp = $("#chk_" + SLNO).prop("checked");
            if (checkp == false) { //if this item is unchecked
                $("#chk_All").prop('checked', false); //change "select all" checked status to false
                $("input#currentQty_" + SLNO).prop('disabled', true);
            }
            if (checkp == true) {
                $("input#currentQty_" + SLNO).prop('disabled', false);
               
            }
            //check "select all" if all checkbox items are checked
            if ($('.checkid:checked').length == $('.checkid').length) {
                $("#chk_All").prop('checked', true);
            }
           
        }
        function GetReturnNo(elementId) {
            var urlpath = '@Url.Action("GetReturnNo", "IssueQC")';

            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { returnDate: $('#txtQCDate').val() },
                async: false,
                success: function (data) {
                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Return No--</option>");


                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].IssueReturnID).html(data[i].ReturnNo));

                    }
                }
            });
        }
        function SearchData() {
            debugger;
            var warehouse = $('#ddlWareHouse').val();
            var rdate = $('#txtQCDate').val();
            var returnId = $('#ReturnNo').val();
            if (rdate == '' || rdate == null) {
                swal("Please select QC Date.");
            }
            else {
                var urlpath = '@Url.Action("QcOperationApprovalList", "IssueQC")';
                $.ajax({
                    url: urlpath,
                    type: "Get",
                    dataType: 'html',
                    data: { warehouseId: warehouse, qcDate: rdate, returnId: returnId },
                    async: false,
                    success: function (data) {
                        debugger;
                        $('#divApprovalData').empty();
                        $('#divApprovalData').html(data);
                    },
                    complete: function () {
                        if ($('#tblIssueQC tbody tr').length === 0) {
                            swal("No Item List For This Date. Please select another date.");
                        }
                    }
                });
            }
        }

        function SavePickingRequest() {
            if (Validation()) {
                debugger;              
                var jsonData = {};
                jsonData["QcDate"] = $('#qcDate').val();
                jsonData["QcComments"] = $('#txtRemarks').val();
                jsonData["ForwordedWarehouseId"] = $('#ddlWareHouse').val();

                var jsonObjs = [];

                $('#tblIssueQC tbody tr').each(function (key, value) {
                    soId = $(this).prop("id");
                    var pickingDetails = {};
                    if ($('#chk_' + soId).is(":checked")) {
                        debugger;

                        pickingDetails["ItemId"] = $('#ItemId_' + soId).val();
                        pickingDetails["QCQty"] = parseFloat($('#Qty_' + soId).text().trim());
                        pickingDetails["ApproveQCQty"] = parseFloat($('#currentQty_' + soId).val());
                        pickingDetails["UnitPrice"] = parseFloat($('#UnitValue_' + soId).text().trim());
                        pickingDetails["CostValue"] = parseFloat($('#CostValue_' + soId).val());

                        //pickingDetails["WarehouseId"] = $('#WarehouseId_' + soId).val();
                        //pickingDetails["QcComments"] = $('#Comments_' + soId).text().trim();
                        //pickingDetails["LocationId"] = $('#LocationId_' + soId).val();
                        //pickingDetails["CompanyId"] = $("#ddlCompany").val();

                        pickingDetails["IssueQcOperationMasterId"] = $('#IssueQcOperationMasterId_' + soId).val();
                        pickingDetails["IssueQcOperationDetailsId"] = $('#IssueQcOperationDetailsId_' + soId).val();

                        jsonObjs.push(pickingDetails);
                    }
                });
                jsonData["IssueQcDetails"] = jsonObjs;
                var urlpath = '@Url.Action("SaveQcApproval", "IssueQC")'; 
                $.ajax({
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(jsonData),
                    dataType: 'json',
                    url: urlpath,
                    type: "POST",
                    success: function (result) {
                        if (result.isSuccess) {
                            $('.confirm').prop("disabled", false);
                            $('.cancel').prop("disabled", false);
                            swal({
                                title: 'Saved Successfully',
                                type: 'success',
                                closeOnCancel: true
                            },
                                function () {
                                    window.location.href = '@Url.Action("ItemQcOperationApproval", "IssueQC")';
                                });
                        } else {
                            ShowMessage('Session is out. Please reload the page and try again!!!');
                        }
                    },
                    error: function () {
                        swal("Network error occured.Please reload the page and try again");
                    }
                });

            }
        }

        function Validation() {
            var isValid = true;
            var message = "Check at least one checkbox";
          
            if ($('input.checkid:checked').length <= 0) {
                isValid = false;
                ShowMessage(message);
            }
            if ($('#txtRemarks').val() == '' || $('#txtRemarks').val() == 0) {
                ValidationColorChangeNew("txtRemarks", "divRemarks", "Comments Required", false);
                isValid = false;
            }
            $('#tblIssueQC tbody tr').each(function (key, value) {
                soId = $(this).prop("id");
                //if ($('.checkid').is(":not(:checked)")) {
                //    isValid = false;
                //    ShowMessage(message);
                //}
                $('#tblIssueQC tbody tr').each(function (key, value) {
                 //    debugger;
                    var id = $(this).prop("id");
                    if ($('#chk_' + id).is(":checked")) {
                        if ($('#currentQty_' + id).val() <= 0 || $('#currentQty_' + id).val() == '') {

                            isValid = false;
                            swal("Please provide the valid input");
                        }
                     
                    


                    }

                });


            });
            return isValid;
        }

        function CheckQty(id) {
            debugger;
            var currentqty = isNaN(parseFloat($('#currentQty_' + id).val())) ? 0 : parseFloat($('#currentQty_' + id).val());
            var totalQty = isNaN(parseFloat($('#Qty_' + id).text())) ? 0 : parseFloat($('#Qty_' + id).text());
             if ((currentqty ) > totalQty) {
                $('#currentQty_' + id).val('');
            }

        }
    





    </script>
}
