﻿@using IGFoodProject.Utility

@{
    ViewBag.Title = "Item QC Operation";

}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">
                            <span class="fa fa-eye"></span> QC Operation For Return Item
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group" id="divCompany">
                                    <label for="ddlCompany">Company</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlCompany"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divWareHouse">
                                    <label for="ddlWareHouse">Stock/Plant House</label>
                                    <select class="form-control select2" id="ddlWareHouse"></select>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group" id="divReturnDate">
                                    <label for="deliveryDate">Return Date<span class="text-danger"> *</span></label>
                                    <input id="txtReturnDate" class="form-control" autocomplete="off" type="text" onchange="GetReturnNo('ReturnNo')" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divReturnNo">
                                    <label>Return No <span class="text-danger"> *</span></label>
                                    <select class="form-control select2" id="ReturnNo" onchange="SearchData()"></select>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group" id="divSalesPerson">
                                    <label for="txtSalesPerson">Qc By <span class="text-danger"> *</span></label>
                                    <input type="text" id="txtSalesPerson" class="form-control" value="@Session[SessionCollection.UserInfo].ToString()" onchange="GetSalesPersonPhone()" />
                                    <input type="hidden" id="employeeSelect" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divqcDate">
                                    <label for="deliveryDate">Qc Date <span class="text-danger"> *</span></label>
                                    <input id="qcDate" class="form-control datepicker" type="text" value="@Convert.ToDateTime(DateTime.Now).ToString("dd MMM yyyy")" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divRemarks">
                                    <label for="txtRemarks">Comments <span class="text-danger"> *</span></label>
                                    <textarea type="text" class="form-control" id="txtRemarks"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="detailsData" class="table-responsive" style="margin-top: 50px">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group" id="divWareHouse1">
                                    <label for="ddlWareHouse">Stock/Plant House <span class="text-danger"> *</span></label>
                                    <select class="form-control select2" id="ddlWareHouse1"></select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button class="btn btn-primary float-right" onclick="SavePickingRequest()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fadeInUp" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg" style="max-width: 80% !important">
                <div class="modal-content">
                    <div class="modal-header">

                    </div>
                    <div class="modal-body" id="QcOperationProduct">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" id="clsButton" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>

@section Scripts
{

    <script type="text/javascript">


        $(document).ready(function () {
            LoadCompany('ddlCompany');
            $("#ddlCompany").val(7);
            
            LoadWareHouseMultipleType('ddlWareHouse', 4, '4,7');
            LoadWareHouseMultipleType('ddlWareHouse1', 4, '4,7');
            $("#ddlWareHouse").val(21);
            LoadDate('#txtReturnDate');
            EmpAutoCom('txtSalesPerson', 'employeeSelect');
        });
        chkbox = () => {
            //if ($('.checkid').is(':checked')) {
            //    $("#chk_All").prop('checked', true);
            //} else {
            //    $("#chk_All").prop('checked', false);
            //}
        }

        function SelectAllCheckboxFunc() {
            if ($("#chk_All").is(":checked")) {
                $(".checkid").prop("checked", true);
                $("input.AllQty").prop('disabled', false);
                $("input.AllKg").prop('disabled', false);
            } else {
                $(".checkid").prop("checked", false);
                $("input.AllQty").prop('disabled', true);
                $("input.AllKg").prop('disabled', true);
            }
        }

        function Checkp(SLNO) {
            debugger;
            //uncheck "select all", if one of the listed checkbox item is unchecked
            var checkp = $("#chk_" + SLNO).prop("checked");
            if (checkp == false) { //if this item is unchecked
                $("#chk_All").prop('checked', false); //change "select all" checked status to false

                $("input#currentQty_" + SLNO).prop('disabled', true);
                $("input#unitprice_" + SLNO).prop('disabled', true);
            }
            //check "select all" if all checkbox items are checked
            if ($('.checkid:checked').length == $('.checkid').length) {
                $("#chk_All").prop('checked', true);
            }
            if (checkp == true) {
                $("input#currentQty_" + SLNO).prop('disabled', false);
                $("input#unitprice_" + SLNO).prop('disabled', false);
            }
        }

        function SearchData() {
            debugger;
            var warehouse = $('#ddlWareHouse').val();
            var rdate = $('#txtReturnDate').val();
            var issueReturnID = $('#ReturnNo').val();

            var urlpath = '@Url.Action("QcOperationItemList", "IssueQC")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'html',
                data: { warehouseId: warehouse, issueReturnID: issueReturnID, returnDate: rdate },
                async: false,
                success: function (data) {
                    debugger;
                    $('#detailsData').empty();
                    $('#detailsData').html(data);
                },
                complete: function () {
                    if ($('#tblIssueQC tbody tr').length === 0) {
                        swal("This Return Item Already Passed QC Or Some Error Occured");
                    }
                }
            });

        }

        function SavePickingRequest() {
            if (Validation()) {
                debugger;
                var id = $('#txtSalesPerson').val();
                var salseId = [];
                salseId = id.split(":");

                var jsonData = {};
                jsonData["QcDate"] = $('#qcDate').val();
                jsonData["ReturnDate"] = $('#txtReturnDate').val();
                jsonData["QcComments"] = $('#txtRemarks').val();
                jsonData["CreateBy"] = salseId[0];
                jsonData["ForwordedWarehouseId"] = $('#ddlWareHouse1').val();
                jsonData["IssueReturnID"] = $('#ReturnNo').val();
                var jsonObjs = [];
              
                $('#tblIssueQC tbody tr').each(function (key, value) {
                    soId = $(this).prop("id");
                    var pickingDetails = {};
                    if ($('#chk_' + soId).is(":checked")) {                        
                        debugger;

                        pickingDetails["ItemId"] = parseInt($('#ItemID_' + soId).val());
                        pickingDetails["ItemQty"] = $('#currentQty_' + soId).val();
                        pickingDetails["StockInDetailsId"] = $('#StockInDetailsId_' + soId).val();
                        pickingDetails["UnitCost"] = parseFloat($('#unitprice_' + soId).val());
                        pickingDetails["IssueReturnDetailID"] = $('#IssueReturnDetailID_' + soId).val();
                        pickingDetails["IssueQCRequestId"] = $('#QcRequestDetailsID_' + soId).val();
                        jsonObjs.push(pickingDetails);
                    }
                });
                jsonData["StockIssueDetails"] = jsonObjs;
                var urlpath = '@Url.Action("SaveQcOperation", "IssueQC")';
                $.ajax({
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(jsonData),
                    dataType: 'json',
                    url: urlpath,
                    type: "POST",
                    success: function (result) {
                        if (result.isSuccess) {
                            $('.confirm').prop("disabled", false);
                            $('.cancel').prop("disabled", false);
                            swal({
                                title: 'Saved Successfully',
                                type: 'success',
                                closeOnCancel: true
                            },
                                function () {
                                    window.location.href = '@Url.Action("ItemQcOperation", "IssueQC")';
                                });
                        } else {
                            ShowMessage('Session is out. Please reload the page and try again!!!');
                        }
                    },
                    error: function () {
                        swal("Network error occured.Please reload the page and try again");
                    }
                });

            }
        }

        function Validation() {
            var isValid = true;
            var message = "Check at least one checkbox";

            if ($('#ddlWareHouse1').val() == '' || $('#ddlWareHouse1').val() == 0) {
                ValidationColorChangeNew("ddlWareHouse1", "divWareHouse1", "Warehouse Required", false);
                isValid = false;
            }
            if ($('#txtRemarks').val() == '' || $('#txtRemarks').val() == 0) {
                ValidationColorChangeNew("txtRemarks", "divRemarks", "Comments Required", false);
                isValid = false;
            }
            debugger;
            if ($('input.checkid:checked').length <= 0) {
                isValid = false;
                ShowMessage(message);
            }
            $('#tblIssueQC tbody tr').each(function (key, value) {
                soId = $(this).prop("id");
                //if ($('.checkid').is(":not(:checked)")) {
                //    isValid = false;
                //    ShowMessage(message);
                //}
                $('#tblIssueQC tbody tr').each(function (key, value) {
                    debugger;
                    var id = $(this).prop("id");
                    if ($('#chk_' + id).is(":checked")) {

                        if ($('#currentQty_' + id).val() <= 0 || $('#currentQty_' + id).val() == '') {

                            isValid = false;
                            swal("Please provide the valid input");
                        }

                        if ($('#unitprice_' + id).val() <= 0 || $('#unitprice_' + id).val() == '') {

                            isValid = false;
                            swal("Please provide the valid input");
                        }

                    }

                });


            });


            return isValid;


        }
        function GetReturnNo(elementId) {
            var urlpath = '@Url.Action("GetReturnNo", "IssueQC")';

            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { returnDate: $('#txtReturnDate').val() },
                async: false,
                success: function (data) {
                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Return No--</option>");


                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].IssueReturnID).html(data[i].ReturnNo));

                    }
                }
            });
        }

        function CheckQty(id) {
            debugger;
            var currentqty = isNaN(parseFloat($('#currentQty_' + id).val())) ? 0 : parseFloat($('#currentQty_' + id).val());
            // var totalQty = isNaN(parseFloat($('#mainQty_' + id).text())) ? 0 : parseFloat($('#mainQty_' + id).text());
            // var lossQty = isNaN(parseFloat($('#restQty_' + id).val())) ? 0 : parseFloat($('#restQty_' + id).val());
            var restQty = isNaN(parseFloat($('#restQty_' + id).text())) ? 0 : parseFloat($('#restQty_' + id).text());

            if (currentqty > restQty) {
                $('#currentQty_' + id).val('');
            }

        }


        ViewDetailsQty = (IssueReturnDetailID, ItemId) => {
            $('#myModal').modal();
            var urlpath = '@Url.Action("GetQcItemHistoryOfQty", "IssueQC")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'html',
                async: false,
                data: { IssueReturnDetailID: IssueReturnDetailID, ItemId: ItemId },
                success: function (data) {
                    $('#QcOperationProduct').empty();

                    $('#QcOperationProduct').html(data);
                }
            });
        }



    </script>
}
