﻿@model Tuple<IEnumerable<IGFoodProject.Models.Area>, IGFoodProject.Models.Territory>


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-3">
                                <h3 class="card-title">
                                    <span class="fa fa-list"></span> Territory Entry
                                </h3>
                            </div>
                            <div class="col-md-4">
                                <a onclick="@("window.location.href='" + @Url.Action("TerritoryList", "Territory") + "'");">
                                    <h3 class="card-title">
                                        <span class="fa fa-list"></span> Territory List
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </div>


                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card-body">
                                <div class="form-group" id="divArea">
                                    <label for="ddlArea">Area</label>
                                    <select class="form-control select2" id="ddlArea" style="width: 100%;">
                                        <option value="">-------Select Area------</option>
                                        @foreach (var item in Model.Item1)
                                        {

                                            <option value="@item.AreaId">@item.AreaName </option>
                                        }
                                    </select>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-body">
                                <div class="form-group" id="divTerritory">
                                    <label for="territoryId ">Territory Name</label>
                                    <input type="text" class="form-control" id="territoryId" value="@Model.Item2.TerritoryName" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div>

                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button class="pull pull-right btn btn-primary" onclick="SaveFinal()">Submit</button>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>

@section Scripts{
    <script>
        $(function() {
            $('#ddlArea').val(@Model.Item2.AreaId).trigger('change');
        });

        function SaveValidation() {
            var isValid = true;
            if ($('#ddlArea').val() == null || $('#ddlArea').val() == '') {
                ValidationColorChangeNew('ddlArea', 'divArea', 'Area Required', true);
                isValid = false;
            }

            if ($('#territoryId').val() == null || $('#territoryId').val() == '') {
                ValidationColorChangeNew('territoryId', 'divTerritory', 'Enter TerritoryName', true);
                isValid = false;
            }
            if (isValid == false) {
                ShowMessage("Some Values Required");
            }
            return isValid;
        }

        function SaveFinal() {
            if (SaveValidation()) {
                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function() {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveTerritory();

                });
            }

        }

        function SaveTerritory() {
            var jsonData = {};
            jsonData["TerritoryId"] = @Model.Item2.TerritoryId;
            jsonData["AreaId"] = $("#ddlArea").val();
            jsonData["TerritoryName"] = $("#territoryId").val();


            var urlpath = '@Url.Action("SaveTerritory", "Territory")';

            $.ajax({
                contentType: "application/json",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "POST"
            })
                .success(function(result) {

                    if (result.pk > 0) {

                        swal("SucessFull");
                        window.location.href = '@Url.Action("TerritoryList", "Territory")';
                    } else {
                        swal("Duplecate Terrytory Name!!!!!");
                        window.location.href = '@Url.Action("TerritoryList", "Territory")';
                    }
                });
        }

    </script>
}