﻿@model IEnumerable<IGFoodProject.Models.Territory>

@{
    ViewData["Title"] = "RequisitionList";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-3">
                                <h3 class="card-title"><span class="fa fa-list"></span> Territory List </h3>
                            </div>
                            <div class="col-md-4">
                                <a onclick="location.href = '@Url.Action("Index", "Territory")'"><h3 class="card-title"><span class="fa fa-plus"></span> New Territory Entry</h3></a>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->

                    <div class="card-body">
                        <table class="table dataTable table-bordered table-striped table-hover">
                            <thead>
                            <tr style="background-color: aliceblue">
                                <th style="text-align: center">SL</th>
                                <th style="text-align: center">AreaName</th>
                                <th style="text-align: center">TerritoryName</th>
                                <th style="text-align: center">CreateBy</th>
                                <th style="text-align: center">CreateDate</th>
                                <th style="text-align: center">Action</th>
                            </tr>
                            </thead>
                            <tbody class="Traylist">
                                @{
                                    int i = 1;
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td style='text-align: center'>
                                                @i
                                            </td>
                                            <td style='text-align: center'>@item.AreaName</td>
                                            <td style='text-align: center'>@item.TerritoryName</td>
                                            <td style='text-align: center'>@item.</td>
                                            <td style='text-align: center'>@Convert.ToDateTime(item.CreateDate).ToString("dd MMM yyyy")  </td>

                                            <td style="text-align: center">

                                                <button type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target="#myModal" onclick="location.href = '@Url.Action("Index", "Territory", new { @id = item.TerritoryId })'">Edit</button>
                                               

                                            </td>
                                            

                                        </tr>
                                        ++i;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>





        <!-- /.row -->
    </div><!-- /.container-fluid -->
   
</section>
@section scripts{
    <script>
        function LoadLiveBirdDressedById(id) {
            var urlpath = '@Url.Action("TerritoryList", "Territory")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'html',
                async: false,
                data: { id: id },
                success: function (data) {
                    $('#LiveBirdDressPartial').empty();

                    $('#LiveBirdDressPartial').html(data);
                }
            });


        }
        function BirdDressEntry() {
            window.location.href = '@Url.Action("Index", "Territory")';
        }
    </script>
}