﻿@using System.Data
@model DataTable 

@{
    ViewBag.Title = "FurtherProcessReqisitionList";
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                @*<h3 class="card-title"><span class="fa fa-list"></span>MRR List
                                    </h3>*@
                                <h4>Further Process Requisition List </h4>
                            </div>

                            @*<div class="col-md-6 text-right">
                                    <a class="btn btn-outline-warning" href="@Url.Action("Index", "MrR", new {id = 0})"><span class="fa fa-plus"></span> New Mrr</a>
                                </div>*@
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="col-md-12">


                            <table id="table1" class="dataTable table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Requisition No</th>
                                        <th>Requisition Date</th>
                                        <th>Production Date</th>
                                        <th>Warehouse Name</th>
                                        <th>Comment</th>
                                        <th>Requisition By</th>
                                        <th>Approved By</th>
                                        <th>Approved Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int count = 1;}
                                    @foreach (DataRow item in Model.Rows)
                                        {
                                        <tr class="rowTr">
                                            <td>@count</td>
                                            <td>@item.ItemArray[1]</td>
                                            <td>@item.ItemArray[2]</td>
                                            <td>@item.ItemArray[3]</td>
                                            <td>@item.ItemArray[4]</td>
                                            <td>@item.ItemArray[5]</td>
                                            <td>@item.ItemArray[6]</td>
                                            <td>@item.ItemArray[7]</td>
                                            <td>@item.ItemArray[8]</td>
                                            <td>

                                                @if (Convert.ToInt32(item.ItemArray[9]) == 1)
                                                    {

                                                    <button class="btn btn-xs btn-warning" disabled="disabled">Issued</button>
                                                    }
                                                @if (Convert.ToInt32(item.ItemArray[9]) == 3)
                                                    {


                                                    @Html.ActionLink("Issue", "FurtherProcessIssue", "FurtherProcessRequisition", new { id = @item.ItemArray[0], warehouseId= item.ItemArray[10] }, new { @class = "btn btn-xs btn-warning" })
                                                    }


                                            </td>
                                        </tr>
                                            count++;
                                        }
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>