﻿ @{
    ViewData["Title"] = "AddDBRequisition";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title"> New Portion to Further Requisition</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="col-md-12">
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4">
                                        <div class="form-group" id="divCompany">
                                            <label for="ddlCompany">Company<span class="text-danger"> *</span></label>
                                            <select class="form-control select2" style="width: 100%;" id="ddlCompany"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4">
                                        <div class="form-group" id="divFromLocation">
                                            <label for="ddlFromLocation">From Location<span class="text-danger"> *</span></label>
                                            <select class="form-control select2" style="width: 100%;" id="ddlFromLocation"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group" id="divToLocation">
                                            <label for="ddlToLocation">To Location<span class="text-danger"> *</span></label>
                                            <select class="form-control select2" style="width: 100%;" id="ddlToLocation"></select>
                                        </div>
                                    </div>
                                  
                                </div>
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4">
                                        <div class="form-group" id="divFromWareHouse">
                                            <label for="ddlFromWareHouse">Stock House<span class="text-danger"> *</span></label>
                                            <select class="form-control select2" id="ddlFromWareHouse" style="width: 100%;" onchange="LoadItemDescription()"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group" id="divToWareHouse">
                                            <label for="ddlToWareHouse">Further Plant<span class="text-danger"> *</span></label>
                                            <select class="form-control select2" id="ddlToWareHouse" style="width: 100%;"></select>
                                            @*onchange="LoadRequisitionDetaillList()"*@
                                        </div>
                                    </div>
                                   
                                  
                                </div>
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4">
                                        <div class="form-group" id="divRequisitionDate">
                                            <label for="txtRequisitionDate">Requisition Date<span class="text-danger"> *</span></label>
                                            @*<input type="text" class="form-control" id="txtRequisitionDate" value="@DateTime.Now.ToString("dd MMM yyyy")"/>*@
                                            <input type="text" autocomplete="off" class="form-control datepicker" id="txtRequisitionDate" value="@DateTime.Now.ToString("dd-MMM-yyyy")" />
                                        </div>
                                    </div>

                                    
                                    <div class="col-md-4">
                                        <div class="form-group" id="divReceiveBy">
                                            <label for="empAutoCom">Requisition By<span class="text-danger"> *</span></label>
                                            <input type="text" class="form-control" id="empAutoCom" />
                                            <input type="number" class="form-control" id="employeeSelect" style="display: none;" /> @*style="display:none;"*@
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4">
                                        <div class="form-group" id="divProductionDate">
                                            <label for="txtProductionDate">Production Date<span class="text-danger"> *</span></label>
                                            <input type="text" class="form-control" id="txtProductionDate" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="col-md-offset-1 form-group" id="divComments">
                                            <label for="txtComments">Comment</label>
                                            <textarea id="txtComments" class="form-control" cols="12" rows="3"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="card-body table-responsive">
                                <div class="col-md-12">
                                    <label>Dress Bird Stock For Portion Description</label>
                                    <table id="myTable_p" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;">#SL</th>
                                                <th style="text-align: center;">Product Name<span class="text-danger"> *</span></th>
                                                <th style="text-align: center;"> Stock Qty</th>
                                                <th style="text-align: center; "> Stock Kg</th>
                                                <th style="text-align: center;">Requisition Qty<span class="text-danger"> *</span></th>
                                                <th style="text-align: center;">Requisition Kg</th>
                                                <th style="text-align: center;">Remarks</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="myTableb_p"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                     </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <button class="btn btn-primary" id="SaveButton" onclick="SaveFinal()">Submit</button>
                        <button class="btn btn-outline-danger  float-right" onclick="location.reload()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
    
</section>
 @section Scripts{
    <script>
        var AllItemList = {};
        $(function () {


            $('#txtRequisitionDate').datepicker({
                //startDate: '+0m',
                startDate: '-1d',
                endDate: '+0m',
                todayHighlight: true,
                format: 'dd-M-yyyy',
                minDate: 1,
                //minDate: 0,
                autoclose: true
            });

            var id = $('#txtOrderId').val();
            LoadCompany('ddlCompany');
            $("#ddlCompany").val(7);

            LoadLocation('ddlFromLocation', $("#ddlCompany").val());
            LoadLocation('ddlToLocation', $("#ddlCompany").val());


            $("#ddlFromLocation").val(4).trigger('change');
            $("#ddlToLocation").val(4).trigger('change');

            LoadWareHouseMultipleType('ddlFromWareHouse', 4, '4,3');
            //LoadWareHouse('ddlFromWareHouse', 4, 3);
            $('#ddlFromWareHouse').val('10').trigger('change');

            LoadWareHouse('ddlToWareHouse', 4, 5);
            $('#ddlToWareHouse').val('16').trigger('change');

             //LoadDate('#txtRequisitionDate');
            LoadDate('#txtProductionDate');
            EmpAutoCom('empAutoCom', 'employeeSelect');
            $('#ddlCompany').change(function () {
                var reqId = $(this).val();
                 LoadLocation('ddlFromLocation', reqId);
                LoadLocation('ddlToLocation', reqId);
            });
             $('#ddlFromLocation').change(function () {
                 var locid = $(this).val();
                 LoadWareHouse('ddlFromWareHouse', locid, 3);
             });

            $('#ddlToLocation').change(function () {
                var locid = $(this).val();
                 LoadWareHouse('ddlToWareHouse', locid, 0);
            });
          });
          function CheckClick(id) {
            if ($('#chk_' + id).is(':checked')) {
                $('#RequisitionInQty_' + id).attr('disabled', false);
                $('#RequisitionInKG_' + id).attr('disabled', false);
            } else {
                $('#RequisitionInQty_' + id).attr('disabled', true);
                $('#RequisitionInKG_' + id).attr('disabled', true);
            }
        }
          function SaveFinal() {
              if (SaveValidation()) {
                  $('#SaveButton').prop("disabled", true);
                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false
                 }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveRequisition();
                 });
            }
          }
          function SaveRequisition() {
              var empCode = [];
            var companyId = parseInt($('#ddlCompany').val());
            var locationId = parseInt($('#ddlFromLocation').val());
            var wareHouseId = parseInt($('#ddlFromWareHouse').val());
            var toWareHouseId = parseInt($('#ddlToWareHouse').val());
            var requisitionDate = $('#txtRequisitionDate').val();
            var productionDate = $('#txtProductionDate').val();
            var comments = $('#txtComments').val();
            var requisitionBy = $('#empAutoCom').val();
              empCode = requisitionBy.split(':');
            var jsonData = {};
            jsonData["PortionToFurtherProcessReqId"] = 0;
            jsonData["CompanyId"] = companyId;
            jsonData["LocationId"] = locationId;
            jsonData["WareHouseId"] = wareHouseId;
            jsonData["ToWareHouseId"] = toWareHouseId;
            jsonData["RequisitionDate"] = requisitionDate;
            jsonData["ProductionDate"] = productionDate;
            jsonData["Comments"] = comments;
            jsonData["RequisitionBy"] = empCode[0];
            var robj = [];
            $('#myTable_p tbody tr').each(function () {
                 var myobj = {};
                 myobj["ProductId"] = parseInt($(this).find('.item').val());
                 myobj["ProductQty"] = parseFloat($(this).find('.itemQty').val());
                 myobj["ProductKg"] = parseFloat($(this).find('.itemKg').val());
                 myobj["Remarks"] = $(this).find('.remarks').val();
                robj.push(myobj);
            });
            jsonData["FurtherProcessRequisitionDetail"] = robj;
            var urlpath = '@Url.Action("SaveRequisition", "FurtherProcessRequisition")';
            $.ajax({
                contentType: "application/json",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "POST",
                traditional: true
            })
                .success(function (result) {
                    if (result.isSuccess == true) {
                        $('#SaveButton').prop("disabled", true);
                        swal("Dressed Bird Requisition Save Succesfully");
                        window.location.href = '@Url.Action("FurtherRequisition", "FurtherProcessRequisition")';
                    }
                });
        }
          function SaveValidation() {
            var isValid = true;
            var message = 'Some Values Required';
            if ($('#ddlCompany').val() == 0 || $('#ddlCompany').val() == '') {
                ValidationColorChangeNew('ddlCompany', 'divCompany', 'Select Company', true);
                isValid = false;
            }
            if ($('#ddlFromLocation').val() == 0 || $('#ddlFromLocation').val() == '') {
                ValidationColorChangeNew('ddlFromLocation', 'divFromLocation', 'Select From Location', true);
                isValid = false;
            }
            if ($('#ddlToLocation').val() == 0 || $('#ddlToLocation').val() == '') {
                ValidationColorChangeNew('ddlToLocation', 'divToLocation', 'Select To Location', true);
                isValid = false;
            }
             if ($('#ddlFromWareHouse').val() == 0 || $('#ddlFromWareHouse').val() == '') {
                ValidationColorChangeNew('ddlFromWareHouse', 'divFromWareHouse', 'Select From Waerhouse', true);
                isValid = false;
            }
             if ($('#ddlToWareHouse').val() == 0 || $('#ddlToWareHouse').val() == '') {
                ValidationColorChangeNew('ddlToWareHouse', 'divToWareHouse', 'Select To Waerhouse', true);
                isValid = false;
            }
              if ($('#txtRequisitionDate').val() == null || $('#txtRequisitionDate').val() == '') {
                ValidationColorChangeNew('txtRequisitionDate', 'divRequisitionDate', 'Requisition Date Required', true);
                isValid = false;
            }
             if ($('#txtProductionDate').val() == null || $('#txtProductionDate').val() == '') {
                ValidationColorChangeNew('txtProductionDate', 'divProductionDate', 'Expected Production Date Required', true);
                isValid = false;
            }
             if ($('#empAutoCom').val() == null || $('#empAutoCom').val() == '') {
                ValidationColorChangeNew('empAutoCom', 'divReceiveBy', 'Requisition By Required', true);
                isValid = false;
            }
            var count = 0;
             $('#myTable_p tbody tr').each(function () {
                 var a = $(this).find(".item").val();
                 var g = $(this).find(".group").val();
                var msg = [];
                //if (parseInt($(this).find(".item").val()) == 0) {
                    //|| $(this).find(".itemQty").val() == ""
                    if ($(this).find(".item").val() == null || parseInt($(this).find(".item").val()) == 0) {
                         msg.push("Product Name ");
                    }
                    if ($(this).find(".group").val() == 6) {
                        if ($(this).find(".itemQty").val() == null || $(this).find(".itemQty").val() == "") {
                            msg.push("Product Qty ");
                        }
                    }
                    if ($(this).find(".group").val() == 5) {
                        if ($(this).find(".itemKg").val() == null || $(this).find(".itemKg").val() == "") {
                            msg.push("Product Kg ");
                        }
                    }
                    if ($(this).find(".group").val() == 7) {
                        if ($(this).find(".itemKg").val() == null || $(this).find(".itemKg").val() == "") {
                            msg.push("Product Kg ");
                        }
                    }
                    
                    if (msg.length > 0) {
                        isValid = false;
                        message = ("Please input " + msg);
                    }
                //}
            });
            if (isValid == false) {
                ShowMessage(message);
            }
            return isValid;
         }
         LoadStock = (rowNo) => {
             var productId = parseInt($("#dllItem_" + rowNo).val());
            var fromWareHouseId = parseInt($("#ddlFromWareHouse").val());
            var urlpath = '@Url.Action("LoadStockForFurtherProcess", "FurtherProcessRequisition")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { productId: productId, fromWareHouseId: fromWareHouseId },
                async: false,
                success: function (data) {
                    
                    $("#txtItemStockQty_" + rowNo).val(data.StockInQty);
                    $("#txtItemStockKg_" + rowNo).val(data.StockInKG);
                    $("#txtgroup_" + rowNo).val(data.GroupId);
                }
            });
        }
        function LoadCompany(elementId) {
            var urlpath = '@Url.Action("LoadCompany", "DBToPortionRequisition")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: {},
                async: false,
                success: function (data) {
                     $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Company--</option>");
                    for (var i = 0; i < data.length; i++) {
                         $('#' + elementId + '').append($("<option></option>").val(data[i].CompanyId).html(data[i].CompanyShortName));
                    }
                 }
            });
        }
         function LoadLocation(elementId, comid) {
            var urlpath = '@Url.Action("LoadLocation", "DBToPortionRequisition")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { comid: comid },
                async: false,
                success: function (data) {
                     $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Location--</option>");
                    for (var i = 0; i < data.length; i++) {
                         $('#' + elementId + '').append($("<option></option>").val(data[i].LocationId).html(data[i].LocationName));
                    }
                 }
            });
        }
        function Total(itemid) {
            var RequisitionInQty = isNaN(parseFloat($("#RequisitionInQty_" + itemid).val())) ? 0 : parseFloat($("#RequisitionInQty_" + itemid).val());
            var RequisitionInKG = isNaN(parseFloat($("#RequisitionInKG_" + itemid).val())) ? 0 : parseFloat($("#RequisitionInKG_" + itemid).val());
            var unitPrice = isNaN(parseFloat($("#UnitPrice_" + itemid).val())) ? 0 : parseFloat($("#UnitPrice_" + itemid).val());
            $('#total_' + itemid).val(RequisitionInQty * unitPrice);
            //var StockInQty = $("#StockInQty_" + itemid).val();
            //var StockInKG = $("#StockInKG_" + itemid).val();
              //if (parseFloat(RequisitionInQty) > parseFloat(StockInQty)) {
            //    swal('Requisition Qty can not be grater then stock qty');
            //    $("#RequisitionInQty_" + itemid).val('');
            //    return;
            //}
            //if (parseFloat(RequisitionInKG) > parseFloat(StockInKG)) {
            //    swal('Requisition Qty In KG can not be grater then stock in KG');
            //    $("#RequisitionInKG_" + itemid).val('');
            //    return;
            //}
         }
          function AddRow() {
              var tr = $('#myTable_p tbody tr').length + 1;
            var values = $("#myTable_p tbody tr")
              .map(function () { return parseInt($(this).attr('id').substring(3)); }).get();
            var index = values.indexOf(tr);
            if (index >= 0) {
                tr = Math.max.apply(Math, values) + 1;
            }
            var ddlName = 'dllItem_' + tr;
            var urlpath = '@Url.Action("GetAddRow", "FurtherProcessRequisition")';
            $.ajax({
                url: urlpath,
                dataType: 'HTML',
                type: "Get",
                data: { tr: tr },
                async: true,
                success: function (data) {
                     $('#myTable_p tbody').append(data);
                    LoadItemList(ddlName);
                }
            });
            SerialTable();
        }
        function SerialTable() {
            $('#myTable_p tbody tr').each(function (index, element) {
                 var idr = $(this).attr('id');
                var id = idr.substring(3);
                $('#ts_' + id).html(index + 1);
              });
        }
        function RemoveRow(trId) {
             if (($('#myTable_p tbody tr').length) > 1) {
                $('#tr_' + trId + '').remove();
            }
              $('.addRow').attr("disabled", false);
            SerialTable();
        }
         function LoadItemDescription() {
            var urlpath = '@Url.Action("LoadProduct", "FurtherProcessRequisition")';
            $.ajax({
                url: urlpath,
                 dataType: 'json',
                type: "Get",
                data: { wareHouseId: $('#ddlFromWareHouse').val() },
                async: false,
                success: function (data) {
                     AllItemList = data;
                }
            });

            $('#myTable_p tbody').empty();
            var rowCount = $('#myTable_p tbody tr').length;
            var datarow = AllItemList.length;
            
            if (rowCount == 0 && datarow > 0) {
                AddRow();

            }
            
        }
         var array = [];
         function LoadItemList(elementId) {
             var rowCount = $('#myTable_p tbody tr').length;
              for (let count = 1; count <= AllItemList.length; count++) {
                if (isNaN(parseInt($("#dllItem_" + count).val())) == false) {
                    array.push(parseInt($("#dllItem_" + count).val()));
                }
            };
            if (AllItemList.length < rowCount) {
                $('.addRow').attr("disabled", true);
            }
             $('#' + elementId + '').append("<option value='0'>--Select Product--</option>");
             for (var i = 0; i < AllItemList.length; i++) {
                if (jQuery.inArray(AllItemList[i].ProductId, array) == -1) {
                    $('#' + elementId + '').append($("<option></option>").val(AllItemList[i].ProductId).html(AllItemList[i].ProductName));
                }
            }
            $('#' + elementId + '').select2();
            array.length = 0;
            var rowCount1 = $('#myTable_p tbody tr').length;
            if (AllItemList.length == rowCount1) {
                $('.addRow').attr("disabled", true);
            }
        }
        CheckValidData=(id) => {
            if (parseInt($('#txtItemQty_' + id).val()) > parseInt($('#txtItemStockQty_' + id).val())) {
                $('#txtItemQty_' + id).val($('#txtItemStockQty_' + id).val());
                swal("Please write valid Input", warning);
            }
        }
        CheckValidDataKG = (id) => {
            if (parseInt($('#txtItemKg_' + id).val()) > parseInt($('#txtItemStockKg_' + id).val())) {
                $('#txtItemKg_' + id).val($('#txtItemStockKg_' + id).val());
                swal("Please write valid Input", warning);
            }
        }
    </script>
}
  