﻿
@{
    ViewBag.Title = "Index";
}




<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">

                        <h3 class="card-title">Barcode Entry</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("ProductList", "BarCode") + "'");" class="btn btn-info btn-rounded waves-effect waves-light pull-right">

                                <i class="fa fa-arrow-left"></i>
                                Barcode List
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div>
                        
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button class="btn btn-primary" onclick="SaveFinal()">Submit</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6">

            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>

@section Scripts{
    <script>
        $(function () {

            
        });

      
        function SaveFinal() {


                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveType();

                });
          

        }

       

     
        function SaveType() {
          
            var urlpath = '@Url.Action("CreateProductBarCode", "BarCode")';

            $.ajax({

                contentType: "application/json; charset=utf-8",
                data: {},
                dataType: 'json',
                url: urlpath,
                type: "POST"
            })
                .success(function (result) {

                    if (result.isSuccess) {

                        swal("Barcode Saved Successfull");
                       // window.location.href = '@Url.Action("ProductTypeList", "ProductType")';


                    }
                });


        }


    </script>
}




