﻿@model IEnumerable<IGFoodProject.Models.Barcode.BarcodeProduct>
@{
    ViewBag.Title = "BarCode";
}



<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-1">

            </div>
            <div class="col-md-10">
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">

                        <h3 class="card-title">Product Barcode List</h3> &nbsp; &nbsp; &nbsp;

                        <button class="btn btn-light" onclick="window.location.href='@Url.Action("DownloadExcel", "BarCode")'">Download Excel</button>&nbsp; &nbsp; &nbsp;

                        @*<button class="btn btn-light" onclick="window.location.href='@Url.Action("DownloadPDF", "BarCode")'">Download PDF</button>*@
                        <button class="btn btn-light" onclick="DownloadPDF()">Download PDF</button>
                          <div class="card-tools">
                            <button type="button" class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("Index", "BarCode") + "'");" class="btn btn-info btn-rounded waves-effect waves-light pull-right">

                                <i class="fa fa-arrow-left"></i>
                                Barcode Entry Page
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div id="divProduct">
                        

                        <table style="border:2px;text-align:center;font-weight:bold;" id="tableId">
                            <tr style="font-size:large;">
                                <th>
                                    Product Name
                                </th>

                                <th>
                                    Code
                                </th>
                                <th>
                                    Barcode
                                </th>

                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Barcode)
                                    </td>
                                    <td>
                                        <img src="@item.ImageUrl" />
                                    </td>

                                </tr>
                            }

                        </table>




                    </div>
                </div>

            </div>
            <div class="col-md-1">

            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>




@section Scripts{
   
     <script type="text/javascript">
      

         function DownloadPDF() {
             var urlpath = '@Url.Action("DownloadPDF", "BarCode")';
             
             $.ajax({
                 url: urlpath,
                 data: {},
                 dataType: 'json',
                 type: "Get",
                 success: function (data) {
                     if (data.isSuccess) {

                         window.open("../CrystalViewer/CrystalViewer.aspx", "_blank", "WIDTH=1024,HEIGHT=768,scrollbars=no, menubar=no,resizable=yes,directories=no,location=no");
                     }
                 }
             });
         }


    </script>
}
}






