﻿@model IEnumerable<IGFoodProject.ViewModel.ViewSalesOrderProcessedMaster>

@{
    ViewBag.Title = "Sales Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">

                        <div class="row">
                            <div class="col-md-3">
                                <h3 class="card-title"><span class="fa fa-eye"></span> Generate Challan For By-Product Page </h3>
                            </div>
                            <div class="col-md-4">
                                @*<a asp-action="Index" asp-controller="MrR">
                                    <h3 class="card-title"><span class="fa fa-plus"></span>New Mrr
                                    </h3></a>*@
                                @*@Html.ActionLink("New SO", "Index", "SalesOrderProcess", null, new { @class = "btn btn-xs btn-success" })*@
                            </div>
                        </div>



                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body">
                                <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Sales Order No.</th>
                                            <th>Customer</th>
                                            <th>Destination</th>
                                            <th>Sales Person</th>
                                            <th>Person Contact</th>
                                            <th>Order Date</th>
                                            <th>Delivery Date</th>
                                            <th>Approve By</th>
                                            <th>Approve Date</th>
                                            <th>Total Price Inc. Vat</th>
                                            <th>Total Price Ex. Vat</th>
                                           
                                            <th>Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ int count = 1;}
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@count</td>
                                                <td>@item.SalesOrderNo</td>
                                                <td>@item.CustomerName</td>
                                                <td>@item.DeliveryDestination</td>
                                                <td>@item.SalesPerson</td>
                                                <td>@item.SalesPersonContact</td>

                                                <td>@Convert.ToDateTime(item.OrderDate).ToString("dd-MMM-yyyy")</td>
                                                <td>@Convert.ToDateTime(item.DeliveryDate).ToString("dd-MMM-yyyy")</td>
                                                <td>@item.ApproveBy</td>
                                                <td>@Convert.ToDateTime(item.ApproveDate).ToString("dd-MMM-yyyy")</td>
                                                <td>@item.TotalIncTaxVat</td>
                                                <td>@item.TotalExTaxVat</td>




                                                <td> @Html.ActionLink("Add DO", "GenerateChallan", "ChallanByProduct", new { id = @item.SalesOrderProcessedMasterId }, new { @class = "btn btn-outline-success btn-sm" })</td>

                                            </tr>
                                            count++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>



                    </div>


                </div>

            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->

</section>




