﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="row">

                            <div class="col-md-6">
                                
                                    <h3 class="card-title">
                                        
                                            <span class="">Daily Process Price Declare</span>

                                        
                                    </h3>
                               
                            </div>
                            <div class="col-md-6 text-right">
                                
                            </div>
                        </div>


                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divSaleDate">
                                    <label for="txtSaleDate">Order Date</label>
                                    <input type="text" id="txtOrderDate" class="form-control" value="@DateTime.Now.ToString("dd-MMM-yyyy")" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divPreDate" >
                                    <label for="txtPreDate">Previous Date</label>
                                    <input type="text" id="txtPreDate" class="form-control" disabled/>
                                </div>
                            </div>
                        </div>



                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divBroiler">
                                    <label for="txtBroiler">Broiler (Avg Purchase Price)</label>
                                    <input type="text" id="txtBroiler" class="form-control"/>
                                    <input type="text" id="txtBcat" class="form-control" style="display: none;" value="1"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divByProduct">
                                    <label for="txtByProduct">ByProduct (Broiler Avg Purchase Price)</label>
                                    <input type="text" id="txtByProduct" class="form-control"/>
                                    <input type="text" id="txtByPro" class="form-control" style="display: none;" value="4"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divBroilerBFC">
                                    <label for="txtBroilerBFC">BFC (Broiler Avg Purchase Price)</label>
                                    <input type="text" id="txtBroilerBFC" class="form-control" />
                                    <input type="text" id="txtBcatBFC" class="form-control" style="display: none;" value="1436" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divSonali">
                                    <label for="txtSonali">Sonali (Avg Purchase Price)</label>
                                    <input type="text" id="txtSonali" class="form-control" />
                                    <input type="text" id="txtScat" class="form-control" style="display:none;" value="2" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divCock">
                                    <label for="txtCock">Cock (Avg Purchase Price)</label>
                                    <input type="text" id="txtCock" class="form-control"/>
                                    <input type="text" id="txtCcat" class="form-control" style="display: none;" value="3"/>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divBrownEgg">
                                    <label for="txtEggBrown">Egg (Layer Brown) (Avg Purchase Price)</label>
                                    <input type="text" id="txtEggBrown" class="form-control"/>
                                    <input type="text" id="txtCtxtEggBrown" class="form-control" style="display: none;" value="342"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divWhiteEgg">
                                    <label for="txtEggWhite">Egg (Layer White) (Avg Purchase Price)</label>
                                    <input type="text" id="txtEggWhite" class="form-control"/>
                                    <input type="text" id="txtCtxtEggWhite" class="form-control" style="display: none;" value="343"/>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button class="btn btn-primary" onclick="SaveOrder()">Process Price</button>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
    <input id="salesOrderId" type="number" style="display: none;" value="@ViewBag.SalesOrderId">
</section>
@section Scripts
{


    <script>
        var PrlductList = {};
        var DeleteProduct = [];
        $(document).ready(function () {
            
            LoadDate_C('#txtOrderDate');
            $('#divPreDate').hide();
            GetpurchasePrice();
            GetpurchasePrice_Egg();
            $('#txtOrderDate').on("changeDate", function () {
                GetpurchasePrice();
                GetpurchasePrice_Egg();
            });
        });



        function GetpurchasePrice() {

            var orderdate = $('#txtOrderDate').val();

            var urlpath = '@Url.Action("GetPurchasePrice", "ProcessPriceConfig")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { orderdate: orderdate },
                async: false,
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        debugger;
                        if(data[i].ItemCategoryId==1)
                        {
                            $('#txtBcat').val(data[i].ItemCategoryId);
                            $('#txtBroiler').val(data[i].UnitPrice);
                        }
                        else if (data[i].ItemCategoryId == 2) {
                            $('#txtScat').val(data[i].ItemCategoryId);
                            $('#txtSonali').val(data[i].UnitPrice);
                        }
                        else if (data[i].ItemCategoryId == 3) {
                            $('#txtCcat').val(data[i].ItemCategoryId);
                            $('#txtCock').val(data[i].UnitPrice);
                        }
                        else if (data[i].ItemCategoryId == 4) {
                            $('#txtByPro').val(data[i].ItemCategoryId);
                            $('#txtByProduct').val(data[i].UnitPrice);
                        }
                        else if (data[i].ItemCategoryId == 1436) {
                            $('#txtBcatBFC').val(data[i].ItemCategoryId);
                            $('#txtBroilerBFC').val(data[i].UnitPrice);
                        }

                        if(data[i].oldFlag==0)
                        {
                            $('#divPreDate').hide();
                            $('#divBroiler').css({ 'color': '#495057' });
                            $('#divSonali').css({ 'color': '#495057' });
                            $('#divCock').css({ 'color': '#495057' });
                            $('#divByProduct').css({ 'color': '#495057' });
                            $('#divBroilerBFC').css({ 'color': '#495057' });
                        }
                        else
                        {
                            $('#divPreDate').show();
                            $("#txtPreDate").val(ToJavaScriptDate(data[i].orderdate));
                            $('#divPreDate').css({ 'color': 'red', 'font-size': '150%' });
                            $('#divBroiler').css({ 'color': 'red'});
                            $('#divSonali').css({ 'color': 'red' });
                            $('#divCock').css({ 'color': 'red' });
                            $('#divByProduct').css({ 'color': 'red' });
                            $('#divBroilerBFC').css({ 'color': 'red' });
                            
                            
                        }
                    }
                }
            });

        }

        function GetpurchasePrice_Egg() {
            debugger;
            var orderdate = $('#txtOrderDate').val();

            var urlpath = '@Url.Action("GetPurchasePrice_Egg", "ProcessPriceConfig")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { orderdate: orderdate },
                async: false,
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {

                        if (data[i].ItemCategoryId == 342) {
                            $('#txtCtxtEggBrown').val(data[i].ItemCategoryId);
                            $('#txtEggBrown').val(data[i].UnitPrice);
                        }
                        else if (data[i].ItemCategoryId == 343) {
                            $('#txtCtxtEggWhite').val(data[i].ItemCategoryId);
                            $('#txtEggWhite').val(data[i].UnitPrice);
                        }
                       
                   
                    }
                }
            });

        }
        

       
        function SaveOrder() {

            if (SaveValidation() == true) {
                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveOdrerFinal();

                });
            }


        }

        function SaveOdrerFinal() {
            var jsonObjs = [];
            
            var broilerprice = isNaN(parseFloat($('#txtBroiler').val())) ? 0 : parseFloat($('#txtBroiler').val());
            if (parseFloat(broilerprice) > 0)
            {
                var jsonData = {};
                jsonData["ItemCategoryId"] = $('#txtBcat').val();
                jsonData["UnitPrice"] = $('#txtBroiler').val();

                jsonData["orderdate"] = $('#txtOrderDate').val();
                jsonData["ProcessSaleMasterID"] = 0;
                jsonObjs.push(jsonData);
            }
            
            var sonaliprice = isNaN(parseFloat($('#txtSonali').val())) ? 0 : parseFloat($('#txtSonali').val());
            if (parseFloat(sonaliprice) > 0) {
                var jsonData = {};
                jsonData["ItemCategoryId"] = $('#txtScat').val();
                jsonData["UnitPrice"] = $('#txtSonali').val();

                jsonData["orderdate"] = $('#txtOrderDate').val();
                jsonData["ProcessSaleMasterID"] =0;
                jsonObjs.push(jsonData);
            }
            var cockprice = isNaN(parseFloat($('#txtCock').val())) ? 0 : parseFloat($('#txtCock').val());
            if (parseFloat(cockprice) > 0) {
                var jsonData = {};
                jsonData["ItemCategoryId"] = $('#txtCcat').val();
                jsonData["UnitPrice"] = $('#txtCock').val();

                jsonData["orderdate"] = $('#txtOrderDate').val();
                jsonData["ProcessSaleMasterID"] = 0;
                jsonObjs.push(jsonData);
            }


            var brownprice = isNaN(parseFloat($('#txtEggBrown').val())) ? 0 : parseFloat($('#txtEggBrown').val());
            if (parseFloat(brownprice) > 0) {
                var jsonData = {};
                jsonData["ItemCategoryId"] = $('#txtCtxtEggBrown').val();
                jsonData["UnitPrice"] = $('#txtEggBrown').val();

                jsonData["orderdate"] = $('#txtOrderDate').val();
                jsonData["ProcessSaleMasterID"] = 0;
                jsonObjs.push(jsonData);
            }

            var whiteprice = isNaN(parseFloat($('#txtEggWhite').val())) ? 0 : parseFloat($('#txtEggWhite').val());
            if (parseFloat(whiteprice) > 0) {
                var jsonData = {};
                jsonData["ItemCategoryId"] = $('#txtCtxtEggWhite').val();
                jsonData["UnitPrice"] = $('#txtEggWhite').val();

                jsonData["orderdate"] = $('#txtOrderDate').val();
                jsonData["ProcessSaleMasterID"] = 0;
                jsonObjs.push(jsonData);
            }

            var byproductprice = isNaN(parseFloat($('#txtByProduct').val())) ? 0 : parseFloat($('#txtByProduct').val());
            if (parseFloat(byproductprice) > 0) {
                var jsonData = {};
                jsonData["ItemCategoryId"] = $('#txtByPro').val();
                jsonData["UnitPrice"] = $('#txtByProduct').val();

                jsonData["orderdate"] = $('#txtOrderDate').val();
                jsonData["ProcessSaleMasterID"] = 0;
                jsonObjs.push(jsonData);
            }

            var broilerBFCprice = isNaN(parseFloat($('#txtBroilerBFC').val())) ? 0 : parseFloat($('#txtBroilerBFC').val());
            if (parseFloat(broilerBFCprice) > 0) {
                var jsonData = {};

                jsonData["ItemCategoryId"] = $('#txtBcatBFC').val();
                jsonData["UnitPrice"] = $('#txtBroilerBFC').val();
                jsonData["orderdate"] = $('#txtOrderDate').val();
                jsonData["ProcessSaleMasterID"] = 0;
                jsonObjs.push(jsonData);
            }

           
            var urlpath = '@Url.Action("SaveprocessPrice", "ProcessPriceConfig")';
            $.ajax({
                contentType: "application/json",
                data: JSON.stringify(jsonObjs),
                dataType: 'json',
                url: urlpath,
                type: "POST"
            })
                .success(function (result) {

                    if (result.isSuccess == 1) {

                        // var mrrNo = GetMrrNo(result.pk);

                        swal({
                            title: " Saved Successfull",
                            text: '',
                            type: "success",
                            showCancelButton: false,
                            cancelButtonClass: 'btn-secondary waves-effect',
                            confirmButtonClass: 'btn-success waves-effect waves-light',
                            confirmButtonText: 'Yes!',
                            closeOnConfirm: false
                        }, function () {
                            window.location.href = '@Url.Action("PriceProcess", "ProcessPriceConfig")';

                        });


                    }
                });


        }
        function SaveValidation() {
            debugger;
            var isValid = true;
            var message = "Please input Broiler or Sonali' Price";

            var bqty = isNaN(parseInt($('#txtBroiler').val())) ? 0 : parseInt($('#txtBroiler').val());
            var sqty = isNaN(parseInt($('#txtSonali').val())) ? 0 : parseInt($('#txtSonali').val());
            var cqty = isNaN(parseInt($('#txtCock').val())) ? 0 : parseInt($('#txtCock').val());
            var beqty = isNaN(parseFloat($('#txtEggBrown').val())) ? 0 : parseFloat($('#txtEggBrown').val());
            var wety = isNaN(parseFloat($('#txtEggWhite').val())) ? 0 : parseFloat($('#txtEggWhite').val());

            if (bqty > 0 && sqty > 0 && cqty > 0 && beqty > 0 && wety > 0)
            {
                isValid = true;
            }
            else if (bqty > 0 && sqty == 0 && cqty == 0 && beqty == 0 && wety == 0)
            {
                isValid = true;
            }
            else if (bqty == 0 && sqty > 0 && cqty == 0 && beqty == 0 && wety == 0) {
                isValid = true;
            }
            else if (bqty == 0 && sqty == 0 && cqty > 0 && beqty == 0 && wety == 0) {
                isValid = true;
            }
            else if (bqty == 0 && sqty == 0 && cqty == 0 && beqty > 0 && wety == 0) {
                isValid = true;
            }
            else if (bqty == 0 && sqty == 0 && cqty == 0 && beqty == 0 && wety > 0) {
                isValid = true;
            }
            //else
            //{
            //    isValid = false;
            //}

            //if ($('#txtOrderDate').val() == '' || $('#txtOrderDate').val() == null) {
            //    ValidationColorChangeNew("txtOrderDate", "divSaleDate", "Order Date Required", false);
            //    isValid = false;
            //}
            //if ($('#txtBroiler').val() == '' || $('#txtBroiler').val() == null || $('#txtBroiler').val() == 0) {
            //    ValidationColorChangeNew("txtBroiler", "divBroiler", "Broiler Price Required", false);
            //    isValid = false;
            //}
            //if ($('#txtSonali').val() == '' || $('#txtSonali').val() == null || $('#txtSonali').val() == 0) {
            //    ValidationColorChangeNew("txtSonali", "divSonali", "Sonali Price Required", false);
            //    isValid = false;
            //}

            

            if (isValid == false) {
                ShowMessage(message);

            }
            return isValid;


        }

        function CalculateSalePrice(id, typeid) {
            

            var saleRate = isNaN(parseFloat($('#saleRate_' + id).val())) ? 0 : parseFloat($('#saleRate_' + id).val());
            var saleQty = isNaN(parseFloat($('#saleQty_' + id).val())) ? 0 : parseFloat($('#saleQty_' + id).val());
            var saleKg = isNaN(parseFloat($('#saleKG_' + id).val())) ? 0 : parseFloat($('#saleKG_' + id).val());
            //isNaN(parseFloat($('#disPer_' + id).val())) ? 0 : parseFloat($('#disPer_' + id).val());
            var disCounPer = 0;
            var distountTotal = 0;
            var total=0
            if (typeid == 5)
            {
                 total = saleRate * saleKg;
                //var distountTotal = total * (disCounPer / 100);
                  distountTotal = saleKg * parseFloat(4);
                 var per = (distountTotal * 100) / total;
                $('#disPer_' + id).attr("disabled", true);
                $('#disNum_' + id).attr("disabled", true);
                //var distotal = saleKg * parseFloat(4);
                $('#disNum_' + id).val(distountTotal);
                $('#disPer_' + id).val(per.toFixed(2));
            }
            else
            {
                var disCounPer=isNaN(parseFloat($('#disPer_' + id).val())) ? 0 : parseFloat($('#disPer_' + id).val());
                 total = saleRate * saleKg;
                distountTotal = total * (disCounPer / 100);

                $('#disPer_' + id).attr("disabled", false);
                $('#disNum_' + id).attr("disabled", false);
            }
            //





            var vatPerItem = isNaN(parseFloat($('#proTax_' + id).val())) ? 0 : parseFloat($('#proTax_' + id).val());
            var totalPrice = total + vatPerItem - distountTotal;

            $('#total_' + id).val(total.toFixed(2));
            $('#disNum_' + id).val(distountTotal.toFixed(2));
            $('#totalG_' + id).val(totalPrice.toFixed(2));
            CalculateAll();
        }

        function CalculateSalePriceAmt(id) {

            var saleRate = isNaN(parseFloat($('#saleRate_' + id).val())) ? 0 : parseFloat($('#saleRate_' + id).val());
            var saleQty = isNaN(parseFloat($('#saleQty_' + id).val())) ? 0 : parseFloat($('#saleQty_' + id).val());
            var discountAmt = isNaN(parseFloat($('#disNum_' + id).val())) ? 0 : parseFloat($('#disNum_' + id).val());
            var saleKg = isNaN(parseFloat($('#saleKG_' + id).val())) ? 0 : parseFloat($('#saleKG_' + id).val());

            var total = saleRate * saleKg;
            var discountRate = (discountAmt / total) * 100;
            var totalPrice = total - discountAmt;
            $('#total_' + id).val(total.toFixed(2));
            $('#disPer_' + id).val(discountRate.toFixed(2));
            $('#totalG_' + id).val(totalPrice.toFixed(2));
            CalculateAll();
        }

        function CalculateAll() {


            var grandTotal = 0;
            var totalIncTax = 0;
            var totalExTax = 0;
            var totalKg = 0;
            var totalTax = 0;
            var proCout = 0;
            $('#salesOrder tbody tr').each(function () {


                var idr = $(this).attr('id');
                var id = idr.substring(3);

                var productId = isNaN(parseFloat($('#pro_' + id).val())) ? 0 : parseFloat($('#pro_' + id).val());
                var saleQty = isNaN(parseFloat($('#saleQty_' + id).val())) ? 0 : parseFloat($('#saleQty_' + id).val());
                var stockRate = isNaN(parseFloat($('#stRate_' + id).val())) ? 0 : parseFloat($('#stRate_' + id).val());
                var saleRate = isNaN(parseFloat($('#saleRate' + id).val())) ? 0 : parseFloat($('#saleRate' + id).val());

                var saleKg = isNaN(parseFloat($('#saleKG_' + id).val())) ? 0 : parseFloat($('#saleKG_' + id).val());

                var disPer = isNaN(parseFloat($('#disPer_' + id).val())) ? 0 : parseFloat($('#disPer_' + id).val());
                var disAmt = isNaN(parseFloat($('#disNum_' + id).val())) ? 0 : parseFloat($('#disNum_' + id).val());
                var total = isNaN(parseFloat($('#total_' + id).val())) ? 0 : parseFloat($('#total_' + id).val());
                grandTotal += (total - disAmt);
                totalKg += saleKg;
                if (productId > 0) {
                    proCout = proCout + 1;
                }

            });
            
            if (grandTotal > 0)
            {
                $('#taxVat').html(GetTaxInfo(5, grandTotal));
            }
            else
            {
                $('#taxVat').html("0");
            }




            var tax = parseFloat($('#taxVat').html());
            var colection = isNaN(parseFloat($('#txtCollection').val())) ? 0 : parseFloat($('#txtCollection').val());

            var taxCal = grandTotal * (tax / 100);

            //var proTax = (taxCal / proCout);
            var proTax = (taxCal / proCout);
            SetItemTax(proTax);
            totalIncTax = grandTotal + taxCal;
            totalExTax = grandTotal;
            $('#totalKg').html(totalKg.toFixed(2));
            $('#totalIncTacVat').html(totalIncTax.toFixed(2));
            $('#totalExTaxVat').html(grandTotal.toFixed(2));

            var restamount = totalIncTax - colection;
            $('#lblRestAmount').html(restamount.toFixed(2));
        }

        function SetItemTax(proTax) {
            $('#salesOrder tbody tr').each(function () {


                var idr = $(this).attr('id');
                var id = idr.substring(3);
                var total = isNaN(parseFloat($('#total_' + id).val())) ? 0 : parseFloat($('#total_' + id).val());
                var disnum = isNaN(parseFloat($('#disNum_' + id).val())) ? 0 : parseFloat($('#disNum_' + id).val());


                $('#proTax_' + id).val(proTax.toFixed(2));

                $('#totalG_' + id).val((total - disnum + proTax).toFixed(2));

            });
        }


        function GetTaxInfo(productGroupId, amount) {
            var tax = 2;
            var urlpath = '@Url.Action("GetTaxInfo", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'json',
                data: { productGroupId: productGroupId, amount: amount },
                async: false,
                success: function (data) {
                    tax = data.TaxPercent;

                }
            });
            return tax;
        }

        function GetProductDetails(prodId) {



            var productId = $('#pro_' + prodId).val();

            var urlpath = '@Url.Action("GetProductDetails", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'json',
                data: { productId: productId },
                async: false,
                success: function (data) {


                    $("#stQty_" + prodId).val(data.StockQty);
                    $("#stKg_" + prodId).val(data.StockKg);
                    //$("#stRate_" + prodId).val(data.StockPrice.toFixed(2));
                    //var salePrice =  GetSalePrice(productId, data.StockPrice);

                    $('#saleRate_' + prodId).val(data.StockPrice.toFixed(2));
                }
            });
        }




        function RemoveRow(id) {


            var trLength = $('#salesOrder tbody tr').length;
            if (trLength > 1) {

                var detailsId = $('#details_' + id).val();
                if (detailsId > 0) {
                    var productId = isNaN(parseFloat($('#pro_' + id).val())) ? 0 : parseFloat($('#pro_' + id).val());
                    var saleQty = isNaN(parseFloat($('#saleQty_' + id).val())) ? 0 : parseFloat($('#saleQty_' + id).val());
                    var stockRate = isNaN(parseFloat($('#stRate_' + id).val())) ? 0 : parseFloat($('#stRate_' + id).val());
                    var saleRate = isNaN(parseFloat($('#saleRate_' + id).val())) ? 0 : parseFloat($('#saleRate_' + id).val());

                    var saleKg = isNaN(parseFloat($('#saleKG_' + id).val())) ? 0 : parseFloat($('#saleKG_' + id).val());

                    var disPer = isNaN(parseFloat($('#disPer_' + id).val())) ? 0 : parseFloat($('#disPer_' + id).val());
                    var disAmt = isNaN(parseFloat($('#disNum_' + id).val())) ? 0 : parseFloat($('#disNum_' + id).val());
                    var total = isNaN(parseFloat($('#totalG_' + id).val())) ? 0 : parseFloat($('#totalG_' + id).val());
                    var delObj = {};
                    delObj["ProductId"] = productId;
                    delObj["SalesOrderProcessDetailsId"] = detailsId;
                    delObj["ProductQty"] = saleQty;
                    delObj["StockRate"] = stockRate;
                    delObj["SaleRate"] = saleRate;
                    delObj["ProductKg"] = saleKg;
                    delObj["DiscountAmount"] = disAmt;
                    delObj["DiscountPercent"] = disPer;
                    delObj["TotalPrice"] = total;
                    delObj["IsDelete"] = true;
                    delObj["OperationIdDelete"] = 1;





                    DeleteProduct.push(delObj);

                }
                $('#tr_' + id).remove();
                // var aProd = new object();
                SerialTable();
                CalculateAll();
            } else {
                return;
            }

        }
        function AddRow() {

            var tr = $('#salesOrder tbody tr').length + 1;
            var values = $("#salesOrder tbody tr")
              .map(function () { return parseInt($(this).attr('id').substring(3)); }).get();
            var index = values.indexOf(tr);
            if (index >= 0) {
                tr = Math.max.apply(Math, values) + 1;
            }
            var urlpath = '@Url.Action("AddRowForOrder", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'html',
                data: { tr: tr },
                async: false,
                success: function (data) {

                    $('#salesOrder tbody').append(data);
                    LoadProductInRow("pro_" + tr);


                }
            });
            $('#pro_' + tr).select2();
            SerialTable();
            //CalculateAll();
        }

        function SerialTable() {
            $('#salesOrder tbody tr').each(function (index, element) {

                var idr = $(this).attr('id');
                var id = idr.substring(3);
                $('#ts_' + id).html(index + 1);


            });
        }

        function LoadProductInRow(elementId) {

            var array = [];
            var rowCount = $('#salesOrder tbody tr').length;
            for (let count = 0; count < rowCount; count++) {
                array.push(parseInt($("#pro_" + count).val()));
            };
            $('#' + elementId + '').append("<option value='0'>--Select Product--</option>");

            for (var i = 0; i < PrlductList.length; i++) {
                if (jQuery.inArray(PrlductList[i].ProductId, array) == -1) {
                    $('#' + elementId + '').append($("<option></option>").val(PrlductList[i].ProductId).html(PrlductList[i].ProductNo + ":" + PrlductList[i].ProductName));
                }

            }
            //$('#' + elementId + '').select2();
        }


        function LoadPackSize(elementId) {
            var urlpath = '@Url.Action("GetPackSize", "Product")';

            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {
                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Pack Size--</option>");


                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].PackSizeId).html(data[i].PackSizeName));

                    }
                }
            });
        }
        function GetProducts() {


            var urlpath = '@Url.Action("GetProductByGroup", "Utility")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { groupId: 5 },
                async: false,
                success: function (data) {

                    PrlductList = data;

                }
            });
        }
        function LoadWareHouse(elementId) {

            var location = $('#ddlLocation').val();
            var urlpath = '@Url.Action("LoadWareHouse", "ItemRequisition")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { location: parseInt(location) },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Warehouse--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].WareHouseId).html(data[i].WareHouseName));
                    }

                }
            });
        }

        function LoadLocation(elementId) {
            $.ajax({
                url: "/ItemRequisition/LoadLocation",

                dataType: 'json',
                type: "Get",
                data: {},
                async: true,
                success: function (data) {
                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Location--</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].LocationId).html(data[i].LocationName));
                    }
                }
            });
        }
        function GetSalesPersonPhone() {

            var empNo = $('#employeeSelect').val();
            var urlpath = '@Url.Action("GetSalesPhoneNo", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { empNo: empNo },
                async: false,
                success: function (data) {
                    $('#txtSalesPersonNo').val(data);

                }
            });


        }
        function LoadCustomer(elementId) {
            var typeid = $('#ddlCustomerType').val();
            var urlpath = '@Url.Action("GetCustomer", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { typeid: typeid },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Customer --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].CustomerID).html(data[i].CustomerCode + ":" + data[i].CustomerName + ": " + data[i].CoustomerTypeName));
                    }
                }
            });
        }

        function GetCustomerDetails() {


            var customerId = $('#ddlCustomer').val();

            var urlpath = '@Url.Action("GetCustomerDetails", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'html',
                type: "Get",
                data: { id: customerId },
                async: false,
                success: function (data) {
                    $('#customerDetails').empty();
                    $('#customerDetails').html(data);

                }
            });



            LoadDate('#txtOrderDate');

            var str = $('#customerAddress').html();
            if (str != '' || str != null) {
                var array = str.split(':');

                $('#txtDestination').val(array[1]);
            }

        }
    </script>
}

