﻿@{
    int sl = Convert.ToInt32(TempData["trSl"]);
}
<tr id="tr_@sl">

    <td>@sl</td>
    <td>
        <input type="checkbox" class="checkClass" id="chk_@sl" onclick="CheckDetails(@sl)" />
    </td>
    <td>
        <select class="form-control select2" id="pro_@sl"  onchange="GetProductDetails(@sl)"></select>
    </td>
    @*<td>
        <input type="text" class="form-control" disabled="disabled" id="cat_@sl" />
    </td>*@
    <td>
        <input type="text" class="form-control"  id="stQty_@sl" />
    </td>

    <td>
        <input type="number" class="form-control"  id="stKg_@sl" />
    </td>
    <td> 
        <input type="number" class="form-control" id="stRate_@sl"  />
    </td>
    <td>
        <input type="number" class="form-control"  id="saleRate_@sl"  oninput="CalculateSalePrice(@sl)"  />
    </td>
    <td>
        <input type="number" class="form-control"  id="saleQty_@sl" oninput="CalculateSalePrice(@sl)"/>
    </td>
    <td>
        <input type="number" class="form-control" id="issueQty_@sl" oninput="CalculateChallan()"/>
    </td>
    <td>
        <input type="number" class="form-control" disabled="disabled" id="prevIssueQty_@sl" />
    </td>

    <td>
        <input type="number" class="form-control"  id="saleKG_@sl"  />
    </td>
    <td>
        <input type="number" class="form-control" id="issueKG_@sl"/>
    </td>
    <td>
        <input type="number" class="form-control" disabled="disabled" id="prevIssueKG_@sl"  />
    </td>
    <td>
        <input type="number" class="form-control"  id="disPer_@sl" />
    </td>
    <td>
        <input type="number" class="form-control"  id="disNum_@sl"  oninput="CalculateSalePrice(@sl)" />
    </td>
    <td>
        <input type="number" class="form-control" disabled="disabled" id="total_@sl"/>
    </td>
    <td>
        <input type="number" class="form-control" disabled="disabled" id="totalG_@sl" />
        <input type="number" value="0" class="form-control" disabled="disabled" id="detailsId_@sl"/>
        <input type="number" style="display:none" id="proId_@sl" value="0" />
    </td>
   



</tr>
