﻿
@{
    int sl = Convert.ToInt32(TempData["trSl"]);
}
<tr id="tr_@sl">

    <td id="tdc_@sl">@sl</td>
    <td style="display:none;">
        <input type="checkbox" class="checkClass" id="chk_@sl" onclick="CheckDetails(@sl)" checked />
    </td>
    
    <td>
        <select class="form-control select2" id="pro_@sl" onchange="GetProductDetails(@sl)" disabled></select>
    </td>

    <td>
        <input type="text" class="form-control" disabled="disabled" id="challanQty_@sl" />
    </td>

    <td>
        <input type="number" class="form-control" disabled="disabled" id="challanKg_@sl" />
    </td>
    
    <td>
        <input type="number" class="form-control" id="saleRate_@sl" disabled="disabled"  />
        <input type="number" class="form-control" style="display:none;"  id="discountamt_@sl" disabled="disabled" /> @*style="display:none;"*@
    </td>
    <td>
        <input type="number" class="form-control" disabled id="challanAmount_@sl" />
    </td>
    <td >
        <input type="number" class="form-control"   id="deliveryQty_@sl" oninput="DeliveryKgCal(@sl)"  />
    </td>
    <td class="issue">
        <input type="number" class="form-control"   id="deliveryKG_@sl" oninput="DeliveryKgCalculate(@sl)" />
    </td>
    <td>
        <input type="number" class="form-control"  id="returnQty_@sl" oninput="DeliveryKgCal(@sl)" />
    </td>
    <td class="issue">
        <input type="number" class="form-control"  id="returnKG_@sl" oninput="DeliveryKgCalculate(@sl)" />
    </td>
    <td>
        <input type="number" class="form-control"  id="weightlossQty_@sl" oninput="DeliveryKgCal(@sl)" />
    </td>
    <td class="issue">
        <input type="number" class="form-control"  id="weightlossKG_@sl" oninput="DeliveryKgCalculate(@sl)" />
    </td>
    @*<td>
        <input type="number" class="form-control" id="weightGainQty_@sl" oninput="DeliveryKgCal(@sl)" />
    </td>*@
    <td class="issue">
        <input type="number" class="form-control" id="weightGailKG_@sl" oninput="DeliveryKgCalculate(@sl)" />
    </td>
    <td>
        <input type="number" class="form-control" id="deliveryAmount_@sl"  disabled="disabled" />
    </td>
    <td class="issue">
        <input type="text" class="form-control"  id="remark_@sl"  />
    </td>
    <td class="priceHide">
       
        <input type="number" style="display: none" value="0" class="form-control" disabled="disabled" id="detailsId_@sl" />
        <input type="number" style="display: none" id="proId_@sl" value="0" />
        <input type="number" style="display: none" id="groupId_@sl" value="0" />
        @*<input type="number" style="display: none" id="chItemPrice_@sl" value="0" />*@
    </td>

</tr>
