﻿@{
    int sl = Convert.ToInt32(TempData["trSl"]);
}

<tr id="trc_@sl">
    <td>@sl</td>
    <td><select disabled="disabled" id="cProd_@sl"></select></td>
    <td><input disabled="disabled" type="number" class="form-control" id="cSaleQty_@sl"/></td>
    <td><input disabled="disabled" type="number" class="form-control" id="cSaleKg_@sl"/></td>
    <td><input  disabled="disabled" type="number" class="form-control" id="cIssueQty_@sl"/></td>
    <td><input  disabled="disabled" type="number" class="form-control" id="cIssueKg_@sl"/></td>
    <td><input disabled="disabled" type="number" class="form-control" id="cprice_@sl"/></td>
    <td><button onclick="RemoveChallanRow(@sl)" class="btn btn-sm btn-danger"><span>x</span></button></td>
    <td>
        <input type="number" id="soDetails_@sl"/>
        <input type="number" id="Wh_@sl"/>   
    </td>
</tr>
