﻿
@using System.Data
@model System.Data.DataTable
@{ int count = 1;}
<table id="pickingTable" border="1" class="table dataTable table-bordered table-striped table-hover">
    <thead>
        <tr style="background-color: aliceblue">
            <th style="text-align: center">SL</th>
            <th style="text-align: center"><input type='checkbox' class='iradio_minimal-blue' id='checkAll' onclick='SelectAllCheckboxFunc()' /></th>
            <th style="text-align: center">Challan No</th>
            <th style="text-align: center">Customer Name</th>
            <th style="text-align: center">Delivery Date</th>
            <th style="text-align: center">Delivery Amount</th>
            <th style="text-align: center">Total Qty</th>
            <th style="text-align: center">Total Kg</th>
            <th style="text-align: center">Total Paid</th>
            <th style="text-align: center">Qc Status</th>
        </tr>

    </thead>
    <tbody class="Traylist">
        @foreach (DataRow row in Model.Rows)
        {
            if (Convert.ToInt32(row.ItemArray[7]) > 0 || Convert.ToInt32(row.ItemArray[8]) != 0)
            {

                <tr style="background-color:yellow" class="paidrow"  id="@row.ItemArray[0]">
                    <td>@count</td>
                    <td></td>
                   @* <td><input type='checkbox' class='iradio_minimal-blue checkp' id='check_@count' onclick='Checkp(@count)' disabled="disabled" /></td>*@
                    <td style="text-align: center"><a style='text-decoration: underline;' onclick='SeeDetails(@row.ItemArray[0])'>@row.ItemArray[1]</a></td>
                    <td style="text-align: center">@row.ItemArray[2]</td>
                    <td style="text-align: center">@Convert.ToDateTime(row.ItemArray[3]).ToString("dd MMM yyyy")</td>
                    <td style="text-align: center">@row.ItemArray[4]</td>
                    <td style="text-align: center">@row.ItemArray[5]</td>
                    <td style="text-align: center">@row.ItemArray[6]</td>
                    <td style="text-align: center">@row.ItemArray[7]</td>
                   @if (@Convert.ToInt32(row.ItemArray[8]) > 0)
                   {

                    <td style="text-align: center">QC Passed</td>
                   }
                   else
                   {

                    <td style="text-align: center">Pending</td>
                   }
                    @*<td style="text-align: center"><button id='btn_@count' class="btn btn-primary" onclick='SeeDetails(@row.ItemArray[0],"@row.ItemArray[9]")'>SeeDetails</button></td>*@
                    

                </tr>
            }
            else
            {

                <tr id="@row.ItemArray[0]" class="Unpaidrow">
                    <td>@count</td>
                    <td><input type='checkbox' class='iradio_minimal-blue checkp' id='check_@count' onclick='Checkp(@count)' /></td>
                    <td style="text-align: center"><a style='text-decoration: underline;' onclick='SeeDetails(@row.ItemArray[0])'>@row.ItemArray[1]</a></td>
                    <td style="text-align: center">@row.ItemArray[2]</td>
                    <td style="text-align: center">@Convert.ToDateTime(row.ItemArray[3]).ToString("dd MMM yyyy")</td>
                    <td style="text-align: center">@row.ItemArray[4]</td>
                    <td style="text-align: center">@row.ItemArray[5]</td>
                    <td style="text-align: center">@row.ItemArray[6]</td>
                    <td style="text-align: center">@row.ItemArray[7]</td>
                    @if (@Convert.ToInt32(row.ItemArray[8]) > 0)
                    {

                        <td style="text-align: center">QC Passed</td>
                    }
                    else
                    {

                        <td style="text-align: center">Pending</td>
                    }
                    @*<td style="text-align: center"><button id='btn_@count' class="btn btn-primary" onclick='SeeDetails(@row.ItemArray[0],"@row.ItemArray[9]")'>SeeDetails</button></td>*@
                  

                </tr>
            }
            count++;
        }
    </tbody>
</table>
