﻿
@{
    ViewBag.Title = "DeliveryConfirm";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-3">
                                <h4><span class="fa fa-eye"></span> DO Confirmation </h4>
                            </div>
                            <div class="col-md-4">
                                <h3 id="salesOrderNo"></h3>
                            </div>
                        </div>

                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="formDiv">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divCompany">
                                        <label for="ddlCompany">Company</label>
                                        <select class="form-control" style="width: 100%;" id="ddlCompany" disabled></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divCustomerType">
                                        <label for="ddlCustomerType">Customer Type</label>
                                        <select class="form-control select2" style="width: 100%;" id="ddlCustomerType" onchange="LoadCustomer('ddlCustomer')" disabled></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divCustomer">
                                        <label for="ddlCustomer">Customer</label>
                                        <select class="form-control" style="width: 100%;" id="ddlCustomer" onchange="GetCustomerDetails()" disabled></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divOrderDate">
                                        <label for="txtOrderDate">Order Date</label>
                                        <input type="text" id="txtOrderDate" class="form-control" disabled />
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="row">

                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="card-body">
                                            <div style="margin-left: 3%" id="customerDetails"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="card-body">
                                            <div class="form-group" id="divDeliveryDate">
                                                <label for="txtDeliveryDate">Delivery Date</label>
                                                <input type="text" id="txtDeliveryDate" class="form-control" disabled  />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="card-body">
                                            <input type="checkbox" class="form-check-input" id="chkEmployee" style="margin-left: 3px; margin-top: 20px;" />
                                            <label class="form-check-label" for="chkEmployee" style="margin-left: 24px; margin-top: 17px;" disabled>Is Employee</label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="card-body">
                                            <div class="form-group" id="divSalesPerson">
                                                <label for="txtSalesPerson">Sales Person</label>
                                                <input type="text" id="txtSalesPerson" class="form-control" onchange="GetSalesPersonPhone()" disabled />
                                                <input type="number" id="employeeSelect" class="form-control" style="display:none;" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="card-body">
                                            <div class="form-group" id="dovSalesPersonNo">
                                                <label for="txtSalesPersonNo">Sales Person Contact</label>
                                                <input type="text" id="txtSalesPersonNo" class="form-control" disabled />

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card-body">
                                            <div class="form-group" id="divDestination">
                                                <label for="txtDestination">Destination</label>
                                                <input type="text" id="txtDestination" class="form-control" disabled />

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="card-body">
                                            <div class="form-group" id="divDeliveredBy">
                                                <label for="txtDeliveredBy">Delivered By</label>
                                                <input type="text" id="txtDeliveredBy" class="form-control" />
                                                <input type="number" id="deliverSelect" class="form-control" style="display:none;" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card-body">
                                            <div class="form-group" id="divRemarks">
                                                <label for="txtRemarks">Remarks</label>
                                                <input type="text" class="form-control" id="txtRemarks" />
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>



                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-body">
                                    
                                    <table class="table table-bordered table-striped" id="salesOrder">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                               <th style="display:none;">Check</th>
                                                <th width="350">Product</th>
                                                @*<th width="150">Product Category</th>*@
                                                <th>Challan Qty </th>
                                                <th>Challan Kg</th>
                                                <th>Sale Price</th>
                                                <th>Challan Amount</th>
                                                
                                                <th>Delivery Qty</th>
                                                <th>Delivery Kg</th>
                                                <th>Return Qty</th>
                                                <th>Return Kg</th>
                                                <th>Weight Loss Qty</th>
                                                <th>Weight Loss Kg</th>
                                                <th>Delivery Amount</th>
                                                <th>Remarks</th>

                                            </tr>
                                        </thead>

                                        <tbody></tbody>
                                        @*<tfoot>
                                            <tr id="totalChallanRow">
                                                <td></td>
                                                <td colspan="5">Total</td>
                                                <td> <label id="totalChallanQty">0</label> </td>
                                                <td colspan="2"></td>

                                                <td> <label id="totalChallanKg">0</label> </td>
                                            </tr>
                                            <tr>
                                                <td class="priceHide"></td>
                                                <td colspan="11" class=""></td>
                                                <td class="priceHide">
                                                    <button class="btn btn-success" id="salesUpdate" onclick="SaveSalesOrder()">Update </button>
                                                </td>
                                                <td class="priceHide"></td>
                                                <td class="priceHide"></td>

                                            </tr>
                                        </tfoot>*@
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    

                    
                    <div class="row">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body formDiv">
                                
                                <div class="row">
                                    <label>Delivery Total Qty in KG:</label>
                                    <label id="totalKg">0</label>
                                </div>
                                <div class="row" style="display:none;">
                                    <label>Delivery Total Qty:</label>
                                    <label id="totalqty">0</label>
                                </div>
                               
                                <div class="row">
                                    <label>Total Delivery Amount:</label>
                                    <label id="totalDeliveryAmt">0</label>
                                </div>
                                <div class="row">
                                    <label>Total Discount Amount:</label>
                                    <label id="totalDiscount">0</label>
                                    <label id="totalDiscountper" style="display:none;"></label>
                                </div>
                                

                                <div class="row">
                                    <label>Total Amount:</label>
                                    <label id="totalIncTacVat">0</label>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                                       
                    <div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-6">
                                    <button class="btn btn-primary"  onclick="SaveDelivery()">Save Delivery</button>
                                </div>
                                <div class="col-md-6 text-right" >
                                    <button class="btn btn-danger"  onclick="GotoProcess()">Cancel</button>
                                </div>
                            </div>
                            


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
    <input id="mSalesOrderId" type="number" style="display: none;" value="@ViewBag.challanno">
    <input id="ecom" type="text" style="display: none;" >
</section>
@section Scripts
{





    <script>
        var PrlductList = {};
        var DeleteProduct = [];
        $(document).ready(function () {


            LoadCustomerType('ddlCustomerType');
            LoadCompany('ddlCompany');
            GetProducts();

            GetOrderMaster();
            LoadLocation('ddlLocation', 7);
            EmpAutoCom('txtDeliveredBy', 'deliverSelect');

        });
        function GotoProcess()
        {
            window.location.href = '/ChallanProcessed/ChallanListForDeliveryConfirm_Processed?groupid=5';
        }
        function AddSoRow() {

            AddRow();
            $('.priceHide').show();
            $('.issue').hide();
            $('#salesUpdate').show();
            $('#saveBtn').hide();
        }


        function DeliveryKgCalculate(id) {

            var deliveryKG = isNaN(parseFloat($('#deliveryKG_' + id).val())) ? 0 : parseFloat($('#deliveryKG_' + id).val());
            var productid = isNaN(parseInt($('#pro_' + id).val())) ? 0 : parseInt($('#pro_' + id).val());
            var groupid = isNaN(parseInt($('#groupId_' + id).val())) ? 0 : parseInt($('#groupId_' + id).val());
            var returnKG = isNaN(parseFloat($('#returnKG_' + id).val())) ? 0 : parseFloat($('#returnKG_' + id).val());

            var challanKg = isNaN(parseFloat($('#challanKg_' + id).val())) ? 0 : parseFloat($('#challanKg_' + id).val());
            var salerate = isNaN(parseFloat($('#saleRate_' + id).val())) ? 0 : parseFloat($('#saleRate_' + id).val());
            
            
            
            if (deliveryKG > challanKg) {
                $('#deliveryKG_' + id).val(challanKg);
                $('#returnKG_' + id).val('0');
                ('#weightlossKG_' + id).val('0');

            }
            if ((deliveryKG + returnKG )> challanKg) {
                $('#deliveryKG_' + id).val(challanKg);
                $('#returnKG_' + id).val('0');
                ('#weightlossKG_' + id).val('0');
            }
            var deliveryamount = 0;
            var custype = $('#ddlCustomerType').val();
            var ecom = $('#ecom').val();
            if (groupid == '5') {

                if (custype != "5")
                {
                    if(ecom=="true")
                    {
                        deliveryKG = isNaN(parseFloat($('#deliveryKG_' + id).val())) ? 0 : parseFloat($('#deliveryKG_' + id).val());
                        


                        
                        returnKG = isNaN(parseFloat($('#returnKG_' + id).val())) ? 0 : parseFloat($('#returnKG_' + id).val());
                        var returnqty = isNaN(parseFloat($('#returnQty_' + id).val())) ? 0 : parseFloat($('#returnQty_' + id).val());
                        $('#returnQty_' + id).val(returnqty.toFixed(2));
                        var losskg = challanKg - (deliveryKG + returnKG);
                        
                        $('#weightlossKG_' + id).val(losskg.toFixed(2));
                        
                    }
                    else {
                        deliveryKG = isNaN(parseFloat($('#deliveryKG_' + id).val())) ? 0 : parseFloat($('#deliveryKG_' + id).val());
                        deliveryamount = deliveryKG * salerate;

                        var pweight = GetQtyForKG(productid);
                        debugger;
                        var sqty = pweight * deliveryKG;
                        $('#deliveryQty_' + id).val(sqty);
                        returnKG = isNaN(parseFloat($('#returnKG_' + id).val())) ? 0 : parseFloat($('#returnKG_' + id).val());
                        var returnqty = pweight * returnKG;
                        $('#returnQty_' + id).val(returnqty.toFixed(2));
                        var losskg = challanKg - (deliveryKG + returnKG);
                        var lossqty = losskg * pweight;
                        $('#weightlossKG_' + id).val(losskg.toFixed(2));
                        $('#weightlossQty_' + id).val(lossqty.toFixed(2));
                        $('#deliveryAmount_' + id).val(deliveryamount);
                    }
                }
                else {
                    deliveryKG = isNaN(parseFloat($('#deliveryKG_' + id).val())) ? 0 : parseFloat($('#deliveryKG_' + id).val());
                    deliveryamount = deliveryKG * salerate;

                    var pweight = GetQtyForKG(productid);
                    debugger;
                    var sqty = pweight * deliveryKG;
                    $('#deliveryQty_' + id).val(sqty);
                    returnKG = isNaN(parseFloat($('#returnKG_' + id).val())) ? 0 : parseFloat($('#returnKG_' + id).val());
                    var returnqty = pweight * returnKG;
                    $('#returnQty_' + id).val(returnqty.toFixed(2));
                    var losskg = challanKg - (deliveryKG + returnKG);
                    var lossqty = losskg * pweight;
                    $('#weightlossKG_' + id).val(losskg.toFixed(2));
                    $('#weightlossQty_' + id).val(lossqty.toFixed(2));

                    $('#deliveryAmount_' + id).val(deliveryamount);
                }
                

               
            }
            else if (groupid == '7')
            {
                deliveryKG = isNaN(parseFloat($('#deliveryKG_' + id).val())) ? 0 : parseFloat($('#deliveryKG_' + id).val());
                deliveryamount = deliveryKG * salerate;

                returnKG = isNaN(parseFloat($('#returnKG_' + id).val())) ? 0 : parseFloat($('#returnKG_' + id).val());
                var losskg = challanKg - (deliveryKG + returnKG);
                $('#weightlossKG_' + id).val(losskg.toFixed(2));
                $('#weightlossQty_' + id).val('0');
                $('#deliveryAmount_' + id).val(deliveryamount);
            }

            


            CalculateAll();


        }

        function DeliveryKgCal(sl) {
            debugger;
            var prdId = isNaN(parseInt($('#proId_' + sl).val())) ? 0 : parseInt($('#proId_' + sl).val());
            var groupId = isNaN(parseFloat($('#groupId_' + sl).val())) ? 0 : parseFloat($('#groupId_' + sl).val());
            var delQty = isNaN(parseFloat($('#deliveryQty_' + sl).val())) ? 0 : parseFloat($('#deliveryQty_' + sl).val());
            var delKg = isNaN(parseFloat($('#deliveryKG_' + sl).val())) ? 0 : parseFloat($('#deliveryKG_' + sl).val());
            
            var returnqty = isNaN(parseFloat($('#returnQty_' + sl).val())) ? 0 : parseFloat($('#returnQty_' + sl).val());
            var chKG = isNaN(parseFloat($('#challanKg_' + sl).val())) ? 0 : parseFloat($('#challanKg_' + sl).val());
            var chQty = isNaN(parseFloat($('#challanQty_' + sl).val())) ? 0 : parseFloat($('#challanQty_' + sl).val());
            var saleprice = isNaN(parseFloat($('#saleRate_' + sl).val())) ? 0 : parseFloat($('#saleRate_' + sl).val());
            debugger;
            var custype = $('#ddlCustomerType').val();
            var ecom = $('#ecom').val();
            //if (delQty > chQty) {
            //    delQty = chQty;
            //    $('#deliveryQty_' + sl).val(chQty);
            //}

            if (groupId == 6) {
                if (delQty > chQty) {
                    delQty = chQty;
                    $('#deliveryQty_' + sl).val(chQty);
                    
                    $('#returnQty_' + id).val('0');
                    ('#weightlossQty_' + id).val('0');
                }
                if ((delQty + returnqty) > chQty) {
                    $('#deliveryQty_' + sl).val(chQty);

                    $('#returnQty_' + sl).val('0');
                    ('#weightlossQty_' + sl).val('0');
                }


                var pweight = GetPackWeight(prdId);
                var skg = pweight * delQty;
                $('#deliveryKG_' + sl).val(skg.toFixed(2));
                var total = saleprice * delQty;
                $('#deliveryAmount_' + sl).val(total);

                returnqty = isNaN(parseFloat($('#returnQty_' + sl).val())) ? 0 : parseFloat($('#returnQty_' + sl).val());
                var returnkg = pweight * returnqty;
                $('#returnKG_' + sl).val(returnkg);
                var lossqty = chQty - (delQty + returnqty);
                var losskg = lossqty * pweight;
                $('#weightlossKG_' + sl).val(losskg);
                $('#weightlossQty_' + sl).val(lossqty);

            }
            else if (groupId == 5) {
                if (delQty > chQty) {
                    delQty = chQty;
                    $('#deliveryQty_' + sl).val(chQty);
                }
                if (delKg > chKG) {
                    delKg = chKG;
                    $('#deliveryKG_' + sl).val(chKG);
                }
                if (custype != "5")
                {
                    if(ecom=="true")
                    {
                        var total = saleprice * delQty;
                        $('#deliveryAmount_' + sl).val(total);
                        returnqty = isNaN(parseFloat($('#returnQty_' + sl).val())) ? 0 : parseFloat($('#returnQty_' + sl).val());

                        var lossqty = chQty - (delQty + returnqty);

                        $('#weightlossQty_' + sl).val(lossqty);
                    }
                    //else
                    //{
                    //    var total = saleprice * delKg;
                    //    $('#deliveryAmount_' + sl).val(total);
                    //}

                }
                //else
                //{
                //    var total = saleprice * delKg;
                //    $('#deliveryAmount_' + sl).val(total);
                //}

               
                
            }
            else if (groupId == 7) {
                if (delKg > chKG) {
                    delKg = chKG;
                    $('#deliveryKG_' + sl).val(chKG);
                }
                var total = saleprice * delKg;
                $('#deliveryAmount_' + sl).val(total);
            }

            CalculateAll();
        }



        function SerialTable() {
            $('#salesOrder tbody tr').each(function (index, element) {

                var idr = $(this).attr('id');
                var id = idr.substring(3);
                $('#tdc_' + id).html(index + 1);


            });
        }
        function SaveDelivery() {

            if (SaveValidation() == true) {
                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveChallan();

                });
            }



        }










        function LoadProductInRow(elementId) {



            $('#' + elementId + '').append("<option value='0'>--Select Product--</option>");

            for (var i = 0; i < PrlductList.length; i++) {
                $('#' + elementId + '').append($("<option></option>").val(PrlductList[i].ProductId).html(PrlductList[i].ProductNo + ":" + PrlductList[i].ProductName));

            }

        }


        function GetProducts() {


            var urlpath = '@Url.Action("GetProductByGroup", "Utility")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { groupId: 5 },
                async: false,
                success: function (data) {

                    PrlductList = data;

                }
            });
        }

        function CheckDetails(id) {


            if ($("#chk_" + id).is(':checked')) {
                $("#chk_" + id).prop('checked', true);


                $('#deliveryQty_' + id).attr('disabled', false);
                $('#deliveryKG_' + id).attr('disabled', false);
                $('#deliveryQty_' + id).val($('#challanQty_' + id).val());
                $('#deliveryKG_' + id).val($('#challanKg_' + id).val());
                $('#deliveryAmount_' + id).val($('#challanAmount_' + id).val());
                CalculateAll();
            } else {
                $("#chk_" + id).prop('checked', false);

                $('#deliveryQty_' + id).attr('disabled', true);
                $('#deliveryKG_' + id).attr('disabled', true);
                $('#deliveryQty_' + id).val('');
                $('#deliveryKG_' + id).val('');
                $('#deliveryAmount_' + id).val('');
                CalculateAll();
            }


        }
        function LoadProductDetails() {
            $('#salesOrder tbody').empty();
            GetOrderMaster();
            var wh = $('#ddlWareHouse').val();
            var orderdate = $("#txtOrderDate").val();
            $('#salesOrder tbody tr').each(function () {


                var idr = $(this).attr('id');
                var trid = idr.substring(3);
                var pid = $('#proId_' + trid).val();

                var details = LoadProductDetailsBywh(wh,orderdate, $('#proId_' + trid).val());
               // $("#proId_" + tr).val()
                $('#pro_' + trid).val(pid).trigger('change');
                //var asdasdasd
                //if()
                $("#stQty_" + trid).val(details.StockQty);
                $("#stKg_" + trid).val(details.StockKg);
                $('#stRate_' + trid).val(details.StockPrice);

            });
        }


        function LoadProductDetailsBywh(wh,orderdate, pId) {
            var productDetails = {};
            var urlpath = '@Url.Action("LoadProductDetails", "ChallanProcessed")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { warehouse: wh, orderdate: orderdate, productId: pId },
                async: false,
                success: function (data) {

                    productDetails = data;
                }
            });
            return productDetails;
        }

        function LoadWHByLocation() {
            var loc = $('#ddlLocation').val();
            LoadWareHouse('ddlWareHouse', loc, 3);
        }
        function LoadCustomerType(elementId) {

            var urlpath = '@Url.Action("GetCustomerType", "SalesOrderFurtherProcess")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",

                async: false,
                success: function(data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Customer Type --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].CustomerTypeID).html(data[i].CoustomerTypeName));
                    }
                }
            });
        }










        function SaveValidation() {
            var isValid = true;
            var message = "Some Values Required";
            var checkCount = $('input.checkClass:checked').length;
            if ($('#txtDeliveredBy').val() == '') {
                isValid = false;
                ValidationColorChangeNew("txtDeliveredBy", "divDeliveredBy", "Delivery By Required", false);
            }
            //var whId = isNaN(parseFloat($('#ddlWareHouse').val())) ? 0 : parseFloat($('#ddlWareHouse').val());
            //if (whId == 0) {
            //    message = "Warehouse Required";
            //    isValid = false;
            //}
            if (checkCount <= 0) {
                isValid = false;

                message = "No Product For DO";
            }
            var ecom = $('#ecom').val();
            $('#salesOrder tbody tr').each(function() {


                var idr = $(this).attr('id');
                var id = idr.substring(3);
                if ($('#chk_' + id).is(':checked')) {
                    var issue = isNaN(parseFloat($('#deliveryQty_' + id).val())) ? 0 : parseFloat($('#deliveryQty_' + id).val());
                    var groupId = isNaN(parseFloat($('#groupId_' + id).val())) ? 0 : parseFloat($('#groupId_' + id).val());
                    var returnqty = isNaN(parseFloat($('#returnQty_' + id).val())) ? 0 : parseFloat($('#returnQty_' + id).val());
                    var returnkg = isNaN(parseFloat($('#returnKG_' + id).val())) ? 0 : parseFloat($('#returnKG_' + id).val());
                    var issueKg = isNaN(parseFloat($('#deliveryKG_' + id).val())) ? 0 : parseFloat($('#deliveryKG_' + id).val());
                    if (groupId == 5) {
                        if (ecom == "true")
                        {
                            if (returnqty > 0 && (returnkg == 0)) {
                                message = "Return qty and kg  Required";
                                $('#returnKG_' + id).css('border-bottom', '2px solid red');
                                isValid = false;
                                return;
                            }
                            
                        }
                        //if (returnkg == 0) {
                        //    message = "Return  KG Required";
                        //    $('#returnKG_' + id).css('border-bottom', '2px solid red');
                        //    isValid = false;
                        //    return;
                        //}
                    }
                    //if (groupId == 6) {
                    //    if (issue == 0) {
                    //        message = "Delivery Quantity Required";
                    //        $('#deliveryQty_' + id).css('border-bottom', '2px solid red');
                    //        isValid = false;
                    //        return;
                    //    }
                    //}

                    //if (issue == 0 || issueKg == 0) {
                    //    message = "Delivery Quantity AND Amount Required";
                    //    isValid = false;
                    //    return;
                    //}

                }

            });

            if (isValid == false) {

                ShowMessage(message);
            }

            return isValid;
        }

        function SaveChallan() {

            var jsonData = {};
            jsonData["DeliveryBy"] = $('#txtDeliveredBy').val();

            jsonData["TotalDeliveryQty"] = $('#totalqty').text();
            jsonData["TotalDeliveryKG"] = $('#totalKg').text();
            jsonData["DeliveryAmount"] = $('#totalIncTacVat').text();
            jsonData["Remarks"] = $('#txtRemarks').val();
            jsonData["DeliveryDate"] = $('#txtDeliveryDate').val();

            jsonData["SalesOrderChallanMasterId"] = $('#mSalesOrderId').val();

            var jsonObjs = [];

            if ($('#salesOrder tbody tr').length > 0) {
                $('#salesOrder tbody tr').each(function () {


                    var idr = $(this).attr('id');
                    var id = idr.substring(3);

                    var productId = isNaN(parseFloat($('#pro_' + id).val())) ? 0 : parseFloat($('#pro_' + id).val());
                    var issueQty = isNaN(parseFloat($('#deliveryQty_' + id).val())) ? 0 : parseFloat($('#deliveryQty_' + id).val());
                    var issueKg = isNaN(parseFloat($('#deliveryKG_' + id).val())) ? 0 : parseFloat($('#deliveryKG_' + id).val());
                    var soDetailsId = isNaN(parseFloat($('#detailsId_' + id).val())) ? 0 : parseFloat($('#detailsId_' + id).val());
                    var amount = isNaN(parseFloat($('#deliveryAmount_' + id).val())) ? 0 : parseFloat($('#deliveryAmount_' + id).val());
                    var rate = isNaN(parseFloat($('#saleRate_' + id).val())) ? 0 : parseFloat($('#saleRate_' + id).val());

                    var returnQty = isNaN(parseFloat($('#returnQty_' + id).val())) ? 0 : parseFloat($('#returnQty_' + id).val());
                    var returnKg = isNaN(parseFloat($('#returnKG_' + id).val())) ? 0 : parseFloat($('#returnKG_' + id).val());


                    var weightlossQty = isNaN(parseFloat($('#weightlossQty_' + id).val())) ? 0 : parseFloat($('#weightlossQty_' + id).val());
                    var weightlossKg = isNaN(parseFloat($('#weightlossKG_' + id).val())) ? 0 : parseFloat($('#weightlossKG_' + id).val());

                    var remark = $('#remark_' + id).val();

                    if ($('#chk_' + id).is(':checked') == true)
                    {
                        var theObj = {};
                        theObj["ProductId"] = productId;
                        theObj["DeliveryQty"] = issueQty;
                        theObj["DeliveryKG"] = issueKg;
                        theObj["SalesOrderChallanDetailsId"] = soDetailsId;
                        theObj["DeliveryAmount"] = amount;
                        theObj["SaleRate"] = rate;
                        theObj["DeliveryRemarks"] = remark;

                        theObj["ReturnQty"] = returnQty;
                        theObj["ReturnKG"] = returnKg;

                        theObj["WeightLossQty"] = weightlossQty;
                        theObj["WeightLossKG"] = weightlossKg;

                        jsonObjs.push(theObj);
                    }




                });
                jsonData["ChallanDetails"] = jsonObjs;
            }



            var urlpath = '@Url.Action("SavePrecessedDelivery", "ChallanProcessed")';
            $.ajax({
                    contentType: "application/json",
                    data: JSON.stringify(jsonData),
                    dataType: 'json',
                    url: urlpath,
                    type: "POST"
                })
                .success(function(result) {

                    if (result.isSuccess == true) {

                        // var mrrNo = GetMrrNo(result.pk);

                        swal({
                            title: " Delivery Confirm Successfull",
                            text: '',
                            type: "success",
                            showCancelButton: false,
                            cancelButtonClass: 'btn-secondary waves-effect',
                            confirmButtonClass: 'btn-success waves-effect waves-light',
                            confirmButtonText: 'Yes!',
                            closeOnConfirm: false
                        }, function() {
                            window.location.href = '@Url.Action("ConfirmedChallan", "ChallanProcessed")';

                        });


                    }
                });
        }



        function LoadPaymentType(elementId) {

            var urlpath = '@Url.Action("GetPaymentType", "Utility")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",

                async: false,
                success: function(data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Payment --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].PaymentTypeId).html(data[i].PaymentType));
                    }
                }
            });
        }

        function GetOrderMaster() {
            var id = $('#mSalesOrderId').val();
            var urlpath = '@Url.Action("GetChallanMaster", "ChallanProcessed")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { id: id },
                async: false,
                success: function (data) {

                    $("#ddlCustomerType").val(data.CustomerTypeId).trigger('change');
                    $("#ddlCustomer").val(data.CustomerId).trigger('change');
                    GetCustomerDetails();
                    $("#ddlCompany").val(data.CompanyId).trigger('change');

                    $("#txtSalesPersonNo").val(data.SalesPersonContact);

                    if (data.IsEmployee == true) {
                        $('#chkEmployee').prop('checked', true);
                        $("#txtSalesPerson").val(GetEmployeeName(data.SalesPerson));
                        GetEmpNoFromId($("#txtSalesPerson").val());
                    } else {
                        $('#chkEmployee').prop('checked', false);
                        $("#txtSalesPerson").val(data.SalesPerson);
                    }
                    $('#txtOrderDate').val(data.OrderDate);
                    $('#txtDeliveryDate').val(data.DeliveryDate);



                    $('#salesOrderNo').html(data.SalesOrderChallanNo);
                    $('#ecom').val(data.IsEcommerce);
                    $('#totalDeliveryAmt').html(data.TotalAmt);
                    $('#totalDiscount').html(data.TotalDiscountAmount);
                    $('#totalDiscountper').html(data.dpercent);




                    GetProducts();

                    for (var i = 0; i < data.SalesDetails.length; i++) {

                        var tr = $('#salesOrder tbody tr').length + 1;
                        AddRow();
                        $("#pro_" + tr).val(data.SalesDetails[i].ProductId);
                        $("#proId_" + tr).val(data.SalesDetails[i].ProductId);
                        $('#challanQty_' + tr).val(data.SalesDetails[i].IssueQty);
                        $('#challanKg_' + tr).val(data.SalesDetails[i].IssueKg);
                        $('#saleRate_' + tr).val(data.SalesDetails[i].SaleRate);
                        $('#challanAmount_' + tr).val(data.SalesDetails[i].IssuePrice);
                        $('#deliveryQty_' + tr).val(data.SalesDetails[i].IssueQty);
                        $('#deliveryKG_' + tr).val(data.SalesDetails[i].IssueKg );
                        $('#deliveryAmount_' + tr).val(data.SalesDetails[i].IssuePrice);
                        $('#detailsId_' + tr).val(data.SalesDetails[i].SalesOrderChallanDetailsId);
                        $('#groupId_' + tr).val(data.SalesDetails[i].GroupId);

                        $('#returnQty_' + tr).val('0');
                        $('#returnKG_' + tr).val('0');

                        $('#weightlossQty_' + tr).val('0');
                        $('#weightlossKG_' + tr).val('0');

                        var customertype=$("#ddlCustomerType").val();
                        var ecom=$("#ecom").val();
                        if(data.SalesDetails[i].GroupId=='6')
                        {
                            $('#deliveryKG_' + tr).prop('disabled', true)
                            $('#returnKG_' + tr).prop('disabled', true)
                            $('#weightlossKG_' + tr).prop('disabled', true)
                        }
                        else if (data.SalesDetails[i].GroupId=='5')
                        {
                            if (customertype != "5")
                            {
                                if(ecom=="true")
                                {
                                    $('#deliveryQty_' + tr).prop('disabled', false);
                                    $('#returnQty_' + tr).prop('disabled', false);
                                }
                                else {
                                    $('#deliveryQty_' + tr).prop('disabled', true);
                                    $('#returnQty_' + tr).prop('disabled', true);
                                }
                            }
                            else {
                                $('#deliveryQty_' + tr).prop('disabled', true);
                                $('#returnQty_' + tr).prop('disabled', true);

                            }
                            
                            
                            $('#weightlossQty_' + tr).prop('disabled', true);
                        }
                        else if (data.SalesDetails[i].GroupId == '7') {
                            $('#deliveryQty_' + tr).prop('disabled', true);
                            $('#returnQty_' + tr).prop('disabled', true);
                            $('#weightlossQty_' + tr).prop('disabled', true);
                        }


                        //$('.formDiv :input').attr('disabled', true);
                        //$('.priceHide').hide();
                        //$('#pro_' + tr).attr('disabled', true);
                        //$('#stQty_' + tr).attr('disabled', true);
                        //$('#stKg_' + tr).attr('disabled', true);
                        //$('#stRate_' + tr).attr('disabled', true);
                        //$('#saleRate_' + tr).attr('disabled', true);
                        //$('#saleQty_' + tr).attr('disabled', true);
                        //$('#saleKG_' + tr).attr('disabled', true);
                        //$('#disPer_' + tr).attr('disabled', true);
                        //$('#disNum_' + tr).attr('disabled', true);
                    }


                    //$('#totalKg').html(data.TotatalOrderAmtKg);
                    //$('#totalIncTacVat').html(data.TotalIncTaxVat);
                    //$('#totalExTaxVat').html(data.TotalExTaxVat);

                    CalculateAll();

                }
            });
        }

        function GetEmpNoFromId(data) {

            var a = data;
            var empId = data.substring(0, 5);

            var urlpath = '@Url.Action("GetEmpNo", "Utility")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { empId: empId },
                async: false,
                success: function (data) {
                    $('#employeeSelect').val(data);
                }
            });

        }
        function CalculateSalePrice(id) {

            var saleRate = isNaN(parseFloat($('#saleRate_' + id).val())) ? 0 : parseFloat($('#saleRate_' + id).val());
            var saleQty = isNaN(parseFloat($('#saleQty_' + id).val())) ? 0 : parseFloat($('#saleQty_' + id).val());
            var disCounPer = isNaN(parseFloat($('#disPer_' + id).val())) ? 0 : parseFloat($('#disPer_' + id).val());
            var saleKg = isNaN(parseFloat($('#saleKG_' + id).val())) ? 0 : parseFloat($('#saleKG_' + id).val());
            var total = saleRate * saleKg;
            var distountTotal = total * (disCounPer / 100);




            var vatPerItem = isNaN(parseFloat($('#proTax_' + id).val())) ? 0 : parseFloat($('#proTax_' + id).val());
            var totalPrice = total + vatPerItem - distountTotal;

            $('#total_' + id).val(total.toFixed(2));
            $('#disNum_' + id).val(distountTotal.toFixed(2));
            $('#totalG_' + id).val(totalPrice.toFixed(2));
            CalculateAll();
        }
        function CalculateSalePriceAmt(id) {

            var saleRate = isNaN(parseFloat($('#saleRate_' + id).val())) ? 0 : parseFloat($('#saleRate_' + id).val());
            var saleQty = isNaN(parseFloat($('#saleQty_' + id).val())) ? 0 : parseFloat($('#saleQty_' + id).val());
            var discountAmt = isNaN(parseFloat($('#disNum_' + id).val())) ? 0 : parseFloat($('#disNum_' + id).val());
            var saleKg = isNaN(parseFloat($('#saleKG_' + id).val())) ? 0 : parseFloat($('#saleKG_' + id).val());
            var total = saleRate * saleKg;
            var discountRate = (discountAmt / total) * 100;
            var totalPrice = total - discountAmt;
            $('#total_' + id).val(total.toFixed(2));
            $('#disPer_' + id).val(discountRate.toFixed(2));
            $('#totalG_' + id).val(totalPrice.toFixed(2));
            CalculateAll();
        }
        function CalculateAll() {


            var grandTotal = 0;
            var totalIncTax = 0;
            var totalExTax = 0;
            var totalKg = 0;
            var totalQty = 0;
            var totalTax = 0;
            var proCout = 0;
            $('#salesOrder tbody tr').each(function () {

                debugger;
                var idr = $(this).attr('id');
                var id = idr.substring(3);

                var productId = isNaN(parseFloat($('#pro_' + id).val())) ? 0 : parseFloat($('#pro_' + id).val());
                var saleQty = isNaN(parseFloat($('#deliveryQty_' + id).val())) ? 0 : parseFloat($('#deliveryQty_' + id).val());
                //var stockRate = isNaN(parseFloat($('#stRate_' + id).val())) ? 0 : parseFloat($('#stRate_' + id).val());
                //var saleRate = isNaN(parseFloat($('#saleRate' + id).val())) ? 0 : parseFloat($('#saleRate' + id).val());

                var saleKg = isNaN(parseFloat($('#deliveryKG_' + id).val())) ? 0 : parseFloat($('#deliveryKG_' + id).val());

                var deliveryamount = isNaN(parseFloat($('#deliveryAmount_' + id).val())) ? 0 : parseFloat($('#deliveryAmount_' + id).val());
                grandTotal += deliveryamount;
                totalKg += saleKg;
                totalQty += saleQty;
                if (productId > 0) {
                    proCout = proCout + 1;
                }

            });

            $('#totalKg').html(totalKg.toFixed(2));
            $('#totalqty').html(totalQty.toFixed(2));
            $('#totalDeliveryAmt').html(grandTotal.toFixed(2));
          //var discount=  $('#totalDiscount').html();
          var dpercn = $('#totalDiscountper').html();
          var discount = (dpercn / 100) * grandTotal;
          $('#totalDiscount').html(discount);
          $('#totalIncTacVat').html(Math.ceil((grandTotal - discount).toFixed(2)));


        }

        function SetItemTax(proTax) {
            $('#salesOrder tbody tr').each(function () {


                var idr = $(this).attr('id');
                var id = idr.substring(3);
                var total = isNaN(parseFloat($('#total_' + id).val())) ? 0 : parseFloat($('#total_' + id).val());
                var disnum = isNaN(parseFloat($('#disNum_' + id).val())) ? 0 : parseFloat($('#disNum_' + id).val());


                $('#proTax_' + id).val(proTax.toFixed(2));

                $('#totalG_' + id).val(Math.ceil((total - disnum + proTax).toFixed(2)));

            });
        }


        function GetTaxInfo(productGroupId, amount) {
            var tax = 2;
            var urlpath = '@Url.Action("GetTaxInfo", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'json',
                data: { productGroupId: productGroupId, amount: amount },
                async: false,
                success: function (data) {
                    tax = data.TaxPercent;

                }
            });
            return tax;
        }
        function GetEmployeeName(empId) {
            var EmpName = "";
            var urlpath = '@Url.Action("GetEmployeeName", "Utility")';
            $.ajax({
                url: urlpath,
                data: { empId: empId },
                dataType: 'json',
                type: "Get",

                async: false,
                success: function(data) {
                    EmpName = data;

                }
            });
            return EmpName;
        }

        function GetProductDetails(prodId) {


            var productId = $('#pro_' + prodId).val();
            var wareHouseId = $('#ddlWareHouse').val();
            var urlpath = '@Url.Action("GetProductDetails", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'json',
                data: { productId: productId, wareHouseId: wareHouseId },
                async: false,
                success: function(data) {

                    $("#cat_" + prodId).val(data.CategoryName);
                    $("#stQty_" + prodId).val(data.StockQty);
                    $("#stKg_" + prodId).val(data.StockKg);
                    $("#stRate_" + prodId).val(data.StockPrice.toFixed(2));
                    var salePrice = GetSalePrice(productId, data.StockPrice);

                    $('#saleRate_' + prodId).val(salePrice);

                }
            });
        }

        function GetSalePrice(productId, price) {
            var theprice = 0;
            var urlpath = '@Url.Action("GetProcessedSalePrice", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'json',
                data: { productId: productId, price: price },
                async: false,
                success: function(data) {

                    theprice = data;


                }
            });

            return theprice;
        }

        function AddRow() {

            var tr = $('#salesOrder tbody tr').length + 1;
            var urlpath = '@Url.Action("AddRowForDelivery", "ChallanProcessed")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'html',
                data: { tr: tr },
                async: false,
                success: function(data) {

                    $('#salesOrder tbody').append(data);

                    LoadProductInTable("pro_" + tr);

                }
            });
            //CalculateAll();
             $('#pro_' + tr).select2();
        }


      
        function GetPackWeight(pid) {
            var weight = 0;
            var urlpath = '@Url.Action("PackWeight", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                data: { pid: pid },
                dataType: 'json',
                type: "Get",

                async: false,
                success: function (data) {
                    weight = data;

                }
            });
            return weight;
        }

        function GetQtyForKG(pid) {
            var qty = 0;
            var urlpath = '@Url.Action("QtyForKG", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                data: { pid: pid },
                dataType: 'json',
                type: "Get",

                async: false,
                success: function (data) {
                    qty = data;

                }
            });
            return qty;
        }
        function LoadProductInTable(elementId) {

            $('#' + elementId + '').append("<option value='0'>--Select Product--</option>");

            for (var i = 0; i < PrlductList.length; i++) {

                $('#' + elementId + '').append($("<option></option>").val(PrlductList[i].ProductId).html(PrlductList[i].ProductNo + ":" + PrlductList[i].ProductName));
            }

        }

        function GetProducts() {


            var urlpath = '@Url.Action("GetProductByGroup", "Utility")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { groupId: 5 },
                async: false,
                success: function(data) {

                    PrlductList = data;

                }
            });
        }

        function GetCustomerDetails() {


            var customerId = $('#ddlCustomer').val();

            var urlpath = '@Url.Action("GetCustomerDetails", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'html',
                type: "Get",
                data: { id: customerId },
                async: false,
                success: function(data) {
                    $('#customerDetails').empty();
                    $('#customerDetails').html(data);

                }
            });


            LoadDate('#txtOrderDate');

            $('#txtDestination').val($('#customerAddress').html());

        }

        //function LoadWareHouse(elementId) {

        //    var location = $('#ddlLocation').val();
        //    var urlpath = '@Url.Action("LoadWareHouse", "ItemRequisition")';
        //    $.ajax({
        //        url: urlpath,
        //        type: "Get",
        //        data: { location: parseInt(location) },
        //        async: false,
        //        success: function(data) {

        //            $('#' + elementId + '').empty();
        //            $('#' + elementId + '').append("<option value='0'>--Select Warehouse--</option>");
        //            for (var i = 0; i < data.length; i++) {

        //                $('#' + elementId + '').append($("<option></option>").val(data[i].WareHouseId).html(data[i].WareHouseName));
        //            }

        //        }
        //    });
        //}

        function GetLocationId(warehouse) {

            var locationId = 0;
            var urlpath = '@Url.Action("GetLocationIdByWarehouse", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { id: warehouse },
                async: false,
                success: function(data) {

                    locationId = data;
                }
            });
            return locationId;
        }


        function LoadCustomer(elementId) {
            var typeid = $('#ddlCustomerType').val();
            var urlpath = '@Url.Action("GetCustomer", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { typeid: typeid },
                async: false,
                success: function(data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Customer --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].CustomerID).html(data[i].CustomerCode + ":" + data[i].CustomerName + ": " + data[i].CoustomerTypeName));
                    }
                }
            });
        }
    </script>
}




