﻿﻿
@{
    ViewBag.Title = "DeliveryRoleBack";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title"> Delivery Role Back Page </h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-md-2" id='divfromkDate'>
                                <label for="dressDateId ">From Delivary Date<span style="color: red"> *</span></label>
                                <input type="text" class="form-control datepicker" autocomplete="off" id="fromDate">
                            </div>
                            <div class="form-group col-md-2" id='divtokDate'>
                                <label for="dressDateId ">To Delivary Date<span style="color: red"> *</span></label>
                                <input type="text" class="form-control datepicker" autocomplete="off" id="toDate">
                            </div>
                            <div class="form-group col-md-4 icheck-primary">
                                <label>Type<span style="color: red"> *</span></label>
                                <div class="form-group clearfix">

                                    <div class="icheck-success d-inline col-md-2">
                                        <input type="radio" id="doRadio" name="reqType" value="1" checked="checked">
                                        <label for="doRadio">Sales Delivery</label>
                                    </div>
                                    <div class="icheck-success d-inline col-md-2">
                                        <input type="radio" id="stoRadio" name="reqType" value="2">
                                        <label for="stoRadio">Trade Sales Delivery</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-4 icheck-primary">
                                <label>Filter Option<span style="color: red"> *</span></label>
                                <div class="form-group clearfix">

                                    <div class="icheck-success d-inline col-md-2">
                                        <input type="radio" id="aRadio" name="aType" value="1" onclick="filter()" checked="checked">
                                        <label for="aRadio">All Delivery</label>
                                    </div>
                                    <div class="icheck-success d-inline col-md-2">
                                        <input type="radio" id="rRadio" name="aType" value="2" onclick="filter()">
                                        <label for="rRadio">Role Back Delivery</label>
                                    </div>
                                    <div class="icheck-success d-inline col-md-2">
                                        <input type="radio" id="sRadio" name="aType" value="3" onclick="filter()">
                                        <label for="sRadio">Non Role Back Delivery</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary" onclick="LoadReport()"><span class="fa fa-search"></span>Search</button>

                    </div>
                </div>
                <!-- /.card -->
                <div class="card divclass" id="salesReportDiv">
                    <div class="card-header with-border">
                        <div id="">
                            <h3 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="companyHeader">IG Foods Ltd</h3>
                            <h4 style="text-align: center; font-style: red font-weight:bold; padding-bottom: 0px; margin-top: 1px" id="reportHeader">You Can Not Role Back Yellow Color Row</h4>
                            <button type="button" class="btn btn-primary float-right" onclick="RoleBack()"><span class="fa fa-save"></span> Role Back</button>
                            <div class="row">
                                <div class="offset-md-9 col-md-3">
                                    <label id="reportDate"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="salesReport">
                    </div>
                </div>
            </div>
            
        </div>
        <div class="modal fadeInUp" id="myModal" role="dialog">
            <div class="modal-dialog modal-sm" style="max-width: 80% !important">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px">Details List</h4>
                    </div>
                    <div class="modal-body" id="LiveBirdDressPartial">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" id="clsButton" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="ajaxLoaderDiv" style="position: fixed; top: 40%; left: 45%; z-index: 1234;">
            <img src="@Url.Content("~/AssetStatic/Images/Double Ring.gif")" alt="Loading..." class="ajax-loader" />
        </div>
    </div>
</section>
@section Scripts{
    <script>
        $(function () {
            $('#ajaxLoaderDiv').hide();

        });
        filter = () => {
            var type = $('input[type=radio][name=aType]:checked').val();
            if (type == 2) {
                $('.paidrow').hide();
                $('.Unpaidrow').show();
            } else if (type == 3) {
                $('.Unpaidrow').hide();
                $('.paidrow').show();
            } else {
                $('.paidrow').show();
                $('.Unpaidrow').show();
            }
        }

        function SeeDetails(id) {
            debugger;
            var type = $('input[type=radio][name=reqType]:checked').val();
           
            var urlpath = '@Url.Action("GetRoleBackDetails", "ChallanProcessed")';
            $.ajax({
                url: urlpath,
                data: { id: id, type: type },
                dataType: 'html',
                type: "Get",
                beforeSend: function () {
                    $('#ajaxLoaderDiv').show();
                },
                success: function (data) {

                    $('#myModal').modal();
                    $("#LiveBirdDressPartial").html(data);
                },
                complete: function () {
                    $('#ajaxLoaderDiv').hide();
                }

            });
        }

        function LoadReport() {
            if (RptValidation() == true) {


                var delivaryFromDate = $('#fromDate').val();
                var delivaryToDate = $('#toDate').val();
                var reqType = $('input[type=radio][name=reqType]:checked').val();

                var urlpath = '@Url.Action("GetAllPickingDetailsList", "ChallanProcessed")';

                $.ajax({
                    url: urlpath,
                    data: { fromDate: delivaryFromDate, toDate: delivaryToDate, flag: reqType },
                    dataType: 'html',
                    type: "Get",
                    beforeSend: function () {
                        $('#ajaxLoaderDiv').show();
                    },
                    success: function (data) {
                        $("#salesReport").html(data);
                    },
                    complete: function () {

                        $('#ajaxLoaderDiv').hide();
                        // $('#reportDate').text('Delivary Date: ' + delivaryDate);
                    }

                });
            }
        }

        function SelectAllCheckboxFunc() {
            if ($("#checkAll").is(":checked")) {
                $(".checkp").prop("checked", true);
            } else {
                $(".checkp").prop("checked", false);
            }
        }

        function Checkp(SLNO) {
            //uncheck "select all", if one of the listed checkbox item is unchecked
            var checkp = $("#check_" + SLNO).prop("checked");
            if (checkp == false) { //if this item is unchecked
                $("#checkAll").prop('checked', false); //change "select all" checked status to false
            }
            //check "select all" if all checkbox items are checked
            if ($('.checkp:checked').length == $('.checkp').length) {
                $("#checkAll").prop('checked', true);
            }
        }

        function RoleBack() {
            var stringSoId = "";
            var reqType = $('input[type=radio][name=reqType]:checked').val();
            debugger;
            $('#pickingTable tbody tr').each(function (key, value) {
                var soId = $(this).prop("id");
                if ($('#check_' + (parseInt(key) + 1)).is(":checked")) {
                    stringSoId = stringSoId + "," + soId;
                }
            });

            debugger;
            var testid = stringSoId;
            debugger;
            if (stringSoId == "" && stringStoId == "") {
                swal("Please Check atleast One Checkbox");
            } else {
                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    LetsDoIt(stringSoId, reqType);

                });
            }



        }
        LetsDoIt = (id, type) => {
            var urlpath = '@Url.Action("RoleBack", "ChallanProcessed")';

            $.ajax({
                url: urlpath,
                data: { id: id, type: type },
                dataType: 'html',
                type: "Get",
                success: function (data) {
                    swal("Role Back Successfull");
                    LoadReport();
                }

            });
        }
        function RptValidation() {



            var isValid = true;
            if (($('#fromDate').val() == 0 || $('#fromDate').val() == '')) {
                ValidationColorChangeNew('fromDate', 'divfromkDate', 'Please Select from Date', true);
                isValid = false;
            } if (($('#toDate').val() == 0 || $('#toDate').val() == '')) {
                ValidationColorChangeNew('toDate', 'divtokDate', 'Please Select to Date', true);
                isValid = false;
            }

            return isValid;
        }

    </script>
}