﻿
@{
    ViewBag.Title = "Approve Sales Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">

                        <div class="row">
                            <div class="col-md-3">
                                <h4><span class="fa fa-eye"></span> Generate Challan Page</h4>
                            </div>
                            <div class="col-md-4">
                                <h3 id="salesOrderNo"></h3>
                            </div>
                        </div>



                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row" >

                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divCompany">
                                    <label for="ddlCompany">Company</label>
                                    <select class="form-control" style="width: 100%;" id="ddlCompany"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divCustomerType">
                                    <label for="ddlCustomerType">Customer Type</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlCustomerType" onchange="LoadCustomer('ddlCustomer')"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divCustomer">
                                    <label for="ddlCustomer">Customer</label>
                                    <select class="form-control" style="width: 100%;" id="ddlCustomer" onchange="GetCustomerDetails()"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divOrderDate">
                                    <label for="txtOrderDate">Order Date</label>
                                    <input type="text" id="txtOrderDate" class="form-control" />
                                </div>
                            </div>
                        </div>
                        



                    </div>
                    <div class="row">
                        
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="card-body">
                                        <div style="margin-left: 3%" id="customerDetails"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="card-body">
                                        <div class="form-group" id="divDeliveryDate">
                                            <label for="txtDeliveryDate">Delivery Date</label>
                                            <input type="text" id="txtDeliveryDate" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="card-body">
                                        <input type="checkbox" class="form-check-input" id="chkEmployee" style="margin-left: 3px; margin-top: 20px;"/>
                                        <label class="form-check-label" for="chkEmployee" style="margin-left: 24px; margin-top: 17px;">Is Employee</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="card-body">
                                        <div class="form-group" id="divSalesPerson">
                                            <label for="txtSalesPerson">Sales Person</label>
                                            <input type="text" id="txtSalesPerson" class="form-control" onchange="GetSalesPersonPhone()" />
                                            <input type="number" style="display: none" id="employeeSelect" class="form-control"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="card-body">
                                        <div class="form-group" id="dovSalesPersonNo">
                                            <label for="txtSalesPersonNo">Sales Person Contact</label>
                                            <input type="text" id="txtSalesPersonNo" class="form-control"/>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card-body">
                                        <div class="form-group" id="divDestination">
                                            <label for="txtDestination">Destination</label>
                                            <input type="text" id="txtDestination" class="form-control"/>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card-body">
                                        <div class="form-group" id="divRemarks">
                                            <label for="txtRemarks">Remarks</label>
                                            <input type="text" class="form-control" id="txtRemarks" />
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                      




                    </div>
                <div class="row">
                    <button class="btn btn-info" onclick="AddSoRow()"> Add New </button>
                </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body">
                                <table class="table table-bordered table-striped" id="salesOrder">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Check</th>
                                            <th width="350">Product</th>

                                            @*<th width="150">Product Category</th>*@

                                            <th>Stock Qty</th>
                                            <th>Stock Kg</th>
                                            <th>Unit Price</th>
                                            <th>Sale Price</th>
                                            <th>Sale Qty</th>
                                            @*<th>Issue Qty</th>*@
                                            <th>Prev. Issue Qty</th>
                                            <th>Sale KG</th>
                                           @* <th>Issue KG</th>*@
                                            <th>Prev. Issue KG</th>
                                            <th>Discount %</th>
                                            <th>Discount Rate</th>
                                            <th>Price</th>
                                            <th>Total Price</th>
                                            
                                        </tr>
                                    </thead>

                                    <tbody></tbody>
                                    <tfoot>
                                    <tr>
                                        <td></td>
                                        <td colspan="11">
                                           
                                        </td>
                                        <td>
                                            <button class="btn btn-success" id="salesUpdate" onclick="SaveSalesOrder()">Update </button>
                                        </td>
                                        <td></td>
                                        <td></td>
                                    
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-md-6">

                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <div class="row">

                                    <div class="form-group" id="divPaymentType">
                                        <label for="ddlPamentType">Payment Type</label>
                                        <select id="ddlPamentType" class="form-control"></select>


                                    </div>

                                </div>
                                <div class="row">
                                    <label>Order Total Amount in KG:</label>
                                    <label id="totalKg">0</label>
                                </div>
                                <div class="row">
                                    <Div class="col-md-5">
                                        <label>TAX & VAT:</label>
                                        <label id="taxVat">5</label>
                                        <label> %</label>
                                    </Div>
                                   
                                   
                                </div>
                                <div class="row">
                                    <label>Total Taka Including TAX & VAT:</label>
                                    <label id="totalIncTacVat">0</label>
                                </div>
                                <div class="row">
                                    <label>Total Taka Excludeing TAX & VAT:</label>
                                    <label id="totalExTaxVat">0</label>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="row">

                    
                    <div class="col-md-2">
                        <div class="card-body">
                            <div class="form-group" id="divLocation">
                                <label for="ddlLocation">Location</label>
                                <select class="form-control select2" id="ddlLocation" style="width: 100%;" onchange="LoadWHByLocation('ddlWareHouse')"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="">
                            <div class="form-group" id="divWareHouse">
                                <label for="ddlWareHouse">Warehouse</label>
                                <select id="ddlWareHouse" class="form-control select2" onchange="LoadProductDetails()"></select>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label for="stockQty">Stock Qty</label>
                        <input type="number" id="stockQty" disabled="disabled" class="form-control" />
                    </div>
                    <div class="col-md-2">
                        <label for="stockKg">Stock Kg</label>
                        <input type="number" id="stockKg" disabled="disabled" class="form-control" />
                    </div>
                  
                  
                </div>
                <div class="row">


                    <div class="col-md-2">
                        <div class="card-body">
                            <label for="issueQty">Issue Qty</label>
                            <input type="number" id="issueQty" oninput="IssueDo()" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label for="issueKg">Issue Kg</label>
                        <input type="number" id="issueKg" class="form-control"/>
                    </div>
                    <div class="col-md-2">
                        <div class="card-body" style="margin-top: 13px">
                            <button class="btn btn-success btn-sm" onclick="AddDoProduct()">Add DO Product</button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="card-body">
                        <table class="table table-bordered" id="challnbody">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Product</th>
                                <th>Sale Qty</th>
                                <th>Sale Kg</th>
                                <th>Issue Qty</th>
                                <th>Issue Kg</th>
                                <th>Total Price</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-6">
                        <div class="col-md-6">
                            <label>Challan Amount: </label>
                            <label id="challanAmt">0.00 </label>
                            <label>VAT & TAX: </label>
                            <label id="cVatTax">2.00 </label>
                        </div>
                    </div>
                </div>
                <div>

                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button class="btn btn-primary" id="saveBtn" onclick="GenerateChallan()">Save DO</button>
                           
                           
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
    <input id="mSalesOrderId" type="number" style="display: none;" value="@ViewBag.SalesOrder">
</section>

@section Scripts
{





    <script>
        var PrlductList = {};
        $(document).ready(function () {

            $('#salesUpdate').hide();
            LoadCustomerType('ddlCustomerType');
            LoadCompany('ddlCompany');
            GetProducts();

            GetOrderMaster();
            LoadLocation('ddlLocation',7);

        });
        function AddSoRow() {
            AddRow();
            $('#salesUpdate').show();
            $('#saveBtn').hide();
        }


        function SaveSalesOrder() {


            var jsonData = {};
            jsonData["CompanyId"] = $('#ddlCompany').val();
            jsonData["CustomerId"] = $('#ddlCustomer').val();
            jsonData["SalesOrderProcessedMasterId"] = $('#mSalesOrderId').val();
            jsonData["OrderType"] = 1;
            jsonData["SalesPerson"] = $('#txtSalesPerson').val();
            jsonData["SalesPersonContact"] = $('#txtSalesPersonNo').val();
            jsonData["OrderDate"] = $('#txtOrderDate').val();
            jsonData["DeliveryDate"] = $('#txtDeliveryDate').val();
            jsonData["DeliveryDestination"] = $('#txtDestination').val();
            jsonData["GroupId"] = 5;
            jsonData["PaymentType"] = $('#ddlPamentType').val();

            jsonData["CompanyId"] = $('#ddlCompany').val();
            jsonData["TotatalOrderAmtKg"] = parseFloat($('#totalKg').html());
            jsonData["TotalIncTaxVat"] = parseFloat($('#totalIncTacVat').html());
            jsonData["TotalExTaxVat"] = parseFloat($('#totalExTaxVat').html());
            jsonData["TaxVat"] = parseFloat($('#taxVat').html());
            jsonData["Remarks"] = $('#txtRemarks').val();
            jsonData["CollectionType"] = $('#ddlCollection').val();
            jsonData["CollectionAmount"] = $('#txtCollection').val();
            jsonData["IsEmployee"] = $("#chkEmployee").prop("checked");
            jsonData["CustomerTypeId"] = $('#ddlCustomerType').val();
            jsonData["RefNo"] = $('#txtRefNo').val();
            jsonData["RefDate"] = $('#txtRefDate').val();
            var jsonObjs = [];
            $('#salesOrder tbody tr').each(function () {

                var theObj = {};
                var idr = $(this).attr('id');
                var id = idr.substring(3);
                var productId = isNaN(parseFloat($('#pro_' + id).val())) ? 0 : parseFloat($('#pro_' + id).val());
                var saleQty = isNaN(parseFloat($('#saleQty_' + id).val())) ? 0 : parseFloat($('#saleQty_' + id).val());
                var stockRate = isNaN(parseFloat($('#stRate_' + id).val())) ? 0 : parseFloat($('#stRate_' + id).val());
                var saleRate = isNaN(parseFloat($('#saleRate_' + id).val())) ? 0 : parseFloat($('#saleRate_' + id).val());

                var saleKg = isNaN(parseFloat($('#saleKG_' + id).val())) ? 0 : parseFloat($('#saleKG_' + id).val());

                var disPer = isNaN(parseFloat($('#disPer_' + id).val())) ? 0 : parseFloat($('#disPer_' + id).val());
                var disAmt = isNaN(parseFloat($('#disNum_' + id).val())) ? 0 : parseFloat($('#disNum_' + id).val());
                var total = isNaN(parseFloat($('#totalG_' + id).val())) ? 0 : parseFloat($('#totalG_' + id).val());
                var detailsId = isNaN(parseFloat($('#detailsId_' + id).val())) ? 0 : parseFloat($('#detailsId_' + id).val());
                if (detailsId == 0) {
                    theObj["ProductId"] = productId;

                    theObj["ProductQty"] = saleQty;
                    theObj["StockRate"] = stockRate;
                    theObj["SaleRate"] = saleRate;
                    theObj["ProductKg"] = saleKg;
                    theObj["DiscountAmount"] = disAmt;
                    theObj["DiscountPercent"] = disPer;
                    theObj["TotalPrice"] = total;
                    theObj["OperationIdAdd"] = 3;
                    jsonObjs.push(theObj);
                }

            });

            jsonData["SalesDetails"] = jsonObjs;

            var urlpath = '@Url.Action("SaveOrderPrecessed", "SalesOrderProcess")';
            $.ajax({
                contentType: "application/json",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "POST"
            })
                .success(function (result) {

                    if (result.pk > 0) {

                        // var mrrNo = GetMrrNo(result.pk);

                        swal({
                            title: " Saved Successfull",
                            text: '',
                            type: "success",
                            showCancelButton: false,
                            cancelButtonClass: 'btn-secondary waves-effect',
                            confirmButtonClass: 'btn-success waves-effect waves-light',
                            confirmButtonText: 'Yes!',
                            closeOnConfirm: false
                        }, function () {
                           @*@Html.Action("GenerateChallan",new {id= result.pk })*@
                            window.location.href = '/ChallanProcessed/GenerateChallan?id=' + $('#mSalesOrderId').val() + '';
                        });


                    }
                });
        }

        function ValidateSalesOrder() {
            var isValid = true;

        }
        function RemoveChallanRow(id) {
            $('#trc_' + id).remove();
        }
        function AddDoProduct() {

            var checkCount = $('input:checkbox.checkClass:checked').length;

            if (checkCount > 0) {
                var prodId = 0;

                var tblTrId = 0;
                var issueQty = isNaN(parseInt($('#issueQty').val())) ? 0 : parseInt($('#issueQty').val());
                var issueKg = isNaN(parseInt($('#issueKg').val())) ? 0 : parseInt($('#issueKg').val());
                $('#salesOrder tbody tr').each(function () {


                    var idr = $(this).attr('id');
                    var trid = idr.substring(3);

                    if ($('#chk_' + trid).is(':checked')) {
                        prodId = $('#proId_' + trid).val();
                        tblTrId = trid;
                    }

                });
                if (issueQty == 0 || issueKg == 0) {
                    ShowMessage("Issue Qty and Issue KG Required");
                } else {
                    AddInChallanRow(prodId, issueQty, issueKg, tblTrId);
                }


            }


        }
        function AddInChallanRow(productId, issueQty , issueKg,tableTrId ) {
            var rowIn = $('#challnbody tbody tr').length + 1;
            var urlpath = '@Url.Action("AddChallanProductRow", "ChallanProcessed")';
            $.ajax({
                url: urlpath,

                dataType: 'html',
                type: "Get",
                data: { sl: rowIn },
                async: false,
                success: function (data) {

                    $('#challnbody tbody').append(data);
                    LoadProductInRow('cProd_' + rowIn);


                    var saleQty = isNaN(parseInt($('#saleQty_' + tableTrId).val())) ? 0 : parseInt($('#saleQty_' + tableTrId).val());
                    var saleKg = isNaN(parseInt($('#saleKG_' + tableTrId).val())) ? 0 : parseInt($('#saleKG_' + tableTrId).val());
                    var detailsId = isNaN(parseInt($('#detailsId_' + tableTrId).val())) ? 0 : parseInt($('#detailsId_' + tableTrId).val());
                    var totalPrice = isNaN(parseInt($('#totalG_' + tableTrId).val())) ? 0 : parseInt($('#totalG_' + tableTrId).val());
                    if (saleQty > 0) {
                        var cPrice = (totalPrice / saleQty) * issueQty;

                        $('#cprice_' + rowIn).val(cPrice);
                    }

                    $('#cProd_' + rowIn).val(productId);
                    $('#cSaleQty_' + rowIn).val(saleQty);
                    $('#cSaleKg_' + rowIn).val(saleKg);
                    $('#cIssueQty_' + rowIn).val(issueQty);
                    $('#cIssueKg_' + rowIn).val(issueKg);
                    $('#soDetails_' + rowIn).val(detailsId);
                    $('#Wh_' + rowIn).val($('#ddlWareHouse').val());
                    CalculateChallan();
                }
            });
        }

        function LoadProductInRow(elementId) {



            $('#' + elementId + '').append("<option value='0'>--Select Product--</option>");

            for (var i = 0; i < PrlductList.length; i++) {
                $('#' + elementId + '').append($("<option></option>").val(PrlductList[i].ProductId).html(PrlductList[i].ProductNo + ":" + PrlductList[i].ProductName));

            }

        }


        function GetProducts() {


            var urlpath = '@Url.Action("GetProductByGroup", "Utility")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { groupId: 5 },
                async: false,
                success: function (data) {

                    PrlductList = data;

                }
            });
        }

        function IssueDo() {
            var issueQty = isNaN(parseInt($('#issueQty').val())) ? 0 : parseInt($('#issueQty').val());
            var stockQty = isNaN(parseInt($('#stockQty').val())) ? 0 : parseInt($('#stockQty').val());
            if (issueQty > stockQty) {
                $('#issueQty').val(stockQty);
            }
        }
        function CheckDetails(id) {

            //$('.checkClass').prop('checked', false);
            if ($("#chk_" + id).is(':checked')) {
                $("#chk_" + id).prop('checked', true);
                $("#tr_" + id).css("background-color", "#46a049");
            } else {
                $("#chk_" + id).prop('checked', false);
                $("#tr_" + id).css("background-color", "");
            }

            $('#salesOrder tbody tr').each(function () {

                var theObj = {};
                var idr = $(this).attr('id');
                var trid = idr.substring(3);
                if (trid == id) {
                    if ((isNaN(parseInt($('#ddlWareHouse').val())) ? 0 : parseInt($('#ddlWareHouse').val())) > 0) {
                        LoadProductDetails();
                    }
                } else {
                    $("#chk_" + trid).prop('checked', false);
                    $("#tr_" + trid).css("background-color", "");
                }
            });
        }
        function LoadProductDetails() {
             
            var wh = $('#ddlWareHouse').val();
            var checkCount = $('input:checkbox.checkClass:checked').length;
            if (checkCount == 0) {
                ShowMessage("Please Select One");
            } else {

                $('#salesOrder tbody tr').each(function () {

                    var theObj = {};
                    var idr = $(this).attr('id');
                    var trid = idr.substring(3);

                     

                    if ($("#chk_" + trid).is(':checked')) {

                        LoadProductDetailsBywh(wh, $('#proId_'+trid).val());
                    }

                });

            }
        }


        function LoadProductDetailsBywh(wh, pId) {
            var urlpath = '@Url.Action("LoadProductDetails", "ChallanProcessed")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data:{warehouse:wh , productId:pId },
                async: false,
                success: function (data) {

                    $('#stockQty').val(data.StockQty);
                    $('#stockKg').val(data.StockKg);
                }
            });
        }

        function LoadWHByLocation() {
            var loc = $('#ddlLocation').val();
            LoadWareHouse('ddlWareHouse', loc, 3);
        }
        function LoadCustomerType(elementId) {

            var urlpath = '@Url.Action("GetCustomerType", "SalesOrderFurtherProcess")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",

                async: false,
                success: function(data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Customer Type --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].CustomerTypeID).html(data[i].CoustomerTypeName));
                    }
                }
            });
        }

        function CalculateChallan() {

            var challanAmt = 0;
            $('#challnbody tbody tr').each(function () {
                        var idr = $(this).attr('id');
                        var id = idr.substring(4);
                        var price = isNaN(parseInt($('#cprice_' + id).val())) ? 0 : parseInt($('#cprice_' + id).val());
                challanAmt += price;
            });


            var tax = GetTaxInfo(5, challanAmt);
            $('#cVatTax').html(tax);


            var taxCal = challanAmt * (tax / 100);
            challanAmt = challanAmt + taxCal;


            $('#challanAmt').html(challanAmt);
        }

        function GetTaxInfo(productGroupId, amount) {
            var tax = 2;
            var urlpath = '@Url.Action("GetTaxInfo", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'json',
                data: { productGroupId: productGroupId, amount: amount },
                async: false,
                success: function (data) {
                    tax = data.TaxPercent;

                }
            });
            return tax;
        }
        //function CalculateChallan() {


        //    var challanAmt = 0;
        //    $('#salesOrder tbody tr').each(function() {


        //        var idr = $(this).attr('id');
        //        var id = idr.substring(3);
        //        if ($('#chk_' + id).is(':checked')) {
        //            var issue = isNaN(parseFloat($('#issueQty_' + id).val())) ? 0 : parseFloat($('#issueQty_' + id).val());
        //            var previssue = isNaN(parseFloat($('#prevIssueQty_' + id).val())) ? 0 : parseFloat($('#prevIssueQty_' + id).val());
        //            var saleQty = isNaN(parseFloat($('#saleQty_' + id).val())) ? 0 : parseFloat($('#saleQty_' + id).val());
        //            if ((issue + previssue) > saleQty) {
        //                parseFloat($('#issueQty_' + id).val(saleQty - previssue));
        //            }
        //            var totalG = isNaN(parseFloat($('#totalG_' + id).val())) ? 0 : parseFloat($('#totalG_' + id).val());
        //            challanAmt += totalG * (issue / saleQty);
        //        }

        //    });
        //    $('#challanAmt').html(challanAmt);
        //}

        function GetPreviousIssue(orderId, productId) {
            var result;
            var urlpath = '@Url.Action("GetPreviousChallan", "ChallanProcessed")';
            $.ajax({
                url: urlpath,
                data: { orderId: orderId, productId: productId },
                dataType: 'json',
                type: "Get",

                async: false,
                success: function(data) {
                    result = data;
                }
            });
            return result;
        }

        function GenerateChallan() {
            if (SaveValidation() == true) {
                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function() {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveChallan();

                });
            }
        }

        function SaveValidation() {
            var isValid = true;
            var massage = "Some Values Required";
            var checkCount =$('#challnbody tbody tr').length;

            if (checkCount <= 0) {
                isValid = false;

                message = "No Product For DO";
            }
            //$('#salesOrder tbody tr').each(function() {


            //    var idr = $(this).attr('id');
            //    var id = idr.substring(3);
            //    if ($('#chk_' + id).is(':checked')) {
            //        var issue = isNaN(parseFloat($('#issueQty_' + id).val())) ? 0 : parseFloat($('#issueQty_' + id).val());

            //        var issueKg = isNaN(parseFloat($('#issueKG_' + id).val())) ? 0 : parseFloat($('#issueKG_' + id).val());
            //        if (issue == 0 || issueKg == 0) {
            //            message = "Issue Quantity AND Amount Required";
            //            isValid = false;
            //            return;
            //        }

            //    }

            //});

            if (isValid == false) {

                ShowMessage(message);
            }

            return isValid;
        }

        function SaveChallan() {

            var jsonData = {};
            jsonData["CompanyId"] = $('#ddlCompany').val();



            jsonData["SalesOrderId"] = $('#mSalesOrderId').val();
            jsonData["ChallanAmount"] = parseFloat($('#challanAmt').html());
            var jsonObjs = [];

            if ($('#challnbody tbody tr').length > 0) {
                $('#challnbody tbody tr').each(function () {

                    var theObj = {};
                    var idr = $(this).attr('id');
                    var id = idr.substring(4);

                    var productId = isNaN(parseFloat($('#cProd_' + id).val())) ? 0 : parseFloat($('#cProd_' + id).val());
                    var issueQty = isNaN(parseFloat($('#cIssueQty_' + id).val())) ? 0 : parseFloat($('#cIssueQty_' + id).val());
                    var issueKg = isNaN(parseFloat($('#cIssueKg_' + id).val())) ? 0 : parseFloat($('#cIssueKg_' + id).val());
                    var soDetailsId = isNaN(parseFloat($('#soDetails_' + id).val())) ? 0 : parseFloat($('#soDetails_' + id).val());
                    var warehouseId = isNaN(parseFloat($('#Wh_' + id).val())) ? 0 : parseFloat($('#Wh_' + id).val());


                        theObj["ProductId"] = productId;
                        theObj["IssueQty"] = issueQty;
                        theObj["IssueKg"] = issueKg;
                        theObj["SalesOrderDetailsId"] = soDetailsId;
                        theObj["WarehouseId"] = warehouseId;
                        jsonObjs.push(theObj);




                });
                jsonData["ChallanDetails"] = jsonObjs;
            }



            var urlpath = '@Url.Action("SavePrecessedChallan", "ChallanProcessed")';
            $.ajax({
                    contentType: "application/json",
                    data: JSON.stringify(jsonData),
                    dataType: 'json',
                    url: urlpath,
                    type: "POST"
                })
                .success(function(result) {

                    if (result.isSuccess == true) {

                        // var mrrNo = GetMrrNo(result.pk);

                        swal({
                            title: " Saved Successfull",
                            text: '',
                            type: "success",
                            showCancelButton: false,
                            cancelButtonClass: 'btn-secondary waves-effect',
                            confirmButtonClass: 'btn-success waves-effect waves-light',
                            confirmButtonText: 'Yes!',
                            closeOnConfirm: false
                        }, function() {
                            window.location.href = '@Url.Action("Index", "ChallanProcessed")';

                        });


                    }
                });
        }



        function LoadPaymentType(elementId) {

            var urlpath = '@Url.Action("GetPaymentType", "Utility")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",

                async: false,
                success: function(data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Payment --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].PaymentTypeId).html(data[i].PaymentType));
                    }
                }
            });
        }

        function GetOrderMaster() {
            var id = $('#mSalesOrderId').val();
            var urlpath = '@Url.Action("GetSalesOrderMaster", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { id: id },
                async: false,
                success: function(data) {
                    $("#ddlCustomerType").val(data.CustomerTypeId).trigger('change');
                    $("#ddlCustomer").val(data.CustomerId).trigger('change');
                    GetCustomerDetails();
                    $("#ddlCompany").val(data.CompanyId).trigger('change');

                    $("#txtSalesPersonNo").val(data.SalesPersonContact);

                    if (data.IsEmployee == true) {
                        $('#chkEmployee').prop('checked', true);
                        $("#txtSalesPerson").val(GetEmployeeName(data.SalesPerson));
                    } else {
                        $('#chkEmployee').prop('checked', false);
                        $("#txtSalesPerson").val(data.SalesPerson);
                    }
                    $('#txtOrderDate').val(ToJavaScriptDate(data.OrderDate));
                    $('#txtDeliveryDate').val(ToJavaScriptDate(data.DeliveryDate));
                    LoadLocation('ddlLocation', data.CompanyId);


                    $('#salesOrderNo').html(data.SalesOrderNo);


                    $('#txtRemarks').val(data.Remarks);
                    LoadPaymentType('ddlPamentType');
                    $("#ddlPamentType").val(data.PaymentType).trigger('change');

                    GetProducts();
                    for (var i = 0; i < data.SalesDetails.length; i++) {

                        var tr = $('#salesOrder tbody tr').length + 1;
                        AddRow();
                        $("#pro_" + tr).val(data.SalesDetails[i].ProductId).trigger('change');
                        $("#proId_" + tr).val(data.SalesDetails[i].ProductId);
                        $('#saleQty_' + tr).val(data.SalesDetails[i].ProductQty);
                        $('#saleKG_' + tr).val(data.SalesDetails[i].ProductKg);
                        $('#saleRate_' + tr).val(data.SalesDetails[i].SaleRate);
                        $('#disPer_' + tr).val(data.SalesDetails[i].DiscountPercent);
                        $('#disNum_' + tr).val(data.SalesDetails[i].DiscountAmount);
                        $('#total_' + tr).val(data.SalesDetails[i].TotalPrice + data.SalesDetails[i].DiscountAmount);
                        $('#totalG_' + tr).val(data.SalesDetails[i].TotalPrice);
                        $('#detailsId_' + tr).val(data.SalesDetails[i].SalesOrderProcessDetailsId);


                        var prevData = GetPreviousIssue(data.SalesDetails[i].SalesOrderProcessDetailsId, data.SalesDetails[i].ProductId);

                        $('#prevIssueQty_' + tr).val(prevData.PrevIssueQty);
                        $('#prevIssueKG_' + tr).val(prevData.PrevIssueKg);

                        if (data.SalesDetails[i].ProductQty == prevData.PrevIssueQty) {
                            $('#chk_' + tr).attr('disabled', true);
                            $("#tr_" + tr).css("background-color", "#dc3545");
                        }
                        $('#pro_' + tr).attr('disabled', true);
                        $('#stQty_' + tr).attr('disabled', true);
                        $('#stKg_' + tr).attr('disabled', true);
                        $('#stRate_' + tr).attr('disabled', true);
                        $('#saleRate_' + tr).attr('disabled', true);
                        $('#saleQty_' + tr).attr('disabled', true);
                        $('#saleKG_' + tr).attr('disabled', true);
                        $('#disPer_' + tr).attr('disabled', true);
                        $('#disNum_' + tr).attr('disabled', true);
                    }


                    //$('#totalKg').html(data.TotatalOrderAmtKg);
                    //$('#totalIncTacVat').html(data.TotalIncTaxVat);
                    //$('#totalExTaxVat').html(data.TotalExTaxVat);

                    CalculateAll();

                }
            });
        }
        function CalculateSalePrice(id) {
             
            var saleRate = isNaN(parseFloat($('#saleRate_' + id).val())) ? 0 : parseFloat($('#saleRate_' + id).val());
            var saleQty = isNaN(parseFloat($('#saleQty_' + id).val())) ? 0 : parseFloat($('#saleQty_' + id).val());
            var disCounPer = isNaN(parseFloat($('#disPer_' + id).val())) ? 0 : parseFloat($('#disPer_' + id).val());
            var total = saleRate * saleQty;
            var distountTotal = total * (disCounPer / 100);

            var totalPrice = total - distountTotal;
            $('#total_' + id).val(total.toFixed(2));
            $('#disNum_' + id).val(distountTotal.toFixed(2));
            $('#totalG_' + id).val(totalPrice.toFixed(2));
            CalculateAll();
        }
        function CalculateAll() {

             
            var grandTotal = 0;
            var totalIncTax = 0;
            var totalExTax = 0;
            var totalKg = 0;
            var totalTax = 0;
            $('#salesOrder tbody tr').each(function () {


                var idr = $(this).attr('id');
                var id = idr.substring(3);

                var productId = isNaN(parseFloat($('#pro_' + id).val())) ? 0 : parseFloat($('#pro_' + id).val());
                var saleQty = isNaN(parseFloat($('#saleQty_' + id).val())) ? 0 : parseFloat($('#saleQty_' + id).val());
                var stockRate = isNaN(parseFloat($('#stRate_' + id).val())) ? 0 : parseFloat($('#stRate_' + id).val());
                var saleRate = isNaN(parseFloat($('#saleRate' + id).val())) ? 0 : parseFloat($('#saleRate' + id).val());

                var saleKg = isNaN(parseFloat($('#saleKG_' + id).val())) ? 0 : parseFloat($('#saleKG_' + id).val());

                var disPer = isNaN(parseFloat($('#disPer_' + id).val())) ? 0 : parseFloat($('#disPer_' + id).val());
                var disAmt = isNaN(parseFloat($('#disNum_' + id).val())) ? 0 : parseFloat($('#disNum_' + id).val());
                var total = isNaN(parseFloat($('#totalG_' + id).val())) ? 0 : parseFloat($('#totalG_' + id).val());
                grandTotal += total;
                totalKg += saleKg;

            });
            $('#taxVat').html(GetTaxInfo(5, grandTotal));

            var tax = parseFloat($('#taxVat').html());
            var colection = isNaN(parseFloat($('#txtCollection').val())) ? 0 : parseFloat($('#txtCollection').val());

            var taxCal = grandTotal * (tax / 100);
            totalIncTax = grandTotal + taxCal;
            totalExTax = grandTotal;
            $('#totalKg').html(totalKg.toFixed(2));
            $('#totalIncTacVat').html(totalIncTax.toFixed(2));
            $('#totalExTaxVat').html(grandTotal.toFixed(2));

            var restamount = totalIncTax - colection;
            $('#lblRestAmount').html(restamount);
        }




        function GetTaxInfo(productGroupId, amount) {
            var tax = 2;
            var urlpath = '@Url.Action("GetTaxInfo", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'json',
                data: { productGroupId: productGroupId, amount: amount },
                async: false,
                success: function (data) {
                    tax = data.TaxPercent;

                }
            });
            return tax;
        }
        function GetEmployeeName(empId) {
            var EmpName = "";
            var urlpath = '@Url.Action("GetEmployeeName", "Utility")';
            $.ajax({
                url: urlpath,
                data: { empId: empId },
                dataType: 'json',
                type: "Get",

                async: false,
                success: function(data) {
                    EmpName = data;

                }
            });
            return EmpName;
        }

        function GetProductDetails(prodId) {


            var productId = $('#pro_' + prodId).val();
            var wareHouseId = $('#ddlWareHouse').val();
            var urlpath = '@Url.Action("GetProductDetails", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'json',
                data: { productId: productId, wareHouseId: wareHouseId },
                async: false,
                success: function(data) {

                    $("#cat_" + prodId).val(data.CategoryName);
                    $("#stQty_" + prodId).val(data.StockQty);
                    $("#stKg_" + prodId).val(data.StockKg);
                    $("#stRate_" + prodId).val(data.StockPrice.toFixed(2));
                    var salePrice = GetSalePrice(productId, data.StockPrice);

                    $('#saleRate_' + prodId).val(salePrice);

                }
            });
        }

        function GetSalePrice(productId, price) {
            var theprice = 0;
            var urlpath = '@Url.Action("GetProcessedSalePrice", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'json',
                data: { productId: productId, price: price },
                async: false,
                success: function(data) {

                    theprice = data;


                }
            });

            return theprice;
        }

        function AddRow() {

            var tr = $('#salesOrder tbody tr').length + 1;
            var urlpath = '@Url.Action("AddRowForOrder", "ChallanProcessed")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'html',
                data: { tr: tr },
                async: false,
                success: function(data) {

                    $('#salesOrder tbody').append(data);

                    LoadProductInTable("pro_" + tr);

                }
            });
            //CalculateAll();
              $('#pro_' + tr).select2();
        }



        function LoadProductInTable(elementId) {

            $('#' + elementId + '').append("<option value='0'>--Select Product--</option>");

            for (var i = 0; i < PrlductList.length; i++) {

                $('#' + elementId + '').append($("<option></option>").val(PrlductList[i].ProductId).html(PrlductList[i].ProductNo + ":" + PrlductList[i].ProductName));
            }

        }

        function GetProducts() {


            var urlpath = '@Url.Action("GetProductByGroup", "Utility")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { groupId: 5 },
                async: false,
                success: function(data) {

                    PrlductList = data;

                }
            });
        }

        function GetCustomerDetails() {


            var customerId = $('#ddlCustomer').val();

            var urlpath = '@Url.Action("GetCustomerDetails", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'html',
                type: "Get",
                data: { id: customerId },
                async: false,
                success: function(data) {
                    $('#customerDetails').empty();
                    $('#customerDetails').html(data);

                }
            });


            LoadDate('#txtOrderDate');

            $('#txtDestination').val($('#customerAddress').html());

        }

        @*function LoadWareHouse(elementId) {

            var location = $('#ddlLocation').val();
            var urlpath = '@Url.Action("LoadWareHouse", "ItemRequisition")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { location: parseInt(location) },
                async: false,
                success: function(data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Warehouse--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].WareHouseId).html(data[i].WareHouseName));
                    }

                }
            });
        }*@

        function GetLocationId(warehouse) {

            var locationId = 0;
            var urlpath = '@Url.Action("GetLocationIdByWarehouse", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { id: warehouse },
                async: false,
                success: function(data) {

                    locationId = data;
                }
            });
            return locationId;
        }


        function LoadCustomer(elementId) {
            var typeid = $('#ddlCustomerType').val();
            var urlpath = '@Url.Action("GetCustomer", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { typeid: typeid },
                async: false,
                success: function(data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Customer --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].CustomerID).html(data[i].CustomerCode + ":" + data[i].CustomerName + ": " + data[i].CoustomerTypeName));
                    }
                }
            });
        }
    </script>
}

