﻿
@{
    ViewBag.Title = "Sales Return";
}
<style>
    #manuallist {
        padding: 10px;
    }

    .form-control {
        height: calc(1.7rem + 2px);
    }

    .modal-dialog {
        width: 100%;
        height: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }


    .modal-contents {
        background-color: white;
    }

    .ModalHead {
        background-color: #3C8DBC;
        padding: 15px;
        color: white;
    }

    .ModalHead > h4 {
        color: white;
        padding-left: 10px;
    }

    a#tabA {
        text-decoration: underline;
    }

    a#tabA:hover {
        text-decoration: underline;
        font-size: 17px;
        font-weight: bolder;
        color: green;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">

                        <div class="row">

                            <div class="col-md-6">
                                <h3>Sales Return</h3>
                            </div>
                            <div class="col-md-6 text-right ">
                                @*<a class="btn btn-outline-warning" href="@Url.Action("Index", "Invoice")">

                                    <span class="fa fa-list"></span>Generated  Invoice List

                                </a>*@
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="card-body">
                        <div class="row" style="padding-left: 20px;padding-right: 20px;">
                            <div class="col-md-3">
                                <div class="form-group" id="divCustomer">
                                    <label for="ddlCustomer">Customer:</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlCustomer" onchange="LoadChallanNo()"></select>
                                </div>
                            </div>
                            @*<div class="col-md-3">
                                <div class="form-group" id="divChallanDate">
                                    <label for="txtChallanDate">Challan Date:</label>
                                    <input type="text" id="txtChallanDate" class="form-control"/>
                                </div>
                            </div>*@
                            <div class="col-md-3">
                                <div class="form-group" id="divChallanNo">
                                    <label for="ddlChallanNo">Challan:</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlChallanNo" onchange="ShowReport()"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divReturnDate">
                                    <label for="txtReturnDate">Return Date:</label>
                                    <input type="text" id="txtReturnDate" class="form-control" />
                                </div>
                                @*<div class="form-group" id="divSubmit">
                                    <button style="margin-left: 27px;margin-top: 10px" class="btn btn-primary" onclick="ShowReport()">Submit</button>
                                </div>*@
                            </div>
                     

                        </div>
                    </div>
                    <br />
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="myTable" class="table table-bordered table-striped table-hover">
                                        <thead>
                                        <tr style="text-align: center; color: black; width: 3%; background-color: turquoise;">
                                            <th style="text-align:center;">Check</th>
                                            <th class="text-center" style="width: 3%">#</th>
                                            <th class="text-center">Product Name</th>
                                            <th class="text-center">Delivery Qty</th>
                                            <th class="text-center">Delivery KG</th>
                                            <th class="text-center">Pre Return Qty</th>
                                            <th class="text-center">Pre Return KG</th>
                                            <th class="text-center">Return Qty</th>
                                            <th class="text-center">Return KG</th>
                                            <th class="text-center">Return Total</th>
                                            <th class="text-center">Rrmarks</th>
                                        </tr>
                                        </thead>
                                        <tbody id="manuallist"></tbody>
                                    </table>


                                </div>
                            </div>
                        </div>



                    </div>

                    <div class="row" id="btnVoid" style="margin-left: 20px;">
                        <div class="col-md-2">
                            <div id="divForFilet">
                                <label for="UploadFile">Choose File</label>
                                <input class="form-control" type="file" id="UploadFile" accept = "application/pdf,.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                            </div>
                        </div>
                            <div class="col-md-6">
                                <div class="form-group" id="">
                                    <label for="">Remarks</label>
                                    <input type="text" id="txtRemarks" class="form-control"/>
                                </div>
                            </div>
                        
                        <div class="col-md-4">
                            <button style="margin-top: 20px;" class="btn btn-primary"  onclick="Save()">Submit</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- /.row -->
      
    </div><!-- /.container-fluid -->


</section>
@section Scripts
{
    <script>
        $(document).ready(function() {
            LoadDate_C('#txtReturnDate');
            //LoadDate_Pr('#txtDueDate');
            LoadFilteredCustomers('ddlCustomer', 0, 0, 0);
            $('#btnVoid').hide();
        });

        function LoadChallanNo() {
            var customerId = $('#ddlCustomer').val();
            var urlpath = '@Url.Action("LoadChallanNoByCustomer", "ChallanProcessed")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { customerId: customerId },
                async: false,
                success: function(data) {


                    $('#ddlChallanNo').empty();
                    $('#ddlChallanNo').append("<option value='0'>--Select ChallanNo--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#ddlChallanNo').append($("<option></option>").val(data[i].SalesOrderChallanMasterId).html(data[i].SalesOrderChallanNo));
                    }
                }
            });
        }


        function ShowReport() {
            //debugger;
            var customerId = $('#ddlCustomer').val();
            var challanMasterId = $('#ddlChallanNo').val();

            if (ReportValidation() === true) {
                var urlpath = '@Url.Action("GetChallanDetailsById", "ChallanProcessed")';
                $.ajax({
                    url: urlpath,
                    data: { customerId: customerId, challanMasterId: challanMasterId },
                    dataType: 'json',
                    type: "Get",
                    success: function(data) {

                        var json = $.parseJSON(data);
                        $("#manuallist").html("");

                        if (json.length > 0) {
                            debugger;
                            var row = "";
                            var count = 1;

                            for (var i = 0; i < json.length; i++) {
                                row += "<tr id='trmain" + count + "'>";
                                //if (json[i].SalesReturnId > 0) {
                                   // row += "<td style='text-align:center'><input type='checkbox'  class='form-check-input chkp'  id='chk_" + count + "' onclick='checkBoxEvent(" + count + ")' disabled/></td>";
                               // } else {
                                  //  row += "<td style='text-align:center'><input type='checkbox'  class='form-check-input chkp'  id='chk_" + count + "' onclick='checkBoxEvent(" + count + ")' /></td>";
                             //   }
                                  row += "<td style='text-align:center'><input type='checkbox'  class='form-check-input chkp'  id='chk_" + count + "' onclick='checkBoxEvent(" + count + ")' /></td>";
                                row += "<td style='text-align:center'>" + count + "</td>";
                                row += "<td style='display: none;'><input type='text'  style='display: none;'  id='SalesOrderChallanMasterId_" + count + "' value = '" + json[i].SalesOrderChallanMasterId + "'  /></td>";
                                row += "<td style='display: none;'><input type='text'  style='display: none;'  id='SalesOrderChallanSecondDetailsId_" + count + "' value = '" + json[i].SalesOrderChallanSecondDetailsId + "'  /></td>";
                                row += "<td style='display: none;'><input type='text'  style='display: none;'  id='ProductId_" + count + "' value = '" + json[i].ProductId + "'  /></td>";
                                row += "<td style='display: none;'><input type='text'  style='display: none;'  id='CustomerTypeId_" + count + "' value = '" + json[i].CustomerTypeId + "'  /></td>";
                                row += "<td style='display: none;'><input type='text'  style='display: none;'  id='GroupId_" + count + "' value = '" + json[i].GroupId + "'  /></td>";
                               // row += "<td style='display: none;'><input type='text'  style='display: none;'  id='SalesReturnId_" + count + "' value = '" + json[i].SalesReturnId + "'  /></td>";
                                row += "<td style='display: none;'><input type='text'  style='display: none;'  id='IsEcommerce_" + count + "' value = '" + json[i].IsEcommerce + "'  /></td>";
                                row += "<td style='display: none;'><input type='text'  style='display: none;'  id='WarehouseId_" + count + "' value = '" + json[i].WarehouseId + "'  /></td>";
                                row += "<td style='display: none;'><input type='text'  style='display: none;'  id='QcRequestId_" + count + "' value = '" + json[i].QcRequestId + "'  /></td>";
                                row += '<td style="text-align:center;">' + json[i].ProductName + '</td>';
                                row += '<td style="text-align:center;">' + json[i].DeliveryQty + '</td>';
                                row += '<td style="text-align:center;">' + json[i].DeliveryKG + '</td>';
                                row += "<td style='display: none;'><input type='number'  style='display: none;'  id='DeliveryQty_" + count + "' value = '" + json[i].DeliveryQty + "'  /></td>";
                                row += "<td style='display: none;'><input type='number'  style='display: none;'  id='DeliveryKG_" + count + "' value = '" + json[i].DeliveryKG + "'  /></td>";
                                row += "<td style='display: none;'><input type='number'  style='display: none;'  id='DeliveryAmount_" + count + "' value = '" + json[i].DeliveryAmount + "'  /></td>";
                                row += "<td style='display: none;'><input type='number'  style='display: none;'  id='SalePriceDelivery_" + count + "' value = '" + json[i].SalePriceDelivery + "'  /></td>";
                                row += '<td style="text-align:center;">' + json[i].PreReturnQty + '</td>';
                                row += '<td style="text-align:center;">' + json[i].PreReturnKG + '</td>';
                                row += "<td style='display: none;'><input type='number'  style='display: none;'  id='PreReturnQty_" + count + "' value = '" + json[i].PreReturnQty + "'  /></td>";
                                row += "<td style='display: none;'><input type='number'  style='display: none;'  id='PreReturnKG_" + count + "' value = '" + json[i].PreReturnKG + "'  /></td>";

                                var customertype = json[i].CustomerTypeId;
                                var ecom = json[i].IsEcommerce;
                                if (json[i].GroupId == '6') {
                                    row += "<td style='text-align:center;'><input type='number'  id='ReturnQty_" + count + "' value = '" + json[i].ReturnQty + "' oninput=RowQtyKGConversion(" + count + ") disabled /></td>";
                                    row += "<td style='text-align:center;'><input type='number'  id='ReturnKG_" + count + "' value = '" + json[i].ReturnKG + "'  disabled /></td>";
                                }

                                if (json[i].GroupId == '5') {
                                    if (customertype != "5") {
                                        if (ecom == true) {
                                            row += "<td style='text-align:center;'><input type='number'  id='ReturnQty_" + count + "' value = '" + json[i].ReturnQty + "' oninput=RowQtyKGConversion(" + count + ") disabled /></td>";
                                            row += "<td style='text-align:center;'><input type='number'  id='ReturnKG_" + count + "' value = '" + json[i].ReturnKG + "'  disabled /></td>";
                                        } else {
                                            row += "<td style='text-align:center;'><input type='number'  id='ReturnQty_" + count + "' value = '" + json[i].ReturnQty + "' disabled /></td>";
                                            row += "<td style='text-align:center;'><input type='number'  id='ReturnKG_" + count + "' value = '" + json[i].ReturnKG + "' oninput=RowQtyKGConversion(" + count + ") disabled /></td>";
                                        }
                                    } else {
                                        row += "<td style='text-align:center;'><input type='number'  id='ReturnQty_" + count + "' value = '" + json[i].ReturnQty + "' disabled /></td>";
                                        row += "<td style='text-align:center;'><input type='number'  id='ReturnKG_" + count + "' value = '" + json[i].ReturnKG + "'  oninput=RowQtyKGConversion(" + count + ") disabled /></td>";

                                    }
                                }

                                if (json[i].GroupId == '7') {
                                    row += "<td style='text-align:center;'><input type='number'  id='ReturnQty_" + count + "' value = '" + json[i].ReturnQty + "' disabled /></td>";
                                    row += "<td style='text-align:center;'><input type='number'  id='ReturnKG_" + count + "' value = '" + json[i].ReturnKG + "' oninput=RowQtyKGConversion(" + count + ") disabled /></td>";
                                }
                                //row += "<td style='display: none;'><input type='number'  style='display: none;'  id='ReturnAmount_" + count + "' value = '0'  /></td>";
                                row += "<td style='text-align:center;'><input type='number'  id='ReturnAmount_" + count + "' value = '" + json[i].ReturnAmount + "' disabled /></td>";
                                row += "<td style='text-align:left;'><input type='text'   id='Remarks_" + count + "' value = '" + json[i].Remarks + "'  /></td>";
                                row += '</tr>';
                                count++;
                            }
                            $("#manuallist").html(row);

                        }
                    },
                    complete: function() {
                        $('#btnVoid').show();
                    }
                });
            }

        }

        function checkBoxEvent(id) {
            var check = $('#chk_' + id).is(":checked");
            if (check == true) {


                var qcRequestId = isNaN(parseFloat($('#QcRequestId_' + id).val()), 0) ? 0 : parseFloat($('#QcRequestId_' + id).val());
                if (qcRequestId == 0) {
                    //var salesReturnId = isNaN(parseFloat($('#SalesReturnId_' + id).val()), 0) ? 0 : parseFloat($('#SalesReturnId_' + id).val());
                    var customertype = isNaN(parseFloat($('#CustomerTypeId_' + id).val()), 0) ? 0 : parseFloat($('#CustomerTypeId_' + id).val());
                    var groupId = isNaN(parseFloat($('#GroupId_' + id).val()), 0) ? 0 : parseFloat($('#GroupId_' + id).val());
                    var ecom = $('#IsEcommerce_' + id).val();

                    if (groupId == 6) {
                        $("#ReturnQty_" + id).prop("disabled", false);
                        $("#ReturnKG_" + id).prop("disabled", true);
                    }

                    if (groupId == 5) {
                        if (customertype != 5) {
                            if (ecom == true) {
                                $("#ReturnQty_" + id).prop("disabled", false);
                                $("#ReturnKG_" + id).prop("disabled", true);
                            } else {
                                $("#ReturnQty_" + id).prop("disabled", true);
                                $("#ReturnKG_" + id).prop("disabled", false);
                            }
                        } else {
                            $("#ReturnQty_" + id).prop("disabled", true);
                            $("#ReturnKG_" + id).prop("disabled", false);
                        }

                    }

                    if (groupId == 7) {
                        $("#ReturnQty_" + id).prop("disabled", true);
                        $("#ReturnKG_" + id).prop("disabled", false);
                    }
                }

                if (qcRequestId > 0) {
                    $('#chk_' + id).attr('disabled', 'disabled');
                }
            } else {
                $("#ReturnQty_" + id).prop("disabled", true);
                $("#ReturnKG_" + id).prop("disabled", true);
            }
            //var check = $('#chk_' + id).is(":checked");

            // $('#chk_' + id).not(this).prop('checked', false);

        }


        function RowQtyKGConversion(id) {
            debugger;
            var returnRowQty = 0;
            var returnRowKG = 0;
            var skg = 0;
            var pweight = 0;
            var totalAmount = 0;
            var ecom = false;
            var prereturnQty = isNaN(parseFloat($('#PreReturnQty_' + id).val())) ? 0 : parseFloat($('#PreReturnQty_' + id).val());
            var prereturnKg = isNaN(parseFloat($('#PreReturnKG_' + id).val())) ? 0.00 : parseFloat($('#PreReturnKG_' + id).val());
            var returnQty = isNaN(parseFloat($('#ReturnQty_' + id).val())) ? 0 : parseFloat($('#ReturnQty_' + id).val());
            var returnKg = isNaN(parseFloat($('#ReturnKG_' + id).val())) ? 0.00 : parseFloat($('#ReturnKG_' + id).val());
            var deliveryQty = isNaN(parseFloat($('#DeliveryQty_' + id).val())) ? 0 : parseFloat($('#DeliveryQty_' + id).val());
            var deliveryKG = isNaN(parseFloat($('#DeliveryKG_' + id).val())) ? 0 : parseFloat($('#DeliveryKG_' + id).val());
            var pId = isNaN(parseFloat($('#ProductId_' + id).val())) ? 0 : parseFloat($('#ProductId_' + id).val());
            var salePriceDelivery = isNaN(parseFloat($('#SalePriceDelivery_' + id).val())) ? 0.00 : parseFloat($('#SalePriceDelivery_' + id).val());
            var customerTypeId = isNaN(parseFloat($('#CustomerTypeId_' + id).val())) ? 0 : parseFloat($('#CustomerTypeId_' + id).val());
            var groupId = isNaN(parseFloat($('#GroupId_' + id).val())) ? 0 : parseFloat($('#GroupId_' + id).val());
            ecom = $('#IsEcommerce_' + id).val();


            if (groupId === 6) {
                if ((returnQty + prereturnQty) > deliveryQty) {
                    $('#ReturnQty_' + id).val(0);
                    $('#ReturnKG_' + id).val(0);

                } else {

                    pweight = GetPackWeight(pId);
                    skg = pweight * returnQty;
                    $('#ReturnKG_' + id).val(skg.toFixed(2));

                    returnRowQty = isNaN(parseFloat($('#ReturnQty_' + id).val())) ? 0 : parseFloat($('#ReturnQty_' + id).val());

                    totalAmount = returnRowQty * salePriceDelivery;

                    $('#ReturnAmount_' + id).val(totalAmount.toFixed(2));
                }
            }

            if (groupId === 5) {
                if (customerTypeId != 5) {
                    if (ecom == "true") {

                        if ((returnQty + prereturnQty) > deliveryQty) {
                            $('#ReturnQty_' + id).val(0);
                            $('#ReturnKG_' + id).val(0);
                        } else {


                            pweight = GetPackWeight(pId);
                            skg = pweight * returnQty;
                            $('#ReturnKG_' + id).val(skg.toFixed(2));

                            returnRowQty = isNaN(parseFloat($('#ReturnQty_' + id).val())) ? 0 : parseFloat($('#ReturnQty_' + id).val());

                            totalAmount = returnRowQty * salePriceDelivery;

                            $('#ReturnAmount_' + id).val(totalAmount.toFixed(2));
                        }
                    } else {
                        if ((returnKg + prereturnKg) > deliveryKG) {
                            $('#ReturnKG_' + id).val(0);
                            $('#ReturnAmount_' + id).val(0);

                        }
                         else {
                            returnRowKG = isNaN(parseFloat($('#ReturnKG_' + id).val())) ? 0 : parseFloat($('#ReturnKG_' + id).val());

                        totalAmount = returnRowKG * salePriceDelivery;

                        $('#ReturnAmount_' + id).val(totalAmount.toFixed(2));
                        }

                    }
                } else {
                    if ((returnKg + prereturnKg) > deliveryKG) {
                        $('#ReturnKG_' + id).val(0);
                        $('#ReturnAmount_' + id).val(0);

                    }
                     else {
                         returnRowKG = isNaN(parseFloat($('#ReturnKG_' + id).val())) ? 0 : parseFloat($('#ReturnKG_' + id).val());

                    totalAmount = returnRowKG * salePriceDelivery;

                    $('#ReturnAmount_' + id).val(totalAmount.toFixed(2));

                    }


                }
            }

            if (groupId === 7) {
                if ((returnKg + prereturnKg) > deliveryKG) {
                    $('#ReturnKG_' + id).val(0);
                     $('#ReturnAmount_' + id).val(0);

                }
        else {
                     returnRowKG = isNaN(parseFloat($('#ReturnKG_' + id).val())) ? 0 : parseFloat($('#ReturnKG_' + id).val());

                totalAmount = returnRowKG * salePriceDelivery;

                $('#ReturnAmount_' + id).val(totalAmount.toFixed(2));
                }

            }

        }


        function GetPackWeight(pid) {
            var weight = 0;
            var urlpath = '@Url.Action("PackWeight", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                data: { pid: pid },
                dataType: 'json',
                type: "Get",

                async: false,
                success: function(data) {
                    weight = data;

                }
            });
            return weight;
        }

        function Save() {
            if ($('#UploadFile').val() == '' || $('#UploadFile').val() == null) {
                swal("Please Select file");

                return;
            }

            if (SaveValidation() == true) {
                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function() {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveFinal();

                });
            }
        };

        function getFileExtension(fileName) {

            var postion = fileName.lastIndexOf(".");

            var extension = fileName.substring(postion, fileName.length);

            return extension;
        };

        function UpdateFilePath(pk) {

            if (window.FormData == undefined)
                alert("Error: FormData is undefined");

            else {
                var fileUpload = $("#UploadFile").get(0);
                var files = fileUpload.files;

                var fileData = new FormData();

                fileData.append(files[0].name, files[0]);
                fileData.append('PK', pk);

                var urlpath = '@Url.Action("uploadFile", "ChallanProcessed")';
                $.ajax({
                    url: urlpath,
                    type: 'post',
                    datatype: 'json',
                    contentType: false,
                    processData: false,
                    async: false,
                    data: fileData,
                    success: function(response) {
                        // alert(response);
                    }
                });
            }
        };

        function SaveFinal() {

            var ObjData = {};
            $('#manuallist tr').each(function() {

                var idr = $(this).attr('id');
                var id = idr.substring(6);
                var ecom = false;
                var returnDate = $('#txtReturnDate').val();
                //var salesReturnId = isNaN(parseFloat($('#SalesReturnId_' + id).val())) ? 0 : parseFloat($('#SalesReturnId_' + id).val());
                var salesOrderChallanMasterId = isNaN(parseFloat($('#SalesOrderChallanMasterId_' + id).val())) ? 0 : parseFloat($('#SalesOrderChallanMasterId_' + id).val());
                var customerTypeId = isNaN(parseFloat($('#CustomerTypeId_' + id).val())) ? 0 : parseFloat($('#CustomerTypeId_' + id).val());
                var warehouseId = isNaN(parseFloat($('#WarehouseId_' + id).val())) ? 0 : parseFloat($('#WarehouseId_' + id).val());
                var note = $('#txtRemarks').val();

                //ObjData["SalesReturnId"] = salesReturnId;
                ObjData["SalesOrderChallanMasterId"] = salesOrderChallanMasterId;
                ObjData["ReturnDate"] = returnDate;
                ObjData["WarehouseId"] = warehouseId;
                // ObjData["UploadFileName"] = fileName;
                ObjData["Note"] = note;

            });


            //  =================================================================================================================

            var jsonObjs = [];
            $('#manuallist tr').each(function() {
                var theObj = {};
                debugger;

                var idr = $(this).attr('id');
                var id = idr.substring(6);
                var ecom = false;
                var returnDate = $('#txtReturnDate').val();
                //var salesReturnId = isNaN(parseFloat($('#SalesReturnId_' + id).val())) ? 0 : parseFloat($('#SalesReturnId_' + id).val());
                var salesOrderChallanMasterId = isNaN(parseFloat($('#SalesOrderChallanMasterId_' + id).val())) ? 0 : parseFloat($('#SalesOrderChallanMasterId_' + id).val());
                var salesOrderChallanSecondDetailsId = isNaN(parseFloat($('#SalesOrderChallanSecondDetailsId_' + id).val())) ? 0 : parseFloat($('#SalesOrderChallanSecondDetailsId_' + id).val());
                var productId = isNaN(parseFloat($('#ProductId_' + id).val())) ? 0 : parseFloat($('#ProductId_' + id).val());
                var warehouseId = isNaN(parseFloat($('#WarehouseId_' + id).val())) ? 0 : parseFloat($('#WarehouseId_' + id).val());
                var returnQty = isNaN(parseFloat($('#ReturnQty_' + id).val())) ? 0.00 : parseFloat($('#ReturnQty_' + id).val());
                var returnKg = isNaN(parseFloat($('#ReturnKG_' + id).val())) ? 0.00 : parseFloat($('#ReturnKG_' + id).val());
                var customerTypeId = isNaN(parseFloat($('#CustomerTypeId_' + id).val())) ? 0 : parseFloat($('#CustomerTypeId_' + id).val());
                var returnAmount = isNaN(parseFloat($('#ReturnAmount_' + id).val())) ? 0.00 : parseFloat($('#ReturnAmount_' + id).val());
                var groupId = isNaN(parseFloat($('#GroupId_' + id).val())) ? 0 : parseFloat($('#GroupId_' + id).val());
                var remarks = $('#Remarks_' + id).val();
                ecom = $('#IsEcommerce_' + id).val();


                var check = $('#chk_' + id).is(":checked");

                if (check === true) {

                    if (groupId === 5) {
                        if (customerTypeId != 5) {
                            if (ecom == true) {
                                if (returnKg == 0) {
                                    returnKg = returnQty;
                                }
                            } else {
                                if (returnQty == 0) {
                                    returnQty = returnKg;
                                }
                            }
                        } else {
                            if (returnQty == 0) {
                                returnQty = returnKg;
                            }
                        }

                    }
                   // theObj["SalesReturnId"] = salesReturnId;
                    theObj["SalesOrderChallanMasterId"] = salesOrderChallanMasterId;
                    theObj["SalesOrderChallanSecondDetailsId"] = salesOrderChallanSecondDetailsId;
                    theObj["ProductId"] = productId;
                    theObj["ReturnDate"] = returnDate;
                    theObj["ReturnQty"] = returnQty;
                    theObj["ReturnKG"] = returnKg;
                    theObj["ReturnAmount"] = returnAmount;
                    theObj["WarehouseId"] = warehouseId;
                    theObj["Remarks"] = remarks;
                    jsonObjs.push(theObj);
                }


            });


            var urlpath = '@Url.Action("SavePrecessedReturn", "ChallanProcessed")';
            $.ajax({
                    contentType: "application/json",
                    // data: JSON.stringify(jsonObjs, ObjData),
                    data: JSON.stringify({ "challanDetails": jsonObjs, "ObjData": ObjData }),
                    dataType: 'json',
                    url: urlpath,
                    type: "POST"
                })
                .success(function(result) {

                    if (result.pk > 0) {
                        UpdateFilePath(result.pk);
                        swal({
                            title: " Saved Successfull",
                            text: '',
                            type: "success",
                            showCancelButton: false,
                            cancelButtonClass: 'btn-secondary waves-effect',
                            confirmButtonClass: 'btn-success waves-effect waves-light',
                            confirmButtonText: 'OK!',
                            closeOnConfirm: false
                        }, function() {


                            window.location.href = '@Url.Action("SalesReturn", "ChallanProcessed")';

                        });


                    }
                });
        };

        function UploadCvDoc(pk) {
            ;;
            var fileUpload = $("#UploadFile").get(0);
            var files = fileUpload.files;
            var fileData = new FormData();
            var fileName = '';
            // Looping over all files and add it to FormData object
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
                fileName = files[i].name;
            }

            fileData.append('PK', pk);
            fileData.append('nid', $("#txtNID").val());
            var theReturn = "";

            var urlpath = '@Url.Action("UploadFile", "ChallanProcessed")';
            $.ajax({
                url: urlpath,
                type: "post",
                dataType: "json",
                data: fileData,
                async: false,
                processData: false,
                contentType: false,
                success: function(result) {
                    //if (result.isSuccess==true) {
                    //    LoadTaxPartial();
                    //}


                    if (result.isSuccess == true) {

                    } else {
                        swal("Upload Falied", "Please Contact Administrator", "Danger");
                    }


                }
            });

            // return theReturn;
        }


        function ReportValidation() {
            var isValid = true;
            var message = "Some Values Required";
            if ($('#ddlCustomer').val() == 0 || $('#ddlCustomer').val() == '') {
                ValidationColorChangeNew('ddlCustomer', 'divCustomer', 'Select Customer', true);
                isValid = false;
            }
            if ($('#ddlChallanNo').val() == 0 || $('#ddlChallanNo').val() == '') {
                ValidationColorChangeNew('ddlChallanNo', 'divChallanNo', 'Select ChallanNo', true);
                isValid = false;
            }

            if (isValid == false) {
                ShowMessage(message);

            }
            return isValid;


        }

        function SaveValidation() {
            var checkCount = 0;
            var isValid = true;
            var message = "Some Values Required";
            if ($('#txtReturnDate').val() == 0 || $('#txtReturnDate').val() == '') {
                ValidationColorChangeNew('txtReturnDate', 'divReturnDate', 'Select Return Date', true);
                isValid = false;
            }
            $('#manuallist tr').each(function() {
                var idr = $(this).attr('id');
                var id = idr.substring(6);
                var check = $('#chk_' + id).is(":checked");

                if (check === true) {
                    checkCount = 1;
                }
            });
            if (checkCount === 0) {
                isValid = false;
            }

            if (isValid == false) {
                ShowMessage(message);

            }
            return isValid;


        }
    </script>
}