﻿
@using IGFoodProject.ViewModel
@model ViewGeneratedChallan
@{
    ViewBag.Title = "ViewConfirmedChallan";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var count = 1;
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="invoice p-3 mb-3">
                    <!-- title row -->
                    <div class="row">
                        <div class="col-12">
                            <h4>
                                <small class="float-right">Date: @DateTime.Now.ToString("dd MMM yyyy")</small>
                            </h4>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- info row -->
                    <div class="row invoice-info">

                        <div class="col-sm-3 invoice-col">
                            <b>Challan #@Model.SalesOrderChallanNo</b><br>
                            <br>
                            <b>Customer Name:</b> @Model.CustomerName<br>
                            <b>Challan By:</b> @Model.CreateBy<br>
                            <b>Challan Date:</b> @Model.CreateDate<br>
                            <b>Challan Amount:</b> @Model.ChallanAmount<br>
                        </div>
                        <!-- /.col -->


                        <div class="col-sm-3 invoice-col">
                           
                            <b>Delivery By:</b> @Model.DeliveryBy<br>
                            <b>Delivery Date:</b> @Model.DeliveryDate<br>
                            <b>Delivery Amount:</b> @Model.DeliveryAmount<br>
                        </div>


                        <div class="col-sm-3 invoice-col">
                            <b>Order #@Model.SalesOrderNo</b><br>
                            <br>
                            <b>Order By:</b> @Model.OrderBy<br>
                            <b>Order Date:</b> @Model.OrderDate<br>
                        </div>
                        <!-- /.col -->



                        <div class="col-sm-3 invoice-col">
                            Delivery Address
                            <address>
                                <strong>@Model.DeliveryDestination</strong>
                            </address>
                        </div>
                    </div>

                    <br>
                    <!-- /.row -->
                    <!-- Table row -->
                    <div class="row">
                        <div class="col-12 table-responsive">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th style="text-align: left">SL No</th>
                                        <th style="text-align: left">Product Name</th>
                                        @if (Model.GroupId == 5)
                                        {
                                            <th style="text-align: right">Sale Quantity</th>
                                            <th style="text-align: right">Sale Kg</th>
                                            <th style="text-align: right">Issue Quantity</th>
                                            <th style="text-align: right">Issue Kg</th>
                                            <th style="text-align: right">Delivery Quantity</th>
                                            <th style="text-align: right">Delivery Kg</th>
                                        }
                                        else if (Model.GroupId == 6)
                                        {
                                            <th style="text-align: right">Sale Quantity</th>
                                            <th style="text-align: right">Issue Quantity</th>
                                            <th style="text-align: right">Delivery Quantity</th>
                                        }
                                        else
                                        {
                                            <th style="text-align: right">Sale Kg</th>

                                            <th style="text-align: right">Issue Kg</th>
                                            <th style="text-align: right">Delivery Kg</th>
                                        }




                                        <th style="text-align: right">Challan Price</th>
                                        <th style="text-align: right">Total Price</th>

                                        <th style="text-align: right">Delivery Price</th>
                                        <th style="text-align: right">Delivery Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in @Model.Details)
                                    {
                                        <tr>
                                            <td style="text-align: left">@count</td>
                                            <td style="text-align: left">@item.ProductName</td>

                                            @if (Model.GroupId == 5)
                                            {
                                                <td style="text-align: right">@item.SaleQty</td>
                                                <td style="text-align: right">@item.SaleKg</td>
                                                <td style="text-align: right">@item.IssueQty.ToString("0.##")</td>
                                                <td style="text-align: right">@item.IssueKg</td>
                                                <td style="text-align: right">@item.DeliveryQty.ToString("0.##")</td>
                                                <td style="text-align: right">@item.DeliveryKG</td>
                                            }
                                            else if (Model.GroupId == 6)
                                            {
                                                <td style="text-align: right">@item.SaleQty</td>
                                                <td style="text-align: right">@item.IssueQty.ToString("0.##")</td>
                                                <td style="text-align: right">@item.DeliveryQty.ToString("0.##")</td>
                                            }
                                            else
                                            {
                                                <td style="text-align: right">@item.SaleKg</td>

                                                <td style="text-align: right">@item.IssueKg</td>
                                                <td style="text-align: right">@item.DeliveryKG</td>
                                            }


                                            <td style="text-align: right">@item.ChallanPrice.ToString("0.00")</td>
                                            <td style="text-align: right">@item.TotalPrice.ToString("0.00")</td>


                                            <td style="text-align: right">@item.DeliveryPrice.ToString("0.00")</td>
                                            <td style="text-align: right">@item.DeliveryAmount.ToString("0.00")</td>
                                        </tr>
                                        count++;
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="9">
                                            @Html.ActionLink("Back To List", "ConfirmedChallan", "ChallanProcessed", null, new { @class = "btn btn-primary" })
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->

                </div>
            </div>
        </div>
    </div>
</section>

