﻿@using IGFoodProject.Models
@model IEnumerable<IGFoodProject.Models.Market>
@{ int count = 1;}
<table id="marketTable" class="table table-bordered">
    <thead>
    <tr>

        <th style="text-align:center;">#SL</th>
        <th style="text-align:center;">Territory Name</th>
        <th style="text-align:center;">Market Name</th>
        <th style="text-align:center;">Create By</th>
        <th style="text-align:center;">Create Date</th>
        <th style="text-align:center;">Action</th>
    </tr>
    </thead>
    <tbody id="">
    @foreach (Market item in Model)
    {
        <tr>
            <td>@count</td>
            <td>@item.aTerritory.TerritoryName</td>
            <td>@item.MarketName</td>
            <td>@item.CreateBy</td>
            <td>@Convert.ToDateTime(item.CreateDate).ToString("dd MMM yyyy")</td>
            <td style='text-align:left;'>
                <button class="btn btn-primary" onclick="location.href = '@Url.Action("Insert", "Market",new { @id = item.MarketId })'">
                    Edit
                    <i class="fa fa-edit fa-1x" aria-hidden="true"></i>
                </button>
            </td>
            
        </tr>
            
        count++;
    }
    </tbody>
</table>
