﻿@using IGFoodProject.Models
@model IEnumerable<IGFoodProject.Models.Territory>
@{
    ViewBag.Title = "Index";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-3">
                                <h3 class="card-title"><span class="fa fa-list"></span>Market List</h3>
                            </div>
                            <div class="col-md-4">
                                <a onclick="location.href = '@Url.Action("Insert", "Market")'"><h3 class="card-title"><span class="fa fa-plus"></span> New Marker Entry</h3></a>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="form-group" id="divTerritoryDdl">
                            <label for="territoryDdl">Territory</label>
                            <select class="form-control select2" id="territoryDdl">
                                <option value="0">--Select Territory--</option>
                                @foreach (Territory item in Model)
                                {
                                    <option value="@item.TerritoryId">@item.TerritoryName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="pull pull-right btn btn-primary" onclick="SearchMarket()">Search</button>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="row">
            <div id="marketList" class="card-body">
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->

</section>

@section Scripts{
    <script>
        function SearchMarket() {
            var urlpath = '@Url.Action("GetMarketByTerritoryId", "Market")';
            $.ajax({
                url: urlpath,
                dataType: 'html',
                data: {territoryId:$("#territoryDdl").val()},
                type: "Get",
                async: false,
                success: function (data)
                {
                    $("#marketList").html(data);
                }
            });
        }
    </script>
}


