﻿

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">

                        <div class="row">

                            <div class="col-md-4">
                                <h3 id="salesOrderNo"></h3>
                            </div>
                        </div>



                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divCompany">
                                    <label for="ddlCompany">Company</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlCompany"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divCustomerType">
                                    <label for="ddlCustomerType">Customer Type</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlCustomerType" onchange="LoadCustomer('ddlCustomer')"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divCustomer">
                                    <label for="ddlCustomer">Customer</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlCustomer" onchange="GetCustomerDetails()"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divOrderDate">
                                    <label for="txtOrderDate">Order Date</label>
                                    <input type="text" id="txtOrderDate" class="form-control" value="@DateTime.Now.ToString("dd-MMM-yyyy")" />
                                </div>
                            </div>
                        </div>



                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card-body">
                                <div id="customerDetails"></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divDeliveryDate">
                                    <label for="txtDeliveryDate">Delivery Date</label>
                                    <input type="text" id="txtDeliveryDate" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="row">
                                    @*<div class="col-md-4">
                                        <div class="card-body">
                                            <input type="checkbox" class="form-check-input" id="chkEmployee" style="margin-left: 3px; margin-top: 20px;" onclick="Checko()" checked="checked" />
                                            <label class="form-check-label" for="chkEmployee" style="margin-left: 24px;margin-top: 17px;">Is Employee</label>
                                        </div>
                                    </div>*@
                                    <div class="col-md-8">
                                        <div class="form-group" id="divSalesPerson">
                                            <label for="SalesPerson">Sales Person</label>
                                            <input type="text" id="SalesPerson" class="form-control"/>
                                           @* <input type="number" id="employeeSelect" class="form-control" />*@
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="dovSalesPersonNo">
                                    <label for="txtSalesPersonNo">Sales Person Contact</label>
                                    <input type="text" id="txtSalesPersonNo" class="form-control" />

                                </div>
                            </div>
                        </div>




                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divDestination">
                                    <label for="txtDestination">Destination</label>
                                    <input type="text" id="txtDestination" class="form-control" />

                                </div>
                            </div>
                        </div>



                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divRemarks">
                                    <label for="txtRemarks">Remarks</label>
                                    <textarea type="text" class="form-control" id="txtRemarks"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body">
                                <table class="table table-bordered table-striped" id="salesOrder">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Product</th>

                                            @*<th width="200">Product Category</th>*@

                                            <th>Stock Qty</th>
                                            <th>Stock Kg</th>

                                            <th>Sale Price</th>
                                            <th>Sale Qty</th>
                                            <th>Sale KG</th>
                                            <th>Amount</th>
                                            <th><label id="lbldiscountper">Dis/Com %</label> </th>
                                            <th><label id="lbldiscountamt">Dis/Com Amt.</label></th>
                                            <th>Tax</th>
                                            <th>Total Amount</th>
                                            <th>Remarks</th>
                                            <th class="actionHide">Action</th>
                                        </tr>
                                    </thead>

                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">

                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <div class="row">

                                    <div class="form-group" id="divPaymentType">
                                        <label for="ddlPamentType">Payment Type</label>
                                        <select id="ddlPamentType" class="form-control"></select>


                                    </div>

                                </div>
                                <div class="row">
                                    <label>Order Total Amount in KG:</label>
                                    <label id="totalKg">0</label>
                                </div>
                                <div class="row">
                                    <label>TAX & VAT:</label>
                                    <label id="taxVat">0</label>
                                    <label> %</label>
                                </div>
                                <div class="row">
                                    <label>Total Taka:</label>
                                    <label id="totalIncTacVat">0</label>
                                </div>
                                <div class="row">
                                    <label>Total Discount:</label>
                                    <label id="totalExTaxVat">0</label>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div>

                        <!-- /.card-body -->

                        <div class="card-footer">
                            <@*button class="btn btn-primary appButton" onclick="ApproveOrder(true)">Approve</button>*@
                            @*<button class="btn btn-danger appButton" onclick="ApproveOrder(false)">Reject</button>*@
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
    <input id="mSalesOrderId" type="number" style="display: none;" value="@ViewBag.SalesOrder">
</section>











