﻿@model IEnumerable<IGFoodProject.ViewModel.ViewSalesOrderProcessedMaster>
@{
    ViewBag.Title = "SalesOrderApproveList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>

                                    <span class="fa fa-list"></span> SO Approve List

                                </h3>
                            </div>
                            <div class="col-md-6 text-right">
                                <a class="btn btn-outline-warning" href="@Url.Action("SalesOrderList", "SalesOrderProcess")">

                                    <span class="fa fa-list"></span> SO List

                                </a>
                            </div>
                        </div>

                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group" id="divCustomer_Search">
                                    <label for="ddlCustomer_Search">Customer</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlCustomer_Search"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divSalesPerson">
                                    <label for="txtSalesPerson">Sales Person</label>
                                    <input type="text" id="txtSalesPerson" class="form-control" />
                                    <input type="number" id="employeeSelect" style="display: none" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divFromDate">
                                    <label for="txtFromDate">From Order Date</label>
                                    <input type="text" id="txtFromDate" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divToDate">
                                    <label for="txtToDate">To Order Date</label>
                                    <input type="text" id="txtToDate" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <button style="margin-left: 27px;" class="btn btn-primary" id="searchbtn" onclick="ShowReport()">Search Order</button>
                        </div>
                    </div>
                    <div class="row">


                        <div class="col-md-12">

                            <div class="card-body">

                                <table id="table1" class="table table-bordered table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Sales Order No.</th>
                                            <th>Customer Type</th>
                                            <th>Customer</th>
                                            <th>Destination</th>
                                            <th>Sales Person</th>
                                            <th>Person Contact</th>
                                            <th>Order Date</th>
                                            <th>Delivery Date</th>
                                            <th>Total Amount</th>
                                            <th>Total discount</th>
                                            <th>Total Due</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="manuallist">
                                        @{ int count = 1;}
                                        @foreach (var item in Model)
                                        {
                                            <tr class="rowTr">

                                                <td>@count</td>
                                                <td>@item.SalesOrderNo</td>
                                                <td>@item.CustomerType</td>
                                                <td>@item.CustomerName</td>
                                                <td>@item.DeliveryDestination</td>
                                                <td>@item.SalesPerson</td>
                                                <td>@item.SalesPersonContact</td>
                                                <td>@Convert.ToDateTime(item.OrderDate).ToString("dd-MMM-yyyy")</td>
                                                <td>@Convert.ToDateTime(item.DeliveryDate).ToString("dd-MMM-yyyy")</td>
                                                <td>@item.TotalIncTaxVat</td>
                                                <td>@item.TotalExTaxVat</td>
                                                <td>@item.TotalDue-@item.TotalPaid</td>
                                                @if (item.IsApprove == 0)
                                                {
                                                    <td>Pending</td>
                                                    <td>
                                                        <button class="btn btn-sm btn-primary showBtn" onclick="ShowData(@item.SalesOrderProcessedMasterId)">View</button>
                                                        @Html.ActionLink("Approve", "ApproveSalesProcessed", "TradeSalesOrder", new { id = @item.SalesOrderProcessedMasterId }, null)
                                                    </td>
                                                }
                                                else if (item.IsApprove == 1)
                                                {
                                                    <td>Approved</td>
                                                    <td> Approved</td>
                                                }
                                                else
                                                {
                                                    <td>Rejected</td>
                                                    <td>Rejected</td>
                                                }
                                            </tr>
                                            count++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<div class="modal fadeInUp" id="viewModal" role="dialog">
    <div class="modal-dialog modal-lg" style="max-width: 100% !important">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body" id="containerDetails">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="clsButton" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">


        $(document).ready(function() {
            LoadDate_P('#txtFromDate');
            LoadDate_C('#txtToDate');

            LoadCustomer_Search('ddlCustomer_Search');
            EmpAutoCom('txtSalesPerson', 'employeeSelect');

        });

        function LoadCustomer_Search(elementId) {
            var typeid = 0;
            var urlpath = '@Url.Action("GetCustomer", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { typeid: typeid },
                async: false,
                success: function(data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Customer --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].CustomerID).html(data[i].CustomerCode + ":" + data[i].CustomerName + ": " + data[i].CoustomerTypeName));
                    }
                }
            });
        }

        function ShowReport() {
            var fromdate;
            var todate;
            var customerid = '0';
            var salespersonid = 'null';
            if ($('#txtFromDate').val() == "") {
                swal("Please input from order date");
                return;
            } else {
                fromdate = $('#txtFromDate').val();
            }
            if ($('#txtToDate').val() == "") {
                swal("Please input to order date");
                return;
            } else {
                todate = $('#txtToDate').val();
            }
            if ($('#txtSalesPerson').val() == "") {
                salespersonid = '0';
            } else {
                salespersonid = $('#txtSalesPerson').val();
            }
            if ($('#ddlCustomer_Search').val() == "0") {
                customerid = '0';
            } else {
                customerid = $('#ddlCustomer_Search').val();
            }

            var urlpath = '@Url.Action("SalesOrderApproveListFSearch", "TradeSalesOrder")';
            $.ajax({
                url: urlpath,
                dataType: 'html',
                type: "Get",
                data: { fromdate: fromdate, todate: todate, salespersonid: salespersonid, customerid: customerid },
                async: false,
                success: function(data) {

                    data = JSON.parse(data);
                    if (data.length > 0) {


                        var row = "";
                        var count = 1;
                        $("#manuallist").html("");

                        var count = 1;
                        $.each(data, function(index, item) {
                            debugger;

                            row += "<tr>";
                            row += "<td style='text-align:center'>" + count + "</td>";
                            row += "<td style='text-align:center'>" + item.SalesOrderNo + "</td>";
                            row += "<td style='text-align:center'>" + item.CustomerType + "</td>";
                            row += "<td style='text-align:center'>" + item.CustomerName + "</td>";
                            row += "<td style='text-align:center'>" + item.DeliveryDestination + "</td>";
                            row += "<td style='text-align:center'>" + item.SalesPerson + "</td>";
                            row += "<td style='text-align:center'>" + item.SalesPersonContact + "</td>";
                            row += "<td style='text-align:center'>" + ToJavaScriptDate(item.OrderDate) + "</td>";
                            row += "<td style='text-align:center'>" + ToJavaScriptDate(item.DeliveryDate) + "</td>";
                            row += "<td style='text-align:center'>" + item.TotalIncTaxVat + "</td>";
                            row += "<td style='text-align:center'>" + item.TotalExTaxVat + "</td>";
                            row += "<td style='text-align:center'>" + (item.TotalDue - item.TotalPaid) + "</td>";
                            if (item.IsApprove == 0) {
                                row += "<td style='text-align:center'>Pending</td>";
                                row += "<td style='text-align:center'><button class='btn btn-sm btn-primary showBtn' onclick='ShowData(" + item.SalesOrderProcessedMasterId + ")'>View</button><a class='btn btn-sm btn-warning' type='button' onclick='GoToDo(" + item.SalesOrderProcessedMasterId + ")'>Approve</a></td>";
                                //<button class='btn btn-sm btn-primary showBtn' onclick='ShowData("+item.SalesOrderProcessedMasterId+")'>View</button>
                            } else if (item.IsApprove == 1) {
                                row += "<td style='text-align:center'>Approved</td>";
                                row += "<td style='text-align:center'><button class='btn btn-sm btn-primary showBtn' onclick='ShowData(" + item.SalesOrderProcessedMasterId + ")'>View</button></td>";

                            } else {
                                row += "<td style='text-align:center'>Rejected</td>";
                                row += "<td style='text-align:center'><button class='btn btn-sm btn-primary showBtn' onclick='ShowData(" + item.SalesOrderProcessedMasterId + ")'>View</button><a class='btn btn-sm btn-warning' type='button' onclick='GoToDo(" + item.SalesOrderProcessedMasterId + ")'>Approve</a></td>";

                            }


                            row += "</tr>";
                            count = count + 1;

                        });
                        $("#manuallist").html(row);
                    }
                }
            });
        }


        function GoToDo(soId) {
            window.location = "@Url.Action("ApproveSalesProcessed", "TradeSalesOrder")" + "?id=" + soId;
        }

        function ShowData(id) {
            $('#viewModal').modal();


            ViewOrder(id);
            LoadCompany('ddlCompany');
            //LoadCustomer('ddlCustomer');
            LoadCustomerType('ddlCustomerType');
            GetOrderMaster(id);
        }

        function LoadCustomerType(elementId) {

            var urlpath = '@Url.Action("GetCustomerType", "SalesOrderFurtherProcess")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",

                async: false,
                success: function(data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Customer Type --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].CustomerTypeID).html(data[i].CoustomerTypeName));
                    }
                }
            });
        }


        function ViewOrder(id) {
            var urlpath = '@Url.Action("ViewOrder", "TradeSalesOrder")';
            $.ajax({
                url: urlpath,

                dataType: 'html',
                data: { id: id },
                type: "Get",

                async: false,
                success: function(data) {

                    $('#containerDetails').html(data);

                }
            });
        }


    </script>

    <script>
        var PrlductList = {};


        function ApproveOrder() {

            swal({
                title: "Are you sure?",
                text: "",
                type: "success",
                showCancelButton: true,
                cancelButtonClass: 'btn-secondary waves-effect',
                confirmButtonClass: 'btn-success waves-effect waves-light',
                confirmButtonText: 'Yes!',
                closeOnConfirm: false

            }, function() {
                $('.confirm').prop("disabled", true);
                $('.cancel').prop("disabled", true);
                var id = $('#sid').val();
                var urlpath = '@Url.Action("ApproveSalesProcesed", "SalesOrderProcess")';
                $.ajax({
                    url: urlpath,
                    data: { id: id },
                    dataType: 'json',
                    type: "Get",

                    async: false,
                    success: function(data) {
                        if (data.isSuccess) {
                            window.location.href = '@Url.Action("SalesOrderApproveList", "SalesOrderProcess")';
                        }
                    }
                });

            });

        }

        function LoadPaymentType(elementId) {

            var urlpath = '@Url.Action("GetPaymentType", "Utility")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",

                async: false,
                success: function(data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Payment --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].PaymentTypeId).html(data[i].PaymentType));
                    }
                }
            });
        }

        function GetOrderMaster(id) {

            var urlpath = '@Url.Action("GetSalesOrderMaster", "TradeSalesOrder")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { id: id },
                async: false,
                success: function(data) {
                    debugger;
                    LoadCustomerType('ddlCustomerType');
                    $("#ddlCustomerType").val(data.CustomerTypeId).trigger('change');
                    LoadCustomer('ddlCustomer');
                    $("#ddlCustomer").val(data.CustomerId).trigger('change');
                    GetCustomerDetails();
                    $("#ddlCompany").val(data.CompanyId).trigger('change');
                    $("#txtSalesPersonNo").val(data.SalesPersonContact);
                    $('#chkEmployee').prop('checked', true);
                    var name = GetEmployeeName(data.SalesPerson);
                    $("#SalesPerson").val(name);

                    $('#txtOrderDate').val(ToJavaScriptDate(data.OrderDate));
                    $('#txtDeliveryDate').val(ToJavaScriptDate(data.DeliveryDate));
                    $('#txtDestination').val(data.DeliveryDestination);

                    $("#ddlWareHouse").val(data.WarehouseId).trigger('change');
                    $('#txtRemarks').val(data.Remarks);
                    LoadPaymentType('ddlPamentType');
                    $("#ddlPamentType").val(data.PaymentType).trigger('change');
                    $('#salesOrderNo').html(data.SalesOrderNo);
                    GetProducts();
                    for (var i = 0; i < data.SalesDetailsTrade.length; i++) {

                        var tr = $('#salesOrder tbody tr').length + 1;
                        AddRow();
                        $("#pro_" + tr).val(data.SalesDetailsTrade[i].ProductId).trigger('change');
                        $('#saleQty_' + tr).val(data.SalesDetailsTrade[i].ProductQty);
                        $('#saleKG_' + tr).val(data.SalesDetailsTrade[i].ProductKg);
                        $('#disPer_' + tr).val(data.SalesDetailsTrade[i].DiscountPercent);
                        $('#disNum_' + tr).val(data.SalesDetailsTrade[i].DiscountAmount);
                        $('#saleRate_' + tr).val(data.SalesDetailsTrade[i].SaleRate);
                        $('#baseRate_' + tr).val(data.SalesDetailsTrade[i].BaseRate);

                        $('#total_' + tr).val(data.SalesDetailsTrade[i].TotalPrice + data.SalesDetailsTrade[i].DiscountAmount - data.SalesDetailsTrade[i].ProductTax);
                        $('#totalG_' + tr).val(data.SalesDetailsTrade[i].TotalPrice);
                        $('#btotal_' + tr).val(data.SalesDetailsTrade[i].BTotalPrice);
                        $('#proTax_' + tr).val(data.SalesDetailsTrade[i].ProductTax);
                        $('#detailsRemarks_' + tr).val(data.SalesDetailsTrade[i].DetailsRemarks);


                    }

                    $('#totalKg').html(data.TotatalOrderAmtKg);
                    $('#totalIncTacVat').html(data.TotalIncTaxVat);
                    $('#totalExTaxVat').html(data.TotalExTaxVat);

                    $(":input").prop("disabled", true);

                    $(".appButton").prop("disabled", true);
                    $(".appButton").hide();
                    $('.actionHide').hide();
                    $('.action').hide();
                    $("#clsButton").prop("disabled", false);
                    $(".showBtn").prop("disabled", false);
                    $("#dButton").prop("disabled", false);
                    $("#searchbtn").prop("disabled", false);
                    $("#txtToDate").prop("disabled", false);
                    $("#txtFromDate").prop("disabled", false);
                    $("#txtSalesPerson").prop("disabled", false);
                    $("#ddlCustomer_Search").prop("disabled", false);


                }
            });
        }


        function GetEmployeeName(empId) {
            var EmpName = "";
            var urlpath = '@Url.Action("GetEmployeeName", "Utility")';
            $.ajax({
                url: urlpath,
                data: { empId: empId },
                dataType: 'json',
                type: "Get",

                async: false,
                success: function(data) {
                    EmpName = data;

                }
            });
            return EmpName;
        }



        function GetSalePrice(productId, price) {
            var theprice = 0;
            var urlpath = '@Url.Action("GetProcessedSalePrice", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'json',
                data: { productId: productId, price: price },
                async: false,
                success: function(data) {

                    theprice = data;


                }
            });

            return theprice;
        }

        function AddRow() {

            var tr = $('#salesOrder tbody tr').length + 1;
            var urlpath = '@Url.Action("AddRowForOrder", "TradeSalesOrder")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'html',
                data: { tr: tr },
                async: false,
                success: function (data) {

                    $('#salesOrder tbody').append(data);

                    LoadProductInTable("pro_" + tr);

                }
            });
            //CalculateAll();
            //  $('#pro_' + tr).select2();
        }
        function CalculateAll() {


            var grandTotal = 0;
            var totalIncTax = 0;
            var totalExTax = 0;
            var totalKg = 0;
            var totalTax = 0;
            var proCout = $('#salesOrder tbody tr').length;
            $('#salesOrder tbody tr').each(function() {


                var idr = $(this).attr('id');
                var id = idr.substring(3);

                var productId = isNaN(parseFloat($('#pro_' + id).val())) ? 0 : parseFloat($('#pro_' + id).val());
                var saleQty = isNaN(parseFloat($('#saleQty_' + id).val())) ? 0 : parseFloat($('#saleQty_' + id).val());
                var stockRate = isNaN(parseFloat($('#stRate_' + id).val())) ? 0 : parseFloat($('#stRate_' + id).val());
                var saleRate = isNaN(parseFloat($('#saleRate' + id).val())) ? 0 : parseFloat($('#saleRate' + id).val());

                var saleKg = isNaN(parseFloat($('#saleKG_' + id).val())) ? 0 : parseFloat($('#saleKG_' + id).val());

                var disPer = isNaN(parseFloat($('#disPer_' + id).val())) ? 0 : parseFloat($('#disPer_' + id).val());
                var disAmt = isNaN(parseFloat($('#disNum_' + id).val())) ? 0 : parseFloat($('#disNum_' + id).val());
                var total = isNaN(parseFloat($('#totalG_' + id).val())) ? 0 : parseFloat($('#totalG_' + id).val());
                grandTotal += total;
                totalKg += saleKg;

            });
            $('#taxVat').html(GetTaxInfo(5, grandTotal));

            var tax = parseFloat($('#taxVat').html());
            var colection = isNaN(parseFloat($('#txtCollection').val())) ? 0 : parseFloat($('#txtCollection').val());

            var taxCal = grandTotal * (tax / 100);

            var proTax = (taxCal / proCout);
            SetItemTax(proTax);
            totalIncTax = grandTotal + taxCal;
            totalExTax = grandTotal;
            $('#totalKg').html(totalKg.toFixed(2));
            $('#totalIncTacVat').html(totalIncTax.toFixed(2));
            $('#totalExTaxVat').html(grandTotal.toFixed(2));

            var restamount = totalIncTax - colection;
            $('#lblRestAmount').html(restamount.toFixed(2));
        }

        function SetItemTax(proTax) {
            $('#salesOrder tbody tr').each(function() {


                var idr = $(this).attr('id');
                var id = idr.substring(3);
                var total = isNaN(parseFloat($('#totalG_' + id).val())) ? 0 : parseFloat($('#totalG_' + id).val());
                $('#proTax_' + id).val(proTax.toFixed(2));

                $('#totalG_' + id).val((total + proTax).toFixed(2));

            });
        }

        function LoadProductInTable(elementId) {

            $('#' + elementId + '').append("<option value='0'>--Select Product--</option>");

            for (var i = 0; i < PrlductList.length; i++) {

                $('#' + elementId + '').append($("<option></option>").val(PrlductList[i].ProductId).html(PrlductList[i].ProductNo + ":" + PrlductList[i].ProductName));
            }

        }

        function GetProducts() {


            var urlpath = '@Url.Action("GetProductFTrade", "TradeSalesOrder")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { groupId: 5 },
                async: false,
                success: function (data) {

                    PrlductList = data;

                }
            });
        }

        function GetCustomerDetails() {


            var customerId = $('#ddlCustomer').val();

            var urlpath = '@Url.Action("GetCustomerDetails", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'html',
                type: "Get",
                data: { id: customerId },
                async: false,
                success: function(data) {
                    $('#customerDetails').empty();
                    $('#customerDetails').html(data);

                }
            });


            LoadDate('#txtOrderDate');

            $('#txtDestination').val($('#customerAddress').html());

        }

        function LoadWareHouse(elementId) {

            var location = $('#ddlLocation').val();
            var urlpath = '@Url.Action("LoadWareHouse", "ItemRequisition")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { location: parseInt(location) },
                async: false,
                success: function(data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Warehouse--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].WareHouseId).html(data[i].WareHouseName));
                    }

                }
            });
        }
        function GetProductDetails(prodId) {



            var productId = $('#pro_' + prodId).val();
            var urlpath = '@Url.Action("GetProductDetails", "TradeSalesOrder")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'json',
                data: { productId: productId },
                async: false,
                success: function (data) {

                    //$("#cat_" + prodId).val(data.CategoryName);
                    //$("#stQty_" + prodId).val(data.StockQty);
                    //$("#stKg_" + prodId).val(data.StockKg);
                    //$("#stRate_" + prodId).val(data.StockPrice.toFixed(2));
                    //var salePrice = GetSalePrice(productId, data.StockPrice);

                    //$('#saleRate_' + prodId).val(salePrice);
                    $("#stQty_" + prodId).val(data.StockQty);
                    $("#stKg_" + prodId).val(data.StockKg);
                    $("#groupid_" + prodId).val(data.groupid);
                    $('#saleRate_' + prodId).val(data.StockPrice.toFixed(2));
                    $('#baseRate_' + prodId).val(data.BasePrice.toFixed(2));

                }
            });
        }

        function LoadCustomer(elementId) {
            var typeid = $('#ddlCustomerType').val();
            var urlpath = '@Url.Action("GetCustomer", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { typeid: typeid },
                async: false,
                success: function(data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Customer --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].CustomerID).html(data[i].CustomerCode + ":" + data[i].CustomerName));
                    }
                }
            });
        }

    </script>

}
