﻿
@{
    ViewBag.Title = "InvoicePrint";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <Div class="row">
                            <div class="col-md-4">
                                <a href="@Url.Action("InvoicePrint", "SalesOrderProcess")">
                                    <h3 class="card-title">
                                        <span class="fa fa-list"></span> Invoice List (for print)
                                    </h3>
                                </a>
                            </div>
                        </Div>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body">
                                @*<div class="row">*@
                                <div class="col-md-3">
                                    <div class="form-group" id="divCustomer">
                                        <label for="ddlCustomer">Customer</label>
                                        <select class="form-control select2" style="width: 100%;" id="ddlCustomer"></select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group" id="divSalesPerson">
                                        <label for="txtSalesPerson">Sales Person</label>
                                        <input type="text" id="txtSalesPerson" class="form-control" />
                                        <input type="number" id="employeeSelect" style="display: none" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group" id="divFromDate">
                                        <label for="txtFromDate">From Order Date</label>
                                        <input type="text" id="txtFromDate" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group" id="divToDate">
                                        <label for="txtToDate">To Order Date</label>
                                        <input type="text" id="txtToDate" class="form-control" />
                                    </div>
                                </div>
                                @*</div>*@

                                <div class="card-footer">
                                    <button class="btn btn-primary" onclick="ShoeReport()">View Report</button>
                                </div>


                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="salesOrderList">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                        @*</div>*@

                        <div>
                            <!-- /.card-body -->
                            @*<div class="card-footer">
                                    <button class="btn btn-primary" onclick="ShoeReport()">View Report</button>

                                </div>*@
                        </div>




                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
</section>
@section Scripts{
    <script>

        $(function () {

            LoadDate_P('#txtFromDate');
            LoadDate_C('#txtToDate');

            LoadCustomer('ddlCustomer');
            EmpAutoCom('txtSalesPerson', 'employeeSelect');




        });

        function LoadCustomer(elementId) {
            var typeid = 0;
            var urlpath = '@Url.Action("GetCustomer", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { typeid: typeid },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Customer --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].CustomerID).html(data[i].CustomerCode + ":" + data[i].CustomerName + ": " + data[i].CoustomerTypeName));
                    }
                }
            });
        }




        function ShoeReport() {
            var fromdate;
            var todate;
            var customerid = '0';
            var salespersonid = '0';
            if ($('#txtFromDate').val() == "")
            {
                swal("Please input from order date");
                return;
            }
            else
            {
                fromdate = $('#txtFromDate').val();
            }
            if ($('#txtToDate').val() == "") {
                swal("Please input to order date");
                return;
            }
            else
            {
                todate = $('#txtToDate').val();
            }
            if ($('#txtSalesPerson').val() == "") {
                salespersonid = '0';
            }
            else {
                salespersonid = $('#txtSalesPerson').val();
            }
            if ($('#ddlCustomer').val() == "0") {
                customerid = '0';
            }
            else {
                customerid = $('#ddlCustomer').val();
            }

                   var urlpath = '@Url.Action("SalesOrderListForPrint", "TradeSalesOrder")';
                   $.ajax({
                       url: urlpath,
                       dataType: 'html',
                       type: "Get",
                       data: { fromdate: fromdate, todate: todate, salespersonid: salespersonid, customerid: customerid },
                       async: false,
                       success: function (data) {
                           $("#salesOrderList").html(data);
                       }
                   });
               }


    </script>

}