﻿
@{
    ViewData["Title"] = "AddProduct";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Product  Entry</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("ProductList", "Product") + "'");" class="btn btn-info btn-rounded waves-effect waves-light pull-right">
                                <i class="fa fa-arrow-left"></i>
                                Back To Product List
                            </button>
                        </div>
                    </div>

                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card-body">
                                <div class="form-group" id="divGroup">
                                    <label for="ddlGroup">Product Group</label>
                                    <select class="form-control" id="ddlGroup"></select>
                                </div>


                                <div class="form-group" id="divBrand">
                                    <label for="ddlBrand">Brand</label>
                                    <select class="form-control" id="ddlBrand"></select>

                                </div>



                                <div class="form-group" id="divUOM">
                                    <label for="ddlUOM">UOM</label>
                                    <select class="form-control" id="ddlUOM"></select>

                                </div>

                                <div class="form-group" id="divProductDescription">
                                    <label for="txtProductDes">Product description</label>
                                    <textarea type="text" class="form-control" id="txtProductDes" disabled="disabled" rows="3" cols="15"></textarea>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-body">
                                <div class="form-group" id="divType">
                                    <label for="ddlType">Product Type</label>
                                    <select class="form-control" id="ddlType"></select>
                                </div>
                                <div class="form-group" id="divProduct">
                                    <label for="txtProduct">Product Name</label>
                                    <input type="text" class="form-control" id="txtProduct" placeholder="Enter Product">
                                    <label id="hProduct" style="color:green;"></label>
                                </div>
                                <div class="form-group" id="divPerKgStdQty">
                                    <label for="txtPerKgStdQty">Per Kg Std Qty</label>
                                    <input type="number" min="0" class="form-control" id="txtPerKgStdQty" disabled="disabled" placeholder="Per Kg Std Qty">
                                    @*<label id="hProduct" style="color:green;"></label>*@
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-check" style="margin-top: 40px;">
                                            <input type="checkbox" class="form-check-input" id="chkActive" checked="checked">
                                            <label class="form-check-label" for="chkActive">Is Active</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-check" style="margin-top: 40px;">
                                            <input type="checkbox" class="form-check-input" id="chkActiveB">
                                            <label class="form-check-label" for="chkActiveB">Is Bulk</label>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card-body">
                                <div class="form-group" id="divCategory">
                                    <label for="ddlCategory">Category</label>
                                    <select class="form-control" id="ddlCategory"></select>

                                </div>
                                <div class="form-group" id="divPackSize">
                                    <label for="ddlPackSize">Pack Size</label>
                                    <select class="form-control" id="ddlPackSize"></select>

                                </div>

                                <div class="form-group" id="divProductSerial">
                                    <label for="txtProductSerial">Product Serial</label>
                                    <input type="number" min="0" class="form-control" id="txtProductSerial" disabled="disabled" placeholder="Product Serial">
                                    @*<label id="hProduct" style="color:green;"></label>*@
                                </div>

                            </div>
                        </div>

                    </div>
                    <div>

                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button class="btn btn-primary" onclick="SaveFinal()">Submit</button>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
                <!-- Form Element sizes -->
                <!-- /.card -->
                <!-- /.card -->
                <!-- Input addon -->
                <!-- /.card -->
                <!-- Horizontal Form -->
                <!-- /.card -->

            </div>
            <!--/.col (left) -->
            <!-- right column -->
            @*<div class="col-md-6">

                </div>*@
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
    <input id="txtProductId" type="number" style="display:none;" value="@ViewBag.productid">
</section>

@section Scripts{
    <script>
        $(function () {
            LoadGroup();
            LoadBrand();
            LoadPackSize();
            LoadUOM();
           
            var id = $('#txtProductId').val();

            $('#ddlGroup').change(function () {
                var groupid = $(this).val();
                LoadType(groupid);

                loadDescription($("#ddlGroup option:selected").text(), $("#ddlType option:selected").text(), $("#ddlCategory option:selected").text(), $("#ddlBrand option:selected").text(), $("#txtProduct").val(), $("#ddlPackSize option:selected").text(), $("#ddlUOM option:selected").text());

                if ($('#ddlGroup').val() == 5) {
                    $("#txtPerKgStdQty").prop("disabled", false);
                    $("#txtProductSerial").prop("disabled", false);
                    LoadSerial();
                } else {
                    $("#txtPerKgStdQty").prop("disabled", true);
                    $("#txtProductSerial").prop("disabled", true);
                    $("#txtProductSerial").val("");
                }
            });

            $('#ddlType').change(function () {
                var typeid = $(this).val();
                LoadCategory(typeid);
                loadDescription($("#ddlGroup option:selected").text(), $("#ddlType option:selected").text(), $("#ddlCategory option:selected").text(), $("#ddlBrand option:selected").text(), $("#txtProduct").val(), $("#ddlPackSize option:selected").text(), $("#ddlUOM option:selected").text());

            });

            $('#ddlCategory').change(function () {

                loadDescription($("#ddlGroup option:selected").text(), $("#ddlType option:selected").text(), $("#ddlCategory option:selected").text(), $("#ddlBrand option:selected").text(), $("#txtProduct").val(), $("#ddlPackSize option:selected").text(), $("#ddlUOM option:selected").text());

            });
            $('#ddlBrand').change(function () {

                loadDescription($("#ddlGroup option:selected").text(), $("#ddlType option:selected").text(), $("#ddlCategory option:selected").text(), $("#ddlBrand option:selected").text(), $("#txtProduct").val(), $("#ddlPackSize option:selected").text(), $("#ddlUOM option:selected").text());

            });
            $('#txtProduct').change(function () {

                loadDescription($("#ddlGroup option:selected").text(), $("#ddlType option:selected").text(), $("#ddlCategory option:selected").text(), $("#ddlBrand option:selected").text(), $("#txtProduct").val(), $("#ddlPackSize option:selected").text(), $("#ddlUOM option:selected").text());
                loadProductName($("#txtProduct").val(), $("#ddlPackSize option:selected").text(), $("#ddlUOM option:selected").text());
            });

            $('#ddlPackSize').change(function () {

                loadDescription($("#ddlGroup option:selected").text(), $("#ddlType option:selected").text(), $("#ddlCategory option:selected").text(), $("#ddlBrand option:selected").text(), $("#txtProduct").val(), $("#ddlPackSize option:selected").text(), $("#ddlUOM option:selected").text());
                loadProductName($("#txtProduct").val(), $("#ddlPackSize option:selected").text(), $("#ddlUOM option:selected").text());

            });

            $('#ddlUOM').change(function () {

                loadDescription($("#ddlGroup option:selected").text(), $("#ddlType option:selected").text(), $("#ddlCategory option:selected").text(), $("#ddlBrand option:selected").text(), $("#txtProduct").val(), $("#ddlPackSize option:selected").text(), $("#ddlUOM option:selected").text());
                loadProductName($("#txtProduct").val(), $("#ddlPackSize option:selected").text(), $("#ddlUOM option:selected").text());

            });



            if (id > 0) {
                OdEdit(id);
            }
        });
        function loadDescription(grouptext, typetext, categorytext, brand, product, pack, uom) {

            var des;
            if ((grouptext != "") && (typetext != "--Select Type--") && (categorytext != "--Select Category--") && (brand != "--Select Brand--") && (product != "") && (pack != "--Select Pack Size--") && (uom != "--Select UOM--")) {
                des = grouptext + ' ' + typetext + ' ' + categorytext + ' ' + brand + ' ' + product + ' ' + pack + ' ' + uom;
            }
            else if ((grouptext != "") && (typetext == "--Select Type--") && (categorytext == "--Select Category--") && (brand == "--Select Brand--") && (product == "") && (pack == "--Select Pack Size--") && (uom == "--Select UOM--")) {
                des = grouptext;
            }
            else if ((grouptext != "") && (typetext != "--Select Type--") && (categorytext == "--Select Category--") && (brand == "--Select Brand--") && (product == "") && (pack == "--Select Pack Size--") && (uom == "--Select UOM--")) {
                des = grouptext + ' ' + typetext;
            }
            else if ((grouptext != "") && (typetext != "--Select Type--") && (categorytext != "--Select Category--") && (brand == "--Select Brand--") && (product == "") && (pack == "--Select Pack Size--") && (uom == "--Select UOM--")) {
                des = grouptext + ' ' + typetext + ' ' + categorytext;
            }
            else if ((grouptext != "") && (typetext != "--Select Type--") && (categorytext != "--Select Category--") && (brand != "--Select Brand--") && (product == "") && (pack == "--Select Pack Size--") && (uom == "--Select UOM--")) {
                des = grouptext + ' ' + typetext + ' ' + categorytext + ' ' + brand;
            }
            else if ((grouptext != "") && (typetext != "--Select Type--") && (categorytext != "--Select Category--") && (brand != "--Select Brand--") && (product != "") && (pack == "--Select Pack Size--") && (uom == "--Select UOM--")) {
                des = grouptext + ' ' + typetext + ' ' + categorytext + ' ' + brand + ' ' + product;
            }
            else if ((grouptext != "") && (typetext != "--Select Type--") && (categorytext != "--Select Category--") && (brand != "--Select Brand--") && (product != "") && (pack != "--Select Pack Size--") && (uom == "--Select UOM--")) {
                des = grouptext + ' ' + typetext + ' ' + categorytext + ' ' + brand + ' ' + product + ' ' + pack;
            }



            $('#txtProductDes').val(des);
        }

        function loadProductName(ttext, pack, uom) {

            var pes;
            if ((ttext != "") && (pack != "--Select Pack Size--") && (uom != "--Select UOM--")) {
                if (pack == "N/A") {
                    pes = ttext + ' ( ' + uom + ")";
                }
                else {
                    pes = ttext + ' (' + pack + "-" + uom + ")";
                }

            }
            else if ((ttext != "") && (pack != "--Select Pack Size--") && (uom == "--Select UOM--")) {
                if (pack == "N/A") {
                    pes = ttext;
                }
                else {
                    pes = ttext + ' (' + pack + ")";
                }


            }
            else if ((ttext != "") && (pack == "--Select Pack Size--") && (uom == "--Select UOM--")) {
                pes = ttext;
            }
            $('#hProduct').html(pes);
        }

        function LoadGroup() {
            var urlpath = '@Url.Action("LoadGroup", "ProductType")';

            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {
                    $('#ddlGroup').empty();
                    $('#ddlGroup').append("<option value='0'>--Select Group--</option>");


                    for (var i = 0; i < data.length; i++) {

                        $("#ddlGroup").append($("<option></option>").val(data[i].GroupId).html(data[i].GroupName));

                    }
                }
            });
        }

        function LoadType(groupid) {
            var urlpath = '@Url.Action("LoadType", "ProductCategory")';

            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { groupid: groupid },
                async: false,
                success: function (data) {
                    $('#ddlType').empty();
                    $('#ddlType').append("<option value='0'>--Select Type--</option>");


                    for (var i = 0; i < data.length; i++) {

                        $("#ddlType").append($("<option></option>").val(data[i].TypeId).html(data[i].TypeName));

                    }
                }
            });
        }

        function LoadCategory(typeid) {
            var urlpath = '@Url.Action("CategoryListByTypeID", "Product")';

            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { typeid: typeid },
                async: false,
                success: function (data) {
                    $('#ddlCategory').empty();
                    $('#ddlCategory').append("<option value='0'>--Select Category--</option>");


                    for (var i = 0; i < data.length; i++) {

                        $("#ddlCategory").append($("<option></option>").val(data[i].CategoryId).html(data[i].CategoryName));

                    }
                }
            });
        }

        function LoadBrand() {
            var urlpath = '@Url.Action("GetBrand", "Product")';

            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {
                    $('#ddlBrand').empty();
                    $('#ddlBrand').append("<option value='0'>--Select Brand--</option>");


                    for (var i = 0; i < data.length; i++) {

                        $("#ddlBrand").append($("<option></option>").val(data[i].BrandId).html(data[i].BrandName));

                    }
                }
            });
        }

        function LoadSerial() {
            var urlpath = '@Url.Action("MaxSerialId", "Product")';

            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {
                    $('#txtProductSerial').val(data);
                   
                }
            });
        }


        function LoadPackSize() {
            var urlpath = '@Url.Action("GetPackSize", "Product")';

            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {
                    $('#ddlPackSize').empty();
                    $('#ddlPackSize').append("<option value='0'>--Select Pack Size--</option>");


                    for (var i = 0; i < data.length; i++) {

                        $("#ddlPackSize").append($("<option></option>").val(data[i].PackSizeId).html(data[i].PackSizeName));

                    }
                }
            });
        }


        function LoadUOM() {
            var urlpath = '@Url.Action("GetUOM", "Product")';

            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {
                    $('#ddlUOM').empty();
                    $('#ddlUOM').append("<option value='0'>--Select UOM--</option>");


                    for (var i = 0; i < data.length; i++) {

                        $("#ddlUOM").append($("<option></option>").val(data[i].UOMId).html(data[i].UOMName));

                    }
                }
            });
        }

        function SaveFinal() {

            //Swal("Hello World");
            if (Validation() == true) {

                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveProduct();

                });
            }

        }

        function ValidateProduct(group) {

            var result = 0;
            var urlpath = '@Url.Action("CheckProduct", "Product")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { group: group },
                async: false,
                success: function (data) {

                    result = data;
                }
            });
            return result;
        }

        function ValidateProductSerial(pserial, productId) {
            debugger;
            var result = 0;
            var urlpath = '@Url.Action("CheckProductSerial", "Product")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { pserial: pserial, productId: productId },
                async: false,
                success: function (data) {

                    result = data;
                }
            });
            return result;
        }


        function Validation() {

            var rVal = true;
            var message;
            if (($('#ddlGroup').val() == "0") || ($('#ddlGroup').val() == null)) {
                ValidationColorChange('ddlGroup', 'divGroup', false);
                rVal = false;
                message = "Some Values Required";

            }
            if (($('#ddlType').val() == "0") || ($('#ddlType').val() == null)) {
                ValidationColorChange('ddlType', 'divType', false);
                rVal = false;
                message = "Some Values Required";

            }
            if (($('#ddlCategory').val() == "0") || ($('#ddlCategory').val() == null)) {
                ValidationColorChange('ddlCategory', 'divCategory', false);
                rVal = false;
                message = "Some Values Required";

            }
            if (($('#ddlBrand').val() == "0") || ($('#ddlBrand').val() == null)) {
                ValidationColorChange('ddlBrand', 'divBrand', false);
                rVal = false;
                message = "Some Values Required";

            }
            if (($('#ddlPackSize').val() == "0") || ($('#ddlPackSize').val() == null)) {
                ValidationColorChange('ddlPackSize', 'divPackSize', false);
                rVal = false;
                message = "Some Values Required";

            }
            if (($('#ddlUOM').val() == "0") || ($('#ddlUOM').val() == null)) {
                ValidationColorChange('ddlUOM', 'divUOM', false);
                rVal = false;
                message = "Some Values Required";

            }

            if (($('#txtProduct').val() == "") || ($('#txtProduct').val() == null)) {
                ValidationColorChange('txtProduct', 'divProduct', false);
                rVal = false;
                message = "Some Values Required";

            }

            if ($('#ddlGroup').val() == 5) {



                if (($('#txtPerKgStdQty').val() == "") || ($('#txtPerKgStdQty').val() == null)) {
                    ValidationColorChange('txtPerKgStdQty', 'divPerKgStdQty', false);
                    rVal = false;
                    message = "Some Values Required";

                }
                if (($('#txtProductSerial').val() == "") || ($('#txtProductSerial').val() == null)) {
                    ValidationColorChange('txtProductSerial', 'divProductSerial', false);
                    rVal = false;
                    message = "Some Values Required";

                }

                if ($('#txtProductSerial').val() > 0) {

                    var pSerial = ValidateProductSerial($('#txtProductSerial').val(), $('#txtProductId').val());
                    if (pSerial > 0) {
                        rVal = false;
                        message = "Duplicate Product Serial  Please Change!!!";
                    }
                }

            }


            //
            var ddata = ValidateProduct($('#hProduct').html());

            //var dcode = ValidateCategoryCode($('#txtCategoryCode').val());
            var groupid = $('#txtProductId').val();

            if (ddata > 0 && groupid == 0) {
                rVal = false;
                message = "Duplicate Product  Please Change!!!";

            }

            // if (dcode > 0 && groupid == 0) {
            //    rVal = false;
            //    message = "Duplicate Product Category Code Please Change!!!";

            //}


            if (rVal == false) {
                ShowMessage(message);
            }

            return rVal;
        }

        function SaveProduct() {
            var jsonData = {};

            jsonData["ProductId"] = parseInt($('#txtProductId').val());


            jsonData["GroupId"] = parseInt($('#ddlGroup').val());
            jsonData["TypeId"] = parseInt($('#ddlType').val());
            jsonData["CategoryId"] = parseInt($('#ddlCategory').val());
            jsonData["PackSizeId"] = parseInt($('#ddlPackSize').val());
            jsonData["BrandId"] = parseInt($('#ddlBrand').val());
            jsonData["UOMId"] = parseInt($('#ddlUOM').val());

            jsonData["ProductName"] = $('#hProduct').html();
            jsonData["ProductDescription"] = $('#txtProductDes').val();

            jsonData["PerKgStdQty"] = isNaN(parseFloat($('#txtPerKgStdQty').val())) ? 0 : parseFloat($('#txtPerKgStdQty').val());
            jsonData["ProductSerialId"] = isNaN(parseFloat($('#txtProductSerial').val())) ? 0 : parseFloat($('#txtProductSerial').val());

            jsonData["IsActive"] = $('#chkActive').is(':checked');
            jsonData["IsBulk"] = $('#chkActiveB').is(':checked');


            var urlpath = '@Url.Action("SaveProduct", "Product")';

            $.ajax({

                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "POST"
            })
                .success(function (result) {

                    if (result.pk > 0) {

                        var productno = GetProductNo(result.pk);

                        swal("Product (" + productno + ") Saved Successfull");
                        window.location.href = '@Url.Action("ProductList", "Product")';


                    }
                });


        }
        function GetProductNo(proid) {
            var pno;
            var url = '@Url.Action("GetProductNo", "Product")';
            $.ajax({
                url: url,
                dataType: 'json',
                data: { proid: proid },
                type: "Get",
                async: false,
                success: function (data) {
                    pno = data;
                }
            });
            return pno;
        }

        function OdEdit(id) {

            var url = '@Url.Action("GetProductByID", "Product")';
            $.ajax({
                url: url,
                dataType: 'json',
                data: { id: id },
                type: "Get",
                async: false,
                success: function (data) {

                    $('#txtProductId').val(id);
                    $("#ddlGroup").val(data.GroupId);
                    LoadType(data.GroupId);

                    $("#ddlType").val(data.TypeId);
                    LoadCategory(data.TypeId);
                    $("#ddlCategory").val(data.CategoryId);
                    $("#ddlPackSize").val(data.PackSizeId);
                    $("#ddlBrand").val(data.BrandId);
                    $("#ddlUOM").val(data.UOMId);
                    $("#hProduct").html(data.ProductName);
                    $("#txtProductDes").val(data.ProductDescription);
                    $("#txtPerKgStdQty").val(data.PerKgStdQty);
                    $("#txtProductSerial").val(data.ProductSerialId);

                    $("#txtProduct").val(data.ProductName1);
                    if (data.IsActive == true)
                        $('#chkActive').prop('checked', true);

                    else
                        $('#chkActive').prop('checked', false);
                    if (data.IsBulk == true)
                        $('#chkActiveB').prop('checked', true);

                    else
                        $('#chkActiveB').prop('checked', false);

                    if ($('#ddlGroup').val() == 5) {
                        $("#txtPerKgStdQty").prop("disabled", false);
                        $("#txtProductSerial").prop("disabled", false);
                    } else {
                        $("#txtPerKgStdQty").prop("disabled", true);
                        $("#txtProductSerial").prop("disabled", true);
                    }

                }
            });

        }
    </script>
}

