﻿@model IEnumerable<IGFoodProject.Models.Product>

@{
    ViewData["Title"] = "ProductList";
}



@{
    int count = 0;
}

<!-- Main content -->
@*<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div>
                    <button type="button" onclick="@("window.location.href='" + @Url.Action("AddProduct", "Product") + "'");" class="btn btn-info btn-rounded waves-effect waves-light pull-right">
                        <span class="btn-label">
                            <i class="fa fa-arrow-left"></i>
                        </span>
                        Back To Product Entry

                    </button>
                </div>

                <div class="card-header">
                    <h3 class="card-title">Product List</h3>
                </div>*@
<!-- /.card-header -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">

                        <div class="row">
                            <div class="col-md-3">
                                <h3 class="card-title"><span class="fa fa-list"></span>Product List </h3>
                            </div>
                            <div class="col-md-4">
                                <a onclick="@("window.location.href='" + @Url.Action("AddProduct", "Product") + "'");"><h3 class="card-title"><span class="fa fa-plus"></span>Product Entry</h3></a>
                            </div>
                        </div>
                    </div>



                    <div class="card-body">
                        <table id="example2" class="table dataTable table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th style="text-align:center">#</th>
                                    <th style="text-align:center">Product Name</th>
                                    <th style="text-align:center">Product No</th>
                                    <th style="text-align: center; width: 100px">Product Description</th>
                                    <th style="text-align:center">Pack Size</th>
                                    <th style="text-align:center">UOM</th>
                                    <th style="text-align:center">Group Name</th>
                                    <th style="text-align:center">Type Name</th>
                                    <th style="text-align:center">Category Name</th>
                                    <th style="text-align:center">Brand Name</th>
                                    <th style="text-align:center">Per Kg Std Qty</th>
                                    <th style="text-align:center">Product Serial</th>
                                    <th style="text-align:center">Create Date</th>
                                    <th style="text-align:center">Create By</th>
                                    <th style="text-align:center">Update Date</th>
                                    <th style="text-align:center">Update By</th>
                                    <th style="text-align:center">Is Active</th>
                                    <th style="text-align:center">Is Bulk</th>
                                    <th style="text-align:center"></th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <td style="text-align:center">@count</td>
                                        <td style="text-align:center">@item.ProductName</td>
                                        <td style="text-align:center">@item.ProductNo</td>
                                        <td style="text-align:center">@item.ProductDescription</td>
                                        <td style="text-align:center">@item.PackSizeName</td>
                                        <td style="text-align:center">@item.UOMName</td>
                                        <td style="text-align:center">@item.GroupName</td>
                                        <td style="text-align:center">@item.TypeName</td>
                                        <td style="text-align:center">@item.CategoryName</td>
                                        <td style="text-align:center">@item.BrandName</td>
                                        <td style="text-align:center">@item.PerKgStdQty</td>
                                        <td style="text-align:center">@item.ProductSerialId</td>
                                        <td style="text-align:center">@Convert.ToDateTime(item.CreateDate).ToString("dd-MMM-yyyy")</td>
                                        <td style="text-align:center">@item.CreateBy</td>
                                        @if (item.UpdateDate != null)
                                        {
                                            <td style="text-align:center">@Convert.ToDateTime(item.UpdateDate).ToString("dd-MMM-yyyy")</td>
                                        }
                                        else
                                        {
                                            <td style="text-align:center"></td>
                                        }
                                      
                                        <td style="text-align:center">@item.UpdateBy</td>
                                        <td style="text-align:center">@item.IsActive</td>
                                        <td style="text-align:center">@item.IsBulk</td>
                                        <td>
                                            @Html.ActionLink("Edit", "AddProduct", "Product", new { id = item.ProductId }, new { @class = "btn btn-sm btn-info" })
                                            <button class="btn btn btn-sm btn-danger" onclick="ProductDelete(@item.ProductId)"> Delete</button>
                                        </td>
                                    </tr>

                                }


                            </tbody>

                        </table>
                    </div>
                </div>

            </div>

        </div>





        <!-- /.row -->
    </div><!-- /.container-fluid -->
    <!-- /.row -->
</section>

<!-- /.content -->
@*</div>*@
@*<script src="~/plugins/jquery/jquery.min.js"></script>*@
@section Scripts{
    <script>
        $(function () {

            //$('#example2').DataTable({
            //    "paging": true,
            //    "lengthChange": false,
            //    "searching": false,
            //    "ordering": true,
            //    "info": true,
            //    "autoWidth": false,
            //});
        });
    </script>
    <script type="text/javascript">




        function ProductDelete(id) {

            swal({
                title: "Are you sure?",
                text: "",
                type: "success",
                showCancelButton: true,
                cancelButtonClass: 'btn-secondary waves-effect',
                confirmButtonClass: 'btn-success waves-effect waves-light',
                confirmButtonText: 'Yes!',
                closeOnConfirm: false
            }, function () {
                $('.confirm').prop("disabled", true);
                $('.cancel').prop("disabled", true);
                DeleteProductFianl(id);

            });



        }
        function DeleteProductFianl(id) {



            var urlpath = '@Url.Action("DeleteProduct", "Product")';

            $.ajax({
                contentType: "application/json; charset=utf-8",
                data: { id: id },
                dataType: 'json',
                url: urlpath,
                type: "GET"
            })
                .success(function (result) {

                    if (result.isSuccess) {

                        $('.confirm').prop("disabled", false);
                        $('.cancel').prop("disabled", false);
                        //swal.close();

                        swal("Data Delete Successfull");
                        window.location.href = '@Url.Action("ProductList", "Product")';


                    }
                });
        }
    </script>
}

