﻿


@using IGFoodProject.Models.Accounts;
@model IEnumerable<OpeningBalanceView>

@{
    int count = 1;
}
<table id="OpeningBalanceTable" border="1" class="table dataTable table-bordered table-striped table-hover">
    <thead>
        <tr style="background-color: aliceblue">
            <th style="text-align:center;">Check</th>
            <th style="text-align: center">SL</th>
            <th style="text-align: center">Due Date</th>
            <th style="text-align: center">GL Code</th>
            <th style="text-align: center">GL Name</th>
            <th style="text-align: center">Ref Name</th>
            <th style="text-align: center">Trx. Type</th>
            <th style="text-align: center">Opening Balance</th>
        </tr>
    </thead>
    <tbody class="Traylist">
       @foreach (var item in Model)
       {
            <tr>
                <td style='text-align:center;'>
                    @if (item.OpeningBalance > 0)
                    {
                        <input type='checkbox' class='form-check-input chkp' checked="checked" id='chk_@count'  onclick='checkBoxEvent(@count)'/>
                    }
                    else
                    {
                        <input type='checkbox' class='form-check-input chkp' id='chk_@count'  onclick='checkBoxEvent(@count)'/>
                    }

                </td>
                <td style="text-align: center">@count
                 <input type="hidden" id="OpeningBalanceId_@count" value="@item.OpeningBalanceId"/>
                    <input type="hidden" id="CALayerSevenId_@count" value="@item.CALayerSevenId" />
                    <input type="hidden" id="ReferanceTypeId_@count" value="@item.ReferanceTypeId" />
                    <input type="hidden" id="RefDetailsId_@count" value="@item.RefDetailsId" />
                </td>
                <td style="text-align: center"><label id='lblDueDate_@count'>@Convert.ToDateTime(@item.DueDate).ToString("dd MMM yyyy")</label></td>
                @*<td style="text-align: center">@item.DueDate</td>*@
                <td style="text-align: center">@item.CALayerSevenCode</td>
                <td style="text-align: center">@item.CALayerSevenName</td>
                <td style="text-align: center">@item.RefName</td>
                <td style="text-align: center">
                    @if (item.DrCr == "")
                    {
                        <select id="TransactionType_@count"  class='form-control'>
                            <option value="Dr">Dr</option>
                            <option value="Cr">Cr</option>

                        </select>
                    }

                   @if (item.DrCr == "Dr")
                   {
                    <select id="TransactionType_@count"  class='form-control'>
                        <option value="Dr" selected>Dr</option>
                        <option value="Cr">Cr</option>
                    </select>
                   }
                    @if (item.DrCr == "Cr")
                    {
                        <select id="TransactionType_@count" class='form-control'>
                            <option value="Dr" >Dr</option>
                            <option value="Cr" selected>Cr</option>
                        </select>
                    }
                </td>
                <td style="text-align: center">
                    @if (item.OpeningBalance > 0)
                    {
                        <input type='number' class='form-control' style='text-align:center;' id='OpeningBalance_@count' value='@item.OpeningBalance' />
                    }
                    else
                    {
                        <input type='number' class='form-control' style='text-align:center;' id='OpeningBalance_@count' value='@item.OpeningBalance' disabled="disabled"/>
                    }
                 
                </td>

            </tr>
            count++;
        }
    </tbody>
    @*<tfoot>
        <tr>
            <th colspan="2" style="text-align: center">Total</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[5])))</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[6])))</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[7])))</th>
        </tr>
    </tfoot>*@
</table>
