﻿
@{
    ViewBag.Title = "Opening Balance";
}

<style>
    #manuallist {
        padding: 10px;
    }

    .form-control {
        height: calc(1.7rem + 2px);
    }
</style>
@*<link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css" rel="stylesheet"/>*@

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">

                        <div class="row">

                            <div class="col-md-6">
                                <h3>Opening Balance</h3>
                            </div>
                            <div class="col-md-6 text-right ">
                            </div>

                        </div>



                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group" id="divLG">
                                    <label for="ddlLG">Ledger Group:</label>
                                    <select class="form-control select2" id="ddlLG" name="ddlLG" onchange="LoadLevelTwo()"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divLayerTwo">
                                    <label for="ddlLevelTwo"> Layer Two:</label>
                                    <select class="form-control select2" id="ddlLevelTwo" name="ddlLevelTwo" onchange="LoadLevelThree()"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divLayerThree">
                                    <label for="ddlLevelThree">Layer Three:</label>
                                    <select class="form-control select2" id="ddlLevelThree" name="ddlLevelThree" onchange="LoadLevelFour()"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divLayerFour">
                                    <label for="ddlLevelFour">Layer Four:</label>
                                    <select class="form-control select2" id="ddlLevelFour" name="ddlLevelFour" onchange="LoadLevelFive()"></select>
                                </div>
                            </div>


                        </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group" id="divLayerFive">
                                        <label for="ddlLevelFive">Layer Five:</label>
                                        <select class="form-control select2" id="ddlLevelFive" name="ddlLevelFive" onchange="GetAllCOALevelSix()"></select>
                                    </div>
                                </div>
                                <div class="col-md-3">

                                    <div id="divGlParent">
                                        <label for="ddlLevelSix">Layer Six:</label>
                                        <select class="form-control select2" id="ddlLevelSix" name="ddlLevelSix" onchange="LoadGL()"></select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group" id="divGL">
                                        <label for="ddlGL">Account</label>
                                        <select class="form-control select2" style="width: 100%;" id="ddlGL"></select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group" id="divDate">
                                        <label for="txtDate">Date</label>
                                        <input type="text" id="txtDate" class="form-control" />
                                    </div>

                                </div>
                            </div>

                    </div>

                    <br />
                    <div class="row">
                        <div class="col-md-2 pull-left">
                            <button type="button" style="margin-left: 27px" class="btn btn-primary float-left" onclick="LoadReport()">Search</button>
                    </div>
                        <div class="col-md-2 pull-right offset-8">
                            <button style="display: none"  class="btn btn-primary" id="SaveOB" onclick="SaveFinal()">Save</button>
                        </div>
                    </div>
                    <br />
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body" id="ReportDiv">
                                <div class="card-header with-border">
                                        <div class="row">
                                            <div class="col-md-12" id="openingBalance">

                                            </div>
                                        </div>
                                </div>

                            </div>
                        </div>



                    </div>


                </div>

            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->

</section>


@section Scripts
{


    <script type="text/javascript">
        $(document).ready(function() {
            LoadDate_P('#txtDate');
            GetAllLedgerGroup();
        });


        function LoadReport() {
           // debugger;
            var _LG = 0;
            var _LevelTwo = 0;
            var _LevelThree = 0;
            var _LevelFour = 0;
            var _LevelFive = 0;
            var _LevelSix = 0;
            var _GL = 0;
            var _date;

            _LG = $('#ddlLG').val();
            _LevelTwo = $('#ddlLevelTwo').val();
            _LevelThree = $('#ddlLevelThree').val();
            _LevelFour = $('#ddlLevelFour').val();
            _LevelFive = $('#ddlLevelFive').val();
            _LevelSix = $('#ddlLevelSix').val();
            _GL = $('#ddlGL').val();


            if ($('#txtDate').val() == "") {
                swal("Please input date");
                return;
            } else {
                _date = $('#txtDate').val();
            }


            var urlpath = '@Url.Action("GetOpeningValance", "OpeningBalance")';
            $.ajax({
                url: urlpath,
                dataType: 'html',
                type: "Get",
                data: { date: _date,LG: _LG, LevelTwo: _LevelTwo, LevelThree: _LevelThree, LevelFour: _LevelFour, LevelFive: _LevelFive, LevelSix: _LevelSix, GL: _GL },
                async: false,
                beforeSend: function () {
                    $('#SaveOB').show();
                    $("#openingBalance").empty();
                },
                success: function(data) {

                    $("#openingBalance").html(data);
                },
                complete: function () {
                    //$('#companyHeader').html("IG Foods Limited");
                    //$('#reportHeader').html("GL Inquiry List");
                    //$('#glName').html('GL Account: ' + glName+'('+  refName+')');
                    //$('#reportDate').html('Date: ' + $("#txtFromDate").val() + ' to ' + $("#txtToDate").val());

                }
        });
    }


        function exportExcel(e) {

            var file = new Blob([$('#ReportDiv').html()], { type: "application/vnd.ms-excel" });
            var url = URL.createObjectURL(file);

            var a = $("<a />", {
                href: url,

                download: "GLInquiry.xls"

            }).appendTo("body").get(0).click();

            e.preventDefault();


        }


        function SaveFinal() {
            if (SaveValidation()) {
                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false
                },
                    function () {
                        $('.confirm').prop("disabled", true);
                        $('.cancel').prop("disabled", true);
                        SaveOpeningBalance();
                    });
            }
        }

        function SaveOpeningBalance() {

                var openingBalanceObj = [];
                var count = 1;
                $('#OpeningBalanceTable tbody tr').each(function () {

                        if ($('#chk_' + count).is(':checked')) {
                            var myOBObj = {};

                            myOBObj["OpeningBalanceId"] = isNaN($('#OpeningBalanceId_' + count).val(), 0)? 0 : $('#OpeningBalanceId_' + count).val();
                            myOBObj["CALayerSevenId"] = $('#CALayerSevenId_' + count).val();
                            myOBObj["RefTypeId"] = $('#ReferanceTypeId_' + count).val();
                            myOBObj["RefDetailsId"] = $('#RefDetailsId_' + count).val();
                            myOBObj["DueDate"] = $('#lblDueDate_' + count).text();
                            myOBObj["DrCr"] = $('#TransactionType_' + count).val();
                            myOBObj["OBLC"] = isNaN(parseFloat($('#OpeningBalance_' + count).val()), 0)
                                ? 0
                                : parseFloat($('#OpeningBalance_' + count).val());

                            openingBalanceObj.push(myOBObj);
                        }
                    count++;
                });
                var urlpath = '@Url.Action("SaveOpeningBalance", "OpeningBalance")';
                $.ajax({
                    contentType: "application/json",
                    data: JSON.stringify(openingBalanceObj),
                    dataType: 'json',
                    url: urlpath,
                    type: "POST",
                    traditional: true,
                    success: function (result) {
                        if (result.isSuccess == true) {

                            swal("Opening Balance Save Successfully");
                            window.location.href = '@Url.Action("Index", "OpeningBalance")';
                        }
                    }
                });
            }


        function SaveValidation() {
            var isValid = true;
            var rVal3 = true;
            var message = 'Some Values Required';
            var message3 = '';
            if ($('#ddlLG').val() == 0 || $('#ddlLG').val() == '') {
                ValidationColorChangeNew('ddlLG', 'divLG', 'Select General Ledger', true);
                isValid = false;
            }
            if ($('#txtDate').val() == 0 || $('#txtDate').val() == '') {
                ValidationColorChangeNew('txtDate', 'divDate', 'Select Date', true);
                isValid = false;
            }
            var count = 0;
            count = $('input:checkbox.chkp:checked').length;
                if (count == 0) {
                    isValid = false;
                    message = ("Check atleast one checkbox");
                }


            if (isValid == false) {
                ShowMessage(message);
            }

            return isValid;
        }
    </script>





    <script>
        function GetAllLedgerGroup() {
            var urlpath = '@Url.Action("GetAllLedgerGroup", "ChartOfAccount")';

            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {
                    $('#ddlLG').empty();
                    $('#ddlLG').append("<option value='0'>--Select--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $("#ddlLG").append($("<option></option>").val(data[i].LedgerGroupId).html(data[i].LedgerGroupName));
                    }
                }
            });
        }

        function LoadLevelTwo() {
            var id = $("#ddlLG").val();
            var urlpath = '@Url.Action("GetAllCOATwo", "ChartOfAccount")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",
                data: { id: id },
                async: false,
                success: function (data) {

                    $('#ddlLevelTwo').empty();
                    $('#ddlLevelTwo').append("<option value='0'>--Select Level Two--</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#ddlLevelTwo').append($("<option></option>").val(data[i].CALayerTwoId).html(data[i].CALayerTwoName));
                    }
                }
            });
        }

        function LoadLevelThree() {
            var id = $("#ddlLevelTwo").val();
            var urlpath = '@Url.Action("GetAllCOAThree", "ChartOfAccount")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",
                data: { id: id },
                async: false,
                success: function (data) {

                    $('#ddlLevelThree').empty();
                    $('#ddlLevelThree').append("<option value='0'>--Select Level Three--</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#ddlLevelThree').append($("<option></option>").val(data[i].CALayerThreeId).html(data[i].CALayerThreeName));
                    }
                }
            });
        }
        function LoadLevelFour() {
            var id = $("#ddlLevelThree").val();
            var urlpath = '@Url.Action("GetAllCOAFour", "ChartOfAccount")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",
                data: { id: id },
                async: false,
                success: function (data) {

                    $('#ddlLevelFour').empty();
                    $('#ddlLevelFour').append("<option value='0'>--Select Level Four--</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#ddlLevelFour').append($("<option></option>").val(data[i].CALayerFourId).html(data[i].CALayerFourName));
                    }
                }
            });
        }
        function LoadLevelFive() {
            var id = $("#ddlLevelFour").val();
            var urlpath = '@Url.Action("GetAllCOAFive", "ChartOfAccount")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",
                data: { id: id },
                async: false,
                success: function (data) {

                    $('#ddlLevelFive').empty();
                    $('#ddlLevelFive').append("<option value='0'>--Select Level Five--</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#ddlLevelFive').append($("<option></option>").val(data[i].CALayerFiveId).html(data[i].CALayerFiveName));
                    }
                }
            });
        }
        function GetAllCOALevelSix() {

            debugger;
            var id = $("#ddlLevelFive").val();
            var urlpath = '@Url.Action("GetAllCoaLevelSix", "ChartOfAccount")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",
                data: { id: id },
                async: false,
                success: function (data) {
                    $('#ddlLevelSix').empty();
                    $('#ddlLevelSix').append("<option value='0'>--Select Level Six--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $("#ddlLevelSix").append($("<option></option>").val(data[i].CALayerSixId).html(data[i].CALayerSixName));
                    }
                }
            });
        }




        function LoadGL() {
            var id = $("#ddlLevelSix").val();
            var urlpath = '@Url.Action("GetAllGL", "OpeningBalance")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",
                data: { id: id },
                async: false,
                success: function (data) {

                    $('#ddlGL').empty();
                    $('#ddlGL').append("<option value='0'>--Select GL--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#ddlGL').append($("<option></option>").val(data[i].CALayerSevenId).html(data[i].CALayerSevenName));
                    }
                }
            });
        }



        function checkBoxEvent(id) {

            var check = $('#chk_' + id).is(":checked");

            if (check == true) {
                $("#OpeningBalance_" + id).prop('disabled', false);
            }else
            {
                $("#OpeningBalance_" + id).prop('disabled', true);
            }

        }


    </script>


}


