﻿@model IGFoodProject.Models.Accounts.CostCenter

@{
    ViewBag.Title = "Create";
}

<section class="content">
    <div class="container-fluid">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()



            <div class="row">
                <!-- left column -->
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Cost Center Type</h3>

                            <div class="pull-right btn btn-outline warning">
                                @Html.ActionLink("Back to List", "Index")
                            </div>
                        </div>
                        <br />
                        <br />
                        <br />
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form role="form">
                            <div class="box-body">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="col-md-6">
                                    <div class="form-group" id="divCompany">
                                        <label for="ddlCompany">Company</label>
                                        <select class="form-control select2" style="width: 100%;" id="ddlCompany" onchange=""></select>

                                    </div>
                                    <div class="form-group" id="divCostCenterType">
                                        <label for="ddlCompany">Cost Center Type</label>
                                        @Html.DropDownList("CostCenterTypeId", null, "-- Select Cost Center Type --", htmlAttributes: new { @class = "form-control select2", @id = "costcenterTypeId" })
                                        @Html.ValidationMessageFor(model => model.CostCenterTypeId, "", new { @class = "text-danger" })

                                    </div>
                                    <div class="form-group" id="divCostCenterLayer">
                                        <label for="ddlCompany">Cost Center Layer</label>
                                        @Html.DropDownList("CostCenterLayerId", null, "-- Select Cost Center Layer --", htmlAttributes: new { @class = "form-control select2", @id = "costCenterLayer", @onchange = "LoadParent('ddlParent')" })
                                        @Html.ValidationMessageFor(model => model.CostCenterLayerId, "", new { @class = "text-danger" })
                                    </div>


                                    <div class="form-group" id="divParent">
                                        <label for="ddlCompany">Parent</label>
                                        <select class="form-control select2" style="width: 100%;" id="ddlParent" onchange=""></select>

                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>

                                                @*<input type="checkbox" id="isActive" checked="checked">*@
                                                <input type="checkbox" id="chkactive" checked="checked" />
                                                IsActive
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group" id="divActive">
                                        <label>Active Date:</label>

                                        <div class="input-group date">
                                            @*<div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>*@
                                            <input type="text" autocomplete="off" class="form-control pull-right datepicker" id="activeDate">
                                        </div>
                                    </div>

                                    <div class="form-group" id="divInActive">
                                        <label>InActive Date:</label>

                                        <div class="input-group date">
                                            @*<div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>*@
                                            <input type="text" autocomplete="off" class="form-control pull-right datepicker" id="inActiveDate">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" id="divAccId">
                                        <label for="accNO">Cost Center Name</label>
                                        <input type="text" class="form-control" id="accNO" placeholder="Enter Account">
                                        <input type="hidden" class="form-control" id="costCenterId" value="0" placeholder="Enter Account">
                                    </div>

                                    <div class="form-group" id="divdesId">
                                        <label for="accNO">Description</label>
                                        <textarea class="form-control" rows="3" placeholder="Enter ..." id="description"></textarea>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label>

                                                        <input type="radio" id="isBudget" name="isBud" value="1" checked="checked">
                                                        Is Budget Center
                                                    </label>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-3">


                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label>

                                                        <input type="radio" id="isProfit" name="isBud" value="2">
                                                        Is Profit Center
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6"></div>
                                    </div>



                            
                                </div>


                            </div>
                            <!-- /.box-body -->

                            <div class="box-footer">
                                <input type="button" value="Create" onclick="saveCostCenter()" class="btn btn-primary pull-right" />
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-1"></div>

            </div>
        }
    </div>
</section>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {

            LoadCompany('ddlCompany');
            $("#divInActive").hide();
            $("#chkactive").on("change", function () {
                debugger;
                if ($('#chkactive').is(':checked')) {

                    $("#divInActive").hide();
                    $("#divActive").show();

                } else {

                    $("#divActive").hide();
                    $("#divInActive").show();

                }
            });


            //$("#chkactive").change(function () {
            //    alert("Am i checked");
            //});
        });

        function LoadParent(elementId) {
            var layer = $('#costCenterLayer').val();

            $.ajax({
                url: "/CostCenters/GetParent",
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",
                data: { id: layer },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Cost Center Parent--</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].CostCenterId).html(data[i].CostCenterName));
                    }
                }
            });
        }

        function saveCostCenter() {

            if (Validation()) {
                debugger;
                var jsonData = {};
                jsonData["CostCenterId"] = parseInt($('#costCenterId').val().trim());
                jsonData["CompanyId"] = parseInt($('#ddlCompany').val().trim());
                jsonData["CostCenterTypeId"] = parseInt($('#costcenterTypeId').val().trim());
                jsonData["CostCenterLayerId"] = parseInt($('#costCenterLayer').val().trim());
                jsonData["ParentId"] = parseInt($('#ddlParent').val().trim());
                jsonData["CostCenterName"] = $('#accNO').val().trim();
                jsonData["Description"] = $('#description').val().trim();
                jsonData["IsBudgetCenter"] = $("input:radio[name='isBud']:checked").val() == 1 ? true : false;
                jsonData["IsProfitCenter"] = $("input:radio[name='isBud']:checked").val() == 2 ? true : false;
                jsonData["IsActive"] = $('#chkactive').is(':checked');
                if ($("#chkactive").prop("checked") == true) {
                    jsonData["ActiveDate"] = $('#activeDate').val();
                } else {
                    jsonData["InActiveDate"] = $('#inActiveDate').val();
                }


                var urlpath = '@Url.Action("SaveCostCenter", "CostCenters")';

                $.ajax({
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(jsonData),
                    dataType: 'json',
                    url: urlpath,
                    type: "POST",
                    success: function (aResponse) {
                        if (aResponse.isSuccess) {
                            //   $('#myModal').modal('toggle');
                            window.location.href = '@Url.Action("Index", "CostCenters")';

                        } else {

                            ShowMessage(aResponse.msg);
                        }
                    }
                });
            }
        }

        function Validation() {
            debugger;

            var isValid = true;
            if ($('#ddlCompany').val() == '' || $('#ddlCompany').val() == null || $('#ddlCompany').val() == 0) {
                ValidationColorChangeNew("ddlCompany", "divCompany", "Company is Required", false);
                isValid = false;
            }
            if ($("#chkactive").is(":checked") == true) {
                if ($('#activeDate').val() == '' || $('#activeDate').val() == null) {
                    ValidationColorChangeNew("activeDate", "divActive", "Active Date is Required", false);
                    isValid = false;
                }
            } else {
                if ($('#inActiveDate').val() == '' || $('#inActiveDate').val() == null) {
                    ValidationColorChangeNew("inActiveDate", "divInActive", "InActive Date is Required", false);
                    isValid = false;
                }
            }
            if ($('#accNO').val() == '' || $('#accNO').val() == null) {
                ValidationColorChangeNew("accNO", "divAccId", "Name is Required", false);
                isValid = false;
            }
            if ($('#description').val() == '' || $('#description').val() == null) {
                ValidationColorChangeNew("description", "divdesId", "Description is Required", false);
                isValid = false;
            }
            if ($('#costcenterTypeId').val() == '' || $('#costcenterTypeId').val() == null || $('#costcenterTypeId').val() == 0) {
                ValidationColorChangeNew("costcenterTypeId", "divCostCenterType", "Cost Center Type is Required", false);
                isValid = false;
            }
            if ($('#costCenterLayer').val() == '' || $('#costCenterLayer').val() == null || $('#costCenterLayer').val() == 0) {
                ValidationColorChangeNew("costCenterLayer", "divCostCenterLayer", "Cost Center Layer is Required", false);
                isValid = false;
            }
            var a = $('#costCenterLayer').val();
            if (parseInt($('#costCenterLayer').val()) != parseInt(1)) {
                if ($('#ddlParent').val() == '' || $('#ddlParent').val() == null || $('#ddlParent').val() == 0) {
                    ValidationColorChangeNew("ddlParent", "divParent", "Parent is Required", false);
                    isValid = false;
                }
            }
            return isValid;
        }


    </script>
}
