﻿@model IGFoodProject.Models.Accounts.CostCenter

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CostCenter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Company.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostCenterLayer.CostCenterLayerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostCenterLayer.CostCenterLayerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostCenterType.CostCenterTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostCenterType.CostCenterTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostCenterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostCenterName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsBudgetCenter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsBudgetCenter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsProfitCenter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsProfitCenter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActiveDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActiveDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InActiveDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InActiveDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
