﻿@model IEnumerable<IGFoodProject.Models.Accounts.CostCenter>

@{
    ViewBag.Title = "Index";
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <div class="pull-left">
                            <h3>Cost Center List</h3>
                        </div>
                        <div class="pull-right btn btn-outline warning">
                            @Html.ActionLink("Create New", "Create")
                        </div>
                    </div>
                    <br />
                    <br />
                    <br />
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="myTable" class="table table-bordered dataTable table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        SL#
                                    </th>
                                    <th>
                                        Company Name
                                    </th>
                                    <th>
                                        Cost Center Layer
                                    </th>
                                    <th>
                                        Cost Center Type
                                    </th>

                                    <th>
                                        Cost Center Name
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Budget Center
                                    </th>
                                    <th>
                                        Profit Center
                                    </th>
                                    <th>
                                        IsActive
                                    </th>
                                    <th>
                                        Active Date
                                    </th>
                                    <th>
                                        InActive Date
                                    </th>


                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    var count = 1;
                                    <tr>
                                        <td>@count</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CompanyName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LayerName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CostCenterTypeName)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.CostCenterName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IsBudgetCenter)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IsProfitCenter)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IsActive)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ActiveDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.InActiveDate)
                                        </td>

                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.CostCenterId })
                                        </td>
                                    </tr>
                                    count++;
                                }
                            </tbody>
                            <tfoot>

                            </tfoot>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </div>
    </section>
    
        @section Scripts{
            <script>
                $('#myTable').DataTable()
            </script>
        }
