﻿@model IEnumerable<IGFoodProject.ViewModel.ViewMrrDetails>
<div class="row">
    <div class="card-body">
        <table class="table table-bordered" id="mrrTable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Check</th>
                    <th>Item</th>
                    <th>Order Qty</th>
                    <th>Rem. Qty</th>
                    <th>Rem. KG</th>
                    @*<th >Prev. Receive Qty</th>*@
                    <th class="calhide">Prev. Receive Qty</th>
                    <th>Receive Qty</th>
                    <th class="calhide">Prev. Receive Kg</th>
                    <th>Receive Kg</th>
                    <th>Remarks</th>
                    <th>Full Receive</th>
                    <th>Status</th>

                </tr>
            </thead>
            <tbody>
            @{
                int count = 1;
            }
            @foreach (var item in Model)
            {

                <tr id="tr_@item.MRRDetailID">
                    <td>
                        @count

                    </td>
                    <td><input class="check1" type="checkbox"  checked  id="check_@item.MRRDetailID" onclick="CheckPurchase(@item.MRRDetailID)" disabled="disabled"/></td>
                    <td>
                        <label>@item.ItemDescription</label>
                        <input style="display: none" type="number" value="@item.ItemId" id="itemid_@item.MRRDetailID"/>
                    </td>
                    <td><label id="pur_@item.MRRDetailID">@item.PurchaseQty</label> 
                    <label style="display:none;" id="hidTolQty_@item.MRRDetailID">@item.toleranceqty</label>
                    <label style="display:none;" id="hidPreQty_@item.MRRDetailID">@item.preqty</label>
                     <label style="display:none;" id="hidOthQty_@item.MRRDetailID">@item.othqty</label></td>
                        @if (item.pReceiveStatus == 1)
                        {
                            <td>
                                <label id="remQty_@item.MRRDetailID">0</label>
                                <label style="display: none" id="hidRemQty_@item.MRRDetailID">0</label>
                            </td>
                        }
                        else
                        {
                            <td>
                                <label id="remQty_@item.MRRDetailID">@item.MRRRemainingQty</label>
                                <label style="display: none" id="hidRemQty_@item.MRRDetailID">@item.MRRRemainingQty</label>

                               
                            </td>
                        }

                    <td>
                        <label id="remKG_@item.MRRDetailID">@item.MRRRemainingKG</label>
                        <label style="display: none" id="hidRemKG_@item.MRRDetailID">@item.MRRRemainingKG</label>
                    </td>
                    <td class="calhide" >
                        <label id="prevQty_@item.MRRDetailID">@item.ItemQty</label>
                    </td>
                    <td>

                        <input type="number" id="recQty_@item.MRRDetailID" value="@item.ItemQty" class="form-control" oninput="ReceiveQtyInput(@item.MRRDetailID)" />
                        <input type="number" style="display: none"  id="recQtyHid_@item.MRRDetailID" value="@item.ItemQty" class="form-control" disabled="disabled"/>
                    </td>
                    <td class="calhide">
                        <label id="prevKG_@item.MRRDetailID">@item.ItemKG</label>
                    </td>
                    <td><input type="number" id="recKG_@item.MRRDetailID" value="@item.ItemKG" class="form-control" oninput="ReceiveKGInput(@item.MRRDetailID)" /></td>
                    <td><input type="text" id="remarks_@item.MRRDetailID" value="" class="form-control" /></td>
                    
                    @if (item.pReceiveStatus == 1)
                    {
                        <td><input type="checkbox" id="fullCheck_@item.MRRDetailID" onclick="CheckFullReceive(@item.MRRDetailID)"  checked /></td>
                        <td><label id="status_@item.MRRDetailID">Full</label></td>
                    }
                    else
                    {
                        <td><input type="checkbox" id="fullCheck_@item.MRRDetailID" onclick="CheckFullReceive(@item.MRRDetailID)"   /></td>
                        <td><label id="status_@item.MRRDetailID">Partial</label></td>
                    }

                   
                    <td style="display: none;">
                        <input type="text" id="purchDetails_@item.MRRDetailID" class="form-control" value="@item.PurchaseOrderDetailID"/>
                        <input type="text" id="mrrDetails_@item.MRRDetailID" class="form-control" value="@item.MRRDetailID"/>
                    </td>
                </tr>
                count++;

            }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3"><label>Total Receive</label></td>
                    <td><label id="totalRecQty"></label></td>
                    <td></td>
                    <td><label id="totalRecKg"></label></td>
                    <td colspan="5"></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<script type="text/javascript">
    function CheckPurchase(id) {

        if ($('#check_' + id).is(':checked')) {

            $('#recQty_' + id).attr('disabled', false);
            $('#recKG_' + id).attr('disabled', false);
            $('#remarks_' + id).attr('disabled', false);
            $('#fullCheck_' + id).attr('disabled', false);
            $('#fullCheck_' + id).prop('checked', true);
        }
        else {
             
            var hidQty = parseFloat($('#hidRemQty_' + id).html());
            var hidKG = parseFloat($('#hidRemKG_' + id).html());

            $('#remQty_' + id).html(hidQty);
            $('#recQty_' + id).val(hidQty);
            $('#remKG_' + id).html(hidKG);
            $('#recKG_' + id).val(hidKG);
            $('#recQty_' + id).attr('disabled', true);
            $('#recKG_' + id).attr('disabled', true);
            $('#remarks_' + id).attr('disabled', true);
            $('#fullCheck_' + id).attr('disabled', true);
            $('#fullCheck_' + id).prop('checked', false);




        }
        TotalReceiveQty();
    }
    function CheckFullReceive(id) {
        if ($('#fullCheck_' + id).is(':checked')) {
             
            $('#status_' + id).html('Full');
        } else {

            ReceiveQtyInput(id);
            TotalReceiveQty();
        }
    }
    function TotalReceiveQty() {
        var recQty = 0;
        var recKg = 0;
        $('#mrrTable tbody tr').each(function () {
            var idr = $(this).attr('id');
            var id = idr.substring(3);
            if ($('#check_' + id).is(':checked')) {
                var qty = isNaN(parseFloat($('#recQty_' + id).val())) ? 0 : parseFloat($('#recQty_' + id).val());
                var kg = isNaN(parseFloat($('#recKG_' + id).val())) ? 0 : parseFloat($('#recKG_' + id).val());
                recQty += qty;
                recKg += kg;
            }

        });
        $('#totalRecQty').html(recQty);
        $('#totalRecKg').html(recKg);
    }
    function ReceiveQtyInput(id) {
        
        var remQty = isNaN(parseFloat($('#remQty_' + id).html().trim())) ? 0 : parseFloat($('#remQty_' + id).html().trim());
        var recQty = isNaN(parseFloat($('#recQty_' + id).val())) ? 0 : parseFloat($('#recQty_' + id).val());
        var hidQty = isNaN(parseFloat($('#hidRemQty_' + id).html())) ? 0 : parseFloat($('#hidRemQty_' + id).html());
        var prevQty = isNaN(parseFloat($('#prevQty_' + id).html())) ? 0 : parseFloat($('#prevQty_' + id).html());
        var orderQty = isNaN(parseFloat($('#pur_' + id).html())) ? 0 : parseFloat($('#pur_' + id).html());

        var tolQty = isNaN(parseFloat($('#hidTolQty_' + id).html()))?0:parseFloat($('#hidTolQty_' + id).html());
        var preQty = isNaN(parseFloat($('#hidPreQty_' + id).html()))?0:parseFloat($('#hidPreQty_' + id).html());
        var othQty = isNaN(parseFloat($('#hidOthQty_' + id).html()))?0:parseFloat($('#hidOthQty_' + id).html());
        
        var checkp = $("#fullCheck_" + id).is(':checked');

        if(tolQty==0)
        {
            if (hidQty == 0 && checkp == true)
            {
                if(recQty<prevQty)
                {
                    $('#remQty_' + id).html(prevQty - recQty);
                    //$('#status_' + id).html('Partial');
                }
            }
            else if (hidQty == 0 && checkp == false) {
                if (recQty < prevQty) {
                    $('#remQty_' + id).html(prevQty - recQty);
                    $('#status_' + id).html('Partial');
                }
            }

            if (recQty == 0) {
                if (prevQty > 0)
                {
                    $('#remQty_' + id).html((hidQty + prevQty));
                }
                else {
                    $('#remQty_' + id).html((hidQty));
                }
            
            }
            else if (recQty > (hidQty + prevQty)) {
                $('#recQty_' + id).val((hidQty + prevQty));
                $('#status_' + id).html('Full');
                $('#remQty_' + id).html(0);
                $('#fullCheck_' + id).prop('checked', true);
                swal("Receive qty can not greater then " + prevQty);
            }
            else if (recQty < (hidQty + prevQty)) {
                remQty = (hidQty + prevQty) - recQty;
                $('#remQty_' + id).html(remQty);
                $('#status_' + id).html('Partial');
                $('#fullCheck_' + id).prop('checked', false);
            }
            else if (recQty == (hidQty)) {
                remQty = (hidQty) - recQty;
                $('#remQty_' + id).html(remQty);
                $('#status_' + id).html('Full');
                $('#fullCheck_' + id).prop('checked', true);
            }
            else if (orderQty == (hidQty + prevQty)){
                $('#remQty_' + id).html(0);
                $('#status_' + id).html('Full');
                $('#fullCheck_' + id).prop('checked', true);
            }
            else {

            }
        }
        else
        {
            if (hidQty == 0 && checkp == true)
            {
                //alert(1);
                if(recQty<prevQty)
                {
                    $('#remQty_' + id).html(prevQty - recQty);
                    //$('#status_' + id).html('Partial');
                }
                else
                {

                }
            }
            else if (hidQty == 0 && checkp == false) {
                //alert(2);
                if (recQty < prevQty) {
                    $('#remQty_' + id).html(prevQty - recQty);
                    $('#status_' + id).html('Partial');
                }
               else if(recQty == prevQty)
                {
                    var newqty=othQty+recQty;
                    if(newqty>tolQty)
                    {
                        swal("Tolerance qty is "+tolQty+". For access qty create new requisition and purchase order then receive");
                        $('#recQty_' + id).val(tolQty-preQty);
                        $('#remQty_' + id).html('0');
                        $('#status_' + id).html('Full');
                        $('#fullCheck_' + id).prop('checked', true);
                    }
                    else if (newqty<tolQty && newqty>orderQty)
                    {
                   
                        $('#remQty_' + id).html('0');
                        $('#status_' + id).html('Full');
                        $('#fullCheck_' + id).prop('checked', true);
                    }
               }
               else
               {
                   var newqty=othQty+recQty;
                   if(newqty>tolQty)
                   {
                       //alert('shahinoor');
                       swal("Tolerance qty is "+tolQty+". For access qty create new requisition and purchase order then receive");
                       $('#recQty_' + id).val((tolQty-preQty)+prevQty);
                       $('#remQty_' + id).html('0');
                       $('#status_' + id).html('Full');
                       $('#fullCheck_' + id).prop('checked', true);
                   }
                   else if (newqty<tolQty && newqty>orderQty)
                   {
                   
                       $('#remQty_' + id).html('0');
                       $('#status_' + id).html('Full');
                       $('#fullCheck_' + id).prop('checked', true);
                   }
                   else if(newqty==tolQty)
                   {
                       $('#remQty_' + id).html('0');
                       $('#status_' + id).html('Full');
                       $('#fullCheck_' + id).prop('checked', true);
                   }
               }
            }

            if (recQty == 0) {
                //alert(3);
                if (prevQty > 0)
                {
                    var qty=(othQty+recQty);
                    if(orderQty>qty)
                    {
                        remQty = orderQty - qty;
                        $('#remQty_' + id).html(remQty);
                        $('#status_' + id).html('Partial');
                        $('#fullCheck_' + id).prop('checked', false);
                    }
                    //$('#remQty_' + id).html((hidQty + prevQty));
                }
                else {
                    $('#remQty_' + id).html((hidQty));
                }
            
            }
            else if (recQty > tolQty) {
                //alert(4);
                $('#recQty_' + id).val((tolQty-othQty));
                $('#status_' + id).html('Full');
                $('#remQty_' + id).html(0);
                $('#fullCheck_' + id).prop('checked', true);
                //swal("Receive qty can not greater then " + prevQty);
            }
            else if ((recQty > (hidQty + prevQty)) && (recQty+othQty)<tolQty) {
                alert(5);
                //$('#recQty_' + id).val((hidQty + prevQty));
                $('#status_' + id).html('Full');
                $('#remQty_' + id).html(0);
                $('#fullCheck_' + id).prop('checked', true);
                //swal("Receive qty can not greater then " + prevQty);
            }
            else if (recQty < (hidQty + prevQty)) {
                //alert(6);
                if(tolQty>0)
                {
                    if(preQty>0)
                    {
                        var qty=(othQty+recQty);
                        if(orderQty>qty)
                        {
                            remQty = orderQty - qty;
                            $('#remQty_' + id).html(remQty);
                            $('#status_' + id).html('Partial');
                            $('#fullCheck_' + id).prop('checked', false);
                        }
                    
                    }
                }
                else{
                    remQty = (hidQty + prevQty) - recQty;
                    $('#remQty_' + id).html(remQty);
                    $('#status_' + id).html('Partial');
                    $('#fullCheck_' + id).prop('checked', false);
                }
            
            }
            else if (recQty == (hidQty)) {
                //alert(7);
                remQty = (hidQty) - recQty;
                $('#remQty_' + id).html(remQty);
                $('#status_' + id).html('Full');
                $('#fullCheck_' + id).prop('checked', true);
            }
            else if (orderQty == (hidQty + prevQty)){
                //alert(8);
                $('#remQty_' + id).html(0);
                $('#status_' + id).html('Full');
                $('#fullCheck_' + id).prop('checked', true);
            }
            else {

            }
        }

        
        TotalReceiveQty();
    }

    function ReceiveKGInput(id) {

        var remKG = isNaN(parseFloat($('#remKG_' + id).html().trim())) ? 0.00 : parseFloat($('#remKG_' + id).html().trim());
        var recKG = isNaN(parseFloat($('#recKG_' + id).val())) ? 0.00 : parseFloat($('#recKG_' + id).val());
        var hidKG = isNaN(parseFloat($('#hidRemKG_' + id).html())) ? 0.00 : parseFloat($('#hidRemKG_' + id).html());
        var prevKg = isNaN(parseFloat($('#prevKG_' + id).html())) ? 0.00 : parseFloat($('#prevKG_' + id).html());

        
        //if (recKG == 0) {
        //    $('#remKG' + id).html(hidKG);
        //}
        //else if (recKG > hidKG) {
        //    $('#recKG_' + id).val(hidKG)
        //    $('#status_' + id).html('Full')
        //}
        //else if (recKG < (hidKG+prevKg)) {
        //    remKG = (hidKG+prevKg) - recKG
        //    $('#remKG_' + id).html(remKG);
        //    $('#status_' + id).html('Partial')
        //}
        //else if (recKG == (hidKG+prevKg)) {
        //    recKG = (hidKG+prevKg) - recKG
        //    $('#remKG_' + id).html(recKG);
        //    $('#status_' + id).html('Full')
        //}
        //else {

        //}
    }

    //var remKg = parseFloat($('#remKG_' + id).html().trim());
</script>

