﻿@model IGFoodProject.ViewModel.ViewPurchaseOrderMaster
    <div class="row jumbotron">
        <div class="col-md-2">
            <div class="card-body">
                <div class="form-group">
                    <label class="label-primary">Purchase  No: @Model.PurchaseOrderNo</label>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card-body">
                <div class="form-group">
                    <label>Supplier: @Model.SupplierName</label>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card-body">
                <div class="form-group">
                    <label>Delivery to: @Model.WareHouseName</label>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card-body">
                <div class="form-group">
                    <label>Order Date: @Convert.ToDateTime(Model.OrderDate).ToString("dd-MMM-yyyy")</label>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-body">
                <div class="form-group">
                    <label>Order By: @Model.OrderBY</label>
                </div>
            </div>
        </div>
    </div>


<div class="row">
    <div class="card-body">
        <table class="table table-bordered" id="mrrTable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Check</th>
                    <th>Item</th>

                    <th>Order Qty</th>
                    <th>Rem. Qty</th>
                    <th>Rem. KG</th>
                    <th>Receive Qty</th>
                    <th>Receive Kg</th>
                    <th>Remarks</th>
                    <th>Full Receive</th>
                    <th>Status</th>

                </tr>
            </thead>
            <tbody>
            @{
                int count = 1;
            }
            @foreach (var item in Model.Details)
            {

                <tr id="tr_@item.PurchaseOrderDetailID">
                    <td>
                        @count

                    </td>
                    <td><input class="check1" type="checkbox" id="check_@item.PurchaseOrderDetailID" onclick="CheckPurchase(@item.PurchaseOrderDetailID);ReceiveQtyInput(@item.PurchaseOrderDetailID);"/></td>
                    <td>
                        <label>@item.ItemDescription</label>
                        <input style="display: none" type="number" value="@item.ItemId" id="itemid_@item.PurchaseOrderDetailID"/>
                    </td>
                    <td><label>@item.PurchaseQty</label></td>
                    <td>
                        <label id="remQty_@item.PurchaseOrderDetailID">@item.MRRRemainingQty</label>
                        <label style="display: none" id="hidRemQty_@item.PurchaseOrderDetailID">@item.MRRRemainingQty</label>
                        <label style="display: none" id="hidTolQty_@item.PurchaseOrderDetailID">@item.toleranceqty</label>
                        <label style="display: none" id="hidPreQty_@item.PurchaseOrderDetailID">@item.preqty</label>
                    </td>
                    <td>
                        <label id="remKG_@item.PurchaseOrderDetailID">@item.MRRRemainingKG</label>
                        <label style="display: none" id="hidRemKG_@item.PurchaseOrderDetailID">@item.MRRRemainingKG</label>
                    </td>
                    <td><input type="number" id="recQty_@item.PurchaseOrderDetailID" value="@item.MRRRemainingQty" class="form-control" oninput="ReceiveQtyInput(@item.PurchaseOrderDetailID)" disabled="disabled"/></td>
                    <td><input type="number" id="recKG_@item.PurchaseOrderDetailID" value="@item.MRRRemainingKG" class="form-control" oninput="ReceiveKGInput(@item.PurchaseOrderDetailID)" disabled="disabled"/></td>
                    <td><input type="text" id="remarks_@item.PurchaseOrderDetailID" value="" class="form-control" disabled="disabled"/></td>
                    <td><input type="checkbox" id="fullCheck_@item.PurchaseOrderDetailID" onclick="CheckFullReceive(@item.PurchaseOrderDetailID)" checked="checked" disabled="disabled"/></td>
                    <td><label id="status_@item.PurchaseOrderDetailID">Full</label></td>
                    <td style="display: none">
                        <input type="text" id="purchDetails_@item.PurchaseOrderDetailID" class="form-control" value="@item.PurchaseOrderDetailID"/>
                        <input type="text" id="mrrDetails_@item.PurchaseOrderDetailID" class="form-control" value="0"/>
                    </td>
                </tr>
                count++;

            }
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3"><label>Total Receive</label></td>
                <td ><label id="totalRecQty"></label></td>
                <td></td>
                <td ><label id="totalRecKg"></label></td>
                <td colspan="5"></td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>



<script type="text/javascript">
    function CheckPurchase(id) {
        
        if ($('#check_' + id).is(':checked')) {
          
            $('#recQty_' + id).attr('disabled', false);
            $('#recKG_' + id).attr('disabled', false);
            $('#remarks_' + id).attr('disabled', false);
            //$('#fullCheck_' + id).attr('disabled', false);
            //$('#fullCheck_' + id).prop('checked', true); // change by shahinoor for payment and one purchase one mrr
        }
        else {
             
            //$('#fullCheck_' + id).prop('checked', false); // change by shahinoor for payment and one purchase one mrr
            var hidQty = parseFloat($('#hidRemQty_' + id).html());
            var hidKG = parseFloat($('#hidRemKG_' + id).html());

            $('#remQty_' + id).html(hidQty);
            $('#recQty_' + id).val(hidQty);
            $('#remKG_' + id).html(hidKG);
            $('#recKG_' + id).val(hidKG);
            $('#recQty_' + id).attr('disabled', true);
            $('#recKG_' + id).attr('disabled', true);
            $('#remarks_' + id).attr('disabled', true);
            
          
            //$('#fullCheck_' + id).attr('disabled', true); // change by shahinoor for payment and one purchase one mrr
           
           

            

        }
        TotalReceiveQty();
    }

    function CheckFullReceive(id) {
        if ($('#fullCheck_' + id).is(':checked')) {
            $('#status_' + id).html('Full');
        } else {
            ReceiveQtyInput(id);
            TotalReceiveQty();
        }
    }

    function ReceiveQtyInput(id) {

        var remQty = isNaN(parseFloat($('#remQty_' + id).html().trim())) ? 0 : parseFloat($('#remQty_' + id).html().trim());
        var recQty = isNaN(parseFloat($('#recQty_' + id).val())) ? 0 : parseFloat($('#recQty_' + id).val());
        var hidQty = isNaN(parseFloat($('#hidRemQty_' + id).html()))?0:parseFloat($('#hidRemQty_' + id).html());
        var tolQty = isNaN(parseFloat($('#hidTolQty_' + id).html()))?0:parseFloat($('#hidTolQty_' + id).html());
        var preQty = isNaN(parseFloat($('#hidPreQty_' + id).html()))?0:parseFloat($('#hidPreQty_' + id).html());
        if (recQty == 0) {
             $('#remQty_' + id).html(hidQty);
        }
        else if (recQty > hidQty) {
            if(tolQty>0)
            {
                if(preQty>0)
                {
                    if((recQty+preQty) > tolQty)
                    {
                        swal("Tolerance qty is "+tolQty+". For access qty create new requisition and purchase order then receive");
                        $('#recQty_' + id).val(tolQty-preQty);
                        $('#remQty_' + id).html('0');
                        //$('#status_' + id).html('Full');
                        // $('#fullCheck_' + id).prop('checked', true); // change by shahinoor
                    }
                    else{
                        $('#remQty_' + id).html('0');
                        //$('#status_' + id).html('Full');
                        //$('#fullCheck_' + id).prop('checked', true); // change by shahinoor
                    }
                }
                else{
                    if((recQty) > tolQty)
                    {
                        swal("Tolerance qty is "+tolQty+". For access qty create new requisition and purchase order then receive");
                        $('#recQty_' + id).val(tolQty);
                        $('#remQty_' + id).html('0');
                        //$('#status_' + id).html('Full');
                        // $('#fullCheck_' + id).prop('checked', true); // change by shahinoor
                    }
                    else if(recQty<tolQty)
                    {
                      
                        $('#remQty_' + id).html('0');
                        //$('#status_' + id).html('Full');
                        //$('#fullCheck_' + id).prop('checked', true); // change by shahinoor
                    }
                    else if(recQty==tolQty)
                    {
                      
                        $('#remQty_' + id).html('0');
                        //$('#status_' + id).html('Full');
                        //$('#fullCheck_' + id).prop('checked', true); // change by shahinoor
                    }
                }
                
            }
            else{
                $('#recQty_' + id).val(hidQty);
                $('#remQty_' + id).html('0');
                //$('#status_' + id).html('Full');
                // $('#fullCheck_' + id).prop('checked', true); // change by shahinoor
            }
            
            
        }
        else if (recQty < hidQty) {
            remQty = hidQty - recQty;
            $('#remQty_' + id).html(remQty);
            //$('#status_' + id).html('Partial');
            //  $('#fullCheck_' + id).prop('checked', false); // change by shahinoor
        }
        else if (recQty == hidQty) {
            remQty = hidQty - recQty;
            $('#remQty_' + id).html(remQty);
            //$('#status_' + id).html('Full');
            //  $('#fullCheck_' + id).prop('checked', true); // change by shahinoor
        }
        else {

        }
        TotalReceiveQty();
    }

    function ReceiveKGInput(id) {
        
        var remKG = isNaN(parseFloat($('#remKG_' + id).html().trim())) ? 0.00 : parseFloat($('#remKG_' + id).html().trim());
        var recKG = isNaN(parseFloat($('#recKG_' + id).val())) ? 0.00 : parseFloat($('#recKG_' + id).val());
        var hidKG = isNaN( parseFloat($('#hidRemKG_' + id).html()))?0.00: parseFloat($('#hidRemKG_' + id).html());
        //if (recKG == 0) {
        //    $('#remKG' + id).html(hidKG);
        //}
        //else if (recKG > hidKG) {
        //    $('#recKG_' + id).val(hidKG);
        //    $('#status_' + id).html('Full');
        //}
        //else if (recKG < hidKG) {
        //    remKG = hidKG - recKG;
        //    $('#remKG_' + id).html(remKG);
        //    $('#status_' + id).html('Partial');
        //}
        //else if (recKG == hidKG) {
        //    recKG = hidKG - recKG;
        //    $('#remKG_' + id).html(recKG);
        //    $('#status_' + id).html('Full');
        //}
        //else {

        //}
        TotalReceiveQty();
    }
    function TotalReceiveQty() {
        var recQty = 0;
        var recKg = 0;
        $('#mrrTable tbody tr').each(function() {
            var idr = $(this).attr('id');
            var id = idr.substring(3);
            if ($('#check_' + id).is(':checked')) {
                var qty = isNaN(parseInt($('#recQty_' + id).val())) ? 0 : parseInt($('#recQty_' + id).val());
                var kg = isNaN(parseInt($('#recKG_' + id).val())) ? 0 : parseInt($('#recKG_' + id).val());
                recQty += qty;
                recKg += kg;
            }

        });
        $('#totalRecQty').html(recQty);
        $('#totalRecKg').html(recKg);
    }
    //var remKg = parseFloat($('#remKG_' + id).html().trim());
</script>

