﻿@model IEnumerable<IGFoodProject.ViewModel.ViewMrrDetails>
    
<div class="row">
    <div class="card-body">
        <table class="table table-bordered" id="mrrTable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Item</th>
                    <th>Order Qty</th>
                    <th>Rem. Qty</th>
                    <th>Rem. KG</th>
                    <th class="calhide">Prev. Receive Qty</th>
                    <th>Receive Qty</th>
                    <th class="calhide">Prev. Receive Kg</th>
                    <th>Receive Kg</th>
                    <th>Remarks</th>
                    
                </tr>
            </thead>
            <tbody>
                @{
                    int count = 1;
                }
                @foreach (var item in Model)
            {

                    <tr id="tr_@item.MRRDetailID">
                        <td>
                            @count
                        </td>
                        <td>
                            <label>@item.ItemDescription</label>
                            <input style="display: none" type="number" value="@item.ItemId" id="itemid_@item.MRRDetailID" />
                        </td>
                        <td><label id="pur_@item.MRRDetailID">@item.PurchaseQty</label></td>
                        @if (item.pReceiveStatus == 1)
                        {
                            <td>
                                <label id="remQty_@item.MRRDetailID">0</label>
                                <label style="display: none" id="hidRemQty_@item.MRRDetailID">0</label>
                            </td>
                        }
                        else
                        {
                            <td>
                                <label id="remQty_@item.MRRDetailID">@item.MRRRemainingQty</label>
                                <label style="display: none" id="hidRemQty_@item.MRRDetailID">@item.MRRRemainingQty</label>
                            </td>
                        }
                        <td>
                            <label id="remKG_@item.MRRDetailID">@item.MRRRemainingKG</label>
                            <label style="display: none" id="hidRemKG_@item.MRRDetailID">@item.MRRRemainingKG</label>
                        </td>
                        <td class="calhide">
                            <label id="prevQty_@item.MRRDetailID">@item.ItemQty</label>
                        </td>
                        <td>
                            <input type="number" id="recQty_@item.MRRDetailID" value="@item.ItemQty" class="form-control" oninput="ReceiveQtyInput(@item.MRRDetailID)" disabled="disabled" />
                            <input type="number" style="display: none" id="recQtyHid_@item.MRRDetailID" value="@item.ItemQty" class="form-control" disabled="disabled" />
                        </td>
                        <td>
                            <label id="prevKG_@item.MRRDetailID">@item.ItemKG</label>
                        </td>
                        <td><input type="number" id="recKG_@item.MRRDetailID" value="@item.ItemKG" class="form-control" oninput="ReceiveKGInput(@item.MRRDetailID)" disabled="disabled" /></td>
                        <td><input type="text" id="remarks_@item.MRRDetailID" value="" class="form-control" disabled="disabled" /></td>

                    </tr>
                    count++;

                }
            </tbody>
        </table>
    </div>
</div>

