﻿@model IGFoodProject.ViewModel.ViewPurchaseOrderMaster

<div class="row jumbotron">
    <div class="col-md-2">
        <div class="card-body">
            <div class="form-group">
                <label class="label-primary">Purchase  No: @Model.PurchaseOrderNo</label>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card-body">
            <div class="form-group">
                <label>Supplier: @Model.SupplierName</label>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card-body">
            <div class="form-group">
                <label>Delivery to: @Model.WareHouseName</label>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card-body">
            <div class="form-group">
                <label>Order Date: @Convert.ToDateTime(Model.OrderDate).ToString("dd-MMM-yyyy")</label>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card-body">
            <div class="form-group">
                <label>Order By: @Model.OrderBY</label>
            </div>
        </div>
    </div>
</div>
<div  id="mrrDetails">

</div>
