﻿@model IEnumerable<IGFoodProject.ViewModel.ViewMrrMaster>


<div class="row">
    <div class="card-body">
        <table class="dataTable table table-bordered" id="mrrTable">
            <thead style="background-color: peachpuff">
                <tr>
                    <th>#</th>
                    <th>Mrr NO</th>
                    <th>PurchaseOrderNo</th>
                    <th>OrderDate</th>
                    <th>Received Date</th>
                    <th>Received By</th>
                    <th>Remarks</th>
                    <th>Warehouse</th>
                    <th>Supplier</th>
                    <th>Receive Qty</th>
                    <th>Receive Kg</th>
                    <th>Receive Time</th>
                    <th>Mrr Status</th>
                    <th>Dressed Complete</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int count = 1;
                }
                @foreach (var item in Model)
            {

                    <tr id="tr_@item.">
                        <td>
                            @count
                        </td>
                        <td><a href="#" onclick="ViewDetails(@item.MRRMasterId)">@item.MRRNo</a></td>
                        <td>@item.PurchaseOrderNo</td>
                        <td>@item.OrderDate.ToString("dd MMM yyyy")</td>
                        <td>@item.MRRDate.ToString("dd MMM yyyy")</td>
                        <td>@item.ReceiveBy</td>
                        <td>@item.Remarks</td>
                        <td>@item.WareHouseName</td>
                        <td>@item.SupplierName</td>
                        <td>@item.TotalReceiveQty</td>
                        <td>@item.TotalReceiveKg</td>
                        <td>@item.ReceiveTime</td>
                        @if (item.MRRStatus == 1)
                        {

                            <td style="color: green">Full Received</td>
                        }
                        @if (item.MRRStatus == 2)
                        {

                            <td style="color: red">Partial Received</td>
                        }
                        @if (item.DressedComplete == 0)
                        {

                            <td style="color: red">Dressed Pending</td>
                        }
                        @if (item.DressedComplete == 1)
                        {

                            <td style="color: green">Dressed Completed</td>
                        }
                    </tr>
                    count++;

                }
            </tbody>
            @*<tfoot>
                    <tr>
                        <td colspan="3"><label>Total Receive</label></td>
                        <td><label id="totalRecQty"></label></td>
                        <td></td>
                        <td><label id="totalRecKg"></label></td>
                        <td colspan="5"></td>
                    </tr>
                </tfoot>*@
        </table>
    </div>
</div>
