﻿@model IEnumerable<IGFoodProject.ViewModel.ViewMrrMaster>

<table id="table1" class="dataTable table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th><input type='checkbox' class='iradio_minimal-blue' id='checkAll' onclick='SelectAllCheckboxFunc()' /></th>
            <th>#</th>
            <th>MRR No.</th>
            <th>PO No.</th>

            <th>MRR Date</th>
            <th>Warehouse</th>
            <th>Create Date</th>
            <th>Reaceive By</th>
            <th>Receive Qty</th>
            <th>Receive KG</th>
        </tr>
    </thead>
    <tbody>
        @{ int count = 1;}
        @foreach (var item in Model)
        {
            <tr class="rowTr" id="@item.MRRMasterId">
                <td><input type='checkbox' class='iradio_minimal-blue checkp' id='check_@count' onclick='Checkp(@count)' /></td>
                <td>@count</td>
                <td>@item.MRRNo</td>
                <td>@item.PurchaseOrderNo</td>
                <td>@Convert.ToDateTime(item.MRRDate).ToString("dd-MMM-yyyy")</td>
                <td>@item.WareHouseName</td>
                <td>@Convert.ToDateTime(item.CreateDate).ToString("dd-MMM-yyyy")</td>
                <td>@item.ReceiveBy</td>
                <td>@item.TotalReceiveQty.ToString("#,##,0.00")</td>
                <td>@item.TotalReceiveKg.ToString("#,##,0.00")</td>

            </tr>
            count++;
        }
    </tbody>
</table>

