﻿@model IEnumerable<IGFoodProject.ViewModel.ViewMrrMaster>
    

<div class="row">
    <div class="card-body">
        <table class="table table-bordered dataTable" id="mrrTable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Mrr NO</th>
                    <th>PurchaseOrderNo</th>
                    <th>OrderDate</th>
                    <th>Received Date</th>
                    <th>Received By</th>
                    <th>Remarks</th>
                    <th>Warehouse</th>
                    <th>Supplier</th>
                    <th>Receive Qty</th>
                    <th>Receive Kg</th>
                    <th>Receive Time</th>
                    <th>Mrr Status</th>
                    <th>Dressed Complete</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int count = 1;
                }
                @foreach (var item in Model)
            {

                    <tr id="tr_@item.">
                        <td>
                            @count
                        </td>
                        <td>@item.MRRNo</td>
                        <td>@item.PurchaseOrderNo</td>
                        <td>@item.OrderDate</td>
                        <td>@item.MRRDate</td>
                        <td>@item.ReceiveBy</td>
                        <td>@item.Remarks</td>
                        <td>@item.WareHouseName</td>
                        <td>@item.SupplierName</td>
                        <td>@item.TotalReceiveQty</td>
                        <td>@item.TotalReceiveKg</td>
                        <td>@item.ReceiveTime</td>
                        <td>@item.MRRStatus</td>
                        <td>@item.DressedComplete</td>
                    </tr>
                    count++;

                }
            </tbody>
            @*<tfoot>
                <tr>
                    <td colspan="3"><label>Total Receive</label></td>
                    <td><label id="totalRecQty"></label></td>
                    <td></td>
                    <td><label id="totalRecKg"></label></td>
                    <td colspan="5"></td>
                </tr>
            </tfoot>*@
        </table>
    </div>
</div>
