﻿
@{
    ViewData["Title"] = "Mrr Entry";
}
<style>
   
</style>

    
    <section class="content">
        <div class="container-fluid">
            <div class="row ">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4>Bird Receive Entry Page</h4>
                                    </div>
                                    @*<div class="col-md-3">
                                        <a href="@Url.Action("Index", "MrR", new {id = 0})" class="card-title"><span class="fa fa-plus"></span> New Mrr Entry</a>
                                    </div>*@
                                    <div class="col-md-6 text-right">
                                        <a class="btn btn-outline-warning" href="@Url.Action("MrrList", "MrR")">
                                           <span class="fa fa-list"></span>Bird Receive List</a>
                                    </div>
                                </div>
                            </div>

                             
                       
                        <!-- /.card-header -->
                        <!-- form start -->
                        <div class="row dinput">
                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divCompany">
                                        <label for="ddlCompany">Company</label>
                                        <select class="form-control select2" style="width: 100%;" id="ddlCompany"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divLocation">
                                        <label for="ddlLocation">Location</label>
                                        <select class="form-control select2" id="ddlLocation"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divWareHouse">
                                        <label for="ddlWareHouse">Warehouse</label>
                                        <select class="form-control select2" id="ddlWareHouse"></select>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divPurchaseOrder">
                                        <label for="ddlPurchaseOrder">Purchase Order</label>
                                        <select class="form-control select2" style="width: 100%;" id="ddlPurchaseOrder"  onchange="GetPurchaseOrder()" >
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card-body">
                                    <div class="form-group" id="divmrrNo">
                                        <h3 class="text-danger" id="mrrNo"></h3>

                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row dinput">
                            <div class="col-md-2">
                                <div class="card-body">
                                    <div class="form-group" id="divReceiveDate">
                                        <label for="txtReceiveDate">Receive Date</label>
                                        @*<input id="txtReceiveDate" value="@DateTime.Now.ToString("dd-MMM-yyyy")" class="form-control"/>*@
                                        <input type="text" autocomplete="off" class="form-control datepicker" id="txtReceiveDate" value="@DateTime.Now.ToString("dd-MMM-yyyy")"/>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="card-body">
                                    <div class="form-group" id="divTxtReceiveTime">
                                        <label>Receive Time</label>
                                        <div class="input-group date" id="timepicker" data-target-input="nearest">

                                            <input type="text" class="form-control datetimepicker-input" id="txtReceiveTime" data-target="#timepicker" />
                                            <div class="input-group-append" data-target="#timepicker" data-toggle="datetimepicker">
                                                <div class="input-group-text">
                                                    <i class="far fa-clock"></i>
                                                </div>
                                            </div>
                                        </div>

                                       
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card-body">
                                    <div class="form-group" id="divReceiveBy">
                                        <label for="empAutoCom">Receive By</label>
                                        <input type="text" class="form-control" id="empAutoCom" />
                                        <input type="number"  style="display:none" class="form-control" id="employeeSelect" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card-body">
                                    <div class="form-group" id="divRemarks">
                                        <label for="txtRemarks">Remarks</label>
                                        <input type="text" class="form-control" id="txtRemarks" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="purchaseOrderDiv">

                        </div>
                        <div id="mrrDetailsTable">

                        </div>

                        <br/>
                        <hr/>
                        <div class="row" style="padding-top:10px" >
                            <div class="col-md-8">
                            </div>
                            <div class="col-md-4">

                                <div class="form-group row" id="divtrans" style="display: none">
                                    <div class="col-sm-4">
                                    </div>
                                    <label for="txtTransportCost" class="col-sm-3 control-label">Transport Cost:</label>
                                    <div class="col-sm-4">
                                        <input type="number" class="form-control" id="txtTransportCost" aria-describedby="basic-addon3" oninput="limitDecimals(this);CalculateAll()">
                                    </div>
                                    <div class="col-sm-1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 10px" >
                            <div class="col-md-8">
                            </div>
                            <div class="col-md-4">

                                <div class="form-group row" id="divlabour" style="display: none">
                                    <div class="col-sm-4">
                                    </div>
                                    <label for="txtLaborCost" class="col-sm-3 control-label">Labour Cost:</label>
                                    <div class="col-sm-4">
                                        <input type="number" class="form-control" id="txtLaborCost" aria-describedby="basic-addon3" oninput="limitDecimals(this);CalculateAll()">
                                    </div>
                                    <div class="col-sm-1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div>

                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button class="btn btn-primary float-right" id="btnSub" onclick="SaveMrr()">Submit</button>
                                <button class="btn btn-danger float-right" id="btnClose" onclick="CloseMRR()">Close</button>
                                <button class="btn btn-outline-danger  " id="btncancel" onclick="LoadPage()">Cancel</button>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
        <input id="mRRMasterID" type="number" style="display:none;"  value="@ViewBag.MrrMasterId">
        <input id="txtFlag" type="text" style="display:none;"  value="@ViewBag.Flag">
    </section>




@section Scripts{ 
    <script>
        $(document).ready(function () {
            $('#timepicker').datetimepicker({
                format: 'LT'
            });

            $('#txtReceiveDate').datepicker({
                startDate: '+0m',
                endDate: '+0m',
                todayHighlight: true,
                format: 'dd-M-yyyy',
                minDate: 0,
                autoclose: true
            });


            var comId = 0;
            var locId = 0;
            var wareId = 0;

            LoadCompany('ddlCompany');

            $('#ddlCompany').change(function ()
            {
                comId = $(this).val();
                LoadLocation('ddlLocation', comId);
            });
            $('#ddlLocation').change(function ()
            {
                locId = $(this).val();
                LoadWareHouse('ddlWareHouse', locId , 1);
            });

            $('#ddlWareHouse').change(function () {

                wareId = $(this).val();
                locId = $('#ddlLocation').val();
                var asd = $('#mRRMasterID').val();
                //if (isNaN(parseInt($('#mRRMasterID').val())) ? 0 : parseInt($('#mRRMasterID').val()) == 0) {
                //    LoadPurchaseOrder('ddlPurchaseOrder', locId, wareId);
                //}

                if (parseInt($('#mRRMasterID').val()) ==0 || $('#mRRMasterID').val()  == "") {
                    LoadPurchaseOrder('ddlPurchaseOrder', locId, wareId);
                }

            });


            //LoadDate('#txtReceiveDate');
            EmpAutoCom('empAutoCom', 'employeeSelect');

            var masterId = parseInt($('#mRRMasterID').val());
            if (masterId > 0) {

                LoadMasterData(masterId);
                $(".dinput input,select").attr("disabled", true);
            }
            $('#ddlCompany').val(7).trigger('change');
            $("#ddlLocation").val(4).trigger('change');
            $("#ddlWareHouse").val(1).trigger('change');
        });
        function LoadPage()
        {
            window.location.href = '@Url.Action("MrrList", "MrR")';
        }

        function GetPurchaseOrder() {
            var masterId = parseInt($('#mRRMasterID').val());
            if (masterId > 0) {
                //LoadPuchaseOrderMaster(parseInt($('#ddlPurchaseOrder').val()));
                LoadMrrDetails(masterId);
                $('.calhide').hide();
                TotalReceiveQty();
            }
            else {
                LoadPuchaseOrder();
            }

            var flag = $('#txtFlag').val();
            if (flag == 'vw') {
                $(":input").prop("disabled", true);
                $('.check1').attr('disabled', true);
                $('#btnSub').hide();
                $('#btnClose').hide();
                $('#btncancel').attr('disabled', false);

            }
        if (flag == 'Cl') {
                $(":input").prop("disabled", true);
                $('.check1').attr('disabled', true);
                $('#btnSub').hide();
                $('#btnClose').show();
                $('#btncancel').attr('disabled', false);
                $('#btnClose').attr('disabled', false);

            }
        if (flag == 'ed') {
                  $('#btnClose').hide();

            }
        }

        function LoadMrrDetails(id) {
            var urlpath = '@Url.Action("LoadMrrDetails", "MrR")';
              $.ajax({
                url: urlpath,

                dataType: 'html',
                type: "Get",
                  data: {id:id},
                  async: false,
                  success: function (data) {

                      $('#mrrDetailsTable').html(data);


                }
            });
        }
        function LoadPuchaseOrderMaster(id) {
             var urlpath = '@Url.Action("GetPurchaseOrderMasterForMrrEdit", "MrR")';
              $.ajax({
                url: urlpath,

                dataType: 'html',
                type: "Get",
                  data: {id:id},
                  async: false,
                  success: function (data) {
                    $('#purchaseOrderDiv').empty();
                    $('#purchaseOrderDiv').html(data);
                    $('#divtrans').show();
                    $('#divlabour').show();
                }
            });
        }
        function LoadPuchaseOrder() {
            var id = parseInt($('#ddlPurchaseOrder').val());
            var urlpath = '@Url.Action("GetPurchaseOrder", "MrR")';
              $.ajax({
                url: urlpath,

                dataType: 'html',
                type: "Get",
                  data: {id:id},
                  async: false,
                  success: function (data) {
                    $('#purchaseOrderDiv').empty();
                    $('#purchaseOrderDiv').html(data);
                    $('#divtrans').show();
                    $('#divlabour').show();
                }
            });
        }
        function LoadMasterData(id) {

            var urlpath = '@Url.Action("GetMrrMasterView", "MrR")';
              $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                  data: {id:id},
                  async: false,
                  success: function (data) {
                      $("#ddlCompany").val(data.CompanyId).trigger('change');

                      $("#ddlLocation").val(data.LocationId).trigger('change');

                      //LoadWareHouse('ddlWareHouse', data.LocationId);
                      $("#ddlWareHouse").val(data.WareHouseId).trigger('change');

                      $("#ddlPurchaseOrder").append($("<option></option>").val(data.PurchaseOrderID).html(data.PurchaseOrderNo));

                      $("#ddlPurchaseOrder").val(data.PurchaseOrderID).trigger('change');
                      $("#ddlPurchaseOrder").attr('disabled', true);
                      $('#txtReceiveDate').val(ToJavaScriptDate(data.MRRDate));
                      $('#empAutoCom').val(data.ReceiveBy);
                      $('#txtRemarks').val(data.Remarks);
                      $('#txtReceiveTime').val(data.ReceiveTime);
                      $('#mrrNo').html(data.MRRNo);
                      GetEmpNo(data.ReceiveBy, 'employeeSelect');



                  }
              });

        }
        function SaveMrr() {


            if (SaveValidationMRR()==true) {
                    swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveMrrFinal();

                });
            }
        }


        function SaveMrrFinal() {

            var jsonData = {};



            jsonData["PurchaseOrderID"] = parseInt($('#ddlPurchaseOrder').val());
            jsonData["MRRMasterId"] = isNaN(parseInt($('#mRRMasterID').val()))?0:parseInt($('#mRRMasterID').val());
            jsonData["StrMRRDate"] = $('#txtReceiveDate').val();
            jsonData["ReceiveBy"] = $('#empAutoCom').val();
            jsonData["Remarks"] = $('#txtRemarks').val();
            jsonData["WareHouseId"] = $('#ddlWareHouse').val();
            jsonData["TotalReceiveQty"] = $('#totalRecQty').html();
            jsonData["TotalReceiveKg"] = $('#totalRecKg').html();
            jsonData["ReceiveTime"] = $('#txtReceiveTime').val();

            jsonData["TransportCost"] = $('#txtTransportCost').val();
            jsonData["LaborCost"] = $('#txtLaborCost').val();

            var jsonObjList = [];
            var rowCount = $('#mrrTable tbody tr').length;
            if (rowCount > 0) {

                $('#mrrTable tbody tr').each(function () {

                    var jsObj = {};
                    var idr = $(this).attr('id');
                    var id = idr.substring(3);
                    if ($('#check_' + id).is(':checked')) {

                        var qty = isNaN(parseFloat($('#recQty_' + id).val())) ? 0 : parseFloat($('#recQty_' + id).val());
                        var kg = isNaN(parseFloat($('#recKG_' + id).val())) ? 0 : parseFloat($('#recKG_' + id).val());
                    var item = isNaN(parseInt($('#itemid_' + id).val())) ? 0 : parseInt($('#itemid_' + id).val());
                    var purDetails = isNaN(parseInt($('#purchDetails_' + id).val())) ? 0 : parseInt($('#purchDetails_' + id).val());
                    var mrrDetailsId = isNaN(parseInt($('#mrrDetails_' + id).val())) ? 0 : parseInt($('#mrrDetails_' + id).val());
                        var status = $('#status_' + id).html().trim();

                        if (status == 'Partial') {
                            jsObj["ReceiveStatus"] = 2;
                        }
                        if (status == 'Full') {
                            jsObj["ReceiveStatus"] = 1;
                        }
                    var remarks = $('#remarks_' + id).val();
                        jsObj["ItemID"] = item;
                        jsObj["ItemQty"] = qty;
                        jsObj["ItemKG"] = kg;
                        jsObj["Remarks"] = remarks;
                        jsObj["PurchaseOrderDetailID"] = purDetails;
                        jsObj["MRRDetailID"] = mrrDetailsId;
                        jsonObjList.push(jsObj);
                    }
            });
            }

            jsonData["Details"] = jsonObjList;
            var urlpath = '@Url.Action("SaveMrr", "MrR")';
            $.ajax({

                contentType: "application/json",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "POST"
            })
                .success(function (result) {

                    if (result.pk>0)
                    {

                        var mrrNo = GetMrrNo(result.pk);

                        swal({
                            title: "MRR  ("+mrrNo+") Saved Successfull",
                            text: mrrNo,
                            type: "success",
                            showCancelButton: false,
                            cancelButtonClass: 'btn-secondary waves-effect',
                            confirmButtonClass: 'btn-success waves-effect waves-light',
                            confirmButtonText: 'Yes!',
                            closeOnConfirm: false
                        }, function() {
                            window.location.href = '@Url.Action("MrrList", "MrR")';

                        });

                    }
                });

        }

        function GetMrrNo(pk) {
            var mrrno = "Mrr"
            var urlpath = '@Url.Action("GetMrrNo", "MrR")';
              $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                  data: {pk:pk},
                  async: false,
                  success: function (data) {
                      mrrno = data;
                }
              });
            return mrrno;
        }
        function SaveValidationMRR() {


            var isValid = true;

            var checkCount = $('input.check1:checkbox:checked').length;
            if (checkCount <= 0) {
                isValid = false;
                ShowMessage("Please Select One Order");
                return isValid;
            }

            if ($('#ddlPurchaseOrder').val() == 0 || $('#ddlPurchaseOrder').val() == '') {
                ValidationColorChangeNew('ddlPurchaseOrder', 'divPurchaseOrder', 'Please Select Purchase Order', true);
                isValid = false;
            }
            if ($('#txtReceiveDate').val() == null || $('#txtReceiveDate').val() == '') {
                ValidationColorChangeNew('txtReceiveDate', 'divReceiveDate', 'Please Select Receive Date', true);
                isValid = false;
            }
            if ($('#employeeSelect').val() == 0 || $('#employeeSelect').val() == '') {
                ValidationColorChangeNew('empAutoCom', 'divReceiveBy', 'Please Select Valid Employee', true);
                isValid = false;
            }
            if ($('#txtReceiveTime').val() == 0 || $('#txtReceiveTime').val() == '') {
                ValidationColorChangeNew('txtReceiveTime', 'divTxtReceiveTime', 'Receive Time Required', true);
                isValid = false;
            }

            var rowCount = $('#mrrTable tbody tr').length;

            //$.each('#mrrTable tbody tr', function (index, value) {
            //
            //    var id = $(this).attr('id');

            //    // Will stop running after "three"

            //    });
            var mrrmasterId = isNaN(parseInt($('#mRRMasterID').val())) ? 0 : parseInt($('#mRRMasterID').val());
            $('#mrrTable tbody tr').each(function () {


                var idr = $(this).attr('id');
                var id = idr.substring(3);
                var qty = isNaN(parseInt($('#recQty_' + id).val())) ? 0 : parseInt($('#recQty_' + id).val());
                var kg = isNaN(parseInt($('#recKG_' + id).val())) ? 0 : parseInt($('#recKG_' + id).val());
                if (qty == 0 && mrrmasterId==0) {
                   ValidationColorChange('recQty_', "tr_" + id + "", false);
                   isValid = false;
                   ShowMessage("Please input receive qty");
                    return;
                }
                //  if (kg == 0) {

                //       ValidationColorChange('recKG_', "tr_" + id + "", false);
                //    isValid = false;
                //    return;
                //}
            });



            return isValid;
        }

        function LoadPurchaseOrder(elementId,locationId,warehouseId) {

            var urlpath = '@Url.Action("LoadPurchaseOrder", "MrR")';
              $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                  data: {locationId:locationId,warehouseId:warehouseId},
                  async: false,
                success: function (data) {
                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Purchase Order--</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].PurchaseOrderID).html(data[i].PurchaseOrderNo + "---" + data[i].SupplierCode + ":" + data[i].SupplierName));
                    }
                }
            });
        };
        function CloseMRR() {

                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "warning",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                   window.location = "@Url.Action("CloseMRR", "MrR")" + "?id=" +  $('#mRRMasterID').val() ;

                });



        };
        function limitDecimals(el) {
            var value = el.value;
            var parts = value.split(".");
            if (parts.length > 1 && parts[1].length > 4) {
                parts[1] = parts[1].slice(0, 4);
                el.value = parts[0] + "." + parts[1];
            }
        }




    </script>
}

