﻿@model IEnumerable<IGFoodProject.ViewModel.ViewMrrMaster>
@{
    ViewData["Title"] = "MrrList";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">

                       
                            <h4 class="card-title">Metarial Receive List Page</h4>
                       
                        <div class="card-tools">
                            <a class="btn btn-outline-warning" href="@Url.Action("Index", "MrR", new {id = 0})"><span class="fa fa-plus"></span> New Mrr</a>

                        </div>
                      
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->


                    <div class="card-body">
                        <div class="row">


                            <div class="col-md-3">
                                <div class="form-group" id="divFromDate">
                                    <label for="txtFromDate">From  Date</label>
                                    <input type="text" id="txtFromDate" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divToDate">
                                    <label for="txtToDate">To  Date</label>
                                    <input type="text" id="txtToDate" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" id="divPO">
                                    <label for="ddlPO">PO No.<span class="text-danger"> *</span></label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlPO"></select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" id="divSupplierName">
                                    <label for="ddlSupplierName">Supplier Name<span class="text-danger"> *</span></label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlSupplierName"></select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <button style="margin-top: 20px; height: 30px" class="btn btn-primary" onclick="ShowReport()">Search </button>
                                </div>
                            </div>
                        </div>
                        <table id="table1" class="dataTable table table-bordered table-striped table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>MRR No.</th>
                                <th>PO No.</th>
                                <th>MRR Date</th>
                                <th>Warehouse</th>
                                <th>Create Date</th>
                                <th>Reaceive By</th>
                                <th>Receive Qty</th>
                                <th>Receive KG</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody id="Traylist">
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
@section Scripts{
    <script type="text/javascript">



         $(document).ready(function() {
            LoadDate_Pr('#txtFromDate');
            LoadDate_C('#txtToDate');
            ShowReport();

         LoadPO('ddlPO');

         $("#ddlPO").change(function () {
            //LoadSupplier();
           LoadSupplier('ddlSupplierName');
        });
        });
        function LoadDate_Pr(controlName) {
            jQuery(controlName).datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd-M-yyyy'

            }).datepicker("setDate", "-2d");
        }
        function SelectAllCheckboxFunc() {
            if ($("#checkAll").is(":checked")) {
                $(".checkp").prop("checked", true);
            } else {
                $(".checkp").prop("checked", false);
            }
        }
        function Checkp(SLNO) {
            //uncheck "select all", if one of the listed checkbox item is unchecked
            var checkp = $("#check_" + SLNO).prop("checked");
            if (checkp == false) { //if this item is unchecked
                $("#checkAll").prop('checked', false); //change "select all" checked status to false
            }
            //check "select all" if all checkbox items are checked
            if ($('.checkp:checked').length == $('.checkp').length) {
                $("#checkAll").prop('checked', true);
            }
        }
        function LoadSupplier(elementId) {
            var urlpath = '@Url.Action("LoadSupplier", "MrR")';
            $.ajax({
                url: urlpath,
                type: "Get",
                 data: { PONo:  $('#ddlPO').val()},
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                  //$('#' + elementId + '').append("<option value=''>--Select Supplier--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].SupplierID).html(data[i].SupplierName));
                    }

                }
            });
        };
        function LoadPO(elementId) {
            var urlpath = '@Url.Action("LoadPO", "MrR")';
            $.ajax({
                url: urlpath,
                type: "Get",
                 data: { fromdate:  $('#txtFromDate').val(), todate:  $('#txtToDate').val()},
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value=''>--Select PO--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].PurchaseOrderID).html(data[i].PurchaseOrderNo));
                    }

                }
            });
        };

        function ShowReport() {

            var fromdate;
            var todate;
            var ddlSupplierName = "";
            var ddlPO = "";

            if ($('#txtFromDate').val() == "") {
                swal("Please input from  date");
                return;
            }
            else {
                fromdate = $('#txtFromDate').val();
            }
            if ($('#txtToDate').val() == "") {
                swal("Please input to  date");
                return;
            }
            else {
                todate = $('#txtToDate').val();
            }

            if ($('#ddlSupplierName').val() == "0") {
                ddlSupplierName = '0';
            }
            else {
                ddlSupplierName = $('#ddlSupplierName').val();
            }
        if ($('#ddlPO').val() == "0") {
                ddlPO = '0';
            }
            else {
                ddlPO = $('#ddlPO').val();
            }

            var urlpath = '@Url.Action("GetMrrCloseListByDate", "MrR")';
            $.ajax({
                url: urlpath,
                dataType: 'html',
                type: "Get",
                data: { fromdate: fromdate, todate: todate, supplierName: ddlSupplierName, PONo: ddlPO },
                async: false,
                success: function (data) {

                    data = JSON.parse(data);
                    $("#Traylist").html("");
                    if (data.length > 0) {
                        console.log(data);
                        var row = "";
                        var count = 1;
                        $("#Traylist").html("");

                        var count=1;
                        for (var i = 0; i < data.length; i++) {
                            row += "<tr>";
                            row += "<td style='text-align:center'>" + count + "</td>";
                            row += "<td style='text-align:center;display:none'>" + data[i].MRRMasterId + "</td>";
                            row += "<td style='text-align:center'>" + data[i].MRRNo + "</td>";
                            row += "<td style='text-align:center'>" + data[i].PurchaseOrderNo + "</td>";
                            row += "<td style='text-align:center'>" + data[i].MRRDateStr + "</td>";
                            row += "<td style='text-align:center'>" + data[i].WareHouseName + "</td>";
                            row += "<td style='text-align:center'>" + data[i].CreateDateStr + "</td>";
                            row += "<td style='text-align:center'>" + data[i].ReceiveBy + "</td>";
                            row += "<td style='text-align:center'>" + data[i].TotalReceiveQty + "</td>";
                            row += "<td style='text-align:center'>" + data[i].TotalReceiveKg + "</td>";
                            row += "<td style='text-align:center; color:white;'><a class='btn btn-danger btn-xs btn-custom btn-rounded waves-effect waves-light' type='button' onclick='GoToDo(" + data[i].MRRMasterId + ")'>Close MRR</a></td>";
                            row += "</tr>";
                            count = count + 1;

                        }
                        $("#Traylist").html(row);
                    }
                }
            });
        };


        function GoToDo(MRRMasterId)
        {
           window.location = "@Url.Action("Index", "MrR")" + "?id=" + MRRMasterId+ '&&flag=' + 'Cl';
        };
         


    </script>
}