﻿<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-3">
                                <h3 class="card-title">
                                    <span class="fa fa-list"></span> Mrr Report
                                </h3>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        <div class="col-md-4" id="mainDivLocation">
                            <div class="card-body">
                                <div class="form-group" id="divLocation">
                                    <label for="ddlLocation">Location</label>
                                    <select class="form-control select2" id="ddlLocation" style="width: 100%;" onchange="LoadWareHouseList()"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" id="mainDivWareHouse">
                            <div class="card-body">
                                <div class="form-group" id="divWareHouse">
                                    <label for="ddlWareHouse">WareHouse</label>
                                    <select class="form-control select2" id="ddlWareHouse" style="width: 100%;"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card-body" id="divFromDate">
                                <div class="form-group" id="">
                                    <label for="fromDate">From Date</label>
                                    <input type="text" class="form-control datepicker" id="fromDate" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-body" id="divToDate">
                                <div class="form-group" id="">
                                    <label for="toDate">To Date</label>
                                    <input type="text" class="form-control datepicker" id="toDate" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="card-footer">
                            <button class="btn btn-primary" onclick="LoadReport()">Submit</button>
                            <button class="btn btn-primary" onclick="exportExcel()">Export Excel</button>
                        </div>
                    </div>
                    <div id="Reports">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <h5>Report Name: Mrr Report</h5>
                                </div>
                                <div class="col-md-4">
                                    <h5>
                                        From Date:
                                    </h5>
                                    <label id="fromDateLevel"></label>
                                </div>
                                <div class="col-md-4">
                                    <h5>To Date:</h5>
                                    <label id="toDateLevel"></label>
                                </div>
                            </div>
                            <div id="MrrReport">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fadeInUp" id="myModal" role="dialog">
                    <div class="modal-dialog modal-lg" style="max-width: 80% !important">
                        <div class="modal-content">
                            <div class="modal-header">

                            </div>
                            <div class="modal-body" id="LiveBirdDressPartial">

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" id="clsButton" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
@section Scripts{
    <script>
        var AllItemList = {};
        $(function () {
            LoadCompany('ddlCompany');
            LoadLocation('ddlLocation');
            EmpAutoCom('empAutoCom', 'employeeSelect');
        });

        function ViewDetails(id) {
            $('#myModal').modal();
            LoadMrrDetails(id);
        }

        function LoadMrrDetails(id) {
            var urlpath = '@Url.Action("ViewMrrDetails", "MrR")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'html',
                async: false,
                data: { id: id },
                success: function (data) {
                    $('#LiveBirdDressPartial').empty();

                    $('#LiveBirdDressPartial').html(data);
                }
            });


        }


        LoadWareHouseList = () => {
            LoadWareHouse('ddlWareHouse', $('#ddlLocation').val(), 1);
        }

        function LoadLocation(elementId) {
            $.ajax({
                url: "/ItemRequisition/LoadLocation",
                dataType: 'json',
                type: "Get",
                data: {},
                async: true,
                success: function (data) {
                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Location--</option>");
                    for (var i = 0; i < data.length; i++) {
                        $('#' + elementId + '').append($("<option></option>").val(data[i].LocationId).html(data[i].LocationName));
                    }
                }
            });
        }

        function OpenReportPopup() {
            LoadReport();
        }

        function LoadReport() {
            if (Validation() == true) {
                var urlpath = '@Url.Action("GetMrrReportList", "MrR")';
                var fromDate = $('#fromDate').val();
                var toDate = $('#toDate').val();
                var warehouseId = isNaN(parseInt($('#ddlWareHouse').val())) ? 0 : parseInt($('#ddlWareHouse').val());
                $('#fromDateLevel').html(fromDate);
                $('#toDateLevel').html(toDate);
                $.ajax({
                    url: urlpath,
                    data: { fromDate: fromDate, toDate: toDate, warehouse: warehouseId },
                    dataType: 'html',
                    type: "Get",
                    success: function (data) {
                        $('#MrrReport').empty();
                        $('#MrrReport').html(data);
                       // $('.dataTable').dataTable();

                    }
                });
            }
        }
        function Validation() {
            var isValid = true;
            if ($('#fromDate').val() == 0 || $('#fromDate').val() == '') {
                ValidationColorChangeNew('fromDate', 'divFromDate', 'Please Select Form Date', true);
                isValid = false;
            }
            if ($('#toDate').val() == 0 || $('#toDate').val() == '') {
                ValidationColorChangeNew('toDate', 'divToDate', 'Please Select To Date', true);
                isValid = false;
            }
            return isValid;
        }
        function exportExcel(e) {
            if ($('#mrrTable tr').length == 0) {
                swal("No Data to Export");
            }
            else {
                var file = new Blob([$('#Reports').html()], { type: "application/vnd.ms-excel" });
                var url = URL.createObjectURL(file);

                var a = $("<a />",
                    {
                        href: url,

                        download: "MrrList.xls"

                    }).appendTo("body").get(0).click();


                e.preventDefault();
            }

        }
    </script>
}
