﻿
@{
    ViewData["Title"] = "MrrList";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                @*<h3 class="card-title"><span class="fa fa-list"></span>MRR List
                                    </h3>*@
                                <h4>Print Metarial Receive Invoice </h4>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group" id="divFromLocation">
                                        <label for="ddlFromLocation"> Location<span class="text-danger"> *</span></label>
                                        <select class="form-control select2" style="width: 100%;" id="ddlFromLocation" onchange="LoadWareHouseList()"></select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group" id="divFromWareHouse">
                                        <label for="ddlFromWareHouse">Live Bird Stock Warehouse<span class="text-danger"> *</span></label>
                                        <select class="form-control select2" id="ddlFromWareHouse" style="width: 100%;"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group" id="divRequisitionDate">
                                        <label for="fromDate">From Date<span class="text-danger"> *</span></label>
                                        <input type="text" class="datepicker form-control" id="fromDate"/>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group" id="divProductionDate">
                                        <label for="toDate">To Date<span class="text-danger"> *</span></label>
                                        <input type="text" class="datepicker form-control" id="toDate" value="@DateTime.Now.ToString("dd MMM yyyy")"/>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <button class='btn btn-info float-left' type='button' onclick="LoadMrrDetails()"><span class="fa fa-search"></span>Search</button>&nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class='btn btn-info' type='button' onclick="PrintMultipleInvoice()">Print Multiple Invoice</button>&nbsp;

                    </div>
                </div>
                <div id="divMrrList"></div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
@section Scripts{
    <script type="text/javascript">
        $(function() {
            LoadLocation('ddlFromLocation', 7);
            $("#ddlFromLocation").val(4).trigger('change');
        });
        LoadWareHouseList = () => {
            LoadWareHouse('ddlFromWareHouse', $("#ddlFromLocation").val(), 1);
        }

        function LoadMrrDetails() {
            if (SaveValidation() == true) {
                var warehouseId = parseInt($('#ddlFromWareHouse').val());
                var fromdate = $('#fromDate').val();
                var toDate = $('#toDate').val();
                var urlpath = '@Url.Action("GetMrrListForPrint", "MrR")';
                $.ajax({
                    url: urlpath,
                    type: "Get",
                    dataType: 'html',
                    async: false,
                    data: { warehouseId: warehouseId, fromDate: fromdate, toDate: toDate },
                    success: function(data) {
                        $('#divMrrList').empty();

                        $('#divMrrList').html(data);
                    }
                });
            }
        }

        function PrintMultipleInvoice() {
            var stringMrrId = "";
            $('#table1 tr.rowTr').each(function(key, value) {

                soId = $(this).prop("id");
                if ($('#check_' + (parseInt(key) + 1)).is(":checked")) {
                    if (stringMrrId != '')
                        stringMrrId = stringMrrId + "," + soId;
                    else {
                        stringMrrId = soId;
                    }
                }
            });
            if ($('#table1 tr').length == 0) {
                swal("No Data to Export");
            } else {
                if (stringMrrId == "") {
                    swal("Please Check Item");
                }
                else{
                    PrintInvoice(stringMrrId);
                }
            }
        }

        function PrintInvoice(soId) {
            var urlpath = '@Url.Action("SalesOrderReports", "Report")';
            var reportValue = "Mrr";
            var jsonData = {};
            if (reportValue == "Mrr") {
                jsonData["ReportValue"] = reportValue;
                jsonData["MrrMasterId"] = soId;
            }
            $.ajax({
                url: urlpath,
                data: jsonData,
                dataType: 'json',
                type: "Get",
                success: function(data) {
                    if (data.isSuccess) {
                        //OpenPopUp('BasicReportViewer.aspx');
                        window.open("../CrystalViewer/CrystalViewer.aspx", "_blank", "WIDTH=1024,HEIGHT=768,scrollbars=no, menubar=no,resizable=yes,directories=no,location=no");
                    }
                }
            });
        }

        function SaveValidation() {
            var isValid = true;
            var message = 'Some Values Required';
            if ($('#fromDate').val() == 0 || $('#fromDate').val() == '') {
                ValidationColorChangeNew('fromDate', 'divRequisitionDate', 'Select From Date', true);
                isValid = false;
            }

            return isValid;

        }
    </script>
}