﻿
@model IEnumerable<IGFoodProject.Models.Accounts.COAHeadConfigureViewModel>
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">

            </div>
            <div class="box-body">
                <table id="OperationDetailsListTable" class="table table-bordered table-striped">

                    @{ int count = 1;}

                    <thead>
                        <tr>
                            <th>Field</th>
                            <th>COA</th>
                            <th>CrORDr</th>
                            <th>CrIncrise</th>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                 {

                            <tr id="tr_@count">
                                <td>
                                    <input type="hidden" id="CALayerSevenId_@count" value="@item.CALayerSevenId" />
                                    <input type="hidden" id="OperationMasterId_@count" value="@item.OperationMasterId" />
                                    <input type="hidden" id="CrOrDrId_@count" value="@item.CrOrDr" />
                                    <input type="hidden" id="COAHeadConfigureId_@count" value="@item.COAHeadConfigureId" />
                                    <input type="hidden" id="OperationDetailsId_@count" value="@item.OperationDetailsId"/>
                                    <input type="hidden" class="inputTypeValue" id="inputTypeValue_@count" value="@item.InputTypeValue" />
                                    @item.InputTypeName
                                </td>
                                <td id="tdSevenLayer_@count">
                                <select class="form-control select2 COASavenLayer" id="COASavenLayer_@count"  style="width: 100%;" ></select>
                                </td>
                                <td id="tdCrOrDr_@count">
                                    <select class="form-control CrOrDr" id="CrOrDr_@count">
                                        <option value="">-- Select--</option>
                                        <option value="Credit">Credit</option>
                                        <option value="Debit">Debit</option>
                                    </select>
                                </td>
                                <td>
                                    <label>
                                        @if (item.IsCrIncrease == false || item.IsCrIncrease == null)
                                        {
                                            <input type="checkbox" id="CrIncrise_@count">
                                        }
                                        else
                                        {
                                            <input type="checkbox"  id="CrIncrise_@count" checked>
                                        }

                                    </label>
                                </td>
                            </tr>
                        count++;
                    }
                    </tbody>

                </table>
            </div>
        </div>
    </div>

</div>


<script>
    $(document).ready(function () {
        $(".select2").select2();
        $('#OperationDetailsListTable tbody tr').each(function () {
            debugger;
            var idr = $(this).attr('id');
            var id = idr.substring(3);
            var CALayerSevenId =parseInt(isNaN($('#CALayerSevenId_' + id).val()) ? 0 : $('#CALayerSevenId_' + id).val());
            var COAHeadConfigureId = parseInt(isNaN($('#COAHeadConfigureId_' + id).val()) ? 0 : $('#COAHeadConfigureId_' + id).val());
            var CrOrDrId = $('#CrOrDrId_' + id).val();
            if (COAHeadConfigureId > 0)
            {
                LoadCOASavenLayer(id);
                $('#COASavenLayer_' + id).val(CALayerSevenId).trigger('change');
                $('#CrOrDr_' + id).val(CrOrDrId).trigger('change');
            } else {
                LoadCOASavenLayer(id);
            }
           

        });

    });

    function LoadCOASavenLayer(id) {
        debugger;
        var urlpath = '@Url.Action("LoadCOASavenLayer", "COAHeadConfigure")';

        $.ajax({
            url: urlpath,
            dataType: 'json',
            type: "Get",
            data: {},
            async: false,
            success: function (data) {
                $('#COASavenLayer_' + id).empty();
                $('#COASavenLayer_' + id).append("<option value='0'>--Select COA Sven Layer--</option>");
                for (var i = 0; i < data.length; i++) {
                    $('#COASavenLayer_' + id).append($("<option></option>").val(data[i].CALayerSevenId).html(data[i].CALayerSevenName));
                }
            }
        });
    }
</script>
