﻿@using System.Security.Policy
@model System.Collections.Generic.IEnumerable<IGFoodProject.Models.Accounts.COAHeadConfigure>
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <section class="content">
     <div class="container-fluid">
         <div class="row">
             <div class="col-md-12">
                 <div class="card card-primary">
                     <div class="card-header with-border">
                         <div class="pull-left">
                             <h3>Chart Of Account Head Configuration</h3>
                         </div>
                         <div class="pull-right btn btn-outline warning float-left">
                             <a class="btn btn-primary btn-xs"
                                onclick="AddLayer()" data-animation="rotatedown" data-plugin="custommodal"
                                data-overlaySpeed="100" data-overlayColor="#36404a"><span class="fa fa-plus"></span></a>
                         </div>
                     </div>
                     <div class="card-body">
                         <table id="myTable" class="table table-bordered dataTable table-striped">
                             <thead>
                                 <tr>
                                     <th>
                                         Operation
                                     </th>
                                     <th>
                                         Field
                                     </th>
                                     <th>
                                         Description
                                     </th>
                                     <th>
                                         Cr Or Dr
                                     </th>
                                     <th>
                                         Cr Increase
                                     </th>
                                     <th>
                                         Action
                                     </th>
                                 </tr>
                             </thead>
                             <tbody>
                                 @foreach (var item in Model)
                                 {
                                     <tr>
                                         <th>
                                             @item.AnOperationMaster.OperationName
                                         </th>
                                         <th>
                                             @item.AnOperationDetails.InputTypeName
                                         </th>
                                         <th>
                                             @item.ChartOfAccLayerSeven.CALayerSevenName
                                         </th>
                                         <th>
                                             @item.CrOrDr
                                         </th>
                                         <th>
                                             @item.IsCrIncrease
                                         </th>
                                         <th>
                                             <a class="btn btn-warning btn-xs" data-animation="sign" data-plugin="custommodal"
                                                data-overlaySpeed="100" data-overlayColor="#36404a" onclick="EditLayer(@item.COAHeadConfigureId)"><span class="fa fa-edit"></span></a>
                                         </th>
                                     </tr>
                                 }
                             </tbody>
                             <tfoot>
                             </tfoot>
                         </table>
                     </div>
                     <!-- /.box-body -->
                 </div>
             </div>
         </div>
     </div>

 </section>

<div class="modal fadeInUp" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg" style="width:90%">
        <div class="modal-content">
            <div class="modal-header">
                <h4 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="layerOneHead"></h4>
            </div>
            <div class="modal-body" id="CoaHeadConfigurePartial">
                <div class="row">
                    <div class="col-md-12">
                        <div id="divOperation">
                            <label for="Operation">Operation:</label>
                             <select class="form-control select2" id="operation" style="width: 100%;" onchange="LoadOperationDetails()"></select>
                        </div>
                        <div id="divOperationValue">


                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" id="clsButton" data-dismiss="modal" onclick="close()">Close</button>
                <button class="btn btn-success pull-right" onclick="Save()">Save</button>
            </div>
        </div>
    </div>
</div>







@section Scripts{
    <script>

        $(document).ready(function () {
            $(".select2").select2();
            $('#myTable').DataTable()
           // $('#myModal').modal('toggle');
            //$("#myModal").modal('hide');
        });

        function AddLayer() {
            debugger;
          
            $('#myModal').modal();
            $("#divOperationValue").html("");
            $('#operation').prop("disabled", false);
            LoadOperation();
        }

        function LoadOperation() {
            var urlpath = '@Url.Action("LoadOperation", "COAHeadConfigure")';

            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {
                    $('#operation').empty();
                    $('#operation').append("<option value='0'>--Select Operation--</option>");
                    for (var i = 0; i < data.length; i++) {
                        $("#operation").append($("<option></option>").val(data[i].OperationMasterId).html(data[i].OperationName));
                    }
                }
            });
        }

       

        function LoadOperationDetails() {
            var id = $('#operation').val();
            var coaHeadConfiId = isNaN($('#COAHeadConfigureId_1').val()) ? 0 : $('#COAHeadConfigureId_1').val();
            if (coaHeadConfiId == 0) {
                var urlpath = '@Url.Action("GetOperationDetails", "COAHeadConfigure")';
                $.ajax({
                    url: urlpath,
                    data: { operationMasterId: id, coaHeadConfiId: coaHeadConfiId },
                    dataType: 'html',
                    type: "Get",
                    async: false,
                    success: function (data) {
                        if (data) {
                            $('#divOperationValue').empty();
                            $('#divOperationValue').html(data);
                        }

                    }
                });
            }
            //var coaHeadConfiId = 0;
           
        }

        
        function EditLayer(COAHeadConfigureId) {

            urlpath = '@Url.Action("GetOperationDetails", "COAHeadConfigure")';

            $.ajax({
                url: urlpath,
                data: { operationMasterId: 0, coaHeadConfiId: COAHeadConfigureId },
                dataType: 'html',
                type: "Get",
                async: false,
                success: function (data2) {
                    debugger;
                    $('#myModal').modal();

                    //$(".modal-body").html("");
                    var d = data2.OperationMasterId;

                    LoadOperation();
                    $('#divOperationValue').empty();
                    $('#divOperationValue').html(data2);
                    //var a = $('#OperationMasterId_1').val();
                    $('#operation').val($('#OperationMasterId_1').val()).trigger('change');
                    $('#operation').prop("disabled", true);
                },
                complete: function () {

                }

            });
        }
   

        function Save() {
            if (SaveValidation() == true) {
           
                var coaheadcongObj = [];
                $('#OperationDetailsListTable tbody tr').each(function () {
                    debugger;
                    var idr = $(this).attr('id');
                    var id = idr.substring(3);
                    var coaheadcongData = {};
                    coaheadcongData["COAHeadConfigureId"] = parseInt(isNaN($('#COAHeadConfigureId_' + id).val()) ? 0 : $('#COAHeadConfigureId_' + id).val());
                    coaheadcongData["OperationMasterId"] = $('#operation').val();
                    coaheadcongData["OperationDetailsId"] = $('#OperationDetailsId_' + id).val();
                    coaheadcongData["CALayerSevenId"] =parseInt(isNaN($('#COASavenLayer_' + id).val()) ? 0 : $('#COASavenLayer_' + id).val());
                    coaheadcongData["CrOrDr"] = $('#CrOrDr_' + id).val();
                    if ($('#CrIncrise_' + id).is(":checked"))
                        var IsCrIncrease = true;
                    else {
                        IsCrIncrease = false;
                    }
                    coaheadcongData["IsCrIncrease"] = IsCrIncrease;

                    coaheadcongObj.push(coaheadcongData);
                });

                var urlpath = '@Url.Action("SaveCoaHeadConfigure", "COAHeadConfigure")';

                $.ajax({
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(coaheadcongObj),
                    dataType: 'json',
                    url: urlpath,
                    type: "POST",
                    success: function (aResponse) {
                        if (aResponse.isSuccess) {
                            $('#myModal').modal('toggle');
                            window.location.href = '@Url.Action("Index", "COAHeadConfigure")';

                        } else {

                            ShowMessage(aResponse.msg);
                        }
                    }
                });
            }
        }

        function SaveValidation() {
            debugger;

            var isValid = true;
            if ($('#operation').val() == '' || $('#operation').val() == null || $('#operation').val() == '0') {
                ValidationColorChangeNew("operation", "divOperation", "operation Required", false);
                isValid = false;
            }

            $("#OperationDetailsListTable tbody tr").each(function () {
                debugger;
                var idr = $(this).attr('id');
                var id = idr.substring(3);
                var CALayerSevenId = parseInt(isNaN($('#COASavenLayer_' + id).val()) ? 0 : $('#COASavenLayer_' + id).val());
                var CrOrDrId = $('#CrOrDr_' + id).val();

                if (CALayerSevenId == 0) {
                    ValidationColorChangeNew("COASavenLayer_" + id, "tdSevenLayer_" + id, "Value Required", false);
                    isValid = false;
                }
                if (CrOrDrId == '' || CrOrDrId == null) {
                    ValidationColorChangeNew("#CrOrDr_" + id, "tdCrOrDr_" + id, " Value Required", false);
                    isValid = false;
                }

            });

            return isValid;


        }

    </script>
}