﻿
@{
    ViewData["Title"] = "AddCategory";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">

                        <h3 class="card-title">Product Category Entry</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("ProductCategoryList", "ProductCategory") + "'");" class="btn btn-info btn-rounded waves-effect waves-light pull-right">

                                <i class="fa fa-arrow-left"></i>
                                Back To Product Category List
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div>
                        <div class="card-body">
                            <div class="form-group" id="divGroup">
                                <label for="ddlGroup">Product Group</label>
                                <select class="form-control" id="ddlGroup"></select>
                            </div>
                            <div class="form-group" id="divType">
                                <label for="ddlType">Product Type</label>
                                <select class="form-control" id="ddlType"></select>
                            </div>
                            <div class="form-group" id="divCategory">
                                <label for="txtCategory">Category</label>
                                <input type="text" class="form-control" id="txtCategory" placeholder="Enter Category">
                            </div>
                            <div class="form-group" id="divCategoryCode">
                                <label for="txtCategoryCode">Category Code</label>
                                <input type="text" class="form-control" id="txtCategoryCode" placeholder="Enter Category Code" maxlength="4" style="text-transform:uppercase">
                            </div>


                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="chkActive" checked="checked">
                                <label class="form-check-label" for="chkActive">Is Active</label>
                            </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button class="btn btn-primary" onclick="SaveFinal()">Submit</button>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
                <!-- Form Element sizes -->
                <!-- /.card -->
                <!-- /.card -->
                <!-- Input addon -->
                <!-- /.card -->
                <!-- Horizontal Form -->
                <!-- /.card -->

            </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">

            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
    <input id="txtCategoryId" type="number" style="display:none;" value="@ViewBag.categoryid">
</section>

@section Scripts{
    <script>
        $(function () {
            LoadGroup();
            var id = $('#txtCategoryId').val();

            $('#ddlGroup').change(function () {
                var groupid = $(this).val();
                LoadType(groupid);

            });

            if (id > 0) {
                OdEdit(id);
            }
        });

        function LoadGroup() {
            var urlpath = '@Url.Action("LoadGroup", "ProductType")';

            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {
                    $('#ddlGroup').empty();
                    $('#ddlGroup').append("<option value='0'>--Select Group--</option>");


                    for (var i = 0; i < data.length; i++) {

                        $("#ddlGroup").append($("<option></option>").val(data[i].GroupId).html(data[i].GroupName));

                    }
                }
            });
        }

        function LoadType(groupid) {
            var urlpath = '@Url.Action("LoadType", "ProductCategory")';

            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { groupid: groupid },
                async: false,
                success: function (data) {
                    $('#ddlType').empty();
                    $('#ddlType').append("<option value='0'>--Select Type--</option>");


                    for (var i = 0; i < data.length; i++) {

                        $("#ddlType").append($("<option></option>").val(data[i].TypeId).html(data[i].TypeName));

                    }
                }
            });
        }
        function SaveFinal() {

            //Swal("Hello World");
            if (Validation() == true) {

                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveCategory();

                });
            }

        }

        function ValidateCategory(pcategory) {

            var result = 0;
            var urlpath = '@Url.Action("CheckCategory", "ProductCategory")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { pcategory: pcategory },
                async: false,
                success: function (data) {

                    result = data;
                }
            });
            return result;
        }

        function ValidateCategoryCode(pcategory) {

            var result = 0;
            var urlpath = '@Url.Action("CheckCategoryCode", "ProductCategory")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { pcategory: pcategory },
                async: false,
                success: function (data) {

                    result = data;
                }
            });
            return result;
        }

        function Validation() {

            var rVal = true;
            var message;
            if (($('#ddlGroup').val() == "0") || ($('#ddlGroup').val() == null)) {
                ValidationColorChange('ddlGroup', 'divGroup', false);
                rVal = false;
                message = "Some Values Required";

            }
            if (($('#ddlType').val() == "0") || ($('#ddlType').val() == null)) {
                ValidationColorChange('ddlType', 'divType', false);
                rVal = false;
                message = "Some Values Required";

            }

            if (($('#txtCategory').val() == "") || ($('#txtCategory').val() == null)) {
                ValidationColorChange('txtCategory', 'divType', false);
                rVal = false;
                message = "Some Values Required";

            }
            if (($('#txtCategoryCode').val() == "") || ($('#txtCategoryCode').val() == null)) {
                ValidationColorChange('txtCategoryCode', 'divCategoryCode', false);
                rVal = false;
                message = "Some Values Required";

            }

            var ddata = ValidateCategory($('#txtCategory').val());

            var dcode = ValidateCategoryCode($('#txtCategoryCode').val());
            var groupid = $('#txtCategoryId').val();

            if (ddata > 0 && groupid == 0) {
                rVal = false;
                message = "Duplicate Product Category Please Change!!!";

            }

            if (dcode > 0 && groupid == 0) {
                rVal = false;
                message = "Duplicate Product Category Code Please Change!!!";

            }


            if (rVal == false) {
                ShowMessage(message);
            }

            return rVal;
        }

        function SaveCategory() {
            var jsonData = {};


            jsonData["CategoryId"] = parseInt($('#txtCategoryId').val());

            jsonData["TypeId"] = parseInt($('#ddlType').val());
            jsonData["GroupId"] = parseInt($('#ddlGroup').val());

            jsonData["CategoryName"] = $('#txtCategory').val();
            jsonData["CategoryCode"] = $('#txtCategoryCode').val();

            jsonData["IsActive"] = $('#chkActive').is(':checked');


            var urlpath = '@Url.Action("SaveCategory", "ProductCategory")';

            $.ajax({

                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "POST"
            })
                .success(function (result) {

                    if (result.isSuccess) {

                        //$('.confirm').prop("disabled", false);
                        //$('.cancel').prop("disabled", false);
                        ////swal.close();

                        swal("Product Category Saved Successfull");
                        window.location.href = '@Url.Action("ProductCategoryList", "ProductCategory")';


                    }
                });


        }


        function OdEdit(id) {

            var url = '@Url.Action("GetCategoryByID", "ProductCategory")';
            $.ajax({
                url: url,
                dataType: 'json',
                data: { id: id },
                type: "Get",
                async: false,
                success: function (data) {

                    $('#txtCategoryId').val(id);

                    $('#txtCategory').val(data.CategoryName);
                    $('#txtCategoryCode').val(data.CategoryCode);
                    $("#ddlGroup").val(data.CroupId);
                    LoadType(data.GroupId);
                    $("#ddlType").val(data.TypeId);
                    if (data.isActive == true)
                        $('#chkActive').prop('checked', true);

                    else
                        $('#chkActive').prop('checked', false);


                }
            });

        }
    </script>
}

