﻿@model IEnumerable<IGFoodProject.Models.tbl_ProductCategory>
@{
    ViewData["Title"] = "ProductCategoryList";
}


@{
    int count = 0;
}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card-primary">
               
               
                <div class="card-header">
                    <h3 class="card-title">Product  Category</h3>
                    <div class="card-tools">
                       
                            <a  href="@Url.Action("AddCategory", "ProductCategory")">
                                <span class="btn-label">
                                    <i class="fa fa-arrow-left"></i>
                                </span>
                                Back To Category Entry

                            </a>
                        
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table  class="table dataTable table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="text-align:center">#</th>
                                <th style="text-align:center">Group Name</th>
                                <th style="text-align:center">Type Name</th>
                                <th style="text-align:center">Category Name</th>
                                <th style="text-align:center">Category Code</th>
                                <th style="text-align:center">Create Date</th>
                                <th style="text-align:center">Create By</th>
                                <th style="text-align:center">Update Date</th>
                                <th style="text-align:center">Update By</th>
                                <th style="text-align:center">Is Active</th>
                                <th style="text-align:center">Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                count++;
                            <tr>
                                <td style="text-align:center">@count</td>
                                <td style="text-align:center">@item.GroupName</td>
                                <td style="text-align:center">@item.TypeName</td>
                                <td style="text-align:center">@item.CategoryName</td>
                                <td style="text-align:center">@item.CategoryCode</td>
                                <td style="text-align:center">@Convert.ToDateTime(item.CreateDate).ToString("dd-MMM-yyyy")</td>
                                <td style="text-align:center">@item.CreateBy</td>
                                @if (item.UpdateDate != null)
                                {
                                    <td style="text-align:center">@Convert.ToDateTime(item.UpdateDate).ToString("dd-MMM-yyyy")</td>
                                }
                                else
                                {
                                    <td style="text-align:center"></td>
                                }

                                <td style="text-align:center">@item.UpdateBy</td>
                                <td style="text-align:center">@item.IsActive</td>
                                <td>
                                    @Html.ActionLink("Edit", "AddCategory", "ProductCategory", new { id = item.CategoryId }, new { @class = "btn btn-primary btn-xs btn-custom btn-rounded waves-effect waves-light" })
                                    <button class="btn btn-danger  btn-xs btn-custom btn-rounded waves-effect waves-light" onclick="CategoryDelete(@item.CategoryId)"> Delete</button>
                                </td>
                            </tr>

                            }


                        </tbody>

                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
@*</div>*@
@*<script src="~/plugins/jquery/jquery.min.js"></script>*@
@section Scripts{
    <script>
            $(function () {

                $('#example2').DataTable({
                    "paging": true,
                    "lengthChange": false,
                    "searching": false,
                    "ordering": true,
                    "info": true,
                    "autoWidth": false,
                });
            });
    </script>
    <script type="text/javascript">




    function   CategoryDelete(id) {

            swal({
                title: "Are you sure?",
                text: "",
                type: "success",
                showCancelButton: true,
                cancelButtonClass: 'btn-secondary waves-effect',
                confirmButtonClass: 'btn-success waves-effect waves-light',
                confirmButtonText: 'Yes!',
                closeOnConfirm: false
            }, function () {
                $('.confirm').prop("disabled", true);
                $('.cancel').prop("disabled", true);
                DeleteCategoryFianl(id);

            });



    }
    function DeleteCategoryFianl(id) {



        var urlpath = '@Url.Action("DeleteCategory", "ProductCategory")';

        $.ajax({
            contentType: "application/json; charset=utf-8",
            data: { id: id },
            dataType: 'json',
            url: urlpath,
            type: "GET"
        })
            .success(function (result) {

                if (result.isSuccess) {

                    $('.confirm').prop("disabled", false);
                    $('.cancel').prop("disabled", false);
                    //swal.close();

                    swal("Data Delete Successfull");
                    window.location.href = '@Url.Action("ProductCategoryList", "ProductCategory")';


                }
            });
    }
    </script>
}