﻿.form-group {
    margin-bottom: 0rem !important;
}
label {
    display: inline-block;
    margin-bottom: 0.03rem !important;
}


.form-control {
    font-size: 12px;
    padding: 2px;
}
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 12px;
    font-weight: 600;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1px 19px 3px 20px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
     padding-right: 2px; 
     padding-left: 2px; 
}

.select2-container--default .select2-selection--single, .select2-selection .select2-selection--single {
    
    padding:0px !important;
    
}

td {
    padding: 2px !important;
    padding-bottom: 0px !important;
    text-align: center !important;
}

.fixedHeightAuto {
    color: black;
    font-size: 10px;
    max-height: 150px;
    max-width: 350px;
    margin-bottom: 10px;
    overflow-x: auto;
    overflow-y: auto;
    background-color: whitesmoke;
    z-index: 10;
    border: 1px solid #dcdcdc;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.jumbotron {
    /*padding:0px;*/
    padding: 2rem 1rem;
}

.brand-image {
    float: left;
    line-height: .8;
    margin-left: 2.2rem;
    margin-right: .5rem;
    margin-top: -3px;
    max-height: 50px;
    width: auto;
    /* align-content: center; */
}

.brand-link {
     border-bottom:none !important; 
    color: rgba(255,255,255,.8);
}

.user-panel {
   border-bottom:none !important; 
}
.btn-xs {
  padding: 1px 5px;
  font-size: 16px;
  line-height: 1.33;
  border-radius: 3px;
}




