﻿@model IGFoodProject.Models.Accounts.BankAccount

@{
    ViewBag.Title = "Create";
}

<style>
    .input-group-addon {
        padding: .1px 10px;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <!-- left column -->
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Cash Account</h3>

                    <div class="pull-right btn btn-outline warning">
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form">
                    <div class="box-body">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="col-md-6">

                            <div class="form-group" id="divCompany">
                                <label for="ddlCompany">Company</label>
                                <select class="form-control select2" style="width: 100%;" id="ddlCompany" onchange=""></select>

                            </div>
                            <div class="form-group" id="divlayerFour">
                                <label for="ddlLayerFour">Chart of Acc. Layer Four</label>

                                <div class="input-group">

                                    <select class="form-control select2" style="width: 100%;" id="ddlLayerFour" onchange="LoadLayerFive()"></select>

                                    <div class="input-group-addon">
                                        <button type="button" onclick="SaveLayerFour(4)" class="btn btn-sm btn-primary">+</button>
                                    </div>
                                </div>
                                <!-- /.input group -->
                            </div>
                            <div class="form-group" id="divlayerFive">

                                <label for="ddlLayerFive">Chart of Acc. Layer Five</label>
                                <div class="input-group">

                                    <select class="form-control select2" style="width: 100%;" id="ddlLayerFive" onchange="LoadLayerSix()"></select>

                                    <div class="input-group-addon">
                                        <button type="button" onclick="SaveLayerFour(5)" class="btn btn-sm btn-primary">+</button>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" id="divlayerSix">
                                <label for="ddlLayerFive">Chart of Acc. Layer Six</label>
                                <div class="input-group">


                                    <select class="form-control select2" style="width: 100%;" id="ddlLayerSix" onchange=""></select>

                                    <div class="input-group-addon">
                                        <button type="button" onclick="SaveLayerFour(6)" class="btn btn-sm btn-primary">+</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            
                            <div class="form-group" id="divAccId">
                                <label for="accNO">Account No</label>
                                <input type="text" class="form-control" id="accNO" placeholder="Enter Account">
                            </div>
                            <div class="form-group" id="divCashDes">
                                <label for="accNO">Description</label>
                                <input type="text" class="form-control" id="description" placeholder="Enter Description">
                            </div>

                        </div>

                       
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="button" onclick="SaveCash()" class="btn btn-primary pull-right">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-1"></div>

        <div class="modal fadeInUp" id="myModal" role="dialog">
            <div class="modal-dialog" style="max-width: 80% !important">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="layerOneHead"></h4>
                    </div>
                    <div class="modal-body" id="LiveBirdDressPartial">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" id="divCompany">
                                    <label for="ddlCompany">Parent Layer</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddllayer" onchange="GetCode()"></select>

                                </div>
                                <div id="divLayerCode">
                                    <label for="LayerOneCode">Layer Code:</label>
                                    <input class="form-control" type="text" id="LayerOneCode" disabled="disabled" />

                                </div>
                                <div id="diveLayerName">
                                    <label for="LayerOneName">Layer Name:</label>
                                    <input class="form-control" type="text" id="LayerOneName" />


                                </div>
                                <div id="divForSectorNameText">
                                    <label for="LayerOneName">Layer Descirption:</label>
                                    <input class="form-control" type="text" id="LayerOneDescirpTion" />
                                    <input class="form-control" type="hidden" id="parentId" />
                                    <input class="form-control" type="hidden" id="layerId" />
                                    <input class="form-control" type="hidden" id="newId" value="0" />
                                    <input class="form-control" type="hidden" id="layerCode" />

                                </div>
                                <div id="IsActivef">
                                    <label for="IsActive">IsActive:</label>
                                    <input type='checkbox' class='iradio_minimal-blue checkp' id='IsActive' checked="checked" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger pull-left" id="clsButton" data-dismiss="modal" onclick="close()">Close</button>
                        <button type="button" class="btn btn-success pull-right" onclick="SaveParentLayer()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>




}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function() {

            LoadCompany('ddlCompany');
            LoadCurrency('curency');
            $("#ddlCompany").val(7).trigger("change");
            LoadLayerFour('ddlLayerFour');
            $("#ddlLayerFour").val(2).trigger("change");
        });

        function LoadLayerFive() {
            var id = parseInt($('#ddlLayerFour').val());
            LoadLayerFiveByFourId('ddlLayerFive', id);
        }

        function LoadLayerSix() {
            var id = parseInt($('#ddlLayerFive').val());
            LoadLayerSixByFiveId('ddlLayerSix', id);
        }

        function SaveLayerFour(lId) {
            debugger;
            if (lId === 4) {
                $('#myModal').modal();
                LoadLayerThree('ddllayer');
            } else if (parseInt(lId) == 5) {
                debugger;
                $('#myModal').modal();
                LoadLayerFour('ddllayer');
            } else if (parseInt(lId) == 6) {
                $('#myModal').modal();

                LoadLayerF('ddllayer');
            }
            $('#layerId').val(lId);

        }

        function GetCode() {
            var parentId = $('#ddllayer').val();
            var layerId = $('#layerId').val();
            urlpath = '@Url.Action("GetCode", "ChartOfAccount")';

            $.ajax({
                url: urlpath,
                data: { layerId: layerId, prantId: parentId },
                dataType: 'Json',
                type: "Get",
                success: function(data) {

                    $('#LayerOneCode').val(data);

                },
                complete: function() {

                }

            });
        }

        function SaveParentLayer() {
            if (SaveValidation() == true) {
                var jsonData = {};
                jsonData["LedgerGroupId"] = 0;
                jsonData["Code"] = $('#layerCode').val();
                jsonData["LedgerGroupName"] = $('#LayerOneName').val().trim();
                jsonData["ParentId"] = $('#ddllayer').val().trim();
                jsonData["LayerId"] = $('#layerId').val().trim();
                jsonData["IsActive"] = $("#IsActive").is(":checked");
                jsonData["Description"] = $("#LayerOneDescirpTion").val().trim();

                var urlpath = '@Url.Action("SaveLayer", "ChartOfAccount")';

                $.ajax({
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(jsonData),
                    dataType: 'json',
                    url: urlpath,
                    type: "POST",
                    success: function(aResponse) {
                        if (aResponse.isSuccess) {
                            $('#myModal').modal('toggle');
                            if ($('#layerId').val().trim() == 4) {
                                debugger;
                               LoadLayerFour('ddlLayerFour');
                               $("#ddlLayerFour").val(parseInt(aResponse.pk)).trigger("change");
                            }
                            if ($('#layerId').val().trim() == 5) {
                                debugger;
                                LoadLayerF('ddlLayerFive');
                                $("#ddlLayerFive").val(parseInt(aResponse.pk)).trigger("change");
                           }
                            if ($('#layerId').val().trim() == 6) {
                                debugger;
                                LoadLayerS('ddlLayerSix');
                                $("#ddlLayerSix").val(parseInt(aResponse.pk)).trigger("change");
                           }

                        } else {

                            ShowMessage(aResponse.msg);
                        }
                    }
                });
            }
        }

        function SaveValidation() {


            var isValid = true;
            if ($('#LayerOneCode').val() == '' || $('#LayerOneCode').val() == null) {
                ValidationColorChangeNew("LayerOneCode", "divLayerCode", "Code Required", false);
                isValid = false;
            }
            if ($('#LayerOneName').val() == '' || $('#LayerOneName').val() == null) {
                ValidationColorChangeNew("LayerOneName", "diveLayerName", "Name Required", false);
                isValid = false;
            }

            return isValid;
        }

        SaveCash = () => {
            if (Validation()) {
                var jsonData = {};
                jsonData["CashAccountId"] = 0;
                jsonData["AccountName"] = $('#accNO').val().trim();
                jsonData["Description"] = $('#description').val().trim();
                jsonData["CompanyId"] = $('#ddlCompany').val().trim();
                jsonData["CALayerSixId"] = $('#ddlLayerSix').val().trim();

                var urlpath = '@Url.Action("SaveLayer", "CashAccounts")';

                $.ajax({
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(jsonData),
                    dataType: 'json',
                    url: urlpath,
                    type: "POST",
                    success: function(aResponse) {
                        if (aResponse.isSuccess) {
                            //   $('#myModal').modal('toggle');
                            window.location.href = '@Url.Action("Index", "CashAccounts")';

                        } else {

                            ShowMessage(aResponse.msg);
                        }
                    }
                });
            }
        }

        function Validation() {


            var isValid = true;
            if ($('#ddlCompany').val() == '' || $('#ddlCompany').val() == null || $('#ddlCompany').val() == 0) {
                ValidationColorChangeNew("ddlCompany", "divCompany", "Company is Required", false);
                isValid = false;
            }if ($('#ddlLayerSix').val() == '' || $('#ddlLayerSix').val() == null || $('#ddlLayerSix').val() == 0) {
                ValidationColorChangeNew("ddlLayerSix", "divlayerSix", "Branch is Required", false);
                isValid = false;
            }
            if ($('#accNO').val() == '' || $('#accNO').val() == null) {
                ValidationColorChangeNew("accNO", "divAccId", "Account is Required", false);
                isValid = false;
            }
            if ($('#description').val() == '' || $('#description').val() == null) {
                ValidationColorChangeNew("description", "divCashDes", "Description is Required", false);
                isValid = false;
            }

            return isValid;
        }
    </script>

}
