﻿@model IGFoodProject.Models.Accounts.CashAccount

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CashAccount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ChartOfAccLayerSeven.CALayerSevenName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChartOfAccLayerSeven.CALayerSevenName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubsidiryLId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubsidiryLId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CashAccountId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
