﻿@model IEnumerable<IGFoodProject.Models.Accounts.CashAccount>

@{
    ViewBag.Title = "Index";
}



<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <div class="pull-left">
                    <h3>Cash Account List</h3>
                </div>
                <div class="pull-right btn btn-outline warning">
                    @Html.ActionLink("Create New", "Create")
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="myTable" class="table table-bordered dataTable table-striped">
                    <thead>
                    <tr>
                        <th>SL#</th>
                        <th>Company Name</th>
                        <th>Cash Account Name</th>
                        <th>Description</th>
                        <th>Account</th>
                    </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            var count = 1;
                            <tr>
                                <th>@count</th>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CompanyName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AccountName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new {id = item.CashAccountId})

                                </td>
                            </tr>
                            count++;
                        }
                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $('#myTable').DataTable()
    </script>
}
