﻿@{
    int sl = Convert.ToInt32(TempData["trSl"]);
}
<tr id="tr_@sl">

    <td>
        <select class="form-control select2" id="itemId_@sl" style="width: 180px" onchange="GetItemDetails(@sl)"></select>
    </td>
    @*<td>
        <label  id="ItemDescription_@sl" style="width: 350px"></label>
    </td>*@

    <td>
        <input type="number" class="form-control" id="qty_@sl" oninput="AllCalculation()"  />
    </td>
    <td>
        <label id="Itemunit_@sl" style="width: 100px"></label>
    </td>
    @*<td>
        <label id="packSize_@sl"  style="width: 100px"></label>
    </td>
    <td>
        <input type="number" class="form-control" id="noOfPacket_@sl" /> 
    </td>*@
    <td>
        <input type="text" id="mfgDate_@sl" class="form-control datepicker" />
    </td>
    <td>
        <input type="text" id="expiredDate_@sl" class="form-control datepicker" />
    </td>
    <td>
        <input type="number" class="form-control" id="rate_@sl" oninput="AllCalculation()" />
    </td>
    <td>
        <input type="number" class="form-control" id="amount_@sl" disabled="disabled" />
    </td>

    <td class="actionHide">
        <div class="form-group">
            <button class="btn btn-xs btn-success " id="btnAdd_@sl" onclick="AddRow()"><b>+</b></button>
            <button class="btn btn-xs btn-danger" id="btnRemove_@sl" onclick="RemoveRow(@sl)"><b></b>x</button>
            <input type="number" value="0" style="display: none" id="details_@sl" />
        </div>
    </td>
</tr>
