﻿
@{
    ViewBag.Title = "Create Mrr";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .form-control {
        height: calc(1.7rem + 2px);
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <a href="@Url.Action("Create", "DirrectMrr", new {id = 0})">
                                    <h3 class="card-title">
                                        <span class=""> Direct MRR</span>
                                    </h3>
                                </a>
                            </div>
                            <div class="col-md-6 text-right">
                                <a class="btn btn-outline-warning" href="@Url.Action("MRRList", "othersMrr")">
                                    <span class="fa fa-list"></span> Go To  MRR List

                                </a>
                            </div>
                        </div>

                    </div>


                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group" id="divOrderType">
                                    <label for="ddlOrderType">Order Type</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlOrderType">
                                        @*<option value="0">--Select--</option>*@
                                        <option value="1">Normal</option>
                                        <option value="2">Urgent</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divOrderDate">
                                    <label for="txtOrderDate">Order/Mrr Date</label>
                                    <input type="text" id="txtOrderDate" class="form-control datepicker" value="@DateTime.Now.ToString("dd-MMM-yyyy")" />
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group" id="divSupplier">
                                    <label for="ddlSupplier">Supplier</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlSupplier"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divSupplierCredit">
                                    <label for="txtSupplierCredit">Supplier Credit</label>
                                    <input type="text" id="txtSupplierCredit" class="form-control" />
                                </div>
                            </div>



                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group" id="divReceiveWarehouse">
                                    <label for="ddlReceiveWarehouse">Receive Warehouse</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlReceiveWarehouse"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divDeliverTo">
                                    <label for="txtDeliverTo">Deliver To</label>
                                    <input type="text" id="txtDeliverTo" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divContactInfo">
                                    <label for="txtContactInfo">Contact Info</label>
                                    <input type="text" id="txtContactInfo" class="form-control" />
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group" id="divSupplierReference">
                                    <label for="txtSupplierReference">Supplier Reference</label>
                                    <input type="text" id="txtSupplierReference" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group" id="divOrderComments">
                                    <label for="txtOrderComments">Order Comments </label>
                                    <input type="text" id="txtOrderComments" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divLabResult">
                                    <label for="txtLabResult">Lab Result</label>
                                    <input type="text" id="txtLabResult" class="form-control" />
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group" id="divChallanNo">
                                    <label for="txtChallanNo">Challan No</label>
                                    <input type="text" id="txtChallanNo" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divQC">
                                    <label for="txtQC">Quality Controll </label>
                                    <input type="text" id="txtQC" class="form-control" />
                                </div>
                            </div>


                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group" id="divVehicleNo">
                                    <label for="txtVehicleNo">Vehicle No</label>
                                    <input type="text" id="txtVehicleNo" class="form-control" />
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group" id="divVehicleInWeight">
                                    <label for="txtVehicleWeight">Vehicle In Weight </label>
                                    <input type="number" id="txtVehicleInWeight" class="form-control" />
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group" id="divVehicleOutWeight">
                                    <label for="txtVehicleOutWeight">Vehicle Out Weight</label>
                                    <input type="number" id="txtVehicleOutWeight" class="form-control" />
                                </div>
                            </div>
                            @*<div class="col-md-3">
                                <div class="form-group" id="divAdjustment">
                                    <label for="txtAdjustment">Adjustment</label>
                                    <input type="text" id="txtAdjustment" class="form-control" />
                                </div>
                            </div>*@
                        </div>
                        @*<div class="row">
                            <div class="col-md-2">
                                <div class="form-group" id="divIOUHead">
                                    <label for="ddlIOUHead">IOU Head</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlIOUHead"></select>
                                </div>
                            </div>
                        </div>*@

                        @*<br />*@
                        @*<div class="row">
                            <div class="col-md-12" style="text-align:center; background-color:lightgray;">
                                <h4>Items to Receive </h4>
                            </div>
                        </div>*@

                        <div class="row table-responsive" style="padding-top:10px">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <table class="table table-bordered table-striped table-hover" id="debitVoucher">
                                        <thead style="text-align:center; background-color:lightgray;font-size:14px;">
                                            <tr>
                                                <th style="width: 180px;">Item</th>
                                                @*<th style="width: 350px;">Item Description</th>*@
                                                <th>Ordered qty</th>
                                                <th style="width: 100px">Unit</th>
                                                @*<th style="width: 100px">Pack size name</th>
                                                    <th>No of packet</th>*@
                                                <th>Mfg Date</th>
                                                <th>Expire Date</th>
                                                <th>Price</th>
                                                <th>Total</th>
                                                <th class="action">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top:10px">
                            <div class="col-md-8">
                            </div>
                            <div class="col-md-4">

                                <div class="form-group row">
                                    <div class="col-sm-4">
                                    </div>
                                    <label for="lblSubTotal" class="col-sm-3 control-label">Sub Total :</label>
                                    <div class="col-sm-4">
                                        <input type="number" class="form-control" id="txtSubTotal"  readonly>
                                        <input type="number" id="txtTotalQty" style="display: none" readonly>
                                    </div>
                                    <div class="col-sm-1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top:10px">
                            <div class="col-md-8">
                            </div>
                            <div class="col-md-4">

                                <div class="form-group row">
                                    <div class="col-sm-4">
                                    </div>
                                    <label for="lblSubTotal" class="col-sm-3 control-label">Transport Cost:</label>
                                    <div class="col-sm-4">
                                        <input type="number" class="form-control" id="txtTransportCost" aria-describedby="basic-addon3" oninput="AllCalculation()">
                                    </div>
                                    <div class="col-sm-1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top:10px">
                            <div class="col-md-8">
                            </div>
                            <div class="col-md-4">

                                <div class="form-group row">
                                    <div class="col-sm-4">
                                    </div>
                                    <label for="lblSubTotal" class="col-sm-3 control-label">Labour Cost:</label>
                                    <div class="col-sm-4">
                                        <input type="number" class="form-control" id="txtLabourCost" aria-describedby="basic-addon3" oninput="AllCalculation()">
                                    </div>
                                    <div class="col-sm-1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top:10px">
                            <div class="col-md-8">
                            </div>
                            <div class="col-md-4">

                                <div class="form-group row">
                                    <div class="col-sm-4">
                                    </div>
                                    <label for="lblSubTotal" class="col-sm-3 control-label">Grand Total:</label>
                                    <div class="col-sm-4">
                                        <input type="number" class="form-control" id="txtGrandTotal" readonly>
                                    </div>
                                    <div class="col-sm-1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="row" style="padding-top:10px">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-3">

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon3" style="font-weight:bold;">Sub Total: &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    </div>
                                    <div class="col-xs-6">
                                        <input type="number" class="form-control" id="txtSubTotal" aria-describedby="basic-addon3" readonly>
                                        <input type="number"  id="txtTotalQty" style="display: none" readonly>
                                    </div>
                                </div>
                            </div>

                        </div>*@
                        @*<div class="row" style="padding-top:10px">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-3">

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon3" style="font-weight:bold;">Transport Cost:</span>
                                    </div>
                                    <div class="col-xs-6">
                                        <input type="number" class="form-control" id="txtTransportCost" aria-describedby="basic-addon3" oninput="AllCalculation()">
                                    </div>

                                </div>
                            </div>

                        </div>*@
                        @*<div class="row" style="padding-top:10px">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-3">

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon3" style="font-weight:bold;">Labour Cost: &nbsp; &nbsp;&nbsp;</span>
                                    </div>
                                    <div class="col-xs-6">
                                        <input type="number" class="form-control" id="txtLabourCost" aria-describedby="basic-addon3" oninput="AllCalculation()">
                                    </div>
                                </div>
                            </div>

                        </div>*@
                        @*<div class="row" style="padding-top:10px">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-3">

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon3" style="font-weight:bold;">Grand Total: &nbsp; &nbsp; &nbsp;</span>
                                    </div>
                                    <div class="col-xs-6">
                                        <input type="number" class="form-control" id="txtGrandTotal" aria-describedby="basic-addon3" readonly>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <br />*@
                        @*<div class="row">
                            <div class="col-md-12" style="text-align:center; background-color:lightgray;">
                                <h4>Terms & Conditions </h4>
                            </div>
                        </div>
                        <br />*@
                        <div class="row" style="padding-top:10px">
                            <div class="col-md-10 offset-1">
                                <div class="form-group row">
                                    <label for="lblTermsOfDelivery" class="col-sm-2 control-label">Terms of Delivery :</label>
                                    <div class="col-sm-10" id="divTermsOfDelivery">
                                        <textarea id="txtDeliveryTerms" rows="2" cols="100" style="text-align:left"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top:10px">
                            <div class="col-md-10 offset-1">
                                <div class="form-group row">
                                    <label for="lblTermsOfPackaging" class="col-sm-2 control-label">Terms of Packaging :</label>
                                    <div class="col-sm-10" id="divTermsOfPackaging">
                                        <textarea id="txtPackagingTerms" rows="2" cols="100" style="text-align:left"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top:10px">
                            <div class="col-md-10 offset-1">
                                <div class="form-group row">
                                    <label for="lblTermsOfPayments" class="col-sm-2 control-label">Terms of Payments :</label>
                                    <div class="col-sm-10" id="divTermsOfPayments">
                                        <textarea id="txtPaymentsTerms" rows="2" cols="100" style="text-align:left"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top:10px">
                            <div class="col-md-10 offset-1">
                                <div class="form-group row">
                                    <label for="lblTermsOfBilling" class="col-sm-2 control-label">Terms of Billing :</label>
                                    <div class="col-sm-10" id="divTermsOfBilling">
                                        <textarea id="txtBillingTerms" rows="2" cols="100" style="text-align:left"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top:10px">
                            <div class="col-md-10 offset-1">
                                <div class="form-group row">
                                    <label for="lblOtherTerms" class="col-sm-2 control-label">Other Terms :</label>
                                    <div class="col-sm-10" id="divOtherTerms">
                                        <textarea id="txtOtherTerms" rows="2" cols="100" style="text-align:left"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top:10px">
                            <div class="col-md-10 offset-1">
                                <div class="form-group row">
                                    <label for="lblSpecialInstruction" class="col-sm-2 control-label">Special Instruction :</label>
                                    <div class="col-sm-10" id="divSpecialInstruction">
                                        <textarea id="txtSpecialInstruction" rows="2" cols="100" style="text-align:left"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*<div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <span class="input-group-text">1. Terms of Delivery:</span>
                                    <textarea class="form-control" aria-label="1.Terms of Delivery:" style="margin-top: 0px; margin-bottom: 0px; height: 44px;" id="txtDeliveryTerms"></textarea>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                        <br />*@
                        @*<div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <span class="input-group-text">2. Terms of Packaging:</span>
                                    <textarea class="form-control" aria-label="2. Terms of Packaging:" id="txtPackagingTerms"></textarea>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                        <br />*@
                        @*<div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <span class="input-group-text">3. Terms of Payments:</span>
                                    <textarea class="form-control" aria-label="3. Terms of Payments:" id="txtPaymentsTerms"></textarea>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                        <br />*@
                        @*<div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <span class="input-group-text">4.Terms of Billing/Documentation:</span>
                                    <textarea class="form-control" aria-label="4.Terms of Billing/Documentation:" style="margin-top: 0px; margin-bottom: 0px; height: 70px;" id="txtBillingTerms"></textarea>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                        </div>

                        <br />*@
                        @*<div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <span class="input-group-text">5. Other Terms:</span>
                                    <textarea class="form-control" aria-label="5. Other Terms:" style="margin-top: 0px; margin-bottom: 0px; height: 70px;" id="txtOtherTerms"></textarea>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                        <br />*@
                        @*<div class="row">
                            <div class="col-md-12" style="text-align:center; background-color:lightgray;">
                                <h4>Special Instruction </h4>
                            </div>
                        </div>
                        <br />*@

                        @*<div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <div class="input-group" id="divSpecialInstruction">
                                    <span class="input-group-text">Special Instruction :</span>
                                    <textarea class="form-control" aria-label="Special Instruction :" style="margin-top: 0px; margin-bottom: 0px; height: 70px;" id="txtSpecialInstruction"></textarea>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                        </div>*@
                    </div>
                    <br />
                </div>
                <div class="card-footer" style="text-align:center;">
                    <button class="btn btn-primary" onclick="SaveDirectMRR()">Submit MRR</button>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
    <input id="voucherId" type="number" style="display: none;" value="@ViewBag.MRRrOtherID">
    <input id="eflag" type="text" style="display: none;" value="@ViewBag.eflag">

</section>
@section Scripts
{

    <script>
        var DebitVoucherGLList = {};
        var DeleteGLDetails = [];
        var DeleteGLDetailsTransaction = [];
        var ItemList = {};
        var UOMList = {};
        $(document).ready(function () {
            DefaultValue()
            LoadReceiveWarehouse();
            LoadSupplier();
            LoadIOUHead();
            LoadDate('#txtOrderDate');
            GetItem();
            AddRow();

        });

        function DefaultValue() {
            $("#txtDeliveryTerms").val("I. Delivery will be made to the store of our Factory-Rupshi, Rupgonj, Narayangonj within ........ free of cost."
                + "\n" +

                "II. Quantity: 5% (±) may be accepted.");
            $("#txtPackagingTerms").val("Packing of  Goods must be standard of Road/river/rail worthy security and properly packed.");
            $("#txtPaymentsTerms").val("Payment against part supply is allowed/not allowed.");
            $("#txtBillingTerms").val("I. Bill to be submitted to Commercial Dept. with proper documents like acknowledged challan/vat challan and copy of work order /Purchase Order." + "\n" +
                "II. Upon verification of the bills and documents by the Purchase Division. Payment will be made by the Accounts Division." + "\n" +
                "III. VAT & Taxes at sources will applicable as per Govt. policy.");
            $("#txtOtherTerms").val("I. If any of the agreed specifications are not meet, supplied goods, either complete or partial, will be rejected and goods will be returned by supplier own arrangement." + "\n" +
                "II. In the case of rejected printed packing and packaging materials, the same will be destroyed inside the factory premises in the presence of the supplier's representative. If any." + "\n" +
                "III. All other issues shall be settled amicably.");

        }


        function LoadReceiveWarehouse() {
            var locid = 0;
            var wareHouseTypeid = 7;
            var urlpath = '@Url.Action("LoadWareHouse", "Utility")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",
                data: { locid: locid, wareHouseTypeid: wareHouseTypeid },
                async: false,
                success: function (data) {

                    $('#ddlReceiveWarehouse').empty();
                    $('#ddlReceiveWarehouse').append("<option value='0'>--Select Receive Warehouse--</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#ddlReceiveWarehouse').append($("<option></option>").val(data[i].WareHouseId).html(data[i].WareHouseName));
                    }
                }
            });
        }


        function LoadSupplier() {
            $.ajax({
                url: "/DirrectMrr/LoadSupplier",
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {

                    $('#ddlSupplier').empty();
                    $('#ddlSupplier').append("<option value='0'>--Select Supplier--</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#ddlSupplier').append($("<option></option>").val(data[i].SupplierId).html(data[i].SupplierName));
                    }
                }
            });
        }


        function LoadIOUHead() {


            var urlpath = '@Url.Action("GetDebitVoucherGL", "Utility")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: {},
                async: false,
                success: function (data) {


                    $('#ddlIOUHead').empty();
                    $('#ddlIOUHead').append("<option value='0'>--Select Seven Layer GL--</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#ddlIOUHead').append($("<option></option>").val(data[i].CALayerSevenId).html(data[i].CALayerSevenName));
                    }

                }
            });
        }



        function SaveDirectMRR() {

            if (SaveValidation() == true) {
                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveDirectMRRFinal();

                });
            }
        }

        function SaveDirectMRRFinal() {
            debugger;
            var jsonData = {};

            jsonData["MRRrOtherID"] = $('#voucherId').val();
            jsonData["OrderType"] = $('#ddlOrderType').val();
            jsonData["OrderDate"] = $('#txtOrderDate').val();
            jsonData["OrderComments"] = $('#txtOrderComments').val();
            jsonData["WareHouseId"] = $('#ddlReceiveWarehouse').val();
            jsonData["DeliverTo"] = $('#txtDeliverTo').val();
            jsonData["LabResult"] = $('#txtLabResult').val();
            jsonData["ChallanNo"] = $('#txtChallanNo').val();


            jsonData["ContactInfo"] = $('#txtContactInfo').val();
            jsonData["SupplierId"] = $('#ddlSupplier').val();

            jsonData["SupplierCredit"] = $('#txtSupplierCredit').val();
            jsonData["SupplierReference"] = $('#txtSupplierReference').val();

            jsonData["Adjustment"] = $('#txtAdjustment').val();
            jsonData["VehicleNo"] = $('#txtVehicleNo').val();

            jsonData["VehicleInWeight"] = $('#txtVehicleInWeight').val();
            jsonData["VehicleOutWeight"] = $('#txtVehicleOutWeight').val();
            jsonData["QC"] = $('#txtQC').val();
            jsonData["CALayerSevenId"] = $('#ddlIOUHead').val();

            jsonData["TransportCost"] = $('#txtTransportCost').val();
            jsonData["LabourCost"] = $('#txtLabourCost').val();
            jsonData["SpecialInstruction"] = $('#txtSpecialInstruction').val();


            jsonData["DeliveryTerms"] = $('#txtDeliveryTerms').val();
            jsonData["PackagingTerms"] = $('#txtPackagingTerms').val();
            jsonData["PaymentsTerms"] = $('#txtPaymentsTerms').val();
            jsonData["BillingTerms"] = $('#txtBillingTerms').val();
            jsonData["OtherTerms"] = $('#txtOtherTerms').val();


            var jsonObjs = [];

            ////Credit Object


            $('#debitVoucher tbody tr').each(function () {

                var theObj = {};
                var transactionObj = {};
                var idr = $(this).attr('id');
                var id = idr.substring(3);

                var itemId =$('#itemId_' + id).val();
                var qty = $('#qty_' + id).val();

                //var mgfDate=null;
                //if ($('#mfgDate_' + id).val() != null && $('#mfgDate_' + id).val() != '')
                //{
                //    mgfDate = $('#mfgDate_' + id).val();
                //}
                //var expiredDate = null;
                //if ($('#expiredDate_' + id).val() != null && $('#expiredDate_' + id).val() != '') {
                //    expiredDate = $('#expiredDate_' + id).val();
                //}
                 
                var mgfDate = $('#mfgDate_' + id).val() || new Date();
                var expiredDate = $('#expiredDate_' + id).val() || new Date();

                var unitPrice = parseFloat($('#rate_' + id).val());
                var totalPrice = parseFloat($('#amount_' + id).val());

                theObj["ItemId"] = itemId;
                theObj["OrderQty"] = qty;
                theObj["MfgDate"] = mgfDate;
                theObj["ExpireDate"] = expiredDate;
                theObj["UnitPrice"] = unitPrice;
                theObj["TotalPrice"] = totalPrice;

                jsonObjs.push(theObj);
            });


            jsonData["TotalAmount"] = parseFloat($('#txtSubTotal').val());
            jsonData["TotalQty"] = parseFloat($('#txtTotalQty').val());
            jsonData["DirrectMrrList"] = jsonObjs;

            var urlpath = '@Url.Action("SaveDirrectMrr", "DirrectMrr")';
            $.ajax({
                    contentType: "application/json",
                    data: JSON.stringify(jsonData),
                    dataType: 'json',
                    url: urlpath,
                    type: "POST"
                })
                .success(function (result) {

                    if (result.pk > 0) {
                        @*swal({
                            title: " Saved Successfull",
                            text: '',
                            type: "success",
                            showCancelButton: false,
                            cancelButtonClass: 'btn-secondary waves-effect',
                            confirmButtonClass: 'btn-success waves-effect waves-light',
                            confirmButtonText: 'Yes!',
                            closeOnConfirm: false
                        }, function () {
                           // window.location.href = '@Url.Action("", "")';

                        });

                        ShowMessage("Saved Successfully");*@
                        swal({
                            title: " Saved Successfull",
                            text: '',
                            type: "success",
                            showCancelButton: false,
                            cancelButtonClass: 'btn-secondary waves-effect',
                            confirmButtonClass: 'btn-success waves-effect waves-light',
                            confirmButtonText: 'Print!',
                            closeOnConfirm: false
                        }, function () {
                            //LoadReportFinal(result.pk);



                            window.location.href = '@Url.Action("MRRListindex", "OthersMrr", new { fromdate = (DateTime?)null, todate =(DateTime?)null, mrrNo =0, supplierId =0, itemId =0})';

                        });
                    }
                });


        }

        function SaveValidation() {

            var isValid = true;
            var message = "Some Values Required";
            if ($('#ddlOrderType').val() == 0 || $('#ddlOrderType').val() == '') {
                ValidationColorChangeNew("ddlOrderType", "divOrderType", "Order Type Required", true);
                isValid = false;
            }
            if ($('#ddlReceiveWarehouse').val() == 0 || $('#ddlReceiveWarehouse').val() == '') {
                ValidationColorChangeNew("ddlReceiveWarehouse", "divReceiveWarehouse", "Receive Warehouse Required", true);
                isValid = false;
            }

            if ($('#txtOrderDate').val() == '' || $('#txtOrderDate').val() == null) {
                ValidationColorChangeNew("txtOrderDate", "divOrderDate", "Order/Mrr Date Required", false);
                isValid = false;
            }
            if ($('#txtDeliverTo').val().trim() == '' || $('#txtDeliverTo').val().trim() == null) {
                ValidationColorChangeNew("txtDeliverTo", "divDeliverTo", "Deliver To Required", false);
                isValid = false;
            }

            if ($('#ddlSupplier').val() == 0 || $('#ddlSupplier').val() == '') {
                ValidationColorChangeNew("ddlSupplier", "divSupplier", "Supplier Required", true);
                isValid = false;
            }
            if ($('#txtSpecialInstruction').val().trim() == '' || $('#txtSpecialInstruction').val().trim() == null) {
                ValidationColorChangeNew("txtSpecialInstruction", "divSpecialInstruction", "Special Instruction Required", false);
                isValid = false;
            }


            if ($('#debitVoucher tbody tr').length == 0 || $('#debitVoucher tbody tr').length == '') {
                isValid = false;
                message = "Item is Required";
            }


            $('#debitVoucher tbody tr').each(function () {

                var idr = $(this).attr('id');
                var id = idr.substring(3);

                var itemId = isNaN(parseFloat($('#itemId_' + id).val())) ? 0 : parseFloat($('#itemId_' + id).val());
                if (itemId === 0) {
                    isValid = false;
                    message = "Please select Item Code";
                    $('#itemId_' + id).css('border-bottom', '2px solid red');
                    return;
                }
                else {
                    $('#itemId_' + id).css('border-bottom', 'none');
                }

                var qty = isNaN(parseFloat($('#qty_' + id).val())) ? 0 : parseFloat($('#qty_' + id).val());
                if (qty === 0) {
                    isValid = false;
                    message = "Please insert Ordered Qty";
                    $('#qty_' + id).css('border-bottom', '2px solid red');
                    return;
                }
                else {
                    $('#qty_' + id).css('border-bottom', 'none');
                }

                //if ($('#mfgDate_' + id).val() == '' || $('#mfgDate_' + id).val() == null) {
                //    isValid = false;
                //    message = "Please Insert Mgf Date";
                //    $('#mfgDate_' + id).css('border-bottom', '2px solid red');
                //    return;
                //}
                //else {
                //    $('#mfgDate_' + id).css('border-bottom', 'none');
                //}

                //if ($('#expiredDate_' + id).val() == '' || $('#expiredDate_' + id).val() == null) {
                //    isValid = false;
                //    message = "Please Insert Expired Date";
                //    $('#expiredDate_' + id).css('border-bottom', '2px solid red');
                //    return;
                //}
                //else {
                //    $('#expiredDate_' + id).css('border-bottom', 'none');
                //}

                var price = isNaN(parseFloat($('#rate_' + id).val())) ? 0 : parseFloat($('#rate_' + id).val());
                if (price === 0) {
                    isValid = false;
                    message = "Please insert item price";
                    $('#rate_' + id).css('border-bottom', '2px solid red');
                    return;
                }
                else {
                    $('#rate_' + id).css('border-bottom', 'none');
                }


            });


            if (isValid == false) {
                ShowMessage(message);

            }
            return isValid;


        }

        function LoadReportFinal(id) {
            debugger;
            var urlpath = '@Url.Action("MrrPrintReports", "Report")';


            var reportValue = "MrrPrint";

            var mrrId = id;

            //  alert( id);

            var jsonData = {};


            jsonData["ReportValue"] = reportValue;
            jsonData["MRRrOtherID"] = mrrId;



            debugger;
            $.ajax({
                url: urlpath,
                data: jsonData,
                dataType: 'json',
                type: "Get",
                success: function (data) {
                    if (data.isSuccess) {



                        //OpenPopUp('BasicReportViewer.aspx');
                        window.open("../CrystalViewer/CrystalViewer.aspx", "_blank", "WIDTH=1024,HEIGHT=768,scrollbars=no, menubar=no,resizable=yes,directories=no,location=no");
                    }
                }
            });
        }

        function AllCalculation() {
            var total = 0;
            var sub = 0;
            var grand = 0;
            var TotalQty = 0;
            $('#debitVoucher tbody tr').each(function () {
                var idr = $(this).attr('id');
                var id = idr.substring(3);

                var qty = isNaN(parseFloat($('#qty_' + id).val())) ? 0 : parseFloat($('#qty_' + id).val());
                var price = isNaN(parseFloat($('#rate_' + id).val())) ? 0 : parseFloat($('#rate_' + id).val());
                total = qty * price;
                $('#amount_' + id).val(total.toFixed(2));

                var tSum = isNaN(parseFloat($('#amount_' + id).val())) ? 0 : parseFloat($('#amount_' + id).val());
                sub += tSum;
                TotalQty += qty;
            });
            var trans = isNaN(parseFloat($('#txtTransportCost').val())) ? 0 : parseFloat($('#txtTransportCost').val());
            var labor = isNaN(parseFloat($('#txtLabourCost').val())) ? 0 : parseFloat($('#txtLabourCost').val());

            //var len = $('#debitVoucher tbody tr').length+1;

            //for (i = 0; i < len; i++) {
            //    var tSum = isNaN(parseFloat($('#amount_' + i).val())) ? 0 : parseFloat($('#amount_' + i).val());
            //    sub += tSum;
            //}
            grand = trans + labor + sub;
            $('#txtSubTotal').val(sub.toFixed(2));
            $('#txtGrandTotal').val(grand.toFixed(2));
            $('#txtTotalQty').val(TotalQty.toFixed(2));

        }





        function RemoveRow(id) {
            debugger;
            var MRRrOtherID = $('#voucherId').val();

            var trLength = $('#debitVoucher tbody tr:visible').length;
            if (trLength == 1 && MRRrOtherID == 0) {
                $('#itemId_' + id).val(0).trigger('change');

                $('#qty_' + id).val('');
                $('#mfgDate_' + id).val('');
                $('#expiredDate_' + id).val('');
                $('#rate_' + id).val('');
                $('#amount_' + id).val('');

                $('#txtTransportCost').val('');
                $('#txtLabourCost').val('');
                AllCalculation();
            }

            if (trLength > 1) {

                $('#tr_' + id).remove();
                SerialTable();
                AllCalculation();
            } else {
                return;
            }

        }

        // ------------------------------------

        //function RemoveRow(id) {
        //    debugger;
        //    var trLength = $('#debitVoucher tbody tr:visible').length;
        //    var purchaseId = $('#purchaseId').val();
        //    if (trLength == 1 && purchaseId == 0) {
        //        $('#itemId_' + id).val(0).trigger('change');
        //        $('#itemName_' + id).val('');
        //        $('#qty_' + id).val(0);
        //        $('#unit_' + id).val(0).trigger('change');
        //        $('#rate_' + id).val(0);
        //        $('#amount_' + id).val(0);
        //        $('#txtAdvance').val(0);
        //        AdvancedValue();
        //    }

        //    if (trLength > 1) {

        //        var detailsId = $('#details_' + id).val();
        //        if (detailsId > 0) {
        //            var itemId = isNaN(parseFloat($('#itemId_' + id).val())) ? 0 : parseFloat($('#itemId_' + id).val());
        //            var amount = isNaN(parseFloat($('#amount_' + id).val())) ? 0 : parseFloat($('#amount_' + id).val());
        //            var remarks = $('#remarks_' + id).val();
        //            var drcr = $('#DrCr_' + id).val();

        //            var delObj = {};
        //            delObj["PurchaseOrderDetailID"] = detailsId;
        //            delObj["PurchaseOrderID"] = purchaseId;
        //            delObj["ItemId"] = itemId;
        //            delObj["IsDelete"] = true;
        //            delObj["eflag"] = $('#eflag').val();
        //            DeleteItemDetails.push(delObj);

        //        }
        //        $('#tr_' + id).remove();
        //        SerialTable();
        //        AdvancedValue();
        //    } else {
        //        return;
        //    }

        //}


        // ----------------------------------------------------------------------------------------------

        function AddRow() {

            var tr = $('#debitVoucher tbody tr').length + 1;
            var values = $("#debitVoucher tbody tr")
                .map(function () { return parseInt($(this).attr('id').substring(3)); }).get();
            var index = values.indexOf(tr);
            if (index >= 0) {
                tr = Math.max.apply(Math, values) + 1;
            }
            var urlpath = '@Url.Action("AddRowForItem", "DirrectMrr")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'html',
                data: { tr: tr },
                async: false,
                success: function (data) {

                    $('#debitVoucher tbody').append(data);
                    LoadItemInRow("itemId_" + tr);


                }
            });
            $('#itemId_' + tr).select2();
            LoadDate('#mfgDate_' + tr);
            LoadDate('#expiredDate_' + tr);

            SerialTable();

        }

        function SerialTable() {
            $('#debitVoucher tbody tr').each(function (index, element) {
                var idr = $(this).attr('id');
                var id = idr.substring(3);
                $('#ts_' + id).html(index + 1);


            });
        }

        function LoadItemInRow(elementId) {

            $('#' + elementId + '').append("<option value='0'>--Select Item--</option>");
            for (var i = 0; i < ItemList.length; i++) {

                $('#' + elementId + '').append($("<option></option>").val(ItemList[i].ItemId).html(ItemList[i].ItemName));
            }
        }



        function GetItem() {
                 var urlpath = '@Url.Action("GetItem", "PurchaseOrderOther")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: {},
                async: false,
                success: function (data) {
                    ItemList = data;
                }
            });
        }
        function GetItemDetails(slId) {
            debugger;
            var itemId = $('#itemId_' + slId).val();

            var urlpath = '@Url.Action("GetItemDetails", "DirrectMrr")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'json',
                data: { itemId: itemId },
                async: false,
                success: function (data) {
                    debugger;
                    $("#ItemDescription_" + slId).html('');
                    $("#ItemDescription_" + slId).html(data.ItemDescription);
                    $("#Itemunit_" + slId).html('');
                    $("#Itemunit_" + slId).html(data.UOMName);
                    //$("#packSize_" + slId).html('');
                    //$("#packSize_" + slId).html(data.PackSizeName);
                }
            });
        }





    </script>
}
