﻿@using IGFoodProject.Utility
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>@ViewData["Title"] - IGFoodProject</title>
    <link href="~/AssetStatic/plugins/fontawesome-free/css/all.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    @*<link href="~/AssetStatic/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />*@
    @*<link rel="stylesheet" href="~/AssetStatic/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">*@
    <!-- iCheck -->
  
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/AssetStatic/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    @*<link rel="stylesheet" href="~/AssetStatic/plugins/jqvmap/jqvmap.min.css">*@
    <!-- Theme style -->
    <link href="~/AssetStatic/plugins/datatables-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/AssetStatic/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/AssetStatic/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/AssetStatic/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    @*<link rel="stylesheet" href="~/AssetStatic/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link href="~/AssetStatic/plugins/datepicker/datepicker3.css" rel="stylesheet" />
    <link href="~/AssetStatic/plugins/sweetalert/dist/sweetalert.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/AssetStatic/css/site.css" />
    <link href="~/AssetStatic/css/CustomSite.css" rel="stylesheet" />
    <link href="~/AssetStatic/plugins/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet"/>

    
    <style>
        .modal-dialog {
            width: 100%;
            height: 100%;
        }

        .modal-contents {
            background-color: white;
        }

        .ModalHead {
            padding: 15px;
            color: black;
            background-color: #FFFFFF;
        }

            .ModalHead > h4 {
                color: black;
                padding-left: 10px;
            }
            .LayoutClass {
                color: greenyellow;
            }
    </style>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-blue navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                </li>
                @*<li class="nav-item d-none d-sm-inline-block">
                    <a href="index3.html" class="nav-link">Home</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link">Contact</a>
                </li>*@
            </ul>
            <ul class="navbar-nav ml-auto">
                <a href="@Url.Action("Logout", "Home")" class="btn btn-danger">Logout</a>
            </ul>

            <!-- SEARCH FORM -->
            @*<form class="form-inline ml-3">
                <div class="input-group input-group-sm">
                    <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-navbar" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>*@
            <!-- Right navbar links -->
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-light-blue elevation-4">
            <!-- Brand Logo -->
       
            
                <!-- Sidebar -->
            <div class="sidebar">
                <a href="index3.html" class="brand-link">
                    <img src="~/AssetStatic/Images/downloadIG.png" class="brand-image img-circle elevation-2"
                         style="opacity: .8">
                    <span class="brand-text font-weight-light">IG FOODS LTD</span>
                </a>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                  
                        @Html.Action("MenuGeneration", "DashBoard") 
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
                <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- /.content-header -->
            <!-- Main content -->
            @RenderBody()
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong> &copy; 2019 - IGFoodProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 1.0
            </div>
            <input type="hidden" id="sessionUserInfo" value="@Session[SessionCollection.UserInfo].ToString()" />
        </footer>
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>


    <!-- jQuery -->
    @*<script src="~/plugins/jquery/jquery.min.js"></script>*@
    <script src="~/AssetStatic/plugins/jquery/jquery-2.2.3.min.js"></script>
    <script src="~/AssetStatic/js/jquery.rowspanizer.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/AssetStatic/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->

    <script src="~/AssetStatic/plugins/moment/moment.min.js"></script>
    <script src="~/AssetStatic/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/AssetStatic/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/AssetStatic/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/AssetStatic/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <!-- ChartJS -->
    <script src="~/AssetStatic/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/AssetStatic/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    @*<script src="~/plugins/jqvmap/jquery.vmap.min.js"></script>
        <script src="~/plugins/jqvmap/maps/jquery.vmap.world.js"></script>*@
    <!-- jQuery Knob Chart -->
    <script src="~/AssetStatic/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/AssetStatic/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="~/AssetStatic/plugins/datepicker/bootstrap-datepicker.js"></script> 
    <script src="~/AssetStatic/plugins/Datejs/build/date-en-US.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    @*<script src="~/AssetStatic/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>*@
    <!-- Summernote -->
    <script src="~/AssetStatic/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/AssetStatic/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/AssetStatic/dist/js/adminlte.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    @*<script src="~/dist/js/pages/dashboard.js"></script>*@
    <script src="~/AssetStatic/plugins/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/AssetStatic/js/custom-functions.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/AssetStatic/dist/js/demo.js"></script>
    <script src="~/AssetStatic/plugins/select2/js/select2.js"></script>
    @RenderSection("Scripts", required: false);
    <script>
        $(function () {
            //Enable sidebar dinamic menu
            /** add active class and stay opened when selected */
            var url = window.location;

            // for sidebar menu entirely but not cover treeview
            $('ul.sidebar-menu a').filter(function () {
                return this.href == url;
            }).parent().addClass('active');

            // for treeview
            $('ul.treeview-menu a').filter(function () {
                return this.href == url;
            }).parentsUntil(".sidebar-menu > .treeview-menu").addClass('active');


            $('.select2').select2();
            $('.datepicker').datepicker({
                autoclose: true,
                format: 'dd M yyyy'

            });

            $('.dataTable').dataTable();



            $(document).on('keypress', 'input[type=number]', function (e) {

                var keyCode = e.which ? e.which : e.keyCode;

                if (!(keyCode >= 46 && keyCode <= 57)) {

                    return false;
                }
            });

            $(document).on('keyup keydown change', 'input[type=number]', function (e) {

                $('input[type=number]').attr({
                    "min": 0
                });
            });




            //Enable sidebar dinamic menu
            /* add active class and stay opened when selected */
            var url = window.location;

            // for sidebar menu entirely but not cover treeview
            $('ul.nav-sidebar a').filter(function () {
                return this.href == url;
            }).addClass('');

            // for treeview
            $('ul.nav-treeview a').filter(function () {
                return this.href == url;
            }).parentsUntil(".nav-sidebar > .nav-treeview").addClass('menu-open').prev('a').addClass('');
        });


    </script>
</body>
</html>
