﻿@model IEnumerable<IGFoodProject.Models.MenuStepOne>



    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
            with font-awesome or any other icon font library -->
            @*<li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-table"></i>
                        <p>
                            Tables
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="pages/tables/simple.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Simple Tables</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/tables/data.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>DataTables</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/tables/jsgrid.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>jsGrid</p>
                            </a>
                        </li>
                    </ul>
                </li>*@



            @foreach (IGFoodProject.Models.MenuStepOne aStepOne in Model)
            {
            <li class="nav-item has-treeview">
                @if (string.IsNullOrEmpty(@aStepOne.ControllerName))
                {
                    if (@aStepOne.MenuStepTwoList.Count > 0)
                    {
                        <a href="javascript:void(0);" class="nav-link"><i class="fas fa-paper-plane">&nbsp;</i><p class="text-blue">@aStepOne.MenuName</p><i class="right fas fa-angle-left"></i></a>
                    }
                    else
                    {
                        <a href="javascript:void(0);" class="nav-link"><i class="fas fa-paper-plane">&nbsp;</i><p class="text-blue">@aStepOne.MenuName</p></a>
                    }
                }
                else
                {
                    if (@aStepOne.MenuStepTwoList.Count > 0)
                    {

                        @*<a href="@Url.Action(@aStepOne.ActionName, @aStepOne.ControllerName)" class="nav-link"><i class="fa fa-angle-left pull-right"></i><p>@aStepOne.MenuName</p><i class="right fas fa-angle-left"></i></a>*@
                        <a href="@Url.Action(@aStepOne.ActionName, @aStepOne.ControllerName)" class="nav-link"><i class="fas fa-paper-plane">&nbsp;</i><p class="text-blue">@aStepOne.MenuName</p><i class="right fas fa-angle-left"></i></a>

                    }
                    else
                    {

                        @*<a href="@Url.Action(@aStepOne.ActionName, @aStepOne.ControllerName)" class="nav-link"><i class="fa fa-angle-left pull-right"></i><p>@aStepOne.MenuName</p></a>*@
                        <a href="@Url.Action(@aStepOne.ActionName, @aStepOne.ControllerName)" class="nav-link"><i class="fas fa-paper-plane">&nbsp;</i><p class="text-blue">@aStepOne.MenuName</p></a>

                    }

                }
                @if (@aStepOne.MenuStepTwoList.Count > 0)
                {
                    <ul class="nav nav-treeview">
                        @foreach (IGFoodProject.Models.MenuStepTwo aStepTwo in aStepOne.MenuStepTwoList)
                        {
                        <li class="nav-item has-treeview">
                            @if (string.IsNullOrEmpty(@aStepTwo.ControllerName))
                            {
                                if (@aStepTwo.MenuStepThreeList.Count > 0)
                                {
                                    <a href="javascript:void(0);" class="nav-link"><i class="far fa-check-circle">&nbsp;</i><p>@aStepTwo.MenuName</p><i class="right fas fa-angle-left"></i></a>
                                }
                                else
                                {
                                    <a href="javascript:void(0);" class="nav-link"><i class="far fa-check-circle">&nbsp;</i><p>@aStepTwo.MenuName</p></a>

                                }

                            }
                            else
                            {
                                if (@aStepTwo.MenuStepThreeList.Count > 0)
                                {
                                    <a href="@Url.Action(@aStepTwo.ActionName, @aStepTwo.ControllerName)" class="nav-link"><i class="far fa-check-circle">&nbsp;</i><p>@aStepTwo.MenuName</p><i class="right fas fa-angle-left"></i></a>

                                }
                                else
                                {
                                    <a href="@Url.Action(@aStepTwo.ActionName, @aStepTwo.ControllerName)" class="nav-link"><i class="far fa-check-circle">&nbsp;</i><p>@aStepTwo.MenuName</p></a>

                                }

                            }
                            @if (@aStepTwo.MenuStepThreeList.Count > 0)
                            {
                                <ul class="nav nav-treeview">
                                    @foreach (IGFoodProject.Models.MenuStepThree aStepThree in aStepTwo.MenuStepThreeList)
                                    {
                                        if (string.IsNullOrEmpty(@aStepThree.ControllerName))
                                        {
                                            <li class="nav-item"><a href="javascript:void(0);" class="nav-link"><i class="far fa-flag">&nbsp;</i><p>@aStepThree.MenuName</p></a></li>
                                        }
                                        else
                                        {
                                            <li class="nav-item"><a href="@Url.Action(@aStepThree.ActionName, @aStepThree.ControllerName)" class="nav-link"><i class="far fa-flag">&nbsp;</i><p>@aStepThree.MenuName</p></a></li>
                                        }
                                    }
                                </ul>
                            }
                        </li>
                        }
                    </ul>
                }

            </li>
            }

        </ul>
    </nav>
    <!-- /.sidebar-menu -->





