﻿@model IGFoodProject.Models.RequisitionDetails
@{

    int sl = (int)TempData["trSl"];
}
<tr id="tr_@sl">
    <td>
        @sl
    </td>
    <td>
        <select id="ProductName_@sl"  class="form-control"></select>

    </td>
    
    <td>

        <input type="number" min=0 class="form-control" id="StockInKG_@sl" />

    </td>
    
    <td>

        <input type="number" min=0 oninput="validity.valid||(value='');" class="form-control" id="UnitPrice_@sl" />

    </td>
    <td>

        <input type='text' style='text-align:center;' class="form-control" id="expDate_@sl" />

    </td>
    <td>

        <input type="text" class="form-control" id="Remarks_@sl" />

    </td>
    <td>
        <div class="form-group">
            <button class="btn btn-primary btn-sm" onclick="AddRow()"><span class="fa fa-plus"></span></button>
            <button class="btn btn-danger btn-sm" onclick="RemoveRow(@sl)"><span class="fa fa-trash"></span></button>
        </div>
    </td>
</tr>

@section Scripts{
    <script>
        $(function () {
            $('#ProductName_@sl').val('@Model.ItemId');
        });

    </script>
}
