﻿
@{
    ViewBag.Title = "AddByProductStockIn";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title"><span class="fa fa-eye"></span> By Product Stock In Entry Page</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        <div class="col-md-2">
                            @*<div class="card-body">
                                <input type="checkbox" class="form-check-input" id="chkIsOpening" style="margin-left: 3px;" onclick="Checkp()" />
                                <label class="form-check-label" for="chkIsOpening" style="margin-left: 24px;">Direct Stock In</label>
                            </div>*@
                        </div>
                       

                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divCompany">
                                    <label for="ddlCompany">Company</label>
                                    @*<input type="text" class="form-control" id="txtCompany" disabled="disabled" />*@
                                    <select class="form-control select2" style="width: 100%;" id="ddlCompany"></select>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div style="margin-left:17%">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="card-body">
                                    <div class="form-group">
                                        <input type="checkbox" class="form-check-input" id="chkIsOpening" style="margin-left: 3px;" onclick="Checkp()" />
                                        <label class="form-check-label" for="chkIsOpening" style="margin-left: 24px;">Direct Stock In</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card-body">


                                    <div class="form-group clearfix">
                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="rdIssue" name="r1" checked onclick="Checkrd()">
                                            <label for="rdIssue">
                                                From Portion Plant
                                            </label>
                                        </div>
                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="rdDress" name="r1" onclick="Checkrd()" >
                                            <label for="rdDress">
                                                From Dressing Plant
                                            </label>
                                        </div>
                                       

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divLocation">
                                        <label for="ddlLocation">From Location</label>
                                        @*<input type="text" class="form-control" id="txtLocation" disabled="disabled" />*@
                                        <select class="form-control select2" id="ddlLocation"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divToLocation">
                                        <label for="ddlToLocation">To Location</label>
                                        @*<input type="text" class="form-control" id="txtLocation" disabled="disabled" />*@
                                        <select class="form-control select2" id="ddlToLocation"></select>
                                    </div>
                                </div>
                            </div>
                         

                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divWareHouse">
                                        <label for="ddlWareHouse">Stock/Plant House</label>

                                        <select class="form-control select2" id="ddlWareHouse"></select>
                                    </div>
                                </div>
                            </div>
                           

                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divToWareHouse">
                                        <label for="ddlToWareHouse">Stock House</label>
                                        <select class="form-control select2" id="ddlToWareHouse"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divIssue">
                                        <label for="ddlIssue">Issue No</label>
                                        <select class="form-control select2" style="width: 100%;" id="ddlIssue"></select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divStockInDate">
                                        <label for="txtStockInDate">Stock In Date</label>
                                        @*<input type="text" class="form-control" id="txtStockInDate" value="@System.DateTime.Now.ToString("dd-MMM-yyyy")"/>*@
                                        <input type="text" autocomplete="off" class="form-control datepicker" id="txtStockInDate" value="@DateTime.Now.ToString("dd-MMM-yyyy")" />
                                    </div>
                                </div>
                            </div>
                           
                          
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divStockInBy">
                                        <label for="empAutoCom">Stock In By</label>
                                        <input type="text" class="form-control" id="empAutoCom" />
                                        <input type="number" class="form-control" id="employeeSelect" style="display:none;" /> @*style="display:none;"*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divComments">
                                        <label for="txtComments">Comment</label>
                                        <textarea id="txtComments" class="form-control" cols="12" and rows="3"></textarea>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                        <div class="row">
                            <div class="card-body table-responsive">
                                <div class="col-md-12">
                                    <label>By Product Stock In Description</label>
                                    <table id="myTable_o" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th style="text-align:center;">#SL</th>
                                                <th style="text-align:center;">Product Name</th>
                                                @*<th style="text-align:center;">Stock In Qty</th>*@
                                                <th style="text-align:center;">Stock In Qty Kg</th>
                                                <th style="text-align:center;">Unit Price</th>
                                                <th style="text-align:center;">Expire Date</th>
                                                <th style="text-align:center;">Remarks</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="myTableb_o"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button class="btn btn-primary" onclick="SaveFinal()">Submit</button>
                                <button class="btn btn-outline-danger  float-right" onclick="location.reload()">Cancel</button>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
    @*<input id="txtOrderId" type="number" style="display:none;" value="@ViewBag.reqid">
        <input id="txtflag" type="text" style="display:none;" value="@ViewBag.flagid">*@
</section>
@section Scripts{
    <script>
        var AllItemList = {};
        $(function () {
            //var id = $('#txtOrderId').val();
            $('#txtStockInDate').datepicker({
                //startDate: '+0m',
                startDate: '-1d',
                endDate: '+0m',
                todayHighlight: true,
                format: 'dd-M-yyyy',
                minDate: 1,
                //minDate: 0,
                autoclose: true
            });

            LoadCompany('ddlCompany');
            $("#ddlCompany").val(7);
            LoadLocation('ddlLocation', $("#ddlCompany").val());
            LoadLocation('ddlToLocation', $("#ddlCompany").val());
            $("#ddlLocation").val(4).trigger('change');
            $("#ddlToLocation").val(4).trigger('change');


            LoadWareHouse('ddlWareHouse', 4, 2);
            $('#ddlWareHouse').val('15').trigger('change');
            LoadIssue('ddlIssue', $("#ddlWareHouse").val());



            LoadWareHouse('ddlToWareHouse', 4, 3);
            $('#ddlToWareHouse').val('10').trigger('change');

            $('#ist').hide();
           // LoadDate('#txtStockInDate');


            EmpAutoCom('empAutoCom', 'employeeSelect');

            $('#ddlWareHouse').change(function () {
                var WarehouseId = $(this).val();

                var rdIssue = $("#rdIssue").prop("checked");
                if (rdIssue == true) {
                    LoadIssue('ddlIssue', WarehouseId);
                }
                else {
                    
                    LoadDressMaster('ddlIssue', WarehouseId);
                }



            });


            $('#ddlCompany').change(function () {
                var reqId = $(this).val();

                LoadLocation('ddlLocation', reqId)
            });

            $('#ddlLocation').change(function () {
                var locid = $(this).val();
                
                var rdIssue = $("#rdIssue").prop("checked");
                if (rdIssue == true)
                {
                    var wt = 3;
                    LoadWareHouse('ddlWareHouse', locid, wt);
                }
                else {
                    var wt = 2;
                    LoadWareHouse('ddlWareHouse', locid, wt);
                }
                
            });
            $('#ddlToLocation').change(function () {
                var locid = $(this).val();
                var wt = 3;
                LoadWareHouse('ddlToWareHouse', locid, wt);
            });
            LoadAllProduct();
            Checkp();
            AddRow();


        });
        function Checkrd() {
            
            var checkp = $("#rdIssue").prop("checked");
            if (checkp == true) { //if this item is unchecked
                var wt = 3;
                var locid = $("#ddlLocation").val();
                LoadWareHouse('ddlWareHouse', locid, wt);
                $('#ddlWareHouse').val('15').trigger('change');
                LoadIssue('ddlIssue', $("#ddlWareHouse").val());

            }
            else {

                var wt = 2;
                var locid = $("#ddlLocation").val();
                LoadWareHouse('ddlWareHouse', locid, wt);
                LoadDressMaster('ddlIssue', $("#ddlWareHouse").val());
            }
        }
        function Checkp() {
            var checkp = $("#chkIsOpening").prop("checked");
            if (checkp == false) { //if this item is unchecked
                $("#ddlIssue").prop('disabled', false);
                $('#ddlLocation').prop('disabled', false);
                $('#ddlWareHouse').prop('disabled', false);

            }
            else {

                $("#ddlIssue").prop('disabled', true);
                $('#ddlLocation').prop('disabled', true);
                $('#ddlWareHouse').prop('disabled', true);
            }
        }


        function SaveFinal() {

            if (SaveValidation()) {
                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveRequisition();

                });
            }



        }


        function SaveRequisition() {
            var IsOpening = $("#chkIsOpening").prop("checked");
            var checkrd = $("#rdIssue").prop("checked");
            var StockInMasterID = 0;
            var WareHouseId = parseInt($('#ddlToWareHouse').val());
            var LocationId = parseInt($('#ddlToLocation').val());
            var CompanyId = parseInt($('#ddlCompany').val());
            var StockInDate = $('#txtStockInDate').val();

            var Comments = $('#txtComments').val();
            var StockInBy = $('#empAutoCom').val();
            var DBIssueMasterID = $('#ddlIssue').val();
            var jsonData = {};
            jsonData["StockInMasterID"] = StockInMasterID;
            jsonData["WareHouseId"] = WareHouseId;
            jsonData["StockInDate"] = StockInDate;
            jsonData["Comments"] = Comments;
            jsonData["StockInBy"] = StockInBy;
            jsonData["GroupId"] = 7;
            if (IsOpening == true) {
                jsonData["IsOpening"] = 5;
            }
            else {
                jsonData["IsOpening"] = 4;
            }
            if (checkrd == true)
            {
                jsonData["DBIssueMasterID"] = DBIssueMasterID;
            }
            else
            {
                jsonData["DressdMasterID"] = DBIssueMasterID;
            }

            
            jsonData["CompanyId"] = CompanyId;
            jsonData["LocationId"] = LocationId;
            jsonData["checkrd"] = checkrd;
            var receiveobj = [];

            var rowCount = $('#myTable_o tbody tr').length;
            for (var i = 0; i < rowCount; i++) {

                var item = i + 1;

                var ProductName = parseInt($("#ProductName_" + item).val());

                var StockInKG = isNaN(parseFloat($("#StockInKG_" + item).val()), 0) ? 0 : parseFloat($("#StockInKG_" + item).val());
                var UnitPrice = isNaN(parseFloat($("#UnitPrice_" + item).val()), 0) ? 0 : parseFloat($("#UnitPrice_" + item).val());

                var ExpireDate = $("#expDate_" + item).val();
                var Remarks = $("#Remarks_" + item).val();
                var myreceiveobj = {};
                myreceiveobj["StockInDetailID"] = 0;
                myreceiveobj["ItemID"] = 0;
                myreceiveobj["ProductID"] = ProductName;
                myreceiveobj["StockInDate"] = StockInDate;
                myreceiveobj["StockInQty"] = 0;
                myreceiveobj["StockInKG"] = StockInKG;
                myreceiveobj["UnitPrice"] = UnitPrice;
                myreceiveobj["ExpireDate"] = ExpireDate;
                myreceiveobj["Remark"] = Remarks;
                myreceiveobj["PUnitPrice"] = 0;
                if (IsOpening == true) {
                    myreceiveobj["IsOpening"] = 5;
                }
                else {
                    myreceiveobj["IsOpening"] = 4;
                }
                receiveobj.push(myreceiveobj);


            }







            jsonData["adetail"] = receiveobj;



            var urlpath = '@Url.Action("SaveByProductStock", "ByProductStockIn")';

            $.ajax({

                contentType: "application/json",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "POST",
                traditional: true
            })
                .success(function (result) {

                    if (result.isSuccess == true) {

                        swal("By Product Stock in Save Succesfully");
                        //var productno= GetProductNo(result.pk);

                        //swal("Product ("+productno+") Saved Successfull");
                        window.location.href = '@Url.Action("AddByProductStockIn", "ByProductStockIn")';


                    }
                });
        }




        function SaveValidation() {
            var isValid = true;
            var message = 'Some Values Required';

            var checkp = $("#chkIsOpening").prop("checked");

            if (checkp == false) {
                if ($('#ddlIssue').val() == 0 || $('#ddlIssue').val() == '') {
                    ValidationColorChangeNew('ddlIssue', 'divIssue', 'Select Issue', true);
                    isValid = false;
                }
            }

            if ($('#ddlCompany').val() == 0 || $('#ddlCompany').val() == '') {
                ValidationColorChangeNew('ddlCompany', 'divCompany', 'Select Company', true);
                isValid = false;
            }

            if (checkp == false) {
                if ($('#ddlLocation').val() == 0 || $('#ddlLocation').val() == '') {
                    ValidationColorChangeNew('ddlLocation', 'divLocation', 'Select Location', true);
                    isValid = false;
                }

                if ($('#ddlWareHouse').val() == 0 || $('#ddlWareHouse').val() == '') {
                    ValidationColorChangeNew('ddlWareHouse', 'divWareHouse', 'Select Waerhouse', true);
                    isValid = false;
                }
            }

            if ($('#ddlToLocation').val() == 0 || $('#ddlToLocation').val() == '') {
                ValidationColorChangeNew('ddlToLocation', 'divToLocation', 'Select To Location', true);
                isValid = false;
            }
            if ($('#ddlToWareHouse').val() == 0 || $('#ddlToWareHouse').val() == '') {
                ValidationColorChangeNew('ddlToWareHouse', 'divToWareHouse', 'Select To Warehouse', true);
                isValid = false;
            }




            if ($('#txtStockInDate').val() == null || $('#txtStockInDate').val() == '') {
                ValidationColorChangeNew('txtStockInDate', 'divStockInDate', 'Stock In Date Required', true);
                isValid = false;
            }



            if ($('#empAutoCom').val() == null || $('#empAutoCom').val() == '') {
                ValidationColorChangeNew('empAutoCom', 'divStockInBy', 'Stock In By Required', true);
                isValid = false;
            }



            var rowCount = $('#myTable_o tbody tr').length;
            for (var i = 0; i < rowCount; i++) {

                var item = i + 1;
                if ($("#ProductName_" + item).val() == 0 || $("#ProductName_" + item).val() == '') {
                    //ValidationColorChange('ProductName_0_', "tr" + [i] + "Select a Product", false);
                    isValid = false;
                    $("#ProductName_" + item).css('border-bottom', '2px solid red');
                }
                else {
                    $("#ProductName_" + item).css('border-bottom', '');
                }

                if ($("#StockInKG_" + item).val() == 0 || $("#StockInKG_" + item).val() == '') {
                    $("#StockInKG_" + item).css('border-bottom', '2px solid red');
                    isValid = false;
                }
                else {
                    $("#StockInKG_" + item).css('border-bottom', '');
                }

                if ($("#UnitPrice_" + item).val() == 0 || $("#UnitPrice_" + item).val() == '') {
                    $("#UnitPrice_" + item).css('border-bottom', '2px solid red');
                    isValid = false;
                }
                else {
                    $("#UnitPrice_" + item).css('border-bottom', '');
                }
                if ($("#expDate_" + item).val() == null || $("#expDate_" + item).val() == '') {
                    $("#expDate_" + item).css('border-bottom', '2px solid red');
                    isValid = false;
                }
                else {
                    $("#expDate_" + item).css('border-bottom', '');
                }

            }



            if (isValid == false) {
                swal(message, "", "warning");
            }
            return isValid;

        }

        function LoadCompany(elementId) {
            var urlpath = '@Url.Action("LoadCompany", "DBToPortionRequisition")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: {},
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Company--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].CompanyId).html(data[i].CompanyShortName));
                    }

                }
            });
        }


        function LoadIssue(elementId, WarehouseId) {

            var urlpath = '@Url.Action("LoadIssue", "ByProductStockIn")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { WarehouseId: WarehouseId },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Issue--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].DBIssueMasterID).html(data[i].IssueNo));
                    }

                }
            });
        }

        function LoadDressMaster(elementId, WarehouseId) {

            var urlpath = '@Url.Action("LoadDressMaster", "ByProductStockIn")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { WarehouseId: WarehouseId },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Dress Bird--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].DressedBirdMasterID).html(data[i].DressedBirdNo));
                    }

                }
            });
        }
        function LoadLocation(elementId, comid) {
            var urlpath = '@Url.Action("LoadLocation", "DBToPortionRequisition")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { comid: comid },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Location--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].LocationId).html(data[i].LocationName));
                    }

                }
            });
        }

        function AddRow() {

            var tr = $('#myTable_o tbody tr').length + 1;
            var ddlName = 'ProductName_' + tr;
            var urlpath = '@Url.Action("GetAddRow", "ByProductStockIn")';
            $.ajax({
                url: urlpath,
                dataType: 'HTML',
                type: "Get",
                data: { tr: tr },
                async: true,
                success: function (data) {

                    $('#myTable_o tbody').append(data);
                    LoadProduct(ddlName);
                    LoadDate('#expDate_' + tr);
                }
            });
        }
        function RemoveRow(trId) {
            if (($('#myTable_o tbody tr').length) > 1) {
                $('#tr_' + trId + '').remove();
            }

        }

        function LoadWareHouse(elementId, locid, wareHouseTypeId) {
            var urlpath = '@Url.Action("LoadWareHouse", "DBToPortionRequisition")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { locid: locid, wareHouseTypeId: wareHouseTypeId },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select --</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].WareHouseId).html(data[i].WareHouseName));
                    }

                }
            });
        }

        function LoadAllProduct() {

            var urlpath = '@Url.Action("LoadProduct", "ByProductStockIn")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: {},
                async: false,
                success: function (data) {
                    AllItemList = data;

                }
            });
        }
        function LoadProduct(elementId) {

            var array = [];
            var rowCount = $('#myTable_o tbody tr').length;
            for (let count = 1; count < rowCount; count++) {
                array.push(parseInt($("#ProductName_" + count).val()));
            };
            $('#' + elementId + '').append("<option value='0'>--Select Product--</option>");

            for (var i = 0; i < AllItemList.length; i++) {
                var a = AllItemList[i].ProductId;
                if (jQuery.inArray(AllItemList[i].ProductId, array) == -1) {

                    $('#' + elementId + '').append($("<option></option>").val(AllItemList[i].ProductId).html(AllItemList[i].ProductName));
                }

            }
            //$('#' + elementId + '').select2();






            //$('#' + elementId).append("<option value='0'>--Select Product--</option>");

            //for (var i = 0; i < AllItemList.length; i++) {

            //    $('#' + elementId + '').append($("<option></option>").val(AllItemList[i].ProductId).html(AllItemList[i].ProductName));

            //}
        }





        function LoadRequisitionDetaillList(DBIssueMasterID) {

            var tablecontents = "";

            var urlpath = '@Url.Action("LoadIssueDetail", "ByProductStockIn")';

            $.ajax({

                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { DBIssueMasterID: DBIssueMasterID },
                async: false,
                success: function (data) {

                    if (data.length > 0) {


                        var se = 0;
                        $.each(data, function (index, item) {
                            se = se + 1;

                            var checkp = $("#chkIsOpening").prop("checked");
                            if (checkp == false) {
                                LoadCompany('ddlCompany');
                                $('#ddlCompany').val(item.CompanyId);
                                $('#ddlCompany').prop('disabled', true)
                                LoadLocation('ddlLocation', item.CompanyId)

                                $('#ddlLocation').val(item.LocationId);
                                $('#ddlLocation').prop('disabled', true)

                                LoadWareHouse('ddlWareHouse', item.LocationId)
                                $('#ddlWareHouse').val(item.WareHouseID);
                                $('#ddlWareHouse').prop('disabled', true)
                            }





                        });



                        //alert(tablecontents);

                    }


                }



            });


        }



        function LoadRequisitionDetaillList_o() {

            var tablecontents = "";
            $("#myTableb_o").html("");
            var urlpath = '@Url.Action("LoadProduct", "ByProductStockIn")';

            $.ajax({

                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {

                    if (data.length > 0) {


                        var se = 0;
                        $.each(data, function (index, item) {
                            se = se + 1;

                            tablecontents += "<tr id='trmain'>";

                            tablecontents += "<td style='display: none;' ><input type='text' class='itemd'  value = '" + item.ProductId + "'/></td>";

                            tablecontents += "<td  style='text-align:center'>" + se + "</td>";

                            tablecontents += "<td style='text-align:center'>" + item.ProductName + "</td>";


                            tablecontents += "<td style='text-align:center;'><input type='number' min='0' style='text-align:center;'  id='StockInKG_" + item.ProductId + "'  value = ''  /></td>";
                            tablecontents += "<td style='text-align:center;'><input type='number' min='0' style='text-align:center;'  id='UnitPrice_" + item.ProductId + "'  value = '' /></td>";
                            tablecontents += "<td style='text-align:center;'><input type='text'  style='text-align:center;'  id='expireDate_" + item.ProductId + "'/></td>";


                            tablecontents += "<td style='text-align:center;'><input type='text'   id='Remarks_" + item.ProductId + "' value = '' /></td>";

                            tablecontents += "</tr>";
                            //LoadDate('#expireDate_' + item.ProductID + "_" + item.BDToPortionIssue2ndDetail);

                        });



                        //alert(tablecontents);
                        $("#myTableb_o").html(tablecontents);
                    }


                }

            });

            $('#myTableb_o tr#trmain').each(function () {


                var iid = isNaN(parseInt($(this).find(".itemd").val()), 0) ? 0 : parseInt($(this).find(".itemd").val());

                LoadDate('#expireDate_' + iid);


            });
        }






    </script>
}


