﻿@model IEnumerable<IGFoodProject.Models.TradeProcessedSalePriceConfig>

@{
    ViewBag.Title = "Index";
}





<section class="content">
    <div class="container-fluid">


        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">
                    <span class="fa fa-eye"></span> Trade Process Sales Price Config List
                </h3>
                <div class="float-right btn btn-outline-warning">
                    @Html.ActionLink("Create New", "Create")
                </div>
            </div>
            <div class="card-body">

                <table class="table dataTable table-bordered table-hover">
                    <tr>
                        <th>
                            
                            @Html.DisplayNameFor(model => model.Product.ProductName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Product.ProductNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PurchasePrice)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SalePrice)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsActive)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FromDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ToDate)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Product.ProductName)
                            </td><td>
                                @Html.DisplayFor(modelItem => item.Product.ProductNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PurchasePrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SalePrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsActive)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FromDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ToDate)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.TradeProcessedSalePriceSetupId }) |
                                @Html.ActionLink("Details", "Details", new { id = item.TradeProcessedSalePriceSetupId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.TradeProcessedSalePriceSetupId })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>

    </div>
</section>
