﻿﻿@using System.Data
@model System.Data.DataTable
@{ int count = 1;}
<table id="pickingTable" border="1" class="table dataTable table-bordered table-striped table-hover">
    <thead>
        <tr style="background-color: aliceblue">
            <th style="text-align: center">SL</th>
            <th style="text-align: center"><input type='checkbox' class='iradio_minimal-blue' id='checkAll' onclick='SelectAllCheckboxFunc()' /></th>
            <th style="text-align: center">Picking No</th>
            <th style="text-align: center">Picking Time</th>
            <th style="text-align: center">Picking Create By</th>
            <th style="text-align: center">Picking Create Date</th>
            <th style="text-align: center">No Of Product</th>
            <th style="text-align: center">Qty In Kg</th>
            <th style="text-align: center">No Of Do</th>
            <th style="text-align: center">See Details</th>
            <th style="text-align: center">Action</th>
        </tr>

    </thead>
    <tbody class="Traylist">
        @foreach (DataRow row in Model.Rows)
        {
            <tr id="@row.ItemArray[0]" rowType="@row.ItemArray[9]">
                <td>@count</td>
                <td><input type='checkbox' class='iradio_minimal-blue checkp' id='check_@count' onclick='Checkp(@count)' /></td>
                <td style="text-align: center">@row.ItemArray[1]</td>
                <td style="text-align: center">@Convert.ToDateTime(row.ItemArray[2]).ToString("hh:mm:ss tt")</td>
                <td style="text-align: center">@row.ItemArray[3]</td>
                <td style="text-align: center">@row.ItemArray[4]</td>
                <td style="text-align: center">@row.ItemArray[5]</td>
                <td style="text-align: center">@row.ItemArray[6]</td>
                <td style="text-align: center">@row.ItemArray[7]</td>
                <td style="text-align: center"><button id='btn_@count' class="btn btn-primary" onclick='SeeDetails(@row.ItemArray[0],"@row.ItemArray[9]")'>SeeDetails</button></td>
                @if (Convert.ToInt32(row.ItemArray[8]) != 1)
                {
                    <td style="text-align: center"><button class="btn btn-success float-right" id="PickedButton" onclick="ConfirmPicked(@row.ItemArray[0],'@row.ItemArray[9]')">Pick</button></td>
                }
                else
                {
                    <td><span style="color:lime; font-size: 15px" class="badge badge-info"> Already Picked</span></td>
                }

            </tr>
            count++;
        }
    </tbody>
</table>

<script>
    function SelectAllCheckboxFunc() {
        if ($("#checkAll").is(":checked")) {
            $(".checkp").prop("checked", true);
        } else {
            $(".checkp").prop("checked", false);
        }
    }
    function Checkp(SLNO) {
        //uncheck "select all", if one of the listed checkbox item is unchecked
        var checkp = $("#check_" + SLNO).prop("checked");
        if (checkp == false) { //if this item is unchecked
            $("#checkAll").prop('checked', false); //change "select all" checked status to false
        }
        //check "select all" if all checkbox items are checked
        if ($('.checkp:checked').length == $('.checkp').length) {
            $("#checkAll").prop('checked', true);
        }
    }
    function Print() {
        var stringSoId = "";
        var stringStoId = "";
        debugger;
        $('#pickingTable tbody tr').each(function (key, value) {

            var soId = $(this).prop("id");
            var rowType=$(this).attr("rowtype");
            if ($('#check_' + (parseInt(key) + 1)).is(":checked")) {
                if (rowType == 'picking' && stringSoId != '')
                    stringSoId = stringSoId + "," + soId;
                else if (rowType == 'picking' && stringSoId == '') {
                    stringSoId = soId;
                }
                else if (rowType == 'sto' && stringStoId != '') {
                    stringStoId = stringStoId + "," + soId;
                }
                else if (rowType == 'sto' && stringStoId == '') {
                    stringStoId = soId;
                }
            }
           
        });

        if (stringSoId == "" && stringStoId == "" ) {
            swal("Please Check atleast One Checkbox");
        }
        else {
            ViewSummary(stringSoId, stringStoId);
        }
       


       
    }
    function ViewSummary(soId,stoId) {
        var urlpath = '@Url.Action("PickingRequestReports", "Report")';
        var reportValue = "PickingRequestSummary";
        var jsonData = {};

        jsonData["ReportValue"] = reportValue;
        jsonData["SalesOrderChallanMasterId"] = soId;
        jsonData["StockTreansferIssueId"] = stoId;
        $.ajax({
            url: urlpath,
            data: jsonData,
            dataType: 'json',
            type: "Get",
            success: function (data) {
                if (data.isSuccess) {
                    //OpenPopUp('BasicReportViewer.aspx');
                    window.open("../CrystalViewer/CrystalViewer.aspx", "_blank", "WIDTH=1024,HEIGHT=768,scrollbars=no, menubar=no,resizable=yes,directories=no,location=no");
                }
            }
        });
    }


    function PrintDetails() {

        var stringSoId = "";
        var stringStoId = "";
        debugger;
        $('#pickingTable tbody tr').each(function (key, value) {

            var soId = $(this).prop("id");
            var rowType=$(this).attr("rowtype");
            if ($('#check_' + (parseInt(key) + 1)).is(":checked")) {
                if (rowType == 'picking' && stringSoId != '')
                    stringSoId = stringSoId + "," + soId;
                else if (rowType == 'picking' && stringSoId == '') {
                    stringSoId = soId;
                }
                else if (rowType == 'sto' && stringStoId != '') {
                    stringStoId = stringStoId + "," + soId;
                }
                else if (rowType == 'sto' && stringStoId == '') {
                    stringStoId = soId;
                }
              
            }
            
        });

        if (stringSoId == "" && stringStoId == "") {
            swal("Please Check atleast One Checkbox");
        }
        else {
            PrintPickingDetails(stringSoId, stringStoId);
        }


        
    }
    function PrintPickingDetails(soId,stoId) {
        var urlpath = '@Url.Action("PickingRequestReports", "Report")';
        var reportValue = "PickingRequestDetails";
        var jsonData = {};

        jsonData["ReportValue"] = reportValue;
        jsonData["SalesOrderChallanMasterId"] = soId;
        jsonData["StockTreansferIssueId"] = stoId;

        $.ajax({
            url: urlpath,
            data: jsonData,
            dataType: 'json',
            type: "Get",
            success: function (data) {
                if (data.isSuccess) {
                    //OpenPopUp('BasicReportViewer.aspx');
                    window.open("../CrystalViewer/CrystalViewer.aspx", "_blank", "WIDTH=1024,HEIGHT=768,scrollbars=no, menubar=no,resizable=yes,directories=no,location=no");
                }
            }
        });
    }
</script>
