﻿@model IEnumerable<IGFoodProject.ViewModel.ViewSalesOrderMasterForPicking>

<style>
    /*tr.header
    {
        cursor:pointer;
    }
        .header .sign:after {
            content: "+";
            display: inline-block;
        }

        .header.expand .sign:after {
            content: "-";
        }*/


    td.details-control {
        background: url('https://cdn.rawgit.com/DataTables/DataTables/6c7ada53ebc228ea9bc28b1b216e793b1825d188/examples/resources/details_open.png') no-repeat center center;
        cursor: pointer;
    }

    tr.expand td.details-control {
        background: url('https://cdn.rawgit.com/DataTables/DataTables/6c7ada53ebc228ea9bc28b1b216e793b1825d188/examples/resources/details_close.png') no-repeat center center;
    }
</style>
<table class="table  table-bordered table-striped table-hover" id="doMasterTable">

    <thead>
        <tr>
            <th>Details</th>
            <th><input type="checkbox" id="checkAll" class="checkp" onclick="SelectAllCheckboxFunc();CalculateAll();" /></th>
            <th>DO No</th>
            <th>Do Date</th>
            <th>Delivery Date</th>
            <th>Customer Code</th>
            <th>Customer Name</th>
            <th>Customer Type</th>
            <th>Market</th>
            <th>Territory</th>
            <th>Area</th>
            <th>Division</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var salesorderMaster in Model)
        {
            var count = 0;
        <tr style="background-color:aqua" class="masterTr header expand  @salesorderMaster.SalesOrderMasterId" id="@salesorderMaster.SalesOrderMasterId">

            <td class="details-control"></td>
            @if (salesorderMaster.PickingMasterId > 0)
            {
                <th>
                    <input checked type="checkbox" id='check_@salesorderMaster.SalesOrderMasterId' class="checkp" onclick='Checkp(@salesorderMaster.SalesOrderMasterId);CalculateAll();' />
                </th>
            }
            else
            {
                <th>
                    <input type="checkbox" id='check_@salesorderMaster.SalesOrderMasterId' class="checkp" onclick='Checkp(@salesorderMaster.SalesOrderMasterId);CalculateAll();' />
                </th>
            }

            <td>@salesorderMaster.SalesOrderNo</td>
            <td>@Convert.ToDateTime(salesorderMaster.Orderdate).ToString("dd MMM yyyy")</td>
            <td>@Convert.ToDateTime(salesorderMaster.DeliveryDate).ToString("dd MMM yyyy")</td>
            <td>@salesorderMaster.CustomerCode</td>
            <td>@salesorderMaster.CustomerName</td>
            <td>@salesorderMaster.CustomerType</td>
            <td>@salesorderMaster.Market</td>
            <td>@salesorderMaster.Territory</td>
            <td>@salesorderMaster.Area</td>
            <td>@salesorderMaster.Division</td>

        </tr>
            <tr>
                <td colspan="12">
                    <table class="table table-striped table-hover">
                        <tr>
                            <th width="20%">Product Name</th>
                            <th width="10%">Ordered Qty</th>
                            <th width="10%">Ordered Kg</th>
                            @*<th width="20%">Prev Picked (Qty/Kg)</th>*@
                            <th width="20%">Rest Qty</th>
                            <th width="20%">Rest Kg</th>
                            <th width="10%">Requested Picked Qty</th>
                            <th width="10%">Requested Picked Kg</th>

                            @*<th width="10%">Remarks</th>*@
                        </tr>
                        @foreach (var salesOrderDetails in salesorderMaster.SalesOrderDetailsForPicking)
                        {
                            var restQty = salesOrderDetails.OrderQty - salesOrderDetails.PrevInputedQty;
                            var restKg = salesOrderDetails.OrderKg - salesOrderDetails.PrevInputedKg;
                            var rowId = String.Concat(salesOrderDetails.SalesOrderMasterId, "_", count);
                    <tr class="detailsTr-@salesOrderDetails.SalesOrderMasterId">

                        <td>@salesOrderDetails.ProductName</td>
                        <td>@salesOrderDetails.OrderQty</td>
                        <td>@salesOrderDetails.OrderKg</td>
                        @*<td>@salesOrderDetails.PrevPickedQty</td>*@
                        <td>@restQty</td>
                        <td>@restKg</td>
                        <td>
                            <input type="number" class="form-control pickQty" id="pickedQty_@rowId" value="@restQty" max="@restQty" style="text-align:right" />
                            <input type="number" class="form-control" id="product_@rowId" value="@salesOrderDetails.ProductId" hidden />
                            <input type="number" class="form-control" id="productGroupId_@rowId" value="@salesOrderDetails.ProductGroupId" hidden />
                            <input type="number" class="form-control" id="orderMaster_@rowId" value="@salesOrderDetails.SalesOrderMasterId" hidden />
                            <input type="number" class="form-control" id="orderDetails_@rowId" value="@salesOrderDetails.SalesOrderDetailsId" hidden />
                            <input type="number" class="form-control" id="orderQty_@rowId" value="@salesOrderDetails.OrderQty" hidden />
                            <input type="number" class="form-control" id="orderKg_@rowId" value="@salesOrderDetails.OrderKg" hidden />
                            <input type="number" class="form-control" id="prevPickedQty_@rowId" value="@salesOrderDetails.PrevPickedQty" hidden />
                            <input type="number" class="form-control" id="restQty_@rowId" value="@restQty" hidden />
                            <input type="number" class="form-control" id="pickingDetailsId_@rowId" value="@salesOrderDetails.PickingDetailsId" hidden />
                        </td>

                        <td>
                            <input type="number" class="form-control pickQty" id="pickedKg_@rowId" value="@restKg" max="@restQty" style="text-align:right" />

                        </td>
                    </tr>
                            count++;
                        }
                    </table>
                </td>

            </tr>



        }
    </tbody>
    <tfoot>

    </tfoot>
</table>
