﻿﻿
@{
    ViewBag.Title = "PickingDetailsReport";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">  Picking Details Report Page </h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-md-3" id="divDivision">
                                <label>company</label>
                                <select class="form-control select2" id="ddlCompany" style="width: 100%;"></select>
                            </div>
                            <div class="form-group col-md-3" id="divArea">
                                <label>Location</label>
                                <select class="form-control select2" id="ddlLocation" style="width: 100%;"> </select>
                            </div>
                            <div class="form-group col-md-3" id="divTerritory">
                                <label>Warehouse</label>
                                <select class="form-control select2" id="ddlWarehouse" style="width: 100%;"> </select>
                            </div>

                        </div>
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label for="dressDateId ">Delivary Date<span style="color: red"> *</span></label>
                                <input type="text" class="form-control datepicker" autocomplete="off" id="dateRange">
                            </div>
                            <div class="form-group col-md-3" id="divMarket">
                                <label>Vehicle No<span style="color: red"> *</span></label>
                                <select class="form-control select2" id="ddlVehicle" style="width: 100%;"> </select>
                            </div>
                            <div class="form-group col-md-4 icheck-primary">
                                <label>Type<span style="color: red"> *</span></label>
                                <div class="form-group clearfix">

                                    <div class="icheck-success d-inline col-md-2">
                                        <input type="radio" id="allRadio" name="reqType" value="1" checked>
                                        <label for="allRadio">All</label>
                                    </div>
                                    <div class="icheck-success d-inline col-md-2">
                                        <input type="radio" id="doRadio" name="reqType" value="2">
                                        <label for="doRadio">Picking</label>
                                    </div>
                                    <div class="icheck-success d-inline col-md-2">
                                        <input type="radio" id="stoRadio" name="reqType" value="3">
                                        <label for="stoRadio">STO</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary" onclick="LoadReport()"><span class="fa fa-search"></span>Search</button>
                        <button class="btn btn-success  offset-9 " onclick="Print()"><span class="fa fa-print"></span> View Summary</button>
                        <button class="btn btn-success float-right" onclick="PrintDetails()"><span class="fa fa-print"></span> View Details</button>
                    </div>
                </div>
                <!-- /.card -->

                <div class="card divclass" id="salesReportDiv">
                    <div class="card-header with-border">
                        <div id="">
                            <h3 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="companyHeader">IG Foods Ltd</h3>
                            <h4 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="reportHeader"></h4>

                            <div class="row">
                                <div class="offset-md-9 col-md-3">
                                    <label id="reportDate"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="salesReport">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fadeInUp" id="myModal" role="dialog">
            <div class="modal-dialog modal-sm" style="max-width: 80% !important">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px">Details List</h4>
                    </div>
                    <div class="modal-body" id="LiveBirdDressPartial">
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-danger" id="clsButton" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script>
        $(function () {

            LoadCompany('ddlCompany');
            LoadLocation('ddlLocation');
            LoadWareHouse('ddlWarehouse');
            LoadVehicle('ddlVehicle');

        });
        $("#ddlCompany").on("change",
                function () {
                    LoadLocation('ddlLocation', $(this).val());
                });
        $("#ddlLocation").on("change",
            function () {
                LoadWareHouse('ddlWarehouse', $(this).val());
            });
        function chkbox() {

            if ($('input.customerType:checked').length == 5) {
                $(".customerType").prop("checked", true);
                $("#allCheckbox").prop("checked", true);
            }
            else {
                $("#allCheckbox").prop("checked", false);
            }
        }

        function LoadReport() {
            if (RptValidation() == true) {


                var array = [];
                var company = parseInt($('#ddlCompany').val());
                var location = parseInt($('#ddlLocation').val());
                var warehouse = parseInt($('#ddlWarehouse').val());
                var vehicle = parseInt($('#ddlVehicle').val());
                var delivaryDate = $('#dateRange').val();
                var reqType = $('input[type=radio][name=reqType]:checked').val();

                var urlpath = '@Url.Action("GetAllPickingDetailsList", "PickingProcess")';

                $.ajax({
                    url: urlpath,
                    data: { deliveryDate: delivaryDate, companyId: company, locationId: location, warehouseId: warehouse, vehicleId: vehicle,reqType:reqType },
                    dataType: 'html',
                    type: "Get",
                    success: function (data) {
                        $("#salesReport").html(data);
                    },
                    complete: function () {

                        $('#reportDate').text('Delivary Date: ' + delivaryDate);
                    }

                });
            }
        }

        function SeeDetails(id,requestFrom) {
            debugger;

            var urlpath = '';

            if (requestFrom=='picking')
                 urlpath = '@Url.Action("GetPickingDetailsById", "PickingProcess")';
            else
                urlpath = '@Url.Action("GetStockTransferDetailsbyMasterId", "StockTransfer")';
            $.ajax({
                url: urlpath,
                data: { id: id },
                dataType: 'html',
                type: "Get",
                success: function (data) {

                    $('#myModal').modal();
                    $("#LiveBirdDressPartial").html(data);
                },
                complete: function () {
                    $('#salesTable').rowspanizer({
                        vertical_align: 'middle',
                        columns: [1, 2]
                    });
                }

            });
        }
        function ConfirmPicked(id,type) {

                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    LetsPick(id,type);

                });


        }
        LetsPick = (id,type) => {

            var urlpath = '@Url.Action("LetsPicked", "PickingProcess")';

            $.ajax({
                url: urlpath,
                data: { id: id,type: type},
                dataType: 'html',
                type: "Get",
                success: function (data) {
                        swal("Picked Successfull");
                        LoadReport();
                }

            });
        }
        function RptValidation() {



            var isValid = true;
            if (($('#stockDate').val() == 0 || $('#stockDate').val() == '') && rpt == 'DailyStockSummery') {
                ValidationColorChangeNew('stockDate', 'divStockDate', 'Please Select Stock Date', true);
                isValid = false;
            }
            //if (($('#stockMonth').val() == 0 || $('#stockMonth').val() == '') && rpt == 'MonthlyStockSummery') {
            //    ValidationColorChangeNew('stockMonth', 'divstockMonth', 'Please Select Stock Month', true);
            //    isValid = false;
            //}

            //if ($('#ddlReportName').val() == 0 || $('#ddlReportName').val() == '') {
            //    ValidationColorChangeNew('ddlReportName', 'divReportName', 'Please Select Report Name', true);
            //    isValid = false;
            //}
            return isValid;
        }


        function exportExcel(e) {

            if ($('#salesTable tbody tr').length == 0) {
                swal("No Data to Export");
            } else {

                var file = new Blob([$('#salesReportDiv').html()], { type: "application/vnd.ms-excel" });
                var url = URL.createObjectURL(file);
                var a = $("<a />", {
                    href: url,
                    download: "SalesPersonWiseSalesReport.xls"

                }).appendTo("body").get(0).click();
                e.preventDefault();
            }
        }

        ViewSummary = () => {

        }

    </script>
}