﻿@model IGFoodProject.Models.PickingRequestMaster
@{
    ViewBag.Title = "PickingRequestCreate";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">

                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="card-title"><span class="fa fa-list"></span>Picking Request</h3>
                            </div>
                            <div class="col-md-6 text-right">
                                <a class="btn btn-outline-warning" href="@Url.Action("PickingList", "PickingProcess")"><span class="fa fa-list"></span>Picking Req List</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="card" style="height: 335px">
                                    <div class="card-header">
                                        <h3 class="card-title">
                                            <i class="fa fa-arrow-down"></i>
                                            Pickig Req Data
                                        </h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <div class="">
                                            <div class="form-group" id="divCompany">
                                                <label for="ddlCompany">Company<span class="text-danger"> *</span></label>
                                                <select class="form-control select2" style="width: 100%;" id="ddlCompany"></select>
                                            </div>
                                        </div>
                                        <div class="">
                                            <div class="form-group" id="divLocation">
                                                <label for="ddlLocation">Location<span class="text-danger"> *</span></label>
                                                <select class="form-control select2" style="width: 100%;" id="ddlLocation"></select>
                                            </div>
                                        </div>
                                        <div class="">
                                            <div class="form-group" id="divWareHouse">
                                                <label for="ddlWareHouse">Warehouse<span class="text-danger"> *</span></label>
                                                <select class="form-control select2" style="width: 100%;" id="ddlWareHouse"></select>
                                            </div>
                                        </div>
                                        <div class="">
                                            <div class="form-group" id="divDelivaryDate">
                                                <label for="delivaryDate">Delivery Date<span class="text-danger"> *</span></label>
                                                <input type="text" class="form-control" style="width: 100%;" id="delivaryDate" />
                                            </div>

                                        </div>
                                        <div class="">
                                            <div class="form-group" id="divVehicle">
                                                <label for="ddlVehicle">Vehicle No<span class="text-danger"> *</span></label>
                                                <select class="form-control select2" style="width: 100%;" id="ddlVehicle"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <div class="col-md-8">
                                <div class="card" style="height: 335px">
                                    <div class="card-header">
                                        <h3 class="card-title">
                                            <i class="ion ion-clipboard mr-1"></i>
                                            SO Searching Criteria
                                        </h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group" id="divArea">
                                                    <label>Area</label>
                                                    <select class="form-control select2" id="ddlArea" style="width: 100%;"> </select>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group" id="divTerritory">
                                                    <label>Territory</label>
                                                    <select class="form-control select2" id="ddlTerritory" style="width: 100%;"> </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group" id="divMarket">
                                                    <label>Market</label>
                                                    <select class="form-control select2" id="ddlMarket" style="width: 100%;"> </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group" id="divDistrict">
                                                    <label>District</label>
                                                    <select class="form-control select2" id="ddlDistrict" style="width: 100%;"> </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group" id="divThana">
                                                    <label>Thana</label>
                                                    <select class="form-control select2" id="ddlThana" style="width: 100%;"> </select>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group" id="divCustomer">
                                                    <label>Customer</label>
                                                    <select class="form-control select2" id="ddlCustomer" style="width: 100%;"> </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group" id="divCustomerType">
                                                    <label for="ddlCustomerType">Customer Type</label>
                                                    <select class="form-control select2" style="width: 100%;" id="ddlCustomerType"></select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="dressDateId ">Order Date Range</label>
                                                    <input type="text" class="form-control" autocomplete="off" id="dateRange">
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="dressDateId ">Total Kg</label>
                                                    <input type="text" class="form-control" autocomplete="off" id="totalKg">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group" id="divDeliveryWarehouse">
                                                    <label for="ddlDeliveryWarehouse">Delivery Warehouse</label>
                                                    <select class="form-control select2" style="width: 100%;" id="ddlDeliveryWarehouse" onchange="LoadLocationWarehouseByDWId()"></select>
                                                </div>
                                            </div>
                                            @*<div class="form-group">
                                                    <div class='input-group date' id='datetimepicker1'>
                                                        <input type='text' class="form-control" />
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>
                                                </div>*@
                                        </div>







                                    </div>
                                    <!-- /.card-body -->
                                </div>

                            </div>

                        </div>

                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary float-right" onclick="Search()">Search</button>
                    </div>
                </div>

                <div class="card divclass">
                    <div class="card-body" id="orderList">
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary float-right confirm" onclick="SavePickingRequest()">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <div id="ajaxLoaderDiv" style="position: fixed; top: 40%; left: 45%; z-index: 1234;">
            <img src="@Url.Content("~/AssetStatic/Images/Double Ring.gif")" alt="Loading..." class="ajax-loader" />
        </div>
    </div><!-- /.container-fluid -->
</section>
<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
@section Scripts{
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script>


        $(function () {


            $('#datetimepicker1').datetimepicker();


            $(document).on("click", ".details-control", function (e) {
                $(this).closest('tr').toggleClass('expand').nextUntil('tr.header').slideToggle(100);
            });
            $(document).on("input", ".pickQty", function (e) {
                var id = $(this).prop("id").substr($(this).prop("id").indexOf('_'), $(this).prop("id").length);;
                var pickQty = parseFloat( $(this).val());
                var restQty = parseFloat($('#restQty'+ id).val());
                if (pickQty >restQty) {
                    $(this).val(restQty);
                }
            });
            $(document).on("input", ".pickKg", function (e) {
                var id = $(this).prop("id").substr($(this).prop("id").indexOf('_'), $(this).prop("id").length);;
                var pickKg = parseFloat($(this).val());
                var restKg = parseFloat($('#restKg' + id).val());
                if (pickKg > restKg) {
                    $(this).val(restKg);
                }
                CalculateAll();
            });

            $('#ajaxLoaderDiv').hide();

            LoadCompany('ddlCompany');
            $("#ddlCompany").val(7).trigger("change");
            LoadLocation('ddlLocation');
            $("#ddlLocation").val(4).trigger("change");
            LoadWareHouse('ddlWareHouse',$("#ddlLocation").val(),3);
            $("#ddlWareHouse").val(10).trigger("change");
            LoadDate_C('#delivaryDate');
            $('#ddlLocation').change(function(){
              LoadWareHouse('ddlWareHouse',$("#ddlLocation").val(),3);
            });
            LoadDeliveryWarehouse();
            $('#dateRange').daterangepicker({
                locale: {
                    format: 'DD MMM YYYY'
                }
            });
            LoadAreaByDivisionId('ddlArea');
            LoadTerritoryByAreaId('ddlTerritory');
            LoadMarketByTerritoryId('ddlMarket');
            LoadDistrictByDivisionId('ddlDistrict');
            LoadThanaByDistrictId('ddlThana');
            LoadFilteredCustomers('ddlCustomer');
            LoadCustomerType('ddlCustomerType');
            LoadVehicle('ddlVehicle');

            if (@Model.PickingMasterId > 0) {


                $("#ddlCompany").val(@Model.ConpamyId).trigger("change");
                $("#ddlLocation").val(@Model.LocationId).trigger("change");
                $("#ddlWareHouse").val(@Model.WareHouseId).trigger("change");
                $("#ddlArea").val(@Model.AreaId).trigger("change");
                $("#ddlTerritory").val(@Model.TerritoryId).trigger("change");
                $("#ddlMarket").val(@Model.MarketId).trigger("change");
                $("#ddlDistrict").val(@Model.DistrictId).trigger("change");
                $("#ddlThana").val(@Model.ThanaId).trigger("change");
                $("#ddlCustomer").val(@Model.CustomerId).trigger("change");
                $("#ddlCustomerType").val(@Model.CustomerTypeId).trigger("change");
                $("#ddlVehicle").val(@Model.VehicleId).trigger("change");
                $('#dateRange').daterangepicker({

                    startDate: '@Convert.ToDateTime(Model.OrderdateFrom).ToString("dd MMMM yyyy")',
                    endDate: '@Convert.ToDateTime(Model.OrderDateTo).ToString("dd MMMM yyyy")',
                    locale: {
                        format: 'DD MMM YYYY'
                    }
                });
                Search();
            }


        });
        var totalKg = 0;
        CalculateAll=() => {
            $('#doMasterTable tbody tr.masterTr').each(function (key,value) {

                soId = $(this).prop("id");
                var detailsRowId = '#doMasterTable tbody tr.detailsTr-' + soId;
                $(detailsRowId).each(function (i, obj) {

                    var pickingDetails = {};
                    if ($('#check_' + soId).is(":checked")) {

                        if ($('#pickedQty_' + soId + '_' + i).val() > 0 || $('#pickedKg_' + soId + '_' + i).val() > 0) {

                            totalKg = parseFloat(totalKg) + parseFloat($('#pickedKg_' + soId + '_' + i).val());

                            @*var productId=$('#product_' + soId + '_' + i).val();
                            var qty=parseFloat($('#pickedQty_' + soId + '_' + i).val());
                            var urlpath = '@Url.Action("PackWeight", "SalesOrderProcess")';
                            $.ajax({
                                url: urlpath,
                                data: { pid: productId },
                                dataType: 'json',
                                type: "Get",
                                async: false,
                                success: function(data) {

                                    if (data != 0) {
                                        totalKg = parseFloat(totalKg) + (data * qty);
                                    } else {
                                        totalKg = parseFloat(totalKg) + parseFloat(qty);
                                    }
                                }
                            });*@
                        }
                    }
                });
            });
            $('#totalKg').val('');
            $('#totalKg').val(totalKg.toFixed(2));
            totalKg = 0;
        }

        function Search() {

            var pickingSearchParam = {};
            //var company = parseInt($('#ddlCompany').val());
            //var location = parseInt($('#ddlLocation').val());
            //var warehouse = parseInt($('#ddlWarehouse').val());
            //var vehicle = parseInt($('#ddlVehicle').val());
            //var delivaryDate = $('#dateRange').val();
            var dateRange = $('#dateRange').val();
            var array = dateRange.split('-');
            pickingSearchParam['OrderFromDate'] = array[0];
            pickingSearchParam['OrderToDate'] = array[1];
            pickingSearchParam['CustomerId'] = $('#ddlCustomer').val();
            pickingSearchParam['CustomerTypeId'] = $('#ddlCustomerType').val();
            pickingSearchParam['AreaId'] = $('#ddlArea').val();
            pickingSearchParam['TerritoryId'] = $('#ddlTerritory').val();
            pickingSearchParam['MarketId'] = $('#ddlMarket').val();
            pickingSearchParam['DistrictId'] = $('#ddlDistrict').val();
            pickingSearchParam['ThanaId'] = $('#ddlThana').val();
            pickingSearchParam['PickingMasterId'] = @Model.PickingMasterId;
            pickingSearchParam['DeliveryWarehouseId'] =  $('#ddlDeliveryWarehouse').val();


            var urlpath = '@Url.Action("GetSalesOrdersForPicking", "PickingProcess")';

            $.ajax({
                contentType: "application/json; charset=utf-8",
                url: urlpath,
                data: pickingSearchParam,
                dataType: 'html',
                type: "Get",
                beforeSend: function () {
                    $('#ajaxLoaderDiv').show();
                },
                success: function (data) {
                    $("#orderList").html(data);

                    $(".details-control").trigger("click");

                },
                complete: function () {
                    $('#ajaxLoaderDiv').hide();
                }
            });
        }

        function SelectAllCheckboxFunc()
        {
            if ($("#checkAll").is(":checked")) {
                $(".checkp").prop("checked", true);
            } else {
                $(".checkp").prop("checked", false);
            }
        }
        function Checkp(SLNO)
        {
            //uncheck "select all", if one of the listed checkbox item is unchecked
            var checkp = $("#check_" + SLNO).prop("checked");
            if (checkp == false) { //if this item is unchecked
                $("#checkAll").prop('checked', false); //change "select all" checked status to false
            }
            //check "select all" if all checkbox items are checked
            if ($('.checkp:checked').length == $('.checkp').length) {
                $("#checkAll").prop('checked', true);
            }
        }
        function SavePickingRequest()
        {

            if (Validation()) {

                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false
                },
                function() {
                    $('.confirm').prop("disabled", true);

                    SavePickingRequestFinally();
                });


            }


        }

        function SavePickingRequestFinally() {




                var pickingMaster = {};
                var pickingDetailsList = [];

                var dateRange = [];
                var date = $('#dateRange').val();
                dateRange = date.split('-');

                pickingMaster["PickingMasterId"] = @Model.PickingMasterId;
                pickingMaster["CompanyId"] = $('#ddlCompany').val();
                pickingMaster["LocationId"] = $('#ddlLocation').val();
                pickingMaster["WarehouseId"] = $('#ddlWareHouse').val();
                pickingMaster["AreaId"] = $('#ddlArea').val();
                pickingMaster["TerritoryId"] = $('#ddlTerritory').val();
                pickingMaster["MarketId"] = $('#ddlMarket').val();
                pickingMaster["DivisionId"] = $('#ddlDistrict').val();
                pickingMaster["ThanaId"] = $('#ddlThana').val();
                pickingMaster["MarketId"] = $('#ddlMarket').val();
                pickingMaster["CustomerId"] = $('#ddlCustomer').val();
                pickingMaster["CustomerTypeId"] = $('#ddlCustomerType').val();
                pickingMaster["VehicleId"] = $('#ddlVehicle').val();
                pickingMaster["OrderdateFrom"] = dateRange[0];
                pickingMaster["OrderDateTo"] = dateRange[1];
                pickingMaster["DeliveryDate"] = $('#delivaryDate').val();


                $('#doMasterTable tbody tr.masterTr').each(function (key,value)
                {
                    soId = $(this).prop("id");
                    var detailsRowId = '#doMasterTable tbody tr.detailsTr-' + soId;
                    $(detailsRowId).each(function (i, obj) {
                        var pickingDetails = {};
                        debugger;
                        if ($('#check_' + soId).is(":checked")) {

                            if ($('#pickedQty_' + soId + '_' + i).val() > 0 || $('#pickedKg_' + soId + '_' + i).val() > 0) {

                                var a= $('#orderQty_' + soId + '_' + i).val();

                                pickingDetails["PickingDetailsId"] = $('#pickingDetailsId_' + soId + '_' + i).val();
                                pickingDetails["ProductId"] = $('#product_' + soId + '_' + i).val();
                                pickingDetails["OrderedApproved"] = $('#productGroupId_' + soId + '_' + i).val() == 5 || $('#productGroupId_' + soId + '_' + i).val() == 7 ? $('#orderKg_' + soId + '_' + i).val() : $('#orderQty_' + soId + '_' + i).val();
                                pickingDetails["Picked"] = $('#productGroupId_' + soId + '_' + i).val() == 5 || $('#productGroupId_' + soId + '_' + i).val() == 7 ? $('#pickedKg_' + soId + '_' + i).val() : $('#pickedQty_' + soId + '_' + i).val();

                                pickingDetails["InputedPickQty"] = $('#pickedQty_' + soId + '_' + i).val();
                                pickingDetails["InputedPickKg"] = $('#pickedKg_' + soId + '_' + i).val();
                                pickingDetails["PrevPicked"] = $('#productGroupId_' + soId + '_' + i).val() == 5 || $('#productGroupId_' + soId + '_' + i).val() == 7 ? $('#prevPickedKg_' + soId + '_' + i).val() : $('#prevPickedQty_' + soId + '_' + i).val();
                                pickingDetails["SalesOrderMasterId"] = $('#orderMaster_' + soId + '_' + i).val();
                                pickingDetails["SalesOrderDetailsId"] = $('#orderDetails_' + soId + '_' + i).val();
                                pickingDetails["IsDelete"] = 0;
                                pickingDetailsList.push(pickingDetails);
                            }
                        }

                        debugger;



                    });



                });
            pickingMaster["SalesOrderDetailsForPicking"] = pickingDetailsList;
            debugger;
                var urlpath = '@Url.Action("SavePickingRequest", "PickingProcess")';
                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({ 'salesOrderMasterForPicking': pickingMaster }),
                    dataType: 'json',
                    url: urlpath,
                    type: "POST",
                    success:function(result) {
                        if (result.isSuccess) {
                            $('.confirm').prop("disabled", false);
                            swal({
                                title: 'Saved Successfully',
                                type: 'success',
                                closeOnCancel: true
                            },
                            function() {
                                window.location.href = '@Url.Action("PickingList", "PickingProcess")';
                            });


                        } else {
                            ShowMessage('Please reload the page and try again!!!');
                        }
                    },
                    error: function () {

                        swal("Network error occured.Please reload the page and try again");
                    }
                });

        }

        function Validation() {
            debugger;
            var a = $('#ddlWareHouse').val();
            var isValid = true;
            var message = "Check at least one checkbox";
            if ($('#ddlCompany').val() == 0 || $('#ddlCompany').val() == '') {
                ValidationColorChangeNew("ddlCompany", "divCompany", "Company Required", true);
                isValid = false;
                return;
            }
            if ($('#ddlLocation').val() == '' || $('#ddlLocation').val() == 0) {
                ValidationColorChangeNew("ddlLocation", "divLocation", "Location Required", false);
                isValid = false;
                return;
            }
            if ($('#ddlWareHouse').val() == '' || $('#ddlWareHouse').val() == 0 || $('#ddlWareHouse').val()==null) {
                ValidationColorChangeNew("ddlWareHouse", "divWareHouse", "Warehouse Required", false);
                isValid = false;
                return;
            }

            if ($('#delivaryDate').val() == '' || $('#delivaryDate').val() == 0) {
                ValidationColorChangeNew("delivaryDate", "divDeliveryDate", "Delivery Date Required", false);
                isValid = false;
                return;
            }
            if ($('#ddlVehicle').val() == '' || $('#ddlVehicle').val() == 0) {
                ValidationColorChangeNew("ddlVehicle", "divVehicle", "Vehicle Required", false);
                isValid = false;
                return;
            }
            //if ($('#ddlCustomer').val() == 0 || $('#ddlCustomer').val() == '') {
            //    ValidationColorChangeNew("ddlCustomer", "divCustomer", "Customer Required", true);
            //    isValid = false;
            //}
            //if ($('#ddlCustomerType').val() == 0 || $('#ddlCustomerType').val() == '') {
            //    ValidationColorChangeNew("ddlCustomerType", "divCustomerType", "Customer Type Required", true);
            //    isValid = false;
            //}


            $('#doMasterTable tbody tr.masterTr').each(function (key,value)
            {
                soId = $(this).prop("id");
                if ($('#check_' + soId).is(":not(:checked)")) {
                    isValid = false;

                }
                else {
                    isValid = true;
                    return false;
                }

            });

            if (isValid == false) {
                ShowMessage(message);
            }

            return isValid;


        }


        function LoadDeliveryWarehouse() {
            //var typeid = $('#ddlWarehouseType').val();
            var warehouseTypeid = 3;
            var urlpath = '@Url.Action("GetDeliveryWarehouse", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { warehouseTypeid: warehouseTypeid },
                async: false,
                success: function (data) {

                    $('#ddlDeliveryWarehouse').empty();
                    $('#ddlDeliveryWarehouse').append("<option value='0'>--Select Delivery Warehouse --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#ddlDeliveryWarehouse').append($("<option></option>").val(data[i].WareHouseId).html(data[i].WareHouseName));
                    }
                }
            });
        }

        function LoadLocationWarehouseByDWId() {
            var deliveryWarehouseId = $('#ddlDeliveryWarehouse').val();
            var urlpath = '@Url.Action("GetWarehouseDetails", "PickingProcess")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { deliveryWarehouseId: deliveryWarehouseId },
                async: false,
                success: function(data) {
                    $("#ddlLocation").val(data.LocationId).trigger('change');
                    $("#ddlWareHouse").val(data.WareHouseId).trigger('change');
                }
            });

        }
    </script>
}
