﻿@using System.Data
@model System.Data.DataTable
@{
    ViewBag.Title = "PickingList";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    
                    <div class="card-header">
                        <div class="row">
                           
                                <div class="col-md-6">
                                    <h3 class="card-title"><span class="fa fa-list"></span> Picking RegList List </h3>
                                </div>
                                <div class="col-md-6 text-right">
                                    <a class="btn btn-sm btn-outline-warning" href="@Url.Action("PickingRequestCreate", "PickingProcess" , new {id=0})"><h3 class="card-title"><span class="fa fa-plus"></span> New Picking Req</h3></a>
                                </div>
                           
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">

                        <div class="col-md-12">


                            <table id="table1" class="dataTable table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Picking No</th>
                                        <th>Delivery Date</th>
                                        <th>Picking Time</th>
                                        <th>Picked By</th>
                                        <th>Picked Date</th>
                                        <th>Remarks</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int count = 1;}
                                    @foreach (DataRow item in Model.Rows)
                                    {
                                        <tr class="rowTr">
                                            <td>@count</td>
                                            <td>@item.ItemArray[0]</td>
                                            <td>@item.ItemArray[1]</td>
                                            <td>@item.ItemArray[2]</td>
                                            <td>@item.ItemArray[3]</td>
                                            <td>@item.ItemArray[4]</td>
                                            <td>@item.ItemArray[5]</td>


                                            @if (Convert.ToBoolean(item.ItemArray[6]) == true)
                                            {
                                                <td><small class="badge badge-primary">Picked</small></td>
                                               
                                            }
                                            @if (Convert.ToBoolean(item.ItemArray[6]) == false)
                                            {
                                                <td><small class="badge badge-danger">Not Picked</small></td>
                                            }



                                        </tr>
                                        count++;
                                    }
                                </tbody>
                            </table>

                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>