﻿@model IGFoodProject.Models.Accounts.ReferanceType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ReferanceType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReferanceTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferanceTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActiveDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActiveDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InactiveDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InactiveDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReferanceTypeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
