﻿
@{
    ViewData["Title"] = "Add Item";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Item  Entry</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("ItemList", "Item") + "'");" class="btn btn-info btn-rounded waves-effect waves-light pull-right">
                                <i class="fa fa-arrow-left"></i>
                                Back To Item List
                            </button>
                        </div>
                    </div>

                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card-body">
                                <div class="form-group" id="divGroup">
                                    <label for="ddlGroup">Item Group</label>
                                    <select class="form-control" id="ddlGroup"></select>
                                </div>

                                <div class="form-group" id="divBrand">
                                    <label for="ddlBrand">Item Color</label>
                                    <select class="form-control" id="ddlBrand"></select>

                                </div>




                                <div class="form-group" id="divUOM">
                                    <label for="ddlUOM">UOM</label>
                                    <select class="form-control" id="ddlUOM"></select>

                                </div>

                                <div class="form-group" id="divProductDescription">
                                    <label for="txtProductDes">Item description</label>
                                    <textarea type="text" class="form-control" id="txtProductDes"  rows="3" cols="15"></textarea>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-body">
                                <div class="form-group" id="divType">
                                    <label for="ddlType">Item Type</label>
                                    <select class="form-control" id="ddlType"></select>
                                </div>


                                <div class="form-group" id="divProduct">
                                    <label for="txtProduct">Item Name</label>
                                    <input type="text" class="form-control" id="txtProduct" placeholder="Enter Item">
                                    <label id="hProduct" style="color:green;"></label>
                                </div>

                                <div class="form-group" id="divRemarks">
                                    <label for="txtRemarks">Remarks</label>
                                    <input type="text" class="form-control" id="txtRemarks" placeholder="Remarks">
                                </div>


                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card-body">
                                <div class="form-group" id="divCategory">
                                    <label for="ddlCategory">Category</label>
                                    <select class="form-control" id="ddlCategory"></select>

                                </div>
                                <div class="form-group" id="divPackSize">
                                    <label for="ddlPackSize">Pack Size</label>
                                    <select class="form-control" id="ddlPackSize"></select>

                                </div>
                                <div class="form-group" style="margin-top: 40px;">
                                    <input type="checkbox" class="form-check-input" id="chkActive" checked="checked"> &nbsp; &nbsp;
                                    <label class="form-check-label" for="chkActive">&nbsp; Is Active</label>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div>

                        <div class="card-footer">
                            <button class="btn btn-primary" onclick="SaveFinal()">Submit</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <input id="txtProductId" type="number" style="display:none;" value="@ViewBag.ItemId">
</section>

@section Scripts{
    <script>
        $(function () {
            LoadGroup();
            LoadColor();
            LoadPackSize();
            LoadUOM();

            var id = $('#txtProductId').val();

            $('#ddlGroup').change(function () {
                var groupid = $(this).val();
                LoadType(groupid);

                loadDescription($("#ddlGroup option:selected").text(), $("#ddlType option:selected").text(), $("#ddlCategory option:selected").text(), $("#ddlBrand option:selected").text(), $("#txtProduct").val(), $("#ddlPackSize option:selected").text(), $("#ddlUOM option:selected").text());
            });

            $('#ddlType').change(function () {
                var typeid = $(this).val();
                LoadCategory(typeid);
                loadDescription($("#ddlGroup option:selected").text(), $("#ddlType option:selected").text(), $("#ddlCategory option:selected").text(), $("#ddlBrand option:selected").text(), $("#txtProduct").val(), $("#ddlPackSize option:selected").text(), $("#ddlUOM option:selected").text());

            });

            $('#ddlCategory').change(function () {

                loadDescription($("#ddlGroup option:selected").text(), $("#ddlType option:selected").text(), $("#ddlCategory option:selected").text(), $("#ddlBrand option:selected").text(), $("#txtProduct").val(), $("#ddlPackSize option:selected").text(), $("#ddlUOM option:selected").text());

            });
            $('#ddlBrand').change(function () {

                loadDescription($("#ddlGroup option:selected").text(), $("#ddlType option:selected").text(), $("#ddlCategory option:selected").text(), $("#ddlBrand option:selected").text(), $("#txtProduct").val(), $("#ddlPackSize option:selected").text(), $("#ddlUOM option:selected").text());

            });
            $('#txtProduct').change(function () {

                loadDescription($("#ddlGroup option:selected").text(), $("#ddlType option:selected").text(), $("#ddlCategory option:selected").text(), $("#ddlBrand option:selected").text(), $("#txtProduct").val(), $("#ddlPackSize option:selected").text(), $("#ddlUOM option:selected").text());
                loadProductName($("#txtProduct").val(), $("#ddlPackSize option:selected").text(), $("#ddlUOM option:selected").text());
            });

            $('#ddlPackSize').change(function () {

                loadDescription($("#ddlGroup option:selected").text(), $("#ddlType option:selected").text(), $("#ddlCategory option:selected").text(), $("#ddlBrand option:selected").text(), $("#txtProduct").val(), $("#ddlPackSize option:selected").text(), $("#ddlUOM option:selected").text());
                loadProductName($("#txtProduct").val(), $("#ddlPackSize option:selected").text(), $("#ddlUOM option:selected").text());

            });

            $('#ddlUOM').change(function () {

                loadDescription($("#ddlGroup option:selected").text(), $("#ddlType option:selected").text(), $("#ddlCategory option:selected").text(), $("#ddlBrand option:selected").text(), $("#txtProduct").val(), $("#ddlPackSize option:selected").text(), $("#ddlUOM option:selected").text());
                loadProductName($("#txtProduct").val(), $("#ddlPackSize option:selected").text(), $("#ddlUOM option:selected").text());

            });



            if (id > 0) {
                OdEdit(id);
            }
        });
        function loadDescription(grouptext, typetext, categorytext, Color, product, pack, uom) {

            var des;
            if ((grouptext != "") && (typetext != "--Select Type--") && (categorytext != "--Select Category--") && (Color != "--Select Color--") && (product != "") && (pack != "--Select Pack Size--") && (uom != "--Select UOM--")) {
                des = grouptext + ' ' + typetext + ' ' + categorytext + ' ' + Color + ' ' + product + ' ' + pack + ' ' + uom;
            }
            else if ((grouptext != "") && (typetext == "--Select Type--") && (categorytext == "--Select Category--") && (Color == "--Select Color--") && (product == "") && (pack == "--Select Pack Size--") && (uom == "--Select UOM--")) {
                des = grouptext;
            }
            else if ((grouptext != "") && (typetext != "--Select Type--") && (categorytext == "--Select Category--") && (Color == "--Select Color--") && (product == "") && (pack == "--Select Pack Size--") && (uom == "--Select UOM--")) {
                des = grouptext + ' ' + typetext;
            }
            else if ((grouptext != "") && (typetext != "--Select Type--") && (categorytext != "--Select Category--") && (Color == "--Select Color--") && (product == "") && (pack == "--Select Pack Size--") && (uom == "--Select UOM--")) {
                des = grouptext + ' ' + typetext + ' ' + categorytext;
            }
            else if ((grouptext != "") && (typetext != "--Select Type--") && (categorytext != "--Select Category--") && (Color != "--Select Color--") && (product == "") && (pack == "--Select Pack Size--") && (uom == "--Select UOM--")) {
                des = grouptext + ' ' + typetext + ' ' + categorytext + ' ' + Color;
            }
            else if ((grouptext != "") && (typetext != "--Select Type--") && (categorytext != "--Select Category--") && (Color != "--Select Color--") && (product != "") && (pack == "--Select Pack Size--") && (uom == "--Select UOM--")) {
                des = grouptext + ' ' + typetext + ' ' + categorytext + ' ' + Color + ' ' + product;
            }
            else if ((grouptext != "") && (typetext != "--Select Type--") && (categorytext != "--Select Category--") && (Color != "--Select Color--") && (product != "") && (pack != "--Select Pack Size--") && (uom == "--Select UOM--")) {
                des = grouptext + ' ' + typetext + ' ' + categorytext + ' ' + Color + ' ' + product + ' ' + pack;
            }

            $('#txtProductDes').val(des);
        }

        function loadProductName(ttext, pack, uom) {

            var pes;
            if ((ttext != "") && (pack != "--Select Pack Size--") && (uom != "--Select UOM--")) {
                if (pack == "N/A") {
                    pes = ttext + ' ( ' + uom + ")";
                }
                else {
                    pes = ttext + ' (' + pack + "-" + uom + ")";
                }

            }
            else if ((ttext != "") && (pack != "--Select Pack Size--") && (uom == "--Select UOM--")) {
                if (pack == "N/A") {
                    pes = ttext;
                }
                else {
                    pes = ttext + ' (' + pack + ")";
                }


            }
            else if ((ttext != "") && (pack == "--Select Pack Size--") && (uom == "--Select UOM--")) {
                pes = ttext;
            }
            $('#hProduct').html(pes);
        }

        function LoadGroup() {
            var urlpath = '@Url.Action("LoadItemGroup", "ItemType")';

            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {
                    $('#ddlGroup').empty();
                    $('#ddlGroup').append("<option value='0'>--Select Group--</option>");


                    for (var i = 0; i < data.length; i++) {

                        $("#ddlGroup").append($("<option></option>").val(data[i].ItemGroupId).html(data[i].ItemGroupName));

                    }
                }
            });
        }

        function LoadType(groupid) {
            var urlpath = '@Url.Action("LoadType", "Item")';

            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { groupid: groupid },
                async: false,
                success: function (data) {
                    $('#ddlType').empty();
                    $('#ddlType').append("<option value='0'>--Select Type--</option>");
                    for (var i = 0; i < data.length; i++) {
                        $("#ddlType").append($("<option></option>").val(data[i].ItemTypeId).html(data[i].ItemTypeName));
                    }
                }
            });
        }

        function LoadCategory(typeid) {
            var urlpath = '@Url.Action("CategoryListByTypeID", "Item")';

            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { typeid: typeid },
                async: false,
                success: function (data) {
                    $('#ddlCategory').empty();
                    $('#ddlCategory').append("<option value='0'>--Select Category--</option>");
                    for (var i = 0; i < data.length; i++) {
                        $("#ddlCategory").append($("<option></option>").val(data[i].ItemCategoryId).html(data[i].ItemCategoryName));
                    }
                }
            });
        }

        function LoadColor() {
            var urlpath = '@Url.Action("GetItemColor", "Item")';

            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {
                    $('#ddlBrand').empty();
                    $('#ddlBrand').append("<option value='0'>--Select Color--</option>");


                    for (var i = 0; i < data.length; i++) {

                        $("#ddlBrand").append($("<option></option>").val(data[i].ItemColorId).html(data[i].ItemColorName));

                    }
                }
            });
        }




        function LoadPackSize() {
            var urlpath = '@Url.Action("GetPackSize", "Product")';

            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {
                    $('#ddlPackSize').empty();
                    $('#ddlPackSize').append("<option value='0'>--Select Pack Size--</option>");


                    for (var i = 0; i < data.length; i++) {

                        $("#ddlPackSize").append($("<option></option>").val(data[i].PackSizeId).html(data[i].PackSizeName));

                    }
                }
            });
        }


        function LoadUOM() {
            var urlpath = '@Url.Action("GetUOM", "Product")';

            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {
                    $('#ddlUOM').empty();
                    $('#ddlUOM').append("<option value='0'>--Select UOM--</option>");


                    for (var i = 0; i < data.length; i++) {

                        $("#ddlUOM").append($("<option></option>").val(data[i].UOMId).html(data[i].UOMName));

                    }
                }
            });
        }

        function SaveFinal() {

            //Swal("Hello World");
            if (Validation() == true) {

                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveItem();

                });
            }

        }

        function ValidateProduct(group) {

            var result = 0;
            var urlpath = '@Url.Action("CheckItem", "Item")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { group: group },
                async: false,
                success: function (data) {

                    result = data;
                }
            });
            return result;
        }




        function Validation() {

            var rVal = true;
            var message;
            if (($('#ddlGroup').val() == "0") || ($('#ddlGroup').val() == null)) {
                ValidationColorChange('ddlGroup', 'divGroup', false);
                rVal = false;
                message = "Some Values Required";

            }
            if (($('#ddlType').val() == "0") || ($('#ddlType').val() == null)) {
                ValidationColorChange('ddlType', 'divType', false);
                rVal = false;
                message = "Some Values Required";

            }
            if (($('#ddlCategory').val() == "0") || ($('#ddlCategory').val() == null)) {
                ValidationColorChange('ddlCategory', 'divCategory', false);
                rVal = false;
                message = "Some Values Required";

            }
            if (($('#ddlBrand').val() == "0") || ($('#ddlBrand').val() == null)) {
                ValidationColorChange('ddlBrand', 'divBrand', false);
                rVal = false;
                message = "Some Values Required";

            }
            if (($('#ddlPackSize').val() == "0") || ($('#ddlPackSize').val() == null)) {
                ValidationColorChange('ddlPackSize', 'divPackSize', false);
                rVal = false;
                message = "Some Values Required";

            }
            if (($('#ddlUOM').val() == "0") || ($('#ddlUOM').val() == null)) {
                ValidationColorChange('ddlUOM', 'divUOM', false);
                rVal = false;
                message = "Some Values Required";

            }

            if (($('#txtProduct').val() == "") || ($('#txtProduct').val() == null)) {
                ValidationColorChange('txtProduct', 'divProduct', false);
                rVal = false;
                message = "Some Values Required";

            }


            var ddata = ValidateProduct($('#hProduct').html());

            //var dcode = ValidateCategoryCode($('#txtCategoryCode').val());
            var groupid = $('#txtProductId').val();

            if (ddata > 0 && groupid == 0) {
                rVal = false;
                message = "Duplicate Item  Please Change!!!";

            }


            if (rVal == false) {
                ShowMessage(message);
            }

            return rVal;
        }

        function SaveItem() {
            var jsonData = {};

            jsonData["ItemId"] = parseInt($('#txtProductId').val());


            jsonData["ItemGroupId"] = parseInt($('#ddlGroup').val());
            jsonData["ItemTypeId"] = parseInt($('#ddlType').val());
            jsonData["ItemCategoryId"] = parseInt($('#ddlCategory').val());
            jsonData["PackSizeId"] = parseInt($('#ddlPackSize').val());
            jsonData["ItemColorId"] = parseInt($('#ddlBrand').val());
            jsonData["UOMId"] = parseInt($('#ddlUOM').val());

            jsonData["ItemName"] = $('#hProduct').html();
            jsonData["ItemDescription"] = $('#txtProductDes').val();
            jsonData["Remarks"] = $('#txtRemarks').val();


            jsonData["IsActive"] = $('#chkActive').is(':checked');

            var urlpath = '@Url.Action("SaveItem", "Item")';

            $.ajax({

                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "POST"
            })
                .success(function (result) {

                    if (result.isSuccess) {

                        swal("Item Master Saved Successfully");
                        // var productno = GetProductNo(result.pk);

                        //swal("Product (" + productno + ") Saved Successfull");
                         window.location.href = '@Url.Action("ItemList", "Item")';


                    }
                });


        }
        function GetProductNo(proid) {
            var pno;
            var url = '@Url.Action("GetProductNo", "Product")';
            $.ajax({
                url: url,
                dataType: 'json',
                data: { proid: proid },
                type: "Get",
                async: false,
                success: function (data) {
                    pno = data;
                }
            });
            return pno;
        }

        function OdEdit(id) {

            var url = '@Url.Action("GetItemByID", "Item")';
            $.ajax({
                url: url,
                dataType: 'json',
                data: { id: id },
                type: "Get",
                async: false,
                success: function (data) {

                    $('#txtProductId').val(id);
                    $("#ddlGroup").val(data.ItemGroupId);
                    LoadType(data.ItemGroupId);

                    $("#ddlType").val(data.ItemTypeId);
                    LoadCategory(data.ItemTypeId);
                    $("#ddlCategory").val(data.ItemCategoryId);
                    $("#ddlPackSize").val(data.PackSizeId);
                    $("#ddlBrand").val(data.ItemColorId);
                    $("#ddlUOM").val(data.UOMId);
                    $("#hProduct").html(data.ItemName);
                    $("#txtProductDes").val(data.ItemDescription);
                    $("#txtRemarks").val(data.Remarks);
                    $("#txtProduct").val(data.ItemName1);
                    if (data.IsActive == true)
                        $('#chkActive').prop('checked', true);

                    else
                        $('#chkActive').prop('checked', false);
                }
            });

        }
    </script>
}

