﻿@model IEnumerable<IGFoodProject.Models.Item>

@{
    ViewData["Title"] = "Item List";
}



@{
    int count = 0;
}

<!-- Main content -->

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">

                        <div class="row">
                            <div class="col-md-3">
                                <h3 class="card-title"><span class="fa fa-list"></span>&nbsp; &nbsp; Item List </h3>
                            </div>
                            <div class="col-md-4">
                                <a onclick="@("window.location.href='" + @Url.Action("AddItem", "Item") + "'");"><h3 class="card-title"><span class="fa fa-plus"></span>&nbsp;Item Entry</h3></a>


                                @*<button type="button" onclick="@("window.location.href='" + @Url.Action("AddItemGroup", "ItemGroup") + "'");" class="btn btn-info btn-rounded waves-effect waves-light pull-right">
                                    <span class="btn-label">
                                        <i class="fa fa-arrow-left"></i>
                                    </span>
                                    Back To Item Group Entry

                                </button>*@


                            </div>
                        </div>
                    </div>



                    <div class="card-body">
                        <table id="example2" class="table dataTable table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th style="text-align:center">#</th>
                                    <th style="text-align:center">Item Name</th>
                                    <th style="text-align: center; width: 100px">Item Description</th>
                                    <th style="text-align:center">Pack Size</th>
                                    <th style="text-align:center">UOM</th>
                                    <th style="text-align:center">Group Name</th>
                                    <th style="text-align:center">Type Name</th>
                                    <th style="text-align:center">Category Name</th>
                                    <th style="text-align:center">Color Name</th>
                                    <th style="text-align:center">Create Date</th>
                                    <th style="text-align:center">Create By</th>
                                    <th style="text-align:center">Update Date</th>
                                    <th style="text-align:center">Update By</th>
                                    <th style="text-align:center">Is Active</th>
                                    <th style="text-align:center">Remarks</th>
                                    <th style="text-align:center"></th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <td style="text-align:center">@count</td>
                                        <td style="text-align:center">@item.ItemName</td>
                                        <td style="text-align:center">@item.ItemDescription</td>
                                        <td style="text-align:center">@item.PackSizeName</td>
                                        <td style="text-align:center">@item.UOMName</td>
                                        <td style="text-align:center">@item.ItemGroupName</td>
                                        <td style="text-align:center">@item.ItemTypeName</td>
                                        <td style="text-align:center">@item.ItemCategoryName</td>
                                        <td style="text-align:center">@item.ItemColorName</td>
                                        <td style="text-align:center">@Convert.ToDateTime(item.CreateDate).ToString("dd-MMM-yyyy")</td>
                                        <td style="text-align:center">@item.CreateBy</td>
                                        @if (item.UpdateDate != null)
                                        {
                                            <td style="text-align:center">@Convert.ToDateTime(item.UpdateDate).ToString("dd-MMM-yyyy")</td>
                                        }
                                        else
                                        {
                                            <td style="text-align:center"></td>
                                        }
                                      
                                        <td style="text-align:center">@item.UpdateBy</td>
                                        <td style="text-align:center">@item.IsActive</td>
                                        <td style="text-align:center">@item.Remarks</td>
                                        <td>
                                            @Html.ActionLink("Edit", "AddItem", "Item", new { id = item.ItemId }, new { @class = "btn btn-sm btn-info" })
                                            <button class="btn btn btn-sm btn-danger" onclick="ItemDelete(@item.ItemId)"> Delete</button>
                                        </td>
                                    </tr>

                                }


                            </tbody>

                        </table>
                    </div>
                </div>

            </div>

        </div>





        <!-- /.row -->
    </div><!-- /.container-fluid -->
    <!-- /.row -->
</section>

<!-- /.content -->
@*</div>*@
@*<script src="~/plugins/jquery/jquery.min.js"></script>*@
@section Scripts{
    <script>
        $(function () {

            //$('#example2').DataTable({
            //    "paging": true,
            //    "lengthChange": false,
            //    "searching": false,
            //    "ordering": true,
            //    "info": true,
            //    "autoWidth": false,
            //});
        });
    </script>
    <script type="text/javascript">




        function ItemDelete(id) {

            swal({
                title: "Are you sure?",
                text: "",
                type: "success",
                showCancelButton: true,
                cancelButtonClass: 'btn-secondary waves-effect',
                confirmButtonClass: 'btn-success waves-effect waves-light',
                confirmButtonText: 'Yes!',
                closeOnConfirm: false
            }, function () {
                $('.confirm').prop("disabled", true);
                $('.cancel').prop("disabled", true);
                ItemDeleteFianl(id);

            });



        }
        function ItemDeleteFianl(id) {



            var urlpath = '@Url.Action("DeleteItem", "Item")';

            $.ajax({
                contentType: "application/json; charset=utf-8",
                data: { id: id },
                dataType: 'json',
                url: urlpath,
                type: "GET"
            })
                .success(function (result) {

                    if (result.isSuccess) {

                        $('.confirm').prop("disabled", false);
                        $('.cancel').prop("disabled", false);
                        //swal.close();

                        swal("Data Delete Successfull");
                        window.location.href = '@Url.Action("ItemList", "Item")';


                    }
                });
        }
    </script>
}

