﻿
@{
    ViewData["Title"] = "AddGroup";
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="card card-primary">
                   
                    <div class="card-header">

                        <h3 class="card-title">Product Group Entry</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("ProductGroupList", "ProductGroup") + "'");" class="btn btn-info btn-rounded waves-effect waves-light pull-right">

                                <i class="fa fa-arrow-left"></i>
                                Back To Product Group List
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div>
                        <div class="card-body">
                            <div class="form-group" id="divGroup">
                                <label for="txtGroup">Group</label>
                                <input type="text" class="form-control" id="txtGroup" placeholder="Enter Group">
                            </div>
                            <div class="form-group" id="divGroupCode">
                                <label for="ddlGroupCode">Group Code</label>
                                <select class="form-control" id="ddlGroupCode">
                                    <option value="0">Select Code</option>
                                    <option value="PR">PR(Process Food)</option>
                                    <option value="FP">FP(Further Process)</option>
                                    <option value="BP">BP(By Product)</option>
                                </select>
                            </div>

                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="chkActive" checked="checked">
                                <label class="form-check-label" for="chkActive">Is Active</label>
                            </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button class="btn btn-primary" onclick="SaveFinal()">Submit</button>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
                <!-- Form Element sizes -->
                <!-- /.card -->
                <!-- /.card -->
                <!-- Input addon -->
                <!-- /.card -->
                <!-- Horizontal Form -->
                <!-- /.card -->

            </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">

            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
    <input id="txtGroupId" type="number" style="display:none;" value="@ViewBag.groupid">
</section>

@section Scripts{
    <script>
        $(function () {

            var id = $('#txtGroupId').val();

            if (id > 0) {
                OdEdit(id);
            }
        });


        function SaveFinal() {

              //Swal("Hello World");
             if (Validation() == true) {

                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveGroup();

                });
            }

        }

        function ValidateGroup(group, gcode) {

            var result = 0;
            var urlpath = '@Url.Action("CheckGroup", "ProductGroup")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { group: group, gcode:gcode},
                async: false,
                success: function (data) {

                    result = data;
                }
            });
            return result;
        }

        function Validation() {

            var rVal = true;
            var message;
            if (($('#txtGroup').val() == "") || ($('#txtGroup').val() == null) ) {
                ValidationColorChange('txtGroup', 'divGroup', false);
                rVal = false;
                message = "Some Values Required";

            }
            if (($('#ddlGroupCode').val() == "0") || ($('#ddlGroupCode').val() == null) ) {
                ValidationColorChange('ddlGroupCode', 'divGroupCode', false);
                rVal = false;
                message = "Some Values Required";

            }
             
            var ddata = ValidateGroup($('#txtGroup').val(),$('#ddlGroupCode').val());
            var groupid = $('#txtGroupId').val();

            if (ddata > 0 && groupid == 0) {
                rVal = false;
                message = "Duplicate Product Group Please Change!!!";

            }


            if (rVal == false) {
                ShowMessage(message);
            }

            return rVal;
        }

        function SaveGroup() {
            var jsonData = {};


            jsonData["GroupId"] = parseInt( $('#txtGroupId').val());

            jsonData["GroupName"] = $('#txtGroup').val();
            jsonData["GroupCode"] = $('#ddlGroupCode').val();

            jsonData["IsActive"] = $('#chkActive').is(':checked');

             
            var urlpath = '@Url.Action("SaveGroup", "ProductGroup")';

            $.ajax({

                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "POST"
            })
                .success(function (result) {

                    if (result.isSuccess) {

                        //$('.confirm').prop("disabled", false);
                        //$('.cancel').prop("disabled", false);
                        ////swal.close();

                        swal("Product Group Saved Successfull");
                        window.location.href = '@Url.Action("ProductGroupList", "ProductGroup")';


                    }
                });


        }


         function OdEdit(id) {

            var url = '@Url.Action("GetGroupByID", "ProductGroup")';
            $.ajax({
                url: url,
                dataType: 'json',
                data: { id: id },
                type: "Get",
                async: false,
                success: function (data) {
                     
                    $('#txtGroupId').val(id);

                    $('#txtGroup').val(data.GroupName);
                    $('#ddlGroupCode').val(data.GroupCode);
                    if(data.IsActive ==true)
                        $('#chkActive').prop('checked', true);

                    else
                        $('#chkActive').prop('checked', false);


                }
            });

        }
    </script>
}
