﻿
@{
    ViewBag.Title = "GL Inquiry";
}

<style>
    #manuallist {
        padding: 10px;
    }

    .form-control {
        height: calc(1.7rem + 2px);
    }
</style>
@*<link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet"/>
<link href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css" rel="stylesheet"/>*@

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">

                        <div class="row">

                            <div class="col-md-6">
                                <h3>GL Inquiry</h3>
                            </div>
                            <div class="col-md-6 text-right ">
                                @*<a class="btn btn-outline-warning" href="@Url.Action("NewJournal", "JournalVoucher", new {id = 0})">

                                    <span class="fa fa-plus"></span> New Journal

                                </a>*@
                            </div>

                        </div>



                    </div>
                    <div class="row">
                        <div class="card-body">
                            <div class="col-md-3">
                                <div class="form-group" id="divGL">
                                    <label for="ddlGL">Account</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlGL" onchange="LoadReferance()"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divBusinessUnit">
                                    <label for="ddlRefdetails">Referance Details</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlRefdetails" ></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divFromDate">
                                    <label for="txtFromDate">From  Date</label>
                                    <input type="text" id="txtFromDate" class="form-control datepicker" autocomplete="off" onchange="LoadRefDetailsDuDate()"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divToDate">
                                    <label for="txtToDate">To  Date</label>
                                    <input type="text" id="txtToDate" class="form-control datepicker"  autocomplete="off"/>
                                </div>
                            </div>
                        </div>

                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-2 pull-right offset-8">
                            <button style="margin-left: 27px;" class="btn btn-primary" onclick="ShowReport()"> Show</button>
                            
                        </div>
                        <div class="col-md-2 pull-right">
                           
                            <button class='btn btn-success' type='button' style="display: none;" id="Export" onclick="exportExcel()">Export To excel</button>

                        </div>
                    </div>
                    <br />
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body" id="ReportDiv">
                                <div class="card-header with-border">
                                    <div id="">
                                        <h3 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="companyHeader"></h3>
                                        <h4 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="reportHeader"></h4>
                                        <h4 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="glName"></h4>
                                        <h4 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="reportDate"></h4>
                                        <div class="row">
                                            <div class="col-md-12">

                                                <table class="table table-bordered table-striped table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>SL</th>
                                                            <th>Voucher Type</th>
                                                            <th>Voucher Ref No</th>
                                                            <th colspan="2" class="text-center">Date & Time</th>
                                                          
                                                            <th>Particular</th>
                                                            <th>Memo/Narration</th>
                                                            <th>Person/Item</th>
                                                            <th class="text-right">Debit</th>
                                                            <th class="text-right">Credit</th>
                                                            <th class="text-right">Balance</th>




                                                        </tr>
                                                    </thead>
                                                    <tbody id="manuallist">
                                                     
                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              
                            </div>
                        </div>



                    </div>


                </div>

            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->

</section>


@section Scripts
{


    <script type="text/javascript">
        $(document).ready(function() {
            //LoadDate_P('#txtFromDate');
            //LoadDate_C('#txtToDate');

            //$('#txtToDate').datepicker({
            //    endDate: new Date(),
            //    autoclose: true,
            //    todayHighlight: true,
            //    format: 'dd-M-yyyy'
            //});



            $('#txtFromDate').datepicker({
                //endDate: new Date(),
                autoclose: true,
                todayHighlight: true,
                format: 'dd-M-yyyy'
            });

            $('#txtToDate').datepicker({
                //endDate: new Date(),
                autoclose: true,
                todayHighlight: true,
                format: 'dd-M-yyyy'
            });

            LoadGL();
          
           
        });
 
        function LoadRefDetailsDuDate() {
            var GlId = $("#ddlGL").val();
            var RefDetailsId = $("#ddlRefdetails").val();
            var urlpath = '@Url.Action("GetRefDetailsDuDate", "JournalVoucher")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",
                data: { GlId: GlId, RefDetailsId: RefDetailsId },
                async: false,
                success: function (data) {
                    debugger;
                    if (data.DueDate != null)
                    {
                        var dueDate = ToJavaScriptDate(data.DueDate);
                        var fromDate = new Date($('#txtFromDate').val());
                        var opDate = new Date(dueDate);

                        if (opDate > fromDate) {
                            $('#txtFromDate').val(dueDate);
                        }


                        // var st= start.toLocaleDateString("fr-FR");
                        // alert(st);
                        //$('#txtFromDate').datepicker({
                        //    startDate: st,
                        //    endDate: '+0m',
                        //    todayHighlight: true,
                        //    format: 'dd-M-yyyy',
                        //    minDate: 0,
                        //    autoclose: true
                        //});
                    }


                }
            });
        }

        function ShowReport() {
           // debugger;
            var fromdate;
            var todate;
            var glId = $('#ddlGL').val();
            var glName = $(' #ddlGL option:selected').text();
           var refName = "";
            if ($("#ddlRefdetails").val() > 0) {
                 refName = $(' #ddlRefdetails option:selected').text();
            } else {
                 refName = "";
            }
           
            var a = $("#ddlRefdetails").text();
            var s = a.substring(28, a.length);
            var ref = $('#ddlRefdetails').val();
           // alert(s);
            var refdetailid = '0';

            if ($('#txtFromDate').val() == "") {
                swal("Please input from  date");
                return;
            } else {
                fromdate = $('#txtFromDate').val();
            }
            if ($('#txtToDate').val() == "") {
                swal("Please input to  date");
                return;
            } else {
                todate = $('#txtToDate').val();
            }
            if ($('#ddlGL').val() == "0") {
                swal("Please Select GL Account");
                return;
            } else {
                glId = $('#ddlGL').val();
            }

            if (s != "" & ref == "0") {
                swal("Please Select Referance Details");
               // refdetailid = '0';
               return;
                
            } else {
                refdetailid = $('#ddlRefdetails').val();
            }

            var urlpath = '@Url.Action("LoadDataGLInquiry", "JournalVoucher")';
            $.ajax({
                url: urlpath,
                dataType: 'html',
                type: "Get",
                data: { fromdate: fromdate, todate: todate, glId: glId, refdetailid: refdetailid },
                async: false,

                success: function(data) {

                    data = JSON.parse(data);
                    $("#manuallist").html("");
                    $('#Export').hide();
                    if (data.length > 0) {


                        var row = "";
                        var count = 1;
                        $("#manuallist").html("");

                        var count = 1;
                        for (var i = 0; i < data.length; i++) {


                            row += "<tr>";
                            //row += "<td style='text-align:center'>" + count + "</td>";
                            row += "<td style='text-align:center'>" + data[i].SLNo + "</td>";
                            row += "<td style='text-align:center'>" + data[i].VoucherType + "</td>";
                            if (data[i].VoucherRefNo == 0) {
                                row += "<td style='text-align:right'></td>";
                                
                            } else {
                                row += "<td style='text-align:center'><a class='btn btn-sm btn-warning' type='button' onclick='LoadReportFinal(" + data[i].VoucherMasterId + ")'>" + data[i].VoucherRefNo + "</a></td>";
                            }
                          

                            if (data[i].VoucherDate != null) {
                                row += "<td style='text-align:center'>" + ToJavaScriptDate(data[i].VoucherDate) + "</td>";
                            } else {
                                row += "<td style='text-align:right'></td>";
                            }
                           

                            row += "<td style='text-align:center'>" + data[i].VoucherTime + "</td>";
                            row += "<td style='text-align:center'>" + data[i].Particular + "</td>";
                            row += "<td style='text-align:center'>" + data[i].Memo + "</td>";
                            row += "<td style='text-align:center'>" + data[i].PersonOrItem + "</td>";
                            if (data[i].DebitAmount > 0) {
                                row += "<td style='text-align:right'>" + data[i].DebitAmount + "</td>";
                            } else {
                                row += "<td style='text-align:right'></td>";
                            }
                            if (data[i].CreditAmount > 0) {
                                row += "<td style='text-align:right'>" + data[i].CreditAmount + "</td>";
                            } else {
                                row += "<td style='text-align:right'></td>";
                            }
                            if (data[i].Balance > 0) {
                                row += "<td style='text-align:right'>" + data[i].Balance + "</td>";
                            } else if (data[i].Balance < 0) {
                                //var d = data[i].Balance;
                                //var sd = d.substring(1, d.length);
                                debugger;
                                var absValue = Math.abs(data[i].Balance);
                                var returnString = Number(absValue).toLocaleString( );

                               // return value < 0 ? '(' + returnString + ')' : returnString;
                                row += "<td style='text-align:right'>" +  '(' + returnString + ')' + "</td>";
                            }
                            else if (data[i].Balance == 0) {
                                row += "<td style='text-align:right'>" + data[i].Balance + "</td>";
                            }
                     
                      


                        //if (data[i].IsApprove == 1) {
                        //    row += "<td style='text-align:center'>Approved</td>";
                        //    row += "<td style='text-align:center'><a class='btn btn-sm btn-warning' type='button' onclick='GoToDo(" + data[i].VoucherMasterId + ")'>Edit</a></td>";

                        //    row += "<td style='text-align:center'><button class='btn btn-sm btn-primary showBtn' onclick='LoadReportFinal(" + data[i].VoucherMasterId + ")'>View</button></td>";


                        //}


                        row += "</tr>";
                        count = count + 1;

                    }
                        $("#manuallist").html(row);
                        $('#Export').show();
                    }
                    
                   
                },
                complete: function () {


                    $('#companyHeader').html("IG Foods Limited");
                    $('#reportHeader').html("GL Inquiry List");
                    $('#glName').html('GL Account: ' + glName+'('+  refName+')');
                    //$('#refName').html('GL Account: ' + refName);
                    $('#reportDate').html('Date: ' + $("#txtFromDate").val() + ' to ' + $("#txtToDate").val());
               
                }
        });
    }


        function GoToDo(soId) {
            window.location = "@Url.Action("NewJournal", "JournalVoucher")" + "?VoucherId=" + soId;
        }
       
        function exportExcel(e) {

            var file = new Blob([$('#ReportDiv').html()], { type: "application/vnd.ms-excel" });
            var url = URL.createObjectURL(file);
          
            var a = $("<a />", {
                href: url,

                download: "GLInquiry.xls"

            }).appendTo("body").get(0).click();

            e.preventDefault();


        }

    </script>





    <script>
        

        function LoadGL() {
            var urlpath = '@Url.Action("GetAllGLAR", "Utility")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {

                    $('#ddlGL').empty();
                    $('#ddlGL').append("<option value='0'>--Select GL--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#ddlGL').append($("<option></option>").val(data[i].CALayerSevenId).html(data[i].CALayerSevenName));
                    }
                }
            });
        }
       

        function LoadReferance() {
            var glId = $("#ddlGL").val();
            var urlpath = '@Url.Action("LoadReferenceTypeByGlId", "JournalVoucher")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",
                data: { glId: glId },
                async: false,
                success: function (data) {

                    $('#ddlRefdetails').empty();
                    $('#ddlRefdetails').append("<option value='0'>--Select Referance Details--</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#ddlRefdetails').append($("<option></option>").val(data[i].RefDetailsId).html(data[i].RefName));
                    }
                }
            });
        }



        function LoadReportFinal(id) {
            var urlpath = '@Url.Action("VoucherPrintReports", "Report")';


            var reportValue = "VoucherPrint";

            var voucherMasterId = id;

            //  alert( id);

            var jsonData = {};


            jsonData["ReportValue"] = reportValue;
            jsonData["VoucherMasterId"] = voucherMasterId;



            debugger;
            $.ajax({
                url: urlpath,
                data: jsonData,
                dataType: 'json',
                type: "Get",
                success: function (data) {
                    if (data.isSuccess) {



                        //OpenPopUp('BasicReportViewer.aspx');
                        window.open("../CrystalViewer/CrystalViewer.aspx", "_blank", "WIDTH=1024,HEIGHT=768,scrollbars=no, menubar=no,resizable=yes,directories=no,location=no");
                    }
                }
            });
        }

    </script>


}


