﻿@using System.Data
@model  IEnumerable<IGFoodProject.Models.Accounts.VoucherMasterView>

@{
    ViewBag.Title = "Journal Vouchers ";

}
<style>
    #manuallist {
        padding: 10px;
    }

    .form-control {
        height: calc(1.7rem + 2px);
    }
</style>


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">

                        <div class="row">

                            <div class="col-md-6">
                                <h3>Journal Voucher Approval List </h3>
                            </div>
                            <div class="col-md-6 text-right ">
                                @*<a class="btn btn-outline-warning" href="@Url.Action("NewJournal", "JournalVoucher", new {id = 0})">

                                    <span class="fa fa-plus"></span> New Journal

                                </a>*@
                            </div>

                        </div>



                    </div>
                    <div class="row">
                        <div class="card-body">
                            <div class="col-md-3">
                                <div class="form-group" id="divCompany">
                                    <label for="ddlCompany">Company</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlCompany" onchange="LoadBusinessUnit()"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divBusinessUnit">
                                    <label for="ddlBusinessUnit">Business Unit</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlBusinessUnit"></select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" id="divFromDate">
                                    <label for="">From  Date</label>
                                    <input type="text" id="txtFromDate" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" id="divToDate">
                                    <label for="">To Date</label>
                                    <input type="text" id="txtToDate" class="form-control"/>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" id="divStatusType">
                                    <label for="">Status Type</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlStatusType">
                                        <option value="100">Pending</option>
                                        <option value="1">Approved</option>
                                        <option value="2">Review</option>
                                        <option value="0"> Reject </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-2 pull-right offset-10">
                            <button style="margin-left: 27px;" class="btn btn-primary" onclick="ShowReport()">Search Voucher</button>
                        </div>
                    </div>
                    <br />
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body">
                                <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Financial Year</th>
                                            <th>Company</th>
                                            <th>BU</th>
                                            <th>Voucher Code</th>
                                            <th colspan="2" class="text-center">Voucher Date</th>

                                            <th>Currency</th>

                                            <th class="text-right">Total Amount BDT</th>
                                            <th>Status</th>
                                            <th>Review Reason</th>
                                            <th colspan="2" class="text-center">Action</th>

                                        </tr>
                                    </thead>
                                    <tbody id="manuallist">
                                        @{ int count = 1;}
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@count</td>
                                                <td>@item.FinancialYear</td>
                                                <td>@item.Company</td>
                                                <td>@item.BusinessUnit</td>
                                                <td>@item.VoucherCode</td>
                                                <td>
                                                    @Convert.ToDateTime(item.VoucherDate).ToString("dd-MMM-yyyy")


                                            </td>
                                            <td>@item.EntryDate.ToString("h:mm:ss tt")</td>
                                            <td>@item.Currency</td>

                                            <td class="text-right">@item.TotalAmountBDT.ToString("##,###,0.00")</td>
                                                @if (item.IsApprove == 100)
                                                {
                                                    <td style="color: orange">Pending</td>
                                                    <td>@item.ReviewReasion</td>
                                                <td style='text-align:center'><a class='btn btn-sm btn-warning' onclick='GoToDo(@item.VoucherMasterId)'>Approve</a></td>;
                                                }
                                                @if (item.IsApprove == 2)
                                                {
                                                <td style="color: orange">Review</td>
                                                <td>@item.ReviewReasion</td>
                                                <td></td>

                                                    // <td style='text-align:center'><a class='btn btn-sm btn-warning' onclick='GoToDo(@item.VoucherMasterId)'>Approve</a></td>;
                                                }

                                                @if (item.IsApprove == 1)
                                                {
                                                <td style="color: green">Approve</td>
                                                <td>@item.ReviewReasion</td>
                                                <td></td>
                                                }
                                                @if (item.IsApprove == 0)
                                                {
                                                    <td style="color: red">Reject</td>
                                                   <td>@item.ReviewReasion</td>
                                                   <td></td>
                                                }
                                        </tr>
                                            count++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <input id="fdate" type="datetime" style="display: none;" value="@ViewBag.fromdate">
                        <input id="tdate" type="datetime" style="display: none;" value="@ViewBag.todate">

                    </div>


                </div>

            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->

</section>



@section Scripts
{
    <script type="text/javascript">


        $(document).ready(function () {
          //  LoadDate_P('#txtFromDate');
           // LoadDate_C('#txtToDate');

             $("#txtFromDate").datepicker({ format: "dd-M-yyyy", autoclose: true, 'forceParse': 0});
            $("#txtFromDate").datepicker('setDate', new Date());
            $("#txtToDate").datepicker({ format: "dd-M-yyyy", autoclose: true, 'startDate': new Date(), 'setDate': new Date(), 'forceParse': 0});
            $("#txtToDate").datepicker('setDate', new Date());

          var fromdate=  new Date('@ViewBag.fromdate').toLocaleDateString('en-US');
          var todate=  new Date('@ViewBag.todate').toLocaleDateString('en-US');
           // $("#txtFromDate").val(fromdate);
           // $("#txtToDate").val(todate);

            var fdate = $('#fdate').val();
            if (fdate != null && fdate != '') {
                var d = new Date(fdate);
                var monthNames = d.getMonth() + 1; // 10 (PS: +1 since Month is 0-based)
                var dayData = d.getDate(); // 30
                var yy = d.getFullYear();
                var rDate = dayData + "-" + monthNames + "-" + yy;
                $('#txtFromDate').datepicker('setDate', rDate);
            }

            var tdate = $('#tdate').val();
            if (tdate != null && tdate != '') {
                var d2 = new Date(tdate);
                var monthNames2 = d2.getMonth() + 1; // 10 (PS: +1 since Month is 0-based)
                var dayData2 = d2.getDate(); // 30
                var yy2 = d2.getFullYear();
                var rDate2 = dayData2 + "-" + monthNames2 + "-" + yy2;
                $('#txtToDate').datepicker('setDate', rDate2);
            }

            @*$('#txtFromDate').val(@fdate);
            $('#txtToDate').val(@tdate);*@

            //var fdate= $('#fdate').val();
            //if (fdate != null && fdate != '') {
            //    var f = ToJavaScriptDate(fdate);
            //    $('#txtFromDate').val(f);
            //}
            //var tdate = $('#tdate').val();
            //if (tdate != null && tdate != '') {
            //    var t = ToJavaScriptDate(tdate);
            //    $('#txtToDate').val(t);
            //}

            @*$('#txtToDate').val(@tdate);*@
            @*if (@fdate != null) {
                $('#txtFromDate').val(ToJavaScriptDate(@fdate));
            }
            if (@tdate != null) {
                $('#txtToDate').val(ToJavaScriptDate(@tdate));
            }*@




            LoadCompany('ddlCompany');
            $("#ddlCompany").val("7");
            LoadBusinessUnit();
            $("#ddlBusinessUnit").val("1");
        });

        function LoadBusinessUnit() {
            var companyId = $("#ddlCompany").val();
            $.ajax({
                url: "/Utility/LoadBusinessUnit",
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",
                data: { companyId: companyId },
                async: false,
                success: function (data) {

                    $('#ddlBusinessUnit').empty();
                    $('#ddlBusinessUnit').append("<option value='0'>--Select Business Unit--</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#ddlBusinessUnit').append($("<option></option>").val(data[i].BUId).html(data[i].Name));
                    }
                }
            });
        }




        function LoadReportFinal(id) {
            var urlpath = '@Url.Action("VoucherPrintReports", "Report")';


            var reportValue = "VoucherPrint";

            var voucherMasterId = id;

          //  alert( id);

            var jsonData = {};


                jsonData["ReportValue"] = reportValue;
                jsonData["VoucherMasterId"] = voucherMasterId;



            debugger;
            $.ajax({
                url: urlpath,
                data: jsonData,
                dataType: 'json',
                type: "Get",
                success: function (data) {
                    if (data.isSuccess) {



                        //OpenPopUp('BasicReportViewer.aspx');
                        window.open("../CrystalViewer/CrystalViewer.aspx", "_blank", "WIDTH=1024,HEIGHT=768,scrollbars=no, menubar=no,resizable=yes,directories=no,location=no");
                    }
                }
            });
        }





        function ShowReport() {
            debugger;
            var fromdate;
            var todate;
            var companyId = '0';
            var buId = '0';
         var statusType = $('#ddlStatusType').val();

            if ($('#txtFromDate').val() == "") {
                swal("Please input from order date");
                return;
            }
            else {
                fromdate = $('#txtFromDate').val();
            }
            if ($('#txtToDate').val() == "") {
                swal("Please input to order date");
                return;
            }
            else {
                todate = $('#txtToDate').val();
            }

            if ($('#ddlCompany').val() == "0") {
                companyId = '0';
            }
            else {
                companyId = $('#ddlCompany').val();
            }
            if ($('#ddlBusinessUnit').val() == "0") {
                buId = '0';
            }
            else {
                buId = $('#ddlBusinessUnit').val();
            }

            var urlpath = '@Url.Action("JournalVoucherApprovalListData", "JournalVoucher")';
            $.ajax({
                url: urlpath,
                dataType: 'html',
                type: "Get",
                data: { fromdate: fromdate, todate: todate, CompanyId: companyId, BUId: buId,  statusType: statusType },
                async: false,
                success: function (data) {

                    data = JSON.parse(data);
                    $("#manuallist").html("");
                    if (data.length > 0) {



                        var row = "";
                        var count = 1;
                        $("#manuallist").html("");

                        var count=1;
                        for (var i = 0; i < data.length; i++) {



                            row += "<tr>";
                            row += "<td style='text-align:center'>" + count + "</td>";
                            row += "<td style='text-align:center'>" + data[i].FinancialYear + "</td>";
                            row += "<td style='text-align:center'>" + data[i].Company + "</td>";
                            row += "<td style='text-align:center'>" + data[i].BusinessUnit + "</td>";
                            row += "<td style='text-align:center'>" + data[i].VoucherCode + "</td>";
                            //row += "<td style='text-align:center'>" + data[i].VoucherDate + "</td>";

                             row += "<td style='text-align:center'>" + ToJavaScriptDate(data[i].VoucherDate) + "</td>";
                             row += "<td style='text-align:center'>" + moment((data[i].EntryDate)).format('LTS') + "</td>";
                           row += "<td style='text-align:center'>" + data[i].Currency + "</td>";
                            row += "<td style='text-align:right'>" + data[i].TotalAmountBDT + "</td>";

                              if (data[i].IsApprove == 100) {
                                row += "<td style='text-align:center;color:Orange'>Pending</td>";
                                row += "<td style='text-align:center'>" + data[i].ReviewReasion + "</td>";
                              row += "<td style='text-align:center'><a class='btn btn-sm btn-warning' type='button' onclick='GoToDo(" + data[i].VoucherMasterId + ")'>Approve</a></td>";
                            }
                             if (data[i].IsApprove == 2) {
                                row += "<td style='text-align:center; color:Orange'>Review</td>";
                                row += "<td style='text-align:center;'>" + data[i].ReviewReasion + "</td>";
                                row += "<td style='text-align:center;'></td>";
                              // row += "<td style='text-align:center'><a class='btn btn-sm btn-warning' type='button' onclick='GoToDo(" + data[i].VoucherMasterId + ")'>Approve</a></td>";
                            }

                            if (data[i].IsApprove == 1)
                            {
                                row += "<td style='text-align:center; color:Green'>Approved</td>";
                                row += "<td style='text-align:center'>" + data[i].ReviewReasion + "</td>";
                                row += "<td style='text-align:center'></td>";
                            }
                            if (data[i].IsApprove == 0)
                            {
                                row += "<td style='text-align:center; color:Red'>Reject</td>";
                                row += "<td style='text-align:center'>" + data[i].ReviewReasion + "</td>";
                                row += "<td style='text-align:center'></td>";
                            }

                            row += "</tr>";
                            count = count + 1;

                        }
                        $("#manuallist").html(row);
                    }
                }
            });
        }

        var app = "ap";

        function GoToDo(soId) {

         var fdate = $('#txtFromDate').val();
         var tdate = $('#txtToDate').val();
            window.location = "@Url.Action("NewJournal", "JournalVoucher")" + "?VoucherId=" + soId + "&eflag=" + app + "&fromdate=" + fdate + "&todate=" + tdate;
        }
    </script>



    <script>
        function GetEmployeeName(empId) {
            var EmpName = "";
            var urlpath = '@Url.Action("GetEmployeeName", "Utility")';
            $.ajax({
                url: urlpath,
                data:{empId:empId},
                dataType: 'json',
                type: "Get",

                async: false,
                success: function (data) {
                    EmpName = data;

                }
            });
            return EmpName;
        }



    </script>
}
