﻿
@{
    ViewBag.Title = "NewJournal";
}

<style>
    .form-control {
        height: calc(1.7rem + 2px);
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <a href="@Url.Action("Index", "JournalVoucher", new {id = 0})">
                                    <h3 class="card-title">
                                        @if (ViewBag.VoucherId == 0)
                                        {
                                            <span class=""> New Journal Voucher</span>

                                        }
                                        else if (ViewBag.eflag == "ap")
                                        {
                                            <span class=""> Approve Journal Voucher</span>
                                            <span id="txtRequisition"></span>
                                        }
                                        else
                                        {
                                            <span class=""> Edit Journal Voucher</span>
                                        }
                                    </h3>
                                </a>
                            </div>
                            <div class="col-md-6 text-right">

                                @if (ViewBag.eflag == "ed")
                                {
                                    <a class="btn btn-outline-warning" href="@Url.Action("Index", "JournalVoucher")">
                                        <span class="fa fa-list"></span> Journal Voucher List

                                    </a>
                                }
                                else
                                {
                                    <a class="btn btn-outline-warning" href="@Url.Action("JournalVoucherApproval", "JournalVoucher")">
                                        <span class="fa fa-list"></span> Pending Journal Voucher List
                                    </a>
                                }
                            </div>
                        </div>

                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <br />
                        <div class="row" style="padding:20px">

                            <div class="col-md-2">
                                <div class="form-group" id="divCompany">
                                    <label for="ddlCompany">Company</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlCompany" onchange="LoadBusinessUnit()"></select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" id="divBusinessUnit">
                                    <label for="ddlBusinessUnit">Business Unit</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlBusinessUnit"></select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" id="divFiscalYear">
                                    <label for="ddlFiscalYear">Fiscal Year</label>
                                    <select class="form-control" style="width: 100%;" id="ddlFiscalYear" disabled="disabled"></select> 
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" id="divCurrency">
                                    <label for="ddlCurrency">Currency</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlCurrency"></select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" id="divCurrencyRate">
                                    <label for="txtCurrencyRate">Currency Rate</label>
                                    <input type="text" id="txtCurrencyRate" class="form-control" value="1" />
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group" id="divVoucherDate">
                                    <label for="txtVoucherDate">Voucher Date</label>
                                    <input type="text" id="txtVoucherDate" class="form-control datepicker" onchange="LoadFiscalYear()" value="@DateTime.Now.ToString("dd-MMM-yyyy")" />
                                </div>
                            </div>

                        </div>



                        <div class="row table-responsive" style="padding-top:10px">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <table class="table table-bordered table-striped table-hover" id="journalVoucher">
                                        <thead>
                                            <tr>
                                                @*<th>#</th>*@
                                                <th style="width: 320px">GL Code</th>

                                                <th style="width: 180px">Cost Center</th>

                                                <th style="width: 320px">Ref No</th>
                                                <th>Trx. Type</th>
                                                <th style="width: 100px">Amount</th>
                                                <th>Remarks</th>
                                                <th class="action">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top:10px">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6">

                                <div class="form-group row">
                                    <div class="col-sm-2">
                                    </div>
                                    <label for="lblRestAmount" class="col-sm-2 control-label">Total Debit Amount :</label>
                                    <div class="col-sm-3">
                                        <label id="lblTotalAmountAmount">0</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-2">
                                    </div>
                                    <label for="lblCrAmount" class="col-sm-2 control-label">Total Credit Amount :</label>
                                    <div class="col-sm-3">
                                        <label id="lblTotalCrAmount">0</label>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-2">
                                    </div>
                                    <label for="lbldiffAmount" class="col-sm-2 control-label">Amount Difference:</label>
                                    <div class="col-sm-3">
                                        <label id="lblTotalAmountDifference">0</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top:10px">

                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label for="lblNarration" class="col-sm-2 control-label">Narration :</label>
                                    <div class="col-sm-3" id="divNarration">
                                        <textarea id="txtaNarration" rows="4" cols="50" style="text-align: left"></textarea>
                                    </div>
                                </div>

                                @*<div class="form-group row">
                                        <label for="lblNarration" class="col-sm-2 control-label">Narration :</label>
                                        <div class="col-sm-3">
                                            <textarea id="txtaNarration" rows="4" cols="50"></textarea>
                                        </div>
                                    </div>*@
                            </div>
                            @if (@ViewBag.eflag == "ap")
                            {
                                <div class="col-md-4" id="ReasionDiv">
                                    <div class="form-group row">
                                        <label for="lblRemarks" class="col-sm-2 control-label">Review Reason:</label>
                                        <div class="col-sm-3" id="divRemarks">
                                            <textarea id="txtRemarks" rows="4" cols="50" style="text-align: left"></textarea>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="card-footer">

                        @if (@ViewBag.eflag == "ed")
                        {
                            <button class="btn btn-primary" onclick="SaveJournal()">Submit</button>
                            <a class="btn btn-outline-danger float-right" href="@Url.Action("Index", "JournalVoucher")">Cancel</a>
                        }
                        @if (@ViewBag.eflag == "ap")
                        {
                            <button class="btn btn-primary" onclick="SaveJournal()">Approve</button>
                            <button class="btn btn-warning" id="Review" onclick="Review()">Review</button>
                            <button class="btn btn-danger" onclick="Reject()">Reject</button>
                            <a class="btn btn-outline-danger float-right" href="@Url.Action("JournalVoucherApproval", "JournalVoucher")">Cancel</a>

                        }

                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
        <input id="voucherId" type="number" style="display: none;" value="@ViewBag.VoucherId">
        <input id="eflag" type="text" style="display: none;" value="@ViewBag.eflag">

    </div>
</section>



@section Scripts
{

    <script>
        var JournalGLList = {};
        var DeleteGLDetails = [];
        var DeleteGLDetailsTransaction = [];
        $(document).ready(function() {
           // debugger;
            LoadCompany('ddlCompany');
            $("#ddlCompany").val("7");
            LoadBusinessUnit();
            $("#ddlBusinessUnit").val("1");
            LoadFinancialYear();
            LoadCurrency();
            $("#ddlCurrency").val("1");
            $('#txtOrderDate').datepicker({
                endDate: new Date(),
                autoclose: true,
                todayHighlight: true,
                format: 'dd-M-yyyy'
            });
            LoadDate('#txtDeliveryDate');
            LoadDate('#txtChequeDate');
            LoadDate('#txtRefDate');
            GetJvVoucherGL();

            CalculateAll();
            var voucherId = $('#voucherId').val();
            if (voucherId > 0) {
                GetVoucherMaster(voucherId);
            } else {
                AddRow();
            }
            $('#ddlBank').change(function() {
                var bankid = $(this).val();
                LoadBankBranch('ddlBranch', bankid);

            });
        });


        function LoadBusinessUnit() {
            var companyId = $("#ddlCompany").val();
            $.ajax({
                url: "/Utility/LoadBusinessUnit",
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",
                data: { companyId: companyId },
                async: false,
                success: function(data) {

                    $('#ddlBusinessUnit').empty();
                    $('#ddlBusinessUnit').append("<option value='0'>--Select Business Unit--</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#ddlBusinessUnit').append($("<option></option>").val(data[i].BUId).html(data[i].Name));
                    }
                }
            });
        }

        function LoadFinancialYear() {
            $.ajax({
                url: "/Utility/GetFinancialYear",
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function(data) {

                    $('#ddlFiscalYear').empty();
                    //$('#ddlFiscalYear').append("<option value='0'>--Select Business Unit--</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#ddlFiscalYear').append($("<option></option>").val(data[i].FinancialYearId).html(data[i].FYear));
                    }
                }
            });
        }

        function LoadFiscalYear() {
        //CheckCurrentdate
            debugger;
            var voucherDate=$('#txtVoucherDate').val();

          $.ajax({
                url: "/JournalVoucher/GetFiscalyearByVoucherDate",
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",
                data: { voucherDate: voucherDate },
                async: false,
                success: function(data) {

                    $('#ddlFiscalYear').val(data.FinancialYearId);
                }
            });
        }


        function LoadCurrency() {
            $.ajax({
                url: "/Utility/GetCurrency",
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function(data) {

                    $('#ddlCurrency').empty();
                    $('#ddlCurrency').append("<option value='0'>--Select Currency--</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#ddlCurrency').append($("<option></option>").val(data[i].CurrencyId).html(data[i].CurrencyCode));
                    }
                }
            });
        }

        function GetVoucherMaster(id) {

            var urlpath = '@Url.Action("GetVoucherByMasterId", "DebitVoucher")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { id: id },
                async: false,
                success: function(data) {
                   // debugger;
                    $('#txtVoucherDate').val(ToJavaScriptDate(data.VoucherDate));
                    $("#ddlCompany").val(data.CompanyId).trigger('change');
                    $("#ddlFiscalYear").val(data.FinancialYearId).trigger('change');
                    $("#ddlBusinessUnit").val(data.BUId).trigger('change');
                    $("#ddlCurrency").val(data.CurrencyId).trigger('change');

                    $('#txtaNarration').val(data.Narration);
                      $('#txtRemarks').val(data.ReviewReasion);
                    $('#txtCurrencyRate').val(data.CurrencyConRate);


                    for (var i = 0; i < data.VoucherDetails.length; i++) {

                        var tr = $('#journalVoucher tbody tr').length + 1;
                        AddRow();

                        $("#glId_" + tr).val(data.VoucherDetails[i].CALayerSevenId).trigger('change');
                        $("#costCenter_" + tr).val(data.VoucherDetails[i].CostCenterId).trigger('change');
                        $("#referenceNo_" + tr).val(data.VoucherDetails[i].RefDetailsId).trigger('change');


                        $("#TransactionType_" + tr).val(data.VoucherDetails[i].DrCr).trigger('change');
                        if (data.VoucherDetails[i].DrCr == 'Dr') {
                            $('#amount_' + tr).val(data.VoucherDetails[i].DrAmt.toFixed(2));
                        }
                        if (data.VoucherDetails[i].DrCr == 'Cr') {
                            $('#amount_' + tr).val(data.VoucherDetails[i].CrAmt.toFixed(2));
                        }
                        $('#remarks_' + tr).val(data.VoucherDetails[i].Remarks);
                        $('#details_' + tr).val(data.VoucherDetails[i].VoucherDetailId);



                       // debugger;
                        var eflag = $('#eflag').val();

                    }


                    CalculateAll();

                }
            });
        }


        function SaveJournal() {

            if (SaveValidation() == true) {
                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function() {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveJournalFinal();

                });
            }
        }

        function SaveJournalFinal() {
            debugger;
            var jsonData = {};

            jsonData["VoucherMasterId"] = $('#voucherId').val();
            jsonData["CompanyId"] = $('#ddlCompany').val();
            jsonData["BUId"] = $('#ddlBusinessUnit').val();
            jsonData["FinancialYearId"] = $('#ddlFiscalYear').val();
            jsonData["VoucherType"] = 5;
            jsonData["VoucherDate"] = $('#txtVoucherDate').val();
            jsonData["CurrencyId"] = $('#ddlCurrency').val();
            jsonData["CurrencyConRate"] = $('#txtCurrencyRate').val();

            jsonData["TotalAmount"] = parseFloat($('#lblTotalAmountAmount').html());
            jsonData["TotalAmountBDT"] = parseFloat($('#lblTotalAmountAmount').html()) * $('#txtCurrencyRate').val();
            jsonData["Narration"] = $('#txtaNarration').val();
            jsonData["ReviewReasion"] = $('#txtRemarks').val();

            jsonData["eflag"] = $('#eflag').val();


            var jsonObjs = [];

            ////Credit Object
            // var voucherMasterId=$('#voucherId').val();
            //if(voucherMasterId ==0 )
            //{
            //    var creditObj = {};
            //    creditObj["CALayerSevenId"] = fromAccount;
            //    creditObj["DrCr"] = "Cr";
            //    creditObj["CrAmt"] = parseFloat($('#lblTotalAmountAmount').html());;
            //    creditObj["CrAmtBDT"] =parseFloat($('#txtCurrencyRate').val())* parseFloat($('#lblTotalAmountAmount').html());
            //    jsonObjs.push(creditObj);
            //}


            $('#journalVoucher tbody tr').each(function() {
                debugger;
                var theObj = {};
                var idr = $(this).attr('id');
                var id = idr.substring(3);

                var detailsId = $('#details_' + id).val();
                var detailsTransactionId = $('#details_transaction_' + id).val();

                var glId = isNaN(parseFloat($('#glId_' + id).val())) ? 0 : parseFloat($('#glId_' + id).val());
                var costCenter = $('#costCenter_' + id).val();
                var refNo = $('#referenceNo_' + id).val()||0;
                var amount = isNaN(parseFloat($('#amount_' + id).val())) ? 0 : parseFloat($('#amount_' + id).val());
                var transactionType = $('#TransactionType_' + id).val();
                var remarks = $('#remarks_' + id).val();


                theObj["VoucherDetailId"] = detailsId;


                theObj["CALayerSevenId"] = glId;
                theObj["DrCr"] = transactionType;
                theObj["DrAmt"] = amount;
                theObj["DrAmtBDT"] = parseFloat($('#txtCurrencyRate').val()) * amount;

                theObj["Remarks"] = remarks;

                var transactionObj = {};
                transactionObj["VoucherTransectionId"] = detailsTransactionId;
                transactionObj["VoucherDetailId"] = detailsId;
                transactionObj["Amt"] = amount;
                transactionObj["AmtBDT"] = parseFloat($('#txtCurrencyRate').val()) * amount;
                transactionObj["CostCenterId"] = costCenter;
                transactionObj["RefDetailsId"] = refNo;
                theObj["VoucherTransections"] = transactionObj;

                jsonObjs.push(theObj);

            });

            if (isNaN(parseInt($('#voucherId').val())) ? 0 : parseInt($('#voucherId').val()) > 0) {
                for (var ind = 0; ind < DeleteGLDetails.length; ind++) {
                    jsonObjs.push(DeleteGLDetails[ind]);
                }
            }
           // debugger;

            jsonData["VoucherDetails"] = jsonObjs;

            var urlpath = '@Url.Action("SaveJournal", "JournalVoucher")';
            $.ajax({
                    contentType: "application/json",
                    data: JSON.stringify(jsonData),
                    dataType: 'json',
                    url: urlpath,
                    type: "POST"
                })
                .success(function(result) {

                    if (result.pk > 0) {
                        swal({
                            title: " Saved Successfull",
                            text: '',
                            type: "success",
                            showCancelButton: false,
                            cancelButtonClass: 'btn-secondary waves-effect',
                            confirmButtonClass: 'btn-success waves-effect waves-light',
                            confirmButtonText: 'Yes!',
                            closeOnConfirm: false
                        }, function() {
                            var eflag = $('#eflag').val();
                            if (eflag == "ed") {
                                window.location.href = '@Url.Action("Index", "JournalVoucher")';
                            } else {
                                window.location.href = '@Url.Action("JournalVoucherApproval", "JournalVoucher")';
                            }


                        });


                    }
                });


        }


        function SaveValidation() {
           // debugger;

            var isValid = true;
            var message = "Some Values Required";
            if ($('#ddlCompany').val() == 0 || $('#ddlCompany').val() == '') {
                ValidationColorChangeNew("ddlCompany", "divCompany", "Company Required", true);
                isValid = false;
            }
            if ($('#ddlBusinessUnit').val() == 0 || $('#ddlBusinessUnit').val() == '') {
                ValidationColorChangeNew("ddlBusinessUnit", "divBusinessUnit", "Business Unit Required", true);
                isValid = false;
            }
            if ($('#ddlFiscalYear').val() == 0 || $('#ddlFiscalYear').val() == '') {
                ValidationColorChangeNew("ddlFiscalYear", "divFiscalYear", "Fiscal Year Required", true);
                isValid = false;
            }
            if ($('#txtVoucherDate').val() == '' || $('#txtVoucherDate').val() == null) {
                ValidationColorChangeNew("txtVoucherDate", "divVoucherDate", "Voucher Date Required", false);
                isValid = false;
            }

            if ($('#ddlCurrency').val() == 0 || $('#ddlCurrency').val() == '') {
                ValidationColorChangeNew("ddlCurrency", "divCurrency", "Currency Required", false);
                isValid = false;
            }
            if ($('#txtCurrencyRate').val() == '' || $('#txtCurrencyRate').val() == null) {
                ValidationColorChangeNew("txtCurrencyRate", "divCurrencyRate", "Currency Rate Required", false);
                isValid = false;
            }


            if ($('#txtaNarration').val().trim() == '' || $('#txtaNarration').val().trim() == null ) {
                ValidationColorChangeNew("txtaNarration", "divNarration", "Narration Required", false);
                isValid = false;
              //  message = "Narration Required";

            }

            if ($('#journalVoucher tbody tr').length == 0 || $('#journalVoucher tbody tr').length == '') {
                isValid = false;
                message = "GL Required";
            }


            var text = $('#lblTotalAmountDifference').text();
            var integer = parseFloat(text);
            //alert(integer);
            if (integer > 0 || integer < 0) {
               // debugger;
                isValid = false;
                message = " Debit and Credit value difference should be 0.";
                $('#lblTotalAmountDifference').css('border-bottom', '2px solid red');
                //return ;
            }
            //else {
            //    isValid = true;
            //    $('#lblTotalAmountDifference').css('border-bottom', '2px solid transparent');
            //}


            var grandTotal = 0;
            var grandTotalCr = 0;
            $('#journalVoucher tbody tr').each(function() {

                //debugger;
                var idr = $(this).attr('id');
                var id = idr.substring(3);

                var glId = isNaN(parseFloat($('#glId_' + id).val())) ? 0 : parseFloat($('#glId_' + id).val());
                var amount = isNaN(parseFloat($('#amount_' + id).val())) ? 0.00 : parseFloat($('#amount_' + id).val());
                var isreferance = isNaN(parseFloat($('#isReferance_' + id).val())) ? 0 : parseFloat($('#isReferance_' + id).val());
                var referanceNo = isNaN(parseFloat($('#referenceNo_' + id).val())) ? 0 : parseFloat($('#referenceNo_' + id).val());
                var transactionType = $('#TransactionType_' + id).val();
                var costCen = isNaN(parseInt($('#costCenter_' + id).val())) ? 0 : parseInt($('#costCenter_' + id).val());
                if (glId === 0) {
                    isValid = false;
                    message = "Please select GL";
                   // $('#glId_' + id).css('border-bottom', '2px solid red');
                    $('#glId_' + id).next('.select2-container').find('.select2-selection').css('border', '2px solid red');

                    return;
                } else {
                      $('#glId_' + id).next('.select2-container').find('.select2-selection').css('border', '1px solid #ddd');

                }


                  if (costCen == 0){
                        isValid = false;
                        message = "Please select cost centre";
                        $('#costCenter_' + id).next('.select2-container').find('.select2-selection').css('border', '2px solid red');
                        return;
                 }

                //if (glId > 0 & transactionType=='Dr') {
                //    isValid = false;
                //    message = "Please select atleast one Credit GL ";

                //    return;
                //}
                //else if (glId > 0 & transactionType == 'Cr') {
                //    isValid = false;
                //    message = "Please select atleast one Dedit GL ";

                //    return;
                //}


                if (amount === 0) {
                    isValid = false;
                    message = "Amount Cannot be 0 ";
                    $('#amount_' + id).css('border-bottom', '2px solid red');
                   // return;
                }


                if (glId > 0 && isreferance === 1) {
                    if (referanceNo === 0) {
                        isValid = false;
                        message = "Please select Referance";
                        $('#referenceNo_' + id).css('border-bottom', '2px solid red');
                        return;
                    }

                }

              //  if (transactionType == 'Dr') {
              //      grandTotal += amount;
              //  }
              //  if (transactionType == 'Cr') {
              //      grandTotalCr += amount;
              //  }
              //  var difference = grandTotal - grandTotalCr;
              //  alert(difference);
              ////  var Diffid = $('#lblTotalAmountDifference').html(Math.ceil(difference.toFixed(2)));
              //  if (difference > 0 || difference < 0) {
              //      isValid = false;
              //      message = " Debit and Credit value difference should be 0.";
              //      $('#lblTotalAmountDifference').css('border-bottom', '2px solid red');
              //     // return;
              //  }
                //else if (difference == 0.00) {
                //    isValid = true;
                //    $('#lblTotalAmountDifference').css('border-bottom', '2px solid transparent');
                //}



            });
            var dup = CheckDuplicate();
            if (dup == false) {
                message = "Duplicate found. This table has same GL Code and Ref No.";
                isValid = false;
            }
            if (isValid == false) {
                ShowMessage(message);

            }
            return isValid;


        }

        function CheckDuplicate() {
       // debugger;
         var isValid = true;

         $('#journalVoucher tbody tr').each(function() {
                var idr = $(this).attr('id');
                var id = idr.substring(3);
                var glId = isNaN(parseFloat($('#glId_' + id).val())) ? 0 : parseFloat($('#glId_' + id).val());
                var referanceNo = isNaN(parseFloat($('#referenceNo_' + id).val())) ? 0 : parseFloat($('#referenceNo_' + id).val());

                    $('#journalVoucher tbody tr').each(function() {
                    var idrCompare = $(this).attr('id');
                    var idCompare = idrCompare.substring(3);
                    var glIdCompare = isNaN(parseFloat($('#glId_' + idCompare).val())) ? 0 : parseFloat($('#glId_' + idCompare).val());
                    var referanceNoCompare = isNaN(parseFloat($('#referenceNo_' + idCompare).val())) ? 0 : parseFloat($('#referenceNo_' + idCompare).val());
                   if(id != idCompare && glId == glIdCompare && referanceNo == referanceNoCompare)  {

                       isValid = false;
                   }
         });

         });
        return isValid;

        }

        function CalculateAll() {
            var grandTotal = 0;
            var grandTotalCr = 0;

            var proCout = 0;
            $('#journalVoucher tbody tr').each(function() {

              // // debugger;
                var idr = $(this).attr('id');
                var id = idr.substring(3);

                var glId = isNaN(parseFloat($('#glId_' + id).val())) ? 0 : parseFloat($('#glId_' + id).val());
                var amount = isNaN(parseFloat($('#amount_' + id).val())) ? 0.00 : parseFloat($('#amount_' + id).val());
                if (amount>0) {
                     $('#amount_' + id).css('border-bottom', '1px solid #ddd');
                } else {
                    $('#amount_' + id).css('border-bottom', '2px solid red');
                }
                var transactionType = $('#TransactionType_' + id).val();
                if (transactionType == 'Dr') {
                    grandTotal += amount;
                }
                if (transactionType == 'Cr') {
                    grandTotalCr += amount;
                }
                if (glId > 0) {
                    proCout = proCout + 1;
                }

            });
           // $('#lblTotalAmountAmount').html(Math.ceil(grandTotal.toFixed(2)));
            $('#lblTotalAmountAmount').html(grandTotal);
          //  $('#lblTotalCrAmount').html(Math.ceil(grandTotalCr.toFixed(2)));
            $('#lblTotalCrAmount').html(grandTotalCr);

            var difference = (grandTotal - grandTotalCr) || 0;

          //  $('#lblTotalAmountDifference').html(Math.ceil(difference.toFixed(2)));
            $('#lblTotalAmountDifference').html(difference);
        }


        function GetGLDetails(glId) {
           //// debugger;

        $('#glId_' + glId).next('.select2-container').find('.select2-selection').css('border', '1px solid #ddd');
            var gLId = $('#glId_' + glId).val();

            var urlpath = '@Url.Action("GetGLDetails", "DebitVoucher")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'json',
                data: { gLId: gLId },
                async: false,
                success: function(data) {
                   // debugger;
                    $("#isReferance_" + glId).val(data.IsReferance);
                }
            });


            $.ajax({
                url: "/DebitVoucher/LoadCostCenterByGlId",
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",
                data: { CALayerSevenId: gLId },
                async: false,
                success: function(data) {

                    $('#costCenter_' + glId).empty();
                    $('#costCenter_' + glId).append("<option value='0'>--Select Cost Center--</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#costCenter_' + glId).append($("<option></option>").val(data[i].CostCenterId).html(data[i].CostCenterName));
                    }
                }
            });

            $.ajax({
                url: "/DebitVoucher/LoadReferenceTypeByGlId",
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",
                data: { CALayerSevenId: gLId },
                async: false,
                success: function(data) {

                    $('#referenceNo_' + glId).empty();
                    $('#referenceNo_' + glId).append("<option value='0'>--Select Reference Type_--</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#referenceNo_' + glId).append($("<option></option>").val(data[i].RefDetailsId).html(data[i].RefName));
                    }
                }
            });
        }

        //function GetReferenceNo(glId)
        //{
        //    var gLId = $('#glId_' + glId).val();
        //    var refTypeId = $('#referenceType_' + glId).val();

        //    $.ajax({
        //        url: "/DebitVoucher/LoadRefDetailsByRefTypeId",
        //        contentType: "application/json; charset=utf-8",
        //        dataType: 'json',
        //        type: "Get",
        //        data: { RefTypeId: refTypeId },
        //        async: false,
        //        success: function (data) {

        //            $('#referenceNo_' + glId).empty();
        //            $('#referenceNo_' + glId).append("<option value='0'>--Select Reference No--</option>");

        //            for (var i = 0; i < data.length; i++) {

        //                $('#referenceNo_' + glId).append($("<option></option>").val(data[i].RefDetailsId).html(data[i].RefName));
        //            }
        //        }
        //    });


        //}

        function RemoveRow(id) {
           // debugger;
            var voucherMasterId = $('#voucherId').val();
            var currencyRate = $('#txtCurrencyRate').val();

            var trLength = $('#journalVoucher tbody tr').length;
            if (trLength == 1) {
                $('#glId_' + id).val(0).trigger('change');
                $('#costCenter_' + id).val(0).trigger('change');
                $('#referenceNo_' + id).val(0).trigger('change');
                $('#amount_' + id).val(0);
                $('#remarks_' + id).val(0);
                CalculateAll();
            }

            if (trLength > 1) {
                var detailsId = $('#details_' + id).val();

                if (detailsId > 0) {
                    var glId = isNaN(parseFloat($('#glId_' + id).val())) ? 0 : parseFloat($('#glId_' + id).val());

                    var amount = isNaN(parseFloat($('#amount_' + id).val())) ? 0 : parseFloat($('#amount_' + id).val());
                    var remarks = $('#remarks_' + id).val();
                    var drcr = $('#TransactionType_' + id).val();
                    var refNo = $('#referenceNo_' + id).val() || 0;

                        var delObj = {};
                        delObj["VoucherDetailId"] = detailsId;
                        delObj["VoucherMasterId"] = voucherMasterId;
                        delObj["CALayerSevenId"] = glId;
                        delObj["DrCr"] = drcr;
                        delObj["RefDetailsId"] = refNo;

                       delObj["DrAmt"] = amount;
                        delObj["DrAmtBDT"] = amount * currencyRate;



                        delObj["IsDelete"] = true;
                        delObj["eflag"] = $('#eflag').val();
                        DeleteGLDetails.push(delObj);


                }
                $('#tr_' + id).remove();
                SerialTable();
                CalculateAll();
            } else {
                return;
            }
        }

        //function RemoveRow(id) {

        //   // debugger;
        //    var trLength = $('#journalVoucher tbody tr').length;
        //    if (trLength > 1) {

        //        var detailsId = $('#details_' + id).val();
        //        if (detailsId > 0) {
        //            var glId = isNaN(parseFloat($('#glId_' + id).val())) ? 0 : parseFloat($('#glId_' + id).val());
        //            var amount = isNaN(parseFloat($('#amount_' + id).val())) ? 0 : parseFloat($('#amount_' + id).val());
        //            var transactionType = $('#TransactionType_' + id).val();
        //            var amountBdt = parseFloat($('#txtCurrencyRate').val()) * amount;


        //            var delObj = {};
        //            delObj["VoucherDetailId"] = detailsId;
        //            //delObj["VoucherMasterId"] = detailsId;
        //            delObj["CALayerSevenId"] = glId;
        //            delObj["DrCr"] = transactionType;
        //            delObj["DrAmt"] = amount;
        //            delObj["DrAmtBDT"] = amountBdt;
        //            delObj["IsDelete"] = true;
        //            delObj["eflag"] = $('#eflag').val();
        //            DeleteGLDetails.push(delObj);
        //        }
        //        var detailsTransactionId = $('#details_transaction_' + id).val();
        //        if (detailsTransactionId > 0) {
        //            var glId = isNaN(parseFloat($('#glId_' + id).val())) ? 0 : parseFloat($('#glId_' + id).val());
        //            var amount = isNaN(parseFloat($('#amount_' + id).val())) ? 0 : parseFloat($('#amount_' + id).val());

        //            var amountBdt = parseFloat($('#txtCurrencyRate').val()) * amount;
        //            var costCenter = $('#costCenter_' + id).val();
        //            var refNo = $('#referenceNo_' + id).val();
        //            var delObj = {};

        //            delObj["VoucherTransectionId"] = detailsId;
        //            delObj["VoucherDetailId"] = detailsId;
        //            delObj["Amt"] = amount;
        //            delObj["AmtBDT"] = amountBdt;
        //            //delObj["RefTypeId"] = saleRate;
        //            delObj["RefDetailsId"] = refNo;
        //            delObj["IsDelete"] = true;
        //            delObj["eflag"] = $('#eflag').val();
        //            DeleteGLDetailsTransaction.push(delObj);
        //        }
        //        $('#tr_' + id).remove();
        //        SerialTable();
        //        CalculateAll();
        //    } else {
        //        return;
        //    }

        //}

        function AddRow() {
           // debugger;
            var tr = $('#journalVoucher tbody tr').length + 1;
            var values = $("#journalVoucher tbody tr")
                .map(function() { return parseInt($(this).attr('id').substring(3)); }).get();
            var index = values.indexOf(tr);
            if (index >= 0) {
                tr = Math.max.apply(Math, values) + 1;
            }
            var urlpath = '@Url.Action("AddRowForJournal", "JournalVoucher")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'html',
                data: { tr: tr },
                async: false,
                success: function(data) {

                    $('#journalVoucher tbody').append(data);
                    LoadGLInRow("glId_" + tr);


                }
            });
            $('#glId_' + tr).select2();
            $('#costCenter_' + tr).select2();
            $('#referenceNo_' + tr).select2();
            SerialTable();
           // debugger;
            var eflag = $('#eflag').val();
            if (eflag == "ed") {

                $('.aHide').hide();
            } else {

                $('.aHide').show();


            }
            //CalculateAll();
        }

        function SerialTable() {
            $('#journalVoucher tbody tr').each(function(index, element) {

                var idr = $(this).attr('id');
                var id = idr.substring(3);
                $('#ts_' + id).html(index + 1);


            });
        }

        function LoadGLInRow(elementId) {

            $('#' + elementId + '').append("<option value='0'>--Select GL--</option>");
            for (var i = 0; i < JournalGLList.length; i++) {

                $('#' + elementId + '').append($("<option></option>").val(JournalGLList[i].CALayerSevenId).html(JournalGLList[i].CALayerSevenName));
            }


        }


        function GetJvVoucherGL() {


            var urlpath = '@Url.Action("GetGLForJournal", "Utility")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: {},
                async: false,
                success: function(data) {

                    JournalGLList = data;

                }
            });
        }

        function Reject() {

            swal({
                title: "Are you sure?",
                text: "",
                type: "success",
                showCancelButton: true,
                cancelButtonClass: 'btn-secondary waves-effect',
                confirmButtonClass: 'btn-success waves-effect waves-light',
                confirmButtonText: 'Yes!',
                closeOnConfirm: false
            }, function () {
                $('.confirm').prop("disabled", true);
                $('.cancel').prop("disabled", true);
                RejectFinal();
            });

        }
        function RejectFinal() {



            var id = $('#voucherId').val();
           // debugger;
            var urlpath = '@Url.Action("Reject", "DebitVoucher")';

            $.ajax({

                //contentType: "application/json",
                data: { id: id },
                dataType: "json",
                url: urlpath,
                type: "POST"
            })
                .success(function (result) {
                    console.log(result);
                    if (result.isSuccess == true) {
                        swal({
                            title: " Reject Successfull",
                            text: '',
                            type: "success",
                            showCancelButton: false,
                            cancelButtonClass: 'btn-secondary waves-effect',
                            confirmButtonClass: 'btn-success waves-effect waves-light',
                            confirmButtonText: 'Yes!',
                            closeOnConfirm: false
                        }, function () {
                           // window.location.href = '@Url.Action("JournalVoucherApproval", "JournalVoucher")';
                           window.location.href = '@Url.Action("JournalVoucherApproval", "JournalVoucher")' + "?fromdate=" + '@ViewBag.fromdate' + "&todate=" + '@ViewBag.todate';
                        });
                    }

                });
        }

         function Review() {

         if ($('#txtRemarks').val() == '' || $('#txtRemarks').val() == null) {
                swal("Please Enter reason For Review");
                return;
            }

            swal({
                title: "Are you sure?",
                text: "",
                type: "success",
                showCancelButton: true,
                cancelButtonClass: 'btn-secondary waves-effect',
                confirmButtonClass: 'btn-success waves-effect waves-light',
                confirmButtonText: 'Yes!',
                closeOnConfirm: false
            }, function () {
                $('.confirm').prop("disabled", true);
                $('.cancel').prop("disabled", true);
                ReviewFinal();
            });

        }

        function ReviewFinal() {

            var id = $('#voucherId').val();
            var ReviewReasion = $('#txtRemarks').val();
           // debugger;
            var urlpath = '@Url.Action("Review", "DebitVoucher")';

            $.ajax({

                //contentType: "application/json",
               data: { id: id, ReviewReasion:ReviewReasion },
                dataType: "json",
                url: urlpath,
                type: "POST"
            })
                .success(function (result) {

                    console.log(result);
                    if (result.isSuccess == true) {
                        swal({
                            title: " Review Successfull",
                            text: '',
                            type: "success",
                            showCancelButton: false,
                            cancelButtonClass: 'btn-secondary waves-effect',
                            confirmButtonClass: 'btn-success waves-effect waves-light',
                            confirmButtonText: 'Yes!',
                            closeOnConfirm: false
                        }, function () {

                         var fdate = $('#txtFromDate').val();
                            var tdate = $('#txtToDate').val();

                         window.location.href = '@Url.Action("JournalVoucherApproval", "JournalVoucher")' + "?fromdate=" + '@ViewBag.fromdate' + "&todate=" + '@ViewBag.todate';


                        });
                    }

                });
        }
    </script>
}


