﻿
@{
    ViewBag.Title = "TrailBalance";
}

<h2>TrailBalance</h2>


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">

                        <div class="row">

                            <div class="col-md-6">
                                <h3>Trail Balance</h3>
                            </div>
                            <div class="col-md-6 text-right ">
                                @*<a class="btn btn-outline-warning" href="@Url.Action("NewJournal", "JournalVoucher", new {id = 0})">

                                        <span class="fa fa-plus"></span> New Journal

                                    </a>*@
                            </div>

                        </div>



                    </div>
                    <div class="row">
                        <div class="card-body">
                            @*<div class="col-md-3">
                                <div class="form-group" id="divGL">
                                    <label for="ddlGL">Account</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlGL"></select>
                                </div>
                            </div>*@
                           
                            <div class="col-md-3">
                                <div class="form-group" id="divFromDate">
                                    <label for="txtFromDate">From  Date</label>
                                    <input type="text" id="txtFromDate" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divToDate">
                                    <label for="txtToDate">To  Date</label>
                                    <input type="text" id="txtToDate" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group" id="divall" style="margin-top: 23px;">
                                   
                                    <input type="checkbox" id="chkall"  onchange="checkeffect()" />
                                    <label for="chkall">All</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                               
                                <div class="form-group" id="divtran" style="margin-top: 23px;">
                                   
                                    <input type="checkbox" id="chktran"  onchange="checkeffecttran()" />
                                    <label for="chktran">Only Transaction</label>
                                </div>
                            </div>
                        </div>

                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-2 pull-right offset-8">
                            <button style="margin-left: 27px;" class="btn btn-primary" onclick="LoadReportFinal()"> Show</button>

                        </div>
                       
                    </div>
                    <br />
                    <!-- /.card-header -->
                    <!-- form start -->
                    


                </div>

            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->

</section>


@section Scripts
{


    <script type="text/javascript">
        $(document).ready(function () {

            var d = new Date();
            var currMonth = d.getMonth();
            var currYear = d.getFullYear();
            var startDate = new Date(currYear, currMonth, 1);

            $("#txtFromDate").datepicker({ format: 'dd-M-yyyy' });
            $("#txtFromDate").datepicker("setDate", startDate);
            //LoadDate_P('#txtFromDate');
            //LoadDate_C('#txtToDate');


            var date = new Date();
            var firstDay = new Date(date.getFullYear(), date.getMonth(), 1);
            var lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0);

            $("#txtToDate").datepicker({ format: 'dd-M-yyyy' });
            $("#txtToDate").datepicker("setDate", lastDay);

         $("#chkall").prop("checked", true);
        });

        function LoadGL() {
            var urlpath = '@Url.Action("GetAllGL", "Utility")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {

                    $('#ddlGL').empty();
                    $('#ddlGL').append("<option value='0'>--Select GL--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#ddlGL').append($("<option></option>").val(data[i].CALayerSevenId).html(data[i].CALayerSevenName));
                    }
                }
            });
        }


        function LoadReportFinal() {
            var urlpath = '@Url.Action("TrailBalancePrintReports", "Report")';
            var reportValue = "TrailBalance";

            if ($('#txtFromDate').val() == "") {
                swal("Please input from  date");
                return;
            } else {
                fromdate = $('#txtFromDate').val();
            }
            if ($('#txtToDate').val() == "") {
                swal("Please input to  date");
                return;
            } else {
                todate = $('#txtToDate').val();
            }
            var jsonData = {};

            jsonData["ReportValue"] = reportValue;
            jsonData["FromDate"] = fromdate;
            jsonData["ToDate"] = todate;
            jsonData["all"] = $("#chkall").prop("checked");
            jsonData["tran"] = $("#chktran").prop("checked");

            debugger;
            $.ajax({
                url: urlpath,
                data: jsonData,
                dataType: 'json',
                type: "Get",
                success: function (data) {
                    if (data.isSuccess) {


                        window.open("../CrystalViewer/CrystalViewer.aspx", "_blank", "WIDTH=1024,HEIGHT=768,scrollbars=no, menubar=no,resizable=yes,directories=no,location=no");
                    }
                }
            });
        }
        function checkeffect() {
            debugger;
            if ($('#chkall').is(':checked')) {
                $("#chktran").prop("checked", false);

            }
            else {
                $("#chktran").prop("checked", true);
            }
        }
        function checkeffecttran() {
            debugger;
            if ($('#chktran').is(':checked')) {
                $("#chkall").prop("checked", false);

            }
            else {
                $("#chkall").prop("checked", true);
            }
        }

    </script>

}

