﻿
@{
    int detId = Convert.ToInt32(TempData["detailsId"]);
    int rowCount = Convert.ToInt32(TempData["rowCount"]);
    string theId = detId.ToString() + "_" + rowCount.ToString();
}
<tr id="tbldt_@theId">
    <td>
        <select id="itemSelect_@theId" onchange="LoadSalablePriceDetails(@detId,'@theId')"></select>
    </td>
    <td><input type="number" id="qty_@theId" class="form-control" oninput="ValidQty(@detId,@rowCount)" /></td>
    <td><input type="number" class="form-control" id="kg_@theId"/></td>

    <td><input type="number" class="form-control"id="price_@theId"/></td>
    <td><input type="text" class="form-control" id="rem_@theId" /></td>
    <td >
        <button class="btn btn-xs btn-primary" onclick="AddDetailDetailRow(@detId)"><span class="fa fa-plus"></span></button>
        <button class="btn btn-xs btn-danger" onclick="RemoveDetailRow('@theId', @detId)"><span class="fa fa-trash"></span></button>
        <input type="hidden" id="detailsId_@theId" value="@detId"/>
        <input type="hidden" id="rowId_@theId" value="@rowCount" class="drow" />
    </td>
</tr>
