﻿@model IEnumerable<IGFoodProject.ViewModel.ViewDressedDirdDetail>
<style>
  td.details-control {
        background: url('https://cdn.rawgit.com/DataTables/DataTables/6c7ada53ebc228ea9bc28b1b216e793b1825d188/examples/resources/details_open.png') no-repeat center center;
        cursor: pointer;
    }

    tr.expand td.details-control {
        background: url('https://cdn.rawgit.com/DataTables/DataTables/6c7ada53ebc228ea9bc28b1b216e793b1825d188/examples/resources/details_close.png') no-repeat center center;
    }
     /*.detailTable {
        font-size: 11px;
    }
     .detailTable  th {
         padding: 0  !important;
     }

     .table td, .table th {
    padding: 0 !important;}*/
</style>
<div class="card-body">
    <div class="row table-responsive text-center">

        <table class="table table-bordered table-striped table-info" id="containerTable">
            <thead>
                <tr>
                    
                    <th>SL</th>
                    <th>Live Bird(Size)</th>
                    <th>Qty</th>
                    <th>Expire Date</th>

                </tr>
            </thead>

            <tbody>
            @{
                int count = 1;
            }
            @foreach (var item in Model)
            {
                <tr class="masterTr header expand trclass" style="color: #070ee8; background-color: #bca5dedb;">
                    
                    <th style="font-size: 18px">@count</th>
                    <th style="font-size: 18px">@item.ItemName</th>
                    <th  style="font-size: 18px"><input type="text" disabled id="itemqty_@item.ItemId"  value="@item.Remainingqty" /></th>
                    <th  style="font-size: 18px">
                        Expire Date <input type="text" id="expDate_@item.ItemId" class="thedatepicker"/>
                        <input id="itemId_@item.ItemId" type="hidden" value="@item.ItemId"/>
                        <input id="detailId_@item.ItemId" type="hidden" value="@item.DressedBirdDetailIDs" />
                    </th>
                </tr>
                <tr id="tr_@item.ItemId">

                    <td colspan="5">
                        <table class="table  table-bordered table-striped table-hover detailTable" id="detailTable_@item.ItemId">
                            <thead>
                            <tr>
                                <th>Product</th>
                                <th>Qty</th>
                                <th>KG</th>
                                <th>Price</th>
                                <th>Remarks</th>
                                <th>Action</th>

                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </td>
                </tr>
                count++;
            }
            </tbody>
        </table>
    </div>
</div>



