﻿@model IGFoodProject.Models.RequisitionDetails
@{

    int sl = (int)TempData["trSl"];
}
<tr id="tr_@sl">
    <td>
        @sl
    </td>
    <td>
        <select id="ProductName_0_@sl" onchange="LoadSalablePrice(0, @sl)" class="form-control" style="width: 320px;" ></select>
      
    </td>
    <td>

        <input type="number" min=0 class="form-control" id="StockInQty_0_@sl" />

    </td>
    <td>

        <input type="number" min=0 class="form-control" id="StockInKG_0_@sl" />

    </td>
    <td>

        <input type="number" min=0 oninput="validity.valid||(value='');" class="form-control" id="PUnitPrice_0_@sl" />

    </td>
    <td>

        <input type="number" min=0 oninput="validity.valid||(value='');" class="form-control" id="UnitPrice_0_@sl" />

    </td>
    <td>

        <input type='text' style='text-align:center;' class="form-control" id="expDate_0_@sl" />

    </td>
    <td>

        <input type="text" class="form-control" id="Remarks_0_@sl" />

    </td>
    <td>
        <div class="form-group">
            <button class="btn btn-primary btn-sm" onclick="AddRowOpening()"><span class="fa fa-plus"></span></button>
            <button class="btn btn-danger btn-sm" onclick="RemoveRow(@sl)"><span class="fa fa-trash"></span></button>
        </div>
    </td>
</tr>

@section Scripts{
    <script>
        $(function () {
            $('#ProductName_0_@sl').val('@Model.ItemId');
        });

    </script>
}