﻿
@model IEnumerable<IGFoodProject.Models.tbl_DressBirdStockInDetail_Log>
<div class="row table-responsive">

    <table class="table table-bordered" id="myTable">
        <thead>
            <tr>
                @*<th></th>*@
                <th style="text-align:center;">#SL</th>
                <th style="text-align:center;">Item Description</th>
                <th style="text-align:center;">Product Name</th>
                <th style="text-align:center;">Stock In Qty</th>
                <th style="text-align:center;">Stock In Kg</th>
                <th style="text-align:center;">Approve In Qty</th>
                <th style="text-align:center;">Approve In Kg</th>
                
                <th style="text-align:center;">Unit Price</th>
                <th style="text-align:center;">Exp.Date</th>
                <th style="text-align:center;">Remarks</th>

            </tr>
        </thead>
        <tbody>
            @{
                int count = 1;
            }
            @foreach (var item in Model)
            {

                <tr id="tr_main">
                    <td>
                        @count

                    </td>
                    <td style='display: none;'><input type='text' class='cat' value="@item.ItemCategoryId" /></td>
                    <td style='display: none;'><input type='text' class='rd' value="@item.DressBirdStockInDetailLogID" /></td>
                    <td style='display: none;'><input type='text' class='itemd' value="@item.ItemID" /></td>
                    <td style='display: none;'><input type='text' class='pd' value="@item.ProductID" /></td>
                    @*<td><input class="check1" type="checkbox" id="check_@item.DressBirdStockInDetailLogID.ToString()_@item.ItemID" onclick="Checkp(@item.DressBirdStockInDetailLogID, @item.ItemID)" /></td>*@
                    <td>
                        <label>@item.itemName</label>

                    </td>
                    <td><select id="ProductName_@item.DressBirdStockInDetailLogID.ToString()_@item.ItemID" disabled='disabled'></select></td>

                    <td style="text-align:center;"><input type='number' min='0' style='text-align:center;' id="StockInQty_@item.DressBirdStockInDetailLogID.ToString()_@item.ItemID" value="@item.StockInQty" disabled='disabled' /></td>

                    <td style='text-align:center;'><input type='number' min='0' style='text-align:center;' id="StockInKG_@item.DressBirdStockInDetailLogID.ToString()_@item.ItemID" value="@item.StockInKG" disabled='disabled' /></td>
                    <td style="text-align:center;"><input type='number' min='0' style='text-align:center;' id="ApproveInQty_@item.DressBirdStockInDetailLogID.ToString()_@item.ItemID" value="@item.StockInQty"  oninput="Total(@item.DressBirdStockInDetailLogID,@item.ItemID)"  /></td>

                    <td style='text-align:center;'><input type='number' min='0' style='text-align:center;' id="ApproveInKG_@item.DressBirdStockInDetailLogID.ToString()_@item.ItemID" value="@item.StockInKG" oninput="Total(@item.DressBirdStockInDetailLogID,@item.ItemID)"  /></td>
                    <td style='text-align:center;'><input type='number' min='0' style='text-align:center;' id="UnitPrice_@item.DressBirdStockInDetailLogID.ToString()_@item.ItemID" value="@item.UnitPrice" disabled="disabled" /></td>
                    

                    <td style='text-align:center;'><input type='text' style='text-align:center;' id="expDate_@item.DressBirdStockInDetailLogID.ToString()_@item.ItemID" value="@item.ExpireDate" /></td>



                    <td style='text-align:center;display:none;'><input type='number' min='0' style='text-align:center;' id="hStockInQty_@item.DressBirdStockInDetailLogID.ToString()_@item.ItemID" value="@item.StockInQty" disabled='disabled' /></td>

                    <td style='text-align:center;display:none;'><input type='number' min='0' style='text-align:center;' id="hStockInKG_@item.DressBirdStockInDetailLogID.ToString()_@item.ItemID" value="@item.StockInKG" disabled='disabled' /></td>

                    <td style='text-align:center;display:none;'><input type='number' min='0' style='text-align:center;' id="hUnitPrice_@item.DressBirdStockInDetailLogID.ToString()_@item.ItemID" value="@item.UnitPrice" disabled='disabled' /></td>



                    <td style='text-align:center;'><input type='text' id="Remarks_@item.DressBirdStockInDetailLogID.ToString()_@item.ItemID" value=''  /></td>



                </tr>

                count++;


            }
        </tbody>
    </table>

</div>


