﻿
@using IGFoodProject.Models
@using Microsoft.Ajax.Utilities
@model IEnumerable<IGFoodProject.Models.tbl_DressBirdStockInDetail_Log>
@{
    List<tbl_DressBirdStockInDetail_Log> list = Model.ToList().DistinctBy(z => z.ItemID).ToList();
    //List<tbl_DressBirdStockInDetail_Log> list = Model.ToList();
}


<div class="row table-responsive">

    <table class="table  table-bordered table-striped" id="containerTable">
        <thead>
            <tr>
                
                <th>SL</th>
                <th>Live Bird (Size)</th>
                @*<th>Qty</th>*@
                <th>Expire Date</th>

            </tr>
        </thead>

        <tbody>
        @{
            int count = 1;
        }
        @foreach (var item in list)
        {
            var masId = item.DressBirdStockInDetailLogID.ToString() + "_" + count.ToString() + "_" + item.ItemID;
            //var masId = item.DressBirdStockInMasterLogID.ToString() + "_" + count.ToString()+ "_"+item.ItemID;
            @*<tr class="masterTr header expand trclass" style="color: #070ee8; background-color: #bca5dedb;">
                
                <th  style="font-size: 18px">@count</th>
                <th  style="font-size: 18px">@item.itemName</th>
               
                <th  style="font-size: 18px">
                    Expire Date <input type="text" id="expDate_@masId" class="datepicker" value="@item.ExpireDate"/>
                    <input id="itemId_@masId" type="hidden" value="@item.ItemID"/>
                    <input id="logId_@masId" type="hidden" value="@item.DressBirdStockInDetailLogIDs" />
                    <input class="mas" type="hidden" value="@item.DressBirdStockInMasterLogID" />
                    <input class="cou" type="hidden" value="@count" />
                    <input class="itm" type="hidden" value="@item.ItemID" />
                </th>
            </tr>*@

            <tr class="masterTr header expand trclass" style="color: #070ee8; background-color: #bca5dedb;">

                <th style="font-size: 18px">@count</th>
                <th style="font-size: 18px">@item.itemName</th>

                <th style="font-size: 18px">
                    Expire Date <input type="text" id="expDate_@masId" class="datepicker" value="@item.ExpireDate" />
                    <input id="itemId_@masId" type="hidden" value="@item.ItemID" />
                    <input id="logId_@masId" type="hidden" value="@item.DressBirdStockInDetailLogID" />
                    <input class="masi" type="hidden" value="@item.DressBirdStockInDetailLogID" />
                    <input class="mas" type="hidden" value="@item.DressBirdStockInMasterLogID" />
                    <input class="cou" type="hidden" value="@count" />
                    <input class="itm" type="hidden" value="@item.ItemID" />
                </th>
            </tr>
            <tr id="tr_@masId">

                <td colspan="5">
                    <table class="table  table-bordered table-striped table-hover detailTable" id="detailTable_@masId">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Qty</th>
                                <th>KG</th>
                                <th>Approve Qty</th>
                                <th> Approve KG</th>
                                <th>Price</th>
                                <th>Remarks</th>


                            </tr>
                        </thead>
                        <tbody>

                            @*@foreach (var item2 in Model.ToList().Where(a => a.DressedBirdDetailID == item.DressedBirdDetailID && a.ItemID == item.ItemID))
                                {*@
                            @foreach (var item2 in Model.ToList().Where(a => a.ItemID == item.ItemID))
                            {
                                var theId = item.DressBirdStockInDetailLogID.ToString() + "_" + item2.rowid.ToString()+"_"+ item.ItemID;
                                <tr id="tbldt_@theId">
                                    <td>@item2.ProductName</td>
                                    <td><input type="number" id="qty_@theId" class="form-control" value="@item2.StockInQty" disabled="disabled" /></td>
                                    <td><input type="number" class="form-control" id="kg_@theId" value="@item2.StockInKG" disabled="disabled" /></td>
                                    <td><input type="number" id="appqty_@theId" class="form-control" value="@item2.StockInQty" oninput="TotalQtyV(@item.DressBirdStockInDetailLogID, @item2.rowid, @item.ItemID)" /></td>
                                    <td><input type="number" class="form-control" id="appkg_@theId" value="@item2.StockInKG" oninput="TotalKGV(@item.DressBirdStockInDetailLogID, @item2.rowid, @item.ItemID)" /></td>
                                    <td><input type="number" class="form-control" id="price_@theId" value="@item2.UnitPrice" /></td>
                                    <td>
                                        <input type="text" class="form-control" id="rem_@theId" />
                                        <input type="hidden" id="prod_@theId" value="@item2.ProductID" />
                                        <input type="hidden" id="logDetailsId_@theId" value="@item2.DressBirdStockInDetailLogID" />
                                        <input type="hidden" id="dressDetails_@theId" value="@item2.rowid"/>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
            </tr>

            count++;
        }
        </tbody>
    </table>
</div>





