﻿@model IEnumerable<IGFoodProject.ViewModel.ViewDressedDirdDetail>
    <div class="row table-responsive">
        
            <table class="table table-bordered" id="myTable">
                <thead>
                    <tr>
                        <th></th>
                        <th style="text-align:center;">#SL</th>
                        <th style="text-align:center;">Item Description</th>
                        <th style="text-align:center;">Product Name</th>
                        <th style="text-align:center;">Stock In Qty</th>
                        <th style="text-align:center;">Stock In Kg</th>
                        <th style="text-align:center;">Purchase Price</th>
                        <th style="text-align:center;">Unit Price</th>
                        <th style="text-align:center;">Exp.Date</th>
                        <th style="text-align:center;">Remarks</th>

                    </tr>
                </thead>
                <tbody>
                    @{
                        int count = 1;
                    }
                    @foreach (var item in Model)
                    {

                    <tr id="tr_main">
                        <td>
                            @count

                        </td>
                        <td style='display: none;'><input type='text' class='cat' value="@item.ItemCategoryId" /></td>
                        <td style='display: none;'><input type='text' class='rd' value="@item.DressedBirdDetailID" /></td>
                        <td style='display: none;'><input type='text' class='itemd' value="@item.ItemId" /></td>
                        <td><input class="check1" type="checkbox" id="check_@item.DressedBirdDetailID.ToString()_@item.ItemId" onclick="Checkp(@item.DressedBirdDetailID, @item.ItemId)" /></td>
                        <td>
                            <label>@item.ItemName</label>

                        </td>
                        <td><select id="ProductName_@item.DressedBirdDetailID.ToString()_@item.ItemId" onchange="LoadSalablePrice(@item.DressedBirdDetailID.ToString(),@item.ItemId,$('#txtStockInDate').val())"></select></td>
                       
                        <td style="text-align:center;"><input type='number' min='0' style='text-align:center;' id="StockInQty_@item.DressedBirdDetailID.ToString()_@item.ItemId" value="@item.Remainingqty" disabled='disabled' /></td>
                        
                        <td style='text-align:center;'><input type='number' min='0' style='text-align:center;' id="StockInKG_@item.DressedBirdDetailID.ToString()_@item.ItemId" value="@item.RemainingKG" disabled='disabled' /></td>
                        <td style='text-align:center;'><input type='number' min='0' style='text-align:center;' id="PUnitPrice_@item.DressedBirdDetailID.ToString()_@item.ItemId" value="@item.UnitPrice" disabled="disabled" /></td>
                        <td style='text-align:center;'><input type='number' min='0' style='text-align:center;' id="UnitPrice_@item.DressedBirdDetailID.ToString()_@item.ItemId" value=""  /></td>
                       
                        <td style='text-align:center;'><input type='text' style='text-align:center;' id="expDate_@item.DressedBirdDetailID.ToString()_@item.ItemId" /></td>
                       

                      
                        <td style='text-align:center;display:none;'><input type='number' min='0' style='text-align:center;' id="hStockInQty_@item.DressedBirdDetailID.ToString()_@item.ItemId" value="@item.Remainingqty" disabled='disabled' /></td>
                      
                        <td style='text-align:center;display:none;'><input type='number' min='0' style='text-align:center;' id="hStockInKG_@item.DressedBirdDetailID.ToString()_@item.ItemId" value="@item.RemainingKG" disabled='disabled' /></td>
                      
                        <td style='text-align:center;display:none;'><input type='number' min='0' style='text-align:center;' id="hUnitPrice_@item.DressedBirdDetailID.ToString()_@item.ItemId" value="@item.UnitPrice" disabled='disabled' /></td>


                       
                        <td style='text-align:center;'><input type='text' id="Remarks_@item.DressedBirdDetailID.ToString()_@item.ItemId" value='' disabled='disabled' /></td>


                        
                    </tr>
                    
                        count++;
                       

                    }
                </tbody>
            </table>
        
    </div>


