﻿@model IEnumerable<IGFoodProject.Models.DressBirdStockInListForApproval>

<table id="table1" class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            
            <th>Stock In date.</th>
            <th>StockIn By</th>
            <th>WareHouseName</th>
            <th>LocationName</th>
            <th>StockInQty</th>
            <th>StockInKG</th>
           
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{ int count = 1;}
        @foreach (var item in Model)
        {
            <tr class="rowTr" id="@item.DressBirdStockInMasterLogID">
               
                <td>@item.StockInDate</td>
                <td>@item.StockInBy</td>
                <td>@item.WareHouseName</td>
                <td>@item.LocationName</td>
                <td>@item.StockInQty</td>
                <td>@item.StockInKG</td>
                <td>
                    <button class="btn btn-sm btn-dark" onclick="PrintInvoice(@item.DressBirdStockInMasterLogID)">Approve</button>
                </td>
            </tr>
            count++;
        }
    </tbody>
</table>
<script>


        function PrintInvoice(id)
        {
            
            window.location = "@Url.Action("ApproveStockIn", "DressBirdInStock")"+"?id="+id;

        }
</script>
