﻿
@{
    ViewData["Title"] = "AddStockIn";
}



<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title"> New Dress Bird StockIn  Entry</h3>
                    </div>
                    <!-- /.card-header -->
                <!-- form start -->
                    <div class="row">
                        <div class="col-md-2">
                            <div class="card-body">
                                <input type="checkbox" class="form-check-input" id="chkIsOpening" style="margin-left: 3px;" onclick="Checko()" />
                                <label class="form-check-label" for="chkIsOpening" style="margin-left: 24px;">Direct Stock In</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divCompany">
                                    <label for="ddlCompany">Company</label>
                                    @*<input type="text" class="form-control" id="txtCompany" disabled="disabled" />*@
                                    <select class="form-control select2" style="width: 100%;" id="ddlCompany"></select>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="margin-left:17%">
                       
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divLocation">
                                        <label for="ddlLocation">From Location</label>
                                        @*<input type="text" class="form-control" id="txtLocation" disabled="disabled" />*@
                                        <select class="form-control select2" id="ddlLocation" onchange="LoadFromWareHouse()"></select>
                                    </div>
                                </div>
                            </div>
                           
                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divToLocation">
                                        <label for="ddlToLocation">To Location</label>
                                        @*<input type="text" class="form-control" id="txtLocation" disabled="disabled" />*@
                                        <select class="form-control select2" id="ddlToLocation"></select>
                                    </div>
                                </div>
                            </div>




                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divWareHouse">
                                        <label for="ddlWareHouse">Plant house</label>
                                        @*<input type="text" class="form-control" id="txtWareHouse" disabled="disabled" />
                    <input type="text" class="form-control" id="txtWareHouseId" hidden="hidden" />*@
                                        <select class="form-control select2" onchange="LoadBirdFromWH()" id="ddlWareHouse"></select>
                                    </div>

                                </div>
                            </div>
                           
                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divToWareHouse">
                                        <label for="ddlToWareHouse">Stock/Plant House</label>
                                        @*<input type="text" class="form-control" id="txtWareHouse" disabled="disabled" />
                            <input type="text" class="form-control" id="txtWareHouseId" hidden="hidden" />*@
                                        <select class="form-control select2" id="ddlToWareHouse"></select>
                                    </div>

                                </div>
                            </div>



                            <div class="col-md-3">
                                <div class="card-body" style="margin-top: 22px;">
                                    <input type="checkbox" class="form-check-input" id="chkIsPortion" style="margin-left: 3px;" onclick="CheckPortion()"/>
                                    <label class="form-check-label" for="chkIsPortion" style="margin-left: 24px;">Forward to Portion</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divDressedBird">
                                        <label for="ddlDressedBird">Dressed Bird No</label>
                                        <select class="form-control select2" style="width: 100%;" id="ddlDressedBird"></select>
                                        @*<select class="form-control" style="width: 100%;" id="ProductName_1_2">
                    </select>*@
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divStockInDate">
                                        <label for="txtStockInDate">Stock In Date</label>
                                        <input type="text" class="form-control" id="txtStockInDate" value="@System.DateTime.Now.ToString("dd-MMM-yyyy")" />

                                    </div>

                                </div>
                            </div>



                        </div>
                        <div class="row">

                           

                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divReceiveBy">
                                        <label for="empAutoCom">Stock In By</label>
                                        <input type="text" class="form-control" id="empAutoCom" />
                                        <input type="number" class="form-control" id="employeeSelect" style="display:none;" /> @*style="display:none;"*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divComment">
                                        <label for="txtComment">Comment</label>
                                        <textarea class="form-control" id="txtComment" cols="7" rows="5"></textarea>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                           
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" id="divPurchase" style="display:none;">





                        </div>
                        <div class="col-md-6" id="divSupplier" style="display:none;">


                            <div class="row">


                                <div class="col-md-6">
                                    <div class="form-group" style="margin-left: 32px;">
                                        <label>Supplier Address :  </label><label id="txtSupplierAddress"></label>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Supplier Phone :  </label><label id="txtSupplierPhone"></label>
                                    </div>
                                </div>

                            </div>
                            <div class="row">


                                <div class="col-md-6">
                                    <div class="form-group" style="margin-left: 32px;">
                                        <label>Contact Person :  </label><label id="txtContactPerson"></label>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Contact Person Phone :  </label><label id="txtContactPhone"></label>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                    <div id="purchaseOrderDiv">

                    </div>

                    <div class="row">
                      
                            <div class="table-responsive">
                                <table id="myTable1" class="table table-bordered">
                                    <thead>
                                        <tr>
                                           
                                            <th style="text-align:center;">#SL</th>
                                           
                                            <th style="text-align:center;">Product Name</th>
                                            <th style="text-align:center;">Stock In Qty</th>
                                            <th style="text-align:center;">Stock In Kg</th>
                                            <th style="text-align:center;">Purchase Price</th>
                                            <th style="text-align:center;">Unit Price</th>
                                            <th style="text-align:center;">Exp.Date</th>
                                            <th style="text-align:center;">Remarks</th>
                                            <th style="text-align:center;"></th>
                                        </tr>
                                    </thead>
                                    <tbody id="testbody">
                                        
                                       
                                    </tbody>
                                </table>
                            </div>
                        
                    </div>
                    <div>

                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button class="btn btn-primary" onclick="SaveFinal()">Submit</button>
                            <button class="btn btn-outline-danger  float-right" onclick="location.reload()">Cancel</button>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
    <input id="txtStockInId" type="number" style="display:none;" value="@ViewBag.stockinid">
   
</section>


@section Scripts{
    <script>
        var AllItemList = {};
        $(function () {
            var id = $('#txtOrderId').val();
            LoadCompany('ddlCompany');
            $("#myTable1").hide();
            $("#ddlCompany").val(7);
            LoadLocation('ddlLocation', $("#ddlCompany").val());
            $("#ddlLocation").val(4);

            LoadLocation('ddlToLocation', $("#ddlCompany").val());
            $("#ddlToLocation").val(4);
            LoadFromWareHouse();
            $('#ddlWareHouse').val('2').trigger('change');
            

            
            LoadWareHouse('ddlToWareHouse', 4, 3);
            $('#ddlToWareHouse').val('10').trigger('change');


            LoadAllProduct();
            LoadDate('#txtStockInDate');

            EmpAutoCom('empAutoCom','employeeSelect');

            $('#ddlCompany').change(function () {
                var reqId = $(this).val();

                LoadLocation('ddlLocation', reqId);
            });

           

            $('#ddlDressedBird').change(function() {
            var reqId = $(this).val();
                AddRow(reqId);
                //LoadDressedBirdDetailList(reqId)
            });

            $('#ddlToLocation').change(function () {
                var locid = $(this).val();
                var isportion = $("#chkIsPortion").prop("checked");
                if (isportion == false)
                {
                    var wt = 3;
                    LoadWareHouse('ddlToWareHouse', locid, wt);
                }
                else {
                    var wt = 2;
                    LoadWareHouse('ddlToWareHouse', locid, wt);
                }


            });

            $('#chkIsPortion').change(function () {

                var locid = $("#ddlToLocation").val();
                var isportion = $("#chkIsPortion").prop("checked");
                if (isportion == false) {
                    var wt = 3;
                    LoadWareHouse('ddlToWareHouse', locid, wt);
                }
                else {
                    var wt = 4;
                    LoadWareHouse('ddlToWareHouse', locid, wt);
                }


            });


        });

        function LoadBirdFromWH() {
            var reqId = $('#ddlWareHouse').val();
            LoadDressedBird('ddlDressedBird', reqId);
        }
        function LoadFromWareHouse() {
            
            var locid = $('#ddlLocation').val();
            var wt = 2;
            LoadWareHouse('ddlWareHouse', locid, wt);
            
        }
        function Checko() {
            var checkp = $("#chkIsOpening").prop("checked");
            if (checkp == false) { //if this item is unchecked
                $("#ddlDressedBird").prop('disabled', false);
                $("#ddlLocation").prop('disabled', false);
                $("#ddlWareHouse").prop('disabled', false);
                //$("#ddlCompany").prop('disabled', true);
                $("#myTable").html("");
                $("#myTable1").hide();
                $("#myTable1").html("");

            }
            else {
                $("#ddlDressedBird").prop('disabled', true);
                $("#ddlLocation").prop('disabled', true);
                $("#ddlWareHouse").prop('disabled', true);
                AddRowOpening();
                $("#myTable1").show();
            }
        }

        function LoadLocation(elementId, comid) {
            var urlpath = '@Url.Action("LoadLocation", "DBToPortionRequisition")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { comid: comid },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Location--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].LocationId).html(data[i].LocationName));
                    }

                }
            });
        }

        @*function LoadWareHouse(elementId, locid, wareHouseTypeId) {
            var urlpath = '@Url.Action("LoadWareHouse", "DBToPortionRequisition")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { locid: locid, wareHouseTypeId: wareHouseTypeId },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Warehouse--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].WareHouseId).html(data[i].WareHouseName));
                    }

                }
            });
        }*@


        function SaveFinal() {

            if (SaveValidation()) {
                     swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveRequisition();

                });
            }



        }


        function SaveRequisition() {

            var StockInMasterID=parseInt($('#txtStockInId').val());
            var DressdMasterID = parseInt($('#ddlDressedBird').val());
            var StockInDate = $('#txtStockInDate').val();
            var Comments = $('#txtComment').val();
            var StockInBy = $('#empAutoCom').val();

            var CompanyId = parseInt($('#ddlCompany').val());
            var LocationId = $('#ddlToLocation').val();
            var WarehouseId = $('#ddlToWareHouse').val();
            var isopening = $('#chkIsOpening').prop("checked");
            var isportion = $('#chkIsPortion').prop("checked");



            var jsonData = {};
            jsonData["StockInMasterID"] = StockInMasterID;
            if (isopening == true)
            {
                jsonData["DressdMasterID"] = 0;
            }
            else
            {
                jsonData["DressdMasterID"] = DressdMasterID;
            }

            jsonData["StockInDate"] = StockInDate;

            jsonData["Comments"] = Comments;
            jsonData["StockInBy"] = StockInBy;


            jsonData["CompanyId"] = CompanyId;
            jsonData["LocationId"] = LocationId;

            jsonData["WarehouseId"] = WarehouseId;
            if (isopening == true)
            {
                jsonData["IsOpening"] = 5;
            }
            else
            {
                jsonData["IsOpening"] = 4;
            }

            if (isportion == true) {
                jsonData["IsPortion"] = 1;
            }
            else {
                jsonData["IsPortion"] = 0;
            }

            jsonData["GroupId"] = 5;



            var receiveobj = [];
            if (isopening == true) {
                var rowCount = $('#myTable1 tbody tr').length;
                for (var i = 0; i < rowCount; i++) {

                    var item = i + 1;
                                       
                    var ProductName = parseInt($("#ProductName_0_" + item).val());
                    var StockInQty = isNaN(parseFloat($("#StockInQty_0_" + item).val()), 0) ? 0 : parseFloat($("#StockInQty_0_" + item).val());
                    var StockInKG = isNaN(parseFloat($("#StockInKG_0_" + item).val()), 0) ? 0 : parseFloat($("#StockInKG_0_" + item).val());
                    var UnitPrice = isNaN(parseFloat($("#UnitPrice_0_" + item).val()), 0) ? 0 : parseFloat($("#UnitPrice_0_" + item).val());
                    var PUnitPrice = isNaN(parseFloat($("#PUnitPrice_0_" + item).val()), 0) ? 0 : parseFloat($("#PUnitPrice_0_" + item).val());
                    var ExpireDate = $("#expDate_0_" + item).val();
                    var Remarks = $("#Remarks_0_" + item).val();
                    var myreceiveobj = {};
                   
                        myreceiveobj["StockInDetailID"] = 0;
                        myreceiveobj["DressedBirdDetailID"] = 0;
                        if (isopening == true) {
                            myreceiveobj["ItemID"] = 0;
                            myreceiveobj["ProductID"] = ProductName;
                        }
                        else {
                            myreceiveobj["ItemID"] = itemid;
                            myreceiveobj["ProductID"] = ProductName;
                        }

                        myreceiveobj["StockInDate"] = StockInDate;

                        myreceiveobj["StockInQty"] = StockInQty;
                        myreceiveobj["StockInKG"] = StockInKG;
                        myreceiveobj["UnitPrice"] = UnitPrice;
                        myreceiveobj["ExpireDate"] = ExpireDate;
                        myreceiveobj["Remark"] = Remarks;
                        myreceiveobj["PUnitPrice"] = PUnitPrice;

                        receiveobj.push(myreceiveobj);
                   

                }

            }
            else
            {
                $('#myTable tr#tr_main').each(function () {

                    var detailid = isNaN(parseInt($(this).find(".rd").val()), 0) ? 0 : parseInt($(this).find(".rd").val());
                    var itemid = isNaN(parseInt($(this).find(".itemd").val()), 0) ? 0 : parseInt($(this).find(".itemd").val());
                    var ProductName = parseInt($('#ProductName_' + detailid + '_' + itemid).val());
                    var StockInQty = isNaN(parseFloat($('#StockInQty_' + detailid + '_' + itemid).val()), 0) ? 0 : parseFloat($('#StockInQty_' + detailid + '_' + itemid).val());
                    var StockInKG = isNaN(parseFloat($('#StockInKG_' + detailid + '_' + itemid).val()), 0) ? 0 : parseFloat($('#StockInKG_' + detailid + '_' + itemid).val());
                    var UnitPrice = isNaN(parseFloat($('#UnitPrice_' + detailid + '_' + itemid).val()), 0) ? 0 : parseFloat($('#UnitPrice_' + detailid + '_' + itemid).val());
                    var PUnitPrice = isNaN(parseFloat($('#PUnitPrice_' + detailid + '_' + itemid).val()), 0) ? 0 : parseFloat($('#PUnitPrice_' + detailid + '_' + itemid).val());
                    var ExpireDate = $('#expDate_' + detailid + '_' + itemid).val();
                    var Remarks = $('#Remarks_' + detailid + '_' + itemid).val();
                    var myreceiveobj = {};
                    var checkp = $("#check_" + detailid + "_" + itemid).prop("checked");
                    if (checkp == true) {
                        myreceiveobj["StockInDetailID"] = 0;
                        myreceiveobj["DressedBirdDetailID"] = detailid;
                        if (isopening == true) {
                            myreceiveobj["ItemID"] = 0;
                            myreceiveobj["ProductID"] = itemid;
                        }
                        else {
                            myreceiveobj["ItemID"] = itemid;
                            myreceiveobj["ProductID"] = ProductName;
                        }

                        myreceiveobj["StockInDate"] = StockInDate;

                        myreceiveobj["StockInQty"] = StockInQty;
                        myreceiveobj["StockInKG"] = StockInKG;
                        myreceiveobj["UnitPrice"] = UnitPrice;
                        myreceiveobj["ExpireDate"] = ExpireDate;
                        myreceiveobj["Remark"] = Remarks;
                        myreceiveobj["PUnitPrice"] = PUnitPrice;

                        receiveobj.push(myreceiveobj);
                    }


                });
            }

           




            jsonData["aDetail"] = receiveobj;


            var urlpath = '@Url.Action("SaveStockin", "DressBirdInStock")';

            $.ajax({

                contentType: "application/json",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "POST",
                traditional: true
            })
                .success(function (result) {

                    if (result.isSuccess == true)
                    {

                        swal("Stock In  Save Succesfully");
                       //var productno= GetProductNo(result.pk);

                        //swal("Product ("+productno+") Saved Successfull");
                        window.location.href = '@Url.Action("AddStockIn", "DressBirdInStock")';


                    }
                });
        }




        function SaveValidation() {
            var isValid = true;
            var message = 'Some Values Required';
            var isopening = $('#chkIsOpening').prop("checked");
            if (isopening == false)
            {
                if ($('#ddlDressedBird').val() == 0 || $('#ddlDressedBird').val() == '') {
                    ValidationColorChangeNew('ddlDressedBird', 'divDressedBird', 'Select Dressed Bird', true);
                    isValid = false;
                }
            }


             if ($('#txtStockInDate').val() == null || $('#txtStockInDate').val() == '') {
                ValidationColorChangeNew('txtStockInDate', 'divStockInDate', 'Stock In Date Required', true);
                isValid = false;
             }

             if ($('#ddlCompany').val() == 0 || $('#ddlCompany').val() == '') {
                 ValidationColorChangeNew('ddlCompany', 'divCompany', 'Select Company', true);
                 isValid = false;
             }
             if (isopening == false) {
                 if ($('#ddlLocation').val() == 0 || $('#ddlLocation').val() == '') {
                     ValidationColorChangeNew('ddlLocation', 'divLocation', 'Select From Location', true);
                     isValid = false;
                 }
                 if ($('#ddlWareHouse').val() == 0 || $('#ddlWareHouse').val() == '') {
                     ValidationColorChangeNew('ddlWareHouse', 'divWareHouse', 'Select From Warehouse', true);
                     isValid = false;
                 }
             }
             if ($('#ddlToLocation').val() == 0 || $('#ddlToLocation').val() == '') {
                 ValidationColorChangeNew('ddlToLocation', 'divToLocation', 'Select To Location', true);
                 isValid = false;
             }
             if ($('#ddlToWareHouse').val() == 0 || $('#ddlToWareHouse').val() == '') {
                 ValidationColorChangeNew('ddlToWareHouse', 'divToWareHouse', 'Select To Warehouse', true);
                 isValid = false;
             }



            if ($('#empAutoCom').val() == null || $('#empAutoCom').val() == '') {
                ValidationColorChangeNew('empAutoCom', 'divReceiveBy', 'Stock In By Required', true);
                isValid = false;
            }
            if (isopening == false) {

                if ($('#myTable').find('input[type=checkbox]:checked').length == 0) {
                    isValid = false;
                    message = ("Check atleast one checkbox");

                }
                var count = 0;
                var sqty = 0;
                var sqkg = 0;
                var sprice = 0;
                var sdate = 0;

                $('#myTable tr#tr_main').each(function () {

                    var theIdB = isNaN(parseInt($(this).find(".rd").val()), 0) ? 0 : parseInt($(this).find(".rd").val());
                    var theIdG = isNaN(parseInt($(this).find(".itemd").val()), 0) ? 0 : parseInt($(this).find(".itemd").val());

                    var checkp = $("#check_" + theIdB + "_" + theIdG).prop("checked");
                    if (checkp == true) {
                        var stockinqty = $("#StockInQty_" + theIdB + "_" + theIdG).val();
                        var stockinkg = $("#StockInKG_" + theIdB + "_" + theIdG).val();
                        var unitprice = $("#UnitPrice_" + theIdB + "_" + theIdG).val();
                        var exdate = $("#expDate_" + theIdB + "_" + theIdG).val();
                        var productname = $("#ProductName_" + theIdB + "_" + theIdG).val();
                        if (isopening == false) {
                            if (productname == "0" || productname == null) {
                                isValid = false;
                                $("#ProductName_" + theIdB + "_" + theIdG).css('border-bottom', '2px solid red');
                            }
                        }


                        if (stockinqty == "" || stockinqty == 0) {
                            isValid = false;
                            $("#StockInQty_" + theIdB + "_" + theIdG).css('border-bottom', '2px solid red');
                        }
                        if (stockinkg == "" || stockinkg == 0) {
                            isValid = false;
                            $("#StockInKG_" + theIdB + "_" + theIdG).css('border-bottom', '2px solid red');
                        }
                        if (unitprice == "" || unitprice == 0) {
                            isValid = false;
                            $("#UnitPrice_" + theIdB + "_" + theIdG).css('border-bottom', '2px solid red');
                        }
                        if (exdate == "" || unitprice == null) {
                            isValid = false;
                            $("#expDate_" + theIdB + "_" + theIdG).css('border-bottom', '2px solid red');
                        }
                    }


                });
            }
            else
            {
                var rowCount = $('#myTable1 tbody tr').length;
                for (var i = 0; i < rowCount; i++) {

                    var item = i + 1;
                    if ($("#ProductName_0_" + item).val() == 0 || $("#ProductName_0_" + item).val() == '') {
                        //ValidationColorChange('ProductName_0_', "tr" + [i] + "Select a Product", false);
                        isValid = false;
                        $("#ProductName_0_" + item).css('border-bottom', '2px solid red');
                    }
                    else
                    {
                        $("#ProductName_0_" + item).css('border-bottom', '');
                    }
                    if ($("#StockInQty_0_" + item).val() == 0 || $("#StockInQty_0_" + item).val() == '') {
                        //ValidationColorChange('StockInQty_0_', "tr" + [i] + "Input stock in qty", false);
                        isValid = false;
                        $("#StockInQty_0_" + item).css('border-bottom', '2px solid red');
                    }
                    else {
                        $("#StockInQty_0_" + item).css('border-bottom', '');
                    }
                    if ($("#StockInKG_0_" + item).val() == 0 || $("#StockInKG_0_" + item).val() == '') {
                        $("#StockInKG_0_" + item).css('border-bottom', '2px solid red');
                        isValid = false;
                    }
                    else {
                        $("#StockInKG_0_" + item).css('border-bottom', '');
                    }
                    
                    if ($("#UnitPrice_0_" + item).val() == 0 || $("#UnitPrice_0_" + item).val() == '') {
                        $("#UnitPrice_0_" + item).css('border-bottom', '2px solid red');
                        isValid = false;
                    }
                    else {
                        $("#UnitPrice_0_" + item).css('border-bottom', '');
                    }
                    if ($("#expDate_0_" + item).val() == null || $("#expDate_0_" + item).val() == '') {
                        $("#expDate_0_" + item).css('border-bottom', '2px solid red');
                        isValid = false;
                    }
                    else {
                        $("#expDate_0_" + item).css('border-bottom', '');
                    }
                    
                }
            }
           
            if (isValid == false) {
                ShowMessage(message);
            }
            return isValid;

        }




        function LoadDressedBird(elementId, wareid) {
            var urlpath = '@Url.Action("LoadDressedBird", "DressBirdInStock")';
            $.ajax({
                url:urlpath,
                type: "Get",
                data: { wareid: wareid },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Dressed Bird No--</option>");
                     for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].DressedBirdMasterID).html(data[i].DressedBirdNo));
                    }

                }
            });
        }

        function LoadProduct(elementId,itemid) {

            var aa = AllItemList.length;
             
            var newArray = {};
            if (itemid == 1)
            {
                var homes = [];
                $.each(AllItemList, function () {
                    if (this.TypeId == 1

                    ) {
                        homes.push(this);
                    }
                });

                $('#' + elementId).append("<option value='0'>--Select Product--</option>");

                for (var i = 0; i < homes.length; i++) {

                    $('#' + elementId + '').append($("<option></option>").val(homes[i].ProductId).html(homes[i].ProductName));

                }
            }
            else if (itemid == 2)
            {
                var homes = [];
                $.each(AllItemList, function () {
                    if (this.TypeId == 16

                    ) {
                        homes.push(this);
                    }
                });

                $('#' + elementId).append("<option value='0'>--Select Product--</option>");

                for (var i = 0; i < homes.length; i++) {

                    $('#' + elementId + '').append($("<option></option>").val(homes[i].ProductId).html(homes[i].ProductName));

                }
            }


        }

        function LoadAllProduct() {

            var urlpath = '@Url.Action("LoadProduct", "DressBirdInStock")';
            $.ajax({
                url:urlpath,
                type: "Get",
                data: {},
                async: false,
                success: function (data) {
                      AllItemList=data;

                }
            });
        }

           function AddRow(reqId) {

            //var tr = $('#myTable tbody tr').length + 1;

            var urlpath = '@Url.Action("GetAddRow", "DressBirdInStock")';
            $.ajax({
                url: urlpath,
                dataType: 'HTML',
                type: "Get",
                data: {reqId:reqId},
                async: true,
                success: function (data) {

                     $('#purchaseOrderDiv').empty();
                    $('#purchaseOrderDiv').html(data);

                    $('#myTable tr#tr_main').each(function () {

                        var dbi = isNaN(parseInt($(this).find(".rd").val()), 0) ? 0 : parseInt($(this).find(".rd").val());
                        var iid = isNaN(parseInt($(this).find(".itemd").val()), 0) ? 0 : parseInt($(this).find(".itemd").val());
                        var cat = isNaN(parseInt($(this).find(".cat").val()), 0) ? 0 : parseInt($(this).find(".cat").val());
                        var ProductName = 'ProductName_' + dbi + '_' + iid;
                        LoadProduct(ProductName, cat);
                        LoadDate('#expDate_' + dbi + "_" + iid);
                    });


                    //LoadProduct(ddlName);
                }
            });
           }

        function AddRowOpening() {

            var tr = $('#myTable1 tbody tr').length + 1;
            var ddlName = 'ProductName_0_' + tr;
            var urlpath = '@Url.Action("GetAddRowOpening", "DressBirdInStock")';
            $.ajax({
                url: urlpath,
                dataType: 'HTML',
                type: "Get",
                data: { tr: tr },
                async: true,
                success: function (data) {

                    $('#myTable1 tbody').append(data);
                    LoadProductOP(ddlName);
                    LoadDate('#expDate_0_' + tr);
                }
            });
        }
        function RemoveRow(trId) {
            if (($('#myTable1 tbody tr').length) > 1) {
                $('#tr_' + trId + '').remove();
            }

        }

        function LoadProductOP(elementId) {

            var array = [];
            var rowCount = $('#myTable1 tbody tr').length;
            for (let count = 1; count < rowCount; count++) {
                array.push(parseInt($("#ProductName_0_" + count).val()));
            };
            $('#' + elementId + '').append("<option value='0'>--Select Product--</option>");

            for (var i = 0; i < AllItemList.length; i++) {
                var a = AllItemList[i].ProductId;
                if (jQuery.inArray(AllItemList[i].ProductId, array) == -1) {

                    $('#' + elementId + '').append($("<option></option>").val(AllItemList[i].ProductId).html(AllItemList[i].ProductName));
                }

            }
            $('#' + elementId + '').select2();

        }

       
        @*function AddRowOpening() {

            //var tr = $('#myTable tbody tr').length + 1;

            var urlpath = '@Url.Action("GetAddRowOpening", "DressBirdInStock")';
            $.ajax({
                url: urlpath,
                dataType: 'HTML',
                type: "Get",
                data: {},
                async: true,
                success: function (data) {

                    $('#purchaseOrderDiv').empty();
                    $('#purchaseOrderDiv').html(data);

                    $('#myTable tr#tr_main').each(function () {

                        var dbi = 0;
                        var iid = isNaN(parseInt($(this).find(".itemd").val()), 0) ? 0 : parseInt($(this).find(".itemd").val());

                        LoadDate('#expDate_' + dbi + "_" + iid);
                    });


                    //LoadProduct(ddlName);
                }
            });
        }*@

        function LoadSalablePrice(DressedBirdDetailID, itemid)
        {
             
            var productid = $('#ProductName_' + DressedBirdDetailID + "_" + itemid).val();
            var urlpath = '@Url.Action("LoadSalablePriceByID", "DressBirdInStock")';
            $.ajax({
                url: urlpath,
                dataType: 'HTML',
                type: "Get",
                data: { productid: productid },
                async: true,
                success: function (data) {


                    $('#UnitPrice_' + DressedBirdDetailID + "_" + itemid).val(data);

                }
            });
        }


        function LoadDressedBirdDetailList(reqId) {

        var tablecontents = "";
        $("#testbody").html("");
        var urlpath = '@Url.Action("LoadDressBirdDetailByID", "DressBirdInStock")';

        $.ajax({

            url: urlpath,
            dataType: 'json',
            type: "Get",
            data: { reqId: parseInt(reqId) },
            async: false,
            success: function (data) {

                if (data.length > 0) {


                    var se = 0;
                    $.each(data, function (index, item) {

                        se = se + 1;

                        //alert(data);



                        tablecontents += "<tr id='trmain'>";

                        tablecontents += "<td style='display: none;' ><input type='text' class='rd'  value = '" + item.DressedBirdDetailID + "'/></td>";
                         tablecontents += "<td style='display: none;' ><input type='text' class='itemd'  value = '" + item.ItemId + "'/></td>";

                        tablecontents += "<td  style='text-align:center'><input type='checkbox'  class='iradio_minimal-blue checkp' id='check_" + item.DressedBirdDetailID + '_' + item.ItemId + "' onclick='Checkp(" + item.DressedBirdDetailID + "," + item.ItemId + ")'/></td>";
                        tablecontents += "<td  style='text-align:center'>" + se + "</td>";
                        //tablecontents += "<td style='text-align:center'>" + item.HatchDate + "</td>";
                        tablecontents += "<td style='text-align:center'>" + item.ItemName + "</td>";
                        tablecontents += "<td style='text-align:center'><select   style='text-align:center;width: 100%;'  id='ProductName_"+ item.DressedBirdDetailID + '_' + item.ItemId+"'></select></td>";
                        tablecontents += "<td style='text-align:center;'><input type='number' min='0' style='text-align:center;'  id='StockInQty_" + item.DressedBirdDetailID + "_" + item.ItemId + "' value = '" + item.Remainingqty + "'   disabled='disabled'/></td>";
                        tablecontents += "<td style='text-align:center;'><input type='number' min='0' style='text-align:center;'  id='StockInKG_" + item.DressedBirdDetailID + "_" +item.ItemId + "' value = '" + item.RemainingKG + "'  disabled='disabled'/></td>";
                        tablecontents += "<td style='text-align:center;'><input type='number' min='0' style='text-align:center;'  id='UnitPrice_" + item.DressedBirdDetailID + "_" + item.ItemId + "' value = '" + item.UnitPrice + "'  disabled='disabled'/></td>";
                        tablecontents += "<td style='text-align:center;'><input type='text'   style='text-align:center;'  id='expDate_" + item.DressedBirdDetailID + "_" + item.ItemId + "' /></td>";
                        //id='expDate_" + item.dressedBirdDetailID + "_" + item.itemId + "'

                        tablecontents += "<td style='text-align:center;display:none;'><input type='number' min='0' style='text-align:center;'  id='hStockInQty__" + item.DressedBirdDetailID + "_" + item.ItemId + "' value = '" + item.Remainingqty + "' disabled='disabled'/></td>";
                        tablecontents += "<td style='text-align:center;display:none;'><input type='number' min='0' style='text-align:center;'  id='hStockInKG_" + item.DressedBirdDetailID + "_" +item.ItemId + "' value = '" + item.RemainingKG + "' disabled='disabled'/></td>";
                        tablecontents += "<td style='text-align:center;display:none;'><input type='number' min='0' style='text-align:center;'  id='hUnitPrice_" + item.DressedBirdDetailID + "_" + item.ItemId + "' value = '" + item.UnitPrice + "' disabled='disabled'/></td>";


                        tablecontents += "<td style='text-align:center;'><input type='text'   id='Remarks_" + item.DressedBirdDetailID + "_" + item.ItemId + "' value = '' disabled='disabled'/></td>";

                        tablecontents += "</tr>";

                         var ProductName = 'ProductName_' + item.DressedBirdDetailID+'_'+item.ItemId;
                        LoadDate('#expDate_' + item.DressedBirdDetailID + "_" + item.ItemId);
                        //LoadProduct(ProductName);


                    });

                     $("#testbody").html(tablecontents);

                    //alert(tablecontents);

                }



            }



        });
        }

        function LoadRequisitionDetaillList_o() {

            var tablecontents = "";
            $("#testbody").html("");
           var urlpath = '@Url.Action("LoadProduct", "DressBirdInStock")';

            $.ajax({

                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {

                    if (data.length > 0) {


                        var se = 0;
                        $.each(data, function (index, item) {
                            se = se + 1;
                            tablecontents += "<tr id='trmain'>";
                            tablecontents += "<td style='display: none;' ><input type='text' class='rd'  value = '0'/></td>";
                            tablecontents += "<td style='display: none;' ><input type='text' class='itemd'  value = '" + item.ProductId + "'/></td>";

                            tablecontents += "<td  style='text-align:center'><input type='checkbox'  class='iradio_minimal-blue checkp' id='check_0_" + item.ProductId + "' onclick='Checkp(" + 0 + "," + item.ProductId + ")'/></td>";
                            tablecontents += "<td  style='text-align:center'>" + se + "</td>";
                            //tablecontents += "<td style='text-align:center'>" + item.HatchDate + "</td>";
                            tablecontents += "<td style='text-align:center'></td>";
                            tablecontents += "<td style='text-align:center'>" + item.ProductName + "</td>";
                            tablecontents += "<td style='text-align:center;'><input type='number' min='0' style='text-align:center;'  id='StockInQty_0_" + item.ProductId + "' value = '" + item.Remainingqty + "'   disabled='disabled'/></td>";
                            tablecontents += "<td style='text-align:center;'><input type='number' min='0' style='text-align:center;'  id='StockInKG_0_" + item.ProductId + "' value = '" + item.RemainingKG + "'  disabled='disabled'/></td>";
                            tablecontents += "<td style='text-align:center;'><input type='number' min='0' style='text-align:center;'  id='UnitPrice_0_" + item.ProductId + "' value = '" + item.UnitPrice + "'  disabled='disabled'/></td>";
                            tablecontents += "<td style='text-align:center;'><input type='text'   style='text-align:center;'  id='expDate_0_" + item.ProductId + "' /></td>";
                            //id='expDate_" + item.dressedBirdDetailID + "_" + item.itemId + "'

                            tablecontents += "<td style='text-align:center;display:none;'><input type='number' min='0' style='text-align:center;'  id='hStockInQty_0_" + item.ProductId + "' value = '" + item.Remainingqty + "' disabled='disabled'/></td>";
                            tablecontents += "<td style='text-align:center;display:none;'><input type='number' min='0' style='text-align:center;'  id='hStockInKG_0_" + item.ProductId + "' value = '" + item.RemainingKG + "' disabled='disabled'/></td>";
                            tablecontents += "<td style='text-align:center;display:none;'><input type='number' min='0' style='text-align:center;'  id='hUnitPrice_0_" + item.ProductId + "' value = '" + item.UnitPrice + "' disabled='disabled'/></td>";


                            tablecontents += "<td style='text-align:center;'><input type='text'   id='Remarks_0_" + item.ProductId + "' value = '' disabled='disabled'/></td>";







                            //tablecontents += "<td style='display: none;' ><input type='text' class='itemd'  value = '" + item.ProductId + "'/></td>";

                            //tablecontents += "<td  style='text-align:center'>" + se + "</td>";

                            //tablecontents += "<td style='text-align:center'>" + item.ProductName + "</td>";

                            //tablecontents += "<td style='text-align:center;'><input type='number' min='0' style='text-align:center;'  id='StockInQty_" + item.ProductId + "' value = ''/></td>";
                            //tablecontents += "<td style='text-align:center;'><input type='number' min='0' style='text-align:center;'  id='StockInKG_" + item.ProductId + "'  value = ''  /></td>";
                            //tablecontents += "<td style='text-align:center;'><input type='number' min='0' style='text-align:center;'  id='UnitPrice_" + item.ProductId + "'  value = '' /></td>";
                            //tablecontents += "<td style='text-align:center;'><input type='text'  style='text-align:center;'  id='expireDate_" + item.ProductId + "'/></td>";


                            //tablecontents += "<td style='text-align:center;'><input type='text'   id='Remarks_" + item.ProductId + "' value = '' /></td>";

                            tablecontents += "</tr>";
                            //LoadDate('#expireDate_' + item.ProductID + "_" + item.BDToPortionIssue2ndDetail);

                        });



                        //alert(tablecontents);
                        $("#testbody").html(tablecontents);
                    }


                }

            });

            $('#myTable tr#tr_main').each(function () {


                var iid = isNaN(parseInt($(this).find(".itemd").val()), 0) ? 0 : parseInt($(this).find(".itemd").val());

                LoadDate('#expDate_0_' + iid);


            });
        }

    //    function Total(detailid, itemid) {
    //        var hremainigqty=$("#hRemainingQty_" + detailid + "_" + itemid).val();
    //        var hremainingkg =    $("#hRemainingKG_" + detailid + "_" + itemid).val();


    //    var remainigqty=$("#RemainingQty_" + detailid + "_" + itemid).val();
    //        var remainingkg = $("#RemainingKG_" + detailid + "_" + itemid).val();
    //        if (parseFloat(remainigqty) > parseFloat( hremainigqty)) {
    //            swal('Purchase Qty can not be grater then requision qty');
    //            $("#RemainingQty_" + detailid + "_" + itemid).val(hremainigqty);
    //            var price = $("#ApprovedTentativePrice_" + detailid + "_" + itemid).val();
    //            var total = parseFloat(remainingkg) * parseFloat(price);
    //            $("#TotalPrice_" + detailid + "_" + itemid).val(total);
    //            return;
    //        }

    //        if (parseFloat(remainingkg) > parseFloat(hremainingkg)) {
    //            swal('Purchase kg can not be grater then requision kg');
    //            $("#RemainingKG_" + detailid + "_" + itemid).val(hremainingkg);
    //            var price = $("#ApprovedTentativePrice_" + detailid + "_" + itemid).val();
    //            var total = parseFloat(remainingkg) * parseFloat(price);
    //            $("#TotalPrice_" + detailid + "_" + itemid).val(total);
    //            return;
    //        }


    //    var price = $("#ApprovedTentativePrice_" + detailid + "_" + itemid).val();
    //    var total = parseFloat(remainingkg) * parseFloat(price);
    //    $("#TotalPrice_" + detailid + "_" + itemid).val(total);

    //}



     function Checkp(detailno, itemno) {

        //uncheck "select all", if one of the listed checkbox item is unchecked
        var checkp = $("#check_" + detailno+"_"+itemno).prop("checked");
         if (checkp == false) { //if this item is unchecked
             var hRemainingQty = $("#hStockInQty_" + detailno + "_" + itemno).val();
             var hRemainingKG = $("#hStockInKG_" + detailno + "_" + itemno).val();
             var hApprovedTentativePrice = $("#hUnitPrice_" + detailno + "_" + itemno).val();





             $("#StockInQty_" + detailno + "_" + itemno).val(hRemainingQty);
             $("#StockInKG_" + detailno + "_" + itemno).val(hRemainingKG);
             $("#UnitPrice_" + detailno + "_" + itemno).val(hApprovedTentativePrice);



             $("#StockInQty_" + detailno + "_" + itemno).prop('disabled', true);
             $("#StockInKG_" + detailno + "_" + itemno).prop('disabled', true);
             $("#UnitPrice_" + detailno + "_" + itemno).prop('disabled', true);

             $("#Remarks_" + detailno + "_" + itemno).prop('disabled', true);

         }
         else {
             $("#StockInQty_" + detailno + "_" + itemno).prop('disabled', false);
             $("#StockInKG_" + detailno + "_" + itemno).prop('disabled', false);
             $("#UnitPrice_" + detailno + "_" + itemno).prop('disabled', false);

             $("#Remarks_" + detailno + "_" + itemno).prop('disabled', false);
         }


        }





    </script>
}





