﻿@{
    int sl = Convert.ToInt32(TempData["trSl"]);
}
<tr id="tr_@sl">

    <td id="ts_@sl">@sl</td>
    <td>
        <select class="form-control select2" id="pro_@sl" style="width: 350px" onchange="GetProductDetails(@sl,$('#txtOrderDate').val(),$('#ddlCustomerType').val(), $('#ddlDeliveryWarehouse').val())"></select>
    </td>
    <td style="display:none">
        <input type="text" class="form-control" disabled="disabled" id="cat_@sl" />
    </td>
    <td>
        <input type="text" class="form-control" disabled="disabled" id="stQty_@sl" />
    </td>

    <td>
        <input type="number" class="form-control" disabled="disabled" id="stKg_@sl" />
    </td>
    <td>

        <input type="number" class="form-control" style="width: 55px;" id="baseRate_@sl" oninput="CalculateBasePrice(@sl,$('#ddlCustomerType').val(),$('#pro_@sl').val())" disabled/>
    </td>
    <td>

        <input type="number" class="form-control" id="weightLoss_@sl" oninput="CalculateBasePrice(@sl,$('#ddlCustomerType').val(),$('#pro_@sl').val())" disabled />
    </td>
    <td>
        <input type="number" class="form-control" id="saleRate_@sl" oninput="CalculateSalePrice(@sl,$('#ddlCustomerType').val(),$('#pro_@sl').val())" />
       @* <input type="number" style="display:none;" class="form-control" id="baseRate_@sl" />*@
    </td>
    <td>
        <input type="number" class="form-control" style="width: 55px;" id="saleQty_@sl" oninput="CalculateSalePrice(@sl,$('#ddlCustomerType').val(),$('#pro_@sl').val())"/>
    </td>

    <td>
        <input type="number" class="form-control" style="width: 55px;" id="saleKG_@sl" oninput="CalculateKg(@sl);CalculateSalePrice(@sl,$('#ddlCustomerType').val(),$('#pro_@sl').val())"/>
    </td>
    <td>
        <input type="number" class="form-control" id="total_@sl" />
        <input type="number" style="display:none;" class="form-control" id="btotal_@sl" />
    </td>
    <td>
        <input type="number" class="form-control"  id="disPer_@sl" oninput="CalculateSalePrice(@sl,$('#ddlCustomerType').val(),$('#pro_@sl').val())"/>
    </td>
    @*@if (ViewBag.customertype == 6)
    {
        <td>
            <input type="number" class="form-control" id="SpecialIncentive_@sl" disabled="disabled" />
        </td>
    }*@
 
    <td>
        <input type="number" class="form-control" id="disNum_@sl"  oninput="CalculateSalePriceAmt(@sl)" />
    </td>
    <td>
        <input type="number" class="form-control" id="proTax_@sl"  disabled="disabled" />
    </td>
    <td>
        <input type="number" style="width: 80px;" class="form-control" disabled="disabled" id="totalG_@sl"/>
    </td>


    <td class="actionHide">
        <div class="form-group">
            <button class="btn btn-xs btn-success " id="btnAdd_@sl" onclick="AddRow()"><b >+</b></button>
            <button class="btn btn-xs btn-danger" id="btnRemove_@sl" onclick="RemoveRow(@sl)"><b ></b>x</button>
            <input type="number" value="0" style="display: none" id="details_@sl"   />
            <input type="number"  style="display: none" id="groupid_@sl" />
            <input type="number" value="0" style="display: none" id="haschallan_@sl" />
            <input type="number" value="0" style="display: none"  id="picking_@sl" />
            <input type="text" style="display: none" id="isbulk_@sl" />
            <input type="number" style="display: none" id="mtretention_@sl" />
            <input type="number" style="display: none" id="perKgStdQty_@sl" />
            <input type="number" style="display: none" id="DiscountPercent_@sl" />
            <input type="number" style="display: none" id="incentive_@sl"/>
            @*changes*@
            @*<input type="number" style="display: none" id="damage_@sl" />
            <input type="number" style="display: none" id="srAdjust_@sl" />*@
        </div>
    </td>
    <td class="aHide">
        <div class="form-group">
            <input type="checkbox"  id="already_@sl" />
        </div>
    </td>
   



</tr>
