﻿@using System.Data
@model System.Data.DataTable
@{ int count = 1;}
<table id="salesTable" border="1" class="table table-bordered table-striped table-hover">
    <thead>
        <tr style="background-color: aliceblue">
            <th rowspan="2" style="text-align: center">SL</th>
            <th rowspan="2" style="text-align: center">Customer Code</th>
            <th rowspan="2" style="text-align: center">Customer Name</th>
            <th colspan="2" style="text-align: center">Dress Bird</th>
            <th colspan="2" style="text-align: center">Portion</th>
            <th colspan="2" style="text-align: center">By Product</th>
            <th colspan="2" style="text-align: center">Further Process</th>
            <th colspan="2" style="text-align: center">Egg</th>
            <th colspan="2" style="text-align: center">Fish</th>
            <th colspan="2" style="text-align: center">Meat</th>
            <th colspan="2" style="text-align: center">Total</th>
        </tr>
        <tr style="background-color: aliceblue">
            <th style="text-align: center">Kg</th>
            <th style="text-align: center">Tk</th>
            <th style="text-align: center">Kg</th>
            <th style="text-align: center">Tk</th>
            <th style="text-align: center">Kg</th>
            <th style="text-align: center">Tk</th>
            <th style="text-align: center">Kg</th>
            <th style="text-align: center">Tk</th>
            <th style="text-align: center">Kg</th>
            <th style="text-align: center">Tk</th>
            <th style="text-align: center">Kg</th>
            <th style="text-align: center">Tk</th>
            <th style="text-align: center">Kg</th>
            <th style="text-align: center">Tk</th>
            <th style="text-align: center">Kg</th>
            <th style="text-align: center">Tk</th>
        </tr>
    </thead>
    <tbody class="Traylist">
        @foreach (DataRow row in Model.Rows)
        {
            <tr>
                <td>@count</td>
                <td style="text-align: center">@row.ItemArray[0]</td>
                <td style="text-align: center">@row.ItemArray[1]</td>
                <td style="text-align: center">@row.ItemArray[2]</td>
                <td style="text-align: center">@row.ItemArray[3]</td>
                <td style="text-align: center">@row.ItemArray[4]</td>
                <td style="text-align: center">@row.ItemArray[5]</td>
                <td style="text-align: center">@row.ItemArray[6]</td>
                <td style="text-align: center">@row.ItemArray[7]</td>
                <td style="text-align: center">@row.ItemArray[8]</td>
                <td style="text-align: center">@row.ItemArray[9]</td>
                <td style="text-align: center">@row.ItemArray[10]</td>
                <td style="text-align: center">@row.ItemArray[11]</td>
                <td style="text-align: center">@row.ItemArray[12]</td>
                <td style="text-align: center">@row.ItemArray[13]</td>
                <td style="text-align: center">@row.ItemArray[14]</td>
                <td style="text-align: center">@row.ItemArray[15]</td>
                <td style="text-align: center">@row.ItemArray[16]</td>
                <td style="text-align: center">@row.ItemArray[17]</td>
            </tr>
            count++;
        }
    </tbody>
    <tfoot>
    <tr>

        
        <th colspan="3" style="text-align: center">Total</th>
        <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[2])))</th>
        <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[3])))</th>
        <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[4])))</th>
        <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[5])))</th>
        <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[6])))</th>
        <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[7])))</th>
        <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[8])))</th>
        <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[9])))</th>
        <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[10])))</th>
        <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[11])))</th>
        <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[12])))</th>
        <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[13])))</th>
        <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[14])))</th>
        <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[15])))</th>
        <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[16])))</th>
        <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[17])))</th>
    </tr>
    </tfoot>
</table>

