﻿
    
@using System.Data
@model System.Data.DataTable

@{
    int count = 1;
}
<table id="SalesReportTable" border="1" class="table dataTable table-bordered table-striped table-hover">
    <thead>
        <tr style="background-color: aliceblue">
            @*<th style="text-align: center">SL</th>*@
            <th style="text-align: center">Sales Person</th>
            <th style="text-align: center">Customer</th>
            @*<th style="text-align: center">Code</th>*@
            <th style="text-align: center">Delivery Amount</th>
            <th style="text-align: center">Collection Amount</th>
            <th style="text-align: center">Due Amount</th>
            <th style="text-align: center">Last Payment Date</th>
        </tr>
    </thead>
    <tbody class="Traylist">
        @foreach (DataRow row in Model.Rows)
        {
            <tr>
                @*<td style="text-align: center">@count</td>*@
                <td style="text-align: center">@row.ItemArray[3] : @row.ItemArray[4] </td>
                <td style="text-align: center">@row.ItemArray[2]</td>
                @*<td style="text-align: center">@row.ItemArray[1]</td>*@
                <td style="text-align: center">@row.ItemArray[5]</td>
                <td style="text-align: center">@row.ItemArray[6]</td>
                <td style="text-align: center">@row.ItemArray[7]</td>
                <td style="text-align: center">@row.ItemArray[8]</td>

            </tr>
            //count++;
        }
    </tbody>
    <tfoot>
        <tr>
            <th colspan="2" style="text-align: center">Total</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[5])))</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[6])))</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[7])))</th>
        </tr>
    </tfoot>
</table>
