﻿@using System.Data
@model System.Data.DataTable

@{
    int count = 1;
    var value = "Total";
}
<table id="SalesReportTable" border="1" class="table dataTable table-bordered table-striped table-hover">
    <thead>
        <tr style="background-color: aliceblue">
            @*<th rowspan="2" style="text-align: center">SL</th>*@
            <th style="text-align: center">Product Group</th>
            <th style="text-align: center">Description</th>
            <th style="text-align: center">Approve Kg</th>
            <th style="text-align: center">Approve Qty</th>
            <th style="text-align: center">Total Amount</th>
        </tr>
    </thead>
    <tbody class="Traylist">
        @foreach (DataRow row in Model.Rows)
        {
            <tr>
                <td style="text-align: center">@row.ItemArray[5]</td>
               
                    @if (DBNull.Value != row.ItemArray[0])
                    {
                        <td style="text-align: center"> @row.ItemArray[0]</td>
                        <td style="text-align: center">@row.ItemArray[2]</td>
                        <td style="text-align: center">@row.ItemArray[3]</td>
                        <td style="text-align: center">@row.ItemArray[4]</td>
                    }
                    else
                    {
                        <td style="text-align: center;background-color: skyblue"> <b>@value</b></td>
                        <td style="text-align: center;background-color: skyblue">@row.ItemArray[2]</td>
                        <td style="text-align: center;background-color: skyblue">@row.ItemArray[3]</td>
                        <td style="text-align: center;background-color: skyblue">@row.ItemArray[4]</td>
                    }

                     
             

            </tr>
            //count++;
        }
    </tbody>
    @*<tfoot>
            <tr>
                <th colspan="3" style="text-align: center">Total</th>
                <th style="text-align: center">@Model.AsEnumerable().GroupBy(x=>x.ItemArray[4]).Single()</th>
                <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[3])))</th>
                <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[4])))</th>
                <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[5])))</th>
                <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[6])))</th>
                <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[7])))</th>
                <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[8])))</th>
                <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[9])))</th>
                <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[10])))</th>
                <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[11])))</th>
                <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[12])))</th>
                <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[13])))</th>
            </tr>
        </tfoot>*@
</table>
