﻿
    
@using System.Data
@model System.Data.DataTable

@{
    int count = 1;
}
<table id="SalesReportSummaryTable" border="1" class="table dataTable table-bordered table-striped table-hover">
    <thead>
        <tr style="background-color: aliceblue">
            <th style="text-align: center">Customer Type</th>
            <th style="text-align: center">Delivery Amount</th>
            <th style="text-align: center">Collection Amount</th>
            <th style="text-align: center">Due Amount</th>
        </tr>
    </thead>
    <tbody class="Traylist">
        @foreach (DataRow row in Model.Rows)
        {
            <tr>
                @*<td style="text-align: center">@count</td>*@
                <td style="text-align: center">@row.ItemArray[1]</td>
                <td style="text-align: center">@row.ItemArray[2]</td>
                <td style="text-align: center">@row.ItemArray[3]</td>
                <td style="text-align: center">@row.ItemArray[4]</td>

            </tr>
            //count++;
        }
    </tbody>
    <tfoot>
        <tr>
            <th style="text-align: center">Total</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[2])))</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[3])))</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[4])))</th>
        </tr>
    </tfoot>
</table>
