﻿@using System.Data
@model System.Data.DataTable
@{ int count = 1;}
<table id="salesTable" border="1" class="table dataTable table-bordered table-striped table-hover">
    <thead>
        <tr style="background-color: aliceblue">
            <th rowspan="2" style="text-align: center">SL</th>
            <th rowspan="2" style="text-align: center">Product</th>
            <th colspan="3" style="text-align: center">SO Total</th>
            <th colspan="3" style="text-align: center">Challan Total</th>
            <th colspan="3" style="text-align: center">Delivery Total</th>
        </tr>
        <tr style="background-color: aliceblue">
            <th style="text-align: center">Qty</th>
            <th style="text-align: center">Kg</th>
            <th style="text-align: center">Tk</th>
            <th style="text-align: center">Qty</th>
            <th style="text-align: center">Kg</th>
            <th style="text-align: center">Tk</th>
            <th style="text-align: center">Qty</th>
            <th style="text-align: center">Kg</th>
            <th style="text-align: center">Tk</th>
        </tr>
    </thead>
    <tbody class="Traylist">
        @foreach (DataRow row in Model.Rows)
        {
            <tr>
                <td>@count</td>
                <td style="text-align: center">@row.ItemArray[0]</td>
                <td style="text-align: center">@row.ItemArray[1]</td>
                <td style="text-align: center">@row.ItemArray[2]</td>
                <td style="text-align: center">@row.ItemArray[3]</td>
                <td style="text-align: center">@row.ItemArray[4]</td>
                <td style="text-align: center">@row.ItemArray[5]</td>
                <td style="text-align: center">@row.ItemArray[6]</td>
                <td style="text-align: center">@row.ItemArray[7]</td>
                <td style="text-align: center">@row.ItemArray[8]</td>
                <td style="text-align: center">@row.ItemArray[9]</td>
            </tr>
            count++;
        }
    </tbody>
    <tfoot>
        <tr>
            <th colspan="2" style="text-align: center">Total</th>                                      
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => Convert.ToDecimal(DBNull.Value.Equals(x.ItemArray[1])?0: x.ItemArray[1]))</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => Convert.ToDecimal(DBNull.Value.Equals(x.ItemArray[2]) ? 0 : x.ItemArray[2]))</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => Convert.ToDecimal(DBNull.Value.Equals(x.ItemArray[3]) ? 0 : x.ItemArray[3]))</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => Convert.ToDecimal(DBNull.Value.Equals(x.ItemArray[4]) ? 0 : x.ItemArray[4]))</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => Convert.ToDecimal(DBNull.Value.Equals(x.ItemArray[5]) ? 0 : x.ItemArray[5]))</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => Convert.ToDecimal(DBNull.Value.Equals(x.ItemArray[6]) ? 0 : x.ItemArray[6]))</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => Convert.ToDecimal(DBNull.Value.Equals(x.ItemArray[7]) ? 0 : x.ItemArray[7]))</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => Convert.ToDecimal(DBNull.Value.Equals(x.ItemArray[8]) ? 0 : x.ItemArray[8]))</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => Convert.ToDecimal(DBNull.Value.Equals(x.ItemArray[9]) ? 0 : x.ItemArray[9]))</th>
        </tr>
    </tfoot>
</table>

