﻿@model IEnumerable<IGFoodProject.ViewModel.ViewSalesOrderProcessedMaster>
<div class="col-md-offset-1  col-md-4">
    <button class='btn btn-info' type='button' onclick="PrintMultipleInvoice()">Print Multiple Invoice</button>&nbsp;
</div>
<table id="table1" class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th><input type='checkbox' class='iradio_minimal-blue' id='checkAll' onclick='SelectAllCheckboxFunc()' /></th>
            <th>Sales Order No.</th>
            <th>Customer Type</th>
            <th>Customer</th>
            <th>Destination</th>
            <th>Sales Person</th>
            <th>Person Contact</th>
            <th>Order Date</th>
            <th>Delivery Date</th>
            <th>Total Price Inc. Vat</th>
            <th>Total Price Ex. Vat</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{ int count = 1;}
        @foreach (var item in Model)
        {
            <tr class="rowTr" id="@item.SalesOrderProcessedMasterId">
                <td><input type='checkbox' class='iradio_minimal-blue checkp' id='check_@count' onclick='Checkp(@count)' /></td>
                <td>@item.SalesOrderNo</td>
                <td>@item.CustomerType</td>
                <td>@item.CustomerName</td>
                <td>@item.DeliveryDestination</td>
                <td>@item.SalesPerson</td>
                <td>@item.SalesPersonContact</td>
                <td>@Convert.ToDateTime(item.OrderDate).ToString("dd-MMM-yyyy")</td>
                <td>@Convert.ToDateTime(item.DeliveryDate).ToString("dd-MMM-yyyy")</td>
                <td>@item.TotalIncTaxVat</td>
                <td>@item.TotalExTaxVat</td>
                <td>Approved</td>
                <td>
                    <button class="btn btn-sm btn-dark" onclick="PrintInvoice(@item.SalesOrderProcessedMasterId)">Print</button>
                </td>
            </tr>
            count++;
        }
    </tbody>
</table>
    <script>
        function SelectAllCheckboxFunc()
        {
            if ($("#checkAll").is(":checked")) {
                $(".checkp").prop("checked", true);
            } else {
                $(".checkp").prop("checked", false);
            }
        }
        function Checkp(SLNO)
        {
            //uncheck "select all", if one of the listed checkbox item is unchecked
            var checkp = $("#check_" + SLNO).prop("checked");
            if (checkp == false) { //if this item is unchecked
                $("#checkAll").prop('checked', false); //change "select all" checked status to false
            }
            //check "select all" if all checkbox items are checked
            if ($('.checkp:checked').length == $('.checkp').length) {
                $("#checkAll").prop('checked', true);
            }
        }
        function PrintMultipleInvoice()
        {
                var DeliveryOrderID = "";
                var stringSoId = "";
                $('#table1 tr.rowTr').each(function (key,value)
                {
                     
                    soId = $(this).prop("id");
                    if ($('#check_' +(parseInt(key)+1)).is(":checked")) {
                        if (stringSoId != '')
                            stringSoId = stringSoId + "," + soId;
                        else {
                            stringSoId = soId;
                        }
                    }
                });
                PrintInvoice(stringSoId);
        }
        function PrintInvoice(soId)
        {
            var urlpath = '@Url.Action("SalesOrderReports", "Report")';
            var reportValue = "SalesOrder";
            var jsonData = {};
            if (reportValue == "SalesOrder") {
                jsonData["ReportValue"] = reportValue;
                jsonData["GroupId"] = $("#productGroupDdl").val();
                jsonData["SalesOrderProcessedMasterId"] = soId;
            }
            $.ajax({
                url: urlpath,
                data: jsonData,
                dataType: 'json',
                type: "Get",
                success: function (data) {
                    if (data.isSuccess) {
                        //OpenPopUp('BasicReportViewer.aspx');
                        window.open("../CrystalViewer/CrystalViewer.aspx", "_blank", "WIDTH=1024,HEIGHT=768,scrollbars=no, menubar=no,resizable=yes,directories=no,location=no");
                    }
                }
            });
        }
    </script>
