﻿
@{
    ViewBag.Title = "CustomerDayToDaySalesCollection";
}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-3">
                                    <h3 class="card-title">
                                        <span class="fa fa-list"></span> Customer Day To Day Sales Collection
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- /.card-header -->
                            <!-- form start -->
                            <div class="row">
                                <div class="col-md-3" id="divFromDate">
                                    <div class="form-group" id="">
                                        <label for="fromDate">From Date</label>
                                        <input type="text" class="form-control datepicker" id="fromDate" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="col-md-3" id="divToDate">
                                    <div class="form-group" id="">
                                        <label for="toDate">To Date</label>
                                        <input type="text" class="form-control datepicker" id="toDate" autocomplete="off"/>
                                    </div>
                                </div>
                                <div class="col-md-3" id="mainDivCustomerType">
                                    <div class="form-group" id="divCustomerType">
                                        <label for="ddlCustomerType">Customer Type</label>
                                        <select class="form-control select2" id="ddlCustomerType" style="width: 100%;"></select>
                                    </div>
                                </div>
                                <div class="col-md-3" id="mainDivCustomer">
                                    <div class="form-group" id="divCustomer">
                                        <label for="ddlCustomer">Customer</label>
                                        <select class="form-control select2" id="ddlCustomer" style="width: 100%;"></select>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button class="btn btn-primary " onclick="LoadReport()">Submit</button>
                                <button type="button" class="btn btn-primary" onclick="exportExcel()">Export To Excel</button>
                            </div>
                        </div>
                    </div>
                    @*<div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title"> Sales Collection Report Sales Person Wise</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card" style="height: 335px">
                                        <div class="card-header">
                                            <h3 class="card-title">
                                                <i class="fa fa-arrow-down"></i>
                                                Sales Person hierarchy
                                            </h3>

                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                            <div class="form-group" id="divDivision">
                                                <label>Division</label>
                                                <select class="form-control select2" id="ddlDivision" style="width: 100%;"></select>
                                            </div>
                                            <div class="form-group" id="divArea">
                                                <label>Area</label>
                                                <select class="form-control select2" id="ddlArea" style="width: 100%;"> </select>
                                            </div>
                                            <div class="form-group" id="divTerritory">
                                                <label>Territory</label>
                                                <select class="form-control select2" id="ddlTerritory" style="width: 100%;"> </select>
                                            </div>
                                            <div class="form-group" id="divMarket">
                                                <label>Market</label>
                                                <select class="form-control select2" id="ddlMarket" style="width: 100%;"> </select>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.card-body -->

                                </div>

                                <div class="col-md-4">
                                    <div class="card" style="height: 335px">
                                        <div class="card-header">
                                            <h3 class="card-title">
                                                <i class="fa fa-person-booth"></i>
                                                Sales Person & Report Name
                                            </h3>

                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                            <div class="form-group " id="divCustomer">
                                                <label for="txtSalesPerson">Sales Person</label>
                                                <input type="text" id="txtSalesPerson" class="form-control" />
                                                <input type="number" id="employeeSelect" style="display: none" class="form-control" />
                                            </div>
                                            <div class="form-group ">
                                                <label for="dateRange ">Report Date Range<span style="color: red"> *</span></label>
                                                <input type="text" class="form-control datepicker" autocomplete="off" id="dateRange">
                                            </div>
                                        </div>
                                        <!-- /.card-body -->

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card" style="height: 335px">
                                        <div class="card-header">
                                            <h3 class="card-title">
                                                <i class="ion ion-clipboard mr-1"></i>
                                                Customer Type
                                            </h3>

                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                            <ul class="todo-list">
                                                <li>
                                                    <!-- drag handle -->
                                                    <!-- checkbox -->
                                                    <div class="icheck-primary d-inline ml-2">
                                                        <input type="checkbox" id="allCheckbox" value="0" checked>
                                                        <label for="allCheckbox"></label>
                                                    </div>
                                                    <!-- todo text -->
                                                    <span class="text">All</span>
                                                    <!-- Emphasis label -->
                                                    <!-- General tools such as edit or delete-->

                                                </li>
                                                <li>

                                                    <div class="icheck-primary d-inline ml-2">
                                                        <input type="checkbox" class="form-control-input customerType" id="horecaCheckbox" value="1" onclick="chkbox()">
                                                        <label for="horecaCheckbox"></label>
                                                    </div>
                                                    <span class="text">HORECA</span>

                                                </li>
                                                <li>

                                                    <div class="icheck-primary d-inline ml-2">
                                                        <input type="checkbox" class="form-control-input customerType" id="corporateCheckbox" value="2" onclick="chkbox()">
                                                        <label for="corporateCheckbox"></label>
                                                    </div>
                                                    <span class="text">Corporate</span>

                                                </li>
                                                <li>

                                                    <div class="icheck-primary d-inline ml-2">
                                                        <input type="checkbox" class="form-control-input customerType" id="ownSaleCheckbox" value="3" onclick="chkbox()">
                                                        <label for="ownSaleCheckbox"></label>
                                                    </div>
                                                    <span class="text">Own Sales</span>

                                                </li>
                                                <li>

                                                    <div class="icheck-primary d-inline ml-2">
                                                        <input type="checkbox" class="form-control-input customerType" id="fatcoryCheckbox" value="4" onclick="chkbox()">
                                                        <label for="fatcoryCheckbox"></label>
                                                    </div>
                                                    <span class="text">Fatcory</span>

                                                </li>
                                                <li>

                                                    <div class="icheck-primary d-inline ml-2">
                                                        <input type="checkbox" class="form-control-input customerType" id="dealerCheckbox" value="5" onclick="chkbox()">
                                                        <label for="dealerCheckbox"></label>
                                                    </div>
                                                    <span class="text">Dealer</span>

                                                </li>
                                                <li>

                                                    <div class="icheck-primary d-inline ml-2">
                                                        <input type="checkbox" class="form-control-input customerType" id="modernCheckbox" value="6" onclick="chkbox()">
                                                        <label for="modernCheckbox"></label>
                                                    </div>
                                                    <span class="text">Modern Trade</span>

                                                </li>
                                            </ul>
                                        </div>
                                        <!-- /.card-body -->

                                    </div>
                                </div>
                            </div>
                            <div class="row">


                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary float-right" onclick="LoadReport()">Submit</button>
                            <button type="button" class="btn btn-success float-left" onclick="exportExcel()">Export To Excel</button>
                        </div>
                    </div>*@
                    <!-- /.card -->

                    <div class="card divclass" id="salesReportDiv">
                        <div class="card-header with-border">
                            <div id="">
                                <h3 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="companyHeader"></h3>
                                <h4 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="reportHeader"></h4>

                                <div class="row">
                                    <div class="offset-md-10 col-md-2">
                                        <label id="reportDate"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body" id="salesReport">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-xs-12 text-center" id="testSpan" style="display: none">

            <span>
                Please wait Data is loading -
                <img src="~/AssetStatic/Images/Double Ring.gif" />
            </span>

        </div>
    </section>
@section Scripts{
    <script>
        $(function () {
            LoadFilteredCustomers('ddlCustomer', 0, 0, 0);
            LoadCustomerType();
            //EmpAutoCom('txtSalesPerson', 'employeeSelect');
            //LoadDivision('ddlDivision');
            //LoadAreaByDivisionId('ddlArea');
            //LoadTerritoryByAreaId('ddlTerritory');
            //LoadMarketByTerritoryId('ddlMarket');
            //LoadFilteredCustomers('ddlCustomer');

            //$('#dateRange').daterangepicker({
            //    locale: {
            //        format: 'DD MMM YYYY'
            //    }
            //});

            //$("#ddlDivision").on("change",
            //    function () {
            //        LoadAreaByDivisionId('ddlArea', $(this).val());
            //    });
            //$("#ddlArea").on("change",
            //    function () {
            //        LoadTerritoryByAreaId('ddlTerritory', $(this).val());
            //    });
            //$("#ddlTerritory").on("change",
            //    function () {
            //        LoadFilteredCustomers('ddlCustomer',
            //            $("#ddlDivision").val(),
            //            $("#ddlArea").val(),
            //            $("#ddlTerritory").val());

            //        LoadMarketByTerritoryId('ddlMarket', $("#ddlTerritory").val());
            //    });
            //$("#allCheckbox").on("change",
            //      function () {
            //          if ($('#allCheckbox').is(':checked')) {
            //              $(".customerType").prop("checked", true);

            //          }
            //          else {
            //              $(".customerType").prop("checked", false);

            //          }
            //      });
            //$("#allCheckbox").trigger('change');

        });
        //function chkbox() {

        //    if ($('input.customerType:checked').length == 5) {
        //        $(".customerType").prop("checked", true);
        //        $("#allCheckbox").prop("checked", true);
        //    }
        //    else {
        //        $("#allCheckbox").prop("checked", false);
        //    }
        //}
        function LoadCustomerType()
        {
            var urlpath = "/Customer/GetCustomerType";
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data)
                {

                    $("#ddlCustomerType").empty();
                    $("#ddlCustomerType").append("<option value='0'>--Select Customer Type--</option>");

                    for (var i = 0; i < data.length; i++) {

                        $("#ddlCustomerType").append($("<option></option>").val(data[i].CustomerTypeID).html(data[i].CoustomerTypeName));
                    }
                }
            });
        }

        function LoadReport() {
            if (RptValidation() == true) {
                var fromDate = $("#fromDate").val();
                var toDate = $("#toDate").val();

                var customerId = $('#ddlCustomer').val();
                var customerTypeId = $('#ddlCustomerType').val();


                var urlpath = '@Url.Action("CustomerDayToDaySalesCollectionDue", "SalesOrderProcess")';

                $.ajax({
                    url: urlpath,
                    data: { fromDate: fromDate, toDate: toDate, customerId: customerId, customerTypeId:customerTypeId },
                    dataType: 'html',
                    type: "Get",
                    beforeSend: function () {
                        $('#testSpan').show();
                        $("#salesReport").empty();
                    },
                    success: function (data) {
                        $("#salesReport").html(data);
                        $('#testSpan').hide();

                         var colLen = $("#SalesReportTable tr:eq(0) th").length;
                    
                        var compArr = new Array();

                        $("#SalesReportTable tr:gt(0)").each(function() {
                            var cName = $(this).children('td:eq(1)').text();

                            if ($.inArray(cName, compArr) === -1)
                                compArr.push(cName);
                        });

                        var rowCount = 0;
                        var gContent = '<tr style="text-align:center;padding-right:10px;font-weight: bold;background-color: #F0B27A; height:30px"><td colspan="3">Grand Total</td>';
                        for (var y = 0; y < colLen - 3; y++) {
                            var gTotal = 0;
                            $("#SalesReportTable tr:gt(0)").each(function() {
                                var sal = $(this).children('td:eq(' + (y + 3) + ')').text();

                                if (sal.length > 0)
                                    gTotal = parseInt(gTotal) + parseInt(sal);
                            });
                            gContent += '<td style="text-align:right;padding-right:10px;font-weight: bold;"> ' + gTotal + '</td>';
                        }
                        gContent += '</tr>';

                        for (var x = 0; x < compArr.length; x++) {
                            sContent = '<tr style="text-align:center;padding-right:10px;font-weight: bold; background-color: skyblue;height:30px"><td colspan="3">Sub-Total of ' + compArr[x] + '</td>';
                            for (var y = 0; y < colLen - 3; y++) {
                                var sTotal = 0;
                                $("#SalesReportTable tr:gt(0)").each(function() {

                                    var cName = $(this).children('td:eq(1)').text();
                                    if (cName == compArr[x]) {
                                        var sal = $(this).children('td:eq(' + (y + 3) + ')').text();
                                        if (sal.length > 0)
                                            sTotal = parseInt(sTotal) + parseInt(sal);

                                        if (y == 0)
                                            rowCount++;
                                    }

                                });
                                sContent += '<td style="text-align:right;padding-right:10px;font-weight: bold;">' + sTotal + '</td>';
                            }
                                sContent += '</tr>';
                                            $("#SalesReportTable tr:eq(" + (rowCount + x+1) + ")").before(sContent);
                                           // console.log(sContent);
                                           // console.log(rowCount);

                        }
                                 $("#SalesReportTable").append(sContent);
                                        $("#SalesReportTable").append(gContent);
                    },
                    complete: function () {
                        $('#companyHeader').html("IG Foods Limited");
                        $('#reportHeader').html("Customer Day To Day Sales Collection");
                        //$('#reportDate').html("Stock report of :" + $('#txtRequisitionDate').val() + " & " + $('#txtProductionDate').val());
                        $('#SalesReportTable').rowspanizer({
                            vertical_align: 'middle',
                            columns: [1]
                        });
                        $('#reportDate').text('Report from: ' + fromDate + 'to :' + toDate);
                        //groupTable($('#SalesReportTable tr:has(td)'), 0, 1);
                        //$('#SalesReportTable .deleted').remove();
                    }
                });
            }
        }


        function exportExcel(e) {
            if ($('#SalesReportTable tbody tr').length == 0) {
                swal("No Data to Export");
            } else {
                var file = new Blob([$('#salesReportDiv').html()], { type: "application/vnd.ms-excel" });
                var url = URL.createObjectURL(file);
                var a = $("<a />", {
                    href: url,
                    download: "CustomerDayToDaySalesCollection.xls"

                }).appendTo("body").get(0).click();
                e.preventDefault();
            }
        }

        function RptValidation() {
            var message = "Some Values Required";

            var isValid = true;


            if ($('#fromDate').val() == "" || $('#toDate').val() == '') {
                isValid = false;
                message = 'From Date and To Date Required';
            }



            if (isValid == false) {
                ShowMessage(message);
            }
            return isValid;
        }

        function groupTable($rows, startIndex, total) {
            if (total === 0) {
                return;
            }
            var i, currentIndex = startIndex, count = 1, lst = [];
            var tds = $rows.find('td:eq(' + currentIndex + ')');
            var ctrl = $(tds[0]);
            lst.push($rows[0]);
            for (i = 1; i <= tds.length; i++) {
                if (ctrl.text() == $(tds[i]).text()) {
                    count++;
                    $(tds[i]).addClass('deleted');
                    lst.push($rows[i]);
                }
                else {
                    if (count > 1) {
                        ctrl.attr('rowspan', count);
                        groupTable($(lst), startIndex + 1, total - 1);
                    }
                    count = 1;
                    lst = [];
                    ctrl = $(tds[i]);
                    lst.push($rows[i]);
                }
            }
        }




    </script>
}