﻿
@{
    ViewBag.Title = "CustomerWiseSalesOrderReport";
}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">  Sales Report Customer Wise </h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card" style="height: 335px">
                                        <div class="card-header">
                                            <h3 class="card-title">
                                                <i class="fa fa-arrow-down"></i>
                                                Customer hierarchy
                                            </h3>
                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                            <div class="form-group " id="divDivision">
                                                <label>Division</label>
                                                <select class="form-control select2" id="ddlDivision" style="width: 100%;"></select>
                                            </div>
                                            <div class="form-group " id="divArea">
                                                <label>Area</label>
                                                <select class="form-control select2" id="ddlArea" style="width: 100%;"> </select>
                                            </div>
                                            <div class="form-group " id="divTerritory">
                                                <label>Territory</label>
                                                <select class="form-control select2" id="ddlTerritory" style="width: 100%;"> </select>
                                            </div>
                                            <div class="form-group" id="divMarket">
                                                <label>Market</label>
                                                <select class="form-control select2" id="ddlMarket" style="width: 100%;"> </select>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <div class="col-md-4">
                                    <div class="card" style="height: 335px">
                                        <div class="card-header">
                                            <h3 class="card-title">
                                                <i class="fa fa-person-booth"></i>
                                                Customer Name & Report Name
                                            </h3>
                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                            <div class="form-group " id="divCustomer">
                                                <label>Customer</label>
                                                <select class="form-control select2" id="ddlCustomer" style="width: 100%;"> </select>
                                            </div>
                                            <div class="form-group ">
                                                <label for="dressDateId ">Report Date Range</label>
                                                <input type="text" class="form-control datepicker" autocomplete="off" id="dateRange">
                                            </div>
                                            <div class="col-md-12 icheck-primary">
                                                <div class="form-group clearfix">
                                                    <div class="icheck-success d-inline col-md-4">
                                                        <input type="radio" id="orderRadio" name="reportType" value="1" checked>
                                                        <label for="orderRadio">Order</label>
                                                    </div>
                                                    <div class="icheck-success d-inline col-md-4">
                                                        <input type="radio" id="challanradio" name="reportType" value="2">
                                                        <label for="challanradio">Challan</label>
                                                    </div>
                                                    <div class="icheck-success d-inline col-md-4">
                                                        <input type="radio" id="deliveryradio" name="reportType" value="3">
                                                        <label for="deliveryradio">Delivery</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 icheck-primary">
                                                <div class="form-group clearfix">
                                                    <div class="icheck-success d-inline col-md-4">
                                                        <input type="radio" id="dateRadio" name="dateType" value="1" checked="">
                                                        <label for="dateRadio">Date Wise</label>
                                                    </div>
                                                    <div class="icheck-success d-inline col-md-4">
                                                        <input type="radio" id="monthRadio" name="dateType" value="3">
                                                        <label for="monthRadio">Month Wise</label>
                                                    </div>
                                                    <div class="icheck-success d-inline col-md-4">
                                                        <input type="radio" id="summaryradio" name="dateType" value="2">
                                                        <label for="summaryradio">Summary</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        @*style="height: 335px"*@
                                        <div class="card-header">
                                            <h3 class="card-title">
                                                <i class="ion ion-clipboard mr-1"></i>
                                                Customer Type
                                            </h3>

                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                            <div class="col-md-6 col-sm-6">
                                                <ul class="todo-list">
                                                    <li>
                                                        <!-- drag handle -->
                                                        <!-- checkbox -->
                                                        <div class="icheck-primary d-inline ml-2">
                                                            <input type="checkbox" id="allCheckbox" value="0" checked>
                                                            <label for="allCheckbox"></label>
                                                        </div>
                                                        <!-- todo text -->
                                                        <span class="text">All</span>
                                                        <!-- Emphasis label -->
                                                        <!-- General tools such as edit or delete-->

                                                    </li>
                                                    <li>

                                                        <div class="icheck-primary d-inline ml-2">
                                                            <input type="checkbox" class="form-control-input customerType" id="horecaCheckbox" value="1" onclick="chkbox()">
                                                            <label for="horecaCheckbox"></label>
                                                        </div>
                                                        <span class="text">HORECA</span>

                                                    </li>
                                                    <li>

                                                        <div class="icheck-primary d-inline ml-2">
                                                            <input type="checkbox" class="form-control-input customerType" id="corporateCheckbox" value="2" onclick="chkbox()">
                                                            <label for="corporateCheckbox"></label>
                                                        </div>
                                                        <span class="text">Corporate</span>

                                                    </li>
                                                    <li>

                                                        <div class="icheck-primary d-inline ml-2">
                                                            <input type="checkbox" class="form-control-input customerType" id="ownSaleCheckbox" value="3" onclick="chkbox()">
                                                            <label for="ownSaleCheckbox"></label>
                                                        </div>
                                                        <span class="text">Own Sales</span>

                                                    </li>
                                                    <li>

                                                        <div class="icheck-primary d-inline ml-2">
                                                            <input type="checkbox" class="form-control-input customerType" id="fatcoryCheckbox" value="4" onclick="chkbox()">
                                                            <label for="fatcoryCheckbox"></label>
                                                        </div>
                                                        <span class="text">Fatcory</span>

                                                    </li>
                                                    <li>

                                                        <div class="icheck-primary d-inline ml-2">
                                                            <input type="checkbox" class="form-control-input customerType" id="dealerCheckbox" value="5" onclick="chkbox()">
                                                            <label for="dealerCheckbox"></label>
                                                        </div>
                                                        <span class="text">Dealer</span>

                                                    </li>

                                                </ul>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <ul class="todo-list">
                                                    <li>
                                                        <div class="icheck-primary d-inline ml-2">
                                                            <input type="checkbox" class="form-control-input customerType" id="mdtCheckbox" value="6" onclick="chkbox()">
                                                            <label for="mdtCheckbox"></label>
                                                        </div>
                                                        <span class="text">Modern Trade</span>
                                                    </li>
                                                    <li>
                                                        <div class="icheck-primary d-inline ml-2">
                                                            <input type="checkbox" class="form-control-input customerType" id="productionCheckbox" value="7" onclick="chkbox()">
                                                            <label for="productionCheckbox"></label>
                                                        </div>
                                                        <span class="text">Production</span>
                                                    </li>
                                                    <li>
                                                        <div class="icheck-primary d-inline ml-2">
                                                            <input type="checkbox" class="form-control-input customerType" id="ownConsumptionCheckbox" value="8" onclick="chkbox()">
                                                            <label for="ownConsumptionCheckbox"></label>
                                                        </div>
                                                        <span class="text">Own Consumption</span>
                                                    </li>
                                                    <li>
                                                        <div class="icheck-primary d-inline ml-2">
                                                            <input type="checkbox" class="form-control-input customerType" id="retailerCheckbox" value="9" onclick="chkbox()">
                                                            <label for="retailerCheckbox"></label>
                                                        </div>
                                                        <span class="text">Retailer</span>
                                                    </li>
                                                    <li>
                                                        <div class="icheck-primary d-inline ml-2">
                                                            <input type="checkbox" class="form-control-input customerType" id="customerSampleCheckbox" value="10" onclick="chkbox()">
                                                            <label for="customerSampleCheckbox"></label>
                                                        </div>
                                                        <span class="text">Customer Sample</span>
                                                    </li>
                                                    <li>
                                                        <div class="icheck-primary d-inline ml-2">
                                                            <input type="checkbox" class="form-control-input customerType" id="rdSampleCheckbox" value="11" onclick="chkbox()">
                                                            <label for="rdSampleCheckbox"></label>
                                                        </div>
                                                        <span class="text">R & D Sample</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- /.card-body -->

                                    </div>
                                </div>
                            </div>
                            @*<div class="row">


                            </div>
                            <div class="row">


                                <div class="form-check form-checkbox col-md-1">
                                    <input class="form-control-input" type="checkbox" id="allCheckbox" checked value="0">
                                    <label for="allCheckbox" class="form-control-label">All</label>
                                </div>
                                <div class="form-check form-checkbox col-md-1">
                                    <input class="form-control-input customerType" type="checkbox" id="horecaCheckbox" value="1" onclick="chkbox()">
                                    <label for="horecaCheckbox" class="form-control-label ">HORECA</label>
                                </div>
                                <div class="form-check form-checkbox col-md-1">
                                    <input class="form-control-input customerType" type="checkbox" id="corporateCheckbox" value="2" onclick="chkbox()">
                                    <label for="corporateCheckbox" class="form-control-label">Corporate</label>
                                </div>
                                <div class="form-check form-checkbox col-md-1">
                                    <input class="form-control-input customerType" type="checkbox" id="ownSaleCheckbox" value="3" onclick="chkbox()">
                                    <label for="ownSaleCheckbox" class="form-control-label">Own Sales</label>
                                </div>
                                <div class="form-check form-checkbox col-md-1">
                                    <input class="form-control-input customerType" type="checkbox" id="fatcoryCheckbox" value="4" onclick="chkbox()">
                                    <label for="fatcoryCheckbox" class="form-control-label">Fatcory</label>
                                </div>
                                <div class="form-check form-checkbox col-md-1">
                                    <input class="form-control-input customerType" type="checkbox" id="dealerCheckbox" value="5" onclick="chkbox()">
                                    <label for="dealerCheckbox" class="form-control-label">Dealer</label>
                                </div>
                            </div>
                            <div class="row">




                            </div>*@
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary float-right" onclick="LoadReport()">Submit</button>
                            <button class="btn btn-success float-left" onclick="exportExcel()"><span class="fa fa-print"></span> Export To Excel</button>
                        </div>
                    </div>
                    <!-- /.card -->

                    <div class="card divclass responsive" id="salesReportDiv">
                        <div class="card-header with-border">
                            <div id="">
                                <h3 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="companyHeader">IG Foods Ltd</h3>
                                <h4 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="reportHeader"></h4>

                                <div class="row">
                                    <div class="offset-md-9 col-md-3">
                                        <label id="reportDate"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body" id="salesReport">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-xs-12 text-center" id="testSpan" style="display: none">

            <span>
                Please wait Data is loading -
                <img src="~/AssetStatic/Images/Double Ring.gif" />
            </span>

        </div>
    </section>
@section Scripts{
    <script>
        $(function () {

            LoadDivision('ddlDivision');
            LoadAreaByDivisionId('ddlArea');
            LoadTerritoryByAreaId('ddlTerritory');
            LoadMarketByTerritoryId('ddlMarket');
            LoadFilteredCustomers('ddlCustomer');

            $('#dateRange').daterangepicker({
                locale: {
                    format: 'DD MMM YYYY'
                }
            });

            $("#ddlDivision").on("change",
               function () {
                   LoadAreaByDivisionId('ddlArea', $(this).val());
               });
            $("#ddlArea").on("change",
                function () {
                    LoadTerritoryByAreaId('ddlTerritory', $(this).val());
                });
            $("#ddlTerritory").on("change",
                function () {
                    LoadFilteredCustomers('ddlCustomer',
                        $("#ddlDivision").val(),
                        $("#ddlArea").val(),
                        $("#ddlTerritory").val());

                    LoadMarketByTerritoryId('ddlMarket', $("#ddlTerritory").val());
                });

            $("#allCheckbox").on("change",
               function () {
                   if ($('#allCheckbox').is(':checked')) {
                       $(".customerType").prop("checked", true);

                   }
                   else {
                       $(".customerType").prop("checked", false);

                   }
               });


            $("#allCheckbox").trigger('change');

        });

        function chkbox() {

            if ($('input.customerType:checked').length == 5) {
                $(".customerType").prop("checked", true);
                $("#allCheckbox").prop("checked", true);
            }
            else {
                $("#allCheckbox").prop("checked", false);
            }
        }

        function LoadReport() {
            if (RptValidation() == true) {

                var urlpath = '@Url.Action("SalesOrderWiseCustomerSalesReport", "SalesOrderProcess")';

                var array = [];
                var dateRange = $('#dateRange').val();
                array = dateRange.split('-');
                var reportType = 1;
                var summary = 0;
                var customerType = '';


                if ($('#orderRadio').is(':checked')) {
                    reportType = $('#orderRadio').val();
                    $('#reportHeader').html("Customer Sales Report (Order wise)");
                }

                if ($('#challanradio').is(':checked')) {
                    reportType = $('#challanradio').val();
                    $('#reportHeader').html("Customer Sales Report (Challan wise)");
                }
                if ($('#deliveryradio').is(':checked')) {
                    reportType = $('#deliveryradio').val();
                    $('#reportHeader').html("Customer Sales Report (Delivery wise)");
                }
                summary = $("input[name='dateType']:checked").val();

                //if ($('#summaryradio').is(':checked')) {
                //    summary =1;
                //}

                if ($('#horecaCheckbox').is(':checked')) {

                    customerType += ',' + $('#horecaCheckbox').val();
                }

                if ($('#corporateCheckbox').is(':checked')) {

                    customerType += ',' + $('#corporateCheckbox').val();
                }
                if ($('#ownSaleCheckbox').is(':checked')) {

                    customerType += ',' + $('#ownSaleCheckbox').val();
                }
                if ($('#fatcoryCheckbox').is(':checked')) {

                    customerType += ',' + $('#fatcoryCheckbox').val();
                }
                if ($('#dealerCheckbox').is(':checked')) {

                    customerType += ',' + $('#dealerCheckbox').val();
                } if ($('#mdtCheckbox').is(':checked')) {

                    customerType += ',' + $('#mdtCheckbox').val();
                }
                if ($('#productionCheckbox').is(':checked')) {

                    customerType += ',' + $('#productionCheckbox').val();
                }
                if ($('#ownConsumptionCheckbox').is(':checked')) {

                    customerType += ',' + $('#ownConsumptionCheckbox').val();
                }
                if ($('#retailerCheckbox').is(':checked')) {

                    customerType += ',' + $('#retailerCheckbox').val();
                }
                if ($('#customerSampleCheckbox').is(':checked')) {

                    customerType += ',' + $('#customerSampleCheckbox').val();
                }
                if ($('#rdSampleCheckbox').is(':checked')) {

                    customerType += ',' + $('#rdSampleCheckbox').val();
                }


                var customerId = $('#ddlCustomer').val();

                $.ajax({
                    url: urlpath,
                    data: { fromDate: array[0], toDate: array[1], reportType: reportType, summary: summary, customerTypeId: customerType, customerId: customerId },
                    dataType: 'html',
                    type: "Get",
                    success: function (data) {
                        $('#testSpan').hide();
                        $("#salesReport").html(data);
                    },
                    complete: function () {

                        $('#salesTable').DataTable({
                            scrollX: true,
                            pageLength: 100
                        });
                        $('#reportDate').text('Report from: ' + array[0] + 'to :' + array[1]);
                    },
                    beforeSend: function () {
                        $('#testSpan').show();
                        $("#salesReport").empty();
                    }

                });
            }
        }

        function RptValidation() {



            var isValid = true;
            if (($('#stockDate').val() == 0 || $('#stockDate').val() == '') && rpt == 'DailyStockSummery') {
                ValidationColorChangeNew('stockDate', 'divStockDate', 'Please Select Stock Date', true);
                isValid = false;
            }
            //if (($('#stockMonth').val() == 0 || $('#stockMonth').val() == '') && rpt == 'MonthlyStockSummery') {
            //    ValidationColorChangeNew('stockMonth', 'divstockMonth', 'Please Select Stock Month', true);
            //    isValid = false;
            //}

            //if ($('#ddlReportName').val() == 0 || $('#ddlReportName').val() == '') {
            //    ValidationColorChangeNew('ddlReportName', 'divReportName', 'Please Select Report Name', true);
            //    isValid = false;
            //}
            return isValid;
        }


        function exportExcel(e) {

            if ($('#salesTable tbody tr').length == 0) {
                swal("No Data to Export");
            } else {

                var file = new Blob([$('#salesReportDiv').html()], { type: "application/vnd.ms-excel" });
                var url = URL.createObjectURL(file);
                var a = $("<a />", {
                    href: url,
                    download: "SalesPersonWiseSalesReport.xls"

                }).appendTo("body").get(0).click();
                e.preventDefault();
            }



        }

    </script>
}