﻿
@{
    ViewBag.Title = "ProductWiseSalesSummery";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">  Product Wise Sales Summery </h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card" style="height: 335px">
                                    <div class="card-header">
                                        <h3 class="card-title">
                                            <i class="fa fa-arrow-down"></i>
                                            Customer hierarchy & Customer Name
                                        </h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <div class="form-group " id="divDivision">
                                            <label>Division</label>
                                            <select class="form-control select2" id="ddlDivision" style="width: 100%;"></select>
                                        </div>
                                        <div class="form-group " id="divArea">
                                            <label>Area</label>
                                            <select class="form-control select2" id="ddlArea" style="width: 100%;"> </select>
                                        </div>
                                        <div class="form-group " id="divTerritory">
                                            <label>Territory</label>
                                            <select class="form-control select2" id="ddlTerritory" style="width: 100%;"> </select>
                                        </div>
                                        <div class="form-group" id="divMarket">
                                            <label>Market</label>
                                            <select class="form-control select2" id="ddlMarket" style="width: 100%;"> </select>
                                        </div>
                                        <div class="form-group " id="divCustomer">
                                            <label>Customer</label>
                                            <select class="form-control select2" id="ddlCustomer" style="width: 100%;"> </select>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <div class="col-md-4">
                                <div class="card" style="height: 350px">
                                    <div class="card-header">
                                        <h3 class="card-title">
                                            <i class="fa fa-search"></i>
                                             Report Searching Criteria
                                        </h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">

                                        <div class="form-group ">
                                            <label for="dressDateId ">Report Date Range</label>
                                            <input type="text" class="form-control datepicker" autocomplete="off" id="dateRange">
                                        </div>
                                        <div class="form-group" id="divLocation">
                                            <label for="ddlLocation">Location</label>
                                            <select class="form-control select2" id="ddlLocation" style="width: 100%;" onchange="LoadWHByLocation('ddlWareHouse')"></select>
                                        </div>
                                        <div class="form-group" id="divWareHouse">
                                            <label for="ddlWareHouse">Warehouse</label>
                                            <select id="ddlWareHouse" class="form-control select2" onchange="LoadProductDetails()"></select>
                                        </div>
                                        <div class="form-group " id="divGroup">
                                            <label>Group</label>
                                            <select class="form-control select2" id="ddlgroup" style="width: 100%;"></select>
                                        </div>
                                        <div class="form-group " id="divProduct">
                                            <label>Product</label>
                                            <select class="form-control select2" id="ddlProduct" style="width: 100%;"></select>
                                        </div>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card" style="height: 350px">
                                    <div class="card-header">
                                        <h3 class="card-title">
                                            <i class="ion ion-clipboard mr-1"></i>
                                            Customer Type
                                        </h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <div class="col-md-6">
                                            <ul class="todo-list">
                                                <li>
                                                    <!-- drag handle -->
                                                    <!-- checkbox -->
                                                    <div class="icheck-primary d-inline ml-2">
                                                        <input type="checkbox" id="allCheckbox" value="0" checked>
                                                        <label for="allCheckbox"></label>
                                                    </div>
                                                    <!-- todo text -->
                                                    <span class="text">All</span>
                                                    <!-- Emphasis label -->
                                                    <!-- General tools such as edit or delete-->
                                                </li>
                                                <li>
                                                    <div class="icheck-primary d-inline ml-2">
                                                        <input type="checkbox" class="form-control-input customerType" id="horecaCheckbox" value="1" onclick="chkbox()">
                                                        <label for="horecaCheckbox"></label>
                                                    </div>
                                                    <span class="text">HORECA</span>
                                                </li>
                                                <li>
                                                    <div class="icheck-primary d-inline ml-2">
                                                        <input type="checkbox" class="form-control-input customerType" id="corporateCheckbox" value="2" onclick="chkbox()">
                                                        <label for="corporateCheckbox"></label>
                                                    </div>
                                                    <span class="text">Corporate</span>
                                                </li>
                                                <li>
                                                    <div class="icheck-primary d-inline ml-2">
                                                        <input type="checkbox" class="form-control-input customerType" id="ownSaleCheckbox" value="3" onclick="chkbox()">
                                                        <label for="ownSaleCheckbox"></label>
                                                    </div>
                                                    <span class="text">Own Sales</span>
                                                </li>
                                                <li>
                                                    <div class="icheck-primary d-inline ml-2">
                                                        <input type="checkbox" class="form-control-input customerType" id="fatcoryCheckbox" value="4" onclick="chkbox()">
                                                        <label for="fatcoryCheckbox"></label>
                                                    </div>
                                                    <span class="text">Fatcory</span>
                                                </li>
                                                <li>
                                                    <div class="icheck-primary d-inline ml-2">
                                                        <input type="checkbox" class="form-control-input customerType" id="dealerCheckbox" value="5" onclick="chkbox()">
                                                        <label for="dealerCheckbox"></label>
                                                    </div>
                                                    <span class="text">Dealer</span>
                                                </li>
  
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="todo-list">
                                                <li>
                                                    <div class="icheck-primary d-inline ml-2">
                                                        <input type="checkbox" class="form-control-input customerType" id="mdtCheckbox" value="6" onclick="chkbox()">
                                                        <label for="mdtCheckbox"></label>
                                                    </div>
                                                    <span class="text">Modern Trade</span>
                                                </li>
                                                <li>
                                                    <div class="icheck-primary d-inline ml-2">
                                                        <input type="checkbox" class="form-control-input customerType" id="productionCheckbox" value="7" onclick="chkbox()">
                                                        <label for="productionCheckbox"></label>
                                                    </div>
                                                    <span class="text">Production</span>
                                                </li>
                                                <li>
                                                    <div class="icheck-primary d-inline ml-2">
                                                        <input type="checkbox" class="form-control-input customerType" id="ownConsumptionCheckbox" value="8" onclick="chkbox()">
                                                        <label for="ownConsumptionCheckbox"></label>
                                                    </div>
                                                    <span class="text">Own Consumption</span>
                                                </li>
                                                <li>
                                                    <div class="icheck-primary d-inline ml-2">
                                                        <input type="checkbox" class="form-control-input customerType" id="retailerCheckbox" value="9" onclick="chkbox()">
                                                        <label for="retailerCheckbox"></label>
                                                    </div>
                                                    <span class="text">Retailer</span>
                                                </li>
                                                <li>
                                                    <div class="icheck-primary d-inline ml-2">
                                                        <input type="checkbox" class="form-control-input customerType" id="customerSampleCheckbox" value="10" onclick="chkbox()">
                                                        <label for="customerSampleCheckbox"></label>
                                                    </div>
                                                    <span class="text">Customer Sample</span>
                                                </li>
                                                <li>
                                                    <div class="icheck-primary d-inline ml-2">
                                                        <input type="checkbox" class="form-control-input customerType" id="rdSampleCheckbox" value="11" onclick="chkbox()">
                                                        <label for="rdSampleCheckbox"></label>
                                                    </div>
                                                    <span class="text">R & D Sample</span>
                                                </li>
                                            </ul>
                                        </div>
                                     
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                            </div>
                        </div>
                        @*<div class="row">


                            </div>
                            <div class="row">


                                <div class="form-check form-checkbox col-md-1">
                                    <input class="form-control-input" type="checkbox" id="allCheckbox" checked value="0">
                                    <label for="allCheckbox" class="form-control-label">All</label>
                                </div>
                                <div class="form-check form-checkbox col-md-1">
                                    <input class="form-control-input customerType" type="checkbox" id="horecaCheckbox" value="1" onclick="chkbox()">
                                    <label for="horecaCheckbox" class="form-control-label ">HORECA</label>
                                </div>
                                <div class="form-check form-checkbox col-md-1">
                                    <input class="form-control-input customerType" type="checkbox" id="corporateCheckbox" value="2" onclick="chkbox()">
                                    <label for="corporateCheckbox" class="form-control-label">Corporate</label>
                                </div>
                                <div class="form-check form-checkbox col-md-1">
                                    <input class="form-control-input customerType" type="checkbox" id="ownSaleCheckbox" value="3" onclick="chkbox()">
                                    <label for="ownSaleCheckbox" class="form-control-label">Own Sales</label>
                                </div>
                                <div class="form-check form-checkbox col-md-1">
                                    <input class="form-control-input customerType" type="checkbox" id="fatcoryCheckbox" value="4" onclick="chkbox()">
                                    <label for="fatcoryCheckbox" class="form-control-label">Fatcory</label>
                                </div>
                                <div class="form-check form-checkbox col-md-1">
                                    <input class="form-control-input customerType" type="checkbox" id="dealerCheckbox" value="5" onclick="chkbox()">
                                    <label for="dealerCheckbox" class="form-control-label">Dealer</label>
                                </div>
                            </div>
                            <div class="row">




                            </div>*@
                    </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary" onclick="LoadReport()">Submit</button>
                    <button class="btn btn-success float-right" onclick="exportExcel()"><span class="fa fa-print"></span> Export To Excel</button>
                </div>
                    <div class="col-md-offset-1" id="loading" style="display: none">

                        <img src="~/AssetStatic/Images/loder2.gif" style="z-index: 70" alt="Loading Please Wait"/>
                    
                    </div>
                </div>
                <!-- /.card -->
                
                <div class="card divclass" id="salesReportDiv">
                    <div class="card-header with-border">
                        <div id="">
                            <h3 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="companyHeader">IG Foods Ltd</h3>
                            <h4 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="reportHeader">Product Wise Sales Summery</h4>

                            <div class="row">
                                <div class="offset-md-9 col-md-3">
                                    <label id="reportDate"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="salesReport">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script>
        $(function () {

            LoadDivision('ddlDivision');
            LoadAreaByDivisionId('ddlArea');
            LoadTerritoryByAreaId('ddlTerritory');
            LoadMarketByTerritoryId('ddlMarket');
            LoadFilteredCustomers('ddlCustomer');
            LoadLocation('ddlLocation', 7);
            $('#dateRange').daterangepicker({
                locale: {
                    format: 'DD MMM YYYY'
                }
            });

            $("#ddlDivision").on("change",
               function () {
                   LoadAreaByDivisionId('ddlArea', $(this).val());
               });
            $("#ddlArea").on("change",
                function () {
                    LoadTerritoryByAreaId('ddlTerritory', $(this).val());
                });
            $("#ddlTerritory").on("change",
                function () {
                    LoadFilteredCustomers('ddlCustomer',
                        $("#ddlDivision").val(),
                        $("#ddlArea").val(),
                        $("#ddlTerritory").val());

                    LoadMarketByTerritoryId('ddlMarket', $("#ddlTerritory").val());
                });

            $("#allCheckbox").on("change",
               function () {
                   if ($('#allCheckbox').is(':checked')) {
                       $(".customerType").prop("checked", true);

                   }
                   else {
                       $(".customerType").prop("checked", false);

                   }
               });


            $("#allCheckbox").trigger('change');
            LoadGroup();
            LoadProducts();
        });
        function LoadWHByLocation(warehouse)
        {
            LoadWareHouse(warehouse, $("#ddlLocation").val(), 3);
        }
        function chkbox() {

            if ($('input.customerType:checked').length == 5) {
                $(".customerType").prop("checked", true);
                $("#allCheckbox").prop("checked", true);
            }
            else {
                $("#allCheckbox").prop("checked", false);
            }
        }
        function LoadGroup() {
            var urlpath = '@Url.Action("LoadGroup", "ProductType")';

            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {
                    $('#ddlgroup').empty();
                    $('#ddlgroup').append("<option value='0'>--Select Group--</option>");


                    for (var i = 0; i < data.length; i++) {

                        $("#ddlgroup").append($("<option></option>").val(data[i].GroupId).html(data[i].GroupName));

                    }
                }
            });
        }
        function LoadProducts() {


            var urlpath = '@Url.Action("GetProductByGroup", "Utility")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { groupId: 5 },
                async: false,
                success: function (data) {

                    $('#ddlProduct').empty();
                    $('#ddlProduct').append("<option value='0'>--Select Product--</option>");


                    for (var i = 0; i < data.length; i++) {

                        $("#ddlProduct").append($("<option></option>").val(data[i].ProductId).html(data[i].ProductName));

                    }

                }
            });
        }


        function LoadReport() {
            if (RptValidation() == true) {
                $('#loading').show();
                var urlpath = '@Url.Action("ProductWiseSalesSummeryReport", "SalesOrderProcess")';

                var array = [];
                var dateRange = $('#dateRange').val();
                array = dateRange.split('-');
                var customerType = '';


                if ($('#horecaCheckbox').is(':checked')) {

                    customerType += ',' + $('#horecaCheckbox').val();
                }

                if ($('#corporateCheckbox').is(':checked')) {

                    customerType += ',' + $('#corporateCheckbox').val();
                }
                if ($('#ownSaleCheckbox').is(':checked')) {

                    customerType += ',' + $('#ownSaleCheckbox').val();
                }
                if ($('#fatcoryCheckbox').is(':checked')) {

                    customerType += ',' + $('#fatcoryCheckbox').val();
                }
                if ($('#dealerCheckbox').is(':checked')) {

                    customerType += ',' + $('#dealerCheckbox').val();
                }
                if ($('#mdtCheckbox').is(':checked')) {

                    customerType += ',' + $('#mdtCheckbox').val();
                }
                if ($('#productionCheckbox').is(':checked')) {

                    customerType += ',' + $('#productionCheckbox').val();
                }
                if ($('#ownConsumptionCheckbox').is(':checked')) {

                    customerType += ',' + $('#ownConsumptionCheckbox').val();
                }
                if ($('#retailerCheckbox').is(':checked')) {

                    customerType += ',' + $('#retailerCheckbox').val();
                }
                if ($('#customerSampleCheckbox').is(':checked')) {

                    customerType += ',' + $('#customerSampleCheckbox').val();
                }
                if ($('#rdSampleCheckbox').is(':checked')) {

                    customerType += ',' + $('#rdSampleCheckbox').val();
                }

                var groupId = $('#ddlgroup').val();
                var divisionId = $('#ddlDivision').val();
                var areaId = $('#ddlArea').val();
                var territoryId = $('#ddlTerritory').val();
                var marketId = $('#ddlMarket').val();
                var customerId = $('#ddlCustomer').val();
                var productId = $('#ddlProduct').val();
                var warehouseId = 0;
                if ($('#ddlWareHouse').val() == null || $('#ddlWareHouse').val() == "")
                {
                    warehouseId = 0;
                }
                else {
                     warehouseId = $('#ddlWareHouse').val();

                }
                $.ajax({
                    url: urlpath,
                    data: { fromDate: array[0], toDate: array[1], customerTypeId: customerType, groupId: groupId, divisionId: divisionId, areaId: areaId, territoryId: territoryId, marketId: marketId, customerId: customerId, productId: productId, warehouseId: warehouseId },
                    dataType: 'html',
                    type: "Get",
                    success: function (data) {
                        $('#loading').hide();
                        $("#salesReport").html(data);
                    },
                    complete: function () {

                        $('#reportDate').text('Report from: ' + array[0] + 'to :' + array[1]);
                        $('#loading').hide();
                    }

                });
            }
        }

        function RptValidation() {



            var isValid = true;
            //if (($('#stockDate').val() == 0 || $('#stockDate').val() == '') ) {
            //    ValidationColorChangeNew('stockDate', 'divStockDate', 'Please Select Stock Date', true);
            //    isValid = false;
            //}
            if ($('#ddlLocation').val() > 0) {
                if ($('#ddlLocation').val() == 0 || $('#ddlLocation').val() == '') {
                    ValidationColorChangeNew('ddlLocation', 'divLocation', 'Please Select Location', true);
                    isValid = false;
                }
                if ($('#ddlWareHouse').val() == 0 || $('#ddlWareHouse').val() == '') {
                    ValidationColorChangeNew('ddlWareHouse', 'divWareHouse', 'Please Select Warehouse', true);
                    isValid = false;
                }
            }


            return isValid;
        }


        function exportExcel(e) {

            if ($('#salesTable tbody tr').length == 0) {
                swal("No Data to Export");
            } else {

                var file = new Blob([$('#salesReportDiv').html()], { type: "application/vnd.ms-excel" });
                var url = URL.createObjectURL(file);
                var a = $("<a />", {
                    href: url,
                    download: "SalesPersonWiseSalesReport.xls"

                }).appendTo("body").get(0).click();
                e.preventDefault();
            }



        }

    </script>
}