﻿@model IEnumerable<IGFoodProject.ViewModel.ViewCustomerInfo>
@{
    Layout = null;
}
@{
    int count = 0;
}
<table class="table table-bordered table-striped table-hover" id="theTable">
    <thead>
        <tr style="background-color: aliceblue">
            <th style="text-align: center">#</th>
            <th style="text-align: center">Customer Name</th>
            <th style="text-align: center">Customer Code</th>
            <th style="text-align: center">Customer Type</th>
            <th style="text-align: center">Division</th>
            <th style="text-align: center">District</th>
            <th style="text-align: center">Market</th>
            <th style="text-align: center">Payment Type</th>
            <th style="text-align: center">Create Date</th>
            <th style="text-align: center">Credit Cus.</th>
            <th style="text-align: center">Cost Cen.</th>
            <th style="text-align: center">Action</th>
        </tr>
    </thead>
    <tbody class="Traylist">
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@item.CustomerName</td>
                <td>@item.CustomerCode</td>
                <td>@item.CoustomerTypeName</td>
                <td>@item.DivisionName</td>
                <td>@item.DistrictName</td>
                <td>@item.MarketName</td>
                <td>@item.PaymentType</td>
                <td>@Convert.ToDateTime(item.CreateDate).ToString("dd-MMM-yyyy")</td>

                @if (item.IsCredit == true)
                {
                    <td>Credit</td>
                }
                else
                {
                    <td>Cash</td>
                }

                @if (item.CostCenterName != null)
                {
                    <td>@item.CostCenterName</td>
                }
                else
                {
                    <td></td>
                }

                <td>
                    @Html.ActionLink("Edit", "AddCustomer", "Customer", new { id = @item.CustomerID }, new { @class = "btn btn-primary btn-xs btn-custom btn-rounded waves-effect waves-light" })
                    <button class="btn btn-danger  btn-xs btn-custom btn-rounded waves-effect waves-light" onclick="CustomerDelete(@item.CustomerID)"> Delete</button>
                </td>
            </tr>

        }
    </tbody>
</table>




