﻿@model IEnumerable<IGFoodProject.Models.tbl_CustomerInformation>


<table class="table table-bordered" id="dealerTable">

    <thead>
    <tr>
        <th>#</th>
        <th>Select</th>
        <th>Dealer Code</th>
        <th>Dealer Name</th>
    </tr>
    </thead>
    <tbody>
        @{ int count = 1;}

        @foreach (var item in Model)
        {
            <tr id="tr_@item.CustomerID">
                <td>@count</td>

                <td>
                    <input id="check_@item.CustomerID" name="dealer" type="radio" />
                </td>
                <td><label>@item.CustomerCode </label></td>
                <td><label>@item.CustomerName </label></td>
            </tr>
            count++;
        }
    </tbody>
</table>
