﻿@model IGFoodProject.Models.tbl_CustomerInformation
@{
    ViewData["Title"] = "AddCustomer";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-3">
                                <h3 class="card-title"><span class="fa fa-eye"></span> Customer Entry Page</h3>
                            </div>
                            <div class="col-md-4">
                                <a href="@Url.Action("CustomerList", "Customer")"><h3 class="card-title"><span class="fa fa-list"></span> Go To Customer List</h3></a>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card-body">
                                @*<div class="form-group" id="divCustomerName">
                                        <label for="txtCustomerName">Customer Name</label>
                                        <input type="text" class="form-control" id="txtCustomerName" value="@Model.CustomerName" />
                                    </div>*@
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group" id="divCustomerType">
                                            <label for="ddlCustomerType">Customer Type</label>
                                            <select class="form-control select2 " id="ddlCustomerType"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-check" style="margin-top: 25px;">
                                            <input type="checkbox" id="chkIsEmployee" value="@Model.IsEmployee" onchange="EmpCheckChange(); LoadEmp();" disabled />
                                            <label class="form-check-label" for="chkIsEmployee">IsEmployee</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" id="divCustomerName">
                                    <label for="txtCustomerName">Customer Name</label>
                                    <input type="text" class="form-control" id="txtCustomerName" value="@Model.CustomerName" />
                                </div>
                                <div class="form-group" id="divEmployee">
                                    <label for="ddlEmployee">Employee</label>
                                    <select class="form-control select2" id="ddlEmployee" style="width:100%" onchange="GetCustomerNameEmpId()"></select>
                                </div>
                                <div class="form-group" id="divMotherName">
                                    <label for="txtMotherName">Mother Name</label>
                                    <input type="text" class="form-control" id="txtMotherName" value="@Model.MotherName" />
                                </div>
                                <div class="form-group" id="divPersonalContact">
                                    <label for="txtPersonalContact">Contact</label>
                                    <input type="text" class="form-control" id="txtPersonalContact" value="@Model.PersonalContact" />
                                </div>
                                <div class="form-group" id="divCustomerCurrency">
                                    <label for="txtCustomerCurrency">Customer Currency</label>
                                    <input type="text" class="form-control" id="txtCustomerCurrency" value="@Model.CustomerCurrency" />
                                </div>

                                <div class="form-group" id="divGLAccountGroup" style="display: none">
                                    <label for="txtGLAccountGroup">GL Account Group</label>
                                    <input type="number" class="form-control" id="txtGLAccountGroup" value="0" />
                                </div>
                                <div class="form-group" id="divSecondaryPhoneNumber">
                                    <label for="txtSecondaryPhoneNumber">Secondary Phone Number</label>
                                    <input type="text" class="form-control" id="txtSecondaryPhoneNumber" value="@Model.SecondaryPhoneNumber" />
                                </div>
                                <div class="form-group" id="divDiscountPercent">
                                    <label for="txtDiscountPercent">Commission Percent</label>
                                    <input type="number" class="form-control" id="txtDiscountPercent" min="0" value="@Model.DiscountPercent" />
                                </div>
                                <div class="form-group" id="divRetentionPriority">
                                    <label for="txtRetentionPriority">Retention Priority</label>
                                    <input type="text" class="form-control" id="txtRetentionPriority" min="0" value="@Model.RetentionPriority" />
                                </div>
                                <div class="form-group" id="divDefaultShippingCompany">
                                    <label for="txtDefaultShippingCompany">Default Shipping Company</label>
                                    <input type="number" class="form-control" id="txtDefaultShippingCompany" value="@Model.DefaultShippingCompany" />
                                </div>
                                <div class="form-group" id="divNid">
                                    <label for="txtNid">NID</label>
                                    <input type="text" class="form-control" id="txtNid" value="@Model.NID" />
                                </div>

                                <div class="form-group" id="divDealerWHName">
                                    <label for="txtDealerWHName">Warehouse Name</label>
                                    <input type="text" class="form-control" id="txtDealerWHName" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-body">
                                <div class="form-group" id="divCustomerShortName">
                                    <label for="txtCustomerShortName">Customer Short Name</label>
                                    <input type="text" class="form-control" id="txtCustomerShortName" value="@Model.CustomerShortName" />
                                </div>
                                <div class="form-group" id="divDateOfBirth">
                                    <label for="txtProduct">DOB</label>
                                    <input type="text" class="form-control ddate" id="txtDateOfBirth" name="txtDateOfBirth" data-date-autoclose="true" data-date-today-highlight="true" data-date-format="dd-M-yyyy" />
                                </div>
                                <div class="form-group" id="divPersonalAddress">
                                    <label for="txtPersonalAddress">Address</label>
                                    <input type="text" class="form-control" id="txtPersonalAddress" value="@Model.PersonalAddress" />
                                </div>
                                <div class="form-group" id="divGSTNo">
                                    <label for="txtGSTNo">GSTNo</label>
                                    <input type="text" class="form-control" id="txtGSTNo" value="@Model.GSTNo" />
                                </div>
                                <Div class="row">
                                    @*<div class="col-md-6" style="margin-left:20px">
                                            <div class="form-group" id="divCustomerType">
                                                <label for="ddlCustomerType">Customer Type</label>
                                                <select class="form-control select2 " id="ddlCustomerType" onchange="CustomerTypeChange()" ></select>

                                            </div>
                                        </div>*@
                                    <div class="col-md-2">
                                        <div class="form-group" id="divhasDealer">
                                            <label for="hasDealer">Has Dealer </label>
                                            <input type="checkbox" id="hasDealer" onclick="HasDealer()" />
                                        </div>
                                    </div>
                                </Div>
                                <div class="form-group" id="divPhone">
                                    <label for="txtPhone">Phone</label>
                                    <input type="text" class="form-control" id="txtPhone" value="@Model.Phone" />
                                </div>
                                <div class="form-group" id="divInventoryLocation">
                                    <label for="txtInventoryLocation">Inventory Location</label>
                                    <input type="text" class="form-control" id="txtInventoryLocation" value="@Model.DefaultInventoryLocation" />
                                </div>
                                <div class="form-group" id="divFaxNumber">
                                    <label for="txtFaxNumber">Fax Number</label>
                                    <input type="text" class="form-control" id="txtFaxNumber" value="@Model.FaxNumber" />
                                </div>
                                <div class="form-group" id="divPaymentTerms">
                                    <label for="ddlPamentType">Payment Type</label>
                                    <select class="form-control select2" id="ddlPamentType"></select>
                                </div>
                                <div class="form-group" id="divDefaultInventoryLocation" style="display: none">
                                    <label for="txtDefaultInventoryLocation">Default Inventory Location</label>
                                    <input type="number" class="form-control" id="txtDefaultInventoryLocation" value="0" />
                                </div>
                                <div class="form-group" id="divTradeLicence">
                                    <label for="txtTradeLicence">Trade Licence</label>
                                    <input type="number" class="form-control" id="txtTradeLicence" value="@Model.TradeLicence" />
                                </div>
                                <div class="form-group" id="divDealerWHAddress">
                                    <label for="txtDealerWHAddress">Warehouse Address</label>
                                    <input type="text" class="form-control" id="txtDealerWHAddress" />
                                </div>
                                <div class="form-group" id="divCostCenter">
                                    <label for="ddlCostCenter">Cost Center</label>
                                    <select class="form-control select2" id="ddlCostCenter"></select>
                                </div>
                                <div class="form-check" style="margin-top: 13px;">
                                    <input type="checkbox" class="form-check-input" id="chkIsCredit">
                                    <label class="form-check-label" for="chkIsCredit" style="margin-left: 20px;">IsCredit</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-body">
                                <div class="col-md-12">
                                    <div class="form-group" id="divFatherName">
                                        <label for="txtFatherName">Father Name</label>
                                        <input type="text" class="form-control" id="txtFatherName" value="@Model.FatherName" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group" id="divDivision">
                                            <label for="ddlDivision">Division</label>
                                            <select class="form-control select2" id="ddlDivision" onchange="LoadArea('ddlArea'); LoadDistrict('ddlDistrict');"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" id="divArea">
                                            <label for="ddlArea">Area</label>
                                            <select class="form-control select2" id="ddlArea" onchange="LoadTerritory('ddlTerritory')"></select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group" id="divTerritory">
                                            <label for="ddlTerritory">Territory</label>
                                            <select class="form-control select2" onchange="LoadMarket('ddlMarket')" id="ddlTerritory"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" id="divMarket">
                                            <label for="ddlMarket">Market</label>
                                            <select class="form-control select2" id="ddlMarket"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group" id="divDistrict">
                                            <label for="ddlDistrict">District</label>
                                            <select class="form-control select2" onchange="LoadThana('ddlThana')" id="ddlDistrict"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" id="divThana">
                                            <label for="ddlThana">Thana</label>
                                            <select class="form-control select2" id="ddlThana"></select>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-check" style="margin-top: 23px;">
                                    <input type="checkbox" class="form-check-input" id="chkIsContractor" />
                                    <label class="form-check-label" for="chkIsContractor" style="margin-left: 20px;">IsContractor</label>
                                </div>
                                <div class="form-check" style="margin-top: 32px;">
                                    <input type="checkbox" class="form-check-input" id="chkIsRetention">
                                    <label class="form-check-label" for="chkIsRetention" style="margin-left: 20px;">IsRetention</label>
                                </div>
                                <div class="form-check" style="margin-top: 32px;">
                                    <input type="checkbox" class="form-check-input" id="chkTSRelease">
                                    <label class="form-check-label" for="chkTSRelease" style="margin-left: 20px;">TSRelease</label>
                                </div>
                                @*<div class="form-check" style="margin-top: 32px;">
                                        <input type="checkbox" class="form-check-input" id="chkIsCredit">
                                        <label class="form-check-label" for="chkIsCredit">IsCredit</label>
                                    </div>*@
                                <div class="form-group" id="divEmail" style="margin-top: 10px;">
                                    <label for="txtEmail">Email</label>
                                    <input type="text" class="form-control" id="txtEmail" value="@Model.Email" />
                                </div>
                                <div class="form-group" id="divCreditStatus" style="display: none">
                                    <label for="txtCreditStatus">Credit Status</label>
                                    <input type="text" class="form-control" id="txtCreditStatus" value="0" />
                                </div>
                                <div class="form-group" id="divTin">
                                    <label for="txtTin">TIN</label>
                                    <input type="text" class="form-control" id="txtTin" value="@Model.TIN" />
                                </div>
                                <div class="form-group" id="divDealerWHArea">
                                    <label for="divDealerWHArea">Warehouse Area</label>
                                    <input type="text" class="form-control" id="txtDealerWHArea" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button class="btn btn-primary" onclick="SaveFinal()">Submit</button>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
                <!-- Form Element sizes -->
                <!-- /.card -->
                <!-- /.card -->
                <!-- Input addon -->
                <!-- /.card -->
                <!-- Horizontal Form -->
                <!-- /.card -->
            </div>
            <!--/.col (left) -->
            <!-- right column -->
            @*<div class="col-md-6">

                </div>*@
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
    <input id="txtCustomerId" type="number" style="display: none;" value="@ViewBag.customerid">
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Select Dealer</h4>
                </div>
                <div class="modal-body">
                    <div id="otherCustomer">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script>


        $(function () {
            $('#divDealerWHName').hide();
            $('#divDealerWHAddress').hide();
            $('#divDealerWHArea').hide();
            $('#txtDateOfBirth').datepicker();
            var id = $('#txtCustomerId').val();

            $('#divEmployee').hide();
            @*$('#ddlCustomerType').val('@Model.CustomerType');

            if ( '@Convert.ToDateTime(Model.DateOfBirth).ToString("dd-MMM-yyyy")' != '01-Jan-0001') {
                if (@Model.IsContractor== true) {
                    $('#chkIsContractor').attr('checked', true);
                }

            if (@Model.IsRetention== true) {
                $('#chkIsRetention').attr('checked', true);
            }
            if (@Model.TSRelease== true) {
                $('#chkTSRelease').attr('checked', true);
            }
                $('#txtDateOfBirth').val('@Convert.ToDateTime(Model.DateOfBirth).ToString("dd-MMM-yyyy")');
            }*@

            @*var creditStat = '@Model.IsCredit';
            if (creditStat == 'true') {
                $('#chkIsCredit').attr('checked', true);
            }*@

            LoadDivision('ddlDivision');
            LoadCustomerType('ddlCustomerType');
            LoadPaymentType('ddlPamentType');
            LoadCostCenter('ddlCostCenter');
            var customerId = $('#txtCustomerId').val();
            if (customerId > 0) {
                GetCustomerInfo(customerId);
                //$('#ddlCustomerType').prop('disabled', true);
            }

            $('#ddlCustomerType').change(function () {
                var custype = $('#ddlCustomerType').val();
                if (custype == 3) {
                    $("#chkIsEmployee").prop("disabled", false);
                    $('#divDealerWHName').hide();
                    $('#divDealerWHAddress').hide();
                    $('#divDealerWHArea').hide();
                } else {
                    if (custype == 5) {
                        $('#divDealerWHName').show();
                        $('#divDealerWHAddress').show();
                        $('#divDealerWHArea').show();
                    } else {
                        $('#divDealerWHName').hide();
                        $('#divDealerWHAddress').hide();
                        $('#divDealerWHArea').hide();
                    }
                    $("#chkIsEmployee").prop("disabled", true);
                    $("#chkIsEmployee").prop("checked", false);
                    $("#txtCustomerName").prop("disabled", false);
                    $("#txtMotherName").val('');
                    $("#txtNid").val('');
                    $("#txtFatherName").val('');
                    $('#divEmployee').hide();

                }


                var customerType = $("#ddlCustomerType option:selected").text().trim();

                if (customerType == 'Dealer') {

                } else {

                }


            });

        });

        function EmpCheckChange() {
            debugger;
            if ($("#chkIsEmployee").prop("checked") == true) {
                $("#txtCustomerName").prop("disabled", true);
                $('#divEmployee').show();
            } else {
                $("#txtCustomerName").prop("disabled", false);
                $("#txtCustomerName").val('');
                $('#divEmployee').hide();
            }
        }

        function LoadEmp() {
            LoadEmployeeChange('ddlEmployee');
        }

        function GetCustomerNameEmpId() {

            var empNo = $('#ddlEmployee').val();
            var urlpath = '@Url.Action("GetCustomerNameEmpId", "Customer")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { empNo: empNo },
                async: false,
                success: function (data) {
                    $('#txtCustomerName').val(data.CustomerName);
                    $('#txtFatherName').val(data.FatherName);
                    $('#txtMotherName').val(data.MotherName);
                    $('#txtPersonalContact').val(data.MobileNo);
                    $('#txtNid').val(data.NationalIDNo);

                }
            });


        }


        function GetCustomerInfo(customerId) {

            var urlpath = '@Url.Action("GetCustomerInfo", "Customer")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",
                data: { customerId: customerId },
                async: false,
                success: function (data) {

                    //console.log(data);

                    var divisionId = data.DivisionId;
                    var DistrictId = data.DistrictId;
                    var areaId = data.AreaId;
                    var TerritoryId = data.TerritoryId;
                    var MarketId = data.MarketId;
                    var ThanaId = data.ThanaId;
                    var PaymentType = data.PaymentType;
                    if (data.DateOfBirth != null) {
                        $('#txtDateOfBirth').val(ToJavaScriptDate(data.DateOfBirth));
                    }

                    $('#ddlDivision').val(divisionId);
                    LoadArea('ddlArea');
                    $('#ddlArea').val(areaId);
                    LoadTerritory('ddlTerritory');

                    LoadDistrict('ddlDistrict');

                    LoadMarket('ddlMarket');

                    $('#ddlTerritory').val(TerritoryId);

                    LoadMarket('ddlMarket');
                    $('#ddlMarket').val(MarketId);
                    $('#ddlDistrict').val(DistrictId);

                    LoadThana('ddlThana');
                    $('#ddlThana').val(ThanaId);
                    $('#ddlCustomerType').val(data.CustomerType);
                    $('#ddlPamentType').val(data.PaymentType);

                    LoadCostCenter('ddlCostCenter');
                    $('#ddlCostCenter').val(data.CostCenterId);

                    if (data.CustomerType == 5) {

                        var percent = data.DiscountPercent;
                        var name = data.CustomerWarehouseName;
                        var address = data.WareHouseAddress;
                        var area = data.WareHouseArea;
                        $('#txtDiscountPercent').val(data.DiscountPercent);
                        $('#divDealerWHAddress').show();
                        $('#divDealerWHName').show();
                        $('#divDealerWHArea').show();


                        $('#txtDealerWHName').val(name);
                        $('#txtDealerWHAddress').val(address);
                        $('#txtDealerWHArea').val(area);
                    }
                    debugger;
                    $('#divEmployee').hide();

                    if ($('#ddlCustomerType').val() == 3 && data.IsEmployee == true) {
                        $("#chkIsEmployee").prop("checked", true);
                        if (data.EMPID != "") {
                            //EmpAutoCom('txtSalesPerson', 'employeeSelect');
                            //GetCustomerNameEmpId();
                            var customerName = data.EMPID + ':' + data.CustomerName;
                            $('#txtCustomerName').val(customerName);
                            // $('#txtSalesPerson').val(customerName);
                            $("#txtCustomerName").prop("disabled", true);

                        }


                    } else {

                        $("#chkIsEmployee").prop("disabled", true);
                        $("#chkIsEmployee").prop("checked", false);
                        $("#txtCustomerName").prop("disabled", false);

                    }

                    if (data.IsCredit == true) {
                        $('#chkIsCredit').attr('checked', true);
                    }


                }
            });
        }

        function CustomerTypeChange() {
            var customerType = $("#ddlCustomerType option:selected").text().trim();

            if (customerType == 'Dealer') {
                $('#divDealerWHName').show();
                $('#divDealerWHAddress').show();
                $('#divDealerWHArea').show();
            } else {
                $('#divDealerWHName').hide();
                $('#divDealerWHAddress').hide();
                $('#divDealerWHArea').hide();
            }
        }

        function GetCustomerDealer() {
            var dealer = 0;
            $('#dealerTable tbody tr').each(function () {


                var idr = $(this).attr('id');
                var id = idr.substring(3);
                if ($('#check_' + id).is(':checked')) {
                    dealer = id;

                }
            });
            return dealer;
        }

        function HasDealer() {

            if ($('#hasDealer').is(':checked')) {
                $('#myModal').modal();
                LoadOtherCustomer();
            }

        }

        function LoadOtherCustomer() {
            var urlpath = '@Url.Action("LoadOtherCustomer", "Customer")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'html',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {
                    $('#otherCustomer').empty();
                    $('#otherCustomer').html(data);

                }
            });
        }

        function LoadDivision(elementId) {
            var urlpath = '@Url.Action("GetDivision", "Utility")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Division--</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].DivisionId).html(data[i].DivisionName));
                    }
                }
            });
        }


        function LoadArea(elementId) {

            var division = $('#ddlDivision').val();
            var urlpath = '@Url.Action("GetArea", "Utility")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",
                data: { division: division },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Area--</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].AreaId).html(data[i].AreaName));
                    }
                }
            });
        }

        function LoadDistrict(elementId) {

            var division = $('#ddlDivision').val();
            var urlpath = '@Url.Action("GetDistrict", "Utility")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",
                data: { division: division },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select District--</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].DistrictId).html(data[i].DistrictName));
                    }
                }
            });
        }

        function LoadThana(elementId) {

            var district = $('#ddlDistrict').val();
            var urlpath = '@Url.Action("GetThana", "Utility")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",
                data: { district: district },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Thana--</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].ThanaId).html(data[i].ThanaName));
                    }
                }
            });
        }

        function LoadTerritory(elementId) {

            var area = $('#ddlArea').val();
            var urlpath = '@Url.Action("GetTerritory", "Utility")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",
                data: { area: area },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Territory--</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].TerritoryId).html(data[i].TerritoryName));
                    }
                }
            });
        }


        function LoadMarket(elementId) {

            var territory = $('#ddlTerritory').val();
            var urlpath = '@Url.Action("GetMarket", "Utility")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",
                data: { territory: territory },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Territory--</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].MarketId).html(data[i].MarketName));
                    }
                }
            });
        }


        function LoadCustomerType(elementId) {

            var urlpath = '@Url.Action("GetCustomerType", "Utility")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",

                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Customer Type --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].CustomerTypeID).html(data[i].CoustomerTypeName));
                    }
                }
            });
        }

        function LoadPaymentType(elementId) {

            var urlpath = '@Url.Action("GetPaymentType", "Utility")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",

                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Payment --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].PaymentTypeId).html(data[i].PaymentType));
                    }
                }
            });
        }

        function LoadCostCenter(elementId) {

            var urlpath = '@Url.Action("GetCostCenter", "Utility")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",

                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Cost Center --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].CostCenterId).html(data[i].CostCenterName));
                    }
                }
            });
        }

        function LoadEmployeeChange(elementId) {

            var urlpath = '@Url.Action("GetEmployee", "Utility")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",

                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Employee --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].EmpNo).html(data[i].EmpName));
                    }
                }
            });
        }

        function SaveFinal() {

            //Swal("Hello World");
            if (Validation() == true) {

                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveCustomer();

                });
            }

        }

        function ValidateCustomer(id, name) {

            var result = 0;
            var urlpath = '@Url.Action("CheckCustomer", "Customer")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { id: id, name: name },
                async: false,
                success: function (data) {

                    result = data;

                }
            });
            return result;
        }


        function Validation() {

            var customerId = $('#txtCustomerId').val();

            var rVal = true;
            var message;
            if (($('#txtCustomerName').val() == "") || ($('#txtCustomerName').val() == null)) {
                ValidationColorChangeNew('txtCustomerName', 'divCustomerName', "Customer Name Required", false);
                rVal = false;
                message = "Some Values Required";

            }

            if (($('#txtCustomerName').val() != "")) {
                var name = $('#txtCustomerName').val();
                var id = $('#txtCustomerId').val();
                var result = ValidateCustomer(id, name);
                if (result.length > 0) {
                    message = "Customer Name Already Exists";
                    rVal = false;
                }
            }

            if (customerId == 0) {


                if (($('#ddlDivision').val() == 0) || ($('#ddlDivision').val() == '')) {
                    ValidationColorChangeNew('ddlDivision', 'divDivision', 'Division Required', true);
                    rVal = false;
                    message = "Some Values Required";

                }
                if (($('#ddlArea').val() == 0) || ($('#ddlArea').val() == '')) {
                    ValidationColorChangeNew('ddlArea', 'divArea', 'Area Required', true);
                    rVal = false;
                    message = "Some Values Required";

                }
                if (($('#ddlTerritory').val() == 0) || ($('#ddlTerritory').val() == '')) {
                    ValidationColorChangeNew('ddlTerritory', 'divTerritory', 'Teritory Required', true);
                    rVal = false;
                    message = "Some Values Required";

                }

                if (($('#ddlDistrict').val() == 0) || ($('#ddlDistrict').val() == '')) {
                    ValidationColorChangeNew('ddlDistrict', 'divDistrict', 'District Required', true);
                    rVal = false;
                    message = "Some Values Required";

                }

                if (($('#ddlMarket').val() == 0) || ($('#ddlMarket').val() == '') || ($('#ddlMarket').val() == null)) {
                    ValidationColorChangeNew('ddlMarket', 'divMarket', 'Market Required', true);
                    rVal = false;
                    message = "Some Values Required";

                }
                if (($('#ddlThana').val() == 0) || ($('#ddlThana').val() == '') || ($('#ddlThana').val() == null)) {
                    ValidationColorChangeNew('ddlThana', 'divThana', 'Thana Required', true);
                    rVal = false;
                    message = "Some Values Required";

                }

            }
            if (($('#txtPersonalContact').val() == "") || ($('#txtPersonalContact').val() == null)) {
                ValidationColorChangeNew('txtPersonalContact', 'divPersonalContact', 'Contact Required', false);
                rVal = false;
                message = "Some Values Required";

            }

            if (($('#txtPersonalAddress').val() == "") || ($('#txtPersonalAddress').val() == null)) {
                ValidationColorChangeNew('txtPersonalAddress', 'divPersonalAddress', 'Personal Address Required', false);
                rVal = false;
                message = "Some Values Required";

            }

            if (($('#ddlCustomerType').val() == 0) || ($('#ddlCustomerType').val() == '')) {
                ValidationColorChangeNew('ddlCustomerType', 'divCustomerType', 'Customer Type Required', true);
                rVal = false;
                message = "Some Values Required";

            }

            if (($('#txtPhone').val() == "") || ($('#txtPhone').val() == null)) {
                ValidationColorChangeNew('txtPhone', 'divPhone', 'Phone No. Required', false);
                rVal = false;
                message = "Some Values Required";

            }
            if (($('#ddlPamentType').val() == 0) || ($('#ddlPamentType').val() == '')) {
                ValidationColorChangeNew('ddlPamentType', 'divPaymentTerms', 'Payment Type Required', true);
                rVal = false;
                message = "Some Values Required";

            }



            if (($('#ddlCostCenter').val() == 0) || ($('#ddlCostCenter').val() == '') || ($('#ddlCostCenter').val() == null)) {
                ValidationColorChangeNew('ddlCostCenter', 'divCostCenter', 'Cost Center Required', true);
                rVal = false;
                message = "Some Values Required";

            }

            var customerType = $("#ddlCustomerType option:selected").text().trim();

            if (customerType == 'Dealer') {

                var asd = $('#txtDealerWHName').val();
                if ($('#txtDealerWHName').val().trim() == '' || $('#txtDealerWHName').val().trim() == null) {
                    ValidationColorChangeNew('txtDealerWHName', 'divDealerWHName', 'Warehouse Name Required', false);
                    rVal = false;
                    message = "Some Values Required";
                }

                if ($('#txtDealerWHAddress').val().trim() == '' || $('#txtDealerWHAddress').val().trim() == null) {
                    ValidationColorChangeNew('txtDealerWHAddress', 'divDealerWHAddress', 'Warehouse Address Required', false);
                    rVal = false;
                    message = "Some Values Required";
                }


            }


            if (rVal == false) {
                ShowMessage(message);
            }

            return rVal;
        }

        function SaveCustomer() {
            var jsonData = {};

            if ($('#hasDealer').is(':checked')) {
                jsonData["HasDealerId"] = GetCustomerDealer();
            }
            var customerType = $("#ddlCustomerType option:selected").text().trim();

            if (customerType == 'Dealer') {
                var jsonWh = {};
                jsonWh["CustomerWarehouseName"] = $('#txtDealerWHName').val().trim();
                jsonWh["WareHouseArea"] = $('#txtDealerWHArea').val().trim();
                jsonWh["WareHouseAddress"] = $('#txtDealerWHAddress').val().trim();
                jsonData["CustomerWareHouse"] = jsonWh;
            }
            //----new---
            jsonData["IsEmployee"] = $('#chkIsEmployee').is(':checked');

            if ($('#ddlCustomerType').val() == 3 && $('#chkIsEmployee').is(':checked') == true) {
                var myCustomer = $('#txtCustomerName').val();
                var arr = myCustomer.split(':');
                jsonData["EMPID"] = arr[0];
                jsonData["CustomerName"] = arr[1];
            } else {
                jsonData["CustomerName"] = $('#txtCustomerName').val();
            }

            jsonData["CustomerID"] = parseInt($('#txtCustomerId').val());

            jsonData["CustomerShortName"] = $('#txtCustomerShortName').val();
            jsonData["FatherName"] = $('#txtFatherName').val();
            jsonData["MotherName"] = $('#txtMotherName').val();
            jsonData["DateOfBirth"] = $('#txtDateOfBirth').val();
            jsonData["PersonalAddress"] = $('#txtPersonalAddress').val();


            jsonData["PersonalContact"] = $('#txtPersonalContact').val();
            jsonData["GSTNo"] = $('#txtGSTNo').val();
            jsonData["IsContractor"] = $('#chkIsContractor').is(':checked');
            jsonData["CustomerCurrency"] = $('#txtCustomerCurrency').val();
            jsonData["CustomerType"] = $('#ddlCustomerType').val();
            jsonData["IsRetention"] = $('#chkIsRetention').is(':checked');
            jsonData["TSRelease"] = $('#chkTSRelease').is(':checked');
            jsonData["IsCredit"] = $('#chkIsCredit').is(':checked');
            jsonData["GLAccountGroup"] = parseInt($('#txtGLAccountGroup').val());
            jsonData["Phone"] = $('#txtPhone').val();
            jsonData["SecondaryPhoneNumber"] = $('#txtSecondaryPhoneNumber').val();
            jsonData["FaxNumber"] = $('#txtFaxNumber').val();
            jsonData["Email"] = $('#txtEmail').val();
            jsonData["NID"] = $('#txtNid').val();
            jsonData["TradeLicence"] = $('#txtTradeLicence').val();
            jsonData["TIN"] = $('#txtTin').val();
            jsonData["DiscountPercent"] = parseInt($('#txtDiscountPercent').val());
            jsonData["DivisionId"] = parseInt($('#ddlDivision').val());
            jsonData["TerritoryId"] = parseInt($('#ddlTerritory').val());
            jsonData["AreaId"] = parseInt($('#ddlArea').val());
            jsonData["MarketId"] = parseInt($('#ddlMarket').val());
            jsonData["DistrictId"] = parseInt($('#ddlDistrict').val());
            jsonData["ThanaId"] = parseInt($('#ddlThana').val());
            jsonData["PaymentType"] = parseInt($('#ddlPamentType').val());
            jsonData["CostCenterId"] = parseInt($('#ddlCostCenter').val());

            jsonData["CreditStatus"] = $('#txtCreditStatus').val();
            jsonData["RetentionPriority"] = $('#txtRetentionPriority').val();
            jsonData["DefaultInventoryLocation"] = $('#txtInventoryLocation').val();
            jsonData["DefaultShippingCompany"] = parseInt($('#txtDefaultShippingCompany').val());


            var urlpath = '@Url.Action("SaveCustomer", "Customer")';

            $.ajax({
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "POST",
                traditional: true
            })
                .success(function (result) {


                    if (result.isSuccess) {

                        swal("Customer Saved Successfully");
                        window.location.href = '@Url.Action("CustomerList", "Customer")';


                    }
                });


        }


    </script>
}

