﻿@model IEnumerable<IGFoodProject.ViewModel.ViewCustomerInfo>
@{
    ViewData["Title"] = "CustomerList";
}
@{
    int count = 0;
}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card card-primary">
               
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-3">
                            <h3 class="card-title"><span class="fa fa-list"></span> Customer List </h3>
                        </div>
                        <div class="col-md-4">
                            <a href="@Url.Action("AddCustomer", "Customer")"><h3 class="card-title"><span class="fa fa-plus"></span>  Back To Customer Entry</h3></a>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6" style="margin-left:20px">
                            <div class="form-group" id="divCustomerType">
                                <label for="ddlCustomerType">Customer Type</label>
                                <select class="form-control select2 " id="ddlCustomerType" onchange="CustomerTypeChange()"></select>
                            </div>
                        </div>
                        <button class='btn btn-success btn-sm float-right' type='button' style="display: none" id="Export" onclick="XLExport('theTable')">Export To excel</button>

                    </div>
                </div>
                <div class="card-body">
                    <div id="customerTable">
                       
                    </div>
                    
                </div>

            </div>

        </div>

    </div>
  
     
</section>
@section Scripts{



    <script type="text/javascript">


        $(document).ready(function() {
            LoadCustomerType('ddlCustomerType');
           
        });
        function CustomerDelete(id) {

            swal({
                title: "Are you sure?",
                text: "",
                type: "success",
                showCancelButton: true,
                cancelButtonClass: 'btn-secondary waves-effect',
                confirmButtonClass: 'btn-success waves-effect waves-light',
                confirmButtonText: 'Yes!',
                closeOnConfirm: false
            }, function () {
                $('.confirm').prop("disabled", true);
                $('.cancel').prop("disabled", true);
                DeleteCustomerFianl(id);

            });



        }
        function CustomerTypeChange() {

            var typeid = $('#ddlCustomerType').val();
            var urlpath = '@Url.Action("GetCustomerByType", "Customer")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'html',
                data:{typeid:typeid},
                type: "Get",

                async: false,
                success: function (data) {

                    $('#customerTable').empty();
                    $('#customerTable').html(data);
                    
                },
                complete: function () {
                    $('#theTable').dataTable();
                    $('#Export').show();
                }
            });
        }
        function LoadCustomerType(elementId) {

            var urlpath = '@Url.Action("GetCustomerType", "Utility")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",

                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Customer Type --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].CustomerTypeID).html(data[i].CoustomerTypeName));
                    }
                },
                complete: function () {
                    CustomerTypeChange();
                }
            });
        }

        function DeleteCustomerFianl(id) {



            var urlpath = '@Url.Action("DeleteCustomer", "Customer")';

            $.ajax({
                contentType: "application/json; charset=utf-8",
                data: { id: id },
                dataType: 'json',
                url: urlpath,
                type: "GET"
            })
                .success(function (result) {

                    if (result.isSuccess) {

                        $('.confirm').prop("disabled", false);
                        $('.cancel').prop("disabled", false);
                        //swal.close();

                        swal("Data Delete Successfull");
                        window.location.href = '@Url.Action("CustomerList", "Customer")';


                    }
                });
        }

        function XLExport(tableId) {
            var tab_text = "<table border='2px'><tr bgcolor='#87AFC6'>";
            var textRange;
            var j = 0;
            tab = document.getElementById(tableId);
            if ($.fn.DataTable.isDataTable("#theTable")) {
                $("#theTable").DataTable().destroy();
            }
            
            for (j = 0; j < tab.rows.length; j++) {
                tab_text = tab_text + tab.rows[j].innerHTML + "</tr>";
                tab_text = tab_text.replace('Edit', "");
                tab_text = tab_text.replace('Delete', "");
                tab_text = tab_text.replace('Action', "");
            }
            tab_text = tab_text + "</table>";
            tab_text = tab_text.replace(/<a[^>]*>|<\/a>/g, "");//remove if u want links in your table
            tab_text = tab_text.replace(/<button[^>]*>|<\/button>/g, "");//remove if u want links in your table
            
            tab_text = tab_text.replace(/<img[^>]*>/gi, ""); // remove if u want images in your table
            tab_text = tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // remove input params
            sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));
            $('#theTable').DataTable();

            return (sa);

           
        }

    </script>
}
