﻿@model IEnumerable<IGFoodProject.ViewModel.ViewChallanTopSheet>


<table class="table table-bordered table-striped" id="ordersTable" >
    <thead>
    <tr>
       
        <th><input type="checkbox" id="checkAll" class="checkp" onclick="SelectAllCheckboxFunc();" /></th>
        <th>Vehicle</th>
        <th>SO/ST No</th>
        <th>Issie/Challan No</th>
        <th>Customer Name</th>
        <th>Delivery Address</th>
        <th>Warehouse</th>
        <th>Delivery Date</th>
    </tr>
    </thead>
    <tbody>
        @{
            int count = 1;
        }
         @foreach (var item in Model)
         {
             <tr id="@count">
                 <td>
                 <input type="checkbox"  class="chk" id="chk_@count" onclick='Checkp(@count);'/>
                
                 </td>
                 <td>@item.VehicleRegNo</td>
                 <td>@item.SalesOrderNo</td>
                 <td>@item.SalesOrderChallanNo</td>
                 <td>@item.CustomerName</td>
                 <td>@item.DeliveryDestination</td>
                 <td>@item.WareHouseName</td>
                 <td>
                     @Convert.ToDateTime(item.DeliveryDate).ToString("dd-MMM-yyyy")
                     <input type="hidden" id="master_@count" value="@item.MasterId"/>
                     <input type="hidden" id="way_@count" value="@item.Gateway"/>
                 </td>

             </tr>
             count++;
         }
        
    </tbody>


</table>
