﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title"><span class="fa fa-eye"></span> Top Sheet </h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group" id="divCompany">
                                    <label for="ddlCompany">Company</label>
                                    @*<input type="text" class="form-control" id="txtCompany" disabled="disabled" />*@
                                    <select class="form-control select2" style="width: 100%;" id="ddlCompany"></select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" id="divWareHouse">
                                    <label for="ddlWareHouse">Stock/Plant House</label>
                                    <select class="form-control select2" id="ddlWareHouse"></select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" id="divVehicle">
                                    <label for="Vehicle">Vehicle</label>
                                    <select id="Vehicle" class="form-control select2"></select>
                                </div>
                            </div>


                            <div class="col-md-2">
                                <div class="form-group" id="divDeliveryDate">
                                    <label for="deliveryDate">Challan Date</label>
                                    <input id="deliveryDate" class="form-control" type="text" value="@Convert.ToDateTime(DateTime.Now).ToString("dd MMM yyyy")"/>
                                </div>

                            </div>
                            <div class="col-md-2">
                                <button style="margin-top: 14px" class="btn btn-success" onclick="SearchData()"> <span class="fa fa-search">&nbsp;</span> Search</button>
                            </div>
                        </div>



                        <div class="row">
                            <div id="detailsData" class="table-responsive" style="margin-top: 50px">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <button class="btn btn-success" onclick="GenerateReport()">Generate Top Sheet</button>
                            </div>
                        </div>

                    </div>
          
                    <div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
    @*<input id="txtOrderId" type="number" style="display:none;" value="@ViewBag.reqid">
        <input id="txtflag" type="text" style="display:none;" value="@ViewBag.flagid">*@
</section>


@section Scripts
{
    <script type="text/javascript">


        $(document).ready(function() {
            LoadCompany('ddlCompany');
            $("#ddlCompany").val(7);
            LoadWareHouse('ddlWareHouse', 4, 3);
            LoadVehicle('Vehicle');
            LoadDate('#deliveryDate');
        });

        function SelectAllCheckboxFunc()
        {
            if ($("#checkAll").is(":checked")) {
                $(".chk").prop("checked", true);
            } else {
                $(".chk").prop("checked", false);
            }
        }
        function Checkp(SLNO)
        {
            //uncheck "select all", if one of the listed checkbox item is unchecked
            var checkp = $("#chk_" + SLNO).prop("checked");
            if (checkp == false) { //if this item is unchecked
                $("#checkAll").prop('checked', false); //change "select all" checked status to false
            }
            //check "select all" if all checkbox items are checked
            if ($('.chk:checked').length == $('.chk').length) {
                $("#checkAll").prop('checked', true);
            }
        }

        function GenerateReport() {
            if (GenReportValidation()) {
                GenerateTopSheet();
            }
        }


        function GenerateTopSheet() {
            var chList = '';
            var stList = '';
            debugger;
            $('#ordersTable tbody tr').each(function () {
                debugger;
                var id = $(this).attr('id');
                
                if ($('#chk_' + id).is(':checked') == true) {


                    var gateWay = $('#way_' + id).val();
                    var materId = $('#master_' + id).val();

                    if (gateWay == 'ch') {
                        chList += materId + ',';
                    }
                    if (gateWay == 'st') {
                        stList += materId + ',';
                    }

                }




            });


            var reportValue = "DeliveryTopSheet";
            var jsonData = {};
            var urlpath = '@Url.Action("GenerateTopSheet", "TopSheetChallan")';
            jsonData["ReportValue"] = reportValue;
            jsonData["SalesOrderChallanMasterId"] = chList;
            jsonData["StockTreansferIssueId"] = stList;

            $.ajax({
                url: urlpath,
                data: jsonData,
                dataType: 'json',
                type: "Get",
                success: function (data) {
                    if (data.isSuccess) {
                        //OpenPopUp('BasicReportViewer.aspx');
                        window.open("../CrystalViewer/CrystalViewer.aspx", "_blank", "WIDTH=1024,HEIGHT=768,scrollbars=no, menubar=no,resizable=yes,directories=no,location=no");
                    }
                }
            });
           
        }



        
        function GenReportValidation() {
            var isValid = true;
            var message = "";
            var count = $('input.chk:checked').length;


            if (count <= 0) {
                isValid = false;
                message = "Please Check one item";
            }

            if (isValid == false) {
                ShowMessage(message);
            }
            return isValid;

        }

        function LoadVehicle(elementId) {
            var urlpath = "/Utility/LoadVehicle";
            $.ajax({
                url: urlpath,
                type: "Get",
                data: {},
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Vehicle No--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].VehicleInfoId).html(data[i].VehicleRegNo));
                    }

                }
            });
        }


        function SearchData() {
            if (SearchDataValidation()) {
                GetDataBySearch();
            }
        }


        function GetDataBySearch() {
           var com =  $('#ddlCompany').val();
           var warehouse = $('#ddlWareHouse').val();
           var vehicle = $('#Vehicle').val();
           var date = $('#deliveryDate').val();
           var urlpath = '@Url.Action("SearchToSheet" , "TopSheetChallan")';
          $.ajax({
               url: urlpath,
               type: "Get",
              dataType:'html',
               data: { com: com, vh: vehicle, wh: warehouse, delDate: date },
               async: false,
               success: function (data) {
                   $('#detailsData').empty();
                   $('#detailsData').html(data);



               }
           });
        }

        function SearchDataValidation() {
            var isValid = true;


            if ($('#ddlCompany').val() == '' || $('#ddlCompany').val() == '0') {
                isValid = false;
                ValidationColorChangeNew('ddlCompany', 'divCompany', "Company  Required", true);
            }

            if ($('#Vehicle').val() == '' || $('#Vehicle').val() == '0') {
                isValid = false;
                ValidationColorChangeNew('Vehicle', 'divVehicle', "Vehicle Required", true);
            }

            if ($('#ddlWareHouse').val() == '' || $('#ddlWareHouse').val() == '0') {
                isValid = false;
                ValidationColorChangeNew('ddlWareHouse', 'divWareHouse', "Warehouse Required", true);
            }
            return isValid;
        }
    </script>
}
