﻿
@using System.Data
@model System.Data.DataTable
@{
    int count = 1;
    decimal linetotal = 0;
    decimal nagadtotal = 0;
    decimal cashtotal = 0;
    decimal onlinetotal = 0;
    decimal checquetotal = 0;
    decimal bkashtotal = 0;
    decimal grandtotal = 0;
    decimal taxtotal = 0;
}
<table id="SupplierLedgerTable" border="1" class="table dataTable table-bordered table-striped table-hover">
    <thead>
        <tr style="background-color: aliceblue">
            <th style="text-align: center" rowspan="2">SL</th>
            <th style="text-align: center" rowspan="2">Code</th>
            <th style="text-align: center" rowspan="2">Customer Name</th>
            <th style="text-align: center" colspan="5">Payment Type</th>
            <th style="text-align: center" rowspan="2">Total </th>
            <th style="text-align: center" rowspan="2">Tax </th>
        </tr>
    
    <tr>
        <th style="text-align: center">Nagad</th>
        <th style="text-align: center">Cash</th>
        <th style="text-align: center">Online</th>
        <th style="text-align: center">Cheque</th>
        <th style="text-align: center">Bkash</th>
    </tr>
    </thead>
    <tbody class="Traylist">
        @foreach (DataRow row in Model.Rows)
        {
            linetotal = (row.ItemArray[4] == DBNull.Value ? 0 : Convert.ToDecimal(row.ItemArray[4]))
                        + (row.ItemArray[5] == DBNull.Value ? 0 : Convert.ToDecimal(row.ItemArray[5]))
                        + (row.ItemArray[6] == DBNull.Value ? 0 : Convert.ToDecimal(row.ItemArray[6]))
                        + (row.ItemArray[7] == DBNull.Value ? 0 : Convert.ToDecimal(row.ItemArray[7]))
                        + (row.ItemArray[8] == DBNull.Value ? 0 : Convert.ToDecimal(row.ItemArray[8]))
                        ;
            grandtotal = grandtotal + linetotal;
            nagadtotal = nagadtotal + (row.ItemArray[4] == DBNull.Value ? 0 : Convert.ToDecimal(row.ItemArray[4]));
            cashtotal = cashtotal + (row.ItemArray[5] == DBNull.Value ? 0 : Convert.ToDecimal(row.ItemArray[5]));
            onlinetotal = onlinetotal + (row.ItemArray[6] == DBNull.Value ? 0 : Convert.ToDecimal(row.ItemArray[6]));
            checquetotal = checquetotal + (row.ItemArray[7] == DBNull.Value ? 0 : Convert.ToDecimal(row.ItemArray[7]));
            bkashtotal=bkashtotal+ (row.ItemArray[8] == DBNull.Value ? 0 : Convert.ToDecimal(row.ItemArray[8]));
            taxtotal= taxtotal + (row.ItemArray[9] == DBNull.Value ? 0 : Convert.ToDecimal(row.ItemArray[9]));
            <tr>
                <td>@count</td>
               
                <td style="text-align: center">@row.ItemArray[2]</td>
                <td style="text-align: center">@row.ItemArray[3]</td>

                <td style="text-align: center">@row.ItemArray[4]</td>
               
                <td style="text-align: center">@row.ItemArray[5]</td>
               
                <td style="text-align: center">@row.ItemArray[6]</td>
               
                <td style="text-align: center">@row.ItemArray[7]</td>
                
                <td style="text-align: center">@row.ItemArray[8]</td>
              
              
            
                <td style="text-align: center">@linetotal</td>
                <td style="text-align: center">@row.ItemArray[9]</td>


            </tr>
            count++;
        }
    </tbody>
    <tfoot>
    <tr>
        <td style="text-align: center">Total</td>
        <td style="text-align: center"></td>
        <td style="text-align: center"></td>
        <td style="text-align: center">@nagadtotal</td>
        <td style="text-align: center">@cashtotal</td>
        <td style="text-align: center">@onlinetotal</td>
        <td style="text-align: center">@checquetotal</td>
        <td style="text-align: center">@bkashtotal</td>
        <td style="text-align: center">@grandtotal</td>
        <td style="text-align: center">@taxtotal</td>
    </tr>
    </tfoot>
</table>

