﻿@using System.Data
@model System.Data.DataTable
@{
    int count = 1;
    decimal fval = 0;
}
<div id="SupplierLedgerTable">
    <div class="row">
        <div class="col-md-3">

            <div class="form-group" id="divPromotion">
                <label for="txtPromotion">Amount</label>
                <input type='number' class='form-control' min='0' style='text-align: right;' id='txtPromotion' oninput="DebitNoteAmount()" />
            </div>

        </div>
        <div class="col-md-9">

            <div class="form-group" id="divRemarks">
                <label for="txtRemarks">Remarks</label>

                <textarea type="text" class="form-control" id="txtRemarks" cols="5" rows="2" spellcheck="false"></textarea>
            </div>
        </div>


    </div>
   
   
</div>