﻿@using System.Data
@model System.Data.DataTable
@{
    int count = 1;
    decimal fval = 0;
}
<table id="SupplierLedgerTable" class="table dataTable table-bordered table-striped table-hover">
    <thead>
        <tr style="background-color: aliceblue">
            <th style="text-align: left">SL</th>
            <th style="text-align: left">Customer Name</th>
            <th style="text-align: center">Pay Amount</th>
            <th style="text-align: center">Payment Date</th>
            <th style="text-align: right">Create Date</th>
            <th><button id='btn_@count' class="btn btn-primary" onclick='PrintMultipleInvoice()'>Print</button>&nbsp;&nbsp;&nbsp;<input type='checkbox' class='iradio_minimal-blue' id='checkAll' onclick='    SelectAllCheckboxFunc()' /> Select All</th>
        </tr>
    </thead>
    <tbody class="Traylist">
        @foreach (DataRow row in Model.Rows)
        {

            <tr id="@row.ItemArray[0]">
                <td style="text-align: left">@count</td>
                <td style="text-align: left">@row.ItemArray[1]</td>
                <td style="text-align: left">@row.ItemArray[2]</td>
                <td style="text-align: center">@Convert.ToDateTime(@row.ItemArray[3]).ToString("dd MMM yyyy")</td>
                <td style="text-align: center">@Convert.ToDateTime(@row.ItemArray[4]).ToString("dd MMM yyyy")</td>
                <td><button id='btn_@count' class="btn btn-primary" onclick='SeeDetails(@row.ItemArray[0])'>SeeDetails</button>&nbsp;&nbsp;&nbsp;<input type='checkbox' class='iradio_minimal-blue checkp' id='check_@count' onclick='Checkp(@row.ItemArray[0])' /></td>
            </tr>
            count++;
        }
    </tbody>
    <tfoot>
        <tr></tr>
    </tfoot>
</table>

<script>
    function SelectAllCheckboxFunc() {
        if ($("#checkAll").is(":checked")) {
            $(".checkp").prop("checked", true);
        } else {
            $(".checkp").prop("checked", false);
        }
    }
    function Checkp(SLNO) {
        //uncheck "select all", if one of the listed checkbox item is unchecked
        var checkp = $("#check_" + SLNO).prop("checked");
        if (checkp == false) { //if this item is unchecked
            $("#checkAll").prop('checked', false); //change "select all" checked status to false
        }
        //check "select all" if all checkbox items are checked
        if ($('.checkp:checked').length == $('.checkp').length) {
            $("#checkAll").prop('checked', true);
        }
    }
    function PrintMultipleInvoice() {
        var stringSoId = "";
        $('#SupplierLedgerTable tbody tr').each(function (key, value) {
            debugger;
            soId = $(this).prop("id");
            if ($('#check_' + (parseInt(key) + 1)).is(":checked")) {
                if (stringSoId != '')
                    stringSoId = stringSoId + "," + soId;
                else {
                    stringSoId = soId;
                }
            }
        });
        debugger ;
        PrintInvoice(stringSoId);
    }
    function PrintInvoice(soId) {
        var urlpath = '@Url.Action("SalesOrderReports", "Report")';
        var reportValue = "MoneyReceipt";
        var jsonData = {};
        if (reportValue == "MoneyReceipt") {
            jsonData["ReportValue"] = reportValue;
            jsonData["SalesOrderProcessedMasterId"] = soId;
        }
        $.ajax({
            url: urlpath,
            data: jsonData,
            dataType: 'json',
            type: "Get",
            success: function (data) {
                if (data.isSuccess) {
                    //OpenPopUp('BasicReportViewer.aspx');
                    window.open("../CrystalViewer/CrystalViewer.aspx", "_blank", "WIDTH=1024,HEIGHT=768,scrollbars=no, menubar=no,resizable=yes,directories=no,location=no");
                }
            }
        });
    }
    function SeeDetails(soId) {
        var urlpath = '@Url.Action("SalesOrderReports", "Report")';
        var reportValue = "SeePaymentDetails";
        var jsonData = {};
        if (reportValue == "SeePaymentDetails") {
            jsonData["ReportValue"] = reportValue;
            jsonData["SalesOrderProcessedMasterId"] = soId;
        }
        $.ajax({
            url: urlpath,
            data: jsonData,
            dataType: 'json',
            type: "Get",
            success: function (data) {
                if (data.isSuccess) {
                    //OpenPopUp('BasicReportViewer.aspx');
                    window.open("../CrystalViewer/CrystalViewer.aspx", "_blank", "WIDTH=1024,HEIGHT=768,scrollbars=no, menubar=no,resizable=yes,directories=no,location=no");
                }
            }
        });
    }
</script>

