﻿@using System.Data
@model System.Data.DataTable
@{
    int count = 1;
    decimal fval = 0;
}
<div>
    <table id="SupplierLedgerTable" class="table table-bordered table-striped table-hover table-responsive">
        <thead>
            <tr style="background-color: aliceblue">
                <th style="text-align: left">SL</th>
                <th style="text-align: center">Damage Amount</th>
                <th style="text-align: center">Damage Month</th>
            </tr>
        </thead>
        <tbody class="Traylist">
            @foreach (DataRow row in Model.Rows)
            {

                <tr id="@row.ItemArray[0]">
                    <td style="text-align: left">@count</td>
                    <td style="text-align: center">@row.ItemArray[0]</td>
                    <td style="text-align: center">@row.ItemArray[1]</td>
                </tr>
                count++;
            }
        </tbody>
        <tfoot>
            <tr>
                <th> Total</th>
                <th id="TotalDamage" style="text-align: center">@Model.Compute("Sum(ActualDamage)", "")</th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>