﻿
@using System.Data
@model System.Data.DataTable
@{
    int count = 0;
    decimal grandTotal = 0;
    decimal saleTotal = 0;
}
<table id="SupplierLedgerTable" border="1" class="table dataTable table-bordered table-striped table-hover">
    <thead>
        <tr style="background-color: aliceblue">
            <th style="text-align: center">SL</th>
            <th style="text-align: center">Voucher Date</th>
            <th style="text-align: center">Voucher No</th>
            <th style="text-align: center">Ledger Name</th>
            <th style="text-align: center">Narration</th>
            <th style="text-align: center">Cost Center</th>
            <th style="text-align: center">Debit</th>
            <th style="text-align: center">Credit</th>
            <th style="text-align: center">Balance</th>
            <th style="text-align: center">BL. Type</th>
        </tr>
    </thead>
    <tbody class="Traylist">
        @foreach (DataRow row in Model.Rows)
        {
             <tr>
                    <td>@count</td>
                    <td style="text-align: center">@Convert.ToDateTime(row.ItemArray[0]).ToString("dd MMM yyyy")</td>
                    <td style="text-align: center">@row.ItemArray[1]</td>
                    <td style="text-align: center">@row.ItemArray[2]</td>
                    <td style="text-align: center">@row.ItemArray[3]</td>
                    <td style="text-align: center">@row.ItemArray[4]</td>
                    <td style="text-align: center">@row.ItemArray[5]</td>
                    <td style="text-align: center">@row.ItemArray[6]</td>
                    <td style="text-align: center">@row.ItemArray[7]</td>
                    <td style="text-align: center">@row.ItemArray[8]</td>
                </tr>
            //saleTotal = saleTotal + Convert.ToDecimal(row.ItemArray[6]);
            //grandTotal = grandTotal + Convert.ToDecimal(row.ItemArray[7]);
            count++;
        }
    </tbody>
    <tfoot>
        <tr>
            <th colspan="2"> Total </th>
            <th>  </th>
            <th>  </th>
            <th>  </th>
            <th>  </th>
            @*<th> @saleTotal </th>
            <th>@grandTotal  </th>*@
            <th></th>
            <th></th>
            <th>@Model.AsEnumerable().Select(x=> x.ItemArray[7]).Last()</th>
            <th></th>
        </tr>
    </tfoot>
</table>
