﻿@using System.Data
@model System.Data.DataTable
@{
    int count = 1;
    decimal fval = 0;
}

@* Table column added for last sale & last payment date *@
<table id="SupplierLedgerTable" class="table dataTable table-bordered table-striped table-hover">
    <thead>
        <tr style="background-color: aliceblue">
            <th style="text-align: center">SL</th>
            <th style="text-align: center">Customer Code</th>
            <th style="text-align: center">Name</th>
            <th style="text-align: center">Customer Type</th>
            <th style="text-align: center">Opening</th>
            <th style="text-align: center">Total Debit</th>
            <th style="text-align: center">Total Credit</th>
            <th style="text-align: center">Closing</th>
            <th style="text-align: center">Last Sale Date</th>
            <th style="text-align: center">Last Payment Date</th>
        </tr>
    </thead>
    <tbody class="Traylist">
        @foreach (DataRow row in Model.Rows)
        {
            <tr>
                <td style="text-align: center">@count</td>
                <td style="text-align: center">@row.ItemArray[1]</td>
                <td style="text-align: center">@row.ItemArray[2]</td>
                <td style="text-align: center">@row.ItemArray[7]</td>
                <td style="text-align: center">@Math.Round(@Convert.ToDouble(@row.ItemArray[3]), 2, MidpointRounding.AwayFromZero)</td>
                <td style="text-align: center">@Math.Round(@Convert.ToDouble(@row.ItemArray[4]), 2, MidpointRounding.AwayFromZero)</td>
                <td style="text-align: center">@Math.Round(@Convert.ToDouble(@row.ItemArray[5]), 2, MidpointRounding.AwayFromZero)</td>
                <td style="text-align: center">@Math.Round(@Convert.ToDouble(@row.ItemArray[6]), 2, MidpointRounding.AwayFromZero)</td>
                <td style="text-align: center">@row.ItemArray[8]</td>
                <td style="text-align: center">@row.ItemArray[9]</td>
            </tr>

            count++;
        }
    </tbody>
    <tfoot>
        <tr>
            <th colspan="4" style="text-align: center">Total</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[3])))</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[4])))</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[5])))</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[6])))</th>
            <th colspan="2" style="text-align: center"></th>
        </tr>
    </tfoot>
</table>
