﻿@using System.Data
@model System.Data.DataTable
@{
    int count = 0;
    decimal fval = 0;
}
<div class="col-md-12">
    <label class="float-right"> Opening Balance : @Math.Round(Convert.ToDouble( Model.Rows[0].ItemArray[9]), 2, MidpointRounding.AwayFromZero) </label>
</div>
<table id="SupplierLedgerTable"  class="table dataTable table-bordered table-striped table-hover">
    <thead>
    <tr style="background-color: aliceblue">
        <th style="text-align: left">SL</th>
        <th style="text-align: left">TrnNo/RefNO</th>
        <th style="text-align: center">Pay Type</th>
        <th style="text-align: center">Date</th>
        <th style="text-align: right">TotalSales</th>
        <th style="text-align: right">TotalPayment</th>
        <th style="text-align: right">Balance</th>
        <th style="text-align: right">Remarks</th>
        <th>Sr Adustment</th>
    </tr>
    </thead>
    <tbody class="Traylist">
    @foreach (DataRow row in Model.Rows)
    {
        if (count > 0)
        {
            if (@row.ItemArray[8] != "")
            {
                <tr style="color: green">
                    <td style="text-align: left">@count</td>
                    <td style="text-align: left">@row.ItemArray[7]</td>
                    <td style="text-align: left">@row.ItemArray[2]</td>
                    <td style="text-align: center">@Convert.ToDateTime(@row.ItemArray[1]).ToString("dd MMM yyyy")</td>
                    <td style="text-align: right">@Math.Round(@Convert.ToDouble(@row.ItemArray[3]), 2, MidpointRounding.AwayFromZero)</td>
                    <td style="text-align: right">@Math.Round(@Convert.ToDouble(@row.ItemArray[4]), 2, MidpointRounding.AwayFromZero)</td>
                    <td style="text-align: right">@Math.Round(@Convert.ToDouble(@row.ItemArray[9]), 2, MidpointRounding.AwayFromZero)</td>
                    <td style="text-align: right">@row.ItemArray[6]</td>
                    <td style="text-align: right">@row.ItemArray[8]</td>
                </tr>
            }
            else
            {
                <tr>
                    <td style="text-align: left">@count</td>
                    <td style="text-align: left">@row.ItemArray[7]</td>
                    <td style="text-align: left">@row.ItemArray[2]</td>
                    <td style="text-align: center">@Convert.ToDateTime(@row.ItemArray[1]).ToString("dd MMM yyyy")</td>
                    <td style="text-align: right">@Math.Round(@Convert.ToDouble(@row.ItemArray[3]), 2, MidpointRounding.AwayFromZero)</td>
                    <td style="text-align: right">@Math.Round(@Convert.ToDouble(@row.ItemArray[4]), 2, MidpointRounding.AwayFromZero)</td>
                    <td style="text-align: right">@Math.Round(@Convert.ToDouble(@row.ItemArray[9]), 2, MidpointRounding.AwayFromZero)</td>
                    <td style="text-align: right">@row.ItemArray[6]</td>
                    <td style="text-align: right">@row.ItemArray[8]</td>
                </tr>
            }


        }
        count++;
    }
    </tbody>
    <tfoot>
        <tr>
            <th colspan="6"> Closing Balance</th>
            <th> @Math.Round(@Convert.ToDouble(@Model.Rows[(Model.Rows.Count) - 1].ItemArray[9]), 2, MidpointRounding.AwayFromZero) </th>
            <th>Tk.</th>
        </tr>
    </tfoot>
</table>
