﻿@using IGFoodProject.Models
@model IEnumerable<SalesOrderChallanMaster>
@{ int count = 1;
    decimal finalamount_t = 0;
    decimal finaldue_t = 0;
    decimal finalpaid_t = 0;
    decimal previousamt = 0;
    }

<table id="orderTable" class="table table-bordered table-responsive">
    <thead>
        <tr>
            <th style="text-align:center;">Check</th>
            <th style="text-align:center;">#SL</th>
            <th style="text-align:center;">Order No.</th>
            <th style="text-align:center;">Challan No.</th>
            <th style="text-align:center;">Sale Type</th>
            <th style="text-align:center;">Challan Date</th>
            <th style="text-align:center;">Total Amount</th>
            <th style="text-align:center;">Previous Collection</th>
            <th style="text-align:center;"> Collection </th>
            <th style="text-align:center;">Tax Deduction </th>
            <th style="text-align:center;">Total Collection </th>
            <th style="text-align:center;">Total Due</th>
            <th style="text-align:center;">Remark</th>

        </tr>
    </thead>
    <tbody id="">

        
       
        @foreach (SalesOrderChallanMaster item in Model)
        {
            

            var dueAmount = item.DeliveryAmount - item.GrandTotal;
            finalamount_t = finalamount_t + item.DeliveryAmount;
            previousamt = previousamt + item.GrandTotal;
            finaldue_t = finaldue_t + dueAmount;
            <tr class="tableRow">
                @if (item.IsDeliveryConfirm == true)
                {
                    <td style='text-align: center;'><input type='checkbox' class='form-check-input chkp' id='chk_@count' onclick='checkBoxEvent(@count)' /> </td>
                }
                else
                {
                    <td style='text-align: center;'><input type='checkbox' class='form-check-input chkp' id='chk_@count' onclick='checkBoxEvent(@count)' disabled="disabled" /> </td>
                }
             
                <td>@count</td>
                <td style='text-align: left;'>@item.SalesOrderNo </td>
                <td style='text-align: left;'>@item.SalesOrderChallanNo <input type='text' class='form-control' style='text-align: left; display: none' id='salesOrderChallanMasterId_@count' value='@item.SalesOrderChallanMasterId'/> </td>
                <td style='text-align: left;'><label id='lblSaleType_@count'>@item.SaleType</label> </td>
                <td style='text-align: left;'>@Convert.ToDateTime(item.ChallanDate).ToString("dd MMM yyyy")</td>
                <td><input type='number' class='form-control' style='text-align: center;' id='TotalAmount_@count' value='@item.DeliveryAmount' disabled='disabled'/></td>

                <td><a style='text-decoration: underline;' onclick='CollectionDetailsPopUp(@item.SalesOrderChallanMasterId)'>@item.GrandTotal</a></td>


                <td><input type='number' class='form-control payAmount' style='text-align: center;' id='payAmount_@count' oninput="CheckPaymentAmountValidation(@count)" disabled="disabled"/></td>
                <td><input type='number' class='form-control taxDeduct' style='text-align: center;' id='taxDeduct_@count' oninput="CheckPaymentAmountValidation(@count)" disabled="disabled"/></td>
                <td><input type='number' class='form-control totalCollection' style='text-align: center;' id='totalCollection_@count' oninput="CheckPaymentAmountValidation(@count)" disabled="disabled"/></td>
                <td><input type='number' class='form-control' style='text-align: center;' id='TotalDue_@count' value='@dueAmount' disabled='disabled'/></td>
                @if (item.IsDeliveryConfirm == true)
                {
                    <td><input type='text' class='form-control' style='text-align: left;' id='Remark_@count' value=''/></td>
                }
                else
                {
                    <td><input type='text' class='form-control' style='text-align: left;' id='Remark_@count' value='@item.Remarks' /></td>
                }
              

                <td><input type='number' class='form-control' style='text-align: center; display: none;' id='hTotalDue_@count' value='@dueAmount'/></td>



            </tr>

            count++;
        }

        <tr>
            <th style='text-align:center;' colspan="6">Total :</th>
            <td style='text-align:center;'><input style='text-align:center;' class='form-control' type='number' onkeypress='return validateQty(event);' min='0' id='FinalTotalAmount'  value='@finalamount_t' disabled='disabled'></td>
            <td style='text-align:center;'><input style='text-align:center;' class='form-control' type='number' onkeypress='return validateQty(event);' min='0' id='PreviousPaidTotalAmount' value='@previousamt' disabled='disabled'></td>
            <td style='text-align:center;'><input style='text-align:center;' class='form-control' type='number' onkeypress='return validateQty(event);' min='0' id='PaidTotalAmount' value='' disabled='disabled'></td>
            <td style='text-align:center;'><input style='text-align:center;' class='form-control' type='number' onkeypress='return validateQty(event);' min='0' id='TaxTotalAmount'  value='' disabled='disabled'></td>
            <td style='text-align:center;'><input style='text-align:center;' class='form-control' type='number' onkeypress='return validateQty(event);' min='0' id='TotalCollectionTotalAmount' value='' disabled='disabled'></td>
            <td style='text-align:center;'><input style='text-align:center;' class='form-control' type='number' onkeypress='return validateQty(event);' min='0' id='DueTotalAmount' value='@finaldue_t' disabled='disabled'></td>
            @*value='@finaldue_t.ToString("0.##")'*@
            <td></td>
        </tr>
        
    </tbody>
</table>

