﻿@{
    ViewBag.Title = "AllCustomerLedger";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title"> All Customer Ledger Report</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="card" style="height: 350px">
                                    <div class="card-header">
                                        <h3 class="card-title">
                                            <i class="fa fa-arrow-down"></i>
                                            Reprot Search Criteriya
                                        </h3>

                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group" id="divCompany">
                                                    <label for="ddlCompany">Company</label>
                                                    <select class="form-control select2" style="width: 100%;" id="ddlCompany" onchange=""></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                
                                                <div class="form-group" id="divDelivaryDate">
                                                    <label for="delivaryDate">From Date<span class="text-danger"> *</span></label>
                                                    <input type="text" class="form-control datepicker" style="width: 100%;" id="fromDate" onchange="NextDate()"/>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group" id="divToDate">
                                                    <label for="delivaryDate">To Date<span class="text-danger"> *</span></label>
                                                    <input type="text" class="form-control datepicker" style="width: 100%;" id="toDate"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-body -->

                            </div>

                            <div class="col-md-4">
                                <div class="card" style="height: 350px">
                                    <div class="card-header">
                                        <h3 class="card-title">
                                            <i class="ion ion-clipboard mr-1"></i>
                                            Customer Type
                                        </h3>

                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <ul class="todo-list">
                                            @*<li>
                                                <!-- drag handle -->
                                                <!-- checkbox -->
                                                <div class="icheck-primary d-inline ml-2">
                                                    <input type="checkbox" id="allCheckbox" value="0" checked>
                                                    <label for="allCheckbox"></label>
                                                </div>
                                                <!-- todo text -->
                                                <span class="text">All</span>
                                                <!-- Emphasis label -->
                                                <!-- General tools such as edit or delete-->

                                            </li>*@
                                            <li>

                                                <div class="icheck-primary d-inline ml-2">
                                                    <input type="radio" class="form-control-input customerType" name="cusgroup" id="horecaCheckbox" value="1" onclick="chkbox()">
                                                    <label for="horecaCheckbox"></label>
                                                </div>
                                                <span class="text">HORECA</span>

                                            </li>
                                            <li>

                                                <div class="icheck-primary d-inline ml-2">
                                                    <input type="radio" class="form-control-input customerType" name="cusgroup" id="corporateCheckbox" value="2" onclick="chkbox()">
                                                    <label for="corporateCheckbox"></label>
                                                </div>
                                                <span class="text">Corporate</span>

                                            </li>
                                            <li>

                                                <div class="icheck-primary d-inline ml-2">
                                                    <input type="radio" class="form-control-input customerType" name="cusgroup" id="ownSaleCheckbox" value="3" >
                                                    <label for="ownSaleCheckbox"></label>
                                                </div>
                                                <span class="text">Own Sales</span>

                                            </li>
                                            <li>

                                                <div class="icheck-primary d-inline ml-2">
                                                    <input type="radio" class="form-control-input customerType" name="cusgroup" id="fatcoryCheckbox" value="4" >
                                                    <label for="fatcoryCheckbox"></label>
                                                </div>
                                                <span class="text">Fatcory</span>

                                            </li>
                                            <li>

                                                <div class="icheck-primary d-inline ml-2">
                                                    <input type="radio" class="form-control-input customerType" name="cusgroup" id="dealerCheckbox" value="5" >
                                                    <label for="dealerCheckbox"></label>
                                                </div>
                                                <span class="text">Dealer</span>

                                            </li>
                                            <li>

                                                <div class="icheck-primary d-inline ml-2">
                                                    <input type="radio" class="form-control-input customerType" name="cusgroup" id="mdtCheckbox" value="6" >
                                                    <label for="mdtCheckbox"></label>
                                                </div>
                                                <span class="text">Modern Trade</span>

                                            </li>
                                        </ul>
                                    </div>
                                    <!-- /.card-body -->

                                </div>
                            </div>
                        </div>
                        <div class="row">


                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary" onclick="LoadReport()">Submit</button>
                        <button type="button" class="btn btn-primary" onclick="exportExcel()">Export To Excel</button>
                        <button class="btn btn-outline-danger  float-right" onclick="location.reload()">Cancel</button>
                    </div>
                </div>
                <!-- /.card -->
                <div class="container">
                    <div class="row">
                        <div class="text-center" id="loading" style="display: none">
                            <img src="~/AssetStatic/Images/loder2.gif" style="z-index: 100" alt="Loading Please Wait" />
                            @*<img src="~/assets/images/loder2.gif" style="z-index: 100" alt="Loading Please Wait" />*@
                        </div>
                    </div>
                </div>
                <div class="card divclass" id="salesReportDiv">
                    <div class="card-header with-border">
                        <div id="">
                            <h3 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="companyHeader"></h3>
                            <h4 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="reportHeader"></h4>

                            <div class="row">
                                <div class="offset-md-10 col-md-2">
                                    <label id="reportDate"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="salesReport">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script>
        $(function () {
            
            LoadCompany('ddlCompany');
            $("#ddlCompany").val(0).trigger("change");
            //$("#allCheckbox").on("change",
            //    function () {
            //        if ($('#allCheckbox').is(':checked')) {
            //            $(".customerType").prop("checked", true);

            //        }
            //        else {
            //            $(".customerType").prop("checked", false);

            //        }
            //    });
            //$("#allCheckbox").trigger('change');

        });
        //function chkbox() {

        //    if ($('input.customerType:checked').length == 5) {
        //        $(".customerType").prop("checked", true);
        //        $("#allCheckbox").prop("checked", true);
        //    }
        //    else {
        //        $("#allCheckbox").prop("checked", false);
        //    }
        //}
        NextDate = () => {
            debugger;
            var currentDate = $("#fromDate").val();
            var a = Date.parse(currentDate).addDays(1).toString("dd-MMM-yyyy");
            $("#toDate").val(a);
        }
        

        function LoadReport() {
            if (RptValidation() == true) {

                var fromDate = $("#fromDate").val();
                var toDate = $("#toDate").val();
                var customerType = '';

                if ($('#horecaCheckbox').is(':checked')) {

                    customerType += ',' + $('#horecaCheckbox').val();
                }

                if ($('#corporateCheckbox').is(':checked')) {

                    customerType += ',' + $('#corporateCheckbox').val();
                }
                if ($('#ownSaleCheckbox').is(':checked')) {

                    customerType += ',' + $('#ownSaleCheckbox').val();
                }
                if ($('#fatcoryCheckbox').is(':checked')) {

                    customerType += ',' + $('#fatcoryCheckbox').val();
                }
                if ($('#dealerCheckbox').is(':checked')) {

                    customerType += ',' + $('#dealerCheckbox').val();
                }
                if ($('#mdtCheckbox').is(':checked')) {

                    customerType += ',' + $('#mdtCheckbox').val();
                }
                debugger;
                var urlpath = '@Url.Action("GetAllCustomerLedger", "SalesCollection")';

                $.ajax({
                    url: urlpath,
                    data: { fromDate: fromDate, toDate: toDate, customerTypeId: customerType  },
                    dataType: 'html',
                    type: "Get",
                    beforeSend: function () {
                        $('#salesReport').empty();
                        $('#containerOp').css("opacity", .30);
                        $('#loading').css("zIndex", 999);
                        $('#loading').css("opacity", 1);

                        $('#loading').show();



                        //$('#detailsDiv').hide();


                    },
                    success: function (data) {
                        $('#loading').hide();
                        $("#salesReport").html(data);
                    },
                    complete: function () {


                        $('#companyHeader').html("IG Foods Limited");
                        $('#reportHeader').html("All Customer Payment");
                        $('#reportDate').html('Report Date: ' + $("#fromDate").val() + ' To ' + $("#toDate").val());
                        
                    }
                });
            }
        }


        function exportExcel(e) {
            if ($('#SupplierLedgerTable tbody tr').length == 0) {
                swal("No Data to Export");
            } else {
                var file = new Blob([$('#salesReportDiv').html()], { type: "application/vnd.ms-excel" });
                var url = URL.createObjectURL(file);
                var a = $("<a />", {
                    href: url,
                    download: "CustomerLedgerReport.xls"

                }).appendTo("body").get(0).click();
            }
        }

        function RptValidation() {



            var isValid = true;

            if (($('#fromDate').val() == 0 || $('#fromDate').val() == '')) {
                ValidationColorChangeNew('fromDate', 'divDelivaryDate', 'Please Select From Date', true);
                isValid = false;
            }

            if ($('#toDate').val() == 0 || $('#toDate').val() == '') {
                ValidationColorChangeNew('toDate', 'divToDate', 'Please Select To Date', true);
                isValid = false;
            }


            return isValid;
        }
    </script>
}









@*<section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title"> All Customer Ledger Report</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card" style="height: 335px">
                                        <div class="card-header">
                                            <h3 class="card-title">
                                                <i class="fa fa-arrow-down"></i>
                                                Search Criteria
                                            </h3>
                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group" id="divCompany">
                                                        <label for="ddlCompany">Company</label>
                                                        <select class="form-control select2" style="width: 100%;" id="ddlCompany" onchange=""></select>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group" id="divDelivaryDate">
                                                        <label for="delivaryDate">From Date<span class="text-danger"> *</span></label>
                                                        <input type="text" class="form-control datepicker" style="width: 100%;" id="fromDate" onchange="NextDate()" />
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group" id="divToDate">
                                                        <label for="delivaryDate">To Date<span class="text-danger"> *</span></label>
                                                        <input type="text" class="form-control datepicker" style="width: 100%;" id="toDate" />
                                                    </div>
                                                </div>

                                            </div>


                                        </div>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                            </div>

                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary" onclick="LoadReport()">Submit</button>
                            <button type="button" class="btn btn-primary" onclick="exportExcel()">Export To Excel</button>
                            <button class="btn btn-outline-danger  float-right" onclick="location.reload()">Cancel</button>
                        </div>
                    </div>
                    <!-- /.card -->
                    <div class="card divclass" id="salesReportDiv">
                        <div class="card-header with-border">
                            <div id="">
                                <h3 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="companyHeader"></h3>
                                <h4 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="reportHeader"></h4>
                                <div class="row">
                                    <div class="col-md-12">

                                        <label class="float-left" id="productName"></label>
                                        <label class="float-right" id="reportDate"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body" id="salesReport">
                        </div>
                    </div>
                </div>
                <
            </div>
        </div>
    </section>*@
@*@section Scripts{
        <script>
            $(function () {

                LoadCompany('ddlCompany');
                $("#ddlCompany").val(0).trigger("change");
                //LoadLocation('ddlLocation');
                //$("#ddlLocation").val(0).trigger("change");
                //LoadSupplier('ddlSupplier');

            });

            NextDate = () => {
                debugger;
                var currentDate = $("#fromDate").val();
                var a = Date.parse(currentDate).addDays(1).toString("dd-MMM-yyyy");
                $("#toDate").val(a);
            }

            function LoadReport() {
                if (RptValidation() == true) {
                    var fromDate = $("#fromDate").val();
                    var toDate = $("#toDate").val();
                    var supplierId = parseInt($("#ddlSupplier").val());


                    var urlpath = '@Url.Action("GetAllCustomerLedger", " SalesCollection")';

                    $.ajax({
                        url: urlpath,
                        data: { fromDate: fromDate, toDate: toDate },
                        dataType: 'html',
                        type: "Get",
                        success: function (data) {
                            $("#salesReport").html(data);
                        },
                        complete: function () {


                            $('#companyHeader').html("IG Foods Limited");
                            $('#reportHeader').html("All Customer Payment");
                            $('#reportDate').html('Report Date: ' + $("#fromDate").val() + ' To ' + $("#toDate").val());

                        }
                    });
                }
            }


            function exportExcel(e) {
                if ($('#SupplierLedgerTable tbody tr').length == 0) {
                    swal("No Data to Export");
                } else {
                    var file = new Blob([$('#salesReportDiv').html()], { type: "application/vnd.ms-excel" });
                    var url = URL.createObjectURL(file);
                    var a = $("<a />", {
                        href: url,
                        download: "CustomerLedgerReport.xls"

                    }).appendTo("body").get(0).click();
                }
            }

            function RptValidation() {



                var isValid = true;

                if (($('#fromDate').val() == 0 || $('#fromDate').val() == '')) {
                    ValidationColorChangeNew('fromDate', 'divDelivaryDate', 'Please Select From Date', true);
                    isValid = false;
                }

                if ($('#toDate').val() == 0 || $('#toDate').val() == '') {
                    ValidationColorChangeNew('toDate', 'divToDate', 'Please Select To Date', true);
                    isValid = false;
                }


                return isValid;
            }
        </script>
    }*@