﻿
@{
    ViewBag.Title = "Collection Void";
}
<style>
    #manuallist {
        padding: 10px;
    }

    .form-control {
        height: calc(1.7rem + 2px);
    }

    .modal-dialog {
        width: 100%;
        height: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }


    .modal-contents {
        background-color: white;
    }

    .ModalHead {
        background-color: #3C8DBC;
        padding: 15px;
        color: white;
    }

    .ModalHead > h4 {
        color: white;
        padding-left: 10px;
    }

    a#tabA {
        text-decoration: underline;
    }

    a#tabA:hover {
        text-decoration: underline;
        font-size: 17px;
        font-weight: bolder;
        color: green;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">

                        <div class="row">

                            <div class="col-md-6">
                                <h3>Collection Void</h3>
                            </div>
                            <div class="col-md-6 text-right ">
                                @*<a class="btn btn-outline-warning" href="@Url.Action("Index", "Invoice")">

                                    <span class="fa fa-list"></span>Generated  Invoice List

                                </a>*@
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="card-body">
                        <div class="row" style="padding-left: 20px;padding-right: 20px;">
                            <div class="col-md-4">
                                <div class="form-group" id="divCustomer">
                                    <label for="ddlCustomer">Customer:</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlCustomer"></select>
                                </div>

                           
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" id="divPaymentDate">
                                    <label for="txtPaymentDate">Payment Date:</label>
                                    <input type="text" id="txtPaymentDate" class="form-control" />
                                </div>
                              
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" id="divSubmit">
                                    <button style="margin-left: 27px;margin-top: 10px" class="btn btn-primary" onclick="ShowReport()">Submit</button>
                                </div>
                            </div>
                     

                        </div>
                    </div>
                    <br />
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="myTable" class="table table-bordered table-striped table-hover">
                                        <thead>
                                        <tr style="text-align: center; color: black; width: 3%; background-color: turquoise;">
                                            <th style="text-align:center;">Check</th>
                                            <th class="text-center" style="width: 3%">#</th>
                                            <th class="text-center" style="width:10%">Customer</th>
                                            <th class="text-center" style="width:10%">Code</th>
                                            <th class="text-center">Payment Date</th>
                                            <th>Payment Amount</th>
                                            <th>Entry By</th> 
                                            <th>Entry Date</th>
                                            <th>Remarks</th>
                                        </tr>
                                        </thead>
                                        <tbody id="manuallist"></tbody>
                                    </table>


                                </div>
                            </div>
                        </div>



                    </div>
                    
                    <div class="row">
                        <div class="col-md-12 pull-left">
                            <button style="margin-left: 27px;" class="btn btn-primary" id="btnVoid" onclick="Save()">Void</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- /.row -->
      
    </div><!-- /.container-fluid -->


</section>
@section Scripts
{
    <script>
        $(document).ready(function() {
            LoadDate_C('#txtPaymentDate');
            //LoadDate_Pr('#txtDueDate');
            LoadFilteredCustomers('ddlCustomer', 0, 0, 0);
            $('#btnVoid').hide();
        });

        function LoadDate_Pr(controlName) {
            jQuery(controlName).datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd-M-yyyy'

            }).datepicker("setDate", "+30d");
        }

        function ShowReport() {
            debugger;
            var customerId = $('#ddlCustomer').val();
            var paymentDate = $('#txtPaymentDate').val();

            if (SaveValidation() === true) {
                var urlpath = '@Url.Action("GetCollectioninfoForVoid", "SalesCollection")';
                $.ajax({
                    url: urlpath,
                    data: { customerId: customerId, paymentDate: paymentDate },
                    dataType: 'json',
                    type: "Get",
                    success: function(data) {

                        var json = $.parseJSON(data);
                        $("#manuallist").html("");

                        if (json.length > 0) {

                        var row = "";
                        var count = 1;

                        for (var i = 0; i < json.length; i++) {
                            row += "<tr id='trmain" + count + "'>";
                            row += "<td style='text-align:center'><input type='checkbox'  class='form-check-input chkp'  id='chk_" + count + "' onclick='checkBoxEvent(" + count + ")' /></td>";
                            row += "<td style='text-align:center'>" + count + "</td>";
                            row += "<td style='display: none;'><input type='text'  style='display: none;'  id='scId_" + count + "' value = '" + json[i].SalesCollectionMasterId + "'  /></td>";
                            row += '<td style="text-align:center;">' + json[i].CustomerCode + '</td>';
                            row += '<td style="text-align:center;">' + json[i].CustomerName + '</td>';
                            row += '<td style="text-align:center;">' + json[i].PaymentDate + '</td>';
                            row += '<td style="text-align:center;">' + json[i].PaymentAmount + '</td>';
                            row += "<td style='display: none;'><input type='text'  style='display: none;'  id='pAmount_" + count + "' value = '" + json[i].PaymentAmount + "'  /></td>";
                            row += '<td style="text-align:center;">' + json[i].EmpName + '</td>';
                            row += '<td style="text-align:center;">' + json[i].CreateDate + '</td>';
                            row += '<td style="text-align:center;">' + json[i].Remark + '</td>';
                            row += '</tr>';
                            count++;
                        }
                        $("#manuallist").html(row);

                        }
                    }
                    , complete: function () {
                        $('#btnVoid').show();
                         //$("#SummaryTable").show();

                         //$('#companyHeader').html("IG Foods Limited");

                         //$('#reportHeader').html('Dealer Retention');

                         //$('#reportDate').html('Report Date: ' + $("#fromDate").val() + ' To ' + $("#toDate").val());

                     }
                });
            }

        }

        function checkBoxEvent(id) {


            //var check = $('#chk_' + id).is(":checked");

           // $('#chk_' + id).not(this).prop('checked', false);

        }

        $(document).on('click', 'input[type="checkbox"]', function () {
            $('input[type="checkbox"]').not(this).prop('checked', false);
        });


        function Save() {

            if (SaveValidation() == true) {
                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function() {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveFinal();

                });
            }
        }

        function SaveFinal() {
            debugger;
            var jsonData = {};

            $('#manuallist tr').each(function() {

                debugger;
                var idr = $(this).attr('id');
                var id = idr.substring(6);

                var scId = isNaN(parseFloat($('#scId_' + id).val())) ? 0 : parseFloat($('#scId_' + id).val());
                var pAmount = isNaN(parseFloat($('#pAmount_' + id).val())) ? 0.00 : parseFloat($('#pAmount_' + id).val());


                var check = $('#chk_' + id).is(":checked");

                if (check === true) {
                    jsonData["SalesCollectionMasterId"] = scId;
                    jsonData["PaymentAmount"] = pAmount;
                }


            });




            var urlpath = '@Url.Action("SaveCollectionVoid", "SalesCollection")';
            $.ajax({
                    contentType: "application/json",
                    data: JSON.stringify(jsonData),
                    dataType: 'json',
                    url: urlpath,
                    type: "POST"
                })
                .success(function(result) {

                    if (result.pk > 0) {

                        swal({
                            title: " Saved Successfull",
                            text: '',
                            type: "success",
                            showCancelButton: false,
                            cancelButtonClass: 'btn-secondary waves-effect',
                            confirmButtonClass: 'btn-success waves-effect waves-light',
                            confirmButtonText: 'OK!',
                            closeOnConfirm: false
                        }, function() {
                            // LoadReportFinal(result.pk);


                            window.location.href = '@Url.Action("CollectionVoid", "SalesCollection")';

                        });


                    }
                });


        }




        function SaveValidation() {
            var isValid = true;
            var message = "Some Values Required";
            if ($('#ddlCustomer').val() == 0 || $('#ddlCustomer').val() == '') {
                ValidationColorChangeNew('ddlCustomer', 'divCustomer', 'Select Customer', true);
                isValid = false;
            }
            if ($('#txtPaymentDate').val() == 0 || $('#txtPaymentDate').val() == '') {
                ValidationColorChangeNew('txtPaymentDate', 'divPaymentDate', 'Select PaymentDate', true);
                isValid = false;
            }
           

            if (isValid == false) {
                ShowMessage(message);

            }
            return isValid;


        }
    </script>
}