﻿
@{
    ViewBag.Title = "A/CLedger";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title"> Customer Account Ledger</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card" >
                                    <div class="card-header">
                                        <h3 class="card-title">
                                            <i class="fa fa-search"></i>
                                            Search Criteria
                                        </h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <div class="form-group" id="divArea">
                                            <label>Customer<span style="color: red"> *</span></label>
                                            <select class="form-control select2" id="ddlCustomer" style="width: 100%;"> </select>
                                        </div>
                                        <div class="form-group ">
                                            <label for="dateRange ">Report Date Range<span style="color: red"> *</span></label>
                                            <input type="text" class="form-control" autocomplete="off" id="dateRange">
                                        </div>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                            </div>
                           
                        </div>
                        <div class="row">

                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary float-right" onclick="LoadReport()">Submit</button>
                        <button type="button" class="btn btn-success float-left" onclick="exportExcel()">Export To Excel</button>
                        @*<button class="btn btn-outline-danger  float-right" onclick="location.reload()">Cancel</button>*@
                    </div>
                </div>
                <!-- /.card -->
                <div class="card divclass" id="salesReportDiv">
                    <div class="card-header with-border">
                        <div id="">
                            <h3 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="companyHeader"></h3>
                            <h4 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="reportHeader"></h4>
                            <h4 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="customerHeader"></h4>
                            <div class="row">
                                <div class="offset-md-10 col-md-2">
                                    <label id="reportDate"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="salesReport">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-xs-12 text-center" id="testSpan" style="display: none">
        <span>
            Please wait Data is loading -
            <img src="~/AssetStatic/Images/Double Ring.gif" />
        </span>
    </div>
</section>
@section Scripts{
    <script>
        $(function () {

            LoadFilteredCustomers('ddlCustomer', 0, 0, 0);
            $('#dateRange').daterangepicker({
                locale: {
                    format: 'DD MMM YYYY'
                }
            });

            

        });
        
        function LoadReport() {
            if (RptValidation() == true) {
                debugger;
                var customerId = parseInt($("#ddlCustomer").val());
               
                var array = [];
                var dateRange = $('#dateRange').val();
                array = dateRange.split('-');
                

                var urlpath = '@Url.Action("GetCustomerAcLedger", "SalesCollection")';

                $.ajax({
                    url: urlpath,
                    data: { customerId: customerId, fromDate: array[0], toDate: array[1] },
                    dataType: 'html',
                    type: "Get",
                    beforeSend: function () {
                        $('#testSpan').show();
                        $("#salesReport").empty();
                    },
                    success: function (data) {
                        $("#salesReport").html(data);
                        $('#testSpan').hide();
                    },
                    complete: function () {


                        $('#companyHeader').html("IG Foods Limited");
                        $('#reportHeader').html("Sales Reprot Sales Person Wise");
                        $('#customerHeader').html("Trade Debtors: " + $("#ddlCustomer option:selected").text());
                       
                        $('#SalesReportTable').rowspanizer({
                            vertical_align: 'middle',
                            columns: [1]
                        });
                        $('#reportDate').text('Report from: ' + array[0] + 'to :' + array[1]);
                    }
                });
            }
        }


        function exportExcel(e) {
            if ($('#SupplierLedgerTable tbody tr').length == 0) {
                swal("No Data to Export");
            } else {
                var file = new Blob([$('#salesReportDiv').html()], { type: "application/vnd.ms-excel" });
                var url = URL.createObjectURL(file);
                var a = $("<a />", {
                    href: url,
                    download: "SalesPersonWiseSalesReport.xls"

                }).appendTo("body").get(0).click();
                e.preventDefault();
            }
        }

        function RptValidation() {



            var isValid = true;
            //if (($('#stockDate').val() == 0 || $('#stockDate').val() == '') && rpt == 'DailyStockSummery') {
            //    ValidationColorChangeNew('stockDate', 'divStockDate', 'Please Select Stock Date', true);
            //    isValid = false;
            //}
            //if (($('#stockMonth').val() == 0 || $('#stockMonth').val() == '') && rpt == 'MonthlyStockSummery') {
            //    ValidationColorChangeNew('stockMonth', 'divstockMonth', 'Please Select Stock Month', true);
            //    isValid = false;
            //}

            //if ($('#ddlReportName').val() == 0 || $('#ddlReportName').val() == '') {
            //    ValidationColorChangeNew('ddlReportName', 'divReportName', 'Please Select Report Name', true);
            //    isValid = false;
            //}
            return isValid;
        }
    </script>
}