﻿
@{
    ViewBag.Title = "Customer Trial Balance";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title"> Customer Ledger Balance</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">
                                            <i class="fa fa-arrow-down"></i>
                                            Search Criteria
                                        </h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="row">
                                        <div class="card-body">
                                            <div class="col-md-3">
                                                <div class="form-group" id="divGL">
                                                    <label for="ddlGL">Account</label>
                                                    <select class="form-control select2" style="width: 100%;" id="ddlGL" onchange="LoadReferance()"></select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group" id="divBusinessUnit">
                                                    <label for="ddlRefdetails">Referance Details</label>
                                                    <select class="form-control select2" style="width: 100%;" id="ddlRefdetails"></select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group" id="divFromDate">
                                                    <label for="txtFromDate">From  Date</label>
                                                    <input type="text" id="txtFromDate" class="form-control datepicker" autocomplete="off" onchange="LoadRefDetailsDuDate()" />
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group" id="divToDate">
                                                    <label for="txtToDate">To  Date</label>
                                                    <input type="text" id="txtToDate" class="form-control datepicker" autocomplete="off" />
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>

                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary float-right" onclick="LoadReport()">Submit</button>
                        <button type="button" class="btn btn-primary float-right" onclick="exportExcel()">Export To Excel</button>
                        <button class="btn btn-outline-danger" onclick="location.reload()">Cancel</button>
                    </div>
                </div>
                <!-- /.card -->
                <div class="card divclass" id="salesReportDiv">
                    <div class="card-header with-border">
                        <div id="">
                            <h3 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="companyHeader"></h3>
                            <h4 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="reportHeader"></h4>
                            <div class="row">
                                <div class="col-md-12">

                                    <label class="float-left" id="productName"></label>
                                    <label class="float-right" id="reportDate"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="salesReport">
                    </div>
                </div>
            </div>

        </div>
        <div id="ajaxLoaderDiv" style="position: fixed; top: 40%; left: 45%; z-index: 1234;">
            <img src="@Url.Content("~/AssetStatic/Images/Double Ring.gif")" alt="Loading..." class="ajax-loader" />
        </div>

    </div>
</section>
@section Scripts{
    <script>
        $(function () {

            //LoadCompany('ddlCompany');
            //$("#ddlCompany").val(0).trigger("change");
            //LoadCustomer('ddlCustomer');
            $('#txtFromDate').datepicker({
                //endDate: new Date(),
                autoclose: true,
                todayHighlight: true,
                format: 'dd-M-yyyy'
            });

            $('#txtToDate').datepicker({
                //endDate: new Date(),
                autoclose: true,
                todayHighlight: true,
                format: 'dd-M-yyyy'
            });

            LoadGL();
            $('#ajaxLoaderDiv').hide();
        });

        function LoadGL() {
            var GlType = 1;
            var urlpath = '@Url.Action("GetGLByGlType", "Utility")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",
                data: { GlType: GlType },
                async: false,
                success: function (data) {

                    $('#ddlGL').empty();
                    $('#ddlGL').append("<option value='0'>--Select GL--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#ddlGL').append($("<option></option>").val(data[i].CALayerSevenId).html(data[i].CALayerSevenName));
                    }
                }
            });
        }

        function LoadReferance() {
            var glId = $("#ddlGL").val();

            console.log(glId);

            var urlpath = '@Url.Action("LoadReferenceTypeByGlId", "JournalVoucher")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",
                data: { glId: glId },
                async: false,
                success: function (data) {

                    $('#ddlRefdetails').empty();
                    $('#ddlRefdetails').append("<option value='0'>--Select Referance Details--</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#ddlRefdetails').append($("<option></option>").val(data[i].RefDetailsId).html(data[i].RefName));
                    }
                }
            });
        }

        function LoadRefDetailsDuDate() {
            var GlId = $("#ddlGL").val();
            var RefDetailsId = $("#ddlRefdetails").val();
            var urlpath = '@Url.Action("GetRefDetailsDuDate", "JournalVoucher")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",
                data: { GlId: GlId, RefDetailsId: RefDetailsId },
                async: false,
                success: function (data) {
                    debugger;
                    if (data.DueDate != null) {
                        var dueDate = ToJavaScriptDate(data.DueDate);
                        var fromDate = new Date($('#txtFromDate').val());
                        var opDate = new Date(dueDate);

                        if (opDate > fromDate) {
                            $('#txtFromDate').val(dueDate);
                        }
                    }


                }
            });
        }

        function LoadCustomer(elementId) {
            var typeid = 0;
            var urlpath = '@Url.Action("GetCustomer", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { typeid: typeid },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Customer --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].CustomerID).html(data[i].CustomerCode + ":" + data[i].CustomerName + ": " + data[i].CoustomerTypeName));
                    }
                }
            });
        }

        NextDate = () => {
            debugger;
            var currentDate = $("#fromDate").val();
            var a = Date.parse(currentDate).addDays(1).toString("dd-MMM-yyyy");
            $("#toDate").val(a);
        }

        function LoadReport() {
            if (RptValidation() == true) {
                var refDetailsId = 0;
                var fromDate = $("#txtFromDate").val();
                var toDate = $("#txtToDate").val();
                var glId = parseInt($("#ddlGL").val());
                refDetailsId = $("#ddlRefdetails").val();
                $("#salesReport").html("");
                var urlpath = '@Url.Action("GetCustomerVoucherLedger", "SalesCollection")';

                $.ajax({
                    url: urlpath,
                    data: { fromDate: fromDate, toDate: toDate, glId: glId, refDetailsId: refDetailsId },
                    dataType: 'html',
                    type: "Get",
                    beforeSend: function () {
                        $('#ajaxLoaderDiv').show();
                    },
                    success: function (data) {
                        console.log(data);
                        $("#salesReport").html(data);
                    },
                    complete: function () {
                        $('#ajaxLoaderDiv').hide();

                        $('#companyHeader').html("IG Foods Limited");
                        $('#reportHeader').html("Customer Ledger Balance");
                        //$('#productName').html('Customer Name : ' + $("#ddlCustomer option:selected").text());
                        $('#reportDate').html('Report Date: ' + $("#txtFromDate").val() + ' To ' + $("#txtToDate").val());
                        //$('#reportDate').html("Stock report of :" + $('#txtRequisitionDate').val() + " & " + $('#txtProductionDate').val());
                        //$('#SalesReportTable').rowspanizer({
                        //    vertical_align: 'middle',
                        //    columns: [1]
                        //});
                        //$('#reportDate').text('Report from: ' + array[0] + 'to :' + array[1]);
                    }
                });
            }
        }


        function exportExcel(e) {
            if ($('#SupplierLedgerTable tbody tr').length == 0) {
                swal("No Data to Export");
            } else {
                var file = new Blob([$('#salesReportDiv').html()], { type: "application/vnd.ms-excel" });
                var url = URL.createObjectURL(file);
                var a = $("<a />", {
                    href: url,
                    download: "CustomerLedgerReport.xls"

                }).appendTo("body").get(0).click();
            }
        }

        function RptValidation() {



            var isValid = true;
            if (($('#ddlGL').val() == 0 || $('#ddlGL').val() == '')) {
                ValidationColorChangeNew('ddlGL', 'divGL', 'Please Select Customer', true);
                isValid = false;
            }
            if (($('#txtFromDate').val() == 0 || $('#txtFromDate').val() == '')) {
                ValidationColorChangeNew('txtFromDate', 'divFromDate', 'Please Select From Date', true);
                isValid = false;
            }

            if ($('#txtToDate').val() == 0 || $('#txtToDate').val() == '') {
                ValidationColorChangeNew('txtToDate', 'divToDate', 'Please Select To Date', true);
                isValid = false;
            }


            return isValid;
        }
    </script>
}