﻿

@using System.Data
@model System.Data.DataTable
@{
    int count = 1;
    
}
<table id="SupplierLedgerTable" border="1" class="table dataTable table-bordered table-striped table-hover">
    <thead>
        <tr style="background-color: aliceblue">
            @*<th style="text-align: center" >SL</th>*@
           
            <th style="text-align: center; ">Sales Person Name</th>
            <th style="text-align: center">Customer Code</th>
            <th style="text-align: center" >Customer Name</th>
            
            <th style="text-align: center" >Address </th>
            <th style="text-align: center">Customer Type</th>
        </tr>

        
    </thead>
    <tbody class="Traylist">
    
        
    @foreach (DataRow row in Model.Rows)
    {

        <tr>
            @*<td>@count</td>*@

            <td style="text-align: center;background-color: #ECECEC;">@row.ItemArray[2]</td>
            <td style="text-align: center">@row.ItemArray[4]</td>

            <td style="text-align: center">@row.ItemArray[3]</td>

            <td style="text-align: left">@row.ItemArray[5]</td>



            <td style="text-align: center">@row.ItemArray[6]</td>
            @*<td style="text-align: center">@row.ItemArray[6]</td>*@



        </tr>
        count++;
    }
    </tbody>
   
</table>
