﻿
@{
    ViewBag.Title = "SalesPersonWiseSalesOrderReport";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title"> Sales Collection Money Receipt</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card" style="height: 235px">
                                    <div class="card-header">
                                        <h3 class="card-title">
                                            <i class="fa fa-arrow-down"></i>
                                            Date Wise Search Criteria
                                        </h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <div class="form-group ">
                                            <label for="dateRange ">Collection Date Range<span style="color: red"> *</span></label>
                                            <input type="text" class="form-control datepicker" autocomplete="off" id="dateRange">
                                        </div>
                                        <div class="form-group ">
                                            <label for="dateRange ">Entry Date Range<span style="color: red"> *</span></label>
                                            <input type="text" class="form-control datepicker" autocomplete="off" id="dateRangeE">
                                        </div>

                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <div class="col-md-4">
                                <div class="card" style="height: 235px">
                                    <div class="card-header">
                                        <h3 class="card-title">
                                            <i class="fa fa-person-booth"></i>
                                            Sales Person & Report Name
                                        </h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <div class="form-group " id="divCustomer">
                                            <label for="txtSalesPerson">Sales Person</label>
                                            <input type="text" id="txtSalesPerson" class="form-control" />
                                            <input type="number" id="employeeSelect" style="display: none" class="form-control" />
                                        </div>
                                        <div class="col-md-12 icheck-primary">
                                            <div class="form-group clearfix">
                                                <div class="icheck-success d-inline col-md-2">
                                                    <input type="radio" id="orderRadio" name="reportType" value="0" checked="">
                                                    <label for="orderRadio">All Collection</label>
                                                </div>
                                                <div class="icheck-success d-inline col-md-2">
                                                    <input type="radio" id="challanradio" name="reportType" value="1">
                                                    <label for="challanradio">Advanced Collection</label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- /.card-body -->
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card" style="height: 235px">
                                    <div class="card-header">
                                        <h3 class="card-title">
                                            <i class="ion ion-clipboard mr-1"></i>
                                            Customer
                                        </h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <div class="form-group " id="divCustomer">
                                            <label>Customer</label>
                                            <select class="form-control select2" id="ddlCustomer" style="width: 100%;"> </select>
                                        </div>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                            </div>
                        </div>
                        <div class="row">

                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary float-right" onclick="LoadReport()">Submit</button>
                        @*<button class="btn btn-outline-danger  float-right" onclick="location.reload()">Cancel</button>*@
                    </div>
                </div>
                <!-- /.card -->
                <div class="card divclass" id="salesReportDiv">
                    <div class="card-header with-border">
                        <div id="">
                            <h3 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="companyHeader"></h3>
                            <h4 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="reportHeader"></h4>
                            <div class="row">
                                <div class="offset-md-10 col-md-2">
                                    <label id="reportDate"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="salesReport">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-xs-12 text-center" id="testSpan" style="display: none">
        <span>
            Please wait Data is loading -
            <img src="~/AssetStatic/Images/Double Ring.gif" />
        </span>
    </div>
</section>
@section Scripts{
    <script>
        $(function () {

            EmpAutoCom('txtSalesPerson', 'employeeSelect');
            LoadDivision('ddlDivision');
            LoadAreaByDivisionId('ddlArea');
            LoadTerritoryByAreaId('ddlTerritory');
            LoadMarketByTerritoryId('ddlMarket');
            LoadFilteredCustomers('ddlCustomer');

            $('#dateRange').daterangepicker({
                locale: {
                    format: 'DD MMM YYYY'
                }
            }); $('#dateRangeE').daterangepicker({
                locale: {
                    format: 'DD MMM YYYY'
                }
            });



        });
        function chkbox() {

            if ($('input.customerType:checked').length == 5) {
                $(".customerType").prop("checked", true);
                $("#allCheckbox").prop("checked", true);
            }
            else {
                $("#allCheckbox").prop("checked", false);
            }
        }
        function LoadReport() {
            if (RptValidation() == true) {
                var customerId = parseInt($("#ddlCustomer").val());
                var sales = [];
                var salesPerson = $('#txtSalesPerson').val();
                sales = salesPerson.split(':');
                var collarray = [];
                var collarrayE = [];
                var collecdateRange = $('#dateRange').val();
                collarray = collecdateRange.split('-');
                var createdateRange = $('#dateRangeE').val();
                collarrayE = createdateRange.split('-');
                var reqType = $('input[type=radio][name=reportType]:checked').val();
                var urlpath = '@Url.Action("GetCustomerPaymentList", "SalesCollection")';

                $.ajax({
                    url: urlpath,
                    data: { rpttype:reqType, collfromDate: collarray[0], colltoDate: collarray[1], createfromDate: collarrayE[0], createtoDate: collarrayE[1], reqType: reqType, salesPerson: sales[0], customerId: customerId },
                    dataType: 'html',
                    type: "Get",
                    beforeSend: function () {
                        $('#testSpan').show();
                        $("#salesReport").empty();
                    },
                    success: function (data) {
                        $("#salesReport").html(data);
                        $('#testSpan').hide();
                    },
                    complete: function () {


                        $('#companyHeader').html("IG Foods Limited");
                        $('#reportHeader').html("Customer Payment");
                        //$('#reportDate').html("Stock report of :" + $('#txtRequisitionDate').val() + " & " + $('#txtProductionDate').val());
                        $('#SupplierLedgerTable').rowspanizer({
                            vertical_align: 'middle',
                            columns: [1]
                        });

                    }
                });
            }
        }


        function exportExcel(e) {
            if ($('#SalesReportTable tbody tr').length == 0) {
                swal("No Data to Export");
            } else {
                var file = new Blob([$('#salesReportDiv').html()], { type: "application/vnd.ms-excel" });
                var url = URL.createObjectURL(file);
                var a = $("<a />", {
                    href: url,
                    download: "SalesPersonWiseSalesReport.xls"

                }).appendTo("body").get(0).click();
                e.preventDefault();
            }
        }

        function RptValidation() {



            var isValid = true;
            //if (($('#stockDate').val() == 0 || $('#stockDate').val() == '') && rpt == 'DailyStockSummery') {
            //    ValidationColorChangeNew('stockDate', 'divStockDate', 'Please Select Stock Date', true);
            //    isValid = false;
            //}
            //if (($('#stockMonth').val() == 0 || $('#stockMonth').val() == '') && rpt == 'MonthlyStockSummery') {
            //    ValidationColorChangeNew('stockMonth', 'divstockMonth', 'Please Select Stock Month', true);
            //    isValid = false;
            //}

            //if ($('#ddlReportName').val() == 0 || $('#ddlReportName').val() == '') {
            //    ValidationColorChangeNew('ddlReportName', 'divReportName', 'Please Select Report Name', true);
            //    isValid = false;
            //}
            return isValid;
        }
    </script>
}