﻿
@{
    ViewBag.Title = "SalesCollectionDayBook";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title"> Sales Collection Daybook </h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    @*style="height: 335px"*@
                                    <div class="card-header">
                                        <h3 class="card-title">
                                            <i class="fa fa-arrow-down"></i>
                                            Search Criteria
                                        </h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group" id="divCompany">
                                                    <label for="ddlCompany">Company</label>
                                                    <select class="form-control select2" style="width: 100%;" id="ddlCompany" onchange=""></select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group" id="divFromDate">
                                                    <label for="fromDate">Payment Date<span class="text-danger"> *</span></label>
                                                    <input type="text" class="form-control datepicker" style="width: 100%;" id="fromDate"/>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>

                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary" onclick="LoadReport()">Submit</button>
                        <button type="button" class="btn btn-primary" onclick="exportExcel()">Export To Excel</button>
                        <button class="btn btn-outline-danger  float-right" onclick="location.reload()">Cancel</button>
                    </div>
                </div>
                <!-- /.card -->
                <div class="card divclass" id="salesReportDiv">
                    <div class="card-header with-border">
                        <div id="">
                            <h3 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="companyHeader"></h3>
                            <h4 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="reportHeader"></h4>
                            <div class="row">
                                <div class="col-md-12">

                                    <label class="float-left" id="productName"></label>
                                    <label class="float-right" id="reportDate"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="salesReport">
                    </div>
                </div>
            </div>
            <
        </div>
    </div>
</section>
@section Scripts{
    <script>
        $(function () {

            LoadCompany('ddlCompany');
            $("#ddlCompany").val(7).trigger("change");

          

        });

        

        function LoadReport() {
            if (RptValidation() == true) {
                var companyId = $("#ddlCompany").val() ;
                var fromDate = $("#fromDate").val();
               
                debugger;
                var urlpath = '@Url.Action("GetDayBookReport", "SalesCollection")';

                $.ajax({
                    url: urlpath,
                    data: { companyId: companyId,  fromDate: fromDate },
                    dataType: 'html',
                    type: "Get",
                    success: function (data) {
                        $("#salesReport").html(data);
                    },
                    complete: function () {


                        $('#companyHeader').html("IG Foods Limited");
                        $('#reportHeader').html("Day Book Report");
                        $('#reportDate').html('Payment Date: ' + $("#fromDate").val());

                    }
                });
            }
        }


        function exportExcel(e) {
            if ($('#SupplierLedgerTable tbody tr').length == 0) {
                swal("No Data to Export");
            } else {
                var file = new Blob([$('#salesReportDiv').html()], { type: "application/vnd.ms-excel" });
                var url = URL.createObjectURL(file);
                var a = $("<a />", {
                    href: url,
                    download: "DayBookReport.xls"

                }).appendTo("body").get(0).click();
            }
        }

        function RptValidation() {



            var isValid = true;

            if (($('#fromDate').val() == 0 || $('#fromDate').val() == '')) {
                ValidationColorChangeNew('fromDate', 'divDelivaryDate', 'Please Select Payment Date', true);
                isValid = false;
            }

            


            return isValid;
        }
    </script>
}

