﻿@model dynamic
@{
    ViewBag.Title = "Sales Collection";
}
<style>
    .modal-dialog {
        width: 70%;
        height: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .modal-dialog1 {
        width: 50%;
        height: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .modal-content {
        background-color: white;
    }

    .ModalHead {
        background-color: #3C8DBC;
        padding: 15px;
        color: white;
    }

        .ModalHead > h4 {
            color: white;
            padding-left: 10px;
        }

    .table1 {
        width: 50%;
        max-width: 100%;
        margin-bottom: 20px;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title"> New Sales Collection Entry</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-md-2">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="prevPayment">
                                    <label for="prevPayment" class="custom-control-label">Previous Collection Entry</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <div class="form-group">
                                    <label>Division</label>
                                    <select class="form-control select2" id="ddlDivision" style="width: 100%;"></select>
                                </div>

                                <div class="form-group" id="divPaymentDate">
                                    <label for="paymentDate">Collection Date</label>
                                    <input type="text" autocomplete="off" class="form-control datepicker" id="paymentDate" onchange="LoadCollectionPayment()" />
                                </div>
                                <div class="form-group">
                                    <label>Area</label>
                                    <select class="form-control select2" id="ddlArea" style="width: 100%;"> </select>
                                </div>
                                <div class="form-group">
                                    <label>Territory</label>
                                    <select class="form-control select2" id="ddlTerritory" style="width: 100%;"> </select>
                                </div>
                                <div class="form-group" id="divCustomer">
                                    <label>Customer</label>
                                    <select class="form-control select2" id="ddlCustomer" style="width: 100%;"> </select>
                                </div>
                                <div class="form-group" id="divLocation">
                                    <label for="ddlLocation">Location</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlLocation"></select>
                                </div>
                                <div class="form-group" id="divRemark">
                                    <label for="txtRemark">Comment</label>
                                    <textarea type="text" class="form-control" id="txtRemark" cols="6" rows="5"></textarea>
                                </div>
                                <div class="form-group">
                                    <div class="form-group reportTypeDiv">
                                        <div class="custom-control custom-radio">
                                            <input class="custom-control-input" type="radio" id="allRadio" value="all" name="reportType">
                                            <label for="allRadio" class="custom-control-label">All</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input class="custom-control-input" type="radio" id="dueRadio" value="due" name="reportType" checked>
                                            <label for="dueRadio" class="custom-control-label">Due</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" id="divInvDate">
                                    <label for="invDate" hidden>Previous Invoice Date</label>
                                    <input type="text" class="form-control datepicker" id="invDate" hidden />
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="form-group" id="divGrandTotal">
                                    <label for="txtGrandTotal">Grand Total</label>
                                    <input type='number' class='form-control' min='0' style='text-align: right;' id='txtGrandTotal' oninput="CalculateAmount('txtGrandTotal')" />
                                </div>
                                <div class="form-group" id="divTaxAmount">
                                    <label for="txtTaxAmount">Tax Amount</label>
                                    <input type='number' class='form-control' min='0' style='text-align: right;' id='txtTaxAmount' value='' />
                                </div>
                                <div class="form-group" id="divTaxPercent">
                                    <label for="txtTaxPercent">Tax Percent(%)</label>
                                    <input type='number' class='form-control' min='0' style='text-align: right;' id='txtTaxPercent' value='' />
                                </div>
                                <div class="form-group" id="divPaymentAmount">
                                    <label for="paymentAmount">Collection Amount</label>
                                    <input type='number' class='form-control' min='0' style='text-align: right;' id='paymentAmount' value='' disabled />
                                </div>
                                <div class="form-group" id="divAdvanceAmount">
                                    <label for="advanceAmount">Rest/Advance Amount</label>
                                    <input type='number' class='form-control' min='0' style='text-align: right;' id='advanceAmount' value='' disabled />
                                </div>
                                <div class="form-group" id="divPaymentType">
                                    <label>Collection Type</label>
                                    <select class="form-control select2" id="paymentType" style="width: 100%;" onchange="LoadFromAccount()"></select>
                                </div>
                                <div class="form-group" id="divFromAccount">
                                    <label for="ddlFromAccount">From Account</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlFromAccount" onchange="LoadBankBranchInfo()"></select>
                                </div>
                                <div class="form-group" id="divBankName">
                                    <label for="ddlBankName">Bank </label>
                                    <select id="ddlBankName" class="form-control select2" style="width: 100%;"></select>
                                </div>
                                <div class="form-group" id="divBankBranch">
                                    <label for="ddlBankBranch">Branch Name</label>
                                    <select id="ddlBankBranch" class="form-control select2" style="width: 100%;"></select>
                                </div>
                                <div class="form-group" id="divRefNo">
                                    <label for="refNo">Cheque. No/Ref. No</label>
                                    <input type='text' class='form-control' min='0' style='text-align: right;' id='refNo' value='' />
                                </div>
                                <div class="form-group" id="divRefDate">
                                    <label for="refDate">Cheque Date/Ref Date</label>
                                    <input type="text" class="form-control datepicker" id="refDate" />
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="advancedAmt">
                                        <label for="advancedAmt" class="custom-control-label">Advance Collection</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="autoAdjust">
                                        <label for="autoAdjust" class="custom-control-label">Auto Adjust</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="srSalaryAdjust" onclick="Srsalary()">
                                        <label for="srSalaryAdjust" class="custom-control-label">Sr Salary Adjust</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="taxAdjust" onclick="TaxAdjust()">
                                        <label for="taxAdjust" class="custom-control-label">Only Tax Adjust</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="retaintionAdjust" onclick="Retaintion()">
                                        <label for="retaintionAdjust" class="custom-control-label">Retention Adjust</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="damageAdjust" onclick="Damage()">
                                        <label for="damageAdjust" class="custom-control-label">Damage Adjust</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="PromotionAdjust" onclick="Promotion()">
                                        <label for="PromotionAdjust" class="custom-control-label">Debit Note (Promotion) Adjust</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="FreezerRentAdjust" onclick="Rent()">
                                        <label for="FreezerRentAdjust" class="custom-control-label">Debit Note (Freezer Rent) Adjust</label>
                                    </div>
                                    <div class="custom-control custom-checkbox" id="chaldalSH">
                                        <input class="custom-control-input" type="checkbox" id="ChaldalAdjust" onclick="ChaldalCollectionAdjust()">
                                        <label for="ChaldalAdjust" class="custom-control-label">Debit Note (Chaldal) Adjust</label>
                                    </div>
                                    <div class="custom-control custom-checkbox" id="chaldalSR">
                                        <input class="custom-control-input" type="checkbox" id="SalesReturnAdvAdjust" onclick="SalesReturnAdvAdjust()">
                                        <label for="SalesReturnAdvAdjust" class="custom-control-label">Sales Return Advanced Adjust</label>
                                    </div>
                                    <div class="custom-control custom-checkbox" id="chaldalDiscount">
                                        <input class="custom-control-input" type="checkbox" id="ChkSalesDiscount" onclick="SalesDiscount()">
                                        <label for="ChkSalesDiscount" class="custom-control-label">Discount Sales</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-11 form-group" id="SRList">
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12 form-group" id="orderList">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary" onclick="SaveFinal()">Submit</button>
                        <button class="btn btn-outline-danger  float-right" onclick="location.reload()">Cancel</button>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
        <input id="UserId" style="display: none;" value="@ViewBag.UserId">
    </div>
</section>


<div class="modal fadeInUp" id="myDOModal" role="dialog">
    <div class="modal-dialog" style="max-width: 50% !important">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Collection Details</h4>
            </div>
            <div class="modal-body" id="containerDetails">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box-body table-responsive" id="MainListDiv">
                            <table id="mytable1" class="table1 table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th style="width: 3%;text-align: center">SL</th>
                                        <th style="text-align: center">Collection Date</th>
                                        <th style="text-align: center">Collection Type</th>
                                        <th style="text-align: center">Bank</th>
                                        <th style="text-align: center">Branch</th>
                                        <th style="text-align: center">Amount</th>
                                        <th style="text-align: center">Tax</th>
                                        <th style="text-align: center">Grand Total</th>
                                        <th style="text-align: center">Cheque No/Ref No</th>
                                        <th style="text-align: center">Cheque Date/Ref Date</th>
                                        <th style="text-align: center">Entry By</th>
                                        <th style="text-align: center">Entry Date</th>
                                        <th style="text-align: center">Remarks</th>
                                    </tr>
                                </thead>
                                <tbody id="Traylist2"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="clsButton" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(function () {
            LoadDivision('ddlDivision');
            LoadCollectionType('paymentType');
            LoadBankName('ddlBankName');
            LoadFilteredCustomers('ddlCustomer', 0, 0, 0);

            $("#autoAdjust").prop("disabled", true);
            $("#advancedAmt").prop("disabled", true);
            $("#ddlBankName").prop("disabled", true);
            $("#ddlBankBranch").prop("disabled", true);
            $("#refNo").prop("disabled", true);
            $("#refDate").prop("disabled", true);

            $('#paymentDate').datepicker({
                //startDate: '+0m',
                //endDate: '+0m',
                todayHighlight: true,
                format: 'dd-M-yyyy',
                minDate: 0,
                autoclose: true
            });

            $("#ddlDivision").on("change",
                function () {
                    LoadAreaByDivisionId('ddlArea', $(this).val());
                });
            $("#ddlArea").on("change",
                function () {
                    LoadTerritoryByAreaId('ddlTerritory', $(this).val());
                });
            $("#ddlTerritory").on("change",
                function () {
                    LoadFilteredCustomers('ddlCustomer',
                        $("#ddlDivision").val(),
                        $("#ddlArea").val(),
                        $("#ddlTerritory").val());
                });
            $("input[name = 'reportType']").on("change",
                function () {
                    $("#ddlCustomer").trigger("change");
                });
            $("#ddlCustomer").on("change",
               function () {
                   LoadDeliverylocation();
                   LoadCollectionPayment();
               });

            $("#ddlLocation").on("change",
   function () {
       if ($("#ddlLocation").val() > 0)
       {
           LoadCollectionLocationPayment();
       }
       else {
           LoadCollectionPayment();
       }

   });

            $("#prevPayment").on("change",
                function () {

                    if ($(this).is(":checked")) {

                        $('label[for=invDate], input#invDate').attr("hidden", false);
                        $('.reportTypeDiv').attr("hidden", true);
                        $("#ddlCustomer").trigger("change");
                        $("#paymentAmount").trigger("change");

                    } else {

                        $('label[for=invDate], input#invDate').attr("hidden", true);
                        $('.reportTypeDiv').attr("hidden", false);
                        $("#ddlCustomer").trigger("change");
                        $("#paymentAmount").trigger("change");
                    }

                });

            $('#ddlBankName').change(function () {
                var bankid = $(this).val();
                LoadBankBranch('ddlBankBranch', bankid);

            });

            $('#paymentType').change(function () {
                var payid = $(this).val();
                if (payid == 1 || payid == 3) {
                    $("#ddlBankName").prop("disabled", false);
                    $("#ddlBankBranch").prop("disabled", false);
                    $("#refNo").prop("disabled", false);
                    $("#refDate").prop("disabled", false);
                    $("#ddlBankName").val(0).trigger('change');
                } else if (payid == 4 || payid == 6) {
                    $("#ddlBankName").prop("disabled", true);
                    $("#ddlBankBranch").prop("disabled", true);
                    $("#refNo").prop("disabled", false);
                    $("#refDate").prop("disabled", false);
                    $("#ddlBankName").val(0);
                    $("#ddlBankBranch").val(0);
                } else {
                    $("#ddlBankName").prop("disabled", true);
                    $("#ddlBankBranch").prop("disabled", true);
                    $("#refNo").prop("disabled", true);
                    $("#refDate").prop("disabled", true);
                    $("#ddlBankName").val(0);
                    $("#ddlBankBranch").val(0);

                }
            });

            $("#txtTaxAmount").on("input",
                function () {
                    debugger;
                    CalculateAmount($(this).prop('id'));
                    var taxamount = isNaN(parseFloat($('#txtTaxAmount').val()), 0)
                        ? 0
                        : parseFloat($('#txtTaxAmount').val());
                    if (taxamount > 0)
                        $('#autoAdjust').prop('disabled', true).prop('checked', false).trigger('change');
                    else
                        $('#autoAdjust').prop('disabled', false).prop('checked', false).trigger('change');
                });
            $("#txtTaxPercent").on("input",
                function () {
                    CalculateAmount($(this).prop('id'));
                    var taxpercent = isNaN(parseFloat($('#txtTaxPercent').val()), 0)
                        ? 0
                        : parseFloat($('#txtTaxPercent').val());
                    if (taxpercent > 0)
                        $('#autoAdjust').prop('disabled', true).prop('checked', false).trigger('change');
                    else
                        $('#autoAdjust').prop('disabled', false).prop('checked', false).trigger('change');

                });

            $('#autoAdjust').change(function () {
                if (this.checked) {
                    $("#advancedAmt").prop('disabled', true).prop('checked', false);
                    var restAmount = parseFloat($("#advanceAmount").val());

                    $(".tableRow").each(function (key, value) {
                        var dueAmount = parseFloat($("#TotalDue_" + ++key).val());
                        if (restAmount != 0 && dueAmount > 0) {

                            var pay = restAmount > dueAmount ? dueAmount : restAmount;
                            $("#chk_" + key).prop('checked', true);
                            $("#payAmount_" + key).prop('disabled', false).val(pay);
                            $("#totalCollection_" + key).prop('disabled', false).val(pay);
                            CheckPaymentAmountValidation(key);
                            restAmount = restAmount - pay;

                        } else if (restAmount != 0 && dueAmount == 0) {
                            return true;
                        } else {
                            return false;
                        }
                    });
                } else {
                    $("#advancedAmt").prop('disabled', false);
                    $("#ddlCustomer").trigger("change");
                }

            });


            $('#advancedAmt').change(function () {
                if (this.checked) {
                    $("#autoAdjust").prop('disabled', true).prop('checked', false);
                    var restAmount = parseInt($("#paymentAmount").val());
                    //alert(restAmount);
                    //$("#PaidTotalAmount").val(restAmount);
                    $("#orderTable tbody").empty();
                    $("#orderTable").hide();
                    //var asdf = $('#PaidTotalAmount').val();
                    //alert(asdf);

                } else {
                    $("#autoAdjust").prop('disabled', false);
                    $("#ddlCustomer").trigger("change");
                }

            });


            $('#paymentAmount').change(function () {
                if (parseInt($(this).val()) > 0 && !$("#prevPayment").is(":checked")) {

                    $("#autoAdjust").prop('disabled', false);
                    $("#advancedAmt").prop('disabled', false);
                } else {

                    $("#autoAdjust").prop('disabled', true).prop('checked', false).trigger("change");
                    $("#advancedAmt").prop('disabled', true).prop('checked', false).trigger("change");
                }
            });
            $("#chaldalSH").hide();
            if ($('#UserId').val() === '20635' || $('#UserId').val() === '20746') {
                $("#chaldalSH").show();
                //$("#chaldalSH").hide();
            }
        });
        function LoadCollectionPayment() {
            debugger;
            if ($('#prevPayment').is(":checked")) {

                $("#orderList").html('');
            } else {

                if ($('#paymentDate').val() == 0 || $('#paymentDate').val() == '') {
                    ValidationColorChangeNew('paymentDate', 'divPaymentDate', 'Select PaymentDate', true);
                    return true;
                }

                var urlpath = '@Url.Action("SalesOrderListForPaymentCollection", "SalesCollection")';
                $.ajax({
                    url: urlpath,
                    dataType: 'html',
                    type: "Get",
                    data: { customerId: $('#ddlCustomer').val(), reportType: $('input[name="reportType"]:checked').val(), paymentDate: $('#paymentDate').val() },
                    async: false,
                    success: function(data) {
                        $('#autoAdjust').prop('checked', false);
                        $('#advancedAmt').prop('checked', false);
                        $("#orderList").html(data);
                    }
                });

            }

        }

        function LoadCollectionLocationPayment() {
            debugger;
            if ($('#prevPayment').is(":checked")) {

                $("#orderList").html('');
            } else {

                if ($('#paymentDate').val() == 0 || $('#paymentDate').val() == '') {
                    ValidationColorChangeNew('paymentDate', 'divPaymentDate', 'Select PaymentDate', true);
                    return true;
                }

                var urlpath = '@Url.Action("SalesOrderLocationListForPaymentCollection", "SalesCollection")';
                $.ajax({
                    url: urlpath,
                    dataType: 'html',
                    type: "Get",
                    data: { customerId: $('#ddlCustomer').val(), reportType: $('input[name="reportType"]:checked').val(), paymentDate: $('#paymentDate').val(), locationId: $('#ddlLocation').val() },
                    async: false,
                    success: function (data) {
                        $('#autoAdjust').prop('checked', false);
                        $('#advancedAmt').prop('checked', false);
                        $("#orderList").html(data);
                    }
                });

            }

        }



        function DebitNoteAmount() {
            debugger;

            var promotionAmt = isNaN(parseFloat($('#txtPromotion').val()), 0)
                ? 0
                : parseFloat($('#txtPromotion').val());

            $('#txtGrandTotal').val(promotionAmt.toFixed(2));
            $('#paymentAmount').val(promotionAmt.toFixed(2));
            $('#advanceAmount').val(promotionAmt.toFixed(2));

            $('#txtTaxAmount').val(0);
            $('#txtTaxPercent').val(0);


        }
        function DebitNoteRentAmount() {
            debugger;

            var promotionAmt = isNaN(parseFloat($('#txtRent').val()), 0)
                ? 0
                : parseFloat($('#txtRent').val());

            $('#txtGrandTotal').val(promotionAmt.toFixed(2));
            $('#paymentAmount').val(promotionAmt.toFixed(2));
            $('#advanceAmount').val(promotionAmt.toFixed(2));

            $('#txtTaxAmount').val(0);
            $('#txtTaxPercent').val(0);


        }

        function DebitNoteChaldalAmount() {
            debugger;

            var chaldalAmt = isNaN(parseFloat($('#txtChaldal').val()), 0)
                ? 0
                : parseFloat($('#txtChaldal').val());

            $('#txtGrandTotal').val(chaldalAmt.toFixed(2));
            $('#paymentAmount').val(chaldalAmt.toFixed(2));
            $('#advanceAmount').val(chaldalAmt.toFixed(2));

            $('#txtTaxAmount').val(0);
            $('#txtTaxPercent').val(0);


        }
        function CalculateAmount(callFrom) {
            debugger;

            var grandtotal = isNaN(parseFloat($('#txtGrandTotal').val()), 0)
                ? 0
                : parseFloat($('#txtGrandTotal').val());
            var taxamount = isNaN(parseFloat($('#txtTaxAmount').val()), 0)
                ? 0
                : parseFloat($('#txtTaxAmount').val());


            var taxpercent = isNaN(parseFloat($('#txtTaxPercent').val()), 0)
                ? 0
                : parseFloat($('#txtTaxPercent').val());

            var paymentamount = isNaN(parseFloat($('#paymentAmount').val()), 0)
                ? 0
                : parseFloat($('#paymentAmount').val());

            var DueTotalAmount = isNaN(parseFloat($('#DueTotalAmount').val()), 0)
                ? 0
                : parseFloat($('#DueTotalAmount').val());

            var caltax = 0;
            if (taxamount > 0 && callFrom == 'txtTaxAmount') {
                taxpercent = ((taxamount / grandtotal) * 100).toFixed(2);

            } else if (taxpercent > 0 && callFrom == 'txtTaxPercent') {
                taxamount = (taxpercent / 100) * grandtotal.toFixed(2);
            } else {
                taxpercent = 0;
                taxamount = 0;
            }


            var colamt = grandtotal - taxamount;
            if ($('#taxAdjust').is(":checked") == false) {
                if (colamt > 0) {
                    $('#txtTaxAmount').val(taxamount);
                    $('#txtTaxPercent').val(taxpercent);
                    $('#paymentAmount').val(colamt);
                    $('#advanceAmount').val(colamt);
                } else {
                    swal("Collection Amount Cant not be negative or 0");
                    $('#txtTaxAmount').val(0);
                    $('#txtTaxPercent').val(0);
                    $('#paymentAmount').val(grandtotal);
                    $('#advanceAmount').val(colamt);
                }
            } else {
                debugger;
                $('#txtTaxAmount').val(taxamount);
                $('#txtTaxPercent').val(taxpercent);
                $('#paymentAmount').val(colamt);
                $('#advanceAmount').val(taxamount);
            }
            //$('#txtTaxAmount').val(taxamount);
            //$('#txtTaxPercent').val(taxpercent);
            //$('#paymentAmount').val(colamt);
            //$('#advanceAmount').val(colamt);

            if (colamt > 0) {
                debugger;
                if (parseFloat($('#paymentAmount').val()) > 0 && !$("#prevPayment").is(":checked")) {
                    if (DueTotalAmount > 0) {

                        $("#advancedAmt").prop('disabled', true);
                    }
                    else {

                        $("#advancedAmt").prop('disabled', false);
                    }

                    $("#autoAdjust").prop('disabled', false);

                } else {

                    $("#autoAdjust").prop('disabled', true).prop('checked', false).trigger("change");
                    $("#advancedAmt").prop('disabled', true).prop('checked', false).trigger("change");
                }
            }


        }

        function CalculateAmountPer() {

            var grandtotal = isNaN(parseFloat($('#txtGrandTotal').val()), 0)
                ? 0
                : parseFloat($('#txtGrandTotal').val());
            var taxamount = isNaN(parseFloat($('#txtTaxAmount').val()), 0)
                ? 0
                : parseFloat($('#txtTaxAmount').val());


            var taxpercent = isNaN(parseFloat($('#txtTaxPercent').val()), 0)
                ? 0
                : parseFloat($('#txtTaxPercent').val());

            var paymentamount = isNaN(parseFloat($('#paymentAmount').val()), 0)
                ? 0
                : parseFloat($('#paymentAmount').val());

            var caltax = 0;

            if (taxpercent > 0) {
                taxamount = (taxpercent / 100) * grandtotal;

            } else {
                taxamount = 0;
            }

            var colamt = grandtotal - taxamount;

            $('#txtTaxAmount').val(taxamount);


            $('#paymentAmount').val(colamt);
            if (colamt > 0) {
                if (parseFloat($('#paymentAmount').val()) > 0 && !$("#prevPayment").is(":checked")) {

                    $("#autoAdjust").prop('disabled', false);
                    $("#advancedAmt").prop('disabled', false);
                } else {

                    $("#autoAdjust").prop('disabled', true).prop('checked', false).trigger("change");
                    $("#advancedAmt").prop('disabled', true).prop('checked', false).trigger("change");
                }
            }

        }

        function CheckPaymentAmountValidation(rowNo) {


            var totalPayment = isNaN(parseFloat($('#paymentAmount').val()), 0)
                ? 0
                : parseFloat($('#paymentAmount').val());
            var totalPaymentwithtax = isNaN(parseFloat($('#txtGrandTotal').val()), 0)
                ? 0
                : parseFloat($('#txtGrandTotal').val());
            if ($('#taxAdjust').is(":checked") == false) {
                if (totalPayment == "" || totalPayment == 0) {
                    swal("Please input payment amount first");
                    $("#payAmount_" + rowNo).val("");
                    $('#paymentAmount').focus();

                    return;
                }
            }
            var coll = isNaN(parseFloat($('#payAmount_' + rowNo).val()), 0) ? 0 : parseFloat($('#payAmount_' + rowNo).val());
            var coltax = isNaN(parseFloat($('#taxDeduct_' + rowNo).val()), 0) ? 0 : parseFloat($('#taxDeduct_' + rowNo).val());
            var colfc = coll + coltax;
            $('#totalCollection_' + rowNo).val(colfc);
            var ftotal = 0;
            var fpaid = 0;
            var fcp = 0;
            var fdue = 0;

            ftotal = isNaN(parseFloat($('#TotalAmount_' + rowNo).val()), 0) ? 0 : parseFloat($('#TotalAmount_' + rowNo).val());

            //fcp = isNaN(parseFloat($('#payAmount_' + rowNo).val()), 0) ? 0 : parseFloat($('#payAmount_' + rowNo).val());
            fcp = isNaN(parseFloat($('#totalCollection_' + rowNo).val()), 0) ? 0 : parseFloat($('#totalCollection_' + rowNo).val());
            fdue = isNaN(parseFloat($('#TotalDue_' + rowNo).val()), 0) ? 0 : parseFloat($('#TotalDue_' + rowNo).val());
            fpaid = isNaN(parseFloat($('#hTotalDue_' + rowNo).val()), 0) ? 0 : parseFloat($('#hTotalDue_' + rowNo).val());
            if (fcp > fpaid) {
                swal("Paid Amount con not be larger than due amount");
                $("#payAmount_" + rowNo).val('');
                $("#totalCollection_" + rowNo).val('');
                $("#taxDeduct_" + rowNo).val('');
                //fcp = isNaN(parseFloat($('#payAmount_' + rowNo).val()), 0) ? 0 : parseFloat($('#payAmount_' + rowNo).val());
                fcp = isNaN(parseFloat($('#totalCollection_' + rowNo).val()), 0) ? 0 : parseFloat($('#totalCollection_' + rowNo).val());
                $('#TotalDue_' + rowNo).val(fpaid);

            }

            var newdue = (fpaid - fcp);
            $('#TotalDue_' + rowNo).val(newdue.toFixed(2));;;

            var totaltax = isNaN(parseFloat($('#txtTaxAmount').val()), 0)
                ? 0
                : parseFloat($('#txtTaxAmount').val());

            var totalcalculation = isNaN(parseFloat($('#txtGrandTotal').val()), 0)
                ? 0
                : parseFloat($('#txtGrandTotal').val());

            var all = GrandTotalCalculation();


            if (all.paid > totalPaymentwithtax) {
                debugger;
                swal("Paid amount is larger then payment amount");
                $("#payAmount_" + rowNo).val('').css("border", "1px solid red");
                $("#TotalDue_" + rowNo).val($("#hTotalDue_" + rowNo).val());
                $("#totalCollection_" + rowNo).val('');
                $("#taxDeduct_" + rowNo).val('');
                GrandTotalCalculation();
            }
            if (all.tax > totaltax) {
                swal("tax amount is larger then total tax amount");
                $("#taxDeduct_" + rowNo).val('').css("border", "1px solid red");
                $("#TotalDue_" + rowNo).val($("#hTotalDue_" + rowNo).val());
                $("#taxDeduct_" + rowNo).val('');
                $("#totalCollection_" + rowNo).val('');

                var coll = isNaN(parseFloat($('#payAmount_' + rowNo).val()), 0) ? 0 : parseFloat($('#payAmount_' + rowNo).val());
                var coltax = isNaN(parseFloat($('#taxDeduct_' + rowNo).val()), 0) ? 0 : parseFloat($('#taxDeduct_' + rowNo).val());
                var colfc = coll + coltax;
                $('#totalCollection_' + rowNo).val(colfc);

                GrandTotalCalculation();
            }

            if (all.gtotal > totalcalculation) {
                swal("Total calculation amount is larger then total grand amount");
                $('#payAmount_' + rowNo).val('');
                $("#TotalDue_" + rowNo).val($("#hTotalDue_" + rowNo).val());
                $("#taxDeduct_" + rowNo).val('');
                $("#totalCollection_" + rowNo).val('');

                var coll = isNaN(parseFloat($('#payAmount_' + rowNo).val()), 0) ? 0 : parseFloat($('#payAmount_' + rowNo).val());
                var coltax = isNaN(parseFloat($('#taxDeduct_' + rowNo).val()), 0) ? 0 : parseFloat($('#taxDeduct_' + rowNo).val());
                var colfc = coll + coltax;
                $('#totalCollection_' + rowNo).val(colfc);

                GrandTotalCalculation();
            }
            if ($('#taxAdjust').is(":checked") == false) {

                $("#advanceAmount").val(totalPayment - all.gtotal);
            } else {
                debugger;
                var textAmount = $('#txtTaxAmount').val();
                $("#advanceAmount").val(textAmount - all.gtotal);
            }
        }

        function Srsalary() {
            $('#taxAdjust').prop('checked', false);
            $('#retaintionAdjust').prop('checked', false);
            $('#damageAdjust').prop('checked', false);
            $('#PromotionAdjust').prop('checked', false);
            $('#FreezerRentAdjust').prop('checked', false);
            $('#ChaldalAdjust').prop('checked', false);
            $('#SalesReturnAdvAdjust').prop('checked', false);
            debugger;
            var customer = $("#ddlCustomer").val();

            if (customer == 0 || customer == null || customer == "") {
                $('#srSalaryAdjust').prop('checked', false);
                swal("Please Select Dealer");

                return;
            }
            if ($("#srSalaryAdjust").is(":checked")) {
                var dealar = $("#ddlCustomer").val();

                var urlpath = '@Url.Action("SrSalary", "SalesCollection")';
                $.ajax({
                    url: urlpath,
                    dataType: 'html',
                    type: "Get",
                    data: { delarId: dealar },
                    async: false,
                    success: function (data) {
                        debugger;
                        $('#autoAdjust').prop('checked', false);;
                        $("#SRList").html(data);
                        debugger;
                        var daa = $("#TotalSrSalary").text();
                        $('#txtGrandTotal').val(daa);
                        $('#txtTaxAmount').val(0);
                        $('#txtTaxPercent').val(0);
                        $('#paymentAmount').val(daa);
                        if (daa == "" || daa == null || daa == 0) {
                            $("#SRList").html("");
                            $('#txtGrandTotal').val(0);
                            $('#txtTaxAmount').val(0);
                            $('#txtTaxPercent').val(0);
                            $('#paymentAmount').val(0);
                            $('#srSalaryAdjust').prop('checked', false);
                            swal("There is no sr salary to adjustment, Please  Processe and Approve Sr Salary.");
                        }
                    }
                });
            } else {
                $("#SRList").html("");
                $('#txtGrandTotal').val(0);
                $('#txtTaxAmount').val(0);
                $('#txtTaxPercent').val(0);
                $('#paymentAmount').val(0);
            }
        }

        function Retaintion() {
            $('#taxAdjust').prop('checked', false);
            $('#srSalaryAdjust').prop('checked', false);
            $('#damageAdjust').prop('checked', false);
            $('#PromotionAdjust').prop('checked', false);
            $('#FreezerRentAdjust').prop('checked', false);
            $('#ChaldalAdjust').prop('checked', false);
            $('#SalesReturnAdvAdjust').prop('checked', false);
            debugger;
            var customer = $("#ddlCustomer").val();

            if (customer == 0 || customer == null || customer == "") {
                $('#retaintionAdjust').prop('checked', false);
                swal("Please Select Dealer");

                return;
            }
            if ($("#retaintionAdjust").is(":checked")) {
                var dealar = $("#ddlCustomer").val();

                var urlpath = '@Url.Action("RetaintionAdjust", "SalesCollection")';
                $.ajax({
                    url: urlpath,
                    dataType: 'html',
                    type: "Get",
                    data: { delarId: dealar },
                    async: false,
                    success: function (data) {
                        debugger;
                        $('#autoAdjust').prop('checked', false);;
                        $("#SRList").html(data);
                        debugger;
                        var daa = $("#TotalRetaintion").text();
                        $('#txtGrandTotal').val(daa);
                        $('#txtTaxAmount').val(0);
                        $('#txtTaxPercent').val(0);
                        $('#paymentAmount').val(daa);
                        if (daa == "" || daa == null || daa == 0) {
                            $("#SRList").html("");
                            $('#txtGrandTotal').val(0);
                            $('#txtTaxAmount').val(0);
                            $('#txtTaxPercent').val(0);
                            $('#paymentAmount').val(0);
                            $('#retaintionAdjust').prop('checked', false);
                            swal("There is no Retaintion to adjustment,Please  Processe and Approve Retaintion.");
                        }
                    }
                });
            } else {
                $("#SRList").html("");
                $('#txtGrandTotal').val(0);
                $('#txtTaxAmount').val(0);
                $('#txtTaxPercent').val(0);
                $('#paymentAmount').val(0);
            }
        }


        function Damage() {
            $('#taxAdjust').prop('checked', false);
            $('#srSalaryAdjust').prop('checked', false);
            $('#retaintionAdjust').prop('checked', false);
            $('#PromotionAdjust').prop('checked', false);
            $('#FreezerRentAdjust').prop('checked', false);
            $('#ChaldalAdjust').prop('checked', false);
            $('#SalesReturnAdvAdjust').prop('checked', false);

            debugger;
            var customer = $("#ddlCustomer").val();

            if (customer == 0 || customer == null || customer == "") {
                $('#damageAdjust').prop('checked', false);
                swal("Please Select Dealer");

                return;
            }
            if ($("#damageAdjust").is(":checked")) {
                var dealar = $("#ddlCustomer").val();

                var urlpath = '@Url.Action("DamageAdjust", "SalesCollection")';
                $.ajax({
                    url: urlpath,
                    dataType: 'html',
                    type: "Get",
                    data: { delarId: dealar },
                    async: false,
                    success: function (data) {
                        debugger;
                        $('#autoAdjust').prop('checked', false);;
                        $("#SRList").html(data);
                        debugger;
                        var daa = $("#TotalDamage").text();
                        $('#txtGrandTotal').val(daa);
                        $('#txtTaxAmount').val(0);
                        $('#txtTaxPercent').val(0);
                        $('#paymentAmount').val(daa);
                        if (daa == "" || daa == null || daa == 0) {
                            $("#SRList").html("");
                            $('#txtGrandTotal').val(0);
                            $('#txtTaxAmount').val(0);
                            $('#txtTaxPercent').val(0);
                            $('#paymentAmount').val(0);
                            $('#damageAdjust').prop('checked', false);
                            swal("There is no Damage to adjustment, Please  Processe and Approve Damage.");
                        }
                    }
                });
            } else {
                $("#SRList").html("");
                $('#txtGrandTotal').val(0);
                $('#txtTaxAmount').val(0);
                $('#txtTaxPercent').val(0);
                $('#paymentAmount').val(0);
            }
        }

        ////new shahadat --30-11-21
        function Promotion() {
            $('#taxAdjust').prop('checked', false);
            $('#srSalaryAdjust').prop('checked', false);
            $('#retaintionAdjust').prop('checked', false);
            $('#retaintionAdjust').prop('checked', false);
            $('#damageAdjust').prop('checked', false);
            $('#FreezerRentAdjust').prop('checked', false);
            $('#ChaldalAdjust').prop('checked', false);
            $('#SalesReturnAdvAdjust').prop('checked', false);

            debugger;
            var customer = $("#ddlCustomer").val();

            if (customer == 0 || customer == null || customer == "") {
                $('#PromotionAdjust').prop('checked', false);
                swal("Please Select Dealer");

                return;
            }
            if ($("#PromotionAdjust").is(":checked")) {
                var dealar = $("#ddlCustomer").val();

                var urlpath = '@Url.Action("PromotionAdjust", "SalesCollection")';
                $.ajax({
                    url: urlpath,
                    dataType: 'html',
                    type: "Get",
                    data: { delarId: dealar },
                    async: false,
                    success: function (data) {
                        debugger;
                        $('#autoAdjust').prop('checked', false);;
                        $("#SRList").html(data);
                        debugger;
                       // var daa = $("#TotalDamage").text();
                        $('#txtGrandTotal').val(0);
                        $('#txtTaxAmount').val(0);
                        $('#txtTaxPercent').val(0);
                        $('#paymentAmount').val(0);
                        //if (daa == "" || daa == null || daa == 0) {
                        //    $("#SRList").html("");
                        //    $('#txtGrandTotal').val(0);
                        //    $('#txtTaxAmount').val(0);
                        //    $('#txtTaxPercent').val(0);
                        //    $('#paymentAmount').val(0);
                        //    $('#PromotionAdjust').prop('checked', false);
                        //    swal("There is no Promotion to adjustment.");
                        //}
                    }
                });
            } else {
                $("#SRList").html("");
                $('#txtGrandTotal').val(0);
                $('#txtTaxAmount').val(0);
                $('#txtTaxPercent').val(0);
                $('#paymentAmount').val(0);
            }
        }
        function Rent() {
            $('#taxAdjust').prop('checked', false);
            $('#srSalaryAdjust').prop('checked', false);
            $('#retaintionAdjust').prop('checked', false);
            $('#retaintionAdjust').prop('checked', false);
            $('#damageAdjust').prop('checked', false);
            $('#PromotionAdjust').prop('checked', false);
            $('#ChaldalAdjust').prop('checked', false);
            $('#SalesReturnAdvAdjust').prop('checked', false);

            debugger;
            var customer = $("#ddlCustomer").val();

            if (customer == 0 || customer == null || customer == "") {
                $('#FreezerRentAdjust').prop('checked', false);
                swal("Please Select Dealer");

                return;
            }
            if ($("#FreezerRentAdjust").is(":checked")) {
                var dealar = $("#ddlCustomer").val();

                var urlpath = '@Url.Action("FreezerRentAdjust", "SalesCollection")';
                $.ajax({
                    url: urlpath,
                    dataType: 'html',
                    type: "Get",
                    data: { delarId: dealar },
                    async: false,
                    success: function (data) {
                        debugger;
                        $('#autoAdjust').prop('checked', false);;
                        $("#SRList").html(data);
                        debugger;
                        // var daa = $("#TotalDamage").text();
                        $('#txtGrandTotal').val(0);
                        $('#txtTaxAmount').val(0);
                        $('#txtTaxPercent').val(0);
                        $('#paymentAmount').val(0);
                        //if (daa == "" || daa == null || daa == 0) {
                        //    $("#SRList").html("");
                        //    $('#txtGrandTotal').val(0);
                        //    $('#txtTaxAmount').val(0);
                        //    $('#txtTaxPercent').val(0);
                        //    $('#paymentAmount').val(0);
                        //    $('#PromotionAdjust').prop('checked', false);
                        //    swal("There is no Promotion to adjustment.");
                        //}
                    }
                });
            } else {
                $("#SRList").html("");
                $('#txtGrandTotal').val(0);
                $('#txtTaxAmount').val(0);
                $('#txtTaxPercent').val(0);
                $('#paymentAmount').val(0);
            }
        }
        //---------------Chaldal---------------------
        function ChaldalCollectionAdjust() {
            $('#taxAdjust').prop('checked', false);
            $('#srSalaryAdjust').prop('checked', false);
            $('#retaintionAdjust').prop('checked', false);
            $('#retaintionAdjust').prop('checked', false);
            $('#damageAdjust').prop('checked', false);
            $('#PromotionAdjust').prop('checked', false);
            $('#FreezerRentAdjust').prop('checked', false);
            $('#SalesReturnAdvAdjust').prop('checked', false);


            debugger;
            var customer = $("#ddlCustomer").val();

            if (customer == 0 || customer == null || customer == "") {
                $('#ChaldalAdjust').prop('checked', false);
                swal("Please Select Dealer");

                return;
            }
            if ($("#ChaldalAdjust").is(":checked")) {
                var dealar = $("#ddlCustomer").val();

                var urlpath = '@Url.Action("ChaldalAdjust", "SalesCollection")';
                $.ajax({
                    url: urlpath,
                    dataType: 'html',
                    type: "Get",
                    data: { delarId: dealar },
                    async: false,
                    success: function (data) {
                        debugger;
                        $('#autoAdjust').prop('checked', false);;
                        $("#SRList").html(data);
                        debugger;
                        // var daa = $("#TotalDamage").text();
                        $('#txtGrandTotal').val(0);
                        $('#txtTaxAmount').val(0);
                        $('#txtTaxPercent').val(0);
                        $('#paymentAmount').val(0);
                        //if (daa == "" || daa == null || daa == 0) {
                        //    $("#SRList").html("");
                        //    $('#txtGrandTotal').val(0);
                        //    $('#txtTaxAmount').val(0);
                        //    $('#txtTaxPercent').val(0);
                        //    $('#paymentAmount').val(0);
                        //    $('#PromotionAdjust').prop('checked', false);
                        //    swal("There is no Promotion to adjustment.");
                        //}
                    }
                });
            } else {
                $("#SRList").html("");
                $('#txtGrandTotal').val(0);
                $('#txtTaxAmount').val(0);
                $('#txtTaxPercent').val(0);
                $('#paymentAmount').val(0);
            }
        }


        //------------------------Sales Return Advanced Adjust-------------------------
        function SalesReturnAdvAdjust() {
            $('#taxAdjust').prop('checked', false);
            $('#srSalaryAdjust').prop('checked', false);
            $('#retaintionAdjust').prop('checked', false);
            $('#PromotionAdjust').prop('checked', false);
            $('#FreezerRentAdjust').prop('checked', false);
            $('#ChaldalAdjust').prop('checked', false);
            $('#damageAdjust').prop('checked', false);

            debugger;
            var customer = $("#ddlCustomer").val();

            if (customer == 0 || customer == null || customer == "") {
                $('#SalesReturnAdvAdjust').prop('checked', false);
                swal("Please Select Dealer");

                return;
            }
            if ($("#SalesReturnAdvAdjust").is(":checked")) {
                var dealar = $("#ddlCustomer").val();

                var urlpath = '@Url.Action("SalesReturnAdvAdjust", "SalesCollection")';
                $.ajax({
                    url: urlpath,
                    dataType: 'html',
                    type: "Get",
                    data: { delarId: dealar },
                    async: false,
                    success: function (data) {
                        debugger;
                        $('#autoAdjust').prop('checked', false);;
                        $("#SRList").html(data);
                        debugger;
                        var daa = $("#txtSalesReturnAdjust").val();
                        $('#txtGrandTotal').val(daa);
                        $('#txtTaxAmount').val(0);
                        $('#txtTaxPercent').val(0);
                        $('#paymentAmount').val(daa);
                        if (daa == "" || daa == null || daa == 0) {
                            $("#SRList").html("");
                            $('#txtGrandTotal').val(0);
                            $('#txtTaxAmount').val(0);
                            $('#txtTaxPercent').val(0);
                            $('#paymentAmount').val(0);
                            $('#SalesReturnAdvAdjust').prop('checked', false);
                            swal("There is no Sales Return Advanced to adjustment");
                        }
                    }
                });
            } else {
                $("#SRList").html("");
                $('#txtGrandTotal').val(0);
                $('#txtTaxAmount').val(0);
                $('#txtTaxPercent').val(0);
                $('#paymentAmount').val(0);
            }
        }



        function TaxAdjust()
        {
            $('#autoAdjust').prop('checked', false);;
            //$('#taxAdjust').prop('checked', false);
            $('#srSalaryAdjust').prop('checked', false);
            $('#retaintionAdjust').prop('checked', false);
            $('#damageAdjust').prop('checked', false);
            $("#SRList").html("");
            $('#txtGrandTotal').val(0);
            $('#txtTaxAmount').val(0);
            $('#txtTaxPercent').val(0);
            $('#paymentAmount').val(0);
        }

        function GrandTotalCalculation() {
            ;;
            var t_totalpaid_doc = 0;
            var t_totaldue_amount = 0;

            var t_totaltax_doc = 0;
            var t_totalcollection_amount = 0;

            $("#orderTable tbody tr ").each(function (key, value) {

                var totalpaid_rr = isNaN(parseFloat($("#payAmount_" + ++key).val()), 0) ? 0 : parseFloat($("#payAmount_" + key).val());

                var totaldueamount_rr = isNaN(parseFloat($("#TotalDue_" + key).val()), 0) ? 0 : parseFloat($("#TotalDue_" + key).val());


                var totaltax_rr = isNaN(parseFloat($("#taxDeduct_" + key).val()), 0) ? 0 : parseFloat($("#taxDeduct_" + key).val());

                var totalcollectamount_rr = isNaN(parseFloat($("#totalCollection_" + key).val()), 0) ? 0 : parseFloat($("#totalCollection_" + key).val());

                t_totalpaid_doc += totalpaid_rr;
                t_totaldue_amount += totaldueamount_rr;


                t_totaltax_doc += totaltax_rr;
                t_totalcollection_amount += totalcollectamount_rr;
            });
            $("#PaidTotalAmount").val(t_totalpaid_doc);
            $("#DueTotalAmount").val(t_totaldue_amount);

            $("#TaxTotalAmount").val(t_totaltax_doc);
            $("#TotalCollectionTotalAmount").val(t_totalcollection_amount);

            var obj = {
                paid: t_totalpaid_doc.toFixed(2),
                tax: t_totaltax_doc.toFixed(2),
                gtotal: t_totalcollection_amount.toFixed(2)
            };
            return obj;

            //return t_totalpaid_doc

        }

        function checkBoxEvent(id) {

            if (parseFloat($('#DueTotalAmount').val()) < parseFloat($('#TotalSrSalary').text())) {
                swal("You Do Not Adjust This Amount.Because Sr Payment is higher than Customer Collection Amount");
                $("#chk_" + id).prop('checked', false);
            }
            var check = $('#chk_' + id).is(":checked");


            if (check == true) {
                $("#payAmount_" + id).prop('disabled', false);
                $("#taxDeduct_" + id).prop('disabled', false);
                if ($('#taxAdjust').is(":checked") == true) {
                    $("#payAmount_" + id).val(0);
                }
            } else {
                $("#payAmount_" + id).prop('disabled', true).val('');
                $("#taxDeduct_" + id).prop('disabled', true).val('');
                $("#totalCollection_" + id).val('');
                $("#TotalDue_" + id).val($("#hTotalDue_" + id).val());

                var t_totalpaid_docc = 0;
                var t_totaldue_amountt = 0;

                var t_totaltax_doc = 0;
                var t_totalcollection_amount = 0;

                var theId = 1;
                $("#orderTable tbody tr ").each(function () {


                    var totalpaid_rrr = isNaN(parseInt($("#payAmount_" + theId).val()), 0) ? 0 : parseInt($("#payAmount_" + theId).val());

                    var totaldueamount_rrr = isNaN(parseInt($("#TotalDue_" + theId).val()), 0) ? 0 : parseInt($("#TotalDue_" + theId).val());

                    var totaltax_rr = isNaN(parseFloat($("#taxDeduct_" + theId).val()), 0) ? 0 : parseFloat($("#taxDeduct_" + theId).val());

                    var totalcollectamount_rr = isNaN(parseFloat($("#totalCollection_" + theId).val()), 0) ? 0 : parseFloat($("#totalCollection_" + theId).val());


                    t_totalpaid_docc += totalpaid_rrr;
                    t_totaldue_amountt += totaldueamount_rrr;

                    t_totaltax_doc += totaltax_rr;
                    t_totalcollection_amount += totalcollectamount_rr;

                    theId++;


                });
                $("#PaidTotalAmount").val(t_totalpaid_docc);
                $("#DueTotalAmount").val(t_totaldue_amountt);


                $("#TaxTotalAmount").val(t_totaltax_doc);
                $("#TotalCollectionTotalAmount").val(t_totalcollection_amount);
            }

        }


        function SaveFinal() {
            if (SaveValidation()) {
                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false
                },
                    function () {
                        $('.confirm').prop("disabled", true);
                        $('.cancel').prop("disabled", true);
                        SaveSalesCollection();
                    });
            }
        }

        function SaveSalesCollection() {
            var jsonData = {};
            jsonData["CustomerId"] = parseInt($('#ddlCustomer').val());
            jsonData["PaymentAmount"] = $('#advancedAmt').is(":checked") ? parseFloat($('#advanceAmount').val()) : parseFloat($('#PaidTotalAmount').val())
            jsonData["RestAmount"] = isNaN(parseFloat($('#advanceAmount').val()), 0)
                ? 0
                : parseFloat($('#advanceAmount').val());
            jsonData["PaymentDate"] = $("#paymentDate").val();
            jsonData["InvoiceDate"] = $("#invDate").val();

            if ($("#PromotionAdjust").is(":checked") == true) {
                jsonData["Remark"] = $("textarea#txtRemarks").val();
            }
            else if ($("#FreezerRentAdjust").is(":checked") == true) {
                jsonData["Remark"] = $("textarea#txtRemarksR").val();
            }
            else if ($("#ChaldalAdjust").is(":checked") == true) {
                jsonData["Remark"] = $("textarea#txtChaldalRemarks").val();
            }
            else if ($("#SalesReturnAdvAdjust").is(":checked") == true) {
                jsonData["Remark"] = $("textarea#txtRemarksSalesReturn").val();
            }
            else {
                jsonData["Remark"] = $("textarea#txtRemark").val();
            }




            jsonData["IsAdvanced"] = $('#advancedAmt').is(":checked");
            jsonData["TaxAmount"] = parseFloat($('#txtTaxAmount').val());
            jsonData["TaxPercent"] = parseFloat($('#txtTaxPercent').val());
            jsonData["FromAccount"] = parseInt($('#ddlFromAccount').val());
            jsonData["GrandAmount"] = $('#advancedAmt').is(":checked") ? parseFloat($('#advanceAmount').val()) : parseFloat($('#TotalCollectionTotalAmount').val());
            //srSalaryAdjust =10
            //taxAdjust =11
            //retaintionAdjust =12
            //damageAdjust =13
            //var isAdjust = 0;
            //isAdjust = $("#srSalaryAdjust").is(":checked") ? 10 : 0;
            //isAdjust = $("#taxAdjust").is(":checked") ? 11 : 0;
            //isAdjust = $("#retaintionAdjust").is(":checked") ? 12 : 0;
            //isAdjust = $("#damageAdjust").is(":checked") ? 13 : 0;
            //isSalesReturnAdvAdjust = $("#salesReturnAdvAdjust").is(":checked") ? 17 : 0;

            jsonData["IsSrSalaryAdujst"] = $("#srSalaryAdjust").is(":checked") ? 10 : 0;
            jsonData["IsRetaintionAdjust"] = $("#retaintionAdjust").is(":checked") ? 12 : 0;
            jsonData["IsDamageAdjust"] = $("#damageAdjust").is(":checked") ? 13 : 0;
            jsonData["IsPromotionAdjust"] = $("#PromotionAdjust").is(":checked") ? 14 : 0;
            jsonData["IsFreezerRentAdjust"] = $("#FreezerRentAdjust").is(":checked") ? 15 : 0;
            jsonData["IsChaldalAdjust"] = $("#ChaldalAdjust").is(":checked") ? 16 : 0;
            jsonData["IsSalesReturnAdvAdjust"] = $("#SalesReturnAdvAdjust").is(":checked") ? 17 : 0;
            jsonData["IsDiscount"] = $("#ChkSalesDiscount").is(":checked") ? 1 : 0;


            var receiveObj = [];
            var count = 1;
            var myReceiveObj = {};
            var urlpath = '';

            if ($('#prevPayment').is(":checked")) {

                myReceiveObj["PaymentType"] = $('#paymentType').val();
                myReceiveObj["PaymentAmount"] = isNaN(parseFloat($('#paymentAmount').val()), 0)
                    ? 0
                    : parseFloat($('#paymentAmount').val());
                myReceiveObj["refNo"] = $('#refNo').val();
                myReceiveObj["refDate"] = $('#refDate').val();
                myReceiveObj["BankId"] = $('#ddlBankName').val();
                myReceiveObj["BranchId"] = $('#ddlBankBranch').val();
                receiveObj.push(myReceiveObj);
                urlpath = '@Url.Action("SavePreviousSalesCollection", "SalesCollection")';

            } else if ($('#advancedAmt').is(":checked")) {

                myReceiveObj["PaymentType"] = $('#paymentType').val();
                myReceiveObj["PaymentAmount"] = isNaN(parseFloat($('#paymentAmount').val()), 0)
                    ? 0
                    : parseFloat($('#paymentAmount').val());
                myReceiveObj["refNo"] = $('#refNo').val();
                myReceiveObj["refDate"] = $('#refDate').val();
                myReceiveObj["BankId"] = $('#ddlBankName').val();
                myReceiveObj["BranchId"] = $('#ddlBankBranch').val();
                receiveObj.push(myReceiveObj);
                urlpath = '@Url.Action("SaveAdvancedCollection", "SalesCollection")';

            } else {

                $('#orderTable tbody tr').each(function () {
                    var paymentAmount = isNaN(parseFloat($('#payAmount_' + count).val()), 0) ? 0 : parseFloat($('#payAmount_' + count).val());

                    if ($('#taxAdjust').is(":checked") == false) {
                        if (paymentAmount > 0) {

                            if ($('#chk_' + count).is(':checked')) {
                                myReceiveObj = {};
                                myReceiveObj["PaymentType"] = $('#paymentType').val();
                                myReceiveObj["PaymentAmount"] = isNaN(parseFloat($('#payAmount_' + count).val()), 0)
                                    ? 0
                                    : parseFloat($('#payAmount_' + count).val());
                                myReceiveObj["refNo"] = $('#refNo').val();
                                myReceiveObj["refDate"] = $('#refDate').val();
                                myReceiveObj["BankId"] = $('#ddlBankName').val();
                                myReceiveObj["BranchId"] = $('#ddlBankBranch').val();
                                myReceiveObj["SalesOrderChallanMasterId"] = $('#salesOrderChallanMasterId_' + count).val();
                                myReceiveObj["Remark"] = $('#Remark_' + count).val();
                                myReceiveObj["SaleType"] = $('#lblSaleType_' + count).text();
                                myReceiveObj["TaxAmountD"] = isNaN(parseFloat($('#taxDeduct_' + count).val()), 0)
                                    ? 0
                                    : parseFloat($('#taxDeduct_' + count).val());


                                myReceiveObj["GrandTotalD"] = isNaN(parseFloat($('#totalCollection_' + count).val()), 0)
                                    ? 0
                                    : parseFloat($('#totalCollection_' + count).val());
                                receiveObj.push(myReceiveObj);
                            }
                        }
                    } else {
                        if ($('#chk_' + count).is(':checked')) {
                            myReceiveObj = {};
                            myReceiveObj["PaymentType"] = $('#paymentType').val();
                            myReceiveObj["PaymentAmount"] = isNaN(parseFloat($('#payAmount_' + count).val()), 0)
                                ? 0
                                : parseFloat($('#payAmount_' + count).val());
                            myReceiveObj["refNo"] = $('#refNo').val();
                            myReceiveObj["refDate"] = $('#refDate').val();
                            myReceiveObj["BankId"] = $('#ddlBankName').val();
                            myReceiveObj["BranchId"] = $('#ddlBankBranch').val();
                            myReceiveObj["SalesOrderChallanMasterId"] = $('#salesOrderChallanMasterId_' + count).val();
                            myReceiveObj["Remark"] = $('#Remark_' + count).val();
                            myReceiveObj["SaleType"] = $('#lblSaleType_' + count).text();
                            myReceiveObj["TaxAmountD"] = isNaN(parseFloat($('#taxDeduct_' + count).val()), 0)
                                ? 0
                                : parseFloat($('#taxDeduct_' + count).val());


                            myReceiveObj["GrandTotalD"] = isNaN(parseFloat($('#totalCollection_' + count).val()), 0)
                                ? 0
                                : parseFloat($('#totalCollection_' + count).val());
                            receiveObj.push(myReceiveObj);
                        }
                    }
                    count++;
                });
                urlpath = '@Url.Action("SaveSalesCollection", "SalesCollection")';
            }

            jsonData["SalesCollectionDetails"] = receiveObj;

            $.ajax({
                contentType: "application/json",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "POST",
                traditional: true,
                success: function (result) {

                    if (result.isSuccess == true) {


                        swal({
                            title: 'Sales Payment is Collected Successfully',
                            type: 'success',
                            closeOnCancel: true
                        },
                            function () {
                                window.location.href = '@Url.Action("SalesCollectionEntry", "SalesCollection")';
                            });

                    }
                }
            });
        }

        function SaveValidation() {
            var isValid = true;
            var rVal3 = true;
            var message = 'Some Values Required';
            var message3 = '';
            if ($('#ddlCustomer').val() == 0 || $('#ddlCustomer').val() == '') {
                ValidationColorChangeNew('ddlCustomer', 'divCustomer', 'Select Customer', true);
                isValid = false;
            }
            if ($('#paymentDate').val() == 0 || $('#paymentDate').val() == '') {
                ValidationColorChangeNew('paymentDate', 'divPaymentDate', 'Select PaymentDate', true);
                isValid = false;
            }
            if ($('#taxAdjust').is(":checked") == false) {
                if ($('#paymentAmount').val() == 0 || $('#paymentAmount').val() == '') {
                    ValidationColorChangeNew('paymentAmount', 'divPaymentAmount', 'Amount Should more than 0', true);
                    isValid = false;
                }
            }
            if ($('#paymentType').val() == 0 || $('#paymentType').val() == '') {
                ValidationColorChangeNew('paymentType', 'divPaymentType', 'Select Payment Type', true);
                isValid = false;
            }

            if ($('#paymentType').val() == 1 || $('#paymentType').val() == 2 || $('#paymentType').val() == 3) {
                if ($('#ddlFromAccount').val() == 0 || $('#ddlFromAccount').val() == '') {
                    ValidationColorChangeNew('ddlFromAccount', 'divFromAccount', 'Select From Account', true);
                    isValid = false;
                }
            }


            if ($('#paymentType').val() == 1 || $('#paymentType').val() == 3) {
                if ($('#refNo').val() == 0 || $('#refNo').val() == '') {
                    ValidationColorChangeNew('refNo', 'divRefNo', 'Write Ref No Or cheque No', true);
                    isValid = false;
                }
                if ($('#refDate').val() == 0 || $('#refDate').val() == '') {
                    ValidationColorChangeNew('refDate', 'divRefDate', 'Write Ref Date', true);
                    isValid = false;
                }

                if ($('#ddlBankName').val() == 0 || $('#ddlBankName').val() == '') {
                    ValidationColorChangeNew('ddlBankName', 'divBankName', 'Select Bank', true);
                    isValid = false;
                }
                if ($('#ddlBankBranch').val() == 0 || $('#ddlBankBranch').val() == '') {
                    ValidationColorChangeNew('ddlBankBranch', 'divBankBranch', 'Select Bank Branch', true);
                    isValid = false;
                }
            }
            if ($('#paymentType').val() == 4 || $('#paymentType').val() == 6) {
                if ($('#refNo').val() == 0 || $('#refNo').val() == '') {
                    ValidationColorChangeNew('refNo', 'divRefNo', 'Write Ref No Or cheque No', true);
                    isValid = false;
                }
                if ($('#refDate').val() == 0 || $('#refDate').val() == '') {
                    ValidationColorChangeNew('refDate', 'divRefDate', 'Write Ref Date', true);
                    isValid = false;
                }


            }
            debugger;
            if (($('#prevPayment').is(":checked") == false) && ($('#advancedAmt').is(":checked") == false)) {
                var totalpaidAfter = 0;
                var paymentAfter = 0;
                var restAfter = 0;
                var totalpaid = isNaN(parseFloat($('#TotalCollectionTotalAmount').val()), 0) ? 0 : parseFloat($('#TotalCollectionTotalAmount').val()).toFixed(2);
                totalpaidAfter = parseFloat(totalpaid);
                if (totalpaidAfter == 0) {

                    message = "Paid Amount cannot be empty or zero";

                    isValid = false;


                }

                var payment = isNaN(parseFloat($("#paymentAmount").val()), 0) ? 0 : parseFloat($("#paymentAmount").val()).toFixed(2);
                var rest = isNaN(parseFloat($("#advanceAmount").val()), 0) ? 0 : parseFloat($("#advanceAmount").val()).toFixed(2);
                paymentAfter = parseFloat(payment);
                restAfter = parseFloat(rest);
                if (totalpaidAfter > 0 && paymentAfter > 0) {

                    if ((totalpaidAfter + restAfter) != paymentAfter) {
                        message = "Payment amount and total paid amount must be same";

                        isValid = false;

                    }
                }
            }

            if ($("#PromotionAdjust").is(":checked") == true) {
                if ($("textarea#txtRemarks").val() == 0 || $("textarea#txtRemarks").val() == '') {
                    ValidationColorChangeNew('txtRemarks', 'divRemarks', 'Write Debit Note Remarks', true);
                    isValid = false;
                }



            }
            if ($("#FreezerRentAdjust").is(":checked") == true) {
                if ($("textarea#txtRemarksR").val() == 0 || $("textarea#txtRemarksR").val() == '') {
                    ValidationColorChangeNew('txtRemarksR', 'divRemarksR', 'Write Debit Note Remarks', true);
                    isValid = false;
                }



            }




            var count = 0;
            count = $('input:checkbox.chkp:checked').length;
            if ($('#prevPayment').is(":not(:checked)") && count == 0 && $('#advancedAmt').is(":not(:checked)")) {
                isValid = false;
                message = ("Check atleast one checkbox");
            } else if ($('#prevPayment').is(":checked") == true) {
                if ($('#invDate').val() == 0 || $('#invDate').val() == '') {
                    ValidationColorChangeNew('invDate', 'divInvDate', 'Write Invoice/order Date', true);
                    isValid = false;
                }
            }


            if (isValid == false) {
                ShowMessage(message);
            }

            return isValid;
        }

        function CollectionDetailsPopUp(challanMasterId) {

            ModalPopUp();

            var urlpath = '@Url.Action("GetPreviousSalesCollection", "SalesCollection")';
            $.ajax({
                url: urlpath,
                type: "Get",
                async: false,
                data: { challanMasterId: challanMasterId },
                success: function (result) {

                    var row = "";
                    $("#mytable1 #Traylist2").html("");
                    $.each(result, function (index, item) {

                        row += "<tr>";

                        row += "<td style='text-align:center;'><label>" + item.SerialNo + " </label></td>";
                        var daa = item.Collectiondate
                        if (daa == null) {
                            row += "<td style='text-align:center;'><label></label></td>";
                        } else {
                            row += "<td style='text-align:center;'><label>" + ToJavaScriptDate(item.Collectiondate) + " </label></td>";
                        }
                        row += "<td style='text-align:center;'><label>" + item.PaymentTypeName + " </label></td>";
                        row += "<td style='text-align:center;'><label>" + item.BankName + " </label></td>";
                        row += "<td style='text-align:center;'><label>" + item.BranchName + " </label></td>";
                        row += "<td style='text-align:center;'><label>" + item.PaymentAmount + " </label></td>";
                        row += "<td style='text-align:center;'><label>" + item.TaxAmountD + " </label></td>";
                        row += "<td style='text-align:center;'><label>" + item.GrandTotalD + " </label></td>";
                        row += "<td style='text-align:center;'><label>" + item.RefNo + " </label></td>";

                        var da = item.RefDate
                        if (da == null) {
                            row += "<td style='text-align:center;'><label></label></td>";
                        } else {
                            row += "<td style='text-align:center;'><label>" + ToJavaScriptDate(item.RefDate) + " </label></td>";
                        }
                        row += "<td style='text-align:center;'><label>" + item.EntryBy + " </label></td>";
                        var daf = item.EntryDate
                        if (daf == null) {
                            row += "<td style='text-align:center;'><label></label></td>";
                        } else {
                            row += "<td style='text-align:center;'><label>" + ToJavaScriptDate(item.EntryDate) + " </label></td>";
                        }
                        row += "<td style='text-align:center;'><label>" + item.Remark + " </label></td>";


                        row += "</tr>";

                    });
                    $("#mytable1 #Traylist2").html(row);


                }


            });


        }

        function ModalPopUp() {
            $("#myDOModal").modal();
        }


        function BankWishEffect() {
            debugger;


            $.ajax({
                url: "/Utility/GetGLBankAccounts",
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {

                    $('#ddlFromAccount').empty();
                    $('#ddlFromAccount').append("<option value='0'>--Select From Account--</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#ddlFromAccount').append($("<option></option>").val(data[i].CALayerSevenId).html(data[i].AccountNo));
                    }
                }
            });
        }

        function CashWishEffect() {
            debugger;
            LoadBankName('ddlBankName');
            LoadBankBranch('ddlBankBranch', 0);
            $("#ddlBankName").val(0);
            $("#ddlBankBranch").val(0);


            $.ajax({
                url: "/Utility/GetGLCashAccounts",
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {
                    $('#ddlFromAccount').empty();
                    $('#ddlFromAccount').append("<option value='0'>--Select From Account--</option>");
                    for (var i = 0; i < data.length; i++) {
                        $('#ddlFromAccount').append($("<option></option>").val(data[i].CALayerSevenId).html(data[i].AccountName));
                    }
                }
            });
        }

        function LoadFromAccount() {
            debugger;
            if ($("#paymentType").val() == 1 || $("#paymentType").val() == 3 || $("#paymentType").val() == 4 || $("#paymentType").val() == 6) {
                BankWishEffect();
                if ($("#paymentType").val() == 4) {
                    $('#ddlFromAccount').val(1272);
                    LoadBankBranchInfo()
                }
                if ($("#paymentType").val() == 6) {
                    $('#ddlFromAccount').val(1267);
                    LoadBankBranchInfo()
                }
            } else {
                CashWishEffect();
            }

            var payid = $("#paymentType").val();
            if (payid == 1 || payid == 3) {
                $("#ddlBankName").prop("disabled", true);
                $("#ddlBankBranch").prop("disabled", true);
                $("#refNo").prop("disabled", false);
                $("#refDate").prop("disabled", false);
                $("#ddlBankName").val(0).trigger('change');
            } else if (payid == 4 || payid == 6) {
                $("#ddlBankName").prop("disabled", true);
                $("#ddlBankBranch").prop("disabled", true);
                $("#refNo").prop("disabled", false);
                $("#refDate").prop("disabled", false);
            } else {
                $("#ddlBankName").prop("disabled", true);
                $("#ddlBankBranch").prop("disabled", true);
                $("#refNo").prop("disabled", true);
                $("#refDate").prop("disabled", true);
                $("#ddlBankName").val(0);
                $("#ddlBankBranch").val(0);

            }
        }
        function LoadBankBranchInfo() {
            var CALayerSevenId = $("#ddlFromAccount").val();
            var urlpath = '@Url.Action("GetBankBranch", "DebitVoucher")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'json',
                data: { CALayerSevenId: CALayerSevenId },
                async: false,
                success: function (data) {
                    debugger;
                    if ($("#paymentType").val() == 1 || $("#paymentType").val() == 3 || $("#paymentType").val() == 4 || $("#paymentType").val() == 6) {
                        LoadBankName('ddlBankName');
                        $('#ddlBankName').val(data.BankId);
                        LoadBankBranch('ddlBankBranch', data.BankId);
                        $('#ddlBankBranch').val(data.BranchId);
                    } else {
                        $('#ddlBankName').val(0);
                        $('#ddlBankBranch').val(0);
                    }

                }
            });

        }

        function LoadDeliverylocation() {
            var customerId = $('#ddlCustomer').val();
            debugger;
            var urlpath = '@Url.Action("LoadLocationByMtoCustomer", "mto")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { customerId: customerId },
                async: false,
                success: function (data) {

                    $('#ddlLocation').empty();

                    $('#ddlLocation').append("<option value='0'>--Select Location --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#ddlLocation').append($("<option></option>").val(data[i].LocationId).html(data[i].LocationName));
                    }

                }
            });
        }

    </script>
}