﻿
@{
    ViewBag.Title = "SubLedger Trial Balance";
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title"> Sub Ledger Trial Balance</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">
                                            <i class="fa fa-arrow-down"></i>
                                            Search Criteria
                                        </h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="row">
                                        <div class="card-body">
                                            <div class="col-md-3">
                                                <div class="form-group" id="divGL">
                                                    <label for="ddlGL">Account</label>
                                                    <select class="form-control select2" style="width: 100%;" id="ddlGL" ></select>
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-3">
                                                <div class="form-group" id="divFromDate">
                                                    <label for="txtFromDate">From  Date</label>
                                                    <input type="text" id="txtFromDate" class="form-control datepicker" autocomplete="off" />
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group" id="divToDate">
                                                    <label for="txtToDate">To  Date</label>
                                                    <input type="text" id="txtToDate" class="form-control datepicker" autocomplete="off" />
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>

                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary float-right" onclick="LoadReport()">Submit</button>
                        <button type="button" class="btn btn-primary float-right" onclick="exportExcel()">Export To Excel</button>
                        <button class="btn btn-outline-danger" onclick="location.reload()">Cancel</button>
                    </div>
                </div>
                <!-- /.card -->
                <div class="card divclass" id="salesReportDiv">
                    <div class="card-header with-border">
                        <div id="">
                            <h3 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="companyHeader"></h3>
                            <h4 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="reportHeader"></h4>
                            <div class="row">
                                <div class="col-md-12">

                                    <label class="float-left" id="productName"></label>
                                    <label class="float-right" id="reportDate"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="salesReport">
                    </div>
                </div>
            </div>

        </div>
        <div id="ajaxLoaderDiv" style="position: fixed; top: 40%; left: 45%; z-index: 1234;">
            <img src="@Url.Content("~/AssetStatic/Images/Double Ring.gif")" alt="Loading..." class="ajax-loader" />
        </div>

    </div>
</section>
@section Scripts{
    <script>
        $(function () {
            $('#txtFromDate').datepicker({
                //endDate: new Date(),
                autoclose: true,
                todayHighlight: true,
                format: 'dd-M-yyyy'
            });

            $('#txtToDate').datepicker({
                //endDate: new Date(),
                autoclose: true,
                todayHighlight: true,
                format: 'dd-M-yyyy'
            });

            LoadGL();
            $('#ajaxLoaderDiv').hide();
        });

        function LoadGL() {
            var urlpath = '@Url.Action("GetGLByGlType", "SalesCollection")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {

                    $('#ddlGL').empty();
                    $('#ddlGL').append("<option value='0'>--Select GL--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#ddlGL').append($("<option></option>").val(data[i].CALayerSevenId).html(data[i].CALayerSevenName));
                    }
                }
            });
        }



        function LoadReport() {
            if (RptValidation() == true) {
                var fromDate = $("#txtFromDate").val();
                var toDate = $("#txtToDate").val();
                var glId = parseInt($("#ddlGL").val());
                $("#salesReport").html("");
                var urlpath = '@Url.Action("GetSubLedgerReport", "SalesCollection")';

                $.ajax({
                    url: urlpath,
                    data: { fromDate: fromDate, toDate: toDate, glId: glId },
                    dataType: 'html',
                    type: "Get",
                    beforeSend: function () {
                        $('#ajaxLoaderDiv').show();
                    },
                    success: function (data) {
                        $("#salesReport").html(data);
                    },
                    complete: function () {
                        $('#ajaxLoaderDiv').hide();
                        $('#companyHeader').html("IG Foods Limited");
                        $('#reportHeader').html("Sub Ledger Trial Balance");
                        $('#reportDate').html('Report Date: ' + $("#txtFromDate").val() + ' To ' + $("#txtToDate").val());
                     
                    }
                });
            }
        }


        function exportExcel(e) {
            if ($('#SupplierLedgerTable tbody tr').length == 0) {
                swal("No Data to Export");
            } else {
                var file = new Blob([$('#salesReportDiv').html()], { type: "application/vnd.ms-excel" });
                var url = URL.createObjectURL(file);
                var a = $("<a />", {
                    href: url,
                    download: "SubLedgerReport.xls"

                }).appendTo("body").get(0).click();
            }
        }


        function RptValidation() {

            var isValid = true;
            if (($('#ddlGL').val() == 0 || $('#ddlGL').val() == '')) {
                ValidationColorChangeNew('ddlGL', 'divGL', 'Please Select GL', true);
                isValid = false;
            }
            if (($('#txtFromDate').val() == 0 || $('#txtFromDate').val() == '')) {
                ValidationColorChangeNew('txtFromDate', 'divFromDate', 'Please Select From Date', true);
                isValid = false;
            }

            if ($('#txtToDate').val() == 0 || $('#txtToDate').val() == '') {
                ValidationColorChangeNew('txtToDate', 'divToDate', 'Please Select To Date', true);
                isValid = false;
            }
            return isValid;
        }

    </script>
}
