﻿

@model IEnumerable<IGFoodProject.Models.tbl_DressBirdStockInDetail_Log>


    
            @{
                int count = 1;
            }
            @foreach (var item in Model)
            {

                <tr id="tr_main">
                    <td>
                        @count

                    </td>
                  
                    <td style='display: none;'><input type='text' class='rd' value="@item.DressBirdStockInDetailLogID" /></td>
                 
                    <td style='display: none;'><input type='text' class='pd' value="@item.ProductID" /></td>
                    @*<td><input class="check1" type="checkbox" id="check_@item.DressBirdStockInDetailLogID.ToString()_@item.ItemID" onclick="Checkp(@item.DressBirdStockInDetailLogID, @item.ItemID)" /></td>*@
                    
                    <td><select id="ProductName_@item.DressBirdStockInDetailLogID" disabled='disabled'></select></td>

                    

                    <td style='text-align:center;'><input type='number' min='0' style='text-align:center;' id="StockInKG_@item.DressBirdStockInDetailLogID" value="@item.StockInQty" disabled='disabled' /></td>
                    

                    <td style='text-align:center;'><input type='number' min='0' style='text-align:center;' id="ApproveInKG_@item.DressBirdStockInDetailLogID" value="@item.StockInQty" oninput="Total(@item.DressBirdStockInDetailLogID)" /></td>
                    <td style='text-align:center;'><input type='number' min='0' style='text-align:center;' id="UnitPrice_@item.DressBirdStockInDetailLogID" value="@item.UnitPrice" disabled="disabled" /></td>


                    <td style='text-align:center;'><input type='text' style='text-align:center;' id="expDate_@item.DressBirdStockInDetailLogID" value="@item.ExpireDate" /></td>



                    

                    <td style='text-align:center;display:none;'><input type='number' min='0' style='text-align:center;' id="hStockInKG_@item.DressBirdStockInDetailLogID" value="@item.StockInQty" disabled='disabled' /></td>

                    <td style='text-align:center;display:none;'><input type='number' min='0' style='text-align:center;' id="hUnitPrice_@item.DressBirdStockInDetailLogID" value="@item.UnitPrice" disabled='disabled' /></td>



                    <td style='text-align:center;'><input type='text' id="Remarks_@item.DressBirdStockInDetailLogID" value='@item.Remark' /></td>



                </tr>

                count++;


            }
      




