﻿@using IGFoodProject.Models
@model IEnumerable<IGFoodProject.Models.Product>
@{ int count = 1;}

<table id="productTable" class="table table-bordered">
    <thead>
        <tr>

            <th style="text-align:center;">#SL</th>
            <th style="text-align:center;">Product Name</th>
            <th style="text-align:center;">Stock In Qty</th>
            <th style="text-align:center;">Unit Price</th>
            <th style="text-align:center;">Expire Date</th>
            <th style="text-align:center;">Remarks</th>

        </tr>
    </thead>
    <tbody id="">
        @foreach (Product item in Model)
        {
            <tr>
             <td>@count</td>
             <td style='text-align:left;'>@item.ProductName <input type='text' style='display: none;' id='productId_@count' class='form-control' value='@item.ProductId' /> </td>
             <td><input type='number' class='form-control'  min='0' style='text-align:right;' id='stockInQty_@count' value='' /></td>
             <td><input type='number' class='form-control' min='0' style='text-align:right;' id='unitPrice_@count' value='' /></td>
             <td><input type='text' class="form-control datepicker" id='expireDate_@count' value='' /></td>
             <td><input type='text' class='form-control' style='text-align:left;' id='remarks_@count' value='' /></td>
            </tr>
            
            count++;
        }
    </tbody>
</table>
