﻿
@model IEnumerable<IGFoodProject.ViewModel.ViewFurtherStockInListForApproval>

<table id="table1" class="table table-bordered table-striped table-hover">
    <thead>
        <tr>

            <th>Stock In date.</th>
            <th>StockIn By</th>
            <th>WareHouseName</th>
            <th>LocationName</th>
            <th>StockInQty</th>
            
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{ int count = 1;}
        @foreach (var item in Model)
        {
            <tr class="rowTr" id="@item.FurtherProcessStockInMasterLogId">

                <td>@item.StockInDate</td>
                <td>@item.StockInBy</td>
                <td>@item.WareHouseName</td>
                <td>@item.LocationName</td>
                <td>@item.StockInQty</td>
                
                <td>
                    <button class="btn btn-sm btn-dark" onclick="PrintInvoice(@item.FurtherProcessStockInMasterLogId)">Approve</button>
                </td>
            </tr>
            count++;
        }
    </tbody>
</table>
<script>


        function PrintInvoice(id)
        {

            window.location = "@Url.Action("ApproveStockIn", "FurtherProcessed")"+"?id="+id;

        }
</script>
