﻿@{
    ViewBag.Title = "FurtherProcessedStockIn";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Further Processed Stock In</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        <div class="col-md-2">
                            @*<div class="card-body">
                                <input type="checkbox"  class="form-check-input" id="chkIsOpening" style="margin-left: 3px;" onclick="CheckUp()" />
                                <label class="form-check-label" for="chkIsOpening" style="margin-left: 24px;">Direct Stock In</label>
                            </div>*@
                        </div>
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divCompany">
                                    <label for="ddlCompany">Company</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlCompany"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="margin-left:17%">
                        <div class="row">

                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divLocation">
                                        <label for="ddlLocation">From Location</label>
                                        <select class="form-control select2" id="ddlLocation" ></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divToLocation">
                                        <label for="ddlToLocation">To Location</label>
                                        @*<input type="text" class="form-control" id="txtLocation" disabled="disabled" />*@
                                        <select class="form-control select2" id="ddlToLocation"></select>
                                    </div>
                                </div>
                            </div>
                            


                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divWareHouse">
                                        <label for="ddlWareHouse">Further Plant</label>
                                        <select class="form-control select2" id="ddlWareHouse" ></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divToWareHouse">
                                        <label for="ddlToWareHouse">Stock House</label>

                                        <select class="form-control select2" id="ddlToWareHouse"></select>
                                    </div>
                                </div>
                            </div>
                           

                        </div>
                        <div class="row">
                           
                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divIssue">
                                        <label for="ddlIssue">Issue No</label>
                                        <select class="form-control select2" style="width: 100%;" id="ddlIssue"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divStockInDate">
                                        <label for="txtStockInDate">Stock In Date</label>
                                        @*<input type="text" class="form-control datepicker" id="txtStockInDate" value="@System.DateTime.Now.ToString("dd-MMM-yyyy")"/>*@
                                        <input type="text" autocomplete="off" class="form-control datepicker" id="txtStockInDate" value="@DateTime.Now.ToString("dd-MMM-yyyy")" />
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="row">

                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divStockInBy">
                                        <label for="empAutoCom">Stock In By</label>
                                        <input type="text" class="form-control" id="empAutoCom"/>
                                        <input type="number" class="form-control" id="employeeSelect" style="display: none;"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divComments">
                                        <label for="txtComments">Comment</label>
                                        <textarea id="txtComments" class="form-control" cols="12" and rows="3"></textarea>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-md-9">
                                <div class="card-body table-responsive" id="divDetail">

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="card-body table-responsive">
                            <div class="col-md-12">
                                <label>By Product Stock In Description</label>

                                <table id="myTable_o" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;">#SL</th>
                                            <th style="text-align:center;">Product Name</th>
                                            @*<th style="text-align:center;">Stock In Qty</th>*@
                                            <th style="text-align:center;">Stock In Qty </th>
                                            <th style="text-align:center;">Unit Price</th>
                                            <th style="text-align:center;">Expire Date</th>
                                            <th style="text-align:center;">Remarks</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="myTableb_o"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button class="btn btn-primary" onclick="SaveFinal()">Submit</button>
                            <button class="btn btn-outline-danger  float-right" onclick="location.reload()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
@section Scripts{
    <script>
        var AllItemList = {};
        $(function () {
            $('#txtStockInDate').datepicker({
                //startDate: '+0m',
                startDate: '-1d',
                endDate: '+0m',
                todayHighlight: true,
                format: 'dd-M-yyyy',
                minDate: 1,
                //minDate: 0,
                autoclose: true
            });

            LoadCompany('ddlCompany');
            $("#ddlCompany").val(7);
            LoadLocation('ddlLocation', $("#ddlCompany").val());
            LoadLocation('ddlToLocation', $("#ddlCompany").val());


            $("#ddlLocation").val(4).trigger('change');
            $("#ddlToLocation").val(4).trigger('change');


            LoadWareHouse('ddlWareHouse', 4, 5);
            $('#ddlWareHouse').val('16').trigger('change');
            LoadIssue('ddlIssue', $("#ddlWareHouse").val());



            LoadWareHouse('ddlToWareHouse', 4, 3);
            $('#ddlToWareHouse').val('10').trigger('change');

            $('#divDetail').hide();


            EmpAutoCom('empAutoCom','employeeSelect');
            $('#ddlIssue').change(function ()
            {
                var reqId = $(this).val();
               // LoadRequisitionDetaillList(reqId);
            });
            $('#ddlCompany').change(function ()
            {
                var reqId = $(this).val();
                LoadLocation('ddlLocation', reqId);
                LoadLocation('ddlToLocation', reqId);
            });
            $('#ddlLocation').change(function ()
            {
                var locid = $(this).val();
                var wareHouseTypeid = 0;
                LoadWareHousePage('ddlWareHouse', locid, wareHouseTypeid);
            });
            $('#ddlWareHouse').change(function() {
                LoadIssue('ddlIssue', $("#ddlWareHouse").val());
            });

            $('#ddlToLocation').change(function () {
                var locid = $(this).val();
                var wareHouseTypeid = 0;
                LoadWareHouse('ddlToWareHouse', locid, wareHouseTypeid);
            });

            LoadAllProduct();

            AddRow();
        });
        $('#ddlIssue').change(function () {
            var reqId = $(this).val();
            $('#divDetail').show();
            LoadIssueDetails();
        });
        function LoadIssueDetails() {

            var id = $('#ddlIssue').val();
            var urlpath = '@Url.Action("GetIssueDetails", "FurtherProcessed")';
            $.ajax({
                url: urlpath,
                dataType: 'html',
                type: "Get",
                data: { id: id },
                async: false,
                success: function (data) {
                    $('#divDetail').empty();
                    $('#divDetail').html(data);

                }
            });
        }
        function LoadIssue(elementId, WarehouseId) {

            var urlpath = '@Url.Action("LoadIssue", "FurtherProcessed")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { WarehouseId: WarehouseId },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Issue--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].DBIssueMasterID).html(data[i].IssueNo));
                    }

                }
            });
        }

        function LoadWareHousePage(elementId, locid, wareHouseTypeid) {

            debugger;
            var urlpath = '@Url.Action("LoadWareHouse", "Utility")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { locid: locid, wareHouseTypeid: wareHouseTypeid },
                async: true,
                success: function (data)
                {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Warehouse--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].WareHouseId).html(data[i].WareHouseName));
                    }

                }
            });
        }
        

        function AddRow() {

            var tr = $('#myTable_o tbody tr').length + 1;
            var ddlName = 'ProductName_' + tr;
            var urlpath = '@Url.Action("GetAddRow", "FurtherProcessed")';
            $.ajax({
                url: urlpath,
                dataType: 'HTML',
                type: "Get",
                data: { tr: tr },
                async: true,
                success: function (data) {

                    $('#myTable_o tbody').append(data);
                    LoadProduct(ddlName);
                    LoadDate('#expDate_' + tr);
                }
            });
        }
        function RemoveRow(trId) {
            if (($('#myTable_o tbody tr').length) > 1) {
                $('#tr_' + trId + '').remove();
            }

        }

        function LoadAllProduct() {

            var urlpath = '@Url.Action("GetProductsForFurtherProcessed", "FurtherProcessed")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: {},
                async: false,
                success: function (data) {
                    AllItemList = data;

                }
            });
        }
        function LoadProduct(elementId) {

            var array = [];
            var rowCount = $('#myTable_o tbody tr').length;
            for (let count = 1; count < rowCount; count++) {
                array.push(parseInt($("#ProductName_" + count).val()));
            };
            $('#' + elementId + '').append("<option value='0'>--Select Product--</option>");

            for (var i = 0; i < AllItemList.length; i++) {
                var a = AllItemList[i].ProductId;
                if (jQuery.inArray(AllItemList[i].ProductId, array) == -1) {

                    $('#' + elementId + '').append($("<option></option>").val(AllItemList[i].ProductId).html(AllItemList[i].ProductName));
                }

            }

            $('#' + elementId + '').select2();

        }

        function LoadSalablePrice(itemid,pdate) {

            var productid = $('#ProductName_'+ itemid).val();
            var urlpath = '@Url.Action("LoadSalablePriceByID", "FurtherProcessed")';
            $.ajax({
                url: urlpath,
                dataType: 'HTML',
                type: "Get",
                data: { productid: productid, pdate: pdate },
                async: true,
                success: function (data) {


                    $('#UnitPrice_' + itemid).val(data);

                }
            });
        }
        function LoadRequisitionDetailList() {
                      var urlpath = '@Url.Action("GetProductsForFurtherProcessed", "FurtherProcessed")';
                        $.ajax({
                            url: urlpath,
                            dataType: 'html',
                            type: "Get",
                            async: false,
                            success: function (data)
                            {
                                $("#productList").html(data);
                            }
                        });
        }
        function SaveValidation() {
            var isValid = true;
            var message = 'Some Values Required';

          

          
                if ($('#ddlIssue').val() == 0 || $('#ddlIssue').val() == '') {
                    ValidationColorChangeNew('ddlIssue', 'divIssue', 'Select Issue', true);
                    isValid = false;
                }
          

            if ($('#ddlCompany').val() == 0 || $('#ddlCompany').val() == '') {
                ValidationColorChangeNew('ddlCompany', 'divCompany', 'Select Company', true);
                isValid = false;
            }

          
                if ($('#ddlLocation').val() == 0 || $('#ddlLocation').val() == '') {
                    ValidationColorChangeNew('ddlLocation', 'divLocation', 'Select Location', true);
                    isValid = false;
                }

                if ($('#ddlWareHouse').val() == 0 || $('#ddlWareHouse').val() == '') {
                    ValidationColorChangeNew('ddlWareHouse', 'divWareHouse', 'Select Waerhouse', true);
                    isValid = false;
                }
      

            if ($('#ddlToLocation').val() == 0 || $('#ddlToLocation').val() == '') {
                ValidationColorChangeNew('ddlToLocation', 'divToLocation', 'Select To Location', true);
                isValid = false;
            }
            if ($('#ddlToWareHouse').val() == 0 || $('#ddlToWareHouse').val() == '') {
                ValidationColorChangeNew('ddlToWareHouse', 'divToWareHouse', 'Select To Warehouse', true);
                isValid = false;
            }




            if ($('#txtStockInDate').val() == null || $('#txtStockInDate').val() == '') {
                ValidationColorChangeNew('txtStockInDate', 'divStockInDate', 'Stock In Date Required', true);
                isValid = false;
            }



            if ($('#empAutoCom').val() == null || $('#empAutoCom').val() == '') {
                ValidationColorChangeNew('empAutoCom', 'divStockInBy', 'Stock In By Required', true);
                isValid = false;
            }



            var rowCount = $('#myTable_o tbody tr').length;
            for (var i = 0; i < rowCount; i++) {

                var item = i + 1;
                if ($("#ProductName_" + item).val() == 0 || $("#ProductName_" + item).val() == '') {
                    //ValidationColorChange('ProductName_0_', "tr" + [i] + "Select a Product", false);
                    isValid = false;
                    $("#ProductName_" + item).css('border-bottom', '2px solid red');
                }
                else {
                    $("#ProductName_" + item).css('border-bottom', '');
                }

                if ($("#StockInKG_" + item).val() == 0 || $("#StockInKG_" + item).val() == '') {
                    $("#StockInKG_" + item).css('border-bottom', '2px solid red');
                    isValid = false;
                }
                else {
                    $("#StockInKG_" + item).css('border-bottom', '');
                }

                if ($("#UnitPrice_" + item).val() == 0 || $("#UnitPrice_" + item).val() == '') {
                    $("#UnitPrice_" + item).css('border-bottom', '2px solid red');
                    isValid = false;
                }
                else {
                    $("#UnitPrice_" + item).css('border-bottom', '');
                }
                if ($("#expDate_" + item).val() == null || $("#expDate_" + item).val() == '') {
                    $("#expDate_" + item).css('border-bottom', '2px solid red');
                    isValid = false;
                }
                else {
                    $("#expDate_" + item).css('border-bottom', '');
                }

            }



            if (isValid == false) {
                swal(message, "", "warning");
            }
            return isValid;

        }

        function SaveFinal()
        {
            if (SaveValidation()) {
                //SaveValidation()
                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false
                }, function ()
                {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveFurtherProcessedStock();
                });
            }
        }
        function SaveFurtherProcessedStock() {
            debugger;
            var stockInMasterId = 0;
            var wareHouseId = parseInt($('#ddlToWareHouse').val());
            var locationId = parseInt($('#ddlToLocation').val());
            var CompanyId = parseInt($('#ddlCompany').val());
            var stockInDate = $('#txtStockInDate').val();
            var comments = $('#txtComments').val();
            var stockInBy = $('#empAutoCom').val();
            var DBIssueMasterID = $('#ddlIssue').val();
            var jsonData = {};
            jsonData["FurtherProcessStockInMasterLogId"] = stockInMasterId;
            jsonData["WareHouseId"] = wareHouseId;
            jsonData["StockInDate"] = stockInDate;
            jsonData["Comments"] = comments;
            jsonData["StockInBy"] = stockInBy;
            jsonData["CompanyId"] = CompanyId;
            jsonData["LocationId"] = locationId;
            

            jsonData["FurtherProcessIssueMasterId"] = DBIssueMasterID;
            jsonData["GroupId"] = 6;
            var receiveobj = [];

            var rowCount = $('#myTable_o tbody tr').length;
            for (var i = 0; i < rowCount; i++) {

                var item = i + 1;

                var ProductName = parseInt($("#ProductName_" + item).val());

                var StockInKG = isNaN(parseFloat($("#StockInKG_" + item).val()), 0) ? 0 : parseFloat($("#StockInKG_" + item).val());
                var UnitPrice = isNaN(parseFloat($("#UnitPrice_" + item).val()), 0) ? 0 : parseFloat($("#UnitPrice_" + item).val());

                var ExpireDate = $("#expDate_" + item).val();
                var Remarks = $("#Remarks_" + item).val();
                var myreceiveobj = {};

                myreceiveobj["FurtherProcessStockInDetailLogID"] = 0;


               
                myreceiveobj["ProductID"] = ProductName;


                myreceiveobj["StockInDate"] = stockInDate;

                myreceiveobj["StockInQty"] = StockInKG;
                myreceiveobj["StockInKG"] = 0;
                myreceiveobj["UnitPrice"] = UnitPrice;
                myreceiveobj["ExpireDate"] = ExpireDate;
                myreceiveobj["Remark"] = Remarks;
                myreceiveobj["PUnitPrice"] = 0;

                receiveobj.push(myreceiveobj);


            }

            jsonData["aDetail"] = receiveobj;
            var urlpath = '@Url.Action("SaveStockInForFurtherProcessed_Log", "FurtherProcessed")';
            $.ajax({
                contentType: "application/json",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "POST",
                traditional: true,
                success: function(result) {
                    if (result.isSuccess == true) {

                        swal("Further Processed Products Stocked Successfully");
                        window.location.href = '@Url.Action("FurtherProcessedStockIn", "FurtherProcessed")';
                    }
                }
            });
        }
    </script>
}
