﻿@model IGFoodProject.Models.BankMaster

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <section class="content">
        <div class="container-fluid">


            <div class="card-primary">
                <div class="card-header">
                    <h3 class="card-title">
                        <span class="fa fa-eye"></span> Create Bank
                    </h3>
                    <div class="float-right btn btn-outline-warning">
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="card-body">
                        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                        <div class="form-group">
                            @Html.LabelFor(model => model.BankName, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.BankName, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.BankName, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.IsActive, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.IsActive)
                                    @Html.ValidationMessageFor(model => model.IsActive, "", new {@class = "text-danger"})
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-success float-right" />
                                @Html.ActionLink("Cancel", "Create", "", new { @class = "btn btn-outline-danger  float-left" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h2>@Html.ViewBag.Message</h2>
        </div>
    </section>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
