﻿@model IEnumerable<IGFoodProject.Models.BankMaster>

@{
    ViewBag.Title = "Index";
}

<section class="content">
    <div class="container-fluid">


        <div class="card-primary">
            <div class="card-header">
                <h3 class="card-title">
                    <span class="fa fa-eye"></span> Bank List
                </h3>
                <div class="float-right btn btn-outline-warning">
                    @Html.ActionLink("Create New", "Create")
                </div>
            </div>
            <div class="card-body">
                <table class="table dataTable table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>
                            Bank Name
                        </th>
                        <th>
                            Active
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BankName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsActive)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.BankId })
                                    @*@Html.ActionLink("Details", "Details", new { id=item.BankId }) |*@
                                    @*@Html.ActionLink("Delete", "Delete", new { id=item.BankId })*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <Script>


    </Script>
}