﻿@{
    int sl = Convert.ToInt32(TempData["trSl"]);
    var flag = @ViewBag.eflag;
}
<tr id="tr_@sl">
    <td id="ts_@sl" style="width: 50px">@sl</td>
    <td>
        <select class="form-control select2" id="GroupId_@sl" style="width: 100%" ></select>
    </td>
    <td>
        <select class="form-control select2" id="CustomerTypeId_@sl" style="width: 100%"></select>
    </td>
    <td>
        <select class="form-control select2" id="PolicyTitle_@sl" style="width: 100%"></select>
    </td>
    <td>
        <input type="number" class="form-control" id="Percentage_@sl" style="width: 100%" />
    </td>
    <td>
        <input type="text" class="form-control" id="remarks_@sl" style="width: 100%" />
    </td>
    <td class="actionHide" style="width: auto">
        <div class="form-group">
            @*@if (@flag == "ed")
            {
                <button class="btn btn-xs btn-success " id="btnAdd_@sl" onclick="AddRow()"><b>+</b></button>
                <button class="btn btn-xs btn-danger" id="btnRemove_@sl" onclick="RemoveRow(@sl)"><b></b>x</button>
            }*@
            <button class="btn btn-xs btn-success " id="btnAdd_@sl" onclick="AddRow()"><b>+</b></button>
            <button class="btn btn-xs btn-danger" id="btnRemove_@sl" onclick="RemoveRow(@sl)"><b></b>x</button>
            <input type="number" value="0" style="display: none" id="details_@sl"/>
        </div>
    </td>
</tr>
