﻿@{
    int sl = Convert.ToInt32(TempData["trSl"]);
}
<tr id="tr_@sl">

    @*<td id="tsC_@sl">@sl</td>*@
    <td>
        <select class="form-control select2" id="glIdC_@sl" style="width: 150px" onchange="GetGLDetailsCr(@sl)"></select>
    </td>


    <td>
        <select class="form-control select2" id="costCenterC_@sl" style="width: 100px"></select>
    </td>

    <td>
        <select class="form-control select2" id="referenceNoC_@sl" style="width:100px"></select>
    </td>
    @*<td>


            <select id="TransactionType_@sl" style="width: 60px" onchange="CalculateAll()">
                <option value="Dr">Dr</option>
                <option value="Cr">Cr</option>

            </select>


        </td>*@
    <td>
        <input type="number" class="form-control" id="amountC_@sl" oninput="CalculateAll()" style="width: 100px" />

    </td>
    <td>
        <input type="text" class="form-control" id="remarksC_@sl" />
    </td>

    <td class="actionHide">
        <div class="form-group">
            @*<button class="btn btn-xs btn-success " id="btnAddC_@sl" onclick="AddRowCr()"><b>+</b></button>*@
            <button class="btn btn-xs btn-danger" id="btnRemoveC_@sl" onclick="RemoveRowCr(@sl)"><b></b>x</button>
            <input type="number" value="0" style="display: none" id="detailsC_@sl" />
            <input type="number" value="0" style="display: none" id="details_transactionC_@sl"/>
            <input type="hidden" id="TransactionTypeC_@sl" value="Cr" style="display: none"/>
            <input type="number" style="display: none" id="isReferanceC_@sl" />
            @*<input type="number"  style="display: none" id="groupid_@sl" />
                <input type="number" value="0" style="display: none" id="haschallan_@sl" />
                <input type="number" value="0" style="display: none"  id="picking_@sl" />
                <input type="text" style="display: none" id="isbulk_@sl" />
                <input type="number" style="display: none" id="mtretention_@sl" />
                <input type="number" style="display: none" id="perKgStdQty_@sl" />
                <input type="number" style="display: none" id="incentive_@sl" />*@
        </div>
    </td>
</tr>

