﻿
@{
    ViewBag.Title = "TradeApprove";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Approve Trade Purchase (
                        <span id="TxtPoNo"></span> )
                        
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">

                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divCompany">
                                    <label for="ddlCompany">Company</label>
                                    @*<input type="text" class="form-control" id="txtCompany" disabled="disabled"
                                        <a href="~/Views/DressBirdInStock/AddStockIn.cshtml">~/Views/DressBirdInStock/AddStockIn.cshtml</a> />*@
                                    <select class="form-control select2" style="width: 100%;" id="ddlCompany"></select>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-body" style="margin-top: 20px;">
                                <div class="form-group" id="divDeliveryLocation">
                                    <label>Delivery Location</label>
                                    <input type="radio" class="form-check-input" id="rdIsCompany" name="delradio" value="Company" checked style="margin-left: 3px;" />
                                    <label class="form-check-label" for="rdIsCompany" style="margin-left: 24px;">Company</label>
                                    <input type="radio" class="form-check-input" id="rdIsOther" name="delradio" value="Other" style="margin-left: 3px;" />
                                    <label class="form-check-label" for="rdIsOther" style="margin-left: 24px;">Other</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divCompanyDelLocation">
                                    <label for="ddlCompanyDelLocation">Company Delivery Location</label>
                                    @*<input type="text" class="form-control" id="txtLocation" disabled="disabled" />*@
                                    <select class="form-control select2" id="ddlCompanyDelLocation"></select>

                                </div>
                                <div class="form-group" id="divOtherDelLocation" style="display:none;">
                                    <label for="txtOtherDelLocation">Other Delivery Location</label>
                                    <input type="text" class="form-control" id="txtLocation" />

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divCompanyWarehouse">
                                    <label for="ddlCompanyWarehouse">Company Delivery Warehouse</label>
                                    @*<input type="text" class="form-control" id="txtLocation" disabled="disabled" />*@
                                    <select class="form-control select2" id="ddlCompanyWarehouse"></select>

                                </div>
                                <div class="form-group" id="divOtherWarehouse">
                                    <label for="ddlOtherWarehouse">Other Warehouse</label>
                                    <select class="form-control select2" id="ddlOtherWarehouse"></select>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divPurchaseDate">
                                    <label for="txtPurchaseDate">Purchase Date</label>
                                    <input type="text" class="form-control" id="txtPurchaseDate" />


                                </div>

                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="card-body" style="margin-top: 20px;">
                                <div class="form-group" id="divSupplierorLocal">
                                    <label>Supplier/Local</label>
                                    <input type="radio" class="form-check-input" id="rdIsSupplier" name="supradio" value="Supplier" checked style="margin-left: 3px;" />
                                    <label class="form-check-label" for="rdIsSupplier" style="margin-left: 24px;">Supplier</label>
                                    <input type="radio" class="form-check-input" id="rdIsLocal" name="supradio" value="Local" style="margin-left: 3px;" />
                                    <label class="form-check-label" for="rdIsLocal" style="margin-left: 24px;">Local</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divSupplier">
                                    <label for="ddlSupplier">Supplier</label>
                                    @*<input type="text" class="form-control" id="txtLocation" disabled="disabled" />*@
                                    <select class="form-control select2" id="ddlSupplier"></select>

                                </div>
                                <div class="form-group" id="divLocal" style="display:none;">
                                    <label for="txtLocal">Local</label>
                                    <input type="text" class="form-control" id="txtLocal" />

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-3">
                            <div class="card-body" style="margin-top: 20px;">
                                <div class="form-group" id="divPurchaseFor">
                                    <label>Purchase For</label>
                                    <input type="radio" class="form-check-input" id="rdIsCommon" name="cusradio" value="Common" style="margin-left: 3px;" />
                                    <label class="form-check-label" for="rdIsCommon" style="margin-left: 24px;">Common</label>
                                    <input type="radio" class="form-check-input" id="rdIsCustomer" name="cusradio" value="Customer" checked style="margin-left: 3px;" />
                                    <label class="form-check-label" for="rdIsCustomer" style="margin-left: 24px;">Fix Customer</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divCustomer">
                                    <label for="ddlCustomer">Customer</label>

                                    <select class="form-control select2" id="ddlCustomer"></select>

                                </div>

                            </div>
                        </div>

                    </div>
                    <br />
                    <div class="row table-responsive">
                        <div class="col-md-12">
                            <div class="card-body">
                                <table class="table table-bordered table-striped table-hover" id="myTable1">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Product</th>
                                            <th>Unit</th>
                                            <th>Purchase Pcs</th>
                                            <th>Purchase Kg</th>

                                            <th>Unit Price</th>
                                            <th>Total Amount</th>

                                            <th>Approve Pcs</th>
                                            <th>Approve Kg</th>

                                            <th> App. Unit Price</th>
                                            <th>App. Total Amount</th>
                                            <th class="action">Action</th>

                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        

                        <div class="col-md-6">
                            <div class="card-body">
                                <label for="grandtotal" class="col-sm-6 control-label">Grand Total:</label>
                                <div class="col-sm-6">
                                    <label id="grandtotal">0</label>
                                </div>
                                </div>
                            </div>
                        <div class="col-md-6">
                            <label for="agrandtotal" class="col-sm-6 control-label">Grand Total While Approved:</label>
                            <div class="col-sm-6">
                                <label id="agrandtotal">0</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="col-md-6">
                            <div class="card-body">
                                <label for="txtDiscount" class="col-sm-6 control-label">Discount:</label>
                                <div class="col-sm-6">
                                    <input type="text" disabled class="form-control" id="txtDiscount" />
                                </div>
                            </div>
                            </div>

                        <div class="col-md-6">
                            <label for="atxtDiscount" class="col-sm-6 control-label">Discount While Approved:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="atxtDiscount" oninput="TotalCal()" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        

                        <div class="col-md-6">
                            <div class="card-body">
                                <label for="lblNetpayable" class="col-sm-6 control-label">Net Payable:</label>
                                <div class="col-sm-6">
                                    <label id="lblNetpayable">0</label>
                                </div>
                            </div>
                            </div>
                        <div class="col-md-6">
                            <label for="alblNetpayable" class="col-sm-6 control-label">Net Payable While Approved:</label>
                            <div class="col-sm-6">
                                <label id="alblNetpayable">0</label>
                            </div>
                        </div>
                    </div>








                    <div>

                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button class="btn btn-primary" onclick="SaveFinal(1)">Approve</button>
                            <button class="btn btn-info" onclick="SaveFinal(2)">Review</button>
                            <button class="btn btn-danger" onclick="SaveFinal(0)">Reject</button>
                            <button class="btn btn-outline-danger  float-right" onclick="location.reload()">Cancel</button>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
    <input id="TradePurchaseMasterId" type="number" style="display:none;" value="@ViewBag.TradePurchaseMasterId">

</section>


@section Scripts{
    <script>
        var AllItemList = {};
        $(function () {


            $('#divOtherWarehouse').hide();
            $('#divOtherDelLocation').hide();



            LoadCompany('ddlCompany');
            LoadDate_C('#txtPurchaseDate');
            LoadSupplier('ddlSupplier');

            $("#ddlCompany").val(7);
            LoadLocation('ddlCompanyDelLocation', $("#ddlCompany").val());
            $("#ddlCompanyDelLocation").val(4);

            LoadLocation('ddlToLocation', $("#ddlCompany").val());

            LoadFromWareHouse();




            LoadWareHouse('ddlOtherWarehouse', 4, 6);
            $('#ddlOtherWarehouse').val('25').trigger('change');

            LoadCustomer('ddlCustomer');
            LoadAllProduct();



            $('#ddlCompany').change(function () {
                var reqId = $(this).val();

                LoadLocation('ddlCompanyDelLocation', reqId);
            });
            var TradePurchaseMasterId = $('#TradePurchaseMasterId').val();



            if (TradePurchaseMasterId > 0) {
                debugger;
                GetTradeMaster(TradePurchaseMasterId);

            } else {

                AddRowOpening();

            }


        });

        function GetTradeMaster(id) {

            var urlpath = '@Url.Action("GetTradeMaster", "TradePurchase")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { id: id },
                async: false,
                success: function (data) {
                    debugger;
                    LoadCompany('ddlCompany');
                    $("#ddlCompany").val(data.CompanyId).trigger('change');;
                    $("input[name=delradio][value=" + data.IsDeliveryCompanyOther + "]").attr('checked', 'checked');
                    if (data.IsDeliveryCompanyOther == "Company")
                    {
                        $("#divCompanyDelLocation").show();
                        $("#divOtherDelLocation").hide();
                        $("#divCompanyWarehouse").show();
                        $("#divOtherWarehouse").hide();
                        LoadLocation('ddlCompanyDelLocation', data.CompanyId);
                        $("#ddlCompanyDelLocation").val(data.DelLocationId).trigger('change');
                        LoadFromWareHouse();
                        $('#ddlCompanyWarehouse').val(data.DelWareHouseID).trigger('change');
                    }
                    else
                    {
                        $("#divCompanyDelLocation").hide();
                        $("#divOtherDelLocation").show();
                        $("#divCompanyWarehouse").hide();
                        $("#divOtherWarehouse").show();
                        $('#txtLocation').val(data.DeliveryOther);
                    }
                    $("#txtPurchaseDate").val(ToJavaScriptDate(data.PurchaseDate));
                    $("input[name=supradio][value=" + data.LocalOrSupplier + "]").attr('checked', 'checked');
                    if (data.LocalOrSupplier == "Supplier") {
                        $("#divSupplier").show();
                        $("#divLocal").hide();
                        LoadSupplier('ddlSupplier');

                        $("#ddlSupplier").val(data.SupplierId);

                    }
                    else {
                        $("#divSupplier").hide();
                        $("#divLocal").show();
                        $('#txtLocal').val(data.LocalSupplier);
                    }

                    $("input[name=cusradio][value=" + data.CommonOrFixCustomer + "]").attr('checked', 'checked');
                    if (data.CommonOrFixCustomer == "Customer") {
                        $("#divCustomer").show();
                        LoadCustomer('ddlCustomer');

                        $("#ddlCustomer").val(data.CustomerId);

                    }
                    else {
                        $("#divCustomer").hide();
                    }

                    $("#grandtotal").html(data.GrandTotalAmount);
                    $("#txtDiscount").val(data.Discount);
                    $("#lblNetpayable").html(data.NetPayable);
                    $("#TxtPoNo").html(data.TradeNo);



                    $("#agrandtotal").html(data.GrandTotalAmount);
                    $("#atxtDiscount").val(data.Discount);
                    $("#alblNetpayable").html(data.NetPayable);



                    //LoadAllProduct();

                    for (var i = 0; i < data.adetail.length; i++) {
                        debugger;
                        var tr = $('#myTable1 tbody tr').length + 1;
                        AddRowOpening();

                        $("#ProductName_" + tr).val(data.adetail[i].ProductId).trigger('change');
                        //$("#ProductName_" + tr).prop('disabled', true);
                        $('#StockInQty_' + tr).val(data.adetail[i].ProductQty.toFixed(2));
                        $("#StockInQty_" + tr).prop('disabled', true);


                        $('#StockInKG_' + tr).val(data.adetail[i].ProductKg.toFixed(2));
                        $("#StockInKG_" + tr).prop('disabled', true);

                        $('#UnitPrice_' + tr).val(data.adetail[i].UnitPrice.toFixed(2));
                        $("#UnitPrice_" + tr).prop('disabled', true);

                        $('#TotalPrice_' + tr).val(data.adetail[i].TotalPrice.toFixed(2));
                        $("#TotalPrice_" + tr).prop('disabled', true);




                        $('#aStockInQty_' + tr).val(data.adetail[i].ProductQty.toFixed(2));
                        $('#aStockInKG_' + tr).val(data.adetail[i].ProductKg.toFixed(2));


                        $('#aUnitPrice_' + tr).val(data.adetail[i].UnitPrice.toFixed(2));
                        $('#aTotalPrice_' + tr).val(data.adetail[i].TotalPrice.toFixed(2));


                        $('#TradePurchaseDetailId_' + tr).val(data.adetail[i].TradePurchaseDetailId);




                    }

                    $("#ddlCompany").prop("disabled", true);
                    $("#ddlCompanyDelLocation").prop("disabled", true);
                    $("#ddlCompanyWarehouse").prop("disabled", true);
                    $("#ddlSupplier").prop("disabled", true);
                    //$("txtPurchaseDate").prop("disabled", true);
                    $("#txtPurchaseDate").attr("disabled", "disabled");
                    jQuery("#divDeliveryLocation input:radio").attr('disabled', true);
                    jQuery("#divSupplierorLocal input:radio").attr('disabled', true);
                    jQuery("#divPurchaseFor input:radio").attr('disabled', true);
                }
            });
        }
        function LoadCustomer(elementId) {

            var urlpath = '@Url.Action("GetCustomer", "TradePurchase")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: {  },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Customer --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].CustomerID).html(data[i].CustomerCode + ":" + data[i].CustomerName + ": " + data[i].CoustomerTypeName));
                    }
                }
            });
        }
        function LoadSupplier(elementId) {
            var urlpath = '@Url.Action("LoadSupplier", "PurchaseOrder")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: {},
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Supplier--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].SupplierID).html(data[i].SupplierName));
                    }

                }
            });
        }


        $("input[name='delradio']").change(function () {
            var value = $("input[name='delradio']:checked").val();// Do something interesting here
            if(value=="Company")
            {
                $("#divCompanyDelLocation").show();
                $("#divOtherDelLocation").hide();
                $("#divCompanyWarehouse").show();
                $("#divOtherWarehouse").hide();

            }
            else {
                $("#divCompanyDelLocation").hide();
                $("#divOtherDelLocation").show();
                $("#divCompanyWarehouse").hide();
                $("#divOtherWarehouse").show();
            }

        });

        $("input[name='supradio']").change(function () {
            var value = $("input[name='supradio']:checked").val();// Do something interesting here
            if (value == "Supplier") {
                $("#divSupplier").show();
                $("#divLocal").hide();

            }
            else {
                $("#divSupplier").hide();
                $("#divLocal").show();

            }

        });

        $("input[name='cusradio']").change(function () {
            var value = $("input[name='cusradio']:checked").val();// Do something interesting here
            if (value == "Customer") {
                $("#divCustomer").show();


            }
            else {
                $("#divCustomer").hide();

            }

        });



        function LoadFromWareHouse() {

            var locid = $('#ddlLocation').val();
            var wt = 0;
            LoadWareHouse('ddlCompanyWarehouse', locid, wt);

        }


        function LoadLocation(elementId, comid) {
            var urlpath = '@Url.Action("LoadLocation", "DBToPortionRequisition")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { comid: comid },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Location--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].LocationId).html(data[i].LocationName));
                    }

                }
            });
        }




        function SaveFinal(approve) {

            if (SaveValidation()) {
                     swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function () {
                    //$('.confirm').prop("disabled", true);
                    //$('.cancel').prop("disabled", true);
                    // SaveRequisition();
                    SaveStockIn(approve);

                     });
            }



        }


        function SaveStockIn(approve) {
            var TradePurchaseMasterId = parseInt($('#TradePurchaseMasterId').val());
            var CompanyId = parseInt($('#ddlCompany').val());
            var IsDeliveryCompanyOther = $("input[name='delradio']:checked").val();
            var DelLocationId = 0;
            var DelWareHouseID = 0;
            var DeliveryOther;
            if (IsDeliveryCompanyOther == "Company") {
                 DelLocationId = $('#ddlCompanyDelLocation').val();
                 DelWareHouseID = $('#ddlCompanyWarehouse').val();
            }
            else {
                 DeliveryOther = $('#txtLocation').val();
                 DelWareHouseID = $('#ddlOtherWarehouse').val();

            }
            var PurchaseDate = $('#txtPurchaseDate').val();
            var SupplierId = 0;
            var LocalSupplier;
            var LocalOrSupplier = $("input[name='supradio']:checked").val();
            if (LocalOrSupplier == "Supplier") {
                SupplierId = $('#ddlSupplier').val();

                }
            else {
                LocalSupplier = $('#txtLocal').val();

                }
            var CustomerId = 0;
            var CommonOrFixCustomer = $("input[name='cusradio']:checked").val();
            if (CommonOrFixCustomer == "Customer") {
                CustomerId = $('#ddlCustomer').val();

            }

            var GrandTotalAmount = $('#grandtotal').html();
            var Discount = $('#txtDiscount').val();

            var NetPayable = $('#lblNetpayable').html();


            var ApprovalGrandTotalAmount = $('#agrandtotal').html();
            var ApprovalDiscount = $('#atxtDiscount').val();

            var ApprovalNetPayable = $('#alblNetpayable').html();



            var jsonData = {};
            jsonData["TradePurchaseMasterId"] = TradePurchaseMasterId;

            jsonData["CompanyId"] = CompanyId;


            jsonData["IsDeliveryCompanyOther"] = IsDeliveryCompanyOther;

            jsonData["DelLocationId"] = DelLocationId;
            jsonData["DelWareHouseID"] = DelWareHouseID;


            jsonData["DeliveryOther"] = DeliveryOther;
            jsonData["PurchaseDate"] = PurchaseDate;

            jsonData["LocalOrSupplier"] = LocalOrSupplier;



            jsonData["SupplierId"] = SupplierId;
            jsonData["LocalSupplier"] = LocalSupplier;

            jsonData["CommonOrFixCustomer"] = CommonOrFixCustomer;


            jsonData["CustomerId"] = CustomerId;
            jsonData["ApprovalGrandTotalAmount"] = ApprovalGrandTotalAmount;

            jsonData["ApprovalDiscount"] = ApprovalDiscount;

            jsonData["ApprovalNetPayable"] = ApprovalNetPayable;
            jsonData["IsApprove"] = approve;
            var receiveobj = [];

            $('#myTable1 tbody tr').each(function () {

                var id = $(this).attr('id');
                if (typeof id !== "undefined") {
                    var theId = id.substring(3);
                    var TradePurchaseDetailId = $('#TradePurchaseDetailId_' + theId).val();
                    var ProductId = $('#ProductName_' + theId).val();
                    var UOMId = $('#hUnit_' + theId).val();
                    var ProductQty = isNaN(parseFloat($('#aStockInQty_' + theId).val())) ? 0 : parseFloat($('#aStockInQty_' + theId).val());
                    var ProductKg = isNaN(parseFloat($('#aStockInKG_' + theId).val())) ? 0 : parseFloat($('#aStockInKG_' + theId).val());
                    var UnitPrice = isNaN(parseFloat($('#aUnitPrice_' + theId).val())) ? 0 : parseFloat($('#aUnitPrice_' + theId).val());
                    var TotalPrice = isNaN(parseFloat($('#aTotalPrice_' + theId).val())) ? 0 : parseFloat($('#aTotalPrice_' + theId).val());
                    var myreceiveobj = {};
                    myreceiveobj["TradePurchaseDetailId"] = TradePurchaseDetailId;

                    myreceiveobj["ProductId"] = ProductId;
                    myreceiveobj["UOMId"] = UOMId;


                    myreceiveobj["ApproveQty"] = ProductQty;

                    myreceiveobj["ApproveKg"] = ProductKg;
                    myreceiveobj["ApproveUnitPrice"] = UnitPrice;
                    myreceiveobj["ApproveTotalAmount"] = TotalPrice;


                    receiveobj.push(myreceiveobj);
                }
            });



            jsonData["adetail"] = receiveobj;


            var urlpath = '@Url.Action("SaveTradePurchaseApprove", "TradePurchase")';

            $.ajax({

                contentType: "application/json",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "POST",
                traditional: true
            })
                .success(function (result) {

                    if (result.isSuccess == true) {

                        swal("Trade Purchase  Save Succesfully");
                        //var productno= GetProductNo(result.pk);

                        //swal("Product ("+productno+") Saved Successfull");
                        window.location.href = '@Url.Action("TradePurchaseListForApprove", "TradePurchase")';


                    }
                });

        }






        function SaveValidation() {
            var isValid = true;
            var message = 'Some Values Required';

            if ($('#ddlCompany').val() == 0 || $('#ddlCompany').val() == '') {
                ValidationColorChangeNew('ddlCompany', 'divCompany', 'Select Company', true);
                    isValid = false;
                }
            var value = $("input[name='cusradio']:checked").val();
            if (value == "Customer")
            {
                if ($('#ddlCustomer').val() == 0 || $('#ddlCustomer').val() == '') {
                    ValidationColorChangeNew('ddlCustomer', 'divCustomer', 'Select Customer', true);
                    isValid = false;
                }
            }


            var dvalue = $("input[name='delradio']:checked").val();
            if (dvalue == "Company") {
                if ($('#ddlCompanyDelLocation').val() == 0 || $('#ddlCompanyDelLocation').val() == '') {
                    ValidationColorChangeNew('ddlCompanyDelLocation', 'divCompanyDelLocation', 'Select Company Delivery Location', true);
                    isValid = false;
                }
                if ($('#ddlCompanyWarehouse').val() == 0 || $('#ddlCompanyWarehouse').val() == '') {
                    ValidationColorChangeNew('ddlCompanyWarehouse', 'divCompanyWarehouse', 'Select Company Delivery Warehouse', true);
                    isValid = false;
                }
            }
            else {
                if ($('#txtLocation').val() == null || $('#txtLocation').val() == '') {
                    ValidationColorChangeNew('txtLocation', 'divOtherDelLocation', 'Other Delivery Location Required', true);
                    isValid = false;
                }
                if ($('#ddlOtherWarehouse').val() == 0 || $('#ddlOtherWarehouse').val() == '') {
                    ValidationColorChangeNew('ddlOtherWarehouse', 'divOtherWarehouse', 'Select Other Warehouse', true);
                    isValid = false;
                }

            }


            if ($('#txtPurchaseDate').val() == null || $('#txtPurchaseDate').val() == '') {
                ValidationColorChangeNew('txtPurchaseDate', 'divPurchaseDate', 'Purchase Date Required', true);
                isValid = false;
            }

            var svalue = $("input[name='supradio']:checked").val();
            if (svalue == "Supplier") {
                if ($('#ddlSupplier').val() == 0 || $('#ddlSupplier').val() == '') {
                    ValidationColorChangeNew('ddlSupplier', 'divSupplier', 'Select Supplier', true);
                    isValid = false;
                }
            }
            else
            {
                if ($('#txtLocal').val() == null || $('#txtLocal').val() == '') {
                    ValidationColorChangeNew('txtLocal', 'divLocal', 'Local Supplier Required', true);
                    isValid = false;
                }
            }





            $('#myTable1 tbody tr').each(function () {


                var id = $(this).attr('id');
                if (typeof id !== "undefined") {
                    var theId = id.substring(3);

                    var product = $('#ProductName_' + theId).val();
                    var unit = $('#UnitName_' + theId).html();
                    var qty = isNaN(parseFloat($('#aStockInQty_' + theId).val())) ? 0 : parseFloat($('#aStockInQty_' + theId).val());
                    var kg = isNaN(parseFloat($('#aStockInKG_' + theId).val())) ? 0 : parseFloat($('#aStockInKG_' + theId).val());
                    var price = isNaN(parseFloat($('#aUnitPrice_' + theId).val())) ? 0 : parseFloat($('#aUnitPrice_' + theId).val());
                    if (product == "0")
                    {
                        message = "Select Product";
                        isValid = false;
                        $("#ProductName_" + theId).css('border-bottom', '2px solid red');
                    }
                    if (product > 0) {

                        if (unit == 'pcs') {
                            if (qty <= 0) {
                                message = "Approved Quantity Required";
                                isValid = false;
                                $("#aStockInQty_" + theId).css('border-bottom', '2px solid red');
                            }
                        }
                        else {
                            if (kg <= 0) {
                                message = "Approved KG Required";
                                isValid = false;
                                $("#aStockInKG_" + theId).css('border-bottom', '2px solid red');
                            }
                        }



                        if (price <= 0) {
                            message = "Approved Unit Price Required";
                            isValid = false;
                            $("#aUnitPrice_" + theId).css('border-bottom', '2px solid red');
                        }




                    }


                }
            });



            if (isValid == false) {
                ShowMessage(message);
            }
            return isValid;

        }




        function LoadDressedBird(elementId, wareid) {
            var urlpath = '@Url.Action("LoadDressedBird", "DressBirdInStock")';
            $.ajax({
                url:urlpath,
                type: "Get",
                data: { wareid: wareid },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Dressed Bird No--</option>");
                     for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].DressedBirdMasterID).html(data[i].DressedBirdNo));
                    }

                }
            });
        }


        function RemoveDetailRow(rowId, detId) {

            var count = $('#detailTable_' + detId + ' tbody tr').length;
            if (count > 1) {
                $('#tbldt_' + rowId).remove();
            }
        }
        function LoadProduct(elementId,itemid) {

            var aa = AllItemList.length;

            var newArray = {};

                var homes = [];
                $.each(AllItemList, function () {

                        homes.push(this);

                });

                $('#' + elementId).append("<option value='0'>--Select Product--</option>");

                for (var i = 0; i < homes.length; i++) {

                    $('#' + elementId + '').append($("<option></option>").val(homes[i].ProductId).html(homes[i].ProductName));

                }




        }

        function LoadAllProduct() {

            var urlpath = '@Url.Action("LoadProduct", "TradePurchase")';
            $.ajax({
                url:urlpath,
                type: "Get",
                data: {},
                async: false,
                success: function (data) {
                      AllItemList=data;

                }
            });
        }








        function AddRowOpening() {
            debugger;
            var tr = $('#myTable1 tbody tr').length + 1;
            var c = $('#myTable1 tbody tr:last').find('td:first').html();

            if (tr == c)
            {
                tr = parseInt( c )+ 1;

            }
            var ddlName = 'ProductName_' + tr;
            var urlpath = '@Url.Action("GetAddRowApprove", "TradePurchase")';
            $.ajax({
                url: urlpath,
                dataType: 'HTML',
                type: "Get",
                data: { tr: tr },
                async: false,
                success: function (data) {

                    $('#myTable1 tbody').append(data);
                    LoadProductOP(ddlName);

                }
            });
        }
        function RemoveRow(trId) {
            if (($('#myTable1 tbody tr').length) > 1) {
                $('#tr_' + trId + '').remove();
                TotalCal();
            }


        }
        function ValidQty(itemid, rowid)
        {

            var itemqty = $('#itemqty_' + itemid).val();
            var total = 0;
            $('#detailTable_' + itemid + ' tbody tr').each(function () {

                var iid = isNaN(parseInt($(this).find(".drow").val()), 0) ? 0 : parseInt($(this).find(".drow").val());
                var dQty = $('#qty_' + itemid + '_' + iid).val();
                total = parseFloat(total) + parseFloat(dQty);

            });
            if(parseFloat(total)>parseFloat(itemqty))
            {
                swal("Product total qty not more than total Live bird qty");
                $('#qty_' + itemid + '_' + rowid).val('');
                return;
            }
        }

        function LoadProductOP(elementId) {

            var array = [];
            var rowCount = $('#myTable1 tbody tr').length;
            for (let count = 0; count < rowCount; count++) {

                var c = $('#myTable1 tbody tr').eq(count).find('td:first').html();
                var p = parseInt(c);
                //alert(c);
                //$('#myTable1 tbody tr:last').find('td:first').html();
                if ($("#ProductName_" + p).val() > 0)
                {
                    array.push(parseInt($("#ProductName_" + p).val()));
                }

            };
            $('#' + elementId + '').append("<option value='0'>--Select Product--</option>");

            for (var i = 0; i < AllItemList.length; i++) {
                if (jQuery.inArray(AllItemList[i].ProductId, array) == -1) {
                    $('#' + elementId + '').append($("<option></option>").val(AllItemList[i].ProductId).html(AllItemList[i].ProductName));
                }

            }




            //$('#' + elementId + '').select2();

        }

        function Pricecal(id)
        {
          var productid = $('#ProductName_' + id).val();
          var   unit = $('#UnitName_' + id).text();
          var p_pcs = isNaN(parseFloat($('#aStockInQty_' + id).val()), 0) ? 0 : parseFloat($('#aStockInQty_' + id).val());
          var p_kg = isNaN(parseFloat($('#aStockInKG_' + id).val()), 0) ? 0 : parseFloat($('#aStockInKG_' + id).val());
          var pprice = isNaN(parseInt($('#aUnitPrice_' + id).val()), 0) ? 0 : parseFloat($('#aUnitPrice_' + id).val());


          var pcs = isNaN(parseFloat($('#StockInQty_' + id).val()), 0) ? 0 : parseFloat($('#StockInQty_' + id).val());
          var kg = isNaN(parseFloat($('#StockInKG_' + id).val()), 0) ? 0 : parseFloat($('#StockInKG_' + id).val());
          var price = isNaN(parseInt($('#UnitPrice_' + id).val()), 0) ? 0 : parseFloat($('#UnitPrice_' + id).val());


          var tprice = 0;
          if(unit=="pcs")
          {
              if (p_pcs > pcs)
              {
                  swal("Approved pcs qty can not be greater then purchase pcs");
                  $('#aStockInQty_' + id).val(pcs);
                  $('#aUnitPrice_' + id).val(price);
                  $('#aTotalPrice_' + id).val($('#TotalPrice_' + id).val());
                  TotalCal();
                  return;
              }

              pprice = p_pcs * pprice;
          }
          else if (productid == 394) {
              if (p_pcs > pcs) {
                  swal("Approved pcs qty can not be greater then purchase pcs");
                  $('#aStockInQty_' + id).val(pcs);
                  $('#aStockInKG_' + id).val(kg);
                  $('#aUnitPrice_' + id).val(price);
                  $('#aTotalPrice_' + id).val($('#TotalPrice_' + id).val());
                  TotalCal();
                  return;
              } else {
                  var pweight = GetPackWeight(productid);
                  var skg = pweight * p_pcs;
                  $('#aStockInKG_' + id).val(skg.toFixed(2));
                  pprice = p_pcs * pprice;
              }


          }
          else {
              if (p_kg > kg) {
                  swal("Approved kg can not be greater then purchase kg");
                  $('#aStockInKG_' + id).val(kg);
                  $('#aUnitPrice_' + id).val(price);
                  $('#aTotalPrice_' + id).val($('#TotalPrice_' + id).val());
                  TotalCal();
                  return;
              }
              pprice = p_kg * pprice;
          }
          $('#aTotalPrice_' + id).val(Math.round(pprice));
          TotalCal();

        }
        function TotalCal()
        {
            var grandTotal = 0;
            var discount = 0;
            var netpay = 0;


            var pgrandTotal = 0;
            var pdiscount = 0;
            var pnetpay = 0;


            

            $('#myTable1 tbody tr').each(function () {


                var idr = $(this).attr('id');
                var id = idr.substring(3);

                var totalprice = isNaN(parseFloat($('#aTotalPrice_' + id).val())) ? 0 : parseFloat($('#aTotalPrice_' + id).val());

                grandTotal += totalprice;



                var ptotalprice = isNaN(parseFloat($('#TotalPrice_' + id).val())) ? 0 : parseFloat($('#TotalPrice_' + id).val());

                pgrandTotal += ptotalprice;

            });
            $('#agrandtotal').html(Math.round(grandTotal));
            discount = isNaN(parseFloat($('#atxtDiscount').val())) ? 0 : parseFloat($('#atxtDiscount').val());
            netpay = grandTotal - discount;

            $('#alblNetpayable').html(Math.round(netpay));



            $('#grandtotal').html(Math.round(pgrandTotal));
            pdiscount = isNaN(parseFloat($('#txtDiscount').val())) ? 0 : parseFloat($('#txtDiscount').val());
            pnetpay = pgrandTotal - pdiscount;

            $('#lblNetpayable').html(Math.round(pnetpay));
        }

        function GetPackWeight(pid) {
            var weight = 0;
            var urlpath = '@Url.Action("PackWeight", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                data: { pid: pid },
                dataType: 'json',
                type: "Get",

                async: false,
                success: function (data) {
                    weight = data;

                }
            });
            return weight;
        }
        function Loadunit(id)
        {

            var productid = $('#ProductName_' + id).val();
            var urlpath = '@Url.Action("Loadunit", "TradePurchase")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { productid: productid },
                async: false,
                success: function (data) {
                    debugger;

                    $('#UnitName_' + id).html(data.UOMName);
                    $('#hUnit_' + id).val(data.UOMId);

                }
            });
        }

        function LoadSalablePriceDetails(detailsId , elementId) {

            var productid = $('#itemSelect_' + elementId).val();
            var sdate = $('#txtStockInDate').val();
            var urlpath = '@Url.Action("LoadSalablePriceByID", "DressBirdInStock")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { productid: productid, sdate: sdate },
                async: true,
                success: function (data) {


                    $('#price_' + elementId ).val(data);

                }
            });
        }
        function LoadDressedBirdDetailList(reqId) {

        var tablecontents = "";
        $("#testbody").html("");
        var urlpath = '@Url.Action("LoadDressBirdDetailByID", "DressBirdInStock")';

        $.ajax({

            url: urlpath,
            dataType: 'json',
            type: "Get",
            data: { reqId: parseInt(reqId) },
            async: false,
            success: function (data) {

                if (data.length > 0) {


                    var se = 0;
                    $.each(data, function (index, item) {

                        se = se + 1;

                        //alert(data);



                        tablecontents += "<tr id='trmain'>";

                        tablecontents += "<td style='display: none;' ><input type='text' class='rd'  value = '" + item.DressedBirdDetailID + "'/></td>";
                         tablecontents += "<td style='display: none;' ><input type='text' class='itemd'  value = '" + item.ItemId + "'/></td>";

                        tablecontents += "<td  style='text-align:center'><input type='checkbox'  class='iradio_minimal-blue checkp' id='check_" + item.DressedBirdDetailID + '_' + item.ItemId + "' onclick='Checkp(" + item.DressedBirdDetailID + "," + item.ItemId + ")'/></td>";
                        tablecontents += "<td  style='text-align:center'>" + se + "</td>";
                        //tablecontents += "<td style='text-align:center'>" + item.HatchDate + "</td>";
                        tablecontents += "<td style='text-align:center'>" + item.ItemName + "</td>";
                        tablecontents += "<td style='text-align:center'><select   style='text-align:center;width: 100%;'  id='ProductName_"+ item.DressedBirdDetailID + '_' + item.ItemId+"'></select></td>";
                        tablecontents += "<td style='text-align:center;'><input type='number' min='0' style='text-align:center;'  id='StockInQty_" + item.DressedBirdDetailID + "_" + item.ItemId + "' value = '" + item.Remainingqty + "'   disabled='disabled'/></td>";
                        tablecontents += "<td style='text-align:center;'><input type='number' min='0' style='text-align:center;'  id='StockInKG_" + item.DressedBirdDetailID + "_" +item.ItemId + "' value = '" + item.RemainingKG + "'  disabled='disabled'/></td>";
                        tablecontents += "<td style='text-align:center;'><input type='number' min='0' style='text-align:center;'  id='UnitPrice_" + item.DressedBirdDetailID + "_" + item.ItemId + "' value = '" + item.UnitPrice + "'  disabled='disabled'/></td>";
                        tablecontents += "<td style='text-align:center;'><input type='text'   style='text-align:center;'  id='expDate_" + item.DressedBirdDetailID + "_" + item.ItemId + "' /></td>";
                        //id='expDate_" + item.dressedBirdDetailID + "_" + item.itemId + "'

                        tablecontents += "<td style='text-align:center;display:none;'><input type='number' min='0' style='text-align:center;'  id='hStockInQty__" + item.DressedBirdDetailID + "_" + item.ItemId + "' value = '" + item.Remainingqty + "' disabled='disabled'/></td>";
                        tablecontents += "<td style='text-align:center;display:none;'><input type='number' min='0' style='text-align:center;'  id='hStockInKG_" + item.DressedBirdDetailID + "_" +item.ItemId + "' value = '" + item.RemainingKG + "' disabled='disabled'/></td>";
                        tablecontents += "<td style='text-align:center;display:none;'><input type='number' min='0' style='text-align:center;'  id='hUnitPrice_" + item.DressedBirdDetailID + "_" + item.ItemId + "' value = '" + item.UnitPrice + "' disabled='disabled'/></td>";


                        tablecontents += "<td style='text-align:center;'><input type='text'   id='Remarks_" + item.DressedBirdDetailID + "_" + item.ItemId + "' value = '' disabled='disabled'/></td>";

                        tablecontents += "</tr>";

                         var ProductName = 'ProductName_' + item.DressedBirdDetailID+'_'+item.ItemId;
                        LoadDate('#expDate_' + item.DressedBirdDetailID + "_" + item.ItemId);
                        //LoadProduct(ProductName);


                    });

                     $("#testbody").html(tablecontents);

                    //alert(tablecontents);

                }



            }



        });
        }

        function LoadRequisitionDetaillList_o() {

            var tablecontents = "";
            $("#testbody").html("");
           var urlpath = '@Url.Action("LoadProduct", "DressBirdInStock")';

            $.ajax({

                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {

                    if (data.length > 0) {


                        var se = 0;
                        $.each(data, function (index, item) {
                            se = se + 1;
                            tablecontents += "<tr id='trmain'>";
                            tablecontents += "<td style='display: none;' ><input type='text' class='rd'  value = '0'/></td>";
                            tablecontents += "<td style='display: none;' ><input type='text' class='itemd'  value = '" + item.ProductId + "'/></td>";

                            tablecontents += "<td  style='text-align:center'><input type='checkbox'  class='iradio_minimal-blue checkp' id='check_0_" + item.ProductId + "' onclick='Checkp(" + 0 + "," + item.ProductId + ")'/></td>";
                            tablecontents += "<td  style='text-align:center'>" + se + "</td>";
                            //tablecontents += "<td style='text-align:center'>" + item.HatchDate + "</td>";
                            tablecontents += "<td style='text-align:center'></td>";
                            tablecontents += "<td style='text-align:center'>" + item.ProductName + "</td>";
                            tablecontents += "<td style='text-align:center;'><input type='number' min='0' style='text-align:center;'  id='StockInQty_0_" + item.ProductId + "' value = '" + item.Remainingqty + "'   disabled='disabled'/></td>";
                            tablecontents += "<td style='text-align:center;'><input type='number' min='0' style='text-align:center;'  id='StockInKG_0_" + item.ProductId + "' value = '" + item.RemainingKG + "'  disabled='disabled'/></td>";
                            tablecontents += "<td style='text-align:center;'><input type='number' min='0' style='text-align:center;'  id='UnitPrice_0_" + item.ProductId + "' value = '" + item.UnitPrice + "'  disabled='disabled'/></td>";
                            tablecontents += "<td style='text-align:center;'><input type='text'   style='text-align:center;'  id='expDate_0_" + item.ProductId + "' /></td>";
                            //id='expDate_" + item.dressedBirdDetailID + "_" + item.itemId + "'

                            tablecontents += "<td style='text-align:center;display:none;'><input type='number' min='0' style='text-align:center;'  id='hStockInQty_0_" + item.ProductId + "' value = '" + item.Remainingqty + "' disabled='disabled'/></td>";
                            tablecontents += "<td style='text-align:center;display:none;'><input type='number' min='0' style='text-align:center;'  id='hStockInKG_0_" + item.ProductId + "' value = '" + item.RemainingKG + "' disabled='disabled'/></td>";
                            tablecontents += "<td style='text-align:center;display:none;'><input type='number' min='0' style='text-align:center;'  id='hUnitPrice_0_" + item.ProductId + "' value = '" + item.UnitPrice + "' disabled='disabled'/></td>";


                            tablecontents += "<td style='text-align:center;'><input type='text'   id='Remarks_0_" + item.ProductId + "' value = '' disabled='disabled'/></td>";







                            //tablecontents += "<td style='display: none;' ><input type='text' class='itemd'  value = '" + item.ProductId + "'/></td>";

                            //tablecontents += "<td  style='text-align:center'>" + se + "</td>";

                            //tablecontents += "<td style='text-align:center'>" + item.ProductName + "</td>";

                            //tablecontents += "<td style='text-align:center;'><input type='number' min='0' style='text-align:center;'  id='StockInQty_" + item.ProductId + "' value = ''/></td>";
                            //tablecontents += "<td style='text-align:center;'><input type='number' min='0' style='text-align:center;'  id='StockInKG_" + item.ProductId + "'  value = ''  /></td>";
                            //tablecontents += "<td style='text-align:center;'><input type='number' min='0' style='text-align:center;'  id='UnitPrice_" + item.ProductId + "'  value = '' /></td>";
                            //tablecontents += "<td style='text-align:center;'><input type='text'  style='text-align:center;'  id='expireDate_" + item.ProductId + "'/></td>";


                            //tablecontents += "<td style='text-align:center;'><input type='text'   id='Remarks_" + item.ProductId + "' value = '' /></td>";

                            tablecontents += "</tr>";
                            //LoadDate('#expireDate_' + item.ProductID + "_" + item.BDToPortionIssue2ndDetail);

                        });



                        //alert(tablecontents);
                        $("#testbody").html(tablecontents);
                    }


                }

            });

            $('#myTable tr#tr_main').each(function () {


                var iid = isNaN(parseInt($(this).find(".itemd").val()), 0) ? 0 : parseInt($(this).find(".itemd").val());

                LoadDate('#expDate_0_' + iid);


            });
        }

    //    function Total(detailid, itemid) {
    //        var hremainigqty=$("#hRemainingQty_" + detailid + "_" + itemid).val();
    //        var hremainingkg =    $("#hRemainingKG_" + detailid + "_" + itemid).val();


    //    var remainigqty=$("#RemainingQty_" + detailid + "_" + itemid).val();
    //        var remainingkg = $("#RemainingKG_" + detailid + "_" + itemid).val();
    //        if (parseFloat(remainigqty) > parseFloat( hremainigqty)) {
    //            swal('Purchase Qty can not be grater then requision qty');
    //            $("#RemainingQty_" + detailid + "_" + itemid).val(hremainigqty);
    //            var price = $("#ApprovedTentativePrice_" + detailid + "_" + itemid).val();
    //            var total = parseFloat(remainingkg) * parseFloat(price);
    //            $("#TotalPrice_" + detailid + "_" + itemid).val(total);
    //            return;
    //        }

    //        if (parseFloat(remainingkg) > parseFloat(hremainingkg)) {
    //            swal('Purchase kg can not be grater then requision kg');
    //            $("#RemainingKG_" + detailid + "_" + itemid).val(hremainingkg);
    //            var price = $("#ApprovedTentativePrice_" + detailid + "_" + itemid).val();
    //            var total = parseFloat(remainingkg) * parseFloat(price);
    //            $("#TotalPrice_" + detailid + "_" + itemid).val(total);
    //            return;
    //        }


    //    var price = $("#ApprovedTentativePrice_" + detailid + "_" + itemid).val();
    //    var total = parseFloat(remainingkg) * parseFloat(price);
    //    $("#TotalPrice_" + detailid + "_" + itemid).val(total);

    //}



     function Checkp(detailno, itemno) {

        //uncheck "select all", if one of the listed checkbox item is unchecked
        var checkp = $("#check_" + detailno+"_"+itemno).prop("checked");
         if (checkp == false) { //if this item is unchecked
             var hRemainingQty = $("#hStockInQty_" + detailno + "_" + itemno).val();
             var hRemainingKG = $("#hStockInKG_" + detailno + "_" + itemno).val();
             var hApprovedTentativePrice = $("#hUnitPrice_" + detailno + "_" + itemno).val();





             $("#StockInQty_" + detailno + "_" + itemno).val(hRemainingQty);
             $("#StockInKG_" + detailno + "_" + itemno).val(hRemainingKG);
             $("#PUnitPrice_" + detailno + "_" + itemno).val(hApprovedTentativePrice);



             $("#StockInQty_" + detailno + "_" + itemno).prop('disabled', true);
             $("#StockInKG_" + detailno + "_" + itemno).prop('disabled', true);
             $("#PUnitPrice_" + detailno + "_" + itemno).prop('disabled', true);

             $("#Remarks_" + detailno + "_" + itemno).prop('disabled', true);

         }
         else {
             $("#StockInQty_" + detailno + "_" + itemno).prop('disabled', false);
             $("#StockInKG_" + detailno + "_" + itemno).prop('disabled', false);
             $("#PUnitPrice_" + detailno + "_" + itemno).prop('disabled', false);

             $("#Remarks_" + detailno + "_" + itemno).prop('disabled', false);
         }


        }





    </script>
}
