﻿
@model IEnumerable<IGFoodProject.ViewModel.ViewTradePurchaseList>

@{
    ViewBag.Title = "TradePurchaseListForApprove";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">

                        <div class="row">

                            <div class="col-md-6">
                                <h3>Trade Purchase List Page For Approve</h3>
                            </div>
                            <div class="col-md-6 text-right ">
                                @*<a class="btn btn-outline-warning" href="@Url.Action("Index", "TradePurchase", new {TradePurchaseMasterId = 0})">

                                    <span class="fa fa-plus"></span> Go To New Trade Purchase Entry

                                </a>*@
                            </div>

                        </div>



                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group" id="divCustomer_Search">
                                    <label for="ddlCustomer_Search">Customer</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlCustomer_Search"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divSupplier">
                                    <label for="ddlSupplier">Supplier</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlSupplier"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divWarehouse">
                                    <label for="ddlWarehouse">Delivery Warehouse</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlWarehouse"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divPurchaseDate">
                                    <label for="txtPurchaseDate">Purchase Date</label>
                                    <input type="text" id="txtPurchaseDate" class="form-control" />
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <button style="margin-left: 27px;" class="btn btn-primary" onclick="ShowReport()">Search Order</button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body">
                                <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th class="text-center">Trade No.</th>
                                            <th class="text-center">Company Name</th>
                                            <th class="text-center">Is Delivery Company Other</th>
                                            
                                            <th class="text-center">Delivery Location</th>
                                            <th class="text-center">Delivery Warehouse</th>
                                            <th class="text-center">Delivery Other</th>
                                            <th class="text-center">Purchase Date</th>
                                            <th class="text-center">Local Or Supplier</th>
                                            <th class="text-center">Supplier Name</th>
                                            <th class="text-center">Local Supplier</th>
                                            <th class="text-center">Common Or FixCustomer</th>
                                            <th class="text-center">Customer Name</th>
                                            <th class="text-center">Total Amount</th>
                                            <th class="text-center">Discount</th>
                                            <th class="text-center">Net Payable</th>
                                            <th class="text-center">Action</th>

                                        </tr>
                                    </thead>
                                    <tbody id="manuallist">
                                        @{ int count = 1;}
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@count</td>
                                                <td>@item.TradeNo</td>
                                                <td>@item.CompanyName</td>
                                                <td>@item.IsDeliveryCompanyOther</td>
                                                <td>@item.DeliveryLocation</td>
                                                <td>@item.deliveryWarehouse</td>
                                                <td>@item.DeliveryOther</td>

                                                <td>@Convert.ToDateTime(item.PurchaseDate).ToString("dd-MMM-yyyy")</td>
                                                <td>@item.LocalOrSupplier</td>
                                                <td>@item.SupplierName</td>
                                                <td>@item.LocalSupplier</td>
                                                <td>@item.CommonOrFixCustomer</td>
                                                <td>@item.CustomerName</td>
                                                <td>@item.GrandTotalAmount</td>
                                                <td>@item.Discount</td>
                                                <td>@item.NetPayable</td>

                                                <td>@Html.ActionLink("Approve", "TradeApprove", "TradePurchase", new { TradePurchaseMasterId = item.TradePurchaseMasterId }, new { @class = "btn btn-sm btn-warning" })</td>



                                            </tr>
                                            count++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>



                    </div>


                </div>

            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->

</section>

<div class="modal fadeInUp" id="viewModal" role="dialog">
    <div class="modal-dialog modal-lg" style="max-width: 100% !important">
        <div class="modal-content">
            <div class="modal-header">

            </div>
            <div class="modal-body" id="containerDetails">

            </div>
            <div class="modal-footer">
                <input type="text" style="display:none;" id="eid" />
                <button type="button" class="btn btn-danger" id="clsButton" data-dismiss="modal">Close</button><button type="button" class="btn btn-primary" id="clsEdit" onclick="GoToDo($('#eid').val())">Edit</button>
            </div>
        </div>
    </div>
</div>



@section Scripts
{
    <script type="text/javascript">


        $(document).ready(function () {

            LoadDate_C('#txtPurchaseDate');

            LoadCustomer_Search('ddlCustomer_Search');
            LoadSupplier('ddlSupplier');
            LoadFromWareHouse();

        });

        function LoadSupplier(elementId) {
            var urlpath = '@Url.Action("LoadSupplier", "PurchaseOrder")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: {},
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Supplier--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].SupplierID).html(data[i].SupplierName));
                    }

                }
            });
        }
        function LoadFromWareHouse() {

            var locid = 4;
            var wt = '1,6';
            LoadWareHouseMultipleType('ddlWarehouse', locid, wt);

        }

        function ShowReport() {
            var purchasedate;

            var customerid = '0';
            var supplierid = '0';
            var warehouseid = '0';

            if ($('#txtPurchaseDate').val() == "") {
                swal("Please input purchase date");
                return;
            }
            else {
                purchasedate = $('#txtPurchaseDate').val();
            }

            if ($('#ddlSupplier').val() == "0") {
                supplierid = '0';
            }
            else {
                supplierid = $('#ddlSupplier').val();
            }
            if ($('#ddlCustomer_Search').val() == "0") {
                customerid = '0';
            }
            else {
                customerid = $('#ddlCustomer_Search').val();
            }
            if ($('#ddlWarehouse').val() == "0") {
                warehouseid = '0';
            }
            else {
                warehouseid = $('#ddlWarehouse').val();
            }

            var urlpath = '@Url.Action("TradePurchaseListForApprove_Search", "TradePurchase")';
            $.ajax({
                url: urlpath,
                dataType: 'html',
                type: "Get",
                data: { purchasedate: purchasedate, customerid: customerid, supplierid: supplierid, warehouseid: warehouseid },
                async: false,
                success: function (data) {

                    data = JSON.parse(data);
                    if (data.length > 0) {



                        var row = "";
                        var count = 1;
                        $("#manuallist").html("");

                        var count=1;
                        $.each(data, function (index, item) {





                            row += "<tr>";
                            row += "<td style='text-align:center'>" + count + "</td>";
                            row += "<td style='text-align:center'>" + item.TradeNo + "</td>";
                            row += "<td style='text-align:center'>" + item.CompanyName +  "</td>";
                            row += "<td style='text-align:center'>" + item.IsDeliveryCompanyOther +  "</td>";
                            row += "<td style='text-align:center'>" + item.DeliveryLocation + "</td>";
                            row += "<td style='text-align:center'>" + item.deliveryWarehouse + "</td>";
                            row += "<td style='text-align:center'>" + item.DeliveryOther + "</td>";
                            row += "<td style='text-align:center'>" + item.PurchaseDate +"</td>";
                            row += "<td style='text-align:center'>" + item.LocalOrSupplier + "</td>";
                            row += "<td style='text-align:center'>" + item.SupplierName + "</td>";
                            row += "<td style='text-align:center'>" + item.LocalSupplier + "</td>";
                            row += "<td style='text-align:center'>" + item.CommonOrFixCustomer + "</td>";
                            row += "<td style='text-align:center'>" + item.CustomerName + "</td>";
                            row += "<td style='text-align:center'>" + item.GrandTotalAmount + "</td>";
                            row += "<td style='text-align:center'>" + item.Discount + "</td>";
                            row += "<td style='text-align:center'>" + item.NetPayable + "</td>";


                            row += "<td style='text-align:center'><a class='btn btn-sm btn-warning' type='button' onclick='GoToDo(" + item.TradePurchaseMasterId + ")'>Approve</a></td>";



                            row += "</tr>";
                            count = count + 1;

                        });
                        $("#manuallist").html(row);
                    }
                }
            });
                        }


        function GoToDo(TradePurchaseMasterId) {
            window.location = "@Url.Action("TradeApprove", "TradePurchase")" + "?TradePurchaseMasterId=" + TradePurchaseMasterId ;
                        }



        function SoDelete(soId) {

            swal({
                title: "Are you sure?",
                text: "",
                type: "success",
                showCancelButton: true,
                cancelButtonClass: 'btn-secondary waves-effect',
                confirmButtonClass: 'btn-success waves-effect waves-light',
                confirmButtonText: 'Yes!',
                closeOnConfirm: false

            }, function () {
                $('.confirm').prop("disabled", true);
                $('.cancel').prop("disabled", true);

                var urlpath = '@Url.Action("SODelete", "SalesOrderProcess")';
                $.ajax({
                    url: urlpath,
                    data: { soId: soId },
                    dataType: 'json',
                    type: "Get",

                    async: false,
                    success: function (data) {

                        if (data.isSuccess) {
                            window.location.href = '@Url.Action("SalesOrderList", "SalesOrderProcess")';
                        }
                    }
                });

            });

        }



        function ShowData(id) {
            $('#viewModal').modal();


            ViewOrder(id);
            $("#eid").val(id);
            LoadCompany('ddlCompany');
            //LoadCustomer('ddlCustomer');
            LoadCustomerType('ddlCustomerType');
            GetOrderMaster(id);
        }

        function LoadCustomerType(elementId) {

            var urlpath = '@Url.Action("GetCustomerType", "SalesOrderFurtherProcess")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",

                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Customer Type --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].CustomerTypeID).html(data[i].CoustomerTypeName));
                    }
                }
            });
        }
        function ViewOrder(id) {
            var urlpath = '@Url.Action("ViewOrder", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'html',
                data: {id:id},
                type: "Get",

                async: false,
                success: function (data) {

                    $('#containerDetails').html(data);

                }
            });
        }

    </script>



    <script>
        var PrlductList = {};


        function ApproveOrder(status) {

            swal({
                title: "Are you sure?",
                text: "",
                type: "success",
                showCancelButton: true,
                cancelButtonClass: 'btn-secondary waves-effect',
                confirmButtonClass: 'btn-success waves-effect waves-light',
                confirmButtonText: 'Yes!',
                closeOnConfirm: false

            }, function () {
                $('.confirm').prop("disabled", true);
                $('.cancel').prop("disabled", true);
                var id = $('#mSalesOrderId').val();
                var urlpath = '@Url.Action("ApproveSalesProcesed", "SalesOrderProcess")';
                $.ajax({
                    url: urlpath,
                    data: { id: id, status: status },
                    dataType: 'json',
                    type: "Get",

                    async: false,
                    success: function (data) {
                        if (data.isSuccess) {
                            window.location.href = '@Url.Action("SalesOrderList", "SalesOrderProcess")';
                        }
                    }
                });

            });

        }
        function LoadPaymentType(elementId) {

            var urlpath = '@Url.Action("GetPaymentType", "Utility")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",

                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Payment --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].PaymentTypeId).html(data[i].PaymentType));
                    }
                }
            });
        }

        function GetOrderMaster(id) {

            var urlpath = '@Url.Action("GetSalesOrderMaster", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { id: id },
                async: false,
                success: function (data) {

                    LoadCustomerType('ddlCustomerType');
                    $("#ddlCustomerType").val(data.CustomerTypeId).trigger('change');
                    LoadCustomer('ddlCustomer');
                    $("#ddlCustomer").val(data.CustomerId).trigger('change');
                    GetCustomerDetails();
                    $("#ddlCompany").val(data.CompanyId).trigger('change');
                    $("#txtSalesPersonNo").val(data.SalesPersonContact);
                    if (data.IsEmployee == true) {
                        $('#chkEmployee').prop('checked', true);
                        $("#txtSalesPerson").val(GetEmployeeName(data.SalesPerson));
                    } else {
                        $('#chkEmployee').prop('checked', false);
                        $("#txtSalesPerson").val(data.SalesPerson);
                    }
                    $('#txtOrderDate').val(ToJavaScriptDate(data.OrderDate));
                    $('#txtDeliveryDate').val(ToJavaScriptDate(data.DeliveryDate));
                    $('#txtDestination').val(data.DeliveryDestination);

                    $("#ddlWareHouse").val(data.WarehouseId).trigger('change');
                    $('#txtRemarks').val(data.Remarks);
                    LoadPaymentType('ddlPamentType');
                    $("#ddlPamentType").val(data.PaymentType).trigger('change');
                    $('#salesOrderNo').html(data.SalesOrderNo);
                    GetProducts();
                    for (var i = 0; i < data.SalesDetails.length; i++) {

                        var tr = $('#salesOrder tbody tr').length +1;
                        AddRow();
                        $("#pro_" + tr).val(data.SalesDetails[i].ProductId).trigger('change');
                        $('#saleQty_' + tr).val(data.SalesDetails[i].ProductQty);
                        $('#saleKG_' + tr).val(data.SalesDetails[i].ProductKg);
                        $('#disPer_' + tr).val(data.SalesDetails[i].DiscountPercent);
                        $('#disNum_' + tr).val(data.SalesDetails[i].DiscountAmount);
                        $('#saleRate_' + tr).val(data.SalesDetails[i].SaleRate);
                        $('#baseRate_' + tr).val(data.SalesDetails[i].BaseRate);

                        $('#total_' + tr).val(data.SalesDetails[i].TotalPrice + data.SalesDetails[i].DiscountAmount - data.SalesDetails[i].ProductTax);
                        $('#totalG_' + tr).val(data.SalesDetails[i].TotalPrice);
                        $('#btotal_' + tr).val(data.SalesDetails[i].BTotalPrice);
                        $('#proTax_' + tr).val(data.SalesDetails[i].ProductTax);
                    }




                    $('#totalKg').html(data.TotatalOrderAmtKg);
                    $('#totalIncTacVat').html(data.TotalIncTaxVat);
                    $('#totalExTaxVat').html(data.TotalExTaxVat);

                    $(":input").prop("disabled", true);

                    $(".appButton").prop("disabled", true);
                    $(".appButton").hide();
                    $('.actionHide').hide();
                    $('.action').hide();
                    $("#clsButton").prop("disabled", false);
                    $(".showBtn").prop("disabled", false);
                    if (data.IsApprove == 1)
                    {
                        $("#clsEdit").prop("disabled", true);
                    }
                    else
                    {
                        $("#clsEdit").prop("disabled", false);
                    }



                }
            });
        }


        function GetEmployeeName(empId) {
            var EmpName = "";
            var urlpath = '@Url.Action("GetEmployeeName", "Utility")';
            $.ajax({
                url: urlpath,
                data:{empId:empId},
                dataType: 'json',
                type: "Get",

                async: false,
                success: function (data) {
                    EmpName = data;

                }
            });
            return EmpName;
        }
        function GetProductDetails(prodId) {



            var productId = $('#pro_' + prodId).val();
            var wareHouseId = $('#ddlWareHouse').val();
            var urlpath = '@Url.Action("GetProductDetails", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'json',
                data: { productId: productId, wareHouseId: wareHouseId },
                async: false,
                success: function (data) {

                    $("#cat_" + prodId).val(data.CategoryName);
                    $("#stQty_" + prodId).val(data.StockQty);
                    $("#stKg_" + prodId).val(data.StockKg);
                    $("#stRate_" + prodId).val(data.StockPrice.toFixed(2));
                    var salePrice = GetSalePrice(productId, data.StockPrice);

                    $('#saleRate_' + prodId).val(salePrice);

                }
            });
        }

        function GetSalePrice(productId, price) {
            var theprice = 0;
            var urlpath = '@Url.Action("GetProcessedSalePrice", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'json',
                data: { productId: productId, price: price },
                async: false,
                success: function (data) {

                    theprice = data;


                }
            });

            return theprice;
        }
        function AddRow() {

            var tr = $('#salesOrder tbody tr').length + 1;
            var urlpath = '@Url.Action("AddRowForOrder", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'html',
                data: { tr: tr },
                async: false,
                success: function (data) {

                    $('#salesOrder tbody').append(data);

                    LoadProductInTable("pro_"+tr);

                }
            });
            //CalculateAll();
          //  $('#pro_' + tr).select2();
        }

    function CalculateAll() {


        var grandTotal = 0;
        var totalIncTax = 0;
        var totalExTax = 0;
        var totalKg = 0;
        var totalTax = 0;
        var proCout = $('#salesOrder tbody tr').length;
        $('#salesOrder tbody tr').each(function () {


            var idr = $(this).attr('id');
            var id = idr.substring(3);

            var productId = isNaN(parseFloat($('#pro_' + id).val())) ? 0 : parseFloat($('#pro_' + id).val());
            var saleQty = isNaN(parseFloat($('#saleQty_' + id).val())) ? 0 : parseFloat($('#saleQty_' + id).val());
            var stockRate = isNaN(parseFloat($('#stRate_' + id).val())) ? 0 : parseFloat($('#stRate_' + id).val());
            var saleRate = isNaN(parseFloat($('#saleRate' + id).val())) ? 0 : parseFloat($('#saleRate' + id).val());

            var saleKg = isNaN(parseFloat($('#saleKG_' + id).val())) ? 0 : parseFloat($('#saleKG_' + id).val());

            var disPer = isNaN(parseFloat($('#disPer_' + id).val())) ? 0 : parseFloat($('#disPer_' + id).val());
            var disAmt = isNaN(parseFloat($('#disNum_' + id).val())) ? 0 : parseFloat($('#disNum_' + id).val());
            var total = isNaN(parseFloat($('#totalG_' + id).val())) ? 0 : parseFloat($('#totalG_' + id).val());
            grandTotal += total;
            totalKg += saleKg;

        });
        $('#taxVat').html(GetTaxInfo(5, grandTotal));

        var tax = parseFloat($('#taxVat').html());
        var colection = isNaN(parseFloat($('#txtCollection').val())) ? 0 : parseFloat($('#txtCollection').val());

        var taxCal = grandTotal * (tax / 100);

        var proTax = (taxCal / proCout);
        SetItemTax(proTax);
        totalIncTax = grandTotal + taxCal;
        totalExTax = grandTotal;
        $('#totalKg').html(totalKg.toFixed(2));
        $('#totalIncTacVat').html(totalIncTax.toFixed(2));
        $('#totalExTaxVat').html(grandTotal.toFixed(2));

        var restamount = totalIncTax - colection;
        $('#lblRestAmount').html(restamount.toFixed(2));
    }

    function SetItemTax(proTax) {
        $('#salesOrder tbody tr').each(function () {


            var idr = $(this).attr('id');
            var id = idr.substring(3);
            var total = isNaN(parseFloat($('#totalG_' + id).val())) ? 0 : parseFloat($('#totalG_' + id).val());
            $('#proTax_' + id).val(proTax.toFixed(2));

            $('#totalG_' + id).val((total + proTax).toFixed(2));

        });
    }
        function LoadProductInTable(elementId) {

            $('#' + elementId + '').append("<option value='0'>--Select Product--</option>");

            for (var i = 0; i < PrlductList.length; i++) {

                $('#' + elementId + '').append($("<option></option>").val(PrlductList[i].ProductId).html(PrlductList[i].ProductNo + ":" + PrlductList[i].ProductName));
            }

        }
        function GetProducts() {


            var urlpath = '@Url.Action("GetProductByGroup", "Utility")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { groupId: 5 },
                async: false,
                success: function (data) {

                    PrlductList = data;

                }
            });
        }
        function GetCustomerDetails() {


            var customerId = $('#ddlCustomer').val();

            var urlpath = '@Url.Action("GetCustomerDetails", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'html',
                type: "Get",
                data: { id: customerId },
                async: false,
                success: function (data) {
                    $('#customerDetails').empty();
                    $('#customerDetails').html(data);

                }
            });



            LoadDate('#txtOrderDate');

            $('#txtDestination').val($('#customerAddress').html());

        }

        function LoadWareHouse(elementId) {

            var location = $('#ddlLocation').val();
            var urlpath = '@Url.Action("LoadWareHouse", "ItemRequisition")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { location: parseInt(location) },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Warehouse--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].WareHouseId).html(data[i].WareHouseName));
                    }

                }
            });
        }

        @*function GetLocationId(warehouse) {

            var locationId = 0;
            var urlpath = '@Url.Action("GetLocationIdByWarehouse", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: {id:warehouse},
                async: false,
                success: function (data) {

                    locationId = data;
                }
            });
            return locationId;
        }*@


    function LoadCustomer(elementId) {
        var typeid = $('#ddlCustomerType').val();
            var urlpath = '@Url.Action("GetCustomer", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { typeid: typeid },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Customer --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].CustomerID).html(data[i].CustomerCode + ":" + data[i].CustomerName));
                    }
                }
            });
    }
    function LoadCustomer_Search(elementId) {
        var typeid = 0;
        var urlpath = '@Url.Action("GetCustomer", "SalesOrderProcess")';
        $.ajax({
            url: urlpath,

            dataType: 'json',
            type: "Get",
            data: { typeid: typeid },
            async: false,
            success: function (data) {

                $('#' + elementId + '').empty();
                $('#' + elementId + '').append("<option value='0'>--Select Customer --</option>");

                for (var i = 0; i < data.length; i++) {

                    $('#' + elementId + '').append($("<option></option>").val(data[i].CustomerID).html(data[i].CustomerCode + ":" + data[i].CustomerName + ": " + data[i].CoustomerTypeName));
                }
            }
        });
    }
    </script>
}
