﻿
@{
    ViewData["Title"] = "AddBrand";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">
                        <h3 class="card-title">Product Brand Entry</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("ProductBrandList", "ProductBrand") + "'");" class="btn btn-info btn-rounded waves-effect waves-light pull-right">

                                <i class="fa fa-arrow-left"></i>
                                Back To Product Brand List
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div>
                        <div class="card-body">
                            <div class="form-group" id="divBrand">
                                <label for="txtBrand">Brand</label>
                                <input type="text" class="form-control" id="txtBrand" placeholder="Enter Brand">
                            </div>


                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="chkActive" checked="checked">
                                <label class="form-check-label" for="chkActive">Is Active</label>
                            </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button class="btn btn-primary" onclick="SaveFinal()">Submit</button>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
                <!-- Form Element sizes -->
                <!-- /.card -->
                <!-- /.card -->
                <!-- Input addon -->
                <!-- /.card -->
                <!-- Horizontal Form -->
                <!-- /.card -->

            </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">

            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
    <input id="txtBrandId" type="number" style="display:none;" value="@ViewBag.brandid">
</section>

@section Scripts{
    <script>
        $(function () {

            var id = $('#txtBrandId').val();

            if (id > 0) {
                OdEdit(id);
            }
        });


        function SaveFinal() {

            //Swal("Hello World");
            if (Validation() == true) {

                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveGroup();

                });
            }

        }

        function ValidateBrand(group) {

            var result = 0;
            var urlpath = '@Url.Action("CheckBrand", "ProductBrand")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { group: group },
                async: false,
                success: function (data) {

                    result = data;
                }
            });
            return result;
        }

        function Validation() {

            var rVal = true;
            var message;
            if (($('#txtBrand').val() == "") || ($('#txtBrand').val() == null)) {
                ValidationColorChange('txtBrand', 'divBrand', false);
                rVal = false;
                message = "Some Values Required";

            }

            var ddata = ValidateBrand($('#txtBrand').val());
            var groupid = $('#txtBrandId').val();

            if (ddata > 0 && groupid == 0) {
                rVal = false;
                message = "Duplicate Product Brand Please Change!!!";

            }


            if (rVal == false) {
                ShowMessage(message);
            }

            return rVal;
        }

        function SaveGroup() {
            var jsonData = {};


            jsonData["BrandId"] = parseInt($('#txtBrandId').val());

            jsonData["BrandName"] = $('#txtBrand').val();

            jsonData["IsActive"] = $('#chkActive').is(':checked');


            var urlpath = '@Url.Action("SaveBrand", "ProductBrand")';

            $.ajax({

                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "POST"
            })
                .success(function (result) {

                    if (result.isSuccess) {

                        //$('.confirm').prop("disabled", false);
                        //$('.cancel').prop("disabled", false);
                        ////swal.close();

                        swal("Product Brand Saved Successfull");
                        window.location.href = '@Url.Action("ProductBrandList", "ProductBrand")';


                    }
                });


        }


        function OdEdit(id) {

            var url = '@Url.Action("GetBrandByID", "ProductBrand")';
            $.ajax({
                url: url,
                dataType: 'json',
                data: { id: id },
                type: "Get",
                async: false,
                success: function (data) {

                    $('#txtBrandId').val(id);

                    $('#txtBrand').val(data.BrandName);
                    if (data.IsActive == true)
                        $('#chkActive').prop('checked', true);

                    else
                        $('#chkActive').prop('checked', false);


                }
            });

        }
    </script>
}

