﻿@model IGFoodProject.Models.tbl_WareHouseInfo
@{
    ViewBag.Title = "Details";
}


<section class="content">
    <div class="container-fluid">
        <div class="card-primary">
            <div class="card-header">
                <h3 class="card-title">
                    <span class="fa fa-eye"></span> A WareHouse Info Detail
                </h3>
                <div class="float-right btn btn-outline-warning">
                    @Html.ActionLink("Create New", "Create")
                </div>
            </div>
            <div class="card-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.WareHouseName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.WareHouseName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.IsActive)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.CreateBy)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CreateBy)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.CreateDate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CreateDate)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.UpdateBy)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.UpdateBy)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.UpdateDate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.UpdateDate)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.tbl_LocationIG.LocationName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.tbl_LocationIG.LocationName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.tbl_WareHouseType.WarehouseType)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.tbl_WareHouseType.WarehouseType)
                    </dd>
                </dl>
            </div>
            <div class="card-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.ActionLink("Edit", "Edit", new { id = Model.WareHouseId }, new { @class = "btn btn-success" })
                        @Html.ActionLink("Back to List", "Index", new { id = Model.WareHouseId }, new { @class = "btn btn-outline-danger float-right" })
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>