﻿@model IGFoodProject.Models.tbl_WareHouseInfo
@{
    ViewBag.Title = "Edit";
}
<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <section class="content">
        <div class="container-fluid">
            <div class="card-primary">
                <div class="card-header">
                    <h3 class="card-title">
                        <span class="fa fa-eye"></span> WareHouse Entry Edit
                    </h3>
                    <div class="float-right btn btn-outline-warning">
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                </div>
            </div>
            <br>
            <div class="form-horizontal">
                <div class="card-body">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.WareHouseId)

                    <div class="row">
                        <div class="col-md-10">
                            @Html.LabelFor(model => model.WareHouseName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.WareHouseName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.WareHouseName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-10">
                            @Html.LabelFor(model => model.LocationId, "LocationId", htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.DropDownList("LocationId", null, htmlAttributes: new {@class = "form-control select2"})
                                @Html.ValidationMessageFor(model => model.LocationId, "", new {@class = "text-danger"})
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-10">
                            @Html.LabelFor(model => model.WarehouseTypeId, "WarehouseTypeId", htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.DropDownList("WarehouseTypeId", null, htmlAttributes: new {@class = "form-control select2" })
                                @Html.ValidationMessageFor(model => model.WarehouseTypeId, "", new {@class = "text-danger"})
                            </div>
                        </div>
                        <br>
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="checkbox" style="margin-left: 25px;">
                                    @Html.EditorFor(model => model.IsActive)
                                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group">

                            <input type="submit" value="Save" class="btn btn-success" />
                            <button class="btn btn-outline-danger  float-right" onclick="location.reload()">Cancel</button>
                        </div>
                    </div>
                </div>
        </div>
    </section>}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
