﻿@model IEnumerable<IGFoodProject.Models.tbl_WareHouseInfo>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">


        <div class="card-primary">
            <div class="card-header">
                <h3 class="card-title">
                    <span class="fa fa-eye"></span> WareHouse List
                </h3>
                <div class="float-right btn btn-outline-warning">
                    @Html.ActionLink("Create New", "Create")
                </div>
            </div>
            <div class="card-body">
                <table class="table dataTable table-bordered table-hover">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.WareHouseName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsActive)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreateBy)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreateDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UpdateBy)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UpdateDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.tbl_LocationIG.LocationName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.tbl_WareHouseType.WarehouseType)
                        </th>

                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.WareHouseName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsActive)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreateBy)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreateDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UpdateBy)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UpdateDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tbl_LocationIG.LocationName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tbl_WareHouseType.WarehouseType)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.WareHouseId }) |
                                @Html.ActionLink("Details", "Details", new { id = item.WareHouseId }) |
                               @* @Html.ActionLink("Delete", "Delete", new { id = item.WareHouseId })*@
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>

    </div>
</section>