﻿@model dynamic
@{
    ViewBag.Title = "Fake Sales Invoice";
}
<style>
    .modal-dialog {
        width: 70%;
        height: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .modal-dialog1 {
        width: 50%;
        height: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .modal-content {
        background-color: white;
    }

    .ModalHead {
        background-color: #3C8DBC;
        padding: 15px;
        color: white;
    }

        .ModalHead > h4 {
            color: white;
            padding-left: 10px;
        }

    .table1 {
        width: 50%;
        max-width: 100%;
        margin-bottom: 20px;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title"> False Sales Invoice Entry</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        
                        
                       
                        <div class="row">
                           
                            <div class="form-group col-md-3" id="divCustomer">
                                <label>Customer</label>
                                <select class="form-control select2" id="ddlCustomer" style="width: 100%;" onchange="GetCustomerDetails()"> </select>
                            </div>
                            <div class="form-group col-md-3" id="divMainInvoice">
                                <label>Main Invoice</label>
                                <select class="form-control select2" id="ddlMainInvoice" style="width: 100%;"> </select>
                            </div>
                            <div class="form-group col-md-3" id="divOrderDate">
                                <label for="OrderDate">Order Date</label>
                                <input type="text" class="form-control datepicker" id="OrderDate" />
                            </div>
                            <div class="form-group col-md-3" id="divInvoiceDate">
                                <label for="InvoiceDate">Invoice Date</label>
                                <input type="text" class="form-control datepicker" id="InvoiceDate" />
                            </div>

                        </div>
                        <div id="sbody">
                            <div class="row">

                                <div class="form-group col-md-3">

                                </div>
                                <div class="form-group col-md-3">
                                    <a id="detailsreport" href="#" onclick="anchorClicked()" style="font-size:large;font-style:italic;"></a>
                                </div>
                                <div class="form-group col-md-3">

                                </div>
                                <div class="form-group col-md-3">

                                </div>

                            </div>
                            <div class="row">
                                <div class="form-group col-md-3" id="divCompany">

                                    <label for="ddlCompany">Company</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlCompany"></select>

                                </div>
                                <div class="form-group col-md-3" id="divCustomerType">


                                    <label for="ddlCustomerType">Customer Type</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlCustomerType"></select>


                                </div>
                                <div class="form-group col-md-3" id="divDeliveryDate">

                                    <label for="txtDeliveryDate">Delivery Date</label>
                                    <input type="text" id="txtDeliveryDate" class="form-control" />

                                </div>
                                <div class="form-group col-md-3">
                                    <div class="row">
                                        <div class="col-md-3" style="margin-left: 20px;">

                                            <input type="checkbox" class="form-check-input" id="chkEmployee" style="margin-left: 3px; margin-top: 20px;" onclick="Checko()" checked="checked" />
                                            <label class="form-check-label" for="chkEmployee" style="margin-left: 24px;margin-top: 17px;">Is Employee</label>

                                        </div>
                                        <div class="col-md-8" id="divSalesPerson">

                                            <label for="txtSalesPerson">Sales Person</label>
                                            <input type="text" id="txtSalesPerson" class="form-control" onchange="GetSalesPersonPhone()" />
                                            <input type="number" id="employeeSelect" style="display: none" class="form-control" />

                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="row">
                                <div class="form-group col-md-3">

                                    <div id="customerDetails"></div>

                                </div>


                                <div class="form-group col-md-3" id="dovSalesPersonNo">


                                    <label for="txtSalesPersonNo">Sales Person Contact</label>
                                    <input type="text" id="txtSalesPersonNo" class="form-control" />



                                </div>

                                <div class="form-group col-md-3" id="divDestination">

                                    <label for="txtDestination">Destination</label>
                                    <input type="text" id="txtDestination" class="form-control" />


                                </div>

                                <div class="form-group col-md-3" id="divRemarks">

                                    <label for="txtRemarks">Remarks</label>
                                    <textarea type="text" class="form-control" id="txtRemarks"></textarea>

                                </div>



                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-body">
                                        <table class="table table-bordered table-striped" id="salesOrder">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Product</th>
                                                    @* <th>Product Category</th>*@
                                                    <th>Stock Qty</th>
                                                    <th>Stock Kg</th>

                                                    <th>Sale Price</th>
                                                    <th>Sale Qty</th>
                                                    <th>Sale KG</th>
                                                    <th>Amount</th>
                                                    <th width="20"><label id="lbldiscount">Discount %</label> </th>
                                                    <th width="20"><label id="lbldiscountamt">Discount Amt.</label> </th>
                                                    <th>Tax</th>
                                                    <th>Total Amount</th>
                                                    <th class="action">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">

                                        <div class="form-group row">
                                            <label for="totalqty" class="col-sm-2 control-label">Order Total Qty:</label>
                                            <div class="col-sm-3">
                                                <label id="totalqty">0</label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="totalKg" class="col-sm-2 control-label">Order Total Qty  In KG:</label>
                                            <div class="col-sm-3">
                                                <label id="totalKg">0</label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="taxVat" class="col-sm-2 control-label">TAX & VAT:</label>
                                            <div class="col-sm-3">
                                                <label id="taxVat">0</label>
                                                <label> %</label>
                                            </div>

                                        </div>
                                        <div class="form-group row">
                                            <label for="totalIncTacVat" class="col-sm-2 control-label">Total Taka Including TAX & VAT:</label>
                                            <div class="col-sm-3">
                                                <label id="totalIncTacVat">0</label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="totalExTaxVat" class="col-sm-2 control-label">Total Taka Excludeing TAX & VAT:</label>
                                            <div class="col-sm-3">
                                                <label id="totalExTaxVat">0</label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="ddlCollection" class="col-sm-2 control-label">Collection :</label>

                                            <div class="col-sm-3">
                                                <label id="txtCollection">0</label>

                                            </div>
                                        </div>
                                       
                                        <div class="form-group row">
                                            <label for="lblRestAmount" class="col-sm-2 control-label">Rest Amount :</label>
                                            <div class="col-sm-3">
                                                <label id="lblRestAmount">0</label>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card-footer" id="idfooter">
                        <button type="button" class="btn btn-primary" onclick="SaveFinal()">Submit</button>
                        <button class="btn btn-outline-danger  float-right" onclick="location.reload()">Cancel</button>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>

    </div>
    <input id="salesOrderId" type="number" style="display: none;" value="@ViewBag.invoiceid">
</section>



@section Scripts{
    <script>
        var PrlductList = {};
        var DeleteProduct = [];
        $(function() {
            var id = $("#salesOrderId").val();
            LoadFilteredCustomers('ddlCustomer', 0, 0, 0);
            LoadCompany('ddlCompany');
            $("#ddlCompany").val("7");
            LoadCustomerType('ddlCustomerType');
            EmpAutoCom('txtSalesPerson', 'employeeSelect');
            $("#sbody").hide();
            $("#idfooter").hide();

            $("#ddlCustomer").on("change",
                function () {
                    LoadMainInvoice();
                    GetCustomerDetails();

                });
            $('#OrderDate').change(function () {
                LoadMainInvoice();
                $("#InvoiceDate").val($("#OrderDate").val());
                $('#detailsreport').text("");
            });



            $('#ddlMainInvoice').change(function ()
            {
                //detailsreport
                var orderid = $(this).val();
                LoadOrderInfo(orderid);
                $("#sbody").show();
                $("#idfooter").show();
                GetOrderMaster(orderid);

            });
            if(id>0)
            {
                GetOrderMaster_False(id);
            }




        });
        function GetOrderMaster_False(id) {

            var urlpath = '@Url.Action("GetSalesOrderMaster_False", "FakeInvoice")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { id: id },
                async: false,
                success: function (data) {
                    
                    LoadCustomerType('ddlCustomerType');
                    $("#ddlCustomerType").val(data.CustomerTypeId).trigger('change');
                    $("#ddlCustomerType").prop("disabled", true);
                    LoadFilteredCustomers('ddlCustomer', 0, 0, 0);

                    $("#ddlCustomer").val(data.CustomerId);
                    $("#ddlCustomer").prop("disabled", true);

                    GetCustomerDetails();
                    $("#ddlCompany").val(data.CompanyId).trigger('change');
                    $("#ddlCompany").prop("disabled", true);
                    $("#txtSalesPersonNo").val(data.SalesPersonContact);
                    $("#txtSalesPersonNo").prop("disabled", true);
                    if (data.IsEmployee == true) {
                        $('#chkEmployee').prop('checked', true);
                        $("#chkEmployee").prop("disabled", true);
                        $("#txtSalesPerson").val(GetEmployeeName(data.SalesPerson));
                        $("#txtSalesPerson").prop("disabled", true);
                        GetEmpNoFromId($("#txtSalesPerson").val());
                    } else {
                        $('#chkEmployee').prop('checked', false);
                        $("#chkEmployee").prop("disabled", true);
                        $("#txtSalesPerson").val(data.SalesPerson);
                        $("#txtSalesPerson").prop("disabled", true);
                    }

                    $('#txtDeliveryDate').val(ToJavaScriptDate(data.DeliveryDate));
                    $("#txtDeliveryDate").prop("disabled", true);
                    $('#txtDestination').val(data.DeliveryDestination);
                    $("#txtDestination").prop("disabled", true);

                    $('#txtRemarks').val(data.Remarks);


                    $('#InvoiceDate').val(ToJavaScriptDate(data.InvoiceDate));
                    $('#OrderDate').val(ToJavaScriptDate(data.OrderDate));
                    $('#lblRestAmount').html(data.TotalDue - data.TotalPaid);
                    LoadMainInvoice();

                    $('#ddlMainInvoice').val(data.SalesOrderProcessedMasterId);

                    LoadOrderInfo(data.SalesOrderProcessedMasterId);
                    $("#sbody").show();
                    $("#idfooter").show();

                    $('#salesOrderNo').html(data.SalesOrderNo);
                    GetProducts();
                    var typeid = $("#ddlCustomerType").val();
                    for (var i = 0; i < data.SalesDetails.length; i++) {

                        var tr = $('#salesOrder tbody tr').length + 1;
                        AddRow();

                        $("#pro_" + tr).val(data.SalesDetails[i].ProductId).trigger('change');
                        $('#saleQty_' + tr).val(data.SalesDetails[i].ProductQty.toFixed(2));
                        $('#saleKG_' + tr).val(data.SalesDetails[i].ProductKg.toFixed(2));

                        if (typeid == 5) {
                            var gr = data.SalesDetails[i].GroupId;

                            if (gr == 5 || gr == 6) {
                                $('#disPer_' + tr).prop("disabled", true);
                                $('#disNum_' + tr).prop("disabled", true);
                            }
                            else {
                                $('#disPer_' + tr).prop("disabled", false);
                                $('#disNum_' + tr).prop("disabled", false);
                            }

                            $('#disPer_' + tr).val(data.SalesDetails[i].DiscountPercent.toFixed(2));
                            $('#disNum_' + tr).val(data.SalesDetails[i].DiscountAmount.toFixed(2));

                            $('#lbldiscount').text("Commission %");
                            $('#lbldiscountamt').text("Commission Amt.");
                        }
                        else {
                            $('#disPer_' + tr).prop("disabled", false);
                            $('#disNum_' + tr).prop("disabled", false);
                            $('#disPer_' + tr).val(data.SalesDetails[i].DiscountPercent.toFixed(2));
                            $('#disNum_' + tr).val(data.SalesDetails[i].DiscountAmount.toFixed(2)); ``

                            $('#lbldiscount').text("Discount %");
                            $('#lbldiscountamt').text("Discount Amt.");
                        }

                        $('#saleRate_' + tr).val(data.SalesDetails[i].SaleRate.toFixed(2));

                        $('#total_' + tr).val((data.SalesDetails[i].TotalPrice + data.SalesDetails[i].DiscountAmount - data.SalesDetails[i].ProductTax).toFixed(2));
                        $('#totalG_' + tr).val(data.SalesDetails[i].TotalPrice);
                        $('#details_' + tr).val(data.SalesDetails[i].SalesOrderProcessDetailsId);
                        $('#fdetails_' + tr).val(data.SalesDetails[i].FalseSalesOrderProcessDetailsId);
                        $('#proTax_' + tr).val(data.SalesDetails[i].ProductTax.toFixed(2));

                    }




                    $('#totalKg').html(data.TotatalOrderAmtKg);
                    $('#totalqty').html(data.TotalOrderQty);
                    $('#totalIncTacVat').html(data.TotalIncTaxVat);
                    $('#totalExTaxVat').html(data.TotalExTaxVat);

                    $('#txtCollection').html(data.TotalPaid);
                }
            });
        }


        function GetOrderMaster(id) {

            var urlpath = '@Url.Action("GetSalesOrderMaster", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { id: id },
                async: false,
                success: function (data) {
                    LoadCustomerType('ddlCustomerType');
                    $("#ddlCustomerType").val(data.CustomerTypeId).trigger('change');
                    $("#ddlCustomerType").prop("disabled", true);

                    GetCustomerDetails();
                    $("#ddlCompany").val(data.CompanyId).trigger('change');
                    $("#ddlCompany").prop("disabled", true);
                    $("#txtSalesPersonNo").val(data.SalesPersonContact);
                    $("#txtSalesPersonNo").prop("disabled", true);
                    if (data.IsEmployee == true) {
                        $('#chkEmployee').prop('checked', true);
                        $("#chkEmployee").prop("disabled", true);
                        $("#txtSalesPerson").val(GetEmployeeName(data.SalesPerson));
                        $("#txtSalesPerson").prop("disabled", true);
                        GetEmpNoFromId($("#txtSalesPerson").val());
                    } else {
                        $('#chkEmployee').prop('checked', false);
                        $("#chkEmployee").prop("disabled", true);
                        $("#txtSalesPerson").val(data.SalesPerson);
                        $("#txtSalesPerson").prop("disabled", true);
                    }

                    $('#txtDeliveryDate').val(ToJavaScriptDate(data.DeliveryDate));
                    $("#txtDeliveryDate").prop("disabled", true);
                    $('#txtDestination').val(data.DeliveryDestination);
                    $("#txtDestination").prop("disabled", true);

                    $('#txtRemarks').val(data.Remarks);



                    $('#lblRestAmount').html(data.TotalDue - data.TotalPaid);






                    $('#salesOrderNo').html(data.SalesOrderNo);
                    GetProducts();
                    var typeid = $("#ddlCustomerType").val();
                    for (var i = 0; i < data.SalesDetails.length; i++) {

                        var tr = $('#salesOrder tbody tr').length + 1;
                        AddRow();

                        $("#pro_" + tr).val(data.SalesDetails[i].ProductId).trigger('change');
                        $('#saleQty_' + tr).val(data.SalesDetails[i].ProductQty.toFixed(2));
                        $('#saleKG_' + tr).val(data.SalesDetails[i].ProductKg.toFixed(2));

                        if (typeid == 5) {
                            var gr = data.SalesDetails[i].GroupId;

                            if (gr == 5 || gr == 6) {
                                $('#disPer_' + tr).prop("disabled", true);
                                $('#disNum_' + tr).prop("disabled", true);
                            }
                            else {
                                $('#disPer_' + tr).prop("disabled", false);
                                $('#disNum_' + tr).prop("disabled", false);
                            }

                            $('#disPer_' + tr).val(data.SalesDetails[i].DiscountPercent.toFixed(2));
                            $('#disNum_' + tr).val(data.SalesDetails[i].DiscountAmount.toFixed(2));

                            $('#lbldiscount').text("Commission %");
                            $('#lbldiscountamt').text("Commission Amt.");
                        }
                        else {
                            $('#disPer_' + tr).prop("disabled", false);
                            $('#disNum_' + tr).prop("disabled", false);
                            $('#disPer_' + tr).val(data.SalesDetails[i].DiscountPercent.toFixed(2));
                            $('#disNum_' + tr).val(data.SalesDetails[i].DiscountAmount.toFixed(2)); ``

                            $('#lbldiscount').text("Discount %");
                            $('#lbldiscountamt').text("Discount Amt.");
                        }

                        $('#saleRate_' + tr).val(data.SalesDetails[i].SaleRate.toFixed(2));

                        $('#total_' + tr).val((data.SalesDetails[i].TotalPrice + data.SalesDetails[i].DiscountAmount - data.SalesDetails[i].ProductTax).toFixed(2));
                        $('#totalG_' + tr).val(data.SalesDetails[i].TotalPrice);
                        $('#details_' + tr).val(data.SalesDetails[i].SalesOrderProcessDetailsId);
                        $('#fdetails_' + tr).val('0');
                        $('#proTax_' + tr).val(data.SalesDetails[i].ProductTax.toFixed(2));

                    }




                    $('#totalKg').html(data.TotatalOrderAmtKg);
                    $('#totalqty').html(data.TotalOrderQty);
                    $('#totalIncTacVat').html(data.TotalIncTaxVat);
                    $('#totalExTaxVat').html(data.TotalExTaxVat);

                    $('#txtCollection').html(data.TotalPaid);
                }
            });
        }
        function CalculateSalePriceAmt(id) {

            var saleRate = isNaN(parseFloat($('#saleRate_' + id).val())) ? 0 : parseFloat($('#saleRate_' + id).val());
            var saleQty = isNaN(parseFloat($('#saleQty_' + id).val())) ? 0 : parseFloat($('#saleQty_' + id).val());
            var discountAmt = isNaN(parseFloat($('#disNum_' + id).val())) ? 0 : parseFloat($('#disNum_' + id).val());
            var saleKg = isNaN(parseFloat($('#saleKG_' + id).val())) ? 0 : parseFloat($('#saleKG_' + id).val());
            var groupid = isNaN(parseFloat($('#groupid_' + id).val())) ? 0 : parseFloat($('#groupid_' + id).val());


            if (groupid == 5) {
                var total = saleRate * saleKg;
                var discountRate = (discountAmt / total) * 100;
                var totalPrice = total - discountAmt;
                $('#total_' + id).val(total.toFixed(2));
                $('#disPer_' + id).val(discountRate.toFixed(2));
                $('#totalG_' + id).val(totalPrice.toFixed(2));
            }
            else if (groupid == 6) {
                var total = saleRate * saleQty;
                var discountRate = (discountAmt / total) * 100;
                var totalPrice = total - discountAmt;
                $('#total_' + id).val(total.toFixed(2));
                $('#disPer_' + id).val(discountRate.toFixed(2));
                $('#totalG_' + id).val(totalPrice.toFixed(2));
            }
            else {
                var total = saleRate * saleKg;
                var discountRate = (discountAmt / total) * 100;
                var totalPrice = total - discountAmt;
                $('#total_' + id).val(total.toFixed(2));
                $('#disPer_' + id).val(discountRate.toFixed(2));
                $('#totalG_' + id).val(totalPrice.toFixed(2));
            }

            CalculateAll();
        }
        function GetPackWeight(pid) {
            var weight = 0;
            var urlpath = '@Url.Action("PackWeight", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                data: { pid: pid },
                dataType: 'json',
                type: "Get",

                async: false,
                success: function (data) {
                    weight = data;

                }
            });
            return weight;
        }
        function CalculateSalePrice(id, typeid, pid) {
            

            var saleRate = isNaN(parseFloat($('#saleRate_' + id).val())) ? 0 : parseFloat($('#saleRate_' + id).val());
            var saleQty = isNaN(parseFloat($('#saleQty_' + id).val())) ? 0 : parseFloat($('#saleQty_' + id).val());
            var saleKg = isNaN(parseFloat($('#saleKG_' + id).val())) ? 0 : parseFloat($('#saleKG_' + id).val());
            var groupid = isNaN(parseFloat($('#groupid_' + id).val())) ? 0 : parseFloat($('#groupid_' + id).val());
            var disCounPer = 0;
            var distountTotal = 0;
            var total = 0
            //if (typeid == 5) {
            //    total = saleRate * saleKg;
            //    //var distountTotal = total * (disCounPer / 100);
            //    var distountTotal = saleKg * parseFloat(4);
            //    var per = (distountTotal * 100) / total;
            //    $('#disPer_' + id).attr("disabled", true);
            //    $('#disNum_' + id).attr("disabled", true);
            //    //var distotal = saleKg * parseFloat(4);
            //    $('#disNum_' + id).val(distountTotal);
            //    $('#disPer_' + id).val(per.toFixed(2));
            //}
            //else {
            //    var disCounPer = isNaN(parseFloat($('#disPer_' + id).val())) ? 0 : parseFloat($('#disPer_' + id).val());
            //    total = saleRate * saleKg;
            //    distountTotal = total * (disCounPer / 100);

            //    $('#disPer_' + id).attr("disabled", false);
            //    $('#disNum_' + id).attr("disabled", false);
            //}
            //


            if (groupid == 5) {
                if (typeid == 5) {
                    total = saleRate * saleKg;
                    //var distountTotal = total * (disCounPer / 100);
                    distountTotal = saleKg * parseFloat(4);
                    var per = (distountTotal * 100) / total;
                    $('#disPer_' + id).attr("disabled", true);
                    $('#disNum_' + id).attr("disabled", true);
                    //var distotal = saleKg * parseFloat(4);
                    $('#disNum_' + id).val(distountTotal);
                    $('#disPer_' + id).val(per.toFixed(2));
                }
                else {
                    var disCounPer = isNaN(parseFloat($('#disPer_' + id).val())) ? 0 : parseFloat($('#disPer_' + id).val());
                    total = saleRate * saleKg;
                    distountTotal = total * (disCounPer / 100);

                    $('#disPer_' + id).attr("disabled", false);
                    $('#disNum_' + id).attr("disabled", false);
                }
            }
            else if (groupid == 6) {
                var pweight = GetPackWeight(pid);
                var skg = pweight * saleQty;
                $('#saleKG_' + id).val(skg.toFixed(2));
                if (typeid == 5) {
                    total = saleRate * saleQty;
                    $('#disPer_' + id).val(11);
                    disCounPer = isNaN(parseFloat($('#disPer_' + id).val())) ? 0 : parseFloat($('#disPer_' + id).val());
                    distountTotal = total * (disCounPer / 100);

                    $('#disPer_' + id).attr("disabled", true);
                    $('#disNum_' + id).attr("disabled", true);
                    //var distotal = saleKg * parseFloat(4);
                    $('#disNum_' + id).val(distountTotal);

                }
                else {
                    disCounPer = isNaN(parseFloat($('#disPer_' + id).val())) ? 0 : parseFloat($('#disPer_' + id).val());
                    total = saleRate * saleQty;
                    distountTotal = total * (disCounPer / 100);

                    $('#disPer_' + id).attr("disabled", false);
                    $('#disNum_' + id).attr("disabled", false);
                }
            }
            else {
                var disCounPer = isNaN(parseFloat($('#disPer_' + id).val())) ? 0 : parseFloat($('#disPer_' + id).val());
                var total = saleRate * saleKg;
                var distountTotal = total * (disCounPer / 100);
            }





            var vatPerItem = isNaN(parseFloat($('#proTax_' + id).val())) ? 0 : parseFloat($('#proTax_' + id).val());
            var totalPrice = total + vatPerItem - distountTotal;

            $('#total_' + id).val(total.toFixed(2));
            $('#disNum_' + id).val(distountTotal.toFixed(2));
            $('#totalG_' + id).val(totalPrice.toFixed(2));
            CalculateAll();
        }
        function GetTaxInfo(productGroupId, amount) {
            var tax = 2;
            var urlpath = '@Url.Action("GetTaxInfo", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'json',
                data: { productGroupId: productGroupId, amount: amount },
                async: false,
                success: function (data) {
                    tax = data.TaxPercent;

                }
            });
            return tax;
        }
        function CalculateKg() {

        }
        function SetItemTax(proTax) {
            $('#salesOrder tbody tr').each(function () {


                var idr = $(this).attr('id');
                var id = idr.substring(3);

                var total = isNaN(parseFloat($('#total_' + id).val())) ? 0 : parseFloat($('#total_' + id).val());
                var disnum = isNaN(parseFloat($('#disNum_' + id).val())) ? 0 : parseFloat($('#disNum_' + id).val());


                $('#proTax_' + id).val(proTax.toFixed(2));

                $('#totalG_' + id).val((total - disnum + proTax).toFixed(2));

            });
        }

        function CalculateAll() {


            var grandTotal = 0;
            var totalIncTax = 0;
            var totalExTax = 0;
            var totalKg = 0;
            var totalQty = 0;
            var totalTax = 0;
            var proCout = 0;
            $('#salesOrder tbody tr').each(function () {


                var idr = $(this).attr('id');
                var id = idr.substring(3);

                var productId = isNaN(parseFloat($('#pro_' + id).val())) ? 0 : parseFloat($('#pro_' + id).val());
                var saleQty = isNaN(parseFloat($('#saleQty_' + id).val())) ? 0 : parseFloat($('#saleQty_' + id).val());
                var stockRate = isNaN(parseFloat($('#stRate_' + id).val())) ? 0 : parseFloat($('#stRate_' + id).val());
                var saleRate = isNaN(parseFloat($('#saleRate' + id).val())) ? 0 : parseFloat($('#saleRate' + id).val());

                var saleKg = isNaN(parseFloat($('#saleKG_' + id).val())) ? 0 : parseFloat($('#saleKG_' + id).val());

                var disPer = isNaN(parseFloat($('#disPer_' + id).val())) ? 0 : parseFloat($('#disPer_' + id).val());
                var disAmt = isNaN(parseFloat($('#disNum_' + id).val())) ? 0 : parseFloat($('#disNum_' + id).val());
                var total = isNaN(parseFloat($('#total_' + id).val())) ? 0 : parseFloat($('#total_' + id).val());
                grandTotal += (total - disAmt);
                totalKg += saleKg;
                totalQty += saleQty;
                if (productId > 0) {
                    proCout = proCout + 1;
                }

            });
            if (grandTotal > 0) {
                $('#taxVat').html(GetTaxInfo(5, grandTotal));
            }
            else {
                $('#taxVat').html("0");
            }

            var tax = parseFloat($('#taxVat').html());
            var colection = isNaN(parseFloat($('#txtCollection').html())) ? 0 : parseFloat($('#txtCollection').html());

            var taxCal = grandTotal * (tax / 100);

            //var proTax = (taxCal / proCout);
            var proTax = (taxCal / proCout);
            SetItemTax(proTax);
            totalIncTax = grandTotal + taxCal;
            totalExTax = grandTotal;
            $('#totalKg').html(totalKg.toFixed(2));
            $('#totalqty').html(totalQty.toFixed(2));
            $('#totalIncTacVat').html(totalIncTax.toFixed(2));
            $('#totalExTaxVat').html(grandTotal.toFixed(2));

            var restamount = totalIncTax - colection;
            $('#lblRestAmount').html(restamount.toFixed(2));
        }

        function AddRow() {

            var tr = $('#salesOrder tbody tr').length + 1;
            var values = $("#salesOrder tbody tr")
              .map(function () { return parseInt($(this).attr('id').substring(3)); }).get();
            var index = values.indexOf(tr);
            if (index >= 0) {
                tr = Math.max.apply(Math, values) + 1;
            }
            var urlpath = '@Url.Action("AddRowForOrder", "FakeInvoice")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'html',
                data: { tr: tr },
                async: false,
                success: function (data) {

                    $('#salesOrder tbody').append(data);
                    LoadProductInRow("pro_" + tr);


                }
            });
            $('#pro_' + tr).select2();
            SerialTable();
        }
        function SerialTable() {
            $('#salesOrder tbody tr').each(function (index, element) {

                var idr = $(this).attr('id');
                var id = idr.substring(3);
                $('#ts_' + id).html(index + 1);


            });
        }
        function RemoveRow(id) {


            var trLength = $('#salesOrder tbody tr').length;
            if (trLength > 1) {

                var detailsId = $('#details_' + id).val();
                if (detailsId > 0) {
                    var productId = isNaN(parseFloat($('#pro_' + id).val())) ? 0 : parseFloat($('#pro_' + id).val());
                    var saleQty = isNaN(parseFloat($('#saleQty_' + id).val())) ? 0 : parseFloat($('#saleQty_' + id).val());
                    var stockRate = isNaN(parseFloat($('#stRate_' + id).val())) ? 0 : parseFloat($('#stRate_' + id).val());
                    var saleRate = isNaN(parseFloat($('#saleRate_' + id).val())) ? 0 : parseFloat($('#saleRate_' + id).val());

                    var saleKg = isNaN(parseFloat($('#saleKG_' + id).val())) ? 0 : parseFloat($('#saleKG_' + id).val());

                    var disPer = isNaN(parseFloat($('#disPer_' + id).val())) ? 0 : parseFloat($('#disPer_' + id).val());
                    var disAmt = isNaN(parseFloat($('#disNum_' + id).val())) ? 0 : parseFloat($('#disNum_' + id).val());
                    var total = isNaN(parseFloat($('#totalG_' + id).val())) ? 0 : parseFloat($('#totalG_' + id).val());
                    var delObj = {};
                    delObj["ProductId"] = productId;
                    delObj["SalesOrderProcessDetailsId"] = detailsId;
                    delObj["ProductQty"] = saleQty;
                    delObj["StockRate"] = stockRate;
                    delObj["SaleRate"] = saleRate;
                    delObj["ProductKg"] = saleKg;
                    delObj["DiscountAmount"] = disAmt;
                    delObj["DiscountPercent"] = disPer;
                    delObj["TotalPrice"] = total;
                    delObj["IsDelete"] = true;

                    delObj["OperationIdDelete"] = 2;





                    DeleteProduct.push(delObj);

                }
                $('#tr_' + id).remove();
                // var aProd = new object();
                SerialTable();
                CalculateAll();
            } else {
                return;
            }

        }
        function LoadProductInRow(elementId) {

            //var array = [];
            //var rowCount = $('#salesOrder tbody tr').length;
            //for (let count = 0; count < rowCount; count++) {
            //    array.push(parseInt($("#pro_" + count).val()));
            //};
            //$('#' + elementId + '').append("<option value='0'>--Select Product--</option>");

            //for (var i = 0; i < PrlductList.length; i++) {
            //    if (jQuery.inArray(PrlductList[i].ProductId, array) == -1) {
            //        $('#' + elementId + '').append($("<option></option>").val(PrlductList[i].ProductId).html( PrlductList[i].ProductName));
            //    }

            //}
            //$('#' + elementId + '').select2();

            $('#' + elementId + '').append("<option value='0'>--Select Product--</option>");
            for (var i = 0; i < PrlductList.length; i++) {

                $('#' + elementId + '').append($("<option></option>").val(PrlductList[i].ProductId).html(PrlductList[i].ProductName));
            }
        }
        function GetProducts() {


            var urlpath = '@Url.Action("GetProductByGroup", "Utility")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { groupId: 5 },
                async: false,
                success: function (data) {

                    PrlductList = data;

                }
            });
        }
        function GetProductDetails(prodId, orderdate, customertype) {

            if (customertype == 0) {
                swal("At first select customer type");
                //LoadProductInRow("pro_" + prodId);
                $('#pro_' + prodId).val('0').trigger("change");
                return;
            }

            var productId = $('#pro_' + prodId).val();
            var wareHouseId = $('#ddlWareHouse').val();
            var urlpath = '@Url.Action("GetProductDetails", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'json',
                data: { productId: productId, orderdate: orderdate, customertype: customertype },
                async: false,
                success: function (data) {


                    $("#stQty_" + prodId).val(data.StockQty);
                    $("#stKg_" + prodId).val(data.StockKg);
                    //$("#stRate_" + prodId).val(data.StockPrice.toFixed(2));
                    $("#groupid_" + prodId).val(data.groupid);
                    $('#saleRate_' + prodId).val(data.StockPrice.toFixed(2));



                }
            });
        }
        function GetEmpNoFromId(data) {

            var a = data;
            var empId = data.substring(0, 5);

            var urlpath = '@Url.Action("GetEmpNo", "Utility")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { empId: empId },
                async: false,
                success: function (data) {
                    $('#employeeSelect').val(data);
                }
            });

        }
        function GetEmployeeName(empId) {
            var EmpName = "";
            var urlpath = '@Url.Action("GetEmployeeName", "Utility")';
            $.ajax({
                url: urlpath,
                data: { empId: empId },
                dataType: 'json',
                type: "Get",

                async: false,
                success: function (data) {
                    EmpName = data;

                }
            });
            return EmpName;
        }
        function GetCustomerDetails() {


            var customerId = $('#ddlCustomer').val();

            var urlpath = '@Url.Action("GetCustomerDetails", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'html',
                type: "Get",
                data: { id: customerId },
                async: false,
                success: function (data) {
                    $('#customerDetails').empty();
                    $('#customerDetails').html(data);

                }
            });



            //LoadDate('#txtOrderDate');

            var str = $('#customerAddress').html();
            if (str != '' || str != null) {
                var array = str.split(':');

                $('#txtDestination').val(array[1]);
            }

        }

        function LoadOrderInfo(orderid) {

            var urlpath = '@Url.Action("GetOrderInfo", "FakeInvoice")';


            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",
                data: { orderid: orderid},
                async: false,
                success: function (data) {

                    $('#OrderDate').val(ToJavaScriptDate(data.OrderDate));
                    $('#InvoiceDate').val(ToJavaScriptDate(data.OrderDate));
                    $('#detailsreport').text(data.SalesOrderNo);


                }
            });
        }

        function LoadMainInvoice() {
            var orderdate;
            if ($("#OrderDate").val() != '' || $("#OrderDate").val() != null) {
                orderdate = $("#OrderDate").val();
            }
            else {
                orderdate = '';
            }

            var urlpath = '@Url.Action("GetMainInvoice", "FakeInvoice")';


            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",
                data: { customerid: $("#ddlCustomer").val(), orderdate: orderdate },
                async: false,
                success: function (data) {

                    $('#ddlMainInvoice').empty();
                    $('#ddlMainInvoice').append("<option value='0'>--Select Invoice --</option>");

                    for (var i = 0; i < data.length; i++) {
                        
                        $('#ddlMainInvoice').append($("<option></option>").val(data[i].SalesOrderProcessedMasterId).html(data[i].SalesOrderNo));
                    }
                }
            });
        }


        function anchorClicked() {
            var soId = $('#ddlMainInvoice').val();
            var urlpath = '@Url.Action("SalesOrderReports", "Report")';
            var reportValue = "SalesOrder";
            var jsonData = {};
            if (reportValue == "SalesOrder") {
                jsonData["ReportValue"] = reportValue;
                jsonData["GroupId"] = $("#productGroupDdl").val();
                jsonData["SalesOrderProcessedMasterId"] = soId;
            }
            $.ajax({
                url: urlpath,
                data: jsonData,
                dataType: 'json',
                type: "Get",
                success: function (data) {
                    if (data.isSuccess) {
                        //OpenPopUp('BasicReportViewer.aspx');
                        window.open("../CrystalViewer/CrystalViewer.aspx", "_blank", "WIDTH=1024,HEIGHT=768,scrollbars=no, menubar=no,resizable=yes,directories=no,location=no");
                    }
                }
            });
        }


        function SaveValidation() {
            var isValid = true;
            var message = "Some Values Required";
            if ($('#ddlMainInvoice').val() == 0 || $('#ddlMainInvoice').val() == '') {
                ValidationColorChangeNew("ddlMainInvoice", "divMainInvoice", "Main Invoice Required", true);
                isValid = false;
            }
            if ($('#InvoiceDate').val() == '' || $('#InvoiceDate').val() == null) {
                ValidationColorChangeNew("InvoiceDate", "divInvoiceDate", "Invoice Date Required", false);
                isValid = false;
            }
            if ($('#ddlCompany').val() == 0 || $('#ddlCompany').val() == '') {
                ValidationColorChangeNew("ddlCompany", "divCompany", "Company Required", true);
                isValid = false;
            }
            if ($('#ddlCustomerType').val() == 0 || $('#ddlCustomerType').val() == '') {
                ValidationColorChangeNew("ddlCustomerType", "divCustomerType", "Customer Type Required", true);
                isValid = false;
            }
            if ($('#ddlCustomer').val() == 0 || $('#ddlCustomer').val() == '') {
                ValidationColorChangeNew("ddlCustomer", "divCustomer", "Customer Required", true);
                isValid = false;
            }
            if ($('#OrderDate').val() == '' || $('#OrderDate').val() == null) {
                ValidationColorChangeNew("OrderDate", "divOrderDate", "Order Date Required", false);
                isValid = false;
            }
            if ($('#txtDeliveryDate').val() == '' || $('#txtDeliveryDate').val() == null) {
                ValidationColorChangeNew("txtDeliveryDate", "divDeliveryDate", "Delivery Date Required", false);
                isValid = false;
            }
            if ($('#txtDestination').val() == '' || $('#txtDestination').val() == null) {
                ValidationColorChangeNew("txtDestination", "divDestination", "Delivery Place Required", false);
                isValid = false;
            }

            if ($('#txtSalesPersonNo').val() == '' || $('#txtSalesPersonNo').val() == null) {
                ValidationColorChangeNew("txtSalesPersonNo", "dovSalesPersonNo", "Contact No Required", false);
                isValid = false;
            }


            var chk = $("#chkEmployee").prop("checked");
            if (chk == true) {
                if ($('#txtSalesPerson').val() == '' || $('#txtSalesPerson').val() == null || $('#employeeSelect').val() == 0) {
                    ValidationColorChangeNew("txtSalesPerson", "divSalesPerson", "Sales Person Required", false);
                    isValid = false;
                }
            }
            else {
                if ($('#txtSalesPerson').val() == '' || $('#txtSalesPerson').val() == null) {
                    ValidationColorChangeNew("txtSalesPerson", "divSalesPerson", "Sales Person Required", false);
                    isValid = false;
                }
            }





            if ($('#salesOrder tbody tr').length == 0 || $('#salesOrder tbody tr').length == '') {
                isValid = false;
                message = "Products Required";
            }



            $('#salesOrder tbody tr').each(function () {


                var idr = $(this).attr('id');
                var id = idr.substring(3);
                var saleQty = isNaN(parseFloat($('#saleQty_' + id).val())) ? 0 : parseFloat($('#saleQty_' + id).val());
                var salePrice = isNaN(parseFloat($('#saleRate_' + id).val())) ? 0 : parseFloat($('#saleRate_' + id).val());
                var saleKg = isNaN(parseFloat($('#saleKG_' + id).val())) ? 0 : parseFloat($('#saleKG_' + id).val());
                var total = isNaN(parseFloat($('#totalG_' + id).val())) ? 0 : parseFloat($('#totalG_' + id).val());
                var groupid = isNaN(parseInt($('#groupid_' + id).val())) ? 0 : parseInt($('#groupid_' + id).val());
                if (groupid == 5) {
                    //if (salePrice === 0) {
                    //    isValid = false;
                    //    message = "Sale Price Cannot be 0 ";
                    //    $('#saleRate_' + id).val();
                    //    $('#saleRate_' + id).css('border-bottom', '2px solid red');
                    //    return;
                    //}
                    if (saleQty === 0) {
                        isValid = false;
                        message = "Sale Qty Cannot be 0 ";
                        $('#saleQty_' + id).css('border-bottom', '2px solid red');
                        return;
                    }
                    if (saleKg === 0) {
                        isValid = false;
                        message = "Sale KG Cannot be 0 ";
                        $('#saleKG_' + id).css('border-bottom', '2px solid red');
                        return;
                    }

                    //if (total === 0) {
                    //    isValid = false;
                    //    message = "Total Price Cannot be 0 ";
                    //    $('#totalG_' + id).css('border-bottom', '2px solid red');
                    //    return;
                    //}
                }
                else if (groupid == 6) {
                    //if (salePrice === 0) {
                    //    isValid = false;
                    //    message = "Sale Price Cannot be 0 ";
                    //    $('#saleRate_' + id).css('border-bottom', '2px solid red');
                    //    return;
                    //}
                    if (saleQty === 0) {
                        isValid = false;
                        message = "Sale Qty Cannot be 0 ";
                        $('#saleQty_' + id).css('border-bottom', '2px solid red');
                        return;
                    }

                    //if (total === 0) {
                    //    isValid = false;
                    //    message = "Total Price Cannot be 0 ";
                    //    $('#totalG_' + id).css('border-bottom', '2px solid red');
                    //    return;
                    //}
                }
                else {
                    //if (salePrice === 0) {
                    //    isValid = false;
                    //    message = "Sale Price Cannot be 0 ";
                    //    $('#saleRate_' + id).css('border-bottom', '2px solid red');
                    //    return;
                    //}

                    if (saleKg === 0) {
                        isValid = false;
                        message = "Sale KG Cannot be 0 ";
                        $('#saleKG_' + id).css('border-bottom', '2px solid red');
                        return;
                    }

                    //if (total === 0) {
                    //    isValid = false;
                    //    message = "Total Price Cannot be 0 ";
                    //    $('#totalG_' + id).css('border-bottom', '2px solid red');
                    //    return;
                    //}
                }
            });
            if (isValid == false) {
                ShowMessage(message);

            }
            return isValid;


        }
        function SaveFinal() {
            if (SaveValidation() == true) {
                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveApproveOdrerFinal();

                });
            }


        }
        function SaveApproveOdrerFinal() {

            var jsonData = {};
            var id = $("#salesOrderId").val();
            if (id > 0)
            {
                jsonData["FalseSalesOrderProcessedMasterId"] = id;
            }
            else {
                jsonData["FalseSalesOrderProcessedMasterId"] = 0;
            }
            
            jsonData["SalesOrderProcessedMasterId"] = $('#ddlMainInvoice').val();

            jsonData["InvoiceDate"] = $('#InvoiceDate').val();
            jsonData["TotalIncTaxVat"] = $('#totalIncTacVat').html();
            jsonData["TotalExTaxVat"] = $('#totalExTaxVat').html();

            jsonData["TotalDue"] = $('#totalIncTacVat').html();

            var jsonObjs = [];
            $('#salesOrder tbody tr').each(function () {

                var theObj = {};
                var idr = $(this).attr('id');
                var id = idr.substring(3);
                var productId = isNaN(parseFloat($('#pro_' + id).val())) ? 0 : parseFloat($('#pro_' + id).val());
                var saleQty = isNaN(parseFloat($('#saleQty_' + id).val())) ? 0 : parseFloat($('#saleQty_' + id).val());
                var stockRate = isNaN(parseFloat($('#stRate_' + id).val())) ? 0 : parseFloat($('#stRate_' + id).val());
                var saleRate = isNaN(parseFloat($('#saleRate_' + id).val())) ? 0 : parseFloat($('#saleRate_' + id).val());

                var saleKg = isNaN(parseFloat($('#saleKG_' + id).val())) ? 0 : parseFloat($('#saleKG_' + id).val());

                var disPer = isNaN(parseFloat($('#disPer_' + id).val())) ? 0 : parseFloat($('#disPer_' + id).val());
                var disAmt = isNaN(parseFloat($('#disNum_' + id).val())) ? 0 : parseFloat($('#disNum_' + id).val());
                var total = isNaN(parseFloat($('#totalG_' + id).val())) ? 0 : parseFloat($('#totalG_' + id).val());
                var detailsId = isNaN(parseFloat($('#details_' + id).val())) ? 0 : parseFloat($('#details_' + id).val());
                var fdetailsId = isNaN(parseFloat($('#fdetails_' + id).val())) ? 0 : parseFloat($('#fdetails_' + id).val());
                var tax = isNaN(parseFloat($('#proTax_' + id).val())) ? 0 : parseFloat($('#proTax_' + id).val());
                var GroupId = isNaN(parseInt($('#groupid_' + id).val())) ? 0 : parseInt($('#groupid_' + id).val());

                theObj["ProductId"] = productId;
                if (fdetailsId > 0)
                {
                    theObj["FalseSalesOrderProcessDetailsId"] = fdetailsId;
                }
                else
                {
                    theObj["FalseSalesOrderProcessDetailsId"] = 0;
                }
                
                theObj["SalesOrderProcessDetailsId"] = detailsId;
                theObj["ProductQty"] = saleQty;
                theObj["StockRate"] = stockRate;
                theObj["SaleRate"] = saleRate;
                theObj["ProductKg"] = saleKg;
                theObj["DiscountAmount"] = disAmt;
                theObj["DiscountPercent"] = disPer;
                theObj["TotalPrice"] = total;

                //theObj["OperationIdAdd"] = detailsId == 0 ? 2 : 0;
                theObj["ProductTax"] = tax;
                theObj["GroupId"] = GroupId;
                jsonObjs.push(theObj);
            });




            jsonData["SalesDetails"] = jsonObjs;

            var urlpath = '@Url.Action("SaveOrderPrecessed", "FakeInvoice")';
            $.ajax({
                contentType: "application/json",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "POST"
            })
                .success(function (result) {

                    if (result.pk > 0) {

                        // var mrrNo = GetMrrNo(result.pk);

                        swal({
                            title: " Saved Successfull",
                            text: '',
                            type: "success",
                            showCancelButton: false,
                            cancelButtonClass: 'btn-secondary waves-effect',
                            confirmButtonClass: 'btn-success waves-effect waves-light',
                            confirmButtonText: 'Yes!',
                            closeOnConfirm: false
                        }, function () {
                            window.location.href = '@Url.Action("FalseSalesOrderList", "FakeInvoice")';

                        });


                    }
                });


        }

    </script>
}