﻿@{
    int sl = Convert.ToInt32(TempData["trSl"]);
}
<tr id="tr_@sl">

    @*<td id="ts_@sl">@sl</td>*@
    <td>
        <select class="form-control select2" id="glId_@sl" style="width: 320px" onchange="GetGLDetails(@sl)"></select>
    </td>
    @*<td>
        <input type="text" class="form-control"  id="glName_@sl" />
    </td>*@

    <td>
        <select class="form-control select2" id="costCenter_@sl" style="width: 180px"></select>
    </td>
    @*<td>
        <select class="form-control select2" id="referenceType_@sl" style="width: 120px" onchange="GetReferenceNo(@sl)"></select>
    </td>*@
    <td>
        <select class="form-control select2" id="referenceNo_@sl" style="width: 300px" ></select>
        @*onchange="GetAllPurchaseOrder(@sl)*@
    </td>

    @*<td id="tdPurchaseOrder">
        <select class="form-control select2" id="PurchaseOrder_@sl" style="width: 150px"></select>
    </td>*@

    <td>
        <input type="number" class="form-control" id="amount_@sl" oninput="CalculateAll()" onkeyup="PaymentValue()" style="width: 100px"/>
    </td>
    <td>
        <input type="text" class="form-control" id="remarks_@sl" />
    </td>

    <td class="actionHide">
        <div class="form-group">
            <button class="btn btn-xs btn-success " id="btnAdd_@sl" onclick="AddRow()"><b >+</b></button>
            <button class="btn btn-xs btn-danger" id="btnRemove_@sl" onclick="RemoveRow(@sl)"><b ></b>x</button>
            <input type="number" value="0" style="display: none" id="details_@sl"   />
            <input type="number" value="0" style="display: none" id="details_transaction_@sl" />
            <input type="text" style="display: none" id="DrCr_@sl" value="Dr" />
            <input type="number" style="display: none" id="SevenLayerCr_@sl"/>
            <input type="number" style="display: none" id="isReferance_@sl" />
            @*<input type="number"  style="display: none" id="groupid_@sl" />
    <input type="number" value="0" style="display: none" id="haschallan_@sl" />
    <input type="number" value="0" style="display: none"  id="picking_@sl" />
   
    <input type="number" style="display: none" id="mtretention_@sl" />
    <input type="number" style="display: none" id="perKgStdQty_@sl" />
    <input type="number" style="display: none" id="incentive_@sl" />*@
        </div>
    </td>
</tr>
