﻿
@using CrystalDecisions.ReportAppServer.ReportDefModel
@model IEnumerable<IGFoodProject.Models.Accounts.VoucherMasterView>

@{
    ViewBag.Title = "Debit/Payment Voucher Approval List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #manuallist {
        padding: 10px;
    }

    .form-control {
        height: calc(1.7rem + 2px);
    }
</style>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">

                        <div class="row">

                            <div class="col-md-6">
                                <h3>Debit/Payment Voucher Approval List</h3>
                            </div>
                            <div class="col-md-6 text-right ">
                                @*<a class="btn btn-outline-warning" href="@Url.Action("Create", "DebitVoucher", new {id = 0})">

                                    <span class="fa fa-plus"></span> Go To New Debit/Payment Voucher Entry

                                </a>*@
                            </div>

                        </div>



                    </div>
                    <div class="row">
                        <div class="card-body">
                            <div class="col-md-3">
                                <div class="form-group" id="divCompany">
                                    <label for="ddlCompany">Company</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlCompany" onchange="LoadBusinessUnit()"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divBusinessUnit">
                                    <label for="ddlBusinessUnit">Business Unit</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlBusinessUnit"></select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" id="divFromDate">
                                    <label for="">From  Date</label>
                                    <input type="text" id="txtFromDate" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" id="divToDate">
                                    <label for="">To Date</label>
                                    <input type="text" id="txtToDate" class="form-control"/>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" id="divStatusType">
                                    <label for="">Status Type</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlStatusType">
                                        <option value="100">Pending</option>
                                        <option value="1">Approved</option>
                                        <option value="2">Review</option>
                                        <option value="0"> Reject </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <button style="margin-left: 27px;" class="btn btn-primary" onclick="ShowReport()">Search Voucher</button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body">
                                <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Financial Year</th>
                                            <th>Company</th>
                                            <th>BU</th>
                                            <th>Voucher Code</th>
                                            <th colspan="2" class="text-center">Voucher Date</th>
                                            <th>Voucher Type</th>
                                            <th>Currency</th>
                                          
                                            <th>Total Amount</th>
                                            @*<th>Total Amount BDT</th>*@
                                            <th>Cheque No</th>
                                            <th>Cheque Date</th>
                                            <th>Ref No</th>
                                            <th>Ref Date</th>
                                            <th>Bank</th>
                                            <th>Branch</th>
                                            <th>Status</th>
                                            <th>Review Reason</th>
                                            <th colspan="2">Action</th>

                                        </tr>
                                    </thead>
                                    <tbody id="manuallist">
                                        @{ int count = 1;}
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@count</td>
                                                <td>@item.FinancialYear</td>
                                                <td>@item.Company</td>
                                                <td>@item.BusinessUnit</td>
                                                <td>@item.VoucherCode</td>
                                                <td>@Convert.ToDateTime(item.VoucherDate).ToString("dd-MMM-yyyy")</td>
                                                <td>@item.EntryDate.ToString("h:mm:ss tt")</td>
                                                <td>@item.VoucherType</td>
                                                <td>@item.Currency</td>
                                                <td>@item.TotalAmount.ToString("##,###,0.00")</td>
                                                @*<td>@item.TotalAmountBDT.ToString("##,###,0.00")</td>*@
                                                <td>@item.ChequeNo</td>
                                                <td> @if (item.ChequeDate != null)
                                                {
                                                    @Convert.ToDateTime(item.ChequeDate).ToString("dd-MMM-yyyy")
                                                }
                                                </td>
                                                <td>@item.RefNo</td>
                                                <td>
                                                    @if (item.RefDate != null)
                                                    {
                                                        @Convert.ToDateTime(item.RefDate).ToString("dd-MMM-yyyy")
                                                    }
                                              
                                                </td>
                                                <td>@item.Bank</td>
                                                <td>@item.Branch</td>
                                              
                                                @if (@item.IsApprove == 100)
                                                {
                                                    <td style='text-align: center;color: orange'>Pending</td>
                                                    <td>@item.ReviewReasion</td>
                                                    <td style='text-align:center'><a class='btn btn-sm btn-warning' onclick='GoToDo(@item.VoucherMasterId)'>Approve</a></td>
                                                }
                                                @if (@item.IsApprove == 2)
                                                {
                                                    <td style='text-align: center;color: orange'>Review</td>
                                                    <td>@item.ReviewReasion</td>
                                                    <td></td>
                                                   // <td style='text-align:center'><a class='btn btn-sm btn-warning' onclick='GoToDo(@item.VoucherMasterId)'>Approve</a></td>
                                                }
                                                @if (@item.IsApprove == 1)
                                                {
                                                
                                                <td style='text-align: center;color: green'>Approved</td>
                                                <td>@item.ReviewReasion</td>
                                                <td style='text-align:center'></td>
                                                }
                                                @if (@item.IsApprove == 0)
                                                {

                                                    <td style='text-align: center;color: red'>Reject</td>
                                                    <td>@item.ReviewReasion</td>
                                                    <td style='text-align:center'></td>
                                                }
                                            </tr>
                                            count++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <input id="fdate" type="datetime" style="display: none;" value="@ViewBag.fromdate">
                        <input id="tdate" type="datetime" style="display: none;" value="@ViewBag.todate">

                    </div>


                </div>

            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->

</section>

<div class="modal fadeInUp" id="viewModal" role="dialog">
    <div class="modal-dialog modal-lg" style="max-width: 100% !important">
        <div class="modal-content">
            <div class="modal-header">

            </div>
            <div class="modal-body" id="containerDetails">

            </div>
            <div class="modal-footer">
                <input type="text" style="display:none;" id="eid" />
                <button type="button" class="btn btn-danger" id="clsButton" data-dismiss="modal">Close</button><button type="button" class="btn btn-primary" id="clsEdit" onclick="GoToDo($('#eid').val())">Edit</button>
            </div>
        </div>
    </div>
</div>



@section Scripts
{
    <script type="text/javascript">


        $(document).ready(function() {
          //  LoadDate_P('#txtFromDate');
           // LoadDate_C('#txtToDate');

       $("#txtFromDate").datepicker({ format: "dd-M-yyyy", autoclose: true, 'forceParse': 0});
            $("#txtFromDate").datepicker('setDate', new Date());
            $("#txtToDate").datepicker({ format: "dd-M-yyyy", autoclose: true, 'startDate': new Date(), 'setDate': new Date(), 'forceParse': 0});
            $("#txtToDate").datepicker('setDate', new Date());

          var fromdate=  new Date('@ViewBag.fromdate').toLocaleDateString('en-US');
          var todate=  new Date('@ViewBag.todate').toLocaleDateString('en-US');
           // $("#txtFromDate").val(fromdate);
           // $("#txtToDate").val(todate);

            var fdate = $('#fdate').val();
            if (fdate != null && fdate != '') {
                var d = new Date(fdate);
                var monthNames = d.getMonth() + 1; // 10 (PS: +1 since Month is 0-based)
                var dayData = d.getDate(); // 30
                var yy = d.getFullYear();
                var rDate = dayData + "-" + monthNames + "-" + yy;
                $('#txtFromDate').datepicker('setDate', rDate);
            }

            var tdate = $('#tdate').val();
            if (tdate != null && tdate != '') {
                var d2 = new Date(tdate);
                var monthNames2 = d2.getMonth() + 1; // 10 (PS: +1 since Month is 0-based)
                var dayData2 = d2.getDate(); // 30
                var yy2 = d2.getFullYear();
                var rDate2 = dayData2 + "-" + monthNames2 + "-" + yy2;
                $('#txtToDate').datepicker('setDate', rDate2);
            }

            @*$('#txtFromDate').val(@fdate);
            $('#txtToDate').val(@tdate);*@

            //var fdate= $('#fdate').val();
            //if (fdate != null && fdate != '') {
            //    var f = ToJavaScriptDate(fdate);
            //    $('#txtFromDate').val(f);
            //}
            //var tdate = $('#tdate').val();
            //if (tdate != null && tdate != '') {
            //    var t = ToJavaScriptDate(tdate);
            //    $('#txtToDate').val(t);
            //}

            @*$('#txtToDate').val(@tdate);*@
            @*if (@fdate != null) {
                $('#txtFromDate').val(ToJavaScriptDate(@fdate));
            }
            if (@tdate != null) {
                $('#txtToDate').val(ToJavaScriptDate(@tdate));
            }*@

            LoadCompany('ddlCompany');
            $("#ddlCompany").val("7");
            LoadBusinessUnit();
            $("#ddlBusinessUnit").val("1");
        });

        function LoadBusinessUnit() {
            var companyId = $("#ddlCompany").val();
            $.ajax({
                url: "/Utility/LoadBusinessUnit",
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",
                data: { companyId: companyId },
                async: false,
                success: function(data) {

                    $('#ddlBusinessUnit').empty();
                    $('#ddlBusinessUnit').append("<option value='0'>--Select Business Unit--</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#ddlBusinessUnit').append($("<option></option>").val(data[i].BUId).html(data[i].Name));
                    }
                }
            });
        }


        function ShowReport() {
            debugger;
            var fromdate;
            var todate;
            var companyId = '0';
            var buId = '0';
          var statusType = $('#ddlStatusType').val();

            if ($('#txtFromDate').val() == "") {
                swal("Please input from order date");
                return;
            } else {
                fromdate = $('#txtFromDate').val();
            }
            if ($('#txtToDate').val() == "") {
                swal("Please input to order date");
                return;
            } else {
                todate = $('#txtToDate').val();
            }

            if ($('#ddlCompany').val() == "0") {
                companyId = '0';
            } else {
                companyId = $('#ddlCompany').val();
            }
            if ($('#ddlBusinessUnit').val() == "0") {
                buId = '0';
            } else {
                buId = $('#ddlBusinessUnit').val();
            }

            var urlpath = '@Url.Action("DebitVoucherApprovalListData", "DebitVoucher")';
            $.ajax({
                url: urlpath,
                dataType: 'html',
                type: "Get",
                data: { fromdate: fromdate, todate: todate, CompanyId: companyId, BUId: buId , statusType: statusType },
                async: false,
                success: function(data) {

                    data = JSON.parse(data);
                    $("#manuallist").html("");
                    if (data.length > 0) {


                        var row = "";
                        var count = 1;
                        $("#manuallist").html("");

                        var count = 1;
                        for (var i = 0; i < data.length; i++) {


                            row += "<tr>";
                            row += "<td style='text-align:center'>" + count + "</td>";
                            row += "<td style='text-align:center'>" + data[i].FinancialYear + "</td>";
                            row += "<td style='text-align:center'>" + data[i].Company + "</td>";
                            row += "<td style='text-align:center'>" + data[i].BusinessUnit + "</td>";
                            row += "<td style='text-align:center'>" + data[i].VoucherCode + "</td>";
                            //row += "<td style='text-align:center'>" + data[i].VoucherDate + "</td>";

                            row += "<td style='text-align:center'>" + ToJavaScriptDate(data[i].VoucherDate) + "</td>";
                            row += "<td style='text-align:center'>" + moment((data[i].EntryDate)).format('LTS') + "</td>";
                            row += "<td style='text-align:center'>" + data[i].VoucherType + "</td>";
                            row += "<td style='text-align:center'>" + data[i].Currency + "</td>";
                            row += "<td style='text-align:right'>" + data[i].TotalAmountBDT + "</td>";
                            row += "<td style='text-align:right'>" + data[i].ChequeNo + "</td>";
                            if (data[i].ChequeDate == null) {
                                row += "<td style='text-align:center'></td>";
                            } else {
                                row += "<td style='text-align:center'>" + ToJavaScriptDate(data[i].ChequeDate) + "</td>";
                            }


                            row += "<td style='text-align:right'>" + data[i].RefNo + "</td>";
                            if (data[i].RefDate == null) {
                                row += "<td style='text-align:center'></td>";
                            } else {
                                row += "<td style='text-align:center'>" + ToJavaScriptDate(data[i].RefDate) + "</td>";
                            }

                            row += "<td style='text-align:right'>" + data[i].Bank + "</td>";
                            row += "<td style='text-align:right'>" + data[i].Branch + "</td>";

                            if (data[i].IsApprove == 100) {
                                row += "<td style='text-align:center;color:orange'>Pending</td>";
                                row += "<td style='text-align:center'>" + data[i].ReviewReasion + "</td>";
                             row += "<td style='text-align:center'><a class='btn btn-sm btn-warning' type='button' onclick='GoToDo(" + data[i].VoucherMasterId + ")'>Approve</a></td>";

                            }
                             if (data[i].IsApprove == 2) {
                                row += "<td style='text-align:center;color:orange'>Review</td>";
                                row += "<td style='text-align:center'>" + data[i].ReviewReasion + "</td>";
                                row += "<td style='text-align:center'></td>";
                             // row += "<td style='text-align:center'><a class='btn btn-sm btn-warning' type='button' onclick='GoToDo(" + data[i].VoucherMasterId + ")'>Approve</a></td>";
                            }
                             if (data[i].IsApprove == 1)
                            {
                                row += "<td style='text-align:center;color:Green'>Approved</td>";
                                row += "<td style='text-align:center'>" + data[i].ReviewReasion + "</td>";
                                row += "<td style='text-align:center'></td>";
                            }
                             if (data[i].IsApprove == 0)
                            {
                                row += "<td style='text-align:center;color:red'>Reject</td>";
                                row += "<td style='text-align:center'>" + data[i].ReviewReasion + "</td>";
                                row += "<td style='text-align:center'></td>";
                            }
                            row += "</tr>";
                            count = count + 1;

                        }
                        $("#manuallist").html(row);
                    }
                }
            });
        }

        var app = "ap";

        function GoToDo(soId) {
         var fdate = $('#txtFromDate').val();
            var tdate = $('#txtToDate').val();
          //  window.location = "@Url.Action("Create", "DebitVoucher")" + "?VoucherId=" + soId + "&eflag=" + app;
          window.location = "@Url.Action("Create", "DebitVoucher")" + "?VoucherId=" + soId + "&eflag=" + app + "&fromdate=" + fdate + "&todate=" + tdate;
        }


        function SoDelete(soId) {

            swal({
                title: "Are you sure?",
                text: "",
                type: "success",
                showCancelButton: true,
                cancelButtonClass: 'btn-secondary waves-effect',
                confirmButtonClass: 'btn-success waves-effect waves-light',
                confirmButtonText: 'Yes!',
                closeOnConfirm: false

            }, function() {
                $('.confirm').prop("disabled", true);
                $('.cancel').prop("disabled", true);

                var urlpath = '@Url.Action("SODelete", "SalesOrderProcess")';
                $.ajax({
                    url: urlpath,
                    data: { soId: soId },
                    dataType: 'json',
                    type: "Get",

                    async: false,
                    success: function(data) {

                        if (data.isSuccess) {
                            window.location.href = '@Url.Action("SalesOrderList", "SalesOrderProcess")';
                        }
                    }
                });

            });

        }


        function ShowData(id) {
            $('#viewModal').modal();


            ViewOrder(id);
            $("#eid").val(id);
            LoadCompany('ddlCompany');
            //LoadCustomer('ddlCustomer');
            LoadCustomerType('ddlCustomerType');
            GetOrderMaster(id);
        }

        function LoadCustomerType(elementId) {

            var urlpath = '@Url.Action("GetCustomerType", "SalesOrderFurtherProcess")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",

                async: false,
                success: function(data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Customer Type --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].CustomerTypeID).html(data[i].CoustomerTypeName));
                    }
                }
            });
        }

        function LoadSr(elementId, customerId) {
            var urlpath = '@Url.Action("GetSRByCustomerId", "SalesRepresentative")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { customerid: customerId },
                async: false,
                success: function(data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select DSR --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].SrId).html(data[i].SrName + ":" + data[i].SrMobileNumber));
                    }
                }
            });
        }

        function ViewOrder(id) {
            var urlpath = '@Url.Action("ViewOrder", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'html',
                data: { id: id },
                type: "Get",

                async: false,
                success: function(data) {

                    $('#containerDetails').html(data);

                }
            });
        }


        function LoadReportFinal(id) {
            var urlpath = '@Url.Action("VoucherPrintReports", "Report")';


            var reportValue = "VoucherPrint";

            var voucherMasterId = id;

            //  alert( id);

            var jsonData = {};


            jsonData["ReportValue"] = reportValue;
            jsonData["VoucherMasterId"] = voucherMasterId;


            debugger;
            $.ajax({
                url: urlpath,
                data: jsonData,
                dataType: 'json',
                type: "Get",
                success: function(data) {
                    if (data.isSuccess) {


                        //OpenPopUp('BasicReportViewer.aspx');
                        window.open("../CrystalViewer/CrystalViewer.aspx", "_blank", "WIDTH=1024,HEIGHT=768,scrollbars=no, menubar=no,resizable=yes,directories=no,location=no");
                    }
                }
            });
        }
    </script>



    <script>
        var PrlductList = {};


        function ApproveOrder(status) {

            swal({
                title: "Are you sure?",
                text: "",
                type: "success",
                showCancelButton: true,
                cancelButtonClass: 'btn-secondary waves-effect',
                confirmButtonClass: 'btn-success waves-effect waves-light',
                confirmButtonText: 'Yes!',
                closeOnConfirm: false

            }, function() {
                $('.confirm').prop("disabled", true);
                $('.cancel').prop("disabled", true);
                var id = $('#mSalesOrderId').val();
                var urlpath = '@Url.Action("ApproveSalesProcesed", "SalesOrderProcess")';
                $.ajax({
                    url: urlpath,
                    data: { id: id, status: status },
                    dataType: 'json',
                    type: "Get",

                    async: false,
                    success: function(data) {
                        if (data.isSuccess) {
                            window.location.href = '@Url.Action("SalesOrderList", "SalesOrderProcess")';
                        }
                    }
                });

            });

        }

        function LoadPaymentType(elementId) {

            var urlpath = '@Url.Action("GetPaymentType", "Utility")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",

                async: false,
                success: function(data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Payment --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].PaymentTypeId).html(data[i].PaymentType));
                    }
                }
            });
        }

        function GetOrderMaster(id) {

            var urlpath = '@Url.Action("GetSalesOrderMaster", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { id: id },
                async: false,
                success: function(data) {

                    LoadCustomerType('ddlCustomerType');
                    $("#ddlCustomerType").val(data.CustomerTypeId).trigger('change');
                    LoadCustomer('ddlCustomer');
                    $("#ddlCustomer").val(data.CustomerId).trigger('change');
                    LoadDeliveryWarehouse();
                    $("#ddlDeliveryWarehouse").val(data.DeliveryWarehouseId).trigger('change');
                    GetCustomerDetails();
                    $("#sr").removeClass('d-none');
                    if (data.CustomerTypeId == 5) {
                        debugger;
                        LoadSr("ddlSr", $("#ddlCustomer").val());
                        $("#ddlSr").val(data.SrId).trigger('change');
                        $("#ddlSr").show();
                    } else {
                        LoadSr("ddlSr", $("#ddlCustomer").val());
                        $("#ddlSr").val('0').trigger('change');
                        $("#ddlSr").hide();
                    }

                    $("#ddlCompany").val(data.CompanyId).trigger('change');
                    $("#txtSalesPersonNo").val(data.SalesPersonContact);
                    if (data.IsEmployee == true) {
                        $('#chkEmployee').prop('checked', true);
                        $("#txtSalesPerson").val(GetEmployeeName(data.SalesPerson));
                    } else {
                        $('#chkEmployee').prop('checked', false);
                        $("#txtSalesPerson").val(data.SalesPerson);
                    }
                    $('#txtOrderDate').val(ToJavaScriptDate(data.OrderDate));
                    $('#txtDeliveryDate').val(ToJavaScriptDate(data.DeliveryDate));
                    $('#txtDestination').val(data.DeliveryDestination);

                    $("#ddlWareHouse").val(data.WarehouseId).trigger('change');
                    $('#txtRemarks').val(data.Remarks);
                    LoadPaymentType('ddlPamentType');
                    $("#ddlPamentType").val(data.PaymentType).trigger('change');
                    $('#salesOrderNo').html(data.SalesOrderNo);
                    GetProducts();
                    for (var i = 0; i < data.SalesDetails.length; i++) {

                        var tr = $('#salesOrder tbody tr').length + 1;
                        AddRow();
                        $("#pro_" + tr).val(data.SalesDetails[i].ProductId).trigger('change');
                        $('#saleQty_' + tr).val(data.SalesDetails[i].ProductQty);
                        $('#saleKG_' + tr).val(data.SalesDetails[i].ProductKg);
                        $('#disPer_' + tr).val(data.SalesDetails[i].DiscountPercent);
                        $('#disNum_' + tr).val(data.SalesDetails[i].DiscountAmount);
                        $('#saleRate_' + tr).val(data.SalesDetails[i].SaleRate);
                        $('#baseRate_' + tr).val(data.SalesDetails[i].BaseRate);
                        $('#weightLoss_' + tr).val((data.SalesDetails[i].BaseRate - data.SalesDetails[i].SaleRate).toFixed(2));

                        $('#total_' + tr).val(data.SalesDetails[i].TotalPrice + data.SalesDetails[i].DiscountAmount - data.SalesDetails[i].ProductTax);
                        $('#totalG_' + tr).val(data.SalesDetails[i].TotalPrice);
                        $('#btotal_' + tr).val(data.SalesDetails[i].BTotalPrice);
                        $('#proTax_' + tr).val(data.SalesDetails[i].ProductTax);
                    }
                    $('#totalKg').html(data.TotatalOrderAmtKg);
                    $('#totalIncTacVat').html(data.TotalIncTaxVat);
                    $('#totalExTaxVat').html(data.TotalExTaxVat);

                    $(":input").prop("disabled", true);

                    $(".appButton").prop("disabled", true);
                    $(".appButton").hide();
                    $('.actionHide').hide();
                    $('.action').hide();
                    $("#clsButton").prop("disabled", false);
                    $(".showBtn").prop("disabled", false);
                    if (data.IsApprove == 1 || data.IsApprove == 2) {
                        $("#clsEdit").prop("disabled", true);
                    } else {
                        $("#clsEdit").prop("disabled", false);
                    }
                }
            });
        }


        function GetEmployeeName(empId) {
            var EmpName = "";
            var urlpath = '@Url.Action("GetEmployeeName", "Utility")';
            $.ajax({
                url: urlpath,
                data: { empId: empId },
                dataType: 'json',
                type: "Get",

                async: false,
                success: function(data) {
                    EmpName = data;

                }
            });
            return EmpName;
        }

        function GetProductDetails(prodId) {


            var productId = $('#pro_' + prodId).val();
            var wareHouseId = $('#ddlWareHouse').val();
            var urlpath = '@Url.Action("GetProductDetails", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'json',
                data: { productId: productId, wareHouseId: wareHouseId },
                async: false,
                success: function(data) {

                    $("#cat_" + prodId).val(data.CategoryName);
                    $("#stQty_" + prodId).val(data.StockQty);
                    $("#stKg_" + prodId).val(data.StockKg);
                    $("#stRate_" + prodId).val(data.StockPrice.toFixed(2));
                    var salePrice = GetSalePrice(productId, data.StockPrice);

                    $('#saleRate_' + prodId).val(salePrice);

                }
            });
        }

        function GetSalePrice(productId, price) {
            var theprice = 0;
            var urlpath = '@Url.Action("GetProcessedSalePrice", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'json',
                data: { productId: productId, price: price },
                async: false,
                success: function(data) {

                    theprice = data;


                }
            });

            return theprice;
        }

        function AddRow() {

            var tr = $('#salesOrder tbody tr').length + 1;
            var urlpath = '@Url.Action("AddRowForOrder", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'html',
                data: { tr: tr },
                async: false,
                success: function(data) {

                    $('#salesOrder tbody').append(data);

                    LoadProductInTable("pro_" + tr);

                }
            });
            //CalculateAll();
            //  $('#pro_' + tr).select2();
        }

        function CalculateAll() {


            var grandTotal = 0;
            var totalIncTax = 0;
            var totalExTax = 0;
            var totalKg = 0;
            var totalTax = 0;
            var proCout = $('#salesOrder tbody tr').length;
            $('#salesOrder tbody tr').each(function() {


                var idr = $(this).attr('id');
                var id = idr.substring(3);

                var productId = isNaN(parseFloat($('#pro_' + id).val())) ? 0 : parseFloat($('#pro_' + id).val());
                var saleQty = isNaN(parseFloat($('#saleQty_' + id).val())) ? 0 : parseFloat($('#saleQty_' + id).val());
                var stockRate = isNaN(parseFloat($('#stRate_' + id).val())) ? 0 : parseFloat($('#stRate_' + id).val());
                var saleRate = isNaN(parseFloat($('#saleRate' + id).val())) ? 0 : parseFloat($('#saleRate' + id).val());

                var saleKg = isNaN(parseFloat($('#saleKG_' + id).val())) ? 0 : parseFloat($('#saleKG_' + id).val());

                var disPer = isNaN(parseFloat($('#disPer_' + id).val())) ? 0 : parseFloat($('#disPer_' + id).val());
                var disAmt = isNaN(parseFloat($('#disNum_' + id).val())) ? 0 : parseFloat($('#disNum_' + id).val());
                var total = isNaN(parseFloat($('#totalG_' + id).val())) ? 0 : parseFloat($('#totalG_' + id).val());
                grandTotal += total;
                totalKg += saleKg;

            });
            $('#taxVat').html(GetTaxInfo(5, grandTotal));

            var tax = parseFloat($('#taxVat').html());
            var colection = isNaN(parseFloat($('#txtCollection').val())) ? 0 : parseFloat($('#txtCollection').val());

            var taxCal = grandTotal * (tax / 100);

            var proTax = (taxCal / proCout);
            SetItemTax(proTax);
            totalIncTax = grandTotal + taxCal;
            totalExTax = grandTotal;
            $('#totalKg').html(totalKg.toFixed(2));
            $('#totalIncTacVat').html(totalIncTax.toFixed(2));
            $('#totalExTaxVat').html(grandTotal.toFixed(2));

            var restamount = totalIncTax - colection;
            $('#lblRestAmount').html(restamount.toFixed(2));
        }

        function SetItemTax(proTax) {
            $('#salesOrder tbody tr').each(function() {


                var idr = $(this).attr('id');
                var id = idr.substring(3);
                var total = isNaN(parseFloat($('#totalG_' + id).val())) ? 0 : parseFloat($('#totalG_' + id).val());
                $('#proTax_' + id).val(proTax.toFixed(2));

                $('#totalG_' + id).val((total + proTax).toFixed(2));

            });
        }

        function LoadProductInTable(elementId) {

            $('#' + elementId + '').append("<option value='0'>--Select Product--</option>");

            for (var i = 0; i < PrlductList.length; i++) {

                $('#' + elementId + '').append($("<option></option>").val(PrlductList[i].ProductId).html(PrlductList[i].ProductNo + ":" + PrlductList[i].ProductName));
            }

        }

        function GetProducts() {


            var urlpath = '@Url.Action("GetProductByGroup", "Utility")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { groupId: 5 },
                async: false,
                success: function(data) {

                    PrlductList = data;

                }
            });
        }

        function GetCustomerDetails() {


            var customerId = $('#ddlCustomer').val();

            var urlpath = '@Url.Action("GetCustomerDetails", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'html',
                type: "Get",
                data: { id: customerId },
                async: false,
                success: function(data) {
                    $('#customerDetails').empty();
                    $('#customerDetails').html(data);

                }
            });


            LoadDate('#txtOrderDate');

            $('#txtDestination').val($('#customerAddress').html());

        }

        function LoadWareHouse(elementId) {

            var location = $('#ddlLocation').val();
            var urlpath = '@Url.Action("LoadWareHouse", "ItemRequisition")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { location: parseInt(location) },
                async: false,
                success: function(data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Warehouse--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].WareHouseId).html(data[i].WareHouseName));
                    }

                }
            });
        }

        @*function GetLocationId(warehouse) {

            var locationId = 0;
            var urlpath = '@Url.Action("GetLocationIdByWarehouse", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: {id:warehouse},
                async: false,
                success: function (data) {

                    locationId = data;
                }
            });
            return locationId;
        }*@


        function LoadCustomer(elementId) {
            var typeid = $('#ddlCustomerType').val();
            var urlpath = '@Url.Action("GetCustomer", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { typeid: typeid },
                async: false,
                success: function(data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Customer --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].CustomerID).html(data[i].CustomerCode + ":" + data[i].CustomerName));
                    }
                }
            });
        }

        function LoadCustomer_Search(elementId) {
            var typeid = 0;
            var urlpath = '@Url.Action("GetCustomer", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { typeid: typeid },
                async: false,
                success: function(data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Customer --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].CustomerID).html(data[i].CustomerCode + ":" + data[i].CustomerName + ": " + data[i].CoustomerTypeName));
                    }
                }
            });
        }


        function LoadDeliveryWarehouseSearch() {
            //var typeid = $('#ddlWarehouseType').val();
            var warehouseTypeid = 3;
            var urlpath = '@Url.Action("GetDeliveryWarehouse", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { warehouseTypeid: warehouseTypeid },
                async: false,
                success: function(data) {

                    $('#ddlDeliveryWarehouseSearch').empty();
                    $('#ddlDeliveryWarehouseSearch').append("<option value='0'>--Select Delivery Warehouse --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#ddlDeliveryWarehouseSearch').append($("<option></option>").val(data[i].WareHouseId).html(data[i].WareHouseName));
                    }
                }
            });
        }

        function LoadDeliveryWarehouse() {
            //var typeid = $('#ddlWarehouseType').val();
            var warehouseTypeid = 3;
            var urlpath = '@Url.Action("GetDeliveryWarehouse", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { warehouseTypeid: warehouseTypeid },
                async: false,
                success: function(data) {

                    $('#ddlDeliveryWarehouse').empty();
                    //$('#ddlDeliveryWarehouse').append("<option value='0'>--Select Delivery Warehouse --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#ddlDeliveryWarehouse').append($("<option></option>").val(data[i].WareHouseId).html(data[i].WareHouseName));
                    }
                }
            });
        }
    </script>
}
