﻿
@using System.Data
@model System.Data.DataTable
@{
    int count = 1;
}
<table id="SupplierLedgerTable" border="1" class="table dataTable table-bordered table-striped table-hover">
    <thead>
        <tr style="background-color: aliceblue">
            <th style="text-align: center">SL</th>
            <th style="text-align: center">Code</th>
            <th style="text-align: center">Product Name</th>
            <th style="text-align: center">Lot Number</th>
            <th style="text-align: center">Stock In KG </th>
            <th style="text-align: center">Stock In QTY</th>
            <th style="text-align: center">Current stock In KG(Report Date)</th>
            <th style="text-align: center">Current stock In Qty(Report Date)</th>
            <th style="text-align: center">Manufacturer Date</th>
            <th style="text-align: center">Received Date</th>
            <th style="text-align: center">Exp Date</th>
            <th style="text-align: center">Remaining days of expiry From report date</th>
            <th style="text-align: center">Shelf Life after Receiving date</th>
            <th style="text-align: center">Days Idle in WareHouse</th>
            <th style="text-align: center">Product Life Times (Days fixed)</th>
        </tr>
    </thead>
    <tbody class="Traylist">
        @foreach (DataRow row in Model.Rows)
        {

            <tr>
                <td>@count</td>
                <td style="text-align: center">@row.ItemArray[0]</td>
                <td style="text-align: center">@row.ItemArray[1]</td>
                <td style="text-align: center">@row.ItemArray[2]</td>
                <td style="text-align: center">@row.ItemArray[3]</td>
                
                <td style="text-align: center">@row.ItemArray[4]</td>
                <td style="text-align: center">@row.ItemArray[5]</td>
                <td style="text-align: center">@row.ItemArray[6]</td>
                <td style="text-align: center">@row.ItemArray[7]</td>
                <td style="text-align: center">@row.ItemArray[8]</td>
                <td style="text-align: center">@row.ItemArray[9]</td>
                <td style="text-align: center">@row.ItemArray[10]</td>
                <td style="text-align: center">@row.ItemArray[11]</td>
                <td style="text-align: center">@row.ItemArray[12]</td>
                <td style="text-align: center">@row.ItemArray[13]</td>
                   

            </tr>
            count++;
        }
    </tbody>
    <tfoot>

    </tfoot>
</table>

