﻿@model IEnumerable<IGFoodProject.ViewModel.ViewGeneratedChallan>
<div class="col-md-offset-1  col-md-4">
    <button class='btn btn-info' type='button' onclick="PrintMultipleChallan()">Print Multiple Challan</button>&nbsp;
</div>
<table id="table1" class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th><input type='checkbox' class='iradio_minimal-blue' id='checkAll' onclick='SelectAllCheckboxFunc()'/></th>
            <th>Challan No.</th>
            <th>Customer Name</th>
            <th>Destination</th>
            <th>Order Date</th>
            <th>Challan Date</th>
            <th>Total Amount</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{ int count = 1;}
        @foreach (var item in Model)
        {
            <tr class="rowTr" id="@item.SalesOrderChallanMasterId">
                <td><input type='checkbox' class='iradio_minimal-blue checkp' id='check_@count' onclick='Checkp(@count)' /></td>
                <td>@item.SalesOrderChallanNo</td>
                <td>@item.CustomerName</td>
                <td>@item.DeliveryDestination</td>
                <td>@Convert.ToDateTime(item.OrderDate).ToString("dd-MMM-yyyy")</td>
                <td>@Convert.ToDateTime(item.ChallanDate).ToString("dd-MMM-yyyy")</td>
                <td>@item.ChallanAmount</td>
                <td>
                    <button class="btn btn-sm btn-dark" onclick="PrintChallan(@item.SalesOrderChallanMasterId)">Print</button>
                </td>
            </tr>
            count++;
        }
    </tbody>
</table>
<script>
        function SelectAllCheckboxFunc()
        {
            if ($("#checkAll").is(":checked")) {
                $(".checkp").prop("checked", true);
            } else {
                $(".checkp").prop("checked", false);
            }
        }
        function Checkp(SLNO)
        {
            //uncheck "select all", if one of the listed checkbox item is unchecked
            var checkp = $("#check_" + SLNO).prop("checked");
            if (checkp == false) { //if this item is unchecked
                $("#checkAll").prop('checked', false); //change "select all" checked status to false
            }
            //check "select all" if all checkbox items are checked
            if ($('.checkp:checked').length == $('.checkp').length) {
                $("#checkAll").prop('checked', true);
            }
        }
        function PrintMultipleChallan()
        {
                var DeliveryOrderID = "";
                var stringSoId = "";
                $('#table1 tr.rowTr').each(function (key,value)
                {
                    
                    soId = $(this).prop("id");
                    if ($('#check_' +(parseInt(key)+1)).is(":checked")) {
                        if (stringSoId != '')
                            stringSoId = stringSoId + "," + soId;
                        else {
                            stringSoId = soId;
                        }
                    }
                });
                PrintChallan(stringSoId);
        }
        function PrintChallan(soId)
        {
            var urlpath = '@Url.Action("SalesOrderReports", "Report")';
            var reportValue = "Challan";
            var jsonData = {};
         
                jsonData["ReportValue"] = reportValue;
                jsonData["SalesOrderChallanMasterId"] = soId;
        
            $.ajax({
                url: urlpath,
                data: jsonData,
                dataType: 'json',
                type: "Get",
                success: function (data) {
                    if (data.isSuccess) {
                        //OpenPopUp('BasicReportViewer.aspx');
                        window.open("../CrystalViewer/CrystalViewer.aspx", "_blank", "WIDTH=1024,HEIGHT=768,scrollbars=no, menubar=no,resizable=yes,directories=no,location=no");
                    }
                }
            });
        }
</script>

