﻿@model System.Data.DataTable
@{
    int count = 1;
}


<table id="mytable" border="2" class="table datatable table-bordered table-striped table-responsive">
    <thead style="background-color: darkcyan; color: white">
        <tr>
            <th style="width: 2%; text-align: left">SL</th>
            <th style="text-align: center">Item Name</th>
            @*<th style="text-align: center">Opening Qty</th>
            <th style="text-align: center">Opening Kg</th>*@
            <th style="text-align: center">Stock In Qty</th>
            <th style="text-align: center">Stock In Kg</th>
            <th style="text-align: center">Stock In Amount</th>
            <th style="text-align: center">Stock Out Qty</th>
            <th style="text-align: center">Stock Out Kg</th>
            <th style="text-align: center">Stock Out Amount</th>
            @*<th style="text-align: center">Current Qty</th>
            <th style="text-align: center">Current Kg</th>*@
            <th style="text-align: center">Ware House Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (System.Data.DataRow row in Model.Rows)
        {
        <tr id="tr_@count">
            <td>@count</td>
            <td style="text-align: center">@row.ItemArray[0]</td>
            @*<td style="text-align: center">@row.ItemArray[1]</td>
            <td style="text-align: left">@row.ItemArray[2]</td>*@
            <td style="text-align: left">@row.ItemArray[3]</td>
            <td style="text-align: left">@row.ItemArray[4]</td>
            <td style="text-align: left">@Math.Round(@Convert.ToDouble(@row.ItemArray[11]), 2, MidpointRounding.AwayFromZero)</td>
            <td style="text-align: left">@row.ItemArray[5]</td>
            <td style="text-align: left">@row.ItemArray[6]</td>
            <td style="text-align: left">@Math.Round(@Convert.ToDouble(@row.ItemArray[12]), 2, MidpointRounding.AwayFromZero)</td>
            @*<td style="text-align: left">@row.ItemArray[7]</td>
            <td style="text-align: left">@row.ItemArray[8]</td>*@
            <td style="text-align: left">@row.ItemArray[9]</td>
        </tr>
            count++;

        }


    </tbody>

</table>
