﻿

@using System.Data
@model  IEnumerable<IGFoodProject.ViewModel.ViewVatChallan>
@{
    int count = 1;
}
<table id="SupplierLedgerTable" border="1" class="table dataTable table-bordered table-striped table-hover">
    <thead>
        <tr style="background-color: aliceblue">
            <th style="text-align: center">SL</th>
            <th style="text-align: center">Product Name</th>
            <th style="text-align: center">Qty</th>
            <th style="text-align: center">Rate</th>
            @*<th style="text-align: center">KG</th>*@
            <th style="text-align: center">Value</th>
            <th style="text-align: center">Vat</th>
            <th style="text-align: center">Value With Vat</th>
        </tr>


    </thead>
    <tbody class="Traylist">
        @foreach (var item in Model)
        {

            <tr>
                <td style="text-align: center">@count</td>
                <td style="text-align: center; background-color: #ECECEC;">@item.ProductName</td>
                <td style="text-align: center">@item.Qty.ToString("##,###,0.00")</td>
                <td style="text-align: center">@item.UnitPrice.ToString("##,###,0.00")</td>
            
            @*<td style="text-align: left">@item.KG.ToString("##,###,0.00")</td>*@
            <td style="text-align: center">@item.TotalAmount.ToString("##,###,0.00")</td>
            <td style="text-align: center">@item.VatAmount.ToString("##,###,0.00")</td>
            <td style="text-align: center">@item.TotalAmountWithVat.ToString("##,###,0.00")</td>
        </tr>
            count++;
        }
    </tbody>
    <tfoot>
        <tr>
            <th colspan="2" style="text-align: center">Total</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => Convert.ToDecimal(DBNull.Value.Equals(x.Qty) ? 0 : x.Qty)).ToString("##,###,0.00")</th>
            @*<th style="text-align: center">@Model.AsEnumerable().Sum(x => Convert.ToDecimal(DBNull.Value.Equals(x.KG) ? 0 : x.KG)).ToString("##,###,0.00")</th>*@
            <th style="text-align: center"></th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => Convert.ToDecimal(DBNull.Value.Equals(x.TotalAmount) ? 0 : x.TotalAmount)).ToString("##,###,0.00")</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => Convert.ToDecimal(DBNull.Value.Equals(x.VatAmount) ? 0 : x.VatAmount)).ToString("##,###,0.00")</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => Convert.ToDecimal(DBNull.Value.Equals(x.TotalAmountWithVat) ? 0 : x.TotalAmountWithVat)).ToString("##,###,0.00")</th>
        </tr>
    </tfoot>

</table>
