﻿@using System.Data
@model System.Data.DataTable

@{ int count = 1;}
<table id="SupplierLedgerTable" border="1" class="table dataTable table-bordered table-striped table-hover table-responsive">
        <thead>
            <tr style="background-color: aliceblue">
                <th rowspan="2" style="text-align: center">SL</th>
                <th colspan="2" style="text-align: center">Particulars</th>
                <th colspan="5" style="text-align: center">January</th>
                <th colspan="5" style="text-align: center">February</th>
                <th colspan="5" style="text-align: center">March</th>
                <th colspan="5" style="text-align: center">April</th>
                <th colspan="5" style="text-align: center">May</th>
                <th colspan="5" style="text-align: center">June</th>
                <th colspan="5" style="text-align: center">July</th>
                <th colspan="5" style="text-align: center">August</th>
                <th colspan="5" style="text-align: center">September</th>
                <th colspan="5" style="text-align: center">October</th>
                <th colspan="5" style="text-align: center">November</th>
                <th colspan="5" style="text-align: center">December</th>
            </tr>
            <tr style="background-color: aliceblue">
                <th style="text-align: center">Product Group</th>
                <th style="text-align: center">Customer Category</th>
                <th style="text-align: center">Qty</th>
                <th style="text-align: center">Kg</th>
                <th style="text-align: center">Tk</th>
                <th style="text-align: center">Rate</th>
                <th style="text-align: center">% of Revenue</th>
                <th style="text-align: center">Qty</th>
                <th style="text-align: center">Kg</th>
                <th style="text-align: center">Tk</th>
                <th style="text-align: center">Rate</th>
                <th style="text-align: center">% of Revenue</th>
                <th style="text-align: center">Qty</th>
                <th style="text-align: center">Kg</th>
                <th style="text-align: center">Tk</th>
                <th style="text-align: center">Rate</th>
                <th style="text-align: center">% of Revenue</th>
                <th style="text-align: center">Qty</th>
                <th style="text-align: center">Kg</th>
                <th style="text-align: center">Tk</th>
                <th style="text-align: center">Rate</th>
                <th style="text-align: center">% of Revenue</th>
                <th style="text-align: center">Qty</th>
                <th style="text-align: center">Kg</th>
                <th style="text-align: center">Tk</th>
                <th style="text-align: center">Rate</th>
                <th style="text-align: center">% of Revenue</th>
                <th style="text-align: center">Qty</th>
                <th style="text-align: center">Kg</th>
                <th style="text-align: center">Tk</th>
                <th style="text-align: center">Rate</th>
                <th style="text-align: center">% of Revenue</th>
                <th style="text-align: center">Qty</th>
                <th style="text-align: center">Kg</th>
                <th style="text-align: center">Tk</th>
                <th style="text-align: center">Rate</th>
                <th style="text-align: center">% of Revenue</th>
                <th style="text-align: center">Qty</th>
                <th style="text-align: center">Kg</th>
                <th style="text-align: center">Tk</th>
                <th style="text-align: center">Rate</th>
                <th style="text-align: center">% of Revenue</th>
                <th style="text-align: center">Qty</th>
                <th style="text-align: center">Kg</th>
                <th style="text-align: center">Tk</th>
                <th style="text-align: center">Rate</th>
                <th style="text-align: center">% of Revenue</th>
                <th style="text-align: center">Qty</th>
                <th style="text-align: center">Kg</th>
                <th style="text-align: center">Tk</th>
                <th style="text-align: center">Rate</th>
                <th style="text-align: center">% of Revenue</th>
                <th style="text-align: center">Qty</th>
                <th style="text-align: center">Kg</th>
                <th style="text-align: center">Tk</th>
                <th style="text-align: center">Rate</th>
                <th style="text-align: center">% of Revenue</th>
                <th style="text-align: center">Qty</th>
                <th style="text-align: center">Kg</th>
                <th style="text-align: center">Tk</th>
                <th style="text-align: center">Rate</th>
                <th style="text-align: center">% of Revenue</th>
            </tr>
        </thead>
        <tbody class="Traylist">
            @foreach (DataRow row in Model.Rows)
            {
                <tr>
                    <td>@count</td>
                    <td style="text-align: center">@row.ItemArray[1]</td>
                    <td style="text-align: center">@row.ItemArray[3]</td>
                    <td style="text-align: center">@row.ItemArray[4]</td>
                    <td style="text-align: center">@row.ItemArray[5]</td>
                    <td style="text-align: center">@row.ItemArray[6]</td>
                    <td style="text-align: center"></td>
                    <td style="text-align: center"></td>
                    <td style="text-align: center">@row.ItemArray[7]</td>
                    <td style="text-align: center">@row.ItemArray[8]</td>
                    <td style="text-align: center">@row.ItemArray[9]</td>
                    <td style="text-align: center"></td>
                    <td style="text-align: center"></td>
                    <td style="text-align: center">@row.ItemArray[10]</td>
                    <td style="text-align: center">@row.ItemArray[11]</td>
                    <td style="text-align: center">@row.ItemArray[12]</td>
                    <td style="text-align: center"></td>
                    <td style="text-align: center"></td>
                    <td style="text-align: center">@row.ItemArray[13]</td>
                    <td style="text-align: center">@row.ItemArray[14]</td>
                    <td style="text-align: center">@row.ItemArray[15]</td>
                    <td style="text-align: center"></td>
                    <td style="text-align: center"></td>
                    <td style="text-align: center">@row.ItemArray[16]</td>
                    <td style="text-align: center">@row.ItemArray[17]</td>
                    <td style="text-align: center">@row.ItemArray[18]</td>
                    <td style="text-align: center"></td>
                    <td style="text-align: center"></td>
                    <td style="text-align: center">@row.ItemArray[19]</td>
                    <td style="text-align: center">@row.ItemArray[20]</td>
                    <td style="text-align: center">@row.ItemArray[21]</td>
                    <td style="text-align: center"></td>
                    <td style="text-align: center"></td>
                    <td style="text-align: center">@row.ItemArray[22]</td>
                    <td style="text-align: center">@row.ItemArray[23]</td>
                    <td style="text-align: center">@row.ItemArray[24]</td>
                    <td style="text-align: center"></td>
                    <td style="text-align: center"></td>
                    <td style="text-align: center">@row.ItemArray[25]</td>
                    <td style="text-align: center">@row.ItemArray[26]</td>
                    <td style="text-align: center">@row.ItemArray[27]</td>
                    <td style="text-align: center"></td>
                    <td style="text-align: center"></td>
                    <td style="text-align: center">@row.ItemArray[28]</td>
                    <td style="text-align: center">@row.ItemArray[29]</td>
                    <td style="text-align: center">@row.ItemArray[30]</td>
                    <td style="text-align: center"></td>
                    <td style="text-align: center"></td>
                    <td style="text-align: center">@row.ItemArray[31]</td>
                    <td style="text-align: center">@row.ItemArray[32]</td>
                    <td style="text-align: center">@row.ItemArray[33]</td>
                    <td style="text-align: center"></td>
                    <td style="text-align: center"></td>
                    <td style="text-align: center">@row.ItemArray[34]</td>
                    <td style="text-align: center">@row.ItemArray[35]</td>
                    <td style="text-align: center">@row.ItemArray[36]</td>
                    <td style="text-align: center"></td>
                    <td style="text-align: center"></td>
                    <td style="text-align: center">@row.ItemArray[37]</td>
                    <td style="text-align: center">@row.ItemArray[38]</td>
                    <td style="text-align: center">@row.ItemArray[39]</td>
                    <td style="text-align: center"></td>
                    <td style="text-align: center"></td>
                </tr>
                count++;
            }
        </tbody>
        @*<tfoot>
            <tr>
                <th colspan="3" style="text-align: center">Total</th>
                <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[2])))</th>
                <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[3])))</th>
                <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[4])))</th>
                <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[5])))</th>
                <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[6])))</th>
                <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[7])))</th>
                <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[8])))</th>
                <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[9])))</th>
                <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[10])))</th>
                <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[11])))</th>
                <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[12])))</th>
                <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[13])))</th>
                <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[14])))</th>
                <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[15])))</th>
                <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[16])))</th>
                <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[17])))</th>
            </tr>
        </tfoot>*@
    </table>
