﻿@using System.Data
@model System.Data.DataTable
@{
    int count = 1;
}
<table id="SupplierLedgerTable" border="1" class="table dataTable table-bordered table-striped table-hover">
    <thead>
        <tr style="background-color: aliceblue">
            <th style="text-align: center">SL</th>
            @*<th style="text-align: center">Date</th>*@
            <th style="text-align: center">Product Name</th>
            <th style="text-align: center">Weight(kg)</th>
            <th style="text-align: center">Quantity</th>
            <th style="text-align: center">Received From</th>
        </tr>
    </thead>
    <tbody class="Traylist">
        @foreach (DataRow row in Model.Rows)
        {

            <tr>
                <td>@count</td>
                @*<td style="text-align: center">@row.ItemArray[0]</td>*@
                <td style="text-align: center">@row.ItemArray[1]</td>
                <td style="text-align: center">@row.ItemArray[3]</td>
                <td style="text-align: center">@row.ItemArray[2]</td>
                <td style="text-align: center">@row.ItemArray[4]</td>

            </tr>
            count++;
        }
    </tbody>
    <tfoot>

    </tfoot>
</table>

