﻿@using System.Data
@model System.Data.DataTable
@{
    int count = 1;
}
<table id="SupplierLedgerTable" border="1" class="table table-bordered table-striped table-hover">
    <thead>
        <tr style="background-color: aliceblue">
            <th class="nowrapC" style="text-align: center">SL</th>
            <th class="nowrapC" style="text-align: center">Product</th>
            <th class="nowrapC" style="text-align: center">F. Warehouse</th>
            <th class="nowrapC" style="text-align: center">T. Warehouse</th>
            <th class="nowrapC" style="text-align: center">Requisition No</th>
            <th class="nowrapC" style="text-align: center">Request By</th>
            <th class="nowrapC" style="text-align: center">Requisition Date</th>
            <th class="nowrapC" style="text-align: center">Requisition Qty</th>
            <th class="nowrapC" style="text-align: center">Requisition Kg</th>
            <th class="nowrapC" style="text-align: center">Picking Status</th>
            <th class="nowrapC" style="text-align: center">Issue No</th>
            <th class="nowrapC" style="text-align: center">Issue Date</th>
            <th class="nowrapC" style="text-align: center">Issue Qty</th>
            <th class="nowrapC" style="text-align: center">Issue Kg</th>
            <th class="nowrapC" style="text-align: center">Receive No</th>
            <th class="nowrapC" style="text-align: center">Receive Date</th>
            <th class="nowrapC" style="text-align: center">Receive Qty</th>
            <th class="nowrapC" style="text-align: center">Receive Kg</th>
            <th class="nowrapC" style="text-align: center">Unit Price</th>
            <th class="nowrapC" style="text-align: center">Total Price</th>


        </tr>
    </thead>
    <tbody class="Traylist">
        @foreach (DataRow row in Model.Rows)
        {

            <tr>
                <td class="nowrapC">@count</td>
                <td class="nowrapC" style="text-align: center">@row.ItemArray[0]</td>
                <td class="nowrapC" style="text-align: center">@row.ItemArray[1]</td>
                <td class="nowrapC" style="text-align: center">@row.ItemArray[2]</td>
                <td class="nowrapC" style="text-align: center">@row.ItemArray[3]</td>
                <td class="nowrapC" style="text-align: center">@row.ItemArray[4]</td>
                <td class="nowrapC" style="text-align: center">@row.ItemArray[5]</td>
                <td class="nowrapC" style="text-align: center">@row.ItemArray[6]</td>
                <td class="nowrapC" style="text-align: center">@row.ItemArray[7]</td>
                <td class="nowrapC" style="text-align: center">@row.ItemArray[8]</td>
                <td class="nowrapC" style="text-align: center">@row.ItemArray[9]</td>
                <td class="nowrapC" style="text-align: center">@row.ItemArray[10]</td>
                <td class="nowrapC" style="text-align: center">@row.ItemArray[11]</td>
                <td class="nowrapC" style="text-align: center">@row.ItemArray[12]</td>
                <td class="nowrapC" style="text-align: center">@row.ItemArray[13]</td>
                <td class="nowrapC" style="text-align: center">@row.ItemArray[14]</td>
                <td class="nowrapC" style="text-align: center">@row.ItemArray[15]</td>
                <td class="nowrapC" style="text-align: center">@row.ItemArray[16]</td>
                <td class="nowrapC" style="text-align: center">@string.Format("{0:N2}", row.ItemArray[17])</td>
                <td class="nowrapC" style="text-align: center">@string.Format("{0:N2}", row.ItemArray[18])</td>

            </tr>
            count++;
        }
    </tbody>
    <tfoot>
    </tfoot>
</table>
