﻿
@using System.Data
@using System.Data.Entity.ModelConfiguration.Configuration
@model System.Data.DataTable
@{
    int count = 1;
}
<table id="SupplierLedgerTable" border="1" class="table table-responsive dataTable table-bordered table-striped table-hover">
    <thead>
    <tr>
        <th colspan="6"></th>
        <th colspan="2">Do Quantity</th>
        <th colspan="2">Delivery Quantity</th>
        <th colspan="2">Undeliverd Quantity</th>
    </tr>
    <tr style="background-color: aliceblue">
        <th style="text-align: center">SL</th>
        <th style="text-align: center">SO No</th>
        <th style="text-align: center">SO Date</th>
        <th style="text-align: center">Delivery Date</th>
        <th style="text-align: center">Party Name</th>
        <th style="text-align: center">Product Name</th>
        <th style="text-align: center">Pcs</th>
        <th style="text-align: center">Kg</th>
        <th style="text-align: center">Pcs</th>
        <th style="text-align: center">Kg</th>
        <th style="text-align: center">Pcs</th>
        <th style="text-align: center">Kg</th>
    </tr>
    </thead>
    <tbody class="Traylist">
        @foreach (DataRow row in Model.Rows)
        {

            <tr>
                @if (Convert.ToInt32(row.ItemArray[1]) == 0)
                {
                    <td>@count</td>
                    <td style="text-align: center">@row.ItemArray[0]</td>
                    <td style="text-align: center">@Convert.ToDateTime(row.ItemArray[2]).ToString("dd MMM yyyy")</td>
                    <td style="text-align: center">@Convert.ToDateTime(row.ItemArray[3]).ToString("dd MMM yyyy")</td>
                    <td style="text-align: center">@row.ItemArray[4]</td>
                    <td style="text-align: center">@row.ItemArray[6]</td>
                    <td style="text-align: center">@row.ItemArray[7]</td>
                    <td style="text-align: center">@row.ItemArray[8]</td>
                    <td style="text-align: center"></td>
                    <td style="text-align: center"></td>
                    <td style="text-align: center"></td>
                    <td style="text-align: center"></td>

                }
                else
                {
                    <td>@count</td>
                    <td style="text-align: center">@row.ItemArray[0]</td>
                    <td style="text-align: center">@Convert.ToDateTime(row.ItemArray[2]).ToString("dd MMM yyyy")</td>
                    <td style="text-align: center">@Convert.ToDateTime(row.ItemArray[3]).ToString("dd MMM yyyy")</td>
                    <td style="text-align: center">@row.ItemArray[4]</td>
                    <td style="text-align: center">@row.ItemArray[6]</td>
                    <td style="text-align: center">@row.ItemArray[7]</td>
                    <td style="text-align: center">@row.ItemArray[8]</td>
                    <td style="text-align: center">@row.ItemArray[9]</td>
                    <td style="text-align: center">@row.ItemArray[10]</td>
                    <td style="text-align: center">@row.ItemArray[11]</td>
                    <td style="text-align: center">@row.ItemArray[12]</td>
                }
            </tr>
            count++;
        }
    </tbody>
    <tfoot>
    @*<tr>
        <th colspan="6">Total</th>
        <th> @Model.Columns.</th>
    </tr>*@
    </tfoot>
</table>


