﻿@using System.Data
@model System.Data.DataTable
@{ int count = 1;}
<table id="productTable" border="1" class="table dataTable table-bordered table-striped table-hover">
    <thead>
        <tr style="background-color: aliceblue">
            <th style="text-align: center">SL</th>
            <th style="text-align: center">Product Name</th>
            <th style="text-align: center">WareHouse</th>
            <th style="text-align: center">StockIn Qty</th>
            <th style="text-align: center">StockIn Kg</th>
            <th style="text-align: center">SO Qty</th>
            <th style="text-align: center">SO Kg</th>
            <th style="text-align: center">Challan Qty</th>
            <th style="text-align: center">Challan Kg</th>
            <th style="text-align: center">Rem. Qty</th>
            <th style="text-align: center">Rem. Kg</th>
        </tr>

    </thead>

    <tbody class="Traylist">
        @foreach (DataRow row in Model.Rows)
        {
            <tr>
                <td>@count</td>
                <td style="text-align: center">@row.ItemArray[1]</td>
                <td style="text-align: center">@row.ItemArray[2]</td>
                <td style="text-align: center">@row.ItemArray[3]</td>
                <td style="text-align: center">@row.ItemArray[4]</td>
                <td style="text-align: center">@row.ItemArray[5]</td>
                <td style="text-align: center">@row.ItemArray[6]</td>
                <td style="text-align: center">@row.ItemArray[8]</td>
                <td style="text-align: center">@row.ItemArray[9]</td>
                <td style="text-align: center">@row.ItemArray[10]</td>
                <td style="text-align: center">@row.ItemArray[11]</td>
            </tr>
            count++;
        }
    </tbody>


</table>
