﻿
@{
    ViewBag.Title = "Breakdown of Revenue";
}



<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title"> Breakdown of Revenue </h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    @*style="height: 335px"*@
                                    <div class="card-header">
                                        <h3 class="card-title">
                                            <i class="fa fa-arrow-down"></i>
                                            Search Criteria
                                        </h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group" id="divFromDate">
                                                    <label for="fromDate">Report Year<span class="text-danger"> *</span></label>
                                                    <input type="text" class="form-control datepicker" style="width: 100%;" id="fromDate"/>
                                                </div>
                                            </div>
                                            <div class="col-md-3" style="margin-top: 18px">
                                                <button type="button" class="btn btn-primary" onclick="LoadReport()">Submit</button>
                                                <button type="button" class="btn btn-primary" onclick="exportExcel()">Export To Excel</button>
                                                <button class="btn btn-outline-danger  float-right" onclick="location.reload()">Cancel</button>
                                            </div>
                                            @*<div class="col-md-3">
                                                <div class="form-group" id="divToDate">
                                                    <label for="toDate">To Date<span class="text-danger"> *</span></label>
                                                    <input type="text" class="form-control datepicker" style="width: 100%;" id="toDate" autocomplete="off"/>
                                                </div>
                                            </div>*@
                                        </div>

                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>

                    </div>
                    @*<div class="card-footer">
                        <button type="button" class="btn btn-primary" onclick="LoadReport()">Submit</button>
                        <button type="button" class="btn btn-primary" onclick="exportExcel()">Export To Excel</button>
                        <button class="btn btn-outline-danger  float-right" onclick="location.reload()">Cancel</button>
                    </div>*@
                </div>
                <!-- /.card -->
                <div class="card divclass" id="salesReportDiv">
                    <div class="card-header with-border">
                        <div id="">
                            <h3 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="companyHeader"></h3>
                            <h4 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="reportHeader"></h4>
                            <div class="row">
                                <div class="col-md-12">

                                    <label class="float-left" id="productName"></label>
                                    <label class="float-right" id="reportDate"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="salesReport">
                    </div>
                </div>

            </div>

        </div>
        <div id="ajaxLoaderDiv" style="position: fixed; top: 40%; left: 45%; z-index: 1234;">
            <img src="@Url.Content("~/AssetStatic/Images/Double Ring.gif")" alt="Loading..." class="ajax-loader" />
        </div>
    </div>
</section>
@section Scripts{
    <script>
        $(function () {
            $('#ajaxLoaderDiv').hide();
            $("#fromDate").datepicker({
                format: "yyyy",
                viewMode: "years",
                minViewMode: "years"
            });
            //LoadVehicle('ddlVehicle');
            //LoadCompany('ddlCompany');
            //$("#ddlCompany").val(7).trigger("change");
            //EmpAutoComSales('txtSalesPerson', 'employeeSelect');


        });

        function EmpAutoComSales(autoElement, noElement) {


            //var UserID = $('#sessionUserInfo').val();
            //$('#' + autoElement + '').val(UserID);
            $('#' + autoElement + '').autocomplete({
                source: "/Utility/GetEmpAutoComAll",
                select: function(event, ui) {
                    // console.log(ui);

                    var a = ui.item.value;
                    $('#' + autoElement + '').val(ui.item.value);

                    var theUser = $('#' + autoElement + '').val();
                    GetEmpNoSales(theUser, noElement);
                    //GetEmployeeDetails();
                    //ShowSalaryDetails();

                }

            });

            $('#' + autoElement + '').autocomplete("widget").addClass("fixedHeightAuto");
            $('#' + autoElement + '').autocomplete("widget").addClass("overLap");

        }

        function GetEmpNoSales(data, element) {

            var a = data;
            var empId = data.substring(0, 5);
            $('#' + element + '').val(empId);
            //alert($('#' + element + '').val());

            //$.ajax({
            //    url: urlpath,
            //    dataType: 'json',
            //    type: "Get",
            //    data: { empId: empId },
            //    async: false,
            //    success: function (data) {

            //        if (data) {
            //            $('#' + element + '').val(data);

            //        } else {
            //            $('#' + element + '').val(0);
            //        }
            //    }
            //});
        }


        function LoadReport() {
            if (RptValidation() == true) {

                var fromDate = $("#fromDate").val();
                //var toDate = $("#toDate").val();
                //var vehicleId = $('#ddlVehicle').val();
                //$("#ddlVehicle option:selected").text();

                debugger;
                var urlpath = '@Url.Action("GetBreakdownofRevenue", "Report")';

                $.ajax({
                    url: urlpath,
                    data: { yearId: fromDate },
                    dataType: 'html',
                    type: "Get",
                    beforeSend: function () {
                        $('#ajaxLoaderDiv').show();
                    },
                    success: function(data) {
                        $("#salesReport").html(data);
                    },
                    complete: function() {


                        $('#companyHeader').html("IG Foods Limited");
                        $('#reportHeader').html("Breakdown of Revenue");

                        //if ($("#ddlVehicle").val() > 0)
                        //{
                        //    $('#reportHeader').html("Vehicle " + $("#ddlVehicle option:selected").text() + " Wise Picking Summary");

                        //} else {
                        //    $('#reportHeader').html("All Vehicle Wise Picking Summary");
                        //}
                       
                        $('#reportDate').html('Revenue Year: ' + $("#fromDate").val());
                        //groupTable($('#SupplierLedgerTable tr:has(td)'), 0, 1);
                        //$('#SupplierLedgerTable .deleted').remove();
                        $('#SupplierLedgerTable').rowspanizer({
                            vertical_align: 'middle',
                            columns: [1]
                        });
                        $('#ajaxLoaderDiv').hide();
                    }
                });
            }
        }


        function exportExcel(e) {
            if ($('#SupplierLedgerTable tbody tr').length == 0) {
                swal("No Data to Export");
            } else {
                var file = new Blob([$('#salesReportDiv').html()], { type: "application/vnd.ms-excel" });
                var url = URL.createObjectURL(file);
                var a = $("<a />", {
                    href: url,
                    download: "BreakdownofRevenue.xls"

                }).appendTo("body").get(0).click();
            }
        }

        function RptValidation() {


            var isValid = true;

            if (($('#fromDate').val() == 0 || $('#fromDate').val() == '' || $('#fromDate').val() == null)) {
                ValidationColorChangeNew('fromDate', 'divFromDate', 'Please Select Year', true);
                isValid = false;
            }
            //if (($('#ddlVehicle').val() == 0 || $('#ddlVehicle').val() == '0')) {
            //    ValidationColorChangeNew('ddlVehicle', 'divVehicle', 'Please Select Vehicle', true);
            //    isValid = false;
            //}
            

            return isValid;
        }

        function groupTable($rows, startIndex, total) {
            if (total === 0) {
                return;
            }
            var i, currentIndex = startIndex, count = 1, lst = [];
            var tds = $rows.find('td:eq(' + currentIndex + ')');
            var ctrl = $(tds[0]);
            lst.push($rows[0]);
            for (i = 1; i <= tds.length; i++) {
                if (ctrl.text() == $(tds[i]).text()) {
                    count++;
                    $(tds[i]).addClass('deleted');
                    lst.push($rows[i]);
                } else {
                    if (count > 1) {
                        ctrl.attr('rowspan', count);
                        groupTable($(lst), startIndex + 1, total - 1)
                    }
                    count = 1;
                    lst = [];
                    ctrl = $(tds[i]);
                    lst.push($rows[i]);
                }
            }
        }
    </script>
}





