﻿
@{
    ViewBag.Title = "ChallanPrint";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">
                        <Div class="row">
                            <div class="col-md-4">
                                <a href="@Url.Action("InvoicePrint", "SalesOrderProcess")">
                                    <h3 class="card-title">
                                        <span class="fa fa-list"></span> Challan List (for print)
                                    </h3>
                                </a>
                            </div>
                        </Div>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="row">

                            <div class="col-md-6">

                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div id="divForFormDate">
                                                <label for="formDate">From Date</label>
                                                <input type="text" class="form-control" id="formDate" autocomplete="false" />
                                            </div>
                                        </div>


                                        <div class="col-md-4">
                                            <div id="divForToDate">
                                                <label for="toDate">To Date</label>
                                                <input type="text" class="form-control" id="toDate" autocomplete="false" />
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-3" style="margin-top: 13px">
                                            <button class="btn btn-info" onclick="ShowData()"> Search <span class="fa fa-search"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="card-body">


                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group" id="divCustomerType">
                                                <label for="ddlCustomerType">Customer Type</label>
                                                <select class="form-control select2" style="width: 100%;" id="ddlCustomerType" onchange="LoadCustomer('ddlCustomer')"></select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group" id="divCustomer">
                                                <label for="ddlCustomer">Customer</label>
                                                <select class="form-control select2" style="width: 100%;" id="ddlCustomer"></select>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="row">

                                        <div class="col-md-6">

                                            <div class="form-group" id="divLocation">
                                                <label for="ddlLocation">Location</label>
                                                <select class="form-control select2" id="ddlLocation" style="width: 100%;" onchange="LoadWHByLocation('ddlWareHouse')"></select>
                                            </div>

                                        </div>
                                        <div class="col-md-6">

                                            <div class="form-group" id="divWareHouse">
                                                <label for="ddlWareHouse">Warehouse</label>
                                                <select id="ddlWareHouse" class="form-control select2" onchange="LoadProductDetails()"></select>
                                            </div>

                                        </div>


                                    </div>
                                </div>

                            </div>

                           





                        </div>
                        <div class="row">
                                <div id="challanList" class="table-responsive">
                                
                            </div>
                        </div>
                        
                    </div>


                </div>

            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
@section Scripts{
    <script>

 $(function() {


     LoadDate('#formDate');
     LoadDate('#toDate');

     LoadCustomerType('ddlCustomerType');
     LoadCustomer('ddlCustomer');
     LoadLocation('ddlLocation', 7);
 });
 function LoadWHByLocation() {

     var loc = $('#ddlLocation').val();
     LoadWareHouse('ddlWareHouse', loc, 3);

    }
        function ShowData() {
            var fromDate = $('#formDate').val();
            var toDate = $('#toDate').val();
            var warehouse = $('#ddlWareHouse').val();
            var location = $('#ddlLocation').val();
            var customer = $('#ddlCustomer').val();
            var customerType = $('#ddlCustomerType').val();
            if (fromDate == '') {
                ValidationColorChangeNew('formDate', 'divForFormDate', 'From Date Required', false);
                return;
            }
            if (toDate == '') {
                ValidationColorChangeNew('toDate', 'divForToDate', 'To Date Required', false);
                return;
            }                   
            var urlpath = '@Url.Action("ChallanListForPrint", "Report")';
            $.ajax({
                url: urlpath,
                dataType: 'HTML',
                type: "GET",
                data: {  fromDate: fromDate ,toDate:toDate , customerType:customerType,customer:customer,location:location,warehouse:warehouse },
                async: false,
                success: function (data)
                {
                    $("#challanList").empty();
                    $("#challanList").html(data);
                }
            });
        }
        function LoadCustomer(elementId) {
            var typeid = $('#ddlCustomerType').val();
            var urlpath = '@Url.Action("GetCustomer", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { typeid: typeid },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Customer --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].CustomerID).html(data[i].CustomerCode + ":" + data[i].CustomerName + ": " + data[i].CoustomerTypeName));
                    }
                }
            });
        }
    </script>



}

