﻿
@{
    ViewBag.Title = "Customer Wise Product Summary";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title"> Customer Wise Product Summary</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card" style="height: 335px">
                                    <div class="card-header">
                                        <h3 class="card-title">
                                            <i class="fa fa-arrow-down"></i>
                                            Search Criteria
                                        </h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group" id="divDelivaryDate">
                                                    <label for="delivaryDate">From Date<span class="text-danger"> *</span></label>
                                                    <input type="text" class="form-control datepicker" style="width: 100%;" id="fromDate" onchange="NextDate()" />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group" id="divToDate">
                                                    <label for="delivaryDate">To Date<span class="text-danger"> *</span></label>
                                                    <input type="text" class="form-control datepicker" style="width: 100%;" id="toDate" />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group" id="divGroup">
                                                    <label for="ddlGroup">Group<span class="text-danger"> *</span></label>
                                                    <select class="form-control select2" style="width: 100%;" id="ddlGroup" onchange=""></select>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group" id="divCustomerType">
                                                    <label for="ddlCustomerType">Customer Type</label>
                                                    <select class="form-control select2" style="width: 100%;" id="ddlCustomerType" onchange="LoadCustomer('ddlCustomer')"></select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group" id="divCustomer">
                                                    <label for="ddlCustomer">Customer</label>
                                                    <select class="form-control select2" style="width: 100%;" id="ddlCustomer"></select>
                                                </div>
                                            </div>
                                            <div class="col-md-4 icheck-primary">
                                                <div class="form-group clearfix" style="margin-top: 15px;" >
                                                    <div class="icheck-success d-inline col-md-2">
                                                        <input type="radio" id="challanRadio" name="reportType" value="1" checked>
                                                        <label for="challanRadio">Challan Wise</label>
                                                    </div>
                                                    <div class="icheck-success d-inline col-md-2">
                                                        <input type="radio" id="deliveryRadio" name="reportType" value="0">
                                                        <label for="deliveryRadio">Delivery Wise</label>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                         
                                        </div>

                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                        <div class="row">

                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary" onclick="LoadReport()">Submit</button>
                        <button type="button" class="btn btn-primary" onclick="exportExcel()">Export To Excel</button>
                        <button class="btn btn-outline-danger  float-right" onclick="location.reload()">Cancel</button>
                    </div>
                </div>
                <!-- /.card -->
                <div class="card divclass" id="salesReportDiv">
                    <div class="card-header with-border">
                        <div id="">
                            <h3 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="companyHeader"></h3>
                            <h4 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="reportHeader"></h4>
                            <div class="row">
                                <div class="col-md-12">

                                    <label class="float-left" id="productName"></label>
                                    <label class="offset-3" id="Warehouse"></label>
                                    <label class="float-right" id="reportDate"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="salesReport">
                        <div class="table-responsive">
                            <table id="SummaryTable" class="table table-bordered table-striped table-hover ">
                                <thead id="hSummary"> </thead>
                                <tbody id="summarybody"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script>
        $(function () {

            LoadGroup();

            LoadCustomerType('ddlCustomerType');

            

        });
        function LoadGroup() {
            var urlpath = '@Url.Action("LoadGroup", "ProductType")';

            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {
                    $('#ddlGroup').empty();
                    $('#ddlGroup').append("<option value='0'>--Select Group--</option>");


                    for (var i = 0; i < data.length; i++) {

                        $("#ddlGroup").append($("<option></option>").val(data[i].GroupId).html(data[i].GroupName));

                    }
                }
            });
        }

        function LoadCustomer(elementId) {
            var typeid = $('#ddlCustomerType').val();
            var urlpath = '@Url.Action("GetCustomer", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { typeid: typeid },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Customer --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].CustomerID).html(data[i].CustomerCode + ":" + data[i].CustomerName + ": " + data[i].CoustomerTypeName));
                    }
                }
            });
        }
        LoadWareH=() => {
            LoadWareHouse('ddlWareHouse', $("#ddlLocation").val(), 3);
        }
        NextDate = () => {
            ;;
            var currentDate = $("#fromDate").val();
            var a = Date.parse(currentDate).addDays(1).toString("dd-MMM-yyyy");
            $("#toDate").val(a);
        }

        function LoadReport() {
            if (RptValidation() == true) {
                var fromDate = $("#fromDate").val();
                var toDate = $("#toDate").val();
                var groupid = parseInt($("#ddlGroup").val());
                var customertype = parseInt($("#ddlCustomerType").val());
                var customer = 0;
                debugger;
                var cus = $('#ddlCustomer').val();
                if (cus != null) {
                    if (cus != '') {
                        customer = parseInt($("#ddlCustomer").val());
                    }
                }
                

                var reportType = 1;
                if ($('#challanRadio').is(':checked')) {
                    reportType = $('#challanRadio').val();
                    $('#reportHeader').html("Customer Wise Group Product Report (Challan wise)");
                }

                if ($('#deliveryRadio').is(':checked')) {
                    reportType = $('#deliveryRadio').val();
                    $('#reportHeader').html("Customer Wise Group Product Report (Delivery wise)");
                }


                var urlpath = '@Url.Action("GetCustomerProductSummary", "Report")';

                $.ajax({
                    url: urlpath,
                    data: { fromDate: fromDate, toDate: toDate, groupid: groupid, customertype: customertype, customer: customer, reportType: reportType },
                    dataType: 'json',
                    type: "Get",
                    success: function (data) {
                        var json = $.parseJSON(data);

                        var lookup = {};
                        var obj = json;
                        var array_h = [];
                        for (var ob, i = 0; ob = obj[i++];) {
                            var name = ob.ProductName;

                            if (!(name in lookup)) {
                                lookup[name] = 1;

                                array_h.push(name);

                            }

                        }



                        $('#hSummary').html('');
                        var tHeadRow = '';
                        tHeadRow += '<tr style="font-size: 12px;font-weight: 900;">';
                        tHeadRow += '<td style="text-align: center; vertical-align: middle;min-width: 80px;">Customer Name</td>';
                        var flockCount = 0;
                        for (var a = 0; a < array_h.length; a++) {
                            tHeadRow += '<td colspan="2" style="text-align: center; vertical-align: middle;min-width: 80px;">' + array_h[a] + '</td>';
                            flockCount++;
                        }

                        tHeadRow += '<td colspan="2" style="text-align: center; vertical-align: middle;min-width: 80px;">Total</td>';
                        flockCount++;
                        tHeadRow += '</tr>';



                        tHeadRow += '<tr style="font-size: 12px;font-weight: 900;" id="secondtd">';
                        tHeadRow += '<td style="text-align: center; vertical-align: middle;min-width: 80px;">  </td>';

                        for (var i = 0; i < flockCount; i++) {

                            tHeadRow += '<td style="text-align: center; vertical-align: middle;min-width: 80px;">Kg</td>';
                            tHeadRow += '<td style="text-align: center; vertical-align: middle;min-width: 80px;">Amount</td>';

                        }


                        tHeadRow += '</tr>';


                        $('#hSummary').html(tHeadRow);



                       ////////////////////////////////////////////////////

                        var row = "";
                        var lookup = {};
                        var obj = json;
                        var array = [];
                        for (var ob, i = 0; ob = obj[i++];) {
                            var name = ob.ProductName;

                            if (!(name in lookup)) {
                                lookup[name] = 1;

                                array.push(name);

                            }

                        }


                        var lookup1 = {};
                        var obj1 = json;
                        var arrayage = [];
                        var objCount = 0;
                        var objCr = new Object();

                        for (var ob, i = 0; ob = obj1[i++];) {

                            var name1 = ob.CustomerName;

                            if (!(name1 in lookup1)) {

                                lookup1[name1] = 1;

                                objCr[objCount] = { name: name1 };

                                objCount++;
                            }
                            else {

                                var result = 0;

                                $.each(objCr, function (key, value) {
                                    if ((value.name == name1)) {
                                        result++;
                                    }
                                });
                                if (result == 0) {
                                    objCr[objCount] = { name: name1 };
                                    objCount++;
                                }

                            }

                        }

                        for (var i = 0; i < Object.keys(objCr).length; i++) {

                            var cus = objCr[i].name;

                            row += '<tr >';
                            row += '<td style="text-align:center;">' + cus + '</td>';


                                    for (var a = 0; a < array.length; a++) {



                                            row += '<td style="text-align:center;"></td>';
                                            row += '<td style="text-align:center;"></td>';

                                        }



                                    row += '<td style="text-align:center;"></td>';
                                    row += '<td style="text-align:center;"></td>';


                            row += '</tr>';

                        }

                        // for grand total
                        row += '<tr >';
                        row += '<td style="text-align:center; font-weight:bold;">Grand Total</td>';


                        for (var a = 0; a < array.length; a++) {



                            row += '<td style="text-align:center;"></td>';
                            row += '<td style="text-align:center;"></td>';

                        }



                        row += '<td style="text-align:center;"></td>';
                        row += '<td style="text-align:center;"></td>';


                        row += '</tr>';


                        //

                        $("#summarybody").html(row);
                        //var json = $.parseJSON(data);
                        ReadTableData(json);
                        CalculateAll();
                       /////////////////////////////////////////////


                    },
                    complete: function () {

                        //normalizeTable();
                        $('#companyHeader').html("IG Foods Limited");
                        //$('#reportHeader').html("Product Movement ");
                        $('#productName').html('Group Name : '+$("#ddlGroup option:selected").text());
                        //$('#Warehouse').html('Warehouse Name : ' + $("#ddlWareHouse option:selected").text());
                        $('#reportDate').html('Report Date: '+$("#fromDate").val()+' To '+$("#toDate").val());
                        //$('#reportDate').html("Stock report of :" + $('#txtRequisitionDate').val() + " & " + $('#txtProductionDate').val());
                        //$('#SalesReportTable').rowspanizer({
                        //    vertical_align: 'middle',
                        //    columns: [1]
                        //});
                        //$('#reportDate').text('Report from: ' + array[0] + 'to :' + array[1]);
                    }
                });
            }
        }

        function ReadTableData(json)
        {
            var json_new = json;

            var myTab = document.getElementById('SummaryTable');
            var objCells = myTab.rows.item(0).cells;
            var customer ;
            var Product;
            var count ;


            for (i = 2; i < myTab.rows.length; i++) {
                var rowtotal_KG = 0;
                var rowtotal_P = 0;

                var objCells_C = myTab.rows.item(i).cells;
                customer = objCells_C.item(0).innerHTML;

                for (var j = 1; j < objCells.length; j++) {
                    Product = objCells.item(j).innerHTML;


                for (var l = 0; l < json_new.length; l++) {
                    var customer_j = json_new[l].CustomerName;
                    var product_j = json_new[l].ProductName;
                    //var cus = convert(customer);

                    if (convert(customer) == customer_j && Product == product_j) {
                        if (j == 1) {
                            count = j;
                            objCells_C.item(count).innerHTML = json_new[l].IssueKg;
                            count = parseInt(count) + 1;
                            objCells_C.item(count).innerHTML = json_new[l].IssuePrice;

                            rowtotal_KG = parseFloat(rowtotal_KG) + parseFloat(json_new[l].IssueKg);
                            var lc = objCells_C.length;
                            objCells_C.item(lc - 2).innerHTML = rowtotal_KG.toFixed(2);

                            rowtotal_P = parseFloat(rowtotal_P) + parseFloat(json_new[l].IssuePrice);
                            objCells_C.item(lc - 1).innerHTML = rowtotal_P.toFixed(2);
                        }
                        else {
                            count = parseInt(j) + parseInt(j);
                            objCells_C.item(count - 1).innerHTML = json_new[l].IssueKg;
                            //count = parseInt(count) + 1;
                            objCells_C.item(count).innerHTML = json_new[l].IssuePrice;
                            rowtotal_KG = parseFloat(rowtotal_KG) + parseFloat(json_new[l].IssueKg);

                            var lc = objCells_C.length;
                            objCells_C.item(lc - 2).innerHTML = rowtotal_KG.toFixed(2);


                            rowtotal_P = parseFloat(rowtotal_P) + parseFloat(json_new[l].IssuePrice);
                            objCells_C.item(lc - 1).innerHTML = rowtotal_P.toFixed(2);
                        }



                        break;

                    }

                }

            }


                }


        }



        function CalculateAll() {

            var myTab = document.getElementById('SummaryTable');

            var objCells_total = myTab.rows.item(myTab.rows.length-1).cells;
            debugger;
            //for (i = 2; i < myTab.rows.length - 1; i++) {
            //    var objCells = myTab.rows.item(i).cells;

            //    for (var j = 1; j < objCells.length; j++) {
            //        info.innerHTML = info.innerHTML + ' ' + objCells.item(j).innerHTML;
            //    }

            //}


            for (i = 2; i < myTab.rows.length - 1; i++) {
                var objCells = myTab.rows.item(i).cells;

                for (var j = 1; j < objCells.length; j++) {
                    var linitem = objCells.item(j).innerHTML;
                    var lind = isNaN(parseFloat(objCells.item(j).innerHTML)) ? 0 : parseFloat(objCells.item(j).innerHTML);

                    var dert = objCells_total.item(j).innerHTML;
                    var dertd = isNaN(parseFloat(objCells_total.item(j).innerHTML)) ? 0 : parseFloat(objCells_total.item(j).innerHTML);

                    objCells_total.item(j).innerHTML = (lind + dertd).toFixed(2);
                }

            }

        }

        var table = document.getElementsByTagName('table')[0];
        function normalizeTable() {


            var countTD = $("#SummaryTable tr:first > td").length;
            debugger;
            var trs = table.getElementsByTagName('tr'),
                len = trs.length, max = 0, td;
            // first we search for the longest table row in terms of # of children
            for (var i = len; i--;) {
                if (trs[i].children.length > max)
                    max = trs[i].children.length;
            }
            debugger;
            // now we can fill the other rows
            var trb = $("#SummaryTable").find("tbody>tr");
            //var trb = table.getElementsByTagName('tbody').children[0];
            lenb = $('#SummaryTable tbody tr').length;
            for (var j = lenb; j--;) {
                var er = lenb;
                while (trb[j].children.length < max) {
                    td = document.createElement('td');
                    trb[j].appendChild(td);
                }
            }
        }


        function convert(str) {
            //str = str.replace(/&/g, "&amp;");
            str = str.replace("&amp;", "&");
            //str = str.replace(/>/g, "&gt;");
            //str = str.replace(/</g, "&lt;");
            //str = str.replace(/"/g, "&quot;");
            //str = str.replace(/'/g, "&#039;");
            return str;
        }

        function exportExcel(e) {
            if ($('#SummaryTable tbody tr').length == 0) {
                swal("No Data to Export");
            } else {
                var file = new Blob([$('#salesReportDiv').html()], { type: "application/vnd.ms-excel" });
                var url = URL.createObjectURL(file);
                var a = $("<a />", {
                    href: url,
                    download: "CustomerwiseGroupProductReport.xls"

                }).appendTo("body").get(0).click();
            }
        }

        function RptValidation() {



            var isValid = true;
            
            if (($('#fromDate').val() == 0 || $('#fromDate').val() == '')) {
                ValidationColorChangeNew('fromDate', 'divDelivaryDate', 'Please Select From Date', true);
                isValid = false;
            }

            if ($('#toDate').val() == 0 || $('#toDate').val() == '') {
                ValidationColorChangeNew('toDate', 'divToDate', 'Please Select To Date', true);
                isValid = false;
            }
            if (($('#ddlGroup').val() == 0 || $('#ddlGroup').val() == '')) {
                ValidationColorChangeNew('ddlGroup', 'divGroup', 'Please Select Group', true);
                isValid = false;
            }

           
            return isValid;
        }
    </script>
}