﻿
@{
    ViewBag.Title = "LiveBirdStockReport";
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="col-md-3">
                            <h3 class="card-title"><span class="fa fa-list"></span>Live Bird Stock Report</h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">

                                <div class="form-group" id="divReportName">
                                    <label for="ddlReportName">Report Name</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlReportName" onchange="elementHideShow()">
                                        <option value="">----Select Report----</option>
                                        <option value="DailyLbStockSummery">Daily Live Bird Stock Report</option>
                                        <option value="MonthlyLbStockSummery">Monthly Live Bird Stock Report</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4" id="mainDivLocation">

                                <div class="form-group" id="divLocation">
                                    <label for="ddlLocation">Location</label>
                                    <select class="form-control select2" id="ddlLocation" style="width: 100%;"></select>
                                </div>


                            </div>
                            <div class="col-md-4" id="mainDivWareHouse">

                                <div class="form-group" id="divWareHouse">
                                    <label for="ddlWareHouse">WareHouse</label>
                                    <select class="form-control select2" id="ddlWareHouse" style="width: 100%;"></select>
                                </div>

                            </div>
                            <div class="col-md-4" id="divStockDate">

                                <div class="form-group" id="">
                                    <label for="stockDate">Stock Date</label>
                                    <input type="text" class="form-control datepicker" id="stockDate" autocomplete="off" />
                                </div>

                            </div>
                            <div class="col-md-4" id="divstockMonth">

                                <div class="form-group" id="divStockMonth">
                                    <label for="stockMonth">Stock Month</label>
                                    <input type="text" class="form-control datepicker" id="stockMonth" autocomplete="off" />
                                </div>

                            </div>
                        </div>



                    </div>
                    <div class="card-footer">
                        <button id="btnExport" type="button" class="btn btn-info" onclick="exportExcel()">Export To Excel</button>
                        <button class="btn btn-primary float-right" onclick="LoadReport()">Submit</button>
                    </div>

                </div>

                

                <div class="card divclass">
                    <div class="card-header with-border">
                        <div id="">
                            <h3 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="companyHeader"></h3>
                            <h4 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="reportHeader"></h4>


                            <div class="row">
                                <div class="offset-md-10 col-md-2">
                                    <label id="reportDate"></label>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card-body" id="LiveBirdStockList">

                    </div>
                </div>

            </div>
        </div>
        <!-- /.row -->

        <div id="ajaxLoaderDiv" style="position: fixed; top: 40%; left: 45%; z-index: 1234;">
            <img src="@Url.Content("~/AssetStatic/Images/Double Ring.gif")" alt="Loading..." class="ajax-loader" />
        </div>
    </div><!-- /.container-fluid -->

</section>


@section Scripts{
    <script>
        var AllItemList = {};
        $(function () {
            $("#ajaxLoaderDiv").hide();
            $("#btnExport").hide();
            LoadLocation('ddlLocation');
            $('#stockMonth').datepicker({
                format: "MM yyyy",
                viewMode: "months",
                minViewMode: "months",
                autoclose: true,
            });

            $('#ddlLocation').change(function(){
                LoadWareHouse('ddlWareHouse', $(this).val(), 1);
                 ResetReportDiv();
            });

            $('#ddlWareHouse').change(function(){
                  ResetReportDiv();
            });
            $('.datepicker').change(function(){
                 ResetReportDiv();
            });
           

            $('#divStockDate').hide();
            $('#divstockMonth').hide();

        });

        function ResetReportDiv() {
            $('#companyHeader').html("");
            $('#reportHeader').html("");
            $('#reportDate').html("");
              $('#LiveBirdStockList').empty();
        }
        function LoadReport() {
            if (Validation()) {
                var reportValue=$('#ddlReportName').val();
             if (reportValue == "DailyLbStockSummery") {
                 LoadDailyReport();
                }
                if (reportValue == "MonthlyLbStockSummery") {

                    LoadMonthlyReport();
                }
            }



        }

        function LoadDailyReport() {
             var fromDate = $('#stockDate').val();
            var toDate = $('#stockDate').val();
            
             var wareHouseId = $('#ddlWareHouse').val()==null?0:$('#ddlWareHouse').val();

            var urlpath = '@Url.Action("GetLiveBirdStockInLedger", "Report")';
            $("#ajaxLoaderDiv").show();
            $.ajax({
                url: urlpath,
                dataType: 'html',
                type: "Get",
                data: { fromDate: fromDate, toDate: toDate, wareHouseId: wareHouseId},
                success: function (data) {
                    $('#LiveBirdStockList').empty();
                    $('#LiveBirdStockList').html(data);
                    $("#btnExport").show();
                    $('.datatable').DataTable();
                },
                complete: function () {
                    $("#ajaxLoaderDiv").hide();
                    $("#btnExport").show();

                    
                    $('#companyHeader').html("IG Foods Limited");
                    $('#reportHeader').html($("#ddlReportName option:selected").text());
                    $('#reportDate').html("Stock report of :" +$('#stockDate').val());
                    
                }
            });
        }

        function LoadMonthlyReport() {
             var reportMonth =  $('#stockMonth').val();

             var wareHouseId = $('#ddlWareHouse').val()==null?0:$('#ddlWareHouse').val();

            var urlpath = '@Url.Action("GetLiveBirdMonthlyStockInLedger", "Report")';
            $("#ajaxLoaderDiv").show();
            $.ajax({
                url: urlpath,
                dataType: 'html',
                type: "Get",
                data: { reportMonth: reportMonth , wareHouseId: wareHouseId},
                success: function (data) {
                    $('#LiveBirdStockList').empty();
                    $('#LiveBirdStockList').html(data);
                    $("#btnExport").show();
                    $('.datatable').DataTable();
                },
                complete: function () {
                    $("#ajaxLoaderDiv").hide();
                    $("#btnExport").show();

                    $('#companyHeader').html("IG Foods Limited");
                     $('#reportHeader').html($("#ddlReportName option:selected").text());
                    $('#reportDate').html("Stock report of :" +$('#stockMonth').val());

                }
            });
        }

        function Validation() {

             var reportValue=$('#ddlReportName').val();
             var isValid = true;
             if ($('#ddlReportName').val() == 0 || $('#ddlReportName').val() == '') {
                ValidationColorChangeNew('ddlReportName', 'divReportName', 'Please Select Report Name', true);
                isValid = false;
            }
            // if ($('#ddlLocation').val() == 0 || $('#ddlLocation').val() == '') {
            //    ValidationColorChangeNew('ddlLocation', 'divLocation', 'Please Select Location Name', true);
            //    isValid = false;
            //}

             if (reportValue == "DailyLbStockSummery") {
                  if ($('#stockDate').val() == 0 || $('#stockDate').val() == '') {
                ValidationColorChangeNew('stockDate', 'divStockDate', 'Please Select Stock Date', true);
                isValid = false;
            }
                }
                if (reportValue == "MonthlyLbStockSummery") {

                   if ($('#stockMonth').val() == 0 || $('#stockMonth').val() == '') {
                ValidationColorChangeNew('stockMonth', 'divStockMonth', 'Please Select Month', true);
                isValid = false;
            }
                }




            return isValid;
        }

        function elementHideShow() {
            if ($('#ddlReportName').val().trim() === "DailyLbStockSummery") {
                $('#divStockDate').show();
                $('#divstockMonth').hide();

            } else if ($('#ddlReportName').val().trim() === "MonthlyLbStockSummery") {
                $('#divStockDate').hide();
                $('#divstockMonth').show();
            }

        }

         function exportExcel(e) {

                  $('.datatable').DataTable().destroy();
                 let file = new Blob([$('.divclass').html()], { type: "application/vnd.ms-excel" });
                 let url = URL.createObjectURL(file);

                 let a = $("<a />", {
                     href: url,

                     download: "LIveBirdStockReport.xls"

                 }).appendTo("body").get(0).click();


                 
                 $('.datatable').DataTable();
                 e.preventDefault();
           
        }
    </script>
}


