﻿
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="card-title">
                                    <span class="fa fa-eye"></span> Dress Bird Report
                                </h3>
                            </div>

                        </div>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="dressDateId ">Dressed Date</label>
                                    <input type="text" class="form-control datepicker" id="dateRange" onchange="LoadDressBirdNo()">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divRequisition">
                                    <label for="ddlRequisition">Dress Bird No<span class="text-danger"> *</span></label>
                                    <select class="form-control " style="width: 100%;" id="ddlDressedBird"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-success" onclick="LoadReport()"><span class="fa fa-search"></span> Search</button>
                        <button class="btn btn-success float-right" onclick="exportExcel()"><span class="fa fa-print"></span> Export To Excel</button>
                    </div>

                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>

@section Scripts
{
    <script>
        $(function () {
        });
        function LoadDressBirdNo() {
            debugger;
            var date = $('#dateRange').val();
            var urlpath = '@Url.Action("LoadDressBirdNo", "LiveBirdDress")';

            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { dressDate: date },
                async: false,
                success: function (data) {
                    $('#ddlDressedBird').empty();
                    $('#ddlDressedBird').append("<option value='0'>--Select Dress Bird No--</option>");


                    for (var i = 0; i < data.length; i++) {

                        $("#ddlDressedBird").append($("<option></option>").val(data[i].DressedBirdMasterID).html(data[i].DressedBirdNo));

                    }
                }
            });
        }
        function LoadReport() {
                debugger;
                var urlpath = '@Url.Action("LiveBirdDressReports", "Report")';
                var jsonData = {};
                jsonData["ReportValue"] = "LiveBirdDressInvoice";
                jsonData["DressBirdNo"] = $('#ddlDressedBird').val();
                $.ajax({
                    url: urlpath,
                    data: jsonData,
                    dataType: 'json',
                    type: "Get",
                    success: function (data) {
                        if (data.isSuccess) {


                            //OpenPopUp('BasicReportViewer.aspx');
                            window.open("../CrystalViewer/CrystalViewer.aspx", "_blank", "WIDTH=1024,HEIGHT=768,scrollbars=no, menubar=no,resizable=yes,directories=no,location=no");
                        }
                    }
                });
        }
    </script>
}
