﻿@model dynamic
@{
    ViewBag.Title = "Product Issue Report";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title"> Stock Product Issue Report</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card" style="height: 335px">
                                    <div class="card-header">
                                        <h3 class="card-title">
                                            <i class="fa fa-arrow-down"></i>
                                            Search Criteria
                                        </h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group" id="divCompany">
                                                    <label for="ddlCompany">Company</label>
                                                    <select class="form-control select2" style="width: 100%;" id="ddlCompany" onchange=""></select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group" id="divLocation">
                                                    <label for="ddlLocation">Location</label>
                                                    <select class="form-control select2" style="width: 100%;" id="ddlLocation" onchange="LoadWareHouse('ddlWarehouse')"></select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group" id="divWarehouse">
                                                    <label for="ddlWarehouse">Warehouse</label>
                                                    <select class="form-control select2" style="width: 100%;" id="ddlWarehouse" onchange=""></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group" id="divFromDate">
                                                    <label for="fromDate">From Date<span class="text-danger"> *</span></label>
                                                    <input type="text" class="form-control datepicker" style="width: 100%;" id="fromDate" onchange="NextDate()" />
                                                </div>
                                            </div>
                                       
                                        <div class="col-md-3" style="display: none;">
                                            <div class="form-group" id="divFromTime">
                                                <label for="delivaryDate">From Time</label>
                                                <div class="input-group date" id="timepicker" data-target-input="nearest">

                                                    <input type="text" class="form-control datetimepicker-input" id="txtReceiveFromTime" data-target="#timepicker" />
                                                    <div class="input-group-append" data-target="#timepicker" data-toggle="datetimepicker">
                                                        <div class="input-group-text">
                                                            <i class="far fa-clock"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                            <div class="col-md-3">
                                                <div class="form-group" id="divToDate">
                                                    <label for="toDate">To Date<span class="text-danger"> *</span></label>
                                                    <input type="text" class="form-control datepicker" style="width: 100%;" id="toDate" />
                                                </div>
                                                </div>
                                           
                                            <div class="col-md-3" style="display: none;">
                                                <div class="form-group" id="divToTime">
                                                    <label for="txtReceiveToTime">To Time</label>
                                                    <div class="input-group date" id="timepicker1" data-target-input="nearest">

                                                        <input type="text" class="form-control datetimepicker-input" id="txtReceiveToTime" data-target="#timepicker1" />
                                                        <div class="input-group-append" data-target="#timepicker1" data-toggle="datetimepicker">
                                                            <div class="input-group-text">
                                                                <i class="far fa-clock"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>

                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary" onclick="LoadReport()">Submit</button>
                        <button type="button" class="btn btn-primary" onclick="exportExcel()">Export To Excel</button>
                        <button class="btn btn-outline-danger  float-right" onclick="location.reload()">Cancel</button>
                    </div>
                </div>
                <!-- /.card -->
                <div class="card divclass" id="salesReportDiv">
                    <div class="card-header with-border">
                        <div id="">
                            <h3 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="companyHeader"></h3>
                            <h4 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="reportHeader"></h4>
                            <div class="row">
                                <div class="col-md-12">

                                    <label class="float-left" id="productName"></label>
                                    <label class="float-right" id="reportDate"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="salesReport">
                    </div>
                </div>
            </div>
            <
        </div>
    </div>
</section>
@section Scripts{
<script>
        $(function () {

            LoadCompany('ddlCompany');
            $("#ddlCompany").val(7).trigger("change");
            $('#timepicker').datetimepicker({
                format: 'LT'
            });
            $("#txtReceiveFromTime").val("12:00 AM")
            $('#timepicker1').datetimepicker({
                format: 'LT'
            });
            $("#txtReceiveToTime").val("12:00 AM");

            LoadLocation('ddlLocation');
        });

        NextDate = () => {
            debugger;
            var currentDate = $("#fromDate").val();
            var a = Date.parse(currentDate).addDays(1).toString("dd-MMM-yyyy");
            $("#toDate").val(a);
        }
        function LoadWareHouse(elementId) {

            var location = $('#ddlLocation').val();
            var urlpath = '@Url.Action("LoadWareHouse", "ItemRequisition")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { location: parseInt(location), warehouseTypeId: 0 },
                async: false,
                success: function(data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Warehouse--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].WareHouseId).html(data[i].WareHouseName));
                    }

                }
            });
        }
        function LoadReport() {
            if (RptValidation() == true) {
                var warehouseID = $("#ddlWarehouse").val() ;
                var fromDate = $("#fromDate").val();
                var toDate = $("#toDate").val();
                var fromTime = $("#txtReceiveFromTime").val();
                var toTime = $("#txtReceiveToTime").val() ;
                //var supplierId = parseInt($("#ddlSupplier").val());

                debugger;
                var urlpath = '@Url.Action("GetProductIssue", "Report")';

                $.ajax({
                    url: urlpath,
                    data: { fromDate: fromDate, todDate: toDate, fromTime: fromTime, toTime: toTime, warehouseId: warehouseID },
                    dataType: 'html',
                    type: "Get",
                    success: function (data) {
                        $("#salesReport").html(data);
                    },
                    complete: function () {


                        $('#companyHeader').html("IG Foods Limited");
                        $('#reportHeader').html("Daily Issue Summary");
                        $('#reportDate').html('Report Date: ' + $("#fromDate").val() + ' To ' + $("#toDate").val());

                    }
                });
            }
        }


        function exportExcel(e) {
            if ($('#SupplierLedgerTable tbody tr').length == 0) {
                swal("No Data to Export");
            } else {
                var file = new Blob([$('#salesReportDiv').html()], { type: "application/vnd.ms-excel" });
                var url = URL.createObjectURL(file);
                var a = $("<a />", {
                    href: url,
                    download: "ProductIssueReport.xls"

                }).appendTo("body").get(0).click();
            }
        }

        function RptValidation() {



            var isValid = true;

            if (($('#fromDate').val() == 0 || $('#fromDate').val() == '')) {
                ValidationColorChangeNew('fromDate', 'divDelivaryDate', 'Please Select From Date', true);
                isValid = false;
            }

            if ($('#toDate').val() == 0 || $('#toDate').val() == '') {
                ValidationColorChangeNew('toDate', 'divToDate', 'Please Select To Date', true);
                isValid = false;
            }


            return isValid;
        }
</script>
}