﻿
@{
    ViewBag.Title = "ProductMovement";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title"> Product Movement Report</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card" style="height: 335px">
                                    <div class="card-header">
                                        <h3 class="card-title">
                                            <i class="fa fa-arrow-down"></i>
                                            Search Criteria
                                        </h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group" id="divCompany">
                                                    <label for="ddlCompany">Company</label>
                                                    <select class="form-control select2" style="width: 100%;" id="ddlCompany" onchange=""></select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group" id="divLocation">
                                                    <label for="ddlLocation">Location</label>
                                                    <select class="form-control select2" style="width: 100%;" id="ddlLocation" onchange="LoadWareH()"></select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group" id="divWareHouse">
                                                    <label for="ddlWareHouse">Warehouse</label>
                                                    <select class="form-control select2" style="width: 100%;" id="ddlWareHouse"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group" id="divProduct">
                                                    <label for="ddlLocation">Product<span class="text-danger"> *</span></label>
                                                    <select class="form-control select2" style="width: 100%;" id="ddlLProduct"></select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group" id="divDelivaryDate">
                                                <label for="delivaryDate">From Date<span class="text-danger"> *</span></label>
                                                <input type="text" class="form-control datepicker" style="width: 100%;" id="fromDate" onchange="NextDate()"/>
                                            </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group" id="divToDate">
                                                    <label for="delivaryDate">To Date<span class="text-danger"> *</span></label>
                                                    <input type="text" class="form-control datepicker" style="width: 100%;" id="toDate" />
                                                </div>
                                            </div>
                                        </div>
                                       
                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                        <div class="row">

                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary" onclick="LoadReport()">Submit</button>
                        <button type="button" class="btn btn-primary" onclick="exportExcel()">Export To Excel</button>
                        <button class="btn btn-outline-danger  float-right" onclick="location.reload()">Cancel</button>
                    </div>
                </div>
                <!-- /.card -->
                <div class="card divclass" id="salesReportDiv">
                    <div class="card-header with-border">
                        <div id="">
                            <h3 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="companyHeader"></h3>
                            <h4 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="reportHeader"></h4>
                            <div class="row">
                                <div class="col-md-12">
                                    
                                    <label class="float-left" id="productName"></label>
                                    <label class="offset-3" id="Warehouse"></label>
                                    <label class="float-right" id="reportDate"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="salesReport">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script>
        $(function () {

            LoadCompany('ddlCompany');
            $("#ddlCompany").val(0).trigger("change");
            LoadLocation('ddlLocation');
            $("#ddlLocation").val(0).trigger("change");
            LoadAllProduct('ddlLProduct');

        });
        LoadWareH=() => {
            LoadWareHouse('ddlWareHouse', $("#ddlLocation").val(), 3);
        }
        NextDate = () => {
            debugger;
            var currentDate = $("#fromDate").val();
            var a = Date.parse(currentDate).addDays(1).toString("dd-MMM-yyyy");
            $("#toDate").val(a);
        }
        
        function LoadReport() {
            if (RptValidation() == true) {
                var fromDate = $("#fromDate").val();
                var toDate = $("#toDate").val();
                var wareHouse = parseInt($("#ddlWareHouse").val());
                var Product = parseInt($("#ddlLProduct").val());
                
                
                var urlpath = '@Url.Action("GetProductMovement", "Report")';

                $.ajax({
                    url: urlpath,
                    data: { fromDate: fromDate, toDate: toDate, wareHouseId: wareHouse, productId: Product},
                    dataType: 'html',
                    type: "Get",
                    success: function (data) {
                        $("#salesReport").html(data);
                    },
                    complete: function () {


                        $('#companyHeader').html("IG Foods Limited");
                        $('#reportHeader').html("Product Movement ");
                        $('#productName').html('Product Name : '+$("#ddlLProduct option:selected").text());
                        $('#Warehouse').html('Warehouse Name : ' + $("#ddlWareHouse option:selected").text());
                        $('#reportDate').html('Report Date: '+$("#fromDate").val()+' To '+$("#toDate").val());
                        //$('#reportDate').html("Stock report of :" + $('#txtRequisitionDate').val() + " & " + $('#txtProductionDate').val());
                        //$('#SalesReportTable').rowspanizer({
                        //    vertical_align: 'middle',
                        //    columns: [1]
                        //});
                        //$('#reportDate').text('Report from: ' + array[0] + 'to :' + array[1]);
                    }
                });
            }
        }


        function exportExcel(e) {
            if ($('#ProductMoveTable tbody tr').length == 0) {
                swal("No Data to Export");
            } else {
                var file = new Blob([$('#salesReportDiv').html()], { type: "application/vnd.ms-excel" });
                var url = URL.createObjectURL(file);
                var a = $("<a />", {
                    href: url,
                    download: "ProductMovementReport.xls"

                }).appendTo("body").get(0).click();
            }
        }

        function RptValidation() {



            var isValid = true;
            if (($('#ddlWareHouse').val() == 0 || $('#ddlWareHouse').val() == '')) {
                ValidationColorChangeNew('ddlWareHouse', 'divWareHouse', 'Please Select Warehouse', true);
                isValid = false;
            }
            if (($('#fromDate').val() == 0 || $('#fromDate').val() == '')) {
                ValidationColorChangeNew('fromDate', 'divDelivaryDate', 'Please Select From Date', true);
                isValid = false;
            }

            if ($('#toDate').val() == 0 || $('#toDate').val() == '') {
                ValidationColorChangeNew('toDate', 'divToDate', 'Please Select To Date', true);
                isValid = false;
            }

            if ($('#ddlLProduct').val() == 0 || $('#ddlLProduct').val() == '') {
                ValidationColorChangeNew('ddlLProduct', 'divProduct', 'Please Select Product', true);
                isValid = false;
            }
            return isValid;
        }
    </script>
}