﻿
@{
    ViewBag.Title = "ProductWiseStockVsChallan";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">

                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="card-title"><span class="fa fa-list"></span>Product Wise Stock Vs Challan</h3>
                            </div>
                            @*<div class="col-md-6 text-right">
                                <a class="btn btn-outline-warning" href="@Url.Action("PickingList", "PickingProcess")"><span class="fa fa-list"></span>Picking Req List</a>
                            </div>*@
                        </div>
                    </div>
                    <div class="card-body">

                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group" id="divLocation">
                                    <label for="ddlLocation">Location<span class="text-danger"> *</span></label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlLocation"></select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" id="divWareHouse">
                                    <label for="ddlWareHouse">Warehouse<span class="text-danger"> *</span></label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlWareHouse"></select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="dressDateId ">Order Date Range</label>
                                    <input type="text" class="form-control" autocomplete="off" id="dateRange">
                                </div>
                            </div>


                        </div>

                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary float-right" onclick="Search()">Search</button>
                    </div>
                </div>

                <div class="card divclass">
                    <div class="card-body" id="resultDiv">
                    </div>
                   
                </div>
            </div>
        </div>
        <!-- /.row -->
        <div id="ajaxLoaderDiv" style="position: fixed; top: 40%; left: 45%; z-index: 1234;">
            <img src="@Url.Content("~/AssetStatic/Images/Double Ring.gif")" alt="Loading..." class="ajax-loader" />
        </div>
    </div><!-- /.container-fluid -->
</section>
@section Scripts{
    <script>


        $(function() {
            $('#ajaxLoaderDiv').hide();

            LoadLocation('ddlLocation');
            $("#ddlLocation").val(4).trigger("change");
            LoadWareHouse('ddlWareHouse', $("#ddlLocation").val(), 3);
            $("#ddlWareHouse").val(10).trigger("change");
            LoadDate_C('#delivaryDate');
            $('#ddlLocation').change(function() {
                LoadWareHouse('ddlWareHouse', $("#ddlLocation").val(), 3);
            });
            $('#dateRange').daterangepicker({
                locale: {
                    format: 'DD MMM YYYY'
                }
            });


        });

        function Search() {

            var dateRange = $('#dateRange').val();
            var array = dateRange.split('-');
            var fromDate = array[0];
            var toDate = array[1];
            var wareHouseId = $('#ddlWareHouse').val();
            var productId = 0;


            var urlpath = '@Url.Action("GetProductWiseStockVsChallan", "Report")';

            $.ajax({
                contentType: "application/json; charset=utf-8",
                url: urlpath,
                data: { fromDate: fromDate, toDate: toDate, wareHouseId: wareHouseId, productId: productId },
                dataType: 'html',
                type: "Get",
                success: function(data) {
                    $("#resultDiv").html(data);

                },
                complete: function(data) {

                    $('#productTable').DataTable({
                        "bPaginate": true,
                        "lengthChange": true,
                        "searching": true,
                        "ordering": true,
                        "info": true,
                        "autoWidth": true,
                        "pageLength": 25,
                        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, 'All']]
                        }
                    );
                }
            });
        }


    </script>
}