﻿
<style>
    .ui-datepicker-calendar {
        display: none;
    }
</style>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-3">
                                <h3 class="card-title"><span class="fa fa-list"></span> Stock Report</h3>
                            </div>

                        </div>
                    </div>


                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card-body">
                                <div class="form-group" id="divReportName">
                                    <label for="ddlReportName">Report Name</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlReportName" onchange="elementHideShow()">
                                        <option value="">----Select Report----</option>
                                        <option value="DailyStockSummery">Daily Stock Summery</option>
                                        <option value="DailyTradeStockSummery">Daily Trade Stock Summery</option>
                                        <option value="MonthlyStockSummery">Monthly Stock Summery</option>
                                        <option value="MonthlyTradeStockSummery">Monthly Trade Stock Summery</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        @*<div class="col-md-4">
                                <div class="card-body">
                                    <div class="form-group" id="divCompany">
                                        <label for="ddlCustomerType">Company</label>
                                        <select class="form-control select2" style="width: 100%;" id="ddlCompany"></select>
                                    </div>
                                </div>
                            </div>*@
                        <div class="col-md-4" id="mainDivLocation">
                            <div class="card-body">
                                <div class="form-group" id="divLocation">
                                    <label for="ddlLocation">Location</label>
                                    <select class="form-control select2" id="ddlLocation" style="width: 100%;" onchange="LoadWareHouse('ddlWareHouse')"></select>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-4" id="mainDivWareHouse">
                            <div class="card-body">
                                <div class="form-group" id="divWareHouse">
                                    <label for="ddlWareHouse">WareHouse</label>
                                    <select class="form-control select2" id="ddlWareHouse" style="width: 100%;"></select>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-md-4" id="divStockDate">
                            <div class="card-body">
                                <div class="form-group" id="">
                                    <label for="stockDate">Stock Date</label>
                                    <input type="text" class="form-control datepicker" id="stockDate" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" id="divstockMonth">
                            <div class="card-body">
                                <div class="form-group" id="">
                                    <label for="stockMonth">Stock Month</label>
                                    <input type="text" class="form-control datepicker" id="stockMonth"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" id="mainDivGroup">
                            <div class="card-body">
                                <div class="form-group" id="divGroup">
                                    <label for="ddlGroup">Product Group</label>
                                    <select class="form-control select2" style="width: 100%" id="ddlGroup" onchange="GroupOnChange()" placeholder="Enter Group"></select>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-4" id="mainDivProduct">
                            <div class="card-body">
                                <div class="form-group" id="divProduct">
                                    <label for="ddlProduct">Product </label>
                                    <select class="form-control select2" style="width: 100%" id="ddlProduct"  ></select>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div>

                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button class="btn btn-primary " onclick="LoadReport()">Show Report</button>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>


@section Scripts{
    <script>
        var AllItemList = {};
        var PrlductList = {};
        $(function() {
            LoadCompany('ddlCompany');
            LoadLocation('ddlLocation');
            $('#stockMonth').datepicker({
                format: "MM yyyy",
                viewMode: "months",
                minViewMode: "months"
            });

            $('#divStockDate').hide();
            $('#divstockMonth').hide();
            LoadGroup();
            GetProducts(0);

        });

        function GroupOnChange() {
            var group = $('#ddlGroup').val();
            GetProducts(group);
        }
        function LoadGroup() {
            var urlpath = '@Url.Action("LoadGroup", "ProductType")';

            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function(data) {
                    $('#ddlGroup').empty();
                    $('#ddlGroup').append("<option value='0'>--Select Group--</option>");


                    for (var i = 0; i < data.length; i++) {

                        $("#ddlGroup").append($("<option></option>").val(data[i].GroupId).html(data[i].GroupName));

                    }
                }
            });
        }
        function GetProducts(id) {

            
            var urlpath = '@Url.Action("GetProductByGroup2", "Utility")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { groupId: id },
                async: false,
                success: function (data) {
                    
                    PrlductList = data;

                }
            });
            LoadProducts('ddlProduct');
        }


        function LoadProducts(elementId) {
            $('#' + elementId + '').empty();
            $('#' + elementId + '').append("<option value='0'>--Select Product--</option>");
            for (var i = 0; i < PrlductList.length; i++) {

                $('#' + elementId + '').append($("<option></option>").val(PrlductList[i].ProductId).html(PrlductList[i].ProductName));
            }
        }
        function LoadLocation(elementId) {
            $.ajax({
                url: "/ItemRequisition/LoadLocation",

                dataType: 'json',
                type: "Get",
                data: {},
                async: true,
                success: function(data) {
                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Location--</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].LocationId).html(data[i].LocationName));
                    }
                }
            });
        }


        function LoadWareHouse(elementId) {

            var location = $('#ddlLocation').val();
            var urlpath = '@Url.Action("LoadWareHouse", "ItemRequisition")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { location: parseInt(location), warehouseTypeId: 0 },
                async: false,
                success: function(data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Warehouse--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].WareHouseId).html(data[i].WareHouseName));
                    }

                }
            });
        }

        function LoadReport() {
            if (RptValidation() == true) {
                
                var urlpath = '@Url.Action("SalesOrderReports", "Report")';
                var reportValue = $('#ddlReportName').val();
                var val = $('#stockMonth').val();
                var jsonData = {};
                if (reportValue == "DailyStockSummery") {
                    jsonData["ReportValue"] = reportValue;
                    jsonData["FromDate"] = $('#stockDate').val();
                    jsonData["WareHouseId"] = $('#ddlWareHouse').val();
                    jsonData["GroupId"] = isNaN(parseInt($('#ddlGroup').val())) ? 0 : parseInt($('#ddlGroup').val());
                    jsonData["ProductId"] = isNaN(parseInt($('#ddlProduct').val())) ? 0 : parseInt($('#ddlProduct').val());
                }
                if (reportValue == "MonthlyStockSummery") {

                    jsonData["ReportValue"] = reportValue;
                    jsonData["StockMonth"] = $('#stockMonth').val();
                    jsonData["WareHouseId"] = $('#ddlWareHouse').val();
                    jsonData["GroupId"] = isNaN(parseInt($('#ddlGroup').val())) ? 0 : parseInt($('#ddlGroup').val());
                    jsonData["ProductId"] = isNaN(parseInt($('#ddlProduct').val())) ? 0 : parseInt($('#ddlProduct').val());
                }
                if (reportValue == "DailyTradeStockSummery") {
                    jsonData["ReportValue"] = reportValue;
                    jsonData["FromDate"] = $('#stockDate').val();
                    jsonData["WareHouseId"] = $('#ddlWareHouse').val();
                    jsonData["GroupId"] = isNaN(parseInt($('#ddlGroup').val())) ? 0 : parseInt($('#ddlGroup').val());
                    jsonData["ProductId"] = isNaN(parseInt($('#ddlProduct').val())) ? 0 : parseInt($('#ddlProduct').val());
                }
                if (reportValue == "MonthlyTradeStockSummery") {

                    jsonData["ReportValue"] = reportValue;
                    jsonData["StockMonth"] = $('#stockMonth').val();
                    jsonData["WareHouseId"] = $('#ddlWareHouse').val();
                    jsonData["GroupId"] = isNaN(parseInt($('#ddlGroup').val())) ? 0 : parseInt($('#ddlGroup').val());
                    jsonData["ProductId"] = isNaN(parseInt($('#ddlProduct').val())) ? 0 : parseInt($('#ddlProduct').val());
                }
                $.ajax({
                    url: urlpath,
                    data: jsonData,
                    dataType: 'json',
                    type: "Get",
                    success: function(data) {
                        if (data.isSuccess) {


                            //OpenPopUp('BasicReportViewer.aspx');
                            window.open("../CrystalViewer/CrystalViewer.aspx", "_blank", "WIDTH=1024,HEIGHT=768,scrollbars=no, menubar=no,resizable=yes,directories=no,location=no");
                        }
                    }
                });
            }
        }


        function RptValidation() {
            

            var rpt = $('#ddlReportName').val();
            var isValid = true;
            if (($('#stockDate').val() == 0 || $('#stockDate').val() == '') && rpt == 'DailyStockSummery') {
                ValidationColorChangeNew('stockDate', 'divStockDate', 'Please Select Stock Date', true);
                isValid = false;
            }
            if (($('#stockDate').val() == 0 || $('#stockDate').val() == '') && rpt == 'DailyTradeStockSummery') {
                ValidationColorChangeNew('stockDate', 'divStockDate', 'Please Select Stock Date', true);
                isValid = false;
            }
            if (($('#stockMonth').val() == 0 || $('#stockMonth').val() == '') && rpt == 'MonthlyStockSummery') {
                ValidationColorChangeNew('stockMonth', 'divstockMonth', 'Please Select Stock Month', true);
                isValid = false;
            } if (($('#stockMonth').val() == 0 || $('#stockMonth').val() == '') && rpt == 'MonthlyTradeStockSummery') {
                ValidationColorChangeNew('stockMonth', 'divstockMonth', 'Please Select Stock Month', true);
                isValid = false;
            }
            
            if ($('#ddlReportName').val() == 0 || $('#ddlReportName').val() == '') {
                ValidationColorChangeNew('ddlReportName', 'divReportName', 'Please Select Report Name', true);
                isValid = false;
            }
            return isValid;
        }

        function elementHideShow() {
            if ($('#ddlReportName').val().trim() === "DailyStockSummery") {
                $('#divStockDate').show();
                $('#divstockMonth').hide();

            } else if ($('#ddlReportName').val().trim() === "MonthlyStockSummery") {
                $('#divStockDate').hide();
                $('#divstockMonth').show();
            } else if ($('#ddlReportName').val().trim() === "MonthlyTradeStockSummery") {
                $('#divStockDate').hide();
                $('#divstockMonth').show();
            }
            if ($('#ddlReportName').val().trim() === "DailyTradeStockSummery") {
                $('#divStockDate').show();
                $('#divstockMonth').hide();

            }

        }
    </script>
}
