﻿@model dynamic
@{
    ViewBag.Title = "Undeliver Report";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title"> Undeliver Report</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card" style="height: 335px">
                                    <div class="card-header">
                                        <h3 class="card-title">
                                            <i class="fa fa-arrow-down"></i>
                                            Search Criteria
                                        </h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group" id="divCompany">
                                                    <label for="ddlCompany">Company</label>
                                                    <select class="form-control select2" style="width: 100%;" id="ddlCompany" onchange=""></select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group" id="divCompany">
                                                    <label for="ddlCompany">Location</label>
                                                    <select class="form-control select2" style="width: 100%;" id="ddlLocation" onchange="LoadWareHouse1('ddlWarehouse')"></select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group" id="divWarehouse">
                                                    <label for="ddlWarehouse">Warehouse</label>
                                                    <select class="form-control select2" style="width: 100%;" id="ddlWarehouse" onchange=""></select>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group" id="divCompany">
                                                    <label for="ddlCompany">Customer</label>
                                                    <select class="form-control select2" style="width: 100%;" id="ddlCustomer" onchange=""></select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group" id="divDelivaryDate">
                                                    <label for="delivaryDate">SO Date</label>
                                                    <input type="text" class="form-control datepicker" style="width: 100%;" id="fromDate" onchange="NextDate()" />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group" id="divToDate">
                                                    <label for="delivaryDate">Delivery Date</label>
                                                    <input type="text" class="form-control datepicker" style="width: 100%;" id="toDate" />
                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>

                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary" onclick="LoadReport()">Submit</button>
                        <button type="button" class="btn btn-primary" onclick="exportExcel()">Export To Excel</button>
                        <button class="btn btn-outline-danger  float-right" onclick="location.reload()">Cancel</button>
                    </div>
                </div>
                <!-- /.card -->
                <div class="card divclass" id="salesReportDiv">
                    <div class="card-header with-border">
                        <div id="">
                            <h3 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="companyHeader"></h3>
                            <h4 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="reportHeader"></h4>
                            <div class="row">
                                <div class="col-md-12">

                                    <label class="float-left" id="productName"></label>
                                    <label class="float-right" id="reportDate"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="salesReport">
                    </div>
                </div>
            </div>
            <
        </div>
    </div>
</section>
@section Scripts{
<script>
        $(function () {

            LoadCompany('ddlCompany');
            $("#ddlCompany").val(7).trigger("change");
            LoadLocation('ddlLocation');

            LoadCustomer('ddlCustomer');
        });
        function LoadWareHouse1(elementId) {

            var location = $("#ddlLocation").val();
            var urlpath = '@Url.Action("LoadWareHouse", "ItemRequisition")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { location: parseInt(location), warehouseTypeId:0 },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Warehouse--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].WareHouseId).html(data[i].WareHouseName));
                    }

                }
            });
        }
        function LoadCustomer(elementId) {
            var urlpath = '@Url.Action("GetCustomer", "SalesOrderProcess")';

            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { typeid :0},
                async: true,
                success: function (data) {
                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Customer--</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].CustomerID).html(data[i].CustomerName));
                    }
                }
            });
        }

        function LoadReport() {
            if (RptValidation() == true) {
                var warehouseID = $("#ddlWarehouse").val() ;
                var fromDate = $("#fromDate").val();
                var toDate = $("#toDate").val();
                var customerId = $("#ddlCustomer").val();
                var urlpath = '@Url.Action("GetUndeliverProduct", "Report")';

                $.ajax({
                    url: urlpath,
                    data: { soDate: fromDate, deliveryDate: toDate, warehouseId: warehouseID, customerId: customerId},
                    dataType: 'html',
                    type: "Get",
                    success: function (data) {
                        $("#salesReport").html(data);
                    },
                    complete: function () {


                        $('#companyHeader').html("IG Foods Limited");
                        $('#reportHeader').html("Undelivered Report");
                        $('#reportDate').html('Report Date: ' + $("#fromDate").val() + '  Delivery Date' + $("#toDate").val());

                    }
                });
            }
        }


        function exportExcel(e) {
            if ($('#SupplierLedgerTable tbody tr').length == 0) {
                swal("No Data to Export");
            } else {
                var file = new Blob([$('#salesReportDiv').html()], { type: "application/vnd.ms-excel" });
                var url = URL.createObjectURL(file);
                var a = $("<a />", {
                    href: url,
                    download: "ProductReceivedReport.xls"

                }).appendTo("body").get(0).click();
            }
        }

        function RptValidation() {



            var isValid = true;

            //if (($('#fromDate').val() == 0 || $('#fromDate').val() == '')) {
            //    ValidationColorChangeNew('fromDate', 'divDelivaryDate', 'Please Select From Date', true);
            //    isValid = false;
            //}

            //if ($('#toDate').val() == 0 || $('#toDate').val() == '') {
            //    ValidationColorChangeNew('toDate', 'divToDate', 'Please Select To Date', true);
            //    isValid = false;
            //}


            return isValid;
        }
</script>
}