﻿
@{
    ViewBag.Title = "Yearly Sales Report";
}

<style>
    #manuallist {
        padding: 10px;
    }

    .form-control {
        height: calc(1.7rem + 2px);
    }
</style>


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">

                        <div class="row">

                            <div class="col-md-6">
                                <h3>Yearly Sales Report</h3>
                            </div>
                            <div class="col-md-6 text-right ">
                           
                            </div>

                        </div>



                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group" id="divFromDate">
                                    <label for="fromDate">Report Year<span class="text-danger"> *</span></label>
                                    <input type="text" class="form-control datepicker" style="width: 100%;" id="fromDate" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="cashRadio">Product Type</label>
                                <div class="form-group clearfix">
                                    @*<div class="icheck-success d-inline col-md-6">
                                        <input type="radio" id="All" name="productType" value="0" checked="" >
                                        <label for="All">All</label>
                                    </div>*@
                                    <div class="icheck-success d-inline col-md-6">
                                        <input type="radio" id="Dressed" name="productType" value="1">
                                        <label for="Dressed">Dressed Birds</label>
                                    </div>
                                    <div class="icheck-success d-inline col-md-6">
                                        <input type="radio" id="Further" name="productType" value="4">
                                        <label for="Further">Further Process</label>
                                    </div>
                                    <div class="icheck-success d-inline col-md-6">
                                        <input type="radio" id="ByProduct" name="productType" value="2">
                                        <label for="ByProduct">By Product</label>
                                    </div>
                                    <div class="icheck-success d-inline col-md-6">
                                        <input type="radio" id="Portion" name="productType" value="3">
                                        <label for="Portion">Portion</label>
                                    </div>
                                    <div class="icheck-success d-inline col-md-6">
                                        <input type="radio" id="egg" name="productType" value="5">
                                        <label for="egg">Egg</label>
                                    </div>
                                    <div class="icheck-success d-inline col-md-6">
                                        <input type="radio" id="Fish" name="productType" value="6">
                                        <label for="Fish">Fish</label>
                                    </div>
                                    <div class="icheck-success d-inline col-md-6">
                                        <input type="radio" id="Meat" name="productType" value="7">
                                        <label for="Meat">Meat</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3" style="top: 20px">
                               
                                <button style="margin-left: 27px;top: 20px" class="btn btn-primary" onclick="ShowReport()"> View Report</button>

                            </div>
                            
                            <div class="col-md-3"  style="top: 20px">
                                <button class='btn btn-success' type='button' style="display: none;" id="Export" onclick="exportExcel()">Export To excel</button>

                            </div>
                        </div>

                    </div>
                
                
                    <br />
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body" id="ReportDiv">
                                <div class="card-header with-border">
                                    <div id="">
                                        <h3 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="companyHeader"></h3>
                                        <h4 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="reportHeader"></h4>
                                        <h4 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="glName"></h4>
                                        <h4 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="reportDate"></h4>
                                        <div class="row">
                                            <div class="col-md-12">

                                                <table class="table table-bordered table-striped table-hover table-responsive">
                                                    <thead>
                                                    <tr style="background-color:#62b342">
                                                        <th style="width: 15%" rowspan="2">Product Name</th>
                                                        <th style="width: 15%" rowspan="2">UoM</th>
                                                        <th class="text-center" colspan="3">Total Sales</th>
                                                        <th class="text-center" colspan="3">January</th>
                                                        <th class="text-center" colspan="3">February</th>
                                                        <th class="text-center" colspan="3">March</th>
                                                        <th class="text-center" colspan="3">April</th>
                                                        <th class="text-center" colspan="3">May</th>
                                                        <th class="text-center" colspan="3">June</th>
                                                        <th class="text-center" colspan="3">July</th>
                                                        <th class="text-center" colspan="3">August</th>
                                                        <th class="text-center" colspan="3">September</th>
                                                        <th class="text-center" colspan="3">October</th>
                                                        <th class="text-center" colspan="3">November</th>
                                                        <th class="text-center" colspan="3">December</th>
                                                    </tr>
                                                    <tr style="background-color: #b5ed9f">
                                                      
                                                        <th>Total Sales Qty/KG</th>
                                                        <th >Weighted Sales Price-Tk/Kg</th>
                                                        <th >Total Sales Value-Tk</th>

                                                        <th>Total Sales Qty/KG</th>
                                                        <th>Weighted Sales Price-Tk/Kg</th>
                                                        <th>Total Sales Value-Tk</th>

                                                        <th>Total Sales Qty/KG</th>
                                                        <th>Weighted Sales Price-Tk/Kg</th>
                                                        <th>Total Sales Value-Tk</th>

                                                        <th>Total Sales Qty/KG</th>
                                                        <th>Weighted Sales Price-Tk/Kg</th>
                                                        <th>Total Sales Value-Tk</th>

                                                        <th>Total Sales Qty/KG</th>
                                                        <th>Weighted Sales Price-Tk/Kg</th>
                                                        <th>Total Sales Value-Tk</th>

                                                        <th>Total Sales Qty/KG</th>
                                                        <th>Weighted Sales Price-Tk/Kg</th>
                                                        <th>Total Sales Value-Tk</th>

                                                        <th>Total Sales Qty/KG</th>
                                                        <th>Weighted Sales Price-Tk/Kg</th>
                                                        <th>Total Sales Value-Tk</th>

                                                        <th>Total Sales Qty/KG</th>
                                                        <th>Weighted Sales Price-Tk/Kg</th>
                                                        <th>Total Sales Value-Tk</th>

                                                        <th>Total Sales Qty/KG</th>
                                                        <th>Weighted Sales Price-Tk/Kg</th>
                                                        <th>Total Sales Value-Tk</th>

                                                        <th>Total Sales Qty/KG</th>
                                                        <th>Weighted Sales Price-Tk/Kg</th>
                                                        <th>Total Sales Value-Tk</th>

                                                        <th>Total Sales Qty/KG</th>
                                                        <th>Weighted Sales Price-Tk/Kg</th>
                                                        <th>Total Sales Value-Tk</th>

                                                        <th>Total Sales Qty/KG</th>
                                                        <th>Weighted Sales Price-Tk/Kg</th>
                                                        <th>Total Sales Value-Tk</th>

                                                        <th>Total Sales Qty/KG</th>
                                                        <th>Weighted Sales Price-Tk/Kg</th>
                                                        <th>Total Sales Value-Tk</th>

                                                      
                                                    </tr>
                                                    </thead>
                                                    <tbody id="manuallist"></tbody>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>



                    </div>


                </div>

            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->

</section>


@section Scripts
{


    <script type="text/javascript">
        $(function () {
            $("#fromDate").datepicker({
                format: "yyyy",
                viewMode: "years",
                minViewMode: "years"
            });

            //var productType = $("#productType").val();
            //console.log(productType);

        });

        function ShowReport() {
         
            var fromdate;
            var todate;
            var glId = $('#ddlGL').val();
            var glName = $(' #ddlGL option:selected').text();
         

      

            if ($('#fromDate').val() == "") {
                swal("Please Select Year");
                return;
            } else {
                fromdate = $('#fromDate').val();
            }
            var productType = document.querySelector('input[name="productType"]:checked').value;
           console.log(productType);

            var urlpath = '@Url.Action("YearlySalesReportDAta", "Report")';
            $.ajax({
                url: urlpath,
                dataType: 'html',
                type: "Get",
                data: { yearId: fromdate, productType: productType },
                async: false,

                success: function(data) {

                    data = JSON.parse(data);
                    $("#manuallist").html("");
                    $('#Export').hide();
                    if (data.length > 0) {


                        var row = "";
                        var count = 1;
                        $("#manuallist").html("");

                        var count = 1;
                        for (var i = 0; i < data.length; i++) {

                            if (data[i].RN == 0 && data[i].TotalSalesT.toFixed(2) > 0) {
                                row += "<tr style='background-color:#d2d9d4;font-weight:bold'>";

                                row += "<td style='text-align:center;width:15%'>" + data[i].ProductName + "</td>";
                                row += "<td style='text-align:center;width:5%'>" + data[i].UOMName + "</td>";

                                if (data[i].IssueQtyT.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].IssueQtyT.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].rating_averageT.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].rating_averageT.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].TotalSalesT.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].TotalSalesT.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }

                                if (data[i].IssueQty1.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].IssueQty1.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].rating_average1.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].rating_average1.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].TotalSales1.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].TotalSales1.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }

                                if (data[i].IssueQty2.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].IssueQty2.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].rating_average2.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].rating_average2.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].TotalSales2.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].TotalSales2.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }

                                if (data[i].IssueQty3.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].IssueQty3.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].rating_average3.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].rating_average3.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].TotalSales3.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].TotalSales3.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }


                                if (data[i].IssueQty4.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].IssueQty4.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].rating_average4.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].rating_average4.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].TotalSales4.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].TotalSales4.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }

                                if (data[i].IssueQty5.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].IssueQty5.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].rating_average5.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].rating_average5.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].TotalSales5.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].TotalSales5.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }

                                if (data[i].IssueQty6.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].IssueQty6.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].rating_average6.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].rating_average6.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].TotalSales6.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].TotalSales6.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].IssueQty7.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].IssueQty7.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].rating_average7.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].rating_average7.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].TotalSales7.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].TotalSales7.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].IssueQty8.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].IssueQty8.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].rating_average8.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].rating_average8.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].TotalSales8.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].TotalSales8.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].IssueQty9.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].IssueQty9.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].rating_average9.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].rating_average9.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].TotalSales9.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].TotalSales9.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].IssueQty10.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].IssueQty10.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].rating_average10.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].rating_average10.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].TotalSales10.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].TotalSales10.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].IssueQty11.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].IssueQty11.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].rating_average11.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].rating_average11.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].TotalSales11.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].TotalSales11.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].IssueQty12.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].IssueQty12.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].rating_average12.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].rating_average12.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].TotalSales12.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].TotalSales12.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                //row += "<td style='text-align:center'>" + data[i].IssueQtyT.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].rating_averageT.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].TotalSalesT.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].IssueQty1.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].rating_average1.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].TotalSales1.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].IssueQty2.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].rating_average2.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].TotalSales2.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].IssueQty3.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].rating_average3.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].TotalSales3.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].IssueQty4.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].rating_average4.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].TotalSales4.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].IssueQty5.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].rating_average5.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].TotalSales5.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].IssueQty6.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].rating_average6.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].TotalSales6.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].IssueQty7.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].rating_average7.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].TotalSales7.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].IssueQty8.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].rating_average8.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].TotalSales8.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].IssueQty9.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].rating_average9.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].TotalSales9.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].IssueQty10.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].rating_average10.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].TotalSales10.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].IssueQty11.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].rating_average11.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].TotalSales11.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].IssueQty12.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].rating_average12.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].TotalSales12.toFixed(2) + "</td>";



                                row += "</tr>";
                            } else {
                                row += "<tr>";

                                row += "<td style='text-align:center;width:15%'>" + data[i].ProductName + "</td>";
                                row += "<td style='text-align:center;width:5%'>" + data[i].UOMName + "</td>";

                                if (data[i].IssueQtyT.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].IssueQtyT.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].rating_averageT.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].rating_averageT.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].TotalSalesT.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].TotalSalesT.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }

                                if (data[i].IssueQty1.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].IssueQty1.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].rating_average1.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].rating_average1.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].TotalSales1.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].TotalSales1.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }

                                if (data[i].IssueQty2.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].IssueQty2.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].rating_average2.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].rating_average2.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].TotalSales2.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].TotalSales2.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }

                                if (data[i].IssueQty3.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].IssueQty3.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].rating_average3.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].rating_average3.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].TotalSales3.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].TotalSales3.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }


                                if (data[i].IssueQty4.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].IssueQty4.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].rating_average4.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].rating_average4.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].TotalSales4.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].TotalSales4.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }

                                if (data[i].IssueQty5.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].IssueQty5.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].rating_average5.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].rating_average5.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].TotalSales5.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].TotalSales5.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }

                                if (data[i].IssueQty6.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].IssueQty6.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].rating_average6.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].rating_average6.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].TotalSales6.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].TotalSales6.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].IssueQty7.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].IssueQty7.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].rating_average7.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].rating_average7.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].TotalSales7.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].TotalSales7.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].IssueQty8.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].IssueQty8.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].rating_average8.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].rating_average8.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].TotalSales8.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].TotalSales8.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].IssueQty9.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].IssueQty9.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].rating_average9.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].rating_average9.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].TotalSales9.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].TotalSales9.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].IssueQty10.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].IssueQty10.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].rating_average10.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].rating_average10.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].TotalSales10.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].TotalSales10.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].IssueQty11.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].IssueQty11.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].rating_average11.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].rating_average11.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].TotalSales11.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].TotalSales11.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].IssueQty12.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].IssueQty12.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].rating_average12.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].rating_average12.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                if (data[i].TotalSales12.toFixed(2) > 0) {
                                    row += "<td style='text-align:center'>" + data[i].TotalSales12.toFixed(2) + "</td>";
                                } else {
                                    row += "<td style='text-align:center'></td>";
                                }
                                //row += "<td style='text-align:center'>" + data[i].IssueQty1.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].rating_average1.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].TotalSales1.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].IssueQty2.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].rating_average2.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].TotalSales2.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].IssueQty3.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].rating_average3.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].TotalSales3.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].IssueQty4.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].rating_average4.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].TotalSales4.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].IssueQty5.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].rating_average5.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].TotalSales5.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].IssueQty6.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].rating_average6.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].TotalSales6.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].IssueQty7.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].rating_average7.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].TotalSales7.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].IssueQty8.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].rating_average8.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].TotalSales8.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].IssueQty9.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].rating_average9.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].TotalSales9.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].IssueQty10.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].rating_average10.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].TotalSales10.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].IssueQty11.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].rating_average11.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].TotalSales11.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].IssueQty12.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].rating_average12.toFixed(2) + "</td>";
                                //row += "<td style='text-align:center'>" + data[i].TotalSales12.toFixed(2) + "</td>";



                                row += "</tr>";
                            }
                            
                        count = count + 1;

                    }
                        $("#manuallist").html(row);
                        $('#Export').show();
                    }


                },
                complete: function () {


                    $('#companyHeader').html("IG Foods Limited");
                    $('#reportHeader').html('Month wise Sales Analysis for the year of ' + $("#fromDate").val());
                    //$('#glName').html('GL Account: ' + glName+'('+  refName+')');
                    ////$('#refName').html('GL Account: ' + refName);
                    //$('#reportDate').html('Date: ' + $("#txtFromDate").val() + ' to ' + $("#txtToDate").val());

                }
        });
    }


    

        function exportExcel(e) {

            var file = new Blob([$('#ReportDiv').html()], { type: "application/vnd.ms-excel" });
            var url = URL.createObjectURL(file);

            var a = $("<a />", {
                href: url,

                download: "MonthlySaleOfIG.xls"

            }).appendTo("body").get(0).click();

            e.preventDefault();


        }

    </script>







}


