﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Commercial Hatchery | Lockscreen</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/AssetStatic/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/AssetStatic/assets/font-awesome/css/font-awesome.min.css">
    <link href="~/AssetStatic/plugins/SweetAlert/dist/sweetalert.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AssetStatic/dist/css/AdminLTE.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .lockscreen-wrapper {
            color: black;
            /*background-color: #3a6d98;*/
            padding: 30px 50px;
            max-width: 728px;
            margin: 0 auto;
            margin-top: 8%;
            box-shadow: 0px 1px 18px #888888;
            border-radius: 30px;
        }

        .lockscreen-logo a {
            color: black;
        }

        .help-block {
            color: #080404;
        }

        .lockscreen .lockscreen-name {
            color: darkslateblue;
        }
    </style>
</head>
<body class="hold-transition lockscreen">
    <div class="col-md-12">
        <h1 style="color: darkred;text-align: center">Session has expired !!</h1>
    </div>
    <hr />
    <!-- Automatic element centering -->
    <input id="empId" value="@ViewBag.EmpId" class="form-control" style="display: none" />
    <div class="lockscreen-wrapper">

        <div class="lockscreen-logo">
            <a><b style="color: teal">IGFOOD</b></a>
        </div>
        <!-- User name -->

        <div class="lockscreen-name">@{@ViewBag.EmpName}</div>
        <!-- START LOCK SCREEN ITEM -->
        <div class="lockscreen-item">
            <!-- lockscreen image -->
            <div class="lockscreen-image">
                @*<img src="../../dist/img/user1-128x128.jpg" alt="User Image">*@
                @*<img src="../../dist/img/user1-128x128.jpg" alt="User Image">*@
                <img src="~/AssetStatic/assets/img/userImgIcon.png" alt="user image" />
            </div>
            <!-- /.lockscreen-image -->
            <!-- lockscreen credentials (contains the form) -->
            <form class="lockscreen-credentials">
                <div class="input-group">
                    <input type="password" class="form-control" placeholder="password" id="password"/>
                    <div class="input-group-btn">
                        <button type="button" class="btn" onclick="SaveFinal()"><i class="fa fa-arrow-right text-muted"></i></button>
                    </div>
                </div>
            </form>
            <!-- /.lockscreen credentials -->
        </div>
        <!-- /.lockscreen-item -->
        <div class="help-block text-center">
            Enter your password to retrieve your session
        </div>
        <div class="text-center">
            <a style="color: firebrick;" href='@Url.Action("Login", "Home")'>Or sign in as a different user</a>
        </div>
        <div class="lockscreen-footer text-center">
            Copyright &copy; 2017-2018 <b><a href="http://aims.info.bd" class="text-black">Aims.info.bd</a></b><br>
            All rights reserved
        </div>
    </div>
    <!-- /.center -->
    <!-- jQuery 2.2.3 -->
    <script src="~/AssetStatic/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/AssetStatic/plugins/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>

<script src="~/AssetStatic/assets/js/jquery-1.11.1.min.js"></script>
<script src="~/AssetStatic/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="~/AssetStatic/assets/js/jquery.backstretch.min.js"></script>
<script src="~/AssetStatic/assets/js/scripts.js"></script>

<script src="~/AssetStatic/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/AssetStatic/js/custom-functions.js"></script>

<script type="text/javascript">





        function SaveFinal() {
            if (SaveValidation() == true) {
                LoginSuccess();
            }
        }


        function SaveValidation() {
            var rVal = true;
            var rVal1 = true;
            var sameVal = false;
            var message1 = 'Session has expired completely.. Please Login From Login Page!!!';
            var message = 'Please Enter Password!!!';
            if ($('#empId').val() == '') {
                rVal1 = false;
            }

            if ($('#password').val() == '') {
                rVal = false;
            }


            if (rVal == false) {
                ShowMessage(message);
                return rVal;
            }
            else if (rVal == true && rVal1 == false) {
                ShowMessage(message1);
                return rVal1;
            } else {
                return rVal;
            }


        }

        function CheckLogin(userName, pass) {

            var result = false;
            var urlpath = '@Url.Action("CheckLogin", "Home")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Post",
                data: { userName:userName, pass:pass },
                async: false,
                success: function (data) {

                    result = data;

                }
            });
            return result;


        }

        function LoginSuccess() {

            var userName = $('#empId').val();
            var pass = $('#password').val();
            var val = CheckLogin(userName, pass);

            if (val == true) {
                rVal = true;
                window.location.href = '@Url.Action("Index", "Home")';
            }
            else {
                rVal = false;
                message = 'Invalid Credentials .!!!';
            }


            if (rVal == false) {
                ShowMessage(message);
            }


        }
</script>