﻿
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IG Food Management System</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="~/AssetStatic/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/AssetStatic/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/AssetStatic/assets/css/form-elements.css">
    <link rel="stylesheet" href="~/AssetStatic/assets/css/style.css">

    <link href="~/AssetStatic/plugins/sweetalert/dist/sweetalert.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Favicon and touch icons -->

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/AssetStatic/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/AssetStatic/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/AssetStatic/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/AssetStatic/assets/ico/apple-touch-icon-57-precomposed.png">
    @*<style>
                label{
                    margin-top:-4px;
                }
        <script src="~/Scripts/custom-function.js"></script>
            </style>*@

    <style type="text/css">
        body {
            
            background-image: url('../../AssetStatic/Images/calories-chicken-chopping-board-cooked-616330.jpg');
            background-size: cover;
        }
    </style>
    <script type="text/javascript">
    window.history.forward();
    </script>

</head>

<body>

    <!-- Top content -->
    <div class="top-content">

        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1 style="color:#2251A3 "><strong>IG Foods Management System</strong>
                        </h1>
                        @*<img src="~/AssetStatic/Images/IG Food.jpg" />*@
                        <div class="description">
                            <p>
                                @*This is a free responsive login form made with Bootstrap.
                                    Download it on <a href="http://azmind.com"><strong>AZMIND</strong></a>, customize and use it as you like!*@
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h2 align="center">Sign in</h2>
                                @*<p>Enter your username and password to log on:</p>*@
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-lock"></i>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <form method="post" class="login-form" action="@Url.Action("LoginAction", "Home")">
                                <div class="form-group">
                                    <label class="sr-only" for="form-username">Username</label>
                                    <input type="text" name="username" placeholder="Username..." class="form-username form-control" id="form-username">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="form-password">Password</label>
                                    <input type="password" name="password" placeholder="Password..." class="form-password form-control" id="form-password">

                                </div>
                                <div class="form-group">

                                    <div class="checkbox">
                                        <input id="checkbox-signup" type="checkbox">
                                        <label for="checkbox-signup">
                                            Remember me
                                        </label>
                                    </div>

                                </div>
                                <button type="submit" class="btn">Sign in!</button>
                                <div>
                                    <div class="text-xs-center">
                                        @* <p class="text-white">Don't have an account? <a href="@Url.Action("RequestAccount","Home")"><b>Sign Up</b></a></p>*@
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                @*<div class="row">
                        <div class="col-sm-6 col-sm-offset-3 social-login">
                            <h3>...or login with:</h3>
                            <div class="social-login-buttons">
                                <a class="btn btn-link-2" href="#">
                                    <i class="fa fa-facebook"></i> Facebook
                                </a>
                                <a class="btn btn-link-2" href="#">
                                    <i class="fa fa-twitter"></i> Twitter
                                </a>
                                <a class="btn btn-link-2" href="#">
                                    <i class="fa fa-google-plus"></i> Google Plus
                                </a>
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>

    </div>


    <!-- Javascript -->
    <script src="~/AssetStatic/assets/js/jquery-1.11.1.min.js"></script>
    <script src="~/AssetStatic/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/AssetStatic/assets/js/jquery.backstretch.min.js"></script>
    <script src="~/AssetStatic/assets/js/scripts.js"></script>

    <script src="~/AssetStatic/plugins/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/AssetStatic/js/custom-functions.js"></script>
    <script type="text/javascript">

        $(document).keypress(function (event) {

            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                SaveFinal();
            }

        });



        function SaveFinal() {
            if (SaveValidation() == true) {
                LoginSuccess();
            }
        }


        function SaveValidation() {
            var rVal = true;
            var sameVal = false;
            var message = 'Some value is required.!!!';
            if ($('#form-username').val() == '') {
                rVal = false;
            }

            if ($('#form-password').val() == '') {
                rVal = false;
            }


            if (rVal == false) {
                ShowMessage(message);
            }
            return rVal;
        }

        @*function CheckLogin(userName, pass) {

            var result = 0;
            var urlpath = '@Url.Action("CheckLogin", "Home")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { userName:userName, pass:pass },
                async: false,
                success: function (data) {

                    result = data;

                }
            });
            return result;


        }*@

        @*function LoginSuccess() {

            var userName = $('#form-username').val();
            var pass = $('#form-password').val();
            var val = CheckLogin(userName, pass);


            if (val.isvalid == true) {
                rVal = true;
                window.location.href = '@Url.Action("Index", "Home")';
            }
            if (val.isvalid == false) {
                ShowMessage(val.message);
            }
//            else {
//                rVal = false;
//                message = 'Invalid Credentials .!!!';
//            }
//
//
//            if (rVal == false) {
//                ShowMessage(message);
//            }


        }*@
    </script>

</body>

</html>