﻿
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="row">

                            <div class="col-md-4">
                                <h3 id="salesOrderNo"></h3>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group" id="divCompany">
                                    <label for="ddlCompany">Company</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlCompany" disabled="disabled"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divCustomerType">
                                    <label for="ddlCustomerType">Customer Type</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlCustomerType" onchange="LoadCustomer('ddlCustomer')" disabled="disabled"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divCustomer">
                                    <label for="ddlCustomer">Customer</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlCustomer" onchange="LoadDeliveryWarehouse()"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divOrderDate">
                                    <label for="txtOrderDate">Order Date</label>
                                    <input type="text" id="txtOrderDate" class="form-control datepicker" onchange="CheckCurrentdate()" value="@DateTime.Now.ToString("dd-MMM-yyyy")" disabled="disabled" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                @*<div id="customerDetails"></div>*@
                                <div class="form-group" id="divRetailCustomerPhoneNo">
                                    <label for="txtRetailCustomerPhoneNo">Retail Customer Contact</label>
                                    <input type="hidden" id="txtRetailCustomerId" />
                                    <input type="text" id="txtRetailCustomerPhoneNo" class="form-control" onkeyup="CheckRetailCustomer()" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" id="divDeliveryDate">
                                    <label for="txtDeliveryDate">Delivery Date</label>
                                    <input type="text" id="txtDeliveryDate" class="form-control" autocomplete="off" onchange="CheckCurrentdate()" value="@DateTime.Now.ToString("dd-MMM-yyyy")" disabled="disabled" />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <input type="checkbox" class="form-check-input" id="chkEmployee" style="margin-left: 3px; margin-top: 20px;" onclick="Checko()" checked="checked" />
                                <label class="form-check-label" for="chkEmployee" style="margin-left: 24px; margin-top: 17px;">Is Employee</label>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divSalesPerson">
                                    <label for="txtSalesPerson">Sales Person</label>
                                    <input type="text" id="txtSalesPerson" class="form-control"  disabled="disabled"/>
                                    <input type="hidden" id="employeeSelect" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="dovSalesPersonNo">
                                    <label for="txtSalesPersonNo">Sales Person Contact</label>
                                    <input type="text" id="txtSalesPersonNo" class="form-control" />
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group" id="divRetailCustomerName">
                                    <label for="txtRetailCustomerName">Retail Customer Name</label>
                                    <input type="text" id="txtRetailCustomerName" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divDestination">
                                    <label for="txtDestination">Destination</label>
                                    <input type="text" id="txtDestination" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divRemarks">
                                    <label for="txtRemarks">Remarks</label>
                                    <textarea type="text" class="form-control" id="txtRemarks"></textarea>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divDeliveryWarehouse">
                                    <label for="ddlDeliveryWarehouse">Delivery Warehouse</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlDeliveryWarehouse"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <span id="spnote" style="color: red; display: none;">
                                        2% weight loss discount is aplicable on proccess product for dealer on <b>***base price***</b> .
                                        Sale Price is showing after 2% secondary weight loss.
                                    </span>
                                </div>
                            </div>
                            <div id="sr" class="col-md-3 d-none ">
                                <div class="form-group" id="divSR">
                                    <label for="ddlSr">SR Name</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlSr"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row table-responsive">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <table class="table table-bordered table-striped table-hover" id="salesOrder">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Product</th>
                                                @* <th>Product Category</th>*@
                                                <th>Stock Qty</th>
                                                <th>Stock Kg</th>
                                                @*<th>Base Price</th>*@
                                                @*<th>Weight Loss Value</th>*@
                                                <th>MRP</th>
                                                <th>Sale Qty</th>
                                                @*<th>Sale KG</th>*@
                                                <th>Amount</th>
                                                <th width="20"><label id="lbldiscount">Discount %</label> </th>
                                                <th width="20"><label id="lbldiscountamt">Discount Amt.</label> </th>
                                                <th>Tax</th>
                                                <th>Total Amount</th>
                                                <th class="action">Action</th>
                                                <th class="aHide">Already Picked</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="totalqty" class="col-sm-2 control-label">Order Total Qty:</label>
                                    <div class="col-sm-3">
                                        <label id="totalqty">0</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="totalKg" class="col-sm-2 control-label">Order Total Qty In KG:</label>
                                    <div class="col-sm-3">
                                        <label id="totalKg">0</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="taxVat" class="col-sm-2 control-label">TAX & VAT:</label>
                                    <div class="col-sm-3">
                                        <label id="taxVat">0</label>
                                        <label> %</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="totalIncTacVat" class="col-sm-2 control-label">Total Taka Including TAX & VAT:</label>
                                    <div class="col-sm-3">
                                        <label id="totalIncTacVat">0</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="totalExTaxVat" class="col-sm-2 control-label">Total Taka Excludeing TAX & VAT:</label>
                                    <div class="col-sm-3">
                                        <label id="totalExTaxVat">0</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="ddlCollection" class="col-sm-2 control-label">Collection :</label>
                                    <div class="col-sm-2" id="divCollection">
                                        <select id="ddlCollection" class="form-control"></select>
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="number" id="txtCollection" value="0" class="form-control" oninput="CalculateAll()" />
                                    </div>
                                </div>
                                <div class="form-group row" id="divBankBranch">
                                    <label for="ddlCollection" class="col-sm-2 control-label">Bank & Branch :</label>
                                    <div class="col-sm-2" id="divBankNo">
                                        <select id="ddlBankCollection" class="form-control"></select>
                                    </div>
                                    <div class="col-sm-2" id="divBranchNo">
                                        <select id="ddlBranchCollection" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="form-group row" id="divRef">
                                    <label for="ddlCollection" class="col-sm-2 control-label">Cheque No & Date :</label>
                                    <div class="col-sm-2" id="divRefNo">
                                        <input type="text" id="txtRefNo" value="" class="form-control" />
                                    </div>
                                    <div class="col-sm-2" id="divRefDate">
                                        <input type="text" id="txtRefDate" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="lblRestAmount" class="col-sm-2 control-label">Rest Amount :</label>
                                    <div class="col-sm-3">
                                        <label id="lblRestAmount">0</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-outline-danger float-right" href="@Url.Action("RestaturantSalesList", "RestaturantSales")">Cancel</a>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
        <input id="salesOrderId" type="number" style="display: none;" value="@ViewBag.SalesOrderId">
        <input id="eflag" type="text" style="display: none;" value="@ViewBag.eflag">
    </div>
</section>
