﻿
@{
    ViewBag.Title = "SalesPersonWiseSalesOrderReport";
}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title"> Sales Report Sales Person Wise</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card" style="height: 335px">
                                        <div class="card-header">
                                            <h3 class="card-title">
                                                <i class="fa fa-arrow-down"></i>
                                                Sales Person hierarchy
                                            </h3>

                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                            <div class="form-group" id="divDivision">
                                                <label>Division</label>
                                                <select class="form-control select2" id="ddlDivision" style="width: 100%;"></select>
                                            </div>
                                            <div class="form-group" id="divArea">
                                                <label>Area</label>
                                                <select class="form-control select2" id="ddlArea" style="width: 100%;"> </select>
                                            </div>
                                            <div class="form-group" id="divTerritory">
                                                <label>Territory</label>
                                                <select class="form-control select2" id="ddlTerritory" style="width: 100%;"> </select>
                                            </div>
                                            <div class="form-group" id="divMarket">
                                                <label>Market</label>
                                                <select class="form-control select2" id="ddlMarket" style="width: 100%;"> </select>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.card-body -->

                                </div>

                                <div class="col-md-4">
                                    <div class="card" style="height: 335px">
                                        <div class="card-header">
                                            <h3 class="card-title">
                                                <i class="fa fa-person-booth"></i>
                                                Sales Person & Report Name
                                            </h3>

                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                            <div class="form-group " id="divCustomer">
                                                <label for="txtSalesPerson">Sales Person</label>
                                                <input type="text" id="txtSalesPerson" class="form-control" />
                                                <input type="number" id="employeeSelect" style="display: none" class="form-control" />
                                            </div>
                                            <div class="form-group ">
                                                <label for="dateRange ">Report Date Range<span style="color: red"> *</span></label>
                                                <input type="text" class="form-control datepicker" autocomplete="off" id="dateRange">
                                            </div>
                                            <div class="col-md-12 icheck-primary">
                                                <div class="form-group clearfix">
                                                    <div class="icheck-success d-inline col-md-3">
                                                        <input type="radio" id="orderRadio" name="reportType" value="1" checked="">
                                                        <label for="orderRadio">Order</label>
                                                    </div>
                                                    <div class="icheck-success d-inline col-md-3">
                                                        <input type="radio" id="challanradio" name="reportType" value="2">
                                                        <label for="challanradio">Challan</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 icheck-primary">
                                                <div class="form-group clearfix">
                                                    <div class="icheck-success d-inline col-md-3">
                                                        <input type="radio" id="dateRadio" name="dateType" value="1" checked="">
                                                        <label for="dateRadio">Date Wise</label>
                                                    </div>
                                                    @*<div class="icheck-success d-inline col-md-2">
                                                        <input type="radio" id="summaryradio" name="dateType" value="2">
                                                        <label for="summaryradio">Summary</label>
                                                    </div>*@
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-body -->

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card" style="height: 335px">
                                        <div class="card-header">
                                            <h3 class="card-title">
                                                <i class="ion ion-clipboard mr-1"></i>
                                                Customer Type
                                            </h3>

                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                            <ul class="todo-list">
                                                <li>
                                                    <!-- drag handle -->
                                                    <!-- checkbox -->
                                                    <div class="icheck-primary d-inline ml-2">
                                                        <input type="checkbox" id="allCheckbox" value="0" checked>
                                                        <label for="allCheckbox"></label>
                                                    </div>
                                                    <!-- todo text -->
                                                    <span class="text">All</span>
                                                    <!-- Emphasis label -->
                                                    <!-- General tools such as edit or delete-->

                                                </li>
                                                @*<li>

                                                    <div class="icheck-primary d-inline ml-2">
                                                        <input type="checkbox" class="form-control-input customerType" id="horecaCheckbox" value="1" onclick="chkbox()">
                                                        <label for="horecaCheckbox"></label>
                                                    </div>
                                                    <span class="text">HORECA</span>

                                                </li>
                                                <li>

                                                    <div class="icheck-primary d-inline ml-2">
                                                        <input type="checkbox" class="form-control-input customerType" id="corporateCheckbox" value="2" onclick="chkbox()">
                                                        <label for="corporateCheckbox"></label>
                                                    </div>
                                                    <span class="text">Corporate</span>

                                                </li>
                                                <li>

                                                    <div class="icheck-primary d-inline ml-2">
                                                        <input type="checkbox" class="form-control-input customerType" id="ownSaleCheckbox" value="3" onclick="chkbox()">
                                                        <label for="ownSaleCheckbox"></label>
                                                    </div>
                                                    <span class="text">Own Sales</span>

                                                </li>
                                                <li>

                                                    <div class="icheck-primary d-inline ml-2">
                                                        <input type="checkbox" class="form-control-input customerType" id="fatcoryCheckbox" value="4" onclick="chkbox()">
                                                        <label for="fatcoryCheckbox"></label>
                                                    </div>
                                                    <span class="text">Fatcory</span>

                                                </li>
                                                <li>

                                                    <div class="icheck-primary d-inline ml-2">
                                                        <input type="checkbox" class="form-control-input customerType" id="dealerCheckbox" value="5" onclick="chkbox()">
                                                        <label for="dealerCheckbox"></label>
                                                    </div>
                                                    <span class="text">Dealer</span>

                                                </li>
                                                <li>

                                                    <div class="icheck-primary d-inline ml-2">
                                                        <input type="checkbox" class="form-control-input customerType" id="modernCheckbox" value="6" onclick="chkbox()">
                                                        <label for="modernCheckbox"></label>
                                                    </div>
                                                    <span class="text">Modern Trade</span>

                                                </li>*@
                                                <li>

                                                    <div class="icheck-primary d-inline ml-2">
                                                        <input type="checkbox" class="form-control-input customerType" id="retailCheckbox" value="12" onclick="chkbox()">
                                                        <label for="modernCheckbox"></label>
                                                    </div>
                                                    <span class="text">Restaturant</span>

                                                </li>
                                            </ul>
                                            <div class="form-group" id="divCustomer">
                                                <label for="ddlCustomer">Customer</label>
                                                <select class="form-control select2" style="width: 100%;" id="ddlCustomer" onchange="LoadDeliveryWarehouse()"></select>
                                            </div>
                                            <div class="form-group" id="divDeliveryWarehouse">
                                                <label for="ddlDeliveryWarehouse">Delivery Warehouse</label>
                                                <select class="form-control select2" style="width: 100%;" id="ddlDeliveryWarehouse"></select>
                                            </div>
                                        </div>
                                        <!-- /.card-body -->

                                    </div>
                                </div>
                            </div>
                            <div class="row">


                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary float-right" onclick="LoadReport()">Submit</button>
                            <button type="button" class="btn btn-success float-left" onclick="exportExcel()">Export To Excel</button>
                            @*<button class="btn btn-outline-danger  float-right" onclick="location.reload()">Cancel</button>*@
                        </div>
                    </div>
                    <!-- /.card -->

                    <div class="card divclass" id="salesReportDiv">
                        <div class="card-header with-border">
                            <div id="">
                                <h3 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="companyHeader"></h3>
                                <h4 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="reportHeader"></h4>

                                <div class="row">
                                    <div class="offset-md-10 col-md-2">
                                        <label id="reportDate"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body" id="salesReport">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-xs-12 text-center" id="testSpan" style="display: none">

            <span>
                Please wait Data is loading -
                <img src="~/AssetStatic/Images/Double Ring.gif" />
            </span>

        </div>
    </section>
@section Scripts{
    <script>
        $(function () {
            
            EmpAutoCom('txtSalesPerson', 'employeeSelect');
            LoadDivision('ddlDivision');
            LoadAreaByDivisionId('ddlArea');
            LoadTerritoryByAreaId('ddlTerritory');
            LoadMarketByTerritoryId('ddlMarket');
            LoadFilteredCustomers('ddlCustomer');
            LoadCustomer('ddlCustomer');
            LoadDeliveryWarehouse();

            $('#dateRange').daterangepicker({
                locale: {
                    format: 'DD MMM YYYY'
                }
            });

            $("#ddlDivision").on("change",
                function () {
                    LoadAreaByDivisionId('ddlArea', $(this).val());
                });
            $("#ddlArea").on("change",
                function () {
                    LoadTerritoryByAreaId('ddlTerritory', $(this).val());
                });
            $("#ddlTerritory").on("change",
                function () {
                    LoadFilteredCustomers('ddlCustomer',
                        $("#ddlDivision").val(),
                        $("#ddlArea").val(),
                        $("#ddlTerritory").val());

                    LoadMarketByTerritoryId('ddlMarket', $("#ddlTerritory").val());
                });
            $("#allCheckbox").on("change",
                  function () {
                      if ($('#allCheckbox').is(':checked')) {
                          $(".customerType").prop("checked", true);

                      }
                      else {
                          $(".customerType").prop("checked", false);

                      }
                  });
            $("#allCheckbox").trigger('change');

        });
        function chkbox() {
            
            if ($('input.customerType:checked').length == 5) {
                $(".customerType").prop("checked", true);
                $("#allCheckbox").prop("checked", true);
            }
            else {
                $("#allCheckbox").prop("checked", false);
            }
        }

        function LoadCustomer(elementId) {
            var typeid = 12;
            var urlpath = '@Url.Action("GetCustomer", "RestaturantSales")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { typeid: typeid },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    //$('#' + elementId + '').append("<option value='0'>--Select Customer --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].CustomerID).html(data[i].CustomerCode + ":" + data[i].CustomerName + ": " + data[i].CoustomerTypeName));
                    }
                }
            });
        }
        function LoadDeliveryWarehouse() {
            var customerId = $('#ddlCustomer').val();
            var warehouseTypeid = 3;
            var urlpath = '@Url.Action("GetDeliveryWarehouse", "RestaturantSales")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { warehouseTypeid: warehouseTypeid, customerId: customerId },
                async: false,
                success: function (data) {

                    $('#ddlDeliveryWarehouse').empty();
                    //$('#ddlDeliveryWarehouse').append("<option value='0'>--Select Delivery Warehouse --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#ddlDeliveryWarehouse').append($("<option></option>").val(data[i].WareHouseId).html(data[i].WareHouseName));
                    }
                }
            });
        }
        function LoadReport() {
            if (RptValidation() == true) {
                var divisionId = parseInt($("#ddlDivision").val());
                var areaId = parseInt($("#ddlArea").val());
                var territoryId = parseInt($("#ddlTerritory").val());
                var marketId = parseInt($("#ddlMarket").val());
                var warehouseId = parseInt($("#ddlDeliveryWarehouse").val());
                var sales = [];
                var salesPerson = $('#txtSalesPerson').val();
                sales = salesPerson.split(':');
                var array = [];
                var dateRange = $('#dateRange').val();
                array = dateRange.split('-');
                var reportType = 1;
                var summary = 0;
                if ($('#orderRadio').is(':checked')) {
                    reportType = $('#orderRadio').val();
                }

                if ($('#challanradio').is(':checked')) {
                    reportType = $('#challanradio').val();
                }
                if ($('#summaryradio').is(':checked')) {
                    summary = 1;
                }
                var customerType = '';

                if ($('#retailCheckbox').is(':checked')) {

                    customerType += ',' + $('#retailCheckbox').val();
                }

                if ($('#corporateCheckbox').is(':checked')) {

                    customerType += ',' + $('#corporateCheckbox').val();
                }
                if ($('#ownSaleCheckbox').is(':checked')) {

                    customerType += ',' + $('#ownSaleCheckbox').val();
                }
                if ($('#fatcoryCheckbox').is(':checked')) {

                    customerType += ',' + $('#fatcoryCheckbox').val();
                }
                if ($('#dealerCheckbox').is(':checked')) {

                    customerType += ',' + $('#dealerCheckbox').val();
                }

                

                if ($('#modernCheckbox').is(':checked')) {

                    customerType += ',' + $('#modernCheckbox').val();
                }

                var urlpath = '@Url.Action("SalesOrderWiseSalesPersonSalesDetailsReportRetail", "RestaturantSales")';

                $.ajax({
                    url: urlpath,
                    data: { fromDate: array[0], toDate: array[1], reportType: reportType, salesPerson: sales[0], customerTypeId: customerType, summary: summary, divisionId: divisionId, areaId: areaId, territoryId: territoryId, marketId: marketId, warehouseId: warehouseId },
                    dataType: 'html',
                    type: "Get",
                    beforeSend: function () {
                        $('#testSpan').show();
                        $("#salesReport").empty();
                    },
                    success: function (data) {
                        $("#salesReport").html(data);
                        $('#testSpan').hide();
                    },
                    complete: function () {


                        $('#companyHeader').html("IG Foods Limited");
                        $('#reportHeader').html("Sales Details Reprot in Sales Person " + salesPerson);
                        //$('#reportDate').html("Stock report of :" + $('#txtRequisitionDate').val() + " & " + $('#txtProductionDate').val());
                        $('#SalesReportTable').rowspanizer({
                            vertical_align: 'middle',
                            columns: [1]
                        });
                        $('#reportDate').text('Report from: ' + array[0] + 'to :' + array[1]);
                        groupTable($('#SalesReportTable tr:has(td)'), 0, 1);
                        $('#SalesReportTable .deleted').remove();
                    }
                });
            }
        }


        function exportExcel(e) {
            if ($('#SalesReportTable tbody tr').length == 0) {
                swal("No Data to Export");
            } else {
                var file = new Blob([$('#salesReportDiv').html()], { type: "application/vnd.ms-excel" });
                var url = URL.createObjectURL(file);
                var a = $("<a />", {
                    href: url,
                    download: "SalesPersonWiseSalesReport.xls"

                }).appendTo("body").get(0).click();
                e.preventDefault();
            }
        }

        function RptValidation() {
            


            var isValid = true;
            if (($('#txtSalesPerson').val() == 0 || $('#txtSalesPerson').val() == '')) {
                ValidationColorChangeNew('txtSalesPerson', 'divCustomer', 'Please Select Sales Person', true);
                isValid = false;
            }
            //if (($('#stockMonth').val() == 0 || $('#stockMonth').val() == '') && rpt == 'MonthlyStockSummery') {
            //    ValidationColorChangeNew('stockMonth', 'divstockMonth', 'Please Select Stock Month', true);
            //    isValid = false;
            //}

            //if ($('#ddlReportName').val() == 0 || $('#ddlReportName').val() == '') {
            //    ValidationColorChangeNew('ddlReportName', 'divReportName', 'Please Select Report Name', true);
            //    isValid = false;
            //}
            return isValid;
        }

        function groupTable($rows, startIndex, total) {
            if (total === 0) {
                return;
            }
            var i, currentIndex = startIndex, count = 1, lst = [];
            var tds = $rows.find('td:eq(' + currentIndex + ')');
            var ctrl = $(tds[0]);
            lst.push($rows[0]);
            for (i = 1; i <= tds.length; i++) {
                if (ctrl.text() == $(tds[i]).text()) {
                    count++;
                    $(tds[i]).addClass('deleted');
                    lst.push($rows[i]);
                }
                else {
                    if (count > 1) {
                        ctrl.attr('rowspan', count);
                        groupTable($(lst), startIndex + 1, total - 1);
                    }
                    count = 1;
                    lst = [];
                    ctrl = $(tds[i]);
                    lst.push($rows[i]);
                }
            }
        }




    </script>
}