﻿@using IGFoodProject.Models
@model SRInfoMaster
@{ int count = 1;}
<div class="row">
    <div class="col-md-3" id="divSrName">
        <div class="form-group">
            <label for="srName">SR Name *</label>
            <input type="text" class="form-control" disabled id="srName" value="@Model.SrName">

        </div>
    </div>
    <div class="col-md-3" id="divSrMobileNumber">
        <div class="form-group">
            <label for="srMobileNumber">SR Mobile Number *</label>
            <input type="text" class="form-control" disabled id="srMobileNumber" value="@Model.SrMobileNumber">

        </div>
    </div>
    <div class="col-md-3" id="divSrEmail">
        <div class="form-group">
            <label for="srEmail">SR Email</label>
            <input type="text" class="form-control" disabled id="srEmail" value="@Model.SrEmail">

        </div>
    </div>
    <div class="col-md-3" id="divSrAddress">
        <div class="form-group">
            <label for="srAddress">SR Address</label>
            <input type="text" class="form-control" disabled id="srAddress" value="@Model.SrAddress">

        </div>
    </div>

    <input type="text" class="form-control" id="srId" value="@Model.SrId" style="display: none">

</div>

<table id="" border="1" class="table dataTable table-bordered table-striped table-hover">
    <thead>
        <tr style="background-color: aliceblue">
            <th style="text-align: center"> SL NO</th>
            <th style="text-align: center">Code</th>
            <th style="text-align: center">Customer Name</th>
            <th style="text-align: center">Phone</th>
            <th style="text-align: center">Status</th>
            <th style="text-align: center">Active Date</th>
            <th style="text-align: center">Inactive Date</th>
        </tr>

    </thead>

    <tbody class="Traylist">
        @foreach (var item in Model.SRDealerDetailsList)
        {
            <tr>
                <td>@count</td>
                <td style="text-align: center">@item.CustomerInformation.CustomerCode</td>
                <td style="text-align: center">@item.CustomerInformation.CustomerName</td>
                <td style="text-align: center">@item.CustomerInformation.Phone</td>
                <td style="text-align: center">@item.ActiveStatus</td>
                <td style="text-align: center">@item.ActiveDate</td>
                <td style="text-align: center">@item.DeactiveDate</td>
            </tr>
            count++;
        }
    </tbody>


</table>

