﻿
@using System.Data
@model System.Data.DataTable
@{ int count = 1;}

<div class="row">
    <div class="col-md-12">
        <div class="card card-primary">
            <div class="card-header">
                @if (Model.Select("IsDeliveryConfirm = 0").Length > 0)
                {
                    <button type="button" class="btn btn-danger" onclick='ModalPopUp()'>
                        @Model.Select("IsDeliveryConfirm = 0").Length Orders' delivery confirmation are pending
                    </button>
                }
                else
                {
                    <p> No Orders' delivery confirmation pending </p>
                }
            </div>
            @if (Model.Select("IsDeliveryConfirm = 0").Length == 0)
            {
                <div class="card-body">

                    <table id="dealerSrTable" border="1" class="table  table-bordered table-striped ">
                        <thead>
                            <tr style="background-color: aliceblue">
                                <th style="text-align: center"><input type='checkbox' class='iradio_minimal-blue checkAll' id='checkAlldealer' onclick='SelectAllCheckboxFunc()' />Dealers</th>
                                <th style="text-align: center"><input type='checkbox' class='iradio_minimal-blue checkAll' id='checkAllSr' onclick='SelectAllCheckboxFunc()' />Sales representatives </th>
                            </tr>

                        </thead>

                        <tbody class="Traylist">
                            @{ DataTable distinctValues = Model.DefaultView.ToTable(true, "CustomerId", "CustomerName", "srId", "srName");
                                foreach (DataRow row in Model.DefaultView.ToTable(true, "CustomerId", "CustomerName", "srId", "srName").Select("srId <>0"))


                                {
                                    <tr id="@row.ItemArray[0]_@row.ItemArray[2]">
                                        <td class="text-left"><input type='checkbox' value="@row.ItemArray[0]" id='checkDealer_@row.ItemArray[0]' class="check checkDealer @row.ItemArray[0]" onclick='Checkp(@row.ItemArray[0])' /> @row.ItemArray[1]</td>
                                        <td class="text-left"><input type='checkbox' value="@row.ItemArray[2]" id='checkSr_@row.ItemArray[0]_@row.ItemArray[2]' class="check @row.ItemArray[0] checkSr" /> @row.ItemArray[3]</td>
                                    </tr>
                                }

                            }
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-success float-lg-right" id="processButton" onclick="processSrSalary()">Process</button>
                </div>
                                }
        </div>
          
            <div class="modal" id="myModal" role="dialog">
                <div class="modal-dialog modal-sm" style="max-width: 80% !important">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px">Pending Order List</h4>
                        </div>
                        <div class="modal-body" id="">
                            <table id="" border="1" class="table dataTable table-bordered table-striped table-hover">
                                <thead>
                                    <tr style="background-color: aliceblue">
                                        <th style="text-align: center"> SL NO</th>
                                        <th style="text-align: center"> Sales Order No </th>
                                        <th style="text-align: center">Customer Name</th>
                                        <th style="text-align: center">Order Date</th>
                                        <th style="text-align: center">Challan No</th>
                                        <th style="text-align: center">Challan Date</th>
                                        <th style="text-align: center">Due Amount</th>
                                    </tr>

                                </thead>

                                <tbody class="Traylist">
                                    @foreach (DataRow row in Model.Select("IsDeliveryConfirm = 0"))
                                    {
                                        <tr>
                                            <td>@count</td>
                                            <td style="text-align: center">@row.ItemArray[0]</td>
                                            <td style="text-align: center">@row.ItemArray[1]</td>
                                            <td style="text-align: center">@row.ItemArray[2]</td>
                                            <td style="text-align: center">@row.ItemArray[3]</td>
                                            <td style="text-align: center">@row.ItemArray[4]</td>
                                            <td style="text-align: center">@row.ItemArray[5]</td>
                                        </tr>
                                        count++;
                                    }
                                </tbody>


                            </table>

                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-danger" id="clsButton" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

    </div>
 </div>
<script>

    $(function () {
        $("input[id^='checkDealer_']").change(function () {
            debugger;
            var className = $(this).val();
            if ($(this).is(":checked")) {
                $("."+className+"").prop("checked", true);
            } else {
                $("."+className+"").prop("checked", false);
            }

        });

       

    });

    function Checkp(SLNO) {
        //uncheck "select all", if one of the listed checkbox item is unchecked
        var checkp = $("#checkDealer_" + SLNO).prop("checked");
        if (checkp == false) { //if this item is unchecked
            $("#checkAlldealer").prop('checked', false); //change "select all" checked status to false
        }
        //check "select all" if all checkbox items are checked
        if ($('.checkDealer:checked').length == $('.checkDealer').length) {
            $("#checkAlldealer").prop('checked', true);
        }
    }
    function SelectAllCheckboxFunc() {
        debugger;
        if ($(".checkAll").is(":checked")) {
            $(".check").prop("checked", true);
        } else {
            $(".check").prop("checked", false);
        }

    }
</script>



