﻿@using IGFoodProject.Models
@model IGFoodProject.Models.SRInfoMaster

@{
    int count = 1;
    ViewBag.Title = "CreateSalesRepresentative";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h2>@(Model.SrId==0?"Sales Representative Creation": "Sales Representative Edit")</h2>
                        @Html.ActionLink("Sales Representative List", "SalesRepresentativeList", "SalesRepresentative", new { @class = "btn btn-success btn-sm float-right" })
                    </div>
                    <div class="card-body">
                        <a class="float-right" onclick="SrDealerLog();" href="#">See Log</a>
                        <form id="SRForm">
                            <div class="row">
                                <div class="col-md-3" id="divSrName">
                                    <div class="form-group">
                                        <label for="srName">SR Name *</label>
                                        <input type="text" class="form-control" id="srName" value="@Model.SrName">

                                    </div>
                                </div>
                                <div class="col-md-3" id="divSrMobileNumber">
                                    <div class="form-group">
                                        <label for="srMobileNumber">SR Mobile Number *</label>
                                        <input type="text" class="form-control" id="srMobileNumber" value="@Model.SrMobileNumber">

                                    </div>
                                </div>
                                <div class="col-md-3" id="divSrEmail">
                                    <div class="form-group">
                                        <label for="srEmail">SR Email</label>
                                        <input type="text" class="form-control" id="srEmail" value="@Model.SrEmail">

                                    </div>
                                </div>
                                <div class="col-md-3" id="divSrAddress">
                                    <div class="form-group">
                                        <label for="srAddress">SR Address</label>
                                        <input type="text" class="form-control" id="srAddress" value="@Model.SrAddress">

                                    </div>
                                </div>

                                <input type="text" class="form-control" id="srId" value="@Model.SrId" style="display: none">

                            </div>
                            <br />

                            <div class="row">
                                <div class="col-md-12">
                                    <table id="dealerTbl" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Dealer Code</th>
                                                <th>Dealer Name</th>
                                                <th>Contact No</th>
                                                <th>Status</th>
                                                <th>Activation Date</th>
                                                <th>Deactivation Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (SRDealerDetails item in Model.SRDealerDetailsList)
                                            {
                                                <tr id="@count">
                                                    <td><input type='checkbox' id='check_@count' class="check" @(item.ActiveStatus == "Active" ? "checked='checked'" : string.Empty) /></td>
                                                    <td>
                                                        @item.CustomerInformation.CustomerCode
                                                        <input type="number" class="form-control" id="srDealerDetailsId_@count" value="@item.SrDealerDetailsId" style="display: none">
                                                        <input type="number" class="form-control" id="dealerId_@count" value="@item.DealerId" style="display: none">
                                                    </td>
                                                    <td>@item.CustomerInformation.CustomerName</td>
                                                    <td>
                                                        @item.CustomerInformation.Phone
                                                        <input type="text" class="form-control" id="phone_@count" value="@item.CustomerInformation.Phone" style="display: none">
                                                    </td>

                                                    <td>
                                                        <input type="text" class="form-control" id="activeStatus_@count" value="@item.ActiveStatus" disabled>
                                                        <input type="text" class="form-control" id="isActive_@count" style="display: none" @(item.ActiveStatus == "Active" ? "value=true" : item.ActiveStatus == "Inactive" ? "value=false" : "value=")>
                                                    </td>
                                                    <td><input type="text" class="form-control datepicker" autocomplete="off" id="activationDate_@count" @(item.ActiveDate != null ? "value=" + Convert.ToDateTime(item.ActiveDate).ToString("dd-MMM-yyyy") + "" : string.Empty)></td>
                                                    <td><input type="text" class="form-control datepicker" autocomplete="off" id="deActivationDate_@count" @(item.DeactiveDate != null ? "value=" + Convert.ToDateTime(item.DeactiveDate).ToString("dd-MMM-yyyy") + "" : string.Empty)></td>

                                                </tr>
                                                count++;
                                            }

                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn float-left cancel" id="cancel">Cancel</button>
                        <button class="btn btn-success float-right confirm" id="saveSRData" onclick="SaveSRData()">Save SR Data</button>
                    </div>
                </div>
            </div>


        </div>
        <div class="modal" id="logModal">
            <div class="modal-dialog modal-sm" style="max-width: 80% !important">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px">Pending Order List</h4>
                    </div>
                    <div class="modal-body" id="logList">


                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-danger" id="clsButton" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script type="text/javascript">

    $(function () {

        $("#cancel").on("click", function () {
            $('.select2').select2();
            $('#SRForm').trigger("reset");
        });
        $('.check').change(function () {
            var id = $(this).attr('id').split('_')[1];
            if (this.checked) {
                debugger;
                $('#isActive_' + id).val(true);
                $('#activeStatus_' + id).val("Active");
                $('#activationDate_' + id).prop("disabled", false);
                $('#deActivationDate_' + id).prop("disabled", true);
            }
            else if (this.checked == false && $('#srDealerDetailsId_' + id).val() != 0) { //
                $('#isActive_' + id).val(false);
                $('#activeStatus_' + id).val("Inactive");
                $('#activationDate_' + id).prop("disabled", true);
                $('#deActivationDate_' + id).prop("disabled", false);

            }
            else {
                $('#activeStatus_' + id).val('');
                $('#isActive_' + id).val('');
                $('#activationDate_' + id).prop("disabled", false).val('');
                $('#deActivationDate_' + id).prop("disabled", false).val('');
            }

        });
        $('.datepicker').change(function () {
            var id = $(this).attr('id').split('_')[1];

            if (new Date($('#activationDate_' + id).val()) > new Date($('#deActivationDate_' + id).val())) {
                ShowMessage("Inactive date can't before than active date");
                $(this).val('');
            }

        });

    });

    function SaveSRData() {
        if (Validation()) {
            swal({
                title: "Are you sure?",
                text: "",
                type: "success",
                showCancelButton: true,
                cancelButtonClass: 'btn-secondary waves-effect',
                confirmButtonClass: 'btn-success waves-effect waves-light',
                confirmButtonText: 'Yes!',
                closeOnConfirm: false
            },
                function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveDataFinally();
                });
        }
    }

    function SaveDataFinally()
    {


                var srMaster = {};
                var srDetailsList = [];

        debugger;
        srMaster["SrId"] = $("#srId").val();
        srMaster["SrName"] = $("#srName").val();
        srMaster["SrAddress"] = $("#srAddress").val();
        srMaster["SrMobileNumber"] = $("#srMobileNumber").val();
        srMaster["SrEmail"] = $("#srEmail").val();

        $('#dealerTbl tbody tr').each(function (key, value)
             {
                       var rowCount = $(this).prop("id");

                        var srDetails = {};
                      //  if ($('#check_' + key).is(":checked")) {
            if (($('#activationDate_' + rowCount).val() == null || $('#activationDate_' + rowCount).val() == 0)  && ($('#deActivationDate_' + rowCount).val() == null || $('#deActivationDate_' + rowCount).val() == 0)) {


            }
            else {
                debugger;

                srDetails["SrDealerDetailsId"] = $('#srDealerDetailsId_' + rowCount).val();
                srDetails["DealerId"] = $('#dealerId_' + rowCount).val();
                srDetails["SrId"] = $('#srId').val();
                srDetails["IsActive"] = $('#isActive_' + rowCount).val();
                srDetails["ActiveDate"] = $('#activationDate_' + rowCount).val();
                srDetails["DeactiveDate"] = $('#deActivationDate_' + rowCount).val();

                srDetailsList.push(srDetails);

            }
                      //  }

           });

        srMaster["SRDealerDetailsList"] = srDetailsList;

                var urlpath = '@Url.Action("SaveOrUpdateSRInfo", "SalesRepresentative")';
                $.ajax({
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(srMaster),
                    dataType: 'json',
                    url: urlpath,
                    type: "POST",
                    success:function(result) {
                        if (result.isSuccess) {
                            $('.confirm').prop("disabled", false);
                            $('.cancel').prop("disabled", false);
                            swal({
                                title: 'SR Entry Successfull',
                                type: 'success',
                                closeOnCancel: true
                            },
                                function() {
                                    window.location.href = '@Url.Action("SalesRepresentativeList", "SalesRepresentative")';
                                });
                        } else {
                            ShowMessage('Please Give Data Correctly!');
                        }
                    },
                    error: function () {
                        ShowMessage('Please Give Data Correctly!!');
                    }
                });

        }

        function Validation() {
            debugger;

            var isValid = true;
            var message = "";
            if ($('#srName').val() == 0 || $('#srName').val() == '') {
                ValidationColorChangeNew("srName", "divSrName", "Name Required", true);
                isValid = false;
                return;
            }
            if ($('#srMobileNumber').val() == '' || $('#srMobileNumber').val() == 0) {
                ValidationColorChangeNew("srMobileNumber", "divSrMobileNumber", "Mobile Number Required", false);
                isValid = false;
                return;
            }
            debugger;
            $('#dealerTbl tbody tr').each(function (key, value) {
                id = $(this).prop("id");
                if ($('#activeStatus_' + id).val() == "Active" && ($('#activationDate_' + id).val() == '' || $('#activationDate_' + id).val() == 0) ) {
                    isValid = false;
                    message = "Activation Date Need For Active";
                    return false;
                }
                var a = $('#activeStatus_' + id).val();
                if ($('#activeStatus_' + id).val() == "Inactive" && ($('#deActivationDate_' + id).val() == '' || $('#deActivationDate_' + id).val() == 0)) {
                    isValid = false;
                    message = "Deactivation Date Need For Inactive";
                    return false;
                }

            });
            if ($('input:checkbox.check:checked').length == 0) {
                isValid = false;
                message = ("Check atleast one checkbox");
            }

            if (isValid == false) {
                ShowMessage(message);
            }

            return isValid;


        }

        function SrDealerLog() {
            debugger;


                urlpath = '@Url.Action("GetDealerLogListForSR", "SalesRepresentative")';
                $.ajax({
                    url: urlpath,
                    data: { srId:@Model.SrId },
                    type: "Get",
                    success: function (data) {
                        debugger;
                        $("#logList").html(data);
                    },
                    complete: function () {
                        $("#logModal").modal('show');
                    }
                });

        }

        function popup() {
            $("#logModal").modal('show');
        }
    </script>
}
