﻿
@{
    ViewBag.Title = "DealerRetentionProcessEntry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h2>Dealer Damage Process</h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3 col-xs-5">
                                <label for="startDate">Damage Month</label>
                                <input type="text" id="startDate" autocomplete="off" class="form-control  datepicker " data-date-autoclose="true" data-date-today-highlight="true" data-date-format="dd-M-yyyy">
                            </div>

                            <div class="col-md-3 col-xs-3">
                                <button class="btn btn-block btn-info" style="margin-top: 18px" onclick="ShowReport()">Process</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="" id="pendingConfirmationPartial">
        </div>

        <div id="ajaxLoaderDiv" style="position: fixed; top: 40%; left: 45%; z-index: 1234;">
            <img src="@Url.Content("~/AssetStatic/Images/Double Ring.gif")" alt="Loading..." class="ajax-loader" />
        </div>

    </div>
</section>

@section scripts{

    <script type="text/javascript">
        var monthsAll = [
            "January", "February", "March",
            "April", "May", "June",
            "July", "August", "September",
            "October", "November", "December"
        ];
        var firstDayFormated ;
        var lastDayFormated;

        $(function () {
            $('#ajaxLoaderDiv').hide();

            $('#startDate').datepicker({
                format: "MM-yyyy",
                viewMode: "months",
                minViewMode: "months",
                autoclose: true

            });

        });



        function ShowReport() {
            debugger;
            var monthPicker = $('#startDate').val();
            var indexofMon = monthPicker.indexOf('-');


            var month = monthPicker.substring(0, indexofMon).trim();
            var year = monthPicker.substring(indexofMon + 1, monthPicker.length).trim();
            var monthNumber = monthsAll.indexOf(month);


            var firstDay = new Date(year, monthNumber, 1);
            var lastDay = new Date(year, monthNumber + 1, 0);


            firstDayFormated = $.datepicker.formatDate("d-M-yy", new Date(firstDay));
            lastDayFormated = $.datepicker.formatDate("d-M-yy", new Date(lastDay));

                urlpath = '@Url.Action("GetAllOrdersOfDealersForDamage", "SalesRepresentative")';
                $.ajax({
                    url: urlpath,
                    data: { fromDate: firstDayFormated, toDate: lastDayFormated },
                    type: "Get",
                    dataType: 'json',
                    beforeSend: function () {
                        $('#ajaxLoaderDiv').show();
                    },
                    success: function (data) {
                        debugger;
                        var json = $.parseJSON(data);
                        var convalue=0;
                        for (var i = 0; i < json.length; i++) {
                            if (json[i].IsDeliveryConfirm == 0) {
                                convalue++;
                            }
                        }

                        if (convalue > 0) {


                            var html = "<div class='row'>";
                            html += "<div class='col-md-12'>";
                            html += "<div class='card card-primary'>";
                            html += "<div class='card-header'>";

                            html += "<button type='button' class='btn btn-danger' onclick='ModalPopUp()'>";
                            html += convalue + " delivery confirmation are pending";
                            html += "</button>";


                            html += "</div>";

                            html += "</div>";


                            html += "<div class='modal' id='myModal' role='dialog'>";
                            html += "<div class='modal-dialog modal-sm' style='max-width: 80% !important'>";
                            html += "<div class='modal-content'>";
                            html += "<div class='modal-header'>";
                            html += "<h4 style='text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px'>Pending Order List</h4>";
                            html += " </div>";
                            html += " <div class='modal-body' >";
                            html += " <table  border='1' class='table dataTable table-bordered table-striped table-hover'>";
                            html += " <thead>";
                            html += " <tr style='background-color: aliceblue'>";
                            html += " <th style='text-align: center'> SL NO</th>";
                            html += " <th style='text-align: center'> Sales Order No </th>";
                            html += " <th style='text-align: center'>Customer Name</th>";
                            html += " <th style='text-align: center'>Order Date</th>";
                            html += "  <th style='text-align: center'>Challan No</th>";
                            html += "  <th style='text-align: center'>Challan Date</th>";
                            html += "  <th style='text-align: center'>Due Amount</th>";
                            html += "  </tr>";

                            html += "  </thead>";

                            html += "   <tbody class='Traylist'>";
                            var count = 1;
                            for (var i = 0; i < json.length; i++) {
                                if (json[i].IsDeliveryConfirm == 0) {
                                    html += " <tr>";
                                    html += "  <td>" + count + "</td>";
                                    html += "  <td style='text-align: center'>" + json[i].SalesOrderNo + "</td>";
                                    html += "  <td style='text-align: center'>" + json[i].CustomerName + "</td>";
                                    html += "  <td style='text-align: center'>" + json[i].OrderDate + "</td>";
                                    html += "  <td style='text-align: center'>" + json[i].SalesOrderChallanNo + "</td>";
                                    html += "  <td style='text-align: center'>" + json[i].ChallanDate + "</td>";
                                    html += "  <td style='text-align: center'>" + json[i].totaldue + "</td>";
                                    html += "  </tr>";
                                    count++;

                                }
                            }

                            html += " </tbody>";


                            html += "</table>";

                            html += " </div>";
                            html += "<div class='modal-footer'>";

                            html += "   <button type='button' class='btn btn-danger' id='clsButton' data-dismiss='modal'>Close</button>";
                            html += " </div>";
                            html += " </div>";
                            html += " </div>";
                            html += "</div>";


                            html += "</div>";

                            html += "</div>";

                            $("#pendingConfirmationPartial").html(html);

                        } else {
                            var html = "<div class='row'>";
                            html += "<div class='col-md-12'>";
                            html += "<div class='card card-primary'>";
                            html += "<div class='card-header'>";

                            html += "<p> No Orders' delivery confirmation pending </p>";
                           
                            html += "</div>";

                            html += "</div>";
                            html += "</div>";

                            html += "</div>";

                            $("#pendingConfirmationPartial").html(html);
                            processSrSalary();
                        }

                    },

                    complete: function () {

                        $('#dealerSrTable').rowspanizer({
                            vertical_align: 'middle',
                            columns: [0]
                        });
                        $('#ajaxLoaderDiv').hide();
                    }
                });

        }
        function ModalPopUp() {
            $("#myModal").modal();
        }

        function processSrSalary() {
            if (Validation()) {
                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false
                },
                    function () {
                        $('.confirm').prop("disabled", true);
                        $('.cancel').prop("disabled", true);
                        processSrSalaryFinal();
                    });
            }
        }
        function processSrSalaryFinal() {
            debugger;

            var SRSalaryProcess = {};
            SRSalaryProcess["FromDate"] = firstDayFormated;
            SRSalaryProcess["ToDate"] = lastDayFormated;
            debugger;
             var urlpath = '@Url.Action("SaveDealerDamageProcess", "SalesRepresentative")';
                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(SRSalaryProcess) ,
                    dataType: 'json',
                    url: urlpath,
                    type: "POST",
                    success: function (result) {
                        //alert(result.StatusId);
                        var json = $.parseJSON(result);
                        //alert(json[0].StatusId);


                        //json.users[3].name
                        debugger;
                        if (json[0].StatusId == 2) {
                           // $('.confirm').prop("disabled", false);
                           // $('.cancel').prop("disabled", false);
                            swal({
                                title: 'Dealer Damage Process Successfull',
                                type: 'success',
                                closeOnCancel: true
                            });
                            @*function() {
                                window.location.href = '@Url.Action("SrSalaryPaySlip", "SalesRepresentative")';
                            });*@
                        } else if (json[0].StatusId == 1) {
                            ShowMessage('Already dealer Damage adjust from  sales collection');
                        } else {
                            ShowMessage('Please Give Data Correctly!!');
                        }
                    },
                    error: function () {
                        ShowMessage('Please Give Data Correctly!!');
                    }
                });

        }

        function Validation() {
            var isValid = true;

            if ($('startDate').val() == "") {
                isValid = false;
                message = ("Please select month");
            }
            if (isValid == false) {
                ShowMessage(message);
            }
            return isValid;
        }
    </script>

}

