﻿
@{
    ViewBag.Title = "Dealer Damage Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-3">
                                <h3 class="card-title"><span class="fa fa-list"></span> Dealer Damage Report
                                </h3>
                            </div>

                        </div>
                    </div>

                    <div class="card-body">
                        <!-- /.card-header -->
                        <!-- form start -->
                        <div class="row">
                            <div class="col-md-3" id="divFromDate">

                                <div class="form-group" id="">
                                    <label for="fromDate">From Date</label>
                                    <input type="text" class="form-control datepicker" id="fromDate" autocomplete="off"/>
                                </div>

                            </div>
                            <div class="col-md-3" id="divToDate">

                                <div class="form-group" id="">
                                    <label for="toDate">To Date</label>
                                    <input type="text" class="form-control datepicker" id="toDate" autocomplete="off" />
                                </div>

                            </div>
                            <div class="col-md-3" id="mainDivCustomer">

                                <div class="form-group" id="divCustomer">
                                    <label for="ddlCustomer">Customer</label>
                                    <select class="form-control select2" id="ddlCustomer" style="width: 100%;" ></select>
                                </div>

                            </div>


                        </div>


                    </div>
                    <div>

                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button class="btn btn-primary " onclick="LoadReport()">Submit</button>
                            <button type="button" class="btn btn-primary" onclick="exportExcel()">Export To Excel</button>
                        </div>
                    </div>

                </div>

                <div class="card divclass" id="salesReportDiv">
                    <div class="card-header with-border">
                        <div id="">
                            <h3 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="companyHeader"></h3>
                            <h4 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="reportHeader"></h4>
                            <div class="row">
                                <div class="col-md-12">

                                   
                                    <label class="float-right" id="reportDate"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="salesReport">
                        <div class="table-responsive">
                            <table id="SummaryTable" class="table table-bordered table-striped table-hover ">
                                <thead id="hSummary">
                                <tr>
                                    <th  style="text-align: center; vertical-align: middle;">Sl No </th>
                                    <th  style="text-align: center; vertical-align: middle;">Customer Code </th>
                                    <th  style="text-align: center; vertical-align: middle;">Name </th>
                                    <th  style="text-align: center; vertical-align: middle;">Further Process Sales Damage</th>
                                    <th  style="text-align: center; vertical-align: middle;">Further Process Actual Damage</th>

                                </tr>
                                </thead>
                                <tbody id="summarybody"></tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>


@section Scripts{
    <script>
        var AllCustomerList = {};
        $(function () {

            LoadCustomer('ddlCustomer');
            $("#SummaryTable").hide();

        });


        function LoadCustomer(elementId) {
            var urlpath = '@Url.Action("GetCustomer", "SalesOrderProcess")';

            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { typeid :0},
                async: true,
                success: function (data) {
                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Customer--</option>");

                    for (var i = 0; i < data.length; i++) {
                        $('#' + elementId + '').append($("<option></option>").val(data[i].CustomerID).html(data[i].CustomerName));
                    }
                }
            });
        }



        function OpenReportPopup() {
            LoadReport();
        }

        function RptValidation() {
            var message = "Some Values Required";

            var isValid = true;


                if ($('#fromDate').val() == "" || $('#toDate').val() == '') {
                    isValid = false;
                    message = 'From Date and To Date Required';
                }



            if (isValid == false) {
                ShowMessage(message);
            }
            return isValid;
        }



        function LoadReport() {

            if (RptValidation() == true) {
                LoadReportFinal();
            }


        }


        function LoadReportFinal() {
             urlpath = '@Url.Action("GetDealerDamageSummary", "SalesRepresentative")';


            var fromDate = $("#fromDate").val();
            var toDate = $("#toDate").val();           
            
            var customer = $('#ddlCustomer').val();

            debugger;
            $.ajax({
                url: urlpath,
                data: { fromDate: fromDate, toDate: toDate,  customer: customer },
                dataType: 'json',
                type: "Get",
                success: function (data) {
                    var row = "";
                        var json = $.parseJSON(data);
                        var count = 1;
                        var salesFurtherProcessed_G = 0;
                        var ActualFurtherProcessed_G = 0;

                        for (var i = 0; i < json.length; i++) {                          
                            row += '<tr>';
                            row += '<td style="text-align:center;">' + count + '</td>';
                            row += '<td style="text-align:center;">' + json[i].CustomerCode + '</td>';
                            row += '<td style="text-align:center;">' + json[i].CustomerName + '</td>';
                            row += '<td style="text-align:center;">' + json[i].SalesDamage + '</td>';
                            row += '<td style="text-align:center;">' + json[i].DeliveryDamage + '</td>';                          
                            row += '</tr>';
                            count++;
                            salesFurtherProcessed_G = salesFurtherProcessed_G + json[i].SalesDamage;
                            ActualFurtherProcessed_G = ActualFurtherProcessed_G + json[i].DeliveryDamage;
                        }
                        row += '<tr>';
                        row += '<td style="text-align:center;" colspan="3">Total</td>';
                        row += '<td style="text-align:center;">' + salesFurtherProcessed_G.toFixed(2) + '</td>';
                        row += '<td style="text-align:center;">' + ActualFurtherProcessed_G.toFixed(2) + '</td>';
                       
                        row += '</tr>';
                        $("#summarybody").html(row);

                },
                complete: function () {
                    $("#SummaryTable").show();
                   
                    $('#companyHeader').html("IG Foods Limited");
                   
                    $('#reportHeader').html('Dealer Damage Report');
                    
                    $('#reportDate').html('Report Date: ' + $("#fromDate").val() + ' To ' + $("#toDate").val());
                    
                }
            });
        }
        function exportExcel(e) {
            if ($('#SummaryTable tbody tr').length == 0) {
                swal("No Data to Export");
            } else {
                var file = new Blob([$('#salesReportDiv').html()], { type: "application/vnd.ms-excel" });
                var url = URL.createObjectURL(file);
                var a = $("<a />", {
                    href: url,
                    download: "DealerRetentionReport.xls"

                }).appendTo("body").get(0).click();
            }
        }


    </script>
}
