﻿
@{
    ViewBag.Title = "ListApproveDamage";
}





<style>
    #manuallist {
        padding: 10px;
    }

    .form-control {
        height: calc(1.7rem + 2px);
    }

    .modal-dialog {
        width: 100%;
        height: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }


    .modal-contents {
        background-color: white;
    }

    .ModalHead {
        background-color: #3C8DBC;
        padding: 15px;
        color: white;
    }

        .ModalHead > h4 {
            color: white;
            padding-left: 10px;
        }

    a#tabA {
        text-decoration: underline;
    }

        a#tabA:hover {
            text-decoration: underline;
            font-size: 17px;
            font-weight: bolder;
            color: green;
        }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">

                        <div class="row">

                            <div class="col-md-6">
                                <h3>Approve Processed Damage  </h3>
                            </div>
                            <div class="col-md-6 text-right ">

                            </div>

                        </div>



                    </div>
                    <br />

                    <div class="card-body">
                        <div class="row" style="padding-left: 20px;padding-right: 20px;">

                            <div class="col-md-2">
                                <div class="form-group" id="divDate">
                                    <label for="monthYearPicker">Approve Month:</label>
                                    <input type="text" name="myDate" id="monthYearPicker" class="form-control monthYearPicker" />
                                </div>

                            </div>
                            <div class="col-md-2">
                                <div class="form-group" id="">
                                    <label for="monthYearPicker"></label>
                                    <button style="margin-top: 15px;" class="btn btn-primary" onclick="ShowReport()">Search </button>
                                </div>

                            </div>


                        </div>



                    </div>
                    <br />

                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body">
                                <h4 class="text-center" style="width: 100%;background-color: #007bff;color:black">Processed Damage Amount List</h4>
                                <div class="table-responsive">
                                    <table id="myTable" class="table table-bordered table-striped table-hover">
                                        <thead>
                                            <tr style="text-align: center; color: black; width: 3%; background-color: turquoise;">
                                                <th style="text-align:center;width: 5%;"><input type="checkbox" id="checkAll">Check All</th>
                                                <th class="text-center" style="width:5%">#</th>
                                                <th class="text-left" style="width:20%">Dealer Name</th>
                                                <th style="width:10%" class="text-right">Damage Amount </th>


                                            </tr>
                                        </thead>
                                        <tbody id="manuallist"></tbody>
                                    </table>


                                </div>
                            </div>
                        </div>



                    </div>






                    <div class="row">
                        <div class="col-md-6 pull-left offset-6">
                            <button style="margin-left: 27px;" class="btn btn-primary" onclick="Save()">Approve </button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- /.row -->

    </div><!-- /.container-fluid -->


</section>

@section Scripts
{
    <script>
        $(function () {
            $("#monthYearPicker").datepicker({
                format: "mm-yyyy",
                startView: "months",
                minViewMode: "months"
            });
        });


        $("#checkAll").click(function () {
            $('input:checkbox').not(this).prop('checked', this.checked);
        });


        function ShowReport() {
            debugger;



            var monthYear = $('#monthYearPicker').val();
            var year = monthYear.substring(3);
            var month = monthYear.substring(0, 2);





            var urlpath = '@Url.Action("DataforListApproveDamage", "SalesRepresentative")';
            $.ajax({
                url: urlpath,
                dataType: 'html',
                type: "Get",
                data: { monthId: month, yearId: year },
                async: false,
                success: function(data) {

                    data = JSON.parse(data);
                    $("#manuallist").html("");
                    if (data.length > 0) {

                        debugger;
                        var row = "";
                        var count = 1;
                        $("#manuallist").html("");

                        var count = 1;
                        for (var i = 0; i < data.length; i++) {

                            //if (data[i].TotalAmount > 0) {


                            row += "<tr id='trmain" + count + "'>";


                            row += "<td style='text-align:center'><input type='checkbox'  class='form-check-input chkp'  id='chk_" + count + "' onclick='checkBoxEvent("+count+")' /></td>";
                            row += "<td style='text-align:center'>" + count + "</td>";
                            row += "<td style='display: none;' class='text-left'><input type='text'  style='display: none;'  id='DealerId_" + count + "' value = '" + data[i].DealerId + "'  /></td>";

                            row += "<td style='text-align:left;'class='text-left'><label id='DealerInfo_" + count + "'>" + data[i].DealerInfo + " </label></td>";
                            row += "<td style='text-align:right;'class='text-right'><label id='SalaryAmount_" + count + "'>" + data[i].DamageAmount + " </label></td>";




                            row += "</tr>";
                            count = count + 1;

                            }
                        //}
                        $("#manuallist").html(row);
                    }
                }
            });
        }
        function checkBoxEvent(id) {


            var check = $('#chk_' + id).is(":checked");



        }



        function Save() {

            if (SaveValidation() == true) {
                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveFinal();

                });
            }
        }

        function SaveFinal() {
          //  debugger;




            var jsonObjs = [];


            $('#manuallist tr').each(function () {
                var theObj = {};
             //   debugger;
                var idr = $(this).attr('id');
                var id = idr.substring(6);

                var dealerId = isNaN(parseFloat($('#DealerId_' + id).val())) ? 0 : parseFloat($('#DealerId_' + id).val());

                var monthYear = $('#monthYearPicker').val();
                var year = monthYear.substring(3);
                var month = monthYear.substring(0, 2);

                var check = $('#chk_' + id).is(":checked");

                if (check == true) {
                    theObj["DealerId"] = dealerId;

                    theObj["YearId"] = year;
                    theObj["MonthId"] = month;

                    jsonObjs.push(theObj);
                }


            });




            var urlpath = '@Url.Action("ApproveDamage", "SalesRepresentative")';
            $.ajax({
                contentType: "application/json",
                data: JSON.stringify(jsonObjs),
                dataType: 'json',
                url: urlpath,
                type: "POST"
            })
                .success(function (result) {
                    debugger;
                    if (result.IsSuccess =true) {

                        swal({
                            title: " Approve Successfull",
                            text: '',
                            type: "success",
                            showCancelButton: false,
                            cancelButtonClass: 'btn-secondary waves-effect',
                            confirmButtonClass: 'btn-success waves-effect waves-light',
                            confirmButtonText: 'OK!',
                            closeOnConfirm: false
                        }, function () {




                            window.location.href = '@Url.Action("ListApproveDamage", "SalesRepresentative" )';

                        });


                    }
                });


        }




        function SaveValidation() {
            //  debugger;

            var isValid = true;
            var message = "Some Values Required";

            if ($('#monthYearPicker').val() == 0 || $('#monthYearPicker').val() == '') {
                ValidationColorChangeNew("monthYearPicker", "divDate", "Month Required", true);
                isValid = false;
            }

            var count = 0;
            count = $('input:checkbox.chkp:checked').length;
            if (count == 0) {
                isValid = false;
                message = ("Check atleast one checkbox");
            }


            if (isValid == false) {
                ShowMessage(message);

            }
            return isValid;


        }
    </script>


    <script>


        function exportExcel() {

            var a = document.createElement('a');
            //getting data from our div that contains the HTML table
            var data_type = 'data:application/vnd.ms-excel';
            var table_div = document.getElementById('tabledata');
            var table_html = table_div.outerHTML.replace(/ /g, '%20');
            a.href = data_type + ', ' + table_html;
            //setting the file name
            a.download = 'download.xls';
            //triggering the function
            a.click();
            //just in case, prevent default behaviour
            e.preventDefault();
        }
    </script>
}