﻿
@{
    ViewBag.Title = "SalesRepresentativeList";
}

@using IGFoodProject.Models
@model IEnumerable<SRInfoMaster>
@{ int count = 1;}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h2>Sales Representative List</h2>
                        @Html.ActionLink("Create Sales Representative", "CreateSalesRepresentative", "SalesRepresentative", new { @class = "btn btn-success btn-sm float-right" })
                    </div>
                    <div class="card-body">
                        @if (Model.Any())
                        {

                            <table id="srTable" border="1" class="table dataTable table-bordered table-striped table-hover">
                                <thead>
                                    <tr style="background-color: aliceblue">

                                        <th style="text-align: center">SL</th>
                                        <th style="text-align: center">SR Name</th>
                                        <th style="text-align: center">SR Mobile No</th>
                                        <th style="text-align: center">SR Email</th>
                                        <th style="text-align: center">SR Address</th>
                                        <th style="text-align: center">Action</th>
                                    </tr>

                                </thead>

                                <tbody class="Traylist">
                                    @foreach (var row in Model)
                                    {
                                        <tr class="rowTr" id="@row.SrId">

                                            <td>@count</td>
                                            <td style="text-align: center">@row.SrName</td>
                                            <td style="text-align: center">@row.SrMobileNumber</td>
                                            <td style="text-align: center">@row.SrEmail</td>
                                            <td style="text-align: center">@row.SrAddress</td>


                                            <td style="text-align: center">
                                                @Html.ActionLink("Edit SR", "CreateSalesRepresentative", "SalesRepresentative", new { srId = row.SrId }, new { @class = "btn btn-info btn-sm" })
                                                <button class="btn btn-sm btn-success" id="srDealerLog" onclick="SrDealerLog(@row.SrId);">See Details</button>

                                            </td>

                                        </tr>
                                        count++;
                                    }
                                </tbody>


                            </table>
                        }
                        else
                        {
                            <p>NO DATA FOUND</p>

                        }

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal" id="logModal">
    <div class="modal-dialog modal-sm" style="max-width: 80% !important">
        <div class="modal-content">
            <div class="modal-header">
                <h4 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px">SR-Delaer List</h4>
            </div>
            <div class="modal-body" id="logList">


            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-danger" id="clsButton" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">

        function SrDealerLog(srId) {
            debugger;


                urlpath = '@Url.Action("GetDealerLogListForSR", "SalesRepresentative")';
                $.ajax({
                    url: urlpath,
                    data: { srId:srId },
                    type: "Get",
                    success: function (data) {
                        debugger;
                        $("#logList").html(data);
                    },
                    complete: function () {
                        $("#logModal").modal('show');
                    }
                });

        }

        function popup() {
            $("#logModal").modal('show');
        }
    </script>
}
