﻿      
@{
    ViewBag.Title = "SrSalaryProcessEntry";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h2>Sales Representative Salary Process</h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3 col-xs-5">
                                <label for="startDate">Salary Month</label>
                                <input type="text" id="startDate" autocomplete="off" class="form-control  datepicker " data-date-autoclose="true" data-date-today-highlight="true" data-date-format="dd-M-yyyy">
                            </div>

                            <div class="col-md-3 col-xs-3">
                                <button class="btn btn-block btn-info" style="margin-top: 18px" onclick="ShowReport()"><span class="fa fa-search"></span>View</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="" id="pendingConfirmationPartial">
        </div>

        <div id="ajaxLoaderDiv" style="position: fixed; top: 40%; left: 45%; z-index: 1234;">
            <img src="@Url.Content("~/AssetStatic/Images/Double Ring.gif")" alt="Loading..." class="ajax-loader" />
        </div>

    </div>
</section>

@section scripts{

    <script type="text/javascript">
        var monthsAll = [
            "January", "February", "March",
            "April", "May", "June",
            "July", "August", "September",
            "October", "November", "December"
        ];
        var firstDayFormated ;
        var lastDayFormated;

        $(function () {
            $('#ajaxLoaderDiv').hide();

            $('#startDate').datepicker({
                format: "MM-yyyy",
                viewMode: "months",
                minViewMode: "months",
                autoclose: true

            });

          

        });

       

        function ShowReport() {
            debugger;
            var monthPicker = $('#startDate').val();
            var indexofMon = monthPicker.indexOf('-');


            var month = monthPicker.substring(0, indexofMon).trim();
            var year = monthPicker.substring(indexofMon + 1, monthPicker.length).trim();
            var monthNumber = monthsAll.indexOf(month);


            var firstDay = new Date(year, monthNumber, 1);
            var lastDay = new Date(year, monthNumber + 1, 0);


            firstDayFormated = $.datepicker.formatDate("d-M-yy", new Date(firstDay));
            lastDayFormated = $.datepicker.formatDate("d-M-yy", new Date(lastDay));

                urlpath = '@Url.Action("GetAllOrdersOfDealers", "SalesRepresentative")';
                $.ajax({
                    url: urlpath,
                    data: { fromDate: firstDayFormated, toDate: lastDayFormated },
                    type: "Get",
                    beforeSend: function () {
                        $('#ajaxLoaderDiv').show();
                    },
                    success: function (data) {
                        debugger;
                        $("#pendingConfirmationPartial").html(data);
                    },

                    complete: function () {

                        $('#dealerSrTable').rowspanizer({
                            vertical_align: 'middle',
                            columns: [0]
                        });
                        $('#ajaxLoaderDiv').hide();
                    }
                });

        }
        function ModalPopUp() {
            $("#myModal").modal();
        }

        function processSrSalary() {
            if (Validation()) {
                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false
                },
                    function () {
                        $('.confirm').prop("disabled", true);
                        $('.cancel').prop("disabled", true);
                        processSrSalaryFinal();
                    });
            }
        }
        function processSrSalaryFinal() {
            debugger;
            
            var SRSalaryProcess = {};
            var srList = [];
            $('#dealerSrTable tr').each(function (key, value) {
                var srInfo = {};
                id = $(this).prop("id");
                var dealerId = id.split('_')[0];
                if ($('#checkSr_' + id).is(":checked")) {

                    srInfo["DealerId"] = $('#checkDealer_' + dealerId).val();
                    srInfo["SrId"] = $('#checkSr_' + id).val();

                    srList.push(srInfo);
                }
            });
            SRSalaryProcess["FromDate"] = firstDayFormated;
            SRSalaryProcess["ToDate"] = lastDayFormated;
            SRSalaryProcess["SRDealerDetailsList"] = srList;
            debugger;
             var urlpath = '@Url.Action("SrSalaryProcess", "SalesRepresentative")';
                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(SRSalaryProcess) ,
                    dataType: 'json',
                    url: urlpath,
                    type: "POST",
                    success: function (result) {
                        //alert(result.StatusId);
                        var json = $.parseJSON(result);
                        //alert(json[0].StatusId);


                        //json.users[3].name
                        debugger;
                        if (json[0].StatusId == 2) {
                           // $('.confirm').prop("disabled", false);
                           // $('.cancel').prop("disabled", false);
                            swal({
                                title: 'SR Salary Process Successfull',
                                type: 'success',
                                closeOnCancel: true
                            },
                            function() {
                                window.location.href = '@Url.Action("SrSalaryPaySlip", "SalesRepresentative")';
                            });
                        } else if (json[0].StatusId == 1) {
                            ShowMessage('Already ' + json[0].SrName + ' Sr Salary Adjust From ' + json[0].CustomerName + ' Sales Collection');
                        } else {
                            ShowMessage('Please Give Data Correctly!!');
                        }
                    },
                    error: function () {
                        ShowMessage('Please Give Data Correctly!!');
                    }
                });

        }

        function Validation() {
            var isValid = true;
            
            if ($('input:checkbox.checkSr:checked').length == 0) {
                isValid = false;
                message = ("Check atleast one checkbox");
            }
            if (isValid == false) {
                ShowMessage(message);
            }
            return isValid;
        }
    </script>
  
 }