﻿
@{
    ViewData["Title"] = "Item Type";
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="card card-primary">
                    
                    <div class="card-header">

                        <h3 class="card-title">Item Type Entry</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("ItemTypeList", "ItemType") + "'");" class="btn btn-info btn-rounded waves-effect waves-light pull-right">

                                <i class="fa fa-arrow-left"></i>
                                Back To Item Type List
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div>
                        <div class="card-body">
                            <div class="form-group" id="divGroup">
                                <label for="ddlGroup">Item Group</label>
                                <select class="form-control" id="ddlGroup" placeholder="Enter Group"></select>
                            </div>
                            <div class="form-group" id="divType">
                                <label for="txtType">Item Type</label>
                                <input type="text" class="form-control" id="txtType" placeholder="Enter Item Type" >
                            </div>

                            <br/>
                            <div class="form-group">
                                <input type="checkbox" class="form-check-input" id="chkActive" checked="checked">&nbsp;&nbsp;
                                <label class="form-check-label" for="chkActive">&nbsp; Is Active</label>
                            </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button class="btn btn-primary" onclick="SaveFinal()">Submit</button>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
                <!-- Form Element sizes -->
                <!-- /.card -->
                <!-- /.card -->
                <!-- Input addon -->
                <!-- /.card -->
                <!-- Horizontal Form -->
                <!-- /.card -->

            </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">

            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
    <input id="txtTypeId" type="number" style="display:none;" value="@ViewBag.ItemTypeId">
</section>

@section Scripts{
    <script>
        $(function () {

            var id = $('#txtTypeId').val();
            LoadGroup();
            if (id > 0) {
                OdEdit(id);
            }
        });

        function LoadGroup() {
        var urlpath = '@Url.Action("LoadItemGroup", "ItemType")';

        $.ajax({
            url: urlpath,
            dataType: 'json',
            type: "Get",
            data: {},
            async: false,
            success: function (data) {
                $('#ddlGroup').empty();
                $('#ddlGroup').append("<option value='0'>--Select Group--</option>");


                for (var i = 0; i < data.length; i++) {

                    $("#ddlGroup").append($("<option></option>").val(data[i].ItemGroupId).html(data[i].ItemGroupName));

                }
            }
        });
    }
        function SaveFinal() {

              //Swal("Hello World");
             if (Validation() == true) {

                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveType();

                });
            }

        }

        function ValidateType(ptype) {

            var result = 0;
            var urlpath = '@Url.Action("CheckItemType", "ItemType")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { ptype: ptype},
                async: false,
                success: function (data) {

                    result = data;
                }
            });
            return result;
        }

        function Validation() {

            var rVal = true;
            var message;
            if (($('#ddlGroup').val() == "0") || ($('#ddlGroup').val() == null) ) {
                ValidationColorChange('ddlGroup', 'divGroup', false);
                rVal = false;
                message = "Some Values Required";

            }

            if (($('#txtType').val() == "") || ($('#txtType').val() == null) ) {
                ValidationColorChange('txtType', 'divType', false);
                rVal = false;
                message = "Some Values Required";

            }
             
            var ddata = ValidateType($('#txtType').val());
            var groupid = $('#txtTypeId').val();

            if (ddata > 0 && groupid == 0) {
                rVal = false;
                message = "Duplicate Item Type, Please Change!!!";

            }


            if (rVal == false) {
                ShowMessage(message);
            }

            return rVal;
        }

        function SaveType() {
            var jsonData = {};


            jsonData["ItemGroupId"] = parseInt($('#ddlGroup').val());

            jsonData["ItemTypeId"] = parseInt($('#txtTypeId').val());

            jsonData["ItemTypeName"] = $('#txtType').val();

            jsonData["IsActive"] = $('#chkActive').is(':checked');

             
            var urlpath = '@Url.Action("SaveItemType", "ItemType")';

            $.ajax({

                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "POST"
            })
                .success(function (result) {

                    if (result.isSuccess) {
                        swal("Item Type Saved Successfull");
                        window.location.href = '@Url.Action("ItemTypeList", "ItemType")';


                    }
                });
        }


         function OdEdit(id) {

            var url = '@Url.Action("GetItemTypeByID", "ItemType")';
            $.ajax({
                url: url,
                dataType: 'json',
                data: { id: id },
                type: "Get",
                async: false,
                success: function (data) {
                    debugger;
                    $('#txtTypeId').val(id);

                    $('#txtType').val(data.ItemTypeName);
                    $("#ddlGroup").val(data.ItemGroupId);
                    if (data.IsActive == true)
                        $('#chkActive').prop('checked', true);
                    else
                        $('#chkActive').prop('checked', false);
                }
            });

        }
    </script>
}


