﻿
<style>
    .ui-datepicker-calendar {
        display: none;
    }
</style>
@{
    ViewBag.Title = "Item Stock";
}
@{

    DateTime now = DateTime.Now;
    var startDate = new DateTime(now.Year, now.Month, 1);
    var endDate = startDate.AddMonths(1).AddDays(-1);
    var today = DateTime.Now;
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-3">
                                <h3 class="card-title"><span class="fa fa-list"></span> Stock Report</h3>
                            </div>

                        </div>
                    </div>


                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divReportName">
                                    <label for="ddlReportName">Report Name</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlReportName" onchange="elementHideShow()">
                                        <option value="DailyItemStockSummery">Daily Stock Summery</option>
                                        <option value="MonthlyItemStockSummery">Monthly Stock Summery</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3" id="mainDivWareHouse">
                            <div class="card-body">
                                <div class="form-group" id="divWareHouse">
                                    <label for="ddlWareHouse">WareHouse</label>
                                    <select class="form-control select2" id="ddlWareHouse" style="width: 100%;"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3" id="mainDivGroup">
                            <div class="card-body">
                                <div class="form-group" id="divGroup">
                                    <label for="ddlGroup">Item Group</label>
                                    <select class="form-control select2" style="width: 100%" id="ddlGroup" onchange="GroupOnChange()"></select>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-3" id="mainDivProduct">
                            <div class="card-body">
                                <div class="form-group" id="divProduct">
                                    <label for="ddlProduct">Item </label>
                                    <select class="form-control select2" style="width: 100%" id="ddlProduct"></select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">

                        <div class="col-md-3" id="divStockDate">
                            <div class="card-body">
                                <div class="form-group" id="">
                                    <label for="stockDate">Stock Date</label>
                                    <input type="text" class="form-control datepicker" id="stockDate" value="@today.ToString("dd-MMM-yyyy")" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3" id="divFromDate">
                            <div class="card-body">
                                <div class="form-group" id="">
                                    <label for="FromDate">From Date</label>
                                    <input type="text" class="form-control datepicker" id="FromDate" value="@startDate.ToString("dd-MMM-yyyy")" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3" id="divToDate">
                            <div class="card-body">
                                <div class="form-group" id="">
                                    <label for="ToDate">To Date</label>
                                    <input type="text" class="form-control datepicker" id="ToDate" value="@endDate.ToString("dd-MMM-yyyy")" />
                                </div>
                            </div>
                        </div>

                    </div>


                    <div>

                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button class="btn btn-primary " onclick="LoadReport()">Show Report</button>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>


@section Scripts{
    <script>
        var AllItemList = {};
        var PrlductList = {};
        $(function () {
            LoadCompany('ddlCompany');
            LoadLocation('ddlLocation');
            LoadWareHouse('ddlWareHouse');

            LoadGroup();
            GetProducts(0);


            $('#divStockDate').hide();
            $('#divFromDate').hide();
            $('#divToDate').hide();
            elementHideShow();

        });

        function GroupOnChange() {
            var group = $('#ddlGroup').val();
            GetProducts(group);
        }
        function LoadGroup() {
            var urlpath = '@Url.Action("LoadGroup", "ItemStock")';

            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {
                    $('#ddlGroup').empty();
                    $('#ddlGroup').append("<option value='0'>--Select Item Group--</option>");


                    for (var i = 0; i < data.length; i++) {

                        $("#ddlGroup").append($("<option></option>").val(data[i].GroupId).html(data[i].GroupName));

                    }
                }
            });
        }
        function GetProducts(id) {


            var urlpath = '@Url.Action("GetProductByGroup2", "ItemStock")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { groupId: id },
                async: false,
                success: function (data) {

                    PrlductList = data;

                }
            });
            LoadProducts('ddlProduct');
        }


        function LoadProducts(elementId) {
            $('#' + elementId + '').empty();
            $('#' + elementId + '').append("<option value='0'>--Select Item--</option>");
            for (var i = 0; i < PrlductList.length; i++) {

                $('#' + elementId + '').append($("<option></option>").val(PrlductList[i].ProductId).html(PrlductList[i].ProductName));
            }
        }
        function LoadLocation(elementId) {
            $.ajax({
                url: "/ItemRequisition/LoadLocation",

                dataType: 'json',
                type: "Get",
                data: {},
                async: true,
                success: function (data) {
                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Location--</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].LocationId).html(data[i].LocationName));
                    }
                }
            });
        }


        function LoadWareHouse(elementId) {

            var locid = 0;
            var wareHouseTypeid = 7;
            var urlpath = '@Url.Action("LoadWareHouse", "Utility")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { locid: locid, wareHouseTypeid: wareHouseTypeid },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Warehouse--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].WareHouseId).html(data[i].WareHouseName));
                    }

                }
            });
        }

        function LoadReport() {
            if (RptValidation() == true) {
                var urlpath = '@Url.Action("ItemStockReports", "ItemStock")';
                var reportValue = $('#ddlReportName').val();
                var jsonData = {};
                if (reportValue == "DailyItemStockSummery") {
                    jsonData["ReportValue"] = "DailyItemStockSummery";
                    jsonData["FromDate"] = $('#stockDate').val();
                    jsonData["ToDate"] = $('#stockDate').val();
                    jsonData["WareHouseId"] = $('#ddlWareHouse').val();
                    jsonData["GroupId"] = isNaN(parseInt($('#ddlGroup').val())) ? 0 : parseInt($('#ddlGroup').val());
                    jsonData["ProductId"] = isNaN(parseInt($('#ddlProduct').val())) ? 0 : parseInt($('#ddlProduct').val());
                }

                if (reportValue == "MonthlyItemStockSummery") {
                    jsonData["ReportValue"] = "DailyItemStockSummery";
                    jsonData["FromDate"] = $('#FromDate').val();
                    jsonData["ToDate"] = $('#ToDate').val();
                    jsonData["WareHouseId"] = $('#ddlWareHouse').val();
                    jsonData["GroupId"] = isNaN(parseInt($('#ddlGroup').val())) ? 0 : parseInt($('#ddlGroup').val());
                    jsonData["ProductId"] = isNaN(parseInt($('#ddlProduct').val())) ? 0 : parseInt($('#ddlProduct').val());
                }

                $.ajax({
                    url: urlpath,
                    data: jsonData,
                    dataType: 'json',
                    type: "Get",
                    success: function (data) {
                        if (data.isSuccess) {
                            window.open("../CrystalViewer/CrystalViewer.aspx", "_blank", "WIDTH=1024,HEIGHT=768,scrollbars=no, menubar=no,resizable=yes,directories=no,location=no");
                        }
                    }
                });
            }
        }


        function RptValidation() {



            var rpt = $('#ddlReportName').val();
            var isValid = true;
            if (($('#stockDate').val() == 0 || $('#stockDate').val() == '') && rpt == 'DailyItemStockSummery') {
                ValidationColorChangeNew('stockDate', 'divStockDate', 'Please Select Stock Date', true);
                isValid = false;
            }
            if (($('#FromDate').val() == 0 || $('#FromDate').val() == '') && rpt == 'MonthlyItemStockSummery') {
                ValidationColorChangeNew('FromDate', 'divFromDate', 'Please Select From Date', true);
                isValid = false;
            }

            if (($('#ToDate').val() == 0 || $('#ToDate').val() == '') && rpt == 'MonthlyItemStockSummery') {
                ValidationColorChangeNew('ToDate', 'divToDate', 'Please Select To Date', true);
                isValid = false;
            }

            return isValid;
        }

        function elementHideShow() {
            if ($('#ddlReportName').val().trim() === "DailyItemStockSummery") {
                $('#divStockDate').show();
                $('#divFromDate').hide();
                $('#divToDate').hide();

            } else if ($('#ddlReportName').val().trim() === "MonthlyItemStockSummery") {
                $('#divStockDate').hide();
                $('#divFromDate').show();
                $('#divToDate').show();
            }

        }


    </script>
}
