﻿
@model IEnumerable<IGFoodProject.Models.Accounts.CostCenter>




 

    <div class="row">
        
            <table class="table table-borderless table-hover " id="reportTable">
                <thead>
                    
                </thead>
                <tbody>
                    @{
                        int count = 1;

                    }
                    @foreach (var item in Model)
                    {
                        <tr id="tr_@item.CostCenterId">
                         
                            @if (item.isCostCenter == 1)
                            {
                                <td class="text-center" style="padding-left: 20px"><input type="checkbox" class="chk" value="@item.CostCenterId" id="chk_@item.CostCenterId" checked="checked" /></td>
                            }
                            else
                            {
                                <td class="text-center" style="padding-left: 20px"><input type="checkbox" class="chk"  value="@item.CostCenterId" id="chk_@item.CostCenterId" /></td>
                            }
          


                            <td class="text-left">@item.CostCenterName</td>
                            <td class="text-left"><input type="hidden" id="isCostCenter_@item.CostCenterId" value="@item.isCostCenter" /> </td>





                        </tr>
                        count++;
                    }

                </tbody>

            </table>
       
    </div>

