﻿

@model IEnumerable<IGFoodProject.ViewModel.ViewCustomerInfo>

<div class="box-header">
    <h3>Customer List</h3>
</div>
<div class="box-body">

    <div class="row">
        <div class="col-md-4 offset-md-1">
            <button class="btn btn-success" onclick="SaveSelected()">Save Selected</button>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12 table-responsive">
            <table class="table table-bordered" id="reportTable">
                <thead>
                    <tr>
                        <th>#</th>

                        <th style="width: 50px"><input type="checkbox" id="checkAll" onclick="CheckAll()" />&nbsp; &nbsp;All</th>

                  
                        <th class="text-left">Customer Name</th>
                        <th>Code</th>


                    </tr>
                </thead>
                <tbody>
                    @{
                        int count = 1;

                    }
                    @foreach (var item in Model)
                    {
                        <tr id="tr_@item.CustomerID">
                            <td>@count</td>

                            <td class="text-left" style="width: 50px"><input type="checkbox" class="chk" id="chk_@item.CustomerID" /></td>


                          
                            <td class="text-left" style="padding: 5%">@item.CustomerName</td>
                            <td>@item.CustomerCode</td>





                        </tr>
                        count++;
                    }

                </tbody>

            </table>
        </div>
    </div>
</div>


<script>
    

    $('#reportTable').DataTable({
        "paging": false,
        "ordering": false,
        "info": false
    });
  

</script>