﻿
@model IEnumerable<IGFoodProject.Models.Accounts.ReferanceType>






<div class="row">

    <table class="table table-borderless table-hover" id="reportTableR">
        <thead>

        </thead>
        <tbody  >
            @{
                int count = 1;

            }
            @foreach (var item in Model)
            {
                <tr id="tr_@item.ReferanceTypeId" >

                    @if (item.isrefrence == 1)
                    {
                        <td class="text-center" style="padding-left: 20px"><input type="checkbox" class="chk" value="@item.ReferanceTypeId" id="chk_@item.ReferanceTypeId"  checked="checked"/></td>
                    }
                    else
                    {
                        <td class="text-center" style="padding-left: 20px"><input type="checkbox" value="@item.ReferanceTypeId" class="chk" id="chk_@item.ReferanceTypeId"  /></td>
                    }
                    


                    <td class="text-left">@item.ReferanceTypeName</td>
                    <td class="text-left"><input type="hidden" id="isrefrence_@item.ReferanceTypeId" value="@item.isrefrence"/> </td>





                </tr>
                count++;
            }

        </tbody>

    </table>

</div>



