﻿@{
    ViewBag.Title = "Account Payment";

}
<div ng-controller="AcPaymentCtrl">
    <!-- Begin: life time stats -->
    <div class="portlet light bordered">
        <div class="portlet-title">
            @*<div class="caption">
                    <i class="icon-settings font-green"></i>
                    <span class="caption-subject font-green sbold uppercase">@ViewBag.Title</span>
                </div>*@
        </div>
        <div class="portlet-body">
            <div class="table-container">
                <div id="sample_3_wrapper" class="dataTables_wrapper no-footer">
                    <form name="addform" ng-submit="save()" class="form-horizontal" id="form_sample_1" novalidate autocomplete="off">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group " ng-class="{ 'has-error' : submitted && addform.name.$invalid}">
                                    <label class="col-md-4 control-label">
                                        Fiscal Year:
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" ng-model="FiscalYear" placeholder="Fiscal Year" name="name" disabled>
                                        <div class="form-control-focus"> </div>
                                        <span ng-show="submitted &&  addform.name.$error.required" class="help-block">Name Required</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group " ng-class="{ 'has-error' : submitted && addform.Voucher.$invalid}">
                                    <label class="col-md-4 control-label">
                                        Voucher No:
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" ng-model="vm.Number" placeholder="Voucher No" name="Voucher" disabled>
                                        <div class="form-control-focus"> </div>
                                        <span ng-show="submitted &&  addform.Voucher.$error.required" class="help-block">Voucher Required</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" ng-class="{ 'has-error' : submitted && addform.Date.$invalid}">
                                    <label class="col-md-4 control-label">
                                        Date:
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" ng-click="p1=true" is-open="p1" readonly placeholder="Date" ng-model="vm.Date" uib-datepicker-popup="dd/MM/yyyy" name="Date" required />
                                        <span ng-show="submitted &&  addform.Date.$error.required" class="help-block">Date Required</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group" ng-class="{ 'has-error' : submitted && addform.Description.$invalid}">
                                    <label class="col-md-4 control-label">
                                        Description:
                                    </label>
                                    <div class="col-md-8">
                                        <textarea rows="4" class="form-control" ng-model="vm.Remarks" placeholder="Description" name="Description" style="height: 40px;"></textarea>
                                        <div class="form-control-focus"> </div>
                                        <span ng-show="submitted &&  addform.Description.$error.required" class="help-block">Description Required</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" ng-class="{ 'has-error' : submitted && addform.BranchId.$invalid}">
                                    <label class="col-md-4 control-label">
                                        Account Branch :
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        <select class="form-control" ng-model="vm.BranchId" required name="BranchId" ng-options="vm.BranchId as vm.Name for vm in AcBranchlist">
                                            <option value="" selected="selected">Choose Option</option>
                                        </select>
                                        <div class="form-control-focus"> </div>
                                        <span ng-show="submitted && addform.BranchId.$error.required" class="help-block">Branch Required</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" ng-class="{ 'has-error' : submitted && addform.PayTo.$invalid}">
                                    <label class="col-md-4 control-label">
                                        Pay To :
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" name="CustomerSupplierIds" ng-model="Vmp" typeahead-on-select='onSelectC($item, $model, $label)'
                                               placeholder="Enter Account Name / Person Name"
                                               uib-typeahead="i  as i.Name for i in SearchCustomerSupplier($viewValue)"
                                               typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
                                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                        <div ng-show="noResults"><i class="glyphicon glyphicon-remove"></i> No Results Found</div>
                                        <input type="hidden" name="CustomerSupplierId" ng-value="Vmp.Id" />
                                        <div class="form-control-focus"> </div>
                                        @*<input type="text" ng-model="vm.PayTo" name="PayTo" required placeholder="Enter Account Name / Person Name"
                                                   class="form-control">
                                            <div class="form-control-focus"> </div>
                                            <span ng-show="submitted &&  addform.PayTo.$error.required" class="help-block">Pay To Required</span>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group" ng-class="{ 'has-error' : submitted && addform.PaymentType.$invalid}">
                                    <label class="col-md-4 control-label">
                                        Pay Mode :
                                    </label>
                                    <div class="col-md-8">
                                        <select class="form-control" required name="Type" ng-model="vm.PayMode" ng-change="resetFormPaymode();$scope.state= true;">
                                            <option selected value="">Choose Options</option>
                                            <option ng-value="2">Cheque</option>
                                            <option ng-value="1">Cash</option>
                                            <option ng-value="3">On Credit</option>
                                        </select>
                                        <div class="form-control-focus"> </div>
                                        <span ng-show="submitted &&  addform.PaymentType.$error.required" class="help-block">Payment Type Required</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" ng-show="vm.PayMode==2" ng-class="{ 'has-error' : submitted && addform.cheque.$invalid}">
                                    <label class="col-md-4 control-label">
                                        Cheque No:
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" ng-model="vm.ChequeNo" ng-required="vm.PayMode==2" name="cheque" placeholder="Enter Cheque No"
                                               class="form-control">
                                        <div class="form-control-focus"> </div>
                                        <span ng-show="submitted && addform.cheque.$error.required" class="help-block">Cheque No Required</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" ng-class="{ 'has-error' : submitted && addform.ChequeDate.$invalid}" ng-show="vm.PayMode==2">
                                    <label class="col-md-4 control-label">
                                        Cheque Date:
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" ng-required="vm.PayMode==2" ng-click="p2=true" is-open="p2" readonly placeholder="Date" ng-model="vm.ChequeDate" uib-datepicker-popup="dd/MM/yyyy" name="ChequeDate" />
                                        <span ng-show="submitted &&  addform.ChequeDate.$error.required" class="help-block">Date Required</span>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div ng-show="$scope.state">
                            <div class="table-scrollable"> </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="font-green bold uppercase text-center">
                                        <p style="margin-bottom:0">Debit</p>
                                    </div>
                                    <div class="table-scrollable"> </div>
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr class="btn-primary">
                                                <th>Ledger Name</th>
                                                <th class="center" style="width:25%">Amount</th>
                                                <th style="width:18%">Action</th>
                                                <th style="width:26%">Current Balance</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="drRow  in vm.TransactionDetail | filter:{DC:1}:true">
                                                <td>
                                                    <input type="text" ng-model="drRow.SearchLedger" typeahead-on-select='onSelect($item, $model, $label,drRow)' placeholder="Search Ledger by Name"
                                                           uib-typeahead="i  as i.Text for i in SearchDR($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
                                                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                                    <div ng-show="noResults"><i class="glyphicon glyphicon-remove"></i> No Results Found</div>
                                                </td>
                                                <td>
                                                    <input type="text" ng-change="calculation()" onkeypress='return event.charCode >= 48 && event.charCode <= 57' ng-disabled="drRow.LedgerId == ''" class="form-control" ng-model="drRow.Amount" placeholder="Amount" name="Amount" required>
                                                </td>
                                                <td>
                                                    <div class="btn-group">
                                                        <button type="button" ng-click="addRow(1)" class="btn btn-xs green-haze"><i class="fa fa-plus"></i></button>
                                                        <button type="button" ng-click="removeRow(drRow)" class="btn btn-xs green-haze red"><i class="fa fa-minus"></i></button>
                                                    </div>
                                                </td>
                                                <td ng-model="drRow.CurrentBalance">
                                                    {{drRow.CurrentBalance}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="4" class="text-center" ng-model="vm.DrTotal">Total Debit: {{vm.DrTotal}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-lg-6">
                                    <div class="font-green bold uppercase text-center">
                                        <p style="margin-bottom:0">Credit</p>
                                    </div>
                                    <div class="table-scrollable"> </div>
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr class="btn-primary">
                                                <th>Ledger Name</th>
                                                <th class="center" style="width:25%">Amount</th>
                                                <th style="width:18%">Action</th>
                                                <th style="width:26%">Current Balance</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="crRow in vm.TransactionDetail | filter:{DC:2}:true">
                                                <td>
                                                    @*<select ng-model="crRow.LedgerId" class="form-control js-data-example-ajax" name="Category" ng-change="GetLedgerByLedgerId(crRow)" ng-options="Ledger.LedgerId as Ledger.Name for Ledger in Ledgers">
                                                            <option value="">Select One</option>
                                                        </select>*@
                                                    <input type="text" ng-model="crRow.SearchLedger" typeahead-on-select='onSelect($item, $model, $label,crRow)' placeholder="Search Ledger by Name"
                                                           uib-typeahead="i  as i.Text for i in SearchCR($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
                                                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                                    <div ng-show="noResults"><i class="glyphicon glyphicon-remove"></i> No Results Found</div>
                                                </td>
                                                <td>
                                                    <input ng-change="calculation(crRow)" ng-model="crRow.Amount" ng-disabled="crRow.LedgerId == ''" type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control" placeholder="Amount" name="Amount" required>
                                                </td>
                                                <td>
                                                    <div class="btn-group">
                                                        <button type="button" ng-click="addRow(2)" class="btn btn-xs green-haze"><i class="fa fa-plus"></i></button>
                                                        <button type="button" ng-click="removeRow(crRow)" class="btn btn-xs green-haze red"><i class="fa fa-minus"></i></button>
                                                    </div>
                                                </td>
                                                <td ng-model="crRow.CurrentBalance">
                                                    {{crRow.CurrentBalance}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="4" class="text-center" ng-model="Contra.CrTotal">Total Credit: {{vm.CrTotal}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row" ng-show="hideSave">
                                <div class="col-lg-12 text-center">
                                    <span class="font-red bold uppercase">
                                        <p style="margin-bottom:0">Debit and Credit amount needs to be same!</p><br />
                                        <p>Differents: {{vm.DifDrTotal}}</p>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 text-right">
                                    <button type="submit" ng-show="!hideSave" ng-click="submitted=true" class="btn green"><i class="fa fa-save"></i> Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="table-scrollable"> </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End: life time stats -->
</div>
@section Scripts{
    <script type="text/javascript">
        App.controller("AcPaymentCtrl", ["$scope", "$http", "SweetAlert", "$filter",
              function ($scope, $http, SweetAlert, $filter) {

                  init();
                  function init() {
                      initialize();
                      GetActiveFiscalYear();
                     // calculation();
                      getAcBranchlist();
                      getVoucherNo();

                  }
                  function initialize() {
                      $scope.submitted = false;
                      $scope.currentPage = 1;
                      $scope.pageno = 1;
                      $scope.pagesize = 10;
                      $scope.total_count = 12;
                      $scope.search = '';
                      $scope.res = {};
                      $scope.data = {};
                      $scope.resetForm = resetForm;
                      $scope.resetFormPaymode = resetFormPaymode;
                      $scope.calculation = calculation;

                      $scope.hstep = 1;
                      $scope.mstep = 15;
                      $scope.CommonFeilds = [];
                      $scope.vm = {};
                      $scope.vm.TransactionDetail = [];
                      $scope.vm.Type = 2;
                      $scope.vm.TransType = 2;
                      $scope.hideSave = false;
                      $scope.state= false;
                      $scope.vm.TransactionDetail.push({ LedgerId: 0, Amount: 0, CurrentBalance: 0, DC: 2 });
                      $scope.vm.TransactionDetail.push({ LedgerId: 0, Amount: 0, CurrentBalance: 0, DC: 1 });
                      $scope.VoucherNo = 0;

                      $scope.pageSizeArray = [];
                      $scope.pageSizeArray.push({ value: 5, text: 5 });
                      $scope.pageSizeArray.push({ value: 10, text: 10 });
                      $scope.pageSizeArray.push({ value: 20, text: 20 });
                      $scope.pageSizeArray.push({ value: 50, text: 50 });
                      $scope.currentPage = 1;
                      $scope.pageSize = 10;

                  }
                  function resetForm() {
                      $scope.addform.$setUntouched();
                      $scope.addform.$setPristine();
                      $scope.submitted = false;
                      $scope.vm = {};
                      $scope.vm.Type = 2;
                      GetActiveFiscalYear();
                      $scope.vm.TransType = 2;
                      $scope.vm.TransactionDetail = [];
                      $scope.hideSave = false;
                      $scope.vm.TransactionDetail.push({ LedgerId: 0, Amount: 0, CurrentBalance: 0, DC: 2 });
                      $scope.vm.TransactionDetail.push({ LedgerId: 0, Amount: 0, CurrentBalance: 0, DC: 1 });
                  }
                  function resetFormPaymode() {
                      $scope.vm.TransactionDetail = [];
                      $scope.hideSave = false;
                      $scope.vm.TransactionDetail.push({ LedgerId: 0, Amount: 0, CurrentBalance: 0, DC: 2 });
                      $scope.vm.TransactionDetail.push({ LedgerId: 0, Amount: 0, CurrentBalance: 0, DC: 1 });
                  }

                  $scope.addRow = function (no) {

                      $scope.vm.TransactionDetail.push({ LedgerId: '', Amount: 0, CurrentBalance: 0, DC: no });
                      calculation();
                  }


                  $scope.removeRow = function (row) {
                      var index = $scope.vm.TransactionDetail.indexOf(row);
                      if ($scope.vm.TransactionDetail.length > 2) {
                          if (row.Amount > 0) {
                              toastr["warning"]("Can't Delete Amount available!");
                          } else {
                              $scope.vm.TransactionDetail.splice(index, 1);
                          }
                      } else {
                          toastr["warning"]("Atleast one Transaction needed!");
                      }

                      calculation();
                  }
                  $scope.removeDrRow = function (index) {
                      var index = $scope.Contra.DrRows.indexOf(index);
                      $scope.vm.TransactionDetail.splice(index, 1);
                      calculation();
                  }
                  function GetAllLedgers() {
                      $scope.Ledgers = [];
                      $http({
                          method: 'GET',
                          url: baseUrl + 'Accounts/GetAllLedgers/'
                      }).then(function successCallback(response) {
                          $scope.Ledgers = response.data.results;
                      }, function errorCallback(response) {
                          //toastr["warning"](response.data.Message);
                      });
                  }

                  $scope.GetLedgerByLedgerId = function (drRow) {
                      drRow.CurrentBalance = 0;

                      $http({
                          method: 'GET',
                          url: baseUrl + 'Accounts/GetLedgersByLedgerIdEdit/' + drRow.LedgerId
                      }).then(function successCallback(response) {
                          $scope.LedgersById = response.data.results;
                          drRow.CurrentBalance = $scope.LedgersById[0].CurrentBalance

                          console.log($scope.BalanceLedgerAmt);
                      }, function errorCallback(response) {
                          //toastr["warning"](response.data.Message);
                      });
                  }

                  function getVoucherNo() {
                      $scope.VoucherNo = 0;
                      $http({
                          method: 'GET',
                          url: baseUrl + 'Accounts/GetLastVoucher/'
                      }).then(function successCallback(response) {

                          $scope.VoucherNo = response.data.results;
                          console.log($scope.VoucherNo);
                          $scope.vm.Number = $scope.VoucherNo;
                      }, function errorCallback(response) {
                          toastr["warning"](response.data.Message);
                      });
                  }
                  function GetActiveFiscalYear() {
                      $http({
                          method: 'GET',
                          url: baseUrl + 'Accounts/GetActiveFiscalYear/'
                      }).then(function successCallback(response) {
                          $scope.FiscalYears = response.data.results;
                          $scope.vm.FiscalYear = $scope.FiscalYears[0].Id;
                          $scope.FiscalYear = $scope.FiscalYears[0].Name;
                      }, function errorCallback(response) {
                          //toastr["warning"](response.data.Message);
                      });
                  }


                  function getAcBranchlist() {
                      //$scope.CommonFeilds = [];
                      $http({
                          method: 'GET',
                          url: baseUrl + '/Accounts/GetAllAccountBranch/'
                      }).then(function successCallback(response) {
                          $scope.AcBranchlist = response.data.results;
                          //consol.log($scope.AcBranchlist);
                      }, function errorCallback(response) {
                      });
                  }



                  function calculation() {
                      $scope.hideSave = false;
                      $scope.vm.DifDrTotal = 0
                      $scope.vm.DrTotal = 0;
                      $scope.vm.CrTotal = 0;


                      angular.forEach($scope.vm.TransactionDetail, function (value, key) {
                          if (value.DC == 1) {
                              $scope.vm.DrTotal += num(value.Amount);
                              var index = $scope.vm.TransactionDetail.indexOf(value);
                              $scope.vm.TransactionDetail[index].DrAmount = value.Amount;

                          }

                          if (value.DC == 2) {
                              if (value.Amount <= value.CurrentBalance) {
                                  $scope.vm.CrTotal += num(value.Amount);
                                  var index = $scope.vm.TransactionDetail.indexOf(value);
                                  $scope.vm.TransactionDetail[index].CrAmount = value.Amount;
                              }

                              else {
                                  toastr["error"]("Not Enough Current balance");
                                  $scope.hideSave = true;
                              }

                             // debugger;
                              //if (num(value.Amount) > value.CurrentBalance) {
                              //    toastr["error"]("Not Enough Current balance");

                              //    return ;
                              //} else {
                              //    var index = $scope.vm.TransactionDetail.indexOf(value);
                              //    $scope.vm.TransactionDetail[index].CrAmount = value.Amount;
                              //}

                          }
                          if ($scope.vm.CrTotal != $scope.vm.DrTotal) {

                              if ($scope.vm.DrTotal > $scope.vm.CrTotal) {
                                  $scope.vm.DifDrTotal = $scope.vm.DrTotal - $scope.vm.CrTotal;
                              } else {
                                  $scope.vm.DifDrTotal = $scope.vm.CrTotal - $scope.vm.DrTotal;
                              }
                              $scope.hideSave = true;
                          } else {
                              $scope.hideSave = false;
                          }



                          //if (num(value.Amount) > value.CurrentBalance) {
                          //    toastr["error"]("Not Enough Current balance");

                          //    $scope.hideSave = false;
                          //} else {
                          //    $scope.hideSave = true;
                          //}
                          ////t
                          //if (value.DC == 1) {
                          //    $scope.vm.DrTotal1 += num(value.Amount);




                          //    if ($scope.vm.DrTotal1 != $scope.drRow.CurrentBalance) {
                          //        toastr["error"]("Please insert at least one transaction");
                          //        return;

                          //} else {
                          //    $scope.hideSave = false;
                          //}

                          //}

                      });
                  }

                  //for Ledger Search for auto complete text box ......
                  $scope.SearchCustomerSupplier = function () {
                      return $http.get(baseUrl + 'Accounts/Get_ACC_CustomerSupplierByType/' + 2, {
                          params: {

                          }
                      }).then(function (response) {
                          return response.data.results.map(function (item) {
                              return item;
                          });
                      });
                  };
                  $scope.SearchDR = function (val) {
                      $scope.vm.AccType = 'DR';
                      if (val.length >= 2)
                          return $http.get(baseUrl + 'Accounts/SearchLedger/' + val + '/' + $scope.vm.TransType + '/' + $scope.vm.AccType + '/' + $scope.vm.PayMode,
                           {
                               params: {}
                           }).then(function (response) {
                               return response.data.results.map(function (item) {
                                   return item;
                               });
                           });
                  };

                  $scope.SearchCR = function (val) {
                      $scope.vm.AccType = 'CR';
                      if (val.length >= 2)
                          return $http.get(baseUrl + 'Accounts/SearchLedger/' + val + '/' + $scope.vm.TransType + '/' + $scope.vm.AccType + '/' + $scope.vm.PayMode,
                           {
                               params: {}
                           }).then(function (response) {
                               return response.data.results.map(function (item) {
                                   return item;
                               });
                           });
                  };

                  // for dropdown select list event....
                  $scope.onSelect = function onSelect($item, $model, $label, itemRow) {
                      var hasLedger = 0;
                      var keepGoing = true;
                      if (keepGoing) {
                          angular.forEach($scope.vm.TransactionDetail, function (value, key) {
                              if (value.LedgerId == num($item.Value)) {
                                  console.log("Item Found!");
                                  //toastr["error"]("Ledger Allready selected!!!");
                                  hasLedger = true;
                                  keepGoing = false;
                                  return;
                              }
                          });
                      }
                      if (hasLedger) {
                          toastr["error"]("Ledger Allready selected!!!");
                          itemRow.LedgerId = 0;
                          itemRow.CurrentBalance = 0;
                          return;
                      }
                      $scope.studentSearchs = [];
                      $http({
                          method: 'GET',
                          url: baseUrl + 'Accounts/GetLedgersByLedgerIdEdit/' + $item.Value
                      }).then(function successCallback(response) {
                          $scope.LedgersById = response.data.results;
                          itemRow.CurrentBalance = $scope.LedgersById[0].CurrentBalance;
                          itemRow.LedgerId = num($item.Value);
                      }, function errorCallback(response) {
                          toastr["error"](response.data.Message);
                      });
                  };
                  $scope.onSelectC = function onSelectC($item, $model, $label) {
                      $scope.vm.CustomerSupplierId = $item.Id;


                  };

                  $scope.save = function save() {
                      if ($scope.addform.$invalid)
                          return;
                      if ($scope.vm.DrTotal == 0 || $scope.vm.CrTotal == 0) {
                          toastr["error"]("Please insert at least one transaction");
                          return;
                      }



                      swal({
                          title: "Are you sure to Receive?",
                          text: "Yes, save it!",
                          icon: "warning",
                          buttons: true,

                          dangerMode: true,
                      })
                          .then((isConfirm) => {
                              if (isConfirm) {

                                  //condition
                                  if ($scope.addform.$valid) {
                                      $http({
                                          method: 'POST',
                                          url: baseUrl + 'Accounts/AddTransaction/',
                                          data: $scope.vm
                                      }).then(function successCallback(response) {
                                          getVoucherNo();
                                          resetForm();
                                          swal("Saved!", "Your transaction has been Saved!.", {
                                              icon: "success",

                                          });


                                          toastr["info"]('Saved Successfully!');
                                      }, function errorCallback(response) {
                                          toastr["warning"](response.data.Message);
                                          toastr["warning"](response.data.Message);
                                          toastr["warning"](response.data.Message);
                                      });
                                  }

                              }


                          });

                  }
                  function num(n) {

                      if ($.isNumeric(n)) {
                          return parseFloat(n);
                      } else {
                          return 0;
                      }
                  }

              }]);
    </script>
}
