﻿@using System.Data
@model System.Data.DataTable

@{
    ViewBag.Title = "Index";
    var count = 1;
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">

                        <div class="row">

                            <div class="col-md-6">
                                <h3>GL List</h3>
                            </div>
                            <div class="col-md-6 text-right ">
                                <a class="btn btn-outline-warning" href="@Url.Action("GLSetup", "ChartOfAccount", new {id = 0})">

                                    <span class="fa fa-plus"></span>New GL Setup 

                                </a>
                            </div>

                        </div>



                    </div>
                    <div class="row">
                        <div class="card-body">
                            <div class="box-body">
                                <table id="myTable" class="table table-bordered dataTable table-striped">
                                    <thead>
                                        <tr>
                                            <th>SL#</th>
                                            <th>Group Name</th>
                                            <th>GL Code</th>
                                            <th>GL Name</th>
                                            <@*th>Company</th>
                                            <th>Business Unit</th>*@
                                            <th>IsActive</th>
                                            <th>Is Reference</th>
                                            <th>Is CostCenter</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (DataRow row in Model.Rows)
                                        {

                                            <tr>
                                                <td>@count</td>
                                                <td style="text-align: center">@row.ItemArray[1]</td>
                                                <td style="text-align: center">@row.ItemArray[2]</td>
                                                <td style="text-align: center">@row.ItemArray[3]</td>
                                                <td style="text-align: center">@row.ItemArray[4]</td>
                                                <td style="text-align: center">@row.ItemArray[5]</td>
                                                <td style="text-align: center">@row.ItemArray[6]</td>
                                                @*<td style="text-align: center">@row.ItemArray[7]</td>
                                                <td style="text-align: center">@row.ItemArray[8]</td>*@
                                                <td>
                                                    @Html.ActionLink("Edit", "GLSetup", new { glid = row.ItemArray[0] })

                                                </td>
                                            </tr>
                                            count++;
                                        }
                                    </tbody>
                                    <tfoot>

                                    </tfoot>
                                </table>
                            </div>



                        </div>

                    </div>

                    <!-- /.card-header -->
                    <!-- form start -->


                </div>

            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->

</section>





@section Scripts{
    <script>
        $('#myTable').DataTable(
            {
                "order": [[0, "desc"]]
            })
    </script>
}

