﻿
@{
    ViewBag.Title = "Refreance Type Details";
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">

                        <div class="row">

                            <div class="col-md-6">
                                <h3>Refreance Type Details</h3>
                            </div>
                            <div class="col-md-6 text-right ">
                                <a class="btn btn-outline-warning" href="@Url.Action("GLSetup", "ChartOfAccount", new {id = 0})">

                                    <span class="fa fa-List"></span>Refreance Details List

                                </a>
                            </div>

                        </div>



                    </div>
                    <div class="row">
                        <div class="card-body">
                            <div class="box-body">

                                <div class="row">
                                    <div class="col-md-3">
                                    </div>
                                    <div class="col-md-3" style="padding: 20px">

                                        <div id="divRefTpe">
                                            <label for="ddlRefType">Referance Type:</label>
                                            <select class="form-control select2" id="ddlRefType" name="ddlRefType" onchange="LoadDetails()"></select>
                                        </div>


                                    </div>


                                </div>

                                <hr />
                                <div class="container">
                                    <div class="row">
                                        <div class="text-center" id="loading" style="display: none">
                                        
                                            <img src="~/AssetStatic/Images/Double Ring.gif" style="z-index: 100" alt="Loading Please Wait" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-md-6 offset-md-3">
                                        <div id="details" class="card-box table-responsive  table-bordered table-hover">

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                    <!-- /.card-header -->
                    <!-- form start -->


                </div>

            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->

</section>

@section Scripts{


    <script>

        $(document).ready(function() {

            LoadReferanceType();

            $(".select2").select2();


            $("#checkbox").click(function() {
                if ($("#checkbox").is(':checked')) {
                    $("select > option").prop("selected", "selected");
                } else {
                    $("select > option").removeAttr("selected");
                }
            });
        }); //ready fun end
    </script>


    <script>

        function LoadReferanceType() {

            var urlpath = '@Url.Action("RefreanceTypeList", "ChartOfAccount")';

            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function(data) {
                    $('#ddlRefType').empty();
                    $('#ddlRefType').append("<option value='0'>--Select--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $("#ddlRefType").append($("<option></option>").val(data[i].ReferanceTypeId).html(data[i].ReferanceTypeName));
                    }
                }
            });

        }

        function CheckAll() {
            if ($('#checkAll').is(':checked')) {

                $('.chk').prop('checked', true);
            } else {
                $('.chk').prop('checked', false);
            }
        }
    </script>

    <script>
        
        function SaveSelected() {

            debugger;
            var jsonObj = [];
            $('#reportTable tbody tr').each(function () {
                var idr = $(this).attr('id');
                var id = idr.substring(3);


                if ($('#chk_' + id).is(':checked')) {
                    var jsonData = {};
                    var idr = $(this).attr('id');
                    var id = idr.substring(3);
                    // alert(idr);
                    // alert(id);

                    var refId = $("#ddlRefType").val();

                    jsonData["RefDetailsId"] = id;
                    jsonData["ReferanceTypeId"] = refId;

                    jsonObj.push(jsonData);
                }
            });

            var urlpath = '@Url.Action("SaveReferanceDetails", "ChartOfAccount")';

            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(jsonObj),
                dataType: 'json',
                type: "POST",
                success: function (result) {
                    ;

                    if (result == true) {
                        swal({
                            title: 'Save Successfully!!',
                            type: 'success',
                            closeOnCancel: true

                        },
                            function () {
                                $('#details').empty();
                                window.location.href = '@Url.Action("RefreanceTypeDetails", "ChartOfAccount")';

                            });

                    }


                }
            });
        }
    </script>



    <script>
        function LoadDetails() {
            var refId = $("#ddlRefType").val();

            if (refId == 9) {
                var urlpath = '@Url.Action("LoadCustomerPartialView", "ChartOfAccount")';

                $.ajax({
                    url: urlpath,
                    data: { refId: refId },
                    dataType: 'html',
                    type: "Get",
                    async: true,

                    beforeSend: function() {
                        $('#details').empty();
                        $('#containerOp').css("opacity", .30);
                        $('#loading').css("zIndex", 999);
                        $('#loading').css("opacity", 1);

                        $('#loading').show();


                    },
                    success: function(data) {
                        $('#loading').hide();
                        $('#containerOp').css("opacity", 1);
                        $('#details').empty();
                        $('#details').append(data);
                        $('#reportTable').dataTable();
                    }


                });
            }
            if (refId == 11) {
                var urlpath = '@Url.Action("LoadEeployeePartialView", "ChartOfAccount")';

                $.ajax({
                    url: urlpath,
                    data: { refId: refId },
                    dataType: 'html',
                    type: "Get",
                    async: true,

                    beforeSend: function () {
                        $('#details').empty();
                        $('#containerOp').css("opacity", .30);
                        $('#loading').css("zIndex", 999);
                        $('#loading').css("opacity", 1);

                        $('#loading').show();


                    },
                    success: function (data) {
                        $('#loading').hide();
                        $('#containerOp').css("opacity", 1);
                        $('#details').empty();
                        $('#details').append(data);
                        $('#reportTable').dataTable();
                    }


                });
            }
            if (refId == 18) {
                var urlpath = '@Url.Action("LoadSupplierPartialView", "ChartOfAccount")';

                $.ajax({
                    url: urlpath,
                    data: { refId: refId },
                    dataType: 'html',
                    type: "Get",
                    async: true,

                    beforeSend: function () {
                        $('#details').empty();
                        $('#containerOp').css("opacity", .30);
                        $('#loading').css("zIndex", 999);
                        $('#loading').css("opacity", 1);

                        $('#loading').show();


                    },
                    success: function (data) {
                        $('#loading').hide();
                        $('#containerOp').css("opacity", 1);
                        $('#details').empty();
                        $('#details').append(data);
                        $('#reportTable').dataTable();
                    }


                });
            }
            if (refId == 17) {
                var urlpath = '@Url.Action("LoadModulePartialView", "ChartOfAccount")';

                $.ajax({
                    url: urlpath,
                    data: { refId: refId },
                    dataType: 'html',
                    type: "Get",
                    async: true,

                    beforeSend: function () {
                        $('#details').empty();
                        $('#containerOp').css("opacity", .30);
                        $('#loading').css("zIndex", 999);
                        $('#loading').css("opacity", 1);

                        $('#loading').show();


                    },
                    success: function (data) {
                        $('#loading').hide();
                        $('#containerOp').css("opacity", 1);
                        $('#details').empty();
                        $('#details').append(data);
                        $('#reportTable').dataTable();
                    }


                });
            }

        }

    </script>
    <script>
        function LoadCustomerPartial() {
            var urlpath = '@Url.Action("LoadReferanceInPartialView", "ChartOfAccount")';


            $.ajax({
                url: urlpath,
                dataType: 'html',
                type: "Get",
                async: true,

                beforeSend: function() {
                    $('#detailsR').empty();
                    $('#containerOp').css("opacity", .30);
                    $('#loading').css("zIndex", 999);
                    $('#loading').css("opacity", 1);

                    $('#loading').show();


                },
                success: function(data) {
                    $('#loading').hide();
                    $('#containerOp').css("opacity", 1);
                    $('#detailsR').empty();
                    $('#detailsR').append(data);
                    $('#reportTable1').dataTable();
                }
            });
        }

    </script>




}
