﻿
@{
    ViewData["Title"] = "Item Group";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">
                        <h3 class="card-title">Item Group Entry</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("ItemGroupList", "ItemGroup") + "'");" class="btn btn-info btn-rounded waves-effect waves-light pull-right">

                                <i class="fa fa-arrow-left"></i>
                                Back To Item Group List
                            </button>
                        </div>
                    </div>
                    <div>
                        <div class="card-body">
                            <div class="form-group" id="divItemGroupName">
                                <label for="txtItemGroupName">Item Group Name</label>
                                <input type="text" class="form-control" id="txtItemGroupName" placeholder="Enter Item Group Name">
                            </div>
                            <br />

                            <div class="form-group">
                                <input type="checkbox" class="form-check-input" id="chkActive" checked="checked"> &nbsp; &nbsp;
                                <label class="form-check-label" for="chkActive">&nbsp;  Is Active</label>
                            </div>
                        </div>

                        <div class="card-footer">
                            <button class="btn btn-primary" onclick="SaveFinal()">Submit</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>
    <input id="txtItemGroupId" type="number" style="display:none;" value="@ViewBag.ItemGroupId">
</section>

@section Scripts{
    <script>
        $(function () {

            var id = $('#txtItemGroupId').val();

            if (id > 0) {
                OdEdit(id);
            }
        });


        function SaveFinal() {

            if (Validation() == true) {

                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveGroup();

                });
            }

        }

        function ValidateGroup(group) {

            var result = 0;
            var urlpath = '@Url.Action("CheckItemGroup", "ItemGroup")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { group: group },
                async: false,
                success: function (data) {

                    result = data;
                }
            });
            return result;
        }

        function Validation() {

            var rVal = true;
            var message;
            if (($('#txtItemGroupName').val() == "") || ($('#txtItemGroupName').val() == null)) {
                ValidationColorChange('txtItemGroupName', 'divItemGroupName', false);
                rVal = false;
                message = "Some Values Required";

            }

            var ddata = ValidateGroup($('#txtItemGroupName').val());
            var groupid = $('#txtItemGroupId').val();

            if (ddata > 0 && groupid == 0) {
                rVal = false;
                message = "Duplicate Item Group Please Change!!!";

            }


            if (rVal == false) {
                ShowMessage(message);
            }

            return rVal;
        }

        function SaveGroup() {
            var jsonData = {};


            jsonData["ItemGroupId"] = parseInt($('#txtItemGroupId').val());

            jsonData["ItemGroupName"] = $('#txtItemGroupName').val();

            jsonData["IsActive"] = $('#chkActive').is(':checked');


            var urlpath = '@Url.Action("SaveItemGroup", "ItemGroup")';

            $.ajax({

                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "POST"
            })
                .success(function (result) {

                    if (result.isSuccess) {

                        swal("Item Group Saved Successfull");
                       window.location.href = '@Url.Action("ItemGroupList", "ItemGroup")';


                    }
                });


        }


        function OdEdit(id) {

            var url = '@Url.Action("GetItemGroupByID", "ItemGroup")';
            $.ajax({
                url: url,
                dataType: 'json',
                data: { id: id },
                type: "Get",
                async: false,
                success: function (data) {

                    $('#txtItemGroupId').val(id);

                    $('#txtItemGroupName').val(data.ItemGroupName);
                    if (data.IsActive == true)
                        $('#chkActive').prop('checked', true);
                    else
                        $('#chkActive').prop('checked', false);
                }
            });

        }
    </script>
}

