﻿@model IEnumerable<IGFoodProject.Models.ItemGroup>

@{
    ViewData["Title"] = "Item Group List";
}



@{
    int count = 0;
}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div>
                    <button type="button" onclick="@("window.location.href='" + @Url.Action("AddItemGroup", "ItemGroup") + "'");" class="btn btn-info btn-rounded waves-effect waves-light pull-right">
                        <span class="btn-label">
                            <i class="fa fa-arrow-left"></i>
                        </span>
                        Back To Item Group Entry

                    </button>
                </div>

                <div class="card-header">
                    <h3 class="card-title">Item Group List</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example2" class="table dataTable table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="text-align:center">#</th>
                                <th style="text-align:center">Item Group Name</th>
                                <th style="text-align:center">Create Date</th>
                                <th style="text-align:center">Create By</th>
                                <th style="text-align:center">Update Date</th>
                                <th style="text-align:center">Update By</th>
                                <th style="text-align:center">Is Active</th>
                                <th style="text-align:center"></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <td style="text-align:center">@count</td>
                                    <td style="text-align:center">@item.ItemGroupName</td> 
                                    <td style="text-align:center">@Convert.ToDateTime(item.CreateDate).ToString("dd-MMM-yyyy")</td>
                                    <td style="text-align:center">@item.CreateBy</td>
                                    <td style="text-align:center">@Convert.ToDateTime(item.UpdateDate).ToString("dd-MMM-yyyy")</td>
                                    <td style="text-align:center">@item.UpdateBy</td>
                                    <td style="text-align:center">@item.IsActive</td>
                                    <td>
                                        @Html.ActionLink("Edit", "AddItemGroup", "ItemGroup", new { id = item.ItemGroupId }, new { @class = "btn btn-primary btn-xs btn-custom btn-rounded waves-effect waves-light" }) 
                                        <button class="btn btn-danger  btn-xs btn-custom btn-rounded waves-effect waves-light" onclick="ItemGroupDelete(@item.ItemGroupId)"> Delete</button> 
                                    </td>
                                </tr>

                            }


                        </tbody>

                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
@*</div>*@
@*<script src="~/plugins/jquery/jquery.min.js"></script>*@
@section Scripts{
    <script>
            $(function () {

                
            });
    </script>
    <script type="text/javascript">




        function ItemGroupDelete(id) {

            swal({
                title: "Are you sure?",
                text: "",
                type: "success",
                showCancelButton: true,
                cancelButtonClass: 'btn-secondary waves-effect',
                confirmButtonClass: 'btn-success waves-effect waves-light',
                confirmButtonText: 'Yes!',
                closeOnConfirm: false
            }, function () {
                $('.confirm').prop("disabled", true);
                $('.cancel').prop("disabled", true);
                DeleteItemGroupFianl(id);

            });



    }
        function DeleteItemGroupFianl(id) {



        var urlpath = '@Url.Action("DeleteItemGroup", "ItemGroup")';

        $.ajax({
            contentType: "application/json; charset=utf-8",
            data: { id: id },
            dataType: 'json',
            url: urlpath,
            type: "GET"
        })
            .success(function (result) {

                if (result.isSuccess) {

                    $('.confirm').prop("disabled", false);
                    $('.cancel').prop("disabled", false);
                    swal("Data Delete Successfull");
                    window.location.href = '@Url.Action("ItemGroupList", "ItemGroup")';


                }
            });
    }
    </script>
}

