﻿@model IEnumerable<IGFoodProject.Models.tbl_PurchaseOrderDetail>
    
<div class="card">
    <div class="card-header">
        <h3 class="card-title" style="color: red">Last Five Bird Price Of Suplier : @{
                                                                                         if (Model.Count() > 0)
                                                                                         {
                                                                                             @Model.First().ItemName;
                                                                                         }
                                                                                     }</h3>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Purchase Date</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                </tr>
            </thead>
            <tbody>
                @{ int i = 1; }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@i</td>
                        <td>@item.OrderDate.ToString("dd MMM yyyy")</td>
                        <td>@item.PurchaseQty</td>
                        <td>@item.UnitPrice</td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    </div>
</div>
