﻿@model IEnumerable<IGFoodProject.ViewModel.ViewPurchaseOrderReportMaster>
    <div class="row">
        <div class="card-body">
            <table class="table table-bordered" id="poMaster">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Check</td>
                        <td>PO No</td>
                        <td>Order Date</td>
                        <td>Order By</td>
                        <td>Supplier</td>
                        <td>Warehouse</td>
                        <td>REQ No</td>
                        <td>REQ Date</td>

                        <td>Exp. Delivery Date</td>

                        <td>Approve Status</td>
                        <td>Approve By</td>

                    </tr>
                </thead>
                <tbody>
                    @{ 
                        int count = 1;
                    }
                    @foreach( var item in Model)
                    {
                    <tr id="tr_@item.PurchaseOrderID" >
                        <td>@count</td>
                        <td><input type="checkbox" id="chk_@item.PurchaseOrderID"/></td>
                        <td>@item.PurchaseOrderNo</td>
                        
                        <td>@Convert.ToDateTime(item.OrderDate).ToString("dd-MMM-yyyy")</td>
                        <td>@item.OrderBY</td>
                        <td>@item.SupplierName</td>
                        <td>@item.WareHouseName</td>
                        <td>@item.RequisitionNo</td>
                        <td>@Convert.ToDateTime(item.RequisitionDate).ToString("dd-MMM-yyyy")</td>
                        <td>@Convert.ToDateTime(item.ExpectedDeliveryDate).ToString("dd-MMM-yyyy")</td>
                        <td>@item.ApproveStatus</td>
                        <td>@item.ApproveBy</td>
                    </tr>
                        count++;
                    }
                </tbody>
            </table>


        </div>
    </div>
<div class="row">
    <div class="col-md-4">
        <div class="card-body">
            <button class="btn btn-success" onclick="GetDetailsOrder()">Show Details</button>
        </div>

    </div>
    
</div>

<script>
    function GetDetails() {
        var ids = '';
        $('#poMaster tbody tr').each(function () {

            
            var idr = $(this).attr('id');
            var id = idr.substring(3);
            if ($('#chk_' + id).is(':checked')) {
                var theId = parseInt(id);
                if (ids.length <= 0) {
                    ids += theId;
                }
                else {
                    ids+=(','+theId);
                }
                
            }
        });
        return ids;
    }
    function GetDetailsOrder() {
       
        var ids = GetDetails();
        $.ajax({
                url: '@Url.Action("LoadPoDetailsReport", "PurchaseOrder")',

                dataType: 'html',
                type: "Get",
            data: {
                ids: ids,
                 },
                async: false,
                success: function (data) {
                    $('#reportMaster').empty();
                    $('#reportMaster').html(data);
                }
            });
    }
</script>