﻿@model IEnumerable<IGFoodProject.ViewModel.ViewPurchaseOrderMaster>

@{
    ViewBag.Title = "_purchaseInvoiceList";
}
<div class="col-md-offset-1  col-md-4">
    <button class='btn btn-info' type='button' onclick="PrintMultipleInvoice()">Print Multiple Order</button>&nbsp;
</div>
<table class="table table-bordered table-striped table-hover" id="orderTable">
    <thead>
    <tr>
        <th>#</th>
        <th><input type='checkbox' class='iradio_minimal-blue' id='checkAll' onclick="SelectAllCheckboxFunc()" /></th>
        <th>Purchase No</th>
        <th>Requisition No</th>
        <th>Order Date </th>
        <th>Supplier Name </th>
        <th>WareHouse Name </th>
        <th>TotalQty </th>
        <th>Print</th>
    </tr>
    </thead>
    <tbody>
    @{ int count = 1;}
    @foreach (var item in Model)
    {
        <tr class="rowTr" id="@item.PurchaseOrderID" >
            <td>@count</td>
            <td> <input type="checkbox" @*id="@item.PurchaseOrderID"*@ class='iradio_minimal-blue checkp' id='check_@count' onclick='Checkp(@count)'/> </td>
            <td>@item.PurchaseOrderNo</td>
            <td>@item.RequisitionNo</td>
            <td>@Convert.ToDateTime(item.OrderDate).ToString("dd-MMM-yyyy")</td>
            <td>@item.SupplierName</td>
            <td>@item.WareHouseName</td>
            <td>@item.TotalQty</td>
            <td><button class="btn btn-info" onclick="PrintInvoice(@item.PurchaseOrderID)">Print</button></td>
        </tr>
        count++;
    }
    </tbody>
</table>

<script>
    function SelectAllCheckboxFunc() {
        if ($("#checkAll").is(":checked")) {
            $(".checkp").prop("checked", true);
        } else {
            $(".checkp").prop("checked", false);
        }
    }
    function Checkp(SLNO) {
        //uncheck "select all", if one of the listed checkbox item is unchecked
        var checkp = $("#check_" + SLNO).prop("checked");
        if (checkp == false) { //if this item is unchecked
            $("#checkAll").prop('checked', false); //change "select all" checked status to false
        }
        //check "select all" if all checkbox items are checked
        if ($('.checkp:checked').length == $('.checkp').length) {
            $("#checkAll").prop('checked', true);
        }
    }
    function PrintMultipleInvoice() {


        var count = $('input:checkbox.checkp:checked').length;
        if (count == 0) {
            ShowMessage("Please Check One Item");
        } else {
            var stringSoId = "";
            $('#orderTable tr.rowTr').each(function (key, value) {
                
                var soId = $(this).prop("id");
                if ($('#check_' + (parseInt(key) + 1)).is(":checked")) {
                    if (stringSoId != '')
                        stringSoId = stringSoId + "," + soId;
                    else {
                        stringSoId = soId;
                    }
                }
            });
            
            PrintInvoice(stringSoId);
        }
      
    }
    function PrintInvoice(soId) {
        var urlpath = '@Url.Action("PurchaseOrderReport", "Report")';
        var reportValue = "PurchaseOrderInvoice";
        var jsonData = {};
        if (reportValue == "PurchaseOrderInvoice") {
            jsonData["ReportValue"] = reportValue;
            jsonData["PurchaseOrderID"] = soId;
            
        }
        $.ajax({
            url: urlpath,
            data: jsonData,
            dataType: 'json',
            type: "Get",
            success: function (data) {
                if (data.isSuccess) {
                    //OpenPopUp('BasicReportViewer.aspx');
                    window.open("../CrystalViewer/CrystalViewer.aspx", "_blank", "WIDTH=1024,HEIGHT=768,scrollbars=no, menubar=no,resizable=yes,directories=no,location=no");
                }
            }
        });
    }
</script>