﻿
@{
    ViewData["Title"] = "AddPurchaseOrder";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">

                        <h3 class="card-title"><span class="fa fa-eye"></span>New Bird Purchase Order </h3>

                        <a class="btn btn-outline-warning float-right" href="@Url.Action("PurchaseOrderList", "PurchaseOrder" , new {id=0})"> <span class="fa fa-plus"></span> Purchase Order List </a>

                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group" id="divCompany">
                                                <label for="ddlCompany">Company<span class="text-danger"> *</span></label>
                                                <select class="form-control select2" style="width: 100%;" id="ddlCompany"></select>
                                            </div>
                                            <div class="form-group" id="divWareHouse">
                                                <label for="ddlWareHouse">Delivery Warehouse<span class="text-danger"> *</span></label>
                                                <select class="form-control select2" style="width: 100%;" id="ddlWareHouse"></select>
                                            </div>
                                            
                                            <div class="form-group" id="divReceiveBy">
                                                <label for="empAutoCom">Order By <span class="text-danger"> *</span></label>
                                                <input type="text" class="form-control" id="empAutoCom" />
                                                <input type="number" class="form-control" id="employeeSelect" style="display: none;" /> @*style="display:none;"*@
                                            </div>
                                            <div class="form-group" id="divComment">
                                                <label for="txtComment">Comment</label>
                                                <textarea class="form-control" id="txtComment" cols="7" rows="5"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group" id="divLocation">
                                                <label for="ddlLocation">Delivery Location<span class="text-danger"> *</span></label>
                                                <select class="form-control select2" style="width: 100%;" id="ddlLocation"></select>
                                            </div>
                                            <div class="form-group" id="divPurchaseOrderDate">
                                                <label for="txtPurchaseOrderDate">Order Date<span class="text-danger"> *</span></label>
                                                <input type="text" class="form-control" style="width: 100%;" id="txtPurchaseOrderDate" />
                                            </div>
                                           
                                            <div class="form-group" id="divexDeliveryDate">
                                                <label for="txtexDeliveryDate"> Delivery Date<span class="text-danger"> *</span></label>
                                                <input type="text" class="form-control" id="txtexDeliveryDate" />
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                          
                            <div class="col-md-6">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group" id="divSupplierName">
                                                <label for="ddlSupplierName">Supplier Name<span class="text-danger"> *</span></label>
                                                <select class="form-control select2" style="width: 100%;" id="ddlSupplierName"></select>
                                            </div>
                                            <div class="form-group" id="divRequisition">
                                                <label for="ddlRequisition">Requisition No<span class="text-danger"> *</span></label>
                                                <select class="form-control " style="width: 100%;" id="ddlRequisition" onchange="GrandTotal();"></select>
                                            </div>
                                            <div class="form-group" id="divTolerance">
                                                <label for="ddlTolerance">Tolerance (%)</label>
                                                <select class="form-control " style="width: 100%;" id="ddlTolerance">
                                                    <option value="0">Select Tolerance</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </div>
                                           

                                        </div>
                                        
                                    </div>

                                </div>
                                <div id="loadSuplierStatus"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" id="divPurchase" style="display: none;">

                            </div>
                            <div class="col-md-6" id="divSupplier" style="display: none;">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group" style="margin-left: 32px;">
                                            <label>Supplier Address : </label><label id="txtSupplierAddress"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Supplier Phone : </label><label id="txtSupplierPhone"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group" style="margin-left: 32px;">
                                            <label>Contact Person : </label><label id="txtContactPerson"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Contact Person Phone : </label><label id="txtContactPhone"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card-body table-responsive">
                                <div class="col-md-12">
                                    <table id="myTable" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th style="text-align: center;">#SL</th>
                                                <th style="text-align: center;">Live Bird Description<span class="text-danger"> *</span></th>
                                                <th style="text-align: center;">Purchase Qty<span class="text-danger"> *</span></th>
                                                <th style="text-align: center;">Remaining Req. Qty</th>
                                                <th style="text-align: center;">Purchase Kg<span class="text-danger"> *</span></th>
                                                <th style="text-align: center;">Remaining Req. Kg</th>
                                                <th style="text-align: center;">Unit Price<span class="text-danger"> *</span></th>
                                                <th style="text-align: center;">Total</th>
                                                <th style="text-align: center;">Remarks</th>
                                            </tr>
                                        </thead>
                                        <tbody id="myTableb"></tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="3" style="text-align: center;"> TotalQty:</td>
                                                <td><label id="TotalQty" style="text-align: center;"></label></td>
                                                <td colspan="4" style="text-align: center;"> Grand Total:</td>
                                                <td><label id="grandTotal" style="text-align: center;"></label></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                               
                                <button class="btn btn-outline-danger  " onclick="ReloadPage()">Cancel</button>
                                <button class="btn btn-primary float-right" onclick="SaveFinal()" id="btnSubmit">Submit</button>
                                <button class="btn btn-danger float-right" onclick="ClsoePo()" id="btnClose">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
    <input id="txtOrderId" type="number" style="display:none;" value="@ViewBag.orderid">
    <input id="txtflag" type="text" style="display:none;" value="@ViewBag.flagid">
</section>
@section Scripts{
    <script>
        var AllItemList = {};
        $(function () {
            var id = $('#txtOrderId').val();
            var flagid = $('#txtflag').val();

        if (flagid == "ed" || flagid == "ne"|| flagid == "ap") {
            $('#btnSubmit').show();
         $('#btnClose').hide();

        } else if(flagid == "Cl")
         {
         $('#btnClose').show();
         $('#btnSubmit').hide();
        }
            LoadDate_C('#txtPurchaseOrderDate');
            LoadDate_C('#txtexDeliveryDate');
            var comId = 0;
            var locId = 0;
            var wareId = 0;
            var exdate;

            LoadCompany('ddlCompany');
            $('#ddlCompany').val(7).trigger('change');

            $('#ddlCompany').change(function () {
                comId = $(this).val();
                LoadLocation('ddlLocation', comId);
            });
            $('#ddlLocation').change(function () {

                locId = parseInt($(this).val());
                var wareHouseTypeId = parseInt(1);
                LoadWareHouse('ddlWareHouse', locId, wareHouseTypeId);
            });

            //$('#ddlWareHouse').change(function () {
            //    wareId = $(this).val();
            //    LoadRequisition('ddlRequisition', comId, wareId);
            //});

            $('#txtPurchaseOrderDate').change(function () {
                wareId = $('#ddlWareHouse').val();
                exdate = $(this).val();
                LoadRequisition('ddlRequisition', comId, wareId, exdate);
                $("#myTable tbody").html("");
            });


            LoadSupplier('ddlSupplierName');

            EmpAutoCom('empAutoCom', 'employeeSelect');
            $('#ddlSupplierName').change(function () {
                var supplierId = $(this).val();

                LoadSupplierData(supplierId);
            });


            $('#ddlRequisition').change(function () {
                var reqId = $(this).val();

                LoadReqDetailList(reqId);
            });
            $('#ddlCompany').val(7).trigger('change');
            $("#ddlLocation").val(4).trigger('change');
            $("#ddlWareHouse").val(1);
            LoadRequisition('ddlRequisition', $('#ddlCompany').val(), $("#ddlWareHouse").val(), $("#txtPurchaseOrderDate").val());

            if (id > 0) {
                OdEdit(id);
            }


        });

        function ReloadPage()
        {

            window.location.href = '@Url.Action("PurchaseOrderList", "PurchaseOrder")';
        }

        function OdEdit(id) {

            var url = '@Url.Action("GetPurchaseOrderByID", "PurchaseOrder")';
            $.ajax({
                url: url,
                dataType: 'json',
                data: { id: id },
                type: "Get",
                async: false,
                success: function (data) {



                    //$('#ddlRequisition').prop('disabled', true);

                    LoadDate('#txtPurchaseOrderDate');
                    LoadDate('#txtexDeliveryDate');
                    EmpAutoCom('empAutoCom', 'employeeSelect');
                    $('#txtOrderId').val(id);


                    $("#ddlCompany").val(data.CompanyId).trigger('change');
                    $('#ddlCompany').attr("disabled", true);
                    LoadLocation('ddlLocation', data.CompanyId);
                    $("#ddlLocation").val(data.DelLocationId).trigger('change');
                    $('#ddlLocation').attr("disabled", true);
                    LoadWareHouse('ddlWareHouse', data.DelLocationId, 1);
                    $("#ddlWareHouse").val(data.DelWareHouseID).trigger('change');
                    $('#ddlWareHouse').attr("disabled", true);
                    $("#ddlTolerance").val(data.TolerancePercent);
                    //LoadRequisition('ddlRequisition',data.CompanyId,data.DelWareHouseID);
                    LoadRequisitionForEdit('ddlRequisition', id);
                    $("#ddlRequisition").val(data.ItemRequisitionMasterId);
                    $('#ddlRequisition').attr("disabled", true);
                    //.trigger('change')
                    $("#ddlSupplierName").val(data.SupplierID).trigger('change');
                    LoadSupplierData($("#ddlSupplierName").val());

                    $("#txtexDeliveryDate").val(data.ExpectedDeliveryDatestr);
                    $("#txtPurchaseOrderDate").val(data.OrderDatestr);

                    $("#empAutoCom").val(data.OrderBY);

                    $("#txtComment").val(data.Comments);

                    LoadPurchaseDetailList(data.PurchaseOrderID);
                }
            });

        }

        function SaveFinal() {

            if (SaveValidation()) {
                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveRequisition();

                });
            }


        };
        function ClsoePo() {

                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "warning",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                   window.location = "@Url.Action("ClosePurchaseOrder", "PurchaseOrder")" + "?id=" +  $('#txtOrderId').val() ;

                });



        }


        function SaveRequisition() {
            //alert(parseFloat($('#grandTotal').html()));
            //

            var PurchaseOrderID = parseInt($('#txtOrderId').val());
            var ItemRequisitionMasterId = parseInt($('#ddlRequisition').val());
            var OrderDate = $('#txtPurchaseOrderDate').val();
            var ExpectedDeliveryDate = $('#txtexDeliveryDate').val();
            var SupplierID = parseInt($('#ddlSupplierName').val());
            var remarks = $('#txtComment').val();
            var OrderBY = $('#empAutoCom').val();
            var grandTotal = parseFloat($('#grandTotal').html());
            var tolerance = parseInt($('#ddlTolerance').val());
            var jsonData = {};
            jsonData["PurchaseOrderID"] = PurchaseOrderID;
            jsonData["ItemRequisitionMasterId"] = ItemRequisitionMasterId;
            jsonData["OrderDatestr"] = OrderDate;
            jsonData["ExpectedDeliveryDatestr"] = ExpectedDeliveryDate;
            jsonData["SupplierID"] = SupplierID;
            jsonData["Comments"] = remarks;
            jsonData["OrderBY"] = OrderBY;
            jsonData["TotalDue"] = grandTotal;
            jsonData["TotalPaid"] = 0;
            jsonData["TotalQty"] = parseInt($('#TotalQty').html());
            jsonData["TolerancePercent"] = tolerance;

            var receiveobj = [];
            var flagid = $('#txtflag').val();
            jsonData["flag"] = flagid;

            if (flagid == "ne") {
                $('#myTableb tr#trmain').each(function () {

                    var detailid = isNaN(parseInt($(this).find(".rd").val()), 0) ? 0 : parseInt($(this).find(".rd").val());
                    var itemid = isNaN(parseInt($(this).find(".itemd").val()), 0) ? 0 : parseInt($(this).find(".itemd").val());
                    var PurchaseQty = isNaN(parseFloat($('#RemainingQty_' + detailid + '_' + itemid).val()), 0) ? 0 : parseFloat($('#RemainingQty_' + detailid + '_' + itemid).val());
                    var PurchaseKG = isNaN(parseFloat($('#RemainingKG_' + detailid + '_' + itemid).val()), 0) ? 0 : parseFloat($('#RemainingKG_' + detailid + '_' + itemid).val());
                    var UnitPrice = isNaN(parseFloat($('#ApprovedTentativePrice_' + detailid + '_' + itemid).val()), 0) ? 0 : parseFloat($('#ApprovedTentativePrice_' + detailid + '_' + itemid).val());
                    var TotalPrice = isNaN(parseFloat($('#TotalPrice_' + detailid + '_' + itemid).val()), 0) ? 0 : parseFloat($('#TotalPrice_' + detailid + '_' + itemid).val());
                    var Remarks = $('#Remarks_' + detailid + '_' + itemid).val();

                    if ($('#check_' + detailid + '_' + itemid).is(':checked')) {
                        var myreceiveobj = {};
                        myreceiveobj["PurchaseOrderDetailID"] = 0;
                        myreceiveobj["ItemRequisitionDetailsId"] = detailid;
                        myreceiveobj["ItemId"] = itemid;
                        myreceiveobj["PurchaseQty"] = PurchaseQty;
                        myreceiveobj["PurchaseKG"] = PurchaseKG;
                        myreceiveobj["UnitPrice"] = UnitPrice;
                        myreceiveobj["TotalPrice"] = TotalPrice;
                        myreceiveobj["Remarks"] = Remarks;

                        receiveobj.push(myreceiveobj);
                    }


                });
            } else {

                $('tbody#myTableb  tr').each(function () {

                    var detailid = isNaN(parseInt($(this).find(".rd").val()), 0) ? 0 : parseInt($(this).find(".rd").val());
                    var itemid = isNaN(parseInt($(this).find(".itemd").val()), 0) ? 0 : parseInt($(this).find(".itemd").val());
                    var pid = isNaN(parseInt($(this).find(".pd").val()), 0) ? 0 : parseInt($(this).find(".pd").val());

                    var PurchaseQty = isNaN(parseFloat($('#PurchaseQty_' + detailid + '_' + itemid + '_' + pid).val()), 0) ? 0 : parseFloat($('#PurchaseQty_' + detailid + '_' + itemid + '_' + pid).val());
                    var PurchaseKG = isNaN(parseFloat($('#PurchaseKG_' + detailid + '_' + itemid + '_' + pid).val()), 0) ? 0 : parseFloat($('#PurchaseKG_' + detailid + '_' + itemid + '_' + pid).val());
                    var UnitPrice = isNaN(parseFloat($('#UnitPrice_' + detailid + '_' + itemid + '_' + pid).val()), 0) ? 0 : parseFloat($('#UnitPrice_' + detailid + '_' + itemid + '_' + pid).val());
                    var TotalPrice = isNaN(parseFloat($('#TotalPrice_' + detailid + '_' + itemid + '_' + pid).val()), 0) ? 0 : parseFloat($('#TotalPrice_' + detailid + '_' + itemid + '_' + pid).val());
                    var Remarks = $('#Remarks_' + detailid + '_' + itemid + '_' + pid).val();

                    if ($('#check_' + detailid + '_' + itemid + '_' + pid).is(':checked')) {
                        var myreceiveobj = {};
                        myreceiveobj["PurchaseOrderDetailID"] = pid;
                        myreceiveobj["ItemRequisitionDetailsId"] = detailid;
                        myreceiveobj["ItemId"] = itemid;
                        myreceiveobj["PurchaseQty"] = PurchaseQty;
                        myreceiveobj["PurchaseKG"] = PurchaseKG;
                        myreceiveobj["UnitPrice"] = UnitPrice;
                        myreceiveobj["TotalPrice"] = TotalPrice;
                        myreceiveobj["Remarks"] = Remarks;

                        receiveobj.push(myreceiveobj);
                    }


                });
            }


            jsonData["aDetail"] = receiveobj;


            var urlpath = '@Url.Action("SavePurchaseOrder", "PurchaseOrder")';

            $.ajax({
                contentType: "application/json",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "POST",
                traditional: true
            })
                .success(function (result) {

                    if (result.isSuccess == true) {

                        swal("Purchase Order Save Succesfully");
                        //var productno= GetProductNo(result.pk);

                        //swal("Product ("+productno+") Saved Successfull");
                        if (flagid == "ap") {
                            window.location.href = '@Url.Action("PurchaseOrderApproveList", "PurchaseOrder")';
                        } else {

                            window.location.href = '@Url.Action("PurchaseOrderList", "PurchaseOrder")';
                        }


                    }
                });
        }


        function SaveValidation() {
            var isValid = true;
            var message = 'Some Values Required';

            if ($('#ddlRequisition').val() == 0 || $('#ddlRequisition').val() == '') {
                ValidationColorChangeNew('ddlRequisition', 'divRequisition', 'Select Requisition', true);
                isValid = false;
            }


            if ($('#ddlSupplierName').val() == 0 || $('#ddlSupplierName').val() == '') {
                ValidationColorChangeNew('ddlSupplierName', 'divSupplierName', 'Select Supplier', true);
                isValid = false;
            }


            if ($('#txtPurchaseOrderDate').val() == null || $('#txtPurchaseOrderDate').val() == '') {
                ValidationColorChangeNew('txtPurchaseOrderDate', 'divPurchaseOrderDate', 'Order Date Required', true);
                isValid = false;
            }

            if ($('#txtexDeliveryDate').val() == null || $('#txtexDeliveryDate').val() == '') {
                ValidationColorChangeNew('txtexDeliveryDate', 'divexDeliveryDate', 'Expected Delivery Date Required', true);
                isValid = false;
            }

            if ($('#empAutoCom').val() == null || $('#empAutoCom').val() == '') {
                ValidationColorChangeNew('empAutoCom', 'divReceiveBy', 'Order By Required', true);
                isValid = false;
            }
            var count = 0;
            var flagid = $('#txtflag').val();

            if (flagid == "ne") {

                count = $('input:checkbox.checkp:checked').length;

                $('#myTableb tr#trmain').each(function () {

                    var detailid = isNaN(parseInt($(this).find(".rd").val()), 0) ? 0 : parseInt($(this).find(".rd").val());
                    var itemid = isNaN(parseInt($(this).find(".itemd").val()), 0) ? 0 : parseInt($(this).find(".itemd").val());

                    var UnitPrice = isNaN(parseFloat($('#ApprovedTentativePrice_' + detailid + '_' + itemid).val()), 0) ? 0 : parseFloat($('#ApprovedTentativePrice_' + detailid + '_' + itemid).val());

                    if ($('#check_' + detailid + '_' + itemid).is(':checked'))
                    {
                        if (UnitPrice == '0' || UnitPrice == "") {
                            isValid = false;
                        }
                    }




                });



            } else {
                count = $('input:checkbox.checkp:checked').length;

            }


            if (count == 0) {
                isValid = false;
                message = ("Check atleast one checkbox");
            }


            if (isValid == false) {
                ShowMessage(message);
            }
            return isValid;

        }


        function LoadRequisition(elementId, companyId, wareHouseId, exPurchaseDate) {
            var urlpath = '@Url.Action("LoadRequisition", "PurchaseOrder")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { companyId: companyId, warehouseId: wareHouseId, exPurchaseDate: exPurchaseDate },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Requisition--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].ItemRequisitionMasterId).html(data[i].RequisitionNo));
                    }

                }
            });

            //$('#' + elementId + '').prop('selectedIndex', 1);
        }

        function LoadRequisitionForEdit(elementId, id) {
            var data1;
            var urlpath = '@Url.Action("LoadRequisitionForEdit", "PurchaseOrder")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { id: id },
                async: false,
                success: function (data) {


                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Requisition--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].ItemRequisitionMasterId).html(data[i].RequisitionNo));


                    }
                }
            });

        }

        function LoadSupplier(elementId) {
            var urlpath = '@Url.Action("LoadSupplier", "PurchaseOrder")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: {},
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Supplier--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].SupplierID).html(data[i].SupplierName));
                    }

                }
            });
        }

        function LoadSupplierData(supplierId) {


            var urlpath = '@Url.Action("LoadSupplierByID", "PurchaseOrder")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { supplierId: parseInt(supplierId) },
                async: false,
                success: function (data) {

                    $("#divSupplier").show();
                    $("#txtSupplierAddress").text(data.SupplierAddress);
                    $("#txtSupplierPhone").html(data.SupplierPhone);
                    $("#txtContactPerson").html(data.SontactPerson);
                    $("#txtContactPhone").html(data.SontactPersonPhone);

                }
            });
        }


        function LoadReqDetailList(reqId) {

            var tablecontents = "";
            $("#myTableb").html("");
            var urlpath = '@Url.Action("LoadRequisitionDetailByID", "PurchaseOrder")';

            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { reqId: parseInt(reqId) },
                async: false,
                success: function (data) {

                    if (data.length > 0) {


                        var se = 0;
                        $.each(data, function (index, item) {
                            se = se + 1;

                            //alert(data);

                            tablecontents += "<tr id='trmain'>";

                            tablecontents += "<td style='display: none;' ><input type='text' class='rd'  value = '" + item.ItemRequisitionDetailsId + "'/></td>";
                            tablecontents += "<td style='display: none;' ><input type='text' class='itemd'  value = '" + item.ItemId + "'/></td>";

                            tablecontents += "<td  style='text-align:center'><input type='checkbox'  class='iradio_minimal-blue checkp' id='check_" + item.ItemRequisitionDetailsId + '_' + item.ItemId + "' onclick='Checkp(" + item.ItemRequisitionDetailsId + "," + item.ItemId + ");GrandTotal();'/></td>";
                            tablecontents += "<td  style='text-align:center'>" + se + "</td>";
                            //tablecontents += "<td style='text-align:center'>" + item.HatchDate + "</td>";
                            tablecontents += "<td style='text-align:center'><a href='#' onclick='LoadSuplierData(" + item.ItemId + ")'>" + item.ItemName + "</a></td>";
                            tablecontents += "<td style='text-align:center;'><input type='number' min='0'class='qTotal' style='text-align:center;'  id='RemainingQty_" + item.ItemRequisitionDetailsId + "_" + item.ItemId + "' value = '" + item.RemainingQty + "' oninput='Total(" + item.ItemRequisitionDetailsId + "," + item.ItemId + ")'  disabled='disabled'/></td>";
                            tablecontents += "<td style='text-align:center;'><input type='number' min='0' style='text-align:center;'  id='TRemainingQty_" + item.ItemRequisitionDetailsId + "_" + item.ItemId + "' value = '" + item.RemainingQty + "' oninput='Total(" + item.ItemRequisitionDetailsId + "," + item.ItemId + ")'  disabled='disabled'/></td>";
                            tablecontents += "<td style='text-align:center;'><input type='number' min='0' style='text-align:center;'  id='RemainingKG_" + item.ItemRequisitionDetailsId + "_" + item.ItemId + "' value = '" + item.RemainingKG + "' oninput='Total(" + item.ItemRequisitionDetailsId + "," + item.ItemId + ")' disabled='disabled'/></td>";
                            tablecontents += "<td style='text-align:center;'><input type='number' min='0' style='text-align:center;'  id='TRemainingKG_" + item.ItemRequisitionDetailsId + "_" + item.ItemId + "' value = '" + item.RemainingKG + "' oninput='Total(" + item.ItemRequisitionDetailsId + "," + item.ItemId + ")' disabled='disabled'/></td>";
                            tablecontents += "<td style='text-align:center;'><input type='number' min='0' style='text-align:center;'  id='ApprovedTentativePrice_" + item.ItemRequisitionDetailsId + "_" + item.ItemId + "' value = '" + item.ApprovedTentativePrice + "' oninput='Total(" + item.ItemRequisitionDetailsId + "," + item.ItemId + ")' /></td>";
                            tablecontents += "<td style='text-align:center;'><input type='number' min='0' class='tTotal' style='text-align:center;'  id='TotalPrice_" + item.ItemRequisitionDetailsId + "_" + item.ItemId + "' value = '" + (parseFloat(item.ApprovedTentativePrice) * parseFloat(item.RemainingKG)) + "' disabled='disabled'/></td>";

                            tablecontents += "<td style='text-align:center;display:none;'><input type='number' min='0' style='text-align:center;'  id='hRemainingQty_" + item.ItemRequisitionDetailsId + "_" + item.ItemId + "' value = '" + item.RemainingQty + "' disabled='disabled'/></td>";
                            tablecontents += "<td style='text-align:center;display:none;'><input type='number' min='0' style='text-align:center;'  id='hRemainingKG_" + item.ItemRequisitionDetailsId + "_" + item.ItemId + "' value = '" + item.RemainingKG + "' disabled='disabled'/></td>";
                            tablecontents += "<td style='text-align:center;display:none;'><input type='number' min='0' style='text-align:center;'  id='hApprovedTentativePrice_" + item.ItemRequisitionDetailsId + "_" + item.ItemId + "' value = '" + item.ApprovedTentativePrice + "' disabled='disabled'/></td>";
                            tablecontents += "<td style='text-align:center;display:none;'><input type='number' min='0' style='text-align:center;'  id='hTotalPrice_" + item.ItemRequisitionDetailsId + "_" + item.ItemId + "' value = '" + (parseFloat(item.ApprovedTentativePrice) * parseFloat(item.RemainingKG)) + "' disabled='disabled'/></td>";

                            tablecontents += "<td style='text-align:center;'><input type='text'   id='Remarks_" + item.ItemRequisitionDetailsId + "_" + item.ItemId + "' value = '' disabled='disabled'/></td>";

                            tablecontents += "</tr>";

                        });


                        //alert(tablecontents);
                        $("#myTableb").html(tablecontents);
                    }

                    GrandTotal();
                }


            });
        }


        function LoadPurchaseDetailList(id) {

            var tablecontents = "";
            $("#myTableb").html("");
            var urlpath = '@Url.Action("LoadPurchaseDetailForEdit", "PurchaseOrder")';

            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { id: parseInt(id) },
                async: false,
                success: function (data) {

                    if (data.length > 0) {

                        //tablecontents += "<td style='display: none;' ><input type='text' class='rd'  value = '" + item.ItemRequisitionDetailsId + "'/></td>";
                        var se = 0;
                        $.each(data, function (index, item) {
                            se = se + 1;

                            //alert(data);
                            //tablecontents += "<tr id='trmain_" + se + ">";
                            tablecontents += "<tr id='trmain_'>";
                            tablecontents += "<td style='display: none;' ><input type='text' class='rd'  value = '" + item.ItemRequisitionDetailsId + "'/></td>";

                            tablecontents += "<td style='display: none;' ><input type='text' class='itemd'  value = '" + item.ItemId + "'/></td>";
                            tablecontents += "<td style='display: none;' ><input type='text' class='pd'  value = '" + item.PurchaseOrderDetailID + "'/></td>";

                            tablecontents += "<td  style='text-align:center'><input type='checkbox' checked='checked'  class='iradio_minimal-blue checkp' id='check_" + item.ItemRequisitionDetailsId + '_' + item.ItemId + '_' + item.PurchaseOrderDetailID + "' onclick='CheckpE(" + item.ItemRequisitionDetailsId + "," + item.ItemId + "," + item.PurchaseOrderDetailID + ")'/></td>";
                            tablecontents += "<td  style='text-align:center'>" + se + "</td>";
                            //tablecontents += "<td style='text-align:center'>" + item.HatchDate + "</td>";
                            tablecontents += "<td style='text-align:center'><a href='#' onclick='LoadSuplierData(" + item.ItemId + ")'>" + item.ItemName + "</a></td>";
                            tablecontents += "<td style='text-align:center;'><input type='number' min='0'class='qTotal' style='text-align:center;'  id='PurchaseQty_" + item.ItemRequisitionDetailsId + "_" + item.ItemId + '_' + item.PurchaseOrderDetailID + "' value = '" + item.PurchaseQty + "' oninput='TotalE(" + item.ItemRequisitionDetailsId + "," + item.ItemId + "," + item.PurchaseOrderDetailID + ")'  /></td>";
                            tablecontents += "<td style='text-align:center;'> <input type='number' min='0' style='text-align:center;'  id='RemainingQty_" + item.ItemRequisitionDetailsId + "_" + item.ItemId + '_' + item.PurchaseOrderDetailID + "' value = '" + item.RemainingQty + "'  disabled='disabled'/></td>";
                            tablecontents += "<td style='text-align:center;'><input type='number' min='0' style='text-align:center;'  id='PurchaseKG_" + item.ItemRequisitionDetailsId + "_" + item.ItemId + '_' + item.PurchaseOrderDetailID + "' value = '" + item.PurchaseKG + "' oninput='TotalE(" + item.ItemRequisitionDetailsId + "," + item.ItemId + "," + item.PurchaseOrderDetailID + ")' /></td>";
                            tablecontents += "<td style='text-align:center;'> <input type='number' min='0' style='text-align:center;'  id='RemainingKG_" + item.ItemRequisitionDetailsId + "_" + item.ItemId + '_' + item.PurchaseOrderDetailID + "' value = '" + item.RemainingKG + "'  disabled='disabled'/></td>";
                            tablecontents += "<td style='text-align:center;'><input type='number' min='0' style='text-align:center;'  id='UnitPrice_" + item.ItemRequisitionDetailsId + "_" + item.ItemId + '_' + item.PurchaseOrderDetailID + "' value = '" + item.UnitPrice.toFixed(4) + "' oninput='TotalE(" + item.ItemRequisitionDetailsId + "," + item.ItemId + "," + item.PurchaseOrderDetailID + ")' /></td>";
                            tablecontents += "<td style='text-align:center;'><input type='number' min='0'class='tTotal' style='text-align:center;'  id='TotalPrice_" + item.ItemRequisitionDetailsId + "_" + item.ItemId + '_' + item.PurchaseOrderDetailID + "' value = '" + item.TotalPrice.toFixed(4) + "' disabled='disabled'/></td>";

                            tablecontents += "<td style='text-align:center;display:none;'><input type='number' min='0' style='text-align:center;'  id='hPurchaseQty_" + item.ItemRequisitionDetailsId + "_" + item.ItemId + '_' + item.PurchaseOrderDetailID + "' value = '" + item.PurchaseQty + "' disabled='disabled'/></td>";
                            tablecontents += "<td style='text-align:center;display:none;'><input type='number' min='0' style='text-align:center;'  id='hPurchaseKG_" + item.ItemRequisitionDetailsId + "_" + item.ItemId + '_' + item.PurchaseOrderDetailID + "' value = '" + item.PurchaseKG + "' disabled='disabled'/></td>";
                            tablecontents += "<td style='text-align:center;display:none;'><input type='number' min='0' style='text-align:center;'  id='hUnitPrice_" + item.ItemRequisitionDetailsId + "_" + item.ItemId + '_' + item.PurchaseOrderDetailID + "' value = '" + item.UnitPrice.toFixed(4) + "' disabled='disabled'/></td>";
                            tablecontents += "<td style='text-align:center;display:none;'><input type='number' min='0' style='text-align:center;'  id='hTotalPrice_" + item.ItemRequisitionDetailsId + "_" + item.ItemId + '_' + item.PurchaseOrderDetailID + "' value = '" + item.TotalPrice.toFixed(4) + "' disabled='disabled'/></td>";

                            tablecontents += "<td style='text-align:center;'><input type='text'   id='Remarks_" + item.ItemRequisitionDetailsId + "_" + item.ItemId + '_' + item.PurchaseOrderDetailID + "' value = '" + item.Remarks + "' /></td>";

                            tablecontents += "</tr>";

                        });


                        //alert(tablecontents);
                        $("#myTableb").html(tablecontents);
                    }

                    GrandTotal();
                }


            });
        }


        function Total(detailid, itemid) {

            var remainigqty = 0;
            var hremainigqty = $("#hRemainingQty_" + detailid + "_" + itemid).val();
            var hremainingkg = $("#hRemainingKG_" + detailid + "_" + itemid).val();


            remainigqty = $("#RemainingQty_" + detailid + "_" + itemid).val();
            var remainingkg = $("#RemainingKG_" + detailid + "_" + itemid).val();
            if (parseFloat(remainigqty) > parseFloat(hremainigqty)) {

                swal('Purchase Qty can not be grater then requision qty');
                $("#RemainingQty_" + detailid + "_" + itemid).val(hremainigqty);
                remainigqty = $("#RemainingQty_" + detailid + "_" + itemid).val();
                var price = $("#ApprovedTentativePrice_" + detailid + "_" + itemid).val().toFixed(3);
                var total = parseFloat(remainigqty) * parseFloat(price);
                $("#TotalPrice_" + detailid + "_" + itemid).val(total);
                return;
            }

            //if (parseFloat(remainingkg) > parseFloat(hremainingkg)) {
            //    swal('Purchase kg can not be grater then requision kg');
            //    //$("#RemainingKG_" + detailid + "_" + itemid).val(hremainingkg);
            //    //var price = $("#ApprovedTentativePrice_" + detailid + "_" + itemid).val();
            //    //var total = parseFloat(remainingkg) * parseFloat(price);
            //    //$("#TotalPrice_" + detailid + "_" + itemid).val(total);
            //    return;
            //}


            var price = $("#ApprovedTentativePrice_" + detailid + "_" + itemid).val().toFixed(3);
            var total = parseFloat(remainingkg) * parseFloat(price);
            $("#TotalPrice_" + detailid + "_" + itemid).val(total);
            GrandTotal();

        }

        GrandTotal = () => {
            var grandTotal = 0;
            var totalQty = 0;
            $('#myTable tbody tr').each(function () {


                var chk = $(this).find('input:checkbox').is(':checked') ? true : false;
                if (chk == true) {
                    var asd = $(this).find('.tTotal').val();
                    var total = $(this).find('.qTotal').val();
                    grandTotal = parseFloat(grandTotal) + parseFloat(asd);
                    totalQty = parseInt(totalQty) + parseInt(total);
                }
            });
            $('#grandTotal').html(grandTotal);
            $('#TotalQty').html(totalQty);
        }
        GrandTotalC = () => {

            var grandTotal = 0;
            $('#myTable tbody tr').each(function () {



                var chk = $(this).find('input:checkbox').is(':checked') ? true : false;
                if (chk == true) {
                    var asd = $(this).find('.tTotal').val();
                    grandTotal = parseFloat(grandTotal) + parseFloat(asd);
                }
            });
            $('#grandTotal').html(grandTotal);
        }


        function Checkp(detailno, itemno) {

            //uncheck "select all", if one of the listed checkbox item is unchecked
            var checkp = $("#check_" + detailno + "_" + itemno).prop("checked");
            if (checkp == false) { //if this item is unchecked
                var hRemainingQty = $("#hRemainingQty_" + detailno + "_" + itemno).val();
                var hRemainingKG = $("#hRemainingKG_" + detailno + "_" + itemno).val();
                var hApprovedTentativePrice = $("#hApprovedTentativePrice_" + detailno + "_" + itemno).val().toFixed(3);
                var hTotalPrice = $("#hTotalPrice_" + detailno + "_" + itemno).val();


                $("#RemainingQty_" + detailno + "_" + itemno).val(hRemainingQty);
                $("#RemainingKG_" + detailno + "_" + itemno).val(hRemainingKG);
                $("#ApprovedTentativePrice_" + detailno + "_" + itemno).val(hApprovedTentativePrice);
                $("#TotalPrice_" + detailno + "_" + itemno).val(hTotalPrice);


                $("#RemainingQty_" + detailno + "_" + itemno).prop('disabled', true);
                $("#RemainingKG_" + detailno + "_" + itemno).prop('disabled', true);
                $("#ApprovedTentativePrice_" + detailno + "_" + itemno).prop('disabled', true);
                $("#TotalPrice_" + detailno + "_" + itemno).prop('disabled', true);
                $("#Remarks_" + detailno + "_" + itemno).prop('disabled', true);
                Total(detailno, itemno);

            } else {
                $("#RemainingQty_" + detailno + "_" + itemno).prop('disabled', false);
                $("#RemainingKG_" + detailno + "_" + itemno).prop('disabled', false);
                $("#ApprovedTentativePrice_" + detailno + "_" + itemno).prop('disabled', false);
                $("#TotalPrice_" + detailno + "_" + itemno).prop('disabled', false);
                $("#Remarks_" + detailno + "_" + itemno).prop('disabled', false);
                Total(detailno, itemno)
            }



        }

        function CheckpE(detailno, itemno, pid) {

            //uncheck "select all", if one of the listed checkbox item is unchecked
            var checkp = $("#check_" + detailno + "_" + itemno + "_" + pid).prop("checked");
            if (checkp == false) { //if this item is unchecked
                var hPurchaseQty = $("#hPurchaseQty_" + detailno + "_" + itemno + "_" + pid).val();
                var hPurchaseKG = $("#hPurchaseKG_" + detailno + "_" + itemno + "_" + pid).val();
                var hUnitPrice = $("#hUnitPrice_" + detailno + "_" + itemno + "_" + pid).val().toFixed(3);
                var hTotalPrice = $("#hTotalPrice_" + detailno + "_" + itemno + "_" + pid).val();


                $("#PurchaseQty_" + detailno + "_" + itemno + "_" + pid).val(hPurchaseQty);
                $("#PurchaseKG_" + detailno + "_" + itemno + "_" + pid).val(hPurchaseKG);
                $("#UnitPrice_" + detailno + "_" + itemno + "_" + pid).val(hUnitPrice);
                $("#TotalPrice_" + detailno + "_" + itemno + "_" + pid).val(hTotalPrice);


                $("#PurchaseQty_" + detailno + "_" + itemno + "_" + pid).prop('disabled', true);
                $("#PurchaseKG_" + detailno + "_" + itemno + "_" + pid).prop('disabled', true);
                $("#UnitPrice_" + detailno + "_" + itemno + "_" + pid).prop('disabled', true);
                $("#TotalPrice_" + detailno + "_" + itemno + "_" + pid).prop('disabled', true);
                $("#Remarks_" + detailno + "_" + itemno + "_" + pid).prop('disabled', true);

            } else {
                $("#PurchaseQty_" + detailno + "_" + itemno + "_" + pid).prop('disabled', false);
                $("#PurchaseKG_" + detailno + "_" + itemno + "_" + pid).prop('disabled', false);
                $("#UnitPrice_" + detailno + "_" + itemno + "_" + pid).prop('disabled', false);
                $("#TotalPrice_" + detailno + "_" + itemno + "_" + pid).prop('disabled', false);
                $("#Remarks_" + detailno + "_" + itemno + "_" + pid).prop('disabled', false);
            }


        }


        function TotalE(detailid, itemid, pid) {

            var hPurchaseQty = $("#hPurchaseQty_" + detailid + "_" + itemid + "_" + pid).val();
            var hPurchaseKG = $("#hPurchaseKG_" + detailid + "_" + itemid + "_" + pid).val();

            var PurchaseQty = $("#PurchaseQty_" + detailid + "_" + itemid + "_" + pid).val();
            var PurchaseKG = $("#PurchaseKG_" + detailid + "_" + itemid + "_" + pid).val();

            //var hremainigqty=$("#hRemainingQty_" + detailid + "_" + itemid).val();
            //var hremainingkg =    $("#hRemainingKG_" + detailid + "_" + itemid).val();


            var remainigqty = $("#RemainingQty_" + detailid + "_" + itemid + "_" + pid).val();
            var remainingkg = $("#RemainingKG_" + detailid + "_" + itemid + "_" + pid).val();
            if (parseFloat(remainigqty) == 0) {
                if (parseFloat(PurchaseQty) > (parseFloat(hPurchaseQty))) {
                    swal('Purchase Qty can not be grater then ' + hPurchaseQty);
                    $("#PurchaseQty_" + detailid + "_" + itemid + "_" + pid).val(hPurchaseQty);
                    $("#PurchaseKG_" + detailid + "_" + itemid + "_" + pid).val(hPurchaseKG);
                    var price = $("#UnitPrice_" + detailid + "_" + itemid + "_" + pid).val().toFixed(3);
                    var total = parseFloat(hPurchaseQty) * parseFloat(price);
                    $("#TotalPrice_" + detailid + "_" + itemid + "_" + pid).val(total);
                    return;
                }
            }
            else {
                if (parseFloat(PurchaseQty) > (parseFloat(hPurchaseQty) + parseFloat(remainigqty))) {
                    swal('Purchase Qty can not be grater then requision qty');
                    $("#PurchaseQty_" + detailid + "_" + itemid + "_" + pid).val(hPurchaseQty);
                    $("#PurchaseKG_" + detailid + "_" + itemid + "_" + pid).val(hPurchaseKG);
                    var price = $("#UnitPrice_" + detailid + "_" + itemid + "_" + pid).val().toFixed(3);
                    var total = parseFloat(hPurchaseQty) * parseFloat(price);
                    $("#TotalPrice_" + detailid + "_" + itemid + "_" + pid).val(total);
                    return;
                }
            }


            var price = $("#UnitPrice_" + detailid + "_" + itemid + "_" + pid).val().toFixed(3);
            var total = parseFloat(PurchaseKG) * parseFloat(price);
            $("#TotalPrice_" + detailid + "_" + itemid + "_" + pid).val(total);
            GrandTotal();
        }

        LoadSuplierData = (id) => {

            var supId = parseInt($("#ddlSupplierName").val());
            if (supId == 0) {
                swal("Please Select supplier");
            } else {
                var urlpath = '@Url.Action("GetLastFivePriceOfSuplier", "PurchaseOrder")';
                $.ajax({
                    url: urlpath,
                    type: "Get",
                    datatype: "html",
                    data: { suplierId: supId, itemId: id },
                    async: false,
                    success: function (data) {
                        $("#loadSuplierStatus").empty();
                        $("#loadSuplierStatus").html(data);
                    }
                });
            }
        }


    </script>
}
