﻿
@{
    ViewData["Title"] = "POReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">

                        <div class="row">
                            <div class="col-md-3">
                                <h3 class="card-title"><span class="fa fa-list"></span>MRR List </h3>
                            </div>
                            <div class="col-md-4">
                                <a asp-action="Index" asp-controller="MrR"><h3 class="card-title"><span class="fa fa-plus"></span>New Mrr</h3></a>
                            </div>
                        </div>



                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divCompany">
                                    <label for="ddlCustomerType">Company</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlCompany">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divLocation">
                                    <label for="ddlLocation">Location</label>
                                    <select class="form-control select2" id="ddlLocation" style="width: 100%;" onchange="LoadWareHouse('ddlWareHouse')">
                                    </select>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divWareHouse">
                                    <label for="ddlWareHouse ">WareHouse</label>
                                    <select class="form-control select2" id="ddlWareHouse" style="width: 100%;">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divPoStatus">
                                    <label for="ddlPoStatus ">Order Status</label>
                                    <select class="form-control select2" id="ddlPoStatus" style="width: 100%;">
                                        <option value="">--- Select Status ---</option>
                                        <option value="1">Approved</option>
                                        <option value="2">Rejected</option>
                                        <option value="0">Pending</option>
                                        <option value="3">All</option>
                                    </select>
                                </div>
                            </div>
                        </div>



                    </div>
                   
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divFromDate">
                                    <label for="txtFromDate">From Date</label>
                                    <input type="text" class="form-control" id="txtFromDate" />

                                </div>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divToDate">
                                    <label for="txtToDate">To Date</label>
                                    <input type="text" class="form-control" id="txtToDate" />

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body">
                                <div id="reportMaster">

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">

                    </div>

                </div>

            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->

</section>


@section scripts{

    <script>
        $(document).ready(function () {

            LoadCompany('ddlCompany');
            LoadLocation('ddlLocation');
            LoadDate('#txtFromDate');
            LoadDate('#txtToDate');
        });
        @*function ShowData() {
            var company = isNaN(parseInt($('#ddlCompany').val())) ? 0 : parseInt($('#ddlCompany').val());
            var location = isNaN(parseInt($('#ddlLocation').val())) ? 0 : parseInt($('#ddlLocation').val());
            var wareHouse = isNaN(parseInt($('#ddlWareHouse').val())) ? 0 : parseInt($('#ddlWareHouse').val());
            var fromDate = $('#txtFromDate').val();
            var toDate = $('#txtToDate').val();
            var status = isNaN(parseInt($('#ddlPoStatus').val())) ? 0 : parseInt($('#ddlPoStatus').val());
            
             $.ajax({
                url: '@Url.Action("LoadPoMasterReport", "PurchaseOrder")',

                dataType: 'html',
                type: "Get",
                 data: {
                     company: company,
                     location: location,
                     wareHouse: wareHouse,
                     fromDate: fromDate,
                     toDate: toDate,
                     status: status
                 },
                async: false,
                success: function (data) {
                    $('#reportMaster').empty();
                    $('#reportMaster').html(data);
                }
            });
        }*@
         function LoadLocation(elementId) {
            $.ajax({
                url: '@Url.Action("LoadLocation", "ItemRequisition")',

                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {
                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Location--</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].LocationId).html(data[i].LocationName));
                    }
                }
            });
        }

        function LoadWareHouse(elementId) {

            var location = $('#ddlLocation').val();
            var urlpath = '@Url.Action("LoadWareHouse", "ItemRequisition")';
            $.ajax({
                url:urlpath,
                type: "Get",
                data: { location: parseInt(location), warehouseTypeId:1 },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Warehouse--</option>");
                     for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].WareHouseId).html(data[i].WareHouseName));
                    }

                }
            });
        }
    </script>
 }
