﻿ @{
    ViewBag.Title = "PurchaseOrderInvoiceList";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <Div class="row">
                            <div class="col-md-4">
                                <a href="#">
                                    <h3 class="card-title">
                                        <span class="fa fa-list"></span> Invoice List (for print)
                                    </h3>
                                </a>
                            </div>
                        </Div>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-md-offset-1">
                                <div class="form-group" id="divCompany">
                                    <label for="ddlCompany">Company</label>
                                    <select class="form-control" style="width: 100%;" id="ddlCompany"></select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="form-group" id="divLocation">
                                    <label for="ddlLocation">Location<span class="text-danger"> *</span></label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlLocation"></select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="form-group" id="divWareHouse">
                                    <label for="ddlWareHouse">Warehouse</label>
                                    <select class="form-control" style="width: 100%;" id="ddlWareHouse"></select>
                                </div>

                            </div>
                            <div class="form-group" id="divSupplierName">
                                <label for="ddlSupplierName">Supplier Name</label>
                                <select class="form-control select2" style="width: 100%;" id="ddlSupplierName"></select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label for="fromDate">Order From Date</label>
                                <input type="text" class="form-control" id="fromDate" value="@DateTime.Now.ToString("dd-MMM-yyyy")"/>
                            </div>
                            <div class="col-md-3">
                                <label for="fromDate">Order To Date</label>
                                <input type="text" class="form-control" id="toDate" value="@DateTime.Now.ToString("dd-MMM-yyyy")"/>
                            </div>
                            <div class="col-md-1" style="margin-top: 10px">
                                <button class="btn btn-success" onclick="ShowList()">Submit</button>
                            </div>
                        </div>
                        <div class="row">
                            <div id="orderList" class="table-responsive">
                            </div>
                        </div>
                    </div>
                     </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
@section Scripts
{
     <script type="text/javascript">
         $(document).ready(function () {


             var comId = 0;
             var locId = 0;
             var wareId = 0;

             LoadCompany('ddlCompany');
             $("#ddlCompany").val("7");
             LoadLocation('ddlLocation', $("#ddlCompany").val());

             $('#ddlCompany').change(function () {
                 comId = $(this).val();
                 LoadLocation('ddlLocation', comId);
             });
             $('#ddlLocation').change(function () {

                 locId = parseInt($(this).val());
                 var wareHouseTypeId = parseInt(1);
                 LoadWareHouse('ddlWareHouse', locId, wareHouseTypeId);
             });
            LoadDate('#fromDate');
            LoadDate('#toDate');
            LoadSupplier('ddlSupplierName');
         });
         function LoadSupplier(elementId) {
             var urlpath = '@Url.Action("LoadSupplier", "PurchaseOrder")';
             $.ajax({
                 url: urlpath,
                 type: "Get",
                 data: {},
                 async: false,
                 success: function (data) {

                     $('#' + elementId + '').empty();
                     $('#' + elementId + '').append("<option value='0'>--Select Supplier--</option>");
                     for (var i = 0; i < data.length; i++) {

                         $('#' + elementId + '').append($("<option></option>").val(data[i].SupplierID).html(data[i].SupplierName));
                     }

                 }
             });
         }
         function ShowList() {
            if ($('#fromDate').val() == '' || $('#toDate').val() == '') {
                ShowMessage("Order Date Range Required");
            } else {

                var fromDate = $('#fromDate').val();
                var toDate = $('#toDate').val();
                var warehouse = isNaN(parseInt($('#ddlWareHouse').val())) ? 0 : parseInt($('#ddlWareHouse').val());
                var supplier = isNaN(parseInt($('#ddlSupplierName').val())) ? 0 : parseInt($('#ddlSupplierName').val());
                ShowInvList(fromDate, toDate, warehouse, supplier);
            }
        }
         function ShowInvList(fromDate, toDate, warehouse, supplier) {
             var urlpath = '@Url.Action("ShowPurchaseApprovedList", "PurchaseOrder")';
            $.ajax({
                url: urlpath,
                dataType: 'html',
                type: "Get",
                data: { fromDate: fromDate, todate: toDate, warehouse: warehouse, supplier: supplier },
                async: false,
                success: function (data) {
                    $('#orderList').empty();
                    $('#orderList').html(data);
                }
            });
        }
    </script>
}
