﻿@model IEnumerable<IGFoodProject.Models.tbl_PurchaseOrderMaster>
@{
    ViewData["Title"] = "PurchaseOrderApproveList";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-3">
                                <h3 class="card-title"><span class="fa fa-list"></span> Purchase Order Approve List
                                </h3>
                            </div>
                            <div class="col-md-7">
                                
                            </div>
                            <div class="col-md-2">
                                <a onclick="@("window.location.href='" + @Url.Action("AddPurchaseOrder", "PurchaseOrder") + "'");">
                                    <h3 class="card-title left"><span class="fa fa-plus"></span> New Purchase Order</h3></a>
                            </div>
                        </div>
                    </div>


                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        
                        <div class="row">


                            <div class="col-md-3">
                                <div class="form-group" id="divFromDate">
                                    <label for="txtFromDate">From Date</label>
                                    <input type="text" id="txtFromDate" class="form-control"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divToDate">
                                    <label for="txtToDate">To Date</label>
                                    <input type="text" id="txtToDate" class="form-control"/>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group" id="divSupplierName">
                                    <label for="ddlSupplierName">Supplier Name<span class="text-danger"> *</span></label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlSupplierName"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <button style="margin-top: 20px; height: 30px" class="btn btn-primary col-sm-2" onclick="ShowReport()">Search </button>
                                </div>
                            </div>
                        </div>
                        <table class="table dataTable table-bordered table-striped table-hover">
                            <thead>
                            <tr style="background-color: aliceblue">
                                <th style="text-align: center">SL</th>
                                <th style="text-align: center">Order No</th>
                                <th style="text-align: center">Order Date</th>
                                <th style="text-align: center">Expected Delivery Date</th>
                                <th style="text-align: center">Supplier Name</th>
                                <th style="text-align: center">Order BY</th>
                                <th style="text-align: center">Create By</th>
                                <th style="text-align: center">Create Date</th>
                                <th style="text-align: center">Comments</th>
                                <th style="text-align: center">Action</th>
                            </tr>
                            </thead>
                            <tbody Id="Traylist">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script>
        $(document).ready(function() {
            LoadDate_Pr('#txtFromDate');
            LoadDate_C('#txtToDate');
            ShowReport();
         LoadSupplier('ddlSupplierName');
        });

        function LoadDate_Pr(controlName) {
            jQuery(controlName).datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd-M-yyyy'

            }).datepicker("setDate", "-2d");
        }

        function RedirectToActionToEdit(id) {
            $.ajax({
                url: "/ItemRequisition/LoadLocation",

                dataType: 'HTML',
                type: "Get",
                data: {},
                async: true,
                success: function(data) {

                }
            });
        };
         function LoadSupplier(elementId) {
            var urlpath = '@Url.Action("LoadSupplier", "PurchaseOrder")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: {},
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value=''>--Select Supplier--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].SupplierID).html(data[i].SupplierName));
                    }

                }
            });
        };

        function ShowReport() {

            var fromdate;
            var todate;
            var ddlSupplierName = "";

            if ($('#txtFromDate').val() == "") {
                swal("Please input from  date");
                return;
            }
            else {
                fromdate = $('#txtFromDate').val();
            }
            if ($('#txtToDate').val() == "") {
                swal("Please input to  date");
                return;
            }
            else {
                todate = $('#txtToDate').val();
            }

            if ($('#ddlSupplierName').val() == "0") {
                ddlSupplierName = '0';
            }
            else {
                ddlSupplierName = $('#ddlSupplierName').val();
            }

            var urlpath = '@Url.Action("GetPurchaseOrderListByDate", "PurchaseOrder")';
            $.ajax({
                url: urlpath,
                dataType: 'html',
                type: "Get",
                data: { fromdate: fromdate, todate: todate, supplierName: ddlSupplierName },
                async: false,
                success: function (data) {

                    data = JSON.parse(data);
                    $("#Traylist").html("");
                    if (data.length > 0) {
                        console.log(data);
                        var row = "";
                        var count = 1;
                        $("#Traylist").html("");

                        var count=1;
                        for (var i = 0; i < data.length; i++) {
                            row += "<tr>";
                            row += "<td style='text-align:center'>" + count + "</td>";
                            row += "<td style='text-align:center'>" + data[i].PurchaseOrderNo + "</td>";
                            row += "<td style='text-align:center'>" + data[i].OrderDatestr + "</td>";
                            row += "<td style='text-align:center'>" + data[i].ExpectedDeliveryDatestr + "</td>";
                            row += "<td style='text-align:center'>" + data[i].SupplierName + "</td>";
                            row += "<td style='text-align:center'>" + data[i].OrderBY + "</td>";
                            row += "<td style='text-align:center'>" + data[i].CreateBy + "</td>";
                            row += "<td style='text-align:center'>" + data[i].CreateDateStr + "</td>";
                            row += "<td style='text-align:center'>" + data[i].Comments + "</td>";
                            row += "<td style='text-align:center;  color:white;'><a class='btn btn-primary btn-xs btn-custom btn-rounded waves-effect waves-light' type='button' onclick='GoToDo(" + data[i].PurchaseOrderID + ")'>Approve</a></td>";
                            //row += "<td style='text-align:center'></td>";

                            row += "</tr>";
                            count = count + 1;

                        }
                        $("#Traylist").html(row);
                    }
                }
            });
        };


        function GoToDo(purchaseOrderID) {
           window.location = "@Url.Action("AddPurchaseOrder", "PurchaseOrder")" + "?id=" + purchaseOrderID+ '&&flag=' + 'ap';
        };

</script>
}