﻿

@model IEnumerable<IGFoodProject.ViewModel.ViewGeneratedChallan>

@{
    ViewBag.Title = "ConfirmedIssueList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">
                            <span class="fa fa-eye"></span> Generated Issue Page
                        </h3>
                        <a class="btn btn-outline-warning float-right" onclick="GenerateNew()">
                            <span class="fa fa-plus"></span> Go To Generate New Issue
                        </a>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <table class="table dataTable table-bordered table-striped table-hover">
                            <thead>
                                <tr style="background-color: aliceblue">
                                    <th style="text-align: center">SL</th>
                                    <th style="text-align: center">SO No</th>
                                    <th style="text-align: center">Challan No</th>
                                    <th style="text-align: center">Customer Name</th>
                                    @*<th style="text-align: center">Product Group</th>*@
                                    <th style="text-align: center">Issue Date</th>
                                    <th style="text-align: center">Requisition Date</th>
                                    <th style="text-align: center">Delivery Location</th>
                                    <th style="text-align: center">Issue Qty</th>
                                    <th style="text-align: center">Issue Kg</th>
                                    <th style="text-align: center">Issue Amount</th>
                                    <th style="text-align: center">Requisition By</th>
                                    <th style="text-align: center">Issue By</th>
                                    <th style="text-align: center">Action</th>
                                </tr>
                            </thead>
                            <tbody class="Traylist">
                                @{
                                    int i = 1;
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td style='text-align: center'>
                                                @i
                                            </td>
                                            <td>
                                                @item.SalesOrderNo
                                            </td>
                                            <td>@item.SalesOrderChallanNo</td>
                                            <td>@item.CustomerName</td>
                                            @*<td>@item.GroupName</td>*@
                                            <td>@Convert.ToDateTime(item.CreateDate).ToString("dd-MMM-yyyy")</td>
                                            <td>@Convert.ToDateTime(item.OrderDate).ToString("dd-MMM-yyyy")</td>
                                            <td>@item.DeliveryDestination</td>
                                            <td>@item.ChallanQty</td>
                                            <td>@item.ChallanKg</td>
                                            <td>@item.ChallanAmount</td>
                                            <td>@item.OrderBy</td>
                                            <td>@item.CreateBy</td>
                                            <td>@Html.ActionLink("View", "ViewIssue", "OwnConsumptionRequisition", new { id = @item.SalesOrderChallanMasterId }, new { @class = "btn btn-success btn-sm" })

                                                <button class="btn btn-sm btn-primary showBtn" onclick="LoadReportFinal(@item.SalesOrderChallanMasterId)">Print</button>

                                            </td>
                                        </tr>
                                        ++i;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-outline-danger  float-right" onclick="location.reload()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- /.row -->
    </div><!-- /.container-fluid -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm" style="max-width: 80% !important">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <div id="LiveBirdDressPartial"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts
{
    <script>
        function GenerateNew() {
            window.location.href = '@Url.Action("RuquisitionListForIssue", "OwnConsumptionRequisition")';
        }

        function LoadReportFinal(id) {
            var urlpath = '@Url.Action("OwnConsumptionChallanPrint", "Report")';


            var reportValue = "OwnConsumptionChallanSummary";

          

            //  alert( id);

            var jsonData = {};
      

            jsonData["ReportValue"] = reportValue;
            jsonData["soId"] = id;
          
           
           
            debugger;
            $.ajax({
                url: urlpath,
                data: jsonData,
                dataType: 'json',
                type: "Get",
                success: function (data) {
                    if (data.isSuccess) {



                        //OpenPopUp('BasicReportViewer.aspx');
                        window.open("../CrystalViewer/CrystalViewer.aspx", "_blank", "WIDTH=1024,HEIGHT=768,scrollbars=no, menubar=no,resizable=yes,directories=no,location=no");
                    }
                }
            });
        }


    </script>
}
