﻿


@model IEnumerable<IGFoodProject.ViewModel.ViewSalesOrderProcessedMaster>

@{
    ViewBag.Title = "RuquisitionListForIssue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">

                        <div class="row">
                            <div class="col-md-3">
                                <h3 class="card-title"><span class="fa fa-eye"></span> Own consumption Requisition List For Issue </h3>
                            </div>
                            <div class="col-md-4">
                                @*<a asp-action="Index" asp-controller="MrR">
                                    <h3 class="card-title"><span class="fa fa-plus"></span>New Mrr
                                    </h3></a>*@
                                @*@Html.ActionLink("New SO", "Index", "SalesOrderProcess", null, new { @class = "btn btn-xs btn-success" })*@
                            </div>
                        </div>



                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row table-responsive">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            
                                            <th>Requisition No.</th>
                                            <th>Customer</th>


                                            <th>Destination</th>
                                            <th>Requisition By</th>
                                            <th>Requisition by Contact</th>
                                            <th>Requisition Date</th>
                                            @*<th>Delivery Date</th>*@
                                            <th>Approve By</th>
                                            <th>Approve Date</th>
                                            @*<th>Total Price Inc. Vat</th>
                                                <th>Total Price Ex. Vat</th>*@

                                            <th>Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ int count = 1;}
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@count</td>
                                                
                                                <td>@item.SalesOrderNo</td>
                                                <td>@item.CustomerName</td>
                                                <td>@item.DeliveryDestination</td>
                                                <td>@item.SalesPerson</td>
                                                <td>@item.SalesPersonContact</td>

                                                <td>@Convert.ToDateTime(item.OrderDate).ToString("dd-MMM-yyyy")</td>
                                                @*<td>@Convert.ToDateTime(item.DeliveryDate).ToString("dd-MMM-yyyy")</td>*@
                                                <td>@item.ApproveBy</td>
                                                <td>@Convert.ToDateTime(item.ApproveDate).ToString("dd-MMM-yyyy")</td>
                                                @*<td>@item.TotalIncTaxVat</td>
                                                    <td>@item.TotalExTaxVat</td>*@




                                                <td> 
                                                    @Html.ActionLink("Create Issue", "ProcessedIssue", "OwnConsumptionRequisition", new { id = @item.SalesOrderProcessedMasterId}, new { @class = "btn btn-outline-success btn-sm" })
                                                   
                                                </td>
                                                @*<td>
                                                    <button class="btn btn-sm btn-primary showBtn" onclick="PrintData(@item.SalesOrderProcessedMasterId)">Print</button>
                                                </td>*@

                                            </tr>
                                            count++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>



                    </div>


                </div>

            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->

</section>
<script>
    function PrintData(id)
    {
        var urlpath = '@Url.Action("SalesOrderReports", "OwnConsumptionRequisition")';
        var reportValue = 'OwnConsumption';
        var jsonData = {};
        jsonData["ReportValue"] = reportValue;
        jsonData["SalesOrderProcessedMasterId"] = id;

        $.ajax({
            url: urlpath,
            data: jsonData,
            dataType: 'json',
            type: "Get",
            success: function (data) {
                if (data.isSuccess) {
                    window.open("../CrystalViewer/CrystalViewer.aspx", "_blank", "WIDTH=1024,HEIGHT=768,scrollbars=no, menubar=no,resizable=yes,directories=no,location=no");
                }
            }
        });
    }
</script>







