﻿@using System.Data
@model System.Data.DataTable
@{
    int count = 1;

}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">
                            <span class="fa fa-eye"></span> Generated Dumping List
                        </h3>
                        <a class="btn btn-outline-warning float-right" onclick="GenerateNew()">
                            <span class="fa fa-plus"></span> New Dumping
                        </a>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <table class="table dataTable table-bordered table-striped table-hover">
                            <thead>
                                <tr style="background-color: aliceblue">
                                    <th style="text-align: center">SL</th>
                                    <th style="text-align: center">Dumping No</th>
                                    <th style="text-align: center">Dumping Date</th>
                                    <th style="text-align: center">Dumping Qty</th>
                                    <th style="text-align: center">Dumping Kg</th>
                                    <th style="text-align: center">WareHouse</th>
                                    <th style="text-align: center">Location</th>
                                    <th style="text-align: center">Reason</th>
                                    <th style="text-align: center">Dumping By</th>
                                    <th style="text-align: center">Action</th>
                                </tr>
                            </thead>
                            <tbody class="Traylist">
                            @foreach (DataRow row in Model.Rows)
                            {
                                <tr>
                                    <td>@count</td>
                                    <td style="text-align: left">@row.ItemArray[1]</td>
                                    <td style="text-align: left">@Convert.ToDateTime(row.ItemArray[2]).ToString("dd-MMM-yyyy")</td>
                                    <td style="text-align: left">@row.ItemArray[3]</td>
                                    <td style="text-align: left">@row.ItemArray[4]</td>
                                    <td style="text-align: left">@row.ItemArray[5]</td>
                                    <td style="text-align: left">@row.ItemArray[6]</td>
                                    <td style="text-align: left">@row.ItemArray[7]</td>
                                    <td style="text-align: left">@row.ItemArray[8]</td>
                                    <td>@Html.ActionLink("View", "ViewDumping", "ProductDamage", new { id = @row.ItemArray[0] }, new { @class = "btn btn-success btn-sm" })</td>
                                </tr>
                                count++;
                            }
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-outline-danger  float-right" onclick="location.reload()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- /.row -->
    </div><!-- /.container-fluid -->
    @*<div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm" style="max-width: 80% !important">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <div id="LiveBirdDressPartial"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>*@
</section>

@section Scripts
{
    <script>
        function GenerateNew() {
            window.location.href = '@Url.Action("DumpingStockClearing", "ProductDamage")';
        }
    </script>
}
