﻿@using IGFoodProject.Utility
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="card-title"><span class="fas fa-trash-alt"></span> Damage Product Entry</h3>
                            </div>
                            <div class="col-md-6 text-right">
                                <a class="btn btn-outline-warning" href="@Url.Action("Index", "ProductDamage")"><span class="fa fa-list"></span>Damage Product List</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card-body">
                                <div class="form-group" id="divCompany">
                                    <label for="ddlCompany">Company<span style="color:red;font-weight:bold"> *</span></label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlCompany"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-body">
                                <div class="form-group" id="divLocation">
                                    <label for="ddlLocation">Location<span style="color:red;font-weight:bold"> *</span></label>
                                    <select class="form-control select2" id="ddlLocation" style="width: 100%;" onchange="LoadWareHouse('ddlWareHouse')"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-body">
                                <div class="form-group" id="divWareHouse">
                                    <label for="ddlWareHouse">Storage Warehouse<span style="color:red;font-weight:bold"> *</span></label>
                                    <select class="form-control select2" id="ddlWareHouse" style="width: 100%;"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card-body">
                                <div class="form-group" id="divexPurchaseDate">
                                    <label for="RequisitionDate ">Damage Date<span style="color:red;font-weight:bold"> *</span></label>
                                    <input type="text" class="form-control" id="RequisitionDate" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-body">
                                <div class="form-group" id="divReceiveBy">
                                    <label for="empAutoCom">Damage Entry By<span style="color:red;font-weight:bold"> *</span></label>
                                    <input type="text" class="form-control" id="empAutoCom" />
                                    <input type="number" class="form-control" id="employeeSelect" style="display: none"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-body">
                                <div class="form-group" id="divRemarks">
                                    <label for="txtRemarks ">Remarks</label>
                                    <textarea class="form-control" id="comment"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card-body table-responsive">
                            <div class="col-md-12">
                                <table id="myTable" class="table table-bordered">
                                    <thead>
                                        <tr style="background-color: aliceblue">
                                            <th>#SL</th>
                                            <th>Product<span style="color:red;font-weight:bold"> *</span></th>
                                            <th>Product Qty<span style="color:red;font-weight:bold"> *</span></th>
                                            <th>Product Kg</th>
                                            <th>Remarks</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button class="btn btn-primary pull-left" onclick="SaveFinal()">Submit</button>
                            <button class="btn btn-outline-danger  float-right" onclick="location.reload()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
    <input id="txtCustomerId" type="number" style="display:none;" value="@ViewBag.customerid">
</section>
@section Scripts{
    <script>
        var AllItemList = {};
        $(function () {
            LoadCompany('ddlCompany');
            $('#ddlCompany').val(7);
            LoadLocation('ddlLocation', $("#ddlCompany").val());
            $("#ddlLocation").val(4);
            LoadWareHouse('ddlWareHouse', 4, 3);
            $('#ddlWareHouse').val('10').trigger('change');
            LoadDate('#exPurchaseDate');
            LoadDate_C('#RequisitionDate');
            AddRow();
            LoadItemDescription();
            EmpAutoCom('empAutoCom', 'employeeSelect');
        });
        function SaveFinal() {
            if (SaveValidation()) {
                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false
                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveRequisition();
                });
            }
        }
        function SaveRequisition() {
            var input = $('#empAutoCom').val();
            var fields = input.split(':');
            var empId = fields[0];
            var company = parseInt($('#ddlCompany').val());
            var location = parseInt($('#ddlLocation').val());
            var wareHouse = parseInt($('#ddlWareHouse').val());
            var stockOutDate = $('#RequisitionDate').val();
            var remarks = $('#comment').val();
            var jsonData = {};
            jsonData["CompanyId"] = company;
            jsonData["LocationId"] = location;
            jsonData["WarehouseId"] = wareHouse;
            jsonData["StockOutDate"] = stockOutDate;
            jsonData["Comment"] = remarks;
            jsonData["StockOutBy"] = empId;
            var jsonList = [];
            var rowCount = $('#myTable tbody tr').length;
            for (var i = 0; i < rowCount; i++) {
                var item = parseInt($("#dllItem_" + [i + 1] + "").val());
                var qty = parseInt($("#txtItemQty_" + [i + 1] + "").val());
                var itemKg = parseFloat($("#txtItemKg_" + [i + 1] + "").val());
                var detremarks = $("#txtRemarks_" + [i + 1] + "").val();
                var jsonobj = {};
                jsonobj["ProductId"] = item;
                jsonobj["StockOutQty"] = qty;
                jsonobj["StockOutKg"] = itemKg;
                jsonobj["Remarks"] = detremarks;
                jsonList.push(jsonobj);
            }
            jsonData["DamageDetailses"] = jsonList;
            debugger;
            var urlpath = '@Url.Action("SaveData", "ProductDamage")';
            $.ajax({
                contentType: "application/json",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "POST"
            })
                .success(function (result) {
                    if (result.isSuccess == true) {
                        swal("SucessFull");
                        window.location.href = '@Url.Action("Index", "ProductDamage")';
                    }
                });
        }
        function SaveValidation() {
            var isValid = true;
            if ($('#ddlCompany').val() == 0 || $('#ddlCompany').val() == '') {
                ValidationColorChangeNew('ddlCompany', 'divCompany', 'Select Company', true);
                isValid = false;
            }
            if ($('#ddlLocation').val() == 0 || $('#ddlLocation').val() == '') {
                ValidationColorChangeNew('ddlLocation', 'divLocation', 'Select Location', true);
                isValid = false;
            }
            if ($('#empAutoCom').val() == 0 || $('#empAutoCom').val() == '') {
                ValidationColorChangeNew('empAutoCom', 'divReceiveBy', 'Select Employee', false);
                isValid = false;
            }
            if ($('#ddlWareHouse').val() == 0 || $('#ddlWareHouse').val() == '') {
                ValidationColorChangeNew('ddlWareHouse', 'divWareHouse', 'Select Warehouse', true);
                isValid = false;
            }
            if ($('#RequisitionDate').val() == null || $('#RequisitionDate').val() == '') {
                ValidationColorChangeNew('RequisitionDate', 'divexPurchaseDate', 'Date Required', true);
                isValid = false;
            }
            var rowCount = $('#myTable tbody tr').length;
            for (var i = 0; i < rowCount; i++) {
                var item = i + 1;
                if ($("#dllItem_" + item).val() == 0 || $("#dllItem_" + item).val() == '') {
                    ValidationColorChange('dllItem_', "tr" + [i] + "Select an Item", false);
                    isValid = false;
                }
                if ($("#txtItemQty_" + item).val() == 0 || $("#txtItemQty_" + item).val() == '') {
                    ValidationColorChange('txtItemQty_', "tr" + [i] + "Input the Quantity", false);
                    isValid = false;
                }
            }
            if (isValid == false) {
                ShowMessage("Some Values Required");
            }
            return isValid;
        }
        function LoadLocation(elementId) {
            $.ajax({
                url: "/ItemRequisition/LoadLocation",
                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {
                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Location--</option>");
                    for (var i = 0; i < data.length; i++) {
                        $('#' + elementId + '').append($("<option></option>").val(data[i].LocationId).html(data[i].LocationName));
                    }
                }
            });
        }
        function AddRow() {
            var tr = $('#myTable tbody tr').length + 1;
            var ddlName = 'dllItem_' + tr;
            var urlpath = '@Url.Action("GetAddRow", "ProductDamage")';
            $.ajax({
                url: urlpath,
                dataType: 'HTML',
                type: "Get",
                data: { tr: tr },
                async: true,
                success: function (data) {
                    $('#myTable tbody').append(data);
                    LoadItemList(ddlName);
                }
            });
        }
        function RemoveRow(trId) {
            if (($('#myTable tbody tr').length) > 1) {
                $('#tr_' + trId + '').remove();
            }
        }
        function LoadItemDescription() {
            $.ajax({
                url: "/Utility/GetProductByGroup",
                dataType: 'json',
                type: "Get",
                data: { groupId: 5 },
                async: false,
                success: function (data) {
                    AllItemList = data;
                }
            });
        }
        function LoadItemList(elementId) {
            var array = [];
            var rowCount = $('#myTable tbody tr').length;
            for (let count = 1; count < rowCount; count++) {
                array.push(parseInt($("#dllItem_" + count).val()));
            };
            $('#' + elementId + '').append("<option value='0'>--Select Product--</option>");
            for (var i = 0; i < AllItemList.length; i++) {
                var a = AllItemList[i].ItemId;
                if (jQuery.inArray(AllItemList[i].ProductId, array) == -1) {
                    $('#' + elementId + '').append($("<option></option>").val(AllItemList[i].ProductId).html(AllItemList[i].ProductName));
                }
            }
            $('#' + elementId + '').select2();
        }
        function GetLastPrice(id) {
            var itemId = parseInt($('#dllItem_' + id).val());
            $.ajax({
                url: "/ItemRequisition/LastPriceOfItem",
                dataType: 'json',
                type: "Get",
                data: { itemId: itemId },
                async: false,
                success: function (data) {
                    $('#txtItemPrice_' + id).val(data);
                }
            });
        }
    </script>
}
