﻿@using System.Data
@model System.Data.DataTable
    @{
        var count = 1;
    }

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="invoice p-3 mb-3">
                    <!-- title row -->
                    <div class="row">
                        <div class="col-12">
                            <h4>
                                <small class="float-right">Date: @DateTime.Now.ToString("dd MMM yyyy")</small>
                            </h4>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- info row -->
                    <div class="row invoice-info">

                        <div class="col-sm-4 invoice-col">
                            <b>Dumping #@Model.Rows[0].ItemArray[1]</b><br>
                            <br>
                            <b>Dumping Date:</b>@Convert.ToDateTime(Model.Rows[0].ItemArray[2]).ToString("dd-MMM-yyyy") <br>
                            <b>Total Dumping Qty:</b>@Model.Rows[0].ItemArray[3]<br>
                            <b>Total Dumping Kg:</b>@Model.Rows[0].ItemArray[4]<br>
                        </div>
                        <!-- /.col -->

                        <div class="col-sm-4 invoice-col">
                            <b>Warehouse:</b> @Model.Rows[0].ItemArray[5]<br>
                            <b>Location:</b> @Model.Rows[0].ItemArray[6]<br>
                            <b>Dumping By:</b> @Model.Rows[0].ItemArray[8]<br>
                        </div>
                        <!-- /.col -->



                        <div class="col-sm-4 invoice-col">
                            Dumping Reason
                            <address>
                                <strong>@Model.Rows[0].ItemArray[7]</strong>
                            </address>
                        </div>
                    </div>

                    <br>
                    <!-- /.row -->
                    <!-- Table row -->
                    <div class="row">
                        <div class="col-12 table-responsive">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th style="text-align: center">SL No</th>
                                        <th style="text-align: center">Product Name</th>
                                        <th style="text-align: center">Dumping Qty</th>
                                        <th style="text-align: center">Dumping kg</th>
                                        <th style="text-align: center">Unit Price</th>
                                        <th style="text-align: center">Remarks</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (DataRow row in Model.Rows)
                                    {
                                        <tr>
                                            <td style="text-align: left">@count</td>
                                            <td style="text-align: left">@row.ItemArray[9]</td>
                                            <td style="text-align: right">@row.ItemArray[10]</td>
                                            <td style="text-align: right">@row.ItemArray[11]</td>
                                            <td style="text-align: right">@row.ItemArray[12]</td>
                                            <td style="text-align: left">@row.ItemArray[13]</td>
                                        </tr>
                                        count++;
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="9">
                                            @Html.ActionLink("Back To List", "DumpingIndex", "ProductDamage", null, new { @class = "btn btn-primary" })
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->

                </div>
            </div>
        </div>
    </div>
</section>
