﻿@model IGFoodProject.Models.RequisitionDetails
@{

    int sl = (int)TempData["trSl"];
}
<tr id="tr_@sl">
    <td>
        @sl
    </td>
    <td>

        <select class="form-control select2" style="width: 100%;" id="dllItem_@sl" onchange="GetLastPrice(@sl)">
        </select>

    </td>
    <td>

        <input type="number"   class="form-control" id="txtItemQty_@sl" />

    </td>
    <td>

        <input type="number"   class="form-control" id="txtItemKg_@sl" oninput="" />

    </td>
    <td>

        <input type="number"    class="form-control" id="txtItemPrice_@sl"  oninput="limitDecimals(this);"/>

    </td>
    <td>

        <input type="text" class="form-control" id="txtRemarks_@sl" />

    </td>
    <td>
        <div class="form-group">
            <button class="btn btn-primary btn-sm" onclick="AddRow()"><span class="fa fa-plus"></span></button>
            <button class="btn btn-danger btn-sm" onclick="RemoveRow(@sl)"><span class="fa fa-trash"></span></button>
        </div>
    </td>
</tr>

@section Scripts{
    <script>
        $(function() {
            $('#dllItem_@sl').val('@Model.ItemId');
            
        });
       
    </script>


}