﻿@using IGFoodProject.Utility
@model IGFoodProject.Models.RequisitionMaster
@{int[] id = new int[] { };
    List<int> list = new List<int>();
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">

                        <div class="row">
                            <div class="col-md-3">
                                <h3 class="card-title"><span class="fa fa-eye"></span> Requisition Edit  Entry</h3>
                            </div>
                            <div class="col-md-4">
                                <a asp-action="RequisitionList" asp-controller="ItemRequisition"><h3 class="card-title"><span class="fa fa-list"></span> Requisition List </h3></a>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card-body">
                                <div class="form-group" id="divCompany">
                                    <label for="ddlCustomerType">Company</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlCompany">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-body">
                                <div class="form-group" id="divLocation">
                                    <label for="ddlLocation">Location</label>
                                    <select class="form-control select2" id="ddlLocation" onchange="LoadWareHouseReq('ddlWareHouse')">
                                    </select>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-body">
                                <div class="form-group" id="divWareHouse">
                                    <label for="ddlWareHouse ">WareHouse</label>
                                    <select class="form-control select2" id="ddlWareHouse">
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card-body">
                                <div class="form-group" id="divexPurchaseDate">
                                    <label for="exPurchaseDate ">Expected Purchase Date</label>
                                    <input type="text" class="form-control" id="exPurchaseDate" />

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-body">
                                <div class="form-group" id="divexPurchaseDate">
                                    <label for="exPurchaseDate ">Requisition Date</label>
                                    <input type="text" class="form-control" id="RequisitionDate" />

                                </div>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-body">

                                <div class="form-group" id="divReceiveBy">
                                    <label for="empAutoCom">Requisitino By</label>
                                    <input type="text" class="form-control" id="empAutoCom"  value="@Session[SessionCollection.UserInfo].ToString()"/>
                                    <input type="number" class="form-control" id="employeeSelect" hidden />

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div class="card-body">
                                <div class="form-group" id="divRemarks">
                                    <label for="txtRemarks ">Remarks</label>
                                    <input type="text" class="form-control" id="txtRemarks" value="@Model.Remarks" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>


                    <div class="row">
                        <div class="card-body table-responsive">
                            <div class="col-md-12">
                                <table id="myTable" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>#SL</th>
                                            <th>Item Description</th>
                                            <th>Item Qty</th>
                                            <th>Item Kg</th>
                                            <th>Expected Price</th>
                                            <th>Remarks</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ int sl = 1;
                                            foreach (var item in Model.Details)
                                            {

                                                //id.Append(Convert.ToInt32(item.ItemId));
                                                list.Add(Convert.ToInt32(item.ItemId));
                                                <tr id="tr_@sl">
                                                    <td>
                                                        @sl
                                                    </td>
                                                    <td>

                                                        <select class="form-control" style="width: 100%;" value="@item.ItemId" id="dllItem_@sl" >
                                                        </select>
                                                        <input type="hidden" id="ItemId_@sl" value="@item.ItemId" />
                                                    </td>
                                                    <td>

                                                        <input type="number" min=0 class="form-control" id="txtItemQty_@sl" value="@item.ProposedReqisitionQty" />

                                                    </td>
                                                    <td>

                                                        <input type="number" min=0 class="form-control" id="txtItemKg_@sl" value="@item.ProposedRequisitionKG" />

                                                    </td>
                                                    <td>

                                                        <input type="number" min=0 oninput="validity.valid||(value='');" class="form-control" id="txtItemPrice_@sl" value="@item.ProposedTentativePrice" />

                                                    </td>
                                                    <td>

                                                        <input type="text" class="form-control" id="txtRemarks_@sl" value="@item.Remarks" />
                                                        
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <button class="btn btn-primary btn-sm" onclick="AddRow()"><span class="fa fa-plus"></span></button>
                                                            <button class="btn btn-danger btn-sm" onclick="RemoveRow(@sl)"><span class="fa fa-trash"></span></button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                sl++;
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div>

                        <!-- /.card-body -->

                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-2">
                                    @*<button class="btn btn-info pull-left" onclick="BackToList()">Back To List</button>*@
                                </div>
                                <div class="col-md-9"></div>
                                <div class="col-md-1">
                                    <button class="btn btn-info pull-right" onclick="SaveFinal()">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
    <input id="txtCustomerId" type="number" style="display:none;" value="@ViewBag.customerid">
</section>


@section Scripts{
    <script>
        var AllItemList = {};
        $(function () {
            LoadCompany('ddlCompany');
            LoadLocation('ddlLocation');
            LoadDate('#exPurchaseDate');
            LoadDate('#RequisitionDate');
            LoadItemDescription();
            $('#ddlCompany').val('@Model.Company').trigger('change');
            $('#ddlLocation').val('@Model.LocationId').trigger('change');
            $('#ddlWareHouse').val('@Model.WarehouseId').trigger('change');
            $('#RequisitionDate').val('@Convert.ToDateTime(Model.RequisitionDate).ToString("dd MMM yyyy")');
            $('#exPurchaseDate').val('@Convert.ToDateTime(Model.ExpectedPurchaseDate).ToString("dd MMM yyyy")');
            EmpAutoCom('empAutoCom', 'employeeSelect');
            $('#empAutoCom').val('@Model.EmpName');
            //$('#txtRemarks').val(unescape('@Model.Remarks'));

            AddRowForEdit();

        });

        $('input[type=number]').each(function (e) {


            if (!((e.keyCode > 95 && e.keyCode < 106)
                || (e.keyCode > 47 && e.keyCode < 58)
                || e.keyCode == 8)) {
                return false;
            }
        });

        function SaveFinal() {

            if (SaveValidation()) {
                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveRequisition();

                });
            }



        }


        function SaveRequisition() {

            var reqBy = $('#empAutoCom').val();
            var list = reqBy.split(":");
            var requisitionBy = list[0];
            var id= @Model.ItemRequisitionMasterId;
            var company = parseInt($('#ddlCompany').val());
            var wareHouse = parseInt($('#ddlWareHouse').val());
            var exPurchase = $('#exPurchaseDate').val();
            var requisitionDate = $('#RequisitionDate').val();
            var remarks = $('#txtRemarks').val();
            var jsonData = {};
            jsonData["ItemRequisitionMasterId"] = id;
            jsonData["Company"] = company;
            jsonData["WarehouseId"] = wareHouse;
            jsonData["StrtExpectedPurchaseDate"] = exPurchase;
            jsonData["RequisitionDate"] = requisitionDate;
            jsonData["Remarks"] = remarks;
            jsonData["RequisitionBy"] = requisitionBy;
            var jsonList = [];
            var rowCount = $('#myTable tbody tr').length;

            for (var i = 0; i < rowCount; i++) {

                var item = parseInt($("#dllItem_" + [i+1] + "").val());
                var qty = parseInt($("#txtItemQty_" + [i+1] + "").val());
                var itemKg = parseFloat($("#txtItemKg_" + [i+1] + "").val());
                var exprice = parseFloat($("#txtItemPrice_" + [i+1] + "").val());
                var detremarks = $("#txtRemarks_" + [i+1] + "").val();
                var jsonobj = {};
                jsonobj["ItemId"] = item;
                jsonobj["ProposedReqisitionQty"] = qty;
                jsonobj["ProposedRequisitionKG"] = itemKg;
                jsonobj["ProposedTentativePrice"] = exprice;
                jsonobj["Remarks"] = detremarks;
                jsonList.push(jsonobj);
            }
            jsonData["Details"] = jsonList;


            var urlpath = '@Url.Action("SaveRequisition", "ItemRequisition")';

            $.ajax({

                contentType: "application/json",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "POST"
            })
                .success(function (result) {

                    if (result.isSuccess==true)
                    {

                        swal("Edit SucessFull");
                        window.location.href = '@Url.Action("RequisitionList", "ItemRequisition")';


                    }
                });
        }




        function SaveValidation() {
            var isValid = true;
             
            if ($('#ddlCompany').val() == 0 || $('#ddlCompany').val() == '') {
                ValidationColorChangeNew('ddlCompany', 'divCompany', 'Select Company', true);
                isValid = false;
            }


            if ($('#ddlLocation').val() == 0 || $('#ddlLocation').val() == '') {
                ValidationColorChangeNew('ddlLocation', 'divLocation', 'Select Location', true);
                isValid = false;
            }


            if ($('#empAutoCom').val() == 0 || $('#empAutoCom').val() == '') {
                ValidationColorChangeNew('empAutoCom', 'divReceiveBy', 'Select Employee', false);
                isValid = false;
            }
            if ($('#ddlWareHouse').val() == 0 || $('#ddlWareHouse').val() == '') {
                ValidationColorChangeNew('ddlWareHouse', 'divWareHouse', 'Select Warehouse', true);
                isValid = false;
            }

            if ($('#exPurchaseDate').val() == null || $('#exPurchaseDate').val() == '') {
                ValidationColorChangeNew('exPurchaseDate', 'divexPurchaseDate', 'Date Required', true);
                isValid = false;
            }
            var rowCount = $('#myTable tbody tr').length;

            for (var i = 0; i < rowCount; i++) {
                var item = i + 1;
                if ($("#dllItem_"+item).val() == 0 || $("#dllItem_"+item).val() == '') {
                    ValidationColorChange('dllItem_', "tr" + [i] + "Select an Item", false);
                    isValid = false;
                }
                if ($("#txtItemQty_"+item).val() == 0 || $("#txtItemQty_"+item).val() == '') {
                    ValidationColorChange('txtItemQty_', "tr" + [i] + "Input the Quantity", false);
                    isValid = false;
                }
                //if ($("#txtItemKg_"+item).val() == 0 || $("#txtItemKg_"+item).val() == '') {
                //    ValidationColorChange('txtItemKg_', "tr" + [i] + "Input the Kg", false);
                //    isValid = false;
                //}
                //if ($("#txtItemPrice_"+item).val() == 0 || $("#txtItemPrice_"+item).val() == '') {
                //    ValidationColorChange('txtItemPrice_', "tr" + [i] + "Input The Item Price", false);
                //    isValid = false;
                //}
            }

            if (isValid == false) {
                ShowMessage("Some Values Required");
            }
            return isValid;

        }


        function LoadLocation(elementId) {
            $.ajax({
                url: "/ItemRequisition/LoadLocation",

                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {
                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Location--</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].LocationId).html(data[i].LocationName));
                    }
                }
            });
        }

        function LoadWareHouseReq(elementId) {

            var location = $('#ddlLocation').val();
            var urlpath = '@Url.Action("LoadWareHouse", "ItemRequisition")';
            $.ajax({
                url:urlpath,
                type: "Get",
                data: { location: parseInt(location) ,warehouseTypeId:1},
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Warehouse--</option>");
                     for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].WareHouseId).html(data[i].WareHouseName));
                    }

                }
            });
        }
        function AddRowForEdit() {


            for (var i = 0;i<@Model.Details.Count; i++) {


                 
                var tr = i + 1;
                var ddlName = 'dllItem_' + tr;

                var input = 'ItemId_' + tr;
                var itemId = parseInt($('#' + input).val());
                LoadItemList(ddlName);
                $('#' + ddlName).val(itemId).trigger('change');

            }
        }
        function AddRow() {

            var tr = $('#myTable tbody tr').length + 1;
            var ddlName = 'dllItem_' + tr;
            var urlpath = '@Url.Action("GetAddRow", "ItemRequisition")';
            $.ajax({
                url: urlpath,
                dataType: 'HTML',
                type: "Get",
                data: {tr:tr},
                async: true,
                success: function (data) {

                    $('#myTable tbody').append(data);
                    LoadItemList(ddlName);
                }
            });
        }
        function RemoveRow(trId) {
            if (($('#myTable tbody tr').length ) > 1) {
                $('#tr_' + trId + '').remove();
            }

        }
        function LoadItemDescription() {

            $.ajax({
                url: "/Utility/LoadItemDescription",

                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {

                    AllItemList=data;
                }
            });
        }

        function LoadItemList(elementId) {


            $('#' + elementId + '').append("<option value='0'>--Select Iitem--</option>");

            for (var i = 0; i < AllItemList.length; i++) {
                 
                $('#' + elementId + '').append($("<option></option>").val(AllItemList[i].ItemId).html(AllItemList[i].ItemName));
            }

        }

    </script>
}

