﻿@using IGFoodProject.Utility

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="card-title"><span class="fa fa-street-view"></span> New Bird Requisition Entry</h3>
                            </div>
                            <div class="col-md-6 text-right">
                                <a class="btn btn-outline-warning" href="@Url.Action("RequisitionList", "ItemRequisition")"><span class="fa fa-list"></span>Requisition List</a>
                            </div>
                        </div>
                    </div>

                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card-body">
                                <div class="form-group" id="divCompany">
                                    <label for="ddlCompany">Company<span style="color:red;font-weight:bold"> *</span></label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlCompany"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-body">
                                <div class="form-group" id="divLocation">
                                    <label for="ddlLocation">Location<span style="color:red;font-weight:bold"> *</span></label>
                                    <select class="form-control select2" id="ddlLocation" style="width: 100%;" onchange="LoadWareHouse('ddlWareHouse')"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-body">
                                <div class="form-group" id="divWareHouse">
                                    <label for="ddlWareHouse">Live Bird Warehouse<span style="color:red;font-weight:bold"> *</span></label>
                                    <select class="form-control select2" id="ddlWareHouse" style="width: 100%;"></select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="card-body">
                                <div class="form-group" id="divexPurchaseDate">
                                    <label for="exPurchaseDate ">Expected Purchase Date<span style="color:red;font-weight:bold"> *</span></label>
                                    <input type="text" class="form-control" id="exPurchaseDate" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-body">
                                <div class="form-group" id="divexPurchaseDate">
                                    <label for="RequisitionDate ">Requisition Date<span style="color:red;font-weight:bold"> *</span></label>
                                    <input type="text" class="form-control" id="RequisitionDate" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-body">
                                <div class="form-group" id="divReceiveBy">
                                    <label for="empAutoCom">Requisition By<span style="color:red;font-weight:bold"> *</span></label>
                                    <input type="text"  class="form-control" id="empAutoCom" />
                                    <input type="number" class="form-control" id="employeeSelect"  style="display:none" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div class="card-body">
                                <div class="form-group" id="divRemarks">
                                    <label for="txtRemarks ">Remarks</label>
                                    <input type="text" class="form-control" id="txtRemarks" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    <div class="row">
                        <div class="card-body table-responsive">
                            <div class="col-md-12">
                                <table id="myTable" class="table table-bordered">
                                    <thead>
                                        <tr style="background-color: aliceblue">
                                            <th>#SL</th>
                                            <th>Live Bird<span style="color:red;font-weight:bold"> *</span></th>
                                            <th>Live Bird Qty<span style="color:red;font-weight:bold"> *</span></th>
                                            <th>Live Bird Kg (Optional)</th>
                                            <th>Expected Price</th>
                                            <th>Remarks</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                    <div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button class="btn btn-primary pull-left" onclick="SaveFinal()">Submit</button>
                            
                            <button class="btn btn-outline-danger  float-right" onclick="location.reload()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
    <input id="txtCustomerId" type="number" style="display:none;" value="@ViewBag.customerid">
</section>

@section Scripts{
    <script>
        var AllItemList = {};
        $(function () {
            LoadCompany('ddlCompany');
            $('#ddlCompany').val(7);
            LoadLocation('ddlLocation');

            $("#ddlLocation").val(4).trigger('change');
            $("#ddlWareHouse").val(1);
            LoadDate('#exPurchaseDate');
            LoadDate_C('#RequisitionDate');
            AddRow();
            LoadItemDescription();
            EmpAutoCom('empAutoCom', 'employeeSelect');


        });





        function SaveFinal() {

            if (SaveValidation()) {
                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveRequisition();

                });
            }



        }


        function SaveRequisition() {
            var input = $('#empAutoCom').val();
            var fields = input.split(':');
            var empId = fields[0];

            var company = parseInt($('#ddlCompany').val());
            var wareHouse = parseInt($('#ddlWareHouse').val());
            var exPurchase = $('#exPurchaseDate').val();
            var requisitionDate = $('#RequisitionDate').val();
            var remarks = $('#txtRemarks').val();
            var jsonData = {};
            jsonData["Company"] = company;
            jsonData["WarehouseId"] = wareHouse;
            jsonData["StrtExpectedPurchaseDate"] = exPurchase;
            jsonData["RequisitionDate"] = requisitionDate;
            jsonData["Remarks"] = remarks;
            jsonData["RequisitionBy"] = empId;
            var jsonList = [];
            var rowCount = $('#myTable tbody tr').length;

            for (var i = 0; i < rowCount; i++) {

                var item = parseInt($("#dllItem_" + [i + 1] + "").val());
                var qty = parseInt($("#txtItemQty_" + [i + 1] + "").val());
                var itemKg = parseFloat($("#txtItemKg_" + [i + 1] + "").val());
                var exprice = parseFloat($("#txtItemPrice_" + [i + 1] + "").val());
                var detremarks = $("#txtRemarks_" + [i + 1] + "").val();
                var jsonobj = {};
                jsonobj["ItemId"] = item;
                jsonobj["ProposedReqisitionQty"] = qty;
                jsonobj["ProposedRequisitionKG"] = itemKg;
                jsonobj["ProposedTentativePrice"] = exprice;
                jsonobj["Remarks"] = detremarks;
                jsonList.push(jsonobj);
            }
            jsonData["Details"] = jsonList;


            var urlpath = '@Url.Action("SaveRequisition", "ItemRequisition")';

            $.ajax({

                contentType: "application/json",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "POST"
            })
                .success(function (result) {

                    if (result.isSuccess == true) {

                        swal("SucessFull");
                        window.location.href = '@Url.Action("RequisitionList", "ItemRequisition")';
                        //window.location.href = '@Url.Action("ProductList", "Product")';


                    }
                });
        }




        function SaveValidation() {
            var isValid = true;

            if ($('#ddlCompany').val() == 0 || $('#ddlCompany').val() == '') {
                ValidationColorChangeNew('ddlCompany', 'divCompany', 'Select Company', true);
                isValid = false;
            }


            if ($('#ddlLocation').val() == 0 || $('#ddlLocation').val() == '') {
                ValidationColorChangeNew('ddlLocation', 'divLocation', 'Select Location', true);
                isValid = false;
            }

            if ($('#empAutoCom').val() == 0 || $('#empAutoCom').val() == '') {
                ValidationColorChangeNew('empAutoCom', 'divReceiveBy', 'Select Employee', false);
                isValid = false;
            }

            if ($('#ddlWareHouse').val() == 0 || $('#ddlWareHouse').val() == '') {
                ValidationColorChangeNew('ddlWareHouse', 'divWareHouse', 'Select Warehouse', true);
                isValid = false;
            }

            if ($('#exPurchaseDate').val() == null || $('#exPurchaseDate').val() == '') {
                ValidationColorChangeNew('exPurchaseDate', 'divexPurchaseDate', 'Date Required', true);
                isValid = false;
            }
            var rowCount = $('#myTable tbody tr').length;

            for (var i = 0; i < rowCount; i++) {

                var item = i + 1;
                if ($("#dllItem_" + item).val() == 0 || $("#dllItem_" + item).val() == '') {
                    ValidationColorChange('dllItem_', "tr" + [i] + "Select an Item", false);
                    isValid = false;
                }
                if ($("#txtItemQty_" + item).val() == 0 || $("#txtItemQty_" + item).val() == '') {
                    ValidationColorChange('txtItemQty_', "tr" + [i] + "Input the Quantity", false);
                    isValid = false;
                }
                //if ($("#txtItemKg_" + item).val() == 0 || $("#txtItemKg_" + item).val() == '') {
                //    ValidationColorChange('txtItemKg_', "tr" + [i] + "Input the Kg", false);
                //    isValid = false;
                //}
                //if ($("#txtItemPrice_" + item).val() == 0 || $("#txtItemPrice_" + item).val() == '') {
                //    ValidationColorChange('txtItemPrice_', "tr" + [i] + "Input The Item Price", false);
                //    isValid = false;
                //}
            }

            if (isValid == false) {
                ShowMessage("Some Values Required");
            }
            return isValid;

        }


        function LoadLocation(elementId) {
            $.ajax({
                url: "/ItemRequisition/LoadLocation",

                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {
                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Location--</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].LocationId).html(data[i].LocationName));
                    }
                }
            });
        }

        function LoadWareHouse(elementId) {

            var location = $('#ddlLocation').val();
            var urlpath = '@Url.Action("LoadWareHouse", "ItemRequisition")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { location: parseInt(location), warehouseTypeId:1 },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Warehouse--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].WareHouseId).html(data[i].WareHouseName));
                    }

                }
            });
        }
        function AddRow() {

            var tr = $('#myTable tbody tr').length + 1;
            var ddlName = 'dllItem_' + tr;
            var urlpath = '@Url.Action("GetAddRow", "ItemRequisition")';
            $.ajax({
                url: urlpath,
                dataType: 'HTML',
                type: "Get",
                data: { tr: tr },
                async: true,
                success: function (data) {

                    $('#myTable tbody').append(data);
                    LoadItemList(ddlName);
                }
            });
        }
        function RemoveRow(trId) {
            if (($('#myTable tbody tr').length) > 1) {
                $('#tr_' + trId + '').remove();
            }

        }
        function LoadItemDescription() {

            $.ajax({
                url: "/Utility/LoadItemDescription",

                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {

                    AllItemList = data;
                }
            });
        }

        function LoadItemList(elementId) {

            var array = [];
            var rowCount = $('#myTable tbody tr').length;
            for (let count = 1; count < rowCount; count++) {
                array.push(parseInt($("#dllItem_" + count).val()));
            };
            $('#' + elementId + '').append("<option value='0'>--Select Iitem--</option>");

            for (var i = 0; i < AllItemList.length; i++) {
                var a = AllItemList[i].ItemId;
                if (jQuery.inArray(AllItemList[i].ItemId, array)==-1) {

                    $('#' + elementId + '').append($("<option></option>").val(AllItemList[i].ItemId).html(AllItemList[i].ItemName));
                }

            }
            $('#' + elementId + '').select2();
        }
        function GetLastPrice(id) {
            var itemId = parseInt($('#dllItem_' + id).val());
            $.ajax({
                url: "/ItemRequisition/LastPriceOfItem",
                dataType: 'json',
                type: "Get",
                data: { itemId: itemId },
                async: false,
                success: function (data) {

                    $('#txtItemPrice_' + id).val(data);
                }
            });
        }

         function limitDecimals(el) {
            var value = el.value;
            var parts = value.split(".");
            if (parts.length > 1 && parts[1].length > 4) {
                parts[1] = parts[1].slice(0, 4);
                el.value = parts[0] + "." + parts[1];
            }
        }
    </script>
}
