﻿@model IEnumerable<IGFoodProject.Models.RequisitionMaster>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">

                        <div class="row">
                            <div class="col-md-3">
                                <h3 class="card-title"><span class="fa fa-list"></span> Requisition Approve List </h3>
                            </div>

                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body">
                                <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                        <tr style="background-color: aliceblue">
                                            <th style="text-align: center">SL</th>
                                            <th style="text-align: center">Requisition No</th>
                                            <th style="text-align: center">Company Name</th>
                                            <th style="text-align: center">Warehouse Name</th>
                                            <th style="text-align: center">Requisition Date</th>
                                            <th style="text-align: center">Remarks</th>
                                            <th style="text-align: center">Requisition By</th>
                                            <th style="text-align: center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody class="Traylist">
                                        @{
                                            int i = 1;
                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td style='text-align: center'>
                                                        @i
                                                    </td>
                                                    <td style='text-align: center'>@item.RequisitionNo</td>
                                                    <td style='text-align: center'>@item.CompanyName</td>
                                                    <td style='text-align: center'>@item.WareHouseName </td>
                                                    <td style='text-align: center'>@Convert.ToDateTime(item.RequisitionDate).ToString("dd MMM yyyy")  </td>
                                                    <td style='text-align: center'>@item.Remarks </td>
                                                    <td style='text-align: center'>@item.EmpName </td>

                                                    @*<td style='text-align: center'><button class='btn btn-xs btn-danger' onclick='RedirectToActionToEdit(@item.ItemRequisitionMasterId)'><span class='fa fa-eye'></span>See Details</button></td>*@
                                                    <td>


                                                        @Html.ActionLink("Approve", "RequisitionApproved", "ItemRequisition", new { id = @item.ItemRequisitionMasterId }, new { @class = "btn btn-xs btn-info" })
                                                       @* <a class='btn btn-xs btn-info' asp-action="RequisitionApproved" asp-route-id="@item.ItemRequisitionMasterId" asp-controller="ItemRequisition"><span class="fa fa-eye"></span>Approve</a>*@
                                                    </td>


                                                </tr>
                                                ++i;
                                            }
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>



                    </div>


                </div>

            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->

</section>


