﻿@using IGFoodProject.Utility
@model IGFoodProject.Models.RequisitionMaster
@{int[] id = new int[] { };
    List<int> list = new List<int>();
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        @*<h3 class="card-title">Requisition Edit  Entry</h3>*@
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Bird Requisition Approve </h3>
                            </div>
                            <div class="col-md-6 text-right">
                                <a class="btn btn-outline-warning" asp-action="RequisitionApprovedList" asp-controller="ItemRequisition">
                                    <span class="fa fa-list"></span> Requisition List
                                    </a>
                            </div>
                            
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card-body">
                                <div class="form-group" id="divCompany">
                                    <label for="ddlCustomerType">Company</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlCompany" disabled="disabled" >
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-body">
                                <div class="form-group" id="divLocation">
                                    <label for="ddlLocation">Location</label>
                                    <select class="form-control select2" id="ddlLocation"  onchange="LoadWareHouse('ddlWareHouse')" disabled="disabled">
                                    </select>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-body">
                                <div class="form-group" id="divWareHouse">
                                    <label for="ddlWareHouse ">WareHouse</label>
                                    <select class="form-control select2" id="ddlWareHouse" disabled="disabled" >
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="card-body">
                                <div class="form-group" id="divexPurchaseDate">
                                    <label for="exPurchaseDate ">Requisition Date</label>
                                    <input type="text" class="form-control" id="RequisitionDate"  />

                                </div>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-body">
                                <div class="form-group" id="divexPurchaseDate">
                                    <label for="exPurchaseDate ">Expected Purchase Date</label>
                                    <input type="text"  class="form-control" id="exPurchaseDate"  />

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card-body">
                                <div class="form-group" id="divReceiveBy">
                                    <label for="empAutoCom">Requisition By</label>
                                    <input type="text" class="form-control" value="@Session[SessionCollection.UserInfo].ToString()" id="empAutoCom" readonly  />
                                    <input type="number" class="form-control" id="employeeSelect" hidden />
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div class="card-body">

                                <div class="form-group" id="divRemarks">
                                    <label for="txtRemarks ">Remarks</label>
                                    <input type="text" class="form-control" id="txtRemarks" readonly value="@Model.Remarks"  />

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>

                    <div class="row">
                        <div class="card-body table-responsive">
                            <div class="col-md-12">
                                <table id="myTable" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>#SL</th>
                                            <th>Live Bird Description</th>
                                            <th>Live Bird Qty</th>
                                            <th>Live Bird Kg</th>
                                            <th>Expected Price <br /> (Per KG)</th>
                                            <th>Remarks</th>
                                            <th>Approved Qty</th>
                                            <th>Approved Kg</th>
                                            <th>Approved Price <br/> (Per KG)</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ int sl = 1;
                                            foreach (var item in Model.Details)
                                            {

                                                //id.Append(Convert.ToInt32(item.ItemId));
                                                list.Add(Convert.ToInt32(item.ItemId));
                                                <tr id="tr_@sl">
                                                    <td>
                                                        @sl
                                                    </td>
                                                    <td style="display: none">
                                                        <input type="hidden" id="requsitiondetailsId_@sl" value="@item.ItemRequisitionDetailsId" />
                                                    </td>
                                                    <td>

                                                        <select class="form-control select2" disabled="disabled" style="width: 100%;"  value="@item.ItemId" id="dllItem_@sl" readonly>
                                                        </select>
                                                        <input type="hidden" id="ItemId_@sl" value="@item.ItemId" />
                                                    </td>
                                                    <td>

                                                        <input type="number" min=0 class="form-control" id="txtItemQty_@sl" value="@item.ProposedReqisitionQty" readonly />

                                                    </td>
                                                    <td>

                                                        <input type="number" min=0 class="form-control" id="txtItemKg_@sl" value="@item.ProposedRequisitionKG" readonly />

                                                    </td>
                                                    <td>

                                                        <input type="number" min=0 oninput="validity.valid||(value='');" class="form-control" id="txtItemPrice_@sl" value="@item.ProposedTentativePrice" readonly />

                                                    </td>
                                                    <td>

                                                        <input type="text" class="form-control" id="txtRemarks_@sl" value="@item.Remarks" readonly />

                                                    </td>
                                                    <td>

                                                        <input type="number" class="form-control" id="txtApprovedQt_@sl" value="@item.ProposedReqisitionQty" />

                                                    </td>
                                                    <td>

                                                        <input type="number" class="form-control" id="txtApprovedKg_@sl" value="@item.ProposedRequisitionKG"  />

                                                    </td>
                                                    <td>

                                                        <input type="number" class="form-control" id="txtApprovedPrice_@sl" value="@String.Format("{0:0.0000}",item.ProposedTentativePrice)" />

                                                    </td>
                                                </tr>
                                                sl++;
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div>

                        <!-- /.card-body -->

                        <div class="card-footer">


                            <div class="row">
                                <div class="col-md-2">
                                    @*<button class="btn btn-primary pull-left" onclick="BackToList()">Back To List</button>*@
                                </div>
                                <div class="col-md-7 text-right">
                                    <a class="btn btn-danger"href="@Url.Action("RequisitionApprovedList","ItemRequisition")">Cancel</a>
                                </div>
                                <div class="col-md-1 text-right">
                                    <button class="btn btn-warning" onclick="Reject()">Reject</button>
                                </div>
                                <div class="col-md-1">
                                    <button class="btn btn-primary pull-right" onclick="SaveFinal()">Approve</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
    <input id="txtCustomerId" type="number" style="display:none;" value="@ViewBag.customerid">
</section>


@section Scripts{
    <script>
        var AllItemList = {};
        $(function () {
            LoadCompany('ddlCompany');
            LoadLocation('ddlLocation');
            LoadDate('#exPurchaseDate');
            LoadDate('#RequisitionDate');
            LoadItemDescription();
            $('#ddlCompany').val('@Model.Company').trigger('change');
            $('#ddlLocation').val('@Model.LocationId').trigger('change');
            $('#ddlWareHouse').val('@Model.WarehouseId').trigger('change');
            $('#RequisitionDate').val('@Convert.ToDateTime(Model.RequisitionDate).ToString("dd MMM yyyy")')
            $('#exPurchaseDate').val('@Convert.ToDateTime(Model.ExpectedPurchaseDate).ToString("dd MMM yyyy")')
            EmpAutoCom('empAutoCom', 'employeeSelect');


            $('#empAutoCom').val('@Model.EmpName');
           
            AddRowForEdit();
            $('#RequisitionDate').prop('disabled', true);
            $('#exPurchaseDate').prop('disabled', true);
            //$('select').select2("enable", false)
        });

        $('input[type=number]').each(function (e) {


                if (!((e.keyCode > 95 && e.keyCode < 106)
                    || (e.keyCode > 47 && e.keyCode < 58)
                    || e.keyCode == 8)) {
                    return false;
                }
            });

        function SaveFinal() {

            if (SaveValidation()) {
                     swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveRequisition();

                });
            }



        }


        function SaveRequisition() {

            var reqBy = $('#empAutoCom').val();
            var list = reqBy.split(":");
            var requisitionBy = list[0];
            var id= @Model.ItemRequisitionMasterId;
            var company = parseInt($('#ddlCompany').val());
            var wareHouse = parseInt($('#ddlWareHouse').val());
            var exPurchase = $('#exPurchaseDate').val();
            var requisitionDate = $('#RequisitionDate').val();
            var remarks = $('#txtRemarks').val();
            var jsonData = {};
            jsonData["ItemRequisitionMasterId"] = parseInt(id);
            jsonData["Company"] = company;
            jsonData["WarehouseId"] = wareHouse;
            jsonData["StrtExpectedPurchaseDate"] = exPurchase;
            jsonData["RequisitionDate"] = requisitionDate;
            jsonData["Remarks"] = remarks;
            jsonData["RequisitionBy"] = requisitionBy;
            var jsonList = [];
            var rowCount = $('#myTable tbody tr').length;

            for (var i = 0; i < rowCount; i++) {

                

                var requisiitonDetailsId = parseInt($("#requsitiondetailsId_" + [i+1] + "").val());
                var item = parseInt($("#dllItem_" + [i+1] + "").val());
                var qty = parseInt($("#txtItemQty_" + [i+1] + "").val());
                var itemKg = parseFloat($("#txtItemKg_" + [i+1] + "").val());
                var exprice = parseFloat($("#txtItemPrice_" + [i+1] + "").val());
                var detremarks = $("#txtRemarks_" + [i + 1] + "").val();
                var apprivedQty=parseInt($("#txtApprovedQt_" + [i + 1] + "").val());
                var apprivedKg = parseFloat($("#txtApprovedKg_" + [i + 1] + "").val());
                var apprivedPrice=parseFloat($("#txtApprovedPrice_" + [i + 1] + "").val());


                if(qty >0 && apprivedQty>0){
                    var jsonobj = {};
                    jsonobj["ItemRequisitionDetailsId"] = requisiitonDetailsId;
                    jsonobj["ItemId"] = item;
                    jsonobj["ProposedReqisitionQty"] = qty;
                    jsonobj["ProposedRequisitionKG"] = itemKg;
                    jsonobj["ProposedTentativePrice"] = exprice;
                    jsonobj["Remarks"] = detremarks;
                    jsonobj["ApprovedReqisitionQty"] = apprivedQty;
                    jsonobj["ApprovedReqisitionKG"] = apprivedKg;
                    jsonobj["ApprovedTentativePrice"] = apprivedPrice;
                    jsonList.push(jsonobj);
                }

            }
            jsonData["Details"] = jsonList;


            var urlpath = '@Url.Action("ApprovedRequisition", "ItemRequisition")';

            $.ajax({

                contentType: "application/json",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "POST"
            })
                .success(function (result) {

                    if (result.isSuccess==true)
                    {

                        swal("Approved SucessFull");
                       window.location.href = '@Url.Action("RequisitionApprovedList", "ItemRequisition")';


                    }
                });
        }


        Reject=() => {
            
            var reqBy = $('#empAutoCom').val();
            var list = reqBy.split(":");
            var requisitionBy = list[0];
            var id= @Model.ItemRequisitionMasterId;
            var company = parseInt($('#ddlCompany').val());
            var wareHouse = parseInt($('#ddlWareHouse').val());
            var exPurchase = $('#exPurchaseDate').val();
            var requisitionDate = $('#RequisitionDate').val();
            var remarks = $('#txtRemarks').val();
            var jsonData = {};
            jsonData["ItemRequisitionMasterId"] = parseInt(id);
            jsonData["Company"] = company;
            jsonData["WarehouseId"] = wareHouse;
            jsonData["StrtExpectedPurchaseDate"] = exPurchase;
            jsonData["RequisitionDate"] = requisitionDate;
            jsonData["Remarks"] = remarks;
            jsonData["RequisitionBy"] = requisitionBy;
            var urlpath = '@Url.Action("RejectRequisition", "ItemRequisition")';

            $.ajax({

                contentType: "application/json",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "POST"
            })
                .success(function (result) {

                    if (result.isSuccess==true)
                    {

                        swal("Approved SucessFull");
                        window.location.href = '@Url.Action("RequisitionApprovedList", "ItemRequisition")';


                    }
                });
        }

        function SaveValidation() {
            var isValid = true;

            if ($('#ddlCompany').val() == 0 || $('#ddlCompany').val() == '') {
                ValidationColorChangeNew('ddlCompany', 'divCompany', 'Select Company', true);
                isValid = false;
            }


            if ($('#ddlLocation').val() == 0 || $('#ddlLocation').val() == '') {
                ValidationColorChangeNew('ddlLocation', 'divLocation', 'Select Location', true);
                isValid = false;
            }


            if ($('#ddlWareHouse').val() == 0 || $('#ddlWareHouse').val() == '') {
                ValidationColorChangeNew('ddlWareHouse', 'divWareHouse', 'Select Warehouse', true);
                isValid = false;
            }

             if ($('#exPurchaseDate').val() == null || $('#exPurchaseDate').val() == '') {
                ValidationColorChangeNew('exPurchaseDate', 'divexPurchaseDate', 'Date Required', true);
                isValid = false;
            }
            var rowCount = $('#myTable tbody tr').length;

            for (var i = 0; i < rowCount; i++) {
                var item = i + 1;

                var qty = $("#txtApprovedQt_"+item).val();
                var kg = $("#txtApprovedKg_"+item).val();
                var rate = $("#txtApprovedPrice_"+item).val();
                if(qty!="" && kg!=""){
                    if ($("#txtApprovedQt_"+item).val() < 0 || $("#txtApprovedQt_"+item).val() == '') {
                        ValidationColorChange('txtApprovedQt_', "tr" + [i] + "Select an Item", false);
                        isValid = false;
                    }
                    //if ($("#txtApprovedKg_"+item).val() == 0 || $("#txtApprovedKg_"+item).val() == '') {
                    //    ValidationColorChange('txtApprovedKg_', "tr" + [i] + "Input the Quantity", false);
                    //    isValid = false;
                    //}
                    //if ($("#txtApprovedPrice_"+item).val() == 0 || $("#txtApprovedPrice_"+item).val() == '') {
                    //    ValidationColorChange('txtApprovedPrice_', "tr" + [i] + "Input the price", false);
                    //    isValid = false;
                    //}
                }

            }

            if (isValid == false) {
                ShowMessage("Some Values Required");
            }
            return isValid;

        }


        function LoadLocation(elementId) {
            $.ajax({
                url: "/ItemRequisition/LoadLocation",

                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {
                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Location--</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].LocationId).html(data[i].LocationName));
                    }
                }
            });
        }

        function LoadWareHouse(elementId) {

            var location = $('#ddlLocation').val();
            var urlpath = '@Url.Action("LoadWareHouse", "ItemRequisition")';
            $.ajax({
                url:urlpath,
                type: "Get",
                data: { location: parseInt(location), warehouseTypeId:1 },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Warehouse--</option>");
                     for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].WareHouseId).html(data[i].WareHouseName));
                    }

                }
            });
        }
        function AddRowForEdit() {


            for (var i = 0;i<@Model.Details.Count; i++)
            {
                var tr = i + 1;
                var ddlName = 'dllItem_' + tr;
                LoadItemList(ddlName);
                var input = 'ItemId_' + tr;
                var value = parseInt($('#' + input).val());
                $('#' + ddlName).val(value);
                //.trigger('change');

            }
        }
        function AddRow() {

            var tr = $('#myTable tbody tr').length + 1;
            var ddlName = 'dllItem_' + tr;
            var urlpath = '@Url.Action("GetAddRow", "ItemRequisition")';
            $.ajax({
                url: urlpath,
                dataType: 'HTML',
                type: "Get",
                data: {tr:tr},
                async: true,
                success: function (data) {

                    $('#myTable tbody').append(data);
                    LoadItemList(ddlName);
                }
            });
        }
        function RemoveRow(trId) {
            if (($('#myTable tbody tr').length ) > 1) {
                $('#tr_' + trId + '').remove();
            }

        }
        function LoadItemDescription() {

            $.ajax({
                url: "/Utility/LoadItemDescription",

                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {

                    AllItemList=data;
                }
            });
        }

        function LoadItemList(elementId) {


                    $('#' + elementId + '').append("<option value='0'>--Select Iitem--</option>");

                    for (var i = 0; i < AllItemList.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(AllItemList[i].ItemId).html(AllItemList[i].ItemName));
            }
            $('#' + elementId + '').select2();
        }
        function BackToList() {
             window.location.href = '@Url.Action("RequisitionApprovedList", "ItemRequisition")';
        }
    </script>
}

