﻿@using System.Web.UI.HtmlControls
@model IEnumerable<IGFoodProject.Models.RequisitionMaster>

@{
    ViewData["Title"] = "RequisitionList";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">

                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="card-title"><span class="fa fa-list"></span> All Requisition List </h3>
                            </div>
                            <div class="col-md-6 text-right">
                                <a class="btn btn-sm btn-outline-warning" href="@Url.Action("Index", "ItemRequisition" , new {id=0})"><h3 class="card-title"><span class="fa fa-plus"></span> New Requisition</h3></a>
                            </div>
                        </div>



                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body">
                                <table class="table table-bordered table-striped table-hover dataTable">
                                    <thead>
                                        <tr style="background-color: aliceblue">
                                            <th style="text-align: center">SL</th>
                                            <th style="text-align: center">Requisition No</th>
                                            <th style="text-align: center">Company Name</th>
                                            <th style="text-align: center">Warehouse Name</th>
                                            <th style="text-align: center">Requisition Date</th>
                                            <th style="text-align: center">Remarks</th>
                                            <th style="text-align: center">Requisition By</th>
                                            <th style="text-align: center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody class="Traylist">
                                        @{
                                            int i = 1;
                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td style='text-align: center'>
                                                        @i
                                                    </td>
                                                    <td style='text-align: center'>@item.RequisitionNo</td>
                                                    <td style='text-align: center'>@item.CompanyName</td>
                                                    <td style='text-align: center'>@item.WareHouseName </td>
                                                    <td style='text-align: center'>@Convert.ToDateTime(item.RequisitionDate).ToString("dd MMM yyyy")  </td>
                                                    <td style='text-align: center'>@item.Remarks </td>
                                                    <td style='text-align: center'>@item.EmpName </td>
                                                    @if (item.IsApprove == 0)
                                                    {
                                                        @*<td style='text-align: center'><button class='btn btn-xs btn-success' onclick='RedirectToActionToEdit(@item.ItemRequisitionMasterId)'><span class='fa fa-edit'></span>Edit</button></td>*@
                                                        @*<td><a class='btn btn-xs btn-warning' asp-action="EditRequisition" asp-route-id="@item.ItemRequisitionMasterId" asp-controller="ItemRequisition"><span class="fa fa-edit"></span>Edit</a></td>*@

                                                        <td>@Html.ActionLink("Edit" , "EditRequisition" , "ItemRequisition" , new {id= @item.ItemRequisitionMasterId} , new {@class= "btn btn-xs btn-warning" })</td>
                                                    }
                                                    else if (item.IsApprove == 1)
                                                    {
                                                        <td style='text-align: center'><button class="btn btn-primary btn-sm" disabled="disabled"><span class="fa fa-check-square">Approved</span></button></td>
                                                    }

                                                </tr>
                                                ++i;
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>



                    </div>


                </div>

            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->

</section>
