﻿@model IEnumerable<IGFoodProject.ViewModel.ViewStockReceiveListView>


<table class="table table-bordered table-striped table-hover">

    <thead>
        <tr>
            <th>#</th>

            <th>Issue No</th>
            <th>From Warehouse</th>
            <th>To Wharehouse</th>
            <th>Issue By</th>
            <th>Issue KG</th>
            <th>Issue Qty</th>

            <th>Issue Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

    @{ int count = 1;}
        @foreach (var item in Model)
        {
            <tr>
                <td>@count</td>
                <td>@item.IssueNo</td>
                <td>@item.FromWareHouseName</td>
                <td>@item.ToWareHouseName</td>
                <td>@item.IssueBy</td>
                <td>@item.IssueKg</td>
                <td>@item.IssueQty</td>
                <td>@Convert.ToDateTime(@item.IssueDate).ToString("dd-MMM-yyyy")</td>
                <td>@Html.ActionLink("Receive" , "ReceiveIssue","StockReceive" , new {id=@item.StockTransferIssueMasterId} , new {@class="btn btn-xs btn-success"})</td>
            </tr>
            count++;
        }
    <tr></tr>
    </tbody>

</table>
