﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title"><span class="fa fa-eye"></span> Stock Receive From Issue
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group" id="divCompany">
                                    <label for="ddlCompany">Company</label>
                                    @*<input type="text" class="form-control" id="txtCompany" disabled="disabled" />*@
                                    <select class="form-control select2" style="width: 100%;" id="ddlCompany"></select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" id="divWareHouse">
                                    <label for="ddlWareHouse">Stock/Plant House</label>
                                    <select class="form-control select2" id="ddlWareHouse"></select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" id="divVehicle">
                                    <label for="Vehicle">Vehicle</label>
                                    <select id="Vehicle" class="form-control select2"></select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" id="divDeliveryDate">
                                    <label for="deliveryDate">Delivery Date</label>
                                    <input id="deliveryDate" class="form-control" type="text" value="@Convert.ToDateTime(DateTime.Now).ToString("dd MMM yyyy")"/>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button style="margin-top: 14px" class="btn btn-success" onclick="SearchData()"> <span class="fa fa-search">&nbsp;</span> Search</button>
                            </div>
                        </div>



                        <div class="row">
                            <div id="detailsData" class="table-responsive" style="margin-top: 50px">

                            </div>
                        </div>


                    </div>

                    <div>
                        <!-- /.card-body -->
                        <div class="card-footer">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
    @*<input id="txtOrderId" type="number" style="display:none;" value="@ViewBag.reqid">
        <input id="txtflag" type="text" style="display:none;" value="@ViewBag.flagid">*@
</section>


@section Scripts
{


    <script type="text/javascript">
        

        $(document).ready(function () {
            LoadCompany('ddlCompany');
            $("#ddlCompany").val(7);
            LoadWareHouse('ddlWareHouse', 4, 3);
            LoadVehicle('Vehicle');
            LoadDate('#deliveryDate');
        });

        function SearchData() {
            var com = $('#ddlCompany').val();
            var warehouse = $('#ddlWareHouse').val();
            var vehicle = $('#Vehicle').val();
            var date = $('#deliveryDate').val();

            var urlpath = '@Url.Action("SearchReceive" , "StockReceive")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'html',
                data: { com: com, vh: vehicle, wh: warehouse, delDate: date },
                async: false,
                success: function (data) {
                    $('#detailsData').empty();
                    $('#detailsData').html(data);



                }
            });
        }
    </script>
}
