﻿
@{
    ViewBag.Title = "ReceiveIssue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title"><span class="fa fa-eye"></span> STO Receive 
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group" id="divCompany">
                                    <label for="ddlCompany">Company</label>
                                    @*<input type="text" class="form-control" id="txtCompany" disabled="disabled" />*@
                                    <select class="form-control select2" style="width: 100%;" id="ddlCompany" disabled="disabled"></select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" id="divWareHouse">
                                    <label for="ddlWareHouse">From Warehouse</label>
                                    <select class="form-control select2" id="ddlWareHouse" disabled="disabled"></select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" id="divWareHouseto">
                                    <label for="ddlWareHouseto">To Warehouse</label>
                                    <select class="form-control select2" id="ddlWareHouseto" disabled="disabled"></select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" id="divVehicle">
                                    <label for="Vehicle">Vehicle</label>
                                    <select id="Vehicle" class="form-control select2" disabled="disabled"></select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" id="divDeliveryDate">
                                    <label for="deliveryDate">Delivery Date</label>
                                    <input id="deliveryDate" class="form-control" disabled="disabled" type="text"/>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group" id="divRecBy">
                                    <label for="empAutoCom">Receive By</label>
                                    <input type="text" class="form-control" id="empAutoCom"/>
                                    <input type="number" style="display: none" class="form-control" id="employeeSelect"/>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" id="divTxtReceiveTime">
                                    <label>Receive Time</label>
                                    <div class="input-group date" id="timepicker" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" id="txtReceiveTime" data-target="#timepicker"/>
                                        <div class="input-group-append" data-target="#timepicker" data-toggle="datetimepicker">
                                            <div class="input-group-text">
                                                <i class="far fa-clock"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group" id="divReceiveDate">
                                    <label for="receiveDate">Receive Date</label>
                                    <input id="receiveDate" class="form-control"  type="text" value="@Convert.ToDateTime(DateTime.Now).ToString("dd MMM yyyy")" />
                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <div id="detailsData" class="table-responsive" style="margin-top: 50px">

                            </div>
                        </div>
                      
                    </div>

                    <div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button class="btn btn-primary  float-right" onclick="SaveData()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" id="issueMasterId" value="@ViewBag.IssueId"/>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
    @*<input id="txtOrderId" type="number" style="display:none;" value="@ViewBag.reqid">
        <input id="txtflag" type="text" style="display:none;" value="@ViewBag.flagid">*@
</section>
@section Scripts{
    <script type="text/javascript">

        $(document).ready(function() {
            $('#timepicker').datetimepicker({
                format: 'LT'
            });
            LoadCompany('ddlCompany');
            $("#ddlCompany").val(7);
            LoadWareHouse('ddlWareHouse', 0, 0);
            LoadWareHouse('ddlWareHouseto', 0, 0);
            LoadVehicle('Vehicle');
            LoadDate('#receiveDate');
            GetIssueMaster();
            EmpAutoCom('empAutoCom', 'employeeSelect');
        });
        function LoadVehicle(elementId) {
            var urlpath = "/Utility/LoadVehicle";
            $.ajax({
                url: urlpath,
                type: "Get",
                data: {},
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Vehicle No--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].VehicleInfoId).html(data[i].VehicleRegNo));
                    }

                }
            });
        }

        function SaveData() {
            if (SaveValidation()) {
                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveReceive();

                });
            }
        }

        function SaveReceive() {
            var company = $('#ddlCompany').val();
            var fromWh = $('#ddlWareHouse').val();
            var toWh = $('#ddlWareHouseto').val();
            var recBy = $('#empAutoCom').val();
            var rectime = $('#txtReceiveTime').val();
            var recDate = $('#receiveDate').val();
            var jsonData = {};
            jsonData["CompanyId"] = company;
            jsonData["FromWarehouseId"] = fromWh;
            jsonData["ToWarehouseId"] = toWh;
            jsonData["ReceiveBy"] = recBy;
            jsonData["ReceiveTime"] = rectime;
            jsonData["ReceiveDate"] = recDate;
            jsonData["StockTransferIssueMasterId"] = $('#issueMasterId').val();

            var jsonObjList = [];
            $('#issueDetails tbody tr').each(function () {
                debugger;

                var id = $(this).attr('id');

                if ($('#chk_' + id).is(':checked')) {
                    var jsObj = {};
                    var qty = isNaN(parseFloat($('#recQty_' + id).val())) ? 0 : parseFloat($('#recQty_' + id).val());
                    var kg = isNaN(parseFloat($('#recKG_' + id).val())) ? 0 : parseFloat($('#recKG_' + id).val());
                    var productId = isNaN(parseInt($('#proId_' + id).val())) ? 0 : parseInt($('#proId_' + id).val());
                    var issueDetails = isNaN(parseInt($('#detailsId_' + id).val())) ? 0 : parseInt($('#detailsId_' + id).val());
                    var remarks = $('#rem_' + id).val();
                    var weightLossQty = isNaN(parseFloat($('#weightlossQty_' + id).val())) ? 0 : parseFloat($('#weightlossQty_' + id).val());
                    var weightLossKg = isNaN(parseFloat($('#weightlossKG_' + id).val())) ? 0 : parseFloat($('#weightlossKG_' + id).val());

                    var returnQty = isNaN(parseFloat($('#returnQty_' + id).val())) ? 0 : parseFloat($('#returnQty_' + id).val());
                    var returnKg = isNaN(parseFloat($('#returnKG_' + id).val())) ? 0 : parseFloat($('#returnKG_' + id).val());
                    var lostQty = isNaN(parseFloat($('#lostQty_' + id).val())) ? 0 : parseFloat($('#lostQty_' + id).val());
                    var lostKg = isNaN(parseFloat($('#lostKG_' + id).val())) ? 0 : parseFloat($('#lostKG_' + id).val());

                    var expireDate = $('#expire_' + id).val();



                    jsObj["StockTransferIssueDetailsId"] = issueDetails;
                    jsObj["ProductId"] = productId;
                    jsObj["ReceiveQty"] = qty;
                    jsObj["ReceiveKg"] = kg;
                    jsObj["ExpireDate"] = expireDate;

                    jsObj["Remarks"] = remarks;
                    jsObj["WeightLossQty"] = weightLossQty;
                    jsObj["WeightLossKg"] = weightLossKg;

                    jsObj["ReturnQty"] = returnQty;
                    jsObj["ReturnKG"] = returnKg;
                    jsObj["LostQty"] = lostQty;
                    jsObj["LostKG"] = lostKg;

                    jsonObjList.push(jsObj);
                }
            });

            jsonData["Details"] = jsonObjList;
            var urlpath = '@Url.Action("SaveStockReceive", "StockReceive")';
            $.ajax({

                contentType: "application/json",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "POST"
            })
                .success(function (result) {

                    if (result.isSuccess == true) {
                        ShowMessage("Operation Successfull");

                        window.location.href = '@Url.Action("Index", "StockReceive")';
                    } else {
                        ShowMessage("Operation Failed");
                    }
                });
        }
        function GetIssueMaster() {

            var urlpath = '@Url.Action("GetIssueMaster" , "StockReceive")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { id: $('#issueMasterId').val()},
                async: false,
                success: function (data) {
                    debugger;
                    $('#ddlCompany').val(data.CompanyId);
                    $('#ddlWareHouse').val(data.FromWarehouseId);
                    $('#ddlWareHouseto').val(data.ToWarehouseId);
                    $('#Vehicle').val(data.VehicleId);
                    $('#deliveryDate').val(ToJavaScriptDate(data.IssueDate));
                    GetIssueDetails();
                }
            });
        }
        function GetIssueDetails() {

            var urlpath = '@Url.Action("GetIssueDetails" , "StockReceive")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType:'html',
                data: { id: $('#issueMasterId').val() },
                async: false,
                success: function (data) {
                    $('#detailsData').empty();
                    $('#detailsData').html(data);



                }
            });
        }


        function ReceaveKg(count) {
            debugger;
            var prdId = isNaN(parseInt($('#proId_' + count).val())) ? 0 : parseInt($('#proId_' + count).val());
            var kg = isNaN(parseFloat($('#issueKg_' + count).html())) ? 0 : parseFloat($('#issueKg_' + count).html());
            var qty = isNaN(parseFloat($('#issueQty_' + count).html())) ? 0 : parseFloat($('#issueQty_' + count).html());
            //var qty = isNaN(parseFloat($('#issueQty_' + count).html())) ? 0 : parseFloat($('#issueQty_' + count).html());
            var prevkg = isNaN(parseFloat($('#prevKg_' + count).html())) ? 0 : parseFloat($('#prevKg_' + count).html());
            //var prevqty = isNaN(parseFloat($('#prevQty_' + count).html())) ? 0 : parseFloat($('#prevQty_' + count).html());
            var reckg = isNaN(parseFloat($('#recKG_' + count).val())) ? 0 : parseFloat($('#recKG_' + count).val());

            if (reckg > (kg - prevkg)) {
                $('#recKG_' + count).val(kg - prevkg);

            }


            //var pweight = GetQtyForKG(prdId);
            //debugger;
            //var sqty = pweight * reckg;
            //$('#recQty_' + count).val(sqty.toFixed(2));

            //var recqty = isNaN(parseFloat($('#recQty_' + count).val())) ? 0 : parseFloat($('#recQty_' + count).val());
            if (kg == reckg) {
                $('#weightLossKG_' + count).val('0');
            } else {
                $('#weightLossKG_' + count).val((kg - reckg).toFixed(2));
            }
            //if (qty == recqty) {
            //    $('#weightLossQty_' + count).val('0');
            //} else {
            //    $('#weightLossQty_' + count).val((qty - sqty).toFixed(2));
            //}
          
        }

        function ReceaveQTY(count) {
            debugger;
            var prdId = isNaN(parseInt($('#proId_' + count).val())) ? 0 : parseInt($('#proId_' + count).val());
            var kg = isNaN(parseFloat($('#issueKg_' + count).html())) ? 0 : parseFloat($('#issueKg_' + count).html());
            var qty = isNaN(parseFloat($('#issueQty_' + count).html())) ? 0 : parseFloat($('#issueQty_' + count).html());

            var prevqty = isNaN(parseFloat($('#prevQty_' + count).html())) ? 0 : parseFloat($('#prevQty_' + count).html());
            var recqty = isNaN(parseFloat($('#recQty_' + count).val())) ? 0 : parseFloat($('#recQty_' + count).val());

            if (recqty > (qty - prevqty)) {
                $('#recQty_' + count).val(qty - prevqty);

            }
            //var pweight = GetPackWeight(prdId);
            //var skg = pweight * recqty;
            //$('#recKG_' + count).val(skg.toFixed(2));

            //var reckg = isNaN(parseFloat($('#recKG_' + count).val())) ? 0 : parseFloat($('#recKG_' + count).val());
            //if (kg == reckg) {
            //    $('#weightLossKG_' + count).val('0');
            //} else {
            //    $('#weightLossKG_' + count).val((kg - skg).toFixed(2));
            //}
            if (qty == recqty) {
                $('#weightLossQty_' + count).val('0');
            } else {
                $('#weightLossQty_' + count).val((qty - recqty).toFixed(2));
            }
           
        }

        function WeightLossKg(count) {
            debugger;
            var kg = isNaN(parseFloat($('#issueKg_' + count).html())) ? 0 : parseFloat($('#issueKg_' + count).html());
            var percWeightLoss = (kg * 2) / 100;
            var inweightLossKg = isNaN(parseFloat($('#weightLossKG_' + count).val())) ? 0 : parseFloat($('#weightLossKG_' + count).val());
            if (inweightLossKg <= percWeightLoss) {
                $('#weightLossKG_' + count).val(inweightLossKg);
                $('#recKG_' + count).val(kg - inweightLossKg);
            } else {
                $('#weightLossKG_' + count).val(percWeightLoss);
                $('#recKG_' + count).val(kg - percWeightLoss);
            }
        }

        function WeightLossQTY(count) {
            var qty = isNaN(parseFloat($('#issueQty_' + count).html())) ? 0 : parseFloat($('#issueQty_' + count).html());
            var percWeightLoss = (qty * 2) / 100;
            var weightLossQty = isNaN(parseFloat($('#weightLossQty_' + count).val())) ? 0 : parseFloat($('#weightLossQty_' + count).val());
            if (weightLossQty <= percWeightLoss) {
                $('#weightLossQty_' + count).val(weightLossQty);
                $('#recQty_' + count).val(qty - weightLossQty);
            } else {
                $('#weightLossQty_' + count).val(percWeightLoss);
                $('#recQty_' + count).val(qty - percWeightLoss);
            }
        }

        function GetPackWeight(pid) {
            var weight = 0;
            var urlpath = '@Url.Action("PackWeight", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                data: { pid: pid },
                dataType: 'json',
                type: "Get",

                async: false,
                success: function (data) {
                    weight = data;

                }
            });
            return weight;
        }
        function GetQtyForKG(pid) {
            var qty = 0;
            var urlpath = '@Url.Action("QtyForKG", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                data: { pid: pid },
                dataType: 'json',
                type: "Get",

                async: false,
                success: function (data) {
                    qty = data;

                }
            });
            return qty;
        }

        function SaveValidation() {
            var isValid = true;
            var message = "";
            if ($('#empAutoCom').val() == '') {
                isValid = false;
                ValidationColorChangeNew('empAutoCom', 'divRecBy', "Receive by required" , false);
            }
            if ($('#txtReceiveTime').val() == '') {
                isValid = false;
                ValidationColorChangeNew('txtReceiveTime', 'divTxtReceiveTime', "Receive time required", false);
            }
            if ($('#receiveDate').val() == '') {
                isValid = false;
                ValidationColorChangeNew('receiveDate', 'divReceiveDate', "Receive date required", false);
            }
            var count = $('input.chk:checked').length;
            if (count <= 0) {
                isValid = false;
                message = "Please Select Cheeckox";
            }
            $('#issueDetails tbody tr').each(function () {


                var id = $(this).attr('id');

                if ($('#chk_' + id).is(':checked')) {
                    var jsObj = {};
                    var qty = isNaN(parseFloat($('#recQty_' + id).val())) ? 0 : parseFloat($('#recQty_' + id).val());
                    var kg = isNaN(parseFloat($('#recKG_' + id).val())) ? 0 : parseFloat($('#recKG_' + id).val());
                    var productId = isNaN(parseInt($('#proId_' + id).val())) ? 0 : parseInt($('#proId_' + id).val());

                    var expireDate = $('#expire_' + id).val();
                    message = "Some values required";
                    //if (qty == 0) {
                    //    isValid = false;

                    //    $('#recQty_' + id).css('border-bottom', '2px solid red');
                    //    return;
                    //}

                    if (kg == 0) {
                        isValid = false;
                        $('#recKG_' + id).css('border-bottom', '2px solid red');
                        return;
                    }


                    if (expireDate == '') {
                        isValid = false;
                        $('#expire_' + id).css('border-bottom', '2px solid red');
                        return;
                    }



                }
            });
            if (isValid == false) {
                if (message != '') {
                    ShowMessage(message);
                }
            }
            return isValid;
            //$('#issueDetails tbody tr').each(function () {


            //    var idr = $(this).attr('id');


            //});
        }


        function DeliveryKgCalculate(id) {
            debugger;
            var issueKG = isNaN(parseFloat($('#issueKg_' + id).html())) ? 0 : parseFloat($('#issueKg_' + id).html());
            var prevkg = isNaN(parseFloat($('#prevKg_' + id).html())) ? 0 : parseFloat($('#prevKg_' + id).html());
            var receiveKG = isNaN(parseFloat($('#recKG_' + id).val())) ? 0 : parseFloat($('#recKG_' + id).val());
            var productid = isNaN(parseInt($('#proId_' + id).val())) ? 0 : parseInt($('#proId_' + id).val());
            var groupid = isNaN(parseInt($('#groupId_' + id).val())) ? 0 : parseInt($('#groupId_' + id).val());
            var returnKG = isNaN(parseFloat($('#returnKG_' + id).val())) ? 0 : parseFloat($('#returnKG_' + id).val());
            var weightlossKG = isNaN(parseFloat($('#weightlossKG_' + id).val())) ? 0 : parseFloat($('#weightlossKG_' + id).val());
            var lostKG = isNaN(parseFloat($('#lostKG_' + id).val())) ? 0 : parseFloat($('#lostKG_' + id).val());



      

            if (groupid == 5) {

            
              

                if (receiveKG > issueKG - prevkg) {
                    $('#recKG_' + id).val(issueKG - prevkg);
                    $('#returnKG_' + id).val('0');
                    $('#weightlossKG_' + id).val('0');
                    $('#lostKG_' + id).val('0');

                }
                if ((receiveKG + returnKG  + lostKG) >( issueKG - prevkg)) {
                    $('#recKG_' + id).val(issueKG - prevkg);
                    $('#returnKG_' + id).val('0');
                    $('#weightlossKG_' + id).val('0');
                    $('#lostKG_' + id).val('0');
                }

                receiveKG = isNaN(parseFloat($('#recKG_' + id).val())) ? 0 : parseFloat($('#recKG_' + id).val());
                var pweight = GetQtyForKG(productid);
                var sqty = pweight * receiveKG;
                $('#recQty_' + id).val(sqty.toFixed(2));

                returnKG = isNaN(parseFloat($('#returnKG_' + id).val())) ? 0 : parseFloat($('#returnKG_' + id).val());
                var returnqty = pweight * returnKG;
                $('#returnQty_' + id).val(returnqty.toFixed(2));

                lostKG = isNaN(parseFloat($('#lostKG_' + id).val())) ? 0 : parseFloat($('#lostKG_' + id).val());
                var lostqty = pweight * lostKG;
                $('#lostQty_' + id).val(lostqty.toFixed(2));


                var losskg = (issueKG - prevkg) - (receiveKG + returnKG + lostKG);
                var lossqty = losskg * pweight;
                $('#weightlossKG_' + id).val(losskg.toFixed(2));
                $('#weightlossQty_' + id).val(lossqty.toFixed(2));





            



            }
            else if (groupid == 7) {
                receiveKG = isNaN(parseFloat($('#recKG_' + id).val())) ? 0 : parseFloat($('#recKG_' + id).val());
                returnKG = isNaN(parseFloat($('#returnKG_' + id).val())) ? 0 : parseFloat($('#returnKG_' + id).val());
                lostKG = isNaN(parseFloat($('#lostKG_' + id).val())) ? 0 : parseFloat($('#lostKG_' + id).val());

                var losskg = (issueKG - prevkg) - (receiveKG + returnKG + lostKG);
                $('#weightlossKG_' + id).val(losskg.toFixed(2));
                $('#weightlossQty_' + id).val('0');
            }
        }

        function DeliveryKgCal(id) {
            debugger;
            var issueQty = isNaN(parseFloat($('#issueQty_' + id).html())) ? 0 : parseFloat($('#issueQty_' + id).html());
            var prevQty = isNaN(parseFloat($('#prevQty_' + id).html())) ? 0 : parseFloat($('#prevQty_' + id).html());
            var receiveQty = isNaN(parseFloat($('#recQty_' + id).val())) ? 0 : parseFloat($('#recQty_' + id).val());
            var productid = isNaN(parseInt($('#proId_' + id).val())) ? 0 : parseInt($('#proId_' + id).val());
            var groupid = isNaN(parseInt($('#groupId_' + id).val())) ? 0 : parseInt($('#groupId_' + id).val());
            var returnQty = isNaN(parseFloat($('#returnQty_' + id).val())) ? 0 : parseFloat($('#returnQty_' + id).val());
            var weightlossQty = isNaN(parseFloat($('#weightlossQty_' + id).val())) ? 0 : parseFloat($('#weightlossQty_' + id).val());
            var lostQty = isNaN(parseFloat($('#lostQty_' + id).val())) ? 0 : parseFloat($('#lostQty_' + id).val());

            var issueKG = isNaN(parseFloat($('#issueKg_' + id).html())) ? 0 : parseFloat($('#issueKg_' + id).html());
            var prevkg = isNaN(parseFloat($('#prevKg_' + id).html())) ? 0 : parseFloat($('#prevKg_' + id).html());
            var receiveKG = isNaN(parseFloat($('#recKG_' + id).val())) ? 0 : parseFloat($('#recKG_' + id).val());


            if (groupid == 6) {

                if (receiveQty > issueQty - prevQty) {
                    $('#recQty_' + id).val(issueQty - prevQty);
                    $('#returnQty_' + id).val('0');
                    $('#weightlossQty_' + id).val('0');
                    $('#lostQty_' + id).val('0');
                }
                if ((receiveQty + returnQty  + lostQty) > (issueQty - prevQty)) {
                //if ((receiveQty + returnQty + weightlossQty + lostQty) > (issueQty - prevQty)) {
                    $('#recQty_' + id).val(issueQty - prevQty);
                    $('#returnQty_' + id).val('0');
                    $('#weightlossQty_' + id).val('0');
                    $('#lostQty_' + id).val('0');
                }


                receiveQty = isNaN(parseFloat($('#recQty_' + id).val())) ? 0 : parseFloat($('#recQty_' + id).val());
                var pweight = GetPackWeight(productid);
                var skg = pweight * receiveQty;
                $('#recKG_' + id).val(skg.toFixed(2));


                returnqty = isNaN(parseFloat($('#returnQty_' + id).val())) ? 0 : parseFloat($('#returnQty_' + id).val());
                var returnkg = pweight * returnqty;
                $('#returnKG_' + id).val(returnkg.toFixed(2));

                lostQty = isNaN(parseFloat($('#lostQty_' + id).val())) ? 0 : parseFloat($('#lostQty_' + id).val());
                var lostkg = pweight * lostQty;
                $('#lostKG_' + id).val(lostkg.toFixed(2));


                //var lossqty = (issueQty - prevQty) - (receiveQty + returnqty + lostQty);
                var lossqty = (issueQty - prevQty) - (receiveQty + returnqty + lostQty);
                var losskg = lossqty * pweight;
                $('#weightlossKG_' + id).val(losskg.toFixed(2));
                $('#weightlossQty_' + id).val(lossqty.toFixed(2));

            }
            else if (groupid == 5) {

                if (receiveQty > issueQty - prevQty) {
                    $('#recQty_' + id).val(issueQty - prevQty);
                }
                if (receiveKG > issueKG - prevkg) {
                    $('#recKG_' + id).val(issueKG - prevkg);
                }




            }
            else if (groupid == 7) {
                if (receiveKG > issueKG - prevkg) {
                    $('#recKG_' + id).val(issueKG - prevkg);
                }
            }
        }
    </script>

}