﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">

                                @if (ViewBag.SupplierId == 0)
                                {
                                    <h4>Add New Supplier </h4>
                                }
                                 @if (ViewBag.SupplierId > 0)
                                 {
                                    <h4>Edit Supplier Info.</h4>
                                 }
                               
                            </div>
                            <div class="col-md-6 text-right">
                                <a class="btn btn-outline-warning" href="@Url.Action("SupplierList", "Supplier")">

                                    <span class="fa fa-align-left"></span> Supplier List

                                </a>
                            </div>
                           
                        </div>
                    </div>


                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="row">
                            
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div id="divTxtSupplierName">
                                        <label for="txtSupplierName">Supplier Name  <span class="text-danger"> *</span></label>
                                        <input class="form-control" id="txtSupplierName" type="text" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div id="divTxtProprietorName">
                                        <label for="txtProprietorName">Proprietor Name </label>
                                        <input class="form-control" id="txtProprietorName" type="text" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div id="divTxtSupplierPhone">
                                        <label for="txtSupplierContact">Supplier Contact <span class="text-danger"> *</span></label>
                                        <input class="form-control" id="txtSupplierContact" type="tel"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div id="divTxtSecondaryContact">
                                        <label for="txtSecondaryContact">Secondary Contact </label>
                                        <input class="form-control" id="txtSecondaryContact" type="tel" />
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div id="divTxtContactPerson">
                                        <label for="txtContactPerson">Contact Person <span class="text-danger"> *</span></label>
                                        <input class="form-control" id="txtContactPerson" type="text"/>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-3">
                                <div class="form-group">
                                    <div id="divTxtGSTNo">
                                        <label for="txtGSTNo">GSTNo </label>
                                        <input class="form-control" id="txtGSTNo" type="text"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div id="divTxtBankAccount">
                                        <label for="txtBankAccount">Bank Account </label>
                                        <input class="form-control" id="txtBankAccount" type="text"/>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <div id="divTxtCreditLimit">
                                        <label for="txtcreditLimit">Credit Limit </label>
                                        <input class="form-control" id="txtcreditLimit" type="number"/>
                                    </div>
                                </div>
                            </div>





                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div id="divTxtMailingAddress">
                                        <label for="txtMaillingAddress">Mailing Address </label>
                                        <textarea class="form-control" id="txtMaillingAddress"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div id="divTxtPhysicalAddress">
                                        <label for="txtPhysicalAddress">Physical Address </label>
                                        <textarea class="form-control" id="txtPhysicalAddress"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div id="divTxtRemarks">
                                        <label for="txtRemarks">Remarks </label>
                                        <textarea class="form-control" id="txtRemarks"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                        <label for="">Supplier Type</label>
                                        <select class="form-control select2" style="width: 100%;" id="ddlSupplierType"></select>
                            </div>
                            <div class="col-md-1">
                                <div class="form-horizontal">
                                    <div id="divIsActive" class="checkbox-inline">
                                        <label for="isActive">Is Active </label>
                                        <input id="isActive" type="checkbox" checked  style="margin-top: 25px"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card-footer">
                        <button class="btn btn-primary" id="btnSub" onclick="SaveSupplierInfo()">Submit</button>
                    </div>

                    </div>
                    <div>
                        <!-- /.card-body -->
                        
                    </div>
                </div>
            </div>
        </div>
        
    
    <input id="txtSupplierId" type="number" style="display:none;" value="@ViewBag.SupplierId">
</section>

@section scripts{
    
    <script>

        $(document).ready(function() {


            var supplierId = isNaN(parseInt($('#txtSupplierId').val())) ? 0 : parseInt($('#txtSupplierId').val());
         GetSuplierType();

            if (supplierId > 0) {

                LoadSupplierInfo(supplierId);
            }


        });

        function SaveSupplierInfo() {

         if ($('#ddlSupplierType').val() == 0)
         {
                swal("Please Select Supplier Type");
                return;
            }

            if (SupplierValidation() == true) {
                SaveSupplierData();
            }
        }


        function LoadSupplierInfo(supplierId) {

            var urlpath = '@Url.Action("GetSuppliernfo", "Supplier")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { supplierId: supplierId },
                async: false,
                success: function (data) { console.log(data);
                    $('#txtSupplierName').val(data.SupplierName);
                    $('#ddlSupplierType').val(data.SuplierTypeId).trigger('change');



                    $('#txtProprietorName').val(data.ProprietorName);
                    $('#txtSupplierAddress').val(data.SupplierAddress);
                    $('#txtSupplierContact').val(data.SupplierPhone);
                    $('#txtContactPerson').val(data.ContactPerson);
                    $('#txtGSTNo').val(data.GSTNo);
                    $('#txtBankAccount').val(data.BankAccount);
                    $('#txtcreditLimit').val(data.CreditLimit);
                    $('#txtMaillingAddress').val(data.MailingAddress);
                    $('#txtPhysicalAddress').val(data.PhysicalAddress);
                    $('#txtRemarks').val(data.Remarks);


                    if (data.IsActive == true) {
                        $('#isActive').prop('checked' , true);
                    }
                    if (data.IsActive == false) {
                        $('#isActive').prop('checked', false);
                    }
                }
            });
        }

        function GetSuplierType() {
            var urlpath = '@Url.Action("GetSuplierType", "Supplier")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: {},
                async: false,
                success: function (data) {
                    $('#ddlSupplierType').append("<option value='0'>--Supplier Type--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#ddlSupplierType').append($("<option></option>").val(data[i].SuplierTypeId).html(data[i].SuplierType));
                    }
                }
            });
        }

        function SupplierNameCheck(supplierName, supplierId) {
            var isExist = false;

            var urlpath = '@Url.Action("SupplierDuplicateCheck", "Supplier")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { supplierId: supplierId, supplierName: supplierName },
                async: false,
                success: function (data) {
                    isExist = data;

                }
            });
            return isExist;
        }
        function SupplierValidation() {
            var isValid = true;
            if ($('#txtSupplierName').val().trim() == '') {
                isValid = false;
                ValidationColorChangeNew("txtSupplierName", "divTxtSupplierName", "Supplier Name Required", false);
            }

            if ($('#txtSupplierName').val().trim() != '') {
                var isExist = SupplierNameCheck($('#txtSupplierName').val().trim(), $('#txtSupplierId').val());
                if (isExist == true) {
                    isValid = false;
                    ValidationColorChangeNew("txtSupplierName", "divTxtSupplierName", "Supplier Name Already Exists", false);
                }
            }
            if ($('#txtSupplierContact').val().trim() == '') {
                isValid = false;
                ValidationColorChangeNew("txtSupplierContact", "divTxtSupplierContact", "Supplier Contact No. Required", false);
            }
            if (isValid == false) {

                ShowMessage("Some Values Required");


            }

            return isValid;

        }


        function SaveSupplierData() {


            var supplierName = $('#txtSupplierName').val().trim();
            var propeiterName = $('#txtProprietorName').val().trim();
            var supplierContact = $('#txtSupplierContact').val().trim();
            var secondaryContact = $('#txtSecondaryContact').val().trim();
            var contactPerson = $('#txtContactPerson').val().trim();
            var gstNo = $('#txtGSTNo').val().trim();
            var accountNo = $('#txtBankAccount').val().trim();
            var mailingAddress = $('#txtMaillingAddress').val().trim();
            var physicalAddress = $('#txtPhysicalAddress').val().trim();
            var remarks = $('#txtRemarks').val().trim();
            var supplierId = $('#txtSupplierId').val();
            var SuplierTypeId = $('#ddlSupplierType').val();
            var isActive = $('#isActive').is(':checked') ? true : false;
            var creditLimit = $('#txtcreditLimit').val();

            var jsonData = {};
            jsonData["SupplierId"] = supplierId;
            jsonData["SuplierTypeId"] = SuplierTypeId;
            jsonData["SupplierName"] = supplierName;
            jsonData["ProprietorName"] = propeiterName;
            jsonData["MailingAddress"] = mailingAddress;
            jsonData["MailingAddress"] = mailingAddress;
            jsonData["PhysicalAddress"] = physicalAddress;
            jsonData["SupplierPhone"] = supplierContact;
            jsonData["SupplierSecondPhone"] = secondaryContact;
            jsonData["ContactPerson"] = contactPerson;
            jsonData["GSTNo"] = gstNo;
            jsonData["CreditLimit"] = creditLimit;
            jsonData["BankAccount"] = accountNo;
            jsonData["Remarks"] = remarks;

            jsonData["IsActive"] = isActive;

            var urlpath = '@Url.Action("SaveSupplier", "Supplier")';

            $.ajax({
                contentType: "application/json",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "POST"
            })
                .success(function (result) {

                    if (result.isSuccess > 0) {


                       window.location.href = '@Url.Action("SupplierList", "Supplier")';
                    }
                });

        }
    </script>
    
    }