﻿@model IGFoodProject.Models.ProcessedSalePriceConfig

@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <section class="content">
        <div class="container-fluid">


            <div class="card-primary">
                <div class="card-header">
                    <h3 class="card-title">
                        <span class="fa fa-eye"></span> Process Price Config Edit
                    </h3>
                    <div class="float-right btn btn-outline-warning">
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="card-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.ProcessedSalePriceSetupId)

                        <div class="form-group">
                            @Html.LabelFor(model => model.ProductId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("ProductId", null, "-- Select Product --", htmlAttributes: new { @class = "form-control select2" })
                                @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PurchasePrice, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.PurchasePrice, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PurchasePrice, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SalePrice, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.SalePrice, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SalePrice, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.IsActive)
                                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.FromDate, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control datepicker fromDate" } })
                                @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
                                <input type="text" id="fromId" value="@Convert.ToDateTime(Model.FromDate).ToString("dd MMM yyyy")" style="display: none" />
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ToDate, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "form-control datepicker toDate" } })
                                <input type="text" id="toId" value="@Convert.ToDateTime(Model.ToDate).ToString("dd MMM yyyy")" style="display: none" />
                                
                                @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-success" />
                                @Html.ActionLink("Cancel", "Create", "", new { @class = "btn btn-outline-danger  float-right" })
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <h2>@Html.ViewBag.Message</h2>
        </div>
    </section>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(function () {
            
             $('.fromDate').val($('#fromId').val());
             $('.toDate').val($('#toId').val());
            ///var date = ToJavaScriptDate(fromdate);
        });
    </script>
}
