﻿@model IEnumerable<IGFoodProject.Models.ProcessedSalePriceConfig>

@{
    ViewBag.Title = "Index";

}
<section class="content">
    <div class="container-fluid">


        <div class="card-primary">
            <div class="card-header">
                <h3 class="card-title">
                    <span class="fa fa-eye"></span> Process Price Config List
                </h3>
                <div class="float-right btn btn-outline-warning">
                    @Html.ActionLink("Create New", "Create")
                </div>
            </div>
            <div class="card-body">
                <table id="ProcessPriceConfig" class="table dataTable table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Product.ProductNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Product.ProductName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PurchasePrice)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SalePrice)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsActive)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FromDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ToDate)
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.Product.ProductNo
                                </td>
                                <td>
                                    @item.Product.ProductName
                                </td>
                                <td>
                                    @item.PurchasePrice
                                </td>
                                <td>
                                    @item.SalePrice
                                </td>
                                <td>
                                    @item.IsActive
                                </td>
                                <td>
                                    @Convert.ToDateTime(item.FromDate).ToString("dd MMM yyyy")
                                </td>
                                <td>
                                    @Convert.ToDateTime(item.ToDate).ToString("dd MMM yyyy")
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.ProcessedSalePriceSetupId })  
                                    @*@Html.ActionLink("Details", "Details", new { id = item.ProcessedSalePriceConfigId }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.ProcessedSalePriceConfigId })*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <Script>

       
    </Script>
}