﻿
@{
    ViewBag.Title = "Index";
}

<style>
    #manuallist {
        padding: 10px;
    }

    .form-control {
        height: calc(1.7rem + 2px);
    }

    .modal-dialog {
        width: 100%;
        height: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }


    .modal-contents {
        background-color: white;
    }

    .ModalHead {
        background-color: #3C8DBC;
        padding: 15px;
        color: white;
    }

    .ModalHead > h4 {
        color: white;
        padding-left: 10px;
    }

    a#tabA {
        text-decoration: underline;
    }

    a#tabA:hover {
        text-decoration: underline;
        font-size: 17px;
        font-weight: bolder;
        color: green;
    }
    .modal-lg {
        max-width: 80% !important;
    }
</style>


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">

                        <div class="row">

                            <div class="col-md-6">
                                <h3>Trade Invoice List </h3>
                            </div>
                            <div class="col-md-6 text-right ">
                                <a class="btn btn-outline-warning" href="@Url.Action("InvoiceEntry", "TradeInvoice")">

                                    <span class="fa fa-plus"></span> Trade Invoice 

                                </a>
                            </div>

                        </div>



                    </div>
                    <br />

                    <div class="card-body">
                        <div class="row" style="padding-left: 20px;padding-right: 20px;">
                            <div class="col-md-3">
                                <div class="form-group" id="divSupplier">
                                    <label for="ddlSupplier">Supplier:</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlSupplier" onchange="LoadInvoiceNo()"></select>
                                </div>
                            

                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divInvoice">
                                    <label for="ddlInvoice">Invoice No:</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlInvoice"></select>
                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divFromDate">
                                    <label for="txtFromDate">From Date:</label>
                                    <input type="text" id="txtFromDate" class="form-control" />
                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divToDate">
                                    <label for="txtToDate">To Date:</label>
                                    <input type="text" id="txtToDate" class="form-control" />
                                </div>
                            </div>


                        </div>
                   
                    
                    </div>

                    <div class="row">
                        <div class="col-md-2 pull-right offset-10">
                            <button style="margin-left: 27px;" class="btn btn-primary" onclick="ShowReport()">Search </button>
                        </div>
                    </div>
                    <br />
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body" >
                                @*<h4 class="text-center" style="width: 100%;background-color: #007bff;color:black"> Invoices</h4>*@
                                <div class="table-responsive" >
                                    <table id="myTable" class="table table-bordered table-striped table-hover">
                                        <thead>
                                        <tr style="text-align: center; color: black; width: 3%; background-color: turquoise;">

                                            <th class="text-center" style="width:3%">#</th>
                                            <th class="text-center" style="width:10%">Invoice No</th>
                                            <th class="text-center" >Supplier</th>
                                            <th>Invoice Date</th>
                                            <th>Due Date</th>
                                            @*<th>Total Qty</th>*@
                                            <th class="text-right" style="width:5%">Total Amount</th>
                                            @*<th class="text-right" style="width:5%">Action</th>*@

                                        </tr>
                                        </thead>
                                        <tbody id="manuallist"></tbody>
                                    </table>


                                </div>
                            </div>
                        </div>



                    </div>
                    @*<div class="row" style="padding-top:10px">
                        <div class="col-md-8">
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="lblTotal" class="control-label col-md-8 text-right">Grand Total:</label>
                                <div class="col-md-4 text-right" style="padding-right: 30px">
                                    <label id="lblTotal" class="text-right">0</label>
                                </div>
                            </div>




                        </div>
                    </div>*@



                    @*<div class="row">
                        <div class="col-md-6 pull-left offset-6">
                            <button style="margin-left: 27px;" class="btn btn-primary" onclick="Save()">Save Bill </button>
                        </div>
                    </div>*@
                </div>

            </div>

        </div>
        <!-- /.row -->
     
    </div><!-- /.container-fluid -->


</section>
<div class="row">

    <div class="modal fade in" id="myModal" role="dialog">
        <div class="modal-dialog listDialog  modal-lg">
            ">

            <!-- Modal content-->
            <div class="modal-contents">


                <div class="ModalHead">

                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Trade Invoiced Details</h4>


                </div>
                <br />
                <div class="container-fluid" id="tabledata">

                    <div class="row">
                        <div class="col-md-12">



                         
                                <div class="box-body table-responsive modalTable" id="MainGradeDiv2" >
                                    <br />

                                    <table id="modalTable" class="table table-striped table-bordered">
                                        <thead id="popTab">
                                            <tr>
                                                <th style="text-align: center; color: black; width: 3%; background-color: turquoise; padding-bottom: 2.5%">SL</th>
                                                <th style="text-align: center; color: black; background-color: turquoise; width: 40%">MRR NO</th>
                                                <th style="text-align: center; color: black; background-color: turquoise; width: 20%">MRR Date</th>
                                                <th style="text-align: center; color: black; background-color: turquoise; width: 20%">Product Description</th>
                                                <th style="text-align: center; color: black; background-color: turquoise ;width: 10%">Received Amount </th>
                                                <th style="text-align: center; color: black; background-color: turquoise ;width: 10%">Invoiced Amount. </th>
                                             
                                                @*<th style="text-align: center; color: black; background-color: turquoise ;width: 20%">Price WO Vat </th>
                                                <th style="text-align: center; color: black; background-color: turquoise ;width: 10%">Vat </th>
                                                <th style="text-align: center; color: black; background-color: turquoise ;width: 10%">Total</th>*@


                                            </tr>



                                        </thead>
                                        <tbody id="itemDetailsTabBody"></tbody>
                                    </table>
                                </div>
                          

                        </div>

                    </div>

                </div>

                <br />




                <div class="modal-footer">

                    <button type="button" class="btn btn-default" data-dismiss="modal" id="closebtn">Close</button>
                </div>
            </div>
        </div>





    </div>

</div>

@section Scripts
{
    <script>
        $(document).ready(function() {

            LoadDate_C('#txtFromDate');
            LoadDate_Pr('#txtToDate');

            LoadSupplier();
            LoadInvoiceNo();
            ShowReport();
         
        });

        function LoadDate_Pr(controlName) {
            jQuery(controlName).datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd-M-yyyy'

            }).datepicker("setDate", "+2d");
        }

        function LoadSupplier() {
            var urlpath = '@Url.Action("LoadSupplier", "PurchaseOrder")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: {},
                async: false,
                success: function(data) {

                    $('#ddlSupplier').empty();
                    $('#ddlSupplier').append("<option value='0'>--Select Supplier--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#ddlSupplier').append($("<option></option>").val(data[i].SupplierID).html(data[i].SupplierName));
                    }

                }
            });
        }

        function LoadInvoiceNo() {
            //var id = $('#ddlSupplier').val();
            var urlpath = '@Url.Action("LoadTradeInvoiceNo", "TradeInvoice")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { },
                async: false,
                success: function(data) {


                    $('#ddlInvoice').empty();
                    $('#ddlInvoice').append("<option value='0'>--Select MRR--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#ddlInvoice').append($("<option></option>").val(data[i].TradeInvoiceMasterID).html(data[i].TradeInvoiceNo));
                    }
                }
            });
        }

        function ShowReport() {
            debugger;


            var supplierId = $('#ddlSupplier').val()||0;
            var fromDate = $('#txtFromDate').val();
            var toDate = $('#txtToDate').val();
            var tradeInvoiceId = $('#ddlInvoice').val() || 0;



       
            var urlpath = '@Url.Action("GetTradeInvoices", "TradeInvoice")';
            $.ajax({
                url: urlpath,
                dataType: 'html',
                type: "Get",
                data: { supplierId: supplierId, tradeInvoiceId: tradeInvoiceId, fromDate: fromDate, toDate: toDate },
                async: false,
                success: function(data) {

                    data = JSON.parse(data);
                    $("#manuallist").html("");
                    if (data.length > 0) {


                        var row = "";
                        var count = 1;
                        $("#manuallist").html("");

                        var count = 1;
                        for (var i = 0; i < data.length; i++) {


                            row += "<tr id='trmain" + count + "'>";
                            row += "<td style='text-align:center'>" + count + "</td>";
                            row += "<td style='display: none;'><input type='text'  style='display: none;'  id='invoiceId_" + count + "' value = '" + data[i].TradeInvoiceMasterID + "'  /></td>";
                            row += "<td style='display: none;'><input type='text'  style='display: none;'  id='supplierId_" + count + "' value = '" + data[i].SupplierID + "'  /></td>";
                
                            row += "<td style='text-align:center'><a id='tabA' type='button' onclick='PopUpDetails(" + data[i].TradeInvoiceMasterID + ")'>" + data[i].TradeInvoiceNo + "</a></td>";
                            row += "<td style='text-align:center'>" + data[i].SupplierName + "</td>";

                          

                            row += "<td style='text-align:center'>" + ToJavaScriptDate(data[i].TradeInvoiceDate) + "</td>";
                            row += "<td style='text-align:center'>" + ToJavaScriptDate(data[i].DueDate) + "</td>";

                            //row += "<td style='text-align:center;'><label id='totalQty_" + count + "'>" + data[i].TotalQty + " </label></td>";
                            row += "<td style='text-align:center;'><label id='totalAmount_" + count + "'>" + data[i].TotalAmount + " </label></td>";
                            //row += "<td style='text-align:center;'></td>";
                         
                            //row += "<td style='text-align:center'><button class='btn btn-sm btn-primary showBtn' onclick='LoadReportFinal(" + data[i].MRRrOtherID + ")'>Print</button></td>";
                            row += "</tr>";
                            count = count + 1;

                        }
                        $("#manuallist").html(row);
                    }
                }
            });
        }

      

    




     
    </script>


    <script>
        function PopUpDetails(id) {
            ModalPopUp();

            GetDetails(id);

        }

        function GetDetails(id) {
            var urlpath = '@Url.Action("TradeInvoiceDetailsById", "TradeInvoice")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { id: id },
                async: false,

                success: function(result) {


                    //   $('#rateOf').text(ToJavaScriptDate(result.RateOf));


                    var row = "";
                    $("#itemDetailsTabBody").html("");
                    for (var i = 0; i < result.length; i++) {

                        row += "<tr>";
                        row += "<td style='text-align : center'>" + (i + 1) + "</td>";
                        row += "<td style='text-align : center'>" + result[i].MrrNo + "</td>";
                        row += "<td style='text-align : center'>" + ToJavaScriptDate(result[i].TradeMRRDate) + "</td>";
                        row += "<td style='text-align : center'>" + result[i].ProductDescription + "</td>";
                        row += "<td style='text-align : center'>" + result[i].MrrAmount + "</td>";
                        row += "<td style='text-align : center'>" + result[i].InvoiceAmount + "</td>";
                        //row += "<td style='text-align : center'>" + result[i].PriceWithoutVat + "</td>";
                        //row += "<td style='text-align : center'>" + result[i].VatPercent + "</td>";
                        //row += "<td style='text-align : center'>" + result[i].TotalInvoicePrice + "</td>";
                    
                        row += "</tr>";


                    }


                    $("#modalTable #itemDetailsTabBody").html(row);


                }
            });

        }

        function ModalPopUp() {
            $("#myModal").modal();
        }

        function exportExcel() {

            var a = document.createElement('a');
            //getting data from our div that contains the HTML table
            var data_type = 'data:application/vnd.ms-excel';
            var table_div = document.getElementById('tabledata');
            var table_html = table_div.outerHTML.replace(/ /g, '%20');
            a.href = data_type + ', ' + table_html;
            //setting the file name
            a.download = 'download.xls';
            //triggering the function
            a.click();
            //just in case, prevent default behaviour
            e.preventDefault();
        }
    </script>
}