﻿
@using System.Data
@model System.Data.DataTable
@{
    int count = 1;

}
<table id="MortalityTable" border="1" class="table dataTable table-bordered table-striped table-hover">
    <thead>
        <tr style="background-color: aliceblue">
            @*<th style="text-align: center">SL</th>*@
            <th style="text-align: center">Suppler</th>
            <th style="text-align: center">WareHouse Name</th>
            <th style="text-align: center">MRR No</th>
            <th style="text-align: center">MRR Date</th>
            <th style="text-align: center">Mortality Date</th>
            <th style="text-align: center">Item</th>
            <th style="text-align: center">Mortality Qty</th>
            <th style="text-align: center">Mortality Kg</th>
            <th style="text-align: center">Mortality By</th>
        </tr>

    </thead>
    <tbody class="Traylist">


        @foreach (DataRow row in Model.Rows)
        {

            <tr>
                @*<td>@count</td>*@
                <td style="text-align: center">@row.ItemArray[0]</td>
                <td style="text-align: center">@row.ItemArray[1]</td>
                <td style="text-align: left">@row.ItemArray[4]</td>
                <td style="text-align: center">@Convert.ToDateTime(row.ItemArray[5]).ToString("dd MMM yyyy")</td>
                <td style="text-align: center">@Convert.ToDateTime(row.ItemArray[2]).ToString("dd MMM yyyy")</td>
                <td style="text-align: left">@row.ItemArray[6]</td>
                <td style="text-align: left">@row.ItemArray[7]</td>
                <td style="text-align: left">@row.ItemArray[8]</td>
                <td style="text-align: left">@row.ItemArray[3]</td>
            </tr>
            count++;
        }
    </tbody>

</table>