﻿@using IGFoodProject.ViewModel
@model IEnumerable<ViewMrrMaster>

 <table id="table1" class="dataTable table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>MRR No.</th>
                        <th>MRR Date</th>
                        <th>Warehouse</th>
                        <th>Create Date</th>
                        <th>Reaceive By</th>
                        <th>Receive Qty</th>
                        <th>Receive KG</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int count = 1;}
                    @foreach (var item in Model)
                    {
                        <tr class="rowTr" id="@item.MRRMasterId">
                            <td>@count</td>
                            <td>@item.MRRNo</td>
                            <td>@Convert.ToDateTime(item.MRRDate).ToString("dd-MMM-yyyy")</td>
                            <td>@item.WareHouseName</td>
                            <td>@Convert.ToDateTime(item.CreateDate).ToString("dd-MMM-yyyy")</td>
                            <td>@item.ReceiveBy</td>
                            <td>@item.TotalReceiveQty.ToString("#,##,0.00")</td>
                            <td>@item.TotalReceiveKg.ToString("#,##,0.00")</td>
                            <td>
                                <a class="btn btn-sm btn-info" href="@Url.Action("MortalityEntry", "LiveBirdMortality", new {id = item.MRRMasterId})">Mortality Entry </a>
                            </td>
                        </tr>
                        count++;
                    }
                </tbody>
            </table>
      