﻿@using IGFoodProject.Models
@model IEnumerable<tbl_SupplierInfo>

@{
    ViewBag.Title = "Mortality ";
    DateTime now = DateTime.Now;
    var startDate = new DateTime(now.Year, now.Month, 1);
    var endDate = startDate.AddMonths(1).AddDays(-1);
}

 <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">

                            <div class="row">
                                <div class="col-md-6">
                                    <h3 class="card-title"><span class="fa fa-list"></span>MRR List</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="delHatchery">Supplier</label>
                                        <select class="form-control select2" style="width: 100%;" id="supplierList">
                                            <option selected="selected" value="0">--Select Supplier--</option>
                                            @foreach (tbl_SupplierInfo item in Model)
                                            {
                                                <option value="@item.SupplierID">@item.SupplierName</option>

                                            }

                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4" id="divfromDate">
                                    <div class="form-group">
                                        <label for="saleDate">From date (MRR Date)</label>
                                        <input type="text" class="form-control datepicker" id="fromDate" name="fromDate" value="@Convert.ToDateTime(startDate).ToString("dd MMM yyyy")" autocomplete="off">

                                    </div>
                                </div>
                                <div class="col-md-4" id="divtoDate">
                                    <div class="form-group">
                                        <label for="saleDate">To date (MRR Date)</label>
                                        <input type="text" class="form-control datepicker" id="toDate" name="toDate" value="@Convert.ToDateTime(endDate).ToString("dd MMM yyyy")" autocomplete="off">

                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="card-footer">
                            <button class="btn btn-success confirm float-right" id="searchMrr" onclick="SearchMrr()">Search</button>
                        </div>
                    </div>

                    <div class="card divclass">
                        <div class="card-body" id="mrrList">
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div id="ajaxLoaderDiv" style="display: none; position: fixed; top: 40%; left: 45%; z-index: 1234;">
                <img src="@Url.Content("~/AssetStatic/Images/Double Ring.gif")" alt="Loading..." class="ajax-loader" />
            </div>
        </div><!-- /.container-fluid -->
    </section>

@section scripts{
    <script type="text/javascript">
    $(function () {
        $('.select2').select2();
        $('.datepicker').datepicker({
            autoclose: true,
            format: 'dd M yyyy'

        });

        SearchInvoice();
    });

        function SearchMrr() {

        if (Validation()) {
            var urlpath = '@Url.Action("GetMrrList", "LiveBirdMortality")';

            $.ajax({
                contentType: "application/json; charset=utf-8",
                url: urlpath,
                data: { supplierId: $('#supplierList').val(), fromDate: $('#fromDate').val(), toDate: $('#toDate').val()},
                dataType: 'html',
                type: "Get",
                success: function (data) {
                    $('#mrrList').empty();
                    $("#mrrList").html(data);
                    $('#ajaxLoaderDiv').hide();
                },
                beforeSend: function () {
                    $('#ajaxLoaderDiv').show();

                }

            });
        }
    }

    function Validation() {
        var isValid = true;
        var message = 'Date Range Required !';

        if ($('#fromDate').val() == 0 || $('#fromDate').val() == '') {
            isValid = false;
        }
        if ($('#toDate').val() == 0 || $('#toDate').val() == '') {
            isValid = false;
        }

        if (isValid == false) {
            ShowMessage(message);
        }

        return isValid;
    }
    </script>  
    
 }



