﻿
@{
    ViewBag.Title = "MortalityEntry";
}

@model IGFoodProject.ViewModel.ViewMrrMaster

<section class="content">
    <div class="container-fluid">
        <div class="row ">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">

                        <h4>Bird Mortality Entry Page</h4>

                        <div class="card-tools">
                            <a class="btn btn-outline-warning" href="@Url.Action("Index", "LiveBirdMortality")">
                                <span class="fa fa-list"></span>MRR List
                            </a>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="row">

                            <div class="col-md-3">
                                <div class="form-group" id="divCompany">
                                    <label for="ddlCompany">Company : </label>
                                    <span>@Model.CompanyName</span>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group" id="divLocation">
                                    <label for="ddlLocation">Location : </label>
                                    <span>@Model.LocationName</span>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group" id="divWareHouse">
                                    <label for="ddlWareHouse">Warehouse : </label>
                                    <span>@Model.WareHouseName</span>

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divPurchaseOrder">
                                    <label for="ddlPurchaseOrder">Purchase Order : </label>
                                    <span>@Model.PurchaseOrderNo</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divmrrNo">
                                    <label for="mrrNo">MRR No : </label>
                                    <span>@Model.MRRNo</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divReceiveDate">
                                    <label for="txtReceiveDate">MRR Date : </label>
                                    <span>@Model.MRRDate.ToString("dd-MMM-yyyy")</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divReceiveDate">
                                    <label for="txtReceiveDate">Receive Time : </label>
                                    <span>@Model.ReceiveTime</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divReceiveBy">
                                    <label for="empAutoCom">Receive By : </label>
                                    <span>@Model.ReceiveBy</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divRemarks">
                                    <label for="txtRemarks">Remarks : </label>
                                    <span>@Model.Remarks</span>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div>

                        <table class="table table-bordered" id="mrrTable">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Item</th>
                                    <th>Purchase Qty</th>
                                    <th>Receive Qty</th>
                                    <th>Receive Kg</th>
                                    <th>Mortality Qty</th>
                                    <th>Mortality Kg</th>

                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int count = 1;
                                }
                                @foreach (var item in Model.MrrDetailsList)
                                {

                                <tr id="@item.MRRDetailID">
                                    <td>
                                        @count
                                    </td>
                                    <td>
                                        <label>@item.ItemDescription</label>
                                        <input style="display: none" type="number" value="@item.ItemId" id="itemid_@item.MRRDetailID" />
                                    </td>
                                    <td><label id="purchaseQty_@item.MRRDetailID">@item.PurchaseQty</label></td>
                                    <td>
                                        <label>@item.ItemQty</label>
                                        <input style="display: none" type="number" value="@item.ItemQty" id="recQty_@item.MRRDetailID" />

                                    </td>
                                    <td>
                                        <label >@item.ItemKG</label>
                                        <input style="display: none" type="number" value="@item.ItemKG" id="recKG_@item.MRRDetailID" />

                                    </td>


                                    <td><input type="number" id="mortalityQty_@item.MRRDetailID" oninput="ValueCalculation(@item.MRRDetailID)" class="form-control" /></td>
                                    <td><input type="number" id="mortalityKG_@item.MRRDetailID" oninput="ValueCalculation(@item.MRRDetailID)" class="form-control" /></td>


                                </tr>
                                    count++;

                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5" class="text-right"><label>Total Mortality :</label></td>
                                    <td><label id="totalMortalityQty"></label></td>

                                    <td><label id="totalMortalityKg"></label></td>

                                </tr>
                            </tfoot>
                        </table>


                    </div>

                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button class="btn btn-primary  float-right" id="btnSub" onclick="SaveMortalityData()">Save</button>
                        <button class="btn btn-outline-danger " id="btncancel" onclick="LoadPage()">Cancel</button>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <!-- /.row -->
   <!-- /.container-fluid -->
    @*<input id="mRRMasterID" type="number" style="display:none;" value="@ViewBag.MrrMasterId">
        <input id="txtFlag" type="text" style="display:none;" value="@ViewBag.Flag">*@
</section>

@section Scripts{

    <script>

        $(function () {



        });

       function SaveMortalityData()
        {
          //  if (Validation()) {

                var mortalityMaster = {};
                var mortalityDetailsList = [];


                mortalityMaster["MrrMasterId"] = @Model.MRRMasterId;
             
             $('#mrrTable tbody tr').each(function (key, value)
             {
                       var mrrDetailsId = $(this).prop("id");
                       debugger;
                        var mortalityDetails = {};
                      //  if ($('#check_' + key).is(":checked")) {

                 if ( ($('#mortalityQty_' + mrrDetailsId).val() != null && $('#mortalityQty_' + mrrDetailsId).val() > 0 ) || ($('#mortalityKG_' + mrrDetailsId).val() != null && $('#mortalityKG_' + mrrDetailsId).val() > 0)) {

                                mortalityDetails["MrrDetailsId"] = mrrDetailsId;
                                mortalityDetails["ItemId"] = $('#itemid_' + mrrDetailsId).val();
                                mortalityDetails["MortalityQty"] = $('#mortalityQty_' + mrrDetailsId).val();
                                mortalityDetails["MortalityKg"] = $('#mortalityKG_' + mrrDetailsId).val();
                                
                                mortalityDetailsList.push(mortalityDetails);
                            }
                      //  }

                });
       
                mortalityMaster["BirdMortalityDetails"] = mortalityDetailsList;

                var urlpath = '@Url.Action("SaveLiveBirdMortality", "LiveBirdMortality")';
                $.ajax({
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(mortalityMaster),
                    dataType: 'json',
                    url: urlpath,
                    type: "POST",
                    success:function(result) {
                        if (result.isSuccess) {
                            $('.confirm').prop("disabled", false);
                            $('.cancel').prop("disabled", false);
                            swal({
                                title: 'Mortality Entry Successfull',
                                type: 'success',
                                closeOnCancel: true
                            },
                                function() {
                                    window.location.href = '@Url.Action("Index", "LiveBirdMortality")';
                                });
                        } else {
                            ShowMessage('PLease Give Mortality Kg and Qty Correctly!!');
                        }
                    },
                    error: function () {
                        ShowMessage('PLease Give Mortality Kg and Qty Correctly!!');
                    }
                });

         //   }


        }

         function ValueCalculation(slNo) {
            debugger;
            var prdId = isNaN(parseFloat($('#itemid_' + slNo).val())) ? 0 : parseFloat($('#itemid_' + slNo).val());
           // var groupId = isNaN(parseFloat($('#groupId_' + slNo).val())) ? 0 : parseFloat($('#groupId_' + slNo).val());
               var recQty = isNaN(parseFloat($('#recQty_' + slNo).val())) ? 0 : parseFloat($('#recQty_' + slNo).val());
               var recKg = isNaN(parseFloat($('#recKG_' + slNo).val())) ? 0 : parseFloat($('#recKG_' + slNo).val());
               var mortalityQty = isNaN(parseFloat($('#mortalityQty_' + slNo).val())) ? 0 : parseFloat($('#mortalityQty_' + slNo).val());
               var mortalityKG = isNaN(parseFloat($('#mortalityKG_' + slNo).val())) ? 0 : parseFloat($('#mortalityKG_' + slNo).val());
            
            
                if (mortalityQty > recQty) {
                    $('#mortalityQty_' + slNo).val(recQty);
                   
                }
               
               
          
                if (mortalityKG > recKg) {
                    $('#mortalityKG_' + slNo).val(recKg);
                   
                }

               // var pweight = GetPackWeight(prdId);
              //  var skg = pweight *  $('#mortalityQty_' + slNo).val();
              //  $('#mortalityKG_' + slNo).val(skg.toFixed(2));
             
            totalCalculation();   
          
        }


        function totalCalculation() {


               var totalMortalityKg = 0;
               var totalMortalityQty = 0;
         $('#mrrTable tbody tr').each(function (key, value)
             {
                var mrrDetailsId = $(this).prop("id");
                var mortalityKg = isNaN(parseFloat($("#mortalityKG_" + mrrDetailsId).val()), 0) ? 0 : parseFloat($("#mortalityKG_" + mrrDetailsId).val());
                var mortalityQty = isNaN(parseFloat($("#mortalityQty_" + mrrDetailsId).val()), 0) ? 0 : parseFloat($("#mortalityQty_" + mrrDetailsId).val());

                totalMortalityKg += mortalityKg;
                totalMortalityQty += mortalityQty;

              
            });
            $("#totalMortalityQty").html(totalMortalityQty);
            $("#totalMortalityKg").html(totalMortalityKg);

        }
    </script>
        
        

}