﻿@using System.Data
@model System.Data.DataTable
@{
    int count = 1;
}
<table id="SupplierLedgerTable" border="1" class="table dataTable table-bordered table-striped table-hover">
    <thead>
        <tr style="background-color: aliceblue">
            <th style="text-align: center">SL</th>
            <th style="text-align: center">SupCode</th>
            <th style="text-align: center">Supplier Name</th>
            <th style="text-align: center">Opening Balance</th>
            <th style="text-align: center">Total Purchase</th>
            <th style="text-align: center">Total Payment</th>
            <th style="text-align: center">Closing Balance</th>
            <th style="text-align: center">Last Purchase Date</th>
            <th style="text-align: center">Last Payment Date</th>
        </tr>
    </thead>
    <tbody class="Traylist">
        @foreach (DataRow row in Model.Rows)
        {
                <tr>
                    <td>@count</td>
                    <td style="text-align: center">@row.ItemArray[1]</td>
                    <td style="text-align: center">@row.ItemArray[2]</td>
                    <td style="text-align: center">@row.ItemArray[3]</td>
                    <td style="text-align: center">@row.ItemArray[4]</td>
                    <td style="text-align: center">@row.ItemArray[5]</td>
                    <td style="text-align: center">@row.ItemArray[6]</td>
                    <td style="text-align: center">@Convert.ToDateTime(@row.ItemArray[7]).ToString("dd MMM yyyy")</td>
                    <td style="text-align: center">@row.ItemArray[8]</td>
                </tr>
        count++;
    }
    </tbody>
    <tfoot>
    </tfoot>
</table>

