﻿@using System.Data
@model System.Data.DataTable
@{
    int count = 0;
}
<div class="col-md-12">
    @*<label class="float-right"> Opening Balance : @Model.Rows[0].ItemArray[7]; </label>*@
    <label class="float-right"> Opening Balance : @Math.Round(Convert.ToDouble(Model.Rows[0].ItemArray[8]), 2, MidpointRounding.AwayFromZero) </label>

</div>
<table id="SupplierLedgerTable" border="1" class="table dataTable table-bordered table-striped table-hover">
    <thead>
        <tr style="background-color: aliceblue">
            <th style="text-align: center">SL</th>
            <th style="text-align: center">INVNO</th>
            <th style="text-align: center">Pay Type</th>
            <th style="text-align: center">Date</th>
            <th style="text-align: center">Purchase</th>
            <th style="text-align: center">Payment</th>
            <th style="text-align: center">Balance</th>
        </tr>
    </thead>
    <tbody class="Traylist">
        @foreach (DataRow row in Model.Rows)
        {
            if (count > 0)
            {
                <tr>
                    <td>@count</td>
                    <td style="text-align: center">@row.ItemArray[7]</td>
                    <td style="text-align: center">@Convert.ToDateTime(@row.ItemArray[1]).ToString("dd MMM yyyy")</td>
                    <td style="text-align: center">@row.ItemArray[2]</td>
                    <td style="text-align: right">@Math.Round(@Convert.ToDouble(@row.ItemArray[3]), 2, MidpointRounding.AwayFromZero)</td>
                    <td style="text-align: right">@Math.Round(@Convert.ToDouble(@row.ItemArray[4]), 2, MidpointRounding.AwayFromZero)</td>
                    <td style="text-align: right">@Math.Round(@Convert.ToDouble(@row.ItemArray[8]), 2, MidpointRounding.AwayFromZero)</td>

                </tr>

            }
            count++;
        }
    </tbody>
    <tfoot>
        <tr>
            <th colspan="6" style="text-align: right"> Closing Balance</th>
            <th style="text-align: center"> @Math.Round(@Convert.ToDouble(@Model.Rows[(Model.Rows.Count) - 1].ItemArray[8]), 2, MidpointRounding.AwayFromZero) </th>
            @*<th>Tk.</th>*@
            @*<th colspan="8"> Closing Balance</th>
            <th>@Model.Rows[(Model.Rows.Count) - 1].ItemArray[7]</th>*@
        </tr>
    </tfoot>
</table>
