﻿@model dynamic
@{
    ViewBag.Title = "Supplier Payment";
}
<style>
    .modal-dialog {
        width: 70%;
        height: 100%;
        padding-left: 1%;
        padding-right: 1%;
    }

    .modal-dialog1 {
        width: 50%;
        height: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .modal-content {
        background-color: white;
    }

    .ModalHead {
        background-color: #3C8DBC;
        padding: 15px;
        color: white;
    }

        .ModalHead > h4 {
            color: white;
            padding-left: 10px;
        }

    .table1 {
        width: 50%;
        max-width: 100%;
        margin-bottom: 20px;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title"> New Supplier Payment Entry</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-md-2">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="oldSupPayment" value="1">
                                    <label for="oldSupPayment" class="custom-control-label" style="color:red">Old Supplier Payment Entry</label>
                                </div>
                            </div>
                            <div class="form-group col-md-4" id="divSupplier">
                                <label for="ddlSupplier">Supplier</label>
                                <select class="form-control select2" id="ddlSupplier" style="width: 100%;"> </select>
                            </div>
                            <div class="form-group col-md-4" id="divinvoiceDate" hidden>
                                <label for="paymentDate">Old Invoice Date</label>
                                <input type="text" class="form-control datepicker" id="invoiceDate" />
                            </div>
                            <div class="col-md-2">

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-2">
                            </div>

                            <div class="form-group col-md-4" id="divPaymentDate">
                                <label for="paymentDate">Payment Date</label>
                                <input type="text" class="form-control datepicker" id="paymentDate" />
                            </div>
                            <div class="form-group col-md-4" id="divGrandTotal">
                                <label for="txtGrandTotal">Grand Total</label>
                                <input type="text" class="form-control" id="txtGrandTotal" min='0' style='text-align:right;' oninput="CalculateAmount()" />
                            </div>
                            <div class="form-group col-md-2">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-2">
                            </div>

                            
                            <div class="form-group col-md-4" id="divTaxAmount">
                                <label for="txtTaxAmount">Tax Amount</label>
                                <input type='number' class='form-control' min='0' style='text-align:right;' id='txtTaxAmount' value='' oninput="CalculateAmount()" />
                            </div>
                            <div class="form-group col-md-4" id="divTaxPercent">
                                <label for="txtTaxPercent">Tax Percent(%)</label>
                                <input type='number' class='form-control' min='0' style='text-align:right;' id='txtTaxPercent' value='' oninput="CalculateAmountPer()" />
                            </div>
                            <div class="form-group col-md-2">
                            </div>
                        </div>
                       
                        <div class="row">
                            <div class="form-group col-md-2">
                            </div>

                            
                            <div class="form-group col-md-4" id="divPaymentAmount">
                                <label for="paymentAmount">Payment Amount</label>
                                <input type='number' class='form-control' min='0' style='text-align:right;' id='paymentAmount' value='' />
                            </div>
                            <div class="form-group col-md-4" id="divPaymentType">
                                <label>Payment Type</label>
                                <select class="form-control select2" id="paymentType" style="width: 100%;"></select>
                            </div>
                            <div class="form-group col-md-2">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-2">
                            </div>
                            <div class="form-group col-md-4" id="divRefNo">
                                <label for="refNo" id="refId"></label>
                                <input type='text' class='form-control' style='text-align:right;' id='refNo' value='' />
                            </div>
                            <div class="form-group col-md-4" id="divRefDate">
                                <label for="refDate" id="lRefDate"></label>
                                <input type="text" class="form-control datepicker" id="refDate" />
                            </div>
                            <div class="form-group col-md-2">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                            </div>
                            
                            <div class="form-group col-md-4">
                            </div>
                        </div>
                      
                        
                        <div class="row">

                            <div class="form-group col-md-2">
                            </div>
                            <div class="form-group col-md-4" id="divBank">
                                <label for="ddlBankName">Bank</label>
                                <select id="ddlBankName" class="form-control select2"></select>
                            </div>
                            <div class="form-group col-md-4" id="divBranch">
                                <label for="ddlBankBranch">BranchId</label>
                                <select id="ddlBankBranch" class="form-control select2"></select>
                            </div>
                            <div class="form-group col-md-2">
                            </div>
                        </div>
                       
                        <div class="row">

                            <div class="form-group col-md-2">
                            </div>
                            <div class="form-group col-md-4" id="divRemark">
                                <label for="txtRemark">Remark</label>
                                <textarea id="txtRemark" class="form-control" cols="5" rows="3" ></textarea>
                            </div>
                            <div class="form-group col-md-4">
                            </div>
                            <div class="form-group col-md-2">
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12 form-group" id="orderList">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary" onclick="SaveFinal()">Submit</button>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>


<div class="modal fadeInUp" id="myDOModal" role="dialog">
    <div class="modal-dialog" style="max-width: 50% !important">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Payment Details</h4>
            </div>
            <div class="modal-body" id="containerDetails">
                <div class="row" style="text-align:center;">
                    <div class="col-md-12">
                        <div class="box-body table-responsive" id="MainListDiv">

                            <table id="mytable1" class="table1 table-bordered table-striped" width="50%" style="margin-left: 128px;">
                                <thead>
                                    <tr>
                                        <th style="width: 3%;text-align: center">SL</th>
                                        <th style="text-align: center">Payment Date</th>
                                        <th style="text-align: center">Payment Type</th>
                                        <th style="text-align: center">Bank</th>
                                        <th style="text-align: center">Branch</th>
                                        <th style="text-align: center">Amount</th>
                                        <th style="text-align: center">Tax</th>
                                        <th style="text-align: center">Grand Total</th>
                                        <th style="text-align: center">Cheque/Ref No</th>
                                        <th style="text-align: center">Cheque/Ref Date</th>
                                        <th style="text-align: center">Entry By</th>
                                        <th style="text-align: center">Entry Date</th>
                                    </tr>
                                </thead>
                                <tbody id="Traylist2"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="clsButton" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(function() {
            $('#refId').html('Ref. No');
            $('#lRefDate').html('Ref Date');
            $('#ddlBankName').attr('disabled', true);
            $('#ddlBankBranch').attr('disabled', true);
            LoadBankName('ddlBankName');
            LoadPaymentType('paymentType');
            LoadSupplier('ddlSupplier');

            $("#ddlSupplier").on("change",
                function() {
                    if ($('#oldSupPayment').is(":checked")) {
                    } else {
                        var urlpath = '@Url.Action("PurchaseOrderListForPaymentCollection", "SupplierPayment")';
                        $.ajax({
                            url: urlpath,
                            dataType: 'html',
                            type: "Get",
                            data: { supplierId: $(this).val() },
                            async: false,
                            success: function(data) {
                                $("#orderList").html(data);
                            }
                        });
                    }

                });
        });
        $("#oldSupPayment").on("change",
            function() {

                if ($(this).is(":checked")) {

                    $('#divinvoiceDate').attr("hidden", false);
                    $('#divRemark').attr("hidden", true);
                    
                } else {

                    $('#divinvoiceDate').attr("hidden", true);
                    $('#divRemark').attr("hidden", false);
                }

            });
        $('#ddlBankName').change(function() {
            debugger;
            var bankid = $(this).val();
            LoadBankBranch('ddlBankBranch', bankid);

            if (bankid == 5) {

                $('#refId').html('Checque No');
                $('#lRefDate').html('Checque Date');
            }

        });

        $('#paymentType').change(function() {

            if ($(this).val() == 1 || $(this).val() == 3) {

                $('#refId').html('Checque No');
                $('#lRefDate').html('Checque Date');
                $('#ddlBankName').attr('disabled', false);
                $('#ddlBankBranch').attr('disabled', false);
            } else {

                $('#refId').html('Ref. No');
                $('#lRefDate').html('Ref. Date');
                $('#ddlBankName').attr('disabled', true);
                $('#ddlBankBranch').attr('disabled', true);
            }

        });

        function LoadSupplier(elementId) {
            var urlpath = '@Url.Action("LoadSupplier", "PurchaseOrder")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",

                async: false,
                success: function(data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Supplier--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].SupplierID).html(data[i].SupplierName));
                    }
                }
            });
        }


        function CalculateAmount() {
            ;;
            var grandtotal = isNaN(parseFloat($('#txtGrandTotal').val()), 0)
                        ? 0
                        : parseFloat($('#txtGrandTotal').val());
            var taxamount = isNaN(parseFloat($('#txtTaxAmount').val()), 0)
                        ? 0
                        : parseFloat($('#txtTaxAmount').val());


            var taxpercent = isNaN(parseFloat($('#txtTaxPercent').val()), 0)
                       ? 0
                       : parseFloat($('#txtTaxPercent').val());

            var paymentamount = isNaN(parseFloat($('#paymentAmount').val()), 0)
                      ? 0
                      : parseFloat($('#paymentAmount').val());

            var caltax = 0;
            if (taxamount > 0) {
                taxpercent = ((taxamount / grandtotal) * 100).toFixed(2);

            }
            else {
                taxpercent = 0;
            }


            var colamt = grandtotal - taxamount;


            $('#txtTaxPercent').val(taxpercent);

            $('#paymentAmount').val(colamt);
            


        }
        function CalculateAmountPer() {
           
            var grandtotal = isNaN(parseFloat($('#txtGrandTotal').val()), 0)
                        ? 0
                        : parseFloat($('#txtGrandTotal').val());
            var taxamount = isNaN(parseFloat($('#txtTaxAmount').val()), 0)
                        ? 0
                        : parseFloat($('#txtTaxAmount').val());


            var taxpercent = isNaN(parseFloat($('#txtTaxPercent').val()), 0)
                       ? 0
                       : parseFloat($('#txtTaxPercent').val());

            var paymentamount = isNaN(parseFloat($('#paymentAmount').val()), 0)
                      ? 0
                      : parseFloat($('#paymentAmount').val());

            var caltax = 0;

            if (taxpercent > 0) {
                taxamount = (taxpercent / 100) * grandtotal;

            }
            else {
                taxamount = 0;
            }

            var colamt = grandtotal - taxamount;

            $('#txtTaxAmount').val(taxamount);


            $('#paymentAmount').val(colamt);
         

        }

        function CheckPaymentAmountValidation(rowNo) {


            var totalPayment = isNaN(parseFloat($('#paymentAmount').val()), 0)
                ? 0
                : parseFloat($('#paymentAmount').val());
            var totalPaymentwithtax = isNaN(parseFloat($('#txtGrandTotal').val()), 0)
                       ? 0
                       : parseFloat($('#txtGrandTotal').val());

            if (totalPayment == "" || totalPayment == 0) {
                swal("Please input payment amount first");
                $("#payAmount_" + rowNo).val("");
                $('#paymentAmount').focus();

                return;
            }

            var coll = isNaN(parseFloat($('#payAmount_' + rowNo).val()), 0) ? 0 : parseFloat($('#payAmount_' + rowNo).val());
            var coltax = isNaN(parseFloat($('#taxDeduct_' + rowNo).val()), 0) ? 0 : parseFloat($('#taxDeduct_' + rowNo).val());
            var colfc = coll + coltax;
            $('#totalCollection_' + rowNo).val(colfc);

            var ftotal = 0;
            var fpaid = 0;
            var fcp = 0;
            var fdue = 0;

            ftotal = isNaN(parseFloat($('#TotalAmount_' + rowNo).val()), 0) ? 0 : parseFloat($('#TotalAmount_' + rowNo).val());
            //fpaid = isNaN(parseFloat($('#TotalPreAmount_' + rowNo).val()), 0) ? 0 : parseFloat($('#TotalPreAmount_' + rowNo).val());
            //fcp = isNaN(parseFloat($('#payAmount_' + rowNo).val()), 0) ? 0 : parseFloat($('#payAmount_' + rowNo).val());
            fcp = isNaN(parseFloat($('#totalCollection_' + rowNo).val()), 0) ? 0 : parseFloat($('#totalCollection_' + rowNo).val());
            fdue = isNaN(parseFloat($('#TotalDue_' + rowNo).val()), 0) ? 0 : parseFloat($('#TotalDue_' + rowNo).val());
            fpaid = isNaN(parseFloat($('#hTotalDue_' + rowNo).val()), 0) ? 0 : parseFloat($('#hTotalDue_' + rowNo).val());
            if (fcp > fpaid) {
                swal("Paid Amount con not be larger than due amount");
                $("#payAmount_" + rowNo).val('');
                $("#totalCollection_" + rowNo).val('');
                $("#taxDeduct_" + rowNo).val('');
                //fcp = isNaN(parseFloat($('#payAmount_' + rowNo).val()), 0) ? 0 : parseFloat($('#payAmount_' + rowNo).val());
                fcp = isNaN(parseFloat($('#totalCollection_' + rowNo).val()), 0) ? 0 : parseFloat($('#totalCollection_' + rowNo).val());
                $('#TotalDue_' + rowNo).val(fpaid);
                return;
            }
            //var newdue = ftotal - (fpaid + fcp); $("#hTotalDue_" + rowNo).val()
            var newdue = (fpaid - fcp);
            $('#TotalDue_' + rowNo).val(newdue);

            var totaltax = isNaN(parseFloat($('#txtTaxAmount').val()), 0)
                       ? 0
                       : parseFloat($('#txtTaxAmount').val());

            var totalcalculation = isNaN(parseFloat($('#txtGrandTotal').val()), 0)
                        ? 0
                        : parseFloat($('#txtGrandTotal').val());


            var all = GrandTotalCalculation();

            if (all.paid > totalPaymentwithtax) {
                ;;
                swal("Paid amount is larger then payment amount");
                $("#payAmount_" + rowNo).val('').css("border", "1px solid red");
                $("#TotalDue_" + rowNo).val($("#hTotalDue_" + rowNo).val());
                $("#totalCollection_" + rowNo).val('');
                $("#taxDeduct_" + rowNo).val('');
                GrandTotalCalculation();
            }
            if (all.tax > totaltax) {
                swal("tax amount is larger then total tax amount");
                $("#taxDeduct_" + rowNo).val('').css("border", "1px solid red");
                $("#TotalDue_" + rowNo).val($("#hTotalDue_" + rowNo).val());
                $("#taxDeduct_" + rowNo).val('');
                $("#totalCollection_" + rowNo).val('');

                var coll = isNaN(parseFloat($('#payAmount_' + rowNo).val()), 0) ? 0 : parseFloat($('#payAmount_' + rowNo).val());
                var coltax = isNaN(parseFloat($('#taxDeduct_' + rowNo).val()), 0) ? 0 : parseFloat($('#taxDeduct_' + rowNo).val());
                var colfc = coll + coltax;
                $('#totalCollection_' + rowNo).val(colfc);

                GrandTotalCalculation();
            }

            if (all.gtotal > totalcalculation) {
                swal("Total calculation amount is larger then total grand amount");
                $('#payAmount_' + rowNo).val('');
                $("#TotalDue_" + rowNo).val($("#hTotalDue_" + rowNo).val());
                $("#taxDeduct_" + rowNo).val('');
                $("#totalCollection_" + rowNo).val('');

                var coll = isNaN(parseFloat($('#payAmount_' + rowNo).val()), 0) ? 0 : parseFloat($('#payAmount_' + rowNo).val());
                var coltax = isNaN(parseFloat($('#taxDeduct_' + rowNo).val()), 0) ? 0 : parseFloat($('#taxDeduct_' + rowNo).val());
                var colfc = coll + coltax;
                $('#totalCollection_' + rowNo).val(colfc);

                GrandTotalCalculation();
            }


        }

        function checkBoxEvent(id) {


            var check = $('#chk_' + id).is(":checked");


            if (check == true) {
                $("#payAmount_" + id).prop('disabled', false);
                $("#taxDeduct_" + id).prop('disabled', false);
            } else {
                $("#payAmount_" + id).prop('disabled', true);
                $("#taxDeduct_" + id).prop('disabled', true);
                $("#payAmount_" + id).val('');
                $("#taxDeduct_" + id).val('');
                $("#TotalDue_" + id).val($("#hTotalDue_" + id).val());

                var t_totalpaid_docc = 0;
                var t_totaldue_amountt = 0;

                var t_totaltax_doc = 0;
                var t_totalcollection_amount = 0;

                var theId = 1;
                $("#orderTable tbody tr ").each(function() {


                    var totalpaid_rrr = isNaN(parseInt($("#payAmount_" + theId).val()), 0) ? 0 : parseInt($("#payAmount_" + theId).val());

                    var totaldueamount_rrr = isNaN(parseInt($("#TotalDue_" + theId).val()), 0) ? 0 : parseInt($("#TotalDue_" + theId).val());

                    var totaltax_rr = isNaN(parseFloat($("#taxDeduct_" + theId).val()), 0) ? 0 : parseFloat($("#taxDeduct_" + theId).val());

                    var totalcollectamount_rr = isNaN(parseFloat($("#totalCollection_" + theId).val()), 0) ? 0 : parseFloat($("#totalCollection_" + theId).val());


                    t_totalpaid_docc += totalpaid_rrr;
                    t_totaldue_amountt += totaldueamount_rrr;

                    t_totaltax_doc += totaltax_rr;
                    t_totalcollection_amount += totalcollectamount_rr;


                    theId++;


                });
                $("#PaidTotalAmount").val(t_totalpaid_docc);
                $("#DueTotalAmount").val(t_totaldue_amountt);

                $("#TaxTotalAmount").val(Math.round(t_totaltax_doc.toFixed(2)));
                $("#TotalCollectionTotalAmount").val(Math.round(t_totalcollection_amount.toFixed(2)));

            }

        }

        function GrandTotalCalculation() {
            ;;
            var t_totalpaid_doc = 0;
            var t_totaldue_amount = 0;

            var t_totaltax_doc = 0;
            var t_totalcollection_amount = 0;

            $("#orderTable tbody tr ").each(function (key, value) {

                var totalpaid_rr = isNaN(parseFloat($("#payAmount_" + ++key).val()), 0) ? 0 : parseFloat($("#payAmount_" + key).val());

                var totaldueamount_rr = isNaN(parseFloat($("#TotalDue_" + key).val()), 0) ? 0 : parseFloat($("#TotalDue_" + key).val());


                var totaltax_rr = isNaN(parseFloat($("#taxDeduct_" + key).val()), 0) ? 0 : parseFloat($("#taxDeduct_" + key).val());

                var totalcollectamount_rr = isNaN(parseFloat($("#totalCollection_" + key).val()), 0) ? 0 : parseFloat($("#totalCollection_" + key).val());

                t_totalpaid_doc += totalpaid_rr;
                t_totaldue_amount += totaldueamount_rr;


                t_totaltax_doc += totaltax_rr;
                t_totalcollection_amount += totalcollectamount_rr;
            });
            $("#PaidTotalAmount").val(Math.round(t_totalpaid_doc.toFixed(2)));
            $("#DueTotalAmount").val(Math.round(t_totaldue_amount.toFixed(2)));

            $("#TaxTotalAmount").val(Math.round(t_totaltax_doc.toFixed(2)));
            $("#TotalCollectionTotalAmount").val(Math.round(t_totalcollection_amount.toFixed(2)));

            var obj = {
                paid: t_totalpaid_doc,
                tax: t_totaltax_doc,
                gtotal: t_totalcollection_amount
            };
            return obj;

            //return t_totalpaid_doc

        }

        function SaveFinal() {
            if (SaveValidation()) {
                swal({
                        title: "Are you sure?",
                        text: "",
                        type: "success",
                        showCancelButton: true,
                        cancelButtonClass: 'btn-secondary waves-effect',
                        confirmButtonClass: 'btn-success waves-effect waves-light',
                        confirmButtonText: 'Yes!',
                        closeOnConfirm: false
                    },
                    function() {
                        $('.confirm').prop("disabled", true);
                        $('.cancel').prop("disabled", true);
                        SaveSalesCollection();
                    });
            }
        }

        function SaveSalesCollection() {
            var jsonData = {};
            if ($('#oldSupPayment').is(":checked")) {
                jsonData["SupplierId"] = parseInt($('#ddlSupplier').val());
                jsonData["PaymentAmount"] = parseFloat($('#paymentAmount').val());
                jsonData["PaymentDate"] = $("#paymentDate").val();
                jsonData["PaymentType"] = $("#paymentType").val();
                jsonData["RefNo"] = $('#refNo').val();
                jsonData["RefDate"] = $('#refDate').val();
                jsonData["InvoiceDate"] = $('#invoiceDate').val();
                jsonData["BankId"] = $('#ddlBankName').val();
                jsonData["BranchId"] = $('#ddlBankBranch').val();
               
                var urlpath = '@Url.Action("SaveSupplierOldPayment", "SupplierPayment")';
                $.ajax({
                    contentType: "application/json",
                    data: JSON.stringify(jsonData),
                    dataType: 'json',
                    url: urlpath,
                    type: "POST",
                    traditional: true,
                    success: function(result) {
                        if (result.isSuccess == true) {

                            swal("Supplier Payment Save Successfully");
                            window.location.href = '@Url.Action("Index", "SupplierPayment")';
                        }
                    }
                });
            } else {
                jsonData["SupplierId"] = parseInt($('#ddlSupplier').val());
                jsonData["PaymentAmount"] = parseFloat($('#paymentAmount').val());
                jsonData["PaymentDate"] = $("#paymentDate").val();
                jsonData["Remark"] = $('textarea#txtRemark').val(); 
                jsonData["TaxAmount"] = isNaN(parseFloat($('#txtTaxAmount').val()), 0)
                        ? 0
                        : parseFloat($('#txtTaxAmount').val());

                jsonData["TaxPercent"] = isNaN(parseFloat($('#txtTaxPercent').val()), 0)
                        ? 0
                        : parseFloat($('#txtTaxPercent').val());

                jsonData["GrandTotal"] = isNaN(parseFloat($('#txtGrandTotal').val()), 0)
                       ? 0
                       : parseFloat($('#txtGrandTotal').val());

                var receiveObj = [];
                var count = 1;
                $('#orderTable tbody tr').each(function() {
                    var paymentAmount = isNaN(parseFloat($('#payAmount_' + count).val()), 0)
                        ? 0
                        : parseFloat($('#payAmount_' + count).val());


                    if (paymentAmount > 0) {

                        if ($('#chk_' + count).is(':checked')) {
                            var myReceiveObj = {};
                            myReceiveObj["PaymentType"] = $('#paymentType').val();
                            myReceiveObj["PaymentAmount"] = isNaN(parseFloat($('#payAmount_' + count).val()), 0)
                                ? 0
                                : parseFloat($('#payAmount_' + count).val());
                            myReceiveObj["TaxAmount"] = isNaN(parseFloat($('#taxDeduct_' + count).val()), 0)
                                ? 0
                                : parseFloat($('#taxDeduct_' + count).val());


                            myReceiveObj["GrandTotalD"] = isNaN(parseFloat($('#totalCollection_' + count).val()), 0)
                                ? 0
                                : parseFloat($('#totalCollection_' + count).val());

                            myReceiveObj["PurchaseType"] = $('#lblPurcaseType_' + count).text();

                            myReceiveObj["RefNo"] = $('#refNo').val();
                            myReceiveObj["RefDate"] = $('#refDate').val();
                            myReceiveObj["PurchaseOrderID"] = $('#salesOrderMasterId_' + count).val();
                            myReceiveObj["BankId"] = $('#ddlBankName').val();
                            myReceiveObj["BranchId"] = $('#ddlBankBranch').val();
                            myReceiveObj["Remark"] = $('#Remark_' + count).val();
                           
                            receiveObj.push(myReceiveObj);
                        }
                    }
                    count++;
                });
                jsonData["aDetail"] = receiveObj;
                var urlpath = '@Url.Action("SaveSupplierPayment", "SupplierPayment")';
                $.ajax({
                    contentType: "application/json",
                    data: JSON.stringify(jsonData),
                    dataType: 'json',
                    url: urlpath,
                    type: "POST",
                    traditional: true,
                    success: function(result) {
                        if (result.isSuccess == true) {

                            swal("Supplier Payment Save Successfully");
                            window.location.href = '@Url.Action("Index", "SupplierPayment")';
                        }
                    }
                });
            }

        }

        function SaveValidation() {
            var isValid = true;
            var rVal3 = true;
            var message = 'Some Values Required';
            var message3 = '';
            if ($('#ddlCustomer').val() == 0 || $('#ddlCustomer').val() == '') {
                ValidationColorChangeNew('ddlCustomer', 'divCustomer', 'Select Customer', true);
                isValid = false;
            }
            if ($('#paymentDate').val() == 0 || $('#paymentDate').val() == '') {
                ValidationColorChangeNew('paymentDate', 'divPaymentDate', 'Select PaymentDate', true);
                isValid = false;
            }
            if ($('#paymentAmount').val() == 0 || $('#paymentAmount').val() == '') {
                ValidationColorChangeNew('paymentAmount', 'divPaymentAmount', 'Amount Should more than 0', true);
                isValid = false;
            }
            if ($('#paymentType').val() == 0 || $('#paymentType').val() == '') {
                ValidationColorChangeNew('paymentType', 'divPaymentType', 'Select Payment Type', true);
                isValid = false;
            }
            if ($('#paymentType').val() != 2) {
                if ($('#refNo').val() == 0 || $('#refNo').val() == '') {
                    ValidationColorChangeNew('refNo', 'divRefNo', 'Write Ref No Or cheque No', true);
                    isValid = false;
                }
                if ($('#refDate').val() == 0 || $('#refDate').val() == '') {
                    ValidationColorChangeNew('refDate', 'divRefDate', 'Write Ref Date', true);
                    isValid = false;
                }
            }

            var totalpaid = isNaN(parseInt($('#TotalCollectionTotalAmount').val()), 0) ? 0 : parseInt($('#TotalCollectionTotalAmount').val());

            var payment = isNaN(parseInt($("#txtGrandTotal").val()), 0) ? 0 : parseInt($("#txtGrandTotal").val());
            if (totalpaid > 0 && payment > 0) {
                if (totalpaid != payment) {
                    message = "Grand Total and total paid amount must be same";

                    isValid = false;

                }
            }


            var taxamount = isNaN(parseInt($('#txtTaxAmount').val()), 0) ? 0 : parseInt($('#txtTaxAmount').val());
            var TotaltaxAmt = isNaN(parseInt($('#TaxTotalAmount').val()), 0) ? 0 : parseInt($('#TaxTotalAmount').val());

            if (TotaltaxAmt > 0 && taxamount > 0) {
                if (TotaltaxAmt != taxamount) {
                    message = "Tax amount and total paid tax amount must be same";

                    isValid = false;

                }
            }


            var count = 0;
            count = $('input:checkbox.chkp:checked').length;
            if ($('#oldSupPayment').is(":not(:checked)")) {
                if (count == 0) {
                    isValid = false;
                    message = ("Check atleast one checkbox");
                }
            }
            

            if (isValid == false) {
                ShowMessage(message);
            }

            return isValid;
        }

        function CollectionDetailsPopUp(DODetailsID, ptype) {

            ModalPopUp();

            var urlpath = '@Url.Action("GetPreviousPaymentCollection", "SupplierPayment")';
            $.ajax({
                url: urlpath,
                type: "Get",
                async: false,
                data: { DODetailsID: DODetailsID, ptype: ptype },
                success: function(result) {

                    var row = "";
                    $("#mytable1 #Traylist2").html("");
                    $.each(result, function(index, item) {

                        row += "<tr>";

                        row += "<td style='text-align:center;'><label>" + item.SerialNo + " </label></td>";
                        var daa = item.PaymentDate
                        if (daa == null) {
                            row += "<td style='text-align:center;'><label></label></td>";
                        }
                        else {
                            row += "<td style='text-align:center;'><label>" + ToJavaScriptDate(item.PaymentDate) + " </label></td>";
                        }
                        row += "<td style='text-align:center;'><label>" + item.PaymentTypeName + " </label></td>";
                        row += "<td style='text-align:center;'><label>" + item.BankName + " </label></td>";
                        row += "<td style='text-align:center;'><label>" + item.BranchName + " </label></td>";
                        row += "<td style='text-align:center;'><label>" + item.PaymentAmount + " </label></td>";
                        row += "<td style='text-align:center;'><label>" + item.TaxAmount + " </label></td>";
                        row += "<td style='text-align:center;'><label>" + item.GrandTotalD + " </label></td>";
                        row += "<td style='text-align:center;'><label>" + item.RefNo + " </label></td>";

                        var da = item.RefDate
                        if (da == null) {
                            row += "<td style='text-align:center;'><label></label></td>";
                        } else {
                            row += "<td style='text-align:center;'><label>" + ToJavaScriptDate(item.RefDate) + " </label></td>";
                        }
                        row += "<td style='text-align:center;'><label>" + item.CreateBy + " </label></td>";
                        row += "<td style='text-align:center;'><label>" + ToJavaScriptDate(item.CreateDate) + " </label></td>";
                        row += "</tr>";

                    });
                    $("#mytable1 #Traylist2").html(row);


                }


            });


        }

        function ModalPopUp() {
            $("#myDOModal").modal();
        }
    </script>
}