﻿@model IEnumerable<IGFoodProject.Models.ApprovalMenuList>
@{
    ViewBag.Title = "ApprovalDashBoard";
}
@*@{

        int onepart = 0;
        onepart =Convert.ToInt32( Math.Ceiling(Convert.ToDecimal( Model.Count())/4));
        int count = 0;
    }*@

@{
    string color = "#33ccff";
}

<div class="container">
    <div class="card-box">
        <div class="row">
            <div class="col-md-3">
                <h3 class="page-title">Approval Dashboard</h3>
            </div>
        </div>
    </div>
    <div class="card-box">

        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-3 col-xs-6">
                            <a onclick="loadPageWithId('@item.ActionName', '@item.ControllerName')">

                                <div class="text-center" style="border:1px solid; background-color:@item.bgcolor; border-color:@item.bgcolor; margin-bottom:10px;">
                                    <h3><b class="counter">@item.pending</b></h3>
                                    <p>@item.MenuName</p>
                                </div>
                                <div class="clearfix"></div>
                            </a>


                        </div>
                    }
                </div>
            </div>

            <div class="col-md-2"></div>

        </div>
        <div id="LoadingPanel" style="background-image: url(/AssetStatic/Images/loading_spinner.gif); background-position: center center; background-repeat: no-repeat; background-size: 100px 100px; height: 100px; width: 100px; position: fixed; z-index: 1000; left: 50%; top: 50%; margin: -25px 0 0 -25px">
        </div>

    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#LoadingPanel').fadeOut(2000);
        });
        function Senttopage(action, controller)
        {

            window.location.href = '@Url.Action("action","cotroller")';
        }

        function loadPageWithId(action, controller) {
            ;;
            $("#LoadingPanel").show();
            var link = '@Url.Action("Action", "Controller", new { id = "1" })';
            link = link.replace("Action", action);
            link = link.replace("Controller", controller);
            window.location.href = link;
        }

    </script>
}

