﻿@model IEnumerable<IGFoodProject.Models.ApprovalMenuList>
@{
    ViewBag.Title = "Voucher Approval DashBoard";
}

@{
    string color = "#33ccff";
}

<div class="container">
    <div class="card-box">
        <div class="row">
            <div class="col-md-5">
                <h3 class="page-title">Voucher Approval Dashboard</h3>
            </div>
        </div>
    </div>
    <div class="card-box">

        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-3 col-xs-6">
                            @*<a href="@item.ActionName">*@

                                <div class="text-center" style="border: 1px solid; background-color: @item.bgcolor; border-color: @item.bgcolor; margin-bottom: 10px;">
                                    <h3><b class="counter">@item.pending</b>
                                    </h3>
                                    <button class="btn btn-primary" style="background-color: @item.bgcolor; border-color: @item.bgcolor;" onclick="ApprovalVoucherLink(this.value)" value="@item.ControllerName"><p>@item.MenuName</p></button>
                                </div>
                                <div class="clearfix"></div>
                            @*</a>*@


                        </div>
                    }
                </div>
            </div>

            <div class="col-md-2"></div>

        </div>
        <div id="LoadingPanel" style="background-image: url(/AssetStatic/Images/loading_spinner.gif); background-position: center center; background-repeat: no-repeat; background-size: 100px 100px; height: 100px; width: 100px; position: fixed; z-index: 1000; left: 50%; top: 50%; margin: -25px 0 0 -25px">
        </div>

    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#LoadingPanel').fadeOut(2000);
        });
        function ApprovalVoucherLink(ControllerName) {
            debugger;
            var url;
            if (ControllerName === "DebitVoucher") {
                url = "@Url.Action("DebitVoucherApproval", "DebitVoucher")" + "?fromdate=" + null + "&todate=" + null + "&CompanyId=" + 0 + "&BUId=" + 0;
                window.open(url, '_blank');

            }
            if (ControllerName === "CreditVoucher") {
                url = "@Url.Action("CreditVoucherApproval", "CreditVoucher")" + "?fromdate=" + null + "&todate=" + null + "&CompanyId=" + 0 + "&BUId=" + 0;
                window.open(url, '_blank');
            }
            if (ControllerName === "JournalVoucher") {
                url = "@Url.Action("JournalVoucherApproval", "JournalVoucher")" + "?fromdate=" + null + "&todate=" + null + "&CompanyId=" + 0 + "&BUId=" + 0;
                window.open(url, '_blank');
            }
            if (ControllerName === "ContraVoucher") {
                url = "@Url.Action("ContraVoucherApproval", "ContraVoucher")" + "?fromdate=" + null + "&todate=" + null + "&CompanyId=" + 0 + "&BUId=" + 0;
                window.open(url, '_blank');
            }
   
        }
    </script>
}

