﻿
@model IGFoodProject.Models.tbl_DBToPortionRequisition2ndDetail
@{

    int sl = (int)TempData["trSl"];
}
<tr id="tr_@sl">
    <td id="ts_@sl">
        @sl
    </td>
    <td>

        <select class="form-control item" style="width: 100%;" id="dllItem_@sl" onchange="LoadStock(@sl)"></select>

    </td>
    <td>
        <input type="number" min=0 class="form-control stockQty" id="txtItemStockQty_@sl" readonly/>
    </td>
    <td>
        <input type="number" min=0 class="form-control stockKg" id="txtItemStockKg_@sl" readonly />
        <input type="number" min=0 class="form-control stockKg" id="txtPerKgStdQty_@sl" hidden />
    </td>
    <td>
        <input type="number" min=0 class="form-control itemQty" id="txtItemQty_@sl" oninput="CheckValidData(@sl)" disabled />
    </td>
    <td>
        <input type="number" min=0 class="form-control itemKg" id="txtItemKg_@sl" oninput="CheckValidDataKG(@sl); QtyInput(@sl);" />
    </td>

    <td>
        <input type="text" class="form-control remarks" id="txtRemarks_@sl" />
    </td>
    <td>
        <div class="form-group">
            <button class="btn btn-primary btn-sm addRow" onclick="AddRow()"><span class="fa fa-plus"></span></button>
            <button class="btn btn-danger btn-sm" onclick="RemoveRow(@sl)"><span class="fa fa-trash"></span></button>
        </div>
    </td>
</tr>
@section Scripts{
    <script>
        $(function () {
            $('#dllItem_@sl').val('@Model.ProductID');
        });

    </script>
}