﻿@using System.Data
@model System.Data.DataTable
@{
    int count = 1;
}
<div class="col-md-12">
    <table id="myTable_p" border="1" class="table table-bordered">
        <thead style="background-color: azure">
            <tr>
                <th style="text-align: center;">#SL</th>
                <th style="text-align: center;">Requisition No</th>
                <th style="text-align: center;">Requisition Date</th>
                <th style="text-align: center;">Production Date</th>
                <th style="text-align: center;">From Warehouse</th>
                <th style="text-align: center;">To Warehouse</th>
                <th style="text-align: center; width: 400px">Product</th>
                <th style="text-align: center;">Product Qty</th>
                <th style="text-align: center;">Product Kg</th>
                <th style="text-align: center;">Comment</th>
                <th style="text-align: center;">Unit Price</th>
            </tr>
        </thead>
        <tbody id="myTableb_p">
            @foreach (DataRow row in Model.Rows)
            {
                <tr>
                    <td>@count</td>
                    <td style="text-align: center">@row.ItemArray[1]</td>
                    <td style="text-align: center">@row.ItemArray[2]</td>
                    <td style="text-align: left">@row.ItemArray[3]</td>
                    <td style="text-align: left">@row.ItemArray[4]</td>
                    <td style="text-align: left">@row.ItemArray[5]</td>
                    <td style="text-align: left">@row.ItemArray[6]</td>
                    <td style="text-align: left">@row.ItemArray[7]</td>
                    <td style="text-align: left">@row.ItemArray[8]</td>
                    <td style="text-align: left">@row.ItemArray[9]</td>
                    <td style="text-align: left">@row.ItemArray[10]</td>
                </tr>
                count++;
            }

        </tbody>
    </table>
</div>
