﻿
@{
    ViewBag.Title = "AddPortionStockIn";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Portion Stock In Entry</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        <div class="col-md-2">
                            <div class="card-body">
                                <input type="checkbox" class="form-check-input" id="chkIsOpening" checked="checked" style="margin-left: 3px;" onclick="Checkp()" />
                                <label class="form-check-label" for="chkIsOpening" style="margin-left: 24px;">Direct Stock In</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divCompany">
                                    <label for="ddlCompany">Company</label>
                                    @*<input type="text" class="form-control" id="txtCompany" disabled="disabled" />*@
                                    <select class="form-control select2" style="width: 100%;" id="ddlCompany"></select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="margin-left:17%">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divLocation">
                                        <label for="ddlLocation">From Location</label>
                                        @*<input type="text" class="form-control" id="txtLocation" disabled="disabled" />*@
                                        <select class="form-control select2" id="ddlLocation"></select>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divToLocation">
                                        <label for="ddlToLocation">To Location</label>
                                        @*<input type="text" class="form-control" id="txtLocation" disabled="disabled" />*@
                                        <select class="form-control select2" id="ddlToLocation"></select>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divWareHouse">
                                        <label for="ddlWareHouse">Plant House</label>
                                        <select class="form-control select2" id="ddlWareHouse"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divToWareHouse">
                                        <label for="ddlToWareHouse">Stock House</label>
                                        @*<input type="text" class="form-control" id="txtWareHouse" disabled="disabled" />
                                            <input type="text" class="form-control" id="txtWareHouseId" hidden="hidden" />*@
                                        <select class="form-control select2" id="ddlToWareHouse"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divIssue">
                                        <label for="ddlIssue">Issue No</label>
                                        <select class="form-control select2" style="width: 100%;" id="ddlIssue"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divStockInDate">
                                        <label for="txtStockInDate">Stock In Date</label>
                                        <input type="text" class="form-control" id="txtStockInDate" value="@System.DateTime.Now.ToString("dd-MMM-yyyy")" />
                                    </div>
                                </div>
                            </div>



                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divReceiveBy">
                                        <label for="empAutoCom">Stock In By</label>
                                        <input type="text" class="form-control" id="empAutoCom" />
                                        <input type="number" class="form-control" id="employeeSelect" style="display:none;" /> @*style="display:none;"*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divComment">
                                        <label for="txtComment">Comment</label>
                                        <textarea class="form-control" id="txtComment" cols="7" rows="5"></textarea>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">


                            <div class="col-md-9">
                                <div class="card-body table-responsive" id="divDetail">
                                    <div class="col-md-12">
                                        <label>Issue Detail</label>
                                        <table id="myTable" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th style="text-align:center;">#SL</th>
                                                    <th style="text-align:center;">Product Name</th>
                                                    <th style="text-align:center;">Stock In Qty</th>
                                                    <th style="text-align:center;">Stock In KG </th>
                                                    <th style="text-align:center;">Unit Price</th>
                                                    <th style="text-align:center;">Remarks</th>
                                                </tr>
                                            </thead>
                                            <tbody id="myTableb"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="row">
                        <div class="card-body table-responsive">
                            <div class="col-md-12">
                                <label>Portion Stock In Description</label>
                                <table id="myTable_o" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;">#SL</th>
                                            <th style="text-align:center;">Product Name</th>
                                            <th style="text-align:center;">Stock In Qty</th>
                                            <th style="text-align:center;">Stock In KG </th>
                                            <th style="text-align:center;">Unit Price</th>
                                            <th style="text-align:center;">Expire Date</th>
                                            <th style="text-align:center;">Remarks</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="myTableb_o"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button class="btn btn-primary" onclick="SaveFinal()">Submit</button>
                            <button class="btn btn-outline-danger  float-right" onclick="location.reload()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
    @*<input id="txtOrderId" type="number" style="display:none;" value="@ViewBag.reqid">
        <input id="txtflag" type="text" style="display:none;" value="@ViewBag.flagid">*@
</section>

@section Scripts{
    <script>
        var AllItemList = {};
        $(function () {
            //var id = $('#txtOrderId').val();
            LoadCompany('ddlCompany');


            $("#ddlCompany").val(7);
            LoadLocation('ddlLocation', $("#ddlCompany").val());
            $("#ddlLocation").val(4);

            LoadLocation('ddlToLocation', $("#ddlCompany").val());
            $("#ddlToLocation").val(4);
            LoadFromWareHouse();
            //$('#ddlWareHouse').val('10').trigger('change');

            LoadIssue('ddlIssue'); 



            LoadWareHouse('ddlToWareHouse', 4, 3);
            $('#ddlToWareHouse').val('10').trigger('change');






            //LoadLocation('ddlLocation', $("#ddlCompany").val());
            //LoadLocation('ddlToLocation', $("#ddlCompany").val());
            //LoadIssue('ddlIssue');
            $('#divDetail').hide();
            LoadDate('#txtStockInDate');


            EmpAutoCom('empAutoCom', 'employeeSelect');


            $('#ddlIssue').change(function () {
                var reqId = $(this).val();
                $('#divDetail').show();
                LoadRequisitionDetaillList(reqId);
            });

            $('#ddlCompany').change(function () {
                var reqId = $(this).val();

                LoadLocation('ddlLocation', reqId)
            });

            //$('#ddlLocation').change(function () {
            //    var locid = $(this).val();
            //    var wareHouseTypeid = 3;
            //    LoadWareHouse('ddlWareHouse', locid, wareHouseTypeid);
            //});
            $('#ddlToLocation').change(function () {
                var locid = $(this).val();
                var wareHouseTypeid = 3;
                LoadWareHouse('ddlToWareHouse', locid, wareHouseTypeid);
            });
            $('#ddlWareHouse').change(function () {
                var locid = $(this).val();
                LoadIssue('ddlIssue');
            });

            Checkp();
            LoadItemDescription();
            AddRow();
            $("#chkIsOpening").attr('disabled', true);
            $("#ddlCompany").attr('disabled', true);
            var authorizedUser = ['20682', '20746', '20662','20643'];
            var userId = [];
            var sessionId = $('#empAutoCom').val();
            userId = sessionId.split(':');
            var id = userId[0].trim();
            if ($.inArray(id, authorizedUser) >= 0) {
                $("#myTable_o").show();
            } else {
                $("#myTable_o").hide();
                swal({
                    title: "You Have No Permission",
                    text: "",
                    type: "warning",
                    //showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'বেরিয়ে যাও!',
                    closeOnConfirm: false
                }, function () {
                   window.location.href = '@Url.Action("AddPortionStockIn", "PortionStockIn")';
                });
            }


        });
        function Checkp() {
            var checkp = $("#chkIsOpening").prop("checked");
            if (checkp == false) { //if this item is unchecked
                $("#ddlIssue").prop('disabled', false);

            }
            else {

                $("#ddlIssue").prop('disabled', true);
                $("#ddlLocation").prop('disabled', true);
                $("#ddlWareHouse").prop('disabled', true);
                $('#divDetail').hide();

            }
        }
        function LoadFromWareHouse() {

            var locid = $('#ddlLocation').val();
            var wt = 2;
            LoadWareHouse('ddlWareHouse', locid, wt);

        }

        function LoadItemDescription() {
            var urlpath = '@Url.Action("LoadProduct", "PortionStockIn")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {
                    debugger;
                    AllItemList = data;
                }
            });
        }

        function LoadItemList(elementId) {




            var array = [];
            var rowCount = $('#myTable_o tbody tr').length;
            for (let count = 1; count < rowCount; count++) {
                array.push(parseInt($("#ProductName_" + count).val()));
            };
            $('#' + elementId + '').append("<option value='0'>--Select Product--</option>");

            for (var i = 0; i < AllItemList.length; i++) {
                var a = AllItemList[i].ProductId;
                if (jQuery.inArray(AllItemList[i].ProductId, array) == -1) {

                    $('#' + elementId + '').append($("<option></option>").val(AllItemList[i].ProductId).html(AllItemList[i].ProductName));
                }

            }

        }

        function AddRow() {

            var tr = $('#myTable_o tbody tr').length + 1;
            var ddlName = 'ProductName_' + tr;
            var urlpath = '@Url.Action("GetAddRow", "PortionStockIn")';
            $.ajax({
                url: urlpath,
                dataType: 'HTML',
                type: "Get",
                data: { tr: tr },
                async: true,
                success: function (data) {

                    $('#myTable_o tbody').append(data);
                    LoadItemList(ddlName);
                    LoadDate('#expDate_' + tr);
                    $('#ProductName_' + tr).select2();
                }
            });
        }
        function RemoveRow(trId) {
            if (($('#myTable_o tbody tr').length) > 1) {
                $('#tr_' + trId + '').remove();
            }

        }
        function LoadSalablePrice(itemid) {

            var productid = $('#ProductName_' + itemid).val();
            var urlpath = '@Url.Action("LoadSalablePriceByID", "DressBirdInStock")';
            $.ajax({
                url: urlpath,
                dataType: 'HTML',
                type: "Get",
                data: { productid: productid },
                async: true,
                success: function (data) {


                    $('#UnitPrice_' + itemid).val(data);

                }
            });
        }
        function SaveFinal() {

            if (SaveValidation()) {
                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveRequisition();

                });
            }



        }


        function SaveRequisition() {


            var isOpening = $("#chkIsOpening").prop("checked");
            var stockInMasterId = 0;
            var wareHouseId = parseInt($('#ddlToWareHouse').val());
            var locationId = parseInt($('#ddlToLocation').val());
            var CompanyId = parseInt($('#ddlCompany').val());
            var stockInDate = $('#txtStockInDate').val();
            var comments = $('#txtComments').val();
            var stockInBy = $('#empAutoCom').val();
            var DBIssueMasterID = $('#ddlIssue').val();
            var jsonData = {};
            jsonData["StockInMasterID"] = stockInMasterId;
            jsonData["WareHouseId"] = wareHouseId;
            jsonData["StockInDate"] = stockInDate;
            jsonData["Comments"] = comments;
            jsonData["StockInBy"] = stockInBy;
            jsonData["CompanyId"] = CompanyId;
            jsonData["LocationId"] = locationId;
            if (isOpening == true) {
                jsonData["IsOpening"] = 5;
            }
            else {
                jsonData["IsOpening"] = 4;
            }
            jsonData["GroupId"] = 5;
            jsonData["DBIssueMasterID"] = DBIssueMasterID;
            var receiveobj = [];

            var rowCount = $('#myTable_o tbody tr').length;
            for (var i = 0; i < rowCount; i++) {

                var item = i + 1;

                var ProductName = parseInt($("#ProductName_" + item).val());
                var StockInQty = isNaN(parseFloat($("#StockInQty_" + item).val()), 0) ? 0 : parseFloat($("#StockInQty_" + item).val());
                var StockInKG = isNaN(parseFloat($("#StockInKG_" + item).val()), 0) ? 0 : parseFloat($("#StockInKG_" + item).val());
                var UnitPrice = isNaN(parseFloat($("#UnitPrice_" + item).val()), 0) ? 0 : parseFloat($("#UnitPrice_" + item).val());

                var ExpireDate = $("#expDate_" + item).val();
                var Remarks = $("#Remarks_" + item).val();
                var myreceiveobj = {};

                myreceiveobj["StockInDetailID"] = 0;


                myreceiveobj["ItemID"] = 0;
                myreceiveobj["ProductID"] = ProductName;


                myreceiveobj["StockInDate"] = stockInDate;

                myreceiveobj["StockInQty"] = StockInQty;
                myreceiveobj["StockInKG"] = StockInKG;
                myreceiveobj["UnitPrice"] = UnitPrice;
                myreceiveobj["ExpireDate"] = ExpireDate;
                myreceiveobj["Remark"] = Remarks;
                myreceiveobj["PUnitPrice"] = 0;

                receiveobj.push(myreceiveobj);


            }

            jsonData["aDetail"] = receiveobj;
            var urlpath = '@Url.Action("SavePortionStock", "PortionStockIn")';
            $.ajax({
                contentType: "application/json",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "POST",
                traditional: true,
                success: function (result) {
                    if (result.isSuccess == true) {

                        swal("Portion Stock in Save Succesfully");

                        window.location.href = '@Url.Action("AddPortionStockIn", "PortionStockIn")';
                    }
                }
            });



            //////////////////////////////////////////////////////////////////////////////////////////////////


        }




        function SaveValidation() {
            var isValid = true;
            var message = 'Some Values Required';

            var checkp = $("#chkIsOpening").prop("checked");

            if (checkp == false) {
                if ($('#ddlIssue').val() == 0 || $('#ddlIssue').val() == '') {
                    ValidationColorChangeNew('ddlIssue', 'divIssue', 'Select Issue', true);
                    isValid = false;
                }
            }

            if ($('#ddlCompany').val() == 0 || $('#ddlCompany').val() == '') {
                ValidationColorChangeNew('ddlCompany', 'divCompany', 'Select Company', true);
                isValid = false;
            }

            if (checkp == false) {
                if ($('#ddlLocation').val() == 0 || $('#ddlLocation').val() == '') {
                    ValidationColorChangeNew('ddlLocation', 'divLocation', 'Select Location', true);
                    isValid = false;
                }

                if ($('#ddlWareHouse').val() == 0 || $('#ddlWareHouse').val() == '') {
                    ValidationColorChangeNew('ddlWareHouse', 'divWareHouse', 'Select Waerhouse', true);
                    isValid = false;
                }
            }
            if ($('#ddlToLocation').val() == 0 || $('#ddlToLocation').val() == '') {
                ValidationColorChangeNew('ddlToLocation', 'divToLocation', 'Select To Location', true);
                isValid = false;
            }
            if ($('#ddlToWareHouse').val() == 0 || $('#ddlToWareHouse').val() == '') {
                ValidationColorChangeNew('ddlToWareHouse', 'divToWareHouse', 'Select To Warehouse', true);
                isValid = false;
            }




            if ($('#txtStockInDate').val() == null || $('#txtStockInDate').val() == '') {
                ValidationColorChangeNew('txtStockInDate', 'divStockInDate', 'Stock In Date Required', true);
                isValid = false;
            }



            if ($('#empAutoCom').val() == null || $('#empAutoCom').val() == '') {
                ValidationColorChangeNew('empAutoCom', 'divStockInBy', 'Stock In By Required', true);
                isValid = false;
            }


            var rowCount = $('#myTable_o tbody tr').length;
            for (var i = 0; i < rowCount; i++) {

                var item = i + 1;
                if ($("#ProductName_" + item).val() == 0 || $("#ProductName_" + item).val() == '') {
                    //ValidationColorChange('ProductName_0_', "tr" + [i] + "Select a Product", false);
                    isValid = false;
                    $("#ProductName_" + item).css('border-bottom', '2px solid red');
                }
                else {
                    $("#ProductName_" + item).css('border-bottom', '');
                }

                if ($("#StockInKG_" + item).val() == 0 || $("#StockInKG_" + item).val() == '') {
                    $("#StockInKG_" + item).css('border-bottom', '2px solid red');
                    isValid = false;
                }
                else {
                    $("#StockInKG_" + item).css('border-bottom', '');
                }

                if ($("#UnitPrice_" + item).val() == 0 || $("#UnitPrice_" + item).val() == '') {
                    $("#UnitPrice_" + item).css('border-bottom', '2px solid red');
                    isValid = false;
                }
                else {
                    $("#UnitPrice_" + item).css('border-bottom', '');
                }
                if ($("#expDate_" + item).val() == null || $("#expDate_" + item).val() == '') {
                    $("#expDate_" + item).css('border-bottom', '2px solid red');
                    isValid = false;
                }
                else {
                    $("#expDate_" + item).css('border-bottom', '');
                }

            }

            if (isValid == false) {
                ShowMessage(message);
            }
            return isValid;

        }



        function LoadIssue(elementId) {

            var urlpath = '@Url.Action("LoadIssue", "PortionStockIn")';
            var warehouseid = $("#ddlWareHouse").val();
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { warehouseid: warehouseid },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Issue--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].DBIssueMasterID).html(data[i].IssueNo));
                    }

                }
            });
        }






        function LoadRequisitionDetaillList(DBIssueMasterID) {

            var tablecontents = "";
            $("#myTableb").html("");
            var urlpath = '@Url.Action("LoadIssueDetail", "PortionStockIn")';

            $.ajax({

                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { DBIssueMasterID: DBIssueMasterID },
                async: false,
                success: function (data) {

                    if (data.length > 0) {



                        $.each(data, function (index, item) {




                            tablecontents += "<tr id='trmain'>";




                            tablecontents += "<td  style='text-align:center'>" + item.serialno + "</td>";


                            tablecontents += "<td style='text-align:center'>" + item.ProductName + "</td>";


                            tablecontents += "<td style='text-align:center;'>" + item.TargetQty + "</td>";
                            tablecontents += "<td style='text-align:center;'>" + item.TargetQtyInKG + "</td>";


                            tablecontents += "<td style='text-align:center;'>" + item.UnitPrice + "</td>";

                            tablecontents += "<td style='text-align:center;'>" + item.Remark + "</td>";



                            tablecontents += "</tr>";
                            //LoadDate('#expireDate_' + item.ProductID + "_" + item.BDToPortionIssue2ndDetail);

                        });



                        //alert(tablecontents);
                        $("#myTableb").html(tablecontents);
                    }


                }



            });


        }



        function LoadRequisitionDetaillList_o() {

            var tablecontents = "";
            $("#myTableb_o").html("");
            var urlpath = '@Url.Action("LoadProduct", "PortionStockIn")';

            $.ajax({

                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {

                    if (data.length > 0) {


                        var se = 0;
                        $.each(data, function (index, item) {
                            se = se + 1;

                            tablecontents += "<tr id='trmain'>";

                            tablecontents += "<td style='display: none;' ><input type='text' class='itemd'  value = '" + item.ProductId + "'/></td>";

                            tablecontents += "<td  style='text-align:center'>" + se + "</td>";

                            tablecontents += "<td style='text-align:center'>" + item.ProductName + "</td>";

                            tablecontents += "<td style='text-align:center;'><input type='number' min='0' style='text-align:center;'  id='StockInQty_" + item.ProductId + "' value = ''/></td>";
                            tablecontents += "<td style='text-align:center;'><input type='number' min='0' style='text-align:center;'  id='StockInKG_" + item.ProductId + "'  value = ''  /></td>";
                            tablecontents += "<td style='text-align:center;'><input type='number' min='0' style='text-align:center;'  id='UnitPrice_" + item.ProductId + "'  value = '' /></td>";
                            tablecontents += "<td style='text-align:center;'><input type='text'  style='text-align:center;'  id='expireDate_" + item.ProductId + "'/></td>";


                            tablecontents += "<td style='text-align:center;'><input type='text'   id='Remarks_" + item.ProductId + "' value = '' /></td>";

                            tablecontents += "</tr>";
                            //LoadDate('#expireDate_' + item.ProductID + "_" + item.BDToPortionIssue2ndDetail);

                        });



                        //alert(tablecontents);
                        $("#myTableb_o").html(tablecontents);
                    }


                }

            });

            $('#myTableb_o tr#trmain').each(function () {


                var iid = isNaN(parseInt($(this).find(".itemd").val()), 0) ? 0 : parseInt($(this).find(".itemd").val());

                LoadDate('#expireDate_' + iid);


            });
        }





        function Total(itemid, productid) {
            var StockInQty = $("#StockInQty_" + itemid + "_" + productid).val();
            var StockInKG = $("#StockInKG_" + itemid + "_" + productid).val();

            var TargetInQty = $("#TargetInQty_" + itemid + "_" + productid).val();
            var TargetInKG = $("#TargetInKG_" + itemid + "_" + productid).val();



            if (parseFloat(StockInQty) > parseFloat(TargetInQty)) {
                swal('Target Qty can not be grater then stock qty');
                $("#StockInQty_" + itemid + "_" + productid).val('');
                return;
            }
            if (parseFloat(StockInKG) > parseFloat(TargetInKG)) {
                swal('Target Qty In KG can not be grater then stock in KG');
                $("#StockInKG_" + itemid + "_" + productid).val('');
                return;
            }

        }




    </script>
}




