﻿@using System.Data
@model System.Data.DataTable
@{ int count = 1;}
<table id="salesTable" border="1" class="table dataTable table-bordered table-striped table-hover">
    <thead>
        <tr style="background-color: aliceblue">
            <th colspan="3"></th>
            <th colspan="12">In Flow</th>
            <th colspan="10">Out Flow</th>
            <th colspan="2">Current</th>
        </tr>
        <tr style="background-color: aliceblue">
            <th rowspan="2"  style="text-align: center">SL</th>
            <th rowspan="2" style="text-align: center">Product Code</th>
            <th rowspan="2" style="text-align: center">Product Name</th>
            <th colspan="2" style="text-align: center">Opening</th>
            <th colspan="2" style="text-align: center">Direct In</th>
            <th colspan="2" style="text-align: center">STO</th>
            <th colspan="2" style="text-align: center">Production</th>
            <th colspan="2" style="text-align: center">Sale Return</th>
            <th colspan="2" style="text-align: center">Total In</th>
            <th colspan="2" style="text-align: center">Direct Out</th>
            <th colspan="2" style="text-align: center">STO</th>
            <th colspan="2" style="text-align: center">Production</th>
            <th colspan="2" style="text-align: center">Sale</th>
            <th colspan="2" style="text-align: center">Total Out</th>
            <th colspan="2" style="text-align: center">Current</th>
            
        </tr>
        <tr style="background-color: aliceblue">
            <th style="text-align: center">Qty</th>
            <th style="text-align: center">Kg</th>
            <th style="text-align: center">Qty</th>
            <th style="text-align: center">Kg</th>
            <th style="text-align: center">Qty</th>
            <th style="text-align: center">Kg</th>
            <th style="text-align: center">Qty</th>
            <th style="text-align: center">Kg</th>
            <th style="text-align: center">Qty</th>
            <th style="text-align: center">Kg</th>
            <th style="text-align: center">Qty</th>
            <th style="text-align: center">Kg</th>
            <th style="text-align: center">Qty</th>
            <th style="text-align: center">Kg</th>
            <th style="text-align: center">Qty</th>
            <th style="text-align: center">Kg</th>
            <th style="text-align: center">Qty</th>
            <th style="text-align: center">Kg</th>
            <th style="text-align: center">Qty</th>
            <th style="text-align: center">Kg</th>
            <th style="text-align: center">Qty</th>
            <th style="text-align: center">Kg</th>
            
            <th style="text-align: center">Qty</th>
            <th style="text-align: center">Kg</th>
        </tr>
    </thead>
    <tbody class="Traylist">
        @foreach (DataRow row in Model.Rows)
        {
            <tr>
                <td>@count</td>
                <td style="text-align: center">@row.ItemArray[0]</td>
                <td style="text-align: center">@row.ItemArray[1]</td>
                @if (row.ItemArray[2].ToString() == "0.000")
                {
                    <td style="text-align: center"></td>
                }
                else
                {
                    <td style="text-align: center">@row.ItemArray[2]</td>
                }
              
                @if (row.ItemArray[3].ToString() == "0.000")
                {
                    <td style="text-align: center"></td>
                }
                else
                {
                    <td style="text-align: center">@row.ItemArray[3]</td>
                }

                @if (row.ItemArray[4].ToString() == "0.000")
                {
                    <td style="text-align: center"></td>
                }
                else
                {
                    <td style="text-align: center">@row.ItemArray[4]</td>
                }
                @if (row.ItemArray[5].ToString() == "0.000")
                {
                    <td style="text-align: center"></td>
                }
                else
                {
                    <td style="text-align: center">@row.ItemArray[5]</td>
                }

                @if (row.ItemArray[6].ToString() == "0.000")
                {
                    <td style="text-align: center"></td>
                }
                else
                {
                    <td style="text-align: center">@row.ItemArray[6]</td>
                }
                @if (row.ItemArray[7].ToString() == "0.000")
                {
                    <td style="text-align: center"></td>
                }
                else
                {
                    <td style="text-align: center">@row.ItemArray[7]</td>
                }

                @if (row.ItemArray[8].ToString() == "0.000")
                {
                    <td style="text-align: center"></td>
                }
                else
                {
                    <td style="text-align: center">@row.ItemArray[8]</td>
                }
                @if (row.ItemArray[9].ToString() == "0.000")
                {
                    <td style="text-align: center"></td>
                }
                else
                {
                    <td style="text-align: center">@row.ItemArray[9]</td>
                }
                @if (row.ItemArray[10].ToString() == "0.000")
                {
                    <td style="text-align: center"></td>
                }
                else
                {
                    <td style="text-align: center">@row.ItemArray[10]</td>
                }
                @if (row.ItemArray[11].ToString() == "0.000")
                {
                    <td style="text-align: center"></td>
                }
                else
                {
                    <td style="text-align: center">@row.ItemArray[11]</td>
                }
                @if (row.ItemArray[12].ToString() == "0.000")
                {
                    <td style="text-align: center"></td>
                }
                else
                {
                    <td style="text-align: center">@row.ItemArray[12]</td>
                }
                @if (row.ItemArray[13].ToString() == "0.000")
                {
                    <td style="text-align: center"></td>
                }
                else
                {
                    <td style="text-align: center">@row.ItemArray[13]</td>
                }
                @if (row.ItemArray[14].ToString() == "0.000")
                {
                    <td style="text-align: center"></td>
                }
                else
                {
                    <td style="text-align: center">@row.ItemArray[14]</td>
                }
                @if (row.ItemArray[15].ToString() == "0.000")
                {
                    <td style="text-align: center"></td>
                }
                else
                {
                    <td style="text-align: center">@row.ItemArray[15]</td>
                }
                @if (row.ItemArray[16].ToString() == "0.000")
                {
                    <td style="text-align: center"></td>
                }
                else
                {
                    <td style="text-align: center">@row.ItemArray[16]</td>
                }
                @if (row.ItemArray[17].ToString() == "0.000")
                {
                    <td style="text-align: center"></td>
                }
                else
                {
                    <td style="text-align: center">@row.ItemArray[17]</td>
                }
                @if (row.ItemArray[18].ToString() == "0.000")
                {
                    <td style="text-align: center"></td>
                }
                else
                {
                    <td style="text-align: center">@row.ItemArray[18]</td>
                }
                @if (row.ItemArray[19].ToString() == "0.000")
                {
                    <td style="text-align: center"></td>
                }
                else
                {
                    <td style="text-align: center">@row.ItemArray[19]</td>
                }
                @if (row.ItemArray[20].ToString() == "0.000")
                {
                    <td style="text-align: center"></td>
                }
                else
                {
                    <td style="text-align: center">@row.ItemArray[20]</td>
                }
                @if (row.ItemArray[21].ToString() == "0.000")
                {
                    <td style="text-align: center"></td>
                }
                else
                {
                    <td style="text-align: center">@row.ItemArray[21]</td>
                }
                @if (row.ItemArray[22].ToString() == "0.000")
                {
                    <td style="text-align: center"></td>
                }
                else
                {
                    <td style="text-align: center">@row.ItemArray[22]</td>
                }
                @if (row.ItemArray[23].ToString() == "0.000")
                {
                    <td style="text-align: center"></td>
                }
                else
                {
                    <td style="text-align: center">@row.ItemArray[23]</td>
                }

                @if (row.ItemArray[24].ToString() == "0.000")
                {
                    <td style="text-align: center"></td>
                }
                else
                {
                    <td style="text-align: center">@row.ItemArray[24]</td>
                }
                @if (row.ItemArray[25].ToString() == "0.000")
                {
                    <td style="text-align: center"></td>
                }
                else
                {
                    <td style="text-align: center">@row.ItemArray[25]</td>
                }
               
                @*<td style="text-align: center">@row.ItemArray[24]</td>*@
                @*<td style="text-align: center">@row.ItemArray[25]</td>*@
                
            </tr>
            count++;
        }
    </tbody>
    <tfoot>
        <tr>
            <th colspan="3" style="text-align: center">Total</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[2])))</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[3])))</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[4])))</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[5])))</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[6])))</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[7])))</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[8])))</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[9])))</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[10])))</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[11])))</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[12])))</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[13])))</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[14])))</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[15])))</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[16])))</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[17])))</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[18])))</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[19])))</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[20])))</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[21])))</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[22])))</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[23])))</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[24])))</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[25])))</th>
            @*<th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[24])))</th>*@
            
            
        </tr>
    </tfoot>
</table>


