﻿
@{
    ViewBag.Title = "ProductInOut";
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="card-title"><span class="fa fa-list"></span>Product In Out Detail Report</h3>
                            </div>
                            <div class="col-md-6 text-right">

                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card" style="height: 335px">
                                    <div class="card-header">
                                        <h3 class="card-title">
                                            <i class="fa fa-arrow-down"></i>
                                            Wearhouse Related Data
                                        </h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <div class="">
                                            <div class="form-group" id="divCompany">
                                                <label for="ddlCompany">Company</label>
                                                <select class="form-control select2" style="width: 100%;" id="ddlCompany"></select>
                                            </div>
                                        </div>
                                        <div class="">
                                            <div class="form-group" id="divLocation">
                                                <label for="ddlLocation">Location</label>
                                                <select class="form-control select2" style="width: 100%;" id="ddlLocation"></select>
                                            </div>
                                        </div>
                                        <div class="">
                                            <div class="form-group" id="divWareHouse">
                                                <label for="ddlWareHouse">Warehouse</label>
                                                <select class="form-control select2" style="width: 100%;" id="ddlWareHouse"></select>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <div class="col-md-4">
                                <div class="card" style="height: 335px">
                                    <div class="card-header">
                                        <h3 class="card-title">
                                            <i class="ion ion-clipboard mr-1"></i>
                                            Date Range
                                        </h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">

                                        <div class="row">


                                            <div class="col-md-12">
                                                <div class="form-group" id="divStockDate">
                                                    <label for="dressDateId ">Stock In Date Range</label>
                                                    <input type="text" class="form-control" autocomplete="off" id="dateRange">
                                                </div>
                                            </div>

                                        </div>



                                    </div>
                                    <!-- /.card-body -->
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card" style="height: 335px">
                                    <div class="card-header">
                                        <h3 class="card-title">
                                            <i class="ion ion-clipboard mr-1"></i>
                                            Product Related Data
                                        </h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">

                                        <div class="row">


                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="ddlGroup">Group</label>
                                                    <select id="ddlGroup" class="form-control select2"></select>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="ddlType">Type</label>
                                                    <select id="ddlType" class="form-control select2"></select>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="ddlCategory">Category</label>
                                                    <select id="ddlCategory" class="form-control select2"></select>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="ddlProduct">Product</label>
                                                    <select id="ddlProduct" class="form-control select2"></select>
                                                </div>
                                            </div>

                                        </div>



                                    </div>
                                    <!-- /.card-body -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary float-right" onclick="LoadReport()">Search</button>
                        <button class="btn btn-success float-right" onclick="exportExcel()"><span class="fa fa-print"></span> Export To Excel</button>
                    </div>
                </div>

            </div>
            <div class="card divclass" id="salesReportDiv">
                <div class="card-header with-border">
                    <div id="">
                        <h3 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="companyHeader"></h3>
                        <h4 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="reportHeader"></h4>

                        <div class="row">
                            <div class="offset-md-9 col-md-3">
                                <label id="reportDate"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive" id="salesReport">
                </div>
            </div>
        </div>
        <!-- /.row -->
        <div id="ajaxLoaderDiv" style="position: fixed; top: 40%; left: 45%; z-index: 1234;">
            <img src="@Url.Content("~/AssetStatic/Images/Double Ring.gif")" alt="Loading..." class="ajax-loader" />
        </div>
    </div><!-- /.container-fluid -->
</section>
<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
@section Scripts{
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script>


        $(function () {
            $('#ajaxLoaderDiv').hide();
            debugger;
            LoadCompany('ddlCompany');
            $("#ddlCompany").val(7).trigger("change");
            LoadLocation('ddlLocation');
            //$("#ddlLocation").val(4).trigger("change");
            LoadWareHouseMultipleType('ddlWareHouse', $("#ddlLocation").val(), '2,3,4,5');
            //$("#ddlWareHouse").val(10).trigger("change");

            $('#ddlLocation').change(function(){
                LoadWareHouseMultipleType('ddlWareHouse', $("#ddlLocation").val(), '2,3,4,5');
            });
            $('#dateRange').daterangepicker({
                locale: {
                    format: 'DD MMM YYYY'
                }
            });

            LoadGroup();
            LoadType(0);
            LoadCategory(0);
            LoadProduct(0, 0, 0);

            $('#ddlGroup').change(function () {
                var groupid = $(this).val();
                var typeid = $('#ddlType').val();
                var categoryid = $('#ddlCategory').val();
                LoadType(groupid);
                LoadProduct(groupid, typeid, categoryid);


            });

            $('#ddlType').change(function () {
                var typeid = $(this).val();
                LoadCategory(typeid);
                var groupid = $('#ddlGroup').val();
                var categoryid = $('#ddlCategory').val();
                LoadProduct(groupid, typeid, categoryid);

            });

            $('#ddlCategory').change(function () {
                var groupid = $('#ddlGroup').val();
                var typeid = $('#ddlType').val();
                var categoryid = $('#ddlCategory').val();
                LoadProduct(groupid, typeid, categoryid);

            });

        });
        function exportExcel(e) {

            if ($('#salesTable tbody tr').length == 0) {
                swal("No Data to Export");
            } else {

                var file = new Blob([$('#salesReportDiv').html()], { type: "application/vnd.ms-excel" });
                var url = URL.createObjectURL(file);
                var a = $("<a />", {
                    href: url,
                    download: "ProductInOut.xls"

                }).appendTo("body").get(0).click();
                e.preventDefault();
            }



        }

        function LoadGroup() {
            var urlpath = '@Url.Action("LoadGroup", "ProductType")';

            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {
                    $('#ddlGroup').empty();
                    $('#ddlGroup').append("<option value='0'>--Select Group--</option>");


                    for (var i = 0; i < data.length; i++) {

                        $("#ddlGroup").append($("<option></option>").val(data[i].GroupId).html(data[i].GroupName));

                    }
                }
            });
        }

        function LoadType(groupid) {
            var urlpath = '@Url.Action("LoadType", "ProductCategory")';

            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { groupid: groupid },
                async: false,
                success: function (data) {
                    $('#ddlType').empty();
                    $('#ddlType').append("<option value='0'>--Select Type--</option>");


                    for (var i = 0; i < data.length; i++) {

                        $("#ddlType").append($("<option></option>").val(data[i].TypeId).html(data[i].TypeName));

                    }
                }
            });
        }

        function LoadCategory(typeid) {
            var urlpath = '@Url.Action("CategoryListByTypeID", "Product")';

            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { typeid: typeid },
                async: false,
                success: function (data) {
                    $('#ddlCategory').empty();
                    $('#ddlCategory').append("<option value='0'>--Select Category--</option>");


                    for (var i = 0; i < data.length; i++) {

                        $("#ddlCategory").append($("<option></option>").val(data[i].CategoryId).html(data[i].CategoryName));

                    }
                }
            });
        }
        function LoadProduct(groupid, typeid, categoryid) {
            var urlpath = '@Url.Action("LoadProduct", "ProductInOutReport")';

            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { groupid: groupid, typeid: typeid, categoryid: categoryid },
                async: false,
                success: function (data) {
                    $('#ddlProduct').empty();
                    $('#ddlProduct').append("<option value='0'>--Select Product--</option>");


                    for (var i = 0; i < data.length; i++) {

                        $("#ddlProduct").append($("<option></option>").val(data[i].ProductId).html(data[i].ProductName));

                    }
                }
            });
        }
        function RptValidation() {



            var isValid = true;
            var dateRange = $('#dateRange').val();



            if (dateRange == 0 || dateRange == '') {
                ValidationColorChangeNew('dateRange', 'divStockDate', 'Please Select Stock Date', true);
                isValid = false;
            }
            //if (($('#stockMonth').val() == 0 || $('#stockMonth').val() == '') && rpt == 'MonthlyStockSummery') {
            //    ValidationColorChangeNew('stockMonth', 'divstockMonth', 'Please Select Stock Month', true);
            //    isValid = false;
            //}

            //if ($('#ddlReportName').val() == 0 || $('#ddlReportName').val() == '') {
            //    ValidationColorChangeNew('ddlReportName', 'divReportName', 'Please Select Report Name', true);
            //    isValid = false;
            //}
            return isValid;
        }

        function LoadReport() {
            if (RptValidation() == true) {

                var urlpath = '@Url.Action("ProductInOutReport", "ProductInOutReport")';

                var array = [];
                var dateRange = $('#dateRange').val();
                array = dateRange.split('-');


                $.ajax({
                    url: urlpath,
                    data: { fromDate: array[0], toDate: array[1], Company: $("#ddlCompany").val(), Location: $("#ddlLocation").val(), Warehouse: $("#ddlWareHouse").val(), Group: $("#ddlGroup").val(), Type: $("#ddlType").val(), Category: $("#ddlCategory").val(), ProductId: $("#ddlProduct").val() },
                    dataType: 'html',
                    type: "Get",
                    success: function (data) {
                        $('#reportHeader').html("Product Wise In Out Report");
                        $('#companyHeader').html("IG FOODS LTD.");

                        $("#salesReport").html(data);

                    },
                    complete: function () {

                        $('#reportDate').text('Report from: ' + array[0] + 'to :' + array[1]);
                        $("#salesTable").datatable();
                    }

                });
            }
        }





    </script>
}
