﻿
@{
    ViewBag.Title = "Issue Items";
}

<style>
    #manuallist {
        padding: 10px;
    }

    .form-control {
        height: calc(1.7rem + 2px);
    }
</style>




<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                @*<h3 class="card-title">
                                    New Item Issue
                                </h3>
                                <br/>*@
                                <h3 class="card-title">
                                   
                                        <span class=""> Item Issue , Requisition NO :</span>
                                    <span id="txtRequisition"></span>
                                 
                                </h3>

                                @*<a href="@Url.Action("IssueRequisition", "StockOut", new {id = 0})">
                                        <h3 class="card-title">
                                            @if (ViewBag.RequisitionId == 0)
                                            {
                                                <span class=""> New Issue Requisition</span>

                                            }
                                            else
                                            {
                                                <span class=""> Edit Issue Requisition</span>
                                            }
                                        </h3>
                                    </a>*@
                            </div>
                            <div class="col-md-6 text-right">
                                <a class="btn btn-outline-warning" href="@Url.Action("PendingIssueList", "StockOut")">
                                    <span class="fa fa-list"></span> Pending  List For Issue

                                </a>
                            </div>
                        </div>

                    </div>
                    <br />
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">


                                <div class="form-group" id="divReceiveWarehouse">
                                    <label for="txtWarehouse" class="control-label col-md-4">Warehouse</label>
                                    <div class="col-md-8">
                                        <span id="txtWarehouse"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group" id="divDepartment">
                                    <label for="txtDept" class="control-label col-md-4">Section</label>
                                    <div class="col-md-8">
                                        <span id="txtDept"></span>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" id="divIssueDate1">
                                    <label for="txtIssueDate">Issue Date</label>
                                    <input type="text" id="txtIssueDate" class="form-control datepicker" value="@DateTime.Now.ToString("dd-MMM-yyyy")" />
                                </div>
                            </div>





                        </div>
                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group" id="divIssueDate">
                                    <label for="txtRequsitionDate" class="control-label col-md-4">Requisition Date</label>
                                    <div class="col-md-8">
                                        <span id="txtRequsitionDate"></span>
                                    </div>

                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group" id="divIssue">
                                    <label for="ddlRequisitionBy" class="control-label col-md-4">Requisition By</label>
                                    <div class="col-md-8">
                                        <span id="txtRequisitionBy"></span>
                                    </div>
                               
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group" id="divIssue1">
                                    @*<label for="ddlIssueBy">Issue By </label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlIssueBy"></select>*@
                                    <label for="empAutoCom">Issue By<span style="color: red; font-weight: bold"> *</span></label>
                                    <input type="text" class="form-control" id="empAutoCom"/>
                                    <input type="number" class="form-control" id="employeeSelect" style="display: none"/>
                                </div>
                            </div>


                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group" id="divProject">
                                    <label class="control-label col-md-4">Project Name</label>
                                    <div class="col-md-8">
                                        <span id="txtProject"></span>
                                        <input type="number" class="form-control" id="txtProjectId" style="display: none" />
                                    </div>
                                </div>
                            </div>



                        </div>
                        <br />


                        <div class="row table-responsive" style="padding-top: 10px">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <table class="table table-bordered table-striped table-hover" id="debitVoucher">
                                        <thead>
                                            <tr>
                                                <th style="text-align:center;">Check</th>
                                                <th class="text-center" style="width:3%">#</th>
                                                <th class="text-center" style="width: 350px">Item Name</th>
                                                <th class="text-center" style="width: 200px">Unit</th>
                                                <th class="text-center" style="width: 200px">Purpose</th>
                                                <th class="text-center" class="text-center" style="width: 250px">Stock Qty</th>
                                                <th class="text-center" class="text-center" style="width: 250px">Required Qty</th>
                                                <th class="text-center" class="text-center" style="width: 250px">Remaining Qty</th>
                                                <th class="text-center" style="width: 250px">Issue Qty</th>
                                                <th class="text-center" style="width: 200px">Remarks</th>
                                                <th class="text-center" style="width: 200px">Is Full</th>


                                            </tr>
                                        </thead>
                                        <tbody id="manuallist"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 10px">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6">

                                <div class="form-group row">
                                    <div class="col-sm-3">
                                    </div>
                                    <label for="lblSubTotal" class="col-sm-2 control-label"> Total :</label>
                                    <div class="col-sm-3">
                                        <label id="lblSubTotal">0</label>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <div class="row" style="padding-top: 10px">
                            <div class="col-md-10 offset-1">
                                <div class="form-group row">
                                    <label for="lblSpecialInstruction" class="col-sm-2 control-label">Remarks :</label>
                                    <div class="col-sm-10" id="divSpecialInstruction">
                                        <textarea id="txtaSpecialInstruction" rows="2" cols="100" style="text-align: left"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary" onclick="SaveIssue()">Submit</button>
                        <a class="btn btn-outline-danger float-right" href="@Url.Action("PendingIssueList", "StockOut")">Cancel</a>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
        <input id="RequisitionId" type="number" style="display: none;" value="@ViewBag.MasterId">
        <input id="ddlDepartment" type="number" style="display: none;">
        <input id="ddlWarehouse" type="number" style="display: none;">

    </div>
</section>


@section Scripts
{

    <script>
        var ItemList = {};
        var UOMList = {};
        var DeleteItemDetails = [];
        $(document).ready(function () {

            $('#txtIssueDate').datepicker({
                //startDate: '+0m',
                startDate: '-250d',
                endDate: '+0m',
                todayHighlight: true,
                format: 'dd-M-yyyy',
                minDate: 250,
                //minDate: 0,
                autoclose: true
            });

            GetEmployee();
            var requisitionId = $('#RequisitionId').val();
            GetMasterData(requisitionId);
            EmpAutoCom('empAutoCom', 'employeeSelect');
        });
        function GetEmployee() {
            var urlpath = '@Url.Action("GetIgEmployee", "Utility")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: {},
                async: false,
                success: function (data) {
                    $('#ddlIssueBy').append("<option value='0'>--Issue By--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#ddlIssueBy').append($("<option></option>").val(data[i].EMPID).html(data[i].EmpName));
                    }
                }
            });
        }
        function checkBoxEvent(id) {


            var check = $('#chk_' + id).is(":checked");

            if (check == true) {
                $("#qty_" + id).prop('disabled', false);

            } else {
                $("#qty_" + id).prop('disabled', true);

            }

            CalculateLineTotal(id);
        }
        function GetMasterData(id) {

            var urlpath = '@Url.Action("GetRequisitionByMasterId", "StockOut")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { id: id },
                async: false,
                success: function (data) {


                    $('#txtRequsitionDate').html(ToJavaScriptDate(data.RequisitionDate));

                    $("#ddlWarehouse").val(data.WarehouseId);
                    $("#ddlDepartment").val(data.DepartmentId);

                    $("#ddlRequisitionBy").val(data.RequisitionBy);

                    $("#txtRequisitionBy").html(data.RequisitionByName);
                    $("#txtRequisition").html(data.RequisitionNo);
                    $("#txtWarehouse").html(data.WareHouseName);
                    $("#txtDept").html(data.DepartmentName);
                     $("#txtProject").html(data.ProjectName);
                     $("#txtProjectId").val(data.ProjectId);


                    // debugger;


                    var row = "";
                    var count = 1;
                    $("#manuallist").html("");
                    for (var i = 0; i < data.IssueRequisitionDetailses.length; i++) {
                        // debugger;


                         if (data.IssueRequisitionDetailses[i].RemainingForIssueQty>0){

                        row += "<tr id='trmain" + count + "'>";

                        if (data.IssueRequisitionDetailses[i].StockInQty === 0) {
                            row += "<td style='text-align:center;width:3%'><input type='checkbox'  class='form-check-input chkp'  id='chk_" + count + "' disabled='disabled'/></td>";

                            //$("#chk_" + id).prop('disabled', true);
                            //    $("#qty_" + id).prop('disabled', true);

                        } else {
                            row += "<td style='text-align:center;width:3%'><input type='checkbox'  class='form-check-input chkp'  id='chk_" + count + "' onclick='checkBoxEvent(" + count + ")' /></td>";

                        }


                        row += "<td '>" + count + "</td>";
                        row += "<td style='display: none;'><input type='text'  style='display: none;'  id='itemId_" + count + "' value = '" + data.IssueRequisitionDetailses[i].ItemId + "'  /></td>";
                        row += "<td style='display: none;'><input type='text'  style='display: none;'  id='PurposeID_" + count + "' value = '" + data.IssueRequisitionDetailses[i].PurposeID + "'  /></td>";
                        row += "<td style='display: none;'><input type='text'  style='display: none;'  id='unit" + count + "' value = '" + data.IssueRequisitionDetailses[i].UOMId + "'  /></td>";

                        row += "<td style='text-align:center;width:20%;'>" + data.IssueRequisitionDetailses[i].ItemName + "</td>";
                        row += "<td style='text-align:center;width:20%;'>" + data.IssueRequisitionDetailses[i].UOMName + "</td>";
                        row += "<td style='text-align:center;width:20%;'>" + data.IssueRequisitionDetailses[i].PurposeName + "</td>";

                        row += "<td style='text-align:center;'><label  id='stockqty_" + count + "'>" + data.IssueRequisitionDetailses[i].StockInQty + " </label></td>";
                        row += "<td style='text-align:center;'><label  id='reqty_" + count + "'>" + data.IssueRequisitionDetailses[i].ApprovedQty + " </label></td>";
                        row += "<td style='text-align:center;'><label  id='remainqty_" + count + "'>" + data.IssueRequisitionDetailses[i].RemainingForIssueQty + " </label></td>";


                        row += "<td style='text-align:center;width:10%'><input type='number' min='0'   oninput='CalculateLineTotal(" + count + ")' id='qty_" + count + "' class='form-control' disabled='disabled' value = '" + data.IssueRequisitionDetailses[i].RemainingForIssueQty + "' /></td>";
                        row += "<td style='text-align:center;'><label >" + data.IssueRequisitionDetailses[i].Remarks + "</label></td>";
                        row += "<td style='text-align:center;width:3%'><input type='checkbox'  class='form-check-input chkp'  id='ful_" + count + "'  /></td>";



                        row += "</tr>";


                        count++;

                       }
                    }
                    $("#manuallist").html(row);


                }
            });

        }






        function SaveIssue() {

            if (SaveValidation() == true) {
                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveFinal();

                });
            }
        }

        function SaveFinal() {
            debugger;
            var jsonData = {};
            var input = $('#empAutoCom').val();
            var fields = input.split(':');
            var empId = fields[0];
            jsonData["RequisitionMasterId"] = $('#RequisitionId').val();
            jsonData["IssueDate"] = $('#txtIssueDate').val();
            jsonData["WarehouseId"] = $('#ddlWarehouse').val();
            jsonData["IssueBy"] = empId;
            jsonData["DepartmentId"] = $('#ddlDepartment').val();
            jsonData["ProjectId"] = $('#txtProjectId').val();
            jsonData["Remarks"] = $('#txtaSpecialInstruction').val().trim();

            var jsonObjs = [];

            $('#manuallist  tr').each(function () {

                var theObj = {};
                var idr = $(this).attr('id');
                var id = idr.substring(6);
                var kg = 0;
                var qty = 0;


                var itemId = isNaN(parseFloat($('#itemId_' + id).val())) ? 0 : parseFloat($('#itemId_' + id).val());
                var PurposeID = isNaN(parseFloat($('#PurposeID_' + id).val())) ? 0 : parseFloat($('#PurposeID_' + id).val());

                var unit = isNaN(parseFloat($('#unit' + id).val())) ? 0 : parseFloat($('#unit' + id).val());
                var remarks = $('#remarks_' + id).val();
                qty = isNaN(parseFloat($('#qty_' + id).val())) ? 0 : parseFloat($('#qty_' + id).val());
                var full = $('#ful_' + id).is(":checked");

                debugger;
                if (qty > 0 ) {
                    theObj["ItemId"] = itemId;
                    theObj["IssueQty"] = qty;
                    theObj["Remarks"] = remarks;
                    theObj["IsFull"] = full;
                    theObj["PurposeID"] = PurposeID;


                    jsonObjs.push(theObj);
                }



            });

            //if (isNaN(parseInt($('#RequisitionId').val())) ? 0 : parseInt($('#RequisitionId').val()) > 0) {
            //    for (var ind = 0; ind < DeleteItemDetails.length; ind++) {
            //        jsonObjs.push(DeleteItemDetails[ind]);
            //    }
            //}
            //debugger;

            jsonData["StockIssueDetails"] = jsonObjs;


            var urlpath = '@Url.Action("SaveStockIssue", "StockOut")';
            $.ajax({
                contentType: "application/json",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "POST"
            })
                .success(function (result) {

                    if (result.pk > 0) {
                        swal({
                            title: " Saved Successfull",
                            text: '',
                            type: "success",
                            showCancelButton: false,
                            cancelButtonClass: 'btn-secondary waves-effect',
                            confirmButtonClass: 'btn-success waves-effect waves-light',
                            confirmButtonText: 'Yes!',
                            closeOnConfirm: false
                        }, function () {
                            window.location.href = '@Url.Action("Index", "StockOut")';



                        });


                    }
                });


        }

        function SaveValidation() {


            var isValid = true;
            var message = "Some Values Required";


            var count = 0;
            count = $('input:checkbox.chkp:checked').length;
            if (count == 0) {
                isValid = false;
                message = ("Check atleast one checkbox");
            }



            $('#manuallist tr').each(function () {



                var idr = $(this).attr('id');
                var id = idr.substring(3);


                var itemId = isNaN(parseFloat($('#itemId_' + id).val())) ? 0 : parseFloat($('#itemId_' + id).val());
                var _qty = isNaN(parseFloat($('#qty_' + id).val())) ? 0 : parseFloat($('#qty_' + id).val());

                var stockqty = isNaN(parseFloat($('#stockqty_' + id).text())) ? 0 : parseFloat($('#stockqty_' + id).text());




                //if (_qty === 0) {
                //    isValid = false;
                //    message = "Qty Cannot be 0 ";
                //    $('#qty_' + id).css('border-bottom', '2px solid red');
                //    return;
                //}



            });


            if (isValid == false) {
                ShowMessage(message);

            }
            return isValid;


        }


        function CalculateLineTotal(id) {
            var lineAmount = 0;
            var grandQty = 0;
            var grandTotal = 0;
            var proCout = 0;

            var _qty = isNaN(parseFloat($('#qty_' + id).val())) ? 0 : parseFloat($('#qty_' + id).val());
            var remqty = isNaN(parseFloat($('#remainqty_' + id).text())) ? 0 : parseFloat($('#remainqty_' + id).text());
            var stockqty = isNaN(parseFloat($('#stockqty_' + id).text())) ? 0 : parseFloat($('#stockqty_' + id).text());
            if (_qty > stockqty) {

                var message = "Qty Must be less than Stock Qty ";
                $('#qty_' + id).css('border-bottom', '2px solid red');
                ShowMessage(message);
                $('#qty_' + id).val(0);
            }
            if (
                _qty > remqty) {

                var message = "Qty Must be less than Remaining Qty ";
                $('#qty_' + id).css('border-bottom', '2px solid red');
                ShowMessage(message);
                $('#qty_' + id).val(0);
            }

            $('#manuallist tr').each(function () {

                debugger;
                var idr = $(this).attr('id');
                var id = idr.substring(6);
         var check = $('#chk_' + id).is(":checked");
                  if (check == true) {
                       var itemId = isNaN(parseFloat($('#itemId_' + id).val())) ? 0 : parseFloat($('#itemId_' + id).val());
                var _qty = isNaN(parseFloat($('#qty_' + id).val())) ? 0 : parseFloat($('#qty_' + id).val());
                var remqty = isNaN(parseFloat($('#remainqty_' + id).text())) ? 0 : parseFloat($('#remainqty_' + id).text());
                var stockqty = isNaN(parseFloat($('#stockqty_' + id).text())) ? 0 : parseFloat($('#stockqty_' + id).text());
                grandQty += _qty;
                if (itemId > 0) {
                    proCout = proCout + 1;
                }
                  }


            });

            $('#txtTotalQty').val(grandQty.toFixed(2));
            $('#lblSubTotal').html(grandQty.toFixed(2));


        }




    </script>
}




