﻿
@{
    ViewBag.Title = "Issue Requisition Print";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">
                        <Div class="row">
                            <div class="col-md-4">
                                <a href="#">
                                    <h3 class="card-title">
                                        <span class="fa fa-list"></span>Store Requisition  List (for print)
                                    </h3>
                                </a>
                            </div>
                        </Div>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->


                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-md-offset-1">
                                <div class="form-group" id="divCompany">
                                    <label for="ddlCompany">Company</label>
                                    <select class="form-control" style="width: 100%;" id="ddlCompany"></select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="form-group" id="divLocation">
                                    <label for="ddlLocation">Location<span class="text-danger"> *</span></label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlLocation"></select>
                                </div>

                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="form-group" id="divWareHouse">
                                    <label for="ddlWareHouse">Warehouse</label>
                                    <select class="form-control" style="width: 100%;" id="ddlWareHouse"></select>
                                </div>



                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-md-offset-1">
                                <label for="fromDate"> From Date</label>
                                <input type="text" class="form-control" id="fromDate" value="@DateTime.Now.ToString("dd-MMM-yyyy")" />
                            </div>
                            <div class="col-md-3">
                                <label for="fromDate"> To Date</label>
                                <input type="text" class="form-control" id="toDate" value="@DateTime.Now.ToString("dd-MMM-yyyy")" />
                            </div>

                            <div class="col-md-1">
                                <button class="btn btn-success" style="margin-top: 16px;" onclick="ShowList()">Submit</button>
                            </div>
                        </div>
                        <div class="row">
                            <div id="orderList" class="table-responsive">

                            </div>
                        </div>


                    </div>









                </div>

            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>

@section Scripts
{


    <script type="text/javascript">

        $(document).ready(function() {
            var comId = 0;
            var locId = 0;
            var wareId = 0;
            LoadReceiveWarehouse();
            LoadCompany('ddlCompany');
            $("#ddlCompany").val("7");
            LoadLocation('ddlLocation', $("#ddlCompany").val());

            $('#ddlCompany').change(function () {
                comId = $(this).val();
                LoadLocation('ddlLocation', comId);
            });
            //$('#ddlLocation').change(function () {

            //    locId = parseInt($(this).val());
            //    var wareHouseTypeId = parseInt(1);
            //    LoadWareHouse('ddlWareHouse', locId, wareHouseTypeId);
            //});



            LoadDate('#fromDate');
            LoadDate('#toDate');
        });
        function LoadReceiveWarehouse() {
            //var typeid = $('#ddlWarehouseType').val();
            var warehouseTypeid = 7;
            var urlpath = '@Url.Action("GetDeliveryWarehouse", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { warehouseTypeid: warehouseTypeid },
                async: false,
                success: function (data) {

                    $('#ddlWareHouse ').empty();
                    $('#ddlWareHouse').append("<option value='0'>--Select  Warehouse --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#ddlWareHouse ').append($("<option></option>").val(data[i].WareHouseId).html(data[i].WareHouseName));
                    }
                }
            });
        }
        function ShowList() {
            if ($('#fromDate').val() == '' || $('#toDate').val()=='') {
                ShowMessage("Order Date Range Required");

            }

            var company = 0;
            var location = 0;
            var warehouse = 0;

            var rstatus = 3;
            if ($('#ddlCompany').val() != null) {
                if ($('#ddlCompany').val() != '0') {
                    company = $('#ddlCompany').val();
                }

            }
            if ($('#ddlLocation').val() != null) {
                if ($('#ddlLocation').val() != '0') {
                    location = $('#ddlLocation').val();
                }

            }
            if ($('#ddlWareHouse').val() != null) {
                if ($('#ddlWareHouse').val() != '0') {
                    warehouse = $('#ddlWareHouse').val();
                }

            }
            ShowInvList($('#fromDate').val(), $('#toDate').val(), company, location, warehouse);

        }


        function ShowInvList(fromDate , toDate,company, location, warehouse) {

                var urlpath = '@Url.Action("ShowRequisitionApprovedList", "StockOut")';
                $.ajax({
                    url: urlpath,
                    dataType: 'html',
                    type: "Get",
                    data: { fromDate: fromDate, todate: toDate, company: company, location: location, warehouse: warehouse },
                    async: false,
                    success: function (data) {

                        $('#orderList').empty();
                        $('#orderList').html(data);
                    }
                });
        }
    </script>
}