﻿
@{
    ViewBag.Title = "Issue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .form-control {
        height: calc(1.7rem + 2px);
    }
</style>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="card-title">
                                    New Issue
                                </h3>

                                @*<a href="@Url.Action("Create", "PurchaseOrderOther", new {id = 0})">
                                        <h3 class="card-title">
                                            @if (ViewBag.PurchaseId == 0)
                                            {
                                                <span class=""> New Purchase Order</span>

                                            }
                                            else
                                            {
                                                <span class=""> Edit Purchase Order</span>
                                            }
                                        </h3>
                                    </a>*@
                            </div>
                            <div class="col-md-6 text-right">
                                <a class="btn btn-outline-warning" href="@Url.Action("Index", "StockOut")">
                                    <span class="fa fa-list"></span> Go To Issue List

                                </a>
                            </div>
                        </div>

                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group" id="divReceiveWarehouse">
                                    <label for="ddlReceiveWarehouse">Warehouse</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlReceiveWarehouse"></select>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group" id="divDepartment">
                                    <label for="ddlDepartment">Department</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlDepartment"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divIssueDate">
                                    <label for="txtIssueDate">Issue Date</label>
                                    <input type="text" id="txtIssueDate" class="form-control datepicker" value="@DateTime.Now.ToString("dd-MMM-yyyy")" />
                                </div>
                            </div>


                            <div class="col-md-3">
                                <div class="form-group" id="divIssue">
                                    <label for="ddlIssueBy">Issue By </label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlIssueBy"></select>
                                </div>
                            </div>


                        </div>




                        <div class="row table-responsive" style="padding-top: 10px">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <table class="table table-bordered table-striped table-hover" id="debitVoucher">
                                        <thead>
                                            <tr>
                                                <th style="width: 50px">#</th>
                                                <th style="width: 350px">Item Code</th>
                                                <th style="width: 350px">Item Name</th>
                                                <th class="text-center" style="width: 250px">Stock Qty</th>
                                                <th style="width: 250px">Issue Qty</th>
                                                <th style="width: 200px">Unit</th>

                                                <th class="action" style="width: 50px">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 10px">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6">

                                <div class="form-group row">
                                    <div class="col-sm-3">
                                    </div>
                                    <label for="lblSubTotal" class="col-sm-2 control-label"> Total :</label>
                                    <div class="col-sm-3">
                                        <label id="lblSubTotal">0</label>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <div class="row" style="padding-top: 10px">
                            <div class="col-md-10 offset-1">
                                <div class="form-group row">
                                    <label for="lblSpecialInstruction" class="col-sm-2 control-label">Remarks :</label>
                                    <div class="col-sm-10" id="divSpecialInstruction">
                                        <textarea id="txtaSpecialInstruction" rows="2" cols="100" style="text-align: left"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary" onclick="SaveIssue()">Submit</button>
                        <a class="btn btn-outline-danger float-right" href="@Url.Action("Index", "StockOut")">Cancel</a>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
        @*<input id="purchaseId" type="number" style="display: none;" value="@ViewBag.PurchaseId">
            <input id="eflag" type="text" style="display: none;" value="@ViewBag.eflag">*@
    </div>
</section>


@section Scripts
{

    <script>
        var ItemList = {};
        var UOMList = {};
        var DeleteItemDetails = [];
        $(document).ready(function () {

            LoadReceiveWarehouse();


            $('#txtIssueDate').datepicker({
                endDate: new Date(),
                autoclose: true,
                todayHighlight: true,
                format: 'dd-M-yyyy'
            });
            LoadDate('#txtChequeDate');
            LoadDate('#txtRefDate');
            GetItem();
            GetUOM();
            LoadBankName('ddlBank');
            GetDepartment();
            GetEmployee();
            AddRow();



            //var purchaseId = $('#purchaseId').val();
            //if (purchaseId > 0) {
            //    GetPurchaseOrderOtherMaster(purchaseId);
            //} else {

            //    AddRow();
            //}
        });






        @*function GetPurchaseOrderOtherMaster(id) {

            var urlpath = '@Url.Action("GetPurchaseOrderOtherByMasterId", "PurchaseOrderOther")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { id: id },
                async: false,
                success: function (data) {
                    debugger;
                    $("#ddlOrderType").val(data.OrderType).trigger('change');

                    $('#txtIssueDate').val(ToJavaScriptDate(data.OrderDate));

                    $("#ddlSupplier").val(data.SupplierID).trigger('change');

                    $("#ddlReceiveWarehouse").val(data.DelWareHouseID).trigger('change');

                    $('#txtDeliveryTo').val(data.DeliveryTo);
                    $('#txtContactInfo').val(data.ContactInfo);
                    $('#txtSupplierReference').val(data.SupplierRef);
                    $('#txtAdjustment').val(data.Adjustment);
                    $('#txtAdvance').val(data.Advance);
                    $('#ddlIOUHead').val(data.IOUHead).trigger('change');
                    $("#ddlCurrency").val(data.CurrencyId).trigger('change');

                    $('#txtCurrencyRate').val(data.ConversionRate);


                    if (data.AccountType == 1)
                    {
                        $('#bankRadio').prop('checked', true);
                    }
                    if (data.AccountType == 2) {
                        $('#cashRadio').prop('checked', true);
                    }
                    $("#bankRadio").prop("disabled", true);
                    $("#cashRadio").prop("disabled", true);

                    $("#ddlFromAccount").prop("disabled", true);

                    LoadBankName('ddlBank');
                    $('#ddlBank').val(data.BankId);
                    $("#ddlBank").prop("disabled", true);
                    LoadBankBranch('ddlBranch', data.BankId);
                    $('#ddlBranch').val(data.BranchId);
                    $("#ddlBranch").prop("disabled", true);
                    $('#txtChequeNo').val(data.ChequeNo);
                    if (data.ChequeDate != "" && data.ChequeDate != null)
                    {
                        $('#txtChequeDate').val(ToJavaScriptDate(data.ChequeDate));
                    }

                    $('#txtRefNo').val(data.RefNo);
                    if (data.RefDate != "" && data.RefDate != null)
                    {
                        $('#txtRefDate').val(ToJavaScriptDate(data.RefDate));
                    }

                    $('#lblSubTotal').html(data.TotalAmount);
                    var adv=isNaN(parseFloat($('#txtAdvance').val())) ? 0 : parseFloat($('#txtAdvance').val());
                    $('#lblTotalAmount').html(data.TotalAmount - adv);
                    BankWishEffect()
                    CashWishEffect()
                    $('#txtaSpecialInstruction').val(data.SpecialInstruction);
                    $('#ddlFromAccount').val(data.FromAccount).trigger('change');
                    debugger;


                    for (var i = 0; i < data.POOtherDetails.length; i++) {
                        debugger;
                        var tr = $('#debitVoucher tbody tr').length + 1;
                        AddRow();
                        $("#itemId_" + tr).val(data.POOtherDetails[i].ItemId).trigger('change');

                        $('#itemName_' + tr).val(data.POOtherDetails[i].ItemName);
                        $('#qty_' + tr).val(data.POOtherDetails[i].PurchaseQty);
                        $("#unit_" + tr).val(data.POOtherDetails[i].UOMId).trigger('change');
                        $('#rate_' + tr).val(data.POOtherDetails[i].UnitPrice);
                        $('#amount_' + tr).val(data.POOtherDetails[i].TotalPrice.toFixed(2));
                        $('#details_' + tr).val(data.POOtherDetails[i].PurchaseOrderDetailID);
                    }


                    $('#txtTermsAndConditionId').val(data.TermsAndconditions.TermsAndConditionId);
                    $('#txtaTermsOfDelivery').val(data.TermsAndconditions.TermsOfDelivery);
                    $('#txtaTermsOfPackaging').val(data.TermsAndconditions.TermsOfPackaging);
                    $('#txtaTermsOfPayments').val(data.TermsAndconditions.TermsOfPayments);
                    $('#txtaTermsOfBilling').val(data.TermsAndconditions.TermsOfBilling_Doc);
                    $('#txtaOtherTerms').val(data.TermsAndconditions.OtherTerms);


                }
            });
        }*@







        function SaveIssue() {

            if (SaveValidation() == true) {
                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveFinal();

                });
            }
        }

        function SaveFinal() {
            debugger;
            var jsonData = {};

            //jsonData["StockIssueMasterId"] = $('#purchaseId').val();

            jsonData["IssueDate"] = $('#txtIssueDate').val();
            jsonData["WarehouseId"] = $('#ddlReceiveWarehouse').val();
            jsonData["IssueBy"] = $('#ddlIssueBy').val();
            jsonData["DepartmentId"] = $('#ddlDepartment').val();
            jsonData["Remarks"] = $('#txtaSpecialInstruction').val().trim();

            var jsonObjs = [];

            $('#debitVoucher tbody tr').each(function () {

                var theObj = {};
                var idr = $(this).attr('id');
                var id = idr.substring(3);
                var kg = 0;
                var qty = 0;
                var detailsId = isNaN($('#details_' + id).val()) ? 0 : $('#details_' + id).val();

                var itemId = isNaN(parseFloat($('#itemId_' + id).val())) ? 0 : parseFloat($('#itemId_' + id).val());





                var unit = isNaN(parseFloat($('#unit_' + id).val())) ? 0 : parseFloat($('#unit_' + id).val());


                if (unit == 4 || unit == 5) {
                    kg = isNaN(parseFloat($('#qty_' + id).val())) ? 0 : parseFloat($('#qty_' + id).val());
                    qty = 0;
                } else {
                    qty = isNaN(parseFloat($('#qty_' + id).val())) ? 0 : parseFloat($('#qty_' + id).val());
                    kg = 0;
                }

                debugger;

                theObj["StockIssueDetailsId"] = detailsId;
                theObj["ItemId"] = itemId;
                theObj["IssueQty"] = qty;
                theObj["IssueKg"] = kg;


                jsonObjs.push(theObj);

            });

            //if (isNaN(parseInt($('#purchaseId').val())) ? 0 : parseInt($('#purchaseId').val()) > 0) {
            //    for (var ind = 0; ind < DeleteItemDetails.length; ind++) {
            //        jsonObjs.push(DeleteItemDetails[ind]);
            //    }
            //}
            debugger;

            jsonData["StockIssueDetails"] = jsonObjs;




            var urlpath = '@Url.Action("SaveStockIssue", "StockOut")';
            $.ajax({
                contentType: "application/json",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "POST"
            })
                .success(function (result) {

                    if (result.pk > 0) {
                        swal({
                            title: " Saved Successfull",
                            text: '',
                            type: "success",
                            showCancelButton: false,
                            cancelButtonClass: 'btn-secondary waves-effect',
                            confirmButtonClass: 'btn-success waves-effect waves-light',
                            confirmButtonText: 'Yes!',
                            closeOnConfirm: false
                        }, function () {
                            window.location.href = '@Url.Action("Index", "StockOut")';
                            @*var eflag = $('#eflag').val();
                            if (eflag == "ed") {
                                window.location.href = '@Url.Action("Index", "StockOut")';
                            } else {
                                window.location.href = '@Url.Action("PurchaseOrderOtherApprovalList", "PurchaseOrderOther")';
                            }*@


                        });


                    }
                });


        }

        function SaveValidation() {


            var isValid = true;
            var message = "Some Values Required";

            if ($('#txtIssueDate').val() == '' || $('#txtIssueDate').val() == null) {
                ValidationColorChangeNew("txtIssueDate", "divIssueDate", "Issue Date Required", false);
                isValid = false;
            }

            if ($('#ddlReceiveWarehouse').val() == 0 || $('#ddlReceiveWarehouse').val() == '') {
                ValidationColorChangeNew("ddlReceiveWarehouse", "divReceiveWarehouse", " Warehouse Required", true);
                isValid = false;
            }
            if ($('#ddlDepartment').val() == 0 || $('#ddlDepartment').val() == '') {
                ValidationColorChangeNew("ddlDepartment", "divDepartment", "Department Required", true);
                isValid = false;
            }










            if ($('#debitVoucher tbody tr').length == 0 || $('#debitVoucher tbody tr').length == '') {
                isValid = false;
                message = "Item Required";
            }


            $('#debitVoucher tbody tr').each(function () {


                var idr = $(this).attr('id');
                var id = idr.substring(3);

                var itemId = isNaN(parseFloat($('#itemId_' + id).val())) ? 0 : parseFloat($('#itemId_' + id).val());
                var _qty = isNaN(parseFloat($('#qty_' + id).val())) ? 0 : parseFloat($('#qty_' + id).val());
                var _unit = $('#unit_' + id).val()
                var stockqty = isNaN(parseFloat($('#stockqty_' + id).text())) ? 0 : parseFloat($('#stockqty_' + id).text());

                if (itemId === 0) {
                    isValid = false;
                    message = "Please select Item";
                    $('#itemId_' + id).css('border-bottom', '2px solid red');
                    return;
                }

                if (_qty === 0) {
                    isValid = false;
                    message = "Qty Cannot be 0 ";
                    $('#qty_' + id).css('border-bottom', '2px solid red');
                    return;
                }
                if (_unit === 0) {
                    isValid = false;
                    message = "Please select Unit";
                    $('#unit_' + id).css('border-bottom', '2px solid red');
                    return;
                }
                if (_qty > stockqty) {
                    isValid = false;
                    message = "Qty Must be less than Stock Qty ";
                    $('#qty_' + id).css('border-bottom', '2px solid red');
                    return;
                }


            });


            if (isValid == false) {
                ShowMessage(message);

            }
            return isValid;


        }




        function CalculateLineTotal(slId) {
            var lineAmount = 0;
            var qty = isNaN(parseFloat($('#qty_' + slId).val())) ? 0 : parseFloat($('#qty_' + slId).val());


            var grandQty = 0;
            var grandTotal = 0;
            var proCout = 0;
            $('#debitVoucher tbody tr').each(function () {


                var idr = $(this).attr('id');
                var id = idr.substring(3);

                var itemId = isNaN(parseFloat($('#itemId_' + id).val())) ? 0 : parseFloat($('#itemId_' + id).val());
                var _qty = isNaN(parseFloat($('#qty_' + id).val())) ? 0 : parseFloat($('#qty_' + id).val());
                var stockqty = isNaN(parseFloat($('#stockqty_' + id).text())) ? 0 : parseFloat($('#stockqty_' + id).text());
                if (_qty > stockqty) {

                    var message = "Qty Must be less than Stock Qty ";
                    $('#qty_' + id).css('border-bottom', '2px solid red');
                    ShowMessage(message);
                    $('#qty_' + id).val(0);

                }

                grandQty += _qty;
                if (itemId > 0) {
                    proCout = proCout + 1;
                }

            });

            $('#txtTotalQty').val(grandQty.toFixed(2));
            $('#lblSubTotal').html(grandQty.toFixed(2));



        }

        function GetItemDetails(slId) {
            debugger;
            var itemId = $('#itemId_' + slId).val();
            var warehouseId = $('#ddlReceiveWarehouse').val();
            if (warehouseId == 0) {
                var message = "Select Warehouse";
                ValidationColorChangeNew("ddlReceiveWarehouse", "divReceiveWarehouse", " Warehouse Required", true);
                ShowMessage(message);
            } else {
                var urlpath = '@Url.Action("GetItemDetails", "StockOut")';
                $.ajax({
                    url: urlpath,
                    type: "Get",
                    dataType: 'json',
                    data: { itemId: itemId, warehouseId: warehouseId },
                    async: false,
                    success: function (data) {
                        debugger;
                        $("#itemName_" + slId).val('');
                        $("#itemName_" + slId).val(data.ItemName);
                        $("#unit_" + slId).val(data.UOMId).trigger('change');

                        if (data.StockQty > 0) {
                            $("#stockqty_" + slId).html(data.StockQty);
                        } else if (data.StockKg > 0) {
                            $("#stockqty_" + slId).html(data.StockKg);
                        }
                        if (data.StockQty === 0 || data.StockQty === '' && data.StockKg === 0 || data.StockKg === '') {
                            var message = "This Product Is not in stock ";
                            ShowMessage(message);
                            RemoveRow(slId);
                        }
                    }
                });
            }


        }

        function RemoveRow(id) {
            debugger;
            var trLength = $('#debitVoucher tbody tr:visible').length;

            if (trLength == 1) {
                $('#itemId_' + id).val(0).trigger('change');
                $('#itemName_' + id).val('');
                $('#stockqty_' + id).val(0);
                $('#qty_' + id).val(0);
                $('#unit_' + id).val(0).trigger('change');

            }

            if (trLength > 1) {

                var detailsId = $('#details_' + id).val();
                if (detailsId > 0) {
                    var itemId = isNaN(parseFloat($('#itemId_' + id).val())) ? 0 : parseFloat($('#itemId_' + id).val());

                    //var drcr = $('#DrCr_' + id).val();

                    //    var delObj = {};
                    //    delObj["PurchaseOrderDetailID"] = detailsId;
                    //    delObj["PurchaseOrderID"] = purchaseId;
                    //    delObj["ItemId"] = itemId;
                    //    delObj["IsDelete"] = true;
                    //    delObj["eflag"] = $('#eflag').val();
                    //    DeleteItemDetails.push(delObj);

                }
                $('#tr_' + id).remove();
                SerialTable();

            } else {
                return;
            }

        }

        function AddRow() {

            var tr = $('#debitVoucher tbody tr').length + 1;
            var values = $("#debitVoucher tbody tr")
                .map(function () { return parseInt($(this).attr('id').substring(3)); }).get();
            var index = values.indexOf(tr);
            if (index >= 0) {
                tr = Math.max.apply(Math, values) + 1;
            }
            var urlpath = '@Url.Action("AddRowForIssue", "StockOut")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'html',
                data: { tr: tr },
                async: false,
                success: function (data) {

                    $('#debitVoucher tbody').append(data);
                    LoadItemInRow("itemId_" + tr);
                    LoadUOMInRow("unit_" + tr);


                }
            });
            $('#itemId_' + tr).select2();
            $('#unit_' + tr).select2();
            SerialTable();
            debugger;
            var eflag = $('#eflag').val();
            if (eflag == "ed") {

                $('.aHide').hide();
            } else {

                $('.aHide').show();


            }
            //CalculateAll();
        }

        function SerialTable() {
            $('#debitVoucher tbody tr').each(function (index, element) {
                var idr = $(this).attr('id');
                var id = idr.substring(3);
                $('#ts_' + id).html(index + 1);


            });
        }

        function LoadItemInRow(elementId) {

            $('#' + elementId + '').append("<option value='0'>--Select Iten Code--</option>");
            for (var i = 0; i < ItemList.length; i++) {

                $('#' + elementId + '').append($("<option></option>").val(ItemList[i].ItemId).html(ItemList[i].ItemCode));
            }
        }

        function LoadUOMInRow(elementId) {

            $('#' + elementId + '').append("<option value='0'>--Unit--</option>");
            for (var i = 0; i < UOMList.length; i++) {

                $('#' + elementId + '').append($("<option></option>").val(UOMList[i].UOMId).html(UOMList[i].UOMName));
            }
        }

        function GetItem() {
            var urlpath = '@Url.Action("GetItem", "PurchaseOrderOther")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: {},
                async: false,
                success: function (data) {
                    ItemList = data;
                }
            });
        }
        function GetUOM() {
            var urlpath = '@Url.Action("LoadUOM", "PurchaseOrderOther")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: {},
                async: false,
                success: function (data) {
                    UOMList = data;
                }
            });
        }
        function GetDepartment() {
            var urlpath = '@Url.Action("GetDepartment", "Utility")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: {},
                async: false,
                success: function (data) {
                    $('#ddlDepartment').append("<option value='0'>--Department--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#ddlDepartment').append($("<option></option>").val(data[i].DepartmentId).html(data[i].DepartmentName));
                    }
                }
            });
        }
        function GetEmployee() {
            var urlpath = '@Url.Action("GetIgEmployee", "Utility")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: {},
                async: false,
                success: function (data) {
                    $('#ddlIssueBy').append("<option value='0'>--Issue By--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#ddlIssueBy').append($("<option></option>").val(data[i].EMPID).html(data[i].EmpName));
                    }
                }
            });
        }








        function LoadReceiveWarehouse() {
            //var typeid = $('#ddlWarehouseType').val();
            var warehouseTypeid = 3;
            var urlpath = '@Url.Action("GetDeliveryWarehouse", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { warehouseTypeid: warehouseTypeid },
                async: false,
                success: function (data) {

                    $('#ddlReceiveWarehouse ').empty();
                    $('#ddlReceiveWarehouse').append("<option value='0'>--Select Receive Warehouse --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#ddlReceiveWarehouse ').append($("<option></option>").val(data[i].WareHouseId).html(data[i].WareHouseName));
                    }
                }
            });
        }
    </script>
}
