﻿@{
    ViewBag.Title = "Materials Issue Summary Report";
}
<style>
    .ui-datepicker-calendar {
        display: none;
    }
</style>
<link href="~/Content/boot_new/css/bootstrap.min.css" rel="stylesheet" />
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-3">
                                <h3 class="card-title"><span class="fa fa-list"></span> Materials Issue Summary Report</h3>
                            </div>
                            <div>

                            </div>

                        </div>
                    </div>


                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="row">

                            <div class="col-md-4" id="divstockMonth">
                                <div class="form-group" id="">
                                    <label for="stockMonth">Stock Month</label>
                                    <input type="text" class="form-control datepicker" id="stockMonth" autocomplete="off" />
                                </div>
                            </div>
                            <div class="col-md-4" id="mainDivDepartment">
                                <div class="form-group" id="divDepartment">
                                    <label for="ddlDepartment">Department</label>
                                    <select class="form-control select2" id="ddlDepartment" style="width: 100%;"></select>
                                </div>
                            </div>
                            <div class="col-md-4" id="mainDivLocation">
                                <div class="form-group" id="divLocation">
                                    <label for="ddlLocation">Location</label>
                                    <select class="form-control select2" id="ddlLocation" style="width: 100%;" onchange="LoadWareHouse('ddlWareHouse')"></select>
                                </div>
                            </div>
                            <div class="col-md-4" id="mainDivWareHouse">
                                <div class="form-group" id="divWareHouse">
                                    <label for="ddlWareHouse">WareHouse</label>
                                    <select class="form-control select2" id="ddlWareHouse" style="width: 100%;"></select>
                                </div>
                            </div>
                            <div class="col-md-4" id="mainDivItemGroup">
                                <div class="form-group" id="divItemGroup">
                                    <label for="ddlItemGroup">Item Group</label>
                                    <select class="form-control select2" id="ddlItemGroup" style="width: 100%;"></select>
                                </div>
                            </div>

                            <div class="col-md-4" id="">
                                <button class="btn btn-primary " onclick="LoadReport()" style="margin-top: 25px">Show Report</button>
                                <button class='btn btn-success' type='button' id="Export1" onclick="exportExcelSummary()" style="margin-top: 25px">
                                    <span class="glyphicon glyphicon-export"></span>
                                    Export To excel
                                </button>
                            </div>
                        </div>
                        <div>
                            <div>
                            </div>
                            <div class="row divclassSummary" id="divclassSummary">
                                <div class="col-md-12">
                                    <div class="card-body">
                                        <table class="table table-bordered table-striped table-hover" id="tblReportSummary">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th class="text-center"> Group Name</th>
                                                    <th class="text-center"> Name of the items</th>
                                                    <th class="text-center">Unit</th>
                                                    <th class="text-center">Quantity</th>
                                                    <th class="text-center">Avg. Rate </th>
                                                    <th class="text-center">Value in taka</th>
                                                    @*<th class="text-center">Remarks</th>*@
                                                </tr>
                                            </thead>
                                            <tbody id="manuallist"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<div class="row">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog listDialog modal-lg">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Item Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table id="tblReporDetails" class="table table-striped table-bordered">
                            <thead id="popTab">
                                <tr>
                                    <th style="text-align: center; color: black; width: 3%; background-color: turquoise; padding-bottom: 2.5%">SL</th>
                                    <th style="text-align: center; color: black; background-color: turquoise;">WareHouse Name</th>
                                    <th style="text-align: center; color: black; background-color: turquoise;">Department</th>
                                    <th style="text-align: center; color: black; background-color: turquoise;">Issue No</th>
                                    <th style="text-align: center; color: black; background-color: turquoise;">Date</th>
                                    <th style="text-align: center; color: black; background-color: turquoise;">Item Name </th>
                                    <th style="text-align: center; color: black; background-color: turquoise;">Unit</th>
                                    <th style="text-align: center; color: black; background-color: turquoise;">Quantity</th>
                                </tr>
                            </thead>
                            <tbody id="itemDetailsTabBody"></tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button class='btn btn-success' type='button' id="Export" onclick="exportExcelDetails()">
                            <span class="glyphicon glyphicon-export"></span>
                            Export To excel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="~/Content/boot_new/js/jquery-3.2.1.slim.min.js"></script>
<script src="~/Content/boot_new/js/bootstrap.min.js"></script>

@section Scripts{
    <script>
        $(function() {
            LoadCompany('ddlCompany');
            LoadLocation('ddlLocation');
            LoadDepartment('ddlDepartment');
            LoadItemGroup('ddlItemGroup');
          $("#stockMonth").datepicker({ format: "M-yyyy", autoclose: true, viewMode: "months", minViewMode: "months", endDate: '+0m' });


        });

         function LoadDepartment(elementId) {
            $.ajax({
                url: "/Utility/GetDepartment",

                dataType: 'json',
                type: "Get",
                data: {},
                async: true,
                success: function(data) {
                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Department--</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].DepartmentId).html(data[i].DepartmentName));
                    }
                }
            });
        };

        function LoadLocation(elementId) {
            $.ajax({
                url: "/ItemRequisition/LoadLocation",

                dataType: 'json',
                type: "Get",
                data: {},
                async: true,
                success: function(data) {
                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Location--</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].LocationId).html(data[i].LocationName));
                    }
                }
            });
        };


        function LoadWareHouse(elementId) {

            var location = $('#ddlLocation').val();
            var urlpath = '@Url.Action("LoadWareHouse", "ItemRequisition")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { location: parseInt(location), warehouseTypeId: 0 },
                async: false,
                success: function(data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Warehouse--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].WareHouseId).html(data[i].WareHouseName));
                    }

                }
            });
        };

         function LoadItemGroup(elementId) {
            $.ajax({
                url: "/ItemType/LoadItemGroup",

                dataType: 'json',
                type: "Get",
                data: {},
                async: true,
                success: function(data) {
                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Item Group--</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].ItemGroupId).html(data[i].ItemGroupName));
                    }
                }
            });
        };

           function LoadReport() {

         if ($('#stockMonth').val() == '' || $('#stockMonth').val() == null) {
                swal("Please select Month");
                return;
            }

            var stockMonth = $('#stockMonth').val();
            var departmentId = $('#ddlDepartment').val();
            var locationId = $('#ddlLocation').val();
            var wareHouseId = isNaN(parseInt($('#ddlWareHouse').val())) ? 0 : parseInt($('#ddlWareHouse').val());
            var groupId = isNaN(parseInt($('#ddlItemGroup').val())) ? 0 : parseInt($('#ddlItemGroup').val());

            var urlpath = '@Url.Action("LoadMaterialIssueSummary", "StockOut")';
            $.ajax({
                url: urlpath,
                dataType: 'html',
                type: "Get",
                data: { stockMonth: stockMonth, departmentId: departmentId, locationId: locationId, wareHouseId: wareHouseId, groupId: groupId },
                async: false,
                success: function (data) {

                    data = JSON.parse(data);
                    $("#manuallist").html("");
                   if (data.length > 0) {
                  var  Total = 0;
                   // TotaloffQTy = 0;
                    var item = "";
                    $.each(data, function (i, obj) {

                        item += "<tr>" +
                                "<td style=font-Size:12px;text-align:center;width:80px;>" + (i + 1) + "</td>" +
                                  "<td style=font-Size:12px;text-align:right;>" + obj.ItemGroupName + "</td>" +
                                //  "<td style=font-Size:12px;text-align:right;>" + obj.ItemName + "</td>" +
                             '<td style="font-Size:12px;text-align:center;"><a onClick=\'MealStatusDetails("' + obj.ItemId + '")\' href="#">' + obj.ItemName + '</a></td>' +
                                "<td style=font-Size:12px;text-align:right;>" + obj.Unit + "</td>" +
                                "<td style=font-Size:12px;text-align:right;>" + obj.IssueQty + "</td>" +
                                "<td style=font-Size:12px;text-align:right;>" + obj.avgRate + "</td>" +
                                "<td style=font-Size:12px;text-align:left;>" + obj.TotalAmount + "</td>" +
                               // "<td style=font-Size:12px;text-align:left;>" + obj.Remarks + "</td>" +


                               "</tr>";
                       Total += parseInt(obj.TotalAmount);
                       // TotaloffQTy += parseInt(obj.TotalMealOff);

                    });
                 item += "<tr><td colspan='3' style='text-align:center;background:#ccc;font-weight:bold;'>Total</td><td style='text-align:center;background:#ccc;font-weight:bold;'></td>" +
                     "<td style='text-align:center;background:#ccc;font-weight:bold;'></td>" +
                     "<td style='text-align:center;background:#ccc;font-weight:bold;'></td>" +
                     "<td style='text-align:center;background:#ccc;font-weight:bold;'>" + Total + "</td>" +
                      // "<td style='text-align:center;background:#ccc;font-weight:bold;'></td>" +
                     "</tr>";

                    $("#manuallist tr:gt(0)").remove();
                    $('#manuallist').html(item);

                }
                else {



                }
                }
            });
        };

        function MealStatusDetails(ItemId) {

        $("#myModal").modal('show');


            var stockMonth = $('#stockMonth').val();
            var departmentId = $('#ddlDepartment').val();
            var locationId = $('#ddlLocation').val();
            var wareHouseId = isNaN(parseInt($('#ddlWareHouse').val())) ? 0 : parseInt($('#ddlWareHouse').val());
            var groupId = isNaN(parseInt($('#ddlItemGroup').val())) ? 0 : parseInt($('#ddlItemGroup').val());

            var urlpath = '@Url.Action("LoadMaterialIssueDetails", "StockOut")';
            $.ajax({
                url: urlpath,
                dataType: 'html',
                type: "Get",
                data: { stockMonth: stockMonth, departmentId: departmentId, locationId: locationId, wareHouseId: wareHouseId, groupId: groupId, ItemId: ItemId },
                async: false,
                success: function (data) {
                    data = JSON.parse(data);
                  $("#itemDetailsTabBody").html("");
                   if (data.length > 0) {
                var  TotalQTy = 0;
                   // TotaloffQTy = 0;
                    var item = "";
                    $.each(data, function (i, obj) {

                        item += "<tr>" +
                                "<td style=font-Size:12px;text-align:center;width:80px;>" + (i + 1) + "</td>" +
                                 "<td style='font-Size:12px;text-align:right;width:100px;'>" + obj.WareHouseName + "</td>" +
                                 "<td style='font-Size:12px;text-align:right;width:100px;'>" + obj.DepartmentName + "</td>" +
                                 "<td style='font-Size:12px;text-align:right;width:100px;'>" + obj.IssueNo + "</td>" +
                             //'<td style="font-Size:12px;text-align:center;"><a onClick=\'MealStatusDetails("' + obj.ItemId + '")\' href="#">' + obj.ItemName + '</a></td>' +
                                "<td style='font-Size:12px;text-align:right;width:100px;'>" + obj.IssueDate + "</td>" +
                                "<td style='font-Size:12px;text-align:right;width:200px;'>" + obj.ItemName + "</td>" +
                                "<td style='font-Size:12px;text-align:right;width:100px;'>" + obj.Unit + "</td>" +
                                "<td style='font-Size:12px;text-align:left;width:100px;'>" + obj.IssueQty + "</td>" +


                               "</tr>";
                       TotalQTy += parseFloat(obj.IssueQty);
                       // TotaloffQTy += parseInt(obj.TotalMealOff);

                    });
                  item += "<tr><td colspan='4' style='text-align:center;background:#ccc;font-weight:bold;'>Total</td><td style='text-align:center;background:#ccc;font-weight:bold;'></td><td style='text-align:center;background:#ccc;font-weight:bold;'><td style='text-align:center;background:#ccc;font-weight:bold;'></td></td><td style='text-align:center;background:#ccc;font-weight:bold;'>"+parseFloat(TotalQTy).toFixed(2)+"</td></tr>";

                    $("#itemDetailsTabBody tr:gt(0)").remove();
                    $('#itemDetailsTabBody').html(item);

                }
                else {



                }
                }
            });
        };

        function exportExcelSummary(e) {
        if ($('#tblReportSummary tbody tr').length == 0) {
            swal("No Data to Export");
        } else {
            var file = new Blob([$('.divclassSummary').html()], { type: "application/vnd.ms-excel" });
            var url = URL.createObjectURL(file);
            var a = $("<a />", {
                href: url,
                download: "MetarialsSummary_report.xls"

            }).appendTo("body").get(0).click();
        }
    };

         function exportExcelDetails(e) {
             if ($('#tblReporDetails tbody tr').length == 0) {
            swal("No Data to Export");
        } else {
            var file = new Blob([$('.divclassDetails').html()], { type: "application/vnd.ms-excel" });
            var url = URL.createObjectURL(file);
            var a = $("<a />", {
                href: url,
                download: "MetarialsDetails_report.xls"

            }).appendTo("body").get(0).click();
        }

    };
    </script>
}
