﻿@using System.Data
@model  IEnumerable<IGFoodProject.Models.OtherStockIssueMaster>

@{
    ViewBag.Title = "Returned  List ";

}
<style>
    #manuallist {
        padding: 10px;
    }

    .form-control {
        height: calc(1.7rem + 2px);
    }

    .modal-dialog {
        width: 100%;
        height: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }


    .modal-contents {
        background-color: white;
    }

    .ModalHead {
        background-color: #3C8DBC;
        padding: 15px;
        color: white;
    }

        .ModalHead > h4 {
            color: white;
            padding-left: 10px;
        }

    a#tabA {
        text-decoration: underline;
    }

        a#tabA:hover {
            text-decoration: underline;
            font-size: 17px;
            font-weight: bolder;
            color: green;
        }
</style>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">

                        <div class="row">

                            <div class="col-md-6">
                                <h3>Returned  List </h3>
                            </div>
                            <div class="col-md-6 text-right ">
                                <a class="btn btn-outline-warning" href="@Url.Action("ReturnIssue", "StockOut")">

                                    <span class="fa fa-plus"></span> Go to  For Return

                                </a>
                            </div>

                        </div>



                    </div>
                    <br/>
                    <div class="card-body">
                        <div class="row">

                            <div class="col-md-3">
                                <div class="form-group" id="divLocation">
                                    <label for="ddlLocation">Location:</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlLocation" onchange="LoadWareHouseDetails()"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divWarehouse">
                                    <label for="ddlWarehouse">WareHouse:</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlWarehouse" ></select>
                                </div>
                            </div>
                      
                            <div class="col-md-2">
                                <div class="form-group" id="divFromDate">
                                    <label for="txtFromDate">From  Date</label>
                                    <input type="text" id="txtFromDate" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" id="divToDate">
                                    <label for="txtToDate">To  Date</label>
                                    <input type="text" id="txtToDate" class="form-control" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-3 pull-right offset-9">
                            <button style="margin-left: 27px;" class="btn btn-primary" onclick="ShowReport()">Search </button>
                        </div>
                    </div>
                    <br />
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body">
                                <table class="table table-bordered table-striped table-hover">
                                    <thead style="background-color: #ffe5cc;">
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th class="text-center">Return No</th>
                                            <th class="text-center">Issue No</th>                                              
                                            <th class="text-center">Return Date</th>
                                            <th class="text-center">Remarks</th>
                                            <th class="text-center">Location</th>
                                            <th class="text-center">Wearhouse</th>
                                      
                                            <th class="text-right">Returned Qty.</th>
                                            <th class="text-center">Returned By</th>
                                        </tr>
                                    </thead>
                                    <tbody id="manuallist">
                                        @{ int count = 1;}
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@count</td>
                                                <td style="text-align: center"><a id="tabA" onclick="PopUpDetails(@item.IssueReturnID)">@item.ReturnNo</a></td>

                                                <td>@item.IssueNo</td> 
                                                <td>@Convert.ToDateTime(item.ReturnDate).ToString("dd-MMM-yyyy")</td>

                                                <td>@item.Remarks</td>
                                                <td>@item.LocationName </td>
                                                <td> @item.WareHouseName</td>





                                                <td class="text-right">@item.ReturnQty.ToString()</td>
                                                <td> @item.CreateBy</td>
                  


                                            </tr>
                                            count++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>



                    </div>


                </div>

            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->


</section>

<div class="row">
    <div class="col-md-12">
        <div class="modal fade in" id="myModal" role="dialog">
            <div class="modal-dialog listDialog">

                <!-- Modal content-->
                <div class="modal-contents">


                    <div class="ModalHead">

                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Returned Item Details</h4>


                    </div>
                    <br />
                    <div class="container-fluid" id="tabledata">

                        <div class="row">
                            <div class="col-xs-12">



                                <div class="row">
                                    <div class="box-body table-responsive" id="MainGradeDiv2" style="width: 100%;">
                                        <br />

                                        <table id="modalTable" class="table table-striped table-bordered">
                                            <thead id="popTab">
                                                <tr>
                                                    <th style="text-align: center; color: black; width: 3%; background-color: turquoise; padding-bottom: 2.5%">SL</th>
                                                    <th style="text-align: center; color: black; background-color: turquoise; width: 40%">Item Name</th>
                                                    <th style="text-align: center; color: black; background-color: turquoise; width: 40%">UOM</th>
                                                    <th style="text-align: center; color: black; background-color: turquoise; width: 20%">Issue Qty</th>
                                                    <th style="text-align: center; color: black; background-color: turquoise; width: 20%">Returned Qty</th>

                                                </tr>

                                            </thead>
                                            <tbody id="itemDetailsTabBody"></tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                    <br />




                    <div class="modal-footer">

                        <button type="button" class="btn btn-default" data-dismiss="modal" id="closebtn">Close</button>
                    </div>
                </div>
            </div>





        </div>
    </div>
</div>


@section Scripts
{
    <script>
        $(document).ready(function () {
            LoadDate_Pr('#txtFromDate');
            LoadDate_C('#txtToDate');


         //   LoadReceiveWarehouse();
            LoadLocation('ddlLocation',0);

        });
        function LoadDate_Pr(controlName) {
            jQuery(controlName).datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd-M-yyyy'

            }).datepicker("setDate", "-2d");
        }


        function LoadWareHouseDetails() {
            debugger;
            var locid = $('#ddlLocation').val();
            LoadWareHouse('ddlWarehouse', locid, 7);
            
        }
       
      
    </script>

    <script>

        function LoadReportFinal(id) {
            var urlpath = '@Url.Action("MrrPrintReports", "Report")';


            var reportValue = "MrrPrint";

            var mrrId = id;

            //  alert( id);

            var jsonData = {};


            jsonData["ReportValue"] = reportValue;
            jsonData["MRRrOtherID"] = mrrId;



            debugger;
            $.ajax({
                url: urlpath,
                data: jsonData,
                dataType: 'json',
                type: "Get",
                success: function (data) {
                    if (data.isSuccess) {



                        //OpenPopUp('BasicReportViewer.aspx');
                        window.open("../CrystalViewer/CrystalViewer.aspx", "_blank", "WIDTH=1024,HEIGHT=768,scrollbars=no, menubar=no,resizable=yes,directories=no,location=no");
                    }
                }
            });
        }


        function ShowReport() {
            debugger;
            var fromdate;
            var todate;
            var poNo = 0;
            var warehouseId = 0;
            var locationId = 0;


            if ($('#txtFromDate').val() == "") {
                swal("Please input from  date");
                return;
            }
            else {
                fromdate = $('#txtFromDate').val();
            }
            if ($('#txtToDate').val() == "") {
                swal("Please input to  date");
                return;
            }
            else {
                todate = $('#txtToDate').val();
            }

          
            if ($('#ddlWarehouse').val() == "0") {
                warehouseId = '0';
            }
            else {
                warehouseId = $('#ddlWarehouse').val();
            }

            if ($('#ddlLocation').val() == "0") {
                locationId = '0';
            }
            else {
                locationId = $('#ddlLocation').val();
            }

            var urlpath = '@Url.Action("SearchForReturned", "StockOut")';
            $.ajax({
                url: urlpath,
                dataType: 'html',
                type: "Get",
                data: { fromdate: fromdate, todate: todate, WareHouseId: warehouseId, LocationId: locationId },
                async: false,
                success: function (data) {

                    data = JSON.parse(data);
                    $("#manuallist").html("");
                    if (data.length > 0) {



                        var row = "";
                        var count = 1;
                        $("#manuallist").html("");

                        var count=1;
                        for (var i = 0; i < data.length; i++) {



                            row += "<tr>";
                            row += "<td style='text-align:center'>" + count + "</td>";
                            row += "<td style='text-align:center'><a id='tabA' type='button' onclick='PopUpDetails(" + data[i].IssueReturnID + ")'>" + data[i].ReturnNo + "</a></td>";

                            row += "<td style='text-align:center'>" + data[i].IssueNo + "</td>";
                            row += "<td style='text-align:center'>" + ToJavaScriptDate(data[i].ReturnDate) + "</td>";
                            row += "<td style='text-align:center'>" + data[i].Remarks + "</td>";
                            row += "<td style='text-align:center'>" + data[i].LocationName + "</td>";

                            row += "<td style='text-align:center'>" + data[i].WareHouseName + "</td>";
                           


                            row += "<td style='text-align:right'>" + data[i].ReturnQty + "</td>";
                            row += "<td style='text-align:right'>" + data[i].CreateBy + "</td>";
                        
                            row += "</tr>";
                            count = count + 1;

                        }
                        $("#manuallist").html(row);
                    }
                }
            });
        }


        @*function GoToDo(soId) {
            window.location = "@Url.Action("ReceiveMrr", "OthersMrr")" + "?id=" + soId;
        }*@

    </script>


    <script>
        function PopUpDetails(id) {
            ModalPopUp();


            GetDetails(id);



        }
        function GetDetails(id) {
            var urlpath = '@Url.Action("GetReturnedDetailsById", "StockOut")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { id: id },
                async: false,

                success: function (result) {


                    //   $('#rateOf').text(ToJavaScriptDate(result.RateOf));


                    var row = "";
                    $("#itemDetailsTabBody").html("");
                    for (var i = 0; i < result.length; i++) {

                        row += "<tr>";
                        row += "<td style='text-align : center'>" + (i + 1) + "</td>";
                        row += "<td style='text-align : center'>" + result[i].ItemName + "</td>";
                        row += "<td style='text-align : center'>" + result[i].UOMName + "</td>";
                        row += "<td style='text-align : center'>" + result[i].IssueQty + "</td>";
                        row += "<td style='text-align : center'>" + result[i].ReturnQty + "</td>";
                      
                        row += "</tr>";



                    }


                    $("#modalTable #itemDetailsTabBody").html(row);


                }
            });

        }

        function ModalPopUp() {
            $("#myModal").modal();
        }
        function exportExcel() {

            var a = document.createElement('a');
            //getting data from our div that contains the HTML table
            var data_type = 'data:application/vnd.ms-excel';
            var table_div = document.getElementById('tabledata');
            var table_html = table_div.outerHTML.replace(/ /g, '%20');
            a.href = data_type + ', ' + table_html;
            //setting the file name
            a.download = 'download.xls';
            //triggering the function
            a.click();
            //just in case, prevent default behaviour
            e.preventDefault();
        }

        function LoadReceiveWarehouse() {
            //var typeid = $('#ddlWarehouseType').val();
            var warehouseTypeid = 7;
            var urlpath = '@Url.Action("GetDeliveryWarehouse", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { warehouseTypeid: warehouseTypeid },
                async: false,
                success: function (data) {

                    $('#ddlWarehouse').empty();
                    $('#ddlWarehouse').append("<option value='0'>--Select  Warehouse --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#ddlWarehouse').append($("<option></option>").val(data[i].WareHouseId).html(data[i].WareHouseName));
                    }
                }
            });
        }

        //function Location() {           

        //    var id = $('#ddlWarehouse').val();

        //    if (id > 0) {
        //        LoadLocation(id);
        //    }
        //}
       

        @*function LoadLocation(id) {
            
            var urlpath = '@Url.Action("GetLocationByWarehouseId", "StockOut")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { warehouseId: id },
                async: false,
                success: function (data) {

                    $('#ddlLocation').empty();
                    $('#ddlLocation').append("<option value='0'>--Select  Location --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#ddlLocation').append($("<option></option>").val(data[i].LocationId).html(data[i].LocationName));
                    }
                }
            });
        }*@

    </script>
}