﻿
@{
    ViewData["Title"] = "AddUOM";
}

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-6">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">UOM Entry</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <div >
                            <div class="card-body">
                                <div class="form-group" id="divUOM">
                                    <label for="txtUOM">UOM</label>
                                    <input type="text" class="form-control" id="txtUOM" placeholder="Enter UOM">
                                </div>


                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="chkActive" checked="checked">
                                    <label class="form-check-label" for="chkActive">Is Active</label>
                                </div>
                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button  class="btn btn-primary" onclick="SaveFinal()">Submit</button>
                            </div>
                        </div>
                    </div>
                    <!-- /.card -->
                    <!-- Form Element sizes -->
                    <!-- /.card -->
                    <!-- /.card -->
                    <!-- Input addon -->
                    <!-- /.card -->
                    <!-- Horizontal Form -->
                    <!-- /.card -->

                </div>
                <!--/.col (left) -->
                <!-- right column -->
                <div class="col-md-6">

                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
        <input id="txtUOMId" type="number" style="display:none;" value="@ViewBag.uomid">
    </section>

@section Scripts{
    <script>
        $(function () {
            
            var id = $('#txtUOMId').val();
           
            if (id > 0) {
                OdEdit(id);
            }
        });


        function SaveFinal() {
           
              //Swal("Hello World");
             if (Validation() == true) {

                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false
                    
                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveUOM();

                });
            }

        }

        function ValidateUOM(uom) {
            
            var result = 0;
            var urlpath = '@Url.Action("CheckUOM", "UOM")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { uom: uom},
                async: false,
                success: function (data) {
                    
                    result = data;
                }
            });
            return result;
        }

        function Validation() {

            var rVal = true;
            var message;
            if (($('#txtUOM').val() == "") || ($('#txtUOM').val() == null) ) {
                ValidationColorChange('txtUOM', 'divUOM', false);
                rVal = false;
                message = "Some Values Required";

            }
             
            var ddata = ValidateUOM($('#txtUOM').val());
            var uomid = $('#txtUOMId').val();
            
            if (ddata > 0 && uomid == 0) {
                rVal = false;
                message = "Duplicate UOM Please Change!!!";
                
            }
            

            if (rVal == false) {
                ShowMessage(message);
            }

            return rVal;
        }

        function SaveUOM() {
            var jsonData = {};


            jsonData["UOMId"] = parseInt( $('#txtUOMId').val());

            jsonData["UOMName"] = $('#txtUOM').val();

            jsonData["IsActive"] = $('#chkActive').is(':checked'); 
           
             
            var urlpath = '@Url.Action("SaveUOM", "UOM")';

            $.ajax({
                
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "POST"
            })
                .success(function (result) {

                    if (result.isSuccess) {

                        //$('.confirm').prop("disabled", false);
                        //$('.cancel').prop("disabled", false);
                        ////swal.close();

                        swal("UOM Saved Successfull");
                        window.location.href = '@Url.Action("Index", "UOM")';


                    }
                });


        }


         function OdEdit(id) {

            var url = '@Url.Action("GetUOMByID", "UOM")';
            $.ajax({
                url: url,
                dataType: 'json',
                data: { id: id },
                type: "Get",
                async: false,
                success: function (data) {
                     
                    $('#txtUOMId').val(id);
                        
                    $('#txtUOM').val(data.UOMName);
                    if(data.IsActive ==true)
                        $('#chkActive').prop('checked', true);
                      
                    else
                        $('#chkActive').prop('checked', false);
                  
                       
                }
            });

        }
    </script>
}