﻿@model IEnumerable<IGFoodProject.Models.FurtherProcessPriceConfig>

@{
    ViewBag.Title = "Index";
}

<section class="content">
    <div class="container-fluid">


        <div class="card-primary">
            <div class="card-header">
                <h3 class="card-title">
                    <span class="fa fa-eye"></span> Further Process Price Config List
                </h3>
                <div class="float-right btn btn-outline-warning">
                    @Html.ActionLink("Create New", "Create")
                </div>
            </div>
            <div class="card-body">
                <table class="table dataTable table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Product.ProductNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Product.ProductName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Product.PackSize.PackSizeName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MRP)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TPPrice)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DPPrice)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IsActive)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FromDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ToDate)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Product.ProductNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Product.ProductName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Product.PackSize.PackSizeName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MRP)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TPPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DPPrice)
                                </td>
                                <td>
                                    @item.IsActive
                                </td>
                                <td>
                                    @Convert.ToDateTime(item.FromDate).ToString("dd MMM yyyy")
                                </td>
                                <td>
                                    @Convert.ToDateTime(item.ToDate).ToString("dd MMM yyyy")
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.FurtherProcessPriceID })

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <Script>


    </Script>
}