﻿
@{
    ViewBag.Title = "ExchangeList";
}

@model IEnumerable<IGFoodProject.Models.ItemExchange>
@{
    ViewBag.Title = "ExchangeList";
}





<section class="content">


    <div class="row">

        <div class="col-xs-12">
            <div class="box box-success">

                <div class="box-header">
                    <h4 class="box-title">RM To FG Exchange List</h4>
                    
                </div>
                <br/>
                <!-- /.box-header -->
                <div class="box-body table-responsive">
                    <table id="mytable1" class="table table-bordered table-striped">
                        <thead style="background-color:  #ccffdc">
                            <tr>
                                <th style="text-align: center" rowspan="2">SL</th>
                                <th style="text-align: center" colspan="4">RM</th>
                                <th style="text-align: center" colspan="4">FG</th>
                                <th style="text-align: center" rowspan="2">Exchange Qty</th>
                                <th style="text-align: center" rowspan="2">Approved Qty</th>
                                <th style="text-align: center" rowspan="2">Exchange Date</th>
                                <th style="text-align: center" rowspan="2">Remarks</th>
                                <th style="text-align: center" rowspan="2">Create By</th>
                                <th style="text-align: center" rowspan="2">Create Date</th>
                                <th style="text-align: center" rowspan="2">Approved By</th>
                                <th style="text-align: center" rowspan="2">Approved Date</th>
                                <th style="text-align: center" rowspan="2">Status</th>
                            </tr>
                            <tr>
                                <th style="text-align: center">Location </th>
                                <th style="text-align: center">Warehouse</th>
                                <th style="text-align: center">Group</th>
                                <th style="text-align: center">Item</th>

                                <th style="text-align: center">Location </th>
                                <th style="text-align: center">Warehouse</th>
                                <th style="text-align: center">Group</th>
                                <th style="text-align: center">Product</th>
                            </tr>
                        </thead>
                        <tbody id="manuallist">
                            @{
                                var count = 1;
                            }
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td style="text-align: center" class="ExportLabelTD">@count</td>
                                    <td style="text-align: center" class="ExportLabelTD">@item.RmLocationName</td>
                                    <td style="text-align: center" class="ExportLabelTD">@item.RmWarehouseName</td>
                                    <td style="text-align: center" class="ExportLabelTD">@item.RmItemGroupName</td>
                                    <td style="text-align: center" class="ExportLabelTD">@item.RmItemName</td>
                                    <td style="text-align: center" class="ExportLabelTD">@item.FgLocationName</td>
                                    <td style="text-align: center" class="ExportLabelTD">@item.FgWarehouseName</td>
                                    <td style="text-align: center" class="ExportLabelTD">@item.FgProductGroupName</td>
                                    <td style="text-align: center" class="ExportLabelTD">@item.FgProductName</td>
                                    <td style="text-align: center" class="ExportLabelTD">@item.ExchangeQty</td>
                                    @if (item.ApprovedQty > 0)
                                    {
                                        <td style="text-align: center" class="ExportLabelTD">@item.ApprovedQty</td>
                                    }
                                    else
                                    {
                                        <td style="text-align: center" class="ExportLabelTD"></td>
                                    }
                                    <td style="text-align: center" class="ExportLabelTD">@item.ExeDate</td>
                                    <td style="text-align: center" class="ExportLabelTD">@item.Remarks</td>
                                    <td style="text-align: center" class="ExportLabelTD">@item.CreateBy</td>
                                    <td style="text-align: center" class="ExportLabelTD">@item.CreateDate</td>
                                    <td style="text-align: center" class="ExportLabelTD">@item.ApprovedBy</td>
                                    <td style="text-align: center" class="ExportLabelTD">@item.ApprovedDate</td>
                                    <td style="text-align: center" class="ExportLabelTD">@item.ApprovedStatus</td>

                                </tr>
                                count++;
                            }
                            
                        </tbody>
                    </table>

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>





    </div>



</section>



@section Scripts
{
    <script>
        function GenerateNew() {
            window.location.href = '@Url.Action("Index", "Exchange")';
        }

       

    </script>
}






