﻿
@{
    ViewBag.Title = "RM to FG";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">

                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title"> RM To FG Exchange</h3>
                    </div>
                </div>

            </div>


            <div style="margin-left: 15%" class="col-md-12">

                <div class="row" style="font-weight: bold; font-size: large;">
                    <div class="col-md-4">
                        <div class="card-body">
                            <label>RM</label>
                        </div>

                    </div>

                    <div class="col-md-4">
                        <div class="card-body">
                            <label>FG</label>
                        </div>

                    </div>

                </div>


                <div class="row">
                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="form-group" id="divLocation">
                                <label for="ddlLocation">Location</label>
                                <select class="form-control select2" id="ddlLocation" onchange="LoadFromWareHouse()"></select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="form-group" id="divToLocation">
                                <label for="ddlToLocation">Location</label>
                                <select class="form-control select2" id="ddlToLocation" onchange="LoadToWareHouse()"></select>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="form-group" id="divWareHouse">
                                <label for="ddlWareHouse">Warehouse</label>
                                <select class="form-control select2" id="ddlWareHouse"></select>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="form-group" id="divToWareHouse">
                                <label for="ddlToWareHouse">Warehouse</label>
                                <select class="form-control select2" id="ddlToWareHouse"></select>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="form-group" id="divItemGroup">
                                <label for="ddlWareHouse">Item Group</label>
                                <select class="form-control select2" id="ddlItemGroup" onchange="fromItem()"></select>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="form-group" id="divToItemGroup">
                                <label for="ddlToWareHouse">Item Group</label>
                                <select class="form-control select2" id="ddlToItemGroup" onchange="toItem()"></select>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="form-group" id="divItem">
                                <label for="ddlWareHouse">Item </label>
                                <select class="form-control select2" id="ddlItem" onchange="LoadStockQty()"></select>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="form-group" id="divToItem">
                                <label for="ddlToWareHouse">Item </label>
                                <select class="form-control select2" id="ddlToItem"></select>
                            </div>

                        </div>
                    </div>
                </div>




                <div class="row">
                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="form-group" id="divStock">
                                <label>Stock Qty</label>
                                <input type="text" class="form-control" id="txtStockQty" readonly="readonly" />
                                <input type="text" class="form-control" id="txtStock" hidden="hidden" />

                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="form-group" id="divExchangeDate">
                                <label for="txtExchangeDate">Exchange Date</label>

                                <input type="text" autocomplete="off" class="form-control datepicker" id="txtExchangeDate" value="@DateTime.Now.ToString("dd-MMM-yyyy")" />

                            </div>

                        </div>
                    </div>



                </div>

                <div class="row">

                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="form-group" id="divqty">
                                <label>Exchange Qty</label>
                                <input type="number" class="form-control" id="txtExchangeQty" oninput="checkQty()" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="form-group" id="divRemarks">
                                <label for="txtRemark">Remarks</label>
                                <textarea class="form-control" id="txtRemark"></textarea>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-8" style="text-align: center;">
                        <div class="card-body">
                            <div class="form-group">
                                <button class="btn btn-primary" onclick="SaveFinal()">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</section>


@section Scripts{
    <script>
        $(function () {

            LoadLocation('ddlLocation', 7);
            LoadLocation('ddlToLocation', 7);
            ItemGroup('ddlItemGroup');
            ProductGroup('ddlToItemGroup');

        });

        function checkQty() {
            debugger;
            var stock = parseFloat($('#txtStock').val());
            var exchange = parseFloat($('#txtExchangeQty').val());

            if (exchange > stock) {
                swal("Stock is not available.");
                $('#txtExchangeQty').val('');
            }
        }

        function LoadStockQty() {
            $('#txtStockQty').val('');
            $('#txtStock').val('');
            debugger;
            var warehouseId = $('#ddlWareHouse').val();
            var groupId = $('#ddlItemGroup').val();
            var itemId = $('#ddlItem').val();

            if (warehouseId == 0) {
                swal("Please select Warehouse");
                return;
            }
            if (groupId == 0) {
                swal("Please select item group.");
                return;
            }

            var urlpath = '@Url.Action("LoadStockQty", "Exchange")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { warehouseId: warehouseId, groupId: groupId, itemId: itemId },
                async: false,
                success: function (data) {
                    debugger;
                    if (data.StockQty > 0) {

                        var stk = data.StockQty + ' ' + data.Unit;
                        $('#txtStockQty').val(stk);
                        $('#txtStock').val(data.StockQty);

                    } else {
                        $('#txtStockQty').val('0');
                        $('#txtStock').val('0');

                    }


                }
            });

        }

        function fromItem() {
            var groupId = $('#ddlItemGroup').val();
            LoadItem('ddlItem', groupId);
        }

        function toItem() {
            var groupId = $('#ddlToItemGroup').val();
            LoadProduct('ddlToItem', groupId);
        }

        function LoadFromWareHouse() {

            var locid = $('#ddlLocation').val();
            var wt = 7;
            LoadWareHouse('ddlWareHouse', locid, wt);

        }

        function LoadToWareHouse() {

            var locid = $('#ddlToLocation').val();
            var wt = 3;
            LoadWareHouse('ddlToWareHouse', locid, wt);

        }

        function ItemGroup(elementId) {
            var urlpath = '@Url.Action("LoadItemGroup", "Exchange")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: {},
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Group--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].ItemGroupId).html(data[i].ItemGroupName));
                    }

                }
            });
        }


        function LoadItem(elementId, groupId) {
            var urlpath = '@Url.Action("LoadItem", "Exchange")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { groupId: groupId },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Item--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].ItemId).html(data[i].ItemName));
                    }

                }
            });
        }


        function ProductGroup(elementId) {
            var urlpath = '@Url.Action("LoadProductroup", "Exchange")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: {},
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Group--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].GroupId).html(data[i].GroupName));
                    }

                }
            });
        }

        function LoadProduct(elementId, groupId) {
            var urlpath = '@Url.Action("LoadProduct", "Exchange")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { groupId: groupId },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Item--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].ProductId).html(data[i].ProductName));
                    }

                }
            });
        }

        function SaveValidation() {
            var isValid = true;

            if ($('#ddlWareHouse').val() == 0 || $('#ddlWareHouse').val() == '') {
                ValidationColorChangeNew('ddlWareHouse', 'divWareHouse', 'Select RM Warehouse', true);
                isValid = false;
            }

            if ($('#ddlItem').val() == 0 || $('#ddlItem').val() == '') {
                ValidationColorChangeNew('ddlItem', 'divItem', 'Select RM Item', true);
                isValid = false;
            }


            if ($('#ddlLocation').val() == 0 || $('#ddlLocation').val() == '') {
                ValidationColorChangeNew('ddlLocation', 'divLocation', 'Select RM Location', true);
                isValid = false;
            }

            if ($('#ddlItemGroup').val() == 0 || $('#ddlItemGroup').val() == '') {
                ValidationColorChangeNew('ddlItemGroup', 'divItemGroup', 'Select RM Item Group', true);
                isValid = false;
            }




            if ($('#ddlToWareHouse').val() == 0 || $('#ddlToWareHouse').val() == '') {
                ValidationColorChangeNew('ddlToWareHouse', 'divToWareHouse', 'Select FG Warehouse', true);
                isValid = false;
            }

            if ($('#ddlToItem').val() == 0 || $('#ddlToItem').val() == '') {
                ValidationColorChangeNew('ddlToItem', 'divToItem', 'Select FG Item', true);
                isValid = false;
            }

            if ($('#ddlToLocation').val() == 0 || $('#ddlToLocation').val() == '') {
                ValidationColorChangeNew('ddlToLocation', 'divToLocation', 'Select FG Location', true);
                isValid = false;
            }

            if ($('#ddlToItemGroup').val() == 0 || $('#ddlToItemGroup').val() == '') {
                ValidationColorChangeNew('ddlToItemGroup', 'divToItemGroup', 'Select FG Item Group', true);
                isValid = false;
            }


            if ($('#txtExchangeQty').val() == 0 || $('#txtExchangeQty').val() == '') {
                ValidationColorChangeNew('txtExchangeQty', 'divqty', 'Input exchange qty.', false);
                isValid = false;
            }

            if ($('#txtExchangeDate').val() == 0 || $('#txtExchangeDate').val() == '') {
                ValidationColorChangeNew('txtExchangeDate', 'divExchangeDate', 'Input exchange date.', false);
                isValid = false;
            }

            if (isValid == false) {
                ShowMessage("Some Values Required");
            }

            return isValid;
        }


        function SaveFinal() {

            if (SaveValidation()) {
                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveExchangeRequisition();

                });
            }



        }

        function SaveExchangeRequisition() {

            var jsonData = {};
            jsonData["RmLocationId"] = parseInt($('#ddlLocation').val());
            jsonData["RmWarehouseId"] = parseInt($('#ddlWareHouse').val());
            jsonData["RmItemGroupId"] = parseInt($('#ddlItemGroup').val());
            jsonData["RmItemId"] = parseInt($('#ddlItem').val());

            jsonData["FgLocationId"] = parseInt($('#ddlToLocation').val());
            jsonData["FgWarehouseId"] = parseInt($('#ddlToWareHouse').val());
            jsonData["FgProductGroupId"] = parseInt($('#ddlToItemGroup').val());
            jsonData["FgProductId"] = parseInt($('#ddlToItem').val()); 


            jsonData["ExchangeQty"] = $('#txtExchangeQty').val();
            jsonData["ExchangeDate"] = $('#txtExchangeDate').val();
            jsonData["Remarks"] = $('#txtRemark').val(); 


            var urlpath = '@Url.Action("SaveExchangeRequisition", "Exchange")';

            $.ajax({

                contentType: "application/json",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "POST"
            })
                .success(function (result) {

                    if (result.isSuccess == true) {

                        swal({
                            title: 'Submit Successfully',
                            type: 'success',
                            closeOnCancel: true

                        },
                            function () {
                                window.location.href = '@Url.Action("Index", "Exchange")';
                            });
                    }
                });
        }




    </script>
}
