﻿@using System.Data
@model System.Data.DataTable

@{ int count = 1;}
<table id="SalesReportTable"  border="1" class="table dataTable table-bordered table-striped table-hover">
    <thead>
        <tr style="background-color: aliceblue">
            <th  style="text-align: center">SL</th>
            <th style="text-align: center">Channel</th>
            <th  style="text-align: center">Area</th>
            <th  style="text-align: center">Responsible</th>
            <th style="text-align: center">Customer</th>
            <th  style="text-align: center" colspan="3">Raw Chicken</th>
            <th style="text-align: center" colspan="3">Raw Chicken Amount</th>
            <th style="text-align: center" colspan="3">Whole Chicken</th>
            <th style="text-align: center" colspan="3">Whole Chicken Amount</th>
            <th style="text-align: center" colspan="3">Portion</th>
            <th style="text-align: center" colspan="3">Portion Amount</th>
            <th style="text-align: center" colspan="3">Further Process</th>
            <th style="text-align: center" colspan="3">Further Process Amount</th>
        </tr>
        <tr style="background-color: aliceblue">
            <th style="text-align: center" colspan="5"></th>
            <th style="text-align: center">Target</th>
            <th style="text-align: center">Sales</th>
            <th style="text-align: center">Ach%</th>
            <th style="text-align: center">Target</th>
            <th style="text-align: center">Sales</th>
            <th style="text-align: center">Ach%</th>
            <th style="text-align: center">Target</th>
            <th style="text-align: center">Sales</th>
            <th style="text-align: center">Ach%</th>
            <th style="text-align: center">Target</th>
            <th style="text-align: center">Sales</th>
            <th style="text-align: center">Ach%</th>
            <th style="text-align: center">Target</th>
            <th style="text-align: center">Sales</th>
            <th style="text-align: center">Ach%</th>
            <th style="text-align: center">Target</th>
            <th style="text-align: center">Sales</th>
            <th style="text-align: center">Ach%</th>
            <th style="text-align: center">Target</th>
            <th style="text-align: center">Sales</th>
            <th style="text-align: center">Ach%</th>
            <th style="text-align: center">Target</th>
            <th style="text-align: center">Sales</th>
            <th style="text-align: center">Ach%</th>
        </tr>
</thead>
    <tbody class="Traylist">
        @foreach (DataRow row in Model.Rows)
        {
            <tr>
                <td>@count</td> 
                <td style="text-align: center">@row.ItemArray[27]</td>
                <td style="text-align: center">@row.ItemArray[0]</td>
                <td style="text-align: center">@row.ItemArray[1]</td>
                <td style="text-align: center">@row.ItemArray[2]</td>
               <td style="text-align: center">@Math.Round(Convert.ToDecimal(row.ItemArray[3]), 2, MidpointRounding.AwayFromZero)</td>
                <td style="text-align: center">@Math.Round(Convert.ToDecimal(row.ItemArray[4]), 2, MidpointRounding.AwayFromZero)</td>
                <td style="text-align: center">@Math.Round(Convert.ToDecimal(row.ItemArray[5]), 2, MidpointRounding.AwayFromZero)</td>
                <td style="text-align: center">@Math.Round(Convert.ToDecimal(row.ItemArray[6]), 2, MidpointRounding.AwayFromZero)</td>
                <td style="text-align: center">@Math.Round(Convert.ToDecimal(row.ItemArray[7]), 2, MidpointRounding.AwayFromZero)</td>
                <td style="text-align: center">@Math.Round(Convert.ToDecimal(row.ItemArray[8]), 2, MidpointRounding.AwayFromZero)</td>
                <td style="text-align: center">@Math.Round(Convert.ToDecimal(row.ItemArray[9]), 2, MidpointRounding.AwayFromZero)</td>
                <td style="text-align: center">@Math.Round(Convert.ToDecimal(row.ItemArray[10]), 2, MidpointRounding.AwayFromZero)</td>
                <td style="text-align: center">@Math.Round(Convert.ToDecimal(row.ItemArray[11]), 2, MidpointRounding.AwayFromZero)</td>
                <td style="text-align: center">@Math.Round(Convert.ToDecimal(row.ItemArray[12]), 2, MidpointRounding.AwayFromZero)</td>
                <td style="text-align: center">@Math.Round(Convert.ToDecimal(row.ItemArray[13]), 2, MidpointRounding.AwayFromZero)</td>
                <td style="text-align: center">@Math.Round(Convert.ToDecimal(row.ItemArray[14]), 2, MidpointRounding.AwayFromZero)</td>
                <td style="text-align: center">@Math.Round(Convert.ToDecimal(row.ItemArray[15]), 2, MidpointRounding.AwayFromZero)</td>
                <td style="text-align: center">@Math.Round(Convert.ToDecimal(row.ItemArray[16]), 2, MidpointRounding.AwayFromZero)</td>
                <td style="text-align: center">@Math.Round(Convert.ToDecimal(row.ItemArray[17]), 2, MidpointRounding.AwayFromZero)</td>
                <td style="text-align: center">@Math.Round(Convert.ToDecimal(row.ItemArray[18]), 2, MidpointRounding.AwayFromZero)</td>
                <td style="text-align: center">@Math.Round(Convert.ToDecimal(row.ItemArray[19]), 2, MidpointRounding.AwayFromZero)</td>
                <td style="text-align: center">@Math.Round(Convert.ToDecimal(row.ItemArray[20]), 2, MidpointRounding.AwayFromZero)</td>
                <td style="text-align: center">@Math.Round(Convert.ToDecimal(row.ItemArray[21]), 2, MidpointRounding.AwayFromZero)</td>
                <td style="text-align: center">@Math.Round(Convert.ToDecimal(row.ItemArray[22]), 2, MidpointRounding.AwayFromZero)</td>
                <td style="text-align: center">@Math.Round(Convert.ToDecimal(row.ItemArray[23]), 2, MidpointRounding.AwayFromZero)</td>
                <td style="text-align: center">@Math.Round(Convert.ToDecimal(row.ItemArray[24]), 2, MidpointRounding.AwayFromZero)</td>
                <td style="text-align: center">@Math.Round(Convert.ToDecimal(row.ItemArray[25]), 2, MidpointRounding.AwayFromZero)</td>
                <td style="text-align: center">@Math.Round(Convert.ToDecimal(row.ItemArray[26]), 2, MidpointRounding.AwayFromZero)</td>

            </tr>
            count++;
        }
    </tbody>
    <tfoot>
        <tr>
            <th colspan="5" style="text-align: center">Total</th>
            <th style="text-align: center">@Math.Round(@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[3]))),2 ,MidpointRounding.AwayFromZero)</th>
            <th style="text-align: center">@Math.Round(@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[4]))), 2, MidpointRounding.AwayFromZero)</th>
            <th style="text-align: center"></th>
            <th style="text-align: center">@Math.Round(@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[6]))), 2, MidpointRounding.AwayFromZero)</th>
            <th style="text-align: center">@Math.Round(@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[7]))), 2, MidpointRounding.AwayFromZero)</th>
            <th style="text-align: center"></th>
            <th style="text-align: center">@Math.Round(@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[9]))), 2, MidpointRounding.AwayFromZero)</th>
            <th style="text-align: center">@Math.Round(@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[10]))), 2, MidpointRounding.AwayFromZero)</th>
            <th style="text-align: center"></th>
            <th style="text-align: center">@Math.Round(@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[12]))), 2, MidpointRounding.AwayFromZero)</th>
            <th style="text-align: center">@Math.Round(@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[13]))), 2, MidpointRounding.AwayFromZero)</th>
            <th style="text-align: center"></th>
            <th style="text-align: center">@Math.Round(@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[15]))), 2, MidpointRounding.AwayFromZero)</th>
            <th style="text-align: center">@Math.Round(@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[16]))), 2, MidpointRounding.AwayFromZero)</th>
            <th style="text-align: center"></th>
            <th style="text-align: center">@Math.Round(@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[18]))), 2, MidpointRounding.AwayFromZero)</th>
            <th style="text-align: center">@Math.Round(@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[19]))), 2, MidpointRounding.AwayFromZero)</th>
            <th style="text-align: center"></th>
            <th style="text-align: center">@Math.Round(@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[21]))), 2, MidpointRounding.AwayFromZero)</th>
            <th style="text-align: center">@Math.Round(@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[22]))), 2, MidpointRounding.AwayFromZero)</th>
            <th style="text-align: center"></th>
            <th style="text-align: center">@Math.Round(@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[24]))), 2, MidpointRounding.AwayFromZero)</th>
            <th style="text-align: center">@Math.Round(@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[25]))), 2, MidpointRounding.AwayFromZero)</th>
            <th style="text-align: center"></th>
        </tr>
    </tfoot>
</table>
