﻿@using System.Data
@model System.Data.DataTable

@{ int count = 1;}
<table id="SalesReportTable"  border="1" class="table dataTable table-bordered table-striped table-hover">
    <thead>
        <tr style="background-color: aliceblue">
            <th  style="text-align: center">SL</th>
            @*<th style="text-align: center">Product Group</th>*@
            <th  style="text-align: center">Category</th>
            <th  style="text-align: center">Product</th>
            <th  style="text-align: center">Target KG</th>
            <th  style="text-align: center">Achievement KG</th>
            <th  style="text-align: center">Achievement %</th>
        </tr>
    </thead>
    <tbody class="Traylist">
        @foreach (DataRow row in Model.Rows)
        {
            <tr>
                <td>@count</td> 
                @*<td style="text-align: center">@row.ItemArray[8]</td>*@
                <td style="text-align: center"><span style="font-weight:bold;color:black">@row.ItemArray[1] : @row.ItemArray[8]</span></td>
                @if (Convert.ToInt32(row.ItemArray[2]) == 1)
                {
                    <td style="text-align: center"><span style="font-weight:bold;color:black">@row.ItemArray[3]</span></td>

                }
                else
                {
                    <td style="text-align: center">@row.ItemArray[3]</td>
                }
             
                @if (Convert.ToInt32(row.ItemArray[2]) == 1)
                {
                    <td style="text-align: center"><span style="font-weight:bold;color:black">@row.ItemArray[4]</span></td>
                    
                }
                else
                {
                    <td style="text-align: center">0</td>
                }
               
                @if (Convert.ToInt32(row.ItemArray[2]) == 1)
                {
                    <td style="text-align: center"><span style="font-weight:bold;color:black">@row.ItemArray[5]</span></td>
                }
                else
                {
                    <td style="text-align: center">@row.ItemArray[5]</td>
                }
                @if (Convert.ToInt32(row.ItemArray[2]) == 1)
                {
                    <td style="text-align: center"><span style="font-weight:bold;color:black">@Math.Round(Convert.ToDecimal(row.ItemArray[6]), 2, MidpointRounding.AwayFromZero)</span></td>
                }
                else
                {
                    <td style="text-align: center">@Math.Round(Convert.ToDecimal(row.ItemArray[6]), 2, MidpointRounding.AwayFromZero)</td>
                }
               
            </tr>
            count++;
        }
    </tbody>
    <tfoot>
        <tr>
            <th colspan="3" style="text-align: center">Total</th>
            <th style="text-align: center">@Math.Round(@Model.AsEnumerable().Where(x => Convert.ToInt32(x.ItemArray[2]) == 1).Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[4]))),2 ,MidpointRounding.AwayFromZero)</th>
            <th style="text-align: center">@Math.Round(@Model.AsEnumerable().Where(x => Convert.ToInt32(x.ItemArray[2]) == 1).Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[5]))), 2, MidpointRounding.AwayFromZero)</th>
            <th style="text-align: center"></th>
        </tr>
    </tfoot>
</table>
