﻿
@{
    ViewBag.Title = " Target Vs Achievement";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Target Vs Achievement</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card-body">
                                    <div class="form-group" id="divArea">
                                        <label for="ddlArea">Area</label>
                                        <select class="form-control select2" id="ddlArea" style="width: 100%;" onchange="LoadSalesPersion('ddlSalesPersion')"></select>
                                    </div>
                                    <div class="form-group" id="divSalesPersion">
                                        <label for="ddlSalesPersion">Sales Officer<span class="text-danger"> *</span></label>
                                        <select class="form-control select2" id="ddlSalesPersion" style="width: 100%;"> </select>
                                    </div>
                                    <div class="form-group" id="divCustomerType">
                                        <label for="ddlCustomerType">Customer Type<span class="text-danger"> *</span></label>
                                        <select class="form-control select2" id="ddlCustomerType" style="width: 100%;" onchange="LoadCustomer('ddlCustomer')"></select>
                                    </div>
                                    <div class="form-group" id="divCustomer">
                                        <label for="ddlCustomer">Customer<span class="text-danger"> *</span></label>
                                        <select class="form-control select2" id="ddlCustomer" style="width: 100%;"> </select>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-4">
                                <div class="card-body">
                                    @*<div class="form-group " id="divCustomer">
                                            <label for="txtSalesPerson">Sales Person</label>
                                            <input type="text" id="txtSalesPerson" class="form-control" />
                                            <input type="number" id="employeeSelect" style="display: none" class="form-control" />
                                        </div>*@
                                    <div class="form-group " id="divDateRange">
                                        <label for="dateRange ">Report Date Range<span style="color: red"> *</span></label>
                                        <input type="text" class="form-control datepicker" autocomplete="off" id="dateRange">
                                    </div>

                                    @*<div class="col-md-12 icheck-primary">
                                            <div class="form-group clearfix">
                                                <div class="icheck-success d-inline col-md-4">
                                                    <input type="radio" id="orderRadio" name="reportType" value="1" checked="">
                                                    <label for="orderRadio">Order</label>
                                                </div>
                                                <div class="icheck-success d-inline col-md-4">
                                                    <input type="radio" id="challanradio" name="reportType" value="2">
                                                    <label for="challanradio">Challan</label>
                                                </div>
                                            </div>
                                        </div>*@
                                    <div class="col-md-12 icheck-primary">
                                        <div class="form-group clearfix">
                                            @*<div class="icheck-success d-inline col-md-4">
                                                    <input type="radio" id="DailyRadio" name="dateType" value="1" checked="">
                                                    <label for="DailyRadio">Daily</label>
                                                </div>
                                                <div class="icheck-success d-inline col-md-4">
                                                    <input type="radio" id="Weeklyradio" name="dateType" value="2">
                                                    <label for="Weeklyradio">Weekly</label>
                                                </div>*@
                                            <div class="icheck-success d-inline col-md-4">
                                                <input type="radio" id="MonthlyRadio" name="dateType" value="3" checked="">
                                                <label for="MonthlyRadio">Monthly</label>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-body -->

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary float-left" onclick="LoadReport()">Submit</button>
                    <button type="button" class="btn btn-success float-right" onclick="exportExcel()">Export To Excel</button>
                    @*<button class="btn btn-outline-danger  float-right" onclick="location.reload()">Cancel</button>*@
                </div>
                <!-- /.card -->

                <div class="card divclass" id="salesReportDiv">
                    <div class="card-header with-border">
                        <div id="">
                            <h3 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="companyHeader"></h3>
                            <h4 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="reportHeader"></h4>

                            <div class="row">
                                <div class="offset-md-10 col-md-2">
                                    <label id="reportDate"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-body table-responsive">
                        <div class="card-body" id="salesReport">
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-xs-12 text-center" id="testSpan" style="display: none">

        <span>
            Please wait Data is loading -
            <img src="~/AssetStatic/Images/Double Ring.gif" />
        </span>

    </div>
</section>
@section Scripts{
    <script>
        $(function () {
            //EmpAutoCom('txtSalesPerson', 'employeeSelect');
            //LoadDivision('ddlDivision');
            //LoadAreaByDivisionId('ddlArea');
            //LoadTerritoryByAreaId('ddlTerritory');
            //LoadMarketByTerritoryId('ddlMarket');
            //LoadFilteredCustomers('ddlCustomer');
            LoadArea();
            LoadCustomerType('ddlCustomerType');
            $('#dateRange').daterangepicker({
                locale: {
                    format: 'DD MMM YYYY'
                }
            });

            //$("#ddlDivision").on("change",
            //    function () {
            //        LoadAreaByDivisionId('ddlArea', $(this).val());
            //    });
            //$("#ddlArea").on("change",
            //    function () {
            //        LoadTerritoryByAreaId('ddlTerritory', $(this).val());
            //    });
            //$("#ddlTerritory").on("change",
            //    function () {
            //        LoadFilteredCustomers('ddlCustomer',
            //            $("#ddlDivision").val(),
            //            $("#ddlArea").val(),
            //            $("#ddlTerritory").val());

            //        LoadMarketByTerritoryId('ddlMarket', $("#ddlTerritory").val());
            //    });
            //$("#allCheckbox").on("change",
            //      function () {
            //          if ($('#allCheckbox').is(':checked')) {
            //              $(".customerType").prop("checked", true);

            //          }
            //          else {
            //              $(".customerType").prop("checked", false);

            //          }
            //      });
            //$("#allCheckbox").trigger('change');

            //if ($('#summaryradio').is(':checked')) {

            //}
        });



        function LoadArea() {
            var urlpath = '@Url.Action("GetArea", "TargetSetup")';

            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {
                    $('#ddlArea').empty();
                    $('#ddlArea').append("<option value='0'>--Select Area--</option>");


                    for (var i = 0; i < data.length; i++) {

                        $("#ddlArea").append($("<option></option>").val(data[i].AreaId).html(data[i].AreaName));

                    }
                }
            });
        }
        function LoadSalesPersion(elementId) {
            var areaId = $('#ddlArea').val();
            var urlpath = '@Url.Action("GetSalesOfficerByArea", "TargetSetup")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { areaId: areaId },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Sales Officer --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].SalesOfficerId).html(data[i].SalesOfficerId + ":" + data[i].EmpName + ": " + data[i].Designation));
                    }
                }
            });
        }

        function LoadCustomer(elementId) {
            var typeid = $('#ddlCustomerType').val();
            var urlpath = '@Url.Action("GetCustomer", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { typeid: typeid },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Customer --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].CustomerID).html(data[i].CustomerCode + ":" + data[i].CustomerName + ": " + data[i].CoustomerTypeName));
                    }
                }
            });
        }
        function LoadGroup() {
            var urlpath = '@Url.Action("LoadGroup", "ProductType")';

            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {
                    $('#ddlGroup').empty();
                    $('#ddlGroup').append("<option value='0'>--Select Group--</option>");


                    for (var i = 0; i < data.length; i++) {

                        $("#ddlGroup").append($("<option></option>").val(data[i].GroupId).html(data[i].GroupName));

                    }
                }
            });
        }

        function LoadCategortByGroup() {
            var groupId=  $('#ddlGroup').val();

            var urlpath = '@Url.Action("GetCategoryByGroupId", "Utility")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { groupId: groupId },
                async: false,
                success: function (data) {

                    $('#ddlCategory').empty();
                    $('#ddlCategory').append("<option value='0'>--Select Category--</option>");


                    for (var i = 0; i < data.length; i++) {

                        $("#ddlCategory").append($("<option></option>").val(data[i].CategoryId).html(data[i].CategoryName));

                    }

                }
            });
        }

        function LoadProductsByCategort() {
            var categoryId = $('#ddlCategory').val();
            var urlpath = '@Url.Action("GetProductByCategoryId", "Utility")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { categoryId: categoryId },
                async: false,
                success: function (data) {

                    $('#ddlProduct').empty();
                    $('#ddlProduct').append("<option value='0'>--Select Product--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $("#ddlProduct").append($("<option></option>").val(data[i].ProductId).html(data[i].ProductName));

                    }

                }
            });
        }
        function chkbox() {

            if ($('input.customerType:checked').length == 5) {
                $(".customerType").prop("checked", true);
                $("#allCheckbox").prop("checked", true);
            }
            else {
                $("#allCheckbox").prop("checked", false);
            }
        }

        function LoadReport() {
            if (RptValidation() == true) {
                var CustomerTypeId = 0
                var CustomerId = 0
                var AreaId = 0
                var SalesOfficerId = 0


                CustomerTypeId = parseInt($("#ddlCustomerType").val());
                CustomerId = parseInt($("#ddlCustomer").val());
                AreaId = parseInt($("#ddlArea").val());
                SalesOfficerId = parseInt($("#ddlSalesPersion").val());



                var array = [];
                var dateRange = $('#dateRange').val();
                array = dateRange.split('-');

                //var reportType = 1;
              
                //if ($('#orderRadio').is(':checked')) {
                //    reportType = $('#orderRadio').val();
                //}

                //if ($('#challanradio').is(':checked')) {
                //    reportType = $('#challanradio').val();
                //}

                var monthly = 0;
                monthly = $("input[name='dateType']:checked").val();
                //if ($('#summaryradio').is(':checked')) {
                //    summary = 1;
                //}
                //var customerType = '';

                //if ($('#horecaCheckbox').is(':checked')) {

                //    customerType += ',' + $('#horecaCheckbox').val();
                //}

                //if ($('#corporateCheckbox').is(':checked')) {

                //    customerType += ',' + $('#corporateCheckbox').val();
                //}
                //if ($('#ownSaleCheckbox').is(':checked')) {

                //    customerType += ',' + $('#ownSaleCheckbox').val();
                //}
                //if ($('#fatcoryCheckbox').is(':checked')) {

                //    customerType += ',' + $('#fatcoryCheckbox').val();
                //}
                //if ($('#dealerCheckbox').is(':checked')) {

                //    customerType += ',' + $('#dealerCheckbox').val();
                //}



                //if ($('#modernCheckbox').is(':checked')) {

                //    customerType += ',' + $('#modernCheckbox').val();
                //}

                var urlpath = '@Url.Action("CustomerTargetVsAchievementReport", "TargetSetup")';

                $.ajax({
                    url: urlpath,
                    data: { fromDate: array[0], toDate: array[1], monthly: monthly, CustomerTypeId: CustomerTypeId, CustomerId: CustomerId, AreaId: AreaId, SalesOfficerId: SalesOfficerId },
                    dataType: 'html',
                    type: "Get",
                    beforeSend: function () {
                        $('#testSpan').show();
                        $("#salesReport").empty();
                    },
                    success: function (data) {
                        $("#salesReport").html(data);
                        $('#testSpan').hide();
                    },
                    complete: function () {


                        $('#companyHeader').html("IG Foods Limited");
                        $('#reportHeader').html("Target Vs Achievement");
                        //$('#reportDate').html("Stock report of :" + $('#txtRequisitionDate').val() + " & " + $('#txtProductionDate').val());
                        $('#SalesReportTable').rowspanizer({
                            vertical_align: 'middle',
                            columns: [1, 2, 3,4]

                        });
                        $('#reportDate').text('Report from: ' + array[0] + 'to :' + array[1]);
                        groupTable($('#SalesReportTable tr:has(td)'), 1, 4);
                        $('#SalesReportTable .deleted').remove();
                    }
                });
            }
        }


        function exportExcel(e) {
            if ($('#SalesReportTable tbody tr').length == 0) {
                swal("No Data to Export");
            } else {
                var file = new Blob([$('#salesReportDiv').html()], { type: "application/vnd.ms-excel" });
                var url = URL.createObjectURL(file);
                var a = $("<a />", {
                    href: url,
                    download: "SalesPersonWiseSalesReport.xls"

                }).appendTo("body").get(0).click();
                e.preventDefault();
            }
        }

        function RptValidation() {



            var isValid = true;
            //if (($('#stockDate').val() == 0 || $('#stockDate').val() == '') && rpt == 'DailyStockSummery') {
            //    ValidationColorChangeNew('stockDate', 'divStockDate', 'Please Select Stock Date', true);
            //    isValid = false;
            //}
            //if (($('#stockMonth').val() == 0 || $('#stockMonth').val() == '') && rpt == 'MonthlyStockSummery') {
            //    ValidationColorChangeNew('stockMonth', 'divstockMonth', 'Please Select Stock Month', true);
            //    isValid = false;
            //}

            //if ($('#ddlReportName').val() == 0 || $('#ddlReportName').val() == '') {
            //    ValidationColorChangeNew('ddlReportName', 'divReportName', 'Please Select Report Name', true);
            //    isValid = false;
            //}
            return isValid;
        }

        function groupTable($rows, startIndex, total) {
            if (total === 0) {
                return;
            }
            var i, currentIndex = startIndex, count = 1, lst = [];
            var tds = $rows.find('td:eq(' + currentIndex + ')');
            var ctrl = $(tds[0]);
            lst.push($rows[0]);
            for (i = 1; i <= tds.length; i++) {
                if (ctrl.text() == $(tds[i]).text()) {
                    count++;
                    $(tds[i]).addClass('deleted');
                    lst.push($rows[i]);
                }
                else {
                    if (count > 1) {
                        ctrl.attr('rowspan', count);
                        groupTable($(lst), startIndex + 1, total - 1);
                    }
                    count = 1;
                    lst = [];
                    ctrl = $(tds[i]);
                    lst.push($rows[i]);
                }
            }
        }
    </script>
}