﻿
@{
    ViewBag.Title = "Customer Type Target Setup";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="card-title">
                                    @if (ViewBag.CustomerTypeMasterTargetSetupId > 0)
                                    {
                                        <span class="">Master Target Setup</span>
                                    }
                                    else
                                    {
                                        <span class="">Master Target Setup</span>
                                    }

                                </h3>
                            </div>
                            <div class="col-md-2">
                                @if (ViewBag.CustomerTypeMasterTargetSetupId > 0)
                                {
                                    <h4><span id="CTNo"></span></h4>
                                }
                            </div>
                            <div class="col-md-4 text-right">
                                <a class="btn btn-outline-warning" href="@Url.Action("CustomerTypeIndex", "TargetSetup", new { fromdate = (DateTime?)null, todate = (DateTime?)null, areaId = 0, salesOfficerId = 0 })">
                                    <span class="fa fa-list"></span> Go To Master Target Setup List
                                </a>
                            </div>
                        </div>

                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group" id="divDelivaryDate">
                                            <label for="delivaryDate">From Date<span class="text-danger"> *</span></label>
                                            <input type="text" class="form-control" style="width: 100%;" id="fromDate" autocomplete="off" />
                                            <input type="hidden" id="YearId" />
                                            <input type="hidden" id="MonthId" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group" id="divToDate">
                                            <label for="delivaryDate">To Date<span class="text-danger"> *</span></label>
                                            <input type="text" class="form-control" style="width: 100%;" id="toDate" autocomplete="off" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" id="divTitle">
                                            <label for="txtTitle">Title</label>
                                            <input type="text" class="form-control " style="width: 100%;" id="txtTitle" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group" id="divArea">
                                            <label for="ddlArea">Area</label>
                                            <select class="form-control select2" id="ddlArea" style="width: 100%;" onchange="LoadSalesPersion('ddlSalesPersion')"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group" id="divSalesPersion">
                                            <label for="ddlSalesPersion">Sales Officer<span class="text-danger"> *</span></label>
                                            <select class="form-control select2" id="ddlSalesPersion" style="width: 100%;"> </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group" id="divRemarks">
                                            <label for="txtRemarks" >Remarks </label>
                                            <textarea id="txtRemarks"  rows="2" cols="90" style="text-align: left"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <!-- /.card-body -->
                            </div>
                        </div>
                        <div class="row">

                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary" id="btnSearch" onclick="LoadReport()">Search</button>
                        <button class="btn btn-primary  float-right" id="btnSave" onclick="Save()">Save</button>
                    </div>
                </div>
                <!-- /.card -->
                <div class="card divclass" id="salesReportDiv">
                    <div class="card-header with-border">
                        <div id="">
                            <div class="row">
                                <div class="col-md-12">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="salesReport">
                        <div class="table-responsive">
                            <table id="SummaryTable" class="table table-bordered table-striped table-hover">
                                <thead id="hSummary">
                                </thead>
                                <tbody id="summarybody">
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input id="customerTypeMasterTargetSetupId" type="number" style="display: none;" value="@ViewBag.CustomerTypeMasterTargetSetupId">
    </div>
</section>
@section Scripts{
    <script>
        $(function () {
            LoadDatex('#fromDate');
            LoadDatex('#toDate');
            var _customerTypeTargetSetupId = 0;
            _customerTypeTargetSetupId = $('#customerTypeMasterTargetSetupId').val();


            $("#btnSave").hide();
            $("#btnSearch").show();
            LoadArea();
            if (_customerTypeTargetSetupId > 0) {
                GetMasterData(_customerTypeTargetSetupId);
            } else {
            }

        });

        function LoadDatex(controlName) {
            jQuery(controlName).datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd-M-yyyy'
                //format: 'yyyy-M-dd'
            });
        }







        function LoadArea() {
            var urlpath = '@Url.Action("GetArea", "TargetSetup")';

            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {
                    $('#ddlArea').empty();
                    $('#ddlArea').append("<option value='0'>--Select Area--</option>");


                    for (var i = 0; i < data.length; i++) {

                        $("#ddlArea").append($("<option></option>").val(data[i].AreaId).html(data[i].AreaName));

                    }
                }
            });
        }



        function LoadSalesPersion(elementId) {
            var areaId = $('#ddlArea').val();
            var urlpath = '@Url.Action("GetSalesOfficerByArea", "TargetSetup")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { areaId: areaId },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Sales Officer --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].SalesOfficerId).html(data[i].SalesOfficerId + ":" + data[i].EmpName + ": " + data[i].Designation));
                    }
                }
            });
        }


        LoadWareH = () => {
            LoadWareHouse('ddlWareHouse', $("#ddlLocation").val(), 3);
        }
        NextDate = () => {
            debugger;
            var currentDate = $("#fromDate").val();
            // var a = new Date(currentDate.getFullYear(), currentDate.getMonth() + 1, 0)
            var a = Date.parse(currentDate).addDays(5).toString("dd-MMM-yyyy");
            //var f = a.toDateString("dd-MMM-yyyy");
            $("#toDate").val(a);
        }





        function GetMasterData(customerTypeTargetSetupId) {
            //if (RptValidation() == true) {

            var urlpath = '@Url.Action("GetCustomerTypeTargetMappingDataById", "TargetSetup")';

            $.ajax({
                url: urlpath,
                data: { customerTypeTargetSetupId: customerTypeTargetSetupId },
                dataType: 'json',
                type: "Get",
                success: function (data) {
                    debugger;
                    var json = $.parseJSON(data.JSONresult);
                    var json1 = $.parseJSON(data.JSONresult1);
                    var json2 = $.parseJSON(data.JSONresult2);
                    var json3 = $.parseJSON(data.JSONresult3);

                    $("#btnSearch").hide();
                    $('#CTNo').text(json2[0].TargetSetupNo)
                    $('#fromDate').val(json2[0].FromDate);
                    $("#fromDate").prop("disabled", true);
                    $('#toDate').val(json2[0].ToDate);
                    $("#toDate").prop("disabled", true);


                    $('#txtTitle').val(json2[0].Title);
                    $('#txtRemarks').val(json2[0].Remarks);

                    $('#ddlArea').val(json2[0].AreaId).trigger('change');
                    $("#ddlArea").prop("disabled", true);
                    LoadSalesPersion('ddlSalesPersion');
                    $('#ddlSalesPersion').val(json2[0].SalesOfficeId).trigger('change');
                    $("#ddlSalesPersion").prop("disabled", true);


                    $('#hSummary').html('');
                    var tHeadRow = '';
                    tHeadRow += '<tr style="font-size: 12px;font-weight: 900;">';
                    tHeadRow += '<td rowspan="2" style="text-align: center; vertical-align: middle;min-width: 30px;">SL</td>';
                    tHeadRow += '<td rowspan="2" style="text-align: center; vertical-align: middle;min-width: 120px;">Customer Type</td>';
                    var flockCount = 0;
                    for (var a = 0; a < json.length; a++) {

                        tHeadRow += '<td  style="text-align: center; vertical-align: middle;min-width: 80px;" colspan="2">' + json[a].TypeName + '</td>';

                        //if (json[a].areacount > 1) {
                        //    var areacount = json[a].areacount + 2;
                        //    tHeadRow += '<td  style="text-align: center; vertical-align: middle;min-width: 80px;" colspan="' + areacount + '">' + json[a].SalesOfficerId + ' : ' + json[a].EmpName + '</td>';
                        //}
                        //else {
                        //    tHeadRow += '<td  style="text-align: center; vertical-align: middle;min-width: 80px;" colspan="2">' + json[a].SalesOfficerId + ' : ' + json[a].EmpName + '</td>';
                        //}

                        flockCount++;
                    }

                    tHeadRow += '<td rowspan="2"  style="text-align: center; vertical-align: middle;min-width: 80px;">Total Target KG</td>';
                    tHeadRow += '<td rowspan="2"  style="text-align: center; vertical-align: middle;min-width: 80px;">Total Target Amount</td>';
                    flockCount++;
                    tHeadRow += '</tr>';



                    //tHeadRow += '<tr style="font-size: 12px;font-weight: 900;" id="secondtd">';


                    //for (var a = 0; a < json1.length; a++) {
                    //    tHeadRow += '<td  style="text-align: center; vertical-align: middle;min-width: 80px;" colspan="2">' + json1[a].AreaName + '</td>';
                    //    flockCount++;
                    //}


                    //tHeadRow += '</tr>';


                    tHeadRow += '<tr style="font-size: 12px;font-weight: 900;" id="thirdd">';


                    for (var a = 0; a < json.length; a++) {
                        tHeadRow += '<td  style="text-align: center; vertical-align: middle;min-width: 80px;"> Target KG</td>';
                        tHeadRow += '<td  style="text-align: center; vertical-align: middle;min-width: 80px;"> Target Amount</td>';
                        flockCount++;
                    }


                    tHeadRow += '</tr>';


                    $('#hSummary').html(tHeadRow);



                    ////////////////////////////////////////////////////

                    debugger;

                    var row = '';
                    var count = 1;
                    for (var i = 0; i < json1.length; i++) {


                        //row += '<tr >';
                        row += "<tr id='trmain" + count + "'>";
                        row += '<td style="text-align:center;">' + count + '</td>';
                        row += "<td style='display: none;'><input type='text'  style='display: none;'  id='CustomerTypeID_" + count + "' value = '" + json1[i].CustomerTypeID + "'  /></td>";
                        //row += '<td style="text-align:center;">' + json2[i].CategoryId + '</td>';
                        row += '<td style="text-align:center;">' + json1[i].CoustomerTypeName + '</td>';


                        var counta = 1;
                        for (var a = 0; a < json.length; a++) {
                            row += '<td class="hidea" style="text-align:center;display: none;">' + counta + '</td>';
                            row += "<td style='display: none;'><input type='text'  style='display: none;'  id='TypeId_" + counta + "_" + json1[i].CustomerTypeID + "' value = '" + json[a].TypeId + "'  /></td>";
                            //row += '<td  style="text-align: center; vertical-align: middle;min-width: 80px;"><input type="number" id="quantity" /></td>';
                            for (var b = 0; b < json3.length; b++) {
                                if (json1[i].CustomerTypeID == json3[b].CustomerTypeId && json[a].TypeId == json3[b].TypeId) {
                                    row += "<td style='display: none;'><input type='text'  style='display: none;'  id='CustomerTypeTargetSetupDetailsId_" + json1[i].CustomerTypeID + "_" + json[a].TypeId + "' value = '" + json3[b].CustomerTypeTargetSetupDetailsId + "' /></td>";
                                    if (json3[b].TargetKG > 0)
                                    {
                                        row += "<td style='text-align:center;width:2%'><input type='number' style='text-align:right;'  id='TargetQty_" + json1[i].CustomerTypeID + "_" + json[a].TypeId + "'  placeholder='Target KG' onkeyup='RowTotalCalculation(" + json1[i].CustomerTypeID + ")'  value = '" + json3[b].TargetKG + "'/></td>";
                                    } else
                                    {
                                        row += "<td style='text-align:center;width:2%'><input type='number' style='text-align:right;'  id='TargetQty_" + json1[i].CustomerTypeID + "_" + json[a].TypeId + "'  placeholder='Target KG' onkeyup='RowTotalCalculation(" + json1[i].CustomerTypeID + ")'  value = ''/></td>";
                                    }
                                    if (json3[b].TargetAmount > 0)
                                    {
                                        row += "<td style='text-align:center;width:2%'><input type='number' style='text-align:right;'  id='TargetAmount_" + json1[i].CustomerTypeID + "_" + json[a].TypeId + "'  placeholder='Target Amount' onkeyup='RowTotalCalculation(" + json1[i].CustomerTypeID + ")' value = '" + json3[b].TargetAmount + "'/></td>";
                                    } else {
                                        row += "<td style='text-align:center;width:2%'><input type='number' style='text-align:right;'  id='TargetAmount_" + json1[i].CustomerTypeID + "_" + json[a].TypeId + "'  placeholder='Target Amount' onkeyup='RowTotalCalculation(" + json1[i].CustomerTypeID + ")' value = ''/></td>";
                                    }

                                }
                            }

                            counta++;
                        }
                        row += "<td style='text-align:right;width:3%'><input type='number' style='text-align:right;'  id='TotalTargetQty_" + json1[i].CustomerTypeID + "'  value = '" + json1[i].TotalTargetKG + "'/></td>";
                        row += "<td style='text-align:right;width:3%'><input type='number' style='text-align:right;'  id='TotalTargetAmount_" + json1[i].CustomerTypeID + "'  value = '" + json1[i].TotalTargetAmount + "'/></td>";

                        row += '</tr>';
                        count++
                    }


                    $("#summarybody").html(row);
                    ////var json = $.parseJSON(data);
                    //ReadTableData(json);
                    //CalculateAll();
                    //                                        row += "<td style='text-align:center;width:2%'><input type='number' style='text-align:right;'  id='TargetQty_" + json1[i].CustomerTypeID + "_" + json[a].TypeId + "'  placeholder='Target KG' onkeyup='RowAmountCalculation(" + json1[i].CustomerTypeID + "," + json[a].TypeId + "),RowTotalCalculation(" + json1[i].CustomerTypeID + ")'  value = '" + json3[b].TargetKG + "'/></td>";
                    /////////////////////////////////////////////
                    $('#btnSave').show();

                },
                complete: function () {

                    //normalizeTable();
                    $('#companyHeader').html("IG Foods Limited");
                    //$('#reportHeader').html("Product Movement ");
                    $('#productName').html('Group Name : ' + $("#ddlGroup option:selected").text());
                    //$('#Warehouse').html('Warehouse Name : ' + $("#ddlWareHouse option:selected").text());
                    $('#reportDate').html('Report Date: ' + $("#fromDate").val() + ' To ' + $("#toDate").val());
                    //$('#reportDate').html("Stock report of :" + $('#txtRequisitionDate').val() + " & " + $('#txtProductionDate').val());
                    //$('#SalesReportTable').rowspanizer({
                    //    vertical_align: 'middle',
                    //    columns: [1]
                    //});
                    //$('#reportDate').text('Report from: ' + array[0] + 'to :' + array[1]);
                }
            });
            //}
        }




        function LoadReport() {
            if (RptValidation() == true) {
                var fromDate = $("#fromDate").val();
                var toDate = $("#toDate").val();


                var urlpath = '@Url.Action("GetCustomerTypeTargetSetup", "TargetSetup")';

                $.ajax({
                    url: urlpath,
                    data: { fromDate: fromDate, toDate: toDate },
                    dataType: 'json',
                    type: "Get",
                    success: function (data) {

                        debugger;

                        var json = $.parseJSON(data.JSONresult);

                        var json1 = $.parseJSON(data.JSONresult1);


                        $('#hSummary').html('');
                        var tHeadRow = '';
                        tHeadRow += '<tr style="font-size: 12px;font-weight: 900;">';
                        tHeadRow += '<td rowspan="2" style="text-align: center; vertical-align: middle;min-width: 30px;">SL</td>';
                        tHeadRow += '<td rowspan="2" style="text-align: center; vertical-align: middle;min-width: 120px;">Customer Type</td>';
                        var flockCount = 0;
                        for (var a = 0; a < json.length; a++) {

                            tHeadRow += '<td  style="text-align: center; vertical-align: middle;min-width: 80px;" colspan="2">' + json[a].TypeName + '</td>';

                            //if (json[a].areacount > 1) {
                            //    var areacount = json[a].areacount + 2;
                            //    tHeadRow += '<td  style="text-align: center; vertical-align: middle;min-width: 80px;" colspan="' + areacount + '">' + json[a].SalesOfficerId + ' : ' + json[a].EmpName + '</td>';
                            //}
                            //else {
                            //    tHeadRow += '<td  style="text-align: center; vertical-align: middle;min-width: 80px;" colspan="2">' + json[a].SalesOfficerId + ' : ' + json[a].EmpName + '</td>';
                            //}

                            flockCount++;
                        }

                        tHeadRow += '<td rowspan="2"  style="text-align: center; vertical-align: middle;min-width: 80px;">Total Target KG</td>';
                        tHeadRow += '<td rowspan="2"  style="text-align: center; vertical-align: middle;min-width: 80px;">Total Target Amount</td>';
                        flockCount++;
                        tHeadRow += '</tr>';



                        //tHeadRow += '<tr style="font-size: 12px;font-weight: 900;" id="secondtd">';


                        //for (var a = 0; a < json1.length; a++) {
                        //    tHeadRow += '<td  style="text-align: center; vertical-align: middle;min-width: 80px;" colspan="2">' + json1[a].AreaName + '</td>';
                        //    flockCount++;
                        //}


                        //tHeadRow += '</tr>';


                        tHeadRow += '<tr style="font-size: 12px;font-weight: 900;" id="thirdd">';


                        for (var a = 0; a < json.length; a++) {
                            tHeadRow += '<td  style="text-align: center; vertical-align: middle;min-width: 80px;"> Target KG</td>';
                            tHeadRow += '<td  style="text-align: center; vertical-align: middle;min-width: 80px;"> Target Amount</td>';
                            flockCount++;
                        }


                        tHeadRow += '</tr>';


                        $('#hSummary').html(tHeadRow);



                        ////////////////////////////////////////////////////

                        debugger;

                        var row = '';
                        var count = 1;
                        for (var i = 0; i < json1.length; i++) {


                            //row += '<tr >';
                            row += "<tr id='trmain" + count + "'>";
                            row += '<td style="text-align:center;">' + count + '</td>';
                            row += "<td style='display: none;'><input type='text'  style='display: none;'  id='CustomerTypeID_" + count + "' value = '" + json1[i].CustomerTypeID + "'  /></td>";
                            row += '<td style="text-align:center;">' + json1[i].CoustomerTypeName + '</td>';

                            var counta = 1;
                            for (var a = 0; a < json.length; a++) {
                                row += '<td class="hidea" style="text-align:center;display: none;">' + counta + '</td>';
                                row += "<td style='display: none;'><input type='text'  style='display: none;'  id='TypeId_" + counta + "_" + json1[i].CustomerTypeID + "' value = '" + json[a].TypeId + "'  /></td>";
                                row += "<td style='text-align:center;width:2%'><input type='number' style='text-align:right;'  id='TargetQty_" + json1[i].CustomerTypeID + "_" + json[a].TypeId + "'  placeholder='Target KG' onkeyup='RowTotalCalculation(" + json1[i].CustomerTypeID + ")'  /></td>";
                                row += "<td style='text-align:center;width:2%'><input type='number' style='text-align:right;'  id='TargetAmount_" + json1[i].CustomerTypeID + "_" + json[a].TypeId + "'  placeholder='Target Amount' onkeyup='RowTotalCalculation(" + json1[i].CustomerTypeID + ")'/></td>";
                                counta++;
                            }

                            // row += '<td style="text-align:center;"><input type="number" id="quantity" /></td>';
                            row += "<td style='text-align:right;width:3%'><input type='number' style='text-align:right;'  id='TotalTargetQty_" + json1[i].CustomerTypeID + "'  /></td>";
                            row += "<td style='text-align:right;width:3%'><input type='number' style='text-align:right;'  id='TotalTargetAmount_" + json1[i].CustomerTypeID + "'  /></td>";

                            row += '</tr>';
                            count++
                        }


                        $("#summarybody").html(row);
                        ////var json = $.parseJSON(data);
                        //ReadTableData(json);
                        //CalculateAll();
                        //                                row += "<td style='text-align:center;width:2%'><input type='number' style='text-align:right;'  id='TargetQty_" + json1[i].CustomerTypeID + "_" + json[a].TypeId + "'  placeholder='Target KG' onkeyup='RowAmountCalculation(" + json1[i].CustomerTypeID + "," + json[a].TypeId + "),RowTotalCalculation(" + json1[i].CustomerTypeID + ")'  /></td>";
                        /////////////////////////////////////////////
                        $('#btnSave').show();

                    },
                    complete: function () {

                        //normalizeTable();
                        $('#companyHeader').html("IG Foods Limited");
                        //$('#reportHeader').html("Product Movement ");
                        $('#productName').html('Group Name : ' + $("#ddlGroup option:selected").text());
                        //$('#Warehouse').html('Warehouse Name : ' + $("#ddlWareHouse option:selected").text());
                        $('#reportDate').html('Report Date: ' + $("#fromDate").val() + ' To ' + $("#toDate").val());
                        //$('#reportDate').html("Stock report of :" + $('#txtRequisitionDate').val() + " & " + $('#txtProductionDate').val());
                        //$('#SalesReportTable').rowspanizer({
                        //    vertical_align: 'middle',
                        //    columns: [1]
                        //});
                        //$('#reportDate').text('Report from: ' + array[0] + 'to :' + array[1]);
                    }
                });
            }
        }

        function RptValidation() {
            var isValid = true;

            var areaId = 0;
            var salesOfficerId = 0;
            var message = "Some Values Required";

            if (($('#fromDate').val() == 0 || $('#fromDate').val() == '')) {
                ValidationColorChangeNew('fromDate', 'divDelivaryDate', 'Please Select From Date', true);
                isValid = false;
            }

            if ($('#toDate').val() == 0 || $('#toDate').val() == '') {
                ValidationColorChangeNew('toDate', 'divToDate', 'Please Select To Date', true);
                isValid = false;
            }

            if ($('#ddlArea').val() == 0 || $('#ddlArea').val() == '') {
                ValidationColorChangeNew("ddlArea", "divArea", "Area  Required", true);
                isValid = false;
            }


            if ($('#ddlSalesPersion').val() == 0 || $('#ddlSalesPersion').val() == '') {
                ValidationColorChangeNew("ddlSalesPersion", "divSalesPersion", "Sales Persion  Required", true);
                isValid = false;
            }

            var fromDate = $("#fromDate").val();
            var toDate = $("#toDate").val();
            var areaId = $("#ddlArea").val();
            var salesOfficerId = $("#ddlSalesPersion").val();

            var response = ExitValidation(fromDate, toDate, areaId, salesOfficerId);
            debugger;
            if (response == true) {
                message = "Selected Month Customer Type TargetSetup Completed";
                isValid = false;
                $('#fromDate').css('border-bottom', '2px solid red');
                $('#toDate').css('border-bottom', '2px solid red');
                $('#hSummary').html('');
                $('#summarybody').html("");
                //return;
            } else {
                $('#fromDate').css('border-bottom', '2px solid gray');
                $('#toDate').css('border-bottom', '2px solid gray');
            }

            if (isValid == false) {
                ShowMessage(message);

            }
            return isValid;
        }

        function ExitValidation(fromDate, toDate, areaId, salesOfficerId) {
            var bool = true;
            $.ajax({
                url: '@Url.Action("CustomerTypeTargetSetupExist", "TargetSetup")',
                type: 'POST',
                cache: false,
                traditional: true,
                async: false,
                data: { fromDate: fromDate, toDate: toDate, areaId: areaId, salesOfficerId: salesOfficerId },
                success: function (value) {

                    if (value > 0) {
                        bool = true;
                    }
                    else {
                        bool = false;
                    }
                }
            });
            return bool;
        }

        function Save() {

            if (SaveValidation() == true) {
                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveFinal();

                });
            }
        }
        function SaveFinal() {
            debugger;
            var jsonData = {};
            var customerTypeMasterTargetSetupId = 0;
            customerTypeMasterTargetSetupId=$('#customerTypeMasterTargetSetupId').val();
            jsonData["CustomerTypeTargetSetupMasterId"] = customerTypeMasterTargetSetupId;
            jsonData["FromDate"] = $('#fromDate').val();
            jsonData["ToDate"] = $('#toDate').val();

            jsonData["Title"] = $('#txtTitle').val();
            jsonData["Remarks"] = $('#txtRemarks').val();
            if (customerTypeMasterTargetSetupId > 0)
            {
                jsonData["IsEdit"] = true;
            } else {
                jsonData["IsEdit"] = false;
            }
            

            var count;

            var jsonObjs = [];

            var myTab = document.getElementById('summarybody');
            for (i = 0; i < myTab.rows.length; i++) {

                var objCells_C = myTab.rows.item(i).cells;

                count = objCells_C.item(0).innerHTML;
                //var category = $("#CategoryId_" + count).val();
                var customerTypeId = isNaN(parseFloat($("#CustomerTypeID_" + count).val())) ? 0 : parseFloat($("#CustomerTypeID_" + count).val());

                //for (var j = 0; j < objCells_C.length; j++) {

                // var seccount;
                for (var k = 0; k < objCells_C.length; k++) {
                    var theObj = {};
                    var typeId = isNaN(parseFloat($("#TypeId_" + k + "_" + customerTypeId).val())) ? 0 : parseFloat($("#TypeId_" + k + "_" + customerTypeId).val());
                    
                    var customerTypeTargetSetupDetailsId = isNaN(parseFloat($("#CustomerTypeTargetSetupDetailsId_" + customerTypeId + "_" + typeId).val())) ? 0 : parseFloat($("#CustomerTypeTargetSetupDetailsId_" + customerTypeId + "_" + typeId).val());
                    var target = isNaN(parseFloat($("#TargetQty_" + customerTypeId + "_" + typeId).val())) ? 0 : parseFloat($("#TargetQty_" + customerTypeId + "_" + typeId).val());
                    var targetAmount = isNaN(parseFloat($("#TargetAmount_" + customerTypeId + "_" + typeId).val())) ? 0 : parseFloat($("#TargetAmount_" + customerTypeId + "_" + typeId).val());

                    if (customerTypeId > 0 && typeId > 0) {
                        theObj["CustomerTypeTargetSetupDetailsId"] = customerTypeTargetSetupDetailsId;
                        theObj["TypeId"] = typeId;
                        theObj["CustomerTypeId"] = customerTypeId;
                        theObj["SalesOfficeId"] = $('#ddlSalesPersion').val();;
                        theObj["AreaId"] = $('#ddlArea').val();;
                        theObj["TargetKG"] = target;
                        theObj["TargetAmount"] = targetAmount;
                        jsonObjs.push(theObj);
                    }


                    //}
                }
            }
            jsonData["CustomerTypeTargetSetupDetails"] = jsonObjs;

            var urlpath = '@Url.Action("SaveCustomerTypeTargetSetup", "TargetSetup")';
            $.ajax({
                contentType: "application/json",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "POST"
            })
                .success(function (result) {

                    if (result.pk > 0) {

                        swal({
                            title: " Saved Successfull",
                            text: '',
                            type: "success",
                            showCancelButton: false,
                            cancelButtonClass: 'btn-secondary waves-effect',
                            confirmButtonClass: 'btn-success waves-effect waves-light',
                            confirmButtonText: 'OK!',
                            closeOnConfirm: false
                        }, function () {
                            //LoadReportFinal(result.pk);



                            window.location.href = '@Url.Action("CustomerTypeIndex", "TargetSetup", new { fromdate = (DateTime?)null, todate =(DateTime?)null, areaId = 0, salesOfficerId = 0 })';

                        });


                    }
                });


        }
        function SaveValidation() {
              debugger;

            var isValid = true;
            var message = "Some Values Required";

            var fromDate = $("#fromDate").val();
            var toDate = $("#toDate").val();

            if ($('#fromDate').val() == '' || $('#fromDate').val() == null) {
                ValidationColorChangeNew("fromDate", "divDelivaryDate", "From Date Required", false);
                isValid = false;
            }
            if ($('#toDate').val() == '' || $('#toDate').val() == null) {
                ValidationColorChangeNew("toDate", "divToDate", "To Date Required", false);
                isValid = false;
            }

            if ($('#ddlArea').val() == 0 || $('#ddlArea').val() == '') {
                ValidationColorChangeNew("ddlArea", "divArea", "Area  Required", true);
                isValid = false;
            }


            if ($('#ddlSalesPersion').val() == 0 || $('#ddlSalesPersion').val() == '') {
                ValidationColorChangeNew("ddlSalesPersion", "divSalesPersion", "Sales Persion  Required", true);
                isValid = false;
            }


            var fromdatefromt = new Date(fromDate);
            var toDatefromt = new Date(toDate);

            var fromMonth = fromdatefromt.getMonth() + 1;
            var toMonth = toDatefromt.getMonth() + 1;

            if (fromMonth == toMonth) {
                $('#fromDate').css('border-bottom', '2px solid gray');
                $('#toDate').css('border-bottom', '2px solid gray');
            } else {
                message = "Selected Date Range Should be Same Month";
                isValid = false;
                $('#fromDate').css('border-bottom', '2px solid red');
                $('#toDate').css('border-bottom', '2px solid red');
            }




            var myTab = document.getElementById('summarybody');
            for (i = 0; i < myTab.rows.length; i++) {

                var objCells_C = myTab.rows.item(i).cells;

                count = objCells_C.item(0).innerHTML;
                var customerTypeId = isNaN(parseFloat($("#CustomerTypeID_" + count).val())) ? 0 : parseFloat($("#CustomerTypeID_" + count).val());

                for (var k = 0; k < objCells_C.length; k++) {

                    var typeId = isNaN(parseFloat($("#TypeId_" + k + "_" + customerTypeId).val())) ? 0 : parseFloat($("#TypeId_" + k + "_" + customerTypeId).val());

                    var customerTypeTargetSetupDetailsId = isNaN(parseFloat($("#CustomerTypeTargetSetupDetailsId_" + customerTypeId + "_" + typeId).val())) ? 0 : parseFloat($("#CustomerTypeTargetSetupDetailsId_" + customerTypeId + "_" + typeId).val());
                    var target = isNaN(parseFloat($("#TargetQty_" + customerTypeId + "_" + typeId).val())) ? 0 : parseFloat($("#TargetQty_" + customerTypeId + "_" + typeId).val());
                    var targetAmount = isNaN(parseFloat($("#TargetAmount_" + customerTypeId + "_" + typeId).val())) ? 0 : parseFloat($("#TargetAmount_" + customerTypeId + "_" + typeId).val());

                    if (target >0 && targetAmount==0 )
                    {
                        isValid = false;
                        message = "Please input Target Amount ";
                        $('#TargetQty_' + customerTypeId + "_" + typeId).css('border-bottom', '2px solid red');
                        $('#TargetAmount_' + customerTypeId + "_" + typeId).css('border-bottom', '2px solid red');
                        return;
                    }


                }
            }






            if (isValid == false) {
                ShowMessage(message);

            }
            return isValid;


        }



        function RowTotalCalculation(CustomerTypeID) {
            var count;

            var jsonObjs = [];

            var myTab = document.getElementById('summarybody');
            for (i = 0; i < myTab.rows.length; i++) {

                var objCells_C = myTab.rows.item(i).cells;

                count = objCells_C.item(0).innerHTML;

                var customerTypeId = isNaN(parseFloat($("#CustomerTypeID_" + count).val())) ? 0 : parseFloat($("#CustomerTypeID_" + count).val());
                var RowTotalTargetQty = 0;
                var RowTotalTargetAmount = 0;
                if (customerTypeId == CustomerTypeID) {
                    for (var k = 0; k < objCells_C.length; k++) {

                        var typeId = isNaN(parseFloat($("#TypeId_" + k + "_" + customerTypeId).val())) ? 0 : parseFloat($("#TypeId_" + k + "_" + customerTypeId).val());

                        if (customerTypeId > 0 && typeId > 0) {
                            var target = isNaN(parseFloat($("#TargetQty_" + customerTypeId + "_" + typeId).val())) ? 0 : parseFloat($("#TargetQty_" + customerTypeId + "_" + typeId).val());
                            RowTotalTargetQty += target
                            var targetAmount = isNaN(parseFloat($("#TargetAmount_" + customerTypeId + "_" + typeId).val())) ? 0 : parseFloat($("#TargetAmount_" + customerTypeId + "_" + typeId).val());
                            RowTotalTargetAmount += targetAmount
                        }


                    }
                    $("#TotalTargetQty_" + customerTypeId).val(RowTotalTargetQty.toFixed(2));
                    $("#TotalTargetAmount_" + customerTypeId).val(RowTotalTargetAmount.toFixed(2));
                }

            }
        }


        //function RowAmountCalculation(categoryS, areaS, salesofficerS) {
        //    var count;
        //    debugger;
        //    var jsonObjs = [];

        //    var myTab = document.getElementById('summarybody');
        //    for (i = 0; i < myTab.rows.length; i++) {

        //        var objCells_C = myTab.rows.item(i).cells;

        //        count = objCells_C.item(0).innerHTML;
        //        var category = isNaN(parseFloat($("#CategoryId_" + count).val())) ? 0 : parseFloat($("#CategoryId_" + count).val());
        //        if (category == categoryS) {
        //            for (var k = 0; k < objCells_C.length; k++) {
        //                var theObj = {};
        //                var area = isNaN(parseFloat($("#AreaId_" + k + "_" + category).val())) ? 0 : parseFloat($("#AreaId_" + k + "_" + category).val());
        //                var salesofficer = isNaN(parseFloat($("#SalesOfficerId_" + k + "_" + category).val())) ? 0 : parseFloat($("#SalesOfficerId_" + k + "_" + category).val());



        //                if (category == categoryS && area == areaS && salesofficer == salesofficerS) {
        //                    var target = isNaN(parseFloat($("#TargetQty_" + category + "_" + area + "_" + salesofficer).val())) ? 0 : parseFloat($("#TargetQty_" + category + "_" + area + "_" + salesofficer).val());
        //                    var salesRate = CategorySalesRate(category);
        //                    var targetAmount = target * salesRate;

        //                    $("#TargetAmount_" + category + "_" + area + "_" + salesofficer).val(targetAmount.toFixed(2));

        //                }


        //            }
        //        }

        //    }
        //}

        //function CategorySalesRate(category) {
        //    var _salseRate = 0;
        //    $.ajax({
        //        url: '@Url.Action("CategorySalesRate", "TargetSetup")',
        //        type: 'POST',
        //        cache: false,
        //        traditional: true,
        //        async: false,
        //        data: { categoryId: category },
        //        success: function (salseRate) {

        //            if (salseRate > 0) {
        //                _salseRate = salseRate;
        //            }
        //        }
        //    });
        //    return _salseRate;
        //}
    </script>
}