﻿@using System.Data
@model  IEnumerable<IGFoodProject.Models.CustomerTypeTargetSetupMaster>

@{

}
<style>
    #manuallist {
        padding: 10px;
    }

    .form-control {
        height: calc(1.7rem + 2px);
    }

    .modal-dialog {
        width: 100%;
        height: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }


    .modal-contents {
        background-color: white;
    }

    .ModalHead {
        background-color: #3C8DBC;
        padding: 15px;
        color: white;
    }

        .ModalHead > h4 {
            color: white;
            padding-left: 10px;
        }

    a#tabA {
        text-decoration: underline;
    }

        a#tabA:hover {
            text-decoration: underline;
            font-size: 17px;
            font-weight: bolder;
            color: green;
        }
</style>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">

                        <div class="row">

                            <div class="col-md-6">
                                <h3>Master Target Setup List </h3>
                            </div>
                            <div class="col-md-6 text-right ">
                                <a class="btn btn-outline-warning" href="@Url.Action("CustomerMasterTargetSetup", "TargetSetup")">

                                    <span class="fa fa-plus"></span>Master Target Setup Entry

                                </a>
                            </div>

                        </div>



                    </div>
                    <br />
                  
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group" id="divFromDate">
                                        <label for="txtFromDate">From  Date</label>
                                        <input type="text" id="txtFromDate" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group" id="divToDate">
                                        <label for="txtToDate">To  Date</label>
                                        <input type="text" id="txtToDate" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group" id="divArea">
                                        <label for="ddlArea">Area</label>
                                        <select class="form-control select2" id="ddlArea" style="width: 100%;" onchange="LoadSalesPersion('ddlSalesPersion')"></select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group" id="divSalesPersion">
                                        <label for="ddlSalesPersion">Sales Officer<span class="text-danger"> *</span></label>
                                        <select class="form-control select2" id="ddlSalesPersion" style="width: 100%;"> </select>
                                    </div>
                                </div>
                            </div>
                            @*<div class="row">
                                <div class="col-md-3">
                                    <div class="form-group" id="divArea">
                                        <label for="ddlArea">Area</label>
                                        <select class="form-control select2" id="ddlArea" style="width: 100%;" onchange="LoadSalesPersion('ddlSalesPersion')"></select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group" id="divSalesPersion">
                                        <label for="ddlSalesPersion">Sales Officer<span class="text-danger"> *</span></label>
                                        <select class="form-control select2" id="ddlSalesPersion" style="width: 100%;"> </select>
                                    </div>
                                </div>
                            </div>*@

                    </div>
                    @*<div class="row">
                            <div class="col-md-2 pull-right offset-10">
                                <button style="margin-left: 27px;" class="btn btn-primary" onclick="ShowReport()">Search </button>
                            </div>
                        </div>*@
                    <div class="row">
                        <div class="col-md-6">
                            @*<button class='btn btn-info' style="margin-left: 27px;" id="mprint" type='button' onclick="PrintMultipleInvoice()">Print Multiple MRR</button>&nbsp;*@
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-2">

                            <button style="margin-right: 2px" class="btn btn-primary" onclick="ShowReport()">Search</button>
                        </div>
                    </div>
                    <br />
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body">
                                <table class="table table-bordered table-striped table-hover" id="table1">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center">#</th>
                                            <th style="text-align: center">Target SetupNo</th>
                                            <th style="text-align: center">Area Name</th>
                                            <th style="text-align: center">Sales Officer</th>
                                            <th style="text-align: center">From Date</th>
                                            <th style="text-align: center">To Date</th>
                                            <th style="text-align: center">Month</th>
                                            <th style="text-align: center">Year</th>
                                            <th style="text-align: center">Title</th>
                                            <th style="text-align: center">Create By</th>
                                            <th style="text-align: center">Action</th>

                                        </tr>
                                    </thead>
                                    <tbody id="manuallist">
                                        @{ int count = 1;}
                                        @foreach (var item in Model)
                                        {
                                            <tr class="rowTr" id="@item.CustomerTypeTargetSetupMasterId">
                                                <td style="text-align: center">@count</td>
                                                <td style="text-align: center">@item.TargetSetupNo</td>
                                                <td style="text-align: center">@item.AreaName</td>
                                                <td style="text-align: center">@item.SalesOfficer</td>
                                                <td style="text-align: center">@Convert.ToDateTime(item.FromDate).ToString("dd-MMM-yyyy")</td>
                                                <td style="text-align: center">@Convert.ToDateTime(item.ToDate).ToString("dd-MMM-yyyy")</td>
                                                <td style="text-align: center">@item.MonthName</td>
                                                <td style="text-align: center">@item.YearName</td>
                                                <td style="text-align: center">@item.Title</td>
                                                <td style="text-align: center">@item.CreateBy</td>
                                                <td style="text-align: center">
                                                    @Html.ActionLink("Edit", "CustomerMasterTargetSetup", "TargetSetup", new { id = item.CustomerTypeTargetSetupMasterId }, new { @class = "btn btn-sm btn-primary" })
                                                </td>
        
                                            </tr>
                                            count++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>



                    </div>

                </div>

            </div>

        </div>

        <br />
        @*<div class="row">
                <div class="col-md-12">
                    <div style="text-align:center;">
                        <button  class="btn btn-primary" onclick="PrintMultipleInvoice()">Print Multiple MRR</button>
                    </div>
                </div>
            </div>*@

        <!-- /.row -->
    </div><!-- /.container-fluid -->


</section>

<div class="row">

    <div class="modal fade in" id="myModal" role="dialog">
        <div class="modal-dialog listDialog modal-lg">
            ">

            <!-- Modal content-->
            <div class="modal-contents">


                <div class="ModalHead">

                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">MRR Product Details</h4>


                </div>
                <br />
                <div class="container-fluid" id="tabledata">

                    <div class="row">
                        <div class="col-md-12">



                            <div class="row">
                                <div class="box-body table-responsive" id="MainGradeDiv2" style="width: 100%;">
                                    <br />

                                    <table id="modalTable" class="table table-striped table-bordered">
                                        <thead id="popTab">
                                            <tr>
                                                <th style="text-align: center; color: black; width: 3%; background-color: turquoise; padding-bottom: 2.5%">SL</th>
                                                <th style="text-align: center; color: black; background-color: turquoise; width: 40%">Product</th>
                                                <th style="text-align: center; color: black; background-color: turquoise; width: 20%">MRR Qty</th>
                                                <th style="text-align: center; color: black; background-color: turquoise; width: 20%">MRR KG</th>
                                                <th style="text-align: center; color: black; background-color: turquoise ;width: 30%">Unit Price </th>
                                                <th style="text-align: center; color: black; background-color: turquoise ;width: 30%">Total Price </th>
                                                <th style="text-align: center; color: black; background-color: turquoise ;width: 40%">MFG Date </th>
                                                <th style="text-align: center; color: black; background-color: turquoise ;width: 40%">Expairy Date </th>


                                            </tr>



                                        </thead>
                                        <tbody id="itemDetailsTabBody"></tbody>
                                    </table>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

                <br />




                <div class="modal-footer">

                    <button type="button" class="btn btn-default" data-dismiss="modal" id="closebtn">Close</button>
                </div>
            </div>
        </div>





    </div>

</div>


@section Scripts
{
    <script>
        $(document).ready(function () {
            LoadDate_Pr('#txtFromDate');
            LoadDate_C('#txtToDate');
            LoadArea();

        });
        var date = new Date(), y = date.getFullYear(), m = date.getMonth();
        var firstDay = new Date(y, m, 1);
        var lastDay = new Date(y, m + 1, 0);
       // var n = lastDay.getDay()


        function LoadDate_Pr(controlName) {
            jQuery(controlName).datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd-M-yyyy'

            }).datepicker("setDate", firstDay);
        }
        function LoadDate_C(controlName) {
            jQuery(controlName).datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd-M-yyyy'

            }).datepicker("setDate", lastDay);
        }
        function LoadSupplier() {
            var urlpath = '@Url.Action("LoadSupplier", "PurchaseOrder")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: {},
                async: false,
                success: function (data) {

                    $('#ddlSupplier').empty();
                    $('#ddlSupplier').append("<option value='0'>--Select Supplier--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#ddlSupplier').append($("<option></option>").val(data[i].SupplierID).html(data[i].SupplierName));
                    }

                }
            });
        }

        function LoadArea() {
            var urlpath = '@Url.Action("GetArea", "TargetSetup")';

            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {
                    $('#ddlArea').empty();
                    $('#ddlArea').append("<option value='0'>--Select Area--</option>");


                    for (var i = 0; i < data.length; i++) {

                        $("#ddlArea").append($("<option></option>").val(data[i].AreaId).html(data[i].AreaName));

                    }
                }
            });
        }

        function LoadSalesPersion(elementId) {
            var areaId = $('#ddlArea').val();
            var urlpath = '@Url.Action("GetSalesOfficerByArea", "TargetSetup")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { areaId: areaId },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Sales Officer --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].SalesOfficerId).html(data[i].SalesOfficerId + ":" + data[i].EmpName + ": " + data[i].Designation));
                    }
                }
            });
        }
    </script>

    <script>

        function LoadReportFinal(id) {
            var urlpath = '@Url.Action("MrrPrintReports", "Report")';


            var reportValue = "MrrPrint";

            var mrrId = id;

            //  alert( id);

            var jsonData = {};


            jsonData["ReportValue"] = reportValue;
            jsonData["MRRrOtherID"] = mrrId;



            debugger;
            $.ajax({
                url: urlpath,
                data: jsonData,
                dataType: 'json',
                type: "Get",
                success: function (data) {
                    if (data.isSuccess) {



                        //OpenPopUp('BasicReportViewer.aspx');
                        window.open("../CrystalViewer/CrystalViewer.aspx", "_blank", "WIDTH=1024,HEIGHT=768,scrollbars=no, menubar=no,resizable=yes,directories=no,location=no");
                    }
                }
            });
        }


        function ShowReport() {
            debugger;
            var fromdate;
            var todate;
            var areaId = 0;
            var salesOfficerId = 0;


            if ($('#txtFromDate').val() == "") {
                swal("Please input from  date");
                return;
            }
            else {
                fromdate = $('#txtFromDate').val();
            }
            if ($('#txtToDate').val() == "") {
                swal("Please input to  date");
                return;
            }
            else {
                todate = $('#txtToDate').val();
            }

            areaId = $('#ddlArea').val();
            salesOfficerId = $('#ddlSalesPersion').val();


            var urlpath = '@Url.Action("SearchCustomerTypeTargetSetupList", "TargetSetup")';
            $.ajax({
                url: urlpath,
                dataType: 'html',
                type: "Get",
                data: { fromdate: fromdate, todate: todate, areaId: areaId, salesOfficerId: salesOfficerId },
                async: false,
                success: function (data) {

                    data = JSON.parse(data);
                    $("#manuallist").html("");
                    if (data.length > 0) {


                        var count = 1;
                        var row = "";
                        $("#manuallist").html("");

                        for (var i = 0; i < data.length; i++) {


                            row += "<tr class='rowTr' id=" + data[i].CustomerTypeTargetSetupMasterId + ">";

                            row += "<td style='text-align:center'>" + count + "</td>";
                            row += "<td style='text-align:right'>" + data[i].TargetSetupNo + "</td>";
                            row += "<td style='text-align:right'>" + data[i].AreaName + "</td>";
                            row += "<td style='text-align:right'>" + data[i].SalesOfficer + "</td>";
                            row += "<td style='text-align:center'>" + ToJavaScriptDate(data[i].FromDate) + "</td>";
                            row += "<td style='text-align:center'>" + ToJavaScriptDate(data[i].ToDate) + "</td>";
                            row += "<td style='text-align:center'>" + data[i].MonthName + "</td>";
                            row += "<td style='text-align:center'>" + data[i].YearName + "</td>";
                            row += "<td style='text-align:right'>" + data[i].Title + "</td>"; 
                            row += "<td style='text-align:right'>" + data[i].CreateBy + "</td>";
                            row += "<td style='text-align:center'><button class='btn btn-sm btn-primary showBtn' onclick='GoToDo(" + data[i].CustomerTypeTargetSetupMasterId + ")'>Edit</button></td>";


                            row += "</tr>";
                            count = count + 1;

                        }
                        $("#manuallist").html(row);
                    }
                }
            });
        }


        function GoToDo(soId) {
            window.location = "@Url.Action("CustomerMasterTargetSetup", "TargetSetup")" + "?id=" + soId ;
        }


        function SelectAllCheckboxFunc() {
            if ($("#checkAll").is(":checked")) {
                $(".checkp").prop("checked", true);
            } else {
                $(".checkp").prop("checked", false);
            }
        }
        function Checkp(SLNO) {
            //uncheck "select all", if one of the listed checkbox item is unchecked
            var checkp = $("#check_" + SLNO).prop("checked");
            if (checkp == false) { //if this item is unchecked
                $("#checkAll").prop('checked', false); //change "select all" checked status to false
            }
            //check "select all" if all checkbox items are checked
            if ($('.checkp:checked').length == $('.checkp').length) {
                $("#checkAll").prop('checked', true);
            }
        }
        function PrintMultipleInvoice() {
            debugger;
            var DeliveryOrderID = "";
            var stringSoId = "";
            $('#table1 tr.rowTr').each(function (key, value) {

                soId = $(this).prop("id");
                if ($('#check_' + (parseInt(key) + 1)).is(":checked")) {
                    if (stringSoId != '')
                        stringSoId = stringSoId + "," + soId;
                    else {
                        stringSoId = soId;
                    }
                }
            });
            PrintInvoice(stringSoId);
        }

        function PrintInvoice(soId) {
            var urlpath = '@Url.Action("MultipleMRRReport", "Report")';
            var reportValue = "PrintMultipleMRRReport";
            var jsonData = {};
            jsonData["ReportValue"] = reportValue;
            jsonData["Ids"] = soId;

            $.ajax({
                url: urlpath,
                data: jsonData,
                dataType: 'json',
                type: "Get",
                success: function (data) {
                    if (data.isSuccess) {
                        //OpenPopUp('BasicReportViewer.aspx');
                        window.open("../CrystalViewer/CrystalViewer.aspx", "_blank", "WIDTH=1024,HEIGHT=768,scrollbars=no, menubar=no,resizable=yes,directories=no,location=no");
                    }
                }
            });
        }

    </script>


    <script>
        function PopUpDetails(id) {
            ModalPopUp();

            GetDetails(id);

        }
        function GetDetails(id) {
            var urlpath = '@Url.Action("GetMRR_forModalPopUpDetailsById", "TradeMrr")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { id: id },
                async: false,

                success: function (result) {
                    var row = "";
                    $("#itemDetailsTabBody").html("");
                    for (var i = 0; i < result.length; i++) {

                        row += "<tr>";
                        row += "<td style='text-align : center'>" + (i + 1) + "</td>";
                        row += "<td style='text-align : center'>" + result[i].ProductName + "</td>";
                        row += "<td style='text-align : center'>" + result[i].MRRQty + "</td>";
                        row += "<td style='text-align : center'>" + result[i].MRRKG + "</td>";
                        row += "<td style='text-align : center'>" + result[i].ApproveUnitPrice + "</td>";
                        row += "<td style='text-align : center'>" + result[i].TotalPrice + "</td>";
                        row += "<td style='text-align : center'>" + ToJavaScriptDate(result[i].MfgDate) + "</td>";
                        row += "<td style='text-align : center'>" + ToJavaScriptDate(result[i].ExpairyDate) + "</td>";
                        row += "</tr>";
                    }
                    $("#modalTable #itemDetailsTabBody").html(row);
                }
            });

        }

        function ModalPopUp() {
            $("#myModal").modal();
        }
        function exportExcel() {

            var a = document.createElement('a');
            //getting data from our div that contains the HTML table
            var data_type = 'data:application/vnd.ms-excel';
            var table_div = document.getElementById('tabledata');
            var table_html = table_div.outerHTML.replace(/ /g, '%20');
            a.href = data_type + ', ' + table_html;
            //setting the file name
            a.download = 'download.xls';
            //triggering the function
            a.click();
            //just in case, prevent default behaviour
            e.preventDefault();
        }
    </script>
}