﻿
@{
    ViewBag.Title = "Target Setup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="card-title">
                                    @if (ViewBag.TargetSetupId == 0)
                                    {
                                        <span class=""> New  Target Setup</span>
                                    }
                                    else
                                    {
                                        <span class=""> Edit  Target Setup</span>
                                    }

                                </h3>
                            </div>

                            <div class="col-md-6 text-right">
                                <a class="btn btn-outline-warning" href="@Url.Action("Index", "TargetSetup", new { fromdate = (DateTime?)null, todate = (DateTime?)null })">
                                    <span class="fa fa-list"></span> Go To Target Setup List
                                </a>
                            </div>
                        </div>

                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                        <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group" id="divDelivaryDate">
                                                        <label for="delivaryDate">From Date<span class="text-danger"> *</span></label>
                                                        <input type="text" class="form-control " style="width: 100%;" id="fromDate" readonly="readonly"/>
                                                        @*<input type="hidden" id="" datepicker/>*@
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group" id="divToDate">
                                                        <label for="delivaryDate">To Date<span class="text-danger"> *</span></label>
                                                        <input type="text" class="form-control " style="width: 100%;" id="toDate" readonly="readonly"/>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group" id="divTitle">
                                                        <label for="txtTitle">Title</label>
                                                        <input type="text" class="form-control " style="width: 100%;" id="txtTitle" />
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="row" style="padding-top: 10px">
                                                <div class="form-group row">
                                                    <label for="txtRemarks" class="col-sm-2 control-label">Remarks :</label>
                                                    <div class="col-sm-10" id="divRemarks">
                                                        <textarea id="txtRemarks" rows="2" cols="100" style="text-align: left"></textarea>
                                                    </div>
                                                </div>
                                        </div>
   


                                <!-- /.card-body -->
                            </div>
                        </div>
                        <div class="row">

                        </div>
                    </div>
                    <div class="card-footer">
                        @*<button type="button" class="btn btn-primary" onclick="LoadReport()">Submit</button>
                        <button type="button" class="btn btn-primary" onclick="exportExcel()">Export To Excel</button>*@
                        @*<button class="btn btn-outline-danger  float-right" onclick="location.reload()">Cancel</button>*@
                        <button class="btn btn-primary" id="btnSave" onclick="Save()">Update</button>
                    </div>
                </div>
                <!-- /.card -->
                <div class="card divclass" id="salesReportDiv">
                    <div class="card-header with-border">
                        <div id="">
                            <div class="row" id="ValId">
                                <div class="col-md-2 tooltipData">
                                    <div class="form-group" id="divToDate">
                                        <label for="delivaryDate">Sales Officer : </label>
                                        <label id="salesOfficer"></label>
                                    </div>
                                </div>
                                <div class="col-md-2 tooltipData">
                                    <div class="form-group" id="divToDate">
                                        <label for="delivaryDate">Area : </label>
                                        <label id="area"></label>
                                    </div>
                                </div>
                                <div class="col-md-2 tooltipData">
                                    <div class="form-group" id="divToDate">
                                        <label>Ov. Target KG : </label>
                                        <label id="overallTargetKG"></label>
                                    </div>
                                </div>
                                <div class="col-md-2 tooltipData">
                                    <div class="form-group" id="divToDate">
                                        <label>Av. Target KG : </label>
                                        <label id="availableTargetKG"></label>
                                    </div>
                                </div>
                                <div class="col-md-2 tooltipData">
                                    <div class="form-group" id="divToDate">
                                        <label>Ov. Target Amount : </label>
                                        <label id="overallTargetAmount"></label>
                                    </div>
                                </div>
                                <div class="col-md-2 tooltipData">
                                    <div class="form-group" id="divToDate">
                                        <label>Av. Target Amount : </label>
                                        <label id="availableTargetAmount"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="salesReport">
                        <div class="table-responsive">
                            <table id="SummaryTable" class="table table-bordered table-striped table-hover ">
                                <thead id="hSummary"> </thead>
                                <tbody id="summarybody"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input id="targetSetupId" type="number" style="display: none;" value="@ViewBag.TargetSetupId">
    </div>
</section>
@section Scripts{
    <script>
        $(function () {

            LoadGroup();
            LoadDate('#fromDate');
            LoadDate('#toDate');
            LoadCustomerType('ddlCustomerType');
            
            $('#btnSave').hide();
            $('.tooltipData').hide();
            var targetSetupId = $('#targetSetupId').val();
            if (targetSetupId > 0) {
                LoadTargetSetup(targetSetupId)
            }

        });
        function LoadGroup() {
            var urlpath = '@Url.Action("LoadGroup", "ProductType")';

            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {
                    $('#ddlGroup').empty();
                    $('#ddlGroup').append("<option value='0'>--Select Group--</option>");


                    for (var i = 0; i < data.length; i++) {

                        $("#ddlGroup").append($("<option></option>").val(data[i].GroupId).html(data[i].GroupName));

                    }
                }
            });
        }

        function LoadCustomer(elementId) {
            var typeid = $('#ddlCustomerType').val();
            var urlpath = '@Url.Action("GetCustomer", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { typeid: typeid },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Customer --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].CustomerID).html(data[i].CustomerCode + ":" + data[i].CustomerName + ": " + data[i].CoustomerTypeName));
                    }
                }
            });
        }
        LoadWareH = () => {
            LoadWareHouse('ddlWareHouse', $("#ddlLocation").val(), 3);
        }
        NextDate = () => {
            ;;
            var currentDate = $("#fromDate").val();
            var a = new Date(currentDate.getFullYear(), currentDate.getMonth() + 1, 0)
            //var a = Date.parse(currentDate).addDays(1).toString("dd-MMM-yyyy");
            var a = a.toString("dd-MMM-yyyy");
            $("#toDate").val(a);
        }

        function LoadTargetSetup(targetSetupId) {
            //if (RptValidation() == true) {

            var urlpath = '@Url.Action("GetTargetMappingDataById", "TargetSetup")';

            $.ajax({
                url: urlpath,
                data: { targetSetupId: targetSetupId },
                dataType: 'json',
                type: "Get",
                success: function (data) {
                    debugger;
                    var json = $.parseJSON(data.JSONresult);

                    var json1 = $.parseJSON(data.JSONresult1);
                    var json2 = $.parseJSON(data.JSONresult2);
                    var json3 = $.parseJSON(data.JSONresult3);
                    var json4 = $.parseJSON(data.JSONresult4);


                        $('#fromDate').val(json3[0].FromDate);
                        $('#toDate').val(json3[0].ToDate);
                        //$('#fromDate').val(ToJavaScriptDate(json3[m].FromDate));
                        //$('#toDate').val(ToJavaScriptDate(json3[m].ToDate));

                        $('#txtTitle').val(json3[0].Title);
                        $('#txtRemarks').val(json3[0].Remarks);

                    //for (var m = 0; m < 1; 1) {
                    //    $('#fromDate').val(json3[m].FromDate);
                    //    $('#toDate').val(json3[m].ToDate);
                    //    //$('#fromDate').val(ToJavaScriptDate(json3[m].FromDate));
                    //    //$('#toDate').val(ToJavaScriptDate(json3[m].ToDate));

                    //    $('#txtTitle').val(json3[m].Title);
                    //    $('#txtRemarks').val(json3[m].Remarks);
                    //}



                    $('#hSummary').html('');
                    var tHeadRow = '';
                    tHeadRow += '<tr style="font-size: 12px;font-weight: 900;">';
                    tHeadRow += '<td rowspan="3" style="text-align: center; vertical-align: middle;min-width: 30px;">SL</td>';
                    tHeadRow += '<td rowspan="3" style="text-align: center; vertical-align: middle;min-width: 120px;">Category Name</td>';
                    var flockCount = 0;
                    for (var a = 0; a < json.length; a++) {

                        if (json[a].areacount > 1) {
                            var areacount = json[a].areacount + 2;
                            tHeadRow += '<td  style="text-align: center; vertical-align: middle;min-width: 80px;" colspan="' + areacount + '">' + json[a].SalesOfficerId + ' : ' + json[a].EmpName + '</td>';
                        }
                        else {
                            tHeadRow += '<td  style="text-align: center; vertical-align: middle;min-width: 80px;" colspan="2">' + json[a].SalesOfficerId + ' : ' + json[a].EmpName + '</td>';
                        }

                        flockCount++;
                    }


                    tHeadRow += '<td rowspan="3"  style="text-align: center; vertical-align: middle;min-width: 80px;">Total Target KG</td>';
                    tHeadRow += '<td rowspan="3"  style="text-align: center; vertical-align: middle;min-width: 80px;">Total Target Amount</td>';
                    flockCount++;
                    tHeadRow += '</tr>';



                    tHeadRow += '<tr style="font-size: 12px;font-weight: 900;" id="secondtd">';


                    for (var a = 0; a < json1.length; a++) {
                        tHeadRow += '<td  style="text-align: center; vertical-align: middle;min-width: 80px;" colspan="2">' + json1[a].AreaName + '</td>';
                        flockCount++;
                    }


                    tHeadRow += '</tr>';

                    tHeadRow += '<tr style="font-size: 12px;font-weight: 900;" id="thirdd">';


                    for (var a = 0; a < json1.length; a++) {
                        tHeadRow += '<td  style="text-align: center; vertical-align: middle;min-width: 80px;"> Target KG</td>';
                        tHeadRow += '<td  style="text-align: center; vertical-align: middle;min-width: 80px;"> Target Amount</td>';
                        flockCount++;
                    }


                    tHeadRow += '</tr>';


                    $('#hSummary').html(tHeadRow);



                    ////////////////////////////////////////////////////

                    debugger;

                    var row = '';
                    var count = 1;
                    for (var i = 0; i < json2.length; i++) {


                        //row += '<tr >';
                        row += "<tr id='trmain" + count + "'>";
                        row += '<td style="text-align:center;">' + count + '</td>';
                        row += "<td style='display: none;'><input type='text'  style='display: none;'  id='CategoryId_" + count + "' value = '" + json2[i].CategoryId + "'  /></td>";
                        row += "<td style='display: none;'><input type='text'  style='display: none;'  id='TypeId_" + count + "' value = '" + json2[i].TypeId + "'  /></td>";
                        //row += '<td style="text-align:center;">' + json2[i].CategoryId + '</td>';
                        row += '<td style="text-align:center;">' + json2[i].CategoryName + '</td>';

                        var counta = 1;
                        for (var a = 0; a < json1.length; a++) {
                            row += '<td class="hidea" style="text-align:center;display: none;">' + counta + '</td>';
                            row += "<td style='display: none;'><input type='text'  style='display: none;'  id='AreaId_" + counta + "_" + json2[i].CategoryId + "' value = '" + json1[a].AreaId + "'  /></td>";
                            row += "<td style='display: none;'><input type='text'  style='display: none;'  id='SalesOfficerId_" + counta + "_" + json2[i].CategoryId + "' value = '" + json1[a].SalesOfficerId + "'  /></td>";
                            //row += '<td  style="text-align: center; vertical-align: middle;min-width: 80px;"><input type="number" id="quantity" /></td>';
                            for (var b = 0; b < json4.length; b++) {
                                if (json2[i].CategoryId == json4[b].CategoryId && json1[a].SalesOfficerId == json4[b].SalesOfficeId && json1[a].AreaId == json4[b].AreaId) {
                                    row += "<td style='display: none;'><input type='text'  style='display: none;'  id='TargetSetupDetailsId_" + json2[i].CategoryId + "_" + json1[a].AreaId + "_" + json1[a].SalesOfficerId + "' value = '" + json4[b].TargetSetupDetailsId + "' /></td>";
                                    row += "<td style='display: none;'><input type='number' style='display: none;'  id='PreTargetQty_" + json2[i].CategoryId + "_" + json1[a].AreaId + "_" + json1[a].SalesOfficerId + "'    value = '" + json4[b].TargetKG + "'/></td>";
                                    row += "<td style='display: none;'><input type='number' style='display: none;'  id='PreTargetAmount_" + json2[i].CategoryId + "_" + json1[a].AreaId + "_" + json1[a].SalesOfficerId + "' value = '" + json4[b].TargetAmount + "'/></td>";
                                    //row += "<td style='text-align:center;width:2%'><input type='number' style='text-align:right;'  id='TargetQty_" + json2[i].CategoryId + "_" + json1[a].AreaId + "_" + json1[a].SalesOfficerId + "'  placeholder='Target KG' onkeyup='RowAmountCalculation(" + json2[i].CategoryId + "," + json1[a].AreaId + "," + json1[a].SalesOfficerId + "),RowTotalCalculation(" + json2[i].CategoryId + ")'  value = '" + json4[b].TargetKG + "'/></td>";
                                    if (json4[b].TargetKG > 0)
                                    {
                                        row += "<td style='text-align:center;width:2%'><input type='number' style='text-align:right;'  id='TargetQty_" + json2[i].CategoryId + "_" + json1[a].AreaId + "_" + json1[a].SalesOfficerId + "'  placeholder='Target KG' onkeyup='RowAmountCalculation(" + json2[i].CategoryId + "," + json1[a].AreaId + "," + json1[a].SalesOfficerId + "),RowTotalCalculation(" + json2[i].CategoryId + ")' onclick='RowAmountCalculation(" + json2[i].CategoryId + "," + json1[a].AreaId + "," + json1[a].SalesOfficerId + ")'  value = '" + json4[b].TargetKG + "'/></td>";
                                    } else
                                    {
                                        row += "<td style='text-align:center;width:2%'><input type='number' style='text-align:right;'  id='TargetQty_" + json2[i].CategoryId + "_" + json1[a].AreaId + "_" + json1[a].SalesOfficerId + "'  placeholder='Target KG' onkeyup='RowAmountCalculation(" + json2[i].CategoryId + "," + json1[a].AreaId + "," + json1[a].SalesOfficerId + "),RowTotalCalculation(" + json2[i].CategoryId + ")' onclick='RowAmountCalculation(" + json2[i].CategoryId + "," + json1[a].AreaId + "," + json1[a].SalesOfficerId + ")' value = ''/></td>";
                                    }

                                    if (json4[b].TargetAmount > 0)
                                    {
                                        row += "<td style='text-align:center;width:2%'><input type='number' style='text-align:right;'  id='TargetAmount_" + json2[i].CategoryId + "_" + json1[a].AreaId + "_" + json1[a].SalesOfficerId + "'  placeholder='Target Amount' onkeyup='RowAmountCalculation(" + json2[i].CategoryId + "," + json1[a].AreaId + "," + json1[a].SalesOfficerId + "),RowTotalCalculation(" + json2[i].CategoryId + ")' onclick='RowAmountCalculation(" + json2[i].CategoryId + "," + json1[a].AreaId + "," + json1[a].SalesOfficerId + ")' value = '" + json4[b].TargetAmount + "'/></td>";
                                    }
                                    else
                                    {
                                        row += "<td style='text-align:center;width:2%'><input type='number' style='text-align:right;'  id='TargetAmount_" + json2[i].CategoryId + "_" + json1[a].AreaId + "_" + json1[a].SalesOfficerId + "'  placeholder='Target Amount' onkeyup='RowAmountCalculation(" + json2[i].CategoryId + "," + json1[a].AreaId + "," + json1[a].SalesOfficerId + "),RowTotalCalculation(" + json2[i].CategoryId + ")' onclick='RowAmountCalculation(" + json2[i].CategoryId + "," + json1[a].AreaId + "," + json1[a].SalesOfficerId + ")' value = ''/></td>";
                                    }

                                }
                            }

                            counta++;
                        }
                        row += "<td style='text-align:right;width:3%'><input type='number' style='text-align:right;'  id='TotalTargetQty_" + json2[i].CategoryId + "'  value = '" + json2[i].TotalTargetKG + "'/></td>";
                        row += "<td style='text-align:right;width:3%'><input type='number' style='text-align:right;'  id='TotalTargetAmount_" + json2[i].CategoryId + "'  value = '" + json2[i].TotalTargetAmount + "'/></td>";

                        row += '</tr>';
                        count++
                    }


                    $("#summarybody").html(row);
                    ////var json = $.parseJSON(data);
                    //ReadTableData(json);
                    //CalculateAll();
                    /////////////////////////////////////////////
                    $('#btnSave').show();

                },
                complete: function () {

                    //normalizeTable();
                    $('#companyHeader').html("IG Foods Limited");
                    //$('#reportHeader').html("Product Movement ");
                    $('#productName').html('Group Name : ' + $("#ddlGroup option:selected").text());
                    //$('#Warehouse').html('Warehouse Name : ' + $("#ddlWareHouse option:selected").text());
                    $('#reportDate').html('Report Date: ' + $("#fromDate").val() + ' To ' + $("#toDate").val());
                    //$('#reportDate').html("Stock report of :" + $('#txtRequisitionDate').val() + " & " + $('#txtProductionDate').val());
                    //$('#SalesReportTable').rowspanizer({
                    //    vertical_align: 'middle',
                    //    columns: [1]
                    //});
                    //$('#reportDate').text('Report from: ' + array[0] + 'to :' + array[1]);
                }
            });
            //}
        }

        function ReadTableData(json) {
            var json_new = json;

            var myTab = document.getElementById('SummaryTable');
            var objCells = myTab.rows.item(0).cells;
            var customer;
            var Product;
            var count;


            for (i = 2; i < myTab.rows.length; i++) {
                var rowtotal_KG = 0;
                var rowtotal_P = 0;

                var objCells_C = myTab.rows.item(i).cells;
                customer = objCells_C.item(0).innerHTML;

                for (var j = 1; j < objCells.length; j++) {
                    Product = objCells.item(j).innerHTML;


                    for (var l = 0; l < json_new.length; l++) {
                        var customer_j = json_new[l].CustomerName;
                        var product_j = json_new[l].ProductName;
                        //var cus = convert(customer);

                        if (convert(customer) == customer_j && Product == product_j) {
                            if (j == 1) {
                                count = j;
                                objCells_C.item(count).innerHTML = json_new[l].IssueKg;
                                count = parseInt(count) + 1;
                                objCells_C.item(count).innerHTML = json_new[l].IssuePrice;

                                rowtotal_KG = parseFloat(rowtotal_KG) + parseFloat(json_new[l].IssueKg);
                                var lc = objCells_C.length;
                                objCells_C.item(lc - 2).innerHTML = rowtotal_KG.toFixed(2);

                                rowtotal_P = parseFloat(rowtotal_P) + parseFloat(json_new[l].IssuePrice);
                                objCells_C.item(lc - 1).innerHTML = rowtotal_P.toFixed(2);
                            }
                            else {
                                count = parseInt(j) + parseInt(j);
                                objCells_C.item(count - 1).innerHTML = json_new[l].IssueKg;
                                //count = parseInt(count) + 1;
                                objCells_C.item(count).innerHTML = json_new[l].IssuePrice;
                                rowtotal_KG = parseFloat(rowtotal_KG) + parseFloat(json_new[l].IssueKg);

                                var lc = objCells_C.length;
                                objCells_C.item(lc - 2).innerHTML = rowtotal_KG.toFixed(2);


                                rowtotal_P = parseFloat(rowtotal_P) + parseFloat(json_new[l].IssuePrice);
                                objCells_C.item(lc - 1).innerHTML = rowtotal_P.toFixed(2);
                            }



                            break;

                        }

                    }

                }


            }


        }



        function CalculateAll() {

            var myTab = document.getElementById('SummaryTable');

            var objCells_total = myTab.rows.item(myTab.rows.length - 1).cells;
            debugger;
            //for (i = 2; i < myTab.rows.length - 1; i++) {
            //    var objCells = myTab.rows.item(i).cells;

            //    for (var j = 1; j < objCells.length; j++) {
            //        info.innerHTML = info.innerHTML + ' ' + objCells.item(j).innerHTML;
            //    }

            //}


            for (i = 2; i < myTab.rows.length - 1; i++) {
                var objCells = myTab.rows.item(i).cells;

                for (var j = 1; j < objCells.length; j++) {
                    var linitem = objCells.item(j).innerHTML;
                    var lind = isNaN(parseFloat(objCells.item(j).innerHTML)) ? 0 : parseFloat(objCells.item(j).innerHTML);

                    var dert = objCells_total.item(j).innerHTML;
                    var dertd = isNaN(parseFloat(objCells_total.item(j).innerHTML)) ? 0 : parseFloat(objCells_total.item(j).innerHTML);

                    objCells_total.item(j).innerHTML = (lind + dertd).toFixed(2);
                }

            }

        }

        var table = document.getElementsByTagName('table')[0];
        function normalizeTable() {


            var countTD = $("#SummaryTable tr:first > td").length;
            debugger;
            var trs = table.getElementsByTagName('tr'),
                len = trs.length, max = 0, td;
            // first we search for the longest table row in terms of # of children
            for (var i = len; i--;) {
                if (trs[i].children.length > max)
                    max = trs[i].children.length;
            }
            debugger;
            // now we can fill the other rows
            var trb = $("#SummaryTable").find("tbody>tr");
            //var trb = table.getElementsByTagName('tbody').children[0];
            lenb = $('#SummaryTable tbody tr').length;
            for (var j = lenb; j--;) {
                var er = lenb;
                while (trb[j].children.length < max) {
                    td = document.createElement('td');
                    trb[j].appendChild(td);
                }
            }
        }


        function convert(str) {
            //str = str.replace(/&/g, "&amp;");
            str = str.replace("&amp;", "&");
            //str = str.replace(/>/g, "&gt;");
            //str = str.replace(/</g, "&lt;");
            //str = str.replace(/"/g, "&quot;");
            //str = str.replace(/'/g, "&#039;");
            return str;
        }

        function exportExcel(e) {
            if ($('#SummaryTable tbody tr').length == 0) {
                swal("No Data to Export");
            } else {
                var file = new Blob([$('#salesReportDiv').html()], { type: "application/vnd.ms-excel" });
                var url = URL.createObjectURL(file);
                var a = $("<a />", {
                    href: url,
                    download: "CustomerwiseGroupProductReport.xls"

                }).appendTo("body").get(0).click();
            }
        }

        function RptValidation() {



            var isValid = true;

            if (($('#fromDate').val() == 0 || $('#fromDate').val() == '')) {
                ValidationColorChangeNew('fromDate', 'divDelivaryDate', 'Please Select From Date', true);
                isValid = false;
            }

            if ($('#toDate').val() == 0 || $('#toDate').val() == '') {
                ValidationColorChangeNew('toDate', 'divToDate', 'Please Select To Date', true);
                isValid = false;
            }


            return isValid;
        }



        function Save() {

            if (SaveValidation() == true) {
                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveFinal();

                });
            }
        }
        function SaveFinal() {
            debugger;
            var jsonData = {};

            jsonData["TargetSetupMasterId"] = $('#targetSetupId').val();
            jsonData["FromDate"] = $('#fromDate').val();
            jsonData["ToDate"] = $('#toDate').val();

            jsonData["Title"] = $('#txtTitle').val();
            jsonData["Remarks"] = $('#txtRemarks').val();
            jsonData["IsEdit"] = true;
            var count;

            var jsonObjs = [];

            var myTab = document.getElementById('summarybody');
            for (i = 0; i < myTab.rows.length; i++) {

                var objCells_C = myTab.rows.item(i).cells;

                count = objCells_C.item(0).innerHTML;
                //var category = $("#CategoryId_" + count).val();
                var category = isNaN(parseFloat($("#CategoryId_" + count).val())) ? 0 : parseFloat($("#CategoryId_" + count).val());

                //for (var j = 0; j < objCells_C.length; j++) {

                // var seccount;
                for (var k = 0; k < objCells_C.length; k++) {
                    var theObj = {};
                    //seccount = objCells_C.item(k).innerHTML;
                    //var area = $("#AreaId_" + seccount + "_" + category).val();
                    var area = isNaN(parseFloat($("#AreaId_" + k + "_" + category).val())) ? 0 : parseFloat($("#AreaId_" + k + "_" + category).val());
                    //var salesofficer = $("#SalesOfficerId_" + seccount + "_" + category).val();
                    var salesofficer = isNaN(parseFloat($("#SalesOfficerId_" + k + "_" + category).val())) ? 0 : parseFloat($("#SalesOfficerId_" + k + "_" + category).val());
                    //var target = $("#TargetQty_" + category + "_" + area + "_" + salesofficer).val();
                    var target = isNaN(parseFloat($("#TargetQty_" + category + "_" + area + "_" + salesofficer).val())) ? 0 : parseFloat($("#TargetQty_" + category + "_" + area + "_" + salesofficer).val());
                    var targetSetupDetailsId = isNaN(parseFloat($("#TargetSetupDetailsId_" + category + "_" + area + "_" + salesofficer).val())) ? 0 : parseFloat($("#TargetSetupDetailsId_" + category + "_" + area + "_" + salesofficer).val());
                    var targetAmount = isNaN(parseFloat($("#TargetAmount_" + category + "_" + area + "_" + salesofficer).val())) ? 0 : parseFloat($("#TargetAmount_" + category + "_" + area + "_" + salesofficer).val());

                    if (category > 0 && area > 0 && salesofficer > 0 && targetSetupDetailsId > 0) {
                        theObj["TargetSetupDetailsId"] = targetSetupDetailsId;
                        theObj["CategoryId"] = category;
                        theObj["SalesOfficeId"] = salesofficer;
                        theObj["AreaId"] = area;
                        theObj["TargetKG"] = target;
                        theObj["TargetAmount"] = targetAmount;
                        jsonObjs.push(theObj);
                    }


                    //}
                }
            }
            jsonData["TargetSetupDetails"] = jsonObjs;

            var urlpath = '@Url.Action("SaveTargetSetup", "TargetSetup")';
            $.ajax({
                contentType: "application/json",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "POST"
            })
                .success(function (result) {

                    if (result.pk > 0) {

                        swal({
                            title: " Saved Successfull",
                            text: '',
                            type: "success",
                            showCancelButton: false,
                            cancelButtonClass: 'btn-secondary waves-effect',
                            confirmButtonClass: 'btn-success waves-effect waves-light',
                            confirmButtonText: 'OK!',
                            closeOnConfirm: false
                        }, function () {
                            //LoadReportFinal(result.pk);



                             window.location.href = '@Url.Action("Index", "TargetSetup", new { fromdate = (DateTime?)null, todate =(DateTime?)null})';

                        });


                    }
                });


        }
        function SaveValidation() {
            //  debugger;

            var isValid = true;
            var message = "Some Values Required";

            //if ($('#txtChallanNo').val() == 0 || $('#txtChallanNo').val() == '') {
            //    ValidationColorChangeNew("ddlChallanNo", "divChallanNo", "Challan No  Required", true);
            //    isValid = false;
            //}
            //if ($('#txtMrrDate').val() == '' || $('#txtMrrDate').val() == null) {
            //    ValidationColorChangeNew("txtMrrDate", "divMrrDate", "MRR Date Required", false);
            //    isValid = false;
            //}
            //if ($('#txtChallanDate').val() == '' || $('#txtChallanDate').val() == null) {
            //    ValidationColorChangeNew("txtChallanDate", "divChallanDate", "Challan Date Required", false);
            //    isValid = false;
            //}



            var myTab = document.getElementById('summarybody');
            for (i = 0; i < myTab.rows.length; i++) {

                var objCells_C = myTab.rows.item(i).cells;

                count = objCells_C.item(0).innerHTML;
                var category = isNaN(parseFloat($("#CategoryId_" + count).val())) ? 0 : parseFloat($("#CategoryId_" + count).val());

                for (var k = 0; k < objCells_C.length; k++) {

                    var area = isNaN(parseFloat($("#AreaId_" + k + "_" + category).val())) ? 0 : parseFloat($("#AreaId_" + k + "_" + category).val());
                    var salesofficer = isNaN(parseFloat($("#SalesOfficerId_" + k + "_" + category).val())) ? 0 : parseFloat($("#SalesOfficerId_" + k + "_" + category).val());

                    //var customerTypeTargetSetupDetailsId = isNaN(parseFloat($("#CustomerTypeTargetSetupDetailsId_" + customerTypeId + "_" + typeId).val())) ? 0 : parseFloat($("#CustomerTypeTargetSetupDetailsId_" + customerTypeId + "_" + typeId).val());
                    var target = isNaN(parseFloat($("#TargetQty_" + category + "_" + area + "_" + salesofficer).val())) ? 0 : parseFloat($("#TargetQty_" + category + "_" + area + "_" + salesofficer).val());
                    var targetAmount = isNaN(parseFloat($("#TargetAmount_" + category + "_" + area + "_" + salesofficer).val())) ? 0 : parseFloat($("#TargetAmount_" + category + "_" + area + "_" + salesofficer).val());

                    if (target > 0 && targetAmount == 0) {
                        isValid = false;
                        message = "Please input Target Amount ";
                        $('#TargetQty_' + category + "_" + area + "_" + salesofficer).css('border-bottom', '2px solid red');
                        $('#TargetAmount_' + category + "_" + area + "_" + salesofficer).css('border-bottom', '2px solid red');
                        return;
                    }


                }
            }


            if (isValid == false) {
                ShowMessage(message);

            }
            return isValid;


        }

        function RowTotalCalculation(categoryS) {
            var count;

            var jsonObjs = [];

            var myTab = document.getElementById('summarybody');
            for (i = 0; i < myTab.rows.length; i++) {

                var objCells_C = myTab.rows.item(i).cells;

                count = objCells_C.item(0).innerHTML;
                //var category = $("#CategoryId_" + count).val();
                var category = isNaN(parseFloat($("#CategoryId_" + count).val())) ? 0 : parseFloat($("#CategoryId_" + count).val());
                var RowTotalTargetQty = 0;
                var RowTotalTargetAmount = 0;
                //for (var j = 0; j < objCells_C.length; j++) {
                if (category == categoryS) {
                    for (var k = 0; k < objCells_C.length; k++) {
                        var theObj = {};
                        //seccount = objCells_C.item(k).innerHTML;
                        //var area = $("#AreaId_" + seccount + "_" + category).val();
                        var area = isNaN(parseFloat($("#AreaId_" + k + "_" + category).val())) ? 0 : parseFloat($("#AreaId_" + k + "_" + category).val());
                        //var salesofficer = $("#SalesOfficerId_" + seccount + "_" + category).val();
                        var salesofficer = isNaN(parseFloat($("#SalesOfficerId_" + k + "_" + category).val())) ? 0 : parseFloat($("#SalesOfficerId_" + k + "_" + category).val());
                        //var target = $("#TargetQty_" + category + "_" + area + "_" + salesofficer).val();


                        if (category > 0 && area > 0 && salesofficer > 0) {
                            var target = isNaN(parseFloat($("#TargetQty_" + category + "_" + area + "_" + salesofficer).val())) ? 0 : parseFloat($("#TargetQty_" + category + "_" + area + "_" + salesofficer).val());
                            RowTotalTargetQty += target
                            var targetAmount = isNaN(parseFloat($("#TargetAmount_" + category + "_" + area + "_" + salesofficer).val())) ? 0 : parseFloat($("#TargetAmount_" + category + "_" + area + "_" + salesofficer).val());
                            RowTotalTargetAmount += targetAmount
                        }


                    }
                    $("#TotalTargetQty_" + categoryS).val(RowTotalTargetQty.toFixed(2));
                    $("#TotalTargetAmount_" + categoryS).val(RowTotalTargetAmount.toFixed(2));
                }

            }
        }

        function RowAmountCalculation(categoryS, areaS, salesofficerS) {
            var count;
            var jsonObjs = [];

            var myTab = document.getElementById('summarybody');
            for (i = 0; i < myTab.rows.length; i++) {

                var objCells_C = myTab.rows.item(i).cells;

                count = objCells_C.item(0).innerHTML;
                //var category = $("#CategoryId_" + count).val();
                var category = isNaN(parseFloat($("#CategoryId_" + count).val())) ? 0 : parseFloat($("#CategoryId_" + count).val());
                var typeId = isNaN(parseFloat($("#TypeId_" + count).val())) ? 0 : parseFloat($("#TypeId_" + count).val());
                //var RowTotalTargetQty = 0;
                //var RowTotalTargetAmount = 0;
                //for (var j = 0; j < objCells_C.length; j++) {
                if (category == categoryS) {
                    for (var k = 0; k < objCells_C.length; k++) {
                        var theObj = {};
                        //seccount = objCells_C.item(k).innerHTML;
                        //var area = $("#AreaId_" + seccount + "_" + category).val();
                        var area = isNaN(parseFloat($("#AreaId_" + k + "_" + category).val())) ? 0 : parseFloat($("#AreaId_" + k + "_" + category).val());
                        //var salesofficer = $("#SalesOfficerId_" + seccount + "_" + category).val();
                        var salesofficer = isNaN(parseFloat($("#SalesOfficerId_" + k + "_" + category).val())) ? 0 : parseFloat($("#SalesOfficerId_" + k + "_" + category).val());
                        //var target = $("#TargetQty_" + category + "_" + area + "_" + salesofficer).val();


                        if (category == categoryS && area == areaS && salesofficer == salesofficerS) {
                            var target = isNaN(parseFloat($("#TargetQty_" + category + "_" + area + "_" + salesofficer).val())) ? 0 : parseFloat($("#TargetQty_" + category + "_" + area + "_" + salesofficer).val());
                            var targetAmount = isNaN(parseFloat($("#TargetAmount_" + category + "_" + area + "_" + salesofficer).val())) ? 0 : parseFloat($("#TargetAmount_" + category + "_" + area + "_" + salesofficer).val());
                            var pretarget = isNaN(parseFloat($("#PreTargetQty_" + category + "_" + area + "_" + salesofficer).val())) ? 0 : parseFloat($("#PreTargetQty_" + category + "_" + area + "_" + salesofficer).val());
                            var pretargetAmount = isNaN(parseFloat($("#PreTargetAmount_" + category + "_" + area + "_" + salesofficer).val())) ? 0 : parseFloat($("#PreTargetAmount_" + category + "_" + area + "_" + salesofficer).val());
                            //var salesRate = CategorySalesRate(category);
                            //var targetAmount = target * salesRate;
                            debugger;
                            var TypeObj = RowTypeCalculation(typeId, areaS, salesofficerS);
                            debugger;
                            var fromDate = $("#fromDate").val();
                            var toDate = $("#toDate").val();
                            var ActualTypeObj = AvailableTarget(fromDate, toDate, category, area, salesofficer);
                            debugger;

                            $('.tooltipData').show();
                            $('.tooltipData').css('border-bottom', '2px solid red');
                            $("#salesOfficer").html(ActualTypeObj.SalesOfficeId + ':' + ActualTypeObj.SalesOfficeName);
                            $("#area").html(ActualTypeObj.AreaName);
                            $("#overallTargetKG").html(ActualTypeObj.OverallTargetKG);
                            $("#availableTargetKG").html(ActualTypeObj.AvailableTargetKG);
                            $("#overallTargetAmount").html(ActualTypeObj.OverallTargetAmount);
                            $("#availableTargetAmount").html(ActualTypeObj.AvailableTargetAmount);


                            if (TypeObj.TypeRowTotalTargetQty > (ActualTypeObj.AvailableTargetKG + TypeObj.TypePreRowTotalTargetQty)) {
                                ShowMessage("Target KG Can't gater then Available Target KG");
                                //$('#TargetQty_' + category + "_" + area + "_" + salesofficer).css('border-bottom', '2px solid red');
                                //$('#TargetAmount_' + category + "_" + area + "_" + salesofficer).css('border-bottom', '2px solid red');
                                $("#TargetQty_" + category + "_" + area + "_" + salesofficer).val(pretarget);
                                return;
                            }

                            if (TypeObj.TypeRowTotalTargetAmount > (ActualTypeObj.AvailableTargetAmount + TypeObj.TypePreRowTotalTargetAmount)) {
                                ShowMessage("Target Amount Can't gater then Available Target Amount");
                                //$('#TargetAmount_' + category + "_" + area + "_" + salesofficer).css('border-bottom', '2px solid red');
                                //$('#TargetAmount_' + category + "_" + area + "_" + salesofficer).css('border-bottom', '2px solid red');
                                $("#TargetAmount_" + category + "_" + area + "_" + salesofficer).val(pretargetAmount);
                                return;
                            }

                            //$("#TargetAmount_" + category + "_" + area + "_" + salesofficer).val(targetAmount.toFixed(2));

                        }


                    }
                }

            }
        }

        function RowTypeCalculation(typeS, areaS, salesofficerS) {
            var count;
            // var Objs = {};
            var RowTotalTargetQty = 0;
            var RowTotalTargetAmount = 0;
            var PreRowTotalTargetQty = 0;
            var PreRowTotalTargetAmount = 0;

            var myTab = document.getElementById('summarybody');
            for (i = 0; i < myTab.rows.length; i++) {

                var objCells_C = myTab.rows.item(i).cells;

                count = objCells_C.item(0).innerHTML;
                //var category = $("#CategoryId_" + count).val();
                var category = isNaN(parseFloat($("#CategoryId_" + count).val())) ? 0 : parseFloat($("#CategoryId_" + count).val());
                var typeId = isNaN(parseFloat($("#TypeId_" + count).val())) ? 0 : parseFloat($("#TypeId_" + count).val());

                //for (var j = 0; j < objCells_C.length; j++) {
                if (typeS == typeId) {
                    for (var k = 0; k < objCells_C.length; k++) {
                        var theObj = {};
                        //seccount = objCells_C.item(k).innerHTML;
                        //var area = $("#AreaId_" + seccount + "_" + category).val();
                        var area = isNaN(parseFloat($("#AreaId_" + k + "_" + category).val())) ? 0 : parseFloat($("#AreaId_" + k + "_" + category).val());
                        //var salesofficer = $("#SalesOfficerId_" + seccount + "_" + category).val();
                        var salesofficer = isNaN(parseFloat($("#SalesOfficerId_" + k + "_" + category).val())) ? 0 : parseFloat($("#SalesOfficerId_" + k + "_" + category).val());
                        //var target = $("#TargetQty_" + category + "_" + area + "_" + salesofficer).val();


                        if (typeS == typeId && area == areaS && salesofficer == salesofficerS) {
                            var target = isNaN(parseFloat($("#TargetQty_" + category + "_" + area + "_" + salesofficer).val())) ? 0 : parseFloat($("#TargetQty_" + category + "_" + area + "_" + salesofficer).val());
                            var targetAmount = isNaN(parseFloat($("#TargetAmount_" + category + "_" + area + "_" + salesofficer).val())) ? 0 : parseFloat($("#TargetAmount_" + category + "_" + area + "_" + salesofficer).val());
                            var pretarget = isNaN(parseFloat($("#PreTargetQty_" + category + "_" + area + "_" + salesofficer).val())) ? 0 : parseFloat($("#PreTargetQty_" + category + "_" + area + "_" + salesofficer).val());
                            var pretargetAmount = isNaN(parseFloat($("#PreTargetAmount_" + category + "_" + area + "_" + salesofficer).val())) ? 0 : parseFloat($("#PreTargetAmount_" + category + "_" + area + "_" + salesofficer).val());
                            //var salesRate = CategorySalesRate(category);
                            //var targetAmount = target * salesRate;
                            RowTotalTargetQty += target;
                            RowTotalTargetAmount += targetAmount;
                            PreRowTotalTargetQty += pretarget;
                            PreRowTotalTargetAmount += pretargetAmount;
                            //var fromDate = $("#fromDate").val();
                            //var toDate = $("#toDate").val();
                            //AvailableTarget(fromDate, toDate, category, area, salesofficer, target, targetAmount);
                            //$("#TargetAmount_" + category + "_" + area + "_" + salesofficer).val(targetAmount.toFixed(2));

                        }


                    }
                }

            }

            var obj = {
                TypeRowTotalTargetQty: RowTotalTargetQty,
                TypeRowTotalTargetAmount: RowTotalTargetAmount,
                TypePreRowTotalTargetQty: PreRowTotalTargetQty,
                TypePreRowTotalTargetAmount: PreRowTotalTargetAmount
            };
            // Return it
            return obj;


        }

        function AvailableTarget(FromDate, ToDate, CategoryId, AreaId, SalesOfficerId) {
            var urlpath = '@Url.Action("GetAvailableTarget", "TargetSetup")';
            debugger;

            var SalesOfficeId = 0;
            var AreaName = '';
            var SalesOfficeName = '';
            var OverallTargetKG = 0;
            var AvailableTargetKG = 0;
            var OverallTargetAmount = 0;
            var AvailableTargetAmount = 0;

            $.ajax({
                url: urlpath,
                data: { FromDate: FromDate, ToDate: ToDate, CategoryId: CategoryId, AreaId: AreaId, SalesOfficerId: SalesOfficerId },
                dataType: 'json',
                type: "Get",
                async: false,
                success: function (data) {
                    //alert(JSON.stringify(data));
                    SalesOfficeId = data.SalesOfficeId;
                    AreaName = data.AreaName;
                    SalesOfficeName = data.SalesOfficeName;
                    OverallTargetKG = data.OverallTargetKG;
                    AvailableTargetKG = data.AvailableTargetKG;
                    OverallTargetAmount = data.OverallTargetAmount;
                    AvailableTargetAmount = data.AvailableTargetAmount;

                }
            });

            var obj = {
                SalesOfficeId: SalesOfficeId,
                AreaName: AreaName,
                SalesOfficeName: SalesOfficeName,
                OverallTargetKG: OverallTargetKG,
                AvailableTargetKG: AvailableTargetKG,
                OverallTargetAmount: OverallTargetAmount,
                AvailableTargetAmount: AvailableTargetAmount
            };
            return obj;

        }

        @*function RowAmountCalculation(categoryS, areaS, salesofficerS) {
            var count;
            debugger;
            var jsonObjs = [];

            var myTab = document.getElementById('summarybody');
            for (i = 0; i < myTab.rows.length; i++) {

                var objCells_C = myTab.rows.item(i).cells;

                count = objCells_C.item(0).innerHTML;
                //var category = $("#CategoryId_" + count).val();
                var category = isNaN(parseFloat($("#CategoryId_" + count).val())) ? 0 : parseFloat($("#CategoryId_" + count).val());
                //var RowTotalTargetQty = 0;
                //var RowTotalTargetAmount = 0;
                //for (var j = 0; j < objCells_C.length; j++) {
                if (category == categoryS) {
                    for (var k = 0; k < objCells_C.length; k++) {
                        var theObj = {};
                        //seccount = objCells_C.item(k).innerHTML;
                        //var area = $("#AreaId_" + seccount + "_" + category).val();
                        var area = isNaN(parseFloat($("#AreaId_" + k + "_" + category).val())) ? 0 : parseFloat($("#AreaId_" + k + "_" + category).val());
                        //var salesofficer = $("#SalesOfficerId_" + seccount + "_" + category).val();
                        var salesofficer = isNaN(parseFloat($("#SalesOfficerId_" + k + "_" + category).val())) ? 0 : parseFloat($("#SalesOfficerId_" + k + "_" + category).val());
                        //var target = $("#TargetQty_" + category + "_" + area + "_" + salesofficer).val();


                        if (category == categoryS && area == areaS && salesofficer == salesofficerS) {
                            var target = isNaN(parseFloat($("#TargetQty_" + category + "_" + area + "_" + salesofficer).val())) ? 0 : parseFloat($("#TargetQty_" + category + "_" + area + "_" + salesofficer).val());
                            var salesRate = CategorySalesRate(category);
                            var targetAmount = target * salesRate;

                            $("#TargetAmount_" + category + "_" + area + "_" + salesofficer).val(targetAmount.toFixed(2));

                        }


                    }
                }

            }
        }

        function CategorySalesRate(category) {
            var _salseRate = 0;
            $.ajax({
                url: '@Url.Action("CategorySalesRate", "TargetSetup")',
                type: 'POST',
                cache: false,
                traditional: true,
                async: false,
                data: { categoryId: category },
                success: function (salseRate) {

                    if (salseRate > 0) {
                        _salseRate = salseRate;
                    }
                }
            });
            return _salseRate;
        }*@
    </script>
}