﻿
@{
    ViewBag.Title = "Target Setup";
}
<style>
    /*.table-fixed tbody {
    display:block;
    height:85vh;
    overflow:auto;
}
.table-fixed thead, .table-fixed tbody tr {
    display:table;
    width:100%;
}*/

/*.table-scroll tbody {
    position: absolute;
    overflow-y: scroll;
    height: 250px;
}

.table-scroll tr {
    width: 100%;
    table-layout: fixed;
    display: inline-table;
}

.table-scroll thead > tr > th {
    border: none;
}*/
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="card-title">
                                    <span class=""> New  Target Setup</span>
                                </h3>
                            </div>
                            <div class="col-md-6 text-right">
                                <a class="btn btn-outline-warning" href="@Url.Action("Index", "TargetSetup", new { fromdate = (DateTime?)null, todate = (DateTime?)null })">
                                    <span class="fa fa-list"></span> Go To Target Setup List
                                </a>
                            </div>
                        </div>

                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                            @*<div class="row">*@
                                                <div class="col-md-3">
                                                    <div class="form-group" id="divDelivaryDate">
                                                        <label for="delivaryDate">From Date<span class="text-danger"> *</span></label>
                                                        <input type="text" class="form-control datepicker" style="width: 100%;" id="fromDate"  autocomplete="off" />
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group" id="divToDate">
                                                        <label for="delivaryDate">To Date<span class="text-danger"> *</span></label>
                                                        <input type="text" class="form-control datepicker" style="width: 100%;" id="toDate" autocomplete="off" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group" id="divTitle">
                                                        <label for="txtTitle">Title</label>
                                                        <input type="text" class="form-control " style="width: 100%;" id="txtTitle" />
                                                    </div>
                                                </div>

                                            @*</div>*@
                                          


                                    <!-- /.card-body -->
                                </div>
                                <div class="row" style="padding-top: 10px">
                                    <div class="col-md-10 offset-2">
                                        <div class="form-group row">
                                            <label for="txtRemarks" class="col-sm-2 control-label">Remarks :</label>
                                            <div class="col-sm-10" id="divRemarks">
                                                <textarea id="txtRemarks" rows="2" cols="100" style="text-align: left"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary" onclick="LoadReport()">Search</button>
                        <button class="btn btn-primary  float-right" id="btnSave" onclick="Save()">Save</button>
                    </div>
                </div>
                <!-- /.card -->
                <div class="card divclass" id="salesReportDiv">
                    <div class="card-header with-border">
                        <div id="">
                            <div class="row" id="ValId">
                                <div class="col-md-2 tooltipData">
                                    <div class="form-group" id="divToDate">
                                        <label for="delivaryDate">Sales Officer : </label>
                                        <label id="salesOfficer"></label>
                                    </div>
                                </div>
                                <div class="col-md-2 tooltipData">
                                    <div class="form-group" id="divToDate">
                                        <label for="delivaryDate">Area : </label>
                                        <label id="area"></label>
                                    </div>
                                </div>
                                <div class="col-md-2 tooltipData">
                                    <div class="form-group" id="divToDate">
                                        <label>Ov. Target KG : </label>
                                        <label id="overallTargetKG"></label>
                                    </div>
                                </div>
                                <div class="col-md-2 tooltipData">
                                    <div class="form-group" id="divToDate">
                                        <label>Av. Target KG : </label>
                                        <label id="availableTargetKG"></label>
                                    </div>
                                </div>
                                <div class="col-md-2 tooltipData">
                                    <div class="form-group" id="divToDate">
                                        <label>Ov. Target Amount : </label>
                                        <label id="overallTargetAmount"></label>
                                    </div>
                                </div>
                                <div class="col-md-2 tooltipData">
                                    <div class="form-group" id="divToDate">
                                        <label>Av. Target Amount : </label>
                                        <label id="availableTargetAmount"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="salesReport">
                        <div class="table-responsive">
                            <table id="SummaryTable" class="table table-bordered table-striped table-hover  table-fixed">
                                <thead id="hSummary"> </thead>
                                <tbody id="summarybody"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script>
        $(function () {

            LoadGroup();

            LoadCustomerType('ddlCustomerType');
            $('#btnSave').hide();
            $('.tooltipData').hide();
            

        });
        function LoadGroup() {
            var urlpath = '@Url.Action("LoadGroup", "ProductType")';

            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {
                    $('#ddlGroup').empty();
                    $('#ddlGroup').append("<option value='0'>--Select Group--</option>");


                    for (var i = 0; i < data.length; i++) {

                        $("#ddlGroup").append($("<option></option>").val(data[i].GroupId).html(data[i].GroupName));

                    }
                }
            });
        }

        function LoadCustomer(elementId) {
            var typeid = $('#ddlCustomerType').val();
            var urlpath = '@Url.Action("GetCustomer", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { typeid: typeid },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Customer --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].CustomerID).html(data[i].CustomerCode + ":" + data[i].CustomerName + ": " + data[i].CoustomerTypeName));
                    }
                }
            });
        }
        LoadWareH = () => {
            LoadWareHouse('ddlWareHouse', $("#ddlLocation").val(), 3);
        }
        NextDate = () => {
            debugger;
            var currentDate = $("#fromDate").val();
            var date = new Date(), y = currentDate.getFullYear(), m = currentDate.getMonth();
            var firstDay = new Date(y, m, 1);
            var lastDay = new Date(y, m + 1, 0);
            // var a = new Date(currentDate.getFullYear(), currentDate.getMonth() + 1, 0)
            //var a = Date.parse(currentDate).addDays(25).toString("dd-MMM-yyyy");
            //var f = a.toDateString("dd-MMM-yyyy");
            $("#toDate").val(lastDay);
        }

        function LoadReport() {
            if (RptValidation() == true) {
                var fromDate = $("#fromDate").val();
                var toDate = $("#toDate").val();


                var urlpath = '@Url.Action("GetTargetSetup", "TargetSetup")';

                $.ajax({
                    url: urlpath,
                    data: { fromDate: fromDate, toDate: toDate },
                    dataType: 'json',
                    type: "Get",
                    success: function (data) {

                        var json = $.parseJSON(data.JSONresult);

                        var json1 = $.parseJSON(data.JSONresult1);
                        var json2 = $.parseJSON(data.JSONresult2);


                        $('#hSummary').html('');
                        var tHeadRow = '';
                        tHeadRow += '<tr style="font-size: 12px;font-weight: 900;">';
                        tHeadRow += '<td rowspan="3" style="text-align: center; vertical-align: middle;min-width: 30px;">SL</td>';
                        tHeadRow += '<td rowspan="3" style="text-align: center; vertical-align: middle;min-width: 120px;">Category Name</td>';
                        var flockCount = 0;
                        for (var a = 0; a < json.length; a++) {

                            if (json[a].areacount > 1) {
                                var areacount = json[a].areacount * 2;
                                tHeadRow += '<td  style="text-align: center; vertical-align: middle;min-width: 80px;" colspan="' + areacount + '">' + json[a].SalesOfficerId + ' : ' + json[a].EmpName + '</td>';
                            }
                            else {
                                tHeadRow += '<td  style="text-align: center; vertical-align: middle;min-width: 80px;" colspan="2">' + json[a].SalesOfficerId + ' : ' + json[a].EmpName + '</td>';
                            }

                            flockCount++;
                        }

                        tHeadRow += '<td rowspan="3"  style="text-align: center; vertical-align: middle;min-width: 80px;">Total Target KG</td>';
                        tHeadRow += '<td rowspan="3"  style="text-align: center; vertical-align: middle;min-width: 80px;">Total Target Amount</td>';
                        flockCount++;
                        tHeadRow += '</tr>';



                        tHeadRow += '<tr style="font-size: 12px;font-weight: 900;" id="secondtd">';


                        for (var a = 0; a < json1.length; a++) {
                            tHeadRow += '<td  style="text-align: center; vertical-align: middle;min-width: 80px;" colspan="2">' + json1[a].AreaName + '</td>';
                            flockCount++;
                        }


                        tHeadRow += '</tr>';


                        tHeadRow += '<tr style="font-size: 12px;font-weight: 900;" id="thirdd">';


                        for (var a = 0; a < json1.length; a++) {
                            tHeadRow += '<td  style="text-align: center; vertical-align: middle;min-width: 80px;"> Target KG</td>';
                            tHeadRow += '<td  style="text-align: center; vertical-align: middle;min-width: 80px;"> Target Amount</td>';
                            flockCount++;
                        }


                        tHeadRow += '</tr>';


                        $('#hSummary').html(tHeadRow);



                        ////////////////////////////////////////////////////

                        debugger;

                        var row = '';
                        var count = 1;
                        for (var i = 0; i < json2.length; i++) {


                            //row += '<tr >';
                            row += "<tr id='trmain" + count + "'>";
                            row += '<td style="text-align:center;">' + count + '</td>';
                            row += "<td style='display: none;'><input type='text'  style='display: none;'  id='CategoryId_" + count + "' value = '" + json2[i].CategoryId + "'  /></td>";
                            row += "<td style='display: none;'><input type='text'  style='display: none;'  id='TypeId_" + count + "' value = '" + json2[i].TypeId + "'  /></td>";
                            //row += '<td style="text-align:center;">' + json2[i].CategoryId + '</td>';
                            row += '<td style="text-align:center;">' + json2[i].CategoryName + '</td>';

                            var counta = 1;
                            for (var a = 0; a < json1.length; a++) {
                                row += '<td class="hidea" style="text-align:center;display: none;">' + counta + '</td>';
                                row += "<td style='display: none;'><input type='text'  style='display: none;'  id='AreaId_" + counta + "_" + json2[i].CategoryId + "' value = '" + json1[a].AreaId + "'  /></td>";
                                row += "<td style='display: none;'><input type='text'  style='display: none;'  id='SalesOfficerId_" + counta + "_" + json2[i].CategoryId + "' value = '" + json1[a].SalesOfficerId + "'  /></td>";
                                //row += '<td  style="text-align: center; vertical-align: middle;min-width: 80px;"><input type="number" id="quantity" /></td>';
                                row += "<td style='text-align:center;width:2%'><input type='number' style='text-align:right;'  id='TargetQty_" + json2[i].CategoryId + "_" + json1[a].AreaId + "_" + json1[a].SalesOfficerId + "'  placeholder='Target KG' onkeyup='RowAmountCalculation(" + json2[i].CategoryId + "," + json1[a].AreaId + "," + json1[a].SalesOfficerId + "),RowTotalCalculation(" + json2[i].CategoryId + ")' onclick='RowAmountCalculation(" + json2[i].CategoryId + "," + json1[a].AreaId + "," + json1[a].SalesOfficerId + ")' /></td>";
                                //row += "<td style='text-align:center;width:2%'><input type='number' style='text-align:right;'  id='TargetQty_" + json2[i].CategoryId + "_" + json1[a].AreaId + "_" + json1[a].SalesOfficerId + "'  placeholder='Target KG' onkeyup='RowTotalCalculation(" + json2[i].CategoryId + ")'  onkeyup='RowAmountCalculation(" + json2[i].CategoryId + "," + json1[a].AreaId + "," + json1[a].SalesOfficerId + "),RowTotalCalculation(" + json2[i].CategoryId + ")' /></td>";
                                row += "<td style='text-align:center;width:2%'><input type='number' style='text-align:right;'  id='TargetAmount_" + json2[i].CategoryId + "_" + json1[a].AreaId + "_" + json1[a].SalesOfficerId + "'  placeholder='Target Amount' onkeyup='RowAmountCalculation(" + json2[i].CategoryId + "," + json1[a].AreaId + "," + json1[a].SalesOfficerId + "),RowTotalCalculation(" + json2[i].CategoryId + ")' onclick='RowAmountCalculation(" + json2[i].CategoryId + "," + json1[a].AreaId + "," + json1[a].SalesOfficerId + ")'/></td>";
                                counta++;
                            }

                            // row += '<td style="text-align:center;"><input type="number" id="quantity" /></td>';
                            row += "<td style='text-align:right;width:3%'><input type='number' style='text-align:right;'  id='TotalTargetQty_" + json2[i].CategoryId + "'  /></td>";
                            row += "<td style='text-align:right;width:3%'><input type='number' style='text-align:right;'  id='TotalTargetAmount_" + json2[i].CategoryId + "'  /></td>";

                            row += '</tr>';
                            count++
                        }


                        $("#summarybody").html(row);
                        ////var json = $.parseJSON(data);
                        //ReadTableData(json);
                        //CalculateAll();
                        /////////////////////////////////////////////
                        $('#btnSave').show();

                    },
                    complete: function () {

                        //normalizeTable();
                        $('#companyHeader').html("IG Foods Limited");
                        //$('#reportHeader').html("Product Movement ");
                        $('#productName').html('Group Name : ' + $("#ddlGroup option:selected").text());
                        //$('#Warehouse').html('Warehouse Name : ' + $("#ddlWareHouse option:selected").text());
                        $('#reportDate').html('Report Date: ' + $("#fromDate").val() + ' To ' + $("#toDate").val());
                        //$('#reportDate').html("Stock report of :" + $('#txtRequisitionDate').val() + " & " + $('#txtProductionDate').val());
                        //$('#SalesReportTable').rowspanizer({
                        //    vertical_align: 'middle',
                        //    columns: [1]
                        //});
                        //$('#reportDate').text('Report from: ' + array[0] + 'to :' + array[1]);
                    }
                });
            }
        }










        function exportExcel(e) {
            if ($('#SummaryTable tbody tr').length == 0) {
                swal("No Data to Export");
            } else {
                var file = new Blob([$('#salesReportDiv').html()], { type: "application/vnd.ms-excel" });
                var url = URL.createObjectURL(file);
                var a = $("<a />", {
                    href: url,
                    download: "CustomerwiseGroupProductReport.xls"

                }).appendTo("body").get(0).click();
            }
        }

        function RptValidation() {



            var isValid = true;
            var message = "Some Values Required";

            if (($('#fromDate').val() == 0 || $('#fromDate').val() == '')) {
                ValidationColorChangeNew('fromDate', 'divDelivaryDate', 'Please Select From Date', true);
                isValid = false;
            }

            if ($('#toDate').val() == 0 || $('#toDate').val() == '') {
                ValidationColorChangeNew('toDate', 'divToDate', 'Please Select To Date', true);
                isValid = false;
            }

            var fromDate = $("#fromDate").val();
            var toDate = $("#toDate").val();

            var response = ExitValidation(fromDate, toDate);
            debugger;
            if (response == true) {
                message = "Selected Month TargetSetup Completed";
                isValid = false;
                $('#fromDate').css('border-bottom', '2px solid red');
                $('#toDate').css('border-bottom', '2px solid red');
                $('#hSummary').html('');
                $('#summarybody').html("");
                //return;
            } else {
                $('#fromDate').css('border-bottom', '2px solid gray');
                $('#toDate').css('border-bottom', '2px solid gray');
            }

            if (isValid == false) {
                ShowMessage(message);

            }
            return isValid;
        }



        function Save() {

            if (SaveValidation() == true) {
                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveFinal();

                });
            }
        }
        function SaveFinal() {
            debugger;
            var jsonData = {};
            jsonData["TargetSetupMasterId"] = 0;
            jsonData["FromDate"] = $('#fromDate').val();
            jsonData["ToDate"] = $('#toDate').val();

            jsonData["Title"] = $('#txtTitle').val();
            jsonData["Remarks"] = $('#txtRemarks').val();
            jsonData["IsEdit"] = false;

            var count;

            var jsonObjs = [];

            var myTab = document.getElementById('summarybody');
            for (i = 0; i < myTab.rows.length; i++) {

                var objCells_C = myTab.rows.item(i).cells;

                count = objCells_C.item(0).innerHTML;
                //var category = $("#CategoryId_" + count).val();
                var category = isNaN(parseFloat($("#CategoryId_" + count).val())) ? 0 : parseFloat($("#CategoryId_" + count).val());

                //for (var j = 0; j < objCells_C.length; j++) {

                // var seccount;
                for (var k = 0; k < objCells_C.length; k++) {
                    var theObj = {};
                    //seccount = objCells_C.item(k).innerHTML;
                    //var area = $("#AreaId_" + seccount + "_" + category).val();
                    var area = isNaN(parseFloat($("#AreaId_" + k + "_" + category).val())) ? 0 : parseFloat($("#AreaId_" + k + "_" + category).val());
                    //var salesofficer = $("#SalesOfficerId_" + seccount + "_" + category).val();
                    var salesofficer = isNaN(parseFloat($("#SalesOfficerId_" + k + "_" + category).val())) ? 0 : parseFloat($("#SalesOfficerId_" + k + "_" + category).val());
                    //var target = $("#TargetQty_" + category + "_" + area + "_" + salesofficer).val();
                    var target = isNaN(parseFloat($("#TargetQty_" + category + "_" + area + "_" + salesofficer).val())) ? 0 : parseFloat($("#TargetQty_" + category + "_" + area + "_" + salesofficer).val());
                    var targetAmount = isNaN(parseFloat($("#TargetAmount_" + category + "_" + area + "_" + salesofficer).val())) ? 0 : parseFloat($("#TargetAmount_" + category + "_" + area + "_" + salesofficer).val());

                    if (category > 0 && area > 0 && salesofficer > 0) {
                        theObj["TargetSetupDetailsId"] = 0;
                        theObj["CategoryId"] = category;
                        theObj["SalesOfficeId"] = salesofficer;
                        theObj["AreaId"] = area;
                        theObj["TargetKG"] = target;
                        theObj["TargetAmount"] = targetAmount;
                        jsonObjs.push(theObj);
                    }


                    //}
                }
            }
            jsonData["TargetSetupDetails"] = jsonObjs;

            var urlpath = '@Url.Action("SaveTargetSetup", "TargetSetup")';
            $.ajax({
                contentType: "application/json",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "POST"
            })
                .success(function (result) {

                    if (result.pk > 0) {

                        swal({
                            title: " Saved Successfull",
                            text: '',
                            type: "success",
                            showCancelButton: false,
                            cancelButtonClass: 'btn-secondary waves-effect',
                            confirmButtonClass: 'btn-success waves-effect waves-light',
                            confirmButtonText: 'OK!',
                            closeOnConfirm: false
                        }, function () {
                            //LoadReportFinal(result.pk);



                            window.location.href = '@Url.Action("Index", "TargetSetup", new { fromdate = (DateTime?)null, todate =(DateTime?)null})';

                        });


                    }
                });


        }
        function SaveValidation() {
            //  debugger;

            var isValid = true;
            var message = "Some Values Required";

            var fromDate = $("#fromDate").val();
            var toDate = $("#toDate").val();


            var fromdatefromt = new Date(fromDate);
            var toDatefromt = new Date(toDate);

            var fromMonth = fromdatefromt.getMonth() + 1;
            var toMonth = toDatefromt.getMonth() + 1;

            if (fromMonth == toMonth) {
                $('#fromDate').css('border-bottom', '2px solid gray');
                $('#toDate').css('border-bottom', '2px solid gray');
            } else {
                message = "Selected Date Range Should be Same Month";
                isValid = false;
                $('#fromDate').css('border-bottom', '2px solid red');
                $('#toDate').css('border-bottom', '2px solid red');
            }


            var myTab = document.getElementById('summarybody');
            for (i = 0; i < myTab.rows.length; i++) {

                var objCells_C = myTab.rows.item(i).cells;

                count = objCells_C.item(0).innerHTML;
                var category = isNaN(parseFloat($("#CategoryId_" + count).val())) ? 0 : parseFloat($("#CategoryId_" + count).val());

                for (var k = 0; k < objCells_C.length; k++) {

                    var area = isNaN(parseFloat($("#AreaId_" + k + "_" + category).val())) ? 0 : parseFloat($("#AreaId_" + k + "_" + category).val());
                    var salesofficer = isNaN(parseFloat($("#SalesOfficerId_" + k + "_" + category).val())) ? 0 : parseFloat($("#SalesOfficerId_" + k + "_" + category).val());

                    //var customerTypeTargetSetupDetailsId = isNaN(parseFloat($("#CustomerTypeTargetSetupDetailsId_" + customerTypeId + "_" + typeId).val())) ? 0 : parseFloat($("#CustomerTypeTargetSetupDetailsId_" + customerTypeId + "_" + typeId).val());
                    var target = isNaN(parseFloat($("#TargetQty_" + category + "_" + area + "_" + salesofficer).val())) ? 0 : parseFloat($("#TargetQty_" + category + "_" + area + "_" + salesofficer).val());
                    var targetAmount = isNaN(parseFloat($("#TargetAmount_" + category + "_" + area + "_" + salesofficer).val())) ? 0 : parseFloat($("#TargetAmount_" + category + "_" + area + "_" + salesofficer).val());

                    if (target > 0 && targetAmount == 0) {
                        isValid = false;
                        message = "Please input Target Amount ";
                        $('#TargetQty_' + category + "_" + area + "_" + salesofficer).css('border-bottom', '2px solid red');
                        $('#TargetAmount_' + category + "_" + area + "_" + salesofficer).css('border-bottom', '2px solid red');
                        return;
                    }


                }
            }


            if (isValid == false) {
                ShowMessage(message);

            }
            return isValid;


        }

        function ExitValidation(fromDate, toDate) {
            var bool = true;
            $.ajax({
                url: '@Url.Action("TargetSetupExist", "TargetSetup")',
                type: 'POST',
                cache: false,
                traditional: true,
                async: false,
                data: { fromDate: fromDate, toDate: toDate },
                success: function (value) {

                    if (value > 0) {
                        bool = true;
                    }
                    else {
                        bool = false;
                    }
                }
            });
            return bool;
        }


        function RowTotalCalculation(categoryS) {
            var count;

            var jsonObjs = [];

            var myTab = document.getElementById('summarybody');
            for (i = 0; i < myTab.rows.length; i++) {

                var objCells_C = myTab.rows.item(i).cells;

                count = objCells_C.item(0).innerHTML;
                //var category = $("#CategoryId_" + count).val();
                var category = isNaN(parseFloat($("#CategoryId_" + count).val())) ? 0 : parseFloat($("#CategoryId_" + count).val());
                var RowTotalTargetQty = 0;
                var RowTotalTargetAmount = 0;
                //for (var j = 0; j < objCells_C.length; j++) {
                if (category == categoryS) {
                    for (var k = 0; k < objCells_C.length; k++) {
                        var theObj = {};
                        //seccount = objCells_C.item(k).innerHTML;
                        //var area = $("#AreaId_" + seccount + "_" + category).val();
                        var area = isNaN(parseFloat($("#AreaId_" + k + "_" + category).val())) ? 0 : parseFloat($("#AreaId_" + k + "_" + category).val());
                        //var salesofficer = $("#SalesOfficerId_" + seccount + "_" + category).val();
                        var salesofficer = isNaN(parseFloat($("#SalesOfficerId_" + k + "_" + category).val())) ? 0 : parseFloat($("#SalesOfficerId_" + k + "_" + category).val());
                        //var target = $("#TargetQty_" + category + "_" + area + "_" + salesofficer).val();


                        if (category > 0 && area > 0 && salesofficer > 0) {
                            var target = isNaN(parseFloat($("#TargetQty_" + category + "_" + area + "_" + salesofficer).val())) ? 0 : parseFloat($("#TargetQty_" + category + "_" + area + "_" + salesofficer).val());
                            RowTotalTargetQty += target
                            var targetAmount = isNaN(parseFloat($("#TargetAmount_" + category + "_" + area + "_" + salesofficer).val())) ? 0 : parseFloat($("#TargetAmount_" + category + "_" + area + "_" + salesofficer).val());
                            RowTotalTargetAmount += targetAmount
                        }


                    }
                    $("#TotalTargetQty_" + categoryS).val(RowTotalTargetQty.toFixed(2));
                    $("#TotalTargetAmount_" + categoryS).val(RowTotalTargetAmount.toFixed(2));
                }

            }
        }


        function RowAmountCalculation(categoryS, areaS, salesofficerS) {
            var count;
            var jsonObjs = [];

            var myTab = document.getElementById('summarybody');
            for (i = 0; i < myTab.rows.length; i++) {

                var objCells_C = myTab.rows.item(i).cells;

                count = objCells_C.item(0).innerHTML;
                //var category = $("#CategoryId_" + count).val();
                var category = isNaN(parseFloat($("#CategoryId_" + count).val())) ? 0 : parseFloat($("#CategoryId_" + count).val());
                var typeId = isNaN(parseFloat($("#TypeId_" + count).val())) ? 0 : parseFloat($("#TypeId_" + count).val());
                //var RowTotalTargetQty = 0;
                //var RowTotalTargetAmount = 0;
                //for (var j = 0; j < objCells_C.length; j++) {
                if (category == categoryS) {
                    for (var k = 0; k < objCells_C.length; k++) {
                        var theObj = {};
                        //seccount = objCells_C.item(k).innerHTML;
                        //var area = $("#AreaId_" + seccount + "_" + category).val();
                        var area = isNaN(parseFloat($("#AreaId_" + k + "_" + category).val())) ? 0 : parseFloat($("#AreaId_" + k + "_" + category).val());
                        //var salesofficer = $("#SalesOfficerId_" + seccount + "_" + category).val();
                        var salesofficer = isNaN(parseFloat($("#SalesOfficerId_" + k + "_" + category).val())) ? 0 : parseFloat($("#SalesOfficerId_" + k + "_" + category).val());
                        //var target = $("#TargetQty_" + category + "_" + area + "_" + salesofficer).val();


                        if (category == categoryS && area == areaS && salesofficer == salesofficerS) {
                            var target = isNaN(parseFloat($("#TargetQty_" + category + "_" + area + "_" + salesofficer).val())) ? 0 : parseFloat($("#TargetQty_" + category + "_" + area + "_" + salesofficer).val());
                            var targetAmount = isNaN(parseFloat($("#TargetAmount_" + category + "_" + area + "_" + salesofficer).val())) ? 0 : parseFloat($("#TargetAmount_" + category + "_" + area + "_" + salesofficer).val());
                            //var salesRate = CategorySalesRate(category);
                            //var targetAmount = target * salesRate;
                            debugger;
                            var TypeObj=  RowTypeCalculation(typeId, areaS, salesofficerS);
                            debugger;
                            var fromDate = $("#fromDate").val();
                            var toDate = $("#toDate").val();
                            var ActualTypeObj = AvailableTarget(fromDate, toDate, category, area, salesofficer);
                            debugger;

                            $('.tooltipData').show();
                            $('.tooltipData').css('border-bottom', '2px solid red');
                            $("#salesOfficer").html(ActualTypeObj.SalesOfficeId + ':' + ActualTypeObj.SalesOfficeName);
                            $("#area").html(ActualTypeObj.AreaName);
                            $("#overallTargetKG").html(ActualTypeObj.OverallTargetKG);
                            $("#availableTargetKG").html(ActualTypeObj.AvailableTargetKG);
                            $("#overallTargetAmount").html(ActualTypeObj.OverallTargetAmount);
                            $("#availableTargetAmount").html(ActualTypeObj.AvailableTargetAmount);


                            if (TypeObj.TypeRowTotalTargetQty > ActualTypeObj.AvailableTargetKG)
                            {
                                ShowMessage("Target KG Can't gater then Available Target KG");
                                //$('#TargetQty_' + category + "_" + area + "_" + salesofficer).css('border-bottom', '2px solid red');
                                //$('#TargetAmount_' + category + "_" + area + "_" + salesofficer).css('border-bottom', '2px solid red');
                                $("#TargetQty_" + category + "_" + area + "_" + salesofficer).val(0);
                                return;
                            }

                            if (TypeObj.TypeRowTotalTargetAmount > ActualTypeObj.AvailableTargetAmount) {
                                ShowMessage("Target Amount Can't gater then Available Target Amount");
                                //$('#TargetAmount_' + category + "_" + area + "_" + salesofficer).css('border-bottom', '2px solid red');
                                //$('#TargetAmount_' + category + "_" + area + "_" + salesofficer).css('border-bottom', '2px solid red');
                                $("#TargetAmount_" + category + "_" + area + "_" + salesofficer).val(0);
                                return;
                            }

                            //$("#TargetAmount_" + category + "_" + area + "_" + salesofficer).val(targetAmount.toFixed(2));

                        }


                    }
                }

            }
        }


        function RowTypeCalculation(typeS, areaS, salesofficerS) {
            var count;
           // var Objs = {};
            var RowTotalTargetQty = 0;
            var RowTotalTargetAmount = 0;

            var myTab = document.getElementById('summarybody');
            for (i = 0; i < myTab.rows.length; i++) {

                var objCells_C = myTab.rows.item(i).cells;

                count = objCells_C.item(0).innerHTML;
                //var category = $("#CategoryId_" + count).val();
                var category = isNaN(parseFloat($("#CategoryId_" + count).val())) ? 0 : parseFloat($("#CategoryId_" + count).val());
                var typeId = isNaN(parseFloat($("#TypeId_" + count).val())) ? 0 : parseFloat($("#TypeId_" + count).val());

                //for (var j = 0; j < objCells_C.length; j++) {
                if (typeS == typeId) {
                    for (var k = 0; k < objCells_C.length; k++) {
                        var theObj = {};
                        //seccount = objCells_C.item(k).innerHTML;
                        //var area = $("#AreaId_" + seccount + "_" + category).val();
                        var area = isNaN(parseFloat($("#AreaId_" + k + "_" + category).val())) ? 0 : parseFloat($("#AreaId_" + k + "_" + category).val());
                        //var salesofficer = $("#SalesOfficerId_" + seccount + "_" + category).val();
                        var salesofficer = isNaN(parseFloat($("#SalesOfficerId_" + k + "_" + category).val())) ? 0 : parseFloat($("#SalesOfficerId_" + k + "_" + category).val());
                        //var target = $("#TargetQty_" + category + "_" + area + "_" + salesofficer).val();


                        if (typeS == typeId && area == areaS && salesofficer == salesofficerS) {
                            var target = isNaN(parseFloat($("#TargetQty_" + category + "_" + area + "_" + salesofficer).val())) ? 0 : parseFloat($("#TargetQty_" + category + "_" + area + "_" + salesofficer).val());
                            var targetAmount = isNaN(parseFloat($("#TargetAmount_" + category + "_" + area + "_" + salesofficer).val())) ? 0 : parseFloat($("#TargetAmount_" + category + "_" + area + "_" + salesofficer).val());
                            //var salesRate = CategorySalesRate(category);
                            //var targetAmount = target * salesRate;
                            RowTotalTargetQty += target;
                            RowTotalTargetAmount += targetAmount;
                            //var fromDate = $("#fromDate").val();
                            //var toDate = $("#toDate").val();
                            //AvailableTarget(fromDate, toDate, category, area, salesofficer, target, targetAmount);
                            //$("#TargetAmount_" + category + "_" + area + "_" + salesofficer).val(targetAmount.toFixed(2));

                        }


                    }
                }

            }

            var obj = {
                TypeRowTotalTargetQty: RowTotalTargetQty,
                TypeRowTotalTargetAmount: RowTotalTargetAmount
            };
            // Return it
            return obj;


        }

        function CategorySalesRate(category) {
            var _salseRate = 0;
            $.ajax({
                url: '@Url.Action("CategorySalesRate", "TargetSetup")',
                type: 'POST',
                cache: false,
                traditional: true,
                async: false,
                data: { categoryId: category },
                success: function (salseRate) {

                    if (salseRate > 0) {
                        _salseRate = salseRate;
                    }
                }
            });
            return _salseRate;
        }


        function AvailableTarget(FromDate, ToDate, CategoryId, AreaId, SalesOfficerId) {
            var urlpath = '@Url.Action("GetAvailableTarget", "TargetSetup")';
            debugger;

            var SalesOfficeId = 0;
            var AreaName = '';
            var SalesOfficeName = '';
            var OverallTargetKG = 0;
            var AvailableTargetKG = 0;
            var OverallTargetAmount = 0;
            var AvailableTargetAmount = 0;

            $.ajax({
                url: urlpath,
                data: { FromDate: FromDate, ToDate: ToDate, CategoryId: CategoryId, AreaId: AreaId, SalesOfficerId: SalesOfficerId },
                dataType: 'json',
                type: "Get",
                async: false,
                success: function (data) {
                    //alert(JSON.stringify(data));
                    SalesOfficeId = data.SalesOfficeId;
                    AreaName = data.AreaName;
                    SalesOfficeName = data.SalesOfficeName;
                    OverallTargetKG = data.OverallTargetKG;
                    AvailableTargetKG = data.AvailableTargetKG;
                    OverallTargetAmount = data.OverallTargetAmount;
                    AvailableTargetAmount = data.AvailableTargetAmount;
               
                }
            });

           var obj = {
                SalesOfficeId: SalesOfficeId,
                AreaName: AreaName,
                SalesOfficeName: SalesOfficeName,
                OverallTargetKG: OverallTargetKG,
                AvailableTargetKG: AvailableTargetKG,
                OverallTargetAmount: OverallTargetAmount,
                AvailableTargetAmount:AvailableTargetAmount
            };
            return obj;

        }


        @*function AvailableTarget(FromDate, ToDate, CategoryId, AreaId, SalesOfficerId, target, targetAmount)
        {
            var urlpath = '@Url.Action("GetAvailableTarget", "TargetSetup")';

            $.ajax({
                url: urlpath,
                data: { FromDate: FromDate, ToDate: ToDate, CategoryId: CategoryId, AreaId: AreaId, SalesOfficerId: SalesOfficerId },
                dataType: 'json',
                type: "Get",
                success: function (data) {
                    //debugger;
                    $('.tooltipData').show();
                    if (target > 0)
                    {
                        $("#salesOfficer").html(data.SalesOfficeId);
                        $("#area").html(data.AreaName);
                        $("#overallTargetHead").html('Overall Target KG :');
                        $("#availableTargetHead").html('Available Target KG :');
                      
                        $("#overallTarget").html(data.OverallTargetKG);
                        $("#availableTarget").html(data.AvailableTargetKG);
                        if (target > data.AvailableTargetKG)
                        {
                            $("#TargetQty_" + CategoryId + "_" + AreaId + "_" + SalesOfficerId).val(data.AvailableTargetKG.toFixed(2));
                        }

                    }
                    if (targetAmount > 0) {
                        $("#salesOfficer").html(data.SalesOfficeId);
                        $("#area").html(data.AreaName);
                        $("#overallTargetHead").html('Overall Target Amount :');
                        $("#availableTargetHead").html('Available Target Amount :');
                        $("#overallTarget").html(data.OverallTargetAmount);
                        $("#availableTarget").html(data.AvailableTargetAmount);
                        if (targetAmount > data.AvailableTargetAmount) {
                            $("#TargetAmount_" + CategoryId + "_" + AreaId + "_" + SalesOfficerId).val(data.AvailableTargetAmount.toFixed(2));
                        }
                    }

                }
            });
        }*@


    </script>
}