﻿@model IGFoodProject.Models.FurtherProcessedCostPriceConfig

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FurtherProcessedCostPriceConfig</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.ProductNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.ProductNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CostPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FromDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FurtherProcessedCostPriceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
