﻿
@using CrystalDecisions.ReportAppServer.ReportDefModel
@model IEnumerable<IGFoodProject.Models.Accounts.VoucherMasterView>

@{
    ViewBag.Title = "Credit Voucher List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #manuallist {
        padding: 10px;
    }

    .form-control {
        height: calc(1.7rem + 2px);
    }
</style>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">

                        <div class="row">

                            <div class="col-md-6">
                                <h3>Credit/Receive Voucher Approval List</h3>
                            </div>
                            <div class="col-md-6 text-right ">
                                @*<a class="btn btn-outline-warning" href="@Url.Action("Create", "CreditVoucher", new {id = 0})">

                                    <span class="fa fa-plus"></span> Go To New Credit/Receive Voucher Entry

                                </a>*@
                            </div>

                        </div>



                    </div>
                    <div class="row">
                        <div class="card-body">
                            <div class="col-md-3">
                                <div class="form-group" id="divCompany">
                                    <label for="ddlCompany">Company</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlCompany" onchange="LoadBusinessUnit()"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divBusinessUnit">
                                    <label for="ddlBusinessUnit">Business Unit</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlBusinessUnit"></select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" id="divFromDate">
                                    <label for="txtFromDate">From  Date</label>
                                    <input type="text" id="txtFromDate" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" id="divToDate">
                                    <label for="txtToDate">To Date</label>
                                    <input type="text" id="txtToDate" class="form-control"/>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" id="divStatusType">
                                    <label for="">Status Type</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlStatusType">
                                        <option value="100">Pending</option>
                                        <option value="1">Approved</option>
                                        <option value="2">Review</option>
                                        <option value="0"> Reject </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <button style="margin-left: 27px;" class="btn btn-primary" onclick="ShowReport()">Search Voucher</button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body">
                                <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Financial Year</th>
                                            <th>Company</th>
                                            <th>BU</th>
                                            <th>Voucher Code</th>
                                            <th colspan="2" class="text-center">Voucher Date</th>
                                            <th>Voucher Type</th>
                                            <th style="text-align: left">Party</th>
                                            <th>Currency</th>
                                            <th>Total Amount</th>
                                            @*<th>Total Amount BDT</th>*@
                                            <th>Cheque No</th>
                                            <th>Cheque Date</th>
                                            <th>Ref No</th>
                                            <th>Ref Date</th>
                                            <th>Bank</th>
                                            <th>Branch</th>
                                            <th>Status</th>
                                            <th>Review Reason</th>
                                            <th colspan="2">Action</th>

                                        </tr>
                                    </thead>
                                    <tbody id="manuallist">
                                        @{ int count = 1;}
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@count</td>
                                                <td>@item.FinancialYear</td>
                                                <td>@item.Company</td>
                                                <td>@item.BusinessUnit</td>
                                                <td>@item.VoucherCode</td>
                                                <td>@Convert.ToDateTime(item.VoucherDate).ToString("dd-MMM-yyyy")</td>
                                                <td>@item.EntryDate.ToString("h:mm:ss tt")</td>
                                                <td>@item.VoucherType</td>
                                                <td style="text-align: left">@item.CustomerName</td>
                                                <td>@item.Currency</td>
                                               
                                                <td>@item.TotalAmount.ToString("##,###,0.00")</td>
                                                @*<td>@item.TotalAmountBDT.ToString("##,###,0.00")</td>*@
                                                <td>@item.ChequeNo</td>
                                                <td>
                                                    @if (item.ChequeDate != null)
                                                    {
                                                        @Convert.ToDateTime(item.ChequeDate).ToString("dd-MMM-yyyy")
                                                    }
                                                </td>
                                                <td>@item.RefNo</td>
                                                <td>
                                                    @if (item.RefDate != null)
                                                    {
                                                        @Convert.ToDateTime(item.RefDate).ToString("dd-MMM-yyyy")
                                                    }

                                                </td>
                                                <td>@item.Bank</td>
                                                <td>@item.Branch</td>
                                              



                                                @if (item.IsApprove == 100)
                                                {
                                                    <td style="color: orange">Pending</td>
                                                    <td>@item.ReviewReasion</td>
                                                    <td style='text-align:center'><a class='btn btn-sm btn-warning' onclick='GoToDo(@item.VoucherMasterId)'>Approve</a></td>;
                                                }
                                                @if (item.IsApprove == 2)
                                                {
                                                    <td style="color: orange">Review</td>
                                                    <td>@item.ReviewReasion</td>
                                                    <td></td>
                                                   // <td style='text-align:center'><a class='btn btn-sm btn-warning' onclick='GoToDo(@item.VoucherMasterId)'>Approve</a></td>;
                                                }

                                                @if (item.IsApprove == 1)
                                                {
                                                    <td style="color: green">Approve</td>
                                                    <td>@item.ReviewReasion</td>
                                                    <td></td>
                                                }
                                                @if (item.IsApprove == 0)
                                                {
                                                    <td style="color: red">Reject</td>
                                                    <td>@item.ReviewReasion</td>
                                                    <td></td>
                                                   }
                                            </tr>
                                            count++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <input id="fdate" type="datetime" style="display: none;" value="@ViewBag.fromdate">
                        <input id="tdate" type="datetime" style="display: none;" value="@ViewBag.todate">

                    </div>


                </div>

            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->

</section>

<div class="modal fadeInUp" id="viewModal" role="dialog">
    <div class="modal-dialog modal-lg" style="max-width: 100% !important">
        <div class="modal-content">
            <div class="modal-header">

            </div>
            <div class="modal-body" id="containerDetails">

            </div>
            <div class="modal-footer">
                <input type="text" style="display:none;" id="eid" />
                <button type="button" class="btn btn-danger" id="clsButton" data-dismiss="modal">Close</button><button type="button" class="btn btn-primary" id="clsEdit" onclick="GoToDo($('#eid').val())">Edit</button>
            </div>
        </div>
    </div>
</div>



@section Scripts
{
    <script type="text/javascript">


        $(document).ready(function () {
           // LoadDate_P('#txtFromDate');
           // LoadDate_C('#txtToDate');

         $("#txtFromDate").datepicker({ format: "dd-M-yyyy", autoclose: true, 'forceParse': 0});
            $("#txtFromDate").datepicker('setDate', new Date());
            $("#txtToDate").datepicker({ format: "dd-M-yyyy", autoclose: true, 'startDate': new Date(), 'setDate': new Date(), 'forceParse': 0});
            $("#txtToDate").datepicker('setDate', new Date());

          var fromdate=  new Date('@ViewBag.fromdate').toLocaleDateString('en-US');
          var todate=  new Date('@ViewBag.todate').toLocaleDateString('en-US');
           // $("#txtFromDate").val(fromdate);
           // $("#txtToDate").val(todate);

            var fdate = $('#fdate').val();
            if (fdate != null && fdate != '') {
                var d = new Date(fdate);
                var monthNames = d.getMonth() + 1; // 10 (PS: +1 since Month is 0-based)
                var dayData = d.getDate(); // 30
                var yy = d.getFullYear();
                var rDate = dayData + "-" + monthNames + "-" + yy;
                $('#txtFromDate').datepicker('setDate', rDate);
            }

            var tdate = $('#tdate').val();
            if (tdate != null && tdate != '') {
                var d2 = new Date(tdate);
                var monthNames2 = d2.getMonth() + 1; // 10 (PS: +1 since Month is 0-based)
                var dayData2 = d2.getDate(); // 30
                var yy2 = d2.getFullYear();
                var rDate2 = dayData2 + "-" + monthNames2 + "-" + yy2;
                $('#txtToDate').datepicker('setDate', rDate2);
            }

            @*$('#txtFromDate').val(@fdate);
            $('#txtToDate').val(@tdate);*@

            //var fdate= $('#fdate').val();
            //if (fdate != null && fdate != '') {
            //    var f = ToJavaScriptDate(fdate);
            //    $('#txtFromDate').val(f);
            //}
            //var tdate = $('#tdate').val();
            //if (tdate != null && tdate != '') {
            //    var t = ToJavaScriptDate(tdate);
            //    $('#txtToDate').val(t);
            //}

            @*$('#txtToDate').val(@tdate);*@
            @*if (@fdate != null) {
                $('#txtFromDate').val(ToJavaScriptDate(@fdate));
            }
            if (@tdate != null) {
                $('#txtToDate').val(ToJavaScriptDate(@tdate));
            }*@

            LoadCompany('ddlCompany');
            $("#ddlCompany").val("7");
            LoadBusinessUnit();
            $("#ddlBusinessUnit").val("1");
        });

        function LoadBusinessUnit() {
            var companyId = $("#ddlCompany").val();
            $.ajax({
                url: "/Utility/LoadBusinessUnit",
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",
                data: { companyId: companyId },
                async: false,
                success: function (data) {

                    $('#ddlBusinessUnit').empty();
                    $('#ddlBusinessUnit').append("<option value='0'>--Select Business Unit--</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#ddlBusinessUnit').append($("<option></option>").val(data[i].BUId).html(data[i].Name));
                    }
                }
            });
        }


        function ShowReport() {
            debugger;
            var fromdate;
            var todate;
            var companyId = '0';
            var buId = '0';
          var statusType = $('#ddlStatusType').val();

            if ($('#txtFromDate').val() == "") {
                swal("Please input from order date");
                return;
            }
            else {
                fromdate = $('#txtFromDate').val();
            }
            if ($('#txtToDate').val() == "") {
                swal("Please input to order date");
                return;
            }
            else {
                todate = $('#txtToDate').val();
            }

            if ($('#ddlCompany').val() == "0") {
                companyId = '0';
            }
            else {
                companyId = $('#ddlCompany').val();
            }
            if ($('#ddlBusinessUnit').val() == "0") {
                buId = '0';
            }
            else {
                buId = $('#ddlBusinessUnit').val();
            }

            var urlpath = '@Url.Action("CreditVoucherApprovalListData", "CreditVoucher")';
            $.ajax({
                url: urlpath,
                dataType: 'html',
                type: "Get",
                data: { fromdate: fromdate, todate: todate, CompanyId: companyId, BUId: buId, statusType: statusType },
                async: false,
                success: function (data) {

                    data = JSON.parse(data);
                    $("#manuallist").html("");
                    if (data.length > 0) {



                        var row = "";
                        var count = 1;
                        $("#manuallist").html("");

                        var count=1;
                        for (var i = 0; i < data.length; i++) {



                            row += "<tr>";
                            row += "<td style='text-align:center'>" + count + "</td>";
                            row += "<td style='text-align:center'>" + data[i].FinancialYear + "</td>";
                            row += "<td style='text-align:center'>" + data[i].Company + "</td>";
                            row += "<td style='text-align:center'>" + data[i].BusinessUnit + "</td>";
                            row += "<td style='text-align:center'>" + data[i].VoucherCode + "</td>";
                            //row += "<td style='text-align:center'>" + data[i].VoucherDate + "</td>";

                            row += "<td style='text-align:center'>" + ToJavaScriptDate(data[i].VoucherDate) + "</td>";
                            row += "<td style='text-align:center'>" + moment((data[i].EntryDate)).format('LTS') + "</td>";
                            row += "<td style='text-align:center'>" + data[i].VoucherType + "</td>";
                            row += "<td style='text-align:left'>" + data[i].CustomerName + "</td>";
                            row += "<td style='text-align:center'>" + data[i].Currency + "</td>";
                            row += "<td style='text-align:right'>" + data[i].TotalAmountBDT + "</td>";
                            row += "<td style='text-align:right'>" + data[i].ChequeNo + "</td>";
                            if (data[i].ChequeDate == null) {
                                row += "<td style='text-align:center'></td>";
                            } else {
                                row += "<td style='text-align:center'>" + ToJavaScriptDate(data[i].ChequeDate) + "</td>";
                            }


                            row += "<td style='text-align:right'>" + data[i].RefNo + "</td>";
                            if (data[i].RefDate == null) {
                                row += "<td style='text-align:center'></td>";
                            } else {
                                row += "<td style='text-align:center'>" + ToJavaScriptDate(data[i].RefDate) + "</td>";
                            }

                            row += "<td style='text-align:right'>" + data[i].Bank + "</td>";
                            row += "<td style='text-align:right'>" + data[i].Branch + "</td>";



                            if (data[i].IsApprove == 100) {
                                row += "<td style='text-align:center;color: orange'>Pending</td>";
                                row += "<td style='text-align:center;'>" + data[i].ReviewReasion + "</td>";
                                row += "<td style='text-align:center'><a class='btn btn-sm btn-warning' type='button' onclick='GoToDo(" + data[i].VoucherMasterId + ")'>Approve</a></td>";
                            }
                             if (data[i].IsApprove == 2) {
                                row += "<td style='text-align:center;color: Orange'>Review</td>";
                                 row += "<td style='text-align:center;'>" + data[i].ReviewReasion + "</td>";
                                row += "<td style='text-align:center;'></td>";
                                //row += "<td style='text-align:center'><a class='btn btn-sm btn-warning' type='button' onclick='GoToDo(" + data[i].VoucherMasterId + ")'>Approve</a></td>";
                            }

                            if (data[i].IsApprove == 1)
                            {
                                row += "<td style='text-align:center;color: green'>Approved</td>";
                                 row += "<td style='text-align:center;'>" + data[i].ReviewReasion + "</td>";
                                row += "<td style='text-align:center'></td>";
                            }
                        if (data[i].IsApprove == 0)
                            {
                                row += "<td style='text-align:center;color: red'>Reject</td>";
                                row += "<td style='text-align:center;'>" + data[i].ReviewReasion + "</td>";
                                row += "<td style='text-align:center'></td>";
                            }

                            row += "</tr>";
                            count = count + 1;

                        }
                        $("#manuallist").html(row);
                    }
                }
            });
        }

        var app = "ap";
        function GoToDo(soId) {
           // window.location = "@Url.Action("Create", "CreditVoucher")" + "?VoucherId=" + soId + "&eflag=" + app;
         var fdate = $('#txtFromDate').val();
         var tdate = $('#txtToDate').val();
            window.location = "@Url.Action("Create", "CreditVoucher")" + "?VoucherId=" + soId + "&eflag=" + app + "&fromdate=" + fdate + "&todate=" + tdate;
        }






        function ShowData(id) {
            $('#viewModal').modal();



            $("#eid").val(id);
            LoadCompany('ddlCompany');
            //LoadCustomer('ddlCustomer');
            LoadCustomerType('ddlCustomerType');

        }


        function LoadReportFinal(id) {
            var urlpath = '@Url.Action("VoucherPrintReports", "Report")';


            var reportValue = "VoucherPrint";

            var voucherMasterId = id;

            //  alert( id);

            var jsonData = {};


            jsonData["ReportValue"] = reportValue;
            jsonData["VoucherMasterId"] = voucherMasterId;



            debugger;
            $.ajax({
                url: urlpath,
                data: jsonData,
                dataType: 'json',
                type: "Get",
                success: function (data) {
                    if (data.isSuccess) {



                        //OpenPopUp('BasicReportViewer.aspx');
                        window.open("../CrystalViewer/CrystalViewer.aspx", "_blank", "WIDTH=1024,HEIGHT=768,scrollbars=no, menubar=no,resizable=yes,directories=no,location=no");
                    }
                }
            });
        }
    </script>



    <script>

    

        function GetEmployeeName(empId) {
            var EmpName = "";
            var urlpath = '@Url.Action("GetEmployeeName", "Utility")';
            $.ajax({
                url: urlpath,
                data:{empId:empId},
                dataType: 'json',
                type: "Get",

                async: false,
                success: function (data) {
                    EmpName = data;

                }
            });
            return EmpName;
        }
     

    
  
    </script>
}
