﻿
@{
    ViewBag.Title = "Approve Sales Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">

                        @*<div class="row">
                            <div class="col-md-3">
                                <h4>Generate Challan</h4>
                            </div>
                            <div class="col-md-4">
                                <h3 id="salesOrderNo"></h3>
                            </div>
                        </div>*@



                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                   <div class="disableForm">
                       <div class="row">

                           <div class="col-md-3">
                               <div class="card-body">
                                   <div class="form-group" id="divCompany">
                                       <label for="ddlCompany">Company</label>
                                       <select class="form-control" style="width: 100%;" id="ddlCompany"></select>
                                   </div>
                               </div>
                           </div>
                           <div class="col-md-3">
                               <div class="card-body">
                                   <div class="form-group" id="divCustomerType">
                                       <label for="ddlCustomerType">Customer Type</label>
                                       <select class="form-control select2" style="width: 100%;" id="ddlCustomerType" onchange="LoadCustomer('ddlCustomer')"></select>
                                   </div>
                               </div>
                           </div>
                           <div class="col-md-3">
                               <div class="card-body">
                                   <div class="form-group" id="divCustomer">
                                       <label for="ddlCustomer">Customer</label>
                                       <select class="form-control" style="width: 100%;" id="ddlCustomer" onchange="GetCustomerDetails()"></select>
                                   </div>
                               </div>
                           </div>
                           <div class="col-md-3">
                               <div class="card-body">
                                   <div class="form-group" id="divOrderDate">
                                       <label for="txtOrderDate">Order Date</label>
                                       <input type="text" id="txtOrderDate" class="form-control" />
                                   </div>
                               </div>
                           </div>
                           <div class="col-md-3">
                               <div class="card-body">
                                   <div class="form-group" id="divDeliveryDate">
                                       <label for="txtDeliveryDate">Delivery Date</label>
                                       <input type="text" id="txtDeliveryDate" class="form-control" />
                                   </div>
                               </div>
                           </div>



                       </div>
                       <div class="row">
                           <div class="col-md-3">
                               <div class="card-body">
                                   <div id="customerDetails"></div>
                               </div>

                           </div>
                           <div class="col-md-1">
                               <div class="card-body">
                                   <input type="checkbox" class="form-check-input" id="chkEmployee" style="margin-left: 3px; margin-top: 20px;" />
                                   <label class="form-check-label" for="chkEmployee" style="margin-left: 24px;margin-top: 17px;">Is Employee</label>
                               </div>
                           </div>
                           <div class="col-md-3">
                               <div class="card-body">
                                   <div class="form-group" id="divSalesPerson">
                                       <label for="txtSalesPerson">Sales Person</label>
                                       <input type="text" id="txtSalesPerson" class="form-control" onchange="GetSalesPersonPhone()" />
                                       <input type="number" style="display: none" id="employeeSelect" class="form-control" />

                                   </div>
                               </div>

                           </div>
                           <div class="col-md-3">
                               <div class="card-body">
                                   <div class="form-group" id="dovSalesPersonNo">
                                       <label for="txtSalesPersonNo">Sales Person Contact</label>
                                       <input type="text" id="txtSalesPersonNo" class="form-control" />


                                   </div>
                               </div>
                           </div>
                           <div class="col-md-3">
                               <div class="card-body">
                                   <div class="form-group" id="divDestination">
                                       <label for="txtDestination">Destination</label>
                                       <input type="text" id="txtDestination" class="form-control" />


                                   </div>
                               </div>

                           </div>




                       </div>
                   </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divLocation">
                                    <label for="ddlLocation">Location</label>
                                    <select class="form-control select2" id="ddlLocation" style="width: 100%;" onchange="LoadWHByLocation('ddlWareHouse')"></select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divWareHouse">
                                    <label for="ddlWareHouse">Warehouse</label>
                                    <select id="ddlWareHouse" class="form-control select2" onchange="LoadProductDetails()"></select>


                                </div>
                            </div>

                        </div>
                        <div class="col-md-2">
                            <div class="">
                                <div class="form-group" id="divChallanDate">
                                    <label for="challanDate">Challand Date</label>
                                    <input id="challanDate" class="form-control" type="text" value="@Convert.ToDateTime(DateTime.Now).ToString("dd MMM yyyy")" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">


                        </div>
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divRemarks">
                                    <label for="txtRemarks">Remarks</label>
                                    <input type="text" class="form-control" id="txtRemarks" />

                                </div>
                            </div>

                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body">
                                <button class="btn btn-info float-right" onclick="AddSoRow()"> Add New </button>
                                <table class="table table-bordered table-striped" id="salesOrder">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Check</th>
                                        <th width="350">Product</th>
                                        <th>Stock Qty</th>
                                        <th class="priceHide">Stock Rate</th>
                                        <th class="priceHide">Sale Rate</th>
                                        <th>Sale Qty</th>
                                        <th class="issue">Issue Qty</th>
                                        <th class="issue">Prev. Issue Qty</th>
                                        <th class="priceHide">Discount %</th>
                                        <th class="priceHide">Discount Rate</th>
                                        <th class="priceHide">Price</th>
                                        <th class="priceHide">Tax</th>
                                        <th class="priceHide">Total Price</th>
                                        <th>Remove</th>
                                    </tr>
                                    </thead>

                                    <tbody></tbody>
                                    <tfoot>
                                        <tr id="totalChallanRow">
                                            <td></td>
                                            <td colspan="4">Total</td>
                                            <td> <label id="totalChallanQty">0</label> </td>
                                            <td colspan="1"></td>

                                            <td>  </td>
                                        </tr>
                                    <tr>
                                        <td class="priceHide"></td>
                                        <td colspan="10" class="priceHide"></td>
                                        <td class="priceHide">
                                            <button class="btn btn-success" id="salesUpdate" onclick="SaveSalesOrder()">Update </button>
                                        </td>
                                        <td class="priceHide"></td>
                                        @*<td class="priceHide"></td>*@

                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">

                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <div class="row">

                                    <div class="form-group" id="divPaymentType">
                                        <label for="ddlPamentType">Payment Type</label>
                                        <select id="ddlPamentType" class="form-control"></select>


                                    </div>

                                </div>
                                <div class="row">
                                    <label>Order Total Qty:</label>
                                    <label id="totalKg">0</label>
                                </div>
                                <div class="row">
                                    <Div class="col-md-6">
                                        <label>TAX & VAT:</label>
                                        <label id="taxVat">5</label>
                                        <label> %</label>
                                    </Div>
                                    <div class="col-md-6">
                                        <h5 >Challan Amount:</h5><h5 id="challanAmt">0.00</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <label>Total Taka Including TAX & VAT:</label>
                                    <label id="totalIncTacVat">0</label>
                                </div>
                                <div class="row">
                                    <label>Total Taka Excludeing TAX & VAT:</label>
                                    <label id="totalExTaxVat">0</label>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div>

                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button class="btn btn-primary" id="saveBtn" onclick="GenerateChallan()">Generate Challan</button>
                            <button class="btn btn-outline-danger  float-right" onclick="location.reload()">Cancel</button>
                           
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
    <input id="mSalesOrderId" type="number" style="display: none;" value="@ViewBag.SalesOrder">
</section>

@section Scripts
{





    <script>
        var PrlductList = {};
        var DeleteProduct = [];
        $(document).ready(function () {
            $('#salesUpdate').hide();
            LoadCompany('ddlCompany');

            LoadCustomerType('ddlCustomerType');
            GetOrderMaster();
            LoadLocation('ddlLocation', 7);
            GetProducts();
            $('.disableForm :input').attr('disabled', true);
            LoadDate('#challanDate');

        });
        function AddSoRow() {

            AddRow();
            $('.priceHide').show();
            $('.issue').hide();
            $('#salesUpdate').show();
            $('#saveBtn').hide();
        }
        IssueQtyCheck = (sl) => {
            if (parseInt($('#saleQty_' + sl).val()) < parseInt($('#issueQty_' + sl).val())) {
                $('#issueQty_' + sl).val("");
            }
            CalculateChallan();
        }
        function RemoveRow(id) {
            swal({
                title: "Are you sure?",
                text: "Remove Challan Item !!!",
                type: "error",
                showCancelButton: true,
                cancelButtonClass: 'btn-secondary waves-effect',
                confirmButtonClass: 'btn-success waves-effect waves-light',
                confirmButtonText: 'Yes!',
                closeOnConfirm: false

            }, function () {
                $('.confirm').prop("disabled", true);
                $('.cancel').prop("disabled", true);
                RemoveChallanRow(id);

            });
        }
        function RemoveChallanRow(id) {
            swal.close();
            $('.priceHide').show();
            $('.issue').hide();
            $('#salesUpdate').show();
            $('#saveBtn').hide();

             
            var trLength = $('#salesOrder tbody tr').length;
            if (trLength > 1) {

                var detailsId = $('#detailsId_' + id).val();
                if (detailsId > 0) {
                    var productId = isNaN(parseFloat($('#pro_' + id).val())) ? 0 : parseFloat($('#pro_' + id).val());
                    var saleQty = isNaN(parseFloat($('#saleQty_' + id).val())) ? 0 : parseFloat($('#saleQty_' + id).val());
                    var stockRate = isNaN(parseFloat($('#stRate_' + id).val())) ? 0 : parseFloat($('#stRate_' + id).val());
                    var saleRate = isNaN(parseFloat($('#saleRate_' + id).val())) ? 0 : parseFloat($('#saleRate_' + id).val());

                    //var saleKg = isNaN(parseFloat($('#saleKG_' + id).val())) ? 0 : parseFloat($('#saleKG_' + id).val());

                    var disPer = isNaN(parseFloat($('#disPer_' + id).val())) ? 0 : parseFloat($('#disPer_' + id).val());
                    var disAmt = isNaN(parseFloat($('#disNum_' + id).val())) ? 0 : parseFloat($('#disNum_' + id).val());
                    var total = isNaN(parseFloat($('#totalG_' + id).val())) ? 0 : parseFloat($('#totalG_' + id).val());
                    var delObj = {};
                    delObj["ProductId"] = productId;
                    delObj["SalesOrderProcessDetailsId"] = detailsId;
                    delObj["ProductQty"] = saleQty;
                    delObj["StockRate"] = stockRate;
                    delObj["SaleRate"] = saleRate;
                    //delObj["ProductKg"] = saleKg;
                    delObj["DiscountAmount"] = disAmt;
                    delObj["DiscountPercent"] = disPer;
                    delObj["TotalPrice"] = total;
                    delObj["IsDelete"] = true;
                    delObj["OperationIdDelete"] = 3;





                    DeleteProduct.push(delObj);

                }
                $('#tr_' + id).remove();
                // var aProd = new object();
                SerialTable();
                CalculateAll();
                swal.close();
            } else {

                return;
            }


        }
        function SerialTable() {
            $('#salesOrder tbody tr').each(function (index, element) {

                var idr = $(this).attr('id');
                var id = idr.substring(3);
                $('#tdc_' + id).html(index + 1);


            });
        }
        function SaveSalesOrder() {

            if (ValidateSalesOrder() == true) {
                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveSalesOrderInChallan();

                });
            }



        }

        function ValidateSalesOrder() {



            var isValid = true;
            var message = "Some Values Required";
            if ($('#ddlCompany').val() == 0 || $('#ddlCompany').val() == '') {
                ValidationColorChangeNew("ddlCompany", "divCompany", "Company Required", true);
                isValid = false;
            }
            if ($('#ddlCustomerType').val() == 0 || $('#ddlCustomerType').val() == '') {
                ValidationColorChangeNew("ddlCustomerType", "divCustomerType", "Customer Type Required", true);
                isValid = false;
            }
            if ($('#ddlCustomer').val() == 0 || $('#ddlCustomer').val() == '') {
                ValidationColorChangeNew("ddlCustomer", "divCustomer", "Customer Required", true);
                isValid = false;
            } if ($('#txtOrderDate').val() == '' || $('#ddlCustomer').val() == null) {
                ValidationColorChangeNew("txtOrderDate", "divOrderDate", "Order Date Required", false);
                isValid = false;
            } if ($('#txtDeliveryDate').val() == '' || $('#txtDeliveryDate').val() == null) {
                ValidationColorChangeNew("txtDeliveryDate", "divDeliveryDate", "Delivery Date Required", false);
                isValid = false;
            }
            if ($('#txtDestination').val() == '' || $('#txtDestination').val() == null) {
                ValidationColorChangeNew("txtDestination", "divDestination", "Delivery Place Required", false);
                isValid = false;
            }

            if ($('#txtSalesPersonNo').val() == '' || $('#txtSalesPersonNo').val() == null) {
                ValidationColorChangeNew("txtSalesPersonNo", "dovSalesPersonNo", "Contact No Required", false);
                isValid = false;
            }


            var chk = $("#chkEmployee").prop("checked");
            if (chk == true) {
                if ($('#txtSalesPerson').val() == '' || $('#txtSalesPerson').val() == null || $('#employeeSelect').val() == 0) {
                    ValidationColorChangeNew("txtSalesPerson", "divSalesPerson", "Sales Person Required", false);
                    isValid = false;
                }
            }
            else {
                if ($('#txtSalesPerson').val() == '' || $('#txtSalesPerson').val() == null) {
                    ValidationColorChangeNew("txtSalesPerson", "divSalesPerson", "Sales Person Required", false);
                    isValid = false;
                }
            }



            if ($('#ddlPamentType').val() == '' || $('#ddlPamentType').val() == null || $('#ddlPamentType').val() == 0) {
                ValidationColorChangeNew("ddlPamentType", "divPaymentType", "Payment Type Required", true);
                isValid = false;
            }


            if ($('#salesOrder tbody tr').length == 0 || $('#salesOrder tbody tr').length == '') {
                isValid = false;
                message = "Products Required";
            }



            $('#salesOrder tbody tr').each(function () {


                var idr = $(this).attr('id');
                var id = idr.substring(3);
                var saleQty = isNaN(parseFloat($('#saleQty_' + id).val())) ? 0 : parseFloat($('#saleQty_' + id).val());
                var detailsId = isNaN(parseInt($('#detailsId_' + id).val())) ? 0 : parseInt($('#detailsId_' + id).val());
                var salePrice = isNaN(parseFloat($('#saleRate_' + id).val())) ? 0 : parseFloat($('#saleRate_' + id).val());
                //var saleKg = isNaN(parseFloat($('#saleKG_' + id).val())) ? 0 : parseFloat($('#saleKG_' + id).val());
                var total = isNaN(parseFloat($('#totalG_' + id).val())) ? 0 : parseFloat($('#totalG_' + id).val());
                if (detailsId == 0) {
                    if (salePrice === 0) {
                        isValid = false;
                        message = "Sale Price Cannot be 0 ";
                        return;
                    }
                    if (saleQty === 0) {
                        isValid = false;
                        message = "Sale Qty Cannot be 0 ";
                        return;
                    }
                    //if (saleKg === 0) {
                    //    isValid = false;
                    //    message = "Sale KG Cannot be 0 ";
                    //    return;
                    //}

                    if (total === 0) {
                        isValid = false;
                        message = "Total Price Cannot be 0 ";
                        return;
                    }
                }
            });
            if (isValid == false) {
                ShowMessage(message);

            }
            return isValid;

        }
        function GetEmpNoFromId(data) {

            var a = data;
            var empId = data.substring(0, 5);

            var urlpath = '@Url.Action("GetEmpNo", "Utility")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { empId: empId },
                async: false,
                success: function (data) {
                    $('#employeeSelect').val(data);
                }
            });

        }
        function SaveSalesOrderInChallan() {
             
            var asd = DeleteProduct;
            var jsonData = {};
            jsonData["CompanyId"] = $('#ddlCompany').val();
            jsonData["CustomerId"] = $('#ddlCustomer').val();
            jsonData["SalesOrderProcessedMasterId"] = $('#mSalesOrderId').val();
            jsonData["OrderType"] = 1;
            jsonData["SalesPerson"] = $('#txtSalesPerson').val();
            jsonData["SalesPersonContact"] = $('#txtSalesPersonNo').val();
            jsonData["OrderDate"] = $('#txtOrderDate').val();
            jsonData["DeliveryDate"] = $('#txtDeliveryDate').val();
            jsonData["DeliveryDestination"] = $('#txtDestination').val();
            jsonData["GroupId"] = 6;
            jsonData["PaymentType"] = $('#ddlPamentType').val();

            jsonData["CompanyId"] = $('#ddlCompany').val();
            jsonData["TotatalOrderAmtKg"] = parseFloat($('#totalKg').html());
            jsonData["TotalIncTaxVat"] = parseFloat($('#totalIncTacVat').html());
            jsonData["TotalExTaxVat"] = parseFloat($('#totalExTaxVat').html());
            jsonData["TaxVat"] = parseFloat($('#taxVat').html());
            jsonData["Remarks"] = $('#txtRemarks').val();
            jsonData["CollectionType"] = $('#ddlCollection').val();
            jsonData["CollectionAmount"] = $('#txtCollection').val();
            jsonData["IsEmployee"] = $("#chkEmployee").prop("checked");
            jsonData["CustomerTypeId"] = $('#ddlCustomerType').val();
            jsonData["RefNo"] = $('#txtRefNo').val();
            jsonData["RefDate"] = $('#txtRefDate').val();
            var jsonObjs = [];
            $('#salesOrder tbody tr').each(function () {

                var theObj = {};
                var idr = $(this).attr('id');
                var id = idr.substring(3);
                var productId = isNaN(parseFloat($('#pro_' + id).val())) ? 0 : parseFloat($('#pro_' + id).val());
                var saleQty = isNaN(parseFloat($('#saleQty_' + id).val())) ? 0 : parseFloat($('#saleQty_' + id).val());
                var stockRate = isNaN(parseFloat($('#stRate_' + id).val())) ? 0 : parseFloat($('#stRate_' + id).val());
                var saleRate = isNaN(parseFloat($('#saleRate_' + id).val())) ? 0 : parseFloat($('#saleRate_' + id).val());

                var saleKg = 0;

                var disPer = isNaN(parseFloat($('#disPer_' + id).val())) ? 0 : parseFloat($('#disPer_' + id).val());
                var disAmt = isNaN(parseFloat($('#disNum_' + id).val())) ? 0 : parseFloat($('#disNum_' + id).val());
                var total = isNaN(parseFloat($('#totalG_' + id).val())) ? 0 : parseFloat($('#totalG_' + id).val());
                var proTax = isNaN(parseFloat($('#proTax_' + id).val())) ? 0 : parseFloat($('#proTax_' + id).val());
                var detailsId = isNaN(parseFloat($('#detailsId_' + id).val())) ? 0 : parseFloat($('#detailsId_' + id).val());
                //if (detailsId == 0) {
                    theObj["ProductId"] = productId;
                    theObj["SalesOrderProcessDetailsId"] = detailsId;
                    theObj["ProductQty"] = saleQty;
                    theObj["StockRate"] = stockRate;
                    theObj["SaleRate"] = saleRate;
                    theObj["ProductKg"] = saleKg;
                    theObj["DiscountAmount"] = disAmt;
                    theObj["DiscountPercent"] = disPer;
                    theObj["TotalPrice"] = total;
                    theObj["ProductTax"] = proTax;
                    theObj["OperationIdAdd"] = 3;
                    jsonObjs.push(theObj);
                //}

            });



            if (isNaN(parseInt($('#mSalesOrderId').val())) ? 0 : parseInt($('#mSalesOrderId').val()) > 0) {
                var deleteLength = DeleteProduct.length;
                for (var ind = 0; ind < DeleteProduct.length; ind++) {
                    jsonObjs.push(DeleteProduct[ind]);
                }
            }
            jsonData["SalesDetails"] = jsonObjs;

            var urlpath = '@Url.Action("SaveOrderPrecessed", "SalesOrderFurtherProcess")';
            $.ajax({
                contentType: "application/json",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "POST"
            })
                .success(function (result) {

                    if (result.pk > 0) {

                        // var mrrNo = GetMrrNo(result.pk);

                        swal({
                            title: " Saved Successfull",
                            text: '',
                            type: "success",
                            showCancelButton: false,
                            cancelButtonClass: 'btn-secondary waves-effect',
                            confirmButtonClass: 'btn-success waves-effect waves-light',
                            confirmButtonText: 'Yes!',
                            closeOnConfirm: false
                        }, function () {
                           @*@Html.Action("GenerateChallan",new {id= result.pk })*@
                            window.location.href = '/ChallanFurtherProcessed/GenerateChallan?id=' + $('#mSalesOrderId').val() + '';
                        });


                    }
                });
        }
        function LoadProductInRow(elementId) {



            $('#' + elementId + '').append("<option value='0'>--Select Product--</option>");

            for (var i = 0; i < PrlductList.length; i++) {
                $('#' + elementId + '').append($("<option></option>").val(PrlductList[i].ProductId).html(PrlductList[i].ProductNo + ":" + PrlductList[i].ProductName));

            }

        }
        function LoadCustomerType(elementId) {

            var urlpath = '@Url.Action("GetCustomerType", "SalesOrderFurtherProcess")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",

                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Customer Type --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].CustomerTypeID).html(data[i].CoustomerTypeName));
                    }
                }
            });
        }

        function CalculateChallan() {

            var challanAmt = 0;

            var totalChallanQty = 0;
            var totalChallnKg = 0;
            $('#salesOrder tbody tr').each(function () {
                 
                var idr = $(this).attr('id');
                var id = idr.substring(3);
                if ($('#chk_' + id).is(':checked')) {
                    var issue = isNaN(parseInt($('#issueQty_' + id).val())) ? 0 : parseInt($('#issueQty_' + id).val());
                    var totalPrice = isNaN(parseFloat($('#totalG_' + id).val())) ? 0 : parseFloat($('#totalG_' + id).val());
                    var saleQty = isNaN(parseInt($('#saleQty_' + id).val())) ? 0 : parseInt($('#saleQty_' + id).val());
                    var prvIssue = isNaN(parseInt($('#prevIssueQty_' + id).val())) ? 0 : parseInt($('#prevIssueQty_' + id).val());
                    var stQty = isNaN(parseInt($('#stQty_' + id).val())) ? 0 : parseInt($('#stQty_' + id).val());


                    if ((issue + prvIssue) > saleQty) {
                        $('#issueQty_' + id).val(saleQty - prvIssue);
                    }
                    if (issue > stQty) {
                        $('#issueQty_' + id).val(stQty);
                    }


                    var chItemPrice = (totalPrice / saleQty) * issue;
                    challanAmt = challanAmt + chItemPrice;
                    totalChallanQty = totalChallanQty + issue;
                   
                    $('#chItemPrice_' + id).val(chItemPrice.toFixed(2));
                }
            });
            $('#totalChallanQty').html(totalChallanQty);




            $('#challanAmt').html(challanAmt.toFixed(2));
        }
        function GetTaxInfo(productGroupId, amount) {
            var tax = 2;
            var urlpath = '@Url.Action("GetTaxInfo", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'json',
                data: { productGroupId: productGroupId, amount: amount },
                async: false,
                success: function (data) {
                    tax = data.TaxPercent;

                }
            });
            return tax;
        }

        function GenerateChallan() {
            if (SaveValidation() == true) {
                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveChallan();

                });
            }
        }

        function SaveValidation() {
            var isValid = true;
            var message = "Some Values Required";
            var checkCount = $('input.checkClass:checked').length;
            var whId = $("#ddlWareHouse").val();
            if ($('#ddlWareHouse').val() == '' || $('#ddlWareHouse').val() == null || $('#ddlWareHouse').val() == 0) {
                ValidationColorChangeNew("ddlWareHouse", "divWareHouse", "Warehouse  Required", true);
                isValid = false;
            }


            if ($('#challanDate').val() == '' || $('#challanDate').val() == '') {
                message = "Challan Date Required";
                isValid = false;
                ValidationColorChangeNew('challanDate', 'divChallanDate', "Challan Date Required", false);
            }
            if (checkCount <= 0) {
                isValid = false;

                message = "No Product For DO";
            }
            $('#salesOrder tbody tr').each(function () {


                var idr = $(this).attr('id');
                var id = idr.substring(3);
                if ($('#chk_' + id).is(':checked')) {
                    var issue = isNaN(parseFloat($('#issueQty_' + id).val())) ? 0 : parseFloat($('#issueQty_' + id).val());


                    if (issue == 0 ) {
                        message = "Issue Quantity  Required";
                        isValid = false;
                        return;
                    }

                }

            });

            if (isValid == false) {

                ShowMessage(message);
            }

            return isValid;
        }

        function SaveChallan() {

            var jsonData = {};
            jsonData["CompanyId"] = $('#ddlCompany').val();

            jsonData["WarehouseId"] = $('#ddlWareHouse').val();
            jsonData["SalesOrderId"] = $('#mSalesOrderId').val();
            jsonData["ChallanAmount"] = parseFloat($('#challanAmt').html());
            jsonData["ChallanDate"] = $('#challanDate').val();
            jsonData["TotalDeliveryQty"] = isNaN(parseFloat($('#totalChallanQty').html())) ? 0 : parseFloat($('#totalChallanQty').html());
           


            var jsonObjs = [];
            if ($('#salesOrder tbody tr').length > 0) {
            $('#salesOrder tbody tr').each(function () {

                var theObj = {};
                var idr = $(this).attr('id');
                var id = idr.substring(3);
                if ($('#chk_' + id).is(':checked')) {
                    var productId = isNaN(parseFloat($('#pro_' + id).val())) ? 0 : parseFloat($('#pro_' + id).val());
                    var issueQty = isNaN(parseFloat($('#issueQty_' + id).val())) ? 0 : parseFloat($('#issueQty_' + id).val());


                    //var issueKg = isNaN(parseFloat($('#issueKG_' + id).val())) ? 0 : parseFloat($('#issueKG_' + id).val());
                    var issueKg = 0;
                    var soDetailsId = isNaN(parseFloat($('#detailsId_' + id).val())) ? 0 : parseFloat($('#detailsId_' + id).val());
                    var itemPrice = isNaN(parseFloat($('#chItemPrice_' + id).val())) ? 0 : parseFloat($('#chItemPrice_' + id).val());

                    theObj["ProductId"] = productId;
                    theObj["IssueQty"] = issueQty;
                    theObj["IssueKg"] = issueKg;
                    theObj["SalesOrderDetailsId"] = soDetailsId;
                    theObj["IssuePrice"] = itemPrice;
                    theObj["WarehouseId"] = parseInt($('#ddlWareHouse').val());
                    jsonObjs.push(theObj);


                }

            });
        }
            jsonData["ChallanDetails"] = jsonObjs;

            var urlpath = '@Url.Action("SavePrecessedChallan", "ChallanFurtherProcessed")';
            $.ajax({
                contentType: "application/json",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "POST"
            })
                .success(function (result) {

                    if (result.isSuccess==true) {

                        // var mrrNo = GetMrrNo(result.pk);

                        swal({
                            title: " Saved Successfull",
                            text: '',
                            type: "success",
                            showCancelButton: false,
                            cancelButtonClass: 'btn-secondary waves-effect',
                            confirmButtonClass: 'btn-success waves-effect waves-light',
                            confirmButtonText: 'Yes!',
                            closeOnConfirm: false
                        }, function () {
                            window.location.href = '@Url.Action("Index", "ChallanFurtherProcessed")';

                        });


                    }
                });
        }
        function ApproveOrder(status) {

            swal({
                title: "Are you sure?",
                text: "",
                type: "success",
                showCancelButton: true,
                cancelButtonClass: 'btn-secondary waves-effect',
                confirmButtonClass: 'btn-success waves-effect waves-light',
                confirmButtonText: 'Yes!',
                closeOnConfirm: false

            }, function () {
                $('.confirm').prop("disabled", true);
                $('.cancel').prop("disabled", true);
                var id = $('#mSalesOrderId').val();
                var urlpath = '@Url.Action("ApproveSalesProcesed", "SalesOrderProcess")';
                $.ajax({
                    url: urlpath,
                    data: { id: id, status: status },
                    dataType: 'json',
                    type: "Get",

                    async: false,
                    success: function (data) {
                        if (data.isSuccess) {
                            window.location.href = '@Url.Action("SalesOrderList", "SalesOrderProcess")';
                        }
                    }
                });

            });

        }
        function LoadPaymentType(elementId) {

            var urlpath = '@Url.Action("GetPaymentType", "Utility")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",

                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Payment --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].PaymentTypeId).html(data[i].PaymentType));
                    }
                }
            });
        }

        function GetOrderMaster() {
            var id = $('#mSalesOrderId').val();
            var urlpath = '@Url.Action("GetSalesOrderMaster", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { id: id },
                async: false,
                success: function (data) {

                    $("#ddlCustomerType").val(data.CustomerTypeId).trigger('change');
                    $("#ddlCustomer").val(data.CustomerId).trigger('change');
                    GetCustomerDetails();
                    $("#ddlCompany").val(data.CompanyId).trigger('change');
                    $("#txtSalesPersonNo").val(data.SalesPersonContact);
                    if (data.IsEmployee == true) {
                        $('#chkEmployee').prop('checked', true);
                        $("#txtSalesPerson").val(GetEmployeeName(data.SalesPerson));
                        GetEmpNoFromId($("#txtSalesPerson").val());
                    } else {
                        $('#chkEmployee').prop('checked', false);
                        $("#txtSalesPerson").val(data.SalesPerson);
                    }
                    $('#txtOrderDate').val(ToJavaScriptDate(data.OrderDate));
                    $('#txtDeliveryDate').val(ToJavaScriptDate(data.DeliveryDate));
                    //LoadLocation('ddlLocation', data.CompanyId);
                    //var loactionId = GetLocationId(data.WarehouseId);

                    $('#salesOrderNo').html(data.SalesOrderNo);
                    //$("#ddlLocation").val(loactionId).trigger('change');
                    //LoadWareHouse('ddlWareHouse');
                    //$("#ddlWareHouse").val(data.WarehouseId).trigger('change');
                    $('#txtRemarks').val(data.Remarks);
                    LoadPaymentType('ddlPamentType');
                    $("#ddlPamentType").val(data.PaymentType).trigger('change');

                    GetProducts();
                    for (var i = 0; i < data.SalesDetails.length; i++) {

                        var tr = $('#salesOrder tbody tr').length +1;
                        AddRow();
                        $("#pro_" + tr).val(data.SalesDetails[i].ProductId);
                        $("#proId_" + tr).val(data.SalesDetails[i].ProductId);
                        $('#saleQty_' + tr).val(data.SalesDetails[i].ApprovedQty);
                        $('#saleRate_' + tr).val(data.SalesDetails[i].SaleRate.toFixed(2));
                        $('#disPer_' + tr).val(data.SalesDetails[i].DiscountPercent.toFixed(2));
                        $('#disNum_' + tr).val(data.SalesDetails[i].DiscountAmount.toFixed(2));
                        $('#total_' + tr).val((data.SalesDetails[i].TotalPrice + data.SalesDetails[i].DiscountAmount - data.SalesDetails[i].ProductTax).toFixed(2));
                        $('#totalG_' + tr).val(data.SalesDetails[i].TotalPrice.toFixed(2));
                        $('#detailsId_' + tr).val(data.SalesDetails[i].SalesOrderProcessDetailsId);
                        $('#proTax_' + tr).val(data.SalesDetails[i].ProductTax.toFixed(2));
                        var prevData = GetPreviousIssue(data.SalesDetails[i].SalesOrderProcessDetailsId, data.SalesDetails[i].ProductId);

                        $('#prevIssueQty_' + tr).val(prevData.PrevIssueQty);
                        if (data.SalesDetails[i].ProductQty == prevData.PrevIssueQty) {
                            $('#chk_' + tr).attr('disabled', true);
                            $("#tr_" + tr).css("background-color", "#dc3545");
                        }
                        $('.priceHide').hide();
                        $('#pro_' + tr).attr('disabled', true);
                        $('#stQty_' + tr).attr('disabled', true);

                        $('#stRate_' + tr).attr('disabled', true);
                        $('#saleRate_' + tr).attr('disabled', true);
                        $('#saleQty_' + tr).attr('disabled', true);

                        $('#disPer_' + tr).attr('disabled', true);
                        $('#disNum_' + tr).attr('disabled', true);
                    }



                    $('#totalKg').html(data.TotatalOrderAmtKg);
                    $('#totalIncTacVat').html(data.TotalIncTaxVat);
                    $('#totalExTaxVat').html(data.TotalExTaxVat);

                    CalculateAll();

                    //$(":input").prop("disabled", true);


                    //$('input:checkbox').prop("disabled", false);

                    //$('#saveBtn').prop("disabled", false);

                }
            });
        }
        function CalculateSalePrice(id) {
             
            var saleRate = isNaN(parseFloat($('#saleRate_' + id).val())) ? 0 : parseFloat($('#saleRate_' + id).val());
            var saleQty = isNaN(parseFloat($('#saleQty_' + id).val())) ? 0 : parseFloat($('#saleQty_' + id).val());
            var disCounPer = isNaN(parseFloat($('#disPer_' + id).val())) ? 0 : parseFloat($('#disPer_' + id).val());

            var total = saleRate * saleQty;
            var distountTotal = total * (disCounPer / 100);




            var vatPerItem = isNaN(parseFloat($('#proTax_' + id).val())) ? 0 : parseFloat($('#proTax_' + id).val());
            var totalPrice = total + vatPerItem - distountTotal;

            $('#total_' + id).val(total.toFixed(2));
            $('#disNum_' + id).val(distountTotal.toFixed(2));
            $('#totalG_' + id).val(totalPrice.toFixed(2));
            CalculateAll();
        }
        function CalculateSalePriceAmt(id) {

            var saleRate = isNaN(parseFloat($('#saleRate_' + id).val())) ? 0 : parseFloat($('#saleRate_' + id).val());
            var saleQty = isNaN(parseFloat($('#saleQty_' + id).val())) ? 0 : parseFloat($('#saleQty_' + id).val());
            var discountAmt = isNaN(parseFloat($('#disNum_' + id).val())) ? 0 : parseFloat($('#disNum_' + id).val());

            var total = saleRate * saleQty;
            var discountRate = (discountAmt / total) * 100;
            var totalPrice = total - discountAmt;
            $('#total_' + id).val(total.toFixed(2));
            $('#disPer_' + id).val(discountRate.toFixed(2));
            $('#totalG_' + id).val(totalPrice.toFixed(2));
            CalculateAll();
        }
        function GetPreviousIssue(orderId, productId)
        {
            var result;
            var urlpath = '@Url.Action("GetPreviousChallan", "ChallanFurtherProcessed")';
            $.ajax({
                url: urlpath,
                data: { orderId: orderId, productId: productId },
                dataType: 'json',
                type: "Get",

                async: false,
                success: function (data)
                {
                    result = data;
                }
            });
            return result;
        }
        function CheckDetails(id) {


            if ($("#chk_" + id).is(':checked')) {
                $("#chk_" + id).prop('checked', true);


                $('#issueQty_' + id).attr('disabled', false);
                $('#issueKG_' + id).attr('disabled', false);
            } else {
                $("#chk_" + id).prop('checked', false);

                $('#issueQty_' + id).attr('disabled', true);
                $('#issueKG_' + id).attr('disabled', true);
            }
        }

        function GetEmployeeName(empId) {
            var EmpName = "";
            var urlpath = '@Url.Action("GetEmployeeName", "Utility")';
            $.ajax({
                url: urlpath,
                data:{empId:empId},
                dataType: 'json',
                type: "Get",

                async: false,
                success: function (data) {
                    EmpName = data;

                }
            });
            return EmpName;
        }
        function GetProductDetails(prodId) {



            var productId = $('#pro_' + prodId).val();
            var wareHouseId = $('#ddlWareHouse').val();
            var urlpath = '@Url.Action("GetProductDetails", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'json',
                data: { productId: productId, wareHouseId: wareHouseId },
                async: false,
                success: function (data) {

                    $("#cat_" + prodId).val(data.CategoryName);
                    $("#stQty_" + prodId).val(data.StockQty);
                    $("#stKg_" + prodId).val(data.StockKg);
                    $("#stRate_" + prodId).val(data.StockPrice);
                    var salePrice = GetSalePrice(productId, data.StockPrice);

                    $('#saleRate_' + prodId).val(salePrice);

                }
            });
        }
        function LoadProductDetails() {
            $('#salesOrder tbody').empty();
            GetOrderMaster();
            var wh = $('#ddlWareHouse').val();

            $('#salesOrder tbody tr').each(function () {


                var idr = $(this).attr('id');
                var trid = idr.substring(3);

                var details = LoadProductDetailsBywh(wh, $('#proId_' + trid).val());

                $("#stQty_" + trid).val(details.StockQty);
                $("#stKg_" + trid).val(details.StockKg);
                $('#stRate_' + trid).val(details.StockPrice.toFixed(2));

            });
        }
        function LoadProductDetailsBywh(wh, pId) {
            var productDetails = {};
            //var urlpath = '@Url.Action("GetProductDetailsChallan", "SalesOrderProcess")';
               var urlpath = '@Url.Action("LoadProductDetails", "ChallanProcessed")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",  
                data: { warehouse: wh, productId: pId,  },  // {warehouse:wh , productId:pId },
                async: false,
                success: function (data) {
                     
                    productDetails = data;
                }
            });
            return productDetails;
        }

        function GetSalePrice(productId, price) {
            var theprice = 0;
            var urlpath = '@Url.Action("GetProcessedSalePrice", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'json',
                data: { productId: productId, price: price },
                async: false,
                success: function (data) {

                    theprice = data;


                }
            });

            return theprice;
        }
        function AddRow() {

            var tr = $('#salesOrder tbody tr').length + 1;
            var urlpath = '@Url.Action("AddRowForOrder", "ChallanFurtherProcessed")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'html',
                data: { tr: tr },
                async: false,
                success: function (data) {

                    $('#salesOrder tbody').append(data);

                    LoadProductInTable("pro_"+tr);

                }
            });
            //CalculateAll();
          //  $('#pro_' + tr).select2();
        }


        function CalculateAll() {


            var grandTotal = 0;
            var totalIncTax = 0;
            var totalExTax = 0;
            var totalKg = 0;
            var totalTax = 0;
            var proCout = 0;
            $('#salesOrder tbody tr').each(function () {


                var idr = $(this).attr('id');
                var id = idr.substring(3);

                var productId = isNaN(parseFloat($('#pro_' + id).val())) ? 0 : parseFloat($('#pro_' + id).val());
                var saleQty = isNaN(parseFloat($('#saleQty_' + id).val())) ? 0 : parseFloat($('#saleQty_' + id).val());
                var stockRate = isNaN(parseFloat($('#stRate_' + id).val())) ? 0 : parseFloat($('#stRate_' + id).val());
                var saleRate = isNaN(parseFloat($('#saleRate' + id).val())) ? 0 : parseFloat($('#saleRate' + id).val());

                //var saleKg = isNaN(parseFloat($('#saleKG_' + id).val())) ? 0 : parseFloat($('#saleKG_' + id).val());

                var disPer = isNaN(parseFloat($('#disPer_' + id).val())) ? 0 : parseFloat($('#disPer_' + id).val());
                var disAmt = isNaN(parseFloat($('#disNum_' + id).val())) ? 0 : parseFloat($('#disNum_' + id).val());
                var total = isNaN(parseFloat($('#total_' + id).val())) ? 0 : parseFloat($('#total_' + id).val());
                grandTotal += (total - disAmt);
                totalKg += saleQty;
                if (productId > 0) {
                    proCout = proCout + 1;
                }

            });
            $('#taxVat').html(GetTaxInfo(6, grandTotal));

            var tax = parseFloat($('#taxVat').html());
            var colection = isNaN(parseFloat($('#txtCollection').val())) ? 0 : parseFloat($('#txtCollection').val());

            var taxCal = grandTotal * (tax / 100);

            //var proTax = (taxCal / proCout);
            var proTax = (taxCal / proCout);
            SetItemTax(proTax);
            totalIncTax = grandTotal + taxCal;
            totalExTax = grandTotal;
            $('#totalKg').html(totalKg.toFixed(2));
            $('#totalIncTacVat').html(totalIncTax.toFixed(2));
            $('#totalExTaxVat').html(grandTotal.toFixed(2));

            var restamount = totalIncTax - colection;
            $('#lblRestAmount').html(restamount.toFixed(2));
        }
        function SetItemTax(proTax) {
            $('#salesOrder tbody tr').each(function () {


                var idr = $(this).attr('id');
                var id = idr.substring(3);
                var total = isNaN(parseFloat($('#total_' + id).val())) ? 0 : parseFloat($('#total_' + id).val());
                var disnum = isNaN(parseFloat($('#disNum_' + id).val())) ? 0 : parseFloat($('#disNum_' + id).val());


                $('#proTax_' + id).val(proTax.toFixed(2));

                $('#totalG_' + id).val((total - disnum + proTax).toFixed(2));

            });
        }

        function GetTaxInfo(productGroupId, amount) {
            var tax = 15;
            var urlpath = '@Url.Action("GetTaxInfo", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'json',
                data: { productGroupId: productGroupId, amount: amount },
                async: false,
                success: function (data) {
                    tax = data.TaxPercent;

                }
            });
            return tax;
        }
        function LoadProductInTable(elementId) {

            $('#' + elementId + '').append("<option value='0'>--Select Product--</option>");

            for (var i = 0; i < PrlductList.length; i++) {

                $('#' + elementId + '').append($("<option></option>").val(PrlductList[i].ProductId).html(PrlductList[i].ProductNo + ":" + PrlductList[i].ProductName));
            }

        }
        function GetProducts() {


            var urlpath = '@Url.Action("GetProductByGroup", "Utility")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { groupId: 6},
                async: false,
                success: function (data) {

                    PrlductList = data;

                }
            });
        }
        function GetCustomerDetails() {


            var customerId = $('#ddlCustomer').val();

            var urlpath = '@Url.Action("GetCustomerDetails", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'html',
                type: "Get",
                data: { id: customerId },
                async: false,
                success: function (data) {
                    $('#customerDetails').empty();
                    $('#customerDetails').html(data);

                }
            });



            LoadDate('#txtOrderDate');

            $('#txtDestination').val($('#customerAddress').html());

        }
        function LoadWHByLocation() {
            var loc = $('#ddlLocation').val();
            LoadWareHouse('ddlWareHouse', loc, 3);
        }



        function GetLocationId(warehouse) {

            var locationId = 0;
            var urlpath = '@Url.Action("GetLocationIdByWarehouse", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: {id:warehouse},
                async: false,
                success: function (data) {

                    locationId = data;
                }
            });
            return locationId;
        }

            function LoadCustomer(elementId) {

            var typeid = $('#ddlCustomerType').val();
           var urlpath = '@Url.Action("GetCustomer", "SalesOrderProcess")';
           $.ajax({
               url: urlpath,

               dataType: 'json',
               type: "Get",
               data: { typeid: typeid },
               async: false,
               success: function (data) {

                   $('#' + elementId + '').empty();
                   $('#' + elementId + '').append("<option value='0'>--Select Customer --</option>");

                   for (var i = 0; i < data.length; i++) {

                       $('#' + elementId + '').append($("<option></option>").val(data[i].CustomerID).html(data[i].CustomerCode + ":" + data[i].CustomerName + ": " + data[i].CoustomerTypeName));
                   }
               }
           });
        }
    </script>
}

