﻿
@using IGFoodProject.ViewModel
@model IEnumerable<ViewInvoiceMaster>
@{ int count = 1;
    decimal finalamount_t = 0;
    decimal finaldue_t = 0;
    decimal finalpaid_t = 0;
    decimal previousamt = 0;
    decimal previoustax = 0;
    decimal finaltax_t = 0;
}

<table id="orderTable" class="table table-bordered">
    <thead>
        <tr>
            <th style="text-align:center;">Check</th>
            <th style="text-align:center;">#SL</th>
            <th style="text-align:center;">Invoice No.</th>
            <th style="text-align:center;">Invoice Date</th>
            <th style="text-align:center;">Invoice Type</th>
            <th style="text-align:center;">Total Amount</th>
            <th style="text-align:center;">Previous Paid</th>
            <th style="text-align:center;">Total Paid </th>
            @*<th style="text-align:center;">Total Tax </th>
            <th style="text-align:center;">Previous Tax Paid</th>*@
            <th style="text-align:center;">Tax Paid</th>
            <th style="text-align:center;">Grand Total  </th>
           
            <th style="text-align:center;">Total Due</th>
            <th style="text-align:left;">Remark</th>

        </tr>
    </thead>
    <tbody id="">

        @foreach (ViewInvoiceMaster item in Model)
        {
            var dueAmount = (item.TotalDue+ item.TotalTax) - item.GrandTotal;
            if (dueAmount >= 1)
            {
                finalamount_t = finalamount_t + item.TotalDue;
                finaltax_t = finaltax_t + item.TotalTax;
                previousamt = previousamt + item.TotalPaid;
                previoustax = previoustax + item.TotalTaxPaid;
                finaldue_t = finaldue_t + dueAmount;

                <tr>
                    <td style='text-align: center;'><input type='checkbox' class='form-check-input chkp' id='chk_@count' onclick='checkBoxEvent(@count)'/> </td>
                    <td id="ts_@count">@count</td>
                    <td style='text-align: left;'>@item.InvoiceNo <input type='text' class='form-control' style='text-align: left; display: none' id='InvoiceMasterID_@count' value='@item.InvoiceMasterID'/> </td>
                    <td style='text-align: left;'>@Convert.ToDateTime(item.InvoiceDate).ToString("dd MMM yyyy")</td>
                    <td><label id='lblInvoiceType_@count'>@item.InvoiceType</label></td>
                    <td><input type='number' class='form-control' style='text-align: center;' id='TotalAmount_@count' value='@item.TotalDue.ToString("0.##")' disabled='disabled'/></td>
                    <td><a style='text-decoration: underline;' onclick="CollectionDetailsPopUp(@item.InvoiceMasterID, '@item.InvoiceType')">@item.TotalPaid.ToString("0.##")</a> </td>
                    <td style='display: none;'><input type='number' class='form-control' style='text-align: center; display: none;' id='hTotalPaid_@count' value='@item.TotalPaid.ToString("0.##")'/></td>
                    <td><input type='number' class='form-control' style='text-align: center;' id='payAmount_@count' oninput="CheckPayAmountValidation(@count)" disabled="disabled"/></td>
                    @*<td><input type='number' class='form-control' style='text-align: center;' id='TotaltaxDeduct_@count' disabled="disabled" value='@item.TotalTax.ToString("0.##")'/></td>
                    <td><a style='text-decoration: underline;'>@item.TotalTaxPaid.ToString("0.##")</a> </td>*@
                    <td style='display: none;'><input type='number' class='form-control' style='text-align: center; display: none;' id='hTotalTaxPaid_@count' value='@item.TotalTaxPaid.ToString("0.##")'/></td>
                    <td><input type='number' class='form-control' style='text-align: center;' id='taxDeduct_@count' oninput="CheckTaxAmountValidation(@count)" disabled="disabled"/></td>
                    <td><input type='number' class='form-control totalCollection' style='text-align: center;' id='totalCollection_@count' oninput="CheckPaymentAmountValidation(@count)" disabled="disabled"/></td>
                    <td><input type='number' class='form-control' style='text-align: center;' id='TotalDue_@count' value='@dueAmount.ToString("0.##")' disabled='disabled'/></td>
                    <td style='display: none;'><input type='number' class='form-control' style='text-align: center; display: none;' id='hTotalDue_@count' value='@dueAmount.ToString("0.##")'/></td>
                    <td><input type='text' class='form-control' style='text-align: left;' id='Remark_@count' value=''/></td>
                </tr>
                count++;
            }


        }

        <tr>
            <th style='text-align:center;' colspan="5">Total :</th>
            <td style='text-align:center;'><input style='text-align:center;' class='form-control' type='number' onkeypress='return validateQty(event);' min='0' id='FinalTotalAmount' value='@finalamount_t.ToString("0.##")' disabled='disabled'></td>
            <td style='text-align:center;'><input style='text-align:center;' class='form-control' type='number' onkeypress='return validateQty(event);' min='0' id='PreviousPaidTotalAmount' value='@previousamt.ToString("0.##")' disabled='disabled'></td>
            <td style='text-align:center;'><input style='text-align:center;' class='form-control' type='number' onkeypress='return validateQty(event);' min='0' id='PaidTotalAmount' value='' disabled='disabled'></td>
            @*<td style='text-align:center;'><input style='text-align:center;' class='form-control' type='number' onkeypress='return validateQty(event);' min='0' id='TaxTotalAmount' value='@finaltax_t.ToString("0.##")' disabled='disabled'></td>
            <td style='text-align:center;'><input style='text-align:center;' class='form-control' type='number' onkeypress='return validateQty(event);' min='0' id='PreviousPaidTaxTotalAmount' value='@previoustax.ToString("0.##")' disabled='disabled'></td>*@
            <td style='text-align:center;'><input style='text-align:center;' class='form-control' type='number' onkeypress='return validateQty(event);' min='0' id='PaidTaxTotalAmount' value='' disabled='disabled'></td>
            <td style='text-align:center;'><input style='text-align:center;' class='form-control' type='number' onkeypress='return validateQty(event);' min='0' id='TotalCollectionTotalAmount' value='' disabled='disabled'></td>
            <td style='text-align:center;'><input style='text-align:center;' class='form-control' type='number' onkeypress='return validateQty(event);' min='0' id='DueTotalAmount' value='@finaldue_t.ToString("0.##")' disabled='disabled'></td>
            <td></td>
        </tr>

    </tbody>
</table>

