﻿@model IGFoodProject.Models.Accounts.CostCenterType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CostCenterType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Company.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostCenterTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostCenterTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActiveDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActiveDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InActiveDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InActiveDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CostCenterTypeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
