﻿
@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm())
{




    <div class="row">
        <!-- left column -->
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Edit Cost Center Type</h3>

                    <div class="pull-right btn btn-outline warning">
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form">
                    <div class="box-body">

                        <div class="form-group" id="divCompany">
                            <label for="ddlCompany">Company</label>
                            <select class="form-control select2" style="width: 100%;" id="ddlCompany" onchange=""></select>

                        </div>
                        <div class="form-group" id="divAccId">
                            <label for="costCenter">Cost Center Type</label>
                            <input type="text" class="form-control" id="costCenter" placeholder="Enter Account">
                            <input type="hidden" class="form-control" id="CostCenterTypeId" value="0" placeholder="Enter Account">
                        </div>

                        <div class="form-group">
                            <div class="checkbox">
                                <label>

                                    <input type="checkbox" id="isActive" checked="checked" onchange="aActive()">
                                    IsActive
                                </label>
                            </div>
                        </div>


                        <div class="form-group" id="divActive">
                            <label>Active Date:</label>

                            <div class="input-group date">
                                @*<div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>*@
                                <input type="text" class="form-control pull-right datepicker" id="activeDate">
                            </div>
                        </div>

                        <div class="form-group" id="divInActive">
                            <label>InActive Date:</label>

                            <div class="input-group date">
                                @*<div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>*@
                                <input type="text" class="form-control pull-right datepicker" id="inActiveDate">
                            </div>
                        </div>

                        <div class="form-group" id="divAccId">
                            <label for="accNO">Description</label>
                            <textarea class="form-control" rows="3" placeholder="Enter ..." id="description"></textarea>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <input type="button" value="Edit" onclick="saveCostCenter()" class="btn btn-primary pull-right" />
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-1"></div>

    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {

            LoadCompany('ddlCompany');
            $("#ddlCompany").val(0).trigger("change");
            $("#divInActive").hide();
            editData(@ViewBag.id);
        });

        function aActive() {
            debugger;
            if ($('#isActive').is(":checked")) {
                $("#divInActive").hide();
                $("#divActive").show();
            } else {
                $("#divActive").hide();
                $("#divInActive").show();
            }
        }

        function Validation() {


            var isValid = true;
            if ($('#ddlCompany').val() == '' || $('#ddlCompany').val() == null || $('#ddlCompany').val() == 0) {
                ValidationColorChangeNew("ddlCompany", "divCompany", "Company is Required", false);
                isValid = false;
            }
            if ($("#isActive").is(":checked") == true) {
                if ($('#activeDate').val() == '' || $('#activeDate').val() == null) {
                    ValidationColorChangeNew("activeDate", "divActive", "Active Date is Required", false);
                    isValid = false;
                }
            } else {
                if ($('#inActiveDate').val() == '' || $('#inActiveDate').val() == null) {
                    ValidationColorChangeNew("inActiveDate", "divInActive", "InActive Date is Required", false);
                    isValid = false;
                }
            }
            if ($('#costCenter').val() == '' || $('#costCenter').val() == null) {
                ValidationColorChangeNew("costCenter", "divAccId", "Name is Required", false);
                isValid = false;
            }
            if ($('#description').val() == '' || $('#description').val() == null) {
                ValidationColorChangeNew("description", "divCashDes", "Description is Required", false);
                isValid = false;
            }

            return isValid;
        }

        function saveCostCenter() {
            debugger;
            if (Validation()) {
                var jsonData = {};
                jsonData["CostCenterTypeId"] = $('#CostCenterTypeId').val();
                jsonData["CostCenterTypeName"] = $('#costCenter').val().trim();
                jsonData["IsActive"] = $("#isActive").is(":checked");
                //if ($("#isActive").is(":checked")) {
                    jsonData["ActiveDate"] = $('#activeDate').val().trim();
                //} else {
                    jsonData["InActiveDate"] = $('#inActiveDate').val().trim();
                //}


                jsonData["Description"] = $('#description').val().trim();
                jsonData["CompanyId"] = $('#ddlCompany').val().trim();

                var urlpath = '@Url.Action("SaveCostCenter", "CostCenterTypes")';

                $.ajax({
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(jsonData),
                    dataType: 'json',
                    url: urlpath,
                    type: "POST",
                    success: function (aResponse) {
                        if (aResponse.isSuccess) {
                            //   $('#myModal').modal('toggle');
                            window.location.href = '@Url.Action("Index", "CostCenterTypes")';

                        } else {

                            ShowMessage(aResponse.msg);
                        }
                    }
                });
            }
        }

        function editData(id) {

            var urlpath = '@Url.Action("GetDataFEdit", "CostCenterTypes")';

            $.ajax({
                url: urlpath,
                data: { id: id },
                dataType: 'Json',
                type: "Get",
                success: function (data) {
                    debugger;
                    $('#CostCenterTypeId').val(data.CostCenterTypeId);
                    $('#costCenter').val(data.CostCenterTypeName);
                    if (data.IsActive == true) {
                        $("#isActive").prop("checked", true);
                        $('#activeDate').val(ToJavaScriptDate(data.ActiveDate));
                        if (data.InActiveDate!=null) {

                            $('#inActiveDate').val(ToJavaScriptDate(data.InActiveDate));
                        }
                    } else {
                        $("#isActive").prop("checked", false);
                        $("#divActive").hide();
                        $("#divInActive").show();
                        $('#inActiveDate').val(ToJavaScriptDate(data.InActiveDate));
                        if (data.ActiveDate!=null) {

                            $('#activeDate').val(ToJavaScriptDate(data.ActiveDate));
                        }
                    }
                    $('#description').val(data.Description);
                    $('#ddlCompany').val(data.CompanyId).trigger("change");

                },
                complete: function () {

                }

            });
        }
    </script>
}
