﻿

@using System.Data
@model System.Data.DataTable
@{
}
<h5 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px">Daily Broiler input & Dressed Bird Summary</h5>
<table id="SalesReportTable" border="1" class="table dataTable table-bordered table-striped table-hover">
    <thead>
        <tr style="background-color: aliceblue">
            <th style="text-align: center">Month</th>
            <th style="text-align: center">Days</th>
            <th style="text-align: center">Nos of Bird</th>
            <th style="text-align: center">Per Day Bird Nos</th>
            <th style="text-align: center">Bird Weight (KG)</th>
            <th style="text-align: center">Dressed Bird (KG)</th>
            <th style="text-align: center">Per Day Dressed Bird (KG)</th>
            <th style="text-align: center">Per Bird Weight (After Dressed)</th>
        </tr>
    </thead>
    <tbody class="Traylist">
        @foreach (DataRow row in Model.Rows)
        {
            <tr>
                <td style="text-align: center">@row.ItemArray[0]</td>
                <td style="text-align: center">@row.ItemArray[1]</td>
                <td style="text-align: center">@row.ItemArray[2]</td>
                <td style="text-align: center">@Math.Round(@Convert.ToDecimal(@row.ItemArray[3]), 2, MidpointRounding.AwayFromZero)</td>
                <td style="text-align: center">@row.ItemArray[4]</td>
                <td style="text-align: center">@row.ItemArray[5]</td>
                <td style="text-align: center">@Math.Round(@Convert.ToDecimal(@row.ItemArray[6]), 2, MidpointRounding.AwayFromZero)</td>
                <td style="text-align: center">@Math.Round(@Convert.ToDecimal(@row.ItemArray[7]), 2, MidpointRounding.AwayFromZero)</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th colspan="1" style="text-align: center">Grand Total</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[1])))</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[2])))</th>
            <th style="text-align: center"></th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[4])))</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[5])))</th>
            <th style="text-align: center"></th>
            <th style="text-align: center">
                @*@Model.AsEnumerable().Average(x => decimal.Parse(Convert.ToString(x.ItemArray[7])))*@
            </th>
        </tr>
    </tfoot>
</table>

