﻿

@using System.Data
@model System.Data.DataTable
@{
}
<h5 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px">Dressed Point Production</h5>
<table id="SalesReportTable" border="1" class="table dataTable table-bordered table-striped table-hover">
    <thead>
        <tr style="background-color: aliceblue">
            <th style="text-align: center">Bird Weight (KG)</th>
            <th style="text-align: center">Dressed Bird Production (KG)</th>
            <th style="text-align: center">By Product</th>
            <th style="text-align: center">Dressed Bird Production (%)</th>
            <th style="text-align: center">By Product Production (%)</th>
            <th style="text-align: center">Total Process Loss</th>
        </tr>
    </thead>
    <tbody class="Traylist">
        @foreach (DataRow row in Model.Rows)
        {
            <tr>
                <td style="text-align: center">@Math.Round(@Convert.ToDecimal(@row.ItemArray[0]), 2, MidpointRounding.AwayFromZero)</td>
                <td style="text-align: center">@Math.Round(@Convert.ToDecimal(@row.ItemArray[1]), 2, MidpointRounding.AwayFromZero)</td>
                <td style="text-align: center">@Math.Round(@Convert.ToDecimal(@row.ItemArray[2]), 2, MidpointRounding.AwayFromZero)</td>
                <td style="text-align: center">@Math.Round(@Convert.ToDecimal(@row.ItemArray[3]), 2, MidpointRounding.AwayFromZero)</td>
                <td style="text-align: center">@Math.Round(@Convert.ToDecimal(@row.ItemArray[4]), 2, MidpointRounding.AwayFromZero)</td>
                <td style="text-align: center">@Math.Round(@Convert.ToDecimal(@row.ItemArray[5]), 2, MidpointRounding.AwayFromZero)</td>
            </tr>
        }
    </tbody>
    @*<tfoot>
        <tr>
            <th colspan="1" style="text-align: center">Grand Total</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[1])))</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[2])))</th>
            <th style="text-align: center"></th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[4])))</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[5])))</th>
            <th style="text-align: center"></th>
            <th style="text-align: center">@Model.AsEnumerable().Average(x => decimal.Parse(Convert.ToString(x.ItemArray[7])))</th>
        </tr>
    </tfoot>*@
</table>

