﻿

@using System.Data
@model System.Data.DataTable
@{
}
<h5 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px">Portion Production Summary</h5>
<table id="SalesReportTable" border="1" class="table dataTable table-bordered table-striped table-hover">
    <thead>
        <tr style="background-color: aliceblue">
            <th style="text-align: center">Particulers</th>
            <th style="text-align: center">Amount (KG)</th>
            <th style="text-align: center">%</th>
        </tr>
    </thead>
    <tbody class="Traylist">
        @foreach (DataRow row in Model.Rows)
        {
            <tr>
                <td style="text-align: center">@row.ItemArray[0]</td>
                <td style="text-align: center">@row.ItemArray[1]</td>
                <td style="text-align: center">@Math.Round(@Convert.ToDecimal(@row.ItemArray[2]), 2, MidpointRounding.AwayFromZero)</td>
            </tr>
        }
    </tbody>
    @*<tfoot>
        <tr>
            <th colspan="1" style="text-align: center">Grand Total</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[1])))</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[2])))</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[3])))</th>
            <th style="text-align: center">@Model.AsEnumerable().Sum(x => decimal.Parse(Convert.ToString(x.ItemArray[4])))</th>
        </tr>
    </tfoot>*@
</table>

