﻿@{
    ViewBag.Title = "DailyProductionReport";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title"> Daily Processing Plant Production Summary </h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    @*style="height: 335px"*@
                                    <div class="card-header">
                                        <h3 class="card-title">
                                            <i class="fa fa-arrow-down"></i>
                                            Search Criteria
                                        </h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <div class="row">
                                            @*<div class="col-md-3">
                                                <div class="form-group" id="divCompany">
                                                    <label for="ddlCompany">Company</label>
                                                    <select class="form-control select2" style="width: 100%;" id="ddlCompany" onchange=""></select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group" id="divsalesperson">
                                                    <label for="txtSalesPerson">Sales Person</label>
                                                    <input type="text" id="txtSalesPerson" class="form-control" />
                                                    <input type="number" id="employeeSelect" style="display: none" class="form-control" />
                                                </div>
                                            </div>*@

                                            <div class="col-md-3">
                                                <div class="form-group" id="divProductionDate">
                                                    <label for="productionDate">Production Date<span class="text-danger"> *</span></label>
                                                    <input type="text" class="form-control datepicker" style="width: 100%;" id="productionDate" />
                                                </div>
                                            </div>
                                            @*<div class="col-md-3">
                                                <div class="form-group" id="divToDate">
                                                    <label for="toDate">To Order Date<span class="text-danger"> *</span></label>
                                                    <input type="text" class="form-control datepicker" style="width: 100%;" id="toDate" />
                                                </div>
                                            </div>*@
                                        </div>

                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>

                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary" onclick="LoadReport()">Submit</button>
                        <button type="button" class="btn btn-primary" onclick="exportExcel()">Export To Excel</button>
                        <button class="btn btn-outline-danger  float-right" onclick="location.reload()">Cancel</button>
                    </div>
                </div>
                <!-- /.card -->
                <div class="card divclass" id="salesReportDiv">
                    <div class="card-header with-border">
                        <div id="">
                            <h3 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="companyHeader"></h3>
                            <h4 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="reportHeader"></h4>
                            <div class="row">
                                <div class="col-md-12">

                                    <label class="float-left" id="productName"></label>
                                    <label class="float-right" id="reportDate"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-header">
                                <div class="card-body" id="purchaseSumReport">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card-header">
                                <div class="card-body" id="dressBirdSumReport">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card-header">
                                <div class="card-body" id="dressBirdPerReport">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card-header">
                                <div class="card-body" id="portionPerReport">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-header">
                                <div class="card-body" id="portionLossPerReport">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card-header">
                                <div class="card-body" id="normalPortionPerReport">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-header">
                                <div class="card-body" id="dressingPointByProReport">
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="card-body" id="salesReport">
                    </div>*@
                </div>
            </div>

        </div>
    </div>
</section>
@section Scripts{
    <script>
        $(function() {

            //LoadCompany('ddlCompany');
            //$("#ddlCompany").val(7).trigger("change");
           // EmpAutoComSales('txtSalesPerson', 'employeeSelect');


        });

        function EmpAutoComSales(autoElement, noElement) {


            //var UserID = $('#sessionUserInfo').val();
            //$('#' + autoElement + '').val(UserID);
            $('#' + autoElement + '').autocomplete({
                source: "/Utility/GetEmpAutoComAll",
                select: function(event, ui) {
                    // console.log(ui);

                    var a = ui.item.value;
                    $('#' + autoElement + '').val(ui.item.value);

                    var theUser = $('#' + autoElement + '').val();
                    GetEmpNoSales(theUser, noElement);
                    //GetEmployeeDetails();
                    //ShowSalaryDetails();

                }

            });

            $('#' + autoElement + '').autocomplete("widget").addClass("fixedHeightAuto");
            $('#' + autoElement + '').autocomplete("widget").addClass("overLap");

        }

        function GetEmpNoSales(data, element) {

            var a = data;
            var empId = data.substring(0, 5);
            $('#' + element + '').val(empId);
            //alert($('#' + element + '').val());

            //$.ajax({
            //    url: urlpath,
            //    dataType: 'json',
            //    type: "Get",
            //    data: { empId: empId },
            //    async: false,
            //    success: function (data) {

            //        if (data) {
            //            $('#' + element + '').val(data);

            //        } else {
            //            $('#' + element + '').val(0);
            //        }
            //    }
            //});
        }


        function LoadReport() {
            if (RptValidation() == true) {
                //var companyId = $("#ddlCompany").val();
                var productionDate = $("#productionDate").val();
               // var toDate = $("#toDate").val();
               // var salesperson = $('#employeeSelect').val();

                ///DailyBroilerPurchaseSummary///
                var urlpath = '@Url.Action("DailyBroilerPurchaseSummary", "ProductionReport")';

                $.ajax({
                    url: urlpath,
                    data: { productionDate: productionDate},
                    dataType: 'html',
                    type: "Get",
                    success: function(data) {
                        $("#purchaseSumReport").html(data);
                    },
                    complete: function() {
                        $('#companyHeader').html("IG Foods Limited");
                        $('#reportHeader').html("Processing Plant Production Summary");
                        $('#reportDate').html('Production Date: ' + $("#productionDate").val());
                        //groupTable($('#SupplierLedgerTable tr:has(td)'), 0, 1);
                        //$('#SupplierLedgerTable .deleted').remove();
                    }
                });

                ///Daily Broiler Input & Dress Bird Summary
                var urlpath = '@Url.Action("DailyBroilerInputDressBirdSummary", "ProductionReport")';

                $.ajax({
                    url: urlpath,
                    data: { productionDate: productionDate },
                    dataType: 'html',
                    type: "Get",
                    success: function (data) {
                        $("#dressBirdSumReport").html(data);
                    },
                    complete: function () {
                    }
                });

                ///Daily Broiler Input & Dress Bird and By Product Percentage
                var urlpath = '@Url.Action("DailyBroilerInputDressBirdByProductProductionPercentage", "ProductionReport")';

                $.ajax({
                    url: urlpath,
                    data: { productionDate: productionDate },
                    dataType: 'html',
                    type: "Get",
                    success: function (data) {
                        $("#dressBirdPerReport").html(data);
                    },
                    complete: function () {
                    }
                });

                //Daily Portion Production
                var urlpath = '@Url.Action("DailyPortionProduction", "ProductionReport")';

                $.ajax({
                    url: urlpath,
                    data: { productionDate: productionDate },
                    dataType: 'html',
                    type: "Get",
                    success: function (data) {
                        $("#portionPerReport").html(data);
                    },
                    complete: function () {
                    }
                });

                //DailyPortionProductionLossPercentage
                var urlpath = '@Url.Action("DailyPortionProductionLossPercentage", "ProductionReport")';

                $.ajax({
                    url: urlpath,
                    data: { productionDate: productionDate },
                    dataType: 'html',
                    type: "Get",
                    success: function (data) {
                        $("#portionLossPerReport").html(data);
                    },
                    complete: function () {
                    }
                });
                //DailyNormalPortion
                var urlpath = '@Url.Action("DailyNormalPortion", "ProductionReport")';

                $.ajax({
                    url: urlpath,
                    data: { productionDate: productionDate },
                    dataType: 'html',
                    type: "Get",
                    success: function (data) {
                        $("#normalPortionPerReport").html(data);
                    },
                    complete: function () {
                    }
                });

                //  DailyDressingPointByProductProductionPercentage
                var urlpath = '@Url.Action("DailyDressingPointByProductProductionPercentage", "ProductionReport")';

                $.ajax({
                    url: urlpath,
                    data: { productionDate: productionDate },
                    dataType: 'html',
                    type: "Get",
                    success: function (data) {
                        $("#dressingPointByProReport").html(data);
                    },
                    complete: function () {
                    }
                });
            }
        }


        function exportExcel(e) {
            if ($('#SalesReportTable tbody tr').length == 0) {
                swal("No Data to Export");
            } else {
                var file = new Blob([$('#salesReportDiv').html()], { type: "application/vnd.ms-excel" });
                var url = URL.createObjectURL(file);
                var a = $("<a />", {
                    href: url,
                    download: "SalesPersonWiseCustomerListReport.xls"

                }).appendTo("body").get(0).click();
            }
        }

        function RptValidation() {


            var isValid = true;

            if (($('#productionDate').val() == 0 || $('#productionDate').val() == '')) {
                ValidationColorChangeNew('productionDate', 'divProductionDate', 'Please Select Production Date', true);
                isValid = false;
            }
            //if (($('#toDate').val() == 0 || $('#toDate').val() == '')) {
            //    ValidationColorChangeNew('toDate', 'divToDate', 'Please Select To Order Date', true);
            //    isValid = false;
            //}


            return isValid;
        }

        function groupTable($rows, startIndex, total) {
            if (total === 0) {
                return;
            }
            var i, currentIndex = startIndex, count = 1, lst = [];
            var tds = $rows.find('td:eq(' + currentIndex + ')');
            var ctrl = $(tds[0]);
            lst.push($rows[0]);
            for (i = 1; i <= tds.length; i++) {
                if (ctrl.text() == $(tds[i]).text()) {
                    count++;
                    $(tds[i]).addClass('deleted');
                    lst.push($rows[i]);
                } else {
                    if (count > 1) {
                        ctrl.attr('rowspan', count);
                        groupTable($(lst), startIndex + 1, total - 1)
                    }
                    count = 1;
                    lst = [];
                    ctrl = $(tds[i]);
                    lst.push($rows[i]);
                }
            }
        }
    </script>
}





