﻿@using System.Data
@model System.Data.DataTable
    @{ int count = 1;}
<table id="liveBirdTable" class="table dataTable table-bordered table-striped table-hover">
    <thead>
        <tr style="background-color: aliceblue">
            <th style="text-align: center">SL</th>
            <th style="text-align: center">DressBird No</th>
            <th style="text-align: center">Dressed By</th>
            <th style="text-align: center">Dressed Date</th>
            <th style="text-align: center">From Warehouse</th>
            <th style="text-align: center">To Warehouse</th>
            <th style="text-align: center">Approve By</th>
            <th style="text-align: center">Approve Date</th>
            <th style="text-align: center">Item Name</th>
            <th style="text-align: center">Dressed Qty</th>
            <th style="text-align: center">Dressed Kg</th>
            <th style="text-align: center">Approved Qty</th>
            <th style="text-align: center">Approved Kg</th>
            <th style="text-align: center">Remarks</th>
            <th style="text-align: center">Status</th>
        </tr>

    </thead>
    <tbody class="Traylist">
        @foreach (DataRow row in Model.Rows)
        {
            <tr>
                <td>@count</td>
                <td style="text-align: center">@row.ItemArray[0]</td>
                <td style="text-align: center">@row.ItemArray[1]</td>
                <td style="text-align: center">@row.ItemArray[2]</td>
                <td style="text-align: center">@row.ItemArray[3]</td>
                <td style="text-align: center">@row.ItemArray[4]</td>
                <td style="text-align: center">@row.ItemArray[5]</td>
                <td style="text-align: center">@row.ItemArray[6]</td>
                <td style="text-align: center">@row.ItemArray[7]</td>
                <td style="text-align: center">@row.ItemArray[8]</td>
                <td style="text-align: center">@row.ItemArray[9]</td>
                <td style="text-align: center">@row.ItemArray[10]</td>
                <td style="text-align: center">@row.ItemArray[11]</td>
                <td style="text-align: center">@row.ItemArray[12]</td>
                @if (Convert.ToInt32(row.ItemArray[13]) == 1)
                {
                    <td style="text-align: center;color: lightgreen">Approved</td>
                }
                else
                {
                    <td style="text-align: center;color: red">Not-Approved</td>
                }



            </tr>
            count++;
        }
    </tbody>
</table>

