﻿@model IGFoodProject.Models.DressedBirdMaster
@*<h1>Hi</h1>*@
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">

                        <div class="row">
                            <div class="col-md-3">
                                <h3 class="card-title"><span class="fa fa-eye"></span> Dress Bird </h3>
                            </div>

                        </div>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card-body">
                                <div class="form-group" id="divCompany">
                                    <label for="ddlCustomerType">Live Bird Dress No</label>
                                    <lebel> @Model.DressedBirdNo</lebel>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-body">
                                <div class="form-group" id="divWareHouse">
                                    <label for="ddlWareHouse ">WareHouse</label>
                                    <label>@Model.WareHouseName</label>
                                </div>
                                <div class="form-group" id="divWareHouse">
                                    <label for="ddlWareHouse ">Dressed By</label>
                                    <label>@Model.EmpName</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-body">
                                <div class="form-group" id="divWareHouse">
                                    <label for="ddlWareHouse ">Dressing Date</label>
                                    <label> @Model.DressingDate</label>

                                </div>
                                <div class="form-group" id="divWareHouse">
                                    <label for="ddlWareHouse ">Remarks</label>
                                    <label> @Model.Remarks</label>

                                </div>
                            </div>
                        </div>

                    </div>



                    <div class="row">
                        <div class="card-body table-responsive">
                            <div class="col-md-12">
                                <table id="myTable" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>#SL</th>
                                            <th>Item Description</th>
                                            <th>Item Qty</th>
                                            <th style="display: none">Item Kg</th>
                                            <th>Remarks</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ int sl = 1;
                                            foreach (var item in Model.Details)
                                            {
                                               
                                                <tr>
                                                    <td>@sl</td>
                                                    <td>@item.ItemName</td>
                                                    <td>@item.DressedQty</td>
                                                    <td style="display: none">@item.DressedInKG</td>
                                                    <td>@item.Remark</td>
                                                </tr>
                                                sl++;
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div><!-- /.container-fluid -->

</section>