﻿@model IGFoodProject.Models.RequisitionDetails
@{

    int sl = (int)TempData["trSl"];
}
<tr id="tr_@sl">
    <td>
        @sl
    </td>
    <td>
        <select class="form-control select2" disabled="disabled" style="width: 100%;" id="dllItem_@sl"></select>
        @*onchange="LoadItemStock('dllItem_@sl','txtItemQty_@sl','txtItemKg_@sl','ddlWareHouse')"*@
    </td>
    <td>
        <input type="number" min=0 class="form-control" id="txtItemQty_@sl" disabled="disabled" />
    </td>
    <td>
        <input type="number" min=0 class="form-control" id="txtItemKg_@sl" disabled="disabled" />
    </td>
    <td>
        <input type="number" min=0 class="form-control" id="txtIssueQty_@sl" oninput="CheckValidQtyData('txtItemQty_@sl','txtIssueQty_@sl')" />
    </td>
    <td>
        <input type="number" min=0 class="form-control" id="txtIssueKg_@sl"/>
        @*oninput="CheckValidKgData('txtItemKg_@sl','txtIssueKg_@sl')"*@
    </td>
   
    <td>
        <input type="text" class="form-control" id="txtRemarks_@sl" />
    </td>
    @*<td>
            <div class="form-group">
                <button class="btn btn-primary btn-sm" onclick="AddRow()"><span class="fa fa-plus"></span></button>
                <button class="btn btn-danger btn-sm" onclick="RemoveRow(@sl)"><span class="fa fa-trash"></span></button>
            </div>
        </td>*@
</tr>

<script type="text/javascript">

        @*function LoadItemStock(elementId,elementId1, elementId2,elementId3) {
            
            var item = $('#' + elementId + '').val();
            var wareHouseId = $('#' + elementId3 + '').val();
            var urlpath = '@Url.Action("LoadBirdStock", "LiveBirdDress")';
            $.ajax({
                url:urlpath,
                type: "Get",
                data: { itemId: parseInt(item), wareHouseId: parseInt(wareHouseId) },
                async: false,
                success: function (data) {

                    $('#' + elementId2 + '').val(data.Result.ItemKG);
                    $('#' + elementId1 + '').val(data.Result.ItemQty);
                    }
            });
        }*@

    function CheckValidQtyData(elementId, elementId1) {

        var stockQty = parseFloat($('#' + elementId + '').val());
        var issueQty = parseFloat($('#' + elementId1 + '').val());
        if (issueQty > stockQty || issueQty < 1) {
            $('#' + elementId1 + '').val('');
        }
    }
    function CheckValidKgData(elementId, elementId1) {
        var stockKg = parseFloat($('#' + elementId + '').val());
        var issueKg = parseFloat($('#' + elementId1 + '').val());
        if (issueKg > stockKg || issueKg < 1) {
            $('#' + elementId1 + '').val('');
        }
    }
</script>