﻿@using IGFoodProject.Models
@model  IGFoodProject.Models.DressedBirdMaster
@{
    var sl = 1;
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title"><span class="fa fa-eye"></span> New Live Bird Dressed Approve</h3>
                        <a class="btn btn-outline-warning float-right" asp-action="LiveBirdDressList" asp-controller="LiveBirdDress" onclick="BirdDressList()"><span class="fa fa-list"></span> Dress Bird List </a>
                    </div>

                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divCompany">
                                    <label for="ddlCompany">Company</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlCompany"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divDressDate">
                                    <label for="dressDateId ">Production Date</label>
                                    <input type="text" class="form-control datepicker" id="dressDateId" value="@DateTime.Now.ToString("dd MMM yyyy")" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divLocation">
                                    <label for="ddlLocation">Location</label>
                                    <select class="form-control select2" id="ddlLocation" style="width: 100%;" onchange="LoadWareHouse('ddlWareHouse')"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divReceiveBy">
                                    <label for="empAutoCom">Issue By</label>
                                    <input type="text" class="form-control" id="empAutoCom" value="@Model.EmpName" />
                                    <input type="number" class="form-control" id="employeeSelect" hidden />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divWareHouse">
                                    <label for="ddlWareHouse ">Live Bird WareHouse</label>
                                    <select class="form-control select2" id="ddlWareHouse" onchange="WHChangeClearTable()" style="width: 100%;"></select>
                                </div>
                                <div class="form-group" id="divToWareHouse">
                                    <label for="ddlToWareHouse">Plant Process</label>
                                    <select class="form-control select2" id="ddlToWareHouse" style="width: 100%;"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divDressDate">
                                    <label for="exPurchaseDate ">Remarks</label>
                                    <input type="text" class="form-control" id="RemarksId" Value="@Model.Remarks" />
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-group" id="divReceivedate">
                                    <label for="ddlReceivedate">Receive Date</label>
                                    <select class="form-control select2" id="ddlReceivedate" style="width: 100%;"></select>
                                </div>
                            </div>

                        </div>

                    </div>


                    <div class="row">
                        <div class="card-body table-responsive">
                            <div class="col-md-12">
                                <table id="myTable" class="table table-bordered">
                                    <thead>
                                        <tr style="background-color: aliceblue">
                                            <th>#SL</th>
                                            <th>Item Description</th>
                                            <th>Stock Qty</th>
                                            <th>Stock Kg</th>
                                            <th>Issue Qty</th>
                                            <th>Issue Kg</th>
                                            <th>Approve Qty</th>
                                            <th>Approve Kg</th>
                                            <th>Remarks</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (DressedBirdDetail item in Model.Details)
                                        {
                                            <tr>
                                                <td>
                                                    @sl
                                                </td>
                                                <td>
                                                    <input type="text" min=0 class="form-control" id="txtItemName_@sl" value="@item.ItemName" disabled="disabled"/>
                                                    <input type="number" class="form-control" id="txtItemId_@sl" value="@item.ItemID" hidden/>
                                                    <input type="number" class="form-control" id="txtBirdDetailsId_@sl" value="@item.DressedBirdDetailID" hidden/>
                                                </td>
                                                <td>
                                                    <input type="number" min=0 class="form-control" id="txtItemQty_@sl" value="@item.StockQty" disabled="disabled"/>
                                                </td>
                                                <td>
                                                    <input type="number" min=0 class="form-control" id="txtItemKg_@sl" value="@item.StockKg" disabled="disabled"/>
                                                </td>
                                                <td>
                                                    <input type="number" min=0 class="form-control" id="txtIssueQty_@sl" value="@item.DressedQty" oninput="CheckValidQtyData('txtItemQty_@sl','txtIssueQty_@sl')" disabled="disabled"/>
                                                </td>
                                                <td>
                                                    <input type="number" min=0 class="form-control" id="txtIssueKg_@sl" value="@item.DressedInKG" disabled="disabled"/>
                                                </td>
                                                <td>
                                                    <input type="number" class="form-control" id="txtApproveQty_@sl" value="@item.DressedQty" oninput="CheckValidQtyData('txtIssueQty_@sl','txtApproveQty_@sl')"/>
                                                </td>
                                                <td>
                                                    <input type="number" min=0 class="form-control" id="txtApproveKg_@sl" value="@item.DressedInKG"/>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" id="txtRemarks_@sl" value="@item.Remark"/>
                                                </td>
                                            </tr>
                                            sl++;
                                        }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button class="pull pull-right btn btn-primary" onclick="SaveFinal()">Submit</button>
                                <button class="btn btn-outline-danger  float-right" onclick="location.reload()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
        <input id="txtCustomerId" type="number" style="display:none;" value="@ViewBag.customerid">
    </section>
    @section Scripts{
        <script>
            var AllItemList = {};
            $(function () {
                LoadCompany('ddlCompany');
                $('#ddlCompany').val('7');
                LoadLocation('ddlLocation', 7);
                $("#ddlLocation").val(4).trigger('change');

                $("#ddlWareHouse").val(1);

                LoadDate('#exPurchaseDate');
                LoadDate('#RequisitionDate');
                LoadReceiveDate('ddlReceivedate');
                LoadItemDescription($('#ddlReceivedate').val());
                LoadToWareHouse('ddlToWareHouse');
                $("#ddlToWareHouse").val(2);
                AddRow();

                $("#ddlReceivedate").change(function() {

                    
                    LoadItemDescription($('#ddlReceivedate').val());
                    AddRow();
                });

            });

            function LoadWareHouse(elementId) {

                var location = $('#ddlLocation').val();
                var wareHouseTypeId = 1;
                var urlpath = '@Url.Action("LoadWareHouse", "ItemRequisition")';
                $.ajax({
                    url: urlpath,
                    type: "Get",
                    data: { location: parseInt(location), wareHouseTypeId: wareHouseTypeId },
                    async: false,
                    success: function (data) {

                        $('#' + elementId + '').empty();
                        $('#' + elementId + '').append("<option value='0'>--Select Warehouse--</option>");
                        for (var i = 0; i < data.length; i++) {

                            $('#' + elementId + '').append($("<option></option>").val(data[i].WareHouseId).html(data[i].WareHouseName));
                        }

                    }
                });

            }

            function LoadReceiveDate(elementId) {


                var urlpath = '@Url.Action("LoadReceiveDate", "LiveBirdDress")';
                $.ajax({
                    url: urlpath,
                    type: "Get",
                    data: {},
                    async: false,
                    success: function (data) {

                        $('#' + elementId + '').empty();
                        $('#' + elementId + '').append("<option value='0'>--Select MRR Date--</option>");
                        for (var i = 0; i < data.length; i++) {

                            $('#' + elementId + '').append($("<option></option>").val(data[i].ReceiveDateStr).html(data[i].ReceiveDateStr));
                        }

                    }
                });
                $('#' + elementId + '').prop('selectedIndex', 1);


            }


            function LoadToWareHouse(elementId) {

                var urlpath = '@Url.Action("LoadAllWareHouse", "LiveBirdDress")';
                $.ajax({
                    url: urlpath,
                    type: "Get",
                    data: {},
                    async: false,
                    success: function (data) {

                        $('#' + elementId + '').empty();
                        $('#' + elementId + '').append("<option value='0'>--Select Warehouse--</option>");
                        for (var i = 0; i < data.length; i++) {

                            $('#' + elementId + '').append($("<option></option>").val(data[i].WareHouseId).html(data[i].WareHouseName));
                        }

                    }
                });
            }


            function AddRow() {

                var tr = $('#myTable tbody tr').length + 1;
                var ddlName = 'dllItem_' + tr;
                var txtItemQty = 'txtItemQty_' + tr;
                var txtItemKg = 'txtItemKg_' + tr;

                var urlpath = '@Url.Action("GetAddRow", "LiveBirdDress")';
                $.ajax({
                    url: urlpath,
                    dataType: 'HTML',
                    type: "Get",
                    data: { tr: tr },
                    async: false,
                    success: function (data) {
                        
                        $('#myTable tbody').append(data);
                        LoadItemList(ddlName);
                        $('#' + ddlName + '').prop('selectedIndex', tr);

                        LoadItemStock(ddlName, txtItemQty, txtItemKg, 'ddlWareHouse');
                    }
                });

            }
            function RemoveRow(trId) {
                if (($('#myTable tbody tr').length) > 1) {
                    $('#tr_' + trId + '').remove();
                }

            }
            function LoadItemDescription(mrrdate) {
                $.ajax({
                    url: "/Utility/LoadItemDescriptionForMRRReceive",

                    dataType: 'json',
                    type: "Get",
                    data: { mrrdate: mrrdate },
                    async: false,
                    success: function (data) {

                        AllItemList = data;
                    }
                });
            }
            function LoadItemList(elementId) {

                var itemList = [];
                var rowCount = parseInt($('#myTable tbody tr').length);
                for (var j = 1; j < rowCount; j++) {

                    itemList.push(parseInt($('#dllItem_' + j).val()));
                }

                $('#' + elementId + '').append("<option value='0'>--Select Iitem--</option>");

                for (var i = 0; i < AllItemList.length; i++) {
                    //if (jQuery.inArray(AllItemList[i].ItemId, itemList) == -1) {
                    $('#' + elementId + '').append($("<option></option>").val(AllItemList[i].ItemId).html(AllItemList[i].ItemName));
                    //}

                }
                //$('#' + elementId + '').select2();
            }
            function LoadItemStock(elementId, elementId1, elementId2, elementId3) {

                var item = $('#' + elementId + '').val();
                var wareHouseId = $('#' + elementId3 + '').val();
                var urlpath = '@Url.Action("LoadBirdStock", "LiveBirdDress")';
                $.ajax({
                    url: urlpath,
                    type: "Get",
                    data: { itemId: parseInt(item), wareHouseId: parseInt(wareHouseId) },
                    async: false,
                    success: function (data) {

                        $('#' + elementId2 + '').val(data.Result.ItemKG);
                        $('#' + elementId1 + '').val(data.Result.ItemQty);
                    }
                });
            }

            function SaveValidation() {
                var isValid = true;
                if ($('#dressDateId').val() == null || $('#dressDateId').val() == '') {
                    ValidationColorChangeNew('dressDateId', 'divDressDate', 'Date Required', true);
                    isValid = false;
                }

                if ($('#empAutoCom').val() == 0 || $('#empAutoCom').val() == '') {
                    ValidationColorChangeNew('empAutoCom', 'divReceiveBy', 'Select EmpId', true);
                    isValid = false;
                }


                if ($('#ddlWareHouse').val() == 0 || $('#ddlWareHouse').val() == '') {
                    ValidationColorChangeNew('ddlWareHouse', 'divWareHouse', 'Select Warehouse', true);
                    isValid = false;
                }

                if ($('#ddlToWareHouse').val() == 0 || $('#ddlToWareHouse').val() == '') {
                    ValidationColorChangeNew('ddlToWareHouse', 'divToWareHouse', 'Select To Warehouse', true);
                    isValid = false;
                }


                var rowCount = $('#myTable tbody tr').length;

                for (var i = 0; i < rowCount; i++) {

                    var item = i + 1;
                    //if ($("#dllItem_"+item).val() == 0 || $("#dllItem_"+item).val() == '') {
                    //    ValidationColorChange('dllItem_', "tr" + [i] + "Select an Item", false);
                    //    isValid = false;
                    //}
                    if ($("#txtIssueQty_" + item).val() == 0 || $("#txtIssueQty_" + item).val() == '') {
                        ValidationColorChange('txtIssueQty_', "tr" + [i] + "Input the Quantity", false);
                        isValid = false;
                    }
                    //if ($("#txtIssueKg_" + item).val() == 0 || $("#txtIssueKg_" + item).val() == '') {
                    //    ValidationColorChange('txtIssueKg_', "tr" + [i] + "Input the Kg", false);
                    //    isValid = false;
                    //}

                }

                if (isValid == false) {
                    ShowMessage("Some Values Required");
                }
                return isValid;

            }
            function SaveFinal() {
                
                if (SaveValidation()) {
                    swal({
                        title: "Are you sure?",
                        text: "",
                        type: "success",
                        showCancelButton: true,
                        cancelButtonClass: 'btn-secondary waves-effect',
                        confirmButtonClass: 'btn-success waves-effect waves-light',
                        confirmButtonText: 'Yes!',
                        closeOnConfirm: false

                    }, function () {
                        $('.confirm').prop("disabled", true);
                        $('.cancel').prop("disabled", true);
                        SaveDressBird();

                    });
                }



            }

            function SaveDressBird() {

                var input = $('#empAutoCom').val();
                var fields = input.split(':');
                var empId = fields[0];
                var dressDate = $('#dressDateId').val();
                var wareHouse = parseInt($('#ddlWareHouse').val());
                var remarks = $('#RemarksId').val();
                var jsonData = {};
                jsonData["DressedBirdMasterID"] = @Model.DressedBirdMasterID;
                jsonData["DressingDate"] = dressDate;
                jsonData["WareHouseId"] = wareHouse;
                jsonData["Remarks"] = remarks;
                jsonData["DressedBy"] = empId;
                jsonData["ToWareHouseId"] = parseInt($('#ddlToWareHouse').val());
                var jsonList = [];
                var rowCount = $('#myTable tbody tr').length;
                
                for (var i = 0; i < rowCount; i++) {
                    var id = parseInt($("#txtBirdDetailsId_" + [i + 1] + "").val());
                    var item = parseInt($("#txtItemId_" + [i + 1] + "").val());
                    var issueQty = parseFloat($("#txtIssueQty_" + [i + 1] + "").val());
                    var issueKg = parseFloat($("#txtIssueKg_" + [i + 1] + "").val());
                    var approveQty = parseFloat($("#txtApproveQty_" + [i + 1] + "").val());
                    var approveKg = parseFloat($("#txtApproveKg_" + [i + 1] + "").val());
                    var remarks = $("#txtRemarks_" + [i + 1] + "").val();
                    var jsonobj = {};
                    
                    jsonobj["DressedBirdDetailID"] = id;
                    jsonobj["DressedBirdMasterID"] = @Model.DressedBirdMasterID;
                    jsonobj["ItemID"] = item;
                    jsonobj["DressedQty"] = issueQty;
                    jsonobj["DressedInKG"] = issueKg;
                    jsonobj["ApprovedQty"] = approveQty;
                    jsonobj["ApprovedKG"] = approveKg;
                    jsonobj["Remark"] = remarks;
                    jsonList.push(jsonobj);
                }
                jsonData["Details"] = jsonList;

                var urlpath = '@Url.Action("ApproveDressBird", "LiveBirdDress")';

                $.ajax({
                    contentType: "application/json",
                    data: JSON.stringify(jsonData),
                    dataType: 'json',
                    url: urlpath,
                    type: "POST"
                })
                    .success(function (result) {

                        if (result.isSuccess == true) {

                            swal("SucessFull");
                            window.location.href = '@Url.Action("LiveBirdDressList", "LiveBirdDress")';
                            //window.location.href = '@Url.Action("ProductList", "Product")';


                        }
                    });
            }
            function BirdDressList() {
                window.location.href = '@Url.Action("LiveBirdDressList", "LiveBirdDress")';
            }

            function CheckValidQtyData(elementId, elementId1) {
                
                var stockQty = parseFloat($('#' + elementId + '').val());
                var issueQty = parseFloat($('#' + elementId1 + '').val());
                if (issueQty > stockQty || issueQty < 1) {
                    $('#' + elementId1 + '').val('');
                }
            }
        </script>
    }