﻿@model IEnumerable<IGFoodProject.Models.DressedBirdMaster>

@{
    ViewData["Title"] = "RequisitionList";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="card-title"><span class="fa fa-eye"></span> Dress Bird List </h3>
                            </div>
                            <div class="col-md-6 text-right">
                                <a class="btn btn-outline-warning" onclick="BirdDressEntry()"> <span class="fa fa-plus"></span> New Live Bird Dress </a>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->

                    <div class="card-body">
                        <table class="table dataTable table-bordered table-striped table-hover">
                            <thead>
                                <tr style="background-color: aliceblue">
                                    <th style="text-align: center">SL</th>
                                    <th style="text-align: center">LBD No</th>
                                    <th style="text-align: center">Warehouse Name</th>
                                    <th style="text-align: center">Dress Date</th>
                                    <th style="text-align: center">Dress By</th>
                                    <th style="text-align: center">Remarks</th>
                                    <th style="text-align: center">Action</th>
                                </tr>
                            </thead>
                            <tbody class="Traylist">
                                @{
                                    int i = 1;
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td style='text-align: center'>
                                                @i
                                            </td>
                                            <td style='text-align: center'>@item.DressedBirdNo</td>
                                            <td style='text-align: center'>@item.WareHouseName</td>
                                            <td style='text-align: center'>@Convert.ToDateTime(item.DressingDate).ToString("dd MMM yyyy")  </td>
                                            <td style='text-align: center'>@item.EmpName  </td>
                                            <td style='text-align: center'>@item.Remarks </td>

                                            <td style="text-align: center">

                                                <button type="button" class="btn btn-sm btn-info" onclick="ViewDetails(@item.DressedBirdMasterID)">View Details</button>
                                                @*@if (item.IsApprove == false)
                                                {
                                                    <button>@Html.ActionLink("Approve", "LiveBirdDressApprove", "LiveBirdDress", new { id = @item.DressedBirdMasterID }, new { @class = "btn btn-xs btn-warning" })</button>   
                                                }
                                                else
                                                {
                                                    <button type="button" class="btn btn-sm btn-info" >Approved</button>
                                                }*@
                                            </td>
                                           
                                        </tr>
                                        ++i;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>





        <!-- /.row -->
    </div><!-- /.container-fluid -->


    <div class="modal fadeInUp" id="myModal" role="dialog">
        <div class="modal-dialog modal-md" style="max-width: 80% !important">
            <div class="modal-content">
                <div class="modal-header">

                </div>
                <div class="modal-body" id="LiveBirdDressPartial">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="clsButton" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{
    <script>


        function ViewDetails(id) {
            $('#myModal').modal();
            LoadLiveBirdDressedById(id);
        }
        function LoadLiveBirdDressedById(id) {
            var urlpath = '@Url.Action("ViewLiveBirdDressed", "LiveBirdDress")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'html',
                async: false,
                data: { id: id },
                success: function (data) {
                    $('#LiveBirdDressPartial').empty();

                    $('#LiveBirdDressPartial').html(data);
                }
            });


        }
        function BirdDressEntry() {
            window.location.href = '@Url.Action("Index", "LiveBirdDress")';
        }
    </script>
}