﻿@using System.Data
@model  System.Data.DataTable
@{
    ViewData["Title"] = "RequisitionList";
    int count = 1;
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="card-title">
                                    <span class="fa fa-eye"></span> Dress Bird List
                                </h3>
                            </div>
                            <div class="col-md-6 text-right">
                                <a class="btn btn-outline-warning" onclick="BirdDressEntry()"> <span class="fa fa-plus"></span> New Live Bird Dress </a>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="dressDateId ">Dressed Date</label>
                                    <input type="text" class="form-control datepicker" id="dateRange">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divRequisition">
                                    <label for="ddlRequisition">Item Name<span class="text-danger"> *</span></label>
                                    <select class="form-control " style="width: 100%;" id="ddlItem"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-success" onclick="LoadData()"><span class="fa fa-search"></span> Search</button>
                        <button class="btn btn-success float-right" onclick="exportExcel()"><span class="fa fa-print"></span> Export To Excel</button>
                    </div>
                   
                </div>
                <div class="card divclass">
                    <div class="card-header with-border">
                        <div id="">
                            <h3 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="companyHeader"></h3>
                            <h4 style="text-align: center; font-weight: bold; padding-bottom: 0px; margin-top: 1px" id="reportHeader"></h4>
                            <div class="row">
                                <div class="offset-md-10 col-md-2">
                                    <label id="dateRangeValue"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="showDatge">
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
@section scripts{
    <script>
        $(function() {
            $('#dateRange').daterangepicker({
                locale: {
                    format: 'DD MMM YYYY'
                }
            });
            LoadLocation('ddlItem');
        });

        function LoadLocation(elementId) {
            $.ajax({
                url: "/Utility/LoadItemDescription",
                dataType: 'json',
                type: "Get",
                data: {},
                async: true,
                success: function(data) {
                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Item Name--</option>");
                    for (var i = 0; i < data.length; i++) {
                        $('#' + elementId + '').append($("<option></option>").val(data[i].ItemId).html(data[i].ItemName));
                    }
                }
            });
        }

        function LoadData() {
            
            var array = [];
            var fromDate = $('#dateRange').val();
            array = fromDate.split('-');
            var itemId = parseInt($('#ddlItem').val());
            var urlpath = '@Url.Action("GetLiveBirdDressList", "LiveBirdDress")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'html',
                data: { fromDate: array[0], toDate: array[1], itemId: itemId },
                async: false,
                success: function(data) {
                    $('#companyHeader').text('IGFood Limited');
                    $('#reportHeader').text('Live Bird Dress Report');
                    $('#dateRangeValue').text('Dress Date: ' + fromDate);
                    $('#showDatge').html(data);
                }
            });
        }

        function exportExcel(e) {

            if ($('#liveBirdTable tbody tr').length == 0) {
                swal("No Data to Export");
            } else {

                $('.datatable').DataTable().destroy();
                var file = new Blob([$('.divclass').html()], { type: "application/vnd.ms-excel" });
                var url = URL.createObjectURL(file);
                var a = $("<a />", {
                    href: url,
                    download: "LIveBirdDressReport.xls"
                }).appendTo("body").get(0).click();
                $('.datatable').DataTable();
                e.preventDefault();
            }
        }
    </script>
}