﻿@{
    int sl = Convert.ToInt32(TempData["trSl"]);
    var flag = @ViewBag.eflag;
}
<tr id="tr_@sl">
    <td id="ts_@sl" style="width: 50px">@sl</td>
    <td>
        <select class="form-control select2" id="itemId_@sl" style="width: 100%" onchange="GetItemDetails(@sl)" name="class" ></select>
    </td>
    <td>
        <select class="form-control select2" id="purposeId_@sl" style="width: 100%"></select>
    </td>
    @*<td>
        <input type="text" class="form-control" id="itemName_@sl" style="width: 100%" />
    </td>*@
    @if (@flag == "ed")
    {
        <td>
            <input type="number" class="form-control" id="qty_@sl" oninput="CalculateLineTotal(@sl)" style="width: 100%" />
        </td>
    }
    else
    {
        <td>
            <input type="number" class="form-control" id="qty_@sl" oninput="CalculateLineTotal(@sl)" style="width: 100%" disabled="disabled" />
        </td>
    }

    @if (@flag == "ap")
    {
        <td>
            <input type="number" class="form-control" id="approvedqty_@sl" oninput="CalculateLineTotal(@sl)" style="width: 100%" />
        </td>
    }
    

    <td>
        <select class="form-control select2" id="unit_@sl" style="width: 100%" disabled="disabled"></select>
    </td>
    <td>
        <input type="text" class="form-control" id="remarks_@sl" style="width: 100%" />
    </td>
    <td class="actionHide" style="width: auto">
        <div class="form-group">
            @if (@flag == "ed")
            {
                <button class="btn btn-xs btn-success " id="btnAdd_@sl" onclick="AddRow()"><b>+</b></button>
                <button class="btn btn-xs btn-danger" id="btnRemove_@sl" onclick="RemoveRow(@sl)"><b></b>x</button>
            }
            <input type="number" value="0" style="display: none" id="details_@sl"/>
        </div>
    </td>
</tr>
