﻿
<style>
    .form-control {
        height: calc(1.7rem + 2px);
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                @*<h3 class="card-title">
                                        New Issue Requisition
                                    </h3>*@
                                <a href="@Url.Action("NewRequisition", "OtherPoRequisition", new {id = 0})">
                                    <h3 class="card-title">
                                        @if (ViewBag.RequisitionId == 0)
                                        {
                                            <span class=""> New  Requisition</span>
                                        }
                                        else
                                        {
                                            <span class=""> Edit  Requisition</span>
                                        }
                                    </h3>
                                </a>
                            </div>
                            <div class="col-md-6 text-right">
                                <a class="btn btn-outline-warning" href="@Url.Action("Index", "OtherPoRequisition")">
                                    <span class="fa fa-list"></span> Requisition List
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group" id="divReceiveWarehouse">
                                    <label for="ddlWarehouse">Warehouse</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlWarehouse"></select>
                                </div>
                                <div class="form-group" id="divTolerance">
                                    <label for="ddlTolerance">Tolerance (%)</label>
                                    <select class="form-control " style="width: 100%;" id="ddlTolerance">
                                        <option value="0">Select Tolerance</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divIssueDate">
                                    <label for="txtRequsitionDate">Requisition Date</label>
                                    <input type="text" id="txtRequsitionDate" class="form-control datepicker" value="@DateTime.Now.ToString("dd-MMM-yyyy")" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divPoDate">
                                    <label for="txtPoDate">Expected Purchase Date</label>
                                    <input type="text" id="txtPoDate" class="form-control datepicker" />
                                </div>
                                @*<div class="form-group" id="divDepartment">
                                        <label for="ddlDepartment">Section</label>
                                        <select class="form-control select2" style="width: 100%;" id="ddlDepartment"></select>
                                    </div>*@
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divIssue">
                                    <label for="empAutoCom">Requisition By<span style="color:red;font-weight:bold"> *</span></label>
                                    <input type="text" class="form-control" id="empAutoCom" />
                                    <input type="number" class="form-control" id="employeeSelect" style="display:none" />
                                    @*<label for="ddlRequisitionBy">Requisition By </label>
                                        <select class="form-control select2" style="width: 100%;" id="ddlRequisitionBy"></select>*@
                                </div>
                            </div>
                        </div>
                        <div class="row table-responsive" style="padding-top: 10px">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <table class="table table-bordered table-striped table-hover" id="requisition">
                                        <thead>
                                            <tr>
                                                <th style="width: auto">#</th>
                                                <th style="width: auto">Item Name</th>
                                                <th style="width: auto">Item Description</th>
                                                <th style="width: auto">Required Qty</th>
                                                <th style="width: auto">Unit</th>
                                                <th style="width: auto">Remarks</th>
                                                <th class="action" style="width: 50px">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 10px">
                            <div class="col-md-5">
                            </div>
                            <div class="col-md-7">
                                <div class="form-group row">
                                    <div class="col-sm-3">
                                    </div>
                                    <label for="lblSubTotal" class="col-sm-2 control-label"> Total :</label>
                                    <div class="col-sm-3">
                                        <label id="lblSubTotal">0</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 10px">
                            <div class="col-md-10 offset-1">
                                <div class="form-group row">
                                    <label for="lblSpecialInstruction" class="col-sm-2 control-label">Remarks :</label>
                                    <div class="col-sm-10" id="divSpecialInstruction">
                                        <textarea id="txtaSpecialInstruction" rows="2" cols="100" style="text-align: left"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary" onclick="SaveRequisition()">Submit</button>
                        <a class="btn btn-outline-danger float-right" href="@Url.Action("Index", "OtherPoRequisition")">Cancel</a>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
        <input id="RequisitionId" type="number" style="display: none;" value="@ViewBag.RequisitionId">
        <input id="eflag" type="text" style="display: none;" value="@ViewBag.eflag">
    </div>
</section>
