﻿
@{
    ViewBag.Title = "Purchase Requisition List";
}

<style>
    #manuallist {
        padding: 10px;
    }

    .form-control {
        height: calc(1.7rem + 2px);
    }

    .modal-dialog {
        width: 100%;
        height: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }


    .modal-contents {
        background-color: white;
    }

    .ModalHead {
        background-color: #3C8DBC;
        padding: 15px;
        color: white;
    }

        .ModalHead > h4 {
            color: white;
            padding-left: 10px;
        }

    a#tabA {
        text-decoration: underline;
    }

        a#tabA:hover {
            text-decoration: underline;
            font-size: 17px;
            font-weight: bolder;
            color: green;
        }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">

                        <div class="row">

                            <div class="col-md-6">
                                <h3>Purchase Requisition List </h3>
                            </div>
                            <div class="col-md-6 text-right ">
                                <a class="btn btn-outline-warning" href="@Url.Action("NewRequisition", "OtherPoRequisition")">

                                    <span class="fa fa-plus"></span> New Purchase Requisition

                                </a>
                            </div>

                        </div>



                    </div>
                    <br/>
                    <div class="card-body">
                        <div class="row">


                            <div class="col-md-3">
                                <div class="form-group" id="divFromDate">
                                    <label for="txtFromDate">From  Date</label>
                                    <input type="text" id="txtFromDate" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divToDate">
                                    <label for="txtToDate">To  Date</label>
                                    <input type="text" id="txtToDate" class="form-control" />
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group" id="divReceiveWarehouse">
                                    <label for="ddlWarehouse">Warehouse</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlWarehouse"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divIssue">
                                    <label for="ddlRequisitionBy">Purchase Requisition By </label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlRequisitionBy"></select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <button style="margin-left: 27px;" class="btn btn-primary" onclick="ShowReport()">Search </button>
                        </div>
                    </div>
                    <br />
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body">
                                <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th class="text-center">Purchase Requisition No</th>
                                            <th class="text-center"> Date</th>
                                            <th class="text-center">Expected Purchase Date</th>
                                            <th class="text-center">Location/Wearhouse</th>
                                           
                                            <th class="text-center">Purchase Requisition By </th>
                                            <th class="text-center">Remarks </th>
                                            <th class="text-center">PO Status </th>
                                            <th colspan="2">Action </th>


                                        </tr>
                                    </thead>
                                    <tbody id="manuallist"></tbody>
                                </table>
                            </div>
                        </div>



                    </div>


                </div>

            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->


</section>

<div class="row">

    <div class="modal fade in" id="myModal" role="dialog">
        <div class="modal-dialog listDialog  modal-lg">


            <!-- Modal content-->
            <div class="modal-contents">


                <div class="ModalHead">

                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Requisition Item Details</h4>


                </div>
                <br />
                <div class="container-fluid" id="tabledata">

                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            @*<h2 class="page-header" style="color: darkblue;">
                                    PO Date: <label id="rateOf"></label>

                                </h2>*@


                            @*<div class="row">
                                    <div class="col-md-3 col-xs-6">
                                        <h6> Rate Finalize No. : <label id="rateNo"></label> </h6>
                                    </div>
                                    <div class="col-md-3 col-xs-6">
                                        <h6> Rate Entry By : <label id="entryBy"></label> </h6>
                                    </div>
                                    <div class="col-md-3 col-xs-6">
                                        <h6> Rate Status : <label id="approveStatus"></label> </h6>
                                    </div>
                                    <div class="col-md-3 col-xs-6">
                                        <h6> Rate Approved By : <label id="approveBy"></label> </h6>
                                    </div>



                                </div>*@


                            @*<div class="row">*@
                                <div class="box-body table-responsive" id="MainGradeDiv2">
                                    <br />

                                    <table id="modalTable" class="table table-striped table-bordered">
                                        <thead id="popTab">
                                            <tr>
                                                <th style="text-align: center; color: black; width: 3%; background-color: turquoise; padding-bottom: 2.5%">SL</th>
                                                <th style="text-align: center; color: black; background-color: turquoise; width: 40%">Item Name</th>
                                                <th style="text-align: center; color: black; background-color: turquoise; width: 40%">Unit</th>
                                                @*<th style="text-align: center; color: black; background-color: turquoise; width: 20%">Item Code</th>*@
                                                <th style="text-align: center; color: black; background-color: turquoise; width: 30%">Requisition Qty </th>
                                                @*<th style="text-align: center; color: black; background-color: turquoise; width: 30%">Approved Qty </th>*@
                                       
                                                <th style="text-align: center; color: black; background-color: turquoise; width: 35%">Remarks </th>

                                            </tr>



                                        </thead>
                                        <tbody id="itemDetailsTabBody"></tbody>
                                    </table>
                                </div>
                            @*</div>*@

                        </div>



                    </div>




                </div>




                <br />




                <div class="modal-footer">
                    @*<button class='btn btn-success pull-left' type='button' id="Export" onclick="exportExcel()">
                            <span class="glyphicon glyphicon-export"></span>
                            Export To excel
                        </button>*@
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="closebtn">Close</button>
                </div>
            </div>
        </div>





    </div>

</div>


@section Scripts
{
    <script>
        $(document).ready(function () {
            LoadDate_Pr('#txtFromDate');
            LoadDate_C('#txtToDate');


            LoadReceiveWarehouse();
            GetEmployee();
            ShowReport();

        });
        function LoadDate_Pr(controlName) {
            jQuery(controlName).datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd-M-yyyy'

            }).datepicker("setDate", "-2d");
        }
        function GetEmployee() {
            var urlpath = '@Url.Action("GetIgEmployee", "Utility")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: {},
                async: false,
                success: function (data) {
                    $('#ddlRequisitionBy').append("<option value='0'>--Purchase Requisition By--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#ddlRequisitionBy').append($("<option></option>").val(data[i].EMPID).html(data[i].EmpName));
                    }
                }
            });
        }

        function LoadReceiveWarehouse() {
            //var typeid = $('#ddlWarehouseType').val();
            var warehouseTypeid = 7;
            var urlpath = '@Url.Action("GetDeliveryWarehouse", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { warehouseTypeid: warehouseTypeid },
                async: false,
                success: function (data) {

                    $('#ddlWarehouse ').empty();
                    $('#ddlWarehouse').append("<option value='0'>--Select  Warehouse --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#ddlWarehouse ').append($("<option></option>").val(data[i].WareHouseId).html(data[i].WareHouseName));
                    }
                }
            });
        }
    </script>

    <script>
        function ShowReport() {
            debugger;
            var fromdate;
            var todate;
            var warehouse = 0;
            var reqBy = 0;



            if ($('#txtFromDate').val() == "") {
                swal("Please input from  date");
                return;
            }
            else {
                fromdate = $('#txtFromDate').val();
            }
            if ($('#txtToDate').val() == "") {
                swal("Please input to  date");
                return;
            }
            else {
                todate = $('#txtToDate').val();
            }

            if ($('#ddlWarehouse').val() == "0") {
                warehouse = '0';
            }
            else {
                warehouse = $('#ddlWarehouse').val();
            }
            if ($('#ddlRequisitionBy').val() == "0") {
                reqBy = '0';
            }
            else {
                reqBy = $('#ddlRequisitionBy').val();
            }


            var urlpath = '@Url.Action("GetRequisitionList", "OtherPoRequisition")';
            $.ajax({
                url: urlpath,
                dataType: 'html',
                type: "Get",
                data: { fromdate: fromdate, todate: todate, warehouse: warehouse, reqById: reqBy },
                async: false,
                success: function (data) {

                    data = JSON.parse(data);
                    $("#manuallist").html("");
                    if (data.length > 0) {



                        var row = "";
                        var count = 1;
                        $("#manuallist").html("");

                        var count=1;
                        for (var i = 0; i < data.length; i++) {



                            row += "<tr>";
                            row += "<td style='text-align:center'>" + count + "</td>";
                            row += "<td style='text-align:center'><a id='tabA' type='button' onclick='PopUpDetails(" + data[i].RequisitionMasterId + ")'>" + data[i].RequisitionNo + "</a></td>";

                            row += "<td style='text-align:center'>" + ToJavaScriptDate(data[i].RequisitionDate) + "</td>";
                            row += "<td style='text-align:center'>" + ToJavaScriptDate(data[i].ExpectedPoDate) + "</td>";

                            row += "<td style='text-align:center'>" + data[i].LocationName + '/' + data[i].WareHouseName + "</td>";
                          

                            if (data[i].RequisitionBy === ':') {
                                row += "<td style='text-align:center'></td>";
                            } else {
                                row += "<td style='text-align:center'>" + data[i].RequisitionBy + "</td>";
                            }
                            row += "<td style='text-align:center'>" + data[i].Remarks + "</td>";
                            row += "<td style='text-align:center'>" + data[i].PurchaseStatus + "</td>";

                            //if (data[i].IsApprove > 0) {
                            //    row += "<td style='text-align:center'><a class='btn btn-sm btn-warning' type='button' disabled='disabled' onclick='GoToDo(" + data[i].RequisitionMasterId + ")'>Edit</a></td>";
                            //} else {
                            //    row += "<td style='text-align:center'><a class='btn btn-sm btn-warning' type='button' onclick='GoToDo(" + data[i].RequisitionMasterId + ")'>Edit</a></td>";
                            //}

                            if (data[i].IsApprove == true) {
                                row += "<td style='text-align:center'> Approved </td>";
                                row += "<td style='text-align:center'><button class='btn btn-sm btn-primary showBtn' onclick='GoToDo(" + data[i].RequisitionMasterId + ")'  disabled='disabled'>Edit</button></td>";
                            } else {
                                row += "<td style='text-align:center'> Pending </td>";
                                row += "<td style='text-align:center'><button class='btn btn-sm btn-primary showBtn' onclick='GoToDo(" + data[i].RequisitionMasterId + ")'>Edit</button></td>";
                            }
                         

                            row += "</tr>";
                            count = count + 1;

                        }
                        $("#manuallist").html(row);
                    }
                }
            });
        }


        function GoToDo(soId) {
            window.location = "@Url.Action("NewRequisition", "OtherPoRequisition")" + "?RequisitionId=" + soId;
        }

    </script>


    <script>
        function PopUpDetails(id) {
            ModalPopUp();

            GetDetails(id);

        }
        function GetDetails(id) {
            var urlpath = '@Url.Action("RequisitionDetailsById", "OtherPoRequisition")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { id: id },
                async: false,

                success: function (result) {




                    var row = "";
                    $("#itemDetailsTabBody").html("");
                    for (var i = 0; i < result.length; i++) {

                        row += "<tr>";
                        row += "<td style='text-align : center'>" + (i + 1) + "</td>";
                        row += "<td style='text-align : center'>" + result[i].ItemName + "</td>";
                        //row += "<td style='text-align : center'>" + result[i].ItemCode + "</td>";
                        row += "<td style='text-align : center'>" + result[i].UOMName + "</td>";
                        row += "<td style='text-align : center'>" + result[i].ApprovedQty + "</td>";
                        //row += "<td style='text-align : center'>" + result[i].ApprovedQty + "</td>";
                        row += "<td style='text-align : center'>" + result[i].Remarks + "</td>";




                        row += "</tr>";



                    }


                    $("#modalTable #itemDetailsTabBody").html(row);


                }
            });

        }

        function ModalPopUp() {
            $("#myModal").modal();
        }
        function exportExcel() {

            var a = document.createElement('a');
            //getting data from our div that contains the HTML table
            var data_type = 'data:application/vnd.ms-excel';
            var table_div = document.getElementById('tabledata');
            var table_html = table_div.outerHTML.replace(/ /g, '%20');
            a.href = data_type + ', ' + table_html;
            //setting the file name
            a.download = 'download.xls';
            //triggering the function
            a.click();
            //just in case, prevent default behaviour
            e.preventDefault();
        }
    </script>
}
