﻿@{
    ViewBag.Title = "New Requisition";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var flag = @ViewBag.eflag;
}
<style>
    .form-control {
        height: calc(1.7rem + 2px);
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                @*<h3 class="card-title">
                                        New Issue Requisition
                                    </h3>*@
                                @*<a href="@Url.Action("NewRequisition", "OtherPoRequisition", new {id = 0})">*@
                                <h3 class="card-title">
                                    @if (ViewBag.RequisitionId == 0)
                                    {
                                        <span class=""> New Purchase Requisition</span>
                                    }
                                    else if (ViewBag.eflag == "ap")
                                    {
                                        <span class=""> Approve Purchase Requisition</span>
                                            <span id="txtRequisition"></span>
                                    }
                                    else
                                    {
                                        <span class=""> Edit Purchase Requisition</span>
                                            <span id="txtRequisition"></span>
                                    }
                                </h3>
                                @*</a>*@
                            </div>
                            <div class="col-md-6 text-right">
                                @if (ViewBag.eflag == "ed")
                                {
                                    <a class="btn btn-outline-warning" href="@Url.Action("Index", "OtherPoRequisition")">
                                        <span class="fa fa-list"></span> Purchase Requisition List
                                    </a>
                                }
                                else
                                {
                                    <a class="btn btn-outline-warning" href="@Url.Action("RequisitionApprovalList", "OtherPoRequisition")">
                                        <span class="fa fa-list"></span> Pending Purchase Requisition List
                                    </a>
                                }

                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group" id="divReceiveWarehouse">
                                    <label for="ddlWarehouse">Warehouse</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlWarehouse"></select>
                                </div>

                                <div id="divReqType">
                                    <label for="cashRadio">Requisition Type</label>
                                    <div class="form-group clearfix">
                                        <div class="icheck-success d-inline col-md-6">
                                            <input type="radio" id="RegularRadio" name="reqType" value="0" @*checked=""*@>
                                            <label for="RegularRadio">Regular</label>
                                        </div>
                                        <div class="icheck-success d-inline col-md-6">
                                            <input type="radio" id="LocalRadio" name="reqType" value="1">
                                            <label for="LocalRadio">Local</label>
                                        </div>
                                    </div>

                                </div>
                                @*<div class="form-group" id="divTolerance">
                                        <label for="ddlTolerance">Tolerance (%)</label>
                                        <select class="form-control " style="width: 100%;" id="ddlTolerance">
                                            <option value="0">Select Tolerance</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>*@
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divIssueDate">
                                    <label for="txtRequsitionDate">Purchase Requisition Date</label>
                                    <input type="text" id="txtRequsitionDate" class="form-control datepicker" value="@DateTime.Now.ToString("dd-MMM-yyyy")" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divPoDate">
                                    <label for="txtPoDate">Expected Purchase Date</label>
                                    <input type="text" id="txtPoDate" class="form-control datepicker" autocomplete="off" onchange="requiredDateValidate()" />
                                </div>
                                @*<div class="form-group" id="divDepartment">
                                        <label for="ddlDepartment">Section</label>
                                        <select class="form-control select2" style="width: 100%;" id="ddlDepartment"></select>
                                    </div>*@
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divIssue">
                                    <label for="empAutoCom">Purchase Requisition By<span style="color:red;font-weight:bold"> *</span></label>
                                    <input type="text" class="form-control" id="empAutoCom" />
                                    <input type="number" class="form-control" id="employeeSelect" style="display:none" />
                                    @*<label for="ddlRequisitionBy">Requisition By </label>
                                        <select class="form-control select2" style="width: 100%;" id="ddlRequisitionBy"></select>*@
                                </div>
                            </div>
                        </div>
                        <div class="row table-responsive" style="padding-top: 10px">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <table class="table table-bordered table-striped table-hover" id="requisition">
                                        <thead>
                                            <tr>
                                                <th style="width: auto">#</th>
                                                <th style="width: auto">Item Name</th>
                                                @*<th style="width: auto">Item Description</th>*@
                                                <th style="width: auto">Purpose</th>
                                                <th style="width: auto">Required Qty</th>
                                                @if (@flag == "ap")
                                                {
                                                    <th style="width: auto">Approved Qty</th>
                                                }

                                                <th style="width: auto">Unit</th>
                                                <th style="width: auto">Remarks</th>
                                                <th class="action" style="width: 50px">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 10px">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <div class="col-sm-3">
                                    </div>
                                    <label for="lblSubTotal" class="col-sm-2 control-label"> Total :</label>
                                    <div class="col-sm-3">
                                        <label id="lblSubTotal">0</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (@flag == "ap")
                        {
                            <div class="row" style="padding-top: 10px">
                                <div class="col-md-6">
                                </div>
                                <div class="col-md-6">

                                    <div class="form-group row">
                                        <div class="col-sm-3">
                                        </div>
                                        <label for="lblApproveSubTotal" class="col-sm-2 control-label">Approve Total :</label>
                                        <div class="col-sm-3">
                                            <label id="lblApproveSubTotal">0</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="row" style="padding-top: 10px">
                            <div class="col-md-10 offset-1">
                                <div class="form-group row">
                                    <label for="lblSpecialInstruction" class="col-sm-2 control-label">Note :</label>
                                    <div class="col-sm-10" id="divSpecialInstruction">
                                        <textarea id="txtaSpecialInstruction" rows="2" cols="100" style="text-align: left"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        @*<button class="btn btn-primary" onclick="SaveRequisition()">Submit</button>
                            @if (@ViewBag.RequisitionId > 0)
                            {
                                <button class="btn btn-danger" onclick="Reject()">Reject</button>

                            }*@
                        @if (@ViewBag.eflag == "ed")
                        {
                            <button class="btn btn-primary" onclick="SaveRequisition()">Submit</button>
                        }
                        @if (@ViewBag.eflag == "ap")
                        {
                            <button class="btn btn-primary" onclick="SaveRequisition()">Approve</button>
                            <button class="btn btn-danger" onclick="Reject()">Reject</button>

                        }

                        <a class="btn btn-outline-danger float-right" href="@Url.Action("Index", "OtherPoRequisition")">Cancel</a>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
        <input id="RequisitionId" type="number" style="display: none;" value="@ViewBag.RequisitionId">
        <input id="eflag" type="text" style="display: none;" value="@ViewBag.eflag">
    </div>
</section>
@section Scripts
{
    <script>
        var ItemList = {};
        var UOMList = {};
        var PurposeList = {};
        var DeleteItemDetails = [];
        $(document).ready(function() {
            LoadReceiveWarehouse();
            $('#txtRequsitionDate').datepicker({
                endDate: new Date(),
                autoclose: true,
                todayHighlight: true,
                format: 'dd-M-yyyy'
            });
            LoadDate('#txtPoDate');
            GetItem();
            GetUOM();
            GetDepartment();
            GetEmployee();
            GetPurpose();
            EmpAutoCom('empAutoCom', 'employeeSelect');
            var requisitionId = $('#RequisitionId').val();
            if (requisitionId > 0) {
                GetRequisitionMaster(requisitionId);
            } else {
                AddRow();
            }
        });
        function requiredDateValidate() {
            //var requiredDate = $('#txtPoDate').val();
            //var requsitionDate = $('#txtRequsitionDate').val();
            var poDate = new Date($('#txtPoDate').val());
            var reDate = new Date($('#txtRequsitionDate').val());
            debugger;
            if (poDate < reDate) {
                ValidationColorChangeNew("txtPoDate", "divPoDate", "Expected Purchase  Date  Cannot be Backdate", false);
                $('#txtPoDate').val('');
            }

        }
        function GetRequisitionMaster(id) {
            var urlpath = '@Url.Action("GetRequisitionByMasterId", "OtherPoRequisition")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { id: id },
                async: false,
                success: function(data) {
                    debugger;
                    $('#txtRequsitionDate').val(ToJavaScriptDate(data.RequisitionDate));
                    $('#txtPoDate').val(ToJavaScriptDate(data.ExpectedPoDate));
                    $("#ddlWarehouse").val(data.WarehouseId).trigger('change');
                    $("#ddlRequisitionBy").val(data.RequisitionBy).trigger('change');
                    $("#txtaSpecialInstruction").val(data.Remarks);
                    $("#ddlTolerance").val(data.TolerancePercent);
                    $("#txtRequisition").html("(Requisition No : " + data.RequisitionNo + ")");

                    if (data.IsLocal == true) {
                        $('#LocalRadio').prop('checked', true);

                    }
                    else if (data.IsLocal == false) {
                        $('#RegularRadio').prop('checked', true);

                    }
                    for (var i = 0; i < data.PoRequisitionDetailses.length; i++) {
                        debugger;
                        var tr = $('#requisition tbody tr').length + 1;
                        AddRow();
                        $("#itemId_" + tr).val(data.PoRequisitionDetailses[i].ItemId).trigger('change');
                        $("#purposeId_" + tr).val(data.PoRequisitionDetailses[i].PurposeID).trigger('change');
                        //$('#itemName_' + tr).val(data.PoRequisitionDetailses[i].ItemDescription);
                        $('#qty_' + tr).val(data.PoRequisitionDetailses[i].RequisitionQty);
                        $('#approvedqty_' + tr).val(data.PoRequisitionDetailses[i].RequisitionQty);

                        $("#unit_" + tr).val(data.PoRequisitionDetailses[i].UOMId).trigger('change');
                        $('#details_' + tr).val(data.PoRequisitionDetailses[i].RequisitionDetailsId);
                        $('#remarks_' + tr).val(data.PoRequisitionDetailses[i].Remarks);
                        CalculateLineTotal(tr);
                    }
                }
            });
        }

        function SaveRequisition() {
            if (SaveValidation() == true) {
                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false
                }, function() {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveFinal();
                });
            }
        }

        function SaveFinal() {
            debugger;
            var jsonData = {};
            var input = $('#empAutoCom').val();
            var fields = input.split(':');
            var empId = fields[0];
            var tolerance = parseInt($('#ddlTolerance').val());
            jsonData["RequisitionMasterId"] = $('#RequisitionId').val();
            jsonData["RequisitionDate"] = $('#txtRequsitionDate').val();
            jsonData["ExpectedPoDate"] = $('#txtPoDate').val();
            jsonData["WarehouseId"] = $('#ddlWarehouse').val();
            jsonData["RequisitionBy"] = empId; //$('#ddlRequisitionBy').val();
            jsonData["TolerancePercent"] = tolerance;
            jsonData["Remarks"] = $('#txtaSpecialInstruction').val().trim();
            jsonData["IsApprove"] = false;
            var typ = parseFloat($('input[name="reqType"]:checked').val());
            jsonData["IsLocal"] = typ;
            jsonData["eflag"] = $('#eflag').val();
            var jsonObjs = [];
            $('#requisition tbody tr').each(function() {
                var theObj = {};
                var idr = $(this).attr('id');
                var id = idr.substring(3);
                var detailsId = isNaN($('#details_' + id).val()) ? 0 : $('#details_' + id).val();
                var itemId = isNaN(parseFloat($('#itemId_' + id).val())) ? 0 : parseFloat($('#itemId_' + id).val());
                var unit = isNaN(parseFloat($('#unit_' + id).val())) ? 0 : parseFloat($('#unit_' + id).val());
                var remarks = $('#remarks_' + id).val();
                var qty = isNaN(parseFloat($('#qty_' + id).val())) ? 0 : parseFloat($('#qty_' + id).val());
                var purposeId = isNaN(parseFloat($('#purposeId_' + id).val())) ? 0 : parseFloat($('#purposeId_' + id).val());
                var aqty = isNaN(parseFloat($('#approvedqty_' + id).val())) ? 0 : parseFloat($('#approvedqty_' + id).val());

                debugger;
                theObj["RequisitionDetailsId"] = detailsId;
                theObj["ItemId"] = itemId;
                theObj["RequisitionQty"] = qty;
                theObj["ApprovedQty"] = aqty;
                theObj["PurposeID"] = purposeId;
                theObj["Remarks"] = remarks;
                theObj["eflag"] = $('#eflag').val();
                jsonObjs.push(theObj);
            });
            if (isNaN(parseInt($('#RequisitionId').val())) ? 0 : parseInt($('#RequisitionId').val()) > 0) {
                for (var ind = 0; ind < DeleteItemDetails.length; ind++) {
                    jsonObjs.push(DeleteItemDetails[ind]);
                }
            }
            debugger;
            jsonData["PoRequisitionDetailses"] = jsonObjs;
            var urlpath = '@Url.Action("SavePoRequisition", "OtherPoRequisition")';
            $.ajax({
                    contentType: "application/json",
                    data: JSON.stringify(jsonData),
                    dataType: 'json',
                    url: urlpath,
                    type: "POST"
                })
                .success(function(result) {
                    if (result.pk > 0) {
                        swal({
                            title: " Saved Successfull",
                            text: '',
                            type: "success",
                            showCancelButton: false,
                            cancelButtonClass: 'btn-secondary waves-effect',
                            confirmButtonClass: 'btn-success waves-effect waves-light',
                            confirmButtonText: 'Yes!',
                            closeOnConfirm: false
                        }, function() {
                            @*window.location.href = '@Url.Action("Index", "OtherPoRequisition")';*@
                            var eflag = $('#eflag').val();
                            if (eflag == "ed") {
                                window.location.href = '@Url.Action("Index", "OtherPoRequisition")';
                            } else {
                                window.location.href = '@Url.Action("RequisitionApprovalList", "OtherPoRequisition")';
                            }
                        });
                    }
                });
        }


        function Reject() {

                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false
                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    RejectFinal();
                });

        }
        function RejectFinal() {



            var id = $('#RequisitionId').val();
            debugger;
            var urlpath = '@Url.Action("Reject", "OtherPoRequisition")';

            $.ajax({

                //contentType: "application/json",
                data: {id:id},
                dataType: "json",
                url: urlpath,
                type: "POST"
            })
                .success(function (result) {
                    console.log(result);
                    if (result.isSuccess == true) {
                        swal({
                            title: " Reject Successfull",
                            text: '',
                            type: "success",
                            showCancelButton: false,
                            cancelButtonClass: 'btn-secondary waves-effect',
                            confirmButtonClass: 'btn-success waves-effect waves-light',
                            confirmButtonText: 'Yes!',
                            closeOnConfirm: false
                        }, function() {
                            window.location.href = '@Url.Action("RequisitionApprovalList", "OtherPoRequisition")';
                        });
                    }

                });
        }
        function SaveValidation() {
            var isValid = true;
            var message = "Some Values Required";
            if ($('#txtRequsitionDate').val() == '' || $('#txtRequsitionDate').val() == null) {
                ValidationColorChangeNew("txtRequsitionDate", "divIssueDate", "Issue Date Required", false);
                isValid = false;
            }
            if ($('#txtPoDate').val() == '' || $('#txtPoDate').val() == null) {
                ValidationColorChangeNew("txtPoDate", "divPoDate", "Expected Purchase Date Required", false);
                isValid = false;
            }
            if ($('#ddlWarehouse').val() == 0 || $('#ddlWarehouse').val() == '') {
                ValidationColorChangeNew("ddlWarehouse", "divReceiveWarehouse", " Warehouse Required", true);
                isValid = false;
            }
            //if ($('#ddlDepartment').val() == 0 || $('#ddlDepartment').val() == '') {
            //    ValidationColorChangeNew("ddlDepartment", "divDepartment", "Section Required", true);
            //    isValid = false;
            //}
            var poDate = new Date($('#txtPoDate').val());
            var reDate = new Date($('#txtRequsitionDate').val());

            if (poDate < reDate) {
                ValidationColorChangeNew("txtPoDate", "divPoDate", "Expected Purchase Date Required Cannot be Backdate", false);
                isValid = false;
            }
            if ($('#requisition tbody tr').length == 0 || $('#requisition tbody tr').length == '') {
                isValid = false;
                message = "Item Required";
            }

            var typ = $('input[name="reqType"]:checked').val();

            if (typ === undefined) {
                ValidationColorChangeNew("divReqType", "divReqType", "Please Select Type.", false);
                isValid = false;
            }

            var eflag = $('#eflag').val();
            $('#requisition tbody tr').each(function () {

                var idr = $(this).attr('id');
                var id = idr.substring(3);
                var itemId = isNaN(parseFloat($('#itemId_' + id).val())) ? 0 : parseFloat($('#itemId_' + id).val());
                var _qty = isNaN(parseFloat($('#qty_' + id).val())) ? 0 : parseFloat($('#qty_' + id).val());
                var _unit = $('#unit_' + id).val();
                var aqty = isNaN(parseFloat($('#approvedqty_' + id).val())) ? 0 : parseFloat($('#approvedqty_' + id).val());

                var purpose = isNaN(parseFloat($('#purposeId_' + id).val())) ? 0 : parseFloat($('#purposeId_' + id).val());
                //  var stockqty = isNaN(parseFloat($('#stockqty_' + id).text())) ? 0 : parseFloat($('#stockqty_' + id).text());
                if (itemId === 0) {
                    isValid = false;
                    message = "Please select Item";
                    $('#itemId_' + id).css('border-bottom', '2px solid red');
                    return;
                }
                if (_qty === 0) {
                    isValid = false;
                    message = "Qty Cannot be 0 ";
                    $('#qty_' + id).css('border-bottom', '2px solid red');
                    return;
                }
                if (_unit === 0) {
                    isValid = false;
                    message = "Please select Unit";
                    $('#unit_' + id).css('border-bottom', '2px solid red');
                    return;
                }
                if (purpose === 0) {
                    isValid = false;
                    message = "Please select Purpose";
                    $('#purpose_' + id).css('border-bottom', '2px solid red');
                    return;
                }
                if (eflag === "ap" && aqty === 0) {
                    isValid = false;
                    message = "Approve Qty cannot be 0 ";
                    $('#approvedqty_' + id).css('border-bottom', '2px solid red');

                    return;
                }
                //if (_qty >stockqty) {
                //    isValid = false;
                //    message = "Qty Must be less than Stock Qty ";
                //    $('#qty_' + id).css('border-bottom', '2px solid red');
                //    return;
                //}
            });
            if (isValid == false) {
                ShowMessage(message);
            }
            return isValid;
        }

        function CalculateLineTotal(slId) {
            var lineAmount = 0;
            var qty = isNaN(parseFloat($('#qty_' + slId).val())) ? 0 : parseFloat($('#qty_' + slId).val());
            var grandQty = 0;
            var agrandQty = 0;
            var grandTotal = 0;
            var proCout = 0;
            debugger;
            var apQty = isNaN(parseFloat($('#approvedqty_' + slId).val())) ? 0 : parseFloat($('#approvedqty_' + slId).val());

            if (apQty > qty) {

                var message = "Qty Must be less than Required Qty ";
                $('#approvedqty_' + slId).css('border-bottom', '2px solid red');
                ShowMessage(message);
                $('#approvedqty_' + slId).val(0);
            }





            $('#requisition tbody tr').each(function() {
                var idr = $(this).attr('id');
                var id = idr.substring(3);
                var itemId = isNaN(parseFloat($('#itemId_' + id).val())) ? 0 : parseFloat($('#itemId_' + id).val());
                var _qty = isNaN(parseFloat($('#qty_' + id).val())) ? 0 : parseFloat($('#qty_' + id).val());
                var aqty = isNaN(parseFloat($('#approvedqty_' + id).val())) ? 0 : parseFloat($('#approvedqty_' + id).val());

                grandQty += _qty;
                agrandQty += aqty;
                if (itemId > 0) {
                    proCout = proCout + 1;
                }
            });
            $('#txtTotalQty').val(grandQty.toFixed(2));
            $('#lblSubTotal').html(grandQty.toFixed(2));
            $('#lblApproveSubTotal').html(agrandQty.toFixed(2));
        }

         function GetItemDetails(slId) {
            debugger;
         var itemId = $('#itemId_' + slId).val();
         var count = 0;
         $('#requisition tbody tr').each(function() {
                var idr = $(this).attr('id');
                var id = idr.substring(3);
                var ChkitemId = isNaN(parseFloat($('#itemId_' + id).val())) ? 0 : parseFloat($('#itemId_' + id).val());
               if (itemId == ChkitemId) {
                   count = count + 1;
               }

         });
        if (count > 1)
        {
         $('#itemId_' + slId).val(0).trigger('change');
             ShowMessage("Duplicate item Select another item! ");

            return;
        }

           // var itemId = $('#itemId_' + slId).val();
            var urlpath = '@Url.Action("GetItemDetails", "PurchaseOrderOther")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'json',
                data: { itemId: itemId },
                async: false,
                success: function(data) {
                    debugger;
                    $("#itemName_" + slId).val('');
                    $("#itemName_" + slId).val(data.Item_Description);
                    $("#unit_" + slId).val(data.UOMId).trigger('change');
                }
            });


        }

        function RemoveRow(id) {
            debugger;
            var trLength = $('#requisition tbody tr:visible').length;
            if (trLength == 1) {
                $('#itemId_' + id).val(0).trigger('change');
                $('#itemName_' + id).val('');
                $('#qty_' + id).val(0);
                $('#unit_' + id).val(0).trigger('change');
            }
            if (trLength > 1) {
                var detailsId = $('#details_' + id).val();
                if (detailsId > 0) {
                    var itemId = isNaN(parseFloat($('#itemId_' + id).val())) ? 0 : parseFloat($('#itemId_' + id).val());
                    var delObj = {};
                    delObj["RequisitionDetailsId"] = detailsId;
                    delObj["RequisitionMasterId"] = $('#RequisitionId').val();
                    delObj["ItemId"] = itemId;
                    delObj["IsDelete"] = true;
                    delObj["eflag"] = $('#eflag').val();
                    DeleteItemDetails.push(delObj);
                }
                $('#tr_' + id).remove();
                SerialTable();
                CalculateLineTotal(id);
            } else {
                return;
            }
        }
        function GetPurpose() {
            var urlpath = '@Url.Action("GetRequisitionPurpose", "StockOut")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: {},
                async: false,
                success: function (data) {
                    PurposeList = data;
                }
            });
        }
        function LoadPurposeInRow(elementId) {

            $('#' + elementId + '').append("<option value='0'>--Purpose--</option>");
            for (var i = 0; i < PurposeList.length; i++) {

                $('#' + elementId + '').append($("<option></option>").val(PurposeList[i].PurposeID).html(PurposeList[i].PurposeName));
            }
        }
        function AddRow() {
            var tr = $('#requisition tbody tr').length + 1;
            var eflag = $('#eflag').val();
            var values = $("#requisition tbody tr")
                .map(function() { return parseInt($(this).attr('id').substring(3)); }).get();
            var index = values.indexOf(tr);
            if (index >= 0) {
                tr = Math.max.apply(Math, values) + 1;
            }
            var urlpath = '@Url.Action("AddRowForRequisition", "OtherPoRequisition")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'html',
                data: { tr: tr, eflag: eflag },
                async: false,
                success: function(data) {
                    $('#requisition tbody').append(data);
                    LoadItemInRow("itemId_" + tr);
                    LoadUOMInRow("unit_" + tr);
                    LoadPurposeInRow("purposeId_" + tr);

                }
            });
            $('#itemId_' + tr).select2();
            $('#unit_' + tr).select2();
            $('#purposeId_' + tr).select2();
            SerialTable();
            debugger;
            var eflag = $('#eflag').val();
            if (eflag == "ed") {
                $('.aHide').hide();
            } else {
                $('.aHide').show();
            }
            //CalculateAll();
        }

        function SerialTable() {
            $('#requisition tbody tr').each(function(index, element) {
                var idr = $(this).attr('id');
                var id = idr.substring(3);
                $('#ts_' + id).html(index + 1);
            });
        }

        function LoadItemInRow(elementId) {
            $('#' + elementId + '').append("<option value='0'>--Select Item Name--</option>");
            for (var i = 0; i < ItemList.length; i++) {
                $('#' + elementId + '').append($("<option></option>").val(ItemList[i].ItemId).html(ItemList[i].ItemCode));
            }
        }

        function LoadUOMInRow(elementId) {
            $('#' + elementId + '').append("<option value='0'>--Unit--</option>");
            for (var i = 0; i < UOMList.length; i++) {
                $('#' + elementId + '').append($("<option></option>").val(UOMList[i].UOMId).html(UOMList[i].UOMName));
            }
        }

        function GetItem() {
            var urlpath = '@Url.Action("GetItem", "PurchaseOrderOther")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: {},
                async: false,
                success: function(data) {
                    ItemList = data;
                }
            });
        }

        function GetUOM() {
            var urlpath = '@Url.Action("LoadUOM", "PurchaseOrderOther")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: {},
                async: false,
                success: function(data) {
                    UOMList = data;
                }
            });
        }

        function GetDepartment() {
            var urlpath = '@Url.Action("GetDepartment", "Utility")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: {},
                async: false,
                success: function(data) {
                    $('#ddlDepartment').append("<option value='0'>--Section--</option>");
                    for (var i = 0; i < data.length; i++) {
                        $('#ddlDepartment').append($("<option></option>").val(data[i].DepartmentId).html(data[i].DepartmentName));
                    }
                }
            });
        }

        function GetEmployee() {
            var urlpath = '@Url.Action("GetIgEmployee", "Utility")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: {},
                async: false,
                success: function(data) {
                    $('#ddlRequisitionBy').append("<option value='0'>--Requisition By--</option>");
                    for (var i = 0; i < data.length; i++) {
                        $('#ddlRequisitionBy').append($("<option></option>").val(data[i].EMPID).html(data[i].EmpName));
                    }
                }
            });
        }

        function LoadReceiveWarehouse() {
            //var typeid = $('#ddlWarehouseType').val();
            var warehouseTypeid = 0;
            var urlpath = '@Url.Action("GetDeliveryWarehouse_OtherPurchase", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { warehouseTypeid: warehouseTypeid },
                async: false,
                success: function(data) {
                    $('#ddlWarehouse ').empty();
                    $('#ddlWarehouse').append("<option value='0'>--Select  Warehouse --</option>");
                    for (var i = 0; i < data.length; i++) {
                        $('#ddlWarehouse ').append($("<option></option>").val(data[i].WareHouseId).html(data[i].WareHouseName));
                    }
                }
            });
        }
    </script>
}

