﻿@{
    ViewBag.Title = "Invoice Entry";
}
<style>
    #manuallist {
        padding: 10px;
    }
    .form-control {
        height: calc(1.7rem + 2px);
    }
    .modal-dialog {
        width: 100%;
        height: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .modal-contents {
        background-color: white;
    }
    .ModalHead {
        background-color: #3C8DBC;
        padding: 15px;
        color: white;
    }
        .ModalHead > h4 {
            color: white;
            padding-left: 10px;
        }
    a#tabA {
        text-decoration: underline;
    }
        a#tabA:hover {
            text-decoration: underline;
            font-size: 17px;
            font-weight: bolder;
            color: green;
        }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Generate Invoice  </h3>
                            </div>
                            <div class="col-md-6 text-right ">
                                <a class="btn btn-outline-warning" href="@Url.Action("Index", "InvoiceBirdPurchase")">
                                    <span class="fa fa-list"></span> Generated Invoice List
                                </a>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="card-body">
                        <div class="row" style="padding-left: 20px;padding-right: 20px;">
                            <div class="col-md-4">
                                <div class="form-group" id="divSupplier">
                                    <label for="ddlSupplier">Supplier:</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlSupplier" onchange="ShowReport()"></select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" id="divMrrDate">
                                    <label for="txtInvoiceDate">Invoice Date:</label>
                                    <input type="text" id="txtInvoiceDate" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" id="divTaxGroup">
                                    <label for="txtTaxGroup">Tax Group:</label>
                                    <input type="text" id="txtTaxGroup" class="form-control" readonly="readonly" />
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-left: 20px; padding-right: 20px;">
                            <div class="col-md-4">
                                <div class="form-group" id="divSupplierRef">
                                    <label for="txtSupplierRef">Supplier Ref:</label>
                                    <input type="text" id="txtSupplierRef" class="form-control"/>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" id="divDueDate">
                                    <label for="txtDueDate">Due Date:</label>
                                    <input type="text" id="txtDueDate" class="form-control"/>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" id="divCredit">
                                    <label for="txtCredit">Currrent Credit:</label>
                                    <input type="text" id="txtCredit" class="form-control" readonly="readonly"/>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-left: 20px;padding-right: 20px;">
                            <div class="col-md-4">
                                <div class="form-group" id="divBill">
                                    <label for="txtBill">Bill No:</label>
                                    <input type="text" id="txtBill" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" id="divBlDate">
                                    <label for="txtBlDate">Bill Date:</label>
                                    <input type="text" id="txtBlDate" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                @*<div class="form-group" id="divMrrNo">
                                        <label for="ddlMrr">MRR No:</label>
                                        <select class="form-control select2" style="width: 100%;" id="ddlMrr"></select>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                    @*<div class="row">
                        <div class="col-md-2 pull-right offset-10">
                            <button style="margin-left: 27px;" class="btn btn-primary" onclick="ShowReport()">Load </button>
                        </div>
                    </div>*@
                    <br />
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body">
                                <h4 class="text-center" style="width: 100%;background-color: #007bff;color:black">MRR For Invoice</h4>
                                <div class="table-responsive">
                                    <table id="myTable" class="table table-bordered table-striped table-hover">
                                        <thead>
                                            <tr style="text-align: center; color: black; width: 3%; background-color: turquoise;">
                                                <th style="text-align:center;">Check</th>
                                                <th class="text-center" style="width:3%">#</th>
                                                <th class="text-center" style="width:10%">MRR No</th>
                                                <th class="text-center" style="width:10%">PO No</th>
                                                <th>MRR Descrption/Item Description</th>
                                                <th>Received On</th>
                                                <th>Amount Invoiced</th>
                                                <th>Rest Amount</th>
                                                <th>Amount (Inc. Vat)</th>
                                            </tr>
                                        </thead>
                                        <tbody id="manuallist"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top:10px">
                        <div class="col-md-8">
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <div class="col-sm-4">
                                </div>
                                <label for="lblSubTotalAmount" class="col-sm-3 control-label">Net Pay :</label>
                                <div class="col-sm-4">
                                    <input type="number" class="form-control" id="lblSubTotalAmount" readonly>
                                    <input class="form-control" type="hidden" id="vatAmt" readonly>
                                </div>
                                <div class="col-sm-1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top:10px">
                        <div class="col-md-8">
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <div class="col-sm-4">
                                </div>
                                <label for="ddlvat" class="col-sm-3 control-label">Vat (%):</label>
                                <div class="col-sm-4">
                                    <input type="number" class="form-control" id="ddlvat" aria-describedby="basic-addon3" oninput="CalculateAll()">
                                </div>
                                <div class="col-sm-1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top:10px">
                        <div class="col-md-8">
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <div class="col-sm-4">
                                </div>
                                <label for="lblTotal" class="col-sm-3 control-label">Invoice Amt. (Exc. Vat):</label>
                                <div class="col-sm-4">
                                    <input type="number" class="form-control" id="lblTotal" readonly>
                                </div>
                                <div class="col-sm-1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 pull-left offset-6">
                            <button style="margin-left: 27px;" class="btn btn-primary" onclick="Save()">Save Bill </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<div class="row">
    <div class="modal fade in" id="myModal" role="dialog">
        <div class="modal-dialog listDialog  modal-lg">
            ">
            <!-- Modal content-->
            <div class="modal-contents">
                <div class="ModalHead">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">MRR Item Details</h4>
                </div>
                <br />
                <div class="container-fluid" id="tabledata">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="box-body table-responsive" id="MainGradeDiv2" style="width: 100%;">
                                    <br />
                                    <table id="modalTable" class="table table-striped table-bordered">
                                        <thead id="popTab">
                                            <tr>
                                                <th style="text-align: center; color: black; width: 3%; background-color: turquoise; padding-bottom: 2.5%">SL</th>
                                                <th style="text-align: center; color: black; background-color: turquoise; width: 40%">Item Name</th>
                                                <th style="text-align: center; color: black; background-color: turquoise; width: 20%">Purchase Qty</th>
                                                <th style="text-align: center; color: black; background-color: turquoise ;width: 30%">MRR Qty </th>
                                                <th style="text-align: center; color: black; background-color: turquoise ;width: 30%">MRR KG </th>
                                            </tr>
                                        </thead>
                                        <tbody id="itemDetailsTabBody"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="closebtn">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        $(document).ready(function() {
            LoadDate_C('#txtInvoiceDate');
            LoadDate('#txtBlDate');
            LoadDate_Pr('#txtDueDate');
            LoadSupplier();
        });
        function LoadDate_Pr(controlName) {
            jQuery(controlName).datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd-M-yyyy'
            }).datepicker("setDate", "+30d");
        }
        function LoadSupplier() {
            var urlpath = '@Url.Action("LoadSupplier", "PurchaseOrder")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: {},
                async: false,
                success: function(data) {
                    $('#ddlSupplier').empty();
                    $('#ddlSupplier').append("<option value='0'>--Select Supplier--</option>");
                    for (var i = 0; i < data.length; i++) {
                        $('#ddlSupplier').append($("<option></option>").val(data[i].SupplierID).html(data[i].SupplierName));
                    }
                }
            });
        }
        function ShowReport() {
            debugger;
            var supplierId = $('#ddlSupplier').val();
            var mrrDate = $('#txtInvoiceDate').val();
            var mrrId = 0;
            if ($('#ddlMrr').val() == "0") {
                mrrId = '0';
            } else {
                mrrId = $('#ddlMrr').val();
            }
            var urlpath = '@Url.Action("LoadMrrInfo", "InvoiceBirdPurchase")';
            $.ajax({
                url: urlpath,
                dataType: 'html',
                type: "Get",
                data: { supplierId: supplierId },
                async: false,
                success: function(data) {
                    data = JSON.parse(data);
                    $("#manuallist").html("");
                    if (data.length > 0) {
                        var row = "";
                        var count = 1;
                        $("#manuallist").html("");
                        var count = 1;
                        for (var i = 0; i < data.length; i++) {
                            row += "<tr id='trmain" + count + "'>";
                            row += "<td style='text-align:center'><input type='checkbox'  class='form-check-input chkp'  id='chk_" + count + "' onclick='checkBoxEvent("+count+")' /></td>";
                            row += "<td style='text-align:center'>" + count + "</td>";
                            row += "<td style='display: none;'><input type='text'  style='display: none;'  id='mrrId_" + count + "' value = '" + data[i].MRRrOtherID + "'  /></td>";
                            row += "<td style='display: none;'><input type='text'  style='display: none;'  id='mrrDate_" + count + "' value = '" + ToJavaScriptDate(data[i].MRRDate) + "'  /></td>";
                            row += "<td style='text-align:center'><a id='tabA' type='button' onclick='PopUpDetails(" + data[i].MRRrOtherID + ")'>" + data[i].MrrNo + "</a></td>";
                            if (data[i].PurchaseOrderNo !=null ) {
                                row += "<td style='text-align:center'>" + data[i].PurchaseOrderNo + "</td>";
                            } else {
                                row += "<td style='text-align:center'></td>";
                            }
                            row += "<td style='text-align:center;'><label id='ItemDescription_" + count + "'>" + data[i].ItemDescription + " </label></td>";
                            row += "<td style='text-align:center'>" + ToJavaScriptDate(data[i].MRRDate) + "</td>";
                            row += "<td style='text-align:center'>" + data[i].BillQuantity + "</td>";
                            row += "<td style='text-align:center;'><label id='RcvtQty_" + count + "'>" + data[i].TotalAmount + " </label></td>";
                            row += "<td style='text-align:center;width:10%'><input type='number' min='0'   oninput='limitDecimals(this);CalculateAll()' id='txtInvoiceQty_" + count + "' class='form-control' disabled='disabled'/></td>";
                            row += "</tr>";
                            count = count + 1;
                        }
                        $("#manuallist").html(row);
                    }
                }
            });
        }
        function checkBoxEvent(id) {
            var check = $('#chk_' + id).is(":checked");
            if (check == true) {
                $("#txtInvoiceQty_" + id).prop('disabled', false);
            } else {
                $("#txtInvoiceQty_" + id).prop('disabled', true);
        }
        }
        function CalculateAll() {
            var subTotal = 0;
            var vatCalculationAmt = 0;
            var grandTotal = 0;
            $('#manuallist tr').each(function () {
                   debugger;
                var idr = $(this).attr('id');
                var id = idr.substring(6);
                var amount = isNaN(parseFloat($('#txtInvoiceQty_' + id).val())) ? 0.00 : parseFloat($('#txtInvoiceQty_' + id).val());
                subTotal += amount;
            });
            var vatPercent = isNaN(parseFloat($('#ddlvat').val())) ? 0.00 : parseFloat($('#ddlvat').val());
            vatCalculationAmt = (subTotal * vatPercent) / 100;
            grandTotal = subTotal - vatCalculationAmt;
            $('#vatAmt').val(vatCalculationAmt);
            $('#lblSubTotalAmount').val(subTotal);
            $('#lblTotal').val(parseFloat(grandTotal).toFixed(4));
        }
        function Save() {
            if (SaveValidation() == true) {
                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false
                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveFinal();
                });
            }
        }
        function SaveFinal() {
            debugger;
            var jsonData = {};
            jsonData["InvoiceDate"] = $('#txtInvoiceDate').val();
            jsonData["DueDate"] = $('#txtDueDate').val();
            jsonData["SupplierBillDate"] = $('#txtBlDate').val()||new Date();
            jsonData["SupplierBillNo"] = $('#txtBill').val();
            jsonData["SupplierID"] = $('#ddlSupplier').val();
            jsonData["VatPercent"] = $('#ddlvat').val();
            jsonData["VatAmount"] = $('#vatAmt').val();
            jsonData["TotalAmount"] = $('#lblSubTotalAmount').val();
            var jsonObjs = [];
            $('#manuallist tr').each(function () {
                var theObj = {};
                debugger;
                var idr = $(this).attr('id');
                var id = idr.substring(6);
                var mrrId = isNaN(parseFloat($('#mrrId_' + id).val())) ? 0 : parseFloat($('#mrrId_' + id).val());
                var invoiceQty = isNaN(parseFloat($('#txtInvoiceQty_' + id).val())) ? 0.00 : parseFloat($('#txtInvoiceQty_' + id).val());
                var RcvQty= isNaN(parseFloat($('#RcvtQty_' + id).text())) ? 0.00 : parseFloat($('#RcvtQty_' + id).text());
                var mrrDate = $('#mrrDate_' + id).val();
                var description = $('#ItemDescription_' + id).text();
                var check = $('#chk_' + id).is(":checked");
                if (check == true)
                {
                    theObj["MRRID"] = mrrId;
                    theObj["MRRDate"] = mrrDate;
                    theObj["ReceivedQty"] = RcvQty;
                    theObj["InvoiceQty"] = invoiceQty;
                    theObj["PriceWithoutVat"] = invoiceQty;
                    theObj["TotalInvoicePrice"] = invoiceQty;
                    theObj["ItemDescription"] = description;
                    jsonObjs.push(theObj);
                }

            });
            jsonData["InvoiceDetails"] = jsonObjs;
            var urlpath = '@Url.Action("SaveBill", "InvoiceBirdPurchase")';
            $.ajax({
                contentType: "application/json",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "POST"
            })
                .success(function (result) {
                    if (result.pk > 0) {
                        swal({
                            title: " Saved Successfull",
                            text: '',
                            type: "success",
                            showCancelButton: false,
                            cancelButtonClass: 'btn-secondary waves-effect',
                            confirmButtonClass: 'btn-success waves-effect waves-light',
                            confirmButtonText: 'OK!',
                            closeOnConfirm: false
                        }, function () {
                           // LoadReportFinal(result.pk);
                            window.location.href = '@Url.Action("Index", "InvoiceBirdPurchase" )';
                        });
                    }
                });
        }
        function SaveValidation() {
            //  debugger;
            var isValid = true;
            var message = "Some Values Required";
            if ($('#txtDueDate').val() == 0 || $('#txtDueDate').val() == '') {
                ValidationColorChangeNew("txtDueDate", "divDueDate", "Due Date Required", true);
                isValid = false;
            }
            //if ($('#txtBlDate').val() == 0 || $('#txtBlDate').val() == '') {
            //    ValidationColorChangeNew("txtBlDate", "divBlDate", "Due Date Required", true);
            //    isValid = false;
            //}
            var count = 0;
            count = $('input:checkbox.chkp:checked').length;
            if (count == 0) {
                isValid = false;
                message = ("Check atleast one checkbox");
            }
            $('#manuallist tr').each(function () {
                //   debugger;
                var idr = $(this).attr('id');
                var id = idr.substring(6);
                var mrrId = isNaN(parseFloat($('#mrrId_' + id).val())) ? 0 : parseFloat($('#mrrId_' + id).val());
                var invoiceQty = isNaN(parseFloat($('#txtInvoiceQty_' + id).val())) ? 0.00 : parseFloat($('#txtInvoiceQty_' + id).val());
                var RcvQty_ = isNaN(parseFloat($('#RcvtQty_' + id).text())) ? 0.00 : parseFloat($('#RcvtQty_' + id).text());
                if (invoiceQty > RcvQty_) {
                    isValid = false;
                    message = "Invoice Amont  must be Less than Rest Amount";
                    $('#txtInvoiceQty_' + id).css('border-bottom', '2px solid red');
                    return;
                }
            });
            if (isValid == false) {
                ShowMessage(message);
            }
            return isValid;
        }
    </script>
    <script>
        function PopUpDetails(id) {
            ModalPopUp();
            GetDetails(id);
        }
        function GetDetails(id) {
            var urlpath = '@Url.Action("GetMRRDetailsById", "InvoiceBirdPurchase")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { id: id },
                async: false,
                success: function(result) {
                    //   $('#rateOf').text(ToJavaScriptDate(result.RateOf));
                    var row = "";
                    $("#itemDetailsTabBody").html("");
                    for (var i = 0; i < result.length; i++) {
                        row += "<tr>";
                        row += "<td style='text-align : center'>" + (i + 1) + "</td>";
                        row += "<td style='text-align : center'>" + result[i].ItemDescription + "</td>";
                        row += "<td style='text-align : center'>" + result[i].PurchaseQty + "</td>";
                        row += "<td style='text-align : center'>" + result[i].ItemQty + "</td>";
                        row += "<td style='text-align : center'>" + result[i].ItemKG + "</td>";
                        row += "</tr>";
                    }
                    $("#modalTable #itemDetailsTabBody").html(row);
                }
            });
        }
        function ModalPopUp() {
            $("#myModal").modal();
        }
        function exportExcel() {
            var a = document.createElement('a');
            //getting data from our div that contains the HTML table
            var data_type = 'data:application/vnd.ms-excel';
            var table_div = document.getElementById('tabledata');
            var table_html = table_div.outerHTML.replace(/ /g, '%20');
            a.href = data_type + ', ' + table_html;
            //setting the file name
            a.download = 'download.xls';
            //triggering the function
            a.click();
            //just in case, prevent default behaviour
            e.preventDefault();
        };
         function limitDecimals(el) {
            var value = el.value;
            var parts = value.split(".");
            if (parts.length > 1 && parts[1].length > 4) {
                parts[1] = parts[1].slice(0, 4);
                el.value = parts[0] + "." + parts[1];
            }
        }
    </script>
}