﻿@model IEnumerable<IGFoodProject.Models.Accounts.BankAccount>

@{
    ViewBag.Title = "Index";
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">

                        <div class="row">

                            <div class="col-md-6">
                                <h3>Bank Accounts</h3>
                            </div>
                            <div class="col-md-6 text-right ">
                                <a class="btn btn-outline-warning" href="@Url.Action("Create", "BankAccounts", new {id = 0})">

                                    <span class="fa fa-plus"></span>New 

                                </a>
                            </div>

                        </div>



                    </div>
                    <div class="row">
                        <div class="card-body">
                            <div class="box-body">
                                <table id="myTable" class="table table-bordered dataTable table-striped">
                                    <thead>
                                        <tr>
                                            <th>SL#</th>
                                            <th>Company Name</th>
                                            <th>Bank</th>
                                            <th>Branch</th>
                                            <th>Account</th>
                                            <th>Currency</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            var count = 1;
                                            <tr>
                                                <th>@count</th>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CompanyName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Bank)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Branch)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.AccountNo)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CurrencyName)
                                                </td>
                                                <td>
                                                    @Html.ActionLink("Edit", "Edit", new { id = item.BankAccountId })

                                                </td>
                                            </tr>
                                            count++;
                                        }
                                    </tbody>
                                    <tfoot>

                                    </tfoot>
                                </table>
                            </div>



                        </div>

                    </div>

                    <!-- /.card-header -->
                    <!-- form start -->


                </div>

            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->

</section>



@section Scripts{
    <script>
        $('#myTable').DataTable()
    </script>
}