﻿@using System.Data
@model  IEnumerable<IGFoodProject.ViewModel.ViewTradeMrr>

@{
    ViewBag.Title = "Pending PO List For Mrr ";

}
<style>
    #manuallist {
        padding: 10px;
    }
    .form-control {
        height: calc(1.7rem + 2px);
    }
    .modal-dialog {
        width: 100%;
        height: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }


    .modal-contents {
        background-color: white;
    }

    .ModalHead {
        background-color: #3C8DBC;
        padding: 15px;
        color: white;
    }

    .ModalHead > h4 {
        color: white;
        padding-left: 10px;
    }

    a#tabA {
        text-decoration: underline;
    }

    a#tabA:hover {
        text-decoration: underline;
        font-size: 17px;
        font-weight: bolder;
        color: green;
    }
</style>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">

                        <div class="row">

                            <div class="col-md-6">
                                <h3>Pending PO List For Mrr</h3>
                            </div>
                            @*<div class="col-md-6 text-right ">
                                <a class="btn btn-outline-warning" href="@Url.Action("#", "#", new {id = 0})">

                                    <span class="fa fa-plus"></span> Go to Create Po

                                </a>
                            </div>*@

                        </div>



                    </div>
                    <br/>
                   
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group" id="divPONo">
                                        <label for="ddlPO">PO No:</label>
                                        <select class="form-control select2" style="width: 100%;" id="ddlPO"></select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group" id="divSupplier">
                                        <label for="ddlSupplier">Supplier:</label>
                                        <select class="form-control select2" style="width: 100%;" id="ddlSupplier"></select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group" id="divProduct">
                                        <label for="ddlProduct">Product:</label>
                                        <select class="form-control select2" style="width: 100%;" id="ddlProduct"></select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group" id="divFromDate">
                                        <label for="txtFromDate">From  Date</label>
                                        <input type="text" id="txtFromDate" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group" id="divToDate">
                                        <label for="txtToDate">To  Date</label>
                                        <input type="text" id="txtToDate" class="form-control" />
                                    </div>
                                </div>
                            </div>
                  
                    </div>
                    <div class="row">
                        <div class="col-md-2 pull-right offset-10">
                            <button style="margin-left: 27px;" class="btn btn-primary" onclick="ShowReport()">Search </button>
                        </div>
                    </div>
                    <br />
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body">
                                <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th class="text-center">PO No</th>
                                        <th class="text-center">PO Date</th>
                                        <th class="text-ledt">Supplier</th>
                                        <th class="text-left">Location/Wearhouse</th>
                                        @*<th class="text-center">Currency</th>*@
                                        <th class="text-center">Last Received Date</th>
                                        <th class="text-right">Total Amount BDT</th>
                                        <th class="text-right">Total Amt. Received</th>
                                        <th class="text-right">Rest Amt.</th>
                                        <th class="text-center">Action</th>

                                    </tr>
                                    </thead>
                                    <tbody id="manuallist">
                                    @{ int count = 1;}
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@count</td>
                                            <td style="text-align: center"><a id="tabA" onclick="PopUpDetails(@item.TradePurchaseOrderId)">@item.TradeNo</a></td>
                                            @*<td>@item.PurchaseOrderNo</td>*@
                                            <td>@Convert.ToDateTime(item.PurchaseDate).ToString("dd-MMM-yyyy")</td>
                                            @*<td>
                                                @if (item.ExpectedDeliveryDate == null)
                                                {

                                                }
                                                else
                                                {
                                                    @Convert.ToDateTime(item.ExpectedDeliveryDate).ToString("dd-MMM-yyyy")
                                                }
                                      
                                            </td>*@
                                            <td class="text-left">@item.SupplierName</td>
                                            <td class="text-left">@item.LocationName / @item.WareHouseName</td>
                                            @*<td>@item.CurrencyName</td>*@
                                       
                                            <td>

                                                @if (item.LastRcvDate == null)
                                                {
                                                   
                                                }
                                                else
                                                {
                                                    @Convert.ToDateTime(item.LastRcvDate).ToString("dd-MMM-yyyy");
                                                }
                                            </td>

                                            <td class="text-right">@item.OrderTotalAmt.ToString("##,###,0.00")</td>
                                            <td class="text-right">@item.TotalAmountRcv.ToString()</td>
                                            <td class="text-right">@item.RestAmount.ToString()</td>
                                            <td>
                                                @Html.ActionLink("Generate MRR", "ReceiveMrr", "TradeMrr", new { id = item.TradePurchaseOrderId }, new { @class = "btn btn-sm btn-warning" })

                                            </td>


                                       



                                        </tr>
                                        count++;
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>



                    </div>


                </div>

            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
    
    
</section>

<div class="row">

    <div class="modal fade in" id="myModal" role="dialog">
        <div class="modal-dialog listDialog modal-lg">
            ">

            <!-- Modal content-->
            <div class="modal-contents">


                <div class="ModalHead">

                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Trade PO Product Details</h4>


                </div>
                <br />
                <div class="container-fluid" id="tabledata">

                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            @*<h2 class="page-header" style="color: darkblue;">
                                PO Date: <label id="rateOf"></label>

                            </h2>*@


                            @*<div class="row">
                                <div class="col-md-3 col-xs-6">
                                    <h6> Rate Finalize No. : <label id="rateNo"></label> </h6>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <h6> Rate Entry By : <label id="entryBy"></label> </h6>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <h6> Rate Status : <label id="approveStatus"></label> </h6>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <h6> Rate Approved By : <label id="approveBy"></label> </h6>
                                </div>



                            </div>*@


                           
                                <div class="box-body table-responsive" id="MainGradeDiv2">
                                    <br />

                                    <table id="modalTable" class="table table-striped table-bordered">
                                        <thead id="popTab">
                                            <tr>
                                                <th style="text-align: center; color: black; width: 3%; background-color: turquoise; padding-bottom: 2.5%" >SL</th>
                                                <th style="text-align: center; color: black; background-color: turquoise; width: 40%" >Item Name</th>
                                                <th style="text-align: center; color: black; background-color: turquoise; width: 20%" >PO Qty</th>
                                                <th style="text-align: center; color: black; background-color: turquoise; width: 20%">PO KG</th>
                                                <th style="text-align: center; color: black; background-color: turquoise ;width: 30%" >Unit Price </th>
                                                <th style="text-align: center; color: black; background-color: turquoise ;width: 35%" >MRR Rem. Qty </th>
                                                <th style="text-align: center; color: black; background-color: turquoise ;width: 35%">MRR Rem. KG </th>

                                            </tr>
                                           


                                        </thead>
                                        <tbody id="itemDetailsTabBody"></tbody>
                                    </table>
                                </div>
                          

                        </div>



                    </div>




                </div>




                <br />




                <div class="modal-footer">
                    @*<button class='btn btn-success pull-left' type='button' id="Export" onclick="exportExcel()">
                        <span class="glyphicon glyphicon-export"></span>
                        Export To excel
                    </button>*@
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="closebtn">Close</button>
                </div>
            </div>
        </div>





    </div>

</div>


@section Scripts
{
    <script>
        $(document).ready(function () {
            LoadDate_Pr('#txtFromDate');
            LoadDate_C('#txtToDate');

            LoadSupplier('ddlSupplier');
            //LoadSupplier();
            LoadItemDescription();
            LoadPoNo();
          
        });
        function LoadDate_Pr(controlName) {
            jQuery(controlName).datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd-M-yyyy'

            }).datepicker("setDate", "-2d");
        }
        function LoadSupplier() {
            var urlpath = '@Url.Action("LoadSupplier", "PurchaseOrder")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: {},
                async: false,
                success: function (data) {

                    $('#ddlSupplier').empty();
                    $('#ddlSupplier').append("<option value='0'>--Select Supplier--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#ddlSupplier').append($("<option></option>").val(data[i].SupplierID).html(data[i].SupplierName));
                    }

                }
            });
        }
        function LoadItemDescription() {

            var urlpath = '@Url.Action("LoadProduct", "TradePurchase")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {


                    $('#ddlProduct').empty();
                    $('#ddlProduct').append("<option value='0'>--Select Product--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#ddlProduct').append($("<option></option>").val(data[i].ProductId).html(data[i].ProductName));
                    }
                }
            });
        }
        function LoadPoNo() {

            $.ajax({
                url: "/TradeMrr/LoadTradePONoForMRR",

                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {


                    $('#ddlPO').empty();
                    $('#ddlPO').append("<option value='0'>--Select PO--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#ddlPO').append($("<option></option>").val(data[i].TradePurchaseOrderId).html(data[i].TradeNo));
                    }
                }
            });
        }
    </script>
    
    <script>
        function ShowReport() {
            debugger;
            var fromdate;
            var todate;
            var poNo = 0;
            var supplierId = 0;
            var productId = 0;


            if ($('#txtFromDate').val() == "") {
                swal("Please input from  date");
                return;
            }
            else {
                fromdate = $('#txtFromDate').val();
            }
            if ($('#txtToDate').val() == "") {
                swal("Please input to  date");
                return;
            }
            else {
                todate = $('#txtToDate').val();
            }

            if ($('#ddlPO').val() == "0") {
                poNo = '0';
            }
            else {
                poNo = $('#ddlPO').val();
            }
            if ($('#ddlSupplier').val() == "0") {
                supplierId = '0';
            }
            else {
                supplierId = $('#ddlSupplier').val();
            }
            if ($('#ddlProduct').val() == "0") {
                productId = '0';
            }
            else {
                productId = $('#ddlProduct').val();
            }

            var urlpath = '@Url.Action("SearchMrrList", "TradeMrr")';
            $.ajax({
                url: urlpath,
                dataType: 'html',
                type: "Get",
                data: { fromdate: fromdate, todate: todate, poNo: poNo, supplierId: supplierId, productId: productId },
                async: false,
                success: function (data) {

                    data = JSON.parse(data);
                    $("#manuallist").html("");
                    if (data.length > 0) {



                        var row = "";
                        var count = 1;
                        $("#manuallist").html("");

                        var count=1;
                        for (var i = 0; i < data.length; i++) {



                            row += "<tr>";
                            row += "<td style='text-align:center'>" + count + "</td>";
                            row += "<td style='text-align:center'><a id='tabA' type='button' onclick='PopUpDetails(" + data[i].TradePurchaseOrderId + ")'>" + data[i].TradeNo + "</a></td>";
                            //row += "<td style='text-align:center'>" + data[i].PurchaseOrderNo + "</td>";
                            row += "<td style='text-align:center'>" + ToJavaScriptDate(data[i].PurchaseDate) + "</td>";

                            //row += "<td style='text-align:center'>" + ToJavaScriptDate(data[i].ExpectedDeliveryDate) + "</td>";
                            //if (data[i].ExpectedDeliveryDate === null) {
                            //    row += "<td style='text-align:center'></td>";
                            //} else {
                            //    row += "<td style='text-align:center'>" + ToJavaScriptDate(data[i].ExpectedDeliveryDate) + "</td>";
                            //}

                            row += "<td style='text-align:center'>" + data[i].SupplierName + "</td>";
                            row += "<td style='text-align:center'>" + data[i].LocationName + '/' + data[i].WareHouseName + "</td>";
                            //row += "<td style='text-align:center'>" + data[i].CurrencyName + "</td>";
                            if (data[i].LastRcvDate === null) {
                                row += "<td style='text-align:center'></td>";
                            } else {
                                row += "<td style='text-align:center'>" + ToJavaScriptDate(data[i].LastRcvDate) + "</td>";
                            }
                        
                            row += "<td style='text-align:right'>" + data[i].OrderTotalAmt + "</td>";
                            row += "<td style='text-align:right'>" + data[i].TotalAmountRcv + "</td>";
                            row += "<td style='text-align:right'>" + data[i].RestAmount + "</td>";
                   
                            row += "<td style='text-align:center'><a class='btn btn-sm btn-warning' type='button' onclick='GoToDo(" + data[i].TradePurchaseOrderId + ")'>Generate MRR</a></td>";

                     




                            row += "</tr>";
                            count = count + 1;

                        }
                        $("#manuallist").html(row);
                    }
                }
            });
        }


        function GoToDo(soId) {
            window.location = "@Url.Action("ReceiveMrr", "TradeMrr")" + "?id=" + soId;
        }

    </script>
    
    
    <script>
        function PopUpDetails(id) {
            ModalPopUp();

            GetDetails(id);

        }
        function GetDetails(id) {
            var urlpath = '@Url.Action("GetPo_forModalPopUpDetailsById", "TradeMrr")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { id: id },
                async: false,

                success: function (result) {


                    //   $('#rateOf').text(ToJavaScriptDate(result.RateOf));


                    var row = "";
                    $("#itemDetailsTabBody").html("");
                    for (var i = 0; i < result.length; i++) {

                        row += "<tr>";
                        row += "<td style='text-align : center'>" + (i + 1) + "</td>";
                        row += "<td style='text-align : center'>" + result[i].ProductName + "</td>";
                        row += "<td style='text-align : center'>" + result[i].ApproveQty + "</td>";
                        row += "<td style='text-align : center'>" + result[i].ApproveKg + "</td>";
                        row += "<td style='text-align : center'>" + result[i].UnitPrice + "</td>";
                        row += "<td style='text-align : center'>" + result[i].MRRRemainingQty + "</td>";
                        row += "<td style='text-align : center'>" + result[i].MRRRemainingKG + "</td>";
                        row += "</tr>";
                    }
                    $("#modalTable #itemDetailsTabBody").html(row);
                }
            });

        }

        function ModalPopUp() {
            $("#myModal").modal();
        }
        function exportExcel() {

            var a = document.createElement('a');
            //getting data from our div that contains the HTML table
            var data_type = 'data:application/vnd.ms-excel';
            var table_div = document.getElementById('tabledata');
            var table_html = table_div.outerHTML.replace(/ /g, '%20');
            a.href = data_type + ', ' + table_html;
            //setting the file name
            a.download = 'download.xls';
            //triggering the function
            a.click();
            //just in case, prevent default behaviour
            e.preventDefault();
        }
    </script>
}