﻿@model  IGFoodProject.ViewModel.ViewTradeMrr
@{
    ViewBag.Title = "ReceiveMrr";
}
<style>
    #manuallist {
        padding: 10px;
    }

    .form-control {
        height: calc(1.7rem + 2px);
    }


</style>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">

                        <div class="row">

                            <div class="col-md-6">
                                <h3>Generate MRR  </h3>
                            </div>
                            <div class="col-md-6 text-right ">
                                <a class="btn btn-outline-warning" href="@Url.Action("Index", "TradeMrr", new { fromdate = (DateTime?)null, todate =(DateTime?)null, poNo =0, supplierId =0, productId =0})">

                                    <span class="fa fa-list"></span> Pending PO List For Mrr

                                </a>
                            </div>

                        </div>



                    </div>
                    <br />
                   
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                             

                                <div class="form-group" id="divSupplier">
                               
                                    <label for="txtSupplier" class="control-label col-md-4">Supplier:</label>
                                    <div class="col-md-8" >
                                        <span id="txtSupplier"></span>
                                    </div>
                                </div>
                            </div>
                        <div class="col-md-3">
                            <div class="form-group" id="divPONo">
                                <label for="txtPurchaseOrderNo" class="control-label col-md-4">PO No:</label>
                                <div class="col-md-8" >
                                    <span id="txtPurchaseOrderNo"></span>
                                </div>

                            </div>
                        </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divMrrDate">
                                    <label for="txtMrrDate">Mrr Date:</label>
                                    <input type="text" id="txtMrrDate" class="form-control" />
                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divVehicleNo">
                                    <label for="txtVehicleNo">Vehicle No:</label>
                                    <input type="text" id="txtVehicleNo" class="form-control" />
                                </div>
                            </div>

                    </div>
                        <div class="row">
                         
                            <div class="col-md-3">
                                <div class="form-group" id="divSupplierRef">
                                    <label for="txtSupplierRef" class="control-label col-md-4">Supplier Ref:</label>
                                    <div class="col-md-8" >
                                        <span id="txtSupplierRef"></span>
                                    </div>
                                
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divPODate">
                                    <label for="txtPODate" class="control-label col-md-4">PO Date:</label>
                                    <div class="col-md-8" >
                                        <span id="txtPODate"></span>
                                    </div>
                                   
                                </div>
                             

                            </div>
                            <div class="col-md-3">
                             
                            
                                <div class="form-group" id="divChallanNo">
                                    <label for="txtChallanNo">Challan No:</label>
                                    <input type="text" id="txtChallanNo" class="form-control"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" id="divVehicleInWeight">
                                    <label for="txtVehicleInWeight">Vehicle In Weight:</label>
                                    <input type="text" id="txtVehicleInWeight" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                         
                            <div class="col-md-3">
                                <div class="form-group" id="divLocation">
                                    <label for="txtLocationName" class="control-label col-md-4">Del. Location:</label>
                                    <div class="col-md-8">
                                        <span id="txtLocationName"></span>
                                    </div>

                                </div>
                            </div>  
                            <div class="col-md-3">
                                <div class="form-group" id="divAddress">
                                    <label for="txtDeliveryTo" class="control-label col-md-4">Del. Address:</label>
                                    <div class="col-md-8">
                                        <span id="txtDeliveryTo"></span>
                                    </div>


                                </div>
                           

                            </div>  
                            <div class="col-md-3">
                                <div class="form-group" id="divChallanDate">
                                    <label for="txtChallanDate">Challan Date:</label>
                                    <input type="text" id="txtChallanDate" class="form-control" />
                                </div>
                            </div>    
                            <div class="col-md-3">
                                <div class="form-group" id="divVehicleOutWeight">
                                    <label for="txtVehicleOutWeight">Vehicle Out Weight:</label>
                                    <input type="text" id="txtVehicleOutWeight" class="form-control" />
                                </div>
                                <div class="form-group" id="divLabResult">
                                    <label for="txtLabResult">Lab Result:</label>
                                    <input type="text" id="txtLabResult" class="form-control" />
                                </div>
                            </div>
                       


                        </div>
                        
                        @*<div class="row">
                         
                            <div class="col-md-3">
                              
                            </div>  
                            <div class="col-md-3">
                                <div class="form-group" id="divComments">
                                    <label for="txtComments" class="control-label col-md-3">Comment:</label>
                                    <div class="col-md-9">
                                        <label id="txtComments"></label>
                                    </div>

                                </div>
                            </div>  
                            <div class="col-md-3">
                               
                            </div>    
                            <div class="col-md-3">
                               
                            </div>
                       


                        </div>*@
                    </div>
                    <br />
                
                    <!-- /.card-header -->
                    <!-- form start -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-body">
                            @*<h4 class="text-center" style="width: 100%;background-color: #007bff;color:black"> Items To Receive</h4>*@
                            <div class="table-responsive">
                                <div class="col-md-12">
                                    <table id="myTable" class="table table-bordered table-striped table-hover">
                                        <thead>
                                        <tr>
                                            <th class="text-center" style="width:3%">SL</th>
                                            <th class="text-center" style="width:20%">Product</th>
                                            <th>PO Qty</th>
                                            <th>PO KG</th>
                                            <th>Unit</th>
                                            <th>Received Qty</th>
                                            <th>Received KG</th>
                                            <th>Rest Qty</th>
                                            <th>Rest KG</th>
                                            <th style="width:10%">MRR Qty</th>
                                            <th style="width:10%">MRR KG</th>
                                            <th>MFG Data</th>
                                            <th>Expairy Data</th>
                                            <th class="text-right" style="width:5%">Price</th>
                                            <th class="text-right" style="width:5%">Total</th>
                                        </tr>
                                        </thead>
                                        <tbody id="manuallist">
                                      
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>



                </div>
                    <div class="row" style="padding-top:10px">
                        <div class="col-md-8">
                        </div>
                        <div class="col-md-4">

                            <div class="form-group row">
                                <div class="col-sm-4">
                                </div>
                                <label for="lblSubTotalAmount" class="col-sm-3 control-label">Sub Total :</label>
                                <div class="col-sm-4">
                                    <input type="number" class="form-control" id="lblSubTotalAmount" readonly>
                                   
                                </div>
                                <div class="col-sm-1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top:10px">
                        <div class="col-md-8">
                        </div>
                        <div class="col-md-4">

                            <div class="form-group row">
                                <div class="col-sm-4">
                                </div>
                                <label for="txtTransportCost" class="col-sm-3 control-label">Transport Cost:</label>
                                <div class="col-sm-4">
                                    <input type="number" class="form-control" id="txtTransportCost" aria-describedby="basic-addon3" oninput="CalculateAll()">
                                </div>
                                <div class="col-sm-1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top:10px">
                        <div class="col-md-8">
                        </div>
                        <div class="col-md-4">

                            <div class="form-group row">
                                <div class="col-sm-4">
                                </div>
                                <label for="txtLaborCost" class="col-sm-3 control-label">Labour Cost:</label>
                                <div class="col-sm-4">
                                    <input type="number" class="form-control" id="txtLaborCost" aria-describedby="basic-addon3" oninput="CalculateAll()">
                                </div>
                                <div class="col-sm-1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top:10px">
                        <div class="col-md-8">
                        </div>
                        <div class="col-md-4">

                            <div class="form-group row">
                                <div class="col-sm-4">
                                </div>
                                <label for="lblTotal" class="col-sm-3 control-label">Grand Total:</label>
                                <div class="col-sm-4">
                                    <input type="number" class="form-control" id="lblTotal" readonly>
                                </div>
                                <div class="col-sm-1">
                                </div>
                            </div>
                        </div>
                    </div>
                

                @*<div class="row" style="padding-top:10px">
                    <div class="col-md-8">
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="lblSubTotalAmount" class="control-label col-md-8 text-right">Sub Total:</label>
                            <div class="col-md-4 text-right" style="padding-right: 30px">
                                <label  id="lblSubTotalAmount" class="text-right">0</label>
                            </div>
                        </div>
                        <div class="form-group" id="divTransportCost">
                            <label for="txtTransportCost" class="control-label col-md-8 text-right">Transport Cost:</label>
                            <div class="col-md-4"  style="padding-right: 30px">
                                <input type="number" id="txtTransportCost" onchange="CalculateAll()" class="form-control text-right"/>
                            </div>
                              
                        </div>
                        <br/>
                        <div class="form-group" id="divLaborCost">
                            <label for="txtLaborCost" class="control-label col-md-8 text-right">Labor Cost:</label>
                            <div class="col-md-4" style="padding-right: 30px">
                                <input type="number" id="txtLaborCost" onchange="CalculateAll()" class="form-control text-right"/>
                            </div>
                          
                        </div>
                        
                        <div class="form-group">
                            <label for="lblTotal" class="control-label col-md-8 text-right">Grand Total:</label>
                            <div class="col-md-4 text-right" style="padding-right: 30px">
                                <label  id="lblTotal" class="text-right">0</label>
                            </div>
                        </div>
                    </div>
                </div>*@
                  
                    <div class="row" style="padding-top:10px">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label for="txtSpecialins" class="col-sm-4 control-label">Special Instructions :</label>
                                <div class="col-sm-3" id="divNarration">
                                    <textarea id="txtSpecialins" rows="4" cols="50" style="text-align:left"></textarea>
                                </div>
                            </div>
                    
                        </div>
                    </div>

                    
                    <div class="row">
                        <div class="col-md-6 pull-left offset-6">
                            <button style="margin-left: 27px;" class="btn btn-primary" onclick="Save()">Save MRR </button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- /.row -->
        <input id="poMasteId" type="number" style="display: none;" value="@ViewBag.MasterId">
        <input id="txtSupplierId" type="number" style="display: none;" >
    </div><!-- /.container-fluid -->


</section>

@section Scripts
{
    <script>
        $(document).ready(function () {

           LoadDate('#txtChallanDate');
            LoadDate_C('#txtMrrDate');



            var poMasteId = $('#poMasteId').val();
            GetMasterData(poMasteId);


            LoadPackSize();


        });

        function Save() {

            if (SaveValidation() == true) {
                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveFinal();

                });
            }
        }
        function SaveFinal() {
            debugger;
            var jsonData = {};

            jsonData["TradeMrrMasterId"] = 0;
            jsonData["TradePurchaseOrderId"] = $('#poMasteId').val();
            jsonData["MRRDate"] = $('#txtMrrDate').val();
            jsonData["ChallanDate"] = $('#txtChallanDate').val();
            jsonData["SupplierID"] = $('#txtSupplierId').val();
            jsonData["ChallanNo"] = $('#txtChallanNo').val();
            jsonData["LabResult"] = $('#txtLabResult').val();
            jsonData["SpecialInstruction"] = $('#txtSpecialins').val();
            jsonData["VehicleNo"] = $('#txtVehicleNo').val();
            jsonData["VehicleInWeight"] = $('#txtVehicleInWeight').val();
            jsonData["VehicleOutWeight"] = $('#txtVehicleOutWeight').val();
            jsonData["TransportCost"] = $('#txtTransportCost').val();
            jsonData["LaborCost"] = $('#txtLaborCost').val();
            jsonData["IsApprove"] = 0;

            var jsonObjs = [];


            $('#manuallist tr').each(function () {
                var theObj = {};
               debugger;
                var idr = $(this).attr('id');
                var id = idr.substring(6);

                var productId = isNaN(parseFloat($('#productId_' + id).val())) ? 0 : parseFloat($('#productId_' + id).val());
                var tradePurchaseOrderDetailsId = isNaN(parseFloat($('#tradePurchaseOrderDetailsId_' + id).val())) ? 0 : parseFloat($('#tradePurchaseOrderDetailsId_' + id).val());
                //var PoQty = isNaN(parseFloat($('#tradePurchaseOrderDetailsId_' + id).text())) ? 0.00 : parseFloat($('#PoQty_' + id).text());
                var groupId = isNaN(parseFloat($('#groupId_' + id).val())) ? 0 : parseFloat($('#groupId_' + id).val());

                var MrrQty = isNaN(parseFloat($('#txtThisMrrqty_' + id).val())) ? 0.00 : parseFloat($('#txtThisMrrqty_' + id).val());
                var MrrKG = isNaN(parseFloat($('#txtThisMrrKG_' + id).val())) ? 0.00 : parseFloat($('#txtThisMrrKG_' + id).val());

                var unitPrice = isNaN(parseFloat($('#UnitPrice_' + id).text())) ? 0 : parseFloat($('#UnitPrice_' + id).text());

                var packSize = isNaN(parseInt($('#ddlPack_' + id).val())) ? 0 : parseInt($('#ddlPack_' + id).val());
                var packNo = isNaN(parseInt($('#txtNoOfpack_' + id).val())) ? 0 : parseInt($('#txtNoOfpack_' + id).val());
                var mfg = $('#txtMfgDate_' + id).val() || new Date();
                var expairy = $('#txtExpiryDate_' + id).val() || new Date();

                var TotalPrice = isNaN(parseFloat($('#Total_' + id).val())) ? 0.00 : parseFloat($('#Total_' + id).val());

                if (groupId == 8 && MrrQty > 0 || groupId == 12 && MrrQty > 0 || groupId == 9 && MrrKG > 0 || groupId == 10 && MrrKG > 0)
                {
                    theObj["TradeMRRDetailID"] = 0;
                    theObj["TradePurchaseOrderDetailsId"] = tradePurchaseOrderDetailsId;
                    theObj["ProductId"] = productId;
                    theObj["MRRQty"] = MrrQty;
                    theObj["MRRKG"] = MrrKG;
                    theObj["UnitPrice"] = unitPrice;
                    theObj["PackSizeId"] = packSize;
                    theObj["NoOfPack"] = packNo;
                    theObj["MFGDate"] = mfg;
                    theObj["ExpireyDate"] = expairy;
                    theObj["TotalPrice"] = TotalPrice;
                    jsonObjs.push(theObj);
                }



            });
            jsonData["TradeMrrDetails"] = jsonObjs;

            var urlpath = '@Url.Action("SaveTradeMrr", "TradeMrr")';
            $.ajax({
                contentType: "application/json",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "POST"
            })
                .success(function (result) {

                    if (result.pk > 0) {

                        swal({
                            title: " Saved Successfull",
                            text: '',
                            type: "success",
                            showCancelButton: false,
                            cancelButtonClass: 'btn-secondary waves-effect',
                            confirmButtonClass: 'btn-success waves-effect waves-light',
                            confirmButtonText: 'Done!',
                            closeOnConfirm: false
                        }, function () {
                            //LoadReportFinal(result.pk);



                            window.location.href = '@Url.Action("MrrList", "TradeMrr", new { fromdate = (DateTime?)null, todate =(DateTime?)null, mrrNo =0, supplierId =0, productId = 0})';

                        });


                    }
                });


        }
        function SaveValidation() {
          //  debugger;

            var isValid = true;
            var message = "Some Values Required";

            if ($('#txtChallanNo').val() == 0 || $('#txtChallanNo').val() == '') {
                ValidationColorChangeNew("ddlChallanNo", "divChallanNo", "Challan No  Required", true);
                isValid = false;
            }
            if ($('#txtMrrDate').val() == '' || $('#txtMrrDate').val() == null) {
                ValidationColorChangeNew("txtMrrDate", "divMrrDate", "MRR Date Required", false);
                isValid = false;
            }
            if ($('#txtChallanDate').val() == '' || $('#txtChallanDate').val() == null) {
                ValidationColorChangeNew("txtChallanDate", "divChallanDate", "Challan Date Required", false);
                isValid = false;
            }
          //  if ($('#txtVehicleNo').val() == '' || $('#txtVehicleNo').val() == null) {
          //      ValidationColorChangeNew("txtVehicleNo", "divVehicleNo", "Vehicle No Required", false);
          //    isValid = false;
          //}
            //if ($('#txtLaborCost').val() == '' || $('#txtLaborCost').val() == null) {
            //    ValidationColorChangeNew("txtLaborCost", "divLaborCost", "Labor Cost Required", false);
            //    isValid = false;
            //}
            //if ($('#txtTransportCost').val() == '' || $('#txtTransportCost').val() == null) {
            //    ValidationColorChangeNew("txtTransportCost", "divTransportCost", "Transport Cost Required", false);
            //    isValid = false;
            //}


            $('#manuallist tr').each(function () {

             //   debugger;
                var idr = $(this).attr('id');
                var id = idr.substring(6);

                var productId = isNaN(parseFloat($('#productId_' + id).val())) ? 0 : parseFloat($('#productId_' + id).val());
                var groupId = isNaN(parseFloat($('#groupId_' + id).val())) ? 0 : parseFloat($('#groupId_' + id).val());


                var PoQty = isNaN(parseFloat($('#PoQty_' + id).text())) ? 0.00 : parseFloat($('#PoQty_' + id).text());
                var PoKG = isNaN(parseFloat($('#PoKG_' + id).text())) ? 0.00 : parseFloat($('#PoKG_' + id).text());
                var RestQty_ = isNaN(parseFloat($('#RestQty_' + id).text())) ? 0.00 : parseFloat($('#RestQty_' + id).text());
                var RestKG_ = isNaN(parseFloat($('#RestKG_' + id).text())) ? 0.00 : parseFloat($('#RestKG_' + id).text());
                var MrrQty = isNaN(parseFloat($('#txtThisMrrqty_' + id).val())) ? 0.00 : parseFloat($('#txtThisMrrqty_' + id).val());
                var MrrKG = isNaN(parseFloat($('#txtThisMrrKG_' + id).val())) ? 0.00 : parseFloat($('#txtThisMrrKG_' + id).val());
                var expairy = $('#txtExpiryDate_' + id).val() ;

                if (groupId == 8 || groupId == 12)
                {
                    if (RestQty_ === 0 && MrrQty > PoQty) {
                        isValid = false;
                        message = "MRR Quantity  must be Less than Rest Quantity";
                        $('#txtThisMrrqty_' + id).css('border-bottom', '2px solid red');
                        return;
                    }
                    if (RestQty_ > 0 && MrrQty > RestQty_) {
                        isValid = false;
                        message = "MRR Quantity  must be Less than Rest Quantity";
                        $('#txtThisMrrqty_' + id).css('border-bottom', '2px solid red');
                        return;
                    }
                }
                if (groupId == 9 || groupId == 10)
                {
                    if (RestKG_ === 0 && MrrKG > PoKG) {
                        isValid = false;
                        message = "MRR KG  must be Less than Rest KG";
                        $('#txtThisMrrKG_' + id).css('border-bottom', '2px solid red');
                        return;
                    }
                    if (RestKG_ > 0 && MrrKG > RestKG_) {
                        isValid = false;
                        message = "MRR KG  must be Less than Rest KG";
                        $('#txtThisMrrKG_' + id).css('border-bottom', '2px solid red');
                        return;
                    }
                }
                //if (MrrQty > 0 & expairy===0) {
                //    isValid = false;
                //    message = "Select Expairy Date";
                //    $('#txtExpiryDate_' + id).css('border-bottom', '2px solid red');
                //    return;
                //}

            });
            if (isValid == false) {
                ShowMessage(message);

            }
            return isValid;


        }
        function LoadReportFinal(id) {
            debugger;
            var urlpath = '@Url.Action("MrrPrintReports", "Report")';


            var reportValue = "MrrPrint";

            var mrrId = id;

            //  alert( id);

            var jsonData = {};


            jsonData["ReportValue"] = reportValue;
            jsonData["MRRrOtherID"] = mrrId;



            debugger;
            $.ajax({
                url: urlpath,
                data: jsonData,
                dataType: 'json',
                type: "Get",
                success: function (data) {
                    if (data.isSuccess) {



                        //OpenPopUp('BasicReportViewer.aspx');
                        window.open("../CrystalViewer/CrystalViewer.aspx", "_blank", "WIDTH=1024,HEIGHT=768,scrollbars=no, menubar=no,resizable=yes,directories=no,location=no");
                    }
                }
            });
        }


        function LoadPackSize(elementId) {

            $.ajax({
                url: "/OthersMrr/LoadPackSize",

                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {


                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select PO--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].PackSizeId).html(data[i].PackSizeName));
                    }
                }
            });
        }


        function GetMasterData(id) {

            var urlpath = '@Url.Action("GetDetailsForMrrGenerate", "TradeMrr")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { id: id },
                async: false,
                success: function (data) {



                    $('#txtSupplier').html(data.SupplierName);
                    $('#txtSupplierId').val(data.SupplierID);
                    $('#txtPODate').html(ToJavaScriptDate(data.PurchaseDate));
                    //$('#txtComments').html(data.Comments);
                    //$('#txtSupplierRef').html(data.SupplierRef);
                    $('#txtDeliveryTo').html(data.WareHouseName);
                    $('#txtLocationName').html(data.LocationName);
                    $('#txtPurchaseOrderNo').html(data.TradeNo);


                   // debugger;


                    var row = "";
                    var count = 1;
                    $("#manuallist").html("");
                    for (var i = 0; i < data.TradeMrrDetails.length; i++) {
                       // debugger;
                       // LoadPackSize();

                        if ((data.TradeMrrDetails[i].GroupId == 8 && data.TradeMrrDetails[i].MRRRemainingQty > 0) || (data.TradeMrrDetails[i].GroupId == 9 && data.TradeMrrDetails[i].MRRRemainingKG > 0) || (data.TradeMrrDetails[i].GroupId == 10 && data.TradeMrrDetails[i].MRRRemainingKG > 0) || (data.TradeMrrDetails[i].GroupId == 12 && data.TradeMrrDetails[i].MRRRemainingQty > 0))
                        {

                        row += "<tr id='trmain" + count + "'>";
                     
                        row += "<td '>"+ count +"</td>";
                        row += "<td style='display: none;'><input type='text'  style='display: none;'  id='productId_" + count + "' value = '" + data.TradeMrrDetails[i].ProductId + "'  /></td>";
                        row += "<td style='display: none;'><input type='text'  style='display: none;'  id='groupId_" + count + "' value = '" + data.TradeMrrDetails[i].GroupId + "'  /></td>";
                        row += "<td style='display: none;'><input type='text'  style='display: none;'  id='tradePurchaseOrderDetailsId_" + count + "' value = '" + data.TradeMrrDetails[i].TradePurchaseOrderDetailsId + "'  /></td>";
                     //   row += "<td style='text-align:center'>" + data.ViewOthersMrrDetailsList[i].ItemCode + "</td>";
                        row += "<td style='text-align:center;width:20%;'>" + data.TradeMrrDetails[i].ProductName + "</td>";
                        row += "<td style='text-align:center;'><label  id='PoQty_" + count + "'>" + data.TradeMrrDetails[i].ApproveQty + " </label></td>";
                        row += "<td style='text-align:center;'><label  id='PoKG_" + count + "'>" + data.TradeMrrDetails[i].ApproveKg + " </label></td>";
                        row += "<td style='text-align:center'>" + data.TradeMrrDetails[i].UOMName + "</td>";
                        row += "<td style='text-align:center'>" + data.TradeMrrDetails[i].ReceivedQty + "</td>";
                        row += "<td style='text-align:center'>" + data.TradeMrrDetails[i].ReceivedKG + "</td>";
                        row += "<td style='text-align:center;'><label id='RestQty_" + count + "'>" + data.TradeMrrDetails[i].MRRRemainingQty + " </label></td>";
                        row += "<td style='text-align:center;'><label id='RestKG_" + count + "'>" + data.TradeMrrDetails[i].MRRRemainingKG + " </label></td>";

                        if (data.TradeMrrDetails[i].GroupId == 8 || data.TradeMrrDetails[i].GroupId == 12)
                        {
                            row += "<td style='text-align:center;width:10%'><input type='number' min='0'   oninput='calculation(" + count + "," + data.TradeMrrDetails[i].ApproveUnitPrice + "," + data.TradeMrrDetails[i].GroupId + ")' id='txtThisMrrqty_" + count + "' class='form-control' /></td>";
                        }
                        else
                        {
                            row += "<td style='text-align:center;width:10%'><input type='number' min='0'   oninput='calculation(" + count + "," + data.TradeMrrDetails[i].ApproveUnitPrice + "," + data.TradeMrrDetails[i].GroupId + ")' id='txtThisMrrqty_" + count + "' class='form-control' disabled='disabled'/></td>";
                        }
                        if (data.TradeMrrDetails[i].GroupId == 9 || data.TradeMrrDetails[i].GroupId == 10)
                        {
                            row += "<td style='text-align:center;width:10%'><input type='number' min='0'   oninput='calculation(" + count + "," + data.TradeMrrDetails[i].ApproveUnitPrice + "," + data.TradeMrrDetails[i].GroupId + ")' id='txtThisMrrKG_" + count + "' class='form-control' /></td>";
                        }
                        else
                        {
                            row += "<td style='text-align:center;width:10%'><input type='number' min='0'   oninput='calculation(" + count + "," + data.TradeMrrDetails[i].ApproveUnitPrice + "," + data.TradeMrrDetails[i].GroupId + ")' id='txtThisMrrKG_" + count + "' class='form-control' disabled='disabled'/></td>";
                        }


                        row += "<td style='text-align:center;width:10%'> <input type='text' id='txtMfgDate_" + count + "' class='form-control' /></td>";
                        row += "<td style='text-align:center;width:10%'> <input type='text' id='txtExpiryDate_" + count + "' class='form-control' /></td>";

                        row += "<td style='text-align:center;'><label id='UnitPrice_" + count + "'>" + data.TradeMrrDetails[i].ApproveUnitPrice + " </label></td>";
                       // row += "<td style='text-align:center;'><label id='Total_" + count + "' ></label></td>";

                     //   row += "<td style='text-align:center;width:5%'><input type='number' style='text-align:center'  id='UnitPrice_" + count + "' value = '" + data.ViewOthersMrrDetailsList[i].UnitPrice + "'   disabled='disabled'/></td>";
                        row += "<td style='text-align:right;width:5%'><input type='number' style='text-align:right;'  id='Total_" + count + "'  onchange='CalculateAll()'  disabled='disabled'/></td>";



                        row += "</tr>";


                        count++;

                       }
                    }
                    $("#manuallist").html(row);



                }
            });

            $('#manuallist tr').each(function () {
                //debugger;
                var idr = $(this).attr('id');

                var id = idr.substring(6);


                var itemid = isNaN(parseFloat($('#itemId_' + id).val())) ? 0 : parseFloat($('#itemId_' + id).val());
                LoadPackSize("ddlPack_" + id);
                $('#ddlPack_' + id).select2();

                LoadDate('#txtMfgDate_'+id);
                LoadDate('#txtExpiryDate_' + id);

            });


        }

        function calculation(id, price, GroupId) {
            var total = 0;
        //    debugger;
            var mrrqty = isNaN(parseFloat($('#txtThisMrrqty_' + id).val())) ? 0.00 : parseFloat($('#txtThisMrrqty_' + id).val());
            var mrrKG = isNaN(parseFloat($('#txtThisMrrKG_' + id).val())) ? 0.00 : parseFloat($('#txtThisMrrKG_' + id).val());

            if (GroupId == 8 || GroupId == 12)
            {
                total = mrrqty * price;
            }
            if (GroupId == 9 || GroupId == 10) {
                total = mrrKG * price;
               // $('#txtThisMrrqty_' + id).val(mrrKG);
            }

            $('#Total_' + id).val(total.toFixed(2));
            CalculateAll();

        }
        function CalculateAll() {
            var subTotal = 0;
            var grandTotal = 0;

            $('#manuallist tr').each(function () {

              //    debugger;
                var idr = $(this).attr('id');
                var id = idr.substring(6);


                var amount = isNaN(parseFloat($('#Total_' + id).val())) ? 0.00 : parseFloat($('#Total_' + id).val());
                subTotal += amount;


            });
            $('#lblSubTotalAmount').val(subTotal);
            var transport = isNaN(parseFloat($('#txtTransportCost').val())) ? 0.00 : parseFloat($('#txtTransportCost' ).val());
            var labour = isNaN(parseFloat($('#txtLaborCost').val())) ? 0.00 : parseFloat($('#txtLaborCost').val());
         //  var transport = $('#txtTransportCost').val() ||0;

          // var labour= $('#txtLaborCost').val()||0;
            grandTotal =(subTotal + transport + labour);


           $('#lblTotal').val(grandTotal);

            //var difference = (grandTotal - grandTotalCr) || 0;

            ////  $('#lblTotalAmountDifference').html(Math.ceil(difference.toFixed(2)));
            //$('#lblTotalAmountDifference').html(difference);
        }
    </script>
}