﻿@model IEnumerable<IGFoodProject.ViewModel.ViewSalesOrderProcessedMaster>

@{
    ViewBag.Title = "FurtherProcessSalesOrderList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">

                        <div class="row">
                            <div class="col-md-3">
                                <a href="@Url.Action("FurtherSalesOrderList", "SalesOrderFurtherProcess")">
                                    <h3 class="card-title">
                                        <span class="fa fa-eye"></span> Sales Order List For Further Process
                                    </h3>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="@Url.Action("Index", "SalesOrderFurtherProcess", new {id = 0})">
                                    <h3 class="card-title">
                                        <span class="fa fa-plus"></span> New Sales Order Entry For Further Process
                                    </h3>
                                </a>
                            </div>

                        </div>



                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body">
                                <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Sales Order No.</th>
                                        <th>Customer Type</th>
                                        <th>Customer</th>


                                        <th>Destination</th>
                                        <th>Sales Person</th>
                                        <th>Person Contact</th>
                                        <th>Order Date</th>
                                        <th>Delivery Date</th>
                                        <th>Total Price Inc. Vat</th>
                                        <th>Total Price Ex. Vat</th>
                                        <th>Status</th>
                                        <th>Action</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    @{ int count = 1;}
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@count</td>
                                            <td>@item.SalesOrderNo</td>
                                            <td>@item.CustomerType</td>
                                            <td>@item.CustomerName</td>
                                            <td>@item.DeliveryDestination</td>
                                            <td>@item.SalesPerson</td>
                                            <td>@item.SalesPersonContact</td>

                                            <td>@Convert.ToDateTime(item.OrderDate).ToString("dd-MMM-yyyy")</td>
                                            <td>@Convert.ToDateTime(item.DeliveryDate).ToString("dd-MMM-yyyy")</td>
                                            <td>@item.TotalIncTaxVat</td>
                                            <td>@item.TotalExTaxVat</td>



                                            @if (item.IsApprove == 0)
                                            {
                                                <td>Pending</td>
                                                <td>
                                                    <button class="btn btn-sm btn-primary showBtn" onclick="ShowData(@item.SalesOrderProcessedMasterId)">View</button>
                                                    @Html.ActionLink("Edit", "Index", "SalesOrderFurtherProcess", new { soId = item.SalesOrderProcessedMasterId }, new { @class = "btn btn-sm btn-warning" })
                                                </td>
                                            }
                                            else if (item.IsApprove == 1)
                                            {
                                                <td>Approved</td>
                                                <td>
                                                    <button class="btn btn-sm btn-primary showBtn" onclick="ShowData(@item.SalesOrderProcessedMasterId)">View</button>

                                                </td>
                                            }
                                            else
                                            {
                                                <td>Rejected</td>
                                                <td>
                                                    <button class="btn btn-sm btn-primary showBtn" onclick="ShowData(@item.SalesOrderProcessedMasterId)">View</button>
                                                    @Html.ActionLink("Edit", "Index", "SalesOrderFurtherProcess", new { soId = item.SalesOrderProcessedMasterId }, new { @class = "btn btn-sm btn-warning" })
                                                </td>
                                            }
                                           

                                        </tr>
                                        count++;
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>



                    </div>


                </div>

            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->

</section>


<div class="modal fade" id="viewModal" role="dialog">
    <div class="modal-dialog" style="max-width: 100% !important">
        <div class="modal-content">
            <div class="modal-header">

            </div>
            <div class="modal-body" id="containerDetails">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="clsButton" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




@section Scripts
{
    <script type="text/javascript">


        $(document).ready(function() {

        });

        function ShowData(id) {
            $('#viewModal').modal();


            ViewOrder(id);
            LoadCompany('ddlCompany');
            LoadCustomer('ddlCustomer');
           
            GetOrderMaster(id);
        }


        function ViewOrder(id) {
            var urlpath = '@Url.Action("ViewOrder", "SalesOrderFurtherProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'html',
                data: {id:id},
                type: "Get",

                async: false,
                success: function (data) {

                    $('#containerDetails').html(data);

                }
            });
        }

    </script>



    <script>
        var PrlductList = {};
        $(document).ready(function () {
            LoadCompany('ddlCompany');
            LoadCustomerType('ddlCustomerType');
            //LoadCustomer('ddlCustomer');

            GetOrderMaster();


        });
        function LoadCustomerType(elementId) {

            var urlpath = '@Url.Action("GetCustomerType", "SalesOrderFurtherProcess")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",

                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Customer Type --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].CustomerTypeID).html(data[i].CoustomerTypeName));
                    }
                }
            });
        }
        function ApproveOrder(status) {

            swal({
                title: "Are you sure?",
                text: "",
                type: "success",
                showCancelButton: true,
                cancelButtonClass: 'btn-secondary waves-effect',
                confirmButtonClass: 'btn-success waves-effect waves-light',
                confirmButtonText: 'Yes!',
                closeOnConfirm: false

            }, function () {
                $('.confirm').prop("disabled", true);
                $('.cancel').prop("disabled", true);
                var id = $('#mSalesOrderId').val();
                var urlpath = '@Url.Action("ApproveSalesProcesed", "SalesOrderFurtherProcess")';
                $.ajax({
                    url: urlpath,
                    data: { id: id, status: status },
                    dataType: 'json',
                    type: "Get",

                    async: false,
                    success: function (data) {
                        if (data.isSuccess) {
                            window.location.href = '@Url.Action("FurtherSalesOrderList", "SalesOrderFurtherProcess")';
                        }
                    }
                });

            });

        }
        function LoadPaymentType(elementId) {

            var urlpath = '@Url.Action("GetPaymentType", "Utility")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",

                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Payment --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].PaymentTypeId).html(data[i].PaymentType));
                    }
                }
            });
        }

        function GetOrderMaster(id) {

            var urlpath = '@Url.Action("GetSalesOrderMaster", "SalesOrderFurtherProcess")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { id: id },
                async: false,
                success: function (data) {
                    $('#orderNo').html(data.SalesOrderNo);
                    LoadCustomerType('ddlCustomerType');
                    $("#ddlCustomerType").val(data.CustomerTypeId).trigger('change');
                    LoadCustomer('ddlCustomer');
                    $("#ddlCustomer").val(data.CustomerId).trigger('change');
                    GetCustomerDetails();
                    $("#ddlCompany").val(data.CompanyId).trigger('change');
                    $("#txtSalesPersonNo").val(data.SalesPersonContact);
                    if (data.IsEmployee == true) {
                        $('#chkEmployee').prop('checked', true);
                        $("#txtSalesPerson").val(GetEmployeeName(data.SalesPerson));
                    } else {
                        $('#chkEmployee').prop('checked', false);
                        $("#txtSalesPerson").val(data.SalesPerson);
                    }
                    $('#txtOrderDate').val(ToJavaScriptDate(data.OrderDate));
                    $('#txtDeliveryDate').val(ToJavaScriptDate(data.DeliveryDate));
                    $('#txtDestination').val(data.DeliveryDestination);
                    LoadLocation('ddlLocation', data.CompanyId);
                    var loactionId = GetLocationId(data.WarehouseId);


                    $("#ddlLocation").val(loactionId).trigger('change');
                    LoadWareHouse('ddlWareHouse');
                    $("#ddlWareHouse").val(data.WarehouseId).trigger('change');
                    $('#txtRemarks').val(data.Remarks);
                    LoadPaymentType('ddlPamentType');
                    $("#ddlPamentType").val(data.PaymentType).trigger('change');

                    LoadPaymentType('ddlCollection');
                    $("#ddlCollection").val(data.CollectionType).trigger('change');
                    $('#txtCollection').val(data.TotalPaid);
                    $('#lblRestAmount').html(data.TotalDue-data.TotalPaid);
                    GetProducts();
                    for (var i = 0; i < data.SalesDetails.length; i++) {

                        var tr = $('#salesOrder tbody tr').length +1;
                        AddRow();
                        $("#pro_" + tr).val(data.SalesDetails[i].ProductId).trigger('change');
                        $('#saleQty_' + tr).val(data.SalesDetails[i].ProductQty);
                        $('#saleRate_' + tr).val(data.SalesDetails[i].SaleRate);
                        //$('#saleKG_' + tr).val(data.SalesDetails[i].ProductKg);
                        $('#disPer_' + tr).val(data.SalesDetails[i].DiscountPercent);
                        $('#disNum_' + tr).val(data.SalesDetails[i].DiscountAmount);
                        $('#total_' + tr).val((data.SalesDetails[i].TotalPrice + data.SalesDetails[i].DiscountAmount - data.SalesDetails[i].ProductTax).toFixed(2));
                        $('#proTax_' + tr).val(data.SalesDetails[i].ProductTax);
                        $('#totalG_' + tr).val(data.SalesDetails[i].TotalPrice);
                    }




                    $('#totalKg').html(data.TotatalOrderAmtKg);
                    $('#totalIncTacVat').html(data.TotalIncTaxVat);
                    $('#totalExTaxVat').html(data.TotalExTaxVat);

                    $(":input").prop("disabled", true);

                    $(".appButton").prop("disabled", true);
                    $(".appButton").hide();
                    $('.actionHide').hide();
                    $("#clsButton").prop("disabled", false);
                    $(".showBtn").prop("disabled", false);


                }
            });
        }


        function GetEmployeeName(empId) {
            var EmpName = "";
            var urlpath = '@Url.Action("GetEmployeeName", "Utility")';
            $.ajax({
                url: urlpath,
                data:{empId:empId},
                dataType: 'json',
                type: "Get",

                async: false,
                success: function (data) {
                    EmpName = data;

                }
            });
            return EmpName;
        }
        function GetProductDetails(prodId) {



            var productId = $('#pro_' + prodId).val();
            var groupid = 6;
            var urlpath = '@Url.Action("GetProductDetails", "SalesOrderFurtherProcess")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'json',
                data: { productId: productId, groupid: groupid },
                async: false,
                success: function (data) {

                    $("#cat_" + prodId).val(data.CategoryName);
                    $("#stQty_" + prodId).val(data.StockQty);
                    //$("#stKg_" + prodId).val(data.StockKg);
                    $("#stRate_" + prodId).val(data.StockPrice);
                    var cus = $("#lblCusType").text();
                    if (cus == 5) {
                        $("#saleRate_" + prodId).val(data.DPPrice);
                    }
                    else if (cus == 1) {
                        $("#saleRate_" + prodId).val(data.TPPrice);
                    }
                    else {
                        $("#saleRate_" + prodId).val(data.MRP);
                    }

                }
            });
        }

        function GetSalePrice(productId, price) {
            var theprice = 0;
            var urlpath = '@Url.Action("GetProcessedSalePrice", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'json',
                data: { productId: productId, price: price },
                async: false,
                success: function (data) {

                    theprice = data;


                }
            });

            return theprice;
        }
        function AddRow() {

            var tr = $('#salesOrder tbody tr').length + 1;
            var urlpath = '@Url.Action("AddRowForOrder", "SalesOrderFurtherProcess")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'html',
                data: { tr: tr },
                async: false,
                success: function (data) {

                    $('#salesOrder tbody').append(data);

                    LoadProductInTable("pro_"+tr);

                }
            });
            //CalculateAll();
          //  $('#pro_' + tr).select2();
        }

        function CalculateAll() {

        }
        function LoadProductInTable(elementId) {

            $('#' + elementId + '').append("<option value='0'>--Select Product--</option>");

            for (var i = 0; i < PrlductList.length; i++) {

                $('#' + elementId + '').append($("<option></option>").val(PrlductList[i].ProductId).html(PrlductList[i].ProductNo + ":" + PrlductList[i].ProductName));
            }

        }
        function GetProducts() {


            var urlpath = '@Url.Action("GetProductByGroup", "Utility")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { groupId: 6 },
                async: false,
                success: function (data) {

                    PrlductList = data;

                }
            });
        }
        function GetCustomerDetails() {


            var customerId = $('#ddlCustomer').val();

            var urlpath = '@Url.Action("GetCustomerDetails", "SalesOrderFurtherProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'html',
                type: "Get",
                data: { id: customerId },
                async: false,
                success: function (data) {
                    $('#customerDetails').empty();
                    $('#customerDetails').html(data);

                }
            });



            LoadDate('#txtOrderDate');

            $('#txtDestination').val($('#customerAddress').html());

        }

        function LoadWareHouse(elementId) {

            var location = $('#ddlLocation').val();
            var urlpath = '@Url.Action("LoadWareHouse", "ItemRequisition")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { location: parseInt(location) },
                async: false,
                success: function (data) {
                   
                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Warehouse--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].WareHouseId).html(data[i].WareHouseName));
                    }

                }
            });
        }

        function GetLocationId(warehouse) {

            var locationId = 0;
            var urlpath = '@Url.Action("GetLocationIdByWarehouse", "SalesOrderFurtherProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: {id:warehouse},
                async: false,
                success: function (data) {

                    locationId = data;
                }
            });
            return locationId;
        }


        function LoadCustomer(elementId) {
            var typeid = $('#ddlCustomerType').val();
            var urlpath = '@Url.Action("GetCustomer", "SalesOrderFurtherProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { typeid: typeid },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Customer --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].CustomerID).html(data[i].CustomerCode + ":" + data[i].CustomerName));
                    }
                }
            });
        }
</script>
}
