﻿
@{
    ViewBag.Title = "Index";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <Div class="row">


                            <div class="col-md-6">
                                <a href="@Url.Action("Index", "SalesOrderFurtherProcess", new {id = 0})">
                                    <h3 class="card-title">
                                        @if (ViewBag.SalesOrderId == 0)
                                        {
                                            <span class=""> New Sales Order For Further Process</span>

                                        }
                                        else
                                        {
                                            <span class=""> Edit Sales Order For Further Process</span>
                                        }
                                    </h3>
                                </a>
                            </div>
                            <div class="col-md-6 text-right">
                                <a class="btn btn-outline-warning" href="@Url.Action("FurtherSalesOrderList", "SalesOrderFurtherProcess")">
                                    <span class="fa fa-list"></span> Go To Sales Order List For Further Process

                                </a>
                            </div>
                        </Div>

                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divCompany">
                                    <label for="ddlCompany">Company</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlCompany"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divCustomerType">
                                    <label for="ddlCustomerType">Customer Type</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlCustomerType" onchange="LoadCustomer('ddlCustomer')"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divCustomer">
                                    <label for="ddlCustomer">Customer</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlCustomer" onchange="GetCustomerDetails()"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divOrderDate">
                                    <label for="txtOrderDate">Order Date</label>
                                    <input type="text" id="txtOrderDate" class="form-control" />
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card-body">
                                <div id="customerDetails"></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divDeliveryDate">
                                    <label for="txtDeliveryDate">Delivery Date</label>
                                    <input type="text" id="txtDeliveryDate" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="card-body">
                                            <input type="checkbox" class="form-check-input" id="chkEmployee" style="margin-left: 3px; margin-top: 20px;" onclick="Checko()" checked="checked" />
                                            <label class="form-check-label" for="chkEmployee" style="margin-left: 24px;margin-top: 17px;">Is Employee</label>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group" id="divSalesPerson">
                                            <label for="txtSalesPerson">Sales Person</label>
                                            <input type="text" id="txtSalesPerson" class="form-control" onchange="GetSalesPersonPhone()" />
                                            <input type="number" style="display: none" id="employeeSelect" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="dovSalesPersonNo">
                                    <label for="txtSalesPersonNo">Sales Person Contact</label>
                                    <input type="text" id="txtSalesPersonNo" class="form-control" />

                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divDestination">
                                    <label for="txtDestination">Destination</label>
                                    <input type="text" id="txtDestination" class="form-control" />

                                </div>
                            </div>
                        </div>
                        @*<div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divLocation">
                                        <label for="ddlLocation">Location</label>
                                        <select class="form-control select2" id="ddlLocation" style="width: 100%;" onchange="LoadWareHouse('ddlWareHouse')"></select>
                                    </div>
                                </div>
                            </div>*@
                        @*<div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divWareHouse">
                                        <label for="ddlWareHouse">Warehouse</label>
                                        <select id="ddlWareHouse" class="form-control select2" onchange="GetProducts()"></select>


                                    </div>
                                </div>

                            </div>*@
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divRemarks">
                                    <label for="txtRemarks">Remarks</label>
                                    <input type="text" class="form-control" id="txtRemarks" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card-body">
                            <div class="col-md-12 table-responsive">
                                <table class="table table-bordered table-striped" id="salesOrder">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Product</th>
                                            <th style="display: none">Product Category</th>
                                            <th>Stock Qty</th>
                                            @*<th>Stock Kg</th>*@
                                            @*<th>Stock Price</th>*@
                                            <th>Sale Price</th>
                                            <th>Sale Qty</th>
                                            <th>Amount</th>
                                            <th width="20"><label id="lbldiscount">Discount %</label> </th>
                                            <th width="20"><label id="lbldiscountamt">Discount Amt.</label> </th>
                                            <th>Tax</th>
                                            <th>Total Amount</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                @*<div class="form-group row" id="divPaymentType">

                                    <label for="ddlPamentType" class="col-sm-2 control-label">Payment Type</label>
                                    <div class="col-sm-3">
                                        <select id="ddlPamentType" class="form-control select2" onchange="CalculateAll()"></select>
                                    </div>

                                </div>
                                <div class="form-group row" id="divBankName">
                                    <label for="ddlBankName" class="col-sm-2 control-label">Bank Name</label>
                                    <div class="col-sm-3">
                                        <select id="ddlBankName" class="form-control select2"></select>
                                    </div>
                                </div>
                                <div class="form-group row" id="divBankBranch">
                                    <label for="ddlBankBranch" class="col-sm-2 control-label">Bank Branch</label>
                                    <div class="col-sm-3">
                                        <select id="ddlBankBranch" class="form-control select2"></select>
                                    </div>
                                </div>
                                <div class="form-group row" id="divCheque">
                                    <label for="txtCheque" class="col-sm-2 control-label">Cheque No</label>
                                    <div class="col-sm-3">

                                        <input type="text" id="txtCheque" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group row" id="divChequeDate">
                                    <label for="txtChequeDate" class="col-sm-2 control-label">Cheque Date</label>
                                    <div class="col-sm-3">

                                        <input type="text" id="txtChequeDate" class="form-control" />
                                    </div>
                                </div>*@
                                <div class="form-group row">
                                    <label for="totalKg" class="col-sm-2 control-label">Order Total Qty:</label>
                                    <div class="col-sm-3">
                                        <label id="totalKg">0</label>
                                    </div>

                                </div>
                                <div class="form-group row">
                                    <label for="taxVat" class="col-sm-2 control-label">TAX & VAT:</label>
                                    <div class="col-sm-3">
                                        <label id="taxVat">0</label>
                                        <label> %</label>
                                    </div>

                                </div>
                                <div class="form-group row">
                                    <label for="totalIncTacVat" class="col-sm-2 control-label">Total Taka Including TAX & VAT:</label>
                                    <div class="col-sm-3">
                                        <label id="totalIncTacVat">0</label>
                                    </div>

                                </div>
                                <div class="form-group row">
                                    <label for="totalExTaxVat" class="col-sm-2 control-label">Total Taka Excluding TAX & VAT:</label>
                                    <div class="col-sm-3">
                                        <label id="totalExTaxVat">0</label>
                                    </div>

                                </div>
                                <div class="form-group row">
                                    <label for="ddlCollection" class="col-sm-2 control-label">Collection :</label>
                                    <div class="col-sm-2" id="divCollection">
                                        <select id="ddlCollection" class="form-control"></select>
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="number" id="txtCollection" value="0" class="form-control" oninput="CalculateAll()" />
                                    </div>
                                </div>
                                <div class="form-group row" id="divBankBranch">
                                    <label for="ddlCollection" class="col-sm-2 control-label">Bank & Branch :</label>
                                    <div class="col-sm-2" id="divBankNo">

                                        <select id="ddlBankCollection" class="form-control"></select>
                                    </div>
                                    <div class="col-sm-2" id="divBranchNo">
                                        <select id="ddlBranchCollection" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="form-group row" id="divRef">
                                    <label for="ddlCollection" class="col-sm-2 control-label">Cheque No & Date :</label>
                                    <div class="col-sm-2" id="divRefNo">

                                        <input type="text" id="txtRefNo" value="" class="form-control" />
                                    </div>
                                    <div class="col-sm-2" id="divRefDate">
                                        <input type="text" id="txtRefDate" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="lblRestAmount" class="col-sm-2 control-label">Rest Amount :</label>
                                    <div class="col-sm-3">
                                        <label id="lblRestAmount">0</label>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <!-- /.card-body -->
                        <div class="card-footer">

                            <button class="btn btn-primary" onclick="SaveOrder()">Submit</button>

                            <a class="btn btn-outline-danger float-right" href="@Url.Action("Index","SalesOrderFurtherProcess")">Cancel</a>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
    <input id="salesOrderId" type="number" style="display: none;" value="@ViewBag.SalesOrderId">
</section>
@section Scripts
{

    <script>
        var PrlductList = {};
        var DeleteProduct = [];
        $(document).ready(function () {
            LoadCompany('ddlCompany');
            $("#ddlCompany").val("7");
            LoadCustomerType('ddlCustomerType');
            //LoadCustomer('ddlCustomer');

            LoadDate_C('#txtOrderDate');
            LoadDate('#txtDeliveryDate');
            LoadDate('#txtChequeDate');
            LoadDate('#txtRefDate');
            EmpAutoCom('txtSalesPerson', 'employeeSelect');
            //LoadLocation('ddlLocation');
            LoadPaymentType('ddlPamentType');
            LoadBankName('ddlBankName');
            LoadBankName('ddlBankCollection');
            LoadPaymentType('ddlCollection');
            $("#ddlBankName").prop("disabled", true);
            $("#ddlBankBranch").prop("disabled", true);
            $("#txtCheque").prop("disabled", true);
            $("#txtChequeDate").prop("disabled", true);



            $("#ddlBankCollection").prop("disabled", true);
            $("#ddlBranchCollection").prop("disabled", true);
            $("#txtRefNo").prop("disabled", true);
            $("#txtRefDate").prop("disabled", true);

            GetProducts();
            var salesOrderId = $('#salesOrderId').val();
            if (salesOrderId > 0) {
                GetOrderMaster(salesOrderId);
            } else {
                AddRow();
            }


            $('#ddlCustomerType').change(function () {
                var custype = $(this).val();
                if (custype == 5) {
                    $('#salesOrder tbody').empty();

                    AddRow();
                    $('#lbldiscount').text("Commission + Claim %");
                    $('#lbldiscountamt').text("Commission +Claim  Amt.");
                }
                else {
                    $('#salesOrder tbody').empty();
                    AddRow();
                    $('#lbldiscount').text("Discount %");
                    $('#lbldiscountamt').text("Discount Amt.");
                }

            });

            $('#ddlBankName').change(function () {
                var bankid = $(this).val();
                LoadBankBranch('ddlBankBranch', bankid);

            });

            $('#ddlBankCollection').change(function () {
                var bankid = $(this).val();
                LoadBankBranch('ddlBranchCollection', bankid);

            });

            $('#ddlPamentType').change(function () {
                var payid = $(this).val();
                if (payid == 1 || payid == 3) {
                    $("#ddlBankName").prop("disabled", false);
                    $("#ddlBankBranch").prop("disabled", false);
                    $("#txtCheque").prop("disabled", false);
                    $("#txtChequeDate").prop("disabled", false);
                }
                else {
                    $("#ddlBankName").prop("disabled", true);
                    $("#ddlBankBranch").prop("disabled", true);
                    $("#txtCheque").prop("disabled", true);
                    $("#txtChequeDate").prop("disabled", true);


                }



            });

            $('#ddlCollection').change(function () {
                var payid = $(this).val();
                if (payid == 1 || payid == 3) {
                    $("#ddlBankCollection").prop("disabled", false);
                    $("#ddlBranchCollection").prop("disabled", false);
                    $("#txtRefNo").prop("disabled", false);
                    $("#txtRefDate").prop("disabled", false);
                }
                else {
                    $("#ddlBankCollection").prop("disabled", true);
                    $("#ddlBranchCollection").prop("disabled", true);
                    $("#txtRefNo").prop("disabled", true);
                    $("#txtRefDate").prop("disabled", true);
                    LoadBankName('ddlBankCollection');
                    LoadBankBranch('ddlBranchCollection', $("#ddlBankCollection").val());
                    $("#txtRefNo").val("");
                    $("#txtRefDate").val("");
                }



            });

        });

        function GetOrderMaster(id) {

            var urlpath = '@Url.Action("GetSalesOrderMaster", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { id: id },
                async: false,
                success: function (data) {

                    LoadCustomerType('ddlCustomerType');
                    $("#ddlCustomerType").val(data.CustomerTypeId).trigger('change');
                    $("#ddlCustomerType").prop("disabled", true);
                    LoadCustomer('ddlCustomer');
                    $("#ddlCustomer").val(data.CustomerId).trigger('change');
                    GetCustomerDetails();
                    $("#ddlCompany").val(data.CompanyId).trigger('change');
                    $("#txtSalesPersonNo").val(data.SalesPersonContact);
                    if (data.IsEmployee == true) {
                        $('#chkEmployee').prop('checked', true);
                        $("#txtSalesPerson").val(GetEmployeeName(data.SalesPerson));
                        GetEmpNoFromId($("#txtSalesPerson").val());
                    } else {
                        $('#chkEmployee').prop('checked', false);
                        $("#txtSalesPerson").val(data.SalesPerson);
                    }
                    $('#txtOrderDate').val(ToJavaScriptDate(data.OrderDate));
                    $('#txtDeliveryDate').val(ToJavaScriptDate(data.DeliveryDate));
                    $('#txtDestination').val(data.DeliveryDestination);

                    $('#txtRemarks').val(data.Remarks);
                    LoadPaymentType('ddlPamentType');
                    $("#ddlPamentType").val(data.PaymentType).trigger('change');

                    LoadPaymentType('ddlCollection');
                    $("#ddlCollection").val(data.CollectionType).trigger('change');
                    $('#txtCollection').val(data.TotalPaid);
                    $('#lblRestAmount').html(data.TotalDue - data.TotalPaid);

                    $("#ddlCollection").prop("disabled", true);
                    $('#txtCollection').prop("disabled", true);

                    $("#txtRefNo").prop("disabled", true);
                    $('#txtRefDate').prop("disabled", true);

                    $("#ddlBankName").val(data.BankId);
                    LoadBankBranch('ddlBankBranch', data.BankId);
                    $("#ddlBankBranch").val(data.BranchId);
                    $("#txtCheque").val(data.ChequeNo);
                    if (data.ChequeDate != null) {
                        $("#txtChequeDate").val(ToJavaScriptDate(data.ChequeDate));
                    }

                    if (data.PaymentType == "1" || data.PaymentType == "3") {
                        $("#ddlBankName").prop("disabled", false);
                        $('#ddlBankBranch').prop("disabled", false);
                        $("#txtCheque").prop("disabled", false);
                        $('#txtChequeDate').prop("disabled", false);
                    }
                    else {
                        $("#ddlBankName").prop("disabled", true);
                        $('#ddlBankBranch').prop("disabled", true);
                        $("#txtCheque").prop("disabled", true);
                        $('#txtChequeDate').prop("disabled", true);
                    }


                    $("#ddlBankCollection").val(data.ColBankId);
                    LoadBankBranch('ddlBranchCollection', data.ColBankId);
                    $("#ddlBranchCollection").val(data.ColBranchId);
                    $("#txtRefNo").val(data.ColChequeNo);
                    var cdate = data.ColChequeDate;
                    //alert(cdate);
                    if (cdate != null) {
                        $("#txtRefDate").val(ToJavaScriptDate(data.ColChequeDate));
                    }



                    $("#ddlCollection").prop("disabled", true);
                    $('#txtCollection').prop("disabled", true);


                    $("#ddlBankCollection").prop("disabled", true);

                    $("#ddlBranchCollection").prop("disabled", true);
                    $("#txtRefNo").prop("disabled", true);
                    $('#txtRefDate').prop("disabled", true);



                    $('#salesOrderNo').html(data.SalesOrderNo);
                    GetProducts();
                    var typeid = $("#ddlCustomerType").val();
                    for (var i = 0; i < data.SalesDetails.length; i++) {

                        var tr = $('#salesOrder tbody tr').length + 1;
                        AddRow();

                        $("#pro_" + tr).val(data.SalesDetails[i].ProductId).trigger('change');
                        $('#saleQty_' + tr).val(data.SalesDetails[i].ProductQty);
                        $('#saleKG_' + tr).val(data.SalesDetails[i].ProductKg);
                        if (typeid == 5) {
                            $('#disPer_' + tr).prop("disabled", true);
                            $('#disNum_' + tr).prop("disabled", true);
                            $('#disPer_' + tr).val(data.SalesDetails[i].DiscountPercent.toFixed(2));
                            $('#disNum_' + tr).val(data.SalesDetails[i].DiscountAmount.toFixed(2));

                            $('#lbldiscount').text("Commission %");
                            $('#lbldiscountamt').text("Commission Amt.");
                        }
                        else {
                            $('#disPer_' + tr).prop("disabled", false);
                            $('#disNum_' + tr).prop("disabled", false);
                            $('#disPer_' + tr).val(data.SalesDetails[i].DiscountPercent.toFixed(2));
                            $('#disNum_' + tr).val(data.SalesDetails[i].DiscountAmount.toFixed(2)); ``

                            $('#lbldiscount').text("Discount %");
                            $('#lbldiscountamt').text("Discount Amt.");
                        }
                        $('#saleRate_' + tr).val(data.SalesDetails[i].SaleRate);

                        $('#total_' + tr).val((data.SalesDetails[i].TotalPrice + data.SalesDetails[i].DiscountAmount - data.SalesDetails[i].ProductTax).toFixed(2));
                        $('#totalG_' + tr).val(data.SalesDetails[i].TotalPrice);
                        $('#details_' + tr).val(data.SalesDetails[i].SalesOrderProcessDetailsId);
                        $('#proTax_' + tr).val(data.SalesDetails[i].ProductTax);

                    }




                    $('#totalKg').html(data.TotatalOrderAmtKg);
                    $('#totalIncTacVat').html(data.TotalIncTaxVat);
                    $('#totalExTaxVat').html(data.TotalExTaxVat);

                    //CalculateAll();

                }
            });
        }
        function GetEmpNoFromId(data) {

            var a = data;
            var empId = data.substring(0, 5);

            var urlpath = '@Url.Action("GetEmpNo", "Utility")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { empId: empId },
                async: false,
                success: function (data) {
                    $('#employeeSelect').val(data);
                }
            });

        }
        function GetEmployeeName(empId) {
            var EmpName = "";
            var urlpath = '@Url.Action("GetEmployeeName", "Utility")';
            $.ajax({
                url: urlpath,
                data: { empId: empId },
                dataType: 'json',
                type: "Get",

                async: false,
                success: function (data) {
                    EmpName = data;

                }
            });
            return EmpName;
        }
        function Checko() {
            var checkp = $("#chkEmployee").prop("checked");
            if (checkp == true) { //if this item is unchecked
                EmpAutoCom('txtSalesPerson', 'employeeSelect');

            }

        }
        function LoadCustomerType(elementId) {

            var urlpath = '@Url.Action("GetCustomerType", "SalesOrderFurtherProcess")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",

                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Customer Type --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].CustomerTypeID).html(data[i].CoustomerTypeName));
                    }
                }
            });
        }
        function LoadPaymentType(elementId) {

            var urlpath = '@Url.Action("GetPaymentType", "Utility")';
            $.ajax({
                url: urlpath,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                type: "Get",

                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Payment --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].PaymentTypeId).html(data[i].PaymentType));
                    }
                }
            });
        }

        function GetProductDetails(prodId) {



            var productId = $('#pro_' + prodId).val();
            var groupid = 6;
            //var wareHouseId = $('#ddlWareHouse').val();
            var urlpath = '@Url.Action("GetProductDetails", "SalesOrderFurtherProcess")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'json',
                data: { productId: productId, groupid: groupid },
                async: false,
                success: function (data) {

                    $("#cat_" + prodId).val(data.CategoryName);
                    $("#stQty_" + prodId).val(data.StockQty);
                    //$("#stRate_" + prodId).val(data.StockPrice);
                    var cus = $("#lblCusType").text();
                    if (cus == 5) {
                        $("#saleRate_" + prodId).val(data.DPPrice);
                    }
                    else if (cus == 1) {
                        $("#saleRate_" + prodId).val(data.TPPrice);
                    }
                    else {
                        $("#saleRate_" + prodId).val(data.MRP);
                    }



                }
            });
        }
        function AddRow() {
            //CalculateAll();
            var tr = $('#salesOrder tbody tr').length + 1;
            var values = $("#salesOrder tbody tr")
              .map(function () { return parseInt($(this).attr('id').substring(3)); }).get();
            var index = values.indexOf(tr);
            if (index >= 0) {
                tr = Math.max.apply(Math, values) + 1;
            }

            var urlpath = '@Url.Action("AddRowForOrder", "SalesOrderFurtherProcess")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'html',
                data: { tr: tr },
                async: false,
                success: function (data) {

                    $('#salesOrder tbody').append(data);
                    LoadProductInRow("pro_" + tr);


                }
            });
            //$('#pro_' + tr).select2();
            SerialTable();
        }
        function RemoveRow(id) {


            var trLength = $('#salesOrder tbody tr').length;
            if (trLength > 1) {

                var detailsId = $('#details_' + id).val();
                if (detailsId > 0) {
                    var productId = isNaN(parseFloat($('#pro_' + id).val())) ? 0 : parseFloat($('#pro_' + id).val());
                    var saleQty = isNaN(parseFloat($('#saleQty_' + id).val())) ? 0 : parseFloat($('#saleQty_' + id).val());
                    var stockRate = isNaN(parseFloat($('#stRate_' + id).val())) ? 0 : parseFloat($('#stRate_' + id).val());
                    var saleRate = isNaN(parseFloat($('#saleRate_' + id).val())) ? 0 : parseFloat($('#saleRate_' + id).val());

                    var saleKg = isNaN(parseFloat($('#saleKG_' + id).val())) ? 0 : parseFloat($('#saleKG_' + id).val());

                    var disPer = isNaN(parseFloat($('#disPer_' + id).val())) ? 0 : parseFloat($('#disPer_' + id).val());
                    var disAmt = isNaN(parseFloat($('#disNum_' + id).val())) ? 0 : parseFloat($('#disNum_' + id).val());
                    var total = isNaN(parseFloat($('#totalG_' + id).val())) ? 0 : parseFloat($('#totalG_' + id).val());
                    var delObj = {};
                    delObj["ProductId"] = productId;
                    delObj["SalesOrderProcessDetailsId"] = detailsId;
                    delObj["ProductQty"] = saleQty;
                    delObj["StockRate"] = stockRate;
                    delObj["SaleRate"] = saleRate;
                    delObj["ProductKg"] = saleKg;
                    delObj["DiscountAmount"] = disAmt;
                    delObj["DiscountPercent"] = disPer;
                    delObj["TotalPrice"] = total;
                    delObj["IsDelete"] = true;
                    delObj["OperationIdDelete"] = 1;





                    DeleteProduct.push(delObj);

                }
                $('#tr_' + id).remove();
                // var aProd = new object();
                SerialTable();
                CalculateAll();
            } else {
                return;
            }

        }
        function SerialTable() {
            $('#salesOrder tbody tr').each(function (index, element) {

                var idr = $(this).attr('id');
                var id = idr.substring(3);
                $('#ts_' + id).html(index + 1);


            });
        }
        function LoadProductInRow(elementId) {

            var array = [];
            var rowCount = $('#salesOrder tbody tr').length;
            for (let count = 0; count < rowCount; count++) {
                array.push(parseInt($("#pro_" + count).val()));
            };
            $('#' + elementId + '').append("<option value='0'>--Select Product--</option>");

            for (var i = 0; i < PrlductList.length; i++) {
                if (jQuery.inArray(PrlductList[i].ProductId, array) == -1) {
                    $('#' + elementId + '').append($("<option></option>").val(PrlductList[i].ProductId).html(PrlductList[i].ProductNo + ":" + PrlductList[i].ProductName));
                }

            }
            //$('#' + elementId + '').select2();
        }


        function LoadPackSize(elementId) {
            var urlpath = '@Url.Action("GetPackSize", "Product")';

            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {
                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Pack Size--</option>");


                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].PackSizeId).html(data[i].PackSizeName));

                    }
                }
            });
        }
        function GetProducts() {


            var urlpath = '@Url.Action("GetProductByGroup", "Utility")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { groupId: 6 },
                async: false,
                success: function (data) {

                    PrlductList = data;

                }
            });
        }
        function LoadWareHouse(elementId) {

            var location = $('#ddlLocation').val();
            var urlpath = '@Url.Action("LoadWareHouse", "ItemRequisition")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { location: parseInt(location) },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Warehouse--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].WareHouseId).html(data[i].WareHouseName));
                    }

                }
            });
        }

        function LoadLocation(elementId) {
            var urlpath = '@Url.Action("LoadLocation", "ItemRequisition")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: {},
                async: true,
                success: function (data) {
                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Location--</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].LocationId).html(data[i].LocationName));
                    }
                }
            });
        }
        function GetSalesPersonPhone() {

            var empNo = $('#employeeSelect').val();
            var urlpath = '@Url.Action("GetSalesPhoneNo", "SalesOrderFurtherProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { empNo: empNo },
                async: false,
                success: function (data) {
                    $('#txtSalesPersonNo').val(data);

                }
            });


        }
        function LoadCustomer(elementId) {
            var typeid = $('#ddlCustomerType').val();
            var urlpath = '@Url.Action("GetCustomer", "SalesOrderFurtherProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'json',
                type: "Get",
                data: { typeid: typeid },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Customer --</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].CustomerID).html(data[i].CustomerCode + ":" + data[i].CustomerName + ": " + data[i].CoustomerTypeName));
                    }
                }
            });
        }

        function GetCustomerDetails() {


            var customerId = $('#ddlCustomer').val();

            var urlpath = '@Url.Action("GetCustomerDetails", "SalesOrderFurtherProcess")';
            $.ajax({
                url: urlpath,

                dataType: 'html',
                type: "Get",
                data: { id: customerId },
                async: false,
                success: function (data) {
                    $('#customerDetails').empty();
                    $('#customerDetails').html(data);

                }
            });



            LoadDate('#txtOrderDate');
            var str = $('#customerAddress').html();
            if (str != '' || str != null)
            {
                var array = str.split(':');
               
                $('#txtDestination').val(array[1]);
            }
            

        }
        function Total(slno, typeid) {
           
            var saleQty = isNaN(parseFloat($('#saleQty_' + slno).val())) ? 0 : parseFloat($('#saleQty_' + slno).val());
            var saleRate = isNaN(parseFloat($('#saleRate_' + slno).val())) ? 0 : parseFloat($('#saleRate_' + slno).val());

            var disCounPer = 0;
            var distountTotal = 0;
            var total = 0;

            if (typeid == 5) {
                total = saleRate * saleQty;
                $('#disPer_' + slno).val(11);
                disCounPer = isNaN(parseFloat($('#disPer_' + slno).val())) ? 0 : parseFloat($('#disPer_' + slno).val());
                distountTotal = total * (disCounPer / 100);
                
                $('#disPer_' + slno).attr("disabled", true);
                $('#disNum_' + slno).attr("disabled", true);
                //var distotal = saleKg * parseFloat(4);
                $('#disNum_' + slno).val(distountTotal);
               
            }
            else {
                disCounPer = isNaN(parseFloat($('#disPer_' + slno).val())) ? 0 : parseFloat($('#disPer_' + slno).val());
                total = saleRate * saleQty;
                distountTotal = total * (disCounPer / 100);

                $('#disPer_' + slno).attr("disabled", false);
                $('#disNum_' + slno).attr("disabled", false);
            }
            





            //var disCounPer = isNaN(parseFloat($('#disPer_' + slno).val())) ? 0 : parseFloat($('#disPer_' + slno).val());
            //var total = saleRate * saleQty;
            //var distountTotal = total * (disCounPer / 100);

            



            var vatPerItem = isNaN(parseFloat($('#proTax_' + slno).val())) ? 0 : parseFloat($('#proTax_' + slno).val());
            var totalPrice = total + vatPerItem - distountTotal;
            $('#total_' + slno).val(total);
            $('#disNum_' + slno).val(distountTotal);
            $('#totalG_' + slno).val(totalPrice);
            CalculateAll();
        }

        function CalculateSalePriceAmt(id) {
            var saleRate = isNaN(parseFloat($('#saleRate_' + id).val())) ? 0 : parseFloat($('#saleRate_' + id).val());
            var saleQty = isNaN(parseFloat($('#saleQty_' + id).val())) ? 0 : parseFloat($('#saleQty_' + id).val());
            var discountAmt = isNaN(parseFloat($('#disNum_' + id).val())) ? 0 : parseFloat($('#disNum_' + id).val());

            var total = saleRate * saleQty;
            var discountRate = (discountAmt / total) * 100;
            var totalPrice = total - discountAmt;
            $('#total_' + id).val(total.toFixed(2));
            $('#disPer_' + id).val(discountRate.toFixed(2));
            $('#totalG_' + id).val(totalPrice.toFixed(2));
            CalculateAll();
        }

        function SaveValidation() {
            var isValid = true;
            var message = "Some Values Required";
            if ($('#ddlCompany').val() == 0 || $('#ddlCompany').val() == '') {
                ValidationColorChangeNew("ddlCompany", "divCompany", "Company Required", true);
                isValid = false;
            }
            if ($('#ddlCustomerType').val() == 0 || $('#ddlCustomerType').val() == '') {
                ValidationColorChangeNew("ddlCustomerType", "divCustomerType", "Customer Type Required", true);
                isValid = false;
            }
            if ($('#ddlCustomer').val() == 0 || $('#ddlCustomer').val() == '') {
                ValidationColorChangeNew("ddlCustomer", "divCustomer", "Customer Required", true);
                isValid = false;
            }

            if ($('#txtOrderDate').val() == '' || $('#ddlCustomer').val() == null) {
                ValidationColorChangeNew("txtOrderDate", "divOrderDate", "Order Date Required", false);
                isValid = false;
            } if ($('#txtDeliveryDate').val() == '' || $('#txtDeliveryDate').val() == null) {
                ValidationColorChangeNew("txtDeliveryDate", "divDeliveryDate", "Delivery Date Required", false);
                isValid = false;
            }
            if ($('#txtDestination').val() == '' || $('#txtDestination').val() == null) {
                ValidationColorChangeNew("txtDestination", "divDestination", "Delivery Place Required", false);
                isValid = false;
            }

            var chk = $("#chkEmployee").prop("checked");
            if (chk == true) {
                if ($('#txtSalesPerson').val() == '' || $('#txtSalesPerson').val() == null || $('#employeeSelect').val() == 0) {
                    ValidationColorChangeNew("txtSalesPerson", "divSalesPerson", "Sales Person Required", false);
                    isValid = false;
                }
            }
            else {
                if ($('#txtSalesPerson').val() == '' || $('#txtSalesPerson').val() == null) {
                    ValidationColorChangeNew("txtSalesPerson", "divSalesPerson", "Sales Person Required", false);
                    isValid = false;
                }
            }
            if ($('#txtSalesPersonNo').val() == '' || $('#txtSalesPersonNo').val() == null) {
                ValidationColorChangeNew("txtSalesPersonNo", "dovSalesPersonNo", "Contact No Required", false);
                isValid = false;
            }

            //if ($('#ddlWareHouse').val() == '' || $('#ddlWareHouse').val() == null || $('#ddlWareHouse').val() == 0) {
            //    ValidationColorChangeNew("ddlWareHouse", "divWareHouse", "Ware House Required", true);
            //    isValid = false;
            //}
            //if ($('#ddlPamentType').val() == '' || $('#ddlPamentType').val() == null || $('#ddlPamentType').val() == 0) {
            //    ValidationColorChangeNew("ddlPamentType", "divPaymentType", "Payment Type Required", true);
            //    isValid = false;
            //}

            //var payid = $('#ddlPamentType').val();
            //if (payid == 1) {
            //    if ($('#ddlBankName').val() == '' || $('#ddlBankName').val() == null || $('#ddlBankName').val() == 0) {
            //        ValidationColorChangeNew("ddlBankName", "divBankName", "Bank Required", true);
            //        isValid = false;
            //    }
            //    if ($('#ddlBankBranch').val() == '' || $('#ddlBankBranch').val() == null || $('#ddlBankBranch').val() == 0) {
            //        ValidationColorChangeNew("ddlBankBranch", "divBankBranch", "Branch Required", true);
            //        isValid = false;
            //    }
            //}

            //if (payid == 3) {
            //    if ($('#ddlBankName').val() == '' || $('#ddlBankName').val() == null || $('#ddlBankName').val() == 0) {
            //        ValidationColorChangeNew("ddlBankName", "divBankName", "Bank Required", true);
            //        isValid = false;
            //    }
            //    if ($('#ddlBankBranch').val() == '' || $('#ddlBankBranch').val() == null || $('#ddlBankBranch').val() == 0) {
            //        ValidationColorChangeNew("ddlBankBranch", "divBankBranch", "Branch Required", true);
            //        isValid = false;
            //    }
            //    if ($('#txtCheque').val() == '' || $('#txtCheque').val() == null) {
            //        ValidationColorChangeNew("txtCheque", "divCheque", "Cheque No Required", false);
            //        isValid = false;
            //    }
            //    if ($('#txtChequeDate').val() == '' || $('#txtChequeDate').val() == null) {
            //        ValidationColorChangeNew("txtChequeDate", "divChequeDate", "Cheque Date Required", false);
            //        isValid = false;
            //    }
            //}


            var colection = isNaN(parseFloat($('#txtCollection').val())) ? 0 : parseFloat($('#txtCollection').val());
            if (colection > 0) {
                if ($('#ddlCollection').val() == '' || $('#ddlCollection').val() == null || $('#ddlCollection').val() == 0) {
                    ValidationColorChangeNew("ddlCollection", "divCollection", "Collection Type Required", true);
                    isValid = false;
                }
                var colid = $('#ddlCollection').val();
                if (colid == 1) {
                    if ($('#ddlBankCollection').val() == '' || $('#ddlBankCollection').val() == null || $('#ddlBankCollection').val() == 0) {
                        ValidationColorChangeNew("ddlBankCollection", "divBankNo", "Bank Required", true);
                        isValid = false;
                    }
                    if ($('#ddlBranchCollection').val() == '' || $('#ddlBranchCollection').val() == null || $('#ddlBranchCollection').val() == 0) {
                        ValidationColorChangeNew("ddlBranchCollection", "divBranchNo", "Branch Required", true);
                        isValid = false;
                    }
                }

                if (colid == 3) {
                    if ($('#ddlBankCollection').val() == '' || $('#ddlBankCollection').val() == null || $('#ddlBankCollection').val() == 0) {
                        ValidationColorChangeNew("ddlBankCollection", "divBankNo", "Bank Required", true);
                        isValid = false;
                    }
                    if ($('#ddlBranchCollection').val() == '' || $('#ddlBranchCollection').val() == null || $('#ddlBranchCollection').val() == 0) {
                        ValidationColorChangeNew("ddlBranchCollection", "divBranchNo", "Branch Required", true);
                        isValid = false;
                    }
                    if ($('#txtRefNo').val() == '' || $('#txtRefNo').val() == null) {
                        ValidationColorChangeNew("txtRefNo", "divRefNo", "Cheque No Required", false);
                        isValid = false;
                    }
                    if ($('#txtRefDate').val() == '' || $('#txtRefDate').val() == null) {
                        ValidationColorChangeNew("txtRefDate", "divRefDate", "Cheque Date Required", false);
                        isValid = false;
                    }
                }




               
            }

            if ($('#salesOrder tbody tr').length == 0 || $('#salesOrder tbody tr').length == '') {
                isValid = false;
                message = "Products Required";
            }



            $('#salesOrder tbody tr').each(function () {


                var idr = $(this).attr('id');
                var id = idr.substring(3);
                var saleQty = isNaN(parseFloat($('#saleQty_' + id).val())) ? 0 : parseFloat($('#saleQty_' + id).val());
                var saleRate = isNaN(parseFloat($('#saleRate_' + id).val())) ? 0 : parseFloat($('#saleRate_' + id).val());
                var total = isNaN(parseFloat($('#totalG_' + id).val())) ? 0 : parseFloat($('#totalG_' + id).val());
                if (saleQty === 0) {
                    isValid = false;
                    message = "Sale Qty Cannot be 0 ";
                    return;
                }
                if (saleRate === 0) {
                    isValid = false;
                    message = "Sale Rate Cannot be 0 ";
                    return;
                }

                if (total === 0) {
                    isValid = false;
                    message = "Total Price Cannot be 0 ";
                    return;
                }
            });
            if (isValid == false) {
                ShowMessage(message);

            }
            return isValid;


        }

        function SaveOrder() {

            if (SaveValidation() == true) {
                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveOdrerFinal();

                });
            }


        }

        function SaveOdrerFinal() {

            var jsonData = {};

            jsonData["CompanyId"] = $('#ddlCompany').val();
            jsonData["CustomerId"] = $('#ddlCustomer').val();
            jsonData["SalesOrderProcessedMasterId"] = $('#salesOrderId').val();
            jsonData["OrderType"] = 1;
            jsonData["SalesPerson"] = $('#txtSalesPerson').val();
            jsonData["SalesPersonContact"] = $('#txtSalesPersonNo').val();
            jsonData["OrderDate"] = $('#txtOrderDate').val();
            jsonData["DeliveryDate"] = $('#txtDeliveryDate').val();
            jsonData["DeliveryDestination"] = $('#txtDestination').val();
            jsonData["GroupId"] = 6;
            //jsonData["PaymentType"] = $('#ddlPamentType').val();
            //jsonData["BankId"] = $('#ddlBankName').val();
            //jsonData["BranchId"] = $('#ddlBankBranch').val();
            //jsonData["ChequeNo"] = $('#txtCheque').val();
            //jsonData["ChequeDate"] = $('#txtChequeDate').val();

            jsonData["TotatalOrderAmtKg"] = parseFloat($('#totalKg').html());
            jsonData["TotalIncTaxVat"] = parseFloat($('#totalIncTacVat').html());
            jsonData["TotalExTaxVat"] = parseFloat($('#totalExTaxVat').html());
            jsonData["TaxVat"] = parseFloat($('#taxVat').html());
            jsonData["Remarks"] = $('#txtRemarks').val();
            jsonData["CollectionType"] = $('#ddlCollection').val();
            jsonData["CollectionAmount"] = $('#txtCollection').val();
            jsonData["IsEmployee"] = $("#chkEmployee").prop("checked");
            jsonData["CustomerTypeId"] = $('#ddlCustomerType').val();

            jsonData["ColBankId"] = $('#ddlBankCollection').val();
            jsonData["ColBranchId"] = $('#ddlBranchCollection').val();
            jsonData["RefNo"] = $('#txtRefNo').val();
            jsonData["RefDate"] = $('#txtRefDate').val();
            var jsonObjs = [];
            $('#salesOrder tbody tr').each(function () {

                var theObj = {};
                var idr = $(this).attr('id');
                var id = idr.substring(3);
                var productId = isNaN(parseFloat($('#pro_' + id).val())) ? 0 : parseFloat($('#pro_' + id).val());
                var saleQty = isNaN(parseFloat($('#saleQty_' + id).val())) ? 0 : parseFloat($('#saleQty_' + id).val());
                var stockRate = isNaN(parseFloat($('#stRate_' + id).val())) ? 0 : parseFloat($('#stRate_' + id).val());
                var saleRate = isNaN(parseFloat($('#saleRate_' + id).val())) ? 0 : parseFloat($('#saleRate_' + id).val());
                var disPer = isNaN(parseFloat($('#disPer_' + id).val())) ? 0 : parseFloat($('#disPer_' + id).val());
                var disAmt = isNaN(parseFloat($('#disNum_' + id).val())) ? 0 : parseFloat($('#disNum_' + id).val());
                var total = isNaN(parseFloat($('#totalG_' + id).val())) ? 0 : parseFloat($('#totalG_' + id).val());
                var detailsId = isNaN(parseFloat($('#details_' + id).val())) ? 0 : parseFloat($('#details_' + id).val());
                var tax = isNaN(parseFloat($('#proTax_' + id).val())) ? 0 : parseFloat($('#proTax_' + id).val());

                theObj["ProductId"] = productId;
                theObj["SalesOrderProcessDetailsId"] = detailsId;
                theObj["ProductQty"] = saleQty;
                theObj["StockRate"] = stockRate;
                theObj["SaleRate"] = saleRate;
                theObj["ProductKg"] = 0;
                theObj["DiscountAmount"] = disAmt;
                theObj["DiscountPercent"] = disPer;
                theObj["TotalPrice"] = total;
                theObj["ProductTax"] = tax;
                theObj["OperationIdAdd"] = 1;
                jsonObjs.push(theObj);
            });
             
            if (isNaN(parseInt($('#salesOrderId').val())) ? 0 : parseInt($('#salesOrderId').val()) > 0) {
                var deleteLength = DeleteProduct.length;
                for (var ind = 0; ind < DeleteProduct.length; ind++) {
                    jsonObjs.push(DeleteProduct[ind]);
                }
            }

            jsonData["SalesDetails"] = jsonObjs;

            var urlpath = '@Url.Action("SaveOrderPrecessed", "SalesOrderFurtherProcess")';
            $.ajax({
                contentType: "application/json",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "POST"
            })
                .success(function (result) {

                    if (result.pk > 0) {

                        // var mrrNo = GetMrrNo(result.pk);

                        swal({
                            title: " Saved Successfull",
                            text: '',
                            type: "success",
                            showCancelButton: false,
                            cancelButtonClass: 'btn-secondary waves-effect',
                            confirmButtonClass: 'btn-success waves-effect waves-light',
                            confirmButtonText: 'Yes!',
                            closeOnConfirm: false
                        }, function () {
                            window.location.href = '@Url.Action("FurtherSalesOrderList", "SalesOrderFurtherProcess")';

                        });


                    }
                });


        }

        function CalculateAll() {
             
            var totalDisCount = 0;
            var grandTotal = 0;
            var totalIncTax = 0;
            var totalExTax = 0;
            var totalQty = 0;
            var totalTax = 0;
            var proCout = 0;
            $('#salesOrder tbody tr').each(function () {

                var theObj = {};
                var idr = $(this).attr('id');
                var id = idr.substring(3);

                var productId = isNaN(parseFloat($('#pro_' + id).val())) ? 0 : parseFloat($('#pro_' + id).val());
                var saleQty = isNaN(parseFloat($('#saleQty_' + id).val())) ? 0 : parseFloat($('#saleQty_' + id).val());
                var stockRate = isNaN(parseFloat($('#stRate_' + id).val())) ? 0 : parseFloat($('#stRate_' + id).val());
                var saleRate = isNaN(parseFloat($('#saleRate' + id).val())) ? 0 : parseFloat($('#saleRate' + id).val());

                //var saleKg = isNaN(parseFloat($('#saleKG_' + id).val())) ? 0 : parseFloat($('#saleKG_' + id).val());

                var disPer = isNaN(parseFloat($('#disPer_' + id).val())) ? 0 : parseFloat($('#disPer_' + id).val());
                var disAmt = isNaN(parseFloat($('#disNum_' + id).val())) ? 0 : parseFloat($('#disNum_' + id).val());
                var total = isNaN(parseFloat($('#total_' + id).val())) ? 0 : parseFloat($('#total_' + id).val());
                grandTotal += (total - disAmt);
                totalQty += saleQty;
                if (productId > 0) {
                    proCout = proCout + 1;
                }

            });
            if (grandTotal > 0) {
                $('#taxVat').html(GetTaxInfo(6, grandTotal));
            }
            else {
                $('#taxVat').html("0");
            }
            
            var tax = parseFloat($('#taxVat').html());
            var colection = isNaN(parseFloat($('#txtCollection').val())) ? 0 : parseFloat($('#txtCollection').val());





            var taxCal = grandTotal * (tax / 100);
            var proTax = (taxCal / proCout);
            SetItemTax(proTax);

            totalIncTax = grandTotal + taxCal;
            totalExTax = grandTotal;
            $('#totalKg').html(totalQty.toFixed(2));
            $('#totalIncTacVat').html(totalIncTax.toFixed(2));
            $('#totalExTaxVat').html(grandTotal.toFixed(2));

            var restamount = totalIncTax - colection;
            $('#lblRestAmount').html(restamount.toFixed(2));

        }
        function SetItemTax(proTax) {
            $('#salesOrder tbody tr').each(function () {


                var idr = $(this).attr('id');
                var id = idr.substring(3);
                var total = isNaN(parseFloat($('#total_' + id).val())) ? 0 : parseFloat($('#total_' + id).val());
                var disnum = isNaN(parseFloat($('#disNum_' + id).val())) ? 0 : parseFloat($('#disNum_' + id).val());
                $('#proTax_' + id).val(proTax.toFixed(2));

                $('#totalG_' + id).val((total - disnum + proTax).toFixed(2));

            });
        }
        function GetTaxInfo(productGroupId, amount) {
            var tax = 2;
            var urlpath = '@Url.Action("GetTaxInfo", "SalesOrderProcess")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'json',
                data: { productGroupId: productGroupId, amount: amount },
                async: false,
                success: function (data) {
                    tax = data.TaxPercent;

                }
            });
            return tax;
        }

    </script>
}
