﻿@model IEnumerable<IGFoodProject.ViewModel.ViewPortionStockTemp>

<table class="table table-bordered">
    <thead>
    <tr >
        <th>#</th>
        <th>Date</th>
        <th>Issue No</th>

        <th>Warehouse</th>
        <th>Location</th>
        <th>Stockin By</th>
        <th>Action</th>
    </tr>
    </thead>

    <tbody>

    @{
        int count = 1;
    }

    @foreach (var item in Model)
    {
        <tr>
            <td>@count</td>
            <td>@Convert.ToDateTime(item.StockInDate).ToString("dd-MMM-yyyy")</td>
            <td>@item.IssueNo</td>
            <td>@item.WareHouseName</td>
            <td>@item.LocationName</td>
            <td>@item.StockInBy</td>
            <td><button class="btn btn-sm btn-dark" onclick="Approve(@item.PortionStockInMasterLogID)">Approve</button></td>

        </tr>
    }
    </tbody>
</table>
<script>


    function Approve(id)
        {

            window.location = "@Url.Action("ApproveStockIn", "IssuePortion")"+"?id="+id;

        }
</script>