﻿@model IEnumerable<IGFoodProject.ViewModel.ViewPortionIssusDetailsLog>

<div class="card-body">
    <table class="table-bordered table-striped table-responsive" id="issueTable">
        <thead>
            <tr>
                <th>#</th>
                <th>Product Name</th>
                <th>Stock Qty</th>
                <th>Stock Kg</th>
                <th>Approve Qty</th>
                <th>Approve KG</th>
                <th>Expire Date</th>
                <th>Unit Price</th>
            </tr>
        </thead>
        <tbody>
            @{ int i = 1;}
            @foreach (var item in Model)
            {
                <tr id="tr_@item.PortionStockInDetailLogID">
                    <td>@i</td>
                    <td>@item.ProductName</td>
                    <td><input type="number" value="@item.StockInQty" disabled="disabled" class="form-control"/></td>
                    <td><input type="number" value="@item.StockInKG" disabled="disabled" class="form-control"/></td>
                    
                    <td><input type="number" class="form-control" id="appQty_@item.PortionStockInDetailLogID" value="@item.StockInQty" /></td>
                    <td><input type="number" class="form-control" id="appKg_@item.PortionStockInDetailLogID" value="@item.StockInKG" /></td>
                    <td><input type="text" class="form-control datepicker" id="exDate_@item.PortionStockInDetailLogID" value="@Convert.ToDateTime(item.ExpireDate).ToString("dd-MMM-yyyy")" /></td>
                    <td>
                        <input type="number" class="form-control" value="@item.UnitPrice" />
                        <input type="hidden" class="form-control" value="@item.ProductID" id="pro_@item.PortionStockInDetailLogID" />

                    </td>
                </tr>
                i++;
            }
        </tbody>
    </table>
</div>
