﻿@model IEnumerable<IGFoodProject.ViewModel.ViewDBPortionIssueDetail>


<div class="card-body">
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th>#</th>
                <th>Product Name</th>
                <th>Stock Qty</th>
                <th>Stock Kg</th>
                
                
            </tr>
        </thead>
        <tbody>
            @{ int i = 1;}
            @foreach (var item in Model)
            {
                <tr id="tr_@i">
                    <td>@i</td>
                    <td>@item.ProductName</td>
                    <td>@item.IssueQty</td>
                    <td>@item.IssueQtyInKG</td>
                    
                </tr>
                i++;
            }
        </tbody>
    </table>
</div>
