﻿@model IEnumerable<IGFoodProject.Models.tbl_DBToPortionRequisitionDetail>

<table id="myTable" class="table table-bordered">
    <thead>
        <tr style="background-color: aliceblue">
            <th>#SL</th>
            <th> Issue Product</th>
            <th>Stock Qty</th>
            <th>Stock Qty</th>
            <th>Product Qty</th>
            <th>Product Kg</th>
            <th>Remarks</th>
            <th>Issue Quantity</th>
            <th>Issue Kg</th>
            <th>Issue Remarks</th>
        </tr>
    </thead>
    <tbody>
        @{ int sl = 1; }
        @foreach (var item in Model)
        {

            <tr id="tr_@sl">
                <td>
                    @sl
                </td>
                <td width="60%">
                    <input type="text" min=0 class="form-control" id="txtDressBird_@sl" value="@item.ProductName" readonly />
                    <input type="hidden" min=0 class="form-control" id="txtDressBirdId_@sl" value="@item.ProductID" />
                    <input type="hidden" min=0 class="form-control" id="txtReqDetailsId_@sl" value="@item.DBToPortionRequisitionDetailID" />
                    <input type="hidden" min=0 class="form-control" id="txtGroupId_@sl" value="@item.GroupId" />
                    <input type="hidden" min=0 class="form-control" id="txtstdKg_@sl" value="@item.PerKgStdQty" />

                </td>
                <td>
                    <input type="number" min=0 class="form-control" id="txtStockQty_@sl" value="" readonly />
                </td>
                <td>
                    <input type="number" min=0 class="form-control" id="txtStockKg_@sl" value="" readonly />
                </td>
                <td>
                    <input type="number" min=0 class="form-control" id="txtDressQty_@sl" value="@item.ProductQty" readonly />
                </td>
                <td>
                    <input type="number" min=0 class="form-control" id="txtDressKg_@sl" value="@item.ProductQtyInKG" readonly />
                </td>
                <td>
                    <input type="text" class="form-control" id="txtRemarks_@sl" value="@item.Remarks" readonly />
                </td>
                <td>
                    <input type="number" class="form-control" min=0 oninput="validity.valid || (value = ''); ValidateQty(@sl)" id="txtIssueQty_@sl" value="@item.ProductQty" disabled/>
                </td>
                <td>
                    <input type="number" class="form-control" min=0 oninput="ValidateKg(@sl);" id="txtIssueKg_@sl" value="@item.ProductQtyInKG" />
                </td>
                <td>
                    <input type="text" class="form-control" id="txtIssueRemarks_@sl" />
                </td>
            </tr>
            sl++;
        }
    </tbody>
</table>
<script type="text/javascript">

    ValidateQty = (id) => {


        var qty = isNaN(parseFloat($('#txtDressQty_' + id).val())) ? 0 : parseFloat($('#txtDressQty_' + id).val());
        var issue = isNaN(parseFloat($('#txtIssueQty_' + id).val())) ? 0 : parseFloat($('#txtIssueQty_' + id).val());
        var stk = isNaN(parseFloat($('#txtStockQty_' + id).val())) ? 0 : parseFloat($('#txtStockQty_' + id).val());
        if(stk>qty){
            if (issue > qty) {
                $('#txtIssueQty_' + id).val(qty);
            }
        }
        else if (stk < qty) {
            $('#txtIssueQty_' + id).val(stk);
        }
    }

    ValidateKg = (id) => {

        debugger;
        var stkkg = isNaN(parseFloat($('#txtStockKg_' + id).val())) ? 0 : parseFloat($('#txtStockKg_' + id).val());
        var kg = isNaN(parseFloat($('#txtDressKg_' + id).val())) ? 0 : parseFloat($('#txtDressKg_' + id).val());
        var issue = isNaN(parseFloat($('#txtIssueKg_' + id).val())) ? 0 : parseFloat($('#txtIssueKg_' + id).val());
        var standard = isNaN(parseFloat($('#txtstdKg_' + id).val())) ? 0 : parseFloat($('#txtstdKg_' + id).val());
        if(stkkg>kg){
            if (issue > kg) {
                $('#txtIssueKg_' + id).val(kg);
                $('#txtIssueQty_' + id).val(Math.round((kg *standard)));

            } else {
                $('#txtIssueQty_' + id).val(Math.round((issue * standard)));
            }
        }
        else if (stkkg < kg) {
            $('#txtIssueKg_' + id).val(stkkg);

            $('#txtIssueQty_' + id).val(Math.round((stkkg *standard)));
        } 
    }
</script>
