﻿@{
    ViewBag.Title = "StockInApprove";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Prtion Stock In Approve</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        <div class="col-md-2">
                            <div class="card-body">
                                <input type="checkbox" class="form-check-input" id="chkIsOpening" style="margin-left: 3px;" onclick="CheckUp()" />
                                <label class="form-check-label" for="chkIsOpening" style="margin-left: 24px;">Direct Stock In</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divCompany">
                                    <label for="ddlCompany">Company</label>
                                    <select class="form-control select2" style="width: 100%;" id="ddlCompany" disabled></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="margin-left:17%">
                        <div class="row">

                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divLocation">
                                        <label for="ddlLocation">From Location</label>
                                        <select class="form-control select2" id="ddlLocation" disabled></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divToLocation">
                                        <label for="ddlToLocation">To Location</label>
                                        @*<input type="text" class="form-control" id="txtLocation" disabled="disabled" />*@
                                        <select class="form-control select2" id="ddlToLocation" disabled></select>
                                    </div>
                                </div>
                            </div>



                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divWareHouse">
                                        <label for="ddlWareHouse">Process Plant</label>
                                        <select class="form-control select2" id="ddlWareHouse" disabled></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divToWareHouse">
                                        <label for="ddlToWareHouse">Stock House</label>

                                        <select class="form-control select2" id="ddlToWareHouse"></select>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="row">

                            @*<div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divIssue">
                                        <label for="ddlIssue">Issue No</label>
                                        <select class="form-control select2" style="width: 100%;" id="ddlIssue"></select>
                                    </div>
                                </div>
                            </div>*@
                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divStockInDate">
                                        <label for="txtStockInDate">Approve Date</label>
                                        <input type="text" class="form-control datepicker" id="txtStockInDate" value="@System.DateTime.Now.ToString("dd-MMM-yyyy")" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divStockInBy">
                                        <label for="empAutoCom">Approve By</label>
                                        <input type="text" class="form-control" id="empAutoCom" />
                                        <input type="number" class="form-control" id="employeeSelect" style="display:none;" />
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">

                           
                            <div class="col-md-3">
                                <div class="card-body">
                                    <div class="form-group" id="divComments">
                                        <label for="txtComments">Comment</label>
                                        <textarea id="txtComments" class="form-control" cols="12" and rows="3"></textarea>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="row">
                        <div id="issueDetails" class="table-responsive">

                        </div>
                        @*<div class="card-body table-responsive">
                            <div class="col-md-12">
                                <label>By Product Stock In Description</label>

                                <table id="myTable_o" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;">#SL</th>
                                            <th style="text-align:center;">Product Name</th>
                                            
                                            <th style="text-align:center;">Stock In Qty </th>
                                            <th class="chide" style="text-align:center;">Approve In Qty </th>
                                            <th style="text-align:center;">Unit Price</th>
                                            <th style="text-align:center;">Expire Date</th>
                                            <th style="text-align:center;">Remarks</th>
                                            <th class="phide"></th>
                                        </tr>
                                    </thead>
                                    <tbody id="myTableb_o"></tbody>
                                </table>
                            </div>
                        </div>*@
                    </div>
                    <div>
                        
                        <div class="card-footer">
                            <button class="btn btn-primary" onclick="SaveFinal()">Approve</button>
                            <button class="btn btn-outline-danger  float-right" onclick="GoTo()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
    <input id="txtStockInId" type="number" style="display:none;" value="@ViewBag.stockinid">
</section>
@section Scripts{
    <script>
        var AllItemList = {};
        $(function () {
            var id = $('#txtStockInId').val();
            LoadCompany('ddlCompany');
            //$("#ddlCompany").val(7);
            //LoadLocation('ddlLocation', $("#ddlCompany").val());
            //LoadLocation('ddlToLocation', $("#ddlCompany").val());


            //$("#ddlLocation").val(4).trigger('change');
            //$("#ddlToLocation").val(4).trigger('change');


            //LoadWareHouse('ddlWareHouse', 4, 5);
            //$('#ddlWareHouse').val('16').trigger('change');
            //LoadIssue('ddlIssue', $("#ddlWareHouse").val());



            //LoadWareHouse('ddlToWareHouse', 4, 3);
            //$('#ddlToWareHouse').val('10').trigger('change');




            EmpAutoCom('empAutoCom','employeeSelect');
            $('#ddlIssue').change(function ()
            {
                var reqId = $(this).val();
               // LoadRequisitionDetaillList(reqId);
            });
            $('#ddlCompany').change(function ()
            {
                var reqId = $(this).val();
                LoadLocation('ddlLocation', reqId);
                LoadLocation('ddlToLocation', reqId);
            });
            $('#ddlLocation').change(function ()
            {
                var locid = $(this).val();
                var wareHouseTypeid = 3;
                LoadWareHouse('ddlWareHouse', locid, wareHouseTypeid);
            });
            $('#ddlToLocation').change(function () {
                var locid = $(this).val();
                var wareHouseTypeid = 3;
                LoadWareHouse('ddlToWareHouse', locid, wareHouseTypeid);
            });
            //CheckUp();
            LoadAllProduct();

            if (id > 0) {
                GetOrderMaster(id);
                $("#chkIsOpening").prop("disabled", true);
            }
            else {
                $("#chkIsOpening").prop("checked", true);
                $("#ddlLocation").prop('disabled', true);
                $("#ddlWareHouse").prop('disabled', true);
                $("#ddlToLocation").prop('disabled', false);
                $("#ddlToWareHouse").prop('disabled', false);
                $("#chkIsOpening").prop("disabled", true);
                AddRow();
                $(".chide").hide();
                $(".phide").show();

            }



        });

        function GetOrderMaster(id) {

            var urlpath = '@Url.Action("LoadLogMasterByID", "IssuePortion")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { id: id },
                async: false,
                success: function (data) {
                    
                    LoadCompany('ddlCompany');
                    $("#ddlCompany").val(data.CompanyID).trigger('change');
                    LoadLocation('ddlLocation', $("#ddlCompany").val());
                    $("#ddlLocation").val(data.LocationId).trigger('change');
                    LoadLocation('ddlToLocation', $("#ddlCompany").val());
                    $("#ddlToLocation").val(data.LocationId).trigger('change');

                    LoadWareHouse('ddlWareHouse', 4, 2);
                    $('#ddlWareHouse').val(data.ToWarehouseId).trigger('change');
                    
                    LoadWareHouse('ddlToWareHouse', 4, 3);
                    $('#ddlToWareHouse').val(data.WareHouseId).trigger('change');
                    IssueLogDetails(id);
                    //AddRow_app(id);
                    //$(".chide").show();
                    //$(".phide").hide();

                }
            });
        }
        function AddRow() {

            var tr = $('#myTable_o tbody tr').length + 1;
            var ddlName = 'ProductName_' + tr;
            var urlpath = '@Url.Action("GetAddRow", "FurtherProcessed")';
            $.ajax({
                url: urlpath,
                dataType: 'HTML',
                type: "Get",
                data: { tr: tr },
                async: true,
                success: function (data) {
                    //$('#myTable_o tbody').html("");
                    $('#myTable_o tbody').append(data);
                    LoadProduct(ddlName);
                    LoadDate('#expDate_' + tr);
                }
            });
        }
        function GoTo()
        {

            window.location = "@Url.Action("FurtherStockInList", "FurtherProcessed")";

        }

        function Total(logid) {

            var appKg = isNaN(parseFloat($('#ApproveInKG_' + logid).val())) ? 0 : parseFloat($('#ApproveInKG_' + logid).val());




            var happKg = isNaN(parseFloat($('#hStockInKG_' + logid).val())) ? 0 : parseFloat($('#hStockInKG_' + logid).val());
            if (appKg > happKg) {
                swal("Approved qty is not greater than stock qty");
                $('#ApproveInKG_' + logid).val(happKg);
                return;
            }

        }

        function LoadIssue(elementId, WarehouseId) {

            var urlpath = '@Url.Action("LoadIssue", "FurtherProcessed")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { WarehouseId: WarehouseId },
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Issue--</option>");
                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].DBIssueMasterID).html(data[i].IssueNo));
                    }

                }
            });
        }
        function CheckUp()
        {
            if ($("#chkIsOpening").prop("checked") == true) {
                $("#ddlIssue").prop('disabled', true);
                $("#ddlLocation").prop('disabled', true);
                $("#ddlWareHouse").prop('disabled', true);
                $("#ddlCompany").prop('disabled', true);
            }
            else {
                $("#ddlLocation").prop('disabled', false);
                $("#ddlWareHouse").prop('disabled', false);
                $("#ddlCompany").prop('disabled', false);
                $("#ddlIssue").prop('disabled', false);

                //LoadRequisitionDetailList();
            }
        }

        function AddRow_app(id) {

            //var tr = $('#myTable_o tbody tr').length + 1;
            //var ddlName = 'ProductName_' + tr;
            var urlpath = '@Url.Action("GetAddRow_app", "FurtherProcessed")';
            $.ajax({
                url: urlpath,
                dataType: 'HTML',
                type: "Get",
                data: { id: id },
                async: true,
                success: function (data) {

                    $('#myTable_o tbody').append(data);

                    $('#myTable_o tr#tr_main').each(function () {

                        var dbi = isNaN(parseInt($(this).find(".rd").val()), 0) ? 0 : parseInt($(this).find(".rd").val());

                        var pd = isNaN(parseInt($(this).find(".pd").val()), 0) ? 0 : parseInt($(this).find(".pd").val());
                        var ProductName = 'ProductName_' + dbi;
                        LoadProduct(ProductName);
                        $('#' + ProductName + '').val(pd);
                        LoadDate('#expDate_' + dbi);
                    });


                }
            });
        }
        function RemoveRow(trId) {
            if (($('#myTable_o tbody tr').length) > 1) {
                $('#tr_' + trId + '').remove();
            }

        }

        function LoadAllProduct() {

            var urlpath = '@Url.Action("GetProductsForFurtherProcessed", "FurtherProcessed")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: {},
                async: false,
                success: function (data) {
                    AllItemList = data;

                }
            });
        }
        function LoadProduct(elementId) {

            var array = [];
            var rowCount = $('#myTable_o tbody tr').length;
            for (let count = 1; count < rowCount; count++) {
                array.push(parseInt($("#ProductName_" + count).val()));
            };
            $('#' + elementId + '').append("<option value='0'>--Select Product--</option>");

            for (var i = 0; i < AllItemList.length; i++) {
                var a = AllItemList[i].ProductId;
                if (jQuery.inArray(AllItemList[i].ProductId, array) == -1) {

                    $('#' + elementId + '').append($("<option></option>").val(AllItemList[i].ProductId).html(AllItemList[i].ProductName));
                }

            }

        }

        function LoadSalablePrice(itemid) {

            var productid = $('#ProductName_'+ itemid).val();
            var urlpath = '@Url.Action("LoadSalablePriceByID", "FurtherProcessed")';
            $.ajax({
                url: urlpath,
                dataType: 'HTML',
                type: "Get",
                data: { productid: productid },
                async: true,
                success: function (data) {


                    $('#UnitPrice_' + itemid).val(data);

                }
            });
        }
        function LoadRequisitionDetailList() {
                      var urlpath = '@Url.Action("GetProductsForFurtherProcessed", "FurtherProcessed")';
                        $.ajax({
                            url: urlpath,
                            dataType: 'html',
                            type: "Get",
                            async: false,
                            success: function (data)
                            {
                                $("#productList").html(data);
                            }
                        });
        }
        function SaveValidation() {
            var isValid = true;
            var message = 'Some Values Required';

            var checkp = $("#chkIsOpening").prop("checked");

          

            if ($('#ddlCompany').val() == 0 || $('#ddlCompany').val() == '') {
                ValidationColorChangeNew('ddlCompany', 'divCompany', 'Select Company', true);
                isValid = false;
            }

            if (checkp == false) {
                if ($('#ddlLocation').val() == 0 || $('#ddlLocation').val() == '') {
                    ValidationColorChangeNew('ddlLocation', 'divLocation', 'Select Location', true);
                    isValid = false;
                }

                if ($('#ddlWareHouse').val() == 0 || $('#ddlWareHouse').val() == '') {
                    ValidationColorChangeNew('ddlWareHouse', 'divWareHouse', 'Select Waerhouse', true);
                    isValid = false;
                }
            }

            if ($('#ddlToLocation').val() == 0 || $('#ddlToLocation').val() == '') {
                ValidationColorChangeNew('ddlToLocation', 'divToLocation', 'Select To Location', true);
                isValid = false;
            }
            if ($('#ddlToWareHouse').val() == 0 || $('#ddlToWareHouse').val() == '') {
                ValidationColorChangeNew('ddlToWareHouse', 'divToWareHouse', 'Select To Warehouse', true);
                isValid = false;
            }




            if ($('#txtStockInDate').val() == null || $('#txtStockInDate').val() == '') {
                ValidationColorChangeNew('txtStockInDate', 'divStockInDate', 'Stock In Date Required', true);
                isValid = false;
            }



            if ($('#empAutoCom').val() == null || $('#empAutoCom').val() == '') {
                ValidationColorChangeNew('empAutoCom', 'divStockInBy', 'Stock In By Required', true);
                isValid = false;
            }

           
           

                $('#issueTable tbody tr').each(function () {
                    

                    var ids = $(this).attr('id');
                    var id = ids.substring(3);
                   
                    var appqty = isNaN(parseFloat($('#appQty_' + id).val())) ? 0 : parseFloat($('#appQty_' + id).val());
                    var appKg =  isNaN(parseFloat($('#appKg_' + id).val())) ? 0 : parseFloat($('#appKg_' + id).val());
                    var expDate = $('#exDate_' + id).val();
                   if (appqty == 0) {
                       isValid = false;
                       $('#appQty_' + id).css('border-bottom', '2px solid red');
                   }
                   if (appKg == 0) {
                       isValid = false;
                       $('#appKg' + id).css('border-bottom', '2px solid red');
                   }
                   if (expDate == '') {
                       isValid = false;
                       $('#exDate_' + id).css('border-bottom', '2px solid red');
                   }
                   if (isValid == false) {
                       return;
                   }
                });
               
            


            if (isValid == false) {
                swal(message, "", "warning");
            }
            return isValid;

        }

        function SaveFinal()
        {
            if (SaveValidation()) {
                //SaveValidation()
                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false
                }, function ()
                {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveData();
                });
            }
        }
        function SaveData()
        {
            
            
            var masterId = parseInt($('#txtStockInId').val());
            var wareHouseId = parseInt($('#ddlToWareHouse').val());
            var locationId = parseInt($('#ddlToLocation').val());
            var CompanyId = parseInt($('#ddlCompany').val());
            var stockInDate = $('#txtStockInDate').val();
            var comments = $('#txtComments').val();
            var stockInBy = $('#empAutoCom').val();
            
            var jsonData = {};
            jsonData["PortionStockInMasterLogID"] = masterId;
            jsonData["WareHouseId"] = wareHouseId;
            jsonData["StockInDate"] = stockInDate;
            jsonData["Comments"] = comments;
            jsonData["StockInBy"] = stockInBy;
            jsonData["CompanyID"] = CompanyId;
            jsonData["LocationId"] = locationId;


            var jsonObj = [];
            $('#issueTable tbody tr').each(function () {
                

                var ids = $(this).attr('id');
                var id = ids.substring(3);
                var thejson = {};
                thejson["ApproveInQty"] = $('#appQty_' + id).val();
                thejson["ApproveInKG"] = $('#appKg_' + id).val();
                thejson["ExpireDate"] = $('#exDate_' + id).val();
                thejson["ProductID"] = $('#pro_' + id).val();
                thejson["PortionStockInDetailLogID"] = id;
               
                jsonObj.push(thejson);

            });
            
         

            jsonData["ADetails"] = jsonObj;
            var urlpath = '@Url.Action("ApproveStockSave", "IssuePortion")';
            $.ajax({
                contentType: "application/json",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "POST",
                traditional: true,
                success: function(result) {
                    if (result.isSuccess == true) {

                        swal("Save Successfull");
                        window.location.href = '@Url.Action("IssueApproveList", "IssuePortion")';
                    }
                }
            });
        }



        function IssueLogDetails(id) {
            var urlpath = '@Url.Action("LoadLogDetailsById", "IssuePortion")';
            $.ajax({
                url: urlpath,
                dataType: 'html',
                data:{id:id},
                type: "Get",
                async: false,
                success: function (data) {
                    
                    $("#issueDetails").empty();
                    $("#issueDetails").html(data);
                }
            });
        }
    </script>
}
