﻿
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-3">
                                <h3 class="card-title"><span class="fa fa-eye"></span> New DB To Protion Issue Entry</h3>
                            </div>
                            <div class="col-md-4">
                                <a onclick="@("window.location.href='" + @Url.Action("PortionIssueList", "IssuePortion") + "'");"><h3 class="card-title"><span class="fa fa-list"></span> Issue List For Portion</h3></a>
                            </div>
                        </div>
                    </div>


                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divCompany">
                                    <label for="ddlCompany">Company</label>
                                    <select  class="form-control select2" style="width: 100%;" id="ddlCompany"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divLocation">
                                    <label for="ddlLocation">Location</label>
                                    <select class="form-control" id="ddlLocation" style="width: 100%;" onchange="LoadWareHouseIssue('ddlWareHouse')"></select>
                                </div>

                            </div>
                        </div>
                        @*<div class="col-md-4">
                            <div class="card-body">
                                <div class="form-group" id="divWareHouse">
                                    <label for="ddlWareHouse">WareHouse</label>
                                    <select class="form-control select2" id="ddlWareHouse" onchange="LoadReqNo('ddlReqNo');" style="width: 100%;"></select>
                                </div>
                            </div>
                        </div>*@

                    </div>


                    <div class="row">
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divWareHouse">
                                    <label for="ddlReqNo">Requisition No</label>
                                    <select class="form-control select2" id="ddlReqNo" style="width: 100%;" onchange="GetReqInfo(); GetReqDetails();"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divFromWareHouse">
                                    <label for="ddlFromWarehouse">From Warehouse</label>
                                    <label class="form-control" id="ddlFromWarehouse" style="width: 100%;"></label>
                                    <input id="txtWarehouseId" type="hidden" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divToWareHouse">
                                    <label for="ddlToWarehouse">To Warehouse</label>
                                    <label class="form-control" id="ddlToWarehouse" style="width: 100%;"></label>
                                    <input id="txtToWarehouseId" type="hidden" />
                                </div>
                            </div>
                        </div>
                       
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divexPurchaseDate">
                                    <label for="RequisitionDate ">Requisition Date</label>
                                    <input type="text" class="form-control" id="RequisitionDate" />
                                </div>
                            </div>
                        </div>
                       

                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divProductionDate">
                                    <label for="ProductionDate">Production Date</label>
                                    <input type="text" class="form-control datepicker" id="ProductionDate" />
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-3">
                            <div class="card-body">
                                <div class="form-group" id="divReceiveBy">
                                    <label for="empAutoCom">Issue By</label>
                                    <input type="text" class="form-control" id="empAutoCom"/>
                                    <input type="number" class="form-control" id="employeeSelect" hidden/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-body">

                                <div class="form-group" id="divRemarks">
                                    <label for="txtRemarks">Remarks</label>
                                    <input type="text" class="form-control" id="txtRemarks"/>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    <div class="row">
                        <div class="card-body table-responsive">
                            <div class="col-md-12" id="DBProtionDetailsId">
                                
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="card-body table-responsive">
                            <div class="col-md-12" id="DBProtionDetailsId2">
                               
                            </div>
                        </div>
                    </div>
                    <div>

                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button class="btn btn-primary pull pull-right" onclick="SaveFinal()">Submit</button>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
    <input id="txtCustomerId" type="number" style="display:none;" value="@ViewBag.customerid">
</section>


@section Scripts{
    <script>
        var AllItemList = {};
        $(function () {
            LoadCompany('ddlCompany');
            LoadLocation('ddlLocation');
            $("#ddlCompany").val(7).trigger('change');
            
            LoadDate('#exPurchaseDate');
            LoadDate('#RequisitionDate');
            EmpAutoCom('empAutoCom', 'employeeSelect');
            $("#ddlLocation").val(4);
            LoadReqNo('ddlReqNo');
            //$('#ddlCompany').attr("disabled", "disabled");
            //$('#ddlLocation').attr("disabled", "disabled");
            //$('#ddlWareHouse').attr("disabled", "disabled");
            //$('#RequisitionDate').attr("disabled", "disabled");
        });

        $('input[type=number]').each(function (e) {


                if (!((e.keyCode > 95 && e.keyCode < 106)
                    || (e.keyCode > 47 && e.keyCode < 58)
                    || e.keyCode == 8)) {
                    return false;
                }
            });

        function SaveFinal() {

            if (SaveValidation()) {
                     swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SavePortionIssue();

                });
            }
        }


        function SavePortionIssue() {
            
            var input = $('#empAutoCom').val();
            var fields = input.split(':');
            var empId = fields[0];
            var reqId = parseInt($('#ddlReqNo').val());
            var company = parseInt($('#ddlCompany').val());
            var location = parseInt($('#ddlLocation').val());
            var wareHouse = parseInt($('#txtWarehouseId').val());
            var toWarehouse = parseInt($('#txtToWarehouseId').val());
            var productionDate = $('#ProductionDate').val();
            var remarks = $('#txtRemarks').val();
            var jsonData = {};
            jsonData["DBToPortionReqID"] = reqId;
            jsonData["CompanyID"] = company;
            jsonData["LocationID"] = location;
            jsonData["WareHouseID"] = wareHouse;
            jsonData["ProductionDate"] = productionDate;
            jsonData["Comments"] = remarks;
            jsonData["IssueBy"] = empId;
            jsonData["ToWareHouseId"] = toWarehouse;
            var jsonList = [];
            
            var rowCount = $('#myTable tbody tr').length;

            for (var i = 0; i < rowCount; i++) {

                var item = parseInt($("#txtDressBirdId_" + [i + 1] + "").val());
                var reqDetailId = parseInt($("#txtReqDetailsId_" + [i + 1] + "").val());
               
                var qty = parseFloat($("#txtIssueQty_" + [i + 1] + "").val());
                var itemKg = parseFloat($("#txtIssueKg_" + [i + 1] + "").val());
                var unitPrice = parseFloat($("#txtUnitPrice_" + [i + 1] + "").val());
                var issueremarks = $("#txtIssueRemarks_" + [i + 1] + "").val();
                var jsonobj = {};
                jsonobj["ProductID"] = item;
                
                jsonobj["DBToPortionRequisitionDetailID"] = reqDetailId;
                jsonobj["IssueQty"] = qty;
                jsonobj["IssueQtyInKG"] = itemKg;
                
                jsonobj["Remarks"] = issueremarks;
                jsonList.push(jsonobj);
            }

            jsonData['DbIssuePortionDetails'] = jsonList;

            var urlpath = '@Url.Action("SaveIssueProduct", "IssuePortion")';

            $.ajax({

                contentType: "application/json",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath,
                type: "POST"
            })
                .success(function (result) {

                    if (result.isSuccess==true)
                    {

                        swal("SucessFull");
                        window.location.href = '@Url.Action("Index", "IssuePortion")';

                    }
                });
        }




        function SaveValidation() {
            var isValid = true;

            if ($('#ddlCompany').val() == 0 || $('#ddlCompany').val() == '') {
                ValidationColorChangeNew('ddlCompany', 'divCompany', 'Select Company', true);
                isValid = false;
            }

            if ($('#empAutoCom').val() == 0 || $('#empAutoCom').val() == '') {
                ValidationColorChangeNew('empAutoCom', 'divReceiveBy', 'Issue By Required', false);
                isValid = false;
            }
            if ($('#ddlLocation').val() == 0 || $('#ddlLocation').val() == '') {
                ValidationColorChangeNew('ddlLocation', 'divLocation', 'Select Location', true);
                isValid = false;
            }


            if ($('#ddlWareHouse').val() == 0 || $('#ddlWareHouse').val() == '') {
                ValidationColorChangeNew('ddlWareHouse', 'divWareHouse', 'Select Warehouse', true);
                isValid = false;
            }

            if ($('#ProductionDate').val() == null || $('#ProductionDate').val() == '') {
                ValidationColorChangeNew('ProductionDate', 'divProductionDate', 'Date Required', true);
                isValid = false;
            }
            var rowCount = $('#myTable tbody tr').length;

            for (var i = 0; i < rowCount; i++) {

                var item = i + 1;

                if ($("#txtIssueQty_" + item).val() == 0 || $("#txtIssueQty_" + item).val() == '') {
                    ValidationColorChange('txtIssueQty_', "tr" + [i] + "Input the Quantity", false);
                    isValid = false;
                }
                if ($("#txtIssueKg_" + item).val() == 0 || $("#txtIssueKg_" + item).val() == '') {
                    ValidationColorChange('txtIssueKg_', "tr" + [i] + "Input the Kg", false);
                    isValid = false;
                }
                
            }

            if (isValid == false) {
                ShowMessage("Some Values Required");
            }
            return isValid;

        }

        
        function LoadReqNo(elementId) {


            var urlpath = '@Url.Action("GetAllProtionReqList", "IssuePortion")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: {},
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Requisition--</option>");

                    for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].DBToPortionReqID).html(data[i].RequisitionNo));
                    }
                }
            });
        }

        function LoadWareHouseIssue(elementId) {

            var location = $('#ddlLocation').val();
            var urlpath = '@Url.Action("LoadWareHouse", "ItemRequisition")';
            $.ajax({
                url:urlpath,
                type: "Get",
                data: { location: parseInt(location), warehouseTypeId :2},
                async: false,
                success: function (data) {

                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Warehouse--</option>");
                     for (var i = 0; i < data.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(data[i].WareHouseId).html(data[i].WareHouseName));
                    }

                }
            });
        }
        function GetReqInfo() {
            var id = parseInt($('#ddlReqNo').val());

            var urlpath = '@Url.Action("GetDbPortionReqInfoById", "IssuePortion")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { dbToPortionReqId: id },
                async: false,
                success: function (data) {

                    //$('#ddlCompany').val(data.CompanyID).trigger('change');
                    //$('#ddlLocation').val(data.LocationID).trigger('change');
                    //$('#ddlWareHouse').val(data.WareHouseID).trigger('change');
                    //alert(data.RequisitionDate);
                    $('#RequisitionDate').val(data.RequisitionDate);
                    $('#ddlFromWarehouse').html(data.FromWarehouseName);
                    $('#ddlToWarehouse').html(data.ToWarehouseName);
                    $('#txtToWarehouseId').val(data.ToWarehouseId);
                    $('#txtWarehouseId').val(data.WareHouseID);
                    $('#ProductionDate').val(data.ProductionDate);
                    //$('#ddlCompany').attr("disabled", "disabled");
                    //$('#ddlLocation').attr("disabled", "disabled");
                    //$('#ddlWareHouse').attr("disabled", "disabled");
                    $('#RequisitionDate').attr("disabled", "disabled");
                    $('#ProductionDate').attr("disabled", "disabled");
                }
            });
        }

        function GetReqDetails() {
            var id = parseInt($('#ddlReqNo').val());
            var urlpath = '@Url.Action("GetDbPortionReqDetailsById", "IssuePortion")';
            $.ajax({
                url: urlpath,

                dataType: 'html',
                type: "Get",
                data: { dbToPortionReqId: id },
                async: true,
                success: function (data) {
                    $('#DBProtionDetailsId').empty();
                    $('#DBProtionDetailsId').append(data);
                    debugger;
                    ProductStock();
                }
            });
           
        }

        function ProductStock() {



            $('#myTable tbody tr').each(function () {

                debugger;
                var idr = $(this).attr('id');
                var id = idr.substring(3);

                var productId = isNaN(parseFloat($('#txtDressBirdId_' + id).val())) ? 0 : parseFloat($('#txtDressBirdId_' + id).val());
                var groupId = isNaN(parseInt($('#txtGroupId_' + id).val())) ? 0 : parseInt($('#txtGroupId_' + id).val());

                GetProductDetails(productId, groupId,id);


            });


        }


        function GetProductDetails(prodId,gId,id) {


            var productId = prodId;
            var groupId = gId;
            var wareHouseId = $('#txtWarehouseId').val();
            var productionDate = $('#ProductionDate').val();

            var urlpath = '@Url.Action("GetProductStock", "IssuePortion")';
            $.ajax({
                url: urlpath,
                type: "Get",
                dataType: 'json',
                data: { productId: productId, wareHouseId: wareHouseId, groupId: groupId, stockDate: productionDate },
                async: false,
                success: function (data) {
                    var validQty = data.IssueQty < 0 ? Math.round(parseFloat(data.IssueQtyInKG) * parseFloat($("#txtstdKg_" + id).val())) : Math.round(data.IssueQty);
                    $("#txtStockQty_" + id).val(validQty);
                    $("#txtStockKg_" + id).val(data.IssueQtyInKG);

                }
            });
        }
        
    </script>
}
