﻿
@{
    ViewBag.Title = "IssueApproveList";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-header">
                        <Div class="row">
                            <div class="col-md-4">

                                <h3 class="card-title">
                                    <span class="fa fa-list"></span>Portion Stockin List For Approve
                                </h3>

                            </div>
                        </Div>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body">
                                @*<div class="row">*@

                                <div class="col-md-3">
                                    <div class="form-group" id="divFromDate">
                                        <label for="txtFromDate">Stock In Date</label>
                                        <input type="text" id="txtFromDate" class="form-control"/>
                                    </div>
                                </div>

                                @*</div>*@

                                <div class="card-footer">
                                    <button class="btn btn-primary" onclick="ShowReport()">Show Data</button> &nbsp;<a href="@Url.Action("AddPortionStockIn" , "PortionStockIn")" class="btn btn-primary" >Direct Stock In</a>

                                </div>


                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="salesOrderList">

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>





                        @*</div>*@


                        <div>
                            <!-- /.card-body -->
                            @*<div class="card-footer">
                                    <button class="btn btn-primary" onclick="ShoeReport()">View Report</button>

                                </div>*@
                        </div>







                    </div>

                </div>

            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
</section>

@section Scripts{
    <script>

        $(function () {

            LoadDate_C('#txtFromDate');
            ShowReport();
        });
        function Invoice()
        {
            

            window.location = "@Url.Action("ApproveStockIn", "FurtherProcessed")";
            //+"?id=" + 0
        }
        function ShowReport() {
            var fromdate;
            var todate;
            var customerid = '0';
            var salespersonid = '0';
            if ($('#txtFromDate').val() == "")
            {
                fromdate = '';
            }
            else
            {
                fromdate = $('#txtFromDate').val();
            }


                   var urlpath = '@Url.Action("GetApproveList", "IssuePortion")';
                   $.ajax({
                       url: urlpath,
                       dataType: 'html',
                       type: "Get",
                       data: { fromdate: fromdate},
                       async: false,
                       success: function (data) {
                           $("#salesOrderList").html(data);
                       }
                   });
               }


    </script>



}
