﻿
@model IEnumerable<IGFoodProject.Models.DBIssuePortionMaster>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-3">
                                <h3 class="card-title"><span class="fa fa-eye"></span> Portion Issue List Page </h3>
                            </div>
                            <div class="col-md-4">
                                <a onclick="@("window.location.href='" + @Url.Action("Index", "IssuePortion") + "'");"><h3 class="card-title"><span class="fa fa-plus"></span> New Issue For Portion</h3></a>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->

                    <div class="card-body">
                        <table class="table dataTable table-bordered table-striped table-hover">
                            <thead>
                                <tr style="background-color: aliceblue">
                                    <th>SL</th>
                                    <th>Issue No</th>
                                    <th>Requisition No</th>
                                    <th>Company Name</th>
                                    <th>Location Name</th>
                                    <th>Warehouse Name</th>
                                    <th>Issue Date</th>
                                    <th>Production Date</th>
                                    <th>Remarks</th>
                                    <th>Issue By</th>
                                </tr>
                            </thead>
                            <tbody class="Traylist">
                                @{
                                    int i = 1;
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td style='text-align: center'>
                                                @i
                                            </td>
                                            <td>@item.IssueNo</td>
                                            <td>@item.RequisitionNo</td>
                                            <td>@item.CompanyName</td>
                                            <td>@item.LocationName</td>
                                            <td>@item.WareHouseName </td>
                                            <td>@Convert.ToDateTime(item.IssueDate).ToString("dd MMM yyyy") </td>
                                            <td>@Convert.ToDateTime(item.ProductionDate).ToString("dd MMM yyyy") </td>
                                            <td>@item.Comments </td>
                                            <td>@item.IssueBy </td>

                                        </tr>
                                        ++i;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

